[2016-11-22 22:35] cben commented on #10540
Oooh, great find!
Who reads the small print, especially on empty lists ;-?  :medal_sports:
Also happens in Policies accordion.

[2016-11-22 23:16] ammendonca opened #12804 "No flash notification after "Add Datasource" operation"
After performing an "Add Datasource" operation on a Middleware server, there's no visual indication of the success/failure of the delivery of the operation to the MW Server, the modal is closed and nothing else happens.

Additionally, when re-opening the modal, it is still filled with previous values and on the last step.

@miq-bot add_label providers/hawkular, ui, bug

[2016-11-22 23:18] ammendonca commented on #12804
@miq-bot assign @ammendonca

[2016-11-23 01:02] rubenvp8510 opened #12805 "Operation buttons on middleware_deployment controller disappeared."
This also applies to the other middleware controllers

![screenshot from 2016-11-22 18-59-14](https://cloud.githubusercontent.com/assets/3799716/20548093/319a5820-b0e6-11e6-92f7-a01f5a855132.png)
![screenshot from 2016-11-22 18-58-49](https://cloud.githubusercontent.com/assets/3799716/20548092/31960914-b0e6-11e6-926e-2e4e62a726ec.png)

[2016-11-23 01:03] rubenvp8510 commented on #12805
@miq-bot add_label providers/hawkular, ui, bug

[2016-11-23 13:17] vecerek opened #12810 "Error pxe_server_center toolbar disappearing in certain cases"
The toolbar defined in `pxe_servers_center.rb` disappears sometimes. It is caused by the `@layout` being set to `explorer` instead of `pxe`. I'm currently  refactoring the PXE toolbar buttons in #12809. However, my changes do not affect this behavior.

Steps to reproduce the bug:

1. Compute -> Infrastructure -> PXE -> Customization Templates -> RHEL-6 -> Click on a Customization Template
2. Click

[2016-11-23 13:19] vecerek commented on #12810
@miq-bot add_label bug

[2016-11-23 16:16] moolitayer opened #12817 "settings.local.yml is ignored"
[code]

[2016-11-23 16:17] moolitayer commented on #12817
@miq-bot assign @Fryguy

[2016-11-23 16:56] Fryguy commented on #12781
I am leaning towards using the more_core_extensions regex, and if it needs to change, we change it there.  As far as the curlies go, they are valid characters and should be allowed (though strangely I can't get them to work on any online validator 😆 ).  The spec in user_spec.rb is wrong.  It was added in commit 2f25ab387ca9d6b49fae05acef8d5f188f3edd28 - "Added new User model spec ", so it was just

[2016-11-23 17:17] jrafanie opened #12819 "Research jemalloc for appliances"
tl;dr Seems to save around 10% PSS

[code]

In `/etc/default/evm`, change:
`export PATH=$PATH:/opt/rubies/ruby-2.3.1/bin`
To:
`export PATH=$PATH:/opt/rubies/ruby-2.3.2/bin`

**Very rough memory comparison for some of the workers.**

**Before, using malloc**
[code]

**After, using jemalloc**
[code]

https://bugs.ruby-lang.org/issues/9113
2.2.0 was first release with this added option to configure w

[2016-11-23 18:48] #12817 closed

[2016-11-24 09:14] durandom opened #12828 "orphaned NetworkManager breaks C&U and other things"
It can happen somehow to have a azure network_manager without its parent manager. This breaks at least the C&U screen in the settings.
The root cause is that some associations like `hosts` are delegated to parent_manager and not setup as a proper relation.
This could also break for network_managers without a parent_manager like nuage

see this https://bugzilla.redhat.com/show_bug.cgi?id=1393675

@

[2016-11-24 12:59] ZitaNemeckova opened #12835 "Edit/Delete not working for some Cloud objects"
Steps to reproduce:

- Delete: Go to controller of the object. Select one or more. Configuration => Delete selected <object>
- Edit: Go controller of the object. Select one. Configuration => Edit selected <object>. Change anything. Click Save button.

- [ ] Cloud Volume changes cannot be edited => `Error caught: [MiqException::MiqVolumeUpdateError] undefined method 'attributes' for nil:NilClass
/U

[2016-11-24 13:01] ZitaNemeckova commented on #12835
@tzumainn @aufi @Ladas Any input would be appreciated :)

[2016-11-24 13:04] #11189 closed

[2016-11-24 13:44] himdel opened #12840 "selectpicker-for-select-tag not initializing the selectpicker"
Reported by @petrblaho, present in darga, euwe and master...

Go to /cloud_volumes/attach/(id) (Storage > Volumes .. Attach in toolbar). (That's not the only place, seems like most would be affected, except for places where there is already a value in the select.)

The instance select is a `<select>`, not a selectpicker .. until you pick an option, then it initializes correctly.

@AparnaKarve feel

[2016-11-24 13:47] petrblaho commented on #12840
Reported by @rrasouli to me :-)

[2016-11-24 14:36] aufi commented on #12835
Volume related errors look to be interesting - first one uses controllers in Cloud provider, second one uses code in Storage provider. I am not sure if it is correct (I guess a link to Volumes was forgotten in Cloud provider), but Storage provider was recently extracted by @roliveri team so better ask there what is the expected behaviour.

[2016-11-24 14:50] aufi commented on #12835
Router delete BZ https://bugzilla.redhat.com/show_bug.cgi?id=1397454

[2016-11-24 17:02] himdel opened #12847 "Log JS errors back to the server (at least for QE)"
It would be helpful during automated tests (and possibly in other cases as well) to have an ability to log any JS messages & errors back to the server log.

I'm thinking we can add a /whatever/log endpoint that just logs whatever it gets .. and update the dev-mode JS error notification code to also log to that place (except for errors caused by trying to log to that place..).. Under a flag that th

[2016-11-24 17:29] himdel commented on #4150
@dclarizio I'm guessing we can close this now, right :)

[2016-11-24 17:29] #4150 closed

[2016-11-24 17:33] himdel commented on #4176
Closing - a current list of TreeBuilders to be done can be found in https://www.pivotaltracker.com/n/projects/1613907/epics/2644711/expand

[2016-11-24 17:33] #4176 closed

[2016-11-25 08:47] Ladas commented on #12412
Few notes for Skeletal TODO:

Note 1) Right now, blacklist and whitelist will never remove mandatory attributes, so attributes that are used for unique key and that has presence validation will always be there,

Note 2) A relation can be part of the unique key (hardware, disk, etc.). But you should be able to automatically catch, that second part contains a relation and you should be able to autom

[2016-11-25 11:56] #10540 closed

[2016-11-25 14:54] aufi opened #12860 "Document that Openstack provider user must have admin role"
We need document, that user which is used in Openstack provider setup must have an admin role for his domain. Otherwise it causes various issues including failed refresh.

Multiple Openstack domains are supported since https://github.com/ManageIQ/manageiq/pull/9222 was merged.

[2016-11-25 14:54] aufi commented on #12860
@miq-bot add_label documentation

[2016-11-27 14:09] ZitaNemeckova opened #12868 "Convert @cat_tree to use TreeBuilder"
Convert `@cat_tree` to use TreeBuilder.

Location:
controller/miq_policy_controller/miq_actions.rb
action_build_cat_tree
app/views/miq_policy/_action_options.html.haml

@miq-bot add_label ui, technical debt

[2016-11-27 14:44] MilanPospisil commented on #12868
I'm working on it in  #12869

[2016-11-28 09:53] ZitaNemeckova commented on #12835
@gildub Any input on delete for Cloud Networks?

[2016-11-28 10:35] vecerek commented on #12810
@martinpovolny #12556 fixes this issue, checked in UI.

[2016-11-28 13:48] romanblanco commented on #12810
Another issue appears, when you cancel "Add a New PXE Server" action - the History button group is switched with Configuration group:

![screencast from 2016-11-28 14-46-57](https://cloud.githubusercontent.com/assets/1187051/20670569/b5526012-b579-11e6-964c-96d7e09de539.gif)

[2016-11-28 14:59] #11728 closed

[2016-11-28 15:27] vecerek commented on #12745
@romanblanco I was not able to reproduce your error. However, I've found another one:
[code]
`@option[:add_nodes]` is expected to be a hash, however, it is an Array

[2016-11-29 03:59] gildub commented on #12835
@ZitaNemeckova,

Not sure which branch is invoked here.

* For master:
  * Cloud Network
    * Create/update/delete works
  * Cloud Subnet:
    * Create/Delete works
    * Update has an issue which is addressed with https://github.com/ManageIQ/manageiq/pull/12045 (replaces backend with tasks queuing)
  * Network Router
    * Create/edit/delete works

[2016-11-29 09:13] gildub commented on #12835
@ZitaNemeckova,

* For euwe (5.7 -> Tested using commit #11037d88e32e681d8cb0311df5a24adc33584fdf)
  * Cloud Network
      * Create/edit/delete works
  * Cloud Subnet
      * Create/edit/delete works
  * Network Router
      * Create/edit/delete works

[2016-11-29 09:26] gildub commented on #12835
Above tests do not include cases where network items have dependencies, which might be the case for your.

[2016-11-29 14:49] #12840 closed

[2016-11-29 18:47] durandom opened #12902 "enhance Provider Operations API"
## What are provider operations?

Well, all operations you do on a provider's CI (configuration item). E.g. power / command operations like `Vm#stop` or CRUD operations like `CloudVolumeSnapshot.create`

## Current situation

Various clients / consumers of operations API. So, we don't _really_ know how we are called.

* Classic UI
* REST API
* Automate
* Models themselves?
* ...

### Implementatio

[2016-11-29 21:58] ZitaNemeckova commented on #12835
@gildub thanks a lot :)

[2016-11-29 22:06] gildub commented on #12835
@ZitaNemeckova,

No worries, please don't hesitate if you have any questions. Good luck with tests. ;)

[2016-11-30 10:59] mmojzis opened #12917 "After saving filter error appeared"
Hi,
when I try to save a filter anywhere unexpected error occured:
undefined method `[]' for nil:NilClass [ems_cloud/adv_search_button]
Version: master.20161130051751_20b1661
Filter is saved and it works after refresh.

[2016-11-30 13:52] hhovsepy opened #12923 "Middleware Provider - Summary Page, No Relationships section."
![screenshot from 2016-11-30 14 50 06](https://cloud.githubusercontent.com/assets/604313/20754672/507a5c8c-b70c-11e6-87c1-e560725b3657.png)

There is missing 'Relationships' section in Middleware Provider Summary page.

This is blocking QE to test upstream.

@abonas
@pilhuhn

[2016-11-30 14:44] ammendonca commented on #12923
@miq-bot add_label providers/hawkular, ui

[2016-11-30 15:18] romanblanco opened #12926 "Disappearing toolbar for Cloud Instances"
No error appears

![screencast from 2016-11-30 16-17-03](https://cloud.githubusercontent.com/assets/1187051/20757967/9a29a4b2-b718-11e6-94ac-8d2032beb3b0.gif)

[2016-11-30 23:02] rwsu opened #12935 "Unable to add new button group in Automate Customization"
The button, "Add a new Button Group" is missing. It is described in "Creating the Button Group" in the automation guide: https://pemcg.gitbooks.io/mastering-automation-in-cloudforms-and-manageiq/content/chapter5.html

![button-group-missing](https://cloud.githubusercontent.com/assets/974403/20775043/e62f709a-b70d-11e6-8cd0-99dee8359b85.png)

[2016-12-01 10:16] Jiri-Kremser commented on #12923
@moolitayer Is there any reason, why you removed these 4 lines?

https://github.com/ManageIQ/manageiq/commit/04e5ef60a55f59563483ab20508257a5bad76ca0#diff-f15c85639afefb56f1e2d8b16bbd5b9fL8

If it was by accident, could you fix this issue, pls?

[2016-12-01 10:41] #12074 closed

[2016-12-01 11:49] moolitayer commented on #12923
oh my :open_mouth: I removed those lines by mistake. Sorry for the trouble

[2016-12-01 16:51] JimJiangX opened #12943 "Some Method Not Defined In Verify RSA Key In OpenStack Director Provider"
![image](https://cloud.githubusercontent.com/assets/2215649/20803215/608055e6-b829-11e6-9829-6e22db7e3e0e.png)

[2016-12-01 18:57] #12923 closed

[2016-12-01 19:02] hayesr commented on #12624
This seems to be unrelated to session as the behavior will survive server restarts, memcached restarts, clearing browser session. However, after a database reset I get the same exception like @dclarizio rather than the login form.

[2016-12-01 19:03] hayesr commented on #12624
This does not seem to be a problem in the Euwe branch.

[2016-12-01 20:07] agrare commented on #12508
I have some code that does the inventory filtering for a new target type https://github.com/ManageIQ/manageiq/compare/master...agrare:vmware/infra/storage_targeted_refresh and save_inventory handles it pretty well so far.

One problem I can see us running into is that a `Storage` is not 1:1 with a `datastore` in provider inventory, so when targeting a storage we might need to detect all `ems_ref`s

[2016-12-01 21:35] agrare commented on #12508
Another issue, when processing an object in an event currently the ems_event code looks the object up by ems_ref + ems_id, for storage ems_ref isn't unique and it doesn't have an ems_id.

[2016-12-01 23:34] hayesr commented on #9214
I'm going back through quadicon related issues and this one looks like it can be closed, @martinpovolny .

[2016-12-02 10:20] pkliczewski commented on #12508
@agrare Great, I will base my work on your changes.

[2016-12-02 10:24] #12835 closed

[2016-12-02 10:50] durandom commented on #12828
fixed in https://github.com/ManageIQ/manageiq/pull/12878

[2016-12-02 10:50] #12828 closed

[2016-12-02 14:03] romanblanco commented on #12810
@vecerek #12556 is merged, so is #12882. Please, close the issue. Thanks 😊

[2016-12-02 14:22] #12810 closed

[2016-12-02 14:44] #9214 closed

[2016-12-02 21:05] #9444 closed

[2016-12-02 22:02] #12624 closed

[2016-12-04 13:51] vecerek commented on #12780
@simon3z ?

[2016-12-05 09:22] gaetanquentin opened #12976 "Tagging is very slow and cpu consuming Automate"
In manageiq (docker Version darga-4.1.20161129155418_ ) when applying business tags on esxi hosts, clusters and providers (vmware), manageiq take a very long time to do it:

    lots of logs:
    [----] I, [2016-12-01T11:38:48.815364 #640:2aadb07cb978] INFO -- : Following Relationship [miqaedb:/System/Event/MiqEvent/POLICY/assigned_company_tag_parent_host#create]
    [----] I, [2016-12-01T11:38:48

[2016-12-05 09:58] simon3z commented on #12780
@vecerek as I already said above the buttons (edit/add/delete) are not valid operations ...if they're not valid operations of course there is no case for them to be visible.

[2016-12-05 09:59] vecerek commented on #12780
@simon3z thank you

[2016-12-05 10:19] lpichler commented on #12740
@miq-bot assign @lpichler

[2016-12-05 10:43] radeknoone opened #12977 "MIQ (EUWE) error during Ovirt host refresh"
Hi all,

I have an Ovirt provider in MIQ, the 'Validation' for host works, but if I'm trying 'Refresh Relationships and Power States' I get an error in log:

`[----] E, [2016-12-03T16:36:46.835617 #3070:f89134] ERROR -- : MIQ(ManageIQ::Providers::Redhat::InfraManager::Refresher#refresh) EMS: [ovirt], id: [5] Unable to perform refresh for the following targets:
[----] E, [2016-12-03T16:36:46.835687

[2016-12-05 13:21] moolitayer commented on #12977
@masayag @pkliczewski PTAL

[2016-12-05 13:25] moolitayer commented on #12977
@miq-bot add_label 'providers/rhevm'

[2016-12-05 13:43] pkliczewski commented on #12977
@moolitayer We know about it and we tack this issue here [1]

[1] https://bugzilla.redhat.com/1393942

[2016-12-05 15:13] #12361 closed

[2016-12-05 15:57] #12740 closed

[2016-12-05 17:10] pkliczewski commented on #12508
@agrare I pulled your branch and I based my `refresher` changes on top of yours. I see not refresh which means that `src_storage` is not there. Do you know how to add it?

[2016-12-05 17:15] agrare commented on #12508
@pkliczewski that's the issue I noted [here](https://github.com/ManageIQ/manageiq/issues/12508#issuecomment-264302505)

You should be able to test your filtering code and the saving by running `EmsRefresh.refresh(Storage.find_by(:name => 'whatever'))` but kicking off a refresh from an event isn't working yet

[2016-12-05 17:24] blomquisg opened #12990 "Reorganize `host_` settings"
There are several [`host_` settings](https://github.com/ManageIQ/manageiq/blob/fc297ccac4914d4b32fe1722706cfa3f509fdf52/config/settings.yml#L924-L937) that might be provider specific.  Some of the settings are only currently used by OpenStack.

The `host_` settings need to be reorganized so that they're:

* Not top level settings (better nesting to reflect what the settings apply to)
* Indicate wh

[2016-12-05 18:38] blomquisg commented on #12990
/cc @Fryguy @tzumainn

[2016-12-05 21:10] #12780 closed

[2016-12-06 23:23] gildub commented on #12085
Thanks

[2016-12-06 23:27] gildub commented on #12085
@miq-bot assign @gildub

[2016-12-06 23:35] gildub commented on #12085
PR #11477  which provides queue task also fixes the button statements and `Fixnum` issue.

@martinpovolny, I believe it can be closed.

[2016-12-07 05:05] martinpovolny commented on #12085
Quickly glancing at #11477, I can see a bunch of problems (and feedback) that has not been satisfactory resolved. So this can be hardly closed. Someone has to go back to that PR and fix the issues one by one.

[2016-12-07 15:37] pkliczewski commented on #12508
@agrare Few updates

I wrote a spec to test the refresh as you suggested. There is one issue with refresh parser where we add vm and template hashes together [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/redhat/infra_manager/refresh_parser.rb#L13). Once this is fixed the storage domain is updated properly.

We need to think about the event when a storage is

[2016-12-07 23:12] gildub commented on #12085
@martinpovolny, you're right the following need to be addressed
* factorization (DRY) of the create methods for the app/models/manageiq/providers/openstack/network_manager.rb
* user parameter for #*_form_params
I believe the rest has been superseded meanwhile I might have missed something.

[2016-12-08 12:32] martinpovolny opened #13050 "Nested Routes"
Nested routes are a possible way so solve the problem that we have with button actions. A listing of items of type `A` would be handled by controller for entity `A` and not through `show_list` of entity `B`.

In controller for entity `C` that is using the `GenericShowMixin` we already have `display_methods` that give the list of entities that we display through `nested_list` and that is what we ne

[2016-12-08 13:32] #12804 closed

[2016-12-08 13:38] himdel commented on #13050
Adding the [rails docs on routing](http://guides.rubyonrails.org/routing.html) , we'll need nested routes, not nested resources..

[2016-12-08 14:42] jzigmund opened #13057 "Use Generic.*Mixins in controllers"
Starting issue for this issue is https://github.com/ManageIQ/manageiq/issues/11979
https://www.pivotaltracker.com/epic/show/3144799

**GenericSessionMixin**
Affected controller methods:
- def get_session_data
- def set_session_data

Goal: Code uses session handling methods (getter/setter of session object/controller's vars) from the mixin.

Controllers with the methods:
- [ ] app/controllers/mixin

[2016-12-08 15:29] #11738 closed

[2016-12-08 16:37] jzigmund commented on #13057
@miq-bot assign @hayesr @jzigmund

[2016-12-08 16:38] hayesr commented on #13057
@miq-bot assign @hayesr

[2016-12-08 18:43] #12805 closed

[2016-12-08 19:35] carbonin commented on #12596
ping @jvlcek @fbladilo is this a thing that we can do on the container?

[2016-12-08 19:38] carbonin commented on #12606
ping @fbladilo

[2016-12-08 19:39] carbonin commented on #12606
ping @bazulay

[2016-12-08 19:39] carbonin commented on #12596
@bazulay

[2016-12-08 19:42] carbonin commented on #12394
ping @fbladilo @bazulay

[2016-12-08 20:01] fbladilo commented on #12596
@carbonin Does the DB maintenance script that we run on cron support internal and external databases? The OpenShift container image relies on external DB, while for the monolithic container we use an internal database.

[2016-12-08 20:05] carbonin commented on #12596
Right now it only works locally

I think the intention is to get it to run over the app's connection to the database in the future, but for now it sounds like this would not be supported for containers then ... right?

[2016-12-08 20:08] carbonin commented on #11596
Fairly sure this was fixed by https://github.com/ManageIQ/manageiq/pull/12821

[2016-12-08 20:08] #11596 closed

[2016-12-08 20:09] fbladilo commented on #12596
@carbonin @bazulay @simaishi Correct, I don't think we want to have it available in one container environment but not the other, it could be confusing for users. Opinions?

[2016-12-08 20:13] fbladilo commented on #12606
@hhovsepy @bazulay Looks like latest-euwe built fine 8 minutes ago, latest was having issues with the chruby/ruby-install layer a couple of hours ago, I wonder if this is a transient network issue?

[code]

[2016-12-08 20:18] simaishi commented on #12596
If there is no technical issue with supporting this in container environment, I'd feel supporting or not should be decided based on internal or external DB, not appliance or container image.

[2016-12-08 21:36] fbladilo commented on #12596
@carbonin Curious, what happens when you select this option on the VM appliance builds and the database is external? Does it still try to put a cron script?

[2016-12-08 22:35] AparnaKarve commented on #13050
@martinpovolny Would the nested routes replace the `display` URL parameter that we currently have?

`ems_cloud/5?display=flavors` ==> `ems_cloud/5/flavors`

[2016-12-09 10:01] himdel commented on #13050
@AparnaKarve yup, pretty much so .. but the important point is that the nested list would no longer be served by the `ems_cloud` controller, but instead, it'd be served by the `flavors` controller (with the knowledge that it's supposed to filter by `ems_cloud_id = 5`). Should help eliminate most cross-controller toolbar actions..

[2016-12-09 14:34] kbrock commented on #11596
thanks

[2016-12-09 15:48] jvlcek commented on #12596
I think a good approach to explore would be to have the appliance_console check for the existence of `/etc/crontab` before attempting any configurations, sheltering us form the `if container` or `if external DB` logic in the build or the code.

[2016-12-10 00:51] petervo opened #13102 "Private key is lost when key pairs are autogenerated"
By not providing a public key on the form here, /auth_key_pair_cloud/new, at least with openstack the cloud provider generates a new public key pair. However then the private key is lost and only the fingerprint is saved making that key pair useless.

I fixed locally by doing

[code]

But i realize that might be somewhat controversial. If people are ok with this change, I'll submit a PR. Then some

[2016-12-11 18:09] bazulay commented on #12596
@carbonin @bazulay @simaishi ,

what does the db maintenance through the ap does ? (besides configuring the crontab?)

I mean what commands does it actually run ?

and whether it prevents doing it when the db is not local ?

[2016-12-11 18:23] bazulay commented on #12606
@carbonin @fbladilo @hhovsepy

Looking now https://hub.docker.com/r/manageiq/manageiq/builds/ ,

As Franco stated above euwe builds just fine recently.

looking on master .... it looks like there is a failure every couple of days.

I opened the last 2 master builds that had failed - it was 2 different reasons , both related to network access to some external resource

on https://hub.docker.com/r/m

[2016-12-11 19:34] bazulay commented on #12394
@enoodle @moolitayer

this is about running SSA  from a manageiq  pod on openshift
can you please take a look ?

[2016-12-12 08:08] angry-tony opened #13108 "MIQ (EUWE) error adding Ansible-Tower"
Hi~~ all

Iam new to MIQ.
I set up EUWE latest version and Ansible-Tower Free version for 10 Managed Nodes.
when i was trying to add Ansible-Tower to Miq, I got an error below.
( draga-5 had also same error)
do anyone know what is going on MIQ??

[code]

Full log.
[code]

[2016-12-12 09:01] hhovsepy commented on #12606
@bazulay @carbonin @fbladilo  Thank you for takaing a look.
Closing this issue.

[2016-12-12 09:01] #12606 closed

[2016-12-12 14:17] cben commented on #7460
- [ ] check what happens with build / build pod labels.  IIRC build pods are seen as both a `ContainerGroup` and `ContainerBuildPod` entities, with *different* labels, and I only mapped one of them to tags (?)

[2016-12-12 14:23] durandom opened #13113 "InventoryObject API"
# InventoryObject API

I suggest we model InventoryObject API closely after ActiveRecord's API - because thats what people are used to. A counter-argument would be, that it might fool people into thinking they actually use ActiveRecord.

It should not matter wether all InventoryObjects are provided as a flat collection with the ExtManagementSystem as a target or as a tree with the ExtManagementSys

[2016-12-12 14:55] cben commented on #7460
dumping my paper notes on UX loose ends (cc @zgalor):

- [ ] Mapped tags are listed under "My Company Tags" on an entity page, despite being distinct from the manually assigned tags you configure in "My Company Categories/Tags" settings.

- [ ] When you see some mapped tags and try "Edit Tags", they're not there.  This is intentional but confusing, would be better to include them but greyed out (a

[2016-12-12 15:00] vecerek opened #13115 "Hardware ram size is Nil"
@kbrock There's a bug that may have been introduced in #12938.

100% reproducable:

1. Compute -> Infrastructure -> Virtual Machines -> Select OSP Director in the explorer tree
2. Click any of the VM/Templates

![openstack_problem](https://cloud.githubusercontent.com/assets/5737996/21103740/01da92a0-c084-11e6-8deb-25e651164a63.png)

The following error is being thrown:
![openstack_problem_2](https

[2016-12-12 15:01] simon3z commented on #7460
@cben these are easy right? Just labels...

@cben how hard is this to fix?

[2016-12-12 15:12] cben commented on #7460
Yeah, first few ones are low-hanging tweaks.  I hoped to already have some PRs but never found the time...

This one is a bit harder.  UI supports "map 2 types to different categories" by naming the categories `kubernetes:container_group:key` vs `kubernetes:container_image:key` (or something like that).
Would have to break one mapping : one category assumption (which made garbage collection of cat

[2016-12-12 19:20] martinpovolny commented on #13050
Exactly as @himdel wrote above. Doing the nested routes will bring us closer to what the Rails guide says and it will remove a problem that we are experiencing in many places including recent OpenStack, Middleware and Network additions.

[2016-12-12 19:30] AparnaKarve commented on #13050
@martinpovolny @himdel Thanks.
Interesting concept that the nested controller route calls the shots for the outer controller.

[2016-12-12 21:27] mtho11 opened #13127 "Angular: Remove all references to `$http success/error` in favor of `$http.then()`"
Starting with Angular version 1.6 the (deprecated) `$http` `.success` and `.error` has been *removed* and will throw errors.

[Angular Github PR](https://github.com/angular/angular.js/pull/15157)

This means we need search and replace any instances of this and replace with promise syntax:
`$http.then(function(){ })` instead.
Also, need to check javascript tests. This needs to be done before moving

[2016-12-12 23:54] mtho11 commented on #13127
Just FYI, from style guide - __Handling Exceptions with Promises__ - https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y082

[2016-12-13 04:17] mtho11 opened #13131 "[WIP] Angular 2 Migration Preparation(Draft)"
### Purpose
The purpose of this issue is to identify the tasks need for Angular 2 migration. So we can identify task dependencies and blockers and also split up the work on these individual tasks.
At this time, this is a living document so feel free to add items or elaborate or question tasks.

This is an open task for anyone to contribute, so we can just start to get our hands around all the migr

[2016-12-13 04:21] mtho11 commented on #13131
@martinpovolny here is the starter Angular 2 migration issue; feel free to edit...
CC: @himdel @skateman @dclarizio

[2016-12-13 07:22] skateman commented on #13131
@mtho11 actioncable already works well in SSUI and I don't think there will be any compatibility issues with ng2

[2016-12-13 10:26] verlaine opened #13135 "Openstack Keystone V3 Credential validation was not successful with domain different than default"
Hello,

I'm currently testing the version of ManageIQ Euwe-RC2.

It is not possible to add a cloud provider with this configuration:
- type : Openstack
- API version : KeystoneV3
- Region:regioOne
- Keystone v3 Domain ID : domain different than default (for example companyName)
- zone : default (can't be changed in grey)
with admin credentials of the domain

Indeed, with this configuration the sys

[2016-12-13 12:13] himdel commented on #13131
@mtho11 great list.. just adding some random thoughts.. :)

For point one, we already have https://github.com/ManageIQ/manageiq/pull/12581

And, maybe you mean it that way, but.. I'd rather do the webpack transition in this release, separate from any Angular 2 efforts. So that we don't move to webpack & angular 2 at the same time :).

And agreed we definitely need to look into webpacker since it w

[2016-12-13 14:15] abellotti opened #13139 "Internal server error while filtering VM's by name"
Really odd issue, happens on master, (dev/production NOT test), and not on Euwe, and only when filtering VM's by name, does not occur when filtering users for example.

[code]

Getting back the following:

[code]

On the server side:

[code]

[2016-12-13 14:16] abellotti commented on #13139
@imtayadeway can you see if you can reproduce this ?  Thanks.

[2016-12-13 14:45] himdel opened #13141 ""WARNING: out of shared memory" when running test:vmdb:setup with PARALLEL and PG 9.6"
Trying to run `PARALLEL=1 bundle exec bin/rake test:vmdb:setup` (with no existing vmdb_test* databases), I get..

[code]

(The LINE part keeps changing.. also seen..)

[code]

All 8 databases get created. But apparently the `ar_internal_metadata` table is sometimes empty, and when that happens, you get a `ActiveRecord::NoEnvironmentInSchemaError` running `test:vmdb:setup` and that database gets sk

[2016-12-13 14:58] #13115 closed

[2016-12-13 20:23] mtho11 commented on #13131
@himdel sounds like a smart thing to do webpack in this release so like you said to "isolate the Angular 2 efforts".

[2016-12-14 02:48] mtho11 opened #13164 "Responsive Issue: Toolbar resizing on second level not spaced evenly on smaller screens"
Global issue on toolbar.

Looks good sized properly...
![manageiq__middleware_servers](https://cloud.githubusercontent.com/assets/1312165/21167756/9a49884a-c163-11e6-93d2-6b582235e1ff.jpg)

Until resized smaller if you have enough buttons...
![manageiq__middleware_servers_and_new_issue_ _manageiq_manageiq](https://cloud.githubusercontent.com/assets/1312165/21167839/28eddc4a-c164-11e6-84ad-36f03ccb

[2016-12-14 07:51] miha-plesko opened #13166 "Cannot perform `bundle install` on master"
Just pulled the latest master and run:
[code]

It seems like version collision for "activesupport" and "aws-sdk". Am I doing something wrong?

[2016-12-14 08:18] dkorn opened #13167 "[API] Provider authentication does not re-validate after endpoint update, if credentials didn't change"
When updating a provider's endpoint via API (e.g. changing the port) without changing the credentials the authentication does not re-validate.

How to reproduce:
a. create a new OpenShift provider using the API, with a valid endpoint
b. check that that the authentication for the endpoint was completed with status: "Valid"
c. send another request to this provider's endpoint (action: "edit"), this t

[2016-12-14 10:07] miha-plesko commented on #13166
Oh, my bad. Works

[2016-12-14 10:07] #13166 closed

[2016-12-14 12:50] dkorn opened #13169 "[API] Provider authentication not validated when added with auth key token and userid-password set to null"
When adding a provider via API the authentication passed should be validated.This does not happen if the userid and password are passed as null and the auth_key field includes the right token.

how to reproduce:
submit a request to add a provider to manageiq and include both userid-passwod as null and the auth_key with the token in the endpoint authentication:

[code]

Looking at the code, it seem

[2016-12-14 13:15] cben commented on #13167
To clarify, this causes [`cred.save`][1] at the end of the loop to be skipped,
so [`after_save :after_authentication_changed`][2] in Authentication isn't triggered
and doesn't call [`resource.authentication_check_types_queue()`][3].

I suppose not re-saving an unchanged auth is perfectly reasonable, and some higher-level code that is aware of the relation between endpoints and their authentication

[2016-12-14 13:49] epwinchell commented on #13164
@miq-bot assign @epwinchell

[2016-12-14 14:38] abellotti commented on #11035
This now works !!  Closing issue.

[2016-12-14 14:38] #11035 closed

[2016-12-14 14:41] abellotti commented on #11146
also mentioned as query count in https://www.pivotaltracker.com/story/show/121851109
/cc @AllenBW

[2016-12-14 14:43] abellotti commented on #11072
Closing this as we need first-level sub-resources for actionable sub-collections.

[2016-12-14 14:43] #11072 closed

[2016-12-14 14:45] abellotti commented on #7508
This is now available via /api/automate for automate tree browser, and /api/automate_domains for triggering actions on automate domains.

[2016-12-14 14:45] #7508 closed

[2016-12-14 14:50] abellotti commented on #9658
this now works, I just tried this on my test appliance:

[code]

Closing issue.

[2016-12-14 14:50] #9658 closed

[2016-12-14 18:50] imtayadeway opened #13180 "Condition.substr breaks tagging"
`Condition.substr` modifies the class of the thing passed to it to ensure that it is taggable. When passed a `Tag` instance, however, it modifies the `Tag` class, making tags taggable and breaking the tagging of all things.

Here is the offending line:

https://github.com/ManageIQ/manageiq/blob/master/app/models/condition.rb#L104-L105

You can see the effect of it changing the association scope of

[2016-12-14 18:53] imtayadeway commented on #13139
@abellotti this looks suspiciously close to https://github.com/ManageIQ/manageiq/issues/13180, but AFAICT looks unrelated. I'll see if I can reproduce. Thanks!

[2016-12-15 04:31] chrisarcand commented on #13141
@himdel Definitely related. Still looking in to this to see if it's a fixable issue programmatically but I recommend upping `max_locks_per_transaction` to 128 (default is 64) in your `postgresql.conf` (that's in `/usr/local/var/postgres` if you're on MacOS), which should fix the issue.

[2016-12-15 13:49] hstastna commented on #11535
Already works so I am closing this issue.

[2016-12-15 13:49] #11535 closed

[2016-12-15 14:06] himdel commented on #13141
@chrisarcand aah, thanks! Upping `max_locks_per_transaction` works for me too :) (and that's `/etc/postgresql/9.6/main/postgresql.conf` - Debian ;)).

Any idea why the difference? The default has always been 64 it seems..

[2016-12-15 14:08] hstastna opened #13195 "Created filters in Virtual Machines are not displayed until the page is refreshed"
New filter (not global) is not displayed in Compute -> Infrastructure -> Virtual Machines
in My Filters right after creating, refreshing the page is required to see the new filter there!
In addition, info that the filter was sucessfully saved after clicking on Save button, doesn't show!
At the same time, Searchbar and Advanced Search button disappears from the right side of the page!
It is require

[2016-12-15 14:09] jrafanie commented on #13141
Wow, thanks for looking into this @chrisarcand @himdel, very interesting

[2016-12-15 14:32] himdel commented on #13141
So.. do we want to track 9.6 problems?  Apart from this one, I also have 2 failing specs..

[code]

[2016-12-15 14:46] himdel opened #13199 "textual_link - support fonticons too"
After https://github.com/ManageIQ/manageiq/pull/13089, the textual summary screens support fonticons, but thus far, they had to be provided explicitly for every summary method that used them.

Since the majority just calls `textual_link` that deals with the defaults, we should update that one to support fonticons as well, similar to `textual_class_icon` or `textual_object_icon` .. except the fonti

[2016-12-15 15:27] chrisarcand commented on #13141
Yeah that's the part I don't understand yet 😕  The only shot in the dark idea I have is that with the new parallel queries feature, some internal queries add to the number of table writes at the same time and finally push it over the edge of the current 64 setting.

[2016-12-15 15:28] chrisarcand commented on #13141
@himdel Yeah go ahead and make a separate one, let's leave this issue specific to this problem.

[2016-12-15 15:36] himdel opened #13200 "PG 9.6 - pg_stat_activity has no waiting column"
Starting with postgres 9.6, there is no `pg_stat_activity.waiting`.

This causes two of our tests to fail:

[code]

[code]

[code]

My quick reading of [9.5](https://www.postgresql.org/docs/9.5/static/monitoring-stats.html) vs [9.6](https://www.postgresql.org/docs/9.6/static/monitoring-stats.html) would suggest the new way is to check `wait_event IS NOT NULL`, unless threre's some deeper semantic

[2016-12-15 18:55] cwb124 opened #13210 "VMware provider broker issues"
Standing up ManageIQ appliance in a VM with 16gb memory and 8 CPU.  My goal is to simply view vcenter information so I'm only using the vmware provider.  I can usually add one vcenter version 5.5 ok and it will populate all the data, but when I add additional vcenters are providers I usually run into a broker issue.  Sometimes I remove the vcenter and add it back and it may work, or I may get a br

[2016-12-15 19:30] agrare commented on #13210
Hey @cwb124, my guess is the broker worker is getting killed due to using too much memory, try increasing the memory threshold for that worker.  If you go to the configuration settings on the advanced tab in the UI you can edit the config file, look for the section `:vim_broker_worker` then `memory_threshold`.  It is 2GB by default but try bumping it up to as much free ram as you have to see if it

[2016-12-15 21:47] #12688 closed

[2016-12-15 21:50] chessbyte commented on #12917
Screenshots or video showing issue would be helpful.

[2016-12-15 21:53] tzumainn commented on #13135
@miq-bot assign @aufi

[2016-12-15 21:53] tzumainn commented on #12943
@mansam is this issue resolved by one of your PRs?

[2016-12-15 21:54] tzumainn commented on #12943
@miq-bot assign @mansam

[2016-12-15 21:57] imtayadeway commented on #9052
Closing this due to lack of activity. @romaintb feel free to reopen if it's still an issue

[2016-12-15 22:52] mansam commented on #12943
This issue is fixed by https://github.com/ManageIQ/manageiq/pull/13159

[2016-12-15 23:22] imtayadeway commented on #13139
@abellotti I managed to reproduce this in my environment. I believe this will be fixed by https://github.com/ManageIQ/manageiq/pull/12969.

To describe what happened on my machine: Rbac successfully iterated over many vms with the above filter, but blew up when it came to one named "MT-vm01". Because that looks like an MiqExpression field, it tried to quote it as "<value ref=mt, type=string>/virtu

[2016-12-16 09:09] pilhuhn commented on #12656
@miq-bot assign @Jiri-Kremser
Jirka can you please have a look ?

[2016-12-16 09:53] aufi commented on #13135
@verlaine Hi, two possible reasons come to my mind.

1. The field _Keystone v3 Domain ID_ should contain ID of domain, not name (default domain is a special case, it has name Default and ID default), please ensure you enter domain ID there (hash-like string).

2. Please check if your user, which you use in create provider form, has an admin role on given domain.

Let me know if it works, thanks!

[2016-12-16 11:40] martinpovolny opened #13215 "Splitting the UI repo"
This issue is created to track problems related with the UI split effort.

Current testing version of the split repos can be obtained from:

~~https://github.com/martinpovolny/manageiq/tree/core_split_6~~
https://github.com/martinpovolny/manageiq/tree/core_split_8

and

~~https://github.com/martinpovolny/manageiq-ui/tree/ui_split_6~~
~~https://github.com/martinpovolny/manageiq-ui-classic/tree/ui_s

[2016-12-16 11:41] martinpovolny commented on #13215
Issue: the name should be "manageiq-ui-classic" will be resolved soon. The branch will move under: https://github.com/martinpovolny/manageiq-ui-classic.

[2016-12-16 11:51] Jiri-Kremser commented on #12656
I couldn't replicate this issue. I did following steps 7 times:

1. add livingontheedge.hawkular.org as a hawkular provider into MiQ
2. invoked refresh on it
3. once the data is in MiQ UI, remove the provider

Every time I removed the provider, everything was gone.
The data is not deleted only if the MiQ worker responsible for performing the refreshes/deletes and other tasks that are in the `miq_q

[2016-12-16 12:47] mattmahoneyrh commented on #12656
@Jiri-Kremser, this config has long been torn down (can add deployment.log next time).

[2016-12-16 14:12] mmojzis opened #13219 "When adding advanced search expression element okay button does nothing"
Tried on latest master.

How to reproduce:
Go for example to Compute -> Cloud -> Providers
Click on Advanced Search
Try to add an search expression element
Click on ok button
Nothing happened after that.

[2016-12-16 14:13] mmojzis commented on #12917
Can't reproduce it now because of this issue:
https://github.com/ManageIQ/manageiq/issues/13219
Will try it with screenshots after that issue is fixed.

[2016-12-16 18:18] dclarizio commented on #13195
@hstastna will your fix for the above BZ fix this issue as well?  If not, perhaps we need another BZ.  Let me know.  Thx, Dan

[2016-12-16 18:29] #12781 closed

[2016-12-16 18:33] dclarizio commented on #12647
@PanSpagetka this button takes you to your default home page (which is the main dashboard by default).  If you hover the mouse over it, it tells you that.

[2016-12-16 18:33] #12647 closed

[2016-12-16 18:34] dclarizio commented on #12935
Fixed above.

[2016-12-16 18:34] #12935 closed

[2016-12-16 18:36] dclarizio commented on #12926
@romanblanco if this is happening in E release, we will need a BZ.  Thx, Dan

[2016-12-16 18:38] dclarizio commented on #12926
@romanblanco fyi, I don't see this on my system, so please close it it has been fixed.

[2016-12-16 18:41] dclarizio commented on #12520
@gtanzillo I didn't see PM signoff on #9094, yet it was merged.  Let's discuss when you get back.  Thx, Dan

[2016-12-16 18:43] dclarizio commented on #12245
@sergio-ocon this now works in master.  Please retest and reopen if needed.  Thx, Dan

[2016-12-16 18:43] #12245 closed

[2016-12-19 01:27] furlongm commented on #13135
Out of interest, is "Zone" used in this configuration now?

[2016-12-19 01:35] furlongm opened #13236 "support for cloud admin in openstack provider"
After #7342, I can now authenticate using a non-default domain, however not all use cases have been covered. Specifically:

1. User is domain admin in default domain -> this works as expected.
2. User is domain admin in non-default domain -> this now works as expected and resources are refreshed from that non-default domain only.
3. User is cloud admin in default or non-default domain and we want

[2016-12-19 09:41] verlaine commented on #13135
Hello @aufi

1- I tried with the domain id instead of the domain. But I still get the login failure message.
2- I also confirm that the user I'm using is an admin of openstack (admin role)

Do you have some ideas ?

Best,

[2016-12-19 12:21] skateman commented on #13215
* UI: Missing `Gemfile.lock` from the `.gitignore`

[2016-12-19 14:51] lpichler commented on #13219
cc @hstastna

[2016-12-19 18:13] aljesusg opened #13247 "Issue in Visual Cores & Memory in Infrastructure providers View"
Error in column format in vcores instead of memory generated in PR #12758

[2016-12-19 20:36] aufi commented on #13135
Then please check evm.log if there is something interesting. Currently I have no other ideas. Maybe @petrblaho did use Keystone v3 domains recetly, would you have any ideas Petr?

[2016-12-19 21:37] himdel commented on #13131
Created https://github.com/ManageIQ/manageiq/pull/13255 to address the rx update (but depends on npm)

[2016-12-19 22:39] jrafanie opened #13259 "$websocket_log level is not configurable"
The default log level for the `websocket_log` is info and the messages mirrored to the evm.log are  ERROR.  We don't expose a way to configure the log level for this logger.

[code]

We should expose the log level for this logger, similar to how we do for many other mirrored loggers:

https://github.com/ManageIQ/manageiq/blob/7dce38bc500dd227daceebd45c9b01f2edb77376/lib/vmdb/loggers.rb#L28-L37

cc

[2016-12-19 22:47] mkanoor commented on #12038
Closed in favor of https://github.com/ManageIQ/manageiq-content/issues/8

[2016-12-19 22:47] #12038 closed

[2016-12-20 00:42] hstastna commented on #13195
@dclarizio I think the fix for the above BZ will fix this issue as well. This is why issue, not BZ yet. Maybe some very little change in addition. If not, I will let you know and new BZ will be created.

[2016-12-20 09:12] lpichler opened #13262 "buttons and, or, not and remove not working in expression editor"
buttons 'confirm' and 'discard' will be fixed in https://github.com/ManageIQ/manageiq/pull/13140

Introduced  in https://github.com/ManageIQ/manageiq/pull/12998
![w4jnyehn4w](https://cloud.githubusercontent.com/assets/14937244/21344583/b4c70b6e-c69c-11e6-85cf-bf0187153b4d.gif)

@miq-bot add_label ui, bug
@miq-bot assign @epwinchell

[2016-12-20 15:01] carbonin opened #13274 "Users fail validation in global region"
A user will fail validation in the global region if it is from a remote region and has the same userid as a user in the global region.

The user in the global region will pass validation.

This is because our validation logic isn't quite right for scoping uniqueness to a region.

[2016-12-20 15:20] #13259 closed

[2016-12-20 16:42] Fryguy commented on #13215
This should be handled via a dummy manageiq app.  I have briefed @hayesr and @chrisarcand on how it works in the other split repos, so they should have an understanding of it.

[2016-12-20 16:52] Fryguy commented on #13215
- `gem 'pry'` must be removed from the Gemfile.  If we need support for something like a bundler.d or Gemfile.dev.rb we can add that.
- routes still need to be moved over
- I don't understand the way specs are setup.  The specs should live in this repo, and be removed from the main repo.
-  gemspec: `s.homepage    = "http://www.manageiq.com"` should be `https://github.com/ManageIQ/manageiq-ui-clas

[2016-12-20 16:57] Fryguy commented on #13215
- LICENSE must be Apache 2.0
- `require ManageIQ::UI::Classic.spec_root.join("helpers/report_helper_spec.rb")` should not be necessary.  Helpers for specs are
  - typically in the `spec/support` directory
  - Auto-required from spec_helper.rb
  - Never named ending with _spec.rb
- .po and .pot files are still named Manageiq_Ui
- Needs travis and other services (this one is on me)

[2016-12-20 17:07] Fryguy commented on #13215
- gemspec is missing the gems that are UI specific.

[2016-12-20 17:11] chessbyte commented on #13215
`manageiq-ui.gemspec` should be renamed to `manageiq-ui-classic.gemspec`

[2016-12-20 17:22] Fryguy commented on #13215
@chessbyte You have to look at ui_split_8 branch.  I did the same thing :/

[2016-12-20 19:25] Fryguy commented on #13215
@mzazrivec We should probably incorporate i18n into Vmdb::Plugins instead of rolling it separately. cc @bdunne See the changes for i18n here.

[2016-12-20 19:42] durandom commented on #13215
@martinpovolny @chrisarcand I think you can leverage the provider generator to create some boilerplate for the ui repo as well.

[code]

[2016-12-20 20:19] bdunne commented on #13215
@Fryguy the link above loads a giant diff, doesn't point to the i18n change

[2016-12-20 22:40] #13247 closed

[2016-12-21 13:00] evertmulder opened #13291 "Tenant admin can create a super admin"
Steps to reproduce:
- Create child tenant: "My tenant"
- Create group with:
  - "My Tenant admin group" with role:  "EvmRole-tenant_administrator"
  - Tenant: "My tenant"
- Create tenant admin user "tenantadmin" with group "My Tenant admin group"
- login as tenant admin
- I can now create a new user with the group "EvmRole-super_administrator"

This escalates the privileges of a tenant admin to gl

[2016-12-21 13:00] mzazrivec commented on #13215
@Fryguy The incorrect catalog name for UI is being addressed here:

https://github.com/mzazrivec/manageiq-ui-classic/commit/e63bfdd71742233c394fbf7d5f8e9a68650aa015

[2016-12-21 13:04] mzazrivec commented on #13215
@Fryguy Yes, that i18n logic for plugins can be in `Vmdb::Plugins` but I don't want to be doing it
now as a part of the split, since it's being used in the provider plugins as well and I don't wanna be
changing them all now because of this.

So -- after the split.

[2016-12-21 13:05] martinpovolny commented on #13215
The root route has to be added in the main project (until we figure out what to do about it) or Rails don't start.

[2016-12-21 13:25] #6802 closed

[2016-12-21 13:25] himdel commented on #6802
No response for 10 months, closing

[2016-12-21 14:14] cben commented on #13167
Strange, should have specifically broken [this test](https://github.com/ManageIQ/manageiq/blob/06755d55b4dbe7bd9479e03607e29267cd977d83/spec/requests/api/providers_spec.rb#L532-L550) written by @yaacov.
It passes, with `queue_jobs` equal to
[code]
@dkorn, are we sure we saw it not re-validate, or did we just assume that looking at the code?
Maybe our conditions were different from this test?

[2016-12-21 14:34] cben commented on #13167
Oh yes it is the `SecureRandom.hex`.  It's called independently in `default_connection` vs `updated_connection`.
If I fix all `auth_key` to same string everywhere, the test fails.
[code]

(To clarify, this bug is about re-validating when eg. host/port changed but auth didn't)

[2016-12-22 10:16] Oxyle1025 opened #13304 "Mailing after extending retirement generates error..."
Hi guys,

We nearly got our environment completetly running on ManageIQ, however we are failing in one part for now. I've got ManageIQ sending users 3 e-mails before retirement. Users can even extend their retirement throughout the ManageIQ console. Which is perfectly functioning, however when I understand that ManageIQ should be mailing the users when a retirement is extended, with their new date

[2016-12-22 12:40] gaetanquentin commented on #8679
I have the same problem with last sources (git clone from 21 december).
"bower install -F in the vmdb root, or just run bin/update" did not corrected the problem.

[2016-12-22 14:22] cben opened #13306 "Can't create Kubernetes provider with port other than 6443"
Creating a Kubernetes provider via API using `connection_configurations` ignores given port and forces default 6443.
Works for Openshift and OpenshiftEnterprise.
Works when directly passing `port` attribute to API.
Creating via UI works.

`connections_configurations=` does its job correctly, then `_run_initialize_callbacks` resets it to 6443.
This is perhaps caused by `port` being a virtual attrib

[2016-12-23 10:39] gaetanquentin opened #13314 "Sprockets::FileNotFound: couldn't find file 'es6-shim' with type 'application/javascript'"
On centos 7.3.

From latest sources, trying to install manageiq from sources, i have  this error:

Installing sass-rails 5.0.6
Installing gettext_i18n_rails_js 1.1.0
Using jquery-rjs 0.1.1 from https://github.com/ManageIQ/jquery-rjs.git (at v0.1.1-1@ded3d28)
Using manageiq-ui-classic 0.1.0 from https://github.com/ManageIQ/manageiq-ui-classic (at master@1545a1b)
Bundle complete! 80 Gemfile dependen

[2016-12-23 13:11] kbrock commented on #13314
This tends to happen if you don't run `bower` first.

I think `bin/setup` should help you with this.

[2016-12-23 13:15] gaetanquentin commented on #13314
@kbrock
but at this stage the posgresql server is not installed l and bin/setup need it:

[root@manageiq vmdb]# ./bin/setup
Copying /var/www/miq/vmdb/certs/v2_key from template...
Copying /var/www/miq/vmdb/config/database.yml from template...
== Installing dependencies ==
Updating bower assets in parallel...
The Gemfile's dependencies are satisfied

== Updating database ==
could not connect to ser

[2016-12-23 13:50] #13274 closed

[2016-12-23 13:51] kbrock commented on #13304
/cc @gmcculloug is this automate?

[2016-12-23 17:12] gmcculloug commented on #13304
Yes, same as http://talk.manageiq.org/t/automation-error-when-extending-retirements/1980 which I responded to earlier today.

[2016-12-25 15:02] cben commented on #13306
@miq-bot add-label providers/containers, api, bug

[2016-12-28 12:23] bazulay commented on #8587
@simaishi @Fryguy @bdunne @fbladilo

I think this issue needs to be closed

[2016-12-28 12:25] bazulay commented on #8737
@vnugent @fbladilo

I think this issue can be closed

[2016-12-28 14:30] bazulay opened #13322 "manageiq container is missing an rpm"
Per commit https://github.com/ManageIQ/manageiq-appliance-build/pull/116/files
openscap-scanner package is required to run openscap on a container image.
when it is not present the SSA for containers will fail.
This is relevant only for upstream

[2016-12-28 14:35] bazulay commented on #13322
@miq-bot add_label build/docker

[2017-01-02 15:21] aufi commented on #13236
I think, from ManageIQ side, this works as expected. Case (3) does _not_ work until you modify Keystone v3 policy file on Openstack side. It might be needed to update policy file. Please submit a BZ at https://bugzilla.redhat.com/ to get more attention.

[2017-01-02 23:36] furlongm commented on #13236
Case (3) does not work at all. That is the reason I filed this bug report.

I have an updated policy file as per the link in the report.

The cloud admin account works correctly in OpenStack, but ManageIQ does not yet have the functionality to use the cloud admin account i.e. it does not call list_domains, and does not list the resources for domains that are not the default domain.

See

https://g

[2017-01-03 02:56] NaNi-Z opened #13327 "[ERROR] unknown attribute 'region_number' when seeding MiqUserRole in euwe-1"
I cloned the 'euwe-1' code and executed the bin/setup, at "Seeding database", it came an error.

In the evm.log

My friend has the same problem. Is there anything wrong?

[2017-01-03 03:03] NaNi-Z commented on #13314
[http://manageiq.org/docs/guides/developer_setup.html](url)
This page can help you to build your environment.

[2017-01-03 05:35] sksaddamhussain opened #13328 "How to Configure Database Replication"
Dear All,

I have used manageiq-openstack-euwe-20161220-725f92f1e3 image for setting up of HA environment, but while setting up standby database facing below issue
(Selected Menu Option 9 in Appliance_Console for Configure Database Replication)

_Configuring Replication Standby Server...
Appliance database found under: /var/opt/rh/rh-postgresql95/lib/pgsql/data
Replication standby server can not b

[2017-01-03 05:43] shangxu opened #13329 "In [Compute->Infrastructure->Virtual machines],start a vm failed,but there is no errors on the UI interface."
Although the errors can be found in the  [CFME log] interface, but i think it is not direct.

[2017-01-03 14:25] simaishi commented on #8587
@bazulay The crash still happens. I think we agree the solution is not to add `parted`, but to fix it somewhere else (appliance_console or perhaps LinuxAdmin), though.

[2017-01-03 14:37] carbonin commented on #13328
When configuring a standby, the first step to to clone the existing database. This means that the database shipped with ManageIQ must first be removed. Also, I would recommend not running the evmserver process on a standby database. I would suggest the following steps:

[code]

At this point you should be able to configure the standby server successfully.

[2017-01-03 21:27] kbrock commented on #13314
@gaetanquentin also, if that does not work, try adding a `host` key to your `config/database.yml` file - possibly changing the `username` and `password` too.

I'm not sure how you set postgres up yet, but possibly it is setup to network only and has a different username than the other development environments

[2017-01-04 03:14] juliancheal commented on #13306
Oh good stop, do you have a link for your PR?

[2017-01-04 04:16] rwsu opened #13343 "RBAC is not working correctly for models with :cloud_tenant"
RBAC is working correctly for models that have "belongs_to :tenant"  because they include TenancyMixin which defines a "tenant_id_clause" method that provides the correct where clause to Filterer.scope_to_tenant.

RBAC is not working correctly for cloud-based models, or models that have a :cloud_tenant association instead of a :tenant association. For example, cloud tenants who belong to OpenStack

[2017-01-04 05:35] NaNi-Z commented on #13327
I tried the "master" branch, it's no problem

[2017-01-04 10:06] cben opened #13345 "Reuse persistent HTTP connections"
I noticed recently we don't reuse HTTP connections.  A new TCP/TLS/HTTP connection every request may add up to an order of magnitude speed difference:
https://bibwild.wordpress.com/2012/04/30/ruby-http-performance-shootout-redux/

- [ ] HawkularClient creates a new RestClient instance for every single call.
- [ ] Kubeclient does cache RestClient instance, but RestClient itself doesn't support conn

[2017-01-04 10:18] yaacov commented on #13345
@cben 👍 , the ruby and python clients ask for the hawkular version each time they create a new connection object, and since we do not have a good way to reuse ( and stay updated, and not timeout, and ... ) the connection object is recreated almost(*) each new query.

(*) we do try to reuse when we can, clients are usually global and created using `@client ||= Clinet.new(...)`

[2017-01-04 10:23] cben commented on #13345
(*) https://github.com/hawkular/hawkular-client-ruby/blob/02041e319eabc6851d0a5adf2319af3b83643ad9/lib/hawkular/base_client.rb#L40-L41
Would be an easy fix, not important without persistence in RestClient...
(and depending on implementation, connections could become cached across RestClient instances too)

[2017-01-04 11:37] cben commented on #13345
=> Refresh is much better than I feared :-).  Not much point optimizing (until we get into targeted / watching refresh).

- We do 1 GETs per entity type, eg. `get_pods` without args => `/api/v1/pods`, returning one huge json.
- We do one `/api/v1` and one `/oapi/v1` discovery at start of refresh, probably from `ems.with_provider_connection`.  Perfect.

Tip: running under `env RESTCLIENT_LOG=/tmp/r

[2017-01-04 11:49] yaacov commented on #13345
@cben 👍

p.s.
you can look at the VCR recordings:
https://github.com/ManageIQ/manageiq/blob/master/spec/vcr_cassettes/manageiq/providers/kubernetes/container_manager/metrics_capture/capture_context_pod_metrics.yml

[2017-01-04 15:44] jrafanie commented on #13343
@rwsu I don't think cloud_tenants behave exactly like our tenants in the other models and unfortunately share the `tenant` word but aren't the same thing.  For example, I'm not sure if the "what you can see in rbac [up/down/sidewise](https://github.com/ManageIQ/manageiq/blob/59f68255097aab18f9885165a5312cdaefb12718/lib/rbac/filterer.rb#L77-L92) in the tenant hierarchy" in the cloud_tenant follows

[2017-01-04 16:09] Ladas commented on #13343
The CloudTenant objects are mapped to Tenant (if you switch it on), then the tenancy should be based on that. I think it should work as you say @rwsu

E.g. going to tenant -> cloud_tenant -> vms, or tenant -> cloud_tenant -> flavors

Where flavors are a rare case we do not cover,

clout tenant has_many :flavors, :through => :cloud_tenant_flavors (so there is a mapping table, not just cloud_tenant_

[2017-01-04 16:31] jrafanie commented on #13327
@NaNi-Z was this with an existing "master" database?  `bin/setup` doesn't drop the database, so you'll need to either:

* migrate "back" several migrations to the first migration that's both in `master` and `euwe-1`
* or, reset the database first (`bin/rails evm:db:reset`)
* or, use a different database per release

[2017-01-04 19:50] sshveta opened #13354 "SSUI : Self service login page shows "The page you were looking for doesn't exist.""
Version-Release number of selected component (if applicable):
master.20170104131727_8bda79e

How reproducible:

Steps to Reproduce:
1. Login http://IP/self_service
2. "The page you were looking for doesn't exist." is shown. See screenshot
===================================

Logs
================
[----] I, [2017-01-04T14:36:59.569459 #2882:f43094]  INFO -- : Started GET "/self_service" for 127.0.0

[2017-01-04 21:13] chriskacerguis commented on #13354
That is not the correct URL.  It should be http://IP/ui/service

[2017-01-04 21:14] chriskacerguis commented on #13354
Also, this is not the correct location for SUI tickets.

[2017-01-04 22:11] mgale commented on #13236
Hello,

    Is there a nightly build or something I can grab to test out these changes?

[2017-01-04 22:58] sshveta commented on #13354
https://IP/ui/service link also shows blank page

[2017-01-04 22:58] chriskacerguis commented on #13354
Can you please try without the https and use http

[2017-01-04 23:18] sshveta commented on #13354
Opened a ticket on Pivotal board. closing this one

[2017-01-04 23:18] #13354 closed

[2017-01-05 01:57] NaNi-Z commented on #13327
@jrafanie Thank for you answer.  I tried reset or even drop the database in Postgresql directly, but it still came the error. I'm trying setup in an clean system.

[2017-01-05 14:52] jrafanie commented on #13327
@NaNi-Z ah, thanks!  I just realized it's the rails 5.0.1 breaking change discussed in #13290.  Try making that change locally and you should be ok.

Note, we just backported a similar change to darga and euwe, see this [comment](https://github.com/ManageIQ/manageiq/pull/13290#issuecomment-270661492).  For now, you can apply that change and upgrade when we tag euwe again.

Closing for now, if this

[2017-01-05 14:52] #13327 closed

[2017-01-05 15:38] lpichler commented on #13262
@epwinchell can you look on it, please ? or assign it to somebody who can fix it from UI team?

thanks a lot!!

[2017-01-05 16:21] aivrit opened #13364 "New Openstack Cloud Provider Fails to refresh because of a non-existent flavor"
I added openstack vanilla as a cloud provider and the task was successful with valid credentials,
But the cloud inventory stays empty, with refresh constantly failing with error:

I went to check in /var/www/miq/vmdb/log/fog.log and found that for some reason refresh causes the system to try and get details of a non-existent flavor id that causes an error and the consequent failure.
I am not sure

[2017-01-06 08:36] jbeal-work commented on #13102
I agree that this is currently not useful. The above does look useful.

I would also like a call back so that the keypair can have the correct tagging applied as allowing everyone access to both the public and the private key is less than useful. By having a callback I could apply tags which control access.

[2017-01-06 09:36] cben commented on #13306
#13317 adds the tests.
#13369 is what I've got so far, moving the workaround Openshift already had to also apply to Kubernetes.

But the problem seems wider.  cc @moolitayer I think it also affects Hawkular & Datawarehouse port.
[default_value_for gem](https://github.com/FooBarWidget/default_value_for) is used in many places, no idea how many others of those are delegated/virtual fields:
https://g

[2017-01-06 13:43] moolitayer commented on #13306
We had #11391 by @dkorn recently to solve this problem but it seems to be openshift specific.

We should have tests in place for openshift & kubernetes using both the default port and a different one - maybe this is a good chance to add those.

I will fix look into the datawarehouse issue (thanks for reporting)
@lucasponce do you want to look into this problem in middleware

[2017-01-06 15:00] isimluk opened #13375 "ChargebackRateDetail feature creep"
## Problem
ChargebackRateDetail currently has two main responsibilities:
 - Define cost of a metric
 - Define chargable metric, and how to charge it

## Why it is problem
1) It does not comply with BCNF (https://en.wikipedia.org/wiki/Boyce%E2%80%93Codd_normal_form)
2) This forces us to store all `RateDetails` for each `Rate`. This makes RatesEditor very complex. We have many feature requests for R

[2017-01-06 15:34] isimluk commented on #13375
Given the split, this will be done by series of PRs.
1) Introduce `Field`. (manageiq repo)
2) Make use of `Field` (manageiq-ui-classic repo)
3) Remove dupe columns from RateDetails (manageiq repo)

[2017-01-06 15:39] martinpovolny opened #13377 "Don't reload the whole page on click (non-explorer screens)"
Don't reload the whole page on click.

To start we would like to keep the menu and top bar in place.

Notes:
 * we start by reloading the whole `center_div`
 * we start by doing so for the controllers using the `Generic{Show,List}Mixin`
 * we'll send a `XHR` `GET` request and send back first javascript and later JSON using pattern similar to the ExplorerPresenter
 * once we have the whole `center_

[2017-01-06 15:41] isimluk commented on #13377
🍰

[2017-01-06 17:53] #10793 closed

[2017-01-06 17:55] skateman commented on #12081
@ZitaNemeckova is this still reproducible?

[2017-01-06 19:29] abellotti opened #13380 "API sort-by should work with sql friendly virtual attributes"
Specifying sql friendly virtual attributes for the sort, i.e. ?sort-by=active or ?sort-by=host_name
on vms, should work, but instead we're getting:

[code]

app/controllers/api/base_controller/parameters.rb sort_params method allows for virtual attributes to be specified, but allows them all, those should be restricted to sql friendly virtual attributes:

[code]

But then the error still occurs, V

[2017-01-06 23:35] evertmulder commented on #13291
This issue should be moved to the classic-ui repo now.

The issue is in manageiq-ui-classic/app/controllers/ops_controller/ops_rbac.rb, line 988

[code]
should be
[code]

and when saving the user the input should be checked again in rbac_user_validate?

I'll try a PR for this.

[2017-01-08 00:22] #13127 closed

[2017-01-09 07:04] furlongm opened #13390 "LDAP bind error (bind credentials ARE configured)"
[code]

[2017-01-09 08:07] niyazRedhat opened #13391 "Getting an error in production log when clicking on reload button in services->requests page."
Step to reproduce:
1.Go to services -> Requests
2.Click on Reload button and see production log

Production Log:
[code]

[2017-01-09 08:53] sbulage opened #13392 "SSA is not working"
Description: - After setting up all required steps/stuff, SmartState Analysis is not working on ManageIQ for VM as well as on Hosts.

Steps to Perform: -
1. Add provider(I used VMware vSphere)
2. Add host credentials and Perform SSA on VM as well as on Host.
3. See the evm.log

Build no.:-master.20170108222754_94e95ba

[evm_logs.txt](https://github.com/ManageIQ/manageiq/files/692977/evm_logs.txt)

[2017-01-09 11:48] himdel commented on #13127
@mtho11 was this closed by mistake or did you want to move this to `manageiq-ui-classic`?

@AparnaKarve is working on it in https://github.com/ManageIQ/manageiq-ui-classic/pull/13 but it's not really done yet..

[2017-01-09 12:25] lucasponce commented on #13306
@moolitayer I think the Middleware Provider is safe as we have tested under 8080 and 80 ports in testing.
Anyway, cc-ing @pilhuhn to triage.

[2017-01-09 12:44] isimluk commented on #13375
This is also needed to complete manageiq-content repo split. ChargeableFields belong to core -- while default rates belong to manageiq-content.

[2017-01-09 13:36] isimluk commented on #13375
Other problem I found is that we already have couple of inconsistencies. The `description` of ChargebackRateDetail is not simply a function of `metric`, but it depends on time, when you have copied the default rate to your own. That problem was introduced in 553f6900e253ea7de3dff4a07cabfd3e6a91c45b.

[2017-01-09 13:36] lpichler commented on #13375
@isimluk How do you plan relations between models ?

`ChargebackRate` has many `ChargebackRateDetails` (1:N)
`ChargebackRateDetail` has `ChargebackField` (1:1)
`ChargebackFields` has_many  `ChargebackRateDetails`  (1:N) ? (you have it in code)

[2017-01-09 13:40] isimluk commented on #13375
No. This would not fix anything.

ChargebackRateDetail has ChargebackField (1:N) (I have it in code).

[2017-01-09 13:43] petrblaho commented on #13135
Hi @verlaine , is this still the issue?

As @aufi wrote, please, check evm.log and fog.log for errors or post these files somewhere and we can help.

[2017-01-09 13:52] sergio-ocon commented on #13375
Refactoring this would allow to move into the Money gem?.... Thus we get proper support for currencies and better accuracy

[2017-01-09 13:57] isimluk commented on #13375
No. That is unrelated.

[2017-01-09 14:00] martinpovolny opened #13401 "Problematic app/views/cloud_object_store_object/show.html.haml"
I have a problem refactoring `app/views/cloud_object_store_object/show.html.haml`

[code]

I'd say that the 1st part:
[code]
cannot work due to the `"@lastaction"` being in `""`.

The 2nd line
[code]
is imho only for situation when there's no `main` partial which is not the case of `cloud_object_store_object` controller.

So it seems to me that only the last option has any effect and that line is

[2017-01-09 14:17] #8720 closed

[2017-01-09 14:26] aufi commented on #11023
I think, this was fixed, so the issue can be closed (but I can't find the PR). Is that correct @mansam ?

[2017-01-09 14:26] hstastna commented on #13262
buttons 'confirm' and 'discard' will be fixed in https://github.com/ManageIQ/manageiq-ui-classic/pull/98

[2017-01-09 14:28] cben commented on #13306
Note that for us it only affected creation via API when passing `connection_configurations`.
Passing `hostname`, `port`, `credentials` respected the port.

[2017-01-09 14:53] llhomme opened #13403 "Euwe LDAP settings error on validation with: Authentication Ldaps: undefined method `each' for nil:NilClass"
I am configuring a test machine that is using the latest Euwe GA release. We have a previous Darga-4 install that is running fine and I am literally copying and pasting the values from the Darga to the Euwe version. I have confirmed that I have the correct password in place on the Euwe version and we're searching from the Top Level of the domain on both. Darga validates with no issue: LDAP Setting

[2017-01-09 14:59] mansam commented on #11023
I believe so, but I will verify first.

[2017-01-09 15:10] mtho11 commented on #13127
@himdel it seems I closed it without creating the corresponding issue. Its added now.

[2017-01-09 17:31] ammendonca commented on #10900
@hhovsepy, can you confirm this is fixed by #10928 and close the issue if it is ?

[2017-01-09 17:35] ammendonca commented on #11066
@mattmahoneyrh any luck replicating this ? I also wasn't able to replicate.

[2017-01-09 17:37] ammendonca commented on #10908
@FilipB can you confirm this is fixed as per screenshots and close this issue if it is ?

[2017-01-09 17:38] ammendonca commented on #10600
@mmojzis can you confirm this is fixed and close the issue ?

[2017-01-09 18:16] imtayadeway opened #13411 "Expression editor gets into unresponsive state"
There appears to be some regression in the expression editor.

To illustrate, here I'm about to add a filter to the Compute/Infrastructure/Vms page:

![manageiq_virtual_machines_-_2017-01-09_10 09 52](https://cloud.githubusercontent.com/assets/1710874/21777548/2a66adcc-d654-11e6-9475-3bb075072341.png)

Here I've created a valid expression:

![manageiq_virtual_machines_-_2017-01-09_10 10 15](https:

[2017-01-09 18:38] #13411 closed

[2017-01-10 10:56] #6638 closed

[2017-01-10 10:56] #11706 closed

[2017-01-10 10:57] #11180 closed

[2017-01-10 10:58] #5294 closed

[2017-01-10 12:23] himdel commented on #12868
Closing - done in https://github.com/ManageIQ/manageiq-ui-classic/pull/22

[2017-01-10 12:23] himdel commented on #12868
..except I can't actually close .. @chessbyte can you?

[2017-01-10 12:44] #12868 closed

[2017-01-10 12:48] ZitaNemeckova commented on #12081
@skateman Nope.

No longer reproducible. Closing.

[2017-01-10 12:48] #12081 closed

[2017-01-10 12:48] #10908 closed

[2017-01-10 12:49] FilipB commented on #10908
It's fixed in current master

[2017-01-10 12:53] ZitaNemeckova commented on #7195
Moved to https://github.com/ManageIQ/manageiq-ui-classic/issues/116.

Closing.

[2017-01-10 12:53] #7195 closed

[2017-01-10 13:37] Ladas commented on #7785
@durandom @blomquisg  'from Amazon's CloudWatch service' would be nice to investigate this, cause now it takes like 2-10 minutes before the event actually arrives. And refresh itself using that event takes like 0.3s :-)

So would be nice to have something quicker, to get the realtime feel :-)

[2017-01-10 14:12] hstastna commented on #13262
buttons 'confirm' and 'discard' will be fixed in https://github.com/ManageIQ/manageiq-ui-classic/pull/98

[2017-01-10 14:56] lpichler opened #13426 "bin/update failing - good_migrations gem"
workaround for now:

` GOOD_MIGRATIONS=skip bin/update`

@miq-bot assign lpichler

[code]

[2017-01-10 15:03] lpichler commented on #13262
@miq-bot assign @hstastna
@miq-bot unassign @epwinchell

[2017-01-10 17:58] mansam commented on #13401
@martinpovolny I agree with you that only that last branch has any function. Would you like me to fix this, or do you intend to change it as part of your refactor?

[2017-01-11 01:13] furlongm opened #13442 "timezone issue when adding provider"
I've noticed an issue with timezones.

I am in UTC+11 and if I add a new provider (so far have tried VMware and AWS), no data from those providers shows up on the dashboard until 11 hours later. Is this expected?

I have set the timezone in the appliance_console - "Australia/Melbourne (AEDT, +1100)", and also within the appliance settings on the UI - "GMT+10 Melbourne".

[2017-01-11 02:35] Fryguy commented on #13442
@furlongm What do you mean by "no data shows up"?  Are you saying you don't see any VMs, or is it something specific like metrics?

[2017-01-11 02:36] Fryguy commented on #13390
@abellotti Can you take a look?

[2017-01-11 02:37] Fryguy commented on #13403
@abellotti Can you take a look?

[2017-01-11 02:44] Fryguy commented on #13314
This happens if bower update does not complete successfully (usually because npm is being difficult).  If `bin/setup` does not work for you, you can run the command directly: `bower update --allow-root -F --config.analytics=false`

[2017-01-11 02:44] #13314 closed

[2017-01-11 02:46] Fryguy commented on #13236
@tzumainn Can you please take a look at this?

[2017-01-11 02:49] tzumainn commented on #13236
@miq-bot assign @aufi

[2017-01-11 02:49] tzumainn commented on #13236
@aufi can you see if there's an issue to be resolved with #3 above?

[2017-01-11 02:54] Fryguy commented on #13364
@tzumainn Can you take a look?

[2017-01-11 02:55] Fryguy commented on #13391
@dclarizio Can you take a look?

[2017-01-11 03:28] tzumainn commented on #13364
@mansam can you take a look at this one?

[2017-01-11 03:29] tzumainn commented on #13364
@miq-bot assign @mansam

[2017-01-11 03:30] tzumainn commented on #13364
@aivrit can you also give us a few more details?  Are you using the admin user?  What do you see from the CLI if you run 'nova flavor-list'?

[2017-01-11 03:42] furlongm commented on #13442
No VMs, no metrics, basically nothing in the dashboard.

[2017-01-11 07:35] hhovsepy commented on #10900
Verified, this issue is fixed.

[2017-01-11 07:35] #10900 closed

[2017-01-11 07:38] hhovsepy commented on #10658
Verified, Middleware Server Group link is in Relationship section of Server's Summary page.

[2017-01-11 07:38] #10658 closed

[2017-01-11 07:42] #10198 closed

[2017-01-11 07:42] #10189 closed

[2017-01-11 13:26] martinpovolny commented on #13291
Fixed via https://github.com/ManageIQ/manageiq-ui-classic/pull/127

@evertmulder : thanks a lot!

[2017-01-11 13:26] #13291 closed

[2017-01-11 14:14] carbonin commented on #13328
@sksaddamhussain Did this solve your issue? Were you able to set up the standby server after removing the existing database?

[2017-01-11 14:40] fbladilo commented on #13322
@bazulay Anything else needed besides the openscap RPMs on image?

[2017-01-11 14:50] evertmulder commented on #13291
Thanks for all the help!
There is still an issue where an Tenant admin can create a group with, role "super admin", and assign it to his own tenant, but this group is not selectable when creating users. I will open a issue in de classic-UI-repo for this.
Note. The API possible also has this issue. I will check this.

[2017-01-11 15:35] aivrit commented on #13364
@tzumainn
yes, I did use the admin user. I also made sure he was assigned the admin role for the admin project.
I already destroyed the virtual environment with that newton installation since I switched to liberty for it to work.. but I did list the flavors from the cli to make sure it was not there, and indeed I had only one flavor (tiny) and it had a different flavor id.
if it helps, i used osba

[2017-01-11 15:41] tzumainn commented on #13364
@aivrit okay, thanks!  I've tested locally and refresh is working on our side.  This will be difficult to debug without having access to your environment.  The flavor ID in the environment is very specific, implying that it's definitely getting it from *somewhere*.  Is it possible that your cloudforms install had old data or something ... ?

[2017-01-11 16:21] martinpovolny commented on #13291
@evertmulder : please, ping me in the issue that you create. I'd like to make sure we resolve this quick.

Thx!

[2017-01-11 17:23] cben opened #13454 "/providers read/write REST API is very asymmetric"
Continuing from #9743 but I want to focus on REST API, then worry about internals.
http://manageiq.org/docs/reference/latest/api/reference/providers
The ways to write provider endpoint & auth info is very different from the ways to read them — there is almost no overlap.  Especially for multi-endpoint providers (this part BTW is not documented yet)

## `GET /api/providers/1?attributes=endpoints,au

[2017-01-11 17:53] h-kataria commented on #13219
This issue should be fixed by https://github.com/ManageIQ/manageiq-ui-classic/pull/98

[2017-01-11 17:59] aivrit commented on #13364
@tzumainn I don't think it's likely.. like I said it was a fresh manageiq euwe-1 from the vagrant atlas and a brand new openstack newton environment from osbash..
if you need info to pull from the enviroment for debugging, I can install it again and check whatever you see fit..
by the way, just to make sure, was your successful test on vanilla newton?

[2017-01-11 18:02] dclarizio commented on #13329
@shangxu the ManageIQ UI normally just initiates VM power actions, and returns a message like "Start for VM xxx initiated successfully".  If the actual start fails on the back end, the requests screen should show the error.

So, are you saying the UI fails to initiate the start of the VM?  Perhaps a bit more description of what you are doing when you see this along with a log snippet with the tran

[2017-01-11 18:45] abellotti commented on #13390
What operation was being performed here ?

In the Server Authentication page config for LDAP, are Get User Groups from LDAP and Get Roles from Home Forest checked with the Base DN/Bind DN/Bind Password specified ?

[2017-01-11 20:18] tzumainn commented on #13364
@aivrit We've been developing against OSP10, which is newton based.  Would it be possible to do as you say and re-install newton?

[2017-01-11 21:53] evertmulder commented on #13291
@martinpovolny.  every working is as expected using the API. The UI still has an issue: https://github.com/ManageIQ/manageiq-ui-classic/issues/134

[2017-01-11 23:25] furlongm commented on #13390
No, Get User Groups and Get Roles are not checked.

The basedn, bind_dn and bind_pwd are specified.

I was trying to authenticate.

[2017-01-12 03:32] #13180 closed

[2017-01-12 06:41] furlongm commented on #13390
If I enable Get User Groups and Get Roles, I get a different error:

[code]

Should I open a separate bug report for this issue?

[2017-01-12 10:00] aufi commented on #13236
I'm trying find a root cause of the issue here. The current implementation does not call list_domain (and related domains methods), there is an approach _one domain (or region) == one provider_ and admin role is expected.

@furlongm What you expect is listing domains inside ManageIQ when having cloud_admin and don't require user to enter _domain_id_ for multiple domains or something else?

Link ht

[2017-01-12 10:59] furlongm commented on #13236
Yes, that is what I expected.

Imagine the case where there are thousands of domains (e.g. one domain per customer), then it is impractical to add each domain as a separate provider, especially when a cloud_admin account can access all domains.

It also doesn't map to the reality of cloud, as it's really only a single provider.

Given that this feature currently doesn't currently exist, is this a

[2017-01-12 11:20] durandom commented on #10591
fixed in https://github.com/ManageIQ/manageiq-providers-amazon/pull/93

[2017-01-12 11:21] durandom commented on #10591
@mmojzis could you close this?

[2017-01-12 12:49] tzumainn commented on #13236
@furlongm ah, yep - this would probably have to come in as a feature request then.

[2017-01-12 13:39] durandom commented on #13454
cc @juliancheal

I think this is also due to how endpoints and authentications are modeled. I still dont get 100% how those interact, esp. with a default endpoint etc. I always have to dig into the code.

Maybe some refactoring at the model layer would make thing easier for the REST API

multi endpoints were introduced here https://github.com/ManageIQ/manageiq/pull/6167

[2017-01-12 13:55] hstastna commented on #13219
@h-kataria No, this issue will not be fixed by ManageIQ/manageiq-ui-classic#98 completely, there is another problem. I tested this issue using the changes from ManageIQ/manageiq-ui-classic#98, the buttons work, the filter is successfully saved, but after saving some unexpected error occurs. Maybe I could fix it, but as you mentioned, ManageIQ/manageiq-ui-classic#98 should be merged too, to fix thi

[2017-01-12 14:35] abellotti commented on #13390
Ahh ok, so just trying to login to miq.  The error above seems to indicate the user's group wasn't matched.

Was the users's ldap groups (at least one) created in Miq with the appropriate role assigned ?

[2017-01-12 14:49] hstastna commented on #13219
https://github.com/ManageIQ/manageiq-ui-classic/pull/142 is fixing this issue

[2017-01-12 17:08] aufi commented on #13236
Yes, this looks to be a reasonable feature request. (with deeper impact on Openstack provider model)

[2017-01-12 17:33] bazulay commented on #12596
After re reading this discussion I think we need to ask ourselves  does this functionality belong in a containerized appliance
@carbonin  I assume this script is about vaccuming ... etc ?

While a containerized appliance is by nature a short leaving application I do not see any need for that there, while on the PODified application it may be needed but there the DB is not local.
@carbonin @fbladil

[2017-01-12 17:37] mfeifer commented on #12860
@aufi can you please close this issue and recreate in https://github.com/ManageIQ/manageiq_docs

[2017-01-12 22:30] dclarizio commented on #12765
@miq-bot assign @himdel

[2017-01-12 22:31] dclarizio commented on #12745
@miq-bot assign @romanblanco

@romanblanco perhaps should close and reopen this in ui-classic?

[2017-01-12 22:33] dclarizio commented on #12515
@miq-bot assign @lgalis

@lgalis perhaps this should be addressed in ui-classic

[2017-01-12 22:34] dclarizio commented on #13131
@mtho11 can you please close this and reopen on the ui-classic repo?  Thx, Dan

[2017-01-12 23:07] mtho11 commented on #13131
@dclarizio sure. I don't suppose there is any way to preserve the comments though?

[2017-01-12 23:18] dclarizio commented on #13131
@mtho11 Maybe just copy them into an initial comment?

[2017-01-12 23:35] mtho11 commented on #13131
This issue was moved to ManageIQ/manageiq-ui-classic#148

[2017-01-12 23:35] #13131 closed

[2017-01-12 23:53] mtho11 commented on #13131
FYI: this issue was moved from repo to repo with:
https://github-issue-mover.appspot.com/

[2017-01-13 07:23] aljesusg opened #13482 "Failing in migration database after create 20150224192716_migrate_configuration_manager_to_ems with good_migrations error"
After create

== Updating database ==
** Using session_store: ActionDispatch::Session::MemCacheStore
rails aborted!
GoodMigrations::LoadError: Rails attempted to auto-load:

/home/alberto/projects/manageiq/app/models/mixins/uuid_mixin.rb

Which is in your project's `app/` directory. The good_migrations
gem was designed to prevent this, because migrations are intended
to be immutable and safe-to-ru

[2017-01-13 08:20] aljesusg commented on #13482
After download again all repository and start the installation by step 0 the error is the same.

[2017-01-13 08:54] lpichler commented on #13482
Hi @aljesusg,
https://github.com/ManageIQ/manageiq/issues/13426 see the workaround

[2017-01-13 08:57] aljesusg commented on #13482
Thanks @lpichler, I did that , the point were if you notice this error for fix it. I close the issue !!!

[2017-01-13 08:57] #13482 closed

[2017-01-13 12:15] aufi commented on #12860
@mfeifer Sure, moved.

[2017-01-13 12:15] #12860 closed

[2017-01-13 13:36] isimluk commented on #10344
Is it possible this was fixed in September?

[2017-01-13 13:45] PanSpagetka commented on #10344
Yep, this should be fixed.

[2017-01-13 15:06] romanblanco commented on #12745
Issue reopened: https://github.com/ManageIQ/manageiq-ui-classic/issues/153.

Thanks @dclarizio 😊

[2017-01-13 21:20] dclarizio commented on #13391
@niyazRedhat I tried to recreate this on master and do not get that error.  Can you try again and let me know?  Thx, Dan

[2017-01-14 09:27] sksaddamhussain commented on #13328
Dear Carbonin,
I was able to configure standby server successfully. Thanks alot for help.

[2017-01-14 09:46] isimluk commented on #10344
Thanks a lot @PanSpagetka !

[2017-01-16 04:01] furlongm commented on #13390
Should the LDAP groups be autocreated in Miq? If so, they are not.

If they are not autocreated, I created a group with the same name as one of the users LDAP groups, and assigned it a role in Miq. Is this how it should work?

[2017-01-16 10:57] kruge002 opened #13504 "Error: MiqProvisionRequest is not a subclass of MiqProvisionRequest"
(Euwe) Once in a while we see the following error on screen when submitting a provisioning request:

![screenshot](https://cloud.githubusercontent.com/assets/23237514/21980195/9464db48-dbe2-11e6-9995-15a58be0705b.png)

evm.log is unclear what could have caused the issue:
[code]

[2017-01-16 12:07] kruge002 opened #13507 "Error due to "scoped" which is deprecated in Rails 4 and removed in Rails 5"
(Euwe) Calling **Tag.all_tags** results in an **error** because the method uses **scoped** which is deprecated in Rails 4 and removed Rails 5.

Euwe uses Rails 5.0.0.1

/var/www/miq/vmdb/app/models/tag.rb

[code]

[2017-01-16 12:21] kruge002 opened #13508 "Calling Tag.tags results in invalid SQL statement"
(Euwe) Calling **Tag.tags** results in the following error in operations.log:
[code]

The following code change solves the issue:

/var/www/miq/vmdb/app/models/tag.rb

[code]

[code]

[2017-01-16 12:39] kruge002 opened #13509 "Changing tag name results in inconsistent data"
(Euwe) When the name of a tag is changed after an object is tagged with that tag, the object appears to be not tagged anymore as shown in the MIQ UI, but in the core Ruby code the object **is** tagged, only its classification is nil. This results in Tag.categorization throwing an error. Referential integrity is not consistent anymore.

After changing the tag name back to the original, the object s

[2017-01-16 12:46] #9052 closed

[2017-01-16 12:47] #10552 closed

[2017-01-16 13:31] carbonin commented on #13328
Okay, great! I'll close this then.

[2017-01-16 13:31] #13328 closed

[2017-01-16 14:20] llhomme commented on #13403
Is there any additional logging that you would like for me to provide? At the moment, I am at a stop without the ldap functionality working.

[2017-01-16 15:04] abellotti commented on #13390
correct, LDAP groups are not autocreated in Miq.  They need to be created with the role assigned as you did before the users can login.

[2017-01-16 15:21] abellotti commented on #13403
Couldn't reproduce this a couple of days ago, but that was targeting an OpenLdap (dn-based user type), I take it you're configuring against an Active Directory with samaccountname ?

/cc @jvlcek if you can kick the tire too when you get a chance ?

[2017-01-16 15:45] jvlcek commented on #13403
@abellotti I think this can be reproduced when no groups are returned for a user. For example when using the Apache Directory Studio's LDAP that does not support the `memberof` virtual attribute. I think the fix is simply going to be to check for an empty group list here:
https://github.com/ManageIQ/manageiq/blob/master/lib/miq_ldap.rb#L378

[2017-01-16 15:47] jvlcek commented on #13403
@llhomme Is there a BZ for this?

[2017-01-16 16:04] martinpovolny commented on #13377
moved here: https://github.com/ManageIQ/manageiq-ui-classic/issues/163

[2017-01-16 16:04] #13377 closed

[2017-01-16 16:13] #12745 closed

[2017-01-16 16:29] #13426 closed

[2017-01-16 16:40] llhomme commented on #13403
We are using active directory for the ldap source and this occurs at the point that we are validating the service account's user credentials. I am in Configuration -> Settings ->ManageIQ Region: -> Zones -> Zone: Default on the Authentication tab. I have provided the base DN, the Bind DN and the Bind password, click "Validate" and receive: Authentication Ldaps: undefined method `each' for nil:NilC

[2017-01-16 16:42] #11954 closed

[2017-01-16 20:52] abellotti commented on #12617
Controller code, sending over to UI team.
/cc @dclarizio

[2017-01-16 22:28] abellotti commented on #11740
Fixed via PR #11558 which was merged.  Closing issue.

[2017-01-16 22:28] #11740 closed

[2017-01-16 22:29] abellotti commented on #11739
Resolved by PR: https://github.com/ManageIQ/manageiq/pull/11562 which was merged. Closing Issue.

[2017-01-16 22:29] #11739 closed

[2017-01-16 22:32] abellotti commented on #6878
This was fixed/merged a while back with PR https://github.com/ManageIQ/manageiq/pull/6892 which was merged.  Closing issue.

[2017-01-16 22:32] #6878 closed

[2017-01-16 22:35] abellotti commented on #11449
Policy CRUD done in PR https://github.com/ManageIQ/manageiq/pull/11505
no CRUD on policy_profiles currently.

[2017-01-16 22:41] simon3z commented on #11449
cc @zgalor

[2017-01-16 23:02] #12536 closed

[2017-01-17 03:09] furlongm commented on #13390
Ok, so the case with Get User Groups and Get Roles checked is not working for me, even after I create the group. I am still investigating this case.

The other case, where Get User Groups and Get Roles is _not_ checked, this also does not work. There are a couple of issues with this case:

1) The dialog for adding ldap bind credentials does not exist unless Get User Groups is checked. We need to a

[2017-01-17 09:52] cepedajc commented on #13135
Hi everyone,

I'm facing similar issue with latest ManageIQ release (euwe-1) when trying to connect an Openstack resource using Keytone v3. I'm unable to connect MIQ to it using V3 (required as I'm using multi-domain/tenant feature).
From what I saw until now, V3 require Domain ID/name **and** Project ID/name as mandatory fields in request form. It results a credential error falsely reported (erro

[2017-01-17 14:49] hstastna commented on #13195
@dclarizio this issue is partially fixed by https://github.com/ManageIQ/manageiq-ui-classic/pull/142
There is also something else which has to be fixed to fix this issue completely. So probably we need another BZ,

[2017-01-17 15:36] kruge002 opened #13540 "Error after deleting intermediate snapshot"
(Euwe) After deleting an intermediate snapshot of multiple snapshots, clicking on 'Snapshots' within the VM details page has no effect. In production.log the error is seen.

Steps to reproduce the issue:

1. Go to the details page of a VMware VM
2. Click on 'Snapshots' (see screenshot below)
3. Add a snapshot
4. Wait for the completion of the snapshot (refresh details page and observe Snapshots co

[2017-01-17 16:32] aufi commented on #13135
Hi, in ManageIQ __only__ Domain ID should be needed. This strongly depends on Openstack Keystone User configuration. Can you check if the user you are using has an admin role on given domain? CloudForms can do different calls to different services than some basic Openstack CLI commands. That could cause auth failures depending on keystone policy file.

[2017-01-17 20:27] jvlcek commented on #13390
@furlongm  Regarding your first issue:

[code]

This should be working now. There were a few bugs that had recently been fixed that could be impacting your results. What version of MiQ are you using?

Let me know if you'd like my help investigating.

[2017-01-17 20:35] jvlcek commented on #13390
@furlongm Regarding your second issue/sub #1:

[code]

We do not need the :basedn, :bind_dn and :bind_pwd if `Get User Groups and Get Roles` is not check. As per the docs [1], the user object must already be created.

[1] - https://access.redhat.com/documentation/en/red-hat-cloudforms/4.2/paged/general-configuration/chapter-4-configuration

Under section: 4.1.4.2.2 - 5  is found the following:

[c

[2017-01-17 20:41] furlongm commented on #13390
@jvlcek the case with Get User Groups and Get Roles checked is now working. It looks like not all fields of user_proxies were filled in. Removing all manually and re-adding seemed to work (couldn't delete from Authentication tab). I'm on the latest Euwe.

[2017-01-17 20:44] llhomme commented on #13403
From the advanced tab yaml is as follows (account and server names/domain replaced with ******):
Darga is using the same settings, with no issue.

:authentication:
  :basedn: dc=com, dc=***
  :bind_dn: svc_********@***.com
  :bind_pwd: v2:{hXy1ZzJwhe5uRTTiYQftXA==}
  :bind_timeout: 30
  :follow_referrals: true
  :get_direct_groups: true
  :group_memberships_max_depth: 2
  :ldaphost:
  - ********.*

[2017-01-17 21:17] jvlcek commented on #13390
@furlongm Regarding your #2.

I'm running Euwe also.

I can use the `rails console` to directly observe the configuration.

Logged into the appliance on the terminal one can do:

[code]

Then, in the UI, I click on the the `Get User Groups` and `Get Roles from Home Forest` and I can
observe the update with rails console:

[code]

Can you please confirm what you observe using the above commands?

[2017-01-17 21:18] furlongm commented on #13390
I'm not sure why populating from LDAP should be restricted to when Get User Groups is checked?

With PR #13534 , the user does not need to be defined in the VMDB. However, currently `:basedn`, `:bind_dn`, `:bind_pwd` and :ldap_role need to be specified manually in the DB.

[2017-01-17 21:19] jvlcek commented on #13390
@furlongm I don't think anything needs to be solved. I think it operates as documented.
I'd be glad to meet with you to discuss.

[2017-01-17 21:20] jvlcek commented on #13390
@furlongm What you are describing would be a change to the documented behavior.

[2017-01-17 21:35] furlongm commented on #13390
@jvlcek documentation can be updated :)

Seriously though, many web applications that use LDAP as an authentication source do this. I admit I did not see the documentation you refer to and I assumed Miq would operate in this manner and autopopulate from LDAP. Again I'm not sure why populating from LDAP should be restricted to when Get User Groups is checked? I mean, I don't understand the reasonin

[2017-01-17 21:52] abellotti commented on #13380
This enhancement was made in PR #13409 and now merged.  Thanks @jntullo

[2017-01-17 21:52] #13380 closed

[2017-01-17 22:31] abellotti commented on #13139
😢  was thinking this was fixed with #12969 merged, but not I get a different stack trace:

[code]

[2017-01-18 01:22] jvlcek commented on #13390
@furlongm Sorry I must admit I'm not a seasoned LDAP sys-admin. I'll discuss with @abellotti.
PM me an email if you want to be invited to a private discussion about it.

JoeV

[2017-01-18 15:28] h-kataria commented on #13195
upstream BZ for this issue: https://bugzilla.redhat.com/show_bug.cgi?id=1414470

[2017-01-18 15:46] hstastna commented on #13195
BZ for the issue: https://bugzilla.redhat.com/show_bug.cgi?id=1414470

[2017-01-18 16:01] durandom opened #13564 "Staged CI for core and vmdb plugins"
### Staged CI

As we split out providers, UI and other vmdb plugins we are seeing interdependencies of those repos.

Now, I think this is good and intended. Pain is weakness leaving the body. Because we have to remove those interdependencies.

People will create PRs that are green on the respective repo, but once merged turn other repos unintentionally red.

We might consider a staged CI approach

[2017-01-19 00:04] sshveta opened #13575 "Automate submenu is showing under two level of Automation main menu"
As shown in screenshot . There are two Automation main menu and then Automate submenu.
One Automation needs to be removed.
![screenshot from 2017-01-18 16 00 13](https://cloud.githubusercontent.com/assets/3866976/22088286/cece1964-dd97-11e6-8460-6378311956a8.png)

[2017-01-19 11:50] mmojzis commented on #10600
I can't verify it because all the pages except providers are throwing me this error:
undefined method `type_for_attribute' for "MiddlewareDomain":String [middleware_domain/show_list]

[2017-01-19 15:38] blomquisg commented on #13575
@sshveta this is actually by design for the Fine release.

[2017-01-19 15:45] gmcculloug commented on #13504
@kruge002 This usually occurs when running in development mode and making changes to the code which causes the models to reloaded and therefore have a different `object_id`.  Restarting the server is the only way I have found to resolve the issue.

[2017-01-19 15:52] blomquisg commented on #13509
@dclarizio this looks like a UI issue, but I'm not positive.  If it's not, can you reassign to @gtanzillo

If it *is* UI, can you move this issue to `ManageIQ/manageiq-ui-classic`

[2017-01-19 16:36] agrare commented on #13540
Thanks for the bug report @kruge002 !

I was able to reproduce this and I suspect it is a UI issue.

This is the error on `upstream/master`:
[code]

If we look at https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/views/vm_common/_snapshots_desc.html.haml#L5

It is trying to find the previous snapshot that you had selected: `selected_id = Snapshot.find(session[:snap_selected])` but th

[2017-01-19 17:33] #13575 closed

[2017-01-19 19:31] #13403 closed

[2017-01-19 20:04] nachandr opened #13591 "Error generating Chargeback reports when storage fields are added to the report"
I'm unable to generate Chargeback reports when the following fields are added to the report.
I can successfully generate Chargeback reports when other fields are added to the report.
I have seen this issue with SCVMM. I'll test with other providers and update this issue with the results.

Storage Allocated , Storage Allocated Cost

Here's a snippet from evm.log:

[----] E, [2017-01-19T14:57:46.543

[2017-01-20 11:59] mmojzis commented on #13219
I got  undefined method `[]' for nil:NilClass [ems_infra/adv_search_button]  after saving, but that probably is not related to this issue, right?

[2017-01-20 17:19] juliancheal opened #13606 "Make provider generator version numbers variables"
When running the provider generator against an existing provider, the version file will be marked as a clash as the template version https://github.com/ManageIQ/manageiq/blob/master/lib/generators/provider/templates/lib/manageiq/providers/%25provider_name%25/version.rb has the version as static `VERSION = '0.1.0'.freeze`

I propose, (although off the top of my head not sure how) we make this a var

[2017-01-20 17:21] Fryguy commented on #13606
I like this idea :+1:

[2017-01-20 17:23] juliancheal commented on #13606
Great work self, now I have to make a PR 😂

[2017-01-20 18:15] durandom commented on #13606
I like it. [Thor](http://www.rubydoc.info/github/wycats/thor) is used internally and also check the [generator guids](http://guides.rubyonrails.org/generators.html)

[2017-01-20 18:17] juliancheal commented on #13606
Ok, I'll get on it.
![628b747f8ccdfb757062f36a27eedecfc2295f515c0586e05fbfb0620c0571a2](https://cloud.githubusercontent.com/assets/63991/22160283/a437fb56-df3c-11e6-9c04-fc01ed200627.jpg)

[2017-01-20 20:55] dclarizio commented on #13540
This issue was moved to ManageIQ/manageiq-ui-classic#209

[2017-01-20 20:57] dclarizio commented on #13540
@Fryguy @chessbyte please close this issue as I've copied it over to the ui-classic repo.  Thx, Dan

[2017-01-20 20:58] #13540 closed

[2017-01-20 21:00] dclarizio commented on #13509
@gtanzillo I think we need to discuss this before we propose a solution.  Let me know.

[2017-01-20 21:04] dclarizio commented on #13195
@Fryguy @chessbyte per @hstastna comment above, I think this can be closed.  Thx, Dan

[2017-01-20 21:24] dclarizio commented on #12617
This issue was moved to ManageIQ/manageiq-ui-classic#211

[2017-01-20 21:24] dclarizio commented on #12617
@Fryguy @chessbyte please close, issue moved to ui-classic.

[2017-01-22 15:30] moolitayer opened #13614 "Api does limit get actions on subcollection"
Example: remove the following authorization from a test and run it:
[code]
rspec spec/requests/api/instances_spec.rb
[code]
    :load_balancers_subcollection_actions:
      :get:
      - :name: show
        :identifier: load_balancer_show
[code]

[2017-01-22 15:33] moolitayer commented on #13614
@miq-bot add_label bug, api

@imtayadeway @abellotti is this a bug or did I miss understand api.yml again?

[2017-01-23 10:18] mmojzis commented on #10591
Tried with security group and provider was refreshed, so closing it.

[2017-01-23 10:18] #10591 closed

[2017-01-23 15:07] #13195 closed

[2017-01-24 12:40] lpichler commented on #13591
@miq-bot assign @isimluk
@miq-bot add_label bug, chargeback

[2017-01-24 13:32] hstastna commented on #13219
@mmojzis I cannot reproduce your problem, for me adding advanced search expression element in Compute -> Cloud -> Providers works perfectly. The problem you have mentioned is probably somewhere else. Maybe it is good to create a new issue for that.

[2017-01-24 14:33] zakiva opened #13636 "Container Provider page: Volumes icon is black"
Probably following changes introduced in #13222 the Volumes icon is now black. However, We would like to keep consistency with other icons in this page. @epwinchell Can you please take a look?  (I can just change it back to the previous icon we used before the change).

cc @simon3z

![vol_icon](https://cloud.githubusercontent.com/assets/11769555/22250896/736b36a6-e251-11e6-9fd6-d3a4b3173d12.png)

[2017-01-24 14:44] cben commented on #13306
Yeah, the gem looks at `ActiveRecord.columns` and `ActiveRecord#attributes` hash:
https://github.com/FooBarWidget/default_value_for/blob/b53779da/lib/default_value_for.rb#L159-L163
If it's not a real column, the default is always applied.
I'll report upstream and see what they think.

[2017-01-24 18:15] sshveta opened #13643 "Save button does not enable for chargeback rate assigment"
Chargeback Assigments , select any value from dropdown , Save button does not enable.

![screenshot from 2017-01-24 10 15 07](https://cloud.githubusercontent.com/assets/3866976/22260412/ffe583ae-e21d-11e6-8590-734ed1da3216.png)

[2017-01-24 21:47] evertmulder opened #13647 "Starting vnc console not starting with error: No unused ports for proxy."
When using multiple zones, UI zone and provider zone, the VNC connection is proxied from backend to frontend using socat. For every new connection a unused port between 6000 and 7000 is determined. This is failing for a backend with the error: No unused ports for proxy.

The cause is for some reason the system_consoles table has multiple entries for the same port. The routine for finding the next

[2017-01-25 08:32] epwinchell commented on #13636
@zakiva @simon3z We are in the process of converting the summary screens to use font icons . In the future, all icons on this screen will be black. Please close.

cc @himdel

[2017-01-25 09:11] simon3z commented on #13636
@serenamarie125 I thought that all the container-related icons should have been blue.

[2017-01-25 09:20] epwinchell commented on #13636
@simon3z The blue coloring was not done specifically for Containers. Any icons in the summary screens that were also displayed in a quad icons were colored blue because, the way the code was written, we had to use the same icon for all screens. This is no longer the case, now that we are converting from PNGs to font icons and can colorized the font icon using css.

[2017-01-25 09:36] simon3z commented on #13636
@epwinchell what I heard in the past was that color related to containers should have been blue, if you already had blue icons somewhere else it was nice lucky coincidence that made our effort easier.

Anyway maybe things changed or I misunderstood from @serenamarie125, let's wait to hear what's the guideline here.

[2017-01-25 16:42] cepedajc commented on #13135
@aufi Our Openstack is configured to restrict access per scope per project (project-scope). User I've been using since then only have admin access to some project and since ManageIQ API request is domain-scoped, it failed (error 401).  That's the reason why I talked about the Project ID/name. In fact, when using Openstack client and API with v3, both of them require to specify Domain and Project I

[2017-01-25 18:49] Midacts opened #13655 "UI: Latest version does not allow for drag and drop reordering of service dialog elements #1229"
I am also experiencing this same issue as issue #1229.
We are using Cloudforms.  (Settings -> About -Version: 5.6.3.3.20161128141841_49d925b).

I am unable to reorder elements in a service dialog

[2017-01-26 08:55] aufi commented on #13135
Hi @cepedajc, thanks for detailed description. ManageIQ does not require Project ID because it tries autenticate user, list all projects available for him and get auth tokens for all accessible projects.

The ServiceNotAvailable Error can use caused by missing Keystone v3 service or endpoint in Openstack catalog. If it looks to be missing in your Openstack deployment, try

[code]

[2017-01-26 12:40] cepedajc commented on #13135
Hi @aufi, thanks for the answer. Problem was indeed related to keystonev3 service missing. Now ManageIQ seems to work. Only remains the "problem" to use a domain admin account to connect resource.

Thanks again! Problem resolved!

[2017-01-26 14:17] aufi commented on #13135
@cepedajc I'm happy to hear that! The problem with admin role access will most propably persist for some time due to current architecture of the Openstack provider.

[2017-01-26 14:30] abellotti opened #13664 "API service edits should support parent_service references"
While we support specifying parent_id when editing a service via POST /api/services/:id, API should support the parent_service reference signature (href or id)  like it does for create:

Example:
[code]

[2017-01-26 14:50] jshaughn commented on #10987
@prachiyadav I think this can be closed.

[2017-01-26 15:46] dclarizio commented on #13655
@Midacts can you please reopen this on the classic UI repo: https://github.com/ManageIQ/manageiq-ui-classic

[2017-01-26 15:46] dclarizio commented on #13643
@sshveta please reopen on classic UI repo: https://github.com/ManageIQ/manageiq-ui-classic

[2017-01-26 16:36] jcarter12 commented on #13108
This error occurs when a non enterprise level license is used inside on Ansible Tower

[2017-01-26 16:42] hstastna commented on #13262
https://github.com/ManageIQ/manageiq-ui-classic/pull/258 is fixing this issue

[2017-01-26 17:35] sshveta commented on #13643
Opened in classic UI repo

[2017-01-26 17:35] #13643 closed

[2017-01-26 17:54] jshaughn opened #13668 "Timeline shows unwanted detail-level Application events"
The hawkular mw provider generates events for the "live alerting" mechanism it uses to provide MIQ Alert capabilities.  These events should not show up in the timeline but currently do because the event_type is used for both Alert events and real events for the Application event group.

I will fix this and submit a PR...

[2017-01-26 19:49] #13647 closed

[2017-01-27 04:18] #12465 closed

[2017-01-27 16:11] charly37 opened #13678 "LDAP authentication – log OK even if it can reach the LDAP server"
I’m trying to use an LDAP server to authenticate the users in CF. during my test I notice a strange behavior leading to confusion.
It seems that some OK logs are generated even if CF is not able to reach the LDAP server. To reproduce that I set up a wrong port for my ldap server 15423 and then try to log on the UI.
In the “Audit log” section of the UI I have a log which may indicate that the loggi

[2017-01-27 21:31] #11636 closed

[2017-01-30 03:48] gberginc opened #13688 "Managers don't get the GUID"
Prior to fab74b2 cloud managers used to ensure dependent managers (for example network, storage) via `before_validation`. The above commit changed this to `before_create`. The UuidMixin, which is responsible for setting the GUID of a manager was consequently only called on the main (cloud) manager, but not for dependent managers.

Some managers, like CinderManager for volume storage manager, are s

[2017-01-30 22:39] cben opened #13701 "Container SSA serializes activerecord onto miq_queue"
We want to avoid that, right?  cc @kbrock @enoodle
If I read he following mess correctly, the args are `:raw_scan_job_create` followed by a single huge `!ruby/object:ContainerImage`.
[code]

Followed by `jobs` table getting nicer ["target_id", 84], ["target_class", "ContainerImage"]:
[code]

[2017-01-31 11:39] enoodle commented on #13701
cc @moolitayer

[2017-01-31 12:13] moolitayer commented on #13701
@cben can you link the code that is serializing objects on the queue

[2017-01-31 13:30] cben commented on #13701
Not certain, I thought we reviewed it specifically for this aspect...
But perhaps here:
https://github.com/ManageIQ/manageiq/blob/145f779e48f12757d4e880063aa2ff258a1ddeda/app/models/manageiq/providers/kubernetes/container_manager_mixin.rb#L126-L128
[code]
Then `check_policy_prevent` is careful to preserve `self.class.to_s` and `id` in callback, but it also preserves `:args => [*cb_method]`, which

[2017-02-01 10:20] moolitayer commented on #13701
Yeah there's definitely a problem here, created a pr that needs some work.

That cb code is kind of complex and also written in several places. I wonder if we can improve/extract it somehow. Currently it's kind of a mind fuck to follow...

Thanks @cben!

[2017-02-01 10:55] lpichler commented on #13262
thanks @hstastna

[2017-02-01 10:55] #13262 closed

[2017-02-01 15:39] kbrock commented on #13701
thanks @cben yea, we don't want to serialize active record objects.
There is a minor provision in there for "new" active record objects, but even then, would prefer those didn't get in there either

[2017-02-02 10:30] hhovsepy commented on #10333
@pilhuhn @gtanzillo
Still I see this issue on MiQ.
Production log:
[production-log.txt](https://github.com/ManageIQ/manageiq/files/747442/production-log.txt)

[2017-02-02 10:31] hhovsepy commented on #10333
[evm-log.txt](https://github.com/ManageIQ/manageiq/files/747446/evm-log.txt)

[2017-02-02 12:10] hhovsepy commented on #10333
It happens when I add datasource and operation fails.

[2017-02-02 12:13] hhovsepy opened #13740 "Middleware: Add Datasource - several issues"
There are several issues while adding new Datasource on EAP7 server via MiQ.

1. In "Specify Driver" step of adding "Postgres" Datasource, there is a typo in Name field's default value: "postresql". This causes not recognizing driver.
2. While creating Postgres Datasource and choosing already created JDBC Driver, it fails to create, as it uses default name "PostgresDS" no matter what name you type

[2017-02-02 16:18] dclarizio commented on #13668
@blomquisg I have no permissions on this repo, can you close this as it seems the PR fixed this issue?  Thx, Dan

[2017-02-02 16:46] patchkez opened #13744 "Several issues with Configuration Manager [Ansible Tower]"
I started ManageIQ appliance today (master.20170202092052_6d1bdbc) and tried to add Tower provider. I was able to fill in all provider details, validation was successful. When I clicked on "Add" button, it seems provider was added, page did not change and "Add" button became unclickable:
![screenshot-20170202 152440_new](https://cloud.githubusercontent.com/assets/11808967/22558628/a6366352-e96e-11

[2017-02-02 16:57] mkanoor commented on #13744
@patchkez @bdunne
There has been some name changes from ConfigurationManagement to AutomationManagement, this could be related to that.

[2017-02-02 17:11] mkanoor opened #13746 "Migration missing after rename of ConfigurationManager to AutomationManager"
If you already have an AnsibleProvider defined in your system, we get a error.
Do we need a migration script.

![screen shot 2017-02-02 at 12 08 18 pm](https://cloud.githubusercontent.com/assets/6452699/22559850/7f116b9c-e940-11e6-97af-65727972297b.png)

[2017-02-02 17:16] jameswnl commented on #13746
The PR is currently under review https://github.com/ManageIQ/manageiq/pull/13720

[2017-02-02 19:21] bdunne commented on #13744
@jameswnl and @lgalis are working on the move.

[2017-02-02 19:38] jameswnl commented on #13746
PR merged.

[2017-02-02 19:41] jameswnl commented on #13744
The data migration PR #13720 is merged

[2017-02-03 19:14] b-long commented on #5132
I was under the impression that **_PowerUserAccess_** (AWS Managed policy) was the permission policy required.

[2017-02-06 00:21] furlongm opened #13764 "undefined method `with_interval_and_time_range'"
Seeing this error on Euwe:

[code]

Does this commit need to be backported to Euwe?

https://github.com/ManageIQ/manageiq/commit/a89af161690f34a0f8eb12d3823e19d40919c86a

[2017-02-06 12:23] hstastna commented on #13219
@mmojzis any news about this issue?

[2017-02-06 12:27] gaetanquentin commented on #12976
Any news about this problem?

It eats all cpu/ram (10 GO...) and takes a very long time.

[2017-02-06 12:44] dmetzger57 commented on #12976
I do not at the moment, will followup later this week. Can you provide an evm.log that includes the time period?

[2017-02-06 13:10] dmetzger57 commented on #12976
I dropped the ball on this one somewhere after initially looking at it, putting it at the top of my list to (re)triage now.

Dennis Metzger
Engineering Supervisor - Performance and Scalability

[2017-02-06 13:16] kbrock commented on #12976
@gaetanquentin did you add a customized method for this?

[2017-02-06 18:15] dclarizio commented on #12617
@Fryguy @chessbyte ^^^

[2017-02-06 21:07] lfu commented on #12976
@gaetanquentin How many VM instances are there in the DB?

[2017-02-06 21:43] imtayadeway commented on #13139
@abellotti I can't reproduce this locally. Do you have a VM with the name `ManageIQ` by any chance?

[2017-02-06 22:01] gmcculloug commented on #12976
@mkanoor Please sync up with @kbrock on this issue.  Thanks.

[2017-02-06 22:35] abellotti commented on #13139
Not currently.  I had to reset my DB a week or so ago.

On Mon, Feb 6, 2017 at 4:43 PM, Tim Wade <notifications@github.com> wrote:

--
*Alberto Bellotti*
abellott@redhat.com

[2017-02-07 09:51] gaetanquentin commented on #12976
@kbrock
no : i have the same problem  with a blank MIQ than CF 4.1/4.2 (we have MIQs for labs en CF for production environment)

[2017-02-07 14:49] Midacts commented on #13655
Sure thing.
Thanks for the reply.

[2017-02-07 14:49] #13655 closed

[2017-02-07 15:12] mkanoor commented on #12976
@gaetanquentin
Can you post your Automate Method that is doing the tagging?

[2017-02-07 15:44] chalettu opened #13790 "Set services retired column to false by default"
This request is to ensure that we set the retired DB column to false by default for services.  We will need the data migration + default_value_for in the Services model

[2017-02-07 15:44] chalettu commented on #13790
@miq-bot assign @imtayadeway

[2017-02-07 15:51] chessbyte opened #13792 "ImportFileUpload model is tightly coupled to UI"
In https://github.com/ManageIQ/manageiq/blob/master/app/models/import_file_upload.rb#L17-L18, the `:status` and `:status_icon` keys should be replaced with a boolean `:exists` and the UI can infer the `status` and `icon` from that -- as is done in the model today.  Removing this and related code in model and specs will uncouple the code, thus preventing failures such as this one: https://travis-ci

[2017-02-07 15:52] chessbyte commented on #13792
/cc @gmcculloug @Fryguy

[2017-02-07 15:56] chessbyte opened #13793 "AutomateImportJsonSerializer model is tightly coupled to UI"
In https://github.com/ManageIQ/manageiq/blob/master/app/models/automate_import_json_serializer.rb#L14 and 2 other places in the same file, the `:image` key should be replaced with `:image_type` (containing one of 'ae_domain', 'ae_namespace', or 'ae_class') from which the UI can calculate and the image location.

[2017-02-07 15:57] chessbyte commented on #13793
/cc @gmcculloug @Fryguy

[2017-02-07 15:58] chessbyte commented on #13764
/cc @blomquisg

[2017-02-07 18:13] pyther opened #13798 "VNC consoles not supported on VMware ESXi 6.5"
I could not get the VNC console to work on 6.5 hypervisors, but had no problem with esxi 6.0 hypervisors. I started digging into this and noticed that the 6.5 hypervisor was not listening on any VNC ports.

ESXi 6.5
[code]

ESXi 6.0
[code]

At this point this appears to be a VMware issue. I contact their support and after some back and forth got this response.

Are there any plans to support the V

[2017-02-07 19:00] skateman commented on #13798
@miq-bot assign @skateman

[2017-02-07 19:05] skateman commented on #13798
I can help with the HTML console part for sure, added to my list!

[2017-02-07 19:43] pyther commented on #13798
Not sure if you've played with the vmware web consoles, but turns out this is super easy.
[code]
When ran will return
[code]

And popped into a web page using the html client sdk
[code]

[2017-02-07 20:45] dclarizio commented on #13744
@chessbyte shouldn't this be moved to ui-classic?

[2017-02-08 08:53] gaetanquentin commented on #12976
@mkanoor
it is the standard one

[2017-02-08 08:55] gaetanquentin commented on #12976
FYI i have deactivated all C & U Collection  things  and the problem gone away and it is faster (but slow yet ) , and the memory is no more completely eaten.

[2017-02-08 09:10] Ladas opened #13806 "Unifying a way of indexing our tables that are related to Provider entities"
We need to start using unified way of indexing as a first step towards DB unique indexes. Each of our table should have:

1)
1.1) manager_ref -> an identifier inside of the provider, does not have to be unique since this can be a complex key, like stack resource will have [:manager_ref, :stack_id], where manager ref of the resource is unique only under a stack. So main usecase for this one is for

[2017-02-08 09:47] durandom commented on #13806
### Manager vs EMS

In the beginning there was ExtManagementSystems - short EMS.
And most objects have and `ems_id` - which is the rails internal id for the ems that the object is linked to via `belongs_to :ems`

And we saw it was good.

But then came the managers. Now every manager inherits from ExtManagementSystem. And technically they live in the same db table. But we are shifting the wording f

[2017-02-08 09:47] durandom commented on #13806
Cant we just assume and require that a `manager_ref` should always be uniq in the scope of a `manager_id`?  Wouldnt that take away the pain of having 1.2 `manager_ref_uuid`?

[2017-02-08 16:14] mkanoor commented on #12976
@gaetanquentin
Do you have multiple appliances with different roles, we typically don't recommend running C&U and Automate on the same appliance for performance issues.
Also could you give us what the workflow is for tagging the hosts. Is this happening during the provisioning workflow.
The name of the method doing the tagging would help us debugging.

[2017-02-08 16:35] Ladas commented on #13806
@durandom right, let me try to explain what I mean with *manager_ref vs manager_uuid*

In the ansible example a unique key in the db [:configuration_script_source_id, :name]

but since we do STI, some other provider could come (happens in cloud) and say: "But my unique key is [:configuration_script_source_id, :name, :version]"

doing this change in the db would affect all the other providers

so w

[2017-02-09 05:25] furlongm commented on #13764
Confirmed that applying https://github.com/ManageIQ/manageiq/commit/a89af161690f34a0f8eb12d3823e19d40919c86a fixes the issue for me.

[2017-02-09 06:15] furlongm opened #13831 "[NoMethodError]: undefined method `base_class' for NilClass:Class Method:[rescue in block in update_relats_by_ids]"
Got the following error in euwe. Possibly related to a VM that was moved from one folder to another in VMware?

[code]

[2017-02-09 12:57] patchkez commented on #13744
@lgalis I am still getting errors when refreshing Tower provider on latest upstream appliance. Was this issue fixed or is it still WIP?

[2017-02-09 14:35] romanblanco opened #13839 "Issue on Clouds Stacks page"
Getting error, when trying to navigate to *Compute* → *Clouds* → *Stacks*:

[code]

![screenshot from 2017-02-09 15-33-54](https://cloud.githubusercontent.com/assets/1187051/22787611/34a45ee6-eedd-11e6-87e0-055548b920ca.png)

[2017-02-09 15:07] blomquisg commented on #13839
@jameswnl a migration is needed to rename the ConfigurationManager type to AutomationManager.

[2017-02-09 15:16] agrare commented on #13831
Oh interesting, what version are you using?  On upstream/master that line is actually the folder disconnect proc so maybe a folder got moved/deleted?

[2017-02-09 16:24] Ladas opened #13844 "Broken Service Orchestration deployment with uninitialized constant #<Class:0x00000001ea8a20>::MiqAeMethodService (NameError)"
Trying this on CloudFormation but this probably breaks all stack deployments.

[code]

the code problematic code is in

https://github.com/Ladas/manageiq-content/blob/c58869b3df94462cc23996181efab64bfbefaaa5/content/automate/ManageIQ/Cloud/Orchestration/Provisioning/StateMachines/Methods.class/__methods__/check_provisioned.rb#L25-L25

the Drb can't access MiqAeMethodService::MiqAeServiceServiceOrc

[2017-02-09 16:41] jameswnl commented on #13839
@romanblanco Have you run migration? Did you see any migration log from #13720 ?

[2017-02-09 18:28] chriskacerguis opened #13848 "tools/feature_support_matrix.rb provide inaccurate information"
The tools/feature_support_matrix.rb script should be updated to indicate that the information could be wrong and/or it requires SupportsFeatureMixin for it to show up.  Ideally, maybe a 3rd indicator would be good showing that there is not SupportsFeatureMixin for that particular line item.

[2017-02-09 18:28] chriskacerguis commented on #13848
@miq-bot add_label providers, bug

[2017-02-09 22:10] furlongm commented on #13831
Latest euwe. You're right, a folder also got deleted.

[2017-02-09 22:18] agrare commented on #13831
Okay great, just wanted to make sure your line numbers were the same as what I was looking at.

I'll try to reproduce this, thanks for the bug report!

[2017-02-10 07:35] #2389 closed

[2017-02-10 07:38] romanblanco commented on #9628
Closing issue, can't reproduce anymore

[2017-02-10 07:38] #9628 closed

[2017-02-10 07:42] #12926 closed

[2017-02-10 15:12] romanblanco commented on #11503
BZ related to this issue:
https://bugzilla.redhat.com/show_bug.cgi?id=1408478

[2017-02-10 18:39] jrafanie commented on #13508
This should be fixed by #13766, please re-open if it's still not fixed after that PR is merged.  Thanks!

[2017-02-10 18:39] #13508 closed

[2017-02-10 21:36] bzwei opened #13875 "Ansible Tower job template created with wrong extra_vars"
when passing the following example in the options
[code]
the extra_vars field in the job template turns out to be
[code]

[2017-02-10 21:38] bzwei commented on #13875
@miq-bot assign @bdunne
cc @syncrou

[2017-02-10 21:53] bdunne commented on #13875
@bzwei Was this done through [create_in_provider](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/ansible_tower/automation_manager/configuration_script/api_create.rb#L3) or directly through the gem?

[2017-02-10 21:59] bzwei commented on #13875
`create_in_provider`

[2017-02-10 22:19] #13139 closed

[2017-02-13 14:40] pilhuhn commented on #10333
@miq-bot assign @cfcosta
Caina please have a look

[2017-02-13 14:53] cfcosta commented on #10333
On it.

[2017-02-13 16:54] fvillain opened #13888 "Create index for performance amelioration on database"
After a load average incident on our appliance we applied those indexes on the `vmdb_production` database :

[code]

It would be great if those could be integrated by default in the appliance.

Thanks

[2017-02-13 19:22] bdunne commented on #13875
I think `create_in_provider` needs to ensure that the extra_vars are a JSON string before sending it across.

[2017-02-13 19:33] cben opened #13892 "perf_rollup_queue fails on archived pod"
Log has "ContainerGroup#my_zone delegated to ext_management_system.my_zone, but ext_management_system is nil" messages e.g.:
[code]

Saw it several times on manageiq-img-scan, not sure if significant.
The pod is archived — has `deleted_on`, no `ems_id` but has `old_ems_id`.
See also byebug with fuller stack trace: https://gist.github.com/cben/7f8507c5e91a49878e3cdbfdbf4c17eb

@zeari @yaacov @simon

[2017-02-13 19:54] yaacov commented on #13892
see: https://github.com/ManageIQ/manageiq/pull/13686

[2017-02-13 19:59] agrare commented on #13831
@furlongm so I don't think that this is causing any errors, just the log message.  I wrote a spec test that triggers this case https://github.com/ManageIQ/manageiq-providers-vmware/pull/12 and it still passes, the relationship is removed correctly.  Do you see any issues in your environment other than the error in the logs?

[2017-02-13 21:02] furlongm commented on #13831
Just the error in the logs.

[2017-02-13 21:44] bzwei commented on #13875
Yes, it works when we pass in a JSON.

[2017-02-13 21:44] #13875 closed

[2017-02-13 22:27] #13790 closed

[2017-02-14 08:58] durandom opened #13901 "uninitialized constant MiqServer::WorkerManagement::Monitor::Validation::Reason"
looks like https://github.com/ManageIQ/manageiq/pull/13805 introduced an error when validating a worker:

[code]

Sorry, I could not easily follow what's included and extended in that area, but I guess you have to specify the FQCN here, because you `include_concern` which does not include the constants nor the modules?!

[code]

@miq-bot assign @jrafanie

[2017-02-14 10:37] himdel opened #13905 "vim_performance_operating_range: can't dup NilClass"
For *some* VMs, when you do

`vm.cpu_usagemhz_rate_average_high_over_time_period`, you get..

[code]

(because `values` is `nil`).

[2017-02-14 10:39] himdel commented on #13905
(for me, an affected vm is "windows 2012" with id=10000000000715)

I can provide more info if you tell me what :)

[2017-02-14 15:33] abellotti commented on #12533
fixed with https://github.com/ManageIQ/manageiq/pull/13697

[2017-02-14 15:33] #12533 closed

[2017-02-14 15:34] jrafanie commented on #13901
Thanks @durandom, I'll take a look.

[2017-02-14 17:48] durandom opened #13920 "provider and plugins setup/update"
1. should `bin/setup` in plugins / providers also setup the db?
2. should `bin/update` in plugins / providers also run db migrations?
3. should the test db something else than `vmd_test` to make it independent of miq core?

cc @djberg96 @bdunne

[2017-02-14 17:49] durandom commented on #13920
@miq-bot assign @durandom

[2017-02-14 17:58] djberg96 commented on #13920
@durandom For 1 and 2, definitely agree.

For 3, as long as we're only testing the specs for the provider repo, I'm ok.

[2017-02-14 18:13] #13901 closed

[2017-02-14 18:19] mmojzis commented on #13219
Yes, it works. Closing.

[2017-02-14 18:19] #13219 closed

[2017-02-14 19:41] jrafanie commented on #13848
@chriskacerguis Sorry, I haven't run this script before, can you provide an example workflow showing inaccurate information?  I don't understand the issue.

[2017-02-14 20:12] bdunne commented on #13920
@durandom for 1 & 2 I assume you're referring to `vmdb_test`, correct?
3. Why?  It should use the same schema as miq core.

[2017-02-14 20:32] durandom commented on #13920
Yes, no other schema is used by the plugin. Unfortunately you can't even connect to the rails console (https://github.com/ManageIQ/manageiq-providers-amazon/issues/5)

One reason could be, that you have several schema versions, the plugin being older or newer? But yeah, I guess thats a contrived situation.

[2017-02-14 20:37] durandom commented on #13920
Btw, my current approach to running specs is this:

Have miq cloned into `~/src/manageiq`
Have all plugins cloned into `~/src/manageiq/plugins`
Have all plugins overriden with:
[code]
Then run the specs from the miq root checkout via
[code]

This has the benefit of
* not needing to symlink or checkout `spec/manageiq`
* having all plugins under one project (~/src/manageiq)
* easy to grep across cor

[2017-02-14 20:49] jrafanie commented on #13888
@dmetzger57 please review

[2017-02-15 01:03] #13792 closed

[2017-02-15 09:51] yaacov opened #13924 "Reports on metrics data always return zero"
**Description**
I do not know if it is the expected behaviour or a bug.

On current master (15 Feb)
a. when doing reports with missing metrics i get a report with zeros.
b. when making report with valid non-zero metrics i get a report with zeros.

Two weeks ago the behaviour was:
a. when doing reports with missing metrics i get a report with empty data.
b. when making report with valid non-zero me

[2017-02-15 09:56] yaacov commented on #13924
@miq-bot add-label providers/containers, performance

@simon3z @moolitayer @zeari @kbrock @gtanzillo please help.

[2017-02-15 09:58] yaacov commented on #13924
cc// @cben

[2017-02-15 10:13] evenit opened #13925 "[RFE] Allow for retirement based on date and time or delay"
When setting future retirement on service or VM, the effective retirement happens on the specified date at 00:00 GMT. This behaviour is a bit limited and would gain being extended to handle delays or date and time.

When one wants to preset retirement on a service or VM, he clicks on Lifecycle > Set retirement date,
 then specifies a date in the date picker and save. Then the service or VM is reti

[2017-02-15 11:57] skateman commented on #10794
This was fixed by https://github.com/ManageIQ/manageiq-ui-classic/pull/63

[2017-02-15 11:57] #10794 closed

[2017-02-15 14:28] cfcosta commented on #10333
Hello, @hhovsepy!

I did some research and tried to replicate your error locally with no success. Some resources point that this error is common on websocket connections/actioncable, and we did a change to increase the amount of database connections available for them. Given that your issue is older than this change, can you check if it was fixed by f85a88d3? It was applied on master on Nov 22, so

[2017-02-15 15:37] albertocrj opened #13929 "Problems to get relationships from vmware"
![screenshot from 2017-02-15 16-19-50](https://cloud.githubusercontent.com/assets/10518887/22989190/168f93f8-f39c-11e6-9d62-e66176900b02.png)
vcenter 6
Manageiq Euwe-1

I was able to add my vmware into my manageiq, but I receive no data to "relationships".

[code]

Double checked my user permissions in vcenter and seems to be ok. I also tested in the previous version(darga) and everything works fi

[2017-02-15 16:18] yaacov commented on #13924
looking at old versions things behave the same way :-(
closing, and looking for the problem in my code.

[2017-02-15 16:18] #13924 closed

[2017-02-15 16:19] agrare commented on #13798
@pyther so things are moving along!  We've added the new `AcquireTicket` method to our vmware web services gem, and added the webmks console ticket method to the vm model.  Once we expose this through the UI it should be complete!

[2017-02-15 21:00] bdunne opened #13935 "Problems with `with_provider_connection` and authentication validity"
When calling `with_provider_connection` and the authentication is marked invalid in our database, a block is yielded to the caller and the authentication status is not updated even if the yielded connection is valid and useful.

I was expecting `with_provider_connection` to raise if the authentication is not valid or the authentication status to be updated upon successful connection to the provide

[2017-02-15 21:32] christx2 commented on #6479
Just wanted to see if the Schema and provider has been agreed on finalisation, I'd like to capture what workflows we can do and capture into the database. Thanks!

[2017-02-15 23:02] chrisarcand commented on #7553
@miq-bot add_label wip

[2017-02-15 23:03] chrisarcand commented on #7553
@miq-bot remove_label wip

[2017-02-16 09:44] Ladas commented on #6479
@christx2 yeah, the models should be final, so far it fits all the Cloud providers we have. Only NetworkGroup model is not shown in the UI, but it is used only by a Nuage provider now, it's interchangeable with CloudNetwork model, used by others.

Let me know if this fits your needs, we've been testing that dual stacking worked for OpenStack, when designing this. If you'll need something more, we

[2017-02-16 16:38] #13793 closed

[2017-02-17 10:05] fvillain opened #13958 "DRB error : connection timeout"
Hi,

We got an error with DRBd that doesn't start with the appliance, i got the following logs :

[code]

@jrafanie looked it up, and It looks like the server process was failing when trying to sync_workers for one of the worker classes, possibly for the cinder/swift providers. For some reason, calling authentications on the provider are nil instead of being an empty array since it's Rails relatio

[2017-02-17 10:18] fvillain commented on #13958
Forgot to say : it happened on `euwe-1` version if that's usefull

[2017-02-17 14:13] jrafanie commented on #13958
Thanks for reporting this @fvillain!  @blomquisg @Ladas Can you take a look?  I'm not quite sure where to start understanding why the `authentications` relation is returning nil instead of an empty AR relation.  Thanks.

[2017-02-17 15:03] Ladas commented on #13958
@jrafanie In cloud, other managers delegates to CloudManager for authentication. So if the .parent_manager association is missing, .authentications will return nil.

[2017-02-17 15:24] jrafanie commented on #13958
Good find @Ladas.  I thought we had `ensure_managers` to prevent that from happening.  I'd imagine we shouldn't delegate to something that might not be set, so we either prevent it from happening via something like `ensure_managers` or we need a hack proxy or something that do the right thing.

[2017-02-17 20:43] jrafanie commented on #13958
@Ladas I opened #13976 so the server doesn't die when worker classes `sync_workers` blows up.  I'll leave this issue open so we can fix the various `sync_workers` blowing up in the first place.

[2017-02-20 08:53] Ladas commented on #13958
@jrafanie the ensure_managers had a side effect, that could be actually causing this. When deleting the managers, the running refresh would re-add managers without the parent manager. So now, the ensure_managers runs only on create.

[2017-02-20 14:16] #3979 closed

[2017-02-20 14:16] mfalesni commented on #9130
Haven't seen that recently

[2017-02-20 14:16] #9130 closed

[2017-02-20 14:27] blomquisg commented on #5741
According to @oourfali this issue is fixed

[2017-02-20 14:27] #5741 closed

[2017-02-20 19:07] carbonin commented on #13958
This issue also seems to be causing this BZ https://bugzilla.redhat.com/show_bug.cgi?id=1417171

In this case we were calling `sync_workers` from the monitor code rather than at start up. This had the effect of preventing the server from starting workers such as the UI worker.

After @jrafanie's change I see the following in the logs:

[code]

[2017-02-20 19:49] ITD27M01 opened #13989 "Cannot start apache process on MIQ Appliance for euwe"
After updating OS trough yum update I get the error to connect to web interface of MIQ Server. After investigation I found this errors:

[root@srv-os-cfme01 ~]# grep denied /var/log/audit/audit.log
type=AVC msg=audit(1487618928.643:108): avc:  denied  { open } for  pid=11834 comm="httpd" path="/var/log/manageiq/apache/miq_apache.log" dev="dm-5" ino=50331779 scontext=system_u:system_r:httpd_t:s0 tc

[2017-02-20 20:02] jmsleiman opened #13990 "`provider_region` required for adding a Provider but is undocumented"
My team is working on integrating the ManageIQ API. We noticed that to add a Provider (following the instructions [here](http://manageiq.org/docs/reference/latest/api/reference/providers#creating-providers)) it's necessary to provide some fields; however we kept getting errors regarding a missing Regions.

After a lot of probing and looking at the web app, we realized there's an undocumented JSON

[2017-02-20 20:28] dmetzger57 commented on #13888
@kbrock here's the index issue we spoke about, please review

[2017-02-21 11:00] ITD27M01 commented on #13989
SElinux policy updated to selinux-policy-targeted-3.13.1-102.el7_3.13.noarch

[2017-02-21 19:15] ITD27M01 opened #14003 "ERROR messages in evm.log during OpenStack provider refresh for OS installation without SWIFT (for euwe)"
I get the error during refresh OpenStack provider that does not have swift installation.

[----] E, [2017-02-21T16:31:49.571410 #14034:5a7134] ERROR -- : MIQ(ManageIQ::Providers::StorageManager::SwiftManager::Refresher#refresh) EMS: [openstack.example.com Swift Manager], id: [2] Refresh failed
[----] E, [2017-02-21T16:31:49.572913 #14034:5a7134] ERROR -- : [NoMethodError]: undefined method `name'

[2017-02-21 20:01] ITD27M01 opened #14005 "Flavor synchronization error during OpenStack (v3) provider refresh (for euwe)"
During provider refresh I get the error 404 Not Found for flavor with uuid ID:

[----] E, [2017-02-21T16:31:54.504032 #14004:5a7134] ERROR -- : <Fog> excon.error     #<Excon::Error::NotFound: Expected([200, 203]) <=> Actual(404 Not Found)
excon.error.response
  :body          => "{\"itemNotFound\": {\"message\": \"Flavor 2 could not be found.\", \"code\": 404}}"
  :cookies       => [
  ]
  :header

[2017-02-22 15:37] theute opened #14021 "Differences between EAP6 and EAP7 servers display"
See the image below, the EAP6 servers and EAP7 servers are freshly unzipped with the agent and then run like:
sh jboss-eap-6.4/bin/standalone.sh -Djboss.socket.binding.port-offset=100 -b 0.0.0.0 -Djboss.server.name=jboss.server.name.eap6
sh jboss-eap-7.0/bin/standalone.sh -Djboss.socket.binding.port-offset=200 -b 0.0.0.0 -Djboss.server.name=jboss.server.name.eap7

![image](https://cloud.githubuser

[2017-02-22 17:27] theute commented on #14021
<mazz> I know why feedIDs are differrent
* aerobot (~nodebot@ec2-23-23-20-99.compute-1.amazonaws.com) has joined
<mazz> WildFly 10+ introduced the WildFly UUID (all wildflys get assigned these UUIDs)
<mazz> we use those UUIDs for the feedID
<mazz> however, because older version of W ildFly (and hence EAP6) do NOT have UUIDs (that was only a new feature added in later versions)
<mazz> we have to pi

[2017-02-23 13:23] agrare commented on #13929
@albertocrj this sounds like the issue fixed here https://github.com/ManageIQ/manageiq/pull/13706
Can you try the euwe branch or cherry-pick https://github.com/ManageIQ/manageiq/commit/6f261f425c79661370e8a411ea1eb1fb998c055d and see if that fixes your issue?

[2017-02-23 15:56] tzumainn commented on #14005
@ITD27M01 would it be possible to show the output of 'nova list'?

[2017-02-23 16:25] durandom commented on #13848
@chriskacerguis the script provides accurate information, as it just iterates over all classes that implement the `supports_feature` API. So, it always reflects reality (for what it is the reality of the API)

Not all features are migrated to use this API though, this is an ongoing effort.
I'm trying hard to make sure that only complete refactorings are done.

If that makes sense, could you please

[2017-02-23 16:26] Ladas opened #14050 "Non performant list of templates for a provisioning"
kbrock so this originates in templates list, when I select 1 templates and choose provision VM.

With 70k templates this was doing 70k SQL queries, so it took like 8 minutes to load the VM provision workflow page.

But for 70k images, each :include takes about  6s to load, which results in like 30s and then create_hash_struct_from_vm_or_template take 1ms, so 70s for 70k templates.

So this still t

[2017-02-23 18:16] kbrock commented on #14050
At a high level, If the collection were passed into `create_hash_struct_from_vm_or_template`, then `select` with virtual attributes could be used and the number of queries/data downloaded would be reduced significantly. See [[comment ref]](https://github.com/ManageIQ/manageiq/pull/13833#issuecomment-278715995) for more details.

[2017-02-24 09:09] niyazRedhat opened #14061 "SmartState Analysis is not working on Hosts"
Description: - After performing SmartState Analysis on Hosts it appears under task but continues showing a running state and It never gets completed.

Steps to Perform: -
  1.Add VMware vSphere Provider
  2.Add host credentials and Perform SSA on Host.
  3.Go to Task ->All Other Tasks

Version master.20170224015915_c96e6a3

![miq](https://cloud.githubusercontent.com/assets/17430228/23297282/f2848f

[2017-02-24 09:13] isimluk opened #14062 "Cannot route ContainerProject#perf_rollup after it was #disconnect_inv"
## Problem
The ContainerProject#disconnect_inv sets `evms_id` to nil. ContainerProject#perf_rollup_queue needs to know the ems_id to tell where to route rollup task.

## Traceback
[code]

## Relates to
https://github.com/ManageIQ/manageiq/pull/6856

[2017-02-24 10:38] isimluk commented on #14062
https://github.com/ManageIQ/manageiq/pull/13686

[2017-02-24 13:53] isimluk opened #14064 "Traceback during openshift refresh"
## Traceback
[code]

More info TBD.

[2017-02-24 15:56] gmcculloug commented on #13844
Fixed in https://github.com/ManageIQ/manageiq-content/pull/42

[2017-02-24 16:08] #10313 closed

[2017-02-24 19:48] romanblanco commented on #8502
Updated list:

[code]

[2017-02-27 07:42] #13844 closed

[2017-02-28 07:58] isimluk opened #14089 "Possible errors in Jobs -> MiqTask migration"
A db migration from #13452 may yield errors (depend on data).

Job.message is `TEXT`.
MiqTask.message is `VARCHAR(255)`

We cannot put long TEXT into VARCHAR(255).

Note that we sometimes put traceback to `Job.message`. So, we store long strings in Job.message. That leads to errors like:
[code]

[2017-02-28 09:30] LorkScorguar commented on #11924
Hi,

Do anyone have infos on this issue? I'm still experiencing it.

[2017-03-01 09:46] yulilong commented on #13166
@miha-plesko  How do you solve this problem?
I need to help. thank you.

[2017-03-01 09:53] miha-plesko commented on #13166
@yulilong in my case it was just that I've mistakenly pulled master from my `origin` and not from `upstream`. Just do:
[code]
Worked for me 😄

[2017-03-01 10:45] pemcg commented on #11692
@blomquisg @Fryguy This would be great, but I think we need to fix https://github.com/ManageIQ/manageiq/issues/9642 first.

`grep 'Complete - Timings' evm.log` shows the problem, the Benchmark.realtime_block time counters for the same worker PID only ever seem to increment and are not zeroed

[2017-03-01 15:05] Fryguy commented on #14089
Fixed in #14100

[2017-03-01 15:05] #14089 closed

[2017-03-01 16:33] gaetanquentin opened #14118 "On CF 4.2 docker, cliking on Settings/database tab/VMDB/utilization goes into infinite loop"
On CF 4.2 docker, cliking on Settings/database tab/VMDB/utilization goes into infinite loop: showing animated wait icon, all is grey.

In evm.log:

[----] I, [2017-02-21T14:14:00.818288 #410:565130] INFO -- : MIQ(ManageIQ::Providers::Vmware::InfraManager::EventCatcher::Runner#filtered?) EMS [{vcenter}] as [svc_cloudforms] Skipping caught event [UserLogoutSessionEvent] chainId [15938007]
[----] I,

[2017-03-01 20:47] #13664 closed

[2017-03-02 02:27] yulilong commented on #13166
@miha-plesko Thank you for your answer

[2017-03-02 15:19] #10817 closed

[2017-03-02 16:34] roliveri commented on #14061
@gmcculloug This is host SSA. Should it be assigned to someone in GregB's group?

[2017-03-02 17:45] albertocrj commented on #13929
@agrare You're right, I tried the lastest euwe version and the problem seems to be fixed.

I think that you can go ahead and close this issue.

[2017-03-02 17:46] agrare commented on #13929
Awesome thanks for confirming @albertocrj !

[2017-03-02 17:46] #13929 closed

[2017-03-02 18:20] agrare commented on #14061
@niyazRedhat so it looks like it got to refreshing the logs which uses the broker and does have a rescue block for a timeout.
Can you try to run `Host.find_by(:name => "cfme-esx-55-01.cfme.lab.eng.rdu2.redhat.com").scan_from_queue` from the rails console and see if that completes?

[2017-03-03 08:02] durandom opened #14154 "STI not working correctly with subclasses across providers"
[code]

But it should be true?!

[Here](https://github.com/rails/rails/blob/dd7d5b7c800b4f6d32747913fc7c8d00ce94f03a/activesupport/lib/active_support/core_ext/class/subclasses.rb#L34) Rails compares with `>` which breaks it.

Whats even the difference between `subclasses` and `descendants` ?

My Problem is
[code]

[code]

Maybe this can help?
https://github.com/rails/rails/pull/19531

@miq-bot ass

[2017-03-03 08:17] durandom commented on #14154
please note, it's not a blocking problem yet, because I can
[code]

but...

[2017-03-03 15:51] chrisarcand commented on #14154
`subclasses` == `direct_descendants` (direct subclasses)

`descendants` are what you think they are, including subclasses of subclasses.

Nope, the result is what I would expect :)

[2017-03-03 17:27] durandom commented on #14154
@chrisarcand yeah, thanks. Now the difference makes sense...

But still, why cant I do

[code]

Shouldnt the mixin check descendants?!

[2017-03-03 20:05] chrisarcand commented on #14154
It does; Authentication calls AuthUseridPassword [here](https://github.com/manageiq/manageiq/blob/23e935e625997ded505d1b013a1ae62c2669da74/app/models/authentication.rb#L2-L9) which causes your error. I'm not sure why this is architected how it is but are you sure you're using this API as it's intended to be used? cc/ @Fryguy

[2017-03-03 20:14] chessbyte commented on #6259
@martinpovolny I see a lot of merged PRs for this issue.  Is there a way to track how many remain to be converted and what completion percentage is?

[2017-03-03 20:18] durandom commented on #14154
Ah, damn, now that you say, I remember I stumbled across this when doing the Authentication / Credential stuff...

sorry for stirring up stuff.

[2017-03-03 20:18] #14154 closed

[2017-03-04 21:47] romanblanco commented on #6259
@chessbyte AFAIK, @vecerek has already finished or maybe missing last PR with toolbar buttons conversion

[2017-03-05 01:02] vecerek commented on #6259
@chessbyte the last 3 toolbar buttons remain to be converted

[2017-03-05 18:00] moolitayer opened #14186 "Keep > 1 miq_alert_status per (miq_alert, target)"
Currently it seems a (miq_alert, target) pair can have at most one instance of miq_alert_status:
https://github.com/ManageIQ/manageiq/blob/b29ce5e9167c0c73995b9fbde9e15e16273d8f9e/app/models/miq_alert.rb#L202

The `result` of such an alert can be either true (=== last time evaluation was true and actions where done) or false (=== last time evaluation was false and actions where not done). It seems

[2017-03-06 10:50] niyazRedhat commented on #14061
@agrare, I executed  `Host.find_by(:name => "cfme- esx-55-01.cfme.lab.eng.rdu2.redhat.com").scan_from_queue`
and got following error:
[code]

[2017-03-06 16:51] agrare commented on #13929
@albertocrj FYI this is now in `euwe-2` that was recently released http://manageiq.org/blog/2017/03/Announcing-Euwe-2/

[2017-03-06 17:14] chrisarcand commented on #11681
@miq-bot move_issue manageiq-ui-classic

[2017-03-06 17:14] #11681 closed

[2017-03-06 17:42] blomquisg commented on #13905
@agrare feel free to punt over to @jameswnl if this is purely metrics related ... I saw `vim` in the logs, but realized right after I assigned it that the `vim_performance` stuff is shared by everyone.

[2017-03-06 17:42] Fryguy commented on #13905
I think this is mine...I think this is due to the changes in vpors in #12972 .

[2017-03-06 17:45] blomquisg commented on #13108
@jameswnl can you look at how we can handle this error better?

I suggest two things:

1)  Talk with @syncrou about the Tower Ruby API to see if there's a way to provide a more descriptive error message, and
2)  Talk with @dclarizio to see how the UI would present this error.  It's possible that the back end just needs to be throw the right exception to the front end.

[2017-03-06 17:46] blomquisg commented on #13442
@furlongm sorry it took so long to get back to this issue.  Are you still hitting this problem?

If so, do you have any errors in your logs?  Check in `/var/www/miq/vmdb/log/evm.log`

[2017-03-06 17:50] Fryguy commented on #13905
@himdel Somehow you have a nil values column in vim_performance_operating_ranges.  Maybe this can happen on an upgrade, but I don't think this can happen in regular workflow.  What is the rest of the stack trace (I'm assuming it's during C&U capture)

[2017-03-06 17:51] blomquisg commented on #13102
@Fryguy, @dclarizio I thought we handled the case where the user creates a KeyPair in MIQ.

Is this an OpenStack-specific issue?  Or, is this something that's a problem with all providers?

[2017-03-06 17:54] Fryguy commented on #13102
We do not create key pairs in ManageIQ at the moment as far as I'm aware.  We fetch them from the provider, and we don't get back the private part of the key pair when we do it.

However, we've always wanted to have this feature and I would expect it to be implemented as is done here.

[2017-03-06 17:55] tzumainn commented on #11713
@miq_bot assign @rwsu

[2017-03-06 17:55] himdel commented on #13905
@Fryguy not during capture, but when trying to display textual summary screen for the VM...

[code]

[2017-03-06 17:56] tzumainn commented on #11713
@miq-bot assign @rwsu

[2017-03-06 17:58] himdel commented on #13905
Also, `SELECT * FROM "vim_performance_operating_ranges" WHERE values IS NULL`  gives me 114 rows, all VmOrTemplate, 2 different time profiles...

[2017-03-06 17:59] petervo commented on #13102
@Fryguy, on the ```/auth_key_pair_cloud/show_list``` with a openstack provider enabled there is a
```Add a new Key Pair``` button in the ```Configuration``` dropdown. That's how I came across this.

[2017-03-06 18:03] blomquisg commented on #8548
@bronaghs I have no idea how the `is_proxy_active?` method is supposed to work.  The only definition for it is in `miq_server/server_smart_proxy.rb`.  Maybe this is some vestige from when there was still a concept of smart proxies?  Or, maybe it's still supposed to be around?

This seems like low priority to me unless we see this pop up with other providers like RHV or VMWare.

[2017-03-06 18:05] blomquisg commented on #8335
@Ladas this is really old and the commit you referenced doesn't point to anything.  I guess it was pointing to a branch in your repo?

If you can track down what you were talking about, then go ahead and reopen this issue.

[2017-03-06 18:05] #8335 closed

[2017-03-06 18:09] #3740 closed

[2017-03-06 18:10] #3358 closed

[2017-03-06 18:11] #7280 closed

[2017-03-06 18:13] blomquisg commented on #5132
@b-long yeah, that's correct.  Thanks for commenting.  Way way back, we didn't have a clear idea of what it should be.  We have an open Documentation Bug (I'll have to track it down) to update the Docs pointing to this policy.

[2017-03-06 18:13] #5132 closed

[2017-03-06 18:16] #2751 closed

[2017-03-06 18:18] #2209 closed

[2017-03-06 18:26] blomquisg commented on #1989
First, I'm not sure how to solve this unless the controller creates a specific subclass for credential validation.

And, two, this must be an existing bug?  How is anyone able to validate Host credentials today?

[2017-03-06 18:27] blomquisg commented on #1989
@agrare this isn't specifically a VMWare issue, but can you take a look at this?  And, check with QE to see if this is flat-out broken.

[2017-03-06 18:28] #1871 closed

[2017-03-06 18:32] Fryguy commented on #13905
@himdel Can I get access to your database?

[2017-03-06 18:34] #1236 closed

[2017-03-06 18:34] #948 closed

[2017-03-06 18:35] #513 closed

[2017-03-06 19:10] agrare commented on #1989
This only seem to be an issue when manually adding hosts, if you validate credentials of a host that was discovered by an EmsRefresh it looks the host up [here](https://github.com/ManageIQ/manageiq-ui-classic/blob/d3045891dff33b70db46a27ac8dbe067d1aaf55c/app/controllers/host_controller.rb#L351) instead of creating a generic `Host` instance.

If you follow @jrafanie's steps now you hit this error,

[2017-03-06 19:29] mkanoor opened #14203 "Ansible Event Monitor: Undefined method stop"
https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/ansible_tower/shared/automation_manager/event_catcher/runner.rb#L3

[----] E, [2017-03-06T14:15:00.816722 #6013:12d1404] ERROR -- : MIQ(ManageIQ::Providers::AnsibleTower::AutomationManager::EventCatcher::Runner#start_event_monitor) EMS [] as [admin] Event Monitor Thread aborted because [undefined method `stop' for #<Man

[2017-03-06 20:56] durandom commented on #14203
could it be that you installation has https://github.com/ManageIQ/manageiq/pull/14103 not yet?

[code]

[2017-03-06 21:23] jameswnl commented on #13108
`euwe` is using Ansible ruby client 0.41 which tries to parse out the exception message with [this](https://github.com/ansible/ansible_tower_client_ruby/blob/v0.4.1/lib/ansible_tower_client/api.rb#L68) and it won't get any meaningful error message.  In my debug session, if we do `err.to_s`, then we will get to the real cause of this `Faraday::ClientError`
[code]

[2017-03-07 10:20] Ladas commented on #13958
the ensure_managers that was creating managers without parent manager was fixed here:
https://github.com/ManageIQ/manageiq/pull/12878

The general fix for the delegation issues is here:
https://github.com/ManageIQ/manageiq/pull/12884

but a bug in Rails prevents that from finishing

------

although after the https://github.com/ManageIQ/manageiq/pull/12878, we should not be seeing managers without

[2017-03-07 10:24] Ladas commented on #13958
@durandom seems like Ansible still does before_validation https://github.com/Ladas/manageiq/blob/2835c365b3f180cd36911a5bd4346c8ef7d11ff3/app/models/manageiq/providers/ansible_tower/provider_mixin.rb#L7

@carbonin @jrafanie can you check which providers are causing this failure?

[2017-03-07 10:28] durandom commented on #14203
https://bugzilla.redhat.com/show_bug.cgi?id=1429860

@miq-bot close_issue

[2017-03-07 10:28] durandom commented on #14203
this is indeed fixed by the above PR

[2017-03-07 10:29] #14203 closed

[2017-03-07 14:10] ioggstream opened #14216 "OpenStack: add new cloud-provider ignores worker zone configuration."
# environment

 - an openstack cloud is deployed in the zone-boston
 - MIQ is deployed in:
      - WEBGUI+pgsql:  zone-atlanta,
      - WORKER: zone-boston
  - only the zone-boston worker can see openstack

# reproduce

  0. open MIQ webgui in zone-atlanta
  1. add openstack cloud provider specifying zone-boston
  2. click "validate"

# I expect

  1. MIQ-WEB delegate the validation to zone-boston

[2017-03-07 15:41] jameswnl commented on #13839
@romanblanco is this still an issue? or we can close this now 😈

[2017-03-07 15:41] jameswnl commented on #13764
@furlongm can this be closed? Or there's more we need to do?

[2017-03-07 15:47] furlongm commented on #13764
The above commit needs to be backported.

[2017-03-07 17:09] jrafanie commented on #13958
@Ladas it was reported on Swift and Cinder providers [here](http://talk.manageiq.org/t/drb-error-connection-timeout/2025/6).  I believe @fvillain also had Swift/Cinder providers in the descroption.

Note, @fvillain if you use the master branch, we no longer have a fatal error in the server process, instead the failing worker class will log a message like this in evm.log:
`"Failed to sync_workers f

[2017-03-07 17:44] Fryguy commented on #13905
@himdel Can you verify if 20170207215322 is in your schema_migrations table?  If not, can you migrate the database and see if you still have the issue?

[2017-03-07 17:47] himdel commented on #13905
It is there :) And if I drop it and run the migration, I still get the same 114 rows...

And the migration says...

[code]

[2017-03-07 17:49] himdel commented on #13905
BTW since you mention that particular migration... running that one on the db from https://github.com/ManageIQ/manageiq-ui-classic/pull/254#issuecomment-279721158 crashes because `TimeProfile.default` returns `nil`.

[2017-03-07 19:55] b-long commented on #10640
Any update on this?  I'm actually trying to learn more about programmatic provisioning and having a heck of a time with the documentation.  Is there a simple test you can provide, such as:

`ruby my-test.rb`

?

[2017-03-07 20:16] gmcculloug commented on #10640
@b-long You might want to take a look at this tool that ships with the project to help rebuild existing provision requests: https://github.com/ManageIQ/manageiq/pull/8425

[2017-03-07 20:27] b-long commented on #10640
Cool, thanks @gmcculloug 😄  Will do!

[2017-03-08 07:28] durandom commented on #13958
Good find, will fix this.

[2017-03-08 12:29] romanblanco commented on #13839
@jameswnl I've tried to reproduce, and all seems to work fine 👍 🎆 closing the issue now 😉

[2017-03-08 12:29] #13839 closed

[2017-03-08 15:17] romanblanco commented on #6259
@martinpovolny I believe you can close this issue now 😉

[2017-03-08 16:00] ioggstream opened #14230 "[RFE] Support service_dialogs creation api"
# reproduce

executing

[code]

# I expect

A new service_dialog is created

# instead

I get

[code]

[2017-03-08 22:23] moolitayer opened #14238 "Prometheus Alerts Integration"
The propose of this issue is to document the status & usage of ManageIQ integration with Prometheus  alerts for Kubernetes/OpenShift.

#### Table of Contents

[Description](#description)
[Status](#status)
[Setup](#setup)
[Debugging](#debugging)
[Alerts](#alerts)

<a name="description">

## Description
Prometheus is used as an external alerting component and ManageIQ collects alerts from it and att

[2017-03-08 22:25] moolitayer commented on #14238
@miq-bot assign moolitayer
@miq-bot add_label providers/containers, enhancement

[2017-03-09 12:55] skateman opened #14244 "Appliance-wide custom HTTP error pages"
There is [an open BZ](https://bugzilla.redhat.com/show_bug.cgi?id=1384723) for having the ManageIQ logo on the HTTP error (404, 422, 500) pages. The SUI team already implemented this feature in their project and I'm thinking about making it appliance-wide.

As we can not rely on the asset pipeline when using static error, I would like to move some minimal set of files from the SUI into the `public

[2017-03-09 16:01] AllenBW commented on #14244
Shared 404 sounds great! SUI and OPSUI shouldn't each have their own... Lemme know what you need me to do @skateman !! :bowing_woman:

[2017-03-09 16:55] kbrock commented on #14064
https://github.com/rails/rails/pull/28360

[2017-03-09 16:56] kbrock commented on #14064
@jrafanie I'm wondering if a timeout / kill would be causing this issue.

[2017-03-09 18:07] moolitayer opened #14251 "Api calls with relationships cause N+1 queries"
`MiqAlertStatus` (`alert` in the API):
- has many `MiqAlertStatusActions` (`alert_actions` in the API)
- belongs polymorphically  to a resource

Both resources cause N + 1 queries:

[code]

[code]

[code]

[2017-03-09 18:08] moolitayer commented on #14251
@miq-bot add_label bug,performance,api
cc @kbrock @abellotti

[2017-03-09 18:19] jrafanie commented on #14064
wow, I have no idea @kbrock

[2017-03-10 10:04] Ladas commented on #13958
@jrafanie right, so I am pretty sure that https://github.com/ManageIQ/manageiq/pull/12878 should be fixing this issue. Then storage managers should be deleted when you delete a cloud manager.

[2017-03-10 13:42] tjyang opened #14265 "RFE: Adding nmap scan output as network provider"
I can see the networks (from private cloud) after I successfully added openstack instance into MiQ.
This is an enhancement request to provide nmap as one of network providers source (vmware,openstack ...), not just from cloud.

ie, miq user should be able to add "Network discovery via nmap" configuration option in following screen.

![image](https://cloud.githubusercontent.com/assets/378638/237986

[2017-03-10 14:42] tjyang opened #14267 "[RFE] Adding readonly query"
The is an enhancement request from trying to deploy MIQ.
I got push back from some provider owners since I am asking root/admin at first.
It would be great if MIQ can start with readonly account to query different providers(network,storage,private coulds).
Understand automate won't be possible with admin/root privilege.

[2017-03-10 14:49] Ladas opened #14268 "Data migration required for OpenStack StorageManager"
We have a some sort of 'runtime data migration' https://github.com/Ladas/manageiq/blob/ff0530013bf26571976be55a06bb19fad37e54a8/app/models/mixins/cinder_manager_mixin.rb#L34-L34

Which will not work anymore, since the hook was changed from :before_validation to :before_create

Also, we don't do data migration like this, there should be actual data migration, like we did for other manager splits, e

[2017-03-10 14:50] Ladas commented on #14268
@roliveri please look at this, the current solution will not work anymore, since the hook is :before_create now. Also I've pasted how to do a proper data migration, in the case we move a manager data like this.

[2017-03-10 15:11] tjyang opened #14271 "[RFE] Running widget on demand"
From screenshot below, it would be great we a user can run the report right now, instead of waiting for next batch run.

![image](https://cloud.githubusercontent.com/assets/378638/23800262/414a99e4-0571-11e7-8098-8ed7502dd434.png)

[2017-03-10 16:45] roliveri commented on #14268
@Ladas As I recall, the issue with data migrations in this case is the fact that instances of OpenStack providers may or may not be configured with various storage managers. At migration time, there's no way to tell how the provider is configured.

[2017-03-10 17:16] Ladas commented on #14268
@roliveri for the migration, you could just check if the manager has objects from the object storage or block storage and if positive, you would create the managers for it?

Also, we currently have no means to add storage managers to the existing cloud manager from the UI, since the :ensure_managers is now called only on create

[2017-03-10 17:21] tjyang opened #14274 "[RFE] Enable cookie to speed up login after timeout"
This is an enhancement request to allow MIQ to enable cookie session.
So we don't have to keep doing the logins.

[2017-03-10 17:32] roliveri commented on #14268
@Ladas Checking for storage objects may work for Swift storage, but it won't work for Cinder. When the Cinder component isn't used by the OpenStack provider instance, it still creates block storage objects through Nova.

Back when storage inventory was first added for OpenStack (grizzly/havana) Cinder was fairly new, and not always configured. Maybe it's now safe to assume that openstack block sto

[2017-03-10 19:08] Fryguy commented on #14244
I mentioned it in #14623, but I'll repeat here.  How would we make this productizable?

[2017-03-10 19:47] mkanoor opened #14279 "Embedded Ansible Event Catcher date/time parsing issue"
[code]

[2017-03-10 22:12] skateman commented on #14244
@Fryguy we can't override but is there any problem with overwriting?

[2017-03-13 09:08] durandom commented on #14279
@mkanoor thanks for reporting, I'm currently working on that part of the code anyways, so good timing :)

[2017-03-13 14:22] Fryguy commented on #14244
We don't overwrite in our build process for productization.  Partially because the goal is to separate "productized assets" into a separate RPM, and then one can't overwrite the other, but also because we want to leave the original source as pure as possible.

[2017-03-13 14:25] skateman commented on #14244
Hm, then we have to modify the HTML files. In this `public` folder we don't have access to the asset pipeline at all. Until now it was fine as we weren't using icons here. Actually SUI displays the MiQ icon in production :confused:

[2017-03-13 15:57] roliveri commented on #14268
@Ladas

Hmmm, it should only do that if the parent manager supports the cinder service. If it doesn't check that it is indeed a problem. I'll have Hui look into it.

In any event, if we don't have to worry about volumes from nova, I agree, this should be replaced with proper migration.

[2017-03-13 22:28] kbrock commented on #14251
@moolitayer could you double check the queries again?

I think you're missing something with `attributes=resource` part

[2017-03-14 06:21] moolitayer commented on #14251
@kbrock thanks, I got the second GET wrong (it is  `GET api/alerts?expand=resources,alert_actions` not `GET api/alerts?expand=resources`)

I also pasted an extract from my development.log at https://gist.github.com/moolitayer/d6e87267a3378da460d13229a4e07f66
as prof. This is the command I used to get it. very basic, but I think it got me what I needed:
[code]

Also not really related but for gener

[2017-03-14 13:50] tjyang commented on #14265
After more reading, there is already network provider extension for phpipam
See https://depot.manageiq.org/extensions/evenit/phpipam11010/versions/master.

[2017-03-15 13:39] hhovsepy opened #14341 "Run Docker container - 503 Service Unavailable"
When running latest MiQ Docker container and trying to access it via web UI, it fails with "503 Service Unavailable".
Was not able to telnet to 80 port from local or remote.
Connection closed by foreign host.
However container is running and port is open.

Used this command to run:
docker run --privileged -di -p 222:22 -p 5432:5432 -p 80:80 -p 443:443 manageiq/manageiq:latest

[evm_log.txt](https:

[2017-03-15 14:23] LarsMilland commented on #12394
This issue have been solved by myself, and was a result of me using http proxy servers for getting the image-inspector to access the CVE files for OpenSCAP, and then not having no_proxy set to letting the ManageIQ process access the HTML report and other scanning results without proxy.

[2017-03-15 14:23] #12394 closed

[2017-03-15 17:44] djberg96 opened #14347 "ActionController::RoutingError"
I'm seeing this error in the development.log. I fetched the latest from master, and confirmed that I have a `config/cable.yml` file. I then ran `bin/setup` and then `bundle exec rake evm:start`. Then, running on localhost, I just navigated pretty much anywhere within the UI and this error appears.

[code]

This does not appear to prevent the app from functioning, but is a bit concerning.

[2017-03-15 17:46] djberg96 commented on #14347
If just navigating around doesn't produce it for you, try adding an infrastructure provider and then viewing it.

[2017-03-15 17:49] jrafanie commented on #14064
hmm, `WARNING:  there is already a transaction in progress` is that from the same process?  Could this be an exception raised in a nested transaction?

[2017-03-15 18:05] kbrock commented on #14064
Also, https://bugzilla.redhat.com/show_bug.cgi?id=1427688 is the same exception

[2017-03-15 18:49] #6259 closed

[2017-03-15 23:17] kbrock commented on #14064
@jrafanie I think the warning comes from the fact that the timeout prevents the connection from being properly closed. so the next transaction gets confused.

`Timeout.timeout` is very dangerous :(

[2017-03-16 13:35] #13701 closed

[2017-03-16 15:24] Joseluismantilla opened #14362 "Error connecting with cloud provider vcloud"
Hello everyone

I need to show the ManageIQ with VCloud with their graphics. Sadly, I can't connect to vcloud 5.5 like cloud provider. It always show me after the validation:

"Login failed due to a bad username or password." but the credentials are corrects.

Does anyone knows when will be the fix or what fix is there right now?

Should I make a configuration previously in manageiq or VCloud? --

[2017-03-16 16:11] himdel commented on #14347
Cc: @skateman

[2017-03-16 17:57] hhovsepy commented on #14341
@abonas

[2017-03-16 22:50] #10482 closed

[2017-03-17 11:16] skateman commented on #14347
@djberg96 let's say this is a development feature :wink: and totally harmless. When you are using `evm:start`, the UI worker runs on port `3000` and the websocket worker on port `5000`. This is totally fine when it is running in production as Apache multiplexes these endpoints to port `443` or `80` depending on the configuration. However, if you are starting the only the UI with `rails s`, the web

[2017-03-17 13:45] djberg96 commented on #14347
@skateman I vote for option #2 - a dev-only reverse proxy. :)

[2017-03-17 14:46] jrafanie commented on #14347
@skateman I guess I don't really understand the problems and honestly very rarely ever run the UI locally since I'll generally use an appliance.  The only thing that might influence this solution here is the goal is to eventually collapse all of the puma workers into one type of process that knows how to handle UI/webservice/websocket requests.  cc @Fryguy

[2017-03-17 21:44] mkanoor opened #14393 "vm.provisioned_storage returns nil instead of 0"
After this commit https://github.com/ManageIQ/manageiq/commit/4357b8d439d2b3a03131f59ff9857a1b39e3bbb3

the provisioned_storage started returning nil

[2017-03-19 13:08] abonas commented on #14341
@hhovsepy I don't see how this is related to hawkular/middleware
Hence I move this to miq core (and recommend in the future to do so directly on core issues to save time)

[2017-03-19 13:09] abonas commented on #14341
@bronaghs who would be the right person to have a look at this issue?
and which label do you suggest to assign?
thank you

[2017-03-20 13:22] cben commented on #14341
@bazulay @fbladilo

[2017-03-20 13:41] abellotti opened #14404 "[RFE] Should be able to support multiple tasks in action results"
In the scenario where we are refreshing a Provider with multiple refreshes going one per manager, it would be nice to be able to return the task refs for each in the action result.  Enhancement brought forward via https://github.com/ManageIQ/manageiq/pull/14387

[code]

While the above has been sufficient for a single task, the following is a possible enhancement:

[code]

With the appropriate cha

[2017-03-20 13:42] fbladilo commented on #14341
@hhovsepy This should have been fixed by : https://github.com/ManageIQ/manageiq/commit/68d7bc6119c09c0cf89c0b57467d5b439af2824f
Does it happen if you rebuild latest master --no-cache?

[2017-03-20 14:40] hhovsepy commented on #14341
@fbladilo I use latest build from https://hub.docker.com/r/manageiq/manageiq/builds/, and I see that docker build "latest" is failed for last 5 days to build.

[2017-03-20 14:48] simaishi commented on #14341
See https://github.com/ManageIQ/manageiq/pull/14406 - fix for docker build failure coming

[2017-03-20 16:38] tjyang opened #14408 "RFE: LDAP, allow configurable UID Attribute"
By default MIQ is sending "uid=accountname" to ldap server.
This is an enhancement request to allow "uid" to be changed/set from MIQ webgui.

Reference:
http://talk.manageiq.org/t/ldap-bind-by-myuid-not-the-default-distinguished-name-uid-user/2188

[2017-03-20 21:03] #14279 closed

[2017-03-21 13:39] hhovsepy commented on #14341
I still see MiQ unavailable in latest docker container, logs are attached.

[log.zip](https://github.com/ManageIQ/manageiq/files/858252/log.zip)

[2017-03-21 14:02] fbladilo commented on #14341
@hhovsepy @simaishi DH auto-builds are working again, please pull the latest image from DH and try again. It should now have https://github.com/ManageIQ/manageiq/commit/68d7bc6119c09c0cf89c0b57467d5b439af2824f applied.

[2017-03-21 21:03] jerryk55 opened #14442 "SSA Fails with PR https://github.com/ManageIQ/manageiq/issues/14356"
When we attempt to run SSA after PR https://github.com/ManageIQ/manageiq/issues/14356
is merged, there is no exception but SSA simply does not work. It starts to run, then says its finished, but never does anything. The same thing happens with both VMware and SCVMM/Hyper-V. If you look at the Tasks Page in the UI - the SSA tasks have a state of “finished”, a message of “scanning for metadata from

[2017-03-21 21:10] Fryguy commented on #14442
Note that if we have to revert #14356 then we will also have to revert #14380 .  Reverting the migration could get complicated, so if we can solve this with a simple code fix, that would be preferable.

[2017-03-21 21:13] jerryk55 commented on #14442
Agreed.  But the if code fix requires using jobs.agent_class, we are SOL without reverting the migration anyhow.

[2017-03-21 21:20] Fryguy commented on #14442
According to @yrudman, the only value that ever appeared in `agent_class` was MiqServer, so ideally, the code could be adjusted accordingly.  I'm still surprised you don't have a backtrace anywhere.

[2017-03-21 21:39] jerryk55 commented on #14442
Ok I did just find a backtrace but I'm not 100% sure its related.  I have a couple of other backtraces in my log that I *know* are not related - one is re: OpenStack and Ironic not available, and one is for the Microsoft Refresh code because of an WMI open connections issue that @djberg96 has open.  They are not for scans.   I just came across two backtraces - one isn't listed as an ERROR - its a

[2017-03-21 22:13] yrudman commented on #14442
I did tested original big PR (removed all references to agent_class, agent_state, agent_id bit table structure was the same) in 2 environmentsL VmWare and RHEL

SSA was finished successfully with updated numbers on users, packages, etc ...

[2017-03-21 22:15] yrudman commented on #14442
OK, i found issue

[2017-03-21 22:28] yrudman commented on #14442
PR: https://github.com/ManageIQ/manageiq/pull/14444

[2017-03-21 23:08] jrafanie opened #14446 "Upgrade to Ruby 2.4 for development"
I would suggest high level steps as:
- [x] cut fine branch
- [x] merge [main repo 2.4 compatibility PR](https://github.com/ManageIQ/manageiq/pull/13104)
- [x] announce upcoming support for ruby 2.4, dropping support for 2.2

The following can be started now and be done in parallel:
- [x] Verify https://bugs.ruby-lang.org/issues/13772 is fixed and [backported to 2.4 for thread memory leak issue](ht

[2017-03-22 07:26] NaNi-Z opened #14450 "Collect Running Processes ERROR!"
When I run "collect running processes" on a Windows VM, it comes an error:

I print the command to log, and I run it in bash directly, nothing wrong with it. Even I use the same statement in rails console to run the command, it's nothing wrong too.
Is there anything wrong?

[2017-03-22 09:18] NaNi-Z commented on #14450
It works. I delete the domain name in the username. Just use "username" , do not use "username@domain".

[2017-03-22 09:18] #14450 closed

[2017-03-22 11:32] aljesusg opened #14452 "Fail in seed in VmdbDatabase seed"
Can anyone try this? After create and migrate db seed fail.

RubyParser::SyntaxError: class/module name must be CONSTANT
/var/lib/gems/2.3.0/gems/ruby_parser-3.8.4/lib/ruby_parser_extras.rb:128:in `syntax_error'
/var/lib/gems/2.3.0/gems/ruby_parser-3.8.4/lib/ruby23_parser.rb:4119:in `_reduce_107'
/usr/lib/ruby/2.3.0/racc/parser.rb:259:in `_racc_do_parse_c'
/usr/lib/ruby/2.3.0/racc/parser.rb:259:in

[2017-03-22 11:38] #14452 closed

[2017-03-22 15:51] jerryk55 commented on #14442
https://github.com/ManageIQ/manageiq/pull/14444#pullrequestreview-28425476 fixes this issue.  When it is merged we can close the issue.

[2017-03-22 16:22] #14442 closed

[2017-03-22 16:37] mzazrivec opened #14459 "userid is not a valid attribute for updating Machine Credential via api"
[code]

Now when updating a particular resource (machine type):

[code]

Now what the task says:
[code]

[2017-03-22 17:14] jameswnl commented on #14459
@Fryguy what is your thought on this? We knew `userid` is of `Authentication` and Tower needs `username`.

My very early PR for credential attributes will map the two behind the scene and we later decide to go for simple hash approach.

shall we add a method to do the mapping?

[2017-03-22 18:32] moolitayer commented on #14251
@abellotti @kbrock did you have a chance to look at this one?
can we start by confirming if this is really a bug or not?

[2017-03-22 19:45] abellotti commented on #14251
That's the current implementation, not specific to /api/alerts. When fetching vms for example asking for specific physical attributes, no N+1 there, this is part of the initial query. When asking for virtual attributes or relationships, this is done after the initial query, so N+1 in those cases.

We'd need to enhance the collection search to be aware of those requests and enhance the initial quer

[2017-03-23 10:17] mzazrivec commented on #14459
@Fryguy @jameswnl What's your take on thig guys? I cannot really implement CRUD UI for
Credentials without this being resolved.

Thanks.

[2017-03-23 13:32] jameswnl commented on #14459
We also shall consider re-introduce the `required` boolean flag in the attributes so that UI can do minimal check on user input.

[2017-03-23 14:16] kbrock commented on #14251
We may be able to borrow some of the report implementation to improve queries.

It successfully embeds virtual attributes in the primary query. And doesn't produce an `includes()` for columns that are embeddable.

[2017-03-23 15:16] blomquisg commented on #14459
@jameswnl I think Jason's point about `required` was that you only needed to specify `required => true`, but you could remove the `required => false`.  But, *not* remove the `required` flag altogether.

[2017-03-23 15:16] jameswnl commented on #14459
@blomquisg yeah, just clarified with him :)

[2017-03-23 15:18] jameswnl commented on #14459
@mzazrivec checked with @Fryguy, I'll add a mapping before passing it to tower.

[2017-03-23 15:24] abonas commented on #10600
@mmojzis can you please confirm this is fixed and close the issue ?

[2017-03-23 15:25] abonas commented on #12656
@mattmahoneyrh is this still reproducible or already resolved?

[2017-03-23 15:28] mattmahoneyrh commented on #12656
Have not since encountered this issue, and can be closed.

[2017-03-23 15:29] abonas commented on #10674
@lucasponce can/should this issue be fixed?

[2017-03-23 15:31] abonas commented on #12656
@miq-bot close_issue

[2017-03-23 15:31] #12656 closed

[2017-03-23 16:05] bazulay commented on #14118
@gaetanquentin  what version did you encounter this issue ?
I just tried euwe-latest from docker hub, and it simply works.
Did it work first and than stopped working ?

@gtanzillo @carbonin  I assume that this functionality is achieved by querying the DB itself?  or some external tool/code ?

[2017-03-23 20:06] agrare commented on #14061
This appears to have been fixed by https://github.com/ManageIQ/manageiq-gems-pending/pull/89
BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1430770

[2017-03-23 20:06] #14061 closed

[2017-03-23 21:08] tzumainn commented on #14216
@aufi can you take a look at this one?

[2017-03-23 22:39] jameswnl commented on #14459
@miq-bot assign @jameswnl

[2017-03-24 02:23] kbrock commented on #14393
@mkanoor could you test out #14478 to see if it solves your problem?

[2017-03-24 06:37] aufi commented on #14216
Hi, thanks for reporting this issue. Provider validation action connects to Openstack directly from UI, it doesn't use Task to delegate it to appropriate worker, that should be fixed.

Adding this to Openstack integration backlog.

[2017-03-24 09:15] simon3z commented on #14064
This traceback/issue is the same reported in bug https://bugzilla.redhat.com/show_bug.cgi?id=1427688
So far not specific to OpenShift.

@miq-bot assign gtanzillo

cc @chessbyte

[2017-03-24 09:19] simon3z commented on #14062
This was fixed with #13686
@chessbyte @Fryguy any way for me to close this issue with miq-bot or any other github feature?
If not, can you close this? Thanks.

[2017-03-24 09:37] lucasponce commented on #10674
@abonas I created to not forget about it.
It is more a corner case but I think that this could be related to other scenarios.
If the relation MiQ:Providers is N:M, saying that the same hawkular provider should be handled at same time by several instances of MiQ, yes, as some uuid from the MiQ should be propagated.
But if this is so, I wonder how other areas in the core could be impacted.

[2017-03-24 13:16] #14393 closed

[2017-03-24 15:02] jntullo commented on #14230
This enhancement was added by #11527

I can help to resolve issues you are encountering @ioggstream

[2017-03-24 15:33] kbrock opened #14494 "Reports with duplicate Names"
2 Container reports are very similar:
- [060_Container Groups per Ready Status.yaml](https://github.com/ManageIQ/manageiq/blob/master/product/reports/170_Configuration%20Management%20-%20Containers/060_Container%20Groups%20per%20Ready%20Status.yaml)
- [130_Pods per Ready Status.yaml](https://github.com/ManageIQ/manageiq/blob/master/product/reports/170_Configuration%20Management%20-%20Containers/13

[2017-03-24 19:00] nimrodshn commented on #14494
@kbrock you are absolutely correct! also note that that the second report points to the first one.
Just as a recap: these reports/widgets were given to us from a client - It was my mistake missing this report is actually a duplicate.
I thinks we can remove the second one. (the one numbered 130) - Only we have to change the widgets that are referencing it (I think Pods per Ready Widget and Pods per

[2017-03-27 08:46] ioggstream commented on #14230
Hi @jntullo,

I'm on euwe-1.20170313172815_99d8fcd appliance. I suppose I've to upgrade to v2 to get the fix, right?

Can I replace my appliances to v2 with the new image provided here http://manageiq.org/download/ or I need to upgrade every single machine?

Thx++ & Peace,
R.

[2017-03-27 09:11] ioggstream opened #14514 "Openstack cloud tenants not synchronized on euwe"
# Background

Two miq instances managing OpenStack

 - darga-3.20161214042755_70fccb4
 - euwe-1.2

# Reproduce

- Create a tenant
- The tenant appears in MIQ cloud_tenant/show_list on both darga and euwe
- Delete the tenant

# Expected result

- the tenant disappears in MIQ cloud_tenant/show_list  on both darga end euwe

# Instead

darga:

 - removes the tenant from cloud_tenant/show_list (expecte

[2017-03-27 15:33] hhovsepy commented on #14341
was able to start docker container on openstack based rhel 7.2 atomic host, closing the issue

[2017-03-27 15:33] #14341 closed

[2017-03-28 09:18] mzazrivec opened #14532 "Error when creating machine credential (embedded ansible)"
@jameswnl

With latest master and https://github.com/ManageIQ/manageiq/pull/14483 merged:

[code]

Then when I later check the task result:

[code]

[2017-03-28 14:41] jameswnl commented on #14532
This error is because we `Embedded` is padding the parameter hash with the `default_organization` before passing it onto Tower. However, Tower is expecting the hash key to be `organization` instead of `organization_id`.

I had to be either too sick or crazy and was hallucinating... because my first version was using `organization_id` and it failed on me so that I had to update it to use `organizat

[2017-03-28 20:29] #14532 closed

[2017-03-29 12:15] ioggstream commented on #14216
@aufi thx++ for reading ;)

Peace,
R.

[2017-03-29 12:23] ioggstream commented on #14230
Hi @jntullo,

which is the target release for this change?
I upgraded to the latest appliance euwe-2 but still doesn't work.

[2017-03-29 19:58] jntullo commented on #14230
Hi @ioggstream, sorry for the delay!

This is targeted for the Fine release, so you can go off of master or wait for this upcoming release.

Thanks!

[2017-03-30 08:06] vkuptsov opened #14571 "Automate --> Explorer --> Expand directories issue"
Hi folks,
We have encountered with a problem when you cannot expand directories in Automation domains, it means that when you are trying to expand it - loading circle infinitely. You should refresh the page for viewing expanded tree. You should do it every time when you want to expand it. I have an idea that it can occur due to version jquery library. Euwe 2 uses version of jQuery 3 instead of 2.1

[2017-03-30 09:29] ioggstream opened #14573 "Cannot browse automation method on a fresh installation"
# Reproduce

1. Install a fresh appliance from http://releases.manageiq.org/manageiq-openstack-euwe-2.qc2
2. Browse automation methods  https://localhost/miq_ae_class/explorer

# I expect

To see a list of methods

# Instead

- The webpage hangs
- the last call is
[code]
- Chrome js console shows the following error

[code]

[2017-03-30 12:16] tjyang opened #14576 "[RFE]: Adding excel as format to be exported"
Hoping excel format will be added in addition to csv and txt.

[2017-03-30 12:33] tjyang commented on #14265
the existing phpipam is an extension forautomation->automat->datastore.
It can only do IP add/delete automation.

![image](https://cloud.githubusercontent.com/assets/378638/24503975/f6dc30a8-1519-11e7-9d61-0fe5fae049a5.png)

I am hoping to be able to add phpipam extension as network provider, to see physical network landscape/relationship that phpipam currently have in its mysql DB.

![image](http

[2017-03-30 15:01] famany opened #14579 "ManageIQ don't delete old tenants that don't exists in the provider"
# Environment

- an openstack cloud is deployed in the zone-boston

- MIQ is deployed in:
      WEBGUI+pgsql:  zone-atlanta,
      WORKER: zone-boston

only the zone-boston worker can see openstack.

# Reproduce

In the Tenants list (Compute -> Clouds -> Tenants) we have the list of all tenants, but some are duplicated and others are orphans (https://s30.postimg.org/3w6t2toap/Schermata_del_2017-03

[2017-03-30 16:31] h-kataria commented on #14571
@miq-bot assign @himdel

[2017-03-30 16:32] h-kataria commented on #14573
@miq-bot assign @himdel

[2017-03-30 16:33] h-kataria commented on #14571
@himdel can you please take a look, looks like some latest refactoring in the trees caused this issue.

[2017-03-30 16:33] h-kataria commented on #14573
@himdel can you please take a look, looks like some latest refactoring in the trees caused this issue.

[2017-03-30 16:42] himdel commented on #14571
@vkuptsov Thanks for this, this would indeed explain the problem.

But it also means we can close this, should be already fixed by https://github.com/ManageIQ/manageiq/pull/14200 (which is unfortunately not in euwe-2 but is in euwe).

[2017-03-30 16:43] himdel commented on #14571
@vkuptsov would you be able to verify, and close if so, please? :)

[2017-03-30 16:47] himdel commented on #14573
@ioggstream Sorry about that, this is caused by (unintentionally) using jQuery 3 instead of jQuery 2.

This good news is that this has been fixed in https://github.com/ManageIQ/manageiq/pull/14200, so the future euwe release should be fine again (pun intended :)).

[2017-03-31 05:17] vkuptsov commented on #14571
@himdel Thank you for so quick answer! Am I wright I should wait for future Fine release? :-)

[2017-03-31 05:17] #14571 closed

[2017-03-31 12:23] himdel commented on #14571
@vkuptsov I'm not sure if there's any more Euwe releases coming up, but Fine definitely is :)

Or, you may be able to apply those changes manually, should be a one line change, `bower install` and a `rake evm:assets:compile`.. (and probably `evm:restart`).

[2017-03-31 13:31] vkuptsov commented on #14571
@himdel Sorry for that, could you kindly tell me what line should I change?

[2017-03-31 13:37] himdel commented on #14571
Of course, if you go to `/var/www/miq/vmdb` on the appliance, you should see a `bower.json` file.

Edit it, and you should see a `resolutions` section at the end .. https://github.com/ManageIQ/manageiq/pull/14200/files shows you what to change in there (careful about the commas, must be exactly like this).

Then, running `bower install -F` in that directory should install the right version of jQue

[2017-03-31 16:12] ioggstream commented on #14573
@himdel thanks for watching!

Actually I wouldn't distribute this broken image  http://releases.manageiq.org/manageiq-openstack-euwe-2.qc2

It's only bad publicity around the project ;)

Thx++,
R.

[2017-04-02 13:10] abonas commented on #14446
@jrafanie why isn't hawkular-ruby-client on the list of gems that need update?
if I understand correctly the required changes, hawkular ruby client needs bumping travis.yml (and also gemspec iiic) as well as upgrading webmock - like other gems (kubeclient, for instance)

[2017-04-02 17:03] jrafanie commented on #14446
@abonas I go through my Gemfile.lock and add ones we own or partially own to this list as I get a chance to try them.  If you have others we should add, please add them or mention them here and I'll add them.  Thanks!

[2017-04-02 17:05] jrafanie commented on #14446
I believe at least a few of our gems depend on webmock for testing.  Hopefully, we can upgrade webmock and be able to use the same cassettes from  webmock in 2.4 and earier rubies.

[2017-04-02 18:50] abonas commented on #14446
indeed @jrafanie
https://github.com/ManageIQ/manageiq-gems-pending/blob/master/manageiq-gems-pending.gemspec#L37
https://github.com/hawkular/hawkular-client-ruby/blob/master/hawkularclient.gemspec#L33
What concerns me is that changes like this upgrade are not known well by the broader miq community, I learned about it by chance from [an issue in kubeclient](https://github.com/abonas/kubeclient/iss

[2017-04-02 21:18] ITD27M01 commented on #14573
Hi @himdel How can I resolve this issue on deployed euwe-2 ?

[2017-04-03 07:58] ITD27M01 commented on #14573
@himdel
Maybe I'm not doing the right thing, but my attempts have not led me to success. I try to uninstall jquery#3.1.1:

[code]

But there is the same error in browser and I cannot expand any Automation domain and any expandable things like a users, groups, tenants.

[code]

[2017-04-03 09:20] himdel commented on #14576
CSV can be opened in excel, is there anything missing from these CSV when you open them?

[2017-04-03 09:23] himdel commented on #14573
@ITD27M01 you're close :).

The problem is, you also need to run `rake evm:assets:compile` (in `/var/www/miq/vmdb/`) for the newly downloaded jQuery version to get compiled to the bundle that the appliance actually serves.

(And you willl need to restart evmserverd again after that.)

[2017-04-03 10:06] ITD27M01 commented on #14573
@himdel
Uhuuu! This is it.
![image](https://cloud.githubusercontent.com/assets/3703483/24604506/aee4637c-186d-11e7-8c24-9d19d4aeb912.png)
Thank you!

[2017-04-03 12:54] tjyang commented on #14576
Yes, excel can be derived after exported csv file. but csv doen't have chart/pivot info.
I am hoping one can export following ESXi OS info chart into excel format.

![image](https://cloud.githubusercontent.com/assets/378638/24610002/944b0a8c-1842-11e7-996b-cc23dd4ddd96.png)

[2017-04-03 13:31] jrafanie commented on #14446
@abonas So, it wasn't announced to the larger miq community yet for a few reasons:
* we need to get the core miq repo 2.4 compatible first, many gems clone miq for their own tests
* I need to provide examples of what needs to be done and any known issues
* I really want to understand the webmock upgrade fix on at least a single gem repo before I ask others to do it. Unfortunately, I don't have any

[2017-04-03 13:41] abonas commented on #14021
@josejulio @theute is there anything left to address in this issue or it can be closed?

[2017-04-03 15:41] agrare commented on #13798
Thanks @skateman !
@pyther can you confirm if this meets your needs?

[2017-04-03 16:24] skateman commented on #13798
Let's wait for the next nightly first :wink:

[2017-04-03 17:01] josejulio commented on #14021
I suppose it can be closed, the only real issue was fixed in https://github.com/ManageIQ/manageiq-ui-classic/pull/537

[2017-04-04 08:36] abonas commented on #14021
@theute as the issue reporter, what do you say?

[2017-04-04 08:58] theute commented on #14021
Yes, closing, thanks !

[2017-04-04 08:58] #14021 closed

[2017-04-04 10:25] ITD27M01 opened #14626 "Issue with websocket notifications in Self-Service UI"
Hi guys.

If I try to access VM console from Self-Service UI I get the error in "Browser Web Console" that Firefox can't establish a connection to the server at wss://miq02.example.com/ws/notification:

[code]

I see related error from log/production.log:

[code]

Than if I login to https://miq02.example.com/api I can see related notification in SSUI and logs like this:

[code]

But for vm console

[2017-04-04 11:40] chriskacerguis commented on #14626
Hello,

Just wondering, does it work with any other browser (Chrome, etc)?

[2017-04-04 11:41] chriskacerguis commented on #14626
@chalettu can you take a look here?

[2017-04-04 12:25] #14062 closed

[2017-04-04 13:22] ITD27M01 commented on #14626
@chriskacerguis
This happens in all browsers. I found that the user can receive notification and get into the console of the virtual machine only if it is a member of the role "super_administrator". My previous test and  logs was for a user in the  "administrator" role.

[2017-04-04 13:37] ablecable opened #14630 "Dutch language"
will there be dutch language support in ManageIQ?

[2017-04-04 14:22] chriskacerguis commented on #14626
Seems like all is "working", just an issue with role settings.  That said, @AllenBW is going to take a look and make sure.

[2017-04-04 15:06] AllenBW commented on #14626
Hi @ITD27M01 :wave:

OK so I gotttaaaaaa few questions for ya... off the bat, this does indeed appear to be missing product feature, so first thing we should investigate is the product features associated with the role assigned to the current group of the user in question, for the sake of thoroughness can you confirm "Access Rules for all Virtual Machines" is selected?

[2017-04-04 15:25] ITD27M01 commented on #14626
Hi @AllenBW
I have not changed the default settings of the roles. And for the boxed EvmRole roles these settings are read-only.
![image](https://cloud.githubusercontent.com/assets/3703483/24664695/fdbad12e-1963-11e7-8489-5d2939d630fb.png)

[2017-04-04 15:34] AllenBW commented on #14626
bahahhahahahaha @ITD27M01 YOU PUT THE IN THE TIME TO ROLL YOUR OWN SMILELY <3 <3 <3

Soooooo that the arrow product feature, can you ensure its selected for the active group of the user you want to give limited privileges to?  (and report back, as this should result in the desired behavior)

The 403 you reported is the tell here, indicating this isn't so much a ui issue.

[2017-04-04 16:10] AllenBW commented on #14626
Are you able to open the virtual machine console with that user via classic ui?  @ITD27M01  :thinking:

[2017-04-04 17:51] ITD27M01 commented on #14626
@AllenBW Yeah, I forgot to report it. I can open the console in the classic UI.

[2017-04-04 20:03] AllenBW commented on #14626
In sui, is both html and console methods failing? or just console?

[2017-04-05 07:21] ITD27M01 commented on #14626
@AllenBW Currently I use only Openstack backend and have only html5 novnc console for vms. I think that if Super-Administrator have access to consoles then this role have some check box that can allow access for limited user.

[2017-04-05 08:27] himdel commented on #14576
@tjyang I think you're better off creating a chart report in manageiq and using that, definitely for now :).

Supporting excel exports is nontrivial but possible. Supporting excel charts however.. is *probably* possible, but sounds like months of work, and essentially means creating a new charting backend for that.

(It may be possible to embed the already existing chart as an image in the excel e

[2017-04-05 09:15] ITD27M01 commented on #14626
@AllenBW
Double check and found that this check box is Tasks checkbox. This box for some reason not very well marked for the role of administrator. Although all nested elements marked:
![image](https://cloud.githubusercontent.com/assets/3703483/24697885/72efbd36-19f7-11e7-8e02-20115a1202b1.png)

If I create new role from this builtin role and uncheck then check this Tasks item, everything is worki

[2017-04-05 09:49] himdel commented on #14573
@miq-bot close_issue

[2017-04-05 09:50] #14573 closed

[2017-04-05 13:24] AllenBW commented on #14626
@ITD27M01 oh snap, learning about new product features every day!   So the issue of the tooltip getting in the way is something I can handle, totally an sui thing, the issue of product feature clustering would be a here issue (miq) and and if you could create a new, clean, laser focused  message of "hey, product features are confusing sometimes, maybe they should be revamed" referencing this issue

[2017-04-05 13:43] ITD27M01 commented on #14626
@AllenBW Ok, in this case, I'm waiting for your help at the "tooltip" and create a corresponding issue related to the first point.

[2017-04-05 13:52] ITD27M01 opened #14648 "Not very well marked checkbox Tasks in the role EvmRole-administrator."
Hi guys.
In the process of troubleshooting connectivity issues with the openstack novnc console I found one strange thing that confuses me. (https://github.com/ManageIQ/manageiq/issues/14626) The Settings->Tasks checkbox for some reason not very well marked for the EvmRole-administrator role. Although all nested elements marked:

![image](https://cloud.githubusercontent.com/assets/3703483/24708505

[2017-04-05 14:01] ITD27M01 opened #14649 "Self-Service User Interface - The pop-up text prevents pressing the console (html5 and cockpit) buttons."
I found another issue with console buttons from SUI that prevent me to fast troubleshoot the issue and confused me. Pop-up text prevents the console button from being pressed. (https://github.com/ManageIQ/manageiq/issues/14626)
![image](https://cloud.githubusercontent.com/assets/3703483/24708862/cda0f578-1a20-11e7-9fba-b8b1ef958c5d.png)
I thought I don't get the message/notifications at the click

[2017-04-05 14:23] chriskacerguis commented on #14649
Thanks @ITD27M01 we will take a look.  Could you do me a favor and log SUI tickets here: https://github.com/ManageIQ/manageiq-ui-service ?