[2015-07-19 15:41] abonas commented on #3522
@Fryguy @blomquisg

[2015-07-19 15:51] abonas opened #3523 "undefined method `ago' in ems_event - error in evm.log"
ERROR -- : [NoMethodError]: undefined method `ago' for 15552000:Fixnum  Method:[rescue in deliver]
[----] E, [2015-07-19T18:27:47.334038 #25061:f8dea0] ERROR -- : /home/abonas/manageiqfork/manageiq/app/models/ems_event.rb:372:in `purge_date'
/home/abonas/manageiqfork/manageiq/app/models/ems_event.rb:380:in `purge_timer'
/home/abonas/manageiqfork/manageiq/app/models/miq_queue.rb:345:in `block in de

[2015-07-20 11:37] petrblaho commented on #3477
@imtayadeway puma 2.12.1 and 2.12.2 compiles its extension fine.

But looking at https://github.com/imtayadeway/manageiq/commit/2d8a0946192d45c9a5a184b244b64d6317b531a3#diff-8b7db4d5cc4b8f6dc8feb7030baa2478R44 - thin in version 1.3.1 have the same issue as puma 2.12.0. Why it is needed to pin its version to 1.3.1 when there is thin 1.6.3 and it installs fine? Is that old need for rails 3 dependenc

[2015-07-20 11:46] mzazrivec commented on #3443
After the most recent changes in master, I'm getting the following error:

$ rake db:migrate
== 20150625220141 FixSerializedReportsForRailsFour: migrating =================
-- Converting MiqReportResult#report to a serialized hash
rake aborted!
StandardError: An error has occurred, this and all later migrations canceled:

(<unknown>): could not find expected ':' while scanning a simple key at line

[2015-07-20 12:13] dmetzger57 commented on #576
No, the work done as part of getting us up on CentOS 7.1 did not eliminate the need for miqnet.sh.

[2015-07-20 13:43] gmcculloug commented on #834
Fixed in PR #2799

[2015-07-20 13:43] #834 closed

[2015-07-20 14:51] imtayadeway commented on #3477
@petrblaho good to hear! I'll mark this as solved then when the puma PR is merged. Can you open a new issue for thin if that is still a problem?

[2015-07-20 15:20] lfu commented on #3197
@miq-bot assign @dclarizio

[2015-07-20 15:49] mzazrivec opened #3532 "Navigating to any orchestration template throws an error"
Services -> Catalogs -> Orchestration Templates -> [any orchestration template]

throws the following error:

[code]

[2015-07-20 15:59] #3323 closed

[2015-07-20 16:04] petrblaho opened #3533 "thin 1.3.1 cannot be installed in Fedora 22 without rvm"
After compile issue with puma 2.12.0 on Fedora 22 (#3477) without rvm puma was exchanged for thin but there is the same issue with thin in version 1.3.1 which is pinned in Gemfile.

Newest version of thin (1.6.3) can be installed fine. It seems there is no reason to have thin pinned in version 1.3.1 in Gemfile - it installs, it runs (I can log in and click through interface - I did not test anythi

[2015-07-20 18:03] djberg96 opened #3534 "scope deprecation warning in log"
I'm seeing this deprecation warning in the logs with Ruby 2.2.2 on OSX from current master after an evm:start:

```WARN -- : DEPRECATION WARNING: Returning a hash from a #scope or #default_scope block is deprecated. Please return an actual scope object instead. E.g. scope :red, -> { where(color: 'red') } rather than scope :red, -> { { conditions: { color: 'red' } } }. (The scope was defined at /Us

[2015-07-20 18:36] jrafanie commented on #541
We'll see if this code is needed and extract it then, see also #3492

[2015-07-20 18:36] #541 closed

[2015-07-20 19:08] #3523 closed

[2015-07-20 19:40] imtayadeway commented on #3477
@jrafanie since this issue was resolved without any code being changed, can this issue be closed?

[2015-07-20 19:42] #3477 closed

[2015-07-20 20:18] jrafanie commented on #3466
@Fryguy what do you think?  Do we use this gem enough in the referenced locations to warrant upgrading it?

[2015-07-20 20:20] kbrock commented on #3466
@jrafanie Is the alternative is to remove the gem all together?

[2015-07-20 20:27] jrafanie commented on #3466
Yes, upgrade or remove the dependency

[2015-07-20 20:28] jrafanie commented on #537
Fixed by #3392

[2015-07-20 20:28] #537 closed

[2015-07-20 20:35] jrafanie commented on #542
Fixed by #2608

[2015-07-20 20:35] #542 closed

[2015-07-21 02:17] #3497 closed

[2015-07-21 07:35] zeari commented on #2329
@abonas Sorry I missed the previous comment.
This is no longer relevant due to #2523 (container service ports)
The field was renamed to ```target_port``` in the new ```container_service_port_config``` model

[2015-07-21 07:44] abonas commented on #2329
@zeari thanks, closing the issue

[2015-07-21 07:44] #2329 closed

[2015-07-21 10:12] ayan1983 opened #3542 "Credential validation was not successful error"
Getting the 'Credential validation was not successful error' while trying to add amazon ec2 instances under Cloud providers.have looked at diferent logs , nothing pointing to a clear direction.Any idea what could be wrong or from where to start ?

[2015-07-21 14:01] hsong-rh opened #3547 "Fleecing: Unable to mount filesystem. Reason:[No such file or directory - open]"
The VixDiskLibServer won't be started due to vim.log was missing in the expected location, which was changed by vmdb relocation.

[----] E, [2015-07-20T16:14:29.763020 #9730:10d1988] ERROR -- : Q-task_id([d55e2142-2f1b-11e5-8c3c-000c29b57ed5]) Unable to mount filesystem.  Reason:[No such file or directory - open] for VM [[local-t4] New Virtual Machine/New Virtual Machine.vmx]
[----] E, [2015-07-20

[2015-07-21 15:19] chessbyte commented on #3547
@roliveri @jerryk55 Please work with @hsong-rh on this.

[2015-07-21 15:28] jerryk55 commented on #3547
Will do. We discussed yesterday.

[2015-07-21 15:31] dclarizio commented on #3532
@Fryguy do you have any ideas on what may be causing this?  Thx, Dan

[2015-07-21 15:53] roliveri commented on #3547
I'm in the process of updating the scripts. Part of the updates is to create the proper links for the logs.

[2015-07-21 16:06] #3444 closed

[2015-07-21 16:06] #3468 closed

[2015-07-21 16:17] hsong-rh commented on #3547
Rich, this is not related to those setup scripts. Our ruby codes have some relative paths, point to the wrong location. After changed MIQ_ROOT, the issue was solved.

hsong-OSX:vmdb hsong$ git diff gems/pending/
diff --git a/gems/pending/VixDiskLib/VixDiskLib.rb b/gems/pending/VixDiskLib/VixDiskLib.rb
index 5aa621d..8236e06 100644
--- a/gems/pending/VixDiskLib/VixDiskLib.rb
+++ b/gems/pending/VixD

[2015-07-21 18:20] imtayadeway opened #3550 "PG::UndefinedColumn error with postgresql version 9.4.3"
running `rspec ./spec/models/vmdb_table_evm_spec.rb:18 # VmdbTableEvm#seed_texts adds new tables` on master gives me the following error:

[code]

[2015-07-21 19:33] #3242 closed

[2015-07-22 08:54] #3474 closed

[2015-07-22 09:25] chessbyte commented on #3550
This will have to be addressed as part of the upgrade to PG 9.4

[2015-07-22 13:50] jrafanie commented on #848
This was deleted in the split repo manageiq-appliance-build.

[2015-07-22 13:50] #848 closed

[2015-07-22 14:01] jrafanie commented on #3463
rufus-scheduler 3 was a rewrite, we'll need to add/change the existing tests and code to work with it.

[2015-07-22 14:11] matthewd commented on #3542
You didn't mention your version... I guess you're using Anand? Botvinnik shows more detail for that error.

However, [as far as I can see](https://github.com/ManageIQ/manageiq/blob/anand/vmdb/app/models/mixins/authentication_mixin.rb#L196-L232), your `evm.log` should contain a message of the form `Validation failed due to [..]`

[2015-07-22 14:36] chessbyte commented on #3463
Any idea how much work that is?  Don't rush this update.

[2015-07-22 14:42] skateman commented on #3445
@eclarizio

[2015-07-22 15:21] jrafanie commented on #3463
Probably a few days.  Not too much code uses it (schedule worker) and we have somewhat useful tests for it so that will help.  It wasn't an easy upgrade so I stopped.

A notable change (from [here](https://github.com/jmettraux/rufus-scheduler#notable-changes)) might require a migration or a translation layer:
* scheduler.every('100') { will schedule every 100 seconds (previously, it would have bee

[2015-07-22 15:23] bronaghs opened #3558 "Icons are required for new Azure integration"
The Azure provider and the Azure instance both need an icon. If you search on google images you will find each.
(Instance is a monitor with a sideways cube in it)
(Provider is a tilted rectangle divided into 4)

[2015-07-22 15:23] bronaghs commented on #3558
@miq-bot assign @dclarizio

[2015-07-22 17:16] ayan1983 commented on #3542
Hi Mathew , I am using http://manageiq.org/download/manageiq-vsphere-stable.ova. Do I need to update the image or use a different one for vmware-vsphere ? I have set the log level at debug . do I need to change that as I havenot got anything in the evm.log complaining about Validation failure

[2015-07-22 21:04] #3311 closed

[2015-07-23 09:30] arthurlogilab opened #3565 "login screen doesn't get browsers to remember passwords"
The login form on the frontpage doesn't seem to be standard in the sense my browser doesn't offer to remember the password. That would be nice.

[2015-07-23 14:09] h-kataria opened #3567 "UI: Arrows missing from all DHTMLXTree folder nodes"
This issue was introduced by Commit SHA: f09e2ec https://github.com/ManageIQ/manageiq/pull/3420

Arrows from all DHTMLXTrees are missing, it is difficult to tell without arrows if the folder has any child nodes under them.
Before commit:
![reports_tree_before](https://cloud.githubusercontent.com/assets/3450808/8852366/d1061df8-3122-11e5-88e9-99d2c2a6eade.png)

After commit:
![reports_tree_after](h

[2015-07-23 14:44] egvalentejr opened #3568 "access control: unable to add remove features when creating a new role"
There is no longer a mechanism to add or remove features of a role.
Environment:
Botvinnik version
Firefox and Chrome behave the same
logged in as admin

See http://talk.manageiq.org/t/access-control-new-role-editing/819/2

[2015-07-23 16:28] romanblanco commented on #1460
@martinpovolny it seems it's not issue anymore ![screenshot from 2015-07-23 18-26-38](https://cloud.githubusercontent.com/assets/1187051/8855994/6ea4392e-3168-11e5-9aeb-5a67d2fe052f.png)

[2015-07-23 17:10] himdel commented on #1648
`OpsController#db_list` is used to retrieve the indexes, calling `ApllicationController#get_view(VmdbIndex, ...)` - and that one returns **one MiqReport**. Which looks weird but possibly correct. That's all I know for now...

[2015-07-23 21:16] hsong-rh commented on #3342
Used nightly build master-201507090323 to test, this issue was resolved.

[2015-07-23 21:43] dclarizio commented on #3565
@epwinchell can you look into this?

[2015-07-24 12:38] #3342 closed

[2015-07-24 12:42] cshinn opened #3579 "UI: unclear wording on VM tab Accordion labels"
Currently, the accordion labels for the VM infrastructure tab are "VMs & Templates", "VMs", and "Templates". For ease of understanding and consistency with all of the other infrastructure tabs (which say "Filters"), the bottom two labels should change to "VM Filters" and "Template Filters".

Currently:
![vmsidebar](https://cloud.githubusercontent.com/assets/3300756/8874457/39abeaa6-31df-11e5-9b38-

[2015-07-24 13:00] chessbyte commented on #3547
Now that the scripts are updated, is this still an issue?

[2015-07-24 13:23] chessbyte opened #3581 "Extract vmdb_restart to the external appliance repo."
https://github.com/ManageIQ/manageiq/blob/master/vmdb_restart

Should this be moved to https://github.com/ManageIQ/manageiq_appliance repo?

[2015-07-24 13:26] #3567 closed

[2015-07-24 13:29] jerryk55 commented on #3547
@chessbyte Rich's scripts don't resolve this issue.  @roliveri made some changes to these files yesterday that do.  I'm not sure if he put in a separate pr or is working with @hsong-rh to update this one.

[2015-07-24 13:52] hsong-rh commented on #3547
@roliveri had checked in the fix using #3573

----- Original Message -----
From: "Jerry Keselman" <notifications@github.com>
To: "ManageIQ/manageiq" <manageiq@noreply.github.com>
Cc: "Hui Song" <hsong@redhat.com>
Sent: Friday, July 24, 2015 9:29:27 AM
Subject: Re: [manageiq] Fleecing: Unable to mount filesystem.  Reason:[No such file or directory - open]  (#3547)

@chessbyte Rich's scripts don't r

[2015-07-24 13:54] chessbyte commented on #3547
@hsong-rh If this issue is now addressed because of #3573, please close it with clear reason why.

[2015-07-24 14:02] hsong-rh commented on #3547
The separate ruby process VixDiskLibServer can be started by the MIQ_ROOT changes. Issue closed.

[2015-07-24 14:02] #3547 closed

[2015-07-24 14:32] chessbyte opened #3584 "Is session[:tree_selection] used?"
[code]

The above output shows that the only callers of `session[:tree_selection]` are in `product/toolbars/miq_servers_center_tb.yaml`.

[code]

Who calls/uses `product/toolbars/miq_servers_center_tb.yaml`?

[2015-07-24 14:32] chessbyte commented on #3584
@h-kataria @martinpovolny @dclarizio Please review

[2015-07-24 14:56] h-kataria commented on #3584
@chessbyte looked around, it looks like we are not using "product/toolbars/miq_servers_center_tb.yaml" and session[:tree_selection] can be removed safely.

[2015-07-24 15:44] #3584 closed

[2015-07-24 16:46] Fryguy commented on #3522
It happens to be the same, but it can be changed per worker.

[2015-07-24 17:29] chessbyte commented on #3581
@gtanzillo @jrafanie @Fryguy  Please review

[2015-07-24 17:41] h-kataria commented on #3568
Fixed in https://github.com/ManageIQ/manageiq/pull/3578

[2015-07-24 17:41] #3568 closed

[2015-07-24 17:59] epwinchell commented on #3471
Fixed Here: https://github.com/ManageIQ/manageiq/pull/3512

[2015-07-24 18:00] #3471 closed

[2015-07-24 18:00] #3513 closed

[2015-07-24 18:01] jrafanie commented on #3581
Yeah, now that the repos are split, I agree, this doesn't belong here.

I think it makes sense doing this with this trello card: https://trello.com/c/3NIQjRNV, since I think the systemd change in our former init scripts may be causing the `vmdb_restart` to not properly reboot the services.  I can help @carbonin when he's ready to work on that one.

[2015-07-24 19:43] abonas commented on #3522
ok so I'll close this. thanks

[2015-07-24 19:43] #3522 closed

[2015-07-26 06:39] oschreib opened #3598 "Configure -> Configuration error after db reset"
I've executed `rake db:reset` and `rake db:seed` (on top of git commit fe870036b), and afterwards, it seems that I can't access configure -> configuration (/ops/explorer).

It seems that the error appears in [1], and I also saw a weird error[2] few minutes before that (not sure if related).

Version info:
postgresql-9.4.4-1.fc22.x86_64
ruby 2.0.0p598 (2014-11-13 revision 48408) [x86_64-linux]

[1]

[2015-07-26 11:00] oschreib commented on #3467
@simon3z @abonas  - I'm rebased on latest master, after a complete DB reset and this still happens.
I'll try to debug it, it seems that something in the relationship is broken (maybe due to new openshift?)

2.0.0-p598 :009 > EmsOpenshift.last.containers.count
  EmsOpenshift Load (0.6ms)  SELECT  "ext_management_systems".* FROM "ext_management_systems" WHERE "ext_management_systems"."type" IN ('Ems

[2015-07-26 13:25] chessbyte commented on #3467
@oschreib I see you are on Ruby version 2.0.0-p598.  ManageIQ was changed in the last few weeks to run on Ruby 2.2 and Rails 4.2.  Please make sure that you install the correct version of Ruby and then update gems via [Bundler](http://bundler.io).

[2015-07-26 15:13] zeari opened #3600 "Relationship titles appear empty in all tabs in containers area"
![empty_names](https://cloud.githubusercontent.com/assets/11256940/8894516/f66396e2-33c1-11e5-9e82-417ecea5d18c.png)

[2015-07-26 15:15] zeari commented on #3600
@miq-bot add_label bug
@miq-bot add_label providers/containers
@miq-bot add_label ui

[2015-07-26 21:41] abonas commented on #3467
@chessbyte there is no requirement at the moment to move to 2.2
to quote @matthewd :
"At the moment, we’re supporting 2.0 - 2.2, to give developers a smooth upgrade… at some point, we’ll bump the minimum to 2.2 to match what we’re releasing.So… sometime soon yes, but right now you’re okay on 2.0 if you’re prefer to wait.(Now that we’re compatible with both, it *should* just be a matter of installi

[2015-07-26 21:49] jrafanie commented on #3467
@abonas agreed, though, 2.1/2.2 are worth it, they're faster.  Let me know if you need any help!

[2015-07-27 10:32] matthewd commented on #3598
Duplicate of #3550: we're currently not compatible with PG 9.4.

[2015-07-27 10:43] oschreib commented on #3598
@matthewd @chessbyte I had no idea we're not compatible with PG 9.4.
I see that #3550 is indeed relevant to the [2] log I attached there, but are we sure that [1] is due to the same issue?

Also, as PG 9.4 is the default in Fedora 22, I guess https://github.com/ManageIQ/guides/blob/master/developer_setup.md has to be changed as well, since there's no mention to the fact that PG 9.4 is unsupported.

[2015-07-27 10:50] matthewd commented on #3598
Ah, I didn't see that there are possibly two issues here. I'll reopen this until someone can make a definitive statement about [1]. I haven't really looked at it, but at a glance, it does sound like it *could* be related.

[2015-07-27 11:15] abonas commented on #3467
np @jrafanie , I was just explaining this is not a must and that the above issue is not tied to ruby version.

[2015-07-27 13:19] #3600 closed

[2015-07-27 13:20] #3467 closed

[2015-07-27 13:42] zeari opened #3604 "Any miq_workers for kubernetes or openshift are no longer running"
This seems to be an authentication problem.

[2015-07-27 13:44] zeari commented on #3604
@miq-bot add_label providers/containers
@miq-bot add_label bug

[2015-07-27 13:45] zeari commented on #3604
@miq-bot assign @oschreib

[2015-07-27 14:16] chessbyte commented on #3598
@matthewd @oschreib ManageIQ has built-in DBA capabilities that we wrote to monitor our own application.  They depend on internal PostgreSQL tables and columns ([here](https://github.com/ManageIQ/manageiq/blob/master/lib/extensions/ar_adapter/ar_dba/postgresql.rb), [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/vmdb_database_setting.rb), [here](https://github.com/ManageIQ/manag

[2015-07-27 17:16] #3488 closed

[2015-07-27 19:39] chessbyte commented on #3550
See [pgsql: Get rid of pg_class.reltoastidxid](http://www.postgresql.org/message-id/E1UuRj8-0001au-F9@gemulon.postgresql.org) and reltoastidxid alternatives in postgresql 9.4](http://www.postgresql.org/message-id/8D15F77F211D7D4786182E1C8E679FAD26A09E1A62@INBLRK77M1MSX.in002.siemens.net)

[2015-07-27 20:24] dclarizio opened #3614 "UI - Configuration / Settings / Zones list should be sorted by description"
In the following screen shot, when the Zones node is selected, the list on the right should be sorted by the Zone descriptions.
![zones](https://cloud.githubusercontent.com/assets/3433754/8916789/ac23422a-3462-11e5-9de5-eda9f5d775f4.png)

[2015-07-27 21:45] #3614 closed

[2015-07-27 22:23] abellotti commented on #2524
@nickithewatt is this still an issue for you ?

[2015-07-28 14:01] #863 closed

[2015-07-28 14:16] lgalis opened #3620 "Exception when navigating to the chargeback screen"
Already found the problem - please assign to @lgalis

![screenshot from 2015-07-28 10-11-57](https://cloud.githubusercontent.com/assets/12769982/8933581/a7e40406-3511-11e5-9acc-4870d7d58b66.png)

[2015-07-28 15:02] epwinchell commented on #3565
@arthurlogilab We're following the Patternfly Project recommendation (https://www.patternfly.org/patterns/login-page/) of not allowing a password to be saved, but would accept a commit to add the "remember username" checkbox.

https://rawgit.com/patternfly/patternfly/master/tests/login.html

[2015-07-28 15:04] matthewd commented on #3565
@epwinchell not offering a "Remember password" checkbox seems quite unrelated to whether we break normal browser-level password management tools.

[2015-07-28 15:10] mkanoor opened #3624 "UI: Automate Methods Changes not saved"
Automate method changes are being discarded.

[2015-07-28 15:28] dclarizio commented on #3565
The decision to not allow remembering of both user name and password was made a while back in MIQ.  On sites I visit, some allow saving user names and a few allow saving passwords (I personally rarely allow my user names to be saved, never my passwords).  Some let the browser remember what you typed and prompt when the first character is entered.

I think some security folks need to chime in as to

[2015-07-28 15:56] abellotti commented on #2092
versioning was updated to 2.0.0 - closing this issue.

[2015-07-28 15:56] #2092 closed

[2015-07-28 15:58] chessbyte commented on #121
@chriskacerguis When you get a chance, please review response by @abellotti

[2015-07-28 15:59] #3624 closed

[2015-07-28 16:32] arthurlogilab commented on #3565
@epwinchell thanks for the explanation. I think this is a bad hack to a real problem and that it encourages weak passwords instead of strong passwords generated by a tool.

This is not critical to me as I am not (yet?) a manageiq user. I just though I would contribute this feedback. If it's by design, fine. I'm not a fan, but that's just me.

[2015-07-28 20:09] abonas opened #3634 "Add provider screen - the credentials section has a misplaced "optional" label"
it should go next to the field, not under the field.

![provideroptionalauth](https://cloud.githubusercontent.com/assets/6277245/8942373/020b1ec0-3543-11e5-8896-f75b20cbea65.png)

[2015-07-28 20:10] abonas commented on #3634
cc @oschreib @simon3z @h-kataria

[2015-07-28 23:12] nickithewatt commented on #2524
@abellotti I have not managed to test this again recently, and have since been moved off this particular piece of work onto something else. I suggest that given the code base has moved on since this was originally raised, and it is working on the Centos 7.1 appliance for you, that we simply close it for now, and if its still a problem later, then it can be opened up again. Thanks

[2015-07-29 09:19] mzazrivec opened #3638 "Re-style new bootstrap datepicker if needed"
This ticket is to track re-styling of the new bootstrap datepicker that we use, if needed.

Pull request implementing new datepicker: #3339

[2015-07-29 14:11] #2524 closed

[2015-07-29 17:11] dclarizio opened #3647 "UI - Copying an Analysis Profile shows Add screen, but no buttons are present"
In Configuration / Settings, copy an existing Analysis Profile.  An add screen is displayed, but there are not Add/Cancel buttons present.  Doing a normal add, does show the buttons.

[2015-07-29 17:37] dclarizio opened #3648 "UI - Schedule editor not initializing Action drop down"
After saving a schedule, editing it does not show the previously selected action.  In the screen shot below I had selected VM Analysis, but seems it doesn't remember any choice.

![schededitaction](https://cloud.githubusercontent.com/assets/3433754/8965028/bb404b96-35dd-11e5-95b5-3911c43a99b3.png)

[2015-07-29 19:29] hsong-rh opened #3650 "Fleecing on openstack instance: Failed to create evm snapshot with EMS. Error: [Excon::Errors::Conflict]: [Expected([200, 202]) <=> Actual(409 Conflict)"
The SmartState Analysis failed on one openstack instance Joe_cfme53 because its 'Task State' was in an intermediate state 'image_snapshot' (see below) after shut down. After reset it into None, job succeeded without any errors.

========= evm.log ============
...............
[----] E, [2015-07-29T10:15:03.983524 #4942:521994] ERROR -- : Q-task_id([28d29092-35fc-11e5-9bc0-000c29b57ed5]) MIQ(VmScan#

[2015-07-29 19:45] mkanoor opened #3652 "Sporadic Test Failure on VMDB::Util .add_zip_entry"
1) VMDB::Util .add_zip_entry
     Failure/Error: Unable to find matching line from backtrace
       <File (class)> received :directory? with unexpected arguments
         expected: ("/var/log/messages.log")
              got: ("/Users/madhukanoor/devsrc/manageiq/app/assets/evm_spec_helper/miq_product_feature")
     # ./lib/extensions/as_const_missing_with_sti.rb:109:in `block in const_missing_with

[2015-07-29 22:05] #3489 closed

[2015-07-29 22:38] tenderlove commented on #3565
We should allow password managers to remember the passwords.  I mean, not try to circumvent them.  I use a password generator, so it's really annoying when websites won't let keychain fill them in for me.

[2015-07-29 22:59] abonas commented on #3634
@chessbyte, why is this assigned to me?
On Jul 29, 2015 6:13 PM, "Oleg Barenboim" <notifications@github.com> wrote:

[2015-07-29 23:02] chessbyte commented on #3634
@abonas please assign to whoever on your team will work on it

[2015-07-30 05:50] akarol commented on #3647
Bz link- https://bugzilla.redhat.com/show_bug.cgi?id=1248329

[2015-07-30 10:27] akarol commented on #3648
BZ link-https://bugzilla.redhat.com/show_bug.cgi?id=1248446

[2015-07-30 13:36] rananda commented on #3634
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1248547

[2015-07-30 14:07] lgalis opened #3658 "Exception when opening 'Right Size Recommendation' for vm"
After changes in 3189ce67dd5e9677dedf1e39466ffc1316540cef for vim_performance_analysis.rb

![screenshot from 2015-07-30 09-41-47](https://cloud.githubusercontent.com/assets/12769982/8984943/b76a57ee-36a2-11e5-9d1a-05583614c939.png)

Please assign to @lgalis as I already have a fix

[2015-07-30 14:41] #1616 closed

[2015-07-30 14:41] #3550 closed

[2015-07-30 14:41] #3598 closed

[2015-07-30 15:19] lgalis opened #3661 "Configuration menu for Service Catalog Items containing Add a new Button/Group"
![screenshot from 2015-07-30 11-17-30](https://cloud.githubusercontent.com/assets/12769982/8986995/c8a40b9a-36ac-11e5-8698-a1f0350c65c9.png)

[2015-07-30 15:21] #3620 closed

[2015-07-30 16:58] chessbyte commented on #3661
@lgalis Is this a bug report?

[2015-07-30 17:19] lgalis commented on #3661
@chessbyte - yes - I do not think the 2 menu items should be present for this tab - adding  @dclarizio

[2015-07-30 20:55] hsong-rh opened #3666 "Fleecing on openstack instance: job aborting, job timed out after 347.882045879 seconds of inactivity."
The SmartState Analysis failed with timeout error message. The reason was the status of the created image was always in 'queued' instead of 'active', which is expected to break the until loop in our code.

========== MiqOpenStackInstance.rb =====
    miq_snapshot.collection = image_service.images

[code]

========== status of the created image ========
+--------------------------------------+-----

[2015-07-30 22:15] dclarizio opened #3667 "UI - Service Catalog Item tree not showing open/close images"
We had this issue in all of the trees recently after some style changes.  I just noticed now that the Catalog nodes in the Service Catalogs and Catalog Items trees don't have the expander image:
![svccat_initial](https://cloud.githubusercontent.com/assets/3433754/8996415/97e98442-36cc-11e5-9f55-231800f5d9a6.png)
After clicking on a Catalog Item on the right, the expander shows up, but just for the

[2015-07-30 22:18] dclarizio opened #3668 "UI - Automate trees don't show Namespace nodes and can't select them on the right"
May be related to #3667.

In this screen shot, at any leaf Namespace node, there are no children (or expander icons) shown in the tree to drill down into the class, method, and instance nodes.  Also can't select the classes on the right, they do not respond.
![automate_ns_nodes](https://cloud.githubusercontent.com/assets/3433754/8996622/3c38b6fc-36ce-11e5-84be-a7dad64c6f4b.png)

[2015-07-30 22:19] dclarizio commented on #3668
@h-kataria Can you take a look into this to see if it is more than just a tree expander icon issue?  Thx, Dan

[2015-07-31 07:15] akarol commented on #3658
BZ link -https://bugzilla.redhat.com/show_bug.cgi?id=1248914

[2015-07-31 07:55] skateman commented on #3667
@dclarizio I think this is not a styling issue, the expander is not present because the tree node somehow has no children during the rendering and receives a `dynatree-connector` class. When I click on the child on the right, the node after rendering has some children and it has also a `dynatree-expander` class.
https://github.com/ManageIQ/manageiq/blob/master/app/assets/javascripts/dynatree/jquer

[2015-07-31 11:29] rananda commented on #3412
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1244842

[2015-07-31 13:53] gtanzillo commented on #3443
This issue was fixed with PR #3450

[2015-07-31 13:53] #3443 closed

[2015-07-31 15:01] djberg96 commented on #241
Coming back around to this, I'd like to get this working with nokogiri as rexml is horribad. I wouldn't think it would be an issue on Windows since it ships with precompiled binaries, for mingw at least.

[2015-07-31 15:31] h-kataria commented on #3668
@lgalis count(:all) fix in https://github.com/ManageIQ/manageiq/pull/3635 seems to have broken this. For some reason in automate tree  when autoloading nodes count is being returned as 0, i think this is only happening when there are mixed objects under a node that's being clicked on(Namespaces and Classes both under a Namespace node). Let me know if you need help looking into it or recreating it.

[2015-07-31 15:41] lgalis commented on #3668
I will switch to my original changes in #3635, without the count(:all)

[2015-07-31 16:15] djberg96 commented on #241
I traced the issue to the process_obj method in the miq-powershell.rb file. The fundamental problem is that you can reference a REXML::Elements result by xpath, whereas Nokogiri does not allow that:

    str = %Q{<a><b/><c id="1"/><c id="2"/><d/></a> }

    rdoc = REXML::Document.new(str)
    p rdoc.root.elements['c']

    ndoc = Nokogiri::XML::Document.parse(str)
    p ndoc.root.elements['c'] # B

[2015-07-31 16:32] #3668 closed

[2015-07-31 16:32] #3667 closed

[2015-07-31 16:53] jrafanie commented on #241
:+1: :heart: @djberg96

Note, we don't need to rip apart the MiqXml layer at first (unless it's required), making things
work with MiqXml with nokogiri would be a great start:

[code]

Good luck!  :smiley:

[2015-07-31 17:30] lgalis commented on #3661
Not a bug - a button can be added to the Catalog item.

[2015-07-31 17:30] #3661 closed

[2015-07-31 17:46] dclarizio commented on #3661
@lgalis If you are talking about the Add buttons for button groups and buttons, they do apply.  This is to allow buttons (and groups of buttons) to be displayed on the resulting service after it is provisioned.  For example "Start this service", "Do something else to this service", etc.

So, I'm thinking this isn't a bug, but we can discuss it you'd like.

[2015-07-31 19:19] #3648 closed

[2015-07-31 21:23] abonas opened #3682 "Containers - incorrect filter mentioning namespace"
![namespaceinui](https://cloud.githubusercontent.com/assets/6277245/9018008/c8cfe290-37a8-11e5-9e52-2f074c8efee7.png)

[2015-07-31 21:23] abonas commented on #3682
@miq-bot add_label providers/containers
@miq-bot add_label bug
@miq-bot add_label ui

@simon3z fyi

[2015-07-31 21:27] dclarizio commented on #3667
@skateman you were right, it just looked similar to the previous problem.  Harpreet and I noticed it was caused by another change.

[2015-08-03 14:29] rananda commented on #3344
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1249670

[2015-08-03 14:42] martinpovolny commented on #1858
@brandondunne, @AparnaKarve : I believe, we can close this one. Please, reopen if I am wrong.

[2015-08-03 14:42] #1858 closed

[2015-08-03 14:42] #1565 closed

[2015-08-03 14:58] mkanoor opened #3692 "Automate Datastore not seeded"
Since we moved the Automate models into lib/miq_automation_engine/models the default seeding process doesn't seed the MiqAeDatastore class.
In a pristine environment the Automate database is empty due to this

[2015-08-03 18:19] #3533 closed

[2015-08-03 19:03] imtayadeway commented on #3487
@Fryguy it's required by ziya. i'm trying to see if the latest logging gem will break _that_, but i may end up yak shaving this one

[2015-08-03 20:18] Fryguy commented on #3466
No, the progress bar is really useful / important for the tools, otherwise there's no user feedback otherwise.  Some of these purging scripts can take a really long time.

I am fine with upgrading it given that it doesn't introduce new dependencies.

[2015-08-04 10:58] abonas opened #3710 "Token field is too small"
Tokens are typically much longer than the current field, and though they can be pasted there,
it doesn't look good.

![token](https://cloud.githubusercontent.com/assets/6277245/9059236/e0211594-3ab0-11e5-9a33-ae14bf3417ac.png)

[2015-08-04 11:02] abonas commented on #3710
@miq-bot add_label providers/containers
@miq-bot add_label ui

cc @simon3z @oschreib

[2015-08-04 13:52] akarol commented on #3666
BZ link -https://bugzilla.redhat.com/show_bug.cgi?id=1250098

[2015-08-04 14:59] cshinn opened #3716 "History button icon and behavior enhancement"
The current history button (Infrastructure VM and PXE tabs) is difficult to locate because the arrow in its icon is pointing the incorrect direction. This makes it look like a "redo" button.

Additionally, the presence of the icon suggests that the user could click on it to go back to their previous view, an action currently possible only by clicking on the correct tree item or clicking multiple t

[2015-08-04 15:34] cshinn opened #3717 "Dashboard actions menu enhancement"
The icons on the upper right corner of each Dashboard card add visual complexity without adding information.
![screen shot 2015-08-04 at 11 10 15 am](https://cloud.githubusercontent.com/assets/3300756/9064778/18ad6a3a-3a9c-11e5-995c-a4a0200b37b1.png)

The row of icons should be replaced by a vertical ellipse icon that will hide and show on hover. When the icon is clicked, it should display a menu

[2015-08-04 17:02] rananda commented on #1989
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1233188

[2015-08-04 17:09] cshinn opened #3718 "Utilization and Timelines as alternative views"
The Utilization and Timelines features are presented as though they are actions to perform on an object, but behave as though they are different ways of viewing the object.

Adding buttons for these views to the right hand side of the tool bar (along with a "summary" button to return to the standard object view) would make the relationship between the three views more clear, and it would simplify

[2015-08-04 17:14] h-kataria opened #3719 "UI: Moving VM & Templates related all rules out to new top level feature folder"
@martinpovolny currently Access Control tree is being built using menu presenters code which doesn't allow to add a new level folder to Access Control tree unless it is included in navigation menu. We need to come with an approach that allows us to add Folders to features tree without adding them to menus. Please suggest on how to proceed with this.
See https://bugzilla.redhat.com/show_bug.cgi?id=

[2015-08-04 17:48] cshinn opened #3720 "Resource Pool: All VMs (Tree view) as alternative view option"
When viewing a specific Resource Pool, two of the rows in the "relationships" table are  "All VMs" and "All VMs (Tree View)". Both of these rows show the same information and clicking through the tree view row seems to show the same information as the All VMs row except for the formatting of the information.
![screen shot 2015-08-04 at 1 37 15 pm](https://cloud.githubusercontent.com/assets/3300756

[2015-08-04 22:33] imtayadeway commented on #3487
this is blocked by WinRm, which locks the logging version at `~> 1.6` (even in the upstream repo).

[2015-08-05 00:54] #3484 closed

[2015-08-05 00:56] #3692 closed

[2015-08-05 11:03] rananda commented on #1883
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1250417

[2015-08-05 11:14] rananda commented on #1879
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1250438

[2015-08-05 11:32] rananda commented on #1871
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1250444

[2015-08-05 17:17] martinpovolny commented on #3719
@h-kataria : please, take #3729 if you like that approach

[2015-08-05 17:26] djberg96 commented on #241
I've got it working now. You can see my "rexml_to_nokogiri" branch on my fork:

https://github.com/ManageIQ/manageiq/compare/master...djberg96:rexml_to_nokogiri

Quick summary of issues:
- Accessing attributes['x'] returns a value in REXML. In Nokogiri it gives us an object and we must call the .value method.
- Accessing elements['x'] is legal in REXML but not Nokogiri. I used a solution that work

[2015-08-05 17:36] Fryguy commented on #241
Cool stuff @djberg96 .  If that miq-xml change works I think you can just make a PR and we can merge it.  However, should we just dump miq-xml entirely for powershell stuff?  What if we just use Nokogiri natively?

[2015-08-05 18:39] rananda commented on #1648
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1212746

[2015-08-05 18:39] djberg96 commented on #241
@Fryguy I think the level of effort to just rewrite for Nokogiri is too high. That compatibility layer is not insignificant.

[2015-08-05 18:44] rananda commented on #1789
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1201531

[2015-08-05 19:41] rananda commented on #1543
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1188544

[2015-08-05 21:30] mkanoor opened #3734 "TypeError during vmware snapshot creation"
When creating a snapshot from the UI the evm.log has an error

ERROR -- : [TypeError]: #<ManageIQ::Providers::Vmware::InfraManager id: 1......> is not a class/module        Method:[rescue in deliver]

[2015-08-05 21:37] dclarizio opened #3735 "UI - Report editor flash message not in color"
Saving or canceling from a report edit, the flash message on the top should be in color:
![report saved](https://cloud.githubusercontent.com/assets/3433754/9098358/3599c886-3b7e-11e5-862a-f644928f4bc7.png)
per @epwinchell `its not using flash messages, using info_msg`

[2015-08-05 21:48] dclarizio opened #3738 "UI - Summary rows with calculations not showing in report output"
Created a report with summary rows that have calculations, like this:
![report summary total](https://cloud.githubusercontent.com/assets/3433754/9098740/87e41cfc-3b80-11e5-96f0-f69762450c3a.png)
It should show a sort break row for the provider name, which is does, followed by a row for the Totals, which is missing:
![numcpus total line](https://cloud.githubusercontent.com/assets/3433754/9098769/b7

[2015-08-06 05:05] silverskysoft opened #3740 "Excessive AWS SNS requests when Event Monitor is enabled but without AWS Config Topic"
Manage IQ creates excessive SNS requests when it has Event Monitor role enabled, Amazon Cloud provider enabled but AWS Config Topic for SNS was not setup. This has potential to wipe out the 'free' 1 million SNS requests limit within a day or two.

See talk from for detailed discussion http://talk.manageiq.org/t/how-is-aws-sns-s3-service-used/849

[2015-08-06 06:21] akarol commented on #3734
BZ link -https://bugzilla.redhat.com/show_bug.cgi?id=1250831

[2015-08-06 07:39] Ladas opened #3741 "VmOrTemplate validate buttons have a wrong condition"
https://github.com/ManageIQ/manageiq/blob/fd90bedc57ee51c77bc8fbb6dd2ea850191a8d4f/app/models/vm_or_template/operations.rb#L71

The 3 lines that returns true will overrride bahaviour of all buttons. That means all actions on a VM will show, e.g. when you delete an EMS.

Seems to me all checks should return false, otherwise it should not be in that method.

[2015-08-06 07:41] Ladas commented on #3741
@dclarizio I can fix this one, though would be nice to ask original author first, if this has some hidden meaning I am missing here.

[2015-08-06 08:04] martinpovolny opened #3742 "Replacing the dhtmlx layouts"
Trello issue: https://trello.com/c/rvjGhfVg/99-5-replace-dhtmlx-inner-layout

The goal is to replace dhxLayout with bootstrap http://getbootstrap.com/ and patternfly https://www.patternfly.org/

The basic structure of the layouts is shown here:

![img_20150806_095318](https://cloud.githubusercontent.com/assets/51095/9106545/587088c4-3c21-11e5-8b9c-df733c348434.jpg)

Through the source code we have

[2015-08-06 08:34] martinpovolny commented on #3742
Because we are moving presentation logic to client side (using Angular), we should implement the nice API for the layouts in static javascript. And probably put it under the ManageIQ scope that @romanblanco created or to some other place where it would be easily consumable from RJS, old-school javascript and also from Angular. @himdel: what do you suggest?

[2015-08-06 11:07] zeari commented on #3710
The file we need to edit seems to be this one: ```app/views/layouts/_container_auth.html.haml```
Im not sure what is the correct way to adjust the length of the field.

[2015-08-06 14:42] blomquisg commented on #3734
@mkanoor, I just reassigned this to @dmetzger57 because he's also the assignee on the BZ.  If it makes more sense for you to keep it, that's fine, but make sure you grab the associated BZ, too.

Alternatively, you both could pair on it ...

[2015-08-06 14:44] chessbyte commented on #3634
@abonas bump - please assign to whoever on your team will work on it

[2015-08-06 14:47] brandondunne opened #3745 "Infra/PXE can't edit Customization Templates"
![image](https://cloud.githubusercontent.com/assets/651659/9114564/8bae1614-3c28-11e5-833e-20c937936a98.png)

![screenshot from 2015-08-06 10 26 46](https://cloud.githubusercontent.com/assets/651659/9114109/1a53e4d2-3c26-11e5-95b3-46a8b7c74d8f.png)

When clicking the edit button for a Customization Template I get the following error:
[code]

[2015-08-06 14:48] brandondunne commented on #3745
@miq-bot assign @dclarizio

[2015-08-06 14:48] brandondunne commented on #3745
@miq-bot add_label ui bug

[2015-08-06 14:52] brandondunne commented on #3745
@miq-bot add_label ui

[2015-08-06 14:52] brandondunne commented on #3745
@miq-bot add_label bug

[2015-08-06 14:56] dmetzger57 commented on #3734
Sounds like @mkanoor  has this taken care of.

[2015-08-06 17:09] #3483 closed

[2015-08-06 17:15] dclarizio opened #3750 "UI - New angular issues in Schedule Editor"
@AparnaKarve As discussed, some new issues have popped up in the Schedule Editor:

* Add button not lit up when trying to add a new schedule
* Action and Filter drop downs not selected when editing an existing schedule
* Save button not lighting up when all fields are correct on edit

[2015-08-06 17:48] abonas commented on #3634
@chessbyte, this is an open source project, anyone can pick this bug and solve it, why does it need assigning?

Functionally speaking, the behavior is very similar in the credentials screen in the infra provider and it has been there for a while - so it might need some cross authentication dialogs handling.

The fact that I opened the issue does not mean that necessarily me or my team will solve i

[2015-08-06 19:14] AparnaKarve commented on #3750
This issue was introduced by https://github.com/ManageIQ/manageiq/pull/3238

[2015-08-07 04:29] akarol commented on #3745
Bz link -https://bugzilla.redhat.com/show_bug.cgi?id=1251345

[2015-08-07 11:20] himdel commented on #3742
As long as the layout part itself is not under angular's control, simply putting these functions under, say, `ManageIQ.layout` should be quite fine and angular probably doesn't need to know about it at all. When we eventually move to one big angular app, we'll want a service to keep the state and a bunch of directives to do the actual work of showing the relevant parts, but if we start with a nice

[2015-08-07 14:13] blomquisg commented on #3740
https://bugzilla.redhat.com/show_bug.cgi?id=1251234

[2015-08-07 14:41] #3558 closed

[2015-08-07 15:26] epwinchell commented on #1685
@martinpovolny I don't see any issue. Can you check that screen? Maybe it was fixed when we converted the tables to Bootstrap

[2015-08-07 15:42] #3734 closed

[2015-08-07 15:48] #3682 closed

[2015-08-07 18:03] #3658 closed

[2015-08-07 18:44] #3344 closed

[2015-08-07 22:19] bdunne opened #3767 "UI Can't add new foreman provider"
Add and Validate buttons appear to be disabled...
![image](https://cloud.githubusercontent.com/assets/651659/9147114/c704bec6-3d30-11e5-959f-f509abcd4953.png)

[2015-08-07 22:19] brandondunne commented on #3767
@miq-bot add_label bug

[2015-08-07 22:19] brandondunne commented on #3767
@miq-bot add_label ui

[2015-08-07 22:19] brandondunne commented on #3767
@miq-bot assign @dclarizio

[2015-08-08 05:55] kbrock opened #3770 "Appliance git repo file is changed"
Hello @abellotti @gtanzillo and other wonderful developers.

In our [kickstart] we modify `evm` and `evm_bundler`:

[code]

These files are checked into git in the repo ManageIQ/manageiq-appliance.

If you are working in this directory and do a `git stash` or `git reset`, the appliance stops working. Ruby will no longer be in the path. I've had to revert to previous snapshots in appliances because

[2015-08-10 12:04] martinpovolny opened #3775 "[WIP] i18n various tasks and guidelines"
# i18n Developer Guidelines

For i18n we use gettext http://www.gnu.org/software/gettext/manual/gettext.html. In particular https://github.com/grosser/fast_gettext.

We are also using `https://github.com/grosser/gettext_i18n_rails` which makes some of the Rails i18n such as `ActiveSupport::human()` calls work.

## Simple Usecases

`_('foo')` -- simple string translation http://www.rubydoc.info/gem

[2015-08-10 12:19] himdel commented on #3775
## Developer workflow
(from https://docs.google.com/document/d/13pnzHNm2QM0ccwk_Cag3s7wJAAL4T9yDXnRx_4WwCcQ/edit)

When you touch a translatable string in your commit/PR you do

rake gettext:find

to update the translation files with new keys.

Then you add add the changes to your commit or PR.

When you touch a DB table (change/add/remove columns) in your commit/PR you do:

1. rake gettext:store_

[2015-08-10 12:20] himdel commented on #3775
(broken) gettext calls with interpolation: ``` ag '\b_\([^)]*#{[^}]*}[^)]*\)' ```

[2015-08-10 13:05] #3738 closed

[2015-08-10 13:11] skateman commented on #3775
@martinpovolny:
* according to our style guide, we should use `String#format` instead of `%` https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/style/format_string.rb#L6
* we still have an open issue to support hints for the translators #1249

[2015-08-10 13:21] martinpovolny commented on #3775
@skateman, @himdel : really I don't care. As long as we have a single preferred way and named arguments, we can have `%` or `format` or `sprintf`. So if the Ruby style guides prefer `format`, then I say: let's go for it.

[2015-08-10 13:32] himdel commented on #3775
@skateman I don't know.. `format` is problematic because we have a format method in at least 102 classes :). `sprintf` we use at 12 places, `String#%` at 2017 :). So the question is, how much do we want to change it? :)

[2015-08-10 13:38] himdel commented on #3775
column lookup:

`Dictionary.gettext(foo, :type => :column)` is used, but only 16 times.

the most common pattern seems to be:

`_("%{model} \"%{name}\" was added") % {:model=>ui_lookup(:model=>"IsoDatastore"), :name=>@edit[:ems_name] }` - where only the model name is translated

[2015-08-10 13:38] matthewd commented on #3775
@himdel about this much: #3778 :grin:

[2015-08-10 13:39] himdel commented on #3775
@matthewd <3

[2015-08-10 13:47] romanblanco commented on #3735
@dclarizio @epwinchell i guess that for saving Customization Templates in Infra/PXE should be done the same
![screenshot-localhost 3000 2015-08-10 15-39-31](https://cloud.githubusercontent.com/assets/1187051/9172936/1ca76a98-3f77-11e5-8116-932e60dbf4cd.png)

[2015-08-10 13:49] epwinchell commented on #3735
@romanblanco yes

[2015-08-10 14:27] martinpovolny commented on #3775
Ok, guys, so I guess #3778 is the answer to @skateman's suggestion.

Any other suggestions? Recommendations, missing parts, errors, whatever? I'd like to get a working set of rules here, that we would all aggree upon so that we could publish this for our (external) contributors.

[2015-08-10 18:03] #3745 closed

[2015-08-11 10:15] romanblanco opened #3799 "Unreadable text in Service Catalog detail"
While fixing #3798 I noticed a bug in Service Catalog detail.

I some cases text is covering title:

![screenshot-localhost 3000 2015-08-11 12-11-13](https://cloud.githubusercontent.com/assets/1187051/9195316/3ed8a068-4022-11e5-9c7d-04e9394bbfe9.png)
But in some cases it works fine:

![screenshot-localhost 3000 2015-08-11 11-53-36](https://cloud.githubusercontent.com/assets/1187051/9195345/74593f7

[2015-08-11 12:26] romanblanco opened #3802 "Exception in Automate →Simulation"
After clicking on Automate →Simulation I'm getting error:

    [----] F, [2015-08-11T14:17:13.112490 #9909:2ab40cd57970] FATAL -- : Error caught: [NoMethodError] undefined method `super_admin_user?' for #<ApplicationHelper::ToolbarChooser:0x0055682300e8e0>
    /home/rblanco/devel/manageiq/app/helpers/application_helper/toolbar_chooser.rb:73:in `center_toolbar_filename_explorer'
    /home/rblanco/d

[2015-08-11 12:34] romanblanco commented on #3799
@miq-bot add_label bug, ui

[2015-08-11 12:35] romanblanco commented on #3802
@miq-bot add_label bug

[2015-08-11 13:20] epwinchell commented on #3799
@romanblanco This needs a little design work. Please change to WIP

[2015-08-11 13:24] romanblanco commented on #3799
@epwinchell This is just an issue, Robin made a PR with fix: #3801

[2015-08-11 14:16] romanblanco commented on #3775
@martinpovolny
`_("No %{content} were selected to move up") % { :content => 'fields' }`
should be probably without spaces in bracket:
`_("No %{content} were selected to move up") % {:content => 'fields'}`

[2015-08-12 04:55] akarol commented on #3802
Bz link -https://bugzilla.redhat.com/show_bug.cgi?id=1252672

[2015-08-12 11:06] zeari opened #3820 "Container Images are not parsed correctly"
* Fails with ```localhost:5000/example:tag```
* Fails with ```localhost:5000/example@sha256:xxxxxxxxxxxxxxxxx```

[2015-08-12 11:06] zeari commented on #3820
@miq-bot assign @zeari

[2015-08-12 11:08] zeari commented on #3820
@miq-bot assign zeari

[2015-08-12 11:10] zeari commented on #3820
@abonas fyi

[2015-08-12 12:07] abonas commented on #3820
@Fryguy, looks like an issue with the bot?

[2015-08-12 12:07] abonas commented on #3820
@miq-bot add_label providers/containers
@miq-bot add_label bug

[2015-08-12 13:47] #3802 closed

[2015-08-12 13:48] Fryguy opened #3826 "respond_to_missing? is missing on many models"
Since Ruby 1.9, any time a class implements `method_missing` it should also implement `respond_to_missing?`.  This is left out in much of the old pre-1.9 code.

A current git grep (of which I on;y spot checked:

[code]

Extracted from #3816

[2015-08-12 14:11] lfu opened #3829 "Got PG::AmbiguousColumn: ERROR: column reference "ems_id" is ambiguous when looking at a provider's Timeline"
**Go to a provider's summary page, click on Timeline, check the log file for errors like this one:**
[code]

**Cause of the error**
The timeline reports are based on DB EmsEvent and include tables ext_management_system and availability_zone. Both ems_event and  availability_zone have a column called ems_id.

When the report options are built in [this method] (https://github.com/ManageIQ/manageiq/b

[2015-08-12 14:22] simon3z opened #3832 "No authentication validation on Kubernetes/OpenShift provider addition"
I haven't checked this with other providers (they could be affected as well).

Whenever I add a Kubernetes/OpenShift provider its authentication is not validated. It is possible to click "validate" in the UI but since there's no entity in the DB yet there's no entry to mark as "Valid".

This means that on addition of such providers the workers are not started (refresher, even monitor) since the au

[2015-08-12 14:40] abonas commented on #3832
@miq-bot add_label providers/containers

[2015-08-12 15:06] epwinchell commented on #3717
@serenamarie125 Is this something someone from your team could work on?

[2015-08-12 16:00] h-kataria opened #3835 "UI: Error when trying to access Cluster summary screen"
[----] F, [2015-08-12T11:47:59.429614 #20280:f19988] FATAL -- : Error caught: [NameError] uninitialized constant EmsClusterHelper::TextualSummary::EmsClusterOpenstackInfra
/home/hkataria/dev/manageiq/lib/extensions/as_const_missing_with_sti.rb:109:in `block in const_missing_with_sti'
/home/hkataria/dev/manageiq/lib/extensions/as_const_missing_with_sti.rb:205:in`nest'
/home/hkataria/dev/manageiq/li

[2015-08-12 19:44] blomquisg commented on #3832
[EmsCommon#create](https://github.com/ManageIQ/manageiq/blob/a6116d86a51566c62576d0b365d866f5a8f89c3d/app/controllers/ems_common.rb#L280) calls `set_record_vars`, which in turn calls [ExtManagementSystem#update_authentication](https://github.com/ManageIQ/manageiq/blob/a6116d86a51566c62576d0b365d866f5a8f89c3d/app/controllers/ems_common.rb#L857).  At this point the `mode` is not set, so it defaults

[2015-08-12 20:22] abonas opened #3842 "Sorting container entities list by provider column crashes the UI"
with the following exception

 ERROR: column container_services.ext_management_system does not exist LINE 1: ...tainer_services"."container_project_id" ORDER BY container_... ^ [container_service/show_list]

@miq-bot add_label ui
@miq-bot add_label providers/containers
@miq-bot add_label bug
cc @simon3z

[2015-08-12 20:24] lfu commented on #3829
@miq-bot add_label bug, core

[2015-08-12 20:24] serenamarie125 commented on #3717
This functionality will be added to PatternFly.  We didn't think it was an immediate requirement.  Are you thinking for 4.1 or 4.0 timeframe?

[2015-08-12 20:39] epwinchell commented on #3717
@serenamarie125 No rush at all. We didn't realize it was going to be in Patternfly - keep us posted. Thanks.

[2015-08-12 21:20] jrafanie commented on #3770
I agree, it's a pain.  I haven't come up with an obvious solution that I like.  I'm more than willing to help if others have ideas on how to fix it.

[2015-08-12 22:05] #3750 closed

[2015-08-12 22:12] dclarizio opened #3845 "UI - Using context menu on a Host chart to go to Timeline results in infinite refresh"
@mzazrivec This is similar to what was happening with the charts recently.  Going directly to a Hosts Timeline works fine, but using the chart menu to get there results in the tl_chooser method being posted over and over.

[2015-08-12 23:08] #3634 closed

[2015-08-13 04:53] akarol commented on #3829
Bz link- https://bugzilla.redhat.com/show_bug.cgi?id=1253126

[2015-08-13 06:17] kbrock commented on #3770
@jrafanie I wanted to capture this more than I need a solution now.

1. Since vmdb is no longer in the same repo as this file, I don't botch my vm as much with git stash.
2. Also, now that the login is no longer in ruby, even when I botch my vm, I can still easily login to fix and either type `git stash pop` or try and reconstruct those files.

[2015-08-13 08:36] simon3z commented on #3832
@blomquisg I walked through the steps and that's what happens with Containers as well. Because in fact what you described is how the entities get saved in the database (and we have no problem with that).

What we are interested in, and we can't locate (even in the flow you described) is when the `Authentication` is validated (and therefore gains the status `Valid`).

[2015-08-13 11:06] abonas commented on #3842
Saw this in services, pods, nodes, didn't check others.
I believe this is due to incorrect definition of the query in the yaml files for this view, and not specifying (ContainerService.yaml, etc.)

[2015-08-13 12:31] romanblanco opened #3853 "Center toolbar disappears after clicking on search button"
Center toolbar disappears after clicking on search button + space between search field and table is canceled:

Steps to reproduce: Control → Explorer → Actions → click search button:

After loading page:
![screencapture-localhost-3000-miq_policy-explorer-1439468646885](https://cloud.githubusercontent.com/assets/1187051/9249650/471d8684-41c7-11e5-906e-5b2bba2c949a.png)
After clicking on search butt

[2015-08-13 12:35] mzazrivec commented on #3845
@dclarizio What's happening here is that we're setting the datepicker on the problematic
page to a certain date (the initial input value) and at the same time setting start date and end date
values so that the initial value does not belong to the start date <-> end date interval.

The bootstrap we're using detects that and triggers a 'clearDate' event, for which our code executes
form submission (

[2015-08-13 13:00] romanblanco commented on #3853
@miq-bot add-label bug

[2015-08-13 13:25] h-kataria opened #3857 "UI: Reports Explorer - Custom reports node should be at the bottom and should use blue folder"
Correct:
![blue_custom_reports_node](https://cloud.githubusercontent.com/assets/3450808/9250715/39e8cd5e-419d-11e5-9cd3-dfc7dec3300f.png)

Incorrect:
![incorrect_custom_reports_node](https://cloud.githubusercontent.com/assets/3450808/9250712/3630004c-419d-11e5-8a29-37f6fba9815f.png)

[2015-08-13 13:58] rananda commented on #3845
bugzilla related issue - https://bugzilla.redhat.com/show_bug.cgi?id=1253339

[2015-08-13 14:05] rananda commented on #1357
Blocked  by - https://bugzilla.redhat.com/show_bug.cgi?id=1253339

[2015-08-13 14:11] rananda commented on #1598
Bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1253347

[2015-08-13 14:50] abonas commented on #3842
@blomquisg why is this assigned me? I opened the bug for tracking, it doesn't necessarily mean I will be the one who fixes it, and it can mislead someone that might be able to fix it that I'm actively working on it.

[2015-08-13 15:02] abonas commented on #3842
@miq-bot assign @zeari

[2015-08-13 15:06] h-kataria commented on #3857
@bmclaughlin can you make sure you tree conversion PR addresses this issue.

[2015-08-13 15:13] romanblanco commented on #3857
@h-kataria this is caused, because [session[:customer_name]](https://github.com/ManageIQ/manageiq/blob/master/app/controllers/application_controller.rb#L962) is `nil`. Using `squish` method to remove extra space works for me, but i guess this is not correct solution.

[2015-08-13 17:32] Fryguy commented on #3842
@zeari needs to accept the organization invitation and then publicize his membership.

[2015-08-13 17:43] abonas commented on #3842
@Fryguy he appears as a member, but I'll ask him to reverify if its public or not. @zeari please check this. thank you

[2015-08-13 18:11] rananda commented on #3853
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1253460

[2015-08-13 18:15] rananda commented on #3842
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1253463

[2015-08-13 18:17] himdel opened #3864 "Check for potential conflicts in rails assets"
Having encountered the problem of 2 different gems providing the same asset path (`javascripts/angular/angular.js`), we should probably have a mechanism to warn us about such things.

Right now, "When the assets are compiled, it disregards all the duplicate files after the first one found in the asset path." (according to [this](http://coderberry.me/blog/2012/04/24/asset-pipeline-for-dummies/))

I

[2015-08-13 18:27] rananda commented on #3835
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1253468

[2015-08-13 18:29] #3485 closed

[2015-08-13 18:38] matthewd commented on #3864
I think we could accept that as a feature upstream in `sprockets-rails` (cc @rafaelfranca @arthurnn @schneems): when `raise_runtime_errors` is on, if we try to resolve an asset and find 2+ matches in your asset paths, we raise, instead of just using the first one.

Maybe it would need some more config flexibility, just in case you really are trying to override a gem's asset with an app-local versi

[2015-08-13 19:56] rafaelfranca commented on #3864
And in the case that there are two gems providing the same assets path how a user would fix the runtime error?

[2015-08-13 20:10] matthewd commented on #3864
By removing one of the gems, or renaming one of the files (via a PR, or in a fork), I guess.

Barring some particular collaboration between the gems, a name collision *probably* means: one of them is ending up with the file it expects, and the other is ending up with something very wrong.

Otherwise, we could provide a whitelist of acceptable conflicting names. That allows you to get past the erro

[2015-08-13 20:11] rafaelfranca commented on #3864
Yeah, that seems good to me

[2015-08-13 21:22] lfu commented on #3829
The issue can be observed even with the nightly build of 8/7/2015 that was before #1527 got merged.
To re-produce the issue, run the following snippet in rails console.
[code]

[2015-08-14 10:04] rananda opened #3872 "WebUI: Clicking on "Add a New Customization Template" throws "no implicit conversion of nil into String [pxe/x_button]" error"
Description:
==========
Clicking on "Add a New Customization Template" throws "no implicit conversion of nil into String [pxe/x_button]" error

Version:
=======
master.20150813094605_98b8bee

Reproduction Steps:
================
Navigate to Infrastructure ==> PXE ==> Customization Templates ==> Configuration ==> Add a New Customization Template

Result:
======
Throws error in WebUI

![pxe-customiz

[2015-08-14 11:35] mzazrivec opened #3874 "Error occurs when navigating to Clouds -> Instances"
[code]

[2015-08-14 13:32] mkanoor opened #3876 "UI: Automate Class Schema can't add new fields"
In the Class Schema editor we can't add new fields. The UI doesn't respond

[2015-08-14 13:36] h-kataria commented on #3876
@skateman can you look into this, it seems like the line in question https://github.com/ManageIQ/manageiq/blob/master/app/views/miq_ae_class/_class_fields.html.haml#L102 was changed in commit sha: 49d410e2

[2015-08-14 13:37] h-kataria commented on #3876
@skateman Add new schema field, green + button is not responding on edit class schema screen.
![screenshot from 2015-08-14 09 37 32](https://cloud.githubusercontent.com/assets/3450808/9274996/2344bb5a-4268-11e5-9f86-f9b64288ae65.png)

[2015-08-14 13:50] h-kataria commented on #3876
@skateman i am seeing a JS error in firebug, and it's not only in automate i see it in chargeback explorer as well, if you go to Chargeback assignments screen and try to click on items on the right side, i get same error, see attached screenshots, this seems to be related to patternfly changes:

![screenshot from 2015-08-14 09 48 12](https://cloud.githubusercontent.com/assets/3450808/9275243/bbcd6

[2015-08-14 14:05] h-kataria commented on #3876
@skateman changing changing line 102 in app/views/miq_ae_class/_class_fields.html.haml to %tr{:onclick => "#{remote_function(:url => {:action => 'field_select', :add => 'new', :item => 'field'})}"} fixed issue in automate schema editor, not sure if this is correct fix and i think this needs to be done in other places as well.

[2015-08-14 15:48] mkanoor opened #3877 "UI: Automate Class Schema can't change sequence of fields"
The UI to change the sequence of class schema fields hangs

[2015-08-14 16:01] dclarizio commented on #3845
This has been fixed by #3854.

[2015-08-14 16:01] #3845 closed

[2015-08-14 16:18] mkanoor opened #3879 "UI: Automate Simulate is broken"
From the Automate -> Simulation Screen

The UI shows
protected method `super_admin_user?' called for #<MiqAeToolsController:0x007fa6ab97c198> [miq_ae_tools/resolve]

The logs shows the following stack trace
[----] F, [2015-08-14T12:07:02.368869 #1302:3fd3544601d8] FATAL -- : Error caught: [NoMethodError] protected method `super_admin_user?' called for #<MiqAeToolsController:0x007fa6b38c9428>
/User

[2015-08-14 16:18] mkanoor commented on #3879
@h-kataria @kbrock
Can you please see how this gets assigned.

[2015-08-14 16:24] h-kataria commented on #3879
https://bugzilla.redhat.com/show_bug.cgi?id=1252672 still seems to be an issue

[2015-08-14 20:56] #3879 closed

[2015-08-14 21:02] #3273 closed

[2015-08-16 11:52] abonas commented on #2663
@simon3z @moolitayer if any of your phase/status persistence patches are addressing this issue, please reassign it to @moolitayer . @zeari  is not working on this now. thank you

[2015-08-16 12:30] moolitayer commented on #2663
@abonas @simon3z afaik this is done on #3659

[2015-08-17 04:31] akarol commented on #3877
Bz link-https://bugzilla.redhat.com/show_bug.cgi?id=1254055

[2015-08-17 04:37] akarol commented on #3876
BZ link -https://bugzilla.redhat.com/show_bug.cgi?id=1254055

[2015-08-17 04:56] akarol commented on #3877
Bz link -https://bugzilla.redhat.com/show_bug.cgi?id=1254058

[2015-08-17 06:57] skateman commented on #3876
@h-kataria how a string interpolation can fix this, I have no clue why is this working :(

[2015-08-17 09:54] skateman commented on #3445
@eclarizio this was fixed by #3440, can you please close the issue?

[2015-08-17 10:09] jkrocil opened #3891 "Container UI - kubernetes summary page is missing "Container Projects" under relationships"
SSIA

[2015-08-17 10:12] jkrocil opened #3892 "Container UI - "Pod" X "Container Group""
In the models,  the term "Container Group" is used exclusively. However, in the UI, the term "Pod" is used instead. Everywhere. Is there a good reason for that?

[2015-08-17 10:50] #3445 closed

[2015-08-17 11:06] matthewd commented on #3876
https://github.com/amatsuda/jquery-rjs/blob/33e0fc1c0b25cf88948673c7d561ca6ff2db77ad/lib/action_view/helpers/jquery_helper.rb#L139 is wrong.

[2015-08-17 12:07] abonas commented on #2663
@moolitayer so please link it from the commit message of the patch so the issue will be closed when that PR is merged. thank you

[2015-08-17 13:42] simon3z opened #3896 "Missing MiqAeServiceManageIQ_Providers_Openshift_ContainerManager"
Since #3759 I am getting these errors:

    [----] E, [2015-08-13T10:54:36.933787 #9259:423e98] ERROR -- : MIQ(MiqQueue#deliver) Message id: [27], Error: [uninitialized constant MiqAeMethodService::MiqAeServiceManageIQ_Providers_Openshift_ContainerManager]
    [----] E, [2015-08-13T10:54:36.933917 #9259:423e98] ERROR -- : [NameError]: uninitialized constant MiqAeMethodService::MiqAeServiceManageIQ

[2015-08-17 13:42] simon3z commented on #3896
@miq-bot add_label bug
@miq-bot add_label providers/containers

[2015-08-17 14:12] chessbyte commented on #3896
@gmcculloug @mkanoor Can you help Federico with this?

[2015-08-17 14:30] epwinchell opened #3898 "Convert Import Screens from SlickGrids to TreeGrid"
https://trello.com/c/KbrPEQ21

After sample:
![screen shot 2015-08-13 at 3 45 54 pm](https://cloud.githubusercontent.com/assets/1287144/9307232/3e5078de-44cb-11e5-826f-fb76305e5b7d.png)

[2015-08-17 19:35] #3896 closed

[2015-08-17 19:56] imtayadeway opened #3902 "[ui] schedule add/cancel buttons are not visible"
Trying to add a schedule by going Cloud Intelligence -> Reports -> Schedules -> Configuration -> Add a new schedule. The add/cancel buttons are hidden and I can't seem to get them to unhide.
![manageiq_reports_-_2015-08-17_12 56 44](https://cloud.githubusercontent.com/assets/1710874/9314682/48d82018-44df-11e5-9908-8aaa2ead41e2.png)

[2015-08-17 20:17] mkanoor commented on #3877
@h-kataria
Tested the sequence :heavy_check_mark:

[2015-08-17 20:18] mkanoor commented on #3877
@h-kataria
Can we add a spec for this

[2015-08-17 20:27] imtayadeway commented on #3902
@miq-bot add-label ui
@miq-bot add-label bug

[2015-08-17 20:30] h-kataria commented on #3877
@mkanoor spec test is already there on https://github.com/ManageIQ/manageiq/pull/3878

[2015-08-17 20:41] abellotti opened #3905 "[ui] Cannot add a trusted forest"
In appliance Configure->Configuration->Settings->Authentication, picking Mode LDAP, then clicking on Get User Groups from LDAP, in the bottom Tusted Forest Settings, clicking on the plus sign does not give us the new line of text fields or the new forest.

[2015-08-17 21:05] h-kataria commented on #3905
@abellotti this PR https://github.com/ManageIQ/manageiq/pull/3893 should fix this.

[2015-08-17 21:20] abellotti commented on #3905
yes, it does. manually applied the code from the PR to my branch, and I can add the forest.  Thanks!!.

[2015-08-17 21:26] #3876 closed

[2015-08-17 22:28] #3877 closed

[2015-08-18 10:21] simon3z opened #3911 "Failure evaluating disk space usage"
[code]

I suppose the issue is exposed by the fact that `/var/lib/pgsql/data` is not on a separate filesystem?
Anyway it shouldn't fail with an exception.

[2015-08-18 10:21] simon3z commented on #3911
@miq-bot add_label bug

[2015-08-18 12:53] Ladas opened #3915 "Links to provider are not clickable in Instance detail"
both Cloud Provider and Infrastructure Provider links are not clickable,

same bug is in HOST detail

Screenshot-ManageIQ: Instances - Google Chrome
![image](https://cloud.githubusercontent.com/assets/1737058/9330299/b92653a6-45b8-11e5-9982-473405bd50c2.png)

[2015-08-18 12:53] Ladas commented on #3915
@dclarizio seems like a rbac issue maybe? both are using the textual link method

[2015-08-18 13:22] Ladas commented on #3915
and same here

![image](https://cloud.githubusercontent.com/assets/1737058/9330961/e70622ac-45bc-11e5-98d2-62deb92e99a1.png)

[2015-08-18 13:38] lgalis commented on #3902
Indeed, the Add/Save buttons are missing, and the Configuration menu is not correct. Will create a PR with a fix.

[2015-08-18 13:56] #3832 closed

[2015-08-18 14:01] lgalis opened #3920 "Exception when opening the Report Explorer"
![screenshot from 2015-08-18 09-58-55](https://cloud.githubusercontent.com/assets/12769982/9331918/fe82a388-458f-11e5-9d4e-8e1390633dcb.png)

Please assign to me - looking into this problem.

[2015-08-18 14:01] lgalis commented on #3920
@miq-bot add-label ui
@miq-bot add-label bug

[2015-08-18 14:02] lgalis commented on #3902
With the latest master, found this issue that needs to be fixed first:
https://github.com/ManageIQ/manageiq/issues/3920

[2015-08-18 19:13] lgalis commented on #3920
Resolved after db:seed

[2015-08-18 19:13] #3920 closed

[2015-08-19 07:40] dkorn opened #3937 "Custom attributes aren't removed when the entity they're associated with is gone"
For example, if one would destroy a container node it's labels won't be removed from the custom_attributes table (that's the current situation with all container entities labels).

That can probably be handled by adding ```:dependent => :destroy ```, but I wonder if that's the proper way to address this issue.

[2015-08-19 07:43] dkorn commented on #3937
@miq-bot add_label providers/containers
@simon3z FYI

[2015-08-19 07:49] simon3z commented on #3937
@blomquisg suggestions?

[2015-08-19 08:34] nachandr opened #3938 "undefined method `klass' for []:Array [ems_infra/show] while viewing infra provider summary"
Attempting to view  infra provider summary results in this exception:
undefined method `klass' for []:Array [ems_infra/show]

Issue found in master.20150819042705_0c3a841

Snippet from production.log:

[----] I, [2015-08-19T04:19:12.611431 #12972:e4d98c]  INFO -- :   Rendered ems_infra/show.html.haml within layouts/application (228.3ms)
[----] F, [2015-08-19T04:19:12.612894 #12972:e4d98c] FATAL --

[2015-08-19 14:10] GregP opened #3945 "Paging broken for models without an id column"
Paging code in Miq Reports (search) does not work for VmdbDatabaseSetting model data display, which does not have an id column. Default method find_by_id() generates an error when trying to display beyond Page 1 data.

To re-create, select Configure => Configuration, select Database accordion and then click Settings tab in the right pane. Then click on the "next page" arrow/icon at the bottom righ

[2015-08-19 16:12] romanblanco commented on #3857
@h-kataria looks like it's fixed now.

[2015-08-19 16:13] h-kataria commented on #3857
@romanblanco it works sometimes and doesn't work at other times, i saw different behavior or 2 different databases.

[2015-08-19 16:28] jkrocil opened #3954 "Container refresh - service's Portal IP is not being collected"
For openshift, a separate `parse_service` method will be needed I believe.

See here:
https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/kubernetes/container_manager/refresh_parser.rb#L170

That line has to be changed to `service.spec.portalIP` to work with openshift.

[2015-08-19 16:31] dclarizio commented on #3905
@abellotti please close if this you can verify as fixed.  Thx, Dan

[2015-08-19 17:48] #3463 closed

[2015-08-19 17:59] sshveta opened #3955 "Upstream build : Error logging in the CFME UI"
Steps to reproduce : I suddenly started seeing this issue at https://10.8.58.241.
I was creating a catalog item when i suddenly got logged out and was not able to login again.
Production.log are as below .

Production Log
==========================
[code]

[2015-08-19 18:04] #3799 closed

[2015-08-19 19:27] jrafanie commented on #3955
@sshveta it looks like memcached isn't running:

[code]

Can you verify memcached is running?

[2015-08-19 19:27] lfu opened #3957 "UI does not handle well a string with "&para""
When I type a string like this:
[code]
in UI, it shows up like this:
<img width="551" alt="screen shot 2015-08-19 at 3 16 21 pm" src="https://cloud.githubusercontent.com/assets/2593270/9366604/58518fea-4686-11e5-8f1f-7eb6efdd1b88.png">

[2015-08-19 19:28] lfu commented on #3957
@miq-bot label ui, bug
@miq-bot assign @h-kataria

[2015-08-19 19:38] brandondunne commented on #3955
@sshveta This is already fixed by https://github.com/ManageIQ/manageiq/pull/3922

[2015-08-19 20:44] h-kataria commented on #3957
@lfu, can you provide steps to recreate.

[2015-08-19 20:53] lfu commented on #3957
@h-kataria Go to any automate instance where you can edit, like /system/process/event, just type in any text field a string like "/System/event_handlers/event_action_policy?target=src_vm&policy_event=vm_poweroff&param=".

[2015-08-20 08:05] psav opened #3964 "Trying to add a new customization template yields unhandled exception error"
no implicit conversion of nil into String [pxe/x_button]

[----] I, [2015-08-20T04:03:57.878910 #10109:43998c]  INFO -- : Started POST "/pxe/x_button?pressed=customization_template_new" for 127.0.0.1 at 2015-08-20 04:03:57 -0400
[----] I, [2015-08-20T04:03:57.882533 #10109:43998c]  INFO -- : Processing by PxeController#x_button as JS
[----] I, [2015-08-20T04:03:57.882682 #10109:43998c]  INFO -- :

[2015-08-20 08:08] zeari commented on #3954
@miq-bot add_label providers/containers
@miq-bot add_label bug

[2015-08-20 08:25] zeari commented on #3938
@matthewd I replicated this bug and I think this has to do with the ```textual_link``` refactor.

[2015-08-20 12:32] #3905 closed

[2015-08-20 12:47] lgalis commented on #3902
@miq-bot assign @lgalis

[2015-08-20 12:48] lgalis commented on #3964
Duplicate of this: https://github.com/ManageIQ/manageiq/issues/3872

[2015-08-20 13:12] #3466 closed

[2015-08-20 14:55] jrafanie opened #3969 "Upgrade rest-client to v2.0.0.rc1 or newer instead of a git sha"
https://github.com/ManageIQ/manageiq/blob/eb2314f4df204465f60f1c5ace2becc1a39cfcc5/gems/pending/Gemfile#L37

https://github.com/rest-client/rest-client/compare/08480eb86aef1e...v2.0.0.rc1

The git sha provided IPv6 support in rest-client, we should get to a released tag.

It looks like we use rest-client to talk to foreman, kubernetes and rhev via the ovirt gem.

@brandondunne @abonas @simon3z  th

[2015-08-20 14:56] jrafanie commented on #3969
@blomquisg do you have any idea if we use rest-client elsewhere?

[2015-08-20 15:27] brandondunne commented on #3969
@jrafanie You could add a foreman provider and try to connect and refresh.

[2015-08-20 16:41] h-kataria opened #3973 "UI: Need to change Angular multi authentication credentials tabs to be built dynamically"
Opening a new issue to address multiple tabs for authentication credentials box on Host/Provider add/edit screens to be built dynamically, using some model methods that will return the tabs to be displayed on screen along with the fields and other info to be displayed in the tabs. These tabs are being converted to  use angular in https://github.com/ManageIQ/manageiq/pull/3859

[2015-08-20 16:45] h-kataria commented on #3973
@fryguy will require model methods as well as some guidelines on this work.

[2015-08-20 16:52] lgalis commented on #3964
This was fixed upstream:
https://bugzilla.redhat.com/show_bug.cgi?id=1251345
Please try the latest master.

[2015-08-20 16:53] lgalis commented on #3872
This was fixed upstream:
https://bugzilla.redhat.com/show_bug.cgi?id=1251345
Please try the latest master.

[2015-08-20 17:29] lgalis commented on #3874
Not able to reproduce in the latest master.

[2015-08-20 17:40] h-kataria commented on #3957
@lfu It looks like value is being saved correctly but not being displayed properly
![ae_instance_summary](https://cloud.githubusercontent.com/assets/3450808/9390736/fab9526c-4740-11e5-87ad-d7830fc8643f.png)

[2015-08-20 17:47] rananda commented on #3957
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1255485

[2015-08-20 21:29] brandondunne opened #3975 "Can't view an existing request"
I created a VM provision request, then from Services / Requests I tried to click on the request to view it and got the following error.

![image](https://cloud.githubusercontent.com/assets/651659/9396150/d2bab83a-4760-11e5-80fc-9912426fff51.png)

Production.log:
[code]

[2015-08-20 21:29] brandondunne commented on #3975
@miq-bot add_label ui

[2015-08-20 21:29] brandondunne commented on #3975
@miq-bot assign @dclarizio

[2015-08-20 21:40] bdunne opened #3976 "Error caught: [ArgumentError] MiqProvisionRequest Object expected, but received MiqProvisionRequest"
Seems to related to running rails server in dev mode, randomly appears.

Maybe MiqProvisionRequest class gets reloaded and has a different object ID than it did before??

[code]

[2015-08-20 21:40] brandondunne commented on #3976
@miq-bot assign @bdunne

[2015-08-20 21:41] brandondunne commented on #3976
@miq-bot add_label provisioning

[2015-08-21 12:45] skateman opened #3979 "Replacing DHTMLX grids with PatternFly/DataTables"
If we want to use DataTables' pagination/search/ordering then it's necessary to feed our tables with JSON through AJAX and implement a compatible [server side processing](https://www.datatables.net/manual/server-side) controller.

**We need:**
- [ ] Separate data and view by generating JSON as an output format
- [ ] Rewrite pagination to work with offsets instead of page numbers
- [ ] Extend our m

[2015-08-21 12:46] skateman commented on #3979
This task is too hard for just me, so I'm asking for help :sos:
@martinpovolny @himdel

[2015-08-21 12:59] martinpovolny commented on #3979
@skateman : As I said previously I am ready to pair on this with you so that we do the basic functionality together and then you make all the fine touches. Let me finish a bit of work on the report charts and study the links you provided so that we are at the same page. Next week we would spend a day together working on this.

As for the point "Change our models to generate datasets based on the s

[2015-08-21 13:00] skateman commented on #3979
Because we're using AJAX with RJS, sometimes it creates collisions. In the GTL/explorer context [this line](https://github.com/ManageIQ/manageiq/blob/master/app/controllers/mixins/vm_show_mixin.rb#L15) has to be changed to:
[code]
Then the controller will search for a JSON/jbuilder file between the views when the format is set to JSON.

[2015-08-21 13:49] carbonin opened #3982 "No route matches {:action=>"list", :controller=>"storage", :id=>"1"} when viewing provider summary"
Issue seen on master commit https://github.com/ManageIQ/manageiq/commit/dac6b4e598289eb1585361176bdd7fcf8887b9f1

Steps to reproduce:
Same as https://github.com/ManageIQ/manageiq/issues/3938

After https://github.com/ManageIQ/manageiq/pull/3965 error changed from the one in issue 3938 to the "No route matches" error.

development.log traceback in https://gist.github.com/carbonin/33cb4df0645acab171

[2015-08-21 14:00] lfu commented on #3957
@h-kataria Right, it is just a display issue.

[2015-08-21 14:09] lgalis commented on #3975
Reproduced the problem. the :nowrap attribute needs to be removed from td as it is no longer supported in HTML5

[2015-08-21 14:25] lfu opened #3983 "Error caught: [NoMethodError]: undefined method `to_i' for ["59"]:Array Method:[rescue in deliver]"
**Steps to reproduce the issue**
1 Select a VM.
2 Select Perform SmartState Analysis from Configuration.
3 Check the log you would see messages like the following:

[code]

**Error cause**
[code]
  :ids in args should be an array of ids, like ["59"].
But process_objects in app/controllers/application_controller/ci_processing.rb was changed [here](https://github.com/ManageIQ/manageiq/blame/dac6b4e5

[2015-08-21 14:26] lfu commented on #3983
@miq-bot add_label bug, ui

[2015-08-21 15:05] lfu commented on #3982
@matthewd Is this the same issue we ran into yesterday?

[2015-08-21 15:07] skateman opened #3984 "Horizontal scrollbar on schedule editor"
I think it appeared with #3139 @epwinchell @PanSpagetka @romanblanco
![screenshot from 2015-08-21 17-03-08](https://cloud.githubusercontent.com/assets/649130/9411559/eb0388ce-4826-11e5-9298-3faf96a3a65c.png)

[2015-08-21 15:08] carbonin commented on #3982
It seems to be fine if there is no data for the provider, but as soon as the host and VM records come in from the refresh the error starts.  Not sure if that is a direct cause, but hopefully it helps.

[2015-08-21 15:08] lgalis commented on #3983
@miq-bot assign @lgalis

[2015-08-21 15:09] skateman commented on #3984
@miq-bot add_label bug ui

[2015-08-21 15:09] skateman commented on #3984
@miq_bot add_label bug ui

[2015-08-21 15:09] jrafanie commented on #3969
Note, rest-client 1.8+ and 2.0.0.rc1 pull in a new dependency,  http-cookie with several indirect dependencies.  Our existing git sha is on the 2.0 branch but before that dependency.  If we upgrade, we'll have to deal with the following added dependencies (as of today):

[code]

unf_ext is a C extension needing C++ compiler and libstdc++.
https://github.com/knu/ruby-unf_ext

[2015-08-21 15:12] epwinchell commented on #3984
@skateman this is related to main_div and dhtmlx_layouts - it will go away after the conversion to Bootstrap

[2015-08-21 15:14] skateman commented on #3984
Ok, closing the issue!

[2015-08-21 15:14] #3984 closed

[2015-08-21 16:47] djberg96 commented on #3969
As mentioned on gitter, unf has a separate -java gem that JRuby will use instead, so it won't be an issue there.

[2015-08-21 17:59] h-kataria commented on #3982
@mathewd seems to be introduced by changes in commit sha: fdfe430b

[2015-08-21 19:56] chessbyte opened #3999 "Denial of Service Warning in app/controllers/application_controller.rb"
[Security issue from Hakiri](https://hakiri.io/projects/7533ce27a8c31a/stacks/a654042245d682/builds/52850b6d5cfc0c/warnings/d1ea3ab3ff518a): Symbol conversion from unsafe string (parameter value) in app/controllers/application_controller.rb

[2015-08-22 01:10] #3999 closed

[2015-08-24 13:33] PanSpagetka opened #4017 "Drop-down list horizontal scrollbar"
When i was converting style1 to patternfly in PR #4015 i found, that some dropdowns after conversion have horizontal scrollbar. Not sure if this is somehow related with #3984.

![screenshot from 2015-08-24 15-26-20](https://cloud.githubusercontent.com/assets/9535558/9441275/55a125ec-4a75-11e5-8ee8-aa92f9c5909c.png)
![screenshot from 2015-08-24 15-32-51](https://cloud.githubusercontent.com/assets/9

[2015-08-24 18:51] lgalis commented on #3975
Fixed in #3998

[2015-08-24 19:27] himdel commented on #2078
CFME docs removed in #3493.

[2015-08-24 19:28] #3938 closed

[2015-08-24 19:28] #3982 closed

[2015-08-24 19:28] himdel commented on #2246
removed in #3493

[2015-08-24 19:28] #2246 closed

[2015-08-24 20:43] jerryk55 opened #4022 "VM Ids returned as an array instead of individual ID - causes SSA to Fail."
A line changed in app/controllers/application/controller/ci_processing.rb is returning a full array of VM ids instead of ignoring all but the first item in the array.  This array is passed through to the worker and code expecting an individual id is failing.

[2015-08-24 20:44] mkanoor opened #4023 "Amazon add : [NameError]: uninitialized constant EmsEvent::Parsers"
app/models/ems_event.rb
 def self.add_amazon(ems_id, event)
      self.add(ems_id, EmsEvent::Parsers::Amazon.event_to_hash(event, ems_id))
 end

Throws a stack trace
[----] E, [2015-08-24T16:35:18.129104 #24295:3fd5920601d8] ERROR -- : [NameError]: uninitialized constant EmsEvent::Parsers  Method:[rescue in deliver]
[----] E, [2015-08-24T16:35:18.129133 #24295:3fd5920601d8] ERROR -- : /Users/madhu

[2015-08-24 20:45] chessbyte commented on #4023
@matthewd @blomquisg Please investigate

[2015-08-24 21:11] h-kataria commented on #4022
this issue is a dup of https://github.com/ManageIQ/manageiq/issues/3983

[2015-08-24 21:11] #4022 closed

[2015-08-24 21:18] mkanoor opened #4029 "Service Dialog Import Hangs"
When importing Service Dialogs the UI hangs the logs reveal the following error

FATAL -- : Error caught: [ArgumentError] The partial name (layouts/listnav/) is not a valid Ruby identifier; make sure your partial name starts with underscore, and is followed by any combination of letters, numbers and underscores.

17245 /Users/madhukanoor/.gem/ruby/2.2.2/gems/actionview-4.2.3/lib/action_view/render

[2015-08-24 21:20] mkanoor commented on #4029
Erik C found the bug to be in app/views/layouts/_listnav.html.haml
= render :partial => "layouts/listnav/#{filename}", :locals => locals if filename

[2015-08-24 21:21] mkanoor commented on #4029
He is fixing another issue in a related bug
https://bugzilla.redhat.com/show_bug.cgi?id=1252976

[2015-08-24 21:36] h-kataria opened #4031 "UI: Spinner is missing when clicking on links on the right in list view."
Spinner is missing when clicking on links on the right in the list view in OPS, Reports explorer, list views that are not using Dhtmlxgrid for list views. Clicking on links on the right should work the same way as clicking on the links in the tree, they should show the spinner until screen is loaded. @romanblanco this issue seems to be introduced by commit SHA: cb54b8015331d3364e97f71c1495a358742d

[2015-08-24 22:21] #4023 closed

[2015-08-25 10:00] zeari commented on #3954
@simon3z @abonas

[2015-08-25 10:21] abonas commented on #3954
The relevant change was done here afaik:
https://github.com/ManageIQ/manageiq/pull/3643

Service is a k8s entity and so it typically doesn't matter whether this is an openshift or a k8s parser, it should be handled the same.
@jkrocil it probably depends on the build that you were using.
cc @oschreib

[2015-08-25 10:51] #3604 closed

[2015-08-25 13:50] dkorn commented on #3937
@simon3z @blomquisg we discussed this issue on cm-dev status.
@blomquisg opinion was using ```:dependent => :destroy ```. @simon3z do you want me to send a PR adding it for all entities with labels?

[2015-08-25 14:10] zeari commented on #3892
Yeah, this was specifically requested since kubernetes is the only sort containers provider were working with (right now) and it refers to container groups as pods.

(@abonas correct me if I'm wrong)

[2015-08-25 14:10] zeari commented on #3892
@miq-bot add_label providers/containers
@miq-bot add_label bug

[2015-08-25 14:14] zeari commented on #3891
@miq-bot add_label providers/containers

[2015-08-25 14:19] abonas commented on #3892
https://github.com/ManageIQ/manageiq/pull/3685#issuecomment-127726544

[2015-08-25 14:19] zeari commented on #3891
@jkrocil
Try adding the providers/containers label for anything under the containers tab or tag me so ill do it and youll get answers a lot quicker.

[2015-08-25 14:32] zeari commented on #3891
@abonas @simon3z projects(namespaces) exist for k8s. Is there a specific reason were not showing them?

[2015-08-25 14:36] abonas commented on #3891
@zeari I noticed that too, don't think it's on purpose, looks more like a bug to me. But since I didn't deal with the namespaces/projects merge, I asked @simon3z the same question some time ago, don't think he got to respond on it yet.

[2015-08-25 15:06] zeari commented on #3710
@dclarizio Should this be fixed or waited out considering the conversion to patternfly?

[2015-08-25 15:12] zeari commented on #3891
@miq-bot assign @zeari

[2015-08-25 15:17] jkrocil commented on #3892
Ok, makes sense - thanks (closing)

[2015-08-25 15:17] #3892 closed

[2015-08-25 15:28] jkrocil commented on #3954
My bad! Thank you :+1: (not closing yet as @oschreib  might want to add something; feel free to close otherwise)

[2015-08-25 15:35] oschreib commented on #3954
@jkrocil I'm not sure I understood the issue here. (and as @abonas said, openshift and k8s are the same here).
Anyhow - can you describe exactly the problem? which build of openshift are you using?
Do you see that parameter under the rest-api named as portalIP? (using the v1 api)

[2015-08-25 15:53] mkanoor opened #4047 "Service Filter wasn't working"
The service filtering was always including the service even when the method set it to false.

Missing specs for the function that validates the automate result.

[2015-08-25 15:58] jkrocil commented on #3954
I get a portalIP from a v1 k8s endpoint on an openshift setup.

The versions are:
oc v3.0.0.1-5-g279b678
kubernetes v0.17.1-804-g496be63

Openshift 3 with k8s 0.17:
[code]
yet there is portalIP
[code]

With k8s 1.1 I get this instead:
[code]

So it is different builds...

[2015-08-25 15:59] jkrocil commented on #3954
Feel free to close.

[2015-08-25 16:11] lgalis commented on #3983
@lfu - please verify that #4030 resolves this issue

[2015-08-25 17:27] kbrock opened #4050 "Sporadic error: VmdbDatabaseConnection is blocked"
1) VmdbDatabaseConnection is blocked
     Failure/Error: raise "Lock is not blocking"
     RuntimeError:
       Lock is not blocking
     # ./spec/models/vmdb_database_connection_spec.rb:77:in `block (2 levels) in <top (required)>'

[2015-08-25 21:38] kbrock commented on #3770
the symbolic link here fails when new files are added. Happened to Jerry last night.
Almost like we need a script to create the symlinks anyway.

[2015-08-25 21:39] kbrock commented on #3770
/cc @carbonin you seem to be interested in problems like this. fwiw

[2015-08-25 23:07] simon3z commented on #3937
@dkorn yes please send a PR handling the labels (for all the relevant entities in container management)

[2015-08-25 23:17] simon3z commented on #3891
No reason not to show them, I think it was historical as projects were collected only for openshift.

Totally missed that.

[2015-08-26 12:27] #4047 closed

[2015-08-26 13:28] lgalis commented on #3983
Fixed in #4030

[2015-08-26 14:22] abellotti opened #4059 "stack trace while adding a group, 08/25 nightly build."
Unexpected error encountered

Errors in Management Engine can be caused by:

① Accessing Management Engine from multiple tabs or windows of the same browser on a single machine. Close any duplicate browser sessions, then select a menu option above.
② Pressing the back button during a session.
      Close any duplicate browser sessions, then select a menu option above.
③ An internal system error.

[2015-08-26 15:44] lgalis commented on #4059
This is fixed by https://github.com/ManageIQ/manageiq/pull/4061

[2015-08-26 16:47] dclarizio commented on #3710
@epwinchell Please confirm that patternfly will take care of this.

[2015-08-26 16:50] epwinchell commented on #3710
@dclarizio Yes, the Patternfly conversion will take care of this.

[2015-08-26 19:28] dmetzger57 opened #4068 "Upstream Build: VMware Provider missing from drop-down on Add Provider page"
Using the 2015.08.25 upstream build, the drop-down list for selecting a provider on the "Add New Infrastructure Provider" page is missing VMware.

<img width="1436" alt="screen shot 2015-08-26 at 3 27 08 pm" src="https://cloud.githubusercontent.com/assets/12279163/9503767/f6f2076c-4c06-11e5-81ac-6310dd3921d6.png">

[2015-08-26 19:44] jrafanie commented on #3983
@lgalis please use the `Fixes #1234` in your commit message next time so any related issues get automatically closed when the PR gets merged.  See: https://help.github.com/articles/closing-issues-via-commit-messages/ for more information.

[2015-08-26 19:44] #3983 closed

[2015-08-26 20:41] lgalis opened #4070 "Exception when opening the Cloud Provider tab"
![screenshot from 2015-08-26 16-39-52](https://cloud.githubusercontent.com/assets/12769982/9505589/57dc1018-4c11-11e5-8524-b49f4fa2cca3.png)

[2015-08-26 20:43] lgalis commented on #4070
@miq-bot add_label providers
@miq-bot add_label bug

[2015-08-27 03:36] abellotti commented on #4059
Thanks @lgalis ,  I've manually applied the fixes from that PR to my appliance to move forward, worked like a champ. Thanks!!

[2015-08-27 14:26] Fryguy commented on #4070
Offhand, this might be for @matthewd ...can you review.

[2015-08-27 14:27] #4059 closed

[2015-08-27 14:28] blomquisg commented on #4070
This looks like the db migrations were not run...

The only way I can think to test this out is to have an environment from before the namespace, add an amazon provider (that also has at least one auth keypair), then update your local env to the latest master and try this again.  Chances are you will see this error.

Then, run `rake db:migrate` and you should no longer see this error.

If the erro

[2015-08-27 14:31] #3964 closed

[2015-08-27 14:32] Fryguy commented on #4050
@tenderlove I assigned to you, but not sure you are the right person or not...

[2015-08-27 14:33] Fryguy commented on #4070
Oh good idea @blomquisg.  @lgalis If you migrate, does the problem go away?

[2015-08-27 14:35] epwinchell commented on #4017
@fryguy This will be resolved when dhtmlx layouts are removed.

[2015-08-27 15:50] lgalis commented on #4070
I did migrate before I opened the issue. ( I also ran a test with changes the {inheritance_column} for the Authentication class and with that the error went away).
Here is the trace:

[----] I, [2015-08-27T11:19:37.030847 #9886:1097990]  INFO -- :   Rendered ems_cloud/show_list.html.haml within layouts/application (314.6ms)
[----] F, [2015-08-27T11:19:37.031223 #9886:1097990] FATAL -- : Error caug

[2015-08-27 16:15] h-kataria opened #4080 "Need to display more descriptive flash message as to why certain task are not supported for items"
When selecting multiple items from list view sometimes performed tasks are not supported for some of the selected items, need to show descriptive flash message so user can tell which specific item was not supported and why. In the related BZ work was done to hide Migrate button from the VM summary screesn that do not support Migrate task but when selecting multiple VMs from list view, it is diffic

[2015-08-27 18:07] #2854 closed

[2015-08-27 19:12] #4050 closed

[2015-08-27 19:52] h-kataria commented on #1232
https://github.com/ManageIQ/manageiq/pull/3859

[2015-08-27 19:52] #1232 closed

[2015-08-27 19:54] h-kataria commented on #2409
work done in: https://github.com/ManageIQ/manageiq/pull/2950

[2015-08-27 19:54] #2409 closed

[2015-08-27 19:55] #2492 closed

[2015-08-27 19:57] h-kataria commented on #2551
Fixed in: https://github.com/ManageIQ/manageiq/pull/3803

[2015-08-27 19:57] #2551 closed

[2015-08-27 20:01] mkanoor opened #4086 "Automate State Machine logs message incorrectly with Warning"
When an automate state machine step ends we log a warning message even when the step ended successfully.

[----] W, [2015-08-27T15:26:13.153461 #10310:3fe8a88601d4]  WARN -- : Processed State =[Validat     eRequest]

[2015-08-28 03:45] #4086 closed

[2015-08-28 03:46] kbrock commented on #4050
thanks @tenderlove

[2015-08-29 04:02] kbrock commented on #424
@matthewd thanks for doing this

[2015-08-29 04:02] #424 closed

[2015-08-30 13:18] oschreib opened #4113 "Error icons are not displayed"
Error icons (pficon-error-exclamation and  pficon-error-octagon) are not displayed.

![screenshot from 2015-08-30 16-06-45](https://cloud.githubusercontent.com/assets/7105897/9567403/7728a3fe-4f32-11e5-82e5-76587a26a99f.png)
![screenshot from 2015-08-30 16-16-34](https://cloud.githubusercontent.com/assets/7105897/9567406/87460c9a-4f32-11e5-98d7-07bea6675e67.png)

[2015-08-30 14:53] abonas commented on #3954
I don't have permissions to close this issue, so if you do have permissions, and you think it's fine, please close.

[2015-08-31 08:42] #3954 closed

[2015-08-31 11:40] romanblanco commented on #1946
@nachandr looks like it works. Can you retest please?

[2015-08-31 14:04] abellotti opened #4119 "Missing roles when adding Group"
In the latest nightly of 08/28, when adding a group, only 3 roles are shown in the pull down.

![screen shot 2015-08-31 at 10 03 21 am](https://cloud.githubusercontent.com/assets/5797328/9580461/abb03962-4fc7-11e5-9f9f-043f694a03eb.png)

[2015-08-31 17:18] #3891 closed

[2015-08-31 17:50] abellotti commented on #4119
Just got off the phone with Harpreet.  Apparently all groups are there as it's a scrollable area, but the scroll bar does not show up (chrome  44.0.2403.157 (64-bit) on mac) by default until you start scrolling, thus the confusion.  Worked fine with firefox.

[2015-08-31 18:07] h-kataria commented on #4119
Upgraded Chrome on my system locally to Version 44.0.2403.157 (64-bit) Fedora 21, i see scrollbar in the select box.
![screenshot from 2015-08-31 14 05 28](https://cloud.githubusercontent.com/assets/3450808/9586204/5dc4bc74-4fe9-11e5-99fd-47aa0d02df0f.png)

[2015-08-31 18:38] abellotti commented on #4068
Could be related to what bit me. see https://github.com/ManageIQ/manageiq/issues/4119 scroll bar is not shown by default in chrome 44.

[2015-08-31 18:55] h-kataria commented on #4068
I am using Chrome Version 44.0.2403.157 (64-bit) Fedora 21, i see scrollbar in the select box and i do see VMware in the type pulldown.
![screenshot from 2015-08-31 14 54 45](https://cloud.githubusercontent.com/assets/3450808/9587371/3ddd89c0-4ff0-11e5-808d-32315153ef04.png)

[2015-08-31 19:09] AparnaKarve commented on #4119
Just wanted to chime in here, I am using ```Chrome Version 44.0.2403.157 (64-bit)``` on a Mac, and I'm seeing the scrollbars correctly in the dropdowns.
<img width="526" alt="screen shot 2015-08-31 at 11 55 17 am" src="https://cloud.githubusercontent.com/assets/1538216/9587756/0c5848a2-4fd9-11e5-881c-5a64cfd220e6.png">

[2015-08-31 19:12] AparnaKarve commented on #4119
I'm also seeing the scrollbars in the dropdown referenced in https://github.com/ManageIQ/manageiq/issues/4068
<img width="337" alt="screen shot 2015-08-31 at 11 52 18 am" src="https://cloud.githubusercontent.com/assets/1538216/9587815/6206cf1c-4fd9-11e5-980e-bf69806515b6.png">

[2015-08-31 19:32] dmetzger57 commented on #4068
I'm running Yosimite (10.10-5) and Safari 8.0.8 and the missing scroll bar
is the issue (for me on the Add Providers page), I can scroll the menu but
there is no visible bar to indicate scrolling.

On Mon, Aug 31, 2015 at 2:55 PM, Harpreet Kataria <notifications@github.com>
wrote:

[2015-08-31 19:32] abellotti commented on #4119
really odd.  Another data point which may be useful, both myself and Dennis are running Yosemite 10.10.5.

[2015-08-31 19:35] dmetzger57 commented on #4119
On the Add Providers page, if I do scroll the list and select VMware, the IP address box is mis-aligned (along with what appears to be the wrong font for the label).
<img width="718" alt="screen shot 2015-08-31 at 3 33 29 pm" src="https://cloud.githubusercontent.com/assets/12279163/9588374/e1d4bf76-4ff5-11e5-9002-b886090845a4.png">

[2015-08-31 19:44] AparnaKarve commented on #4119
I'm on Yosemite 10.10.3.
I can try and upgrade to see if I see the issue as well.

[2015-08-31 20:32] AparnaKarve commented on #4119
After an upgrade to Yosemite 10.10.5, I'm seeing what @abellotti described above - the scrollbar does not show up until I start scrolling.

[2015-08-31 20:42] #3829 closed

[2015-09-01 08:30] skateman opened #4134 "Rewriting view rendering hierarchy"
So for now we have this rendering hierarchy (except console):
![img_20150901_101025](https://cloud.githubusercontent.com/assets/649130/9599207/35ff7590-5092-11e5-898a-7db636d88942.jpg)
Red means an **empty body tag** left from ERB->HAML conversion, green means a regular **body tag with content** inside and the blue ones are **yield** methods.

Before we rewrite the DHTMLX inner layout #3742, we ha

[2015-09-01 12:24] skateman opened #4140 "Tags with angular attributes in HAML"
If you're using angular attributes in a HAML file, please use **strings** instead of **symbols**, then you can keep the curly braces and haml-lint will be much more happier.

BAD:
[code]

GOOD:
[code]

[2015-09-01 12:37] zeari opened #4141 "Exception when clicking on the "Project / Container Services" filter in container services show_list'"
@abonas

[2015-09-01 12:38] abonas commented on #4141
@miq-bot add_label providers/containers
@miq-bot add_label ui

[2015-09-01 12:39] zeari commented on #4141
I'm not really sure whats the expected behaviour when clicking on this filter. Filter by what?

@miq-bot add_label bug
@miq-bot add_label providers/containers

[2015-09-01 13:08] zeari opened #4142 "Exception when accessing container summary page"
To reproduce: log in, go straight to the containers tab and choose a container.

[2015-09-01 13:13] zeari commented on #4142
@miq-bot add_label providers/containers
@miq-bot add_label bug

[2015-09-01 13:18] #3937 closed

[2015-09-01 13:28] oschreib opened #4143 "Misaligned "Hostname or IP address" textbox in Add infrastracture provider"
The "Hostname or IP Address" textbox inside "Add new infrastracture provider" is misaligned.
![screenshot from 2015-09-01 16-27-41](https://cloud.githubusercontent.com/assets/7105897/9605437/665bc46c-50c6-11e5-9572-fa0a0ab3677b.png)

[2015-09-01 13:28] oschreib commented on #4143
cc @abonas

[2015-09-01 13:45] abonas commented on #4143
@dclarizio
@miq-bot add_label ui

[2015-09-01 13:58] zeari commented on #3842
Fixed in #3887

[2015-09-01 15:24] dclarizio opened #4150 "UI - Control Explorer exception on initial display"
Click on Control tab, crashes trying to bring up the explorer:

[code]

[2015-09-01 15:52] himdel commented on #4140
@skateman you forgot to remove the `.to_s` for hamlit ;)

[2015-09-01 17:02] skateman commented on #4140
@himdel fixed!

[2015-09-01 18:01] himdel commented on #4150
Sorry, can't reproduce on master, could you send me a db dump..? It does happen when a policy has no .miq_event_definitions, any chance you could have a db from before the miq_event -> miq_event_definition rename?

[2015-09-01 21:19] dclarizio opened #4157 "Need spec tests for Container routes"
@abonas Can you have someone create the route tests for the container controllers?  There are plenty of examples out there.  Thx, Dan

[2015-09-02 07:40] abonas commented on #4157
@miq-bot add_label providers/containers

[2015-09-02 11:43] martinpovolny opened #4163 "Edit schedule broken in master"
When trying to edit a Schedule I get in the console: .... and the schedule is not being edited

[code]

[2015-09-02 11:45] himdel commented on #4163
Probably a problem when a `moment` object is getting passed to datepicker's parseDate which can only handle a Date or a string.

[2015-09-02 11:45] rananda opened #4164 "Dropdown options does not fit into the screen display"
Description:
==========
While adding new infrastructure, type drop down values does not fit into the screen display.
Refer the below screenshot for further details.

Version:
=======
master.20150902074447_178618c

![screenshot from 2015-09-02 17 04 34](https://cloud.githubusercontent.com/assets/3033387/9630123/ab635dac-5195-11e5-9ddb-c082ef243f9e.png)

[2015-09-02 11:47] martinpovolny opened #4165 "Import / Export Custom Reports vs. Widgets is inconsistent"
1. The two are inconsistent. (layout of the page)
2. Custom Reports shows an extra horizontal scrollbar
3. Custom Reports displays the "Export" button enabled even then no report is selected (unlike Widgets)

[2015-09-02 12:05] rananda opened #4166 "Error found in evm.log file after adding a new containers provider"
Description:
==========
After adding a new Containers provider (Kubernette / Openshift), error is found in the evm.log file.

Version:
=======
master.20150902074447_178618c

![screenshot from 2015-09-02 17 33 19](https://cloud.githubusercontent.com/assets/3033387/9630658/645857c4-5199-11e5-9e51-8dbdf8fd9fdf.png)

evm.log:
=======
[----] E, [2015-09-02T07:52:12.900430 #21913:114aff4] ERROR -- : MIQ

[2015-09-02 12:30] romanblanco commented on #4165
#3984: see [Eric's comment](https://github.com/ManageIQ/manageiq/issues/3984#issuecomment-133458075)

[2015-09-02 12:33] skateman commented on #4140
@h-kataria  https://github.com/ManageIQ/manageiq/blame/master/app/views/layouts/angular/_auth_credentials_angular.html.haml#L9

[2015-09-02 12:41] romanblanco commented on #3735
@dclarizio Can you close this issue? Was fixed in #3914

[2015-09-02 12:47] mcornea opened #4169 "Openstack Infrastructure provider refresh fails with No route to host - connect(2) (Errno::EHOSTUNREACH)"
Refresh fails when trying to add an Openstack infra provider. I'm not sure which service it tries to reach on the undercloud node. This shows up after cherry-picking the patches in https://github.com/ManageIQ/manageiq/pull/4052

[----] E, [2015-09-02T12:11:38.166219 #1478:51be7c] ERROR -- : <Fog> excon.error     #<Excon::Errors::SocketError: No route to host - connect(2) (Errno::EHOSTUNREACH)>

[-

[2015-09-02 13:30] mcornea commented on #4169
I figure it out, it was the Swift proxy port not allowed in the undercloud firewall. I'm going to close this.

Workaround:
on the undercloud run:
sudo iptables -I INPUT -p tcp -m tcp --dport 8080 -j ACCEPT

[2015-09-02 13:30] #4169 closed

[2015-09-02 13:39] mcornea opened #4172 "States of Root Orchestration Stacks shows status of all nested stacks in the Openstack infra provider"
States of Root Orchestration Stacks shows the status of all nested stacks in the Openstack Infra provider summary. I'd expect it to show only the status of the main stack. Attaching screenshot.

![nested_stacks](https://cloud.githubusercontent.com/assets/12097998/9632665/cd3271f0-5188-11e5-9334-9d638c426a13.png)

[2015-09-02 13:45] mcornea opened #4173 "Missing partial shared/views/ems_common/_orchestration_stacks"
When trying to access the Orchestration stacks from the Openstack Infra provider Relationships I get the following exception:

Missing partial shared/views/ems_common/_orchestration_stacks with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :haml, :jbuilder, :rjs]}. Searched in: * "/home/admin/manageiq/app/views" [ems_infra/show]

Steps to reproduce:
1.

[2015-09-02 13:50] #3969 closed

[2015-09-02 15:54] himdel opened #4176 "Trees not handled by TreeBuilder"
Update the trello card as trees are converted https://trello.com/c/rtDjb7gU/157-convert-remaining-trees-to-use-treebuilder-class

Looked into the remaining trees, and excluding Brian's Report trees PR, these are still not using TreeBuilder:

`ops_controller/settings/common build_smartproxy_affinity_tree` (#4730)

[code]

Some of them are just passed to the dynatree layout and don't use any of the

[2015-09-02 16:09] #3735 closed

[2015-09-02 16:19] romanblanco commented on #4119
@dmetzger57 mis-aligned IP address box is caused by incomplete style 1 conversion to patternfly, fixed in #4162

[2015-09-02 16:20] #3820 closed

[2015-09-02 20:11] #4140 closed

[2015-09-02 22:34] dclarizio commented on #3741
@h-kataria Can you look at this issue and respond to @Ladas ?  Thx, Dan

[2015-09-03 07:02] skateman commented on #4165
Yeah, this blocks #4041 for being merged!

[2015-09-03 10:39] #4142 closed

[2015-09-03 14:20] himdel opened #4197 "style1 conversion - broken buttons"
Everywhere where there used to be no `form` tag and now is, *and* there is a `button` inside, there is a bug now :). That's because a `<button>` always submits a form, even when it has an `onclick` attribute.

For example, in Service/Catalogs > Service Catalog - on any service, the Order button now triggers a reload to `/catalog/explorer?button=`, instead of the intended AJAX request to `/catalog/

[2015-09-03 14:41] Fryguy commented on #4070
ping @matthewd , did we miss a data migration?

[2015-09-03 14:45] romanblanco commented on #4197
@PanSpagetka i'll take this issue, could you update your current PRs to avoid merging another problematic partials?

[2015-09-03 15:03] jvlcek opened #4201 "Amazon provider fails to capture metric"
Description of problem:
The amazon provider is not storing metrics data for any VMs

How reproducible:

Launch the nightly build and Configure an Amazon CloudProvider and enable metrics capturing

Observe no metrics are captured and no metrics data stored in
the EVM DB

% psql -d vmdb_production
vmdb_production=# select * from metrics ;
  ...
(0 rows)

I reproduced this with multiple vsphere night

[2015-09-03 17:29] #3581 closed

[2015-09-03 17:32] rananda opened #4205 "[RFE] Hide the token details from evm.log file while adding/modifying Container Provider"
Description:
==========
While adding a new Container Provider / modifying the token details of an existing Container Provider, the token value gets displayed in the evm.log file.

evm.log:
=======
while adding new provider:
[----] I, [2015-09-03T13:20:01.933707 #2900:cf7998]  INFO -- : <AuditSuccess> MIQ(EmsCommon.create) userid: [admin] - [Kubernette] Record created (name:[Kubernette], provider_r

[2015-09-03 17:38] nachandr opened #4206 "Error :as and :link are both required when linking to an array [ems_cluster/show]"
When trying to navigate to a cluster from the VM summary page,I get this error:

Error Text
:as and :link are both required when linking to an array [ems_cluster/show]

Steps to reproduce:
1. Add an infra provider
2. Navigate to the summary page of a VM.
3. Click on the cluster link in the Relationships section

[2015-09-03 17:43] nachandr opened #4207 "Missing partial shared/views/ems_common/_vms error"
I ran into this exception while navigating to VM list page from the summary page of an infra provider.

Missing partial shared/views/ems_common/_vms with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :haml, :jbuilder, :rjs]}. Searched in: * "/var/www/miq/vmdb/app/views" [ems_infra/show]

Steps to reproduce:
1. Add an infra provider
2. Navigate to the s

[2015-09-03 19:16] h-kataria commented on #4119
issue mentioned in https://github.com/ManageIQ/manageiq/issues/4068 is related to bootstrap missing scrollbars in specific envrionments (Yosemite 10.10.5/Chrome in this case)
@skateman, patternfly-2.1.0 upgrade did not fix this issue @AparnaKarve is still able to recreate the above mentioned issues on latest upstream codebase.
It looks like this is how bootstrap selects behave on Mac/Chrome, @Apar

[2015-09-04 04:16] kbrock opened #4212 "Remove database configuration from UI"
In the [explorer], there is page Configuration > Database that allows users to point an appliance at a different database host.

![manageiq configuration 2015-09-03 23-50-27](https://cloud.githubusercontent.com/assets/1930/9676237/9ec1607e-5296-11e5-947a-343a3f760e0a.png)

Historically, this made sense, but that is no longer the case. The `appliance_console` is now used to configure the `database.

[2015-09-04 12:48] nachandr commented on #4201
It looks like the upstream build is unable to capture metrics for other providers as well.I have tested RHEV, Vsphere and EC2 on the 20150831 nightly build.

[2015-09-04 14:28] #4197 closed

[2015-09-04 16:12] h-kataria commented on #3915
@matthewd this broke with commit SHA: fdfe430b7f4846d5790e877dc56a60195e5db724
on https://github.com/ManageIQ/manageiq/blob/master/app/helpers/textual_summary_helper.rb#L68 feature for Infrastructure Provider summary screen link is being set as "manageiq/providers/infra_manager_show", it should be "ems_infra_show", similar issue for Cloud Provider summary screen RBAC check.

[2015-09-04 16:33] blomquisg commented on #3915
This card lists a couple OpenStack Cross Linking tasks (IUC4, for those playing the use case game).

https://trello.com/c/Gj91fZE1/85-openstack-integration-team

[2015-09-07 16:51] #4143 closed

[2015-09-08 11:13] #4157 closed

[2015-09-08 11:15] #2663 closed

[2015-09-08 11:16] #4070 closed

[2015-09-08 11:23] zeari commented on #2074
@abonas  I think this can be closed...

[2015-09-08 11:27] abonas commented on #2074
@zeari @simon3z looks like it :)

[2015-09-08 11:27] #2074 closed

[2015-09-08 11:55] zeari commented on #4205
@miq-bot add_label providers/containers
@miq-bot add_label bug

[2015-09-08 14:27] h-kataria commented on #3741
@ladas @dclarizio i have looked at the lines of code in question, if we change 3 lines mentioned above to return false then buttons are hidden in UI because availability of those buttons is being returned as false, however if we leave them as it is and return true, UI disables the button and displays the message that's being returned by the method as hover over text to let user know why the button

[2015-09-08 14:42] #4134 closed

[2015-09-08 16:16] jrafanie opened #4254 "rake environment, assets:precompile fails without a database"
We rely on the fact that loading the Rails environment should not hit the database.  We cannot hit the database in an initializer as we want to be able to run assets:precompile without a database.

With vmdb_development existing and PG running::
[code]

Fails when trying to use a non-existing db, vmdb_development_dne:

[code]

[code]

@matthewd @Ladas @kbrock any ideas when this changed?  We can't

[2015-09-08 16:20] kbrock commented on #4254
high level - in initializer, we're trying to load a model from the database

[2015-09-08 16:22] matthewd commented on #4254
@kbrock well, only kinda. The initializer is loading a model... that's not unreasonable. It's actually the model (via the mixin) that's at fault, for hitting the DB at define-time.

As for "write tests for this", I think we just need to have Travis run the above command, no?

[2015-09-08 16:22] jrafanie commented on #4254
@kbrock  Sorry, we're autoloading constants that eventually include password_mixin and ask for the columns_hash to know if we need to encrypt the column.  Maybe password_mixin needs to not do this?

[2015-09-08 16:24] jrafanie commented on #4254
DATABASE_URL="postgresql://root:smartvm@127.0.0.1/vmdb_development_dne" be rake environment

I guess that could work

[2015-09-08 17:50] jrafanie opened #4260 "EmsAzure will perform a full refresh RestClient::Unauthorized: 401 Unauthorized error"
I saw this on a seemingly unrelated PR test run:
https://github.com/ManageIQ/manageiq/pull/4250

[code]

cc @bronaghs @djberg96  (have you seen this before?)

[2015-09-08 17:55] bronaghs commented on #4260
@jrafanie - Friday I saw this error on Travis while the tests passed locally, I regenerated the VCR cassette and it went away. Is there a known issue with Travis and VCR? @Fryguy

[2015-09-08 17:58] jrafanie commented on #4260
Let me try running the example a bunch of times in a loop...

[2015-09-08 18:00] jrafanie commented on #4260
try this @bronaghs
[code]

Then:
`bundle exec rspec spec/models/ems_refresh/refreshers/azure_refresher_spec.rb --fail-fast`

It fails for me after a few runs and I see that the ems_azure.yml cassette is changed locally after running it.

[2015-09-08 18:33] bronaghs commented on #4260
The problem is the expiration of the Azure AAD token:
string: '{"error":{"code":"AuthenticationFailed","message":"The access token
         expiry UTC time ''9/8/2015 2:31:38 PM'' is earlier than current UTC time ''9/8/2015
         6:18:36 PM''."}}'

I am not sure why the expiration is even today since i always set it to 1 or 2 years out on the Azure AAD portal when  I create it.
Including @bzwei

[2015-09-08 18:38] jvlcek opened #4261 "Rails 4 no longer supports Fixnum.ago"
https://github.com/ManageIQ/manageiq/blob/520a4b694f5442cc9f87041ac562a258b908de1d/app/models/metric/capture.rb#L37

Is one example where the passing the Fixnum returned from  #to_i_with_method is passed
directly to .ago.

As of rails 4 this results in a [NoMethodError]: undefined method `ago' for x:Fixnum

The solution is to send the output of #to_i_with_method to .seconds, sending that
to #ago

[2015-09-08 19:12] #4201 closed

[2015-09-08 19:18] dclarizio commented on #3741
@Ladas @h-kataria Agree with Harpreet, it makes sense for these to be disabled and show the hover text with the reason and we should make the others be consistent as well.

[2015-09-08 19:32] #4254 closed

[2015-09-08 20:11] jrafanie commented on #4260
Note, this is more than "random"/sporadic, it's affecting both master and PR builds.
I've seen 2 PRs and now 2 failed master builds just today because of this error.

[2015-09-08 20:22] bzwei commented on #4260
The root cause is in armrest gem `list` methods we have multiple threads. Each thread makes a Rest call. The therad execution is no longer guaranteed but VCR tests require every external request in the right order.

The error `RestClient::Unauthorized` is mystery to me. It seems the API call gets escaped from VCR and reaches to the real Azure server. I turned off my Internet connection and got dif

[2015-09-08 20:24] bzwei commented on #4260
We'll have to disable this test before we figure out a proper method to arrange multi-thread test.

[2015-09-08 20:48] jrafanie commented on #4260
@bzwei thanks, yeah, disabling it is fine while we get a better understanding of what's happening.

[2015-09-08 20:51] djberg96 commented on #4260
https://github.com/vcr/vcr/issues/200
https://github.com/vcr/vcr/issues/403

[2015-09-09 07:12] Ladas commented on #3741
@dclarizio @h-kataria

I guess when they are disabled with reason, that could work. Though it looks weird when all buttons are there, even the mutually exclusive like start and stop. :-)

[2015-09-09 08:54] romanblanco commented on #4164
same issue as #4017

[2015-09-09 09:06] martinpovolny commented on #3979
Looking at your first quick hack the call sequence is:

  * `explorer`
  * `set_active_element`    (root)
  * `get_node_info` (root)
  * `process_show_list`  (here we actually deal with lists)
  * `get_view`
  * `get_db_view`

We would not add ifs, branches and exceptions to this path but instead we will create a new action in the controller. Let's say `tabledata`.

`tabledata` will only support r

[2015-09-09 10:52] martinpovolny opened #4269 "new Azure grave bug"
@matthewd: in master since d144cd5f42e69521c1418efcfd05af70ffc8beb4 most likely:

[code]

[2015-09-09 11:29] martinpovolny commented on #4269
update: this only happens when you use the production charts

[2015-09-09 11:34] zeari opened #4270 "Angular html templates file location"
I'm trying to add a new angular directive which receives and html template.
Where in the project file tree should I place the html template? There doesn't seem to be a proper set up place for angular templates.
I tried placing it together with the .js file in assets/javascripts. it doesn't work but it obviously doesn't belong there either. I also tried putting it under views with no luck and I und

[2015-09-09 12:04] psav opened #4272 "Unhandled exception (Missing Partial) when clicking on "VMs and Instances""
Add a new infrastructure provider to the Appliance and make sure it has Instances/VMs (vmware tested). Then click on the provider to see the provider details page. Then try clicking on the "VMs and Instances" link under the relationships infoblock on the right.

Missing partial shared/views/ems_common/_vms with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :r

[2015-09-09 13:49] bronaghs commented on #4260
@bzwei - Is the RestClient::Unauthorized error caused by the 1 hour expiration of tokens added in the last couple of weeks to the armrest gem? I pasted the error above where the token has already expired even though it is good for 1 or 2 years according to the Azure portal?

[2015-09-09 14:23] bzwei commented on #4260
The spec test should not be impacted by the actual token expiration date. If this were true, then we would still fail the test after 1 or 2 years.

The refactoring of armrest gem does not change the length of a token, which is given by the Azure provider side. I believe the default length is 1 hour otherwise you have to configure a user setting through the portal, right? I have not tried this myse

[2015-09-09 14:24] bronaghs commented on #4260
@bzwei - No the token does not expire after 1 hour on the Azure portal

[2015-09-09 14:27] bzwei commented on #4260
I tested the length with another account and got the default 1 hour. You can do a test with your account once you got a new token back. It has attributes showing the expiration date and length.

[2015-09-09 16:19] matthewd commented on #4269
If it doesn't happen in ManageIQ, it's not a bug in ManageIQ.

It's actually a bug in [the `color` gem](https://github.com/halostatue/color/blob/4e24c50261a8a73673ae12ce0955ecd4732702e6/lib/color/rgb.rb#L675).

... which is conflicting with the top-level Azure constant, which comes from `azure-armrest`. I don't see how it would've worked any better before d144cd5.

[2015-09-09 17:56] martinpovolny commented on #4269
Ok, I reported it. Surely we can wait until the productization team hits it before the release ;-)

[2015-09-09 18:17] AparnaKarve commented on #4270
@zeari Typically anything new that you introduce to the JS codebase is placed under ```app/assets/javascripts```

So if you are adding a new directive, it will go right under ```app/assets/javascripts/directives```

When you say ```angular template``` do you mean like a regular haml with angular hooks in it?
If that is the case, your ```angular html template``` will reside right under ```views```

[2015-09-09 18:20] AparnaKarve commented on #4270
Once you have added a new directive or a controller make sure to declare it in ```application.js```
https://github.com/ManageIQ/manageiq/blob/master/app/assets/javascripts/application.js

[2015-09-09 18:28] abonas commented on #4270
yes, the directive is placed in the directives folder. the question is regarding the html template it is configured with via the templateUrl property - where should the html file go in the codebase?
(BTW this is html and not haml as this is pure Angular/JS code with no Ruby)
Please see this discussion and decision regarding html vs haml for Angular screens
http://talk.manageiq.org/t/usage-of-haml-

[2015-09-09 18:53] himdel commented on #4270
If it's a template meant for only one directive, it *might* make sense to keep them together under app/assets/javascript/directive, I think the assumption behind app/views is that they will be used from the rails side which is not the case here (and I don't think files under view are actually available under any url, am I wrong?)

[2015-09-09 19:01] himdel commented on #4270
.. But if putting it together is not an option.. You could include it in the same app/views template that initializes that angular application, in a script type=ng-template tag.. Then, if your templateUrl matches that script tag's id, it will work. (for details see $templateCache documentation please).

[2015-09-09 19:23] martinpovolny commented on #4269
@JPrause : ping, pinging you on this one as we will need this resolved for the next release.

[2015-09-09 19:23] AparnaKarve commented on #4270
I think you should create a separate folder for all angular templates if that is something that is easily doable.
Today its just one template, but in the future there could be many, so keeping them separate from the directives might be a good idea.

[2015-09-09 20:36] mcornea opened #4288 "Order service form shows <Script error> in the Tenant dropdown"
I'm trying to deploy a heat stack by ordering from the service catalog. In the order form the Tenant dropdown shows <Script error>. Attaching screenshot.
![heat-tenant](https://cloud.githubusercontent.com/assets/12097998/9773539/29929e06-5743-11e5-8f11-c0a2a9bd2f85.png)

[2015-09-09 20:37] mcornea commented on #4288
![heat-tenant](https://cloud.githubusercontent.com/assets/12097998/9773553/43a6c8a8-5743-11e5-8752-e28c8391f6c9.png)

[2015-09-09 20:51] #3106 closed

[2015-09-10 08:39] Ladas opened #4295 "Validate credentials in Host edit is disabled"
It's always disabled for me, even when I change credentials. AFAIK it should be always enabled. Cause I can try to validate without any change (the change can be on the server)

![image](https://cloud.githubusercontent.com/assets/1737058/9783901/0b9c3686-57a8-11e5-9b7d-2cf141031b63.png)

[2015-09-10 08:39] Ladas commented on #4295
@dclarizio ^

[2015-09-10 13:31] romanblanco opened #4300 "Missing template storage_manager/update"
Getting `Missing template storage_manager/update` error after canceling or submiting from in Edit Storage Manager.

_Steps to reproduce_:

Storage → Storage Managers → Add Storage Manager → Edit Storage Manager → Click 'Save' or 'Cancel' button

_Log_:

    [----] F, [2015-09-10T15:24:32.891963 #20201:2b003dd17960] FATAL -- : Error caught: [ActionView::MissingTemplate] Missing template storage_man

[2015-09-10 13:32] romanblanco commented on #4300
@miq-bot add-label bug

[2015-09-10 14:11] Ladas commented on #2491
scrolling of the content part is also weird, I don't see the last item

![image](https://cloud.githubusercontent.com/assets/1737058/9790487/9c0996a4-57d6-11e5-9ca0-7a54a0d6112c.png)

[2015-09-10 14:14] Fryguy commented on #4269
@martinpovolny Guess what?  We've hit it :)

[2015-09-10 14:52] h-kataria commented on #4295
@Ladas looking into this, Username/Password and Hostname fields are required to enable validate button. Can you verify if you type a same password in password & verify password fields does the button light up for you. We need to have a hover over text on the Validate to tell user why it is disabled.

[2015-09-10 14:54] h-kataria commented on #4295
@Ladas greyed out dots on that form means that there is no password saved, those are just placeholders, when there is a password value saved for a field it shows them as black dots.

[2015-09-10 15:01] matthewd commented on #4269
https://github.com/halostatue/color/pull/24

[2015-09-10 15:04] #4261 closed

[2015-09-10 15:27] kbrock commented on #3770
@jrafanie @carbonin is this fixed? I remember seeing a PR around this, but can't find.

[2015-09-10 15:28] kbrock commented on #576
@carbonin Is this BZ fixed? Just thinking we can close if it is already done.

[2015-09-10 15:37] carbonin commented on #576
@kbrock The BZ is fixed, but we still use miqnet.sh

[2015-09-10 15:43] carbonin commented on #3770
@kbrock I made a PR to move that code into partials here https://github.com/ManageIQ/manageiq-appliance-build/pull/41, but we are still editing those files.

[2015-09-10 16:00] h-kataria commented on #4272
@zeari refactoring of variable arr in commit SHA: 356d06ff8f026c4a12dec2e67e53d03bd1846fd6 caused this issue

[2015-09-10 16:04] h-kataria commented on #4206
@nachandr i cant recreate this on latest upstream, can you please retry with latest build. If you are still getting an error, can you paste the error message from the log.

[2015-09-10 16:05] h-kataria commented on #4207
this is dup of https://github.com/ManageIQ/manageiq/issues/4272

[2015-09-10 16:05] #4207 closed

[2015-09-10 16:36] #3647 closed

[2015-09-10 16:36] martinpovolny commented on #4269
@matthewd : cool

[2015-09-10 16:44] Ladas commented on #4295
@h-kataria ah then please allow only user name, e.g. in my case the password is defined one level up, typing it down will redefine it

Or for AMQP there can be no password option

[2015-09-10 16:52] zeari commented on #4270
Then I guess I'll try to implement that.

[2015-09-10 17:26] jrafanie commented on #4260
Fixed by #4287

[2015-09-10 17:26] #4260 closed

[2015-09-10 17:35] kbrock commented on #576
thanks - reworded and closed

[2015-09-10 17:35] #576 closed

[2015-09-10 17:36] kbrock commented on #3770
thanks - remembered work there

[2015-09-10 18:12] kbrock opened #4308 "access database.yml in common way"
Provide a simple interface into `database.yml`.
- know where the file belongs
- Support passwords
- Tell you if it is a local database
- possibly understand the difference between `host: localhost` and no `host:` line.
- Region information (I know it comes from `REGION` but maybe putting it in here may simplify things)
- Tell you the number of connections open (if the number of connections > 1 - w

[2015-09-10 19:25] #4269 closed

[2015-09-10 21:30] #3945 closed

[2015-09-11 11:47] mzazrivec opened #4319 "attr_accessible from ContainerGroupsContainerServices to be removed."
attr_accessible is no longer used in Rails 4, moreover, it causes problems when
creating new translation catalogs for our models:

[code]

[2015-09-11 16:18] #4272 closed

[2015-09-14 16:29] bzwei commented on #4288
@mcornea Please make sure you have properly imported `Cloud/Orchestration/Operations/Methods/Available_Tenants` into automate name space.
![availtenants](https://cloud.githubusercontent.com/assets/7047579/9855427/26ce4642-5adc-11e5-8846-c4e37bd40932.png)

Other than this, I will also add some prevention code.

[2015-09-14 19:45] epwinchell opened #4343 "UI: Service catalog entry point mixup"
During style1 refactoring, "Reconfigure Entry Point" and "Retirement Entry Point" code was mixed up.
<img width="625" alt="screen shot 2015-09-14 at 3 34 10 pm" src="https://cloud.githubusercontent.com/assets/1287144/9859754/0772cd12-5af6-11e5-8876-e5009adc2a2c.png">
<img width="534" alt="screen shot 2015-09-14 at 3 33 49 pm" src="https://cloud.githubusercontent.com/assets/1287144/9859753/07669f06

[2015-09-14 19:59] bzwei commented on #4172
@mcornea Do you still have your testing environment that I can access to? Is the openstack provider of juno or higher?

Looking into the code itself I could not find problems. We also have a spec test for this and it passes.

[2015-09-15 11:03] mcornea commented on #4172
@bzwei It was Kilo. Unfortunately I don't have the testing environment anymore and I wasn't able to reproduce it with the latest master and a fresh Openstack environment so I'm going to close this. Thanks

[2015-09-15 11:03] #4172 closed

[2015-09-15 15:23] alexissavin opened #4359 "AWS Provider Discovery Failure"
Hi,
I would like to report a small issue in the discovery process on AWS EC2.
Here are the logs :

[code]

It look like that for unknown reason fr_hash can be equal to nil in /opt/manageiq/app/models/ems_refresh/save_inventory_cloud.rb:221.

This seems to cause the import failure.

The following dirty patch cause the discovery to complete, but it's really a quick fix :

[code]

Thanks for your fee

[2015-09-15 19:01] nachandr opened #4361 "undefined method `id' for 1:Fixnum [ems_infra/show] while viewing timelines for a provider"
1)Generate timeline events for a provider.
2)Try Navigating to the Utilization->Timelines page.

 Issue seen in master.20150915141925_58436ca

https://bugzilla.redhat.com/show_bug.cgi?id=1264183

[2015-09-15 19:54] blrm opened #4363 "Add New Infrastructure Provider Page: Name field is cleared when Type selected in dropdown menu."
In version master.20150915143408_88f28a0

On the "Add New Infrastructure Provider" page:

1) Enter name for provider
2) Select the type of provider from the dropdown menu.

Once a provider type is selected from the dropdown menu, the contents of the name field is erased.

Added by @dclarizio https://bugzilla.redhat.com/show_bug.cgi?id=1264497

[2015-09-15 20:17] nachandr opened #4365 "Multiple host credentialing - After validate button is hit,spinner doesn't spin"
1)Select multiple hosts for credentialing.
2)On the host edit page,select a host against which the validation is to be done,enter credentials for the host  and hit the 'Validate' button

Actual Results:
1)Spinner doesn't spin.
2)No flash message is displayed after hitting the 'Validate' button,but the validation does happen after the 'Save' button is hit.

Expected Results:
1)Spinner should spin a

[2015-09-16 05:53] rananda opened #4372 "Missing flash message for host credentials validation"
Description:
==========
Clicking on the Validate button after adding the host credentials does not display any kind of flash message (Be it successful or error message)

Reproduction Steps:
=================
Navigate to Infrastructure ==> Hosts ==> Select a Host ==> Click on Configuration/ Edit this item ==> Add the credentials and click on the validate button

Note:
Error message is not recorded

[2015-09-16 06:43] akarol opened #4373 "ActionController::RoutingError (No route matches [GET] "/images/icons/new/pxe_image_type.png") when clicked on Pxe system image types"
Steps:
1.Navigate to infrastructure->pxe .
2.In accordion click on system image types.

Result:
Routing error in production log

production log:
[----] I, [2015-09-16T02:38:14.743506 #13157:1223994]  INFO -- : Started GET "/images/icons/new/pxe_image_type.png" for 127.0.0.1 at 2015-09-16 02:38:14 -0400
[----] F, [2015-09-16T02:38:14.744799 #13157:1223994] FATAL -- :
ActionController::RoutingError

[2015-09-16 07:09] akarol opened #4374 "Unexpected error when cliked on cloud add provider validate button"
steps:
1. Navigate to cloud provider->add new provider
2. select type and click on validate  button

Result:
Missing template ems_cloud/create, application/create with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :haml, :jbuilder, :rjs]}. Searched in: * "/var/www/miq/vmdb/app/views" [ems_cloud/create]  displayed in UI .see attached screenshot
![screen

[2015-09-16 08:56] mfalesni opened #4375 "Policy cannot be clicked after creating"
This happened to me with build from 0911. When I created a policy, the tree was not updated so it did not appear there. And also the entry in table was not clickable, only those that existed before. When you go away and return, it works normally. Seems like a missing UI update.

[2015-09-16 11:22] akarol opened #4378 "No save button on vm reconfigure page"
steps:
1.Navigate to infrastructure->Virtual machines
2. reconfigure a vm

result: No save button. see attached screenshot.

Build:master.20150916002314_4e04cf0
![screenshot from 2015-09-16 16 30 36](https://cloud.githubusercontent.com/assets/986028/9903339/4d1fc1fa-5c93-11e5-8116-58b613f78ed0.png)

[2015-09-16 17:08] h-kataria opened #4386 "UI: Form buttons missing on Reports Schedule editor"
Form buttons are missing in Reports Explorer, in schedule editor. i see bunch of JS errors in Firebug, seems like form buttons are not getting displayed because some of JS commands didn't complete successfully.
![js_error_reports_schedule_editor](https://cloud.githubusercontent.com/assets/3450808/9912159/0360292a-5c74-11e5-8b13-7d5a20d58f30.png)

[2015-09-16 17:18] h-kataria opened #4388 "UI: VM retirement throwing an error in log"
On VM retirement form, select a retirement date, then select a value in "Retirement Warning" drop-down, that will throw an error in log, ActionController::RoutingError (No route matches [POST] "/vm_infra/undefined"), when i press save button selected value for Retirement Warning field does not get saved.

See log snippet:
***** MIQ(vm_infra_controller-x_button): Session object size of 51.2 KB exce

[2015-09-16 17:38] h-kataria opened #4389 "UI: UrlGenerationError when Migrating VMs for a Provider."
Steps to recreate:
1. Go to Infrastructure Provider
2. Click on a link to VMs from relationships box.
3. From list of VMs screen, check one or more checkboxes to select VMs to migrate.
4. Press "Migrate selected items" from lifecycle toolbar button.
5. That will present user with a pre-provisioning screen, press "Cancel" button on that screen. That throws following error:

[----] I, [2015-09-16T13

[2015-09-16 19:19] dclarizio commented on #1805
Closing this as Containers work is pretty much complete.

[2015-09-16 19:19] #1805 closed

[2015-09-16 20:52] #4365 closed

[2015-09-16 21:46] dclarizio commented on #4389
https://bugzilla.redhat.com/show_bug.cgi?id=1263845 . . . most likely caused by this related BZ as the pre-provisioning screen is being presented for Lifecycle buttons that are not provisioning.

[2015-09-16 22:19] nachandr opened #4397 "Report generation returned: Status [Error] Message [undefined method `to_hash' for #<String:0x0000000e1bc868>]"
This error is encountered while downloading CSV or TXT reports.
Report generation returned: Status [Error] Message [undefined method `to_hash' for #String:0x0000000e1bc868]

Issue reproduced in master.20150915141925_58436ca
## Snippet from evm.log

[----] E, [2015-09-16T18:07:36.516616 #13123:561990] ERROR -- : [NoMethodError]: undefined method `to_hash' for #<String:0x0000000e1bc868>  Method:[res

[2015-09-17 06:31] yosefy opened #4399 "added 3 esxi providers one of them shows 0 hosts and it keeps rotating"
after x time next provider shows 0 hosts and so on
but they always show all vms

[2015-09-17 14:27] blomquisg commented on #4359
@jvlcek, can you take a look at this?

[2015-09-17 14:29] blomquisg commented on #4399
@agrare can you look into this?  I've never heard of it happening before.

@yosefy, do you see any errors in the `evm.log` file?  I've never heard of this happening before.  So, I have to suspect there's probably an error occurring...

[2015-09-17 14:33] blomquisg commented on #4361
@jvlcek I have a suspicion that this was caused by https://github.com/ManageIQ/manageiq/pull/4289 ... it's a total guess and shot in the dark.

Can you take a quick look and see if it looks related.  If not, I'll hand it over to Dan to triage.

Thanks!

[2015-09-17 14:50] jvlcek commented on #4361
@nachandr Is there a ruby  exception backtrace in the logs? If so can you please post it. Thank you. JoeV

[2015-09-17 15:10] h-kataria commented on #4378
@AllenBW found few issues during my testing:
1.Pressing cancel button on Edit service pop-up does not clear out the values in the form, returning back to Service edit, still shows the updated values, values should be cleared when cancel is pressed.
2. Pressing X button on top right does not work, that should work like a cancel button. @erundle, @serena need your input on how X button should work.

[2015-09-17 15:28] lgalis commented on #4378
@miq-bot add_label ui, bug
@miq-bot assign @lgalis

[2015-09-17 15:43] AllenBW commented on #4378
1.SO i should explain how the edit works, the values that are populated are the ones as they presently stand on the service.  If it is intended that these be blank, an easy fix, but contextually seeing the present state can aid a user in knowing what the next state should be (information state).

Cancel will exit the modal without saving, same thing as the 'X', it is not intended to clear the fiel

[2015-09-17 15:48] himdel commented on #4375
Right, we're replacing a wrong div (`policy_tree_tree_div` instead of `policy_tree_div`)...
(Affects all 7 trees under Control/Explorer.)

[2015-09-17 15:50] lgalis commented on #4378
I cannot reproduce this using the latest master.

![screenshot from 2015-09-17 10-22-15](https://cloud.githubusercontent.com/assets/12769982/9938193/3ce8e13c-5d32-11e5-8ac3-4fa98f91a1f7.png)

[2015-09-17 17:14] agrare commented on #4399
Hi @yosefy, when you get a chance can you attach your evm.log and describe a bit about your environment?  Does this only happen when you add the third host?  What version of manageiq and vmware do you have?

Thanks!
Adam

[2015-09-17 18:02] h-kataria commented on #4372
this has already been fixed by https://github.com/ManageIQ/manageiq/pull/4387

[2015-09-17 18:02] #4372 closed

[2015-09-17 18:14] jvlcek commented on #4359
@alexissavin Can you please describe how you produced this? Please explain what I would have to do in UI to duplicate this. Thank you. JoeV

[2015-09-17 18:58] jvlcek commented on #4361
Investigation indicates this is a UI issue.
This is a snippet of the exception traceback is generated in the production.log
[----] I, [2015-09-17T14:40:31.272741 #17642:4e398c]  INFO -- : Processing by EmsInfraController#show as HTML
[----] I, [2015-09-17T14:40:31.272910 #17642:4e398c]  INFO -- :   Parameters: {"display"=>"timeline", "id"=>"2"}
[----] F, [2015-09-17T14:40:31.370945 #17642:4e398c]

[2015-09-17 19:11] #4375 closed

[2015-09-17 19:15] blomquisg commented on #4361
Dan, can you take a look at this?

[2015-09-17 19:52] dclarizio commented on #4378
@akarol please verify against master or next build and close if fixed.  Thx, Dan

[2015-09-17 20:14] #4288 closed

[2015-09-17 20:27] h-kataria commented on #4361
@dclarizio this issue is introduced by changes in commit sha: 52458a6, an incorrect parameter is being passed to show_link method call, show_link method expects first parameter to be a provider object but an object id is being passed to it here https://github.com/ManageIQ/manageiq/blob/master/app/controllers/ems_common.rb#L40

[2015-09-17 20:44] dclarizio commented on #4361
@AparnaKarve seems to be caused by the first @tenderlove commit that was in your cloud provider PR, so ping him if needed.

[2015-09-17 21:43] lgalis commented on #4378
I ran another test against the master( the previous test was not against the latest) and I was able to recreate the issue. There are javascript errors - I will open a PR for a fix.

[2015-09-17 21:55] lgalis commented on #4378
This issue is caused by the changes in this commit: ad883109722a8fa2d11ffca206766a50d3847f0d
- convert from style1 to patternfly.

[2015-09-18 01:24] #4389 closed

[2015-09-18 14:23] alexissavin commented on #4359
I just registered an AWS provider in eu-west-1 region with multiple security groups registered. This issue cause the discovery failure and happen quite early in the process.

[2015-09-18 15:52] jvlcek opened #4427 "Improve Cloud Provider disk quota cost estimates"
This issue was initiated from Pull Request discussion:
https://github.com/ManageIQ/manageiq/pull/4347

Need to understand how to Improve disk Openstack quota cost estimates

[2015-09-18 17:47] #4374 closed

[2015-09-18 19:02] #4113 closed

[2015-09-18 21:45] jvlcek commented on #4359
@alexissavin Thank you for the reply. I'm sorry but I'm a bit stumped. The way the code is written  fr_hash.nil? should never be able to be true here. Could you please try to gather some data for me?

Could you please add the 2 _log.error calls above your work around,

[code]

[2015-09-18 22:00] matthewd commented on #4359
@alexissavin moreso than the actual contents of your firewall rules, I guess the piece of information we need is what's special about the one in `fr`. Somehow, it's in the MIQ database, but missing in the set of data we just pulled from AWS. That's unexpected at this point, because we've just finished updating the DB to match the incoming data, so newly-removed-from-AWS rules *should* have already

[2015-09-18 22:01] matthewd commented on #4359
@alexissavin I missed this part before:

Are you saying this was an *initial* refresh? That seems even more perplexing, if so. :confused:

[2015-09-19 14:33] skateman commented on #4270
Hi guys, I've just found this project, maybe it can be useful! https://github.com/thoughtbot/high_voltage

[2015-09-19 16:30] himdel commented on #4270
Looks useful, except we'd probably need to implement `page_path` on the JS side. Also looks like it can be used both with html pages and with haml/erb/whatever (except for state of course), which is nice ;).

@zeari , how are you doing with that? I'm back form vacation so I can help if needed.

[2015-09-19 21:19] zeari commented on #4270
@himdel
No progress yet but I'm going to focus on it this week. Any help would be appreciated.

[2015-09-20 16:19] zeari commented on #4270
This method works but its pretty ugly. I had to include the entire template at the beginning of my .html file in a script tag.

[2015-09-20 16:31] abonas opened #4447 "Refresh is not working - refresh worker is stuck on "creating""
possible suspect : https://github.com/ManageIQ/manageiq/pull/4395
cc @matthewd please have a look. thanks

[2015-09-21 07:10] alexissavin commented on #4359
Hi,

I agree, this is surprising, even more, considering it's the first "refresh" of the aws data.
This make me think it could be a specific configuration on our aws account that trigger the "bug".

I will try gathering the requested logs ASAP and get back to you.

Regards.

[2015-09-21 08:56] alexissavin commented on #4359
I have extracted the requested logs and shared the most part by email with @jvlcek.

The part that seems useful :

:source_security_group=>{
  :type=>"ManageIQ::Providers::Amazon::CloudManager::SecurityGroup",
  :ems_ref=>"sg-24a33e52",
  :name=>"ElasticMapReduce-master",
  :description=>"Master group for Elastic MapReduce created on 2015-06-09T13:00:17.932Z",
  :cloud_network=>nil,
  :orchestrati

[2015-09-21 09:46] alexissavin commented on #4359
OK, I found what trigger the "bug"...

Apparently, AWS allow security group to loop...

Example : Security group sg-24a33e52 include rules referenced in sg-22a33e54 which include rules referenced in sg-24a33e52.

This is ugly... I wonder what behavior this may have on aws...

[2015-09-21 16:58] himdel commented on #4270
@zeari I have the PR ready, it's #4455. I'm thinking a `page_path` JS function may actually be useless, since you can just say `templateUrl: "/angular_template/foo/bar"`, agreed? Just remember to strip the extension, that is, with `templateUrl: "/angular_template/foo"`, the file should be in `app/views/angular_template/foo.html` or `app/views/angular_template/foo.html.haml`.

[2015-09-21 18:03] yosefy commented on #4399
hmm.. how do i attach?
i have replied with attached log in mail

[2015-09-21 18:09] agrare commented on #4399
You can email it to me at agrare@redhat.com.

[2015-09-21 18:25] yosefy commented on #4399
sent with wetransfer :)
=============================================
Delivery to the following recipient failed permanently:

     agrare@redhat.com

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain redhat.com by mx1.redhat.com. [209.132.183.28].

The error that the other server returned was:
552 5.3.4 Message

[2015-09-21 18:31] #4447 closed

[2015-09-21 19:17] agrare commented on #4399
Thanks @yosefy ,

So I don't see anything out of the ordinary from a quick scan of your logs.
While the problem is happening can you log-in to your appliance and run the following commands?

[code]
And let us know if you see all of the hosts that you are expecting for each provider?  This should tell us if the correct information is getting into the database.

[2015-09-22 15:38] romanblanco opened #4472 "Exception page not rendered after error"
I have tried to edit Editing Log Depot settings, and getting error:
 `uninitialized constant OpsController::Diagnostics::FileDepotFtpAnonymousRedhatDropbox`

![screencapture-localhost-3000-ops-explorer-1442935860642](https://cloud.githubusercontent.com/assets/1187051/10022940/bc8cb424-614f-11e5-836f-47ced75a7ad6.png)

_Error log from console:_

    [----] I, [2015-09-22T17:29:27.588256 #19266:2ac0

[2015-09-22 16:17] AparnaKarve commented on #4361
@dclarizio I had started looking into issue and when I was about to make a fix realized that this has already been fixed in https://github.com/ManageIQ/manageiq/pull/4324 (merged yesterday).
So it looks like we can close this issue.

[2015-09-22 16:50] #4361 closed

[2015-09-22 18:04] gtanzillo opened #4475 "Exception raised while checking worker resource limits"
The exception is caused when the worker monitor attempts to sort by memory_usage and there are workers with a nil value.

This is the offending line:
https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_server/worker_management/monitor.rb#L107

[2015-09-22 18:57] jvlcek commented on #4427
Flavor Disk Information by Cloud Provider
(Azure uses the term to *Series* for *Flavor*)

-------------------------------|--------------------------------------|----------------------------|-----------------------
MiQ DB column            |     Provider
-------------------------------|--------------------------------------|----------------------------|-----------------------

[2015-09-22 19:37] matthewd commented on #4427
@jvlcek `ephemeral_disk_size` and `ephemeral_disk_count`

[2015-09-23 12:29] mcornea opened #4483 "Routing Error when accessing Openstack Cloud Provider timelines"
When I'm trying to access Openstack Cloud Provider timeline I get the following error:

Routing Error
No route matches [GET] "/ems_cloud/show/2"

Rails.root: /home/admin/manageiq

Application Trace | Framework Trace | Full Trace
actionpack (4.2.4) lib/action_dispatch/middleware/debug_exceptions.rb:21:in `call'
actionpack (4.2.4) lib/action_dispatch/middleware/show_exceptions.rb:30:in`call'
railtie

[2015-09-23 12:38] mcornea opened #4484 "undefined local variable or method `queue_name' for #<OpenstackRabbitEventMonitor:0x0000000d055638>"
Events for Openstack infra and cloud provider don't seem to work:

[----] E, [2015-09-23T12:34:27.254845 #1603:67eae18] ERROR -- : MIQ(ManageIQ::Providers::Openstack::InfraManager::EventCatcher::Runner#start_event_monitor) EMS [192.0.2.1] as [admin] Event Monitor Thread aborted because [undefined local variable or method `queue_name' for #<OpenstackRabbitEventMonitor:0x0000000d055638>]
[----] E, [

[2015-09-23 14:21] romanblanco opened #4486 "Unable to add New Cloud Provider"
I'm unable to add  a new Cloud Provider after merging #4189

I'm getting error:

    [----] F, [2015-09-23T16:15:46.121608 #29451:2aecf43c7970] FATAL -- : Error caught: [NoMethodError] undefined method `invert' for #<Array:0x0055da01f34e28>
    /home/rblanco/devel/manageiq/app/views/shared/views/ems_common/angular/_form.html.haml:67:in `_app_views_shared_views_ems_common_angular__form_html_haml__6

[2015-09-23 14:22] himdel commented on #4486
Editing is broken as well.. @AparnaKarve you're probably most familiar with that code..?

[2015-09-23 14:35] jvlcek commented on #4427
Thank you @matthewd. I changed root_disk and swap_disk to also include the _size postfix.

[2015-09-23 15:01] Fryguy commented on #4427
:+1:

[2015-09-23 19:29] #4486 closed

[2015-09-23 19:58] jvlcek commented on #4359
@alexissavin We can handle the security group loop. The issue is that a security group can be created with empty rules. I'm working on the fix. Thank you again for the help!

[2015-09-23 20:26] blomquisg commented on #4427
@jvlcek, @matthewd, and @Fryguy, thanks for getting to the bottom of this!!

[2015-09-23 20:39] jvlcek commented on #4427
@miq-bot assign @jvlcek

[2015-09-24 08:28] abonas opened #4504 "Duplicated presentation of text in breadcrumb and title"
There is a duplication of title and breadcrumb with the same text that takes unnecessary real estate on the screen. (This happens cross product)
Please see how it can be improved.
@dclarizio @serenamarie125

![breadcrumbsduplication](https://cloud.githubusercontent.com/assets/6277245/10068724/568cfc54-62af-11e5-9db6-95af6d8cf9a9.png)

@miq-bot add_label ui

[2015-09-24 08:47] alexissavin commented on #4359
Hi,

Thank you for your quick action :-)

Regards.

[2015-09-24 11:35] yosefy commented on #4399
[root@localhost ~]# psql vmdb_production -c "select * from ext_management_systems;"
 id | name  | port |   hostname   | ipaddress |         created_on         |         updated_on         |                 guid                 | zone_id |   type    | api_versio
n | uid_ems | host_default_vnc_port_start | host_default_vnc_port_end | provider_region | last_refresh_error |     last_refresh_date

[2015-09-24 12:52] jvlcek commented on #4427
Setting ephemeral_disk_count to 1 if OS disk > 0 for Azure seems a little awkward since Azure does not have ephemeral_disk_size. @matthewd, @Fryguy @bdunne @blomquisg, thoughts?

[2015-09-24 13:35] bdunne commented on #4427
Does Azure have ephemeral disks?  If not, then I would set `:ephemeral_disk_size => nil, :ephemeral_disk_count => 0`

[2015-09-24 13:58] PanSpagetka commented on #4472
I have similar problem.
 FATAL -- : Error caught: [ActiveRecord::SubclassNotFound] The single-table inheritance mechanism failed to locate the subclass: 'FileDepotFtpAnonymousRedhatDropbox'. This error is raised because the column 'type' is reserved for storing the class in case of inheritance. Please rename this column if you didn't intend it to be used for storing the inheritance class or overwr

[2015-09-24 15:32] yosefy commented on #4399
later:

[root@localhost ~]# psql vmdb_production -c "select id,ems_id,name,created_on,updated_on from hosts;"
 id | ems_id |         name         |         created_on         |         updated_on
----+--------+----------------------+----------------------------+----------------------------
  2 |        | esxi-180.xxx.local  | 2015-09-16 10:54:21.442936 | 2015-09-21 17:30:42.78598
  1 |      1 | lo

[2015-09-24 15:38] agrare commented on #4399
Okay so there are 2 providers but you see 3 on the UI?
Also it looks like that one host is going between being owned by those two providers, is it possible that host was discovered for both of those providers?

[2015-09-24 15:55] yosefy commented on #4399
how can it be?
its 3 different esxi's with local storage each

i'll try to remove and re-add

[2015-09-24 17:42] dclarizio commented on #4483
Matching BZ here: https://bugzilla.redhat.com/show_bug.cgi?id=1265462

[2015-09-24 17:46] dclarizio commented on #4483
Also https://bugzilla.redhat.com/show_bug.cgi?id=1265404

[2015-09-24 19:48] jvlcek commented on #4427
@bdunne That feels correct to me. Updating table to reflect that chance. Thank you.

[2015-09-24 20:48] #3401 closed

[2015-09-24 20:53] #4484 closed

[2015-09-27 05:29] yosefy commented on #4399
ok i think i found the problem...
it was the same hostname of both esxis
(localhost)

thanks

[2015-09-27 13:05] #4399 closed

[2015-09-27 13:07] yosefy opened #4553 "sometimes after adding provider, it never discovers hosts"
also
how to make it discover instantly?

thanks

[2015-09-28 13:34] jvlcek commented on #358
@miq-bot assign @simaishi

[2015-09-28 13:35] jvlcek commented on #421
@miq-bot assign @simaishi

[2015-09-28 13:35] jvlcek commented on #420
@miq-bot assign @simaishi

[2015-09-28 13:35] jvlcek commented on #422
@miq-bot assign @simaishi

[2015-09-28 13:35] jvlcek commented on #423
@miq-bot assign @simaishi

[2015-09-28 13:44] jvlcek opened #4554 "Remove abbreviated variable names from Azure provider code"
@Fryguy  pointed out the abbreviation `sz` is being used in place of `size` for a variable name in the Azure provider code.

Remove abbreviated variable names from Azure provider code

[2015-09-28 13:59] bdunne commented on #421
I think the logs should live in the same directory as the images that have been built.

[2015-09-28 14:08] bronaghs commented on #4554
This was taken from the Openstack parser so it should change there too.

[2015-09-29 18:14] lgalis commented on #4378
@akarol, please verify this was fixed by #4470

[2015-09-29 19:46] imtayadeway opened #4578 "UI: Add new provider form scrubs fields after selecting a type"
![manageiq_infrastructure_providers_-_2015-09-29_12 39 56](https://cloud.githubusercontent.com/assets/1710874/10176164/02b0dd60-66a8-11e5-93b5-513a7ba5a400.png)

![manageiq_infrastructure_providers_-_2015-09-29_12 40 13](https://cloud.githubusercontent.com/assets/1710874/10176168/08d93304-66a8-11e5-8eb4-e0a1dc077b8d.png)

@miq-bot add-label ui, bug

[2015-10-01 11:39] martinpovolny commented on #2885
WIP here:

https://github.com/grosser/gettext_i18n_rails/pull/142

[2015-10-01 15:53] martinpovolny opened #4616 "regression with recent changes to `manageiq-2/app/views/layouts/_dhtmlxgrid.html.haml`"
[code]

[2015-10-01 15:54] martinpovolny commented on #4616
7f468d43 probably?

[2015-10-01 16:04] martinpovolny commented on #4616
fixed by #4615 --> closing as duplicate

[2015-10-01 16:04] #4616 closed

[2015-10-01 16:34] kuduka opened #4618 "Unable to create a Catalog Bundle"
I'm trying to add a new Catalog Bundle but I got this backtrace once I click on the checkbox "Display on Catalog.

Version that I'm using is master.20151001091537_3859969

https://paste.fedoraproject.org/273673/37128861/

[code]

[2015-10-01 16:39] kuduka opened #4619 "Unable to export Automate domains"
I'm trying to export my domains configuration via Automate export but I got this traceback instead.

Version that I'm using is master.20151001091537_3859969

https://paste.fedoraproject.org/273722/44371754/

[code]

[2015-10-01 17:15] h-kataria commented on #4618
https://bugzilla.redhat.com/show_bug.cgi?id=1268055

[2015-10-01 20:04] gmcculloug opened #4630 "Correct names for hardware CPU values"
Moved from PR #4035

The meaning of the hardware#numvcpu column has been confusing for a long time.  It was initially added to match the VMware property but as virtual hardware changed to define sockets/cores_per_socket the intended meaning of the numvcpu field became ambiguous.  Adding the num_cpu virtual column to the VmOrTemplate/Host models just extends the confusion.

If we are now stating th

[2015-10-01 20:06] stacybrock opened #4631 ""'nil' is not an ActiveModel-compatible object" error when viewing details while approving provisioning request"
**Issue:** After clicking on the "Approve" button in a pending provisioning request, if the user then clicks on a tab in the request details area, the following error is thrown:

![screen shot 2015-10-01 at 11 32 07 am](https://cloud.githubusercontent.com/assets/3768182/10232035/0b077232-683b-11e5-9440-ff153de2b782.png)

**Steps to Reproduce:**
1. Submit a VM provisioning request.
2. As an adminst

[2015-10-01 20:13] Fryguy commented on #4630
I'm good with the new column names as listed.

How does this affect chargeback...I think there's some stuff about column names buried in there.

I think this would be ok as a stopgap, but I think it would be cleaner to just fix all existing reports, and callers, right?  One way to do that is to do the classic deprecation we've always done.

I'm not sure what to do on the automate side. I think we

[2015-10-01 20:34] mkanoor commented on #4619
@kuduka
This error usually happens because there is an automate method with no data. Can you explain how you created the method with no data.

[2015-10-01 20:42] bdunne commented on #4630
I'd prefer to see the column names as:
[code]

I think they should be prefixed with "cpu_" and there should absolutely no question about what is stored in them.

[2015-10-01 20:44] bdunne commented on #4630
I'm tempted to skip the deprecation step since the values have already been changed since the last version and there was no deprecation created there.

[2015-10-01 22:20] #4618 closed

[2015-10-01 22:30] #4619 closed

[2015-10-02 10:06] kuduka opened #4637 "Unable to create Dynamic Drop Down List"
I'm unable to create a Dynamic drop down list with a custom method.

UI complains about "Dropdown elemnts require some entries"

I've "simulated" the Method and it returns some data by default:

[----] I, [2015-10-02T06:01:31.940123 #19623:a16c1f0]  INFO -- : <AEMethod list_domains> Dialog Values: [[1, "domain.test"], [2, "foo.bar"]]
[----] I, [2015-10-02T06:01:31.977944 #19623:a16c484]  INFO -- :

[2015-10-02 11:36] mfalesni opened #4638 "Missing alt in some buttons"
I noticed our test automation could not find a Save button in "Set retirement date" dialog. It is caused by not having `alt` attribute. AFAIK `alt` should be present everywhere. I noticed the button is converted to angular so it was probably lost in refactoring.

[2015-10-02 12:33] mfalesni opened #4639 "[RFE] Provider reload buttons"
Many pages have the reload button that reloads the view like F5 does. The detail view of providers does not have it and I think it would be nice to have it too since you can also wait for something to happen there, like refresh to finish etc.

[2015-10-02 14:27] kuduka opened #4644 "UI error deleting Services"
Deleting Services popped up an error but services got deleted as I can't see them on UI anymore.

[code]

Here's the traceback that I got:deleting them:

https://paste.fedoraproject.org/274067/79577414/
[code]

[2015-10-02 16:36] himdel commented on #3864
Made *some* progress [here](https://github.com/himdel/sprockets-rails/commit/491a76ab354b97bb950bd3130e3b8bd6ce5ae37c), but I'm starting to think that `check_errors_for` is not the right place to check these things, especially given I had to comment out some stuff so it'd get passed all (hopefully) the files and work in our devel config.

Still, works well enough to catch some problems (and some f

[2015-10-02 20:15] martinpovolny commented on #3775
Zanata for Mac OS X: https://github.com/Homebrew/homebrew/pull/44515

[2015-10-02 20:48] dclarizio opened #4655 "Change how select option descriptions are source in Orchestration Template editor"
From https://github.com/ManageIQ/manageiq/pull/4606#issuecomment-144786045

[2015-10-05 07:48] abonas opened #4666 "provider addition - name field is emptied after type field is selected"
On addition of a provider in ManageIQ, when selecting the type from the combo box of "type" field, the "name" field's value is emptied which doesn't make sense in any case, but especially since the order of appearance on page is that the name is filled prior to type.

@miq-bot add_label ui

cc @chessbyte @dclarizio

[2015-10-05 07:49] abonas opened #4667 ""non admin users cannot access the system..." message appears for the admin user"
The message appears as a warning when login as admin - is this the intention to warn admins, or the message should appear only for non admin users?

![nonadminusers](https://cloud.githubusercontent.com/assets/6277245/10275259/fdd19cea-6b3d-11e5-826e-6ec2dce0ada3.png)

[2015-10-05 07:49] abonas commented on #4667
cc @chessbyte @dclarizio
@miq-bot add_label ui

[2015-10-05 10:19] kuduka commented on #4637
Commenting this block lets me to create the Dynamic Drop Down List correctly, so I guess that adding some more logic on that if might do the trick.

+++ b/app/controllers/miq_ae_customization_controller/dialogs.rb
@@ -694,10 +694,10 @@ module MiqAeCustomizationController::Dialogs
         add_flash(_("%s is required") % "Element Type", :error)
         res = false
       end
-      if @edit[:field

[2015-10-05 12:16] mcornea opened #4671 "NotImplementedError in EmsInfraController#scaling"
When trying to scale out the Openstack Infra provider (adding additional compute node) I get the following error:
NotImplementedError in EmsInfraController#scaling
raw_status must be implemented in a subclass

![scale out error](https://cloud.githubusercontent.com/assets/12097998/10280187/a18dc71e-6b6b-11e5-86e8-2cfb1c1a5481.png)

[2015-10-05 14:53] mfalesni opened #4676 "[ui/self-service] Weird links for images"
When watching console on a build from Oct 2nd (upstream), I noticed that it tries to load images like this:

`https://w.x.y.z/self_service/%7B%7B%20::item.picture.image_href%20%7D%7D`

which, when you are lazy translating the characters, is this:

`https://w.x.y.z/self_service/{{ ::item.picture.image_href }}`

Important note, in order to make it work on appliance, I had to change the `API_BASE` fr

[2015-10-05 18:14] #4427 closed

[2015-10-05 21:06] carbonin opened #4681 "Appliance Console does not run"
Running `appliance_console` gives the following error:

[code]

This is because the `alias_method` is being called from the root of a script, rather than from within a class or module.

[2015-10-06 07:23] kuduka opened #4689 "Drop Down Auto Refresh other fields when modified is not working"
I have a Drop Down List that depends on a previous value selected, once "Auto Refresh other fields when modified" doesn't trigger any event and no method is called, so other Drop Down List are not populated.

[2015-10-06 07:28] kuduka opened #4690 "Drop Down List manual Refresh creates an unselectable list due to some CSS classes"
Manually refreshing a Drop Down List creates an unselectable list due to some CSS classes being applied, for example:

![dropdown](https://cloud.githubusercontent.com/assets/3741533/10302387/3cf4c39c-6c0c-11e5-89bf-c85468c7a6c3.PNG)

Without manual refresh:

[code]

With manual refresh, selectpicker bs-select-hidden classes are applied:

[code]

[2015-10-06 07:34] kuduka opened #4691 "Selecting a value on a Drop Down List creates a duplicated list"
Once a value is selected a new list appears on UI, with an image it's easier to see:

![dropdownselected](https://cloud.githubusercontent.com/assets/3741533/10302502/39c1bc42-6c0d-11e5-8f30-706d32461f75.PNG)

Here's the html code of the first duplicated list on the image:

[code]

[2015-10-06 20:23] jvlcek opened #4716 "Correct already merged issue 4634 "Handle no AWS metrics collected""
The solution merged for issue 4634 [1] had a bug.

This Issue will be used to track fixing that bug.

[1] https://github.com/ManageIQ/manageiq/pull/4634

[2015-10-06 20:56] jvlcek commented on #4716
The bug was:
sort fails when a nil is in the array...the compact needs to come before the sort

[4] pry(main)> ["a", "a", nil].sort
ArgumentError: comparison of String with nil failed

[2015-10-07 15:34] himdel commented on #1879
closed by #3789

[2015-10-07 15:34] #1879 closed

[2015-10-07 18:57] #4716 closed

[2015-10-07 19:02] #4681 closed

[2015-10-07 23:06] #4578 closed

[2015-10-07 23:06] #4666 closed

[2015-10-08 12:26] jvlcek opened #4744 "appliance_console raises exception on "q to stop""
# Description:

Using build: manageiq-vsphere-capablanca-1-beta1.1.ova the appliance_console raises exception on "q to stop"

# The exception:
[code]
# Steps to reproduce
* logging
* start the appliance_console
* at the initial prompt type "q" to stop
** -- press enter/return to continue or q to stop -- q

[2015-10-08 14:39] gmcculloug commented on #4667
@kbrock Is this additional cleanup from PR #4547?

[2015-10-08 14:40] dclarizio commented on #4691
@kuduka Can you give a bit more context here as in, where are you in the UI (perhaps a recipe to get there)?  The screen shot you gave is cropped a bit tight to see what's going on.

[2015-10-08 14:45] kbrock commented on #4667
This is a bug. mine.

[2015-10-08 17:13] dclarizio commented on #4638
@mfalesni could you open a 5.5 BZ please and relate it back to this issue?  Thx, Dan

[2015-10-08 18:15] h-kataria commented on #4631
https://bugzilla.redhat.com/show_bug.cgi?id=1269999

[2015-10-08 18:31] carbonin commented on #4744
Looks like a bug in the highline gem.  Opened https://github.com/JEG2/highline/issues/168

I'll just increase the number of lines until we page as a workaround.

[2015-10-08 20:30] #4676 closed

[2015-10-09 07:18] kuduka commented on #4691
Hello,

Issue is when I do the following:

Services -> Catalogs -> Service Catalogs -> Selecte a Service -> order

Here's another screenshot if it helps from another Service, same issue:

![service](https://cloud.githubusercontent.com/assets/3741533/10388018/9fd51104-6e66-11e5-97ba-acc6af4d6c40.PNG)

[2015-10-09 09:13] Ladas opened #4763 "Infra Host smartstate goes for a very long time"
Here is a place getting last logon of a user, by basically traversing /var/log/wtmp and getting users last logon

e.g. my file has 200k records

this goes through all of them https://github.com/ManageIQ/manageiq/blob/master/gems/pending/metadata/linux/LinuxUsers.rb#L235

and this goes through subset of them for each user
https://github.com/ManageIQ/manageiq/blob/master/gems/pending/metadata/linux/

[2015-10-09 09:13] Ladas commented on #4763
@blomquisg @Fryguy @mcornea ^

[2015-10-09 09:56] Ladas commented on #4763
as @mcornea poineted out, this

last -f /var/log/wtmp

will give us list of users and their last login. Is there particular need to parse the log instead? Anyway first i am optimizing it, so it goes to that log only once, so we will get to minutes.

[2015-10-09 12:25] romanblanco opened #4767 "Brakeman issues"
There are Brakeman issues discovered in PR #4724 which should be fixed:
https://travis-ci.org/ManageIQ/manageiq/jobs/84487871#L510

These issues weren't discovered before, because files weren't inspected because of wrong naming of template files.

[2015-10-09 12:27] lpichler opened #4768 "Form buttons disappeared in CloudInteligence->Reports->Schedule form"
<img width="1434" alt="before-shedules" src="https://cloud.githubusercontent.com/assets/14937244/10393662/1de92a5a-6e92-11e5-81b6-4df955cfe9cc.png">

[2015-10-09 13:17] martinpovolny opened #4772 "i18n -- wrong usage of gettext"
I am putting together a simple tool to check if gettext is called correctly in the sources.

Example output from a run on today's master:

[code]

The line numbers for HAML are not correct. They correspond to the generated ruby code, not the original HAML source.

Guidelines for correct use of gettext are here:  https://github.com/ManageIQ/manageiq/issues/3775

[2015-10-09 13:22] martinpovolny commented on #4772
Some of the above are in `app/views/miq_request/_prov_form_buttons.html.haml` caused by commit d07c91db. We should probably revert that one.

[2015-10-09 13:45] #4631 closed

[2015-10-09 13:52] #4644 closed

[2015-10-09 13:54] mzazrivec opened #4774 "i18n: rake gettext:find would fail in certain scenarios"
In certain scenarios, for example when `config/locales/manageiq.pot` file doesn't exist,
`gettext:find` rake task would fail with the following:

[code]

We need to investigate whether this is a problem on our side or elsewhere and fix it.

[2015-10-09 14:01] romanblanco opened #4775 "Remove unused parts from Reports"
there seems to be [more code](https://github.com/ManageIQ/manageiq/pull/4513#issuecomment-144366942) in Reports, that is unused and can be removed

First part removed in #4513

[2015-10-09 14:21] mzazrivec opened #4777 "i18n: rake gettext:find wouldn't update manageiq.pot properly in certain scenarios"
`rake gettext:find` rake task wouldn't update 'config/locales/manageiq.pot' properly in situations
where the timestamp on `config/locales/manageiq.pot` is more recent than timestamp on
the file that received the new gettext string:

[code]

Result of this is incomplete `manageiq.pot`. We need to investigate cause of the problem,
whether this is a problem in our code or in a gem we use and find a s

[2015-10-09 14:40] skateman commented on #4270
I think this one can be closed @zeari

[2015-10-09 14:43] zeari commented on #4270
It can, #4455 handles it nicely. Thanks @himdel!

[2015-10-09 14:43] #4270 closed

[2015-10-09 14:47] #4744 closed

[2015-10-09 14:50] mzazrivec opened #4780 "i18n: rake gettext:store_model_attributes wouldn't create entries for model relations"
`rake gettext:store_model_attributes` scans through application models and creates
`config/model_attributes.rb` file containing gettext strings representing all model attributes.

[code]

As things are, the task won't put model relations into the above file (for example `Host|Miq templates`
is missing in the above file).

Anytime our application would call `human_attribute_name()`, trying to get a

[2015-10-09 16:18] romanblanco opened #4785 "Tree in Service Dialog is not replaced by dialog edit tree"
As [@himdel mentioned](https://github.com/ManageIQ/manageiq/pull/4779#issuecomment-146909664), tree in Service Dialog is not replaced by dialog edit tree

reproduce:
Automate -> Customization -> Service Dialogs -> Select dialog -> Configuration -> Edit this dialog

Dialog is not changed in editing:

![screencapture-localhost-3000-miq_ae_customization-explorer-1444407049139](https://cloud.githubuse

[2015-10-09 16:47] skateman commented on #4785
@romanblanco gotcha, the stuff is there but not shown, working on it!

[2015-10-09 16:49] romanblanco commented on #4785
thanks :+1:

[2015-10-10 14:37] #4767 closed

[2015-10-11 06:07] optimisticanshul opened #4797 "AWS sdk upgrade to 2.x"
Hi i think we upgrade aws-sdk to 2.x from 1.x, may i know your thoughts. Happy to send a pull request, if I know your views.

[2015-10-11 10:30] abonas opened #4798 "Missing support to use font awesome icons for icons in toolbar"
Currently all the icons are assumed to be png and reside in /images/toolbars/ in miq repo.
The fix should be probably somewhere around this:
https://github.com/ManageIQ/manageiq/blob/master/app/helpers/configuration_helper/configuration_view_helper.rb#L22

The relevant place for the aforementioned icons is here
![toolbar](https://cloud.githubusercontent.com/assets/6277245/10416347/45988948-701c-11

[2015-10-11 11:51] abonas commented on #4798
@dclarizio @chessbyte  - enhancement request
@miq-bot add_label ui

[2015-10-11 13:43] serenamarie125 commented on #4798
@dclarizio we would like to see the pfToolBar used here (See example here: http://angular-patternfly.rhcloud.com/#/api/patternfly.views.directive:pfDataToolbar)

[2015-10-11 13:57] abonas commented on #4798
cc @zeari

[2015-10-12 08:12] mfalesni commented on #4638
https://bugzilla.redhat.com/show_bug.cgi?id=1270700

[2015-10-12 10:39] DNNX opened #4804 "ReportableMixin#add_includes: is there a bug or it works as intended?"
At the very end of the method, there is [the following code](https://github.com/ManageIQ/manageiq/blob/master/app/models/mixins/reportable_mixin.rb#L185-L188):

[code]

I'm not sure what this code does, but to me it looks a bit suspicious that the last `association_record` is treated differently from the others. What I mean is that only keys from the last `association_record` get into `aar_columns

[2015-10-12 11:42] mzazrivec commented on #4386
@miq-bot assign @lpichler

[2015-10-12 12:45] matthewd commented on #4797
A PR would be great!

I think the challenge will be in proving that everything still works after adapting to the new API... the primary coverage of that code is via the VCR-based spec on the Refresher, I believe -- so it may be tricky to confirm all the changes are expected/desirable.

[2015-10-12 19:58] #4785 closed

[2015-10-12 20:49] mkanoor opened #4819 "UI: Automate Instances cannot be edited"
If an instance is copied from a Locked domain to a editable domain, after the copy the instance cannot be edited, the only option available is "Configuration -> Copy this Instance". Since the domain is an unlocked domain we should be able to edit the instance.

[2015-10-12 20:49] mkanoor commented on #4819
@gmcculloug

[2015-10-13 05:23] justanshulsharma commented on #4797
@matthewd we can do that in phases in first phase we can add aws-sdk 2 in gemfile and in places like this https://github.com/ManageIQ/manageiq/blob/master/app/models/authenticator/amazon.rb#L118
we can do 'aws-sdk-1'. Let me know your thoughts i will be more than happy to send a PR for this :+1:

[2015-10-13 09:18] romanblanco opened #4827 "Unexpected error in Containers page"
I guess that Policy button should be disabled, when there are no records checked:
![screencapture-localhost-3000-container-explorer-1444727633036](https://cloud.githubusercontent.com/assets/1187051/10450618/c6cd8006-719b-11e5-9f88-7e95f74dedf3.png)

Now, after i select `Edit tags`, I'm getting unexpected error:
![screencapture-localhost-3000-container-explorer-1444727615778](https://cloud.githubus

[2015-10-13 10:24] chessbyte commented on #4804
@gtanzillo Please look into this.

[2015-10-13 12:53] romanblanco opened #4831 "Empty table in Automate Instance"
I guess that table shouldn't be displayed, when there are no instances

![screencapture-localhost-3000-miq_ae_class-explorer-1444740624217](https://cloud.githubusercontent.com/assets/1187051/10455175/0cacc460-71ba-11e5-9b2f-6ec013458cb5.png)

[2015-10-13 13:17] romanblanco opened #4832 "Missing toolbar buttons in Automate Instance"
After merging #4596, I can't edit Automate Instance
Screenshots:

Before:
![screencapture-localhost-3000-miq_ae_class-explorer-1444742035574](https://cloud.githubusercontent.com/assets/1187051/10455713/2940945a-71bd-11e5-8fe1-8454d54bbd87.png)
After:
![screencapture-localhost-3000-miq_ae_class-explorer-1444741881869](https://cloud.githubusercontent.com/assets/1187051/10455714/2c69be72-71bd-11e5-80

[2015-10-13 14:08] h-kataria commented on #4832
@romanblanco i am already looking into this issue https://github.com/ManageIQ/manageiq/pull/4821

[2015-10-13 14:58] Ladas opened #4833 "Openstack VM provision multiselect box not working"
picking up security groups should be a multiselect box, since we can associate multiple sec. groups with a vm, but I can't pick up anything, it always go to default

![image](https://cloud.githubusercontent.com/assets/1737058/10458507/64942810-71cb-11e5-9322-cdd06690449b.png)

[2015-10-13 14:58] Ladas commented on #4833
@dclarizio ^

[2015-10-13 16:28] Ladas opened #4838 "undefined method `inputs' for #<MiqAeClass:0x000000066544f0>"
This happens when i try to copy automate action from default to a new domain / PostProvisionTest / Cloud / VM / Provisioning / StateMachines / Methods / openstack_PostProvision

[code]

[2015-10-13 16:53] gtanzillo commented on #4804
@DNNX I think the example would be more like this. The association_records should all have the same keys:

[code]
Once that code finishes all the data_records should have the same keys. So it's just grabbing the keys from the last element to get the column names to union with arr_columns to build the complete set of columns referenced. It could have gotten the column names from any element.

[2015-10-13 16:56] DNNX commented on #4804
Ok, got it. Thank you!

[2015-10-13 16:56] #4804 closed

[2015-10-13 20:55] dclarizio commented on #4833
@Ladas @gmcculloug is taking a look and we'll let you know if it's something we need to fix.

[2015-10-13 22:53] gmcculloug commented on #4833
@Ladas Is correct.  Here's a screenshot from a recent version of the UI showing the multi-select box:
![image](https://cloud.githubusercontent.com/assets/2591569/10470489/926bb220-71db-11e5-87de-6e20c078bd1a.png)

[2015-10-13 23:07] dclarizio commented on #4833
@martinpovolny Can you figure out which refactoring/cleanup might have broken this and assign to someone to restore the multi-select box?  Thx, Dan

[2015-10-14 05:40] jkrocil opened #4850 "UI: Containers provider icons differ from infra/cloud provider icons"
Infra/cloud provider icons contain more useful information than those of container providers.

In I/C icon we have 4 quadrants with info such as provider type, number of hosts, mark for valid/invalid credentials (4th quadrant being empty atm; most probably provider-type dependent).

With container provider icon, we can only see what type of provider it is. Is there a good reason not to display mor

[2015-10-14 05:42] jkrocil commented on #4850
Note:
There should also be a "Show Containers Provider Quadrants" option to enable this in Configure > My Settings that is not there at the moment.

[2015-10-14 05:56] jkrocil opened #4851 "UI: Containers provider summary page doesn't display credentials validation status"
Ideally, we would have "Status > Default credentials" displayed on the summary page with current status of "Valid/Invalid" or whatever are the current available states of other providers.

This is somewhat tied to #4850 as we want to see the credentials status in the icon as well.

[2015-10-14 06:30] Ladas commented on #4833
@gmcculloug btw. there are more issues in this page, not sure if anybody is working on them, or where should I fill it. :-)

1. all boxes should be filtered by tenant
2. cloud network* should contain only private networks
3. IP addresses should be shown only from public networks connected to the private network?
4. When I deploy multiple VMs, I can pick only one Public IP, so it should either allo

[2015-10-14 06:33] martinpovolny commented on #4833
@Ladas : I do not have enough expertise in automate to tell what is a bug and what is a my misunderstanding of the feature nor there's a spec that I could read to learn what is the required behavior. If you think you know the answers we can pair on fixing this (and write down at least a text spec as we work).

[2015-10-14 07:16] Ladas commented on #4833
@martinpovolny I think we can wait for somebody to verify @gmcculloug seems to know this area and then create separate issues or BZs?

[2015-10-14 07:18] martinpovolny commented on #4833
@Ladas : as you wish. Once you have the information necessary, come any time. You get a :coffee: and we will fix it together.

[2015-10-14 07:29] Ladas commented on #4833
@martinpovolny cool :-)

[2015-10-14 07:53] Ladas opened #4852 "Error when provisioning OpenStack Vm"
It is definitely happening after I change miq automate code, e.g. exposing another method,  it goes away when I restart evm.

The exception message is kind of confusing

[----] E, [2015-10-14T09:49:14.461011 #26042:1237994] ERROR -- : <AutomationEngine> MiqAeServiceModelBase.ar_method raised: <ArgumentError>: <MiqProvisionRequest Object expected, but received MiqProvisionRequest>
[----] E, [2015-1

[2015-10-14 13:31] gmcculloug commented on #4833
@Ladas Yes, let's create a separate issue to deal with the values displayed in the dialog.  The focus of this issue should be restoring the "Security Groups" selection to be multi-select which is unrelated to the content it displays.

[2015-10-14 14:38] Ladas opened #4859 "Openstack VM provision issues"
1. cloud network\* should contain only private networks
2. IP addresses should be shown only from public networks connected to the private network? E.g you can have VM connected to isolated private network that can't even touch public.
3. When I deploy multiple VMs, I can pick only one Public IP, so it should either allow to pick the same number of Public IPs as VMs, or we can just put there Publi

[2015-10-14 14:39] Ladas commented on #4859
@gmcculloug could you review which issues should be addressed, then we can sit on it with @martinpovolny :-)

[2015-10-14 16:22] DNNX opened #4863 "MiqPolicy.seed: bug or not?"
See [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_policy.rb#L372-L374).

[code]

Should it be `unless attrs.empty?`?

[2015-10-14 17:12] lpichler commented on #4768
closing because this issue is already exist here: #4386

[2015-10-14 17:12] #4768 closed

[2015-10-14 18:23] lgalis commented on #3902
fixed by PR 4769

[2015-10-14 19:20] mkanoor opened #4871 "UI Domain list not filtered by current tenant"
When doing a copy of an instance/method/class to a different domain we show a drop down with the list of available domains, that list should be filtered based on the current tenant.

[2015-10-14 19:33] #4819 closed

[2015-10-15 09:15] PanSpagetka opened #4880 "Reports tree - two line record"
In Cloud Intelligence - Reports tree, two line record change into one line record when is selected.
Not selected:
![firefox_screenshot_2015-10-13t08-57-22 140z](https://cloud.githubusercontent.com/assets/9535558/10451701/10a75160-71a2-11e5-8c4c-a96143de5f68.png)
Selected:
![firefox_screenshot_2015-10-13t08-57-28 412z](https://cloud.githubusercontent.com/assets/9535558/10451704/11d6681e-71a2-11e5-9

[2015-10-15 09:33] abonas opened #4883 "Rename "Default Credentials" to "Authentication Status" in all provider screens"
based on @jonnyfiveiq feedback

@miq-bot add_label ui

cc @dclarizio @chessbyte

[2015-10-15 11:23] Ladas commented on #4859
@blomquisg could you also check it out? ^

[2015-10-15 13:35] abonas opened #4890 "Missing "Authentication status" to provider summary in containers UI"
@miq-bot add_label ui, providers/containers

based on feedback from @jonnyfiveiq

cc @simon3z

[2015-10-15 13:37] abonas commented on #4890
pending fix in #4883 to keep everything aligned

[2015-10-15 14:25] abonas opened #4893 "Exception when clicking "nodes" from container route summary page"
Missing partial container_route/_container_nodes, application/_container_nodes with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :haml, :jbuilder, :rjs]}. Searched in: * "/home/abonas/manageiqfork/manageiq/app/views" [container_route/show]

cc @moolitayer @simon3z

@miq-bot add_label bug, providers/containers

[2015-10-15 14:29] blomquisg commented on #4827
@romanblanco, can you add the traceback associated with this?

[2015-10-15 14:31] dclarizio commented on #4775
@romanblanco should this be closed by the PR merged above?

[2015-10-15 14:34] romanblanco commented on #4827
[----] F, [2015-10-15T16:32:37.091493 #6203:2af645981960] FATAL -- : Error caught: [ActionController::RoutingError] invalid button action
    /home/rblanco/devel/manageiq/app/controllers/container_controller.rb:21:in `whitelisted_action'
    /home/rblanco/devel/manageiq/app/controllers/container_controller.rb:35:in `x_button'

[2015-10-15 14:36] romanblanco commented on #4775
@dclarizio not yet, there are probably more parts to remove, as I [mentioned](https://github.com/ManageIQ/manageiq/pull/4513#issuecomment-144366942) in the merged PR. I'll check them later.

[2015-10-15 14:40] blomquisg commented on #4827
@abonas, can you check on that error?

[2015-10-15 15:48] mkanoor opened #4896 "UI: Automate Domains displayed in incorrect order"
With the addition of tenants to domains, the priority is uniquely set based on a tenant or sub tenant, so its possible that two domains from different tenants have the same priority value. When displaying the domains in UI we might be listing the visible domains which includes domains of the parent tenant.
Tenant#visible_domains gives the sorted domain list.

[2015-10-15 16:22] gmcculloug commented on #4859
1. cloud network - If we limit to private do we need another dialog field for public networks?
2. IP Addresses - Makes sense that we limit based on the selected public network.  Do we currently collect the information during inventory refresh to determine this list?
3. Multi-VM/IP assignment - This could be handled in automate today to select different IPs if provisioning more than one VMs.  We ha

[2015-10-15 16:45] Ladas commented on #4859
@gmcculloug

1. AFAIK when you pick public in that dialog it should fail. The dialog for public should not be needed. After today brainstorming, we figured out that for one private network (subnet actually) you can have only one public network connected.

I need to yet figure out how to pick subnet, if there would be a crazy architecture with each subnet going to different router and public networ

[2015-10-15 17:07] dclarizio commented on #4883
Hey @abonas can you give some context to this with a screen shot?  Thx, Dan

[2015-10-15 17:11] Ladas opened #4902 "Approving provision request does nothing"
deploying more than 1 Vm in OpenStack, hitting approve but the page just reloads and nothing happens

![image](https://cloud.githubusercontent.com/assets/1737058/10521506/8653950c-7370-11e5-8e0a-f77fb5c5fe35.png)

[2015-10-15 17:12] dclarizio commented on #4827
@abonas ping @h-kataria if you need help disabling that button if there are no rows showing

[2015-10-15 17:12] Ladas commented on #4902
@dclarizio might be I am doing something wrong? :-) But I guess some message should be given

[2015-10-15 17:14] dclarizio commented on #4831
@romanblanco This is how it worked when using the DHTMLXGRID control.  Once this is switched over to data grids, perhaps we could replace the table with a nice "No instances found" message.

[2015-10-15 17:15] dclarizio commented on #4850
@abonas let me know if the UI team can assist creating quadrants for the containers, once it's determined what should be shown.

[2015-10-15 17:17] dclarizio commented on #4902
@Ladas I'm pretty sure you need to enter a Reason, but you are correct, there should be an error message.  @h-kataria ?

[2015-10-15 17:20] abonas commented on #4850
this item is pending design from @jonnyfiveiq
it is a low priority at the moment.

[2015-10-15 17:22] abonas commented on #4883
@jonnyfiveiq please add a screenshot to what you meant.
@dclarizio basically this is a field on provider summary screen where it says if the connection to the remote endpoint was successful. (next to the field saying when refresh happened)

[2015-10-15 17:31] h-kataria commented on #4902
@Ladas "submit" button does not get enabled until you enter test in Reason box. Are you pressing Approve button on the toolbar while you are on the form? I think issue here is that toolbar buttons on top should not be there after user presses Approve or Deny button and is on the form.

[2015-10-15 17:32] Ladas commented on #4902
@dclarizio aah, first I have to click approve, then the page refreshes. It looks like nothing has happened but reason became text field and submit button has emerged. So when I fill reason and hit submit, it approves the request.

[2015-10-15 17:33] Ladas commented on #4902
@h-kataria it does, I just didn't get it :-) Looked for me like nothing has changed. :-D Maybe flash message about filling reason and submitting would be nice. :-)

[2015-10-15 18:17] bdunne commented on #4859
1. Openstack allows you to choose a public network, don't they?
2. Sounds reasonable
3. We probably need an autoselect option for this field

[2015-10-15 19:00] mkanoor commented on #4838
@chessbyte @Ladas @h-kataria
The @record changes from MiqAeMethod to MiqAeClass, the inputs are only defined for MiqAeMethod instances and not for MiqAeMethod. @h-kataria is looking into why the @record variable is getting updated. Looks like a controller issue.

[2015-10-15 19:27] #4871 closed

[2015-10-15 19:31] h-kataria commented on #4838
@mkanoor @record is changed from MiqAeMethod to MiqAeClass after method copy is saved, to put user on the class node of newly copied method(s).

[2015-10-16 08:05] Ladas commented on #4859
@bdunne

1.) I though so originally, but after our testing, it will always look something like this
http://docs.openstack.org/icehouse/training-guides/content/figures/13/a/figures/image38.png

The subnets and router always have one gateway and VM port is always associated to one subnet. So when you assign VM to a private network, seems like there is max one possible path to one public network.

Th

[2015-10-16 13:50] #1249 closed

[2015-10-16 14:21] skateman commented on #1249
^^

[2015-10-16 16:27] Fryguy commented on #4772
Can you check this tool in?  perhaps in the tools directory?

[2015-10-16 16:27] Fryguy commented on #4772
If the tool is checked in we can probably run it as part of the test suite as well

[2015-10-16 18:53] #3717 closed

[2015-10-16 18:53] martinpovolny commented on #4772
@Fryguy : yes, will get to that

[2015-10-16 21:06] abellotti opened #4938 "Adding group gives "undefined method '+' for nil:NilClass [ops/rbac_group_edit]"
Running from top of tree, master, with rake db:migrate.

Was adding a new group in the UI, set the role and My Company tenant, got the following when clicking on Add.

Unexpected error encountered

Errors in Management Engine can be caused by:

① Accessing Management Engine from multiple tabs or windows of the same browser on a single machine. Close any duplicate browser sessions, then select a me

[2015-10-17 14:20] bdunne opened #4945 "What is deprecated in ServiceOrchestration?"
@bzwei https://github.com/ManageIQ/manageiq/blob/master/app/models/service_orchestration.rb#L38

What does this comment apply to?  I'm assuming it applies to the rest of the methods in the model, but I'm questioning it because that seems like a lot of things being deprecated.  Can you let me know if it is just the one method or everything else?

Thanks,
Brandon

[2015-10-18 08:40] abonas commented on #4893
@miq-bot assign @moolitayer

[2015-10-18 08:42] abonas opened #4946 "Routes, projects, images - missing link to nodes on the relationships section on left side (listnav)"
![missingnodesrelationships](https://cloud.githubusercontent.com/assets/6277245/10563293/3f1fc628-758d-11e5-9adf-1d2a89743636.png)

@miq-bot add_label bug, providers/containers

[2015-10-18 08:42] abonas commented on #4946
cc @moolitayer @simon3z
@miq-bot assign @moolitayer

[2015-10-18 08:56] abonas commented on #4850
@miq-bot remove @abonas

[2015-10-18 10:47] abonas commented on #4946
cc @avi3tal

[2015-10-18 10:47] abonas commented on #4893
cc @avi3tal

[2015-10-18 10:47] abonas commented on #4890
cc @avi3tal

[2015-10-18 10:49] abonas commented on #3842
@zeari please check if this issue can be closed or it's still not completely fixed. thanks!

[2015-10-18 11:50] abonas commented on #4827
cc @epacific1 @avi3tal

[2015-10-18 14:28] zeari commented on #3842
Just had a look and it seems fine across the containers area. This can be closed.

[2015-10-18 14:33] abonas opened #4950 "Clicking on link to nodes in UI from container images and projects summary page yields an exception"
similar to #4893

@miq-bot add_label bug, providers/containers, ui

@miq-bot assign @moolitayer
cc @simon3z

[2015-10-18 14:34] abonas commented on #4950
cc @avi3tal @epacific1

[2015-10-18 14:37] abonas commented on #3842
cc @epacific1 @avi3tal

closing issue. please reopen if reproduces again.

[2015-10-18 14:37] #3842 closed

[2015-10-18 14:37] abonas commented on #3842
@zeari  - thanks for the validation

[2015-10-19 09:05] romanblanco opened #4955 "Extra buttons rendered in retirement date setting"
While setting retirement date, extra buttons are remaining in tray from previous screen:

Steps to reproduce:

![screencapture-localhost-3000-vm_cloud-explorer-1445243946140](https://cloud.githubusercontent.com/assets/1187051/10573528/48fd0e80-7650-11e5-9fd8-16eba4e0b3af.png)

Clouds -> Instances -> select some instance -> Lifecycle -> Provision Instance
_(buttons `Continue` and `Cancel` are rende

[2015-10-19 13:27] #4832 closed

[2015-10-19 13:31] bzwei commented on #4945
@bdunne Only this method is deprecated. Before we had to store the `ems_ref` of the stack explicitly because the stack object has not yet created in VMDB. Now the object is created beforehand so the `ems_ref` is always available through orchestration stack object.

[2015-10-19 20:46] #4373 closed

[2015-10-19 20:47] epwinchell commented on #4017
@PanSpagetka @romanblanco Do you still see this issue on master after the DHTMLX layout removal PR? If so, which browser and OS?

[2015-10-19 22:11] #4295 closed

[2015-10-20 09:04] skateman commented on #4955
@miq-bot assign @epwinchell

[2015-10-20 09:13] PanSpagetka commented on #4017
@epwinchell  @skateman Actually its even worse. Fedora 22 and Firefox 39.0.3.
![firefox_screenshot_2015-10-20t08-56-15 611z](https://cloud.githubusercontent.com/assets/9535558/10602539/44fd93a8-7719-11e5-802f-e5556c01ec7c.png)
![firefox_screenshot_2015-10-20t08-56-34 125z](https://cloud.githubusercontent.com/assets/9535558/10602542/478171c6-7719-11e5-892d-ffd0f03d6049.png)
![firefox_screenshot_201

[2015-10-20 09:20] romanblanco commented on #4017
@epwinchell same on F22 & Chrome 41

[2015-10-20 09:42] romanblanco opened #4983 "LoadError in Chargeback -> Assignments"
![screencapture-localhost-3000-chargeback-explorer-1445333528964](https://cloud.githubusercontent.com/assets/1187051/10603624/5d778d16-771f-11e5-9476-5e8dab268be1.png)

After selecting `Selected Cloud/Infrastructure Provider` in Chargeback -> Assignments -> Compute, I'm getting:

    LoadError (No such file to load -- manageiq/providers/azure/cloud_manager/orchestration_stack_option_converter):

[2015-10-20 10:12] skateman commented on #4880
@miq-bot assign @epwinchell

[2015-10-20 13:38] djberg96 commented on #4983
Pinging @bzwei on this one.

[2015-10-20 13:41] Ladas commented on #4983
fixed by https://github.com/ManageIQ/manageiq/pull/4981

[2015-10-20 16:08] romanblanco commented on #3957
fixed by #4636

[2015-10-20 16:22] bdunne commented on #4945
Thanks @bzwei

[2015-10-20 18:26] #4772 closed

[2015-10-21 13:36] lgalis commented on #4938
@miq-bot assign @lgalis

will work on a fix

[2015-10-21 13:40] #4164 closed

[2015-10-21 13:40] #4017 closed

[2015-10-21 13:41] lgalis commented on #4483
Fixed by https://github.com/ManageIQ/manageiq/pull/4751

[2015-10-21 18:51] abonas commented on #4166
@rananda is this still reproducible? I didn't encounter this error.
cc @simon3z

[2015-10-21 20:33] abellotti commented on #4938
Problem was related to bad data in the MiqGroup table (missing sequence #), with those zapped, UI worked fine.

[2015-10-21 20:33] #4938 closed

[2015-10-21 20:47] abellotti commented on #4938
Source of bad records was that I was adding test groups via MiqGroup.create() which does not create the necessary sequence.  MigGroup.add() should be used instead for MiqGroup.

[2015-10-22 08:00] Ladas commented on #4859
@gmcculloug @bdunne doing more research about 1.)

Horizon indeed allows to associate any network, so does neutron. From our testing, we should probably not do that. Public network as we take it now is being router, with attribute router:external true. This one should never be attached to the VM directly.

Though, you can attach public network directly to VM, skipping the NAT of the router. But th

[2015-10-22 14:38] #4983 closed

[2015-10-22 18:25] #4945 closed

[2015-10-22 20:20] gmcculloug commented on #4630
Closing now that PR #4738 is merged.

[2015-10-22 20:20] #4630 closed

[2015-10-23 00:30] jonnyfiveiq commented on #4883
So the build I have does not have "Default Credentials"! When the UI review was done it was so with @abonas system, however my comment is... in screen shot...

<img width="1440" alt="untitled" src="https://cloud.githubusercontent.com/assets/2084157/10681824/6e212c0c-78fb-11e5-9d06-dc862b414a87.png">

we have the STATUS as follows

![image](https://cloud.githubusercontent.com/assets/2084157/1068182

[2015-10-23 07:06] abonas commented on #4883
@dclarizio @jonnyfiveiq you are talking about 2 different things :)
This issue is about Non container providers (infra, etc.) that have a field named "Default Credentials" that need a renaming.
@jonnyfiveiq screenshot refers to issue https://github.com/ManageIQ/manageiq/issues/4890 that has a missing field in container providers.

This is the relevant screenshot
![defaultcredentials](https://cloud

[2015-10-23 12:04] psav opened #5067 "Can't add new class"
After creating a domain and a namespace, the button to add a new class is absent from the Configuration menu.

[2015-10-23 12:04] lpichler opened #5068 "All Departments with Performance report generating returns error in log"
Reports -> Performance by Asset Type -> Virtual Machines -> All Departments with Performance
Press button "Queue"
After processing by worker report has status 'error'

# Snippet from evm.log
[code]

[2015-10-23 12:05] lpichler commented on #5068
@miq-bot assign @lpichler

[2015-10-23 12:18] mzazrivec commented on #4173
I can't reproduce this problem in current ManageIQ master.

Is this still an issue?

[2015-10-23 16:22] #4896 closed

[2015-10-23 20:20] #4667 closed

[2015-10-25 14:21] martinpovolny opened #5096 "i18n -- wrong usage of gettext"
@romanblanco : this seems to be your code ;-)

[code]
ping @mzazrivec

[2015-10-25 14:36] romanblanco commented on #5096
@martinpovolny how can I reproduce this bug?

[2015-10-25 15:14] abonas opened #5099 "Assuming "eth0" to extract network info on linux is incorrect"
This patch https://github.com/ManageIQ/manageiq/pull/4877 prevents miq to startup on several systems.

[This line](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_server/environment_management.rb#L53) assumes the interface is "eth0", but this is not correct in all cases, some systems might have a completely different interface name setup, so this yields an exception.