[2019-03-08 00:58] sckhg1367 commented on #18510
YES,
i have bundle exec rake evm:start success,
and ENV is run in background
but can not  to access http://IP:3000, to use manageIQ

if source code should download mangqiq and ui two repeo.

or just manageiq  one repo source code.

[2019-03-08 01:06] agrare commented on #18510
To start I'd stick with just the main ManageIQ repo and not override any repos.

You ran bin/update to compile the UI assets?  Do you see any errors in the development.log? How about in the browser? Is it saying connection refused or something else

[2019-03-08 02:21] sckhg1367 commented on #18510
HI
bin/update still error.

Using manageiq-providers-lenovo 0.2.0 from https://github.com/ManageIQ/manageiq-providers-lenovo (at hammer-1@04f1a
18)
Using manageiq-providers-ovirt 0.1.0 from https://github.com/ManageIQ/manageiq-providers-ovirt (at hammer-1@fe67891
)
Using manageiq-providers-kubernetes 0.1.0 from https://github.com/ManageIQ/manageiq-providers-kubernetes (at hammer
-1@ed8933c)
Using

[2019-03-08 02:26] agrare commented on #18510
Try the same commands but from the main manageiq repo, not ui-classic

[2019-03-08 02:30] sckhg1367 commented on #18510
just in main manageiq will  exec rake evm:start success,
and ENV is run in background.

but also can not access 3000 port .

[2019-03-08 02:38] agrare commented on #18510
Try stopping the full system (rake evm:kill) and running just bundle exec rails s
That tends to show you better errors in the main terminal.  Also any errors in any of the logs?

[2019-03-08 02:39] sckhg1367 commented on #18520
YES,
1.we want to change the ui style and ux more suitable to user use(Framwork). support hardware management UI.
2. and want to support redfish function(based hardware management include server, switch, storage ex: JGX MFX ). also can coontorll Physical machine(server).

3. Bare Metal provisioning Tools.(openstack , ceph, resource Scaling)

4.NFVI monitoring.

5. ceph  monitoring  management

6.V

[2019-03-08 03:01] sckhg1367 commented on #18510
== Installing dependencies ==
There was an error while trying to write to `/var/www/miq/vmdb/.bundle/config`. It is likely that you need to grant write permissions for that path.
== Command ["bundle update --jobs=3"] failed in /home/manageiqgrafana/manageIQ/manageiq ==

manageiqgrafana@manageiq manageiq]$ bundle exec rails s
/usr/local/lib/ruby/2.4.0/logger.rb:744:in `initialize': Permission denie

[2019-03-08 03:25] sckhg1367 commented on #18510
anageiq  manageiq-ui-classic
[root@manageiq manageIQ]# cd manageiq
[root@manageiq manageiq]# rake evm:kill
** ManageIQ master, codename: Ivanchuk
Killing EVM...
[root@manageiq manageiq]#

        from /usr/local/lib/ruby/gems/2.4.0/gems/railties-5.0.7.1/lib/rails/initializable.rb:30:in `run'
        from /usr/local/lib/ruby/gems/2.4.0/gems/railties-5.0.7.1/lib/rails/initializable.rb:55:in `block i

[2019-03-08 14:29] agrare commented on #18510
@sckhg1367 i don't actually see the exception there in your backtrace

`curl -k GET -X icurl -k --user admin:smartvm -i X GET -H "Accept: application/json" http://34.80.24.89:8443/api/`
Why are you trying to hit `:8443`?

Can you just run `bundle exec rails s`, wait for it to seed (you can see the evm.log for that), and hit `:3000` and post the error that you get?

[2019-03-08 15:12] agrare commented on #18520
Okay check out the https://github.com/ManageIQ/manageiq-providers-redfish repo

[2019-03-11 03:14] sckhg1367 commented on #18510
n <class:LogProxy>]
[----] E, [2019-03-10T23:11:53.175974 #30932:c42f5c] ERROR -- : /usr/local/lib/ruby/gems/2.4.0/bundler/gems/manageiq-gems-pending-71d6e5aabd0b/lib/gems/pending/util

[2019-03-11 05:35] sckhg1367 commented on #18520
Using manageiq-ui-classic 0.1.0 from https://github.com/ManageIQ/manageiq-ui-classic (at hammer-1@a6c9b41)
Bundle updated!
Gems in the groups qpid, test, metric_fu and development were not installed.
Copying /home/manageiqgrafana/manageIQ/manageiq-providers-redfish/spec/manageiq/certs/v2_key from template...
Copying /home/manageiqgrafana/manageIQ/manageiq-providers-redfish/spec/manageiq/config/cab

[2019-03-11 05:45] sckhg1367 commented on #18510
bin/update
will get same error message

[2019-03-11 05:45] sckhg1367 commented on #18520
bin/update
will get same error message

[2019-03-11 05:59] sckhg1367 commented on #18510
is the question is timeout?
https://github.com/mozilla/ssh_scan/issues/415

-------------------------------------------------------

/home/manageiqgrafana/manageIQ/manageiq/lib/evm_database.rb:93:in `each'
/home/manageiqgrafana/manageIQ/manageiq/lib/evm_database.rb:93:in `block (2 levels) in seed_classes'
/home/manageiqgrafana/manageIQ/manageiq/lib/extensions/ar_table_lock.rb:21:in `block (2 level

[2019-03-11 17:40] mzazrivec commented on #14924
@abellotti @gtanzillo would the API repository be a better place for this issue?

[2019-03-12 14:55] #13200 closed

[2019-03-12 14:55] #16052 closed

[2019-03-12 15:38] ahrechushkin commented on #18458
Have the same problem in gaprindashvilli-5 and Ovirt 4.2.7.4 and RHV 4.1.10.3.
table guest_devices have 1961478 and ~ 400000 rows
need fix asap

[2019-03-13 18:05] Fryguy commented on #18499
@gtanzillo ?

[2019-03-13 18:52] gtanzillo commented on #18499
@ThomasBuchinger If adding those classes is working fine for it would be great if you could push that up in a PR with some examples of how you're using it and we can take a look at it.

[2019-03-14 05:41] #18510 closed

[2019-03-14 05:41] #18519 closed

[2019-03-14 09:34] ThomasBuchinger commented on #18499
@gtanzillo
The only classes I need at the moment are GenericObjects. The others are just looks-like-they-would-be-nice-to-have 😃

However I noticed that not all classes work, mostnotablyy EventStreams, *Request and *Task (e.g. ServiceTemplateProvision, Automation) and I could not figure out why it fails. These classes raise a "No Method 'root' for true-class"-error.
The errors I am getting seem to

[2019-03-14 10:23] terezanovotna commented on #18460
How about we disable the parent button and then show all the "why it cannot be completed messages" on hover? Basically squashing the tooltips into one parent location.

[2019-03-14 13:12] lpichler opened #18553 "In Service: select Tenants where the service will be available"
this is for tracking PRs for https://bugzilla.redhat.com/show_bug.cgi?id=1678123

- [x] migration with join table https://github.com/ManageIQ/manageiq-schema/pull/349
- [x] changes on model  https://github.com/ManageIQ/manageiq/pull/18554
- [x] RBAC changes https://github.com/ManageIQ/manageiq/pull/18554
- [x] UI changes https://github.com/ManageIQ/manageiq-ui-classic/pull/5445
- [x] Testing as wh

[2019-03-14 14:35] #18482 closed

[2019-03-14 14:35] #18520 closed

[2019-03-14 21:55] easyljy opened #18558 "duplicated service retirement request"
ManageIQ version: hammer-2

We saw duplicated service retirement requests, only one of them gets success, and other failed due to the service already in retiring status.

Root cause: we have 3 zones in one region, the retirement_check is raised based on zones. So it gets 3 times to check retirement on same service.
[code]
See some logs and screenshot
[code]
![image](https://user-images.githubuserc

[2019-03-15 01:47] sckhg1367 opened #18559 "CI Test failed"
Failures:

  1) MiqRegionRemote.with_remote_connection removes the temporary connection pool
     Failure/Error: conn = pool.connection

     PG::ConnectionBad:
       fe_sendauth: no password supplied
     # ./config/initializers/postgres_required_versions.rb:3:in `initialize'
     # ./app/models/miq_region_remote.rb:102:in `with_remote_connection'
     # ./spec/models/miq_region_remote_spec.rb:2

[2019-03-15 03:15] sckhg1367 commented on #18559
I use manageiq hammer-3 source code to ci test.
bin/update success.
will see application at port 3000 in web.

why ci will failed

[2019-03-15 08:43] sckhg1367 commented on #18559
Finished in 14 minutes 40 seconds (files took 19.93 seconds to load)
5480 examples, 7 failures, 16 pending

Failed examples:

rspec ./spec/models/miq_region_remote_spec.rb:16 # MiqRegionRemote.with_remote_connection removes the temporary connection pool
rspec ./spec/lib/vmdb/plugins_spec.rb:180 # Vmdb::Plugins.version (private) path based, with git, on a branch
rspec ./spec/lib/vmdb/plugins_spec.r

[2019-03-15 12:26] agrare commented on #18559
@sckhg1367 did you follow the developer_setup?  It looks like you didn't setup the db user correctly.

[2019-03-19 09:06] skateman opened #18568 "API support for retrieving supported provider types"
To have fully API-driven forms for adding providers, we need a way to retrieve a list of possible provider classes to add grouped by the provider type (infra, cloud, physical infra, etc). I suppose the best location to have this is the `OPTIONS /api/providers` endpoint.

I was trying to play with the `Api::ProvidersController#options` method, but there's no easy way to retrieve the right informati

[2019-03-19 09:07] Hyperkid123 commented on #18568
This is exactly what I need.

[2019-03-19 13:53] skateman commented on #18460
@miq-bot close_issue

[2019-03-19 13:54] #18460 closed

[2019-03-20 03:38] sinu opened #18575 "load balancers are not listing"
I have integrated with openstack but i am unable to add or retrieve loadblancers from ui, any idea?

[2019-03-20 15:13] kbrock commented on #14924
Think https://github.com/ManageIQ/manageiq/pull/18532 from @lpichler is handling this

[2019-03-21 12:41] agrare commented on #17752
Reopening this as it is still related to https://github.com/ManageIQ/manageiq-schema/pull/328

[2019-03-22 03:27] sckhg1367 opened #18580 "API question with token time and username 'ser'"
1.http://manageiq.org/docs/reference/latest/api/overview/auth
**Configuring the REST API Token Duration:**
    A.default:api: → token_ttl: 10.minutes, can setup to 24hrs (what is this Upper limit of
        parameters)
    B.what is ui:1 hour mean.

2.why use admin:smartvm  to get api .
will  show Enter host password for user 'ser':

[root@compute manageIQ]# curl -user admin:smartvm -k -X POST htt

[2019-03-22 05:43] sinu opened #18581 "Openstack LBAAS"
can we create open stack loadbalancers from manage iq?

[2019-03-22 07:49] sckhg1367 opened #18582 "MIQ Redfish API version"
someone know what version is MIQ redfish API version

[2019-03-22 18:11] kbrock commented on #17993
@d-m-u is this all set?

[2019-03-22 18:13] #17993 closed

[2019-03-22 18:20] d-m-u commented on #17993
For anyone looking at this in the future it was fixed in https://github.com/ManageIQ/manageiq/pull/17996 or thereabouts.

[2019-03-22 21:20] bwoolf1122 opened #18586 "storage_file_collection_time_utc not honored, instead midnight is default"
Currently the `storage_file_collection_time_utc` setting is not honored, instead the seconds setting is disregarded and its just sets the time to midnight utc.

Default Setting:
[code]

Current operation of adding the seconds to the current date being disregarded:
[code]

Suggested changes to support adding the defined seconds to the beginning of the current day:
[code]

This was the simplest chan

[2019-03-26 03:10] #18580 closed

[2019-03-27 16:05] #18582 closed

[2019-03-27 16:06] #18559 closed

[2019-03-27 16:16] sckhg1367 opened #18602 "hammer-3 ruby version must 2.4.0+"
i git clone the latest hammer-3
and run bin/update
get error message with ruby version must 2.4.0+

the earlier version (hammer-3)
run with ruby 2.3.1 is okey

i just want to share this information.
not a issue
thanks.

[2019-03-27 17:03] fdupont-redhat opened #18603 "ServiceTemplateTransformationPlanRequest fails with explicit resource type"
When starting a migration it fails as the request is denied. And the request is denied because no conversion host is associated to the destination  ext_management_system. Below is an example of the failing relationship:

[code]

Actually, the conversion_hosts table contains `ManageIQ::Providers::Openstack::CloudManager::Vm` for the resource type of the existing conversion host.

The impact is that

[2019-03-27 17:04] fdupont-redhat commented on #18603
@miq-bot assign @djberg96

[2019-03-27 17:55] djberg96 commented on #18603
A simple way to reproduce this is to add a Redhat Infra provider. Then create a ConversionHost object  on the console like so:

[code]

Now, if you look at the `resource_type` on the conversion host object, you will see that it's set to "Host". Consequently, this will work fine:

`conversion_host.ext_management_system.conversion_hosts`

However, in the REST API, we explicitly use the STI subtype,

[2019-03-28 05:42] #18602 closed

[2019-03-28 13:09] djberg96 commented on #18603
Actually, this almost looks like two issues. Besides not dealing with the resource type, it doesn't even appear to join the hosts table in the underlying SQL.

[2019-03-28 14:47] djberg96 commented on #18603
One possible solution would be to drop the railsy association, and use custom sql:

[code]

[2019-03-28 16:26] djberg96 commented on #18603
@fdupont-redhat It looks like we're supposed to ultimately preserve the base type. Look at https://github.com/ManageIQ/manageiq/blob/master/app/models/conversion_host/configurations.rb#L32-L40.

Try changing `params[:resource_type] = resource.class.name` to `params[:resource_type] = resource.class.base_class.name`

[2019-03-28 18:11] nikobo opened #18605 "Embedded ansible Awx is broken with latest docker image"
Hello Team,

Since latest build of awx on docker, integration is broken with MIQ.

It seems to be related to this commit : https://github.com/ansible/awx/commit/2b6cf971573185a46950c5a8fa3f9de14ede38ae#diff-0733e8e96294f6558655f0208e6d1d65

Container Logs report the following :

2019-03-28 18:08:52,734 INFO success: daphne entered RUNNING state, process has stayed up for > than 1 seconds (startsec

[2019-03-28 19:56] jawatts opened #18606 "Upstream nightly failing for CFME QE: Cannot start postgresql.service due to emtpy cert"
CFME QE automation is failing to configure an upstream appliance from the lastest upstream build:

http://file.cloudforms.lab.eng.rdu2.redhat.com/builds/manageiq/master/20190327_2000/

Following is seen when postsql.service is started:
[code]

Was testing on rhev using: http://file.cloudforms.lab.eng.rdu2.redhat.com/builds/manageiq/master/20190327_2000/manageiq-ovirt-master-201903272000-d46c321f35

[2019-03-29 00:44] #18603 closed

[2019-03-29 13:32] carbonin commented on #18606
@jawatts I just deployed that exact image and had no problem with postgresql starting.

Can you share the output of `journalctl -u appliance-initialize` and the appliance_console.log?

[2019-03-29 13:47] jawatts commented on #18606
journalctl -u appliance-initialize:

[code]
appliance_console.log:
[code]

[2019-03-29 13:56] carbonin commented on #18606
It looks like something interrupted the initial processing. What kind of automation are you running to deploy the appliance? For example, this is what I get for those commands:

[code]

[code]

That backtrace is an issue that we've known about for a while and can't seem to track down. At this point I was able to start `evmserverd` and everything was fine.

[2019-03-29 14:14] mshriver commented on #18606
@carbonin Thanks for the engagement here Nick - wanted to chime in, as we are taking the raw image, uploading it to rhv, adding nics and a disk, and then marking that VM as a template. Its possible that appliance-initialize is started when the VM starts, and then gets cut off when shut down to mark as template.

Sorry for my lack of knowledge here, but is this a process that occurs on the downstre

[2019-03-29 14:18] carbonin commented on #18606
Ah, okay, I understand now. The upstream and downstream images are different in this regard.

The upstream image ships with a logical volume already set up for postgres and contains a service (`appliance-initialize`) which will set up the database and start evmserverd on first boot.

It seems likely that you're getting a bit of the way through that process before creating the template which could

[2019-03-29 14:21] carbonin commented on #18606
You could incorporate something like https://gist.github.com/carbonin/a25b84efca2e6b3c3f91b673821a22c8 into the automation for upstream appliances.

That will get you to a point where the appliance looks similar enough to the downstream image.

You may also want to unmount `/var/lib/pgsql` if you're going to add and configure an external device.

[2019-03-29 14:24] jawatts commented on #18606
Thanks Nick, I will look into updating our upstream template creation process.

[2019-04-03 12:16] d-m-u opened #18618 "retirement_warn datatype set from dialog in service retirement isn't what we're testing"
Since https://github.com/ManageIQ/manageiq/pull/16799 we've been able to set the retirement_warn field of a service from one of the dialog fields (with appropriate name). The issue is that retirement_warn is a bigint. Previous to 16799 this was fine, because the only values the UI allowed you to set retirement_warn were in number of days. But 16799 increased the granularity of the retirement time

[2019-04-03 12:17] d-m-u commented on #18618
@eclarizio I was wondering if you could take a look at this and tell me your thoughts please.
@tinaafitz boo.

[2019-04-04 07:05] eclarizio commented on #18618
Do we have any other precedent for storing some kind of time based field as an int of "number of hours away" or "number of days" away from another time? I feel like the simplest solution (though probably the most difficult to push through depending on where we are in the cycle and/or what version needs it backported) would be the schema change.

[2019-04-04 12:27] d-m-u commented on #18618
@gmcculloug

[2019-04-04 14:37] jrafanie commented on #18618
Wow, this stinks.  We definitely need to have retirement_warn be a datetime on master and have all the code expect this to be datetime.  For backport, we can't change the column on h/g/f so I can only think of one way:

On h/g/f:
* override retirement_warn= to accept a datetime and convert/persist as a bigint based on the retirement date.
* override retirement_warn to read the bigint in the db and

[2019-04-04 14:52] d-m-u commented on #18618
retirement_warn is also an int on vms and orch_stacks

[2019-04-04 15:01] jrafanie commented on #18618
😢😢😢 😭  😭  😭

🏃 🏃 🏃 🏃 🏃 🏃   💣

[2019-04-04 15:02] d-m-u commented on #18618
and load balancers.

[2019-04-04 15:54] tinaafitz commented on #18618
@d-m-u @jrafanie @gmcculloug Retirement_warn has always been used for the number of days relative to the retirement date. I would hate to change the behavior without checking with the field since they're likely using it in retirement emails.  I'm going to ask Peter about it.

[2019-04-05 08:07] pemcg commented on #18618
Up to now we've always defined the retirement dates as a retirement _date_ and a number of _days_ warning or extension. This fits in with the API description: http://manageiq.org/docs/reference/fine/api/reference/services#service-retiring-future
and the formal and informal docs, e.g. http://talk.manageiq.org/t/define-time-until-retirement/1926 & https://cloudformsblog.redhat.com/2016/09/20/notify-

[2019-04-05 09:50] TheYkk opened #18632 "Ui js files have very big size"
![image](https://user-images.githubusercontent.com/21688838/55619400-41fd9600-57a1-11e9-966b-d1352314c2a0.png)

i install with this `docker run -d -p 8443:443 manageiq/manageiq:hammer-4`

[2019-04-05 12:56] tinaafitz commented on #18618
Thanks @pemcg, I agree that we should leave the retirement_warn as the number of days.
@gmcculloug Are you okay with this?

[2019-04-05 13:52] jrafanie commented on #18618
What about the issue of storing hours in this field?  I'm not sure of the details but I read it was we were storing either days or hours.

[2019-04-05 13:59] jrafanie commented on #18618
If we store only days, it's fine but we can't store both hours and days without it being really confusing.

If we need both ways, storing hours makes sense since you can easily convert days to hours.

[2019-04-05 14:00] tinaafitz commented on #18618
@jrafanie I think a recent code change might be optionally calculating based on hours, but I think we need to change the code back to days. I'm checking with @gmcculloug to make sure he's okay with that.

[2019-04-08 08:50] sckhg1367 opened #18635 "CI bin/rake test:vmdb:setup can not run"
Hi guys,
i want to run ci with hammer-3

step like below:
export TRAVIS_BUILD_DIR="/var/www/miq/vmdb";
export encrypted_1b33a383f1f7_key=[secure];
export encrypted_1b33a383f1f7_iv=[secure];
export RUBY_GC_HEAP_GROWTH_MAX_SLOTS=300000;
export RUBY_GC_HEAP_INIT_SLOTS=600000;
export RUBY_GC_HEAP_GROWTH_FACTOR=1.25;
export PARALLEL_TEST_PROCESSORS=2;
export TEST_SUITE=vmdb;
export PARALLEL=true;

expo

[2019-04-09 03:25] sckhg1367 opened #18639 "manageiq log folder and dirty git"

[2019-04-09 03:43] sckhg1367 commented on #18639
Setting up locate (4.6.0+git+20160126-2) ...
root@test:/home/ubuntu/manageiq# bundle exec rake
rake aborted!
Errno::ENOENT: No such file or directory @ rb_sysopen - /home/ubuntu/manageiq/log/audit.log
/home/ubuntu/manageiq/vendor/bundle/ruby/2.3.0/bundler/gems/manageiq-gems-pending-71d6e5aabd0b/lib/gems/pending/util/vmdb-logger.rb:11:in `initialize'
/home/ubuntu/manageiq/lib/vmdb/loggers.rb:46:in

[2019-04-09 11:43] #18635 closed

[2019-04-11 07:40] SabrineHechmi commented on #17738
@carbonin
I have the same issue with Hammer 3, a loop starting  EmbeddedAnsibleWorker.
Any info, workaround on this issue please?

Thanks in advance for the help
[root@manageiq-standalone log]# tail -f log/evm.log | grep -i "EmbeddedAnsible"

[----] I, [2019-04-11T09:14:04.068399 #7030:47eb388]  INFO -- : MIQ(DockerEmbeddedAnsible#start) Waiting for Ansible container to respond
[----] I, [2019-04-

[2019-04-11 10:00] nikobo commented on #17738
@SabrineHechmi
Look here : https://github.com/ManageIQ/manageiq/issues/18605

[2019-04-11 12:01] tjyang commented on #18605
I confirmed this issue from a fresh hammer-4 MIQ vmware appliance.

[code]
* containers looks fine.
[code]

[2019-04-11 14:49] agrare commented on #18639
I'm guessing that you did a `git clean -fdx` or some equivalent?

Yeah it looks like we don't have a `log/.keep` file which would be a nice addition, you want to put in a pull request to add this?

[2019-04-12 19:23] aabeigh opened #18655 "Embedded Ansible hammer-2"
I can enable embedded role in the configuration and the containers do start. as shown below. However they seem to restart.
![image](https://user-images.githubusercontent.com/18381653/56060888-f7ab8480-5d5f-11e9-8ded-e70ff9da0ebb.png)

however i get following messages in the logs
![image](https://user-images.githubusercontent.com/18381653/56060968-27f32300-5d60-11e9-8df3-da0eeea62b50.png)

Also i a

[2019-04-18 08:20] skateman commented on #18568
@agrare ping?

[2019-04-18 18:24] agrare commented on #18568
@skateman you're right sorry I've neglected this.

I'm thinking something like this:

[code]

Can you do a sanity check on if anything is missing or shouldn't be there?

[2019-04-19 06:05] skateman commented on #18568
@agrare I don't think we can add the `Foreman::ProvisioningManager`, but maybe I'm wrong.

[2019-04-22 13:53] agrare commented on #18568
Thanks @skateman we can override both of those, I think foreman belongs to a provider instead of parent manager (lack of consistency is so much fun).

[2019-04-22 14:02] d-m-u commented on #18618
Fixed by 18637, see previous.
The original PR got backported to fine, will deal with that in a minute.

[2019-04-22 14:02] #18618 closed

[2019-04-23 08:23] skateman commented on #18568
@agrare great, let me know when it is consistent so I can review :wink:

[2019-04-23 18:36] #18568 closed

[2019-04-23 18:51] agrare commented on #18568
Okay @skateman now that  is merged, after https://github.com/ManageIQ/manageiq/pull/18677 and https://github.com/ManageIQ/manageiq-providers-foreman/pull/36 I get the following:

[code]

[2019-04-24 01:32] NickLaMuro opened #18680 "Remove "HACK" MissingFactoryHelper"
`Spec::Support::MissingFactoryHelper` was added as a stop gap in https://github.com/ManageIQ/manageiq/pull/16768 for factories that were deleted as part of that PR.

~~I "have it under good authority" (been looking at some `stackprof` generated flamegraphs) that there is a decent amount of time spent in `MissingFactoryHelper`, and removing that would probably have some performance improvements on

[2019-04-24 06:39] sckhg1367 opened #18681 "run hammer-5 with error"
HI i bin/setup and bundle exec rake evm:start with hammer-5

Error parsing classes in /manageiq/app/models/service_template_generic.rb:
KeyError: key not found: s(:@period, ".", s(6, 61))

[----] E, [2019-04-24T06:30:55.521973 #15859:2abb136a9958] ERROR -- : [KeyError]: key not found: s(:@period, ".", s(6, 61)) Method:[block (2 levels) in <class:LogProxy>]
[----] E, [2019-04-24T06:30:55.522087 #15

[2019-04-24 12:20] skateman commented on #18568
@agrare awesome, thanks!

[2019-04-25 00:46] #18681 closed

[2019-04-25 11:18] agrare commented on #18639
@sckhg1367 did you put a PR in?

[2019-04-29 15:28] nORKy54 opened #18700 "NSX-T Segment not visible"
I have a VCenter compute provider working with NSX-T. ManageIQ doesn't see 'portgroups' (NSX-T segments). I think it can be cool to just had this feature. Not to add all the NSX-T provider supports.

If I see my segments in VCenter, perhaps ManageIQ can see it too ?

[2019-04-29 19:44] djberg96 opened #18703 "Two bogus specs for ServiceTemplateAnsiblePlaybook"
If you enable partial double verification in the rspec configuration, it will reveal these two failures, which I've partially snipped for brevity:

[code]
The issue is that you're testing against singleton methods that don't exist. Those are instance methods.

This raises the question on whether or not `create_new_dialog` and `delete_in_provider_queue` are supposed to be a singleton methods, or if

[2019-04-30 09:33] nORKy54 commented on #18700
I created an issue in the vmware provider. I think it's a better place :)

[2019-04-30 09:33] #18700 closed

[2019-04-30 13:50] djberg96 commented on #18703
@syncrou git blame says this is you. :)

[2019-04-30 14:51] nORKy54 commented on #18605
Same problem with hammer-5.20190424144425_1d4816f. SECRET_KEY not found

[2019-05-02 02:41] sckhg1367 opened #18717 "generate provider with a PhysicalInfra Manager"
do you know how to generate provider with a PhysicalInfra Manager Architecture,
like cloud manager to create related folders and files
http://manageiq.org/docs/guides/providers/generator/generator

[2019-05-02 09:19] nORKy54 opened #18718 "VMRC not available in Self Service"
Why VMRC  is not available in Self Service ?

[2019-05-03 14:59] #18703 closed

[2019-05-04 14:17] tjyang opened #18725 "hammer-5.1, embeded ansible issue:The container name "/rabbitmq" is already in use by container"
* Summary of miq test machine.
[code]
* hammer-5.1 info
[code]
* error after enabling embedded ansible.

[code]

[2019-05-06 09:06] lpichler opened #18734 "As a Tenant Admin, I want to see in a tenant what are the object related to it: Services, Automate Domain and Providers directly and indirectly"
this is just tracking issue for this [BZ](https://bugzilla.redhat.com/show_bug.cgi?id=1678124)

- [x] service template scope - https://github.com/ManageIQ/manageiq/pull/18733

- [x] Automate Domain - https://github.com/ManageIQ/manageiq-automation_engine/pull/318

- [x] Providers - https://github.com/ManageIQ/manageiq/pull/18735

- [x] UI part

[2019-05-08 02:02] #18717 closed

[2019-05-14 14:37] Fryguy commented on #18605
@carbonin ?

[2019-05-14 14:38] Fryguy commented on #18605
@carbonin I wonder if we should just hardcode this value, particularly for hammer.

[2019-05-14 14:40] Fryguy commented on #18639
We intentionally don't have the .keep file. If I recall it's because on the appliance we replace the log directory with a mount point, to allow bigger disks.  If the .keep file is there, then the git instance on the appliance is in an always-dirty state.

[2019-05-14 14:41] carbonin commented on #18605
Yeah, I think that's a safe change. Maybe make that to master and we can curate upgrades of the image a bit more closely.

[2019-05-14 14:42] Fryguy commented on #18639
See https://github.com/ManageIQ/manageiq/pull/17663

[2019-05-14 15:14] Fryguy commented on #18717
I updated the docs [1], but it still generates a cloud provider...it's on my future TODO list to have it generate different kinds of providers, but that will be a future thing.

[1] https://github.com/ManageIQ/guides/pull/352

[2019-05-14 15:14] Fryguy commented on #18503
@simaishi Are you seeing this as well? I thought you looked at this as part of smoke testing.

[2019-05-14 15:46] Fryguy commented on #18639
Reopening @agrare

[2019-05-14 15:47] Fryguy commented on #18639
It seems that the rationale for having a clean git history was broken by https://github.com/ManageIQ/manageiq-appliance-build/commit/3fb352885f3b5c3d96adbc4173d237adeab0353c#diff-59d2b58eb2d092c0658886c3db5af71dR17 , and we should just fix the clean git history on the appliance

cc @kbrock

[2019-05-15 10:23] nORKy54 commented on #18605
do you think is it possible to have more advanced configuration option in manageiq UI ? For example, to set docker image for "pré-installed/running" 4.0 version of awx ? Or because I have my personnalized AWX images with pwsh and some others ansible plugins installed.

[2019-05-15 13:10] carbonin commented on #18605
@nORKy54 All of the images and tags are fully configurable in the advanced settings screen. The defaults can be seen here https://github.com/ManageIQ/manageiq/blob/master/config/settings.yml#L135-L143

[2019-05-15 15:05] fdupont-redhat opened #18766 "[RFE] Allow setting the CA certificate for OpenStack provider"
When configuring an OpenStack provider with SSL security protocol, the user cannot provide the CA certificate chain that validates the endpoint. The only way today is to configure the CA certificate chain system wide on all CloudForms appliances that interact with the provider. This can be quite painful and is not user-friendly.

The oVirt/RHV provider provides this capability and it would be grea

[2019-05-15 18:34] #18503 closed

[2019-05-15 18:39] #18586 closed

[2019-05-21 04:57] sckhg1367 commented on #18717
Hi @Fryguy,
i want to creat a PhysicalInfra provider like redfish provider to controle and  manage my server.
but i dont know how to begin.

[2019-05-28 07:59] #17489 closed

[2019-05-28 16:03] Fryguy commented on #18718
@skateman Can you answer this one?

[2019-05-28 16:04] Fryguy commented on #18680
cc @bdunne

[2019-05-28 16:06] Fryguy commented on #18680
I see your PRs are replacing FactoryBot with regular AR creates, which to me implies it's not the MissingFactoryHelper, but instead FactoryBot that you are finding a performance issues with.  It feels overkill to completely overhaul the existing calls, if we can possibly find a win with the MissingFactoryHelper.  But I'd need to understand more deeply the performance issue.

[2019-05-28 19:09] skateman commented on #18718
I surely can, we don't really have API support for that. I'm planning to do a rework on the console support in general, but it requires some [backend adjustments](https://github.com/ManageIQ/manageiq-providers-vmware/issues/392) first. However, the VMRC support might be doable even without them. @nORKy54 would you please open an issue for this in the [SUI repo](https://github.com/ManageIQ/manageiq

[2019-05-29 11:55] skateman opened #18818 "API driven, pluggable, provider creation and validation"
The API doesn't provide any kind of credential validation when adding provider, while the UI implements this feature. Therefore, it is possible to add a provider with invalid credentials through the API and we have no endpoint even to check if these credentials are correct.

There's a [method](https://github.com/ManageIQ/manageiq/blob/5e5ef0fecdff278acbdf50f129314486466e1672/app/models/mixins/auth

[2019-05-29 12:19] martinpovolny commented on #18818
Ping @dmetzger57 , @abellotti , @agrare .

Guys, this is an API feature request that is past what the UI team members so far did on the API. We need someone from the API team to implement this. Or at least provider some instructions on how this is to be done in the API so that it will get merged.

Can we get such help, please?

[2019-05-29 12:23] dmetzger57 commented on #18818
As this is an API request, I look to @gtanzillo and @abellotti to assess when (I didn't say "if" :las) we can help

[2019-05-29 12:25] skateman commented on #18818
I kinda started working on the API support but ran into the obstacles I've described above. I would be able to implement this thing in the API with some copy-paste engineering from the UI, but I don't think anyone would merge such :spaghetti:

My idea was to utilize the `AuthenticationMixin.validate_credentials_task` method in a `/api/providers/validate` endpoint that would return us a task ID. We

[2019-05-29 14:02] agrare commented on #18818
Yeah I never liked that this used `raw_connect` because the parameters are different for every provider.  Would rather we design on a common `ems.connect()` interface that can be used generically.

[2019-05-29 15:26] Fryguy commented on #18818
Related to https://github.com/ManageIQ/manageiq-api/issues/585 ?

[2019-05-29 15:37] Fryguy commented on #18818
I personally think this is extremely important for a solid API experience and greater pluggability on the UI side.

[2019-05-29 15:37] Fryguy commented on #18818
`raw_connect` was *supposed* to be the common interface, but then as new providers came on board, the pattern wasn't followed.

[2019-05-29 15:37] agrare commented on #18818
:+1: Yeah agreed

[2019-05-29 15:38] agrare commented on #18818
Oh really?  Usually all the `raw_` methods are the provider specific version of the common interface
I don't think _any_ of the raw_connect methods have the same parameters but I'll have to check

[2019-05-29 15:39] Fryguy commented on #18818
Amazon introduced the "service" name, and at the time, if I recall, we added an `options` parameter to deal with provider specifics...then it got refactored...and then I have no idea what happened 😆

[2019-05-29 15:43] agrare commented on #18818
Haha okay, well here is what we've got to work with:

[code]

So some of them take just an options hash but the vast majority take whatever they need for that provider

[2019-05-29 16:01] Fryguy commented on #18818
@agrare Ok, let's design a consistent interface at the model level somehow and then we can expose that via the `/api/providers/validate` that @skateman is proposing.  We can take inspiration on how to design that form the if-else constructs at the UI level (since that's basically everything we'll need to do anyway)

[2019-06-06 15:23] kbrock commented on #18639
@Fryguy Git does not track directories, it only tracks files. so if there are not files under `log/` checked into git then git should not be aware of `log`.

Why would a symbolic link cause a stale git state?

[2019-06-06 15:24] agrare commented on #18639
@kbrock because a symlink is a file

[2019-06-06 15:26] kbrock commented on #18639
@agrare ok, so git knows the file is there, but it is not tracking it. so you can stash pop, checkout a different branch and you don't have to deal with a deleted file `log/.keep`

[2019-06-09 21:19] magick93 commented on #17984
Hi @JPrause - yes this is a UI bug.

[2019-06-10 17:16] JPrause commented on #7990
Reviewed

[2019-06-13 19:46] ghost opened #18865 "Fix "query in loop" in InfraConversionThrottler"
When implementing https://github.com/ManageIQ/manageiq/pull/18860, @Fryguy noticed that https://github.com/ManageIQ/manageiq/blob/master/lib/infra_conversion_throttler.rb#L4 _feels like a terrible N+1 (query in a loop is bad)_.

This issue track the effort to get rid of this bad thing.

[2019-06-13 19:47] Fryguy commented on #18865
That entire method is N+1s nested in other N+1s.  You have an outer loop which has multiple inner loops and those inner loops have more loops inside there, with individualized queries inside.  I recommend doing a complete performance check on it.

cc @kbrock

[2019-06-13 19:48] fdupont-redhat commented on #18865
@miq-bot assign @djberg96

[2019-06-18 11:05] akhil-g opened #18885 "Data for a deleted provider is still being displayed on dashboard"
We have added Vmware infrastructure (Vcenter) provider to ManageIQ, done some operations for a couple of days and deleted the provider. When deleted the Provider from the inventory, It shows a popup message as:
"Delete initiated for 1 Infrastructure Provider from ManageIQ Database".
Later the provider is removed from the Inventory & VMDB Database, as a purge process is initiated and deleted from t

[2019-06-21 20:06] kbrock commented on #18865
I had tried with https://github.com/ManageIQ/manageiq/pull/18876

But some caching got injected in there after a few runs.

It sounded like the consensus for the next version would:

- remove `check_concurrent_tasks` from eligibility. since this changes over time
- load the counts locally, and divvy out the tasks ignoring the counts in the database. Since the counts will only change by 1 and this

[2019-06-24 08:09] skateman commented on #18300
@miq-bot rm_label stale

[2019-06-24 08:10] #18300 closed

[2019-06-26 08:53] Shihta opened #18915 "The checking process of PostgreSQL version should be updated in hammer branch"
Since the [Developer Setup](http://manageiq.org/docs/guides/developer_setup.html) suggests to use PostgreSQL 10,
These 2 commits should be picked to `hammer` branch:

426113fde44b466247a1a7ace38bb23ba5d8b3b7
afd70ffa1a0ea716b18261bef0d7b84646e9e43d

[2019-06-28 01:28] Shihta opened #18923 "[hammer] Stop using deprecated function: MiqServer#get_config"
There are too many `DEPRECATION WARNING` in `evm.log`:
[code]
This issue has been fixed in `master` branch so it can easily be fixed by picking the following commits:

d25841bb9db0ecb21f4c4ccb922accc463afb10f
6f3ec6544a61c10c952663f0e461e783d477a1fc

[2019-06-28 01:40] NickLaMuro commented on #18923
@Shihta A discussion about removing this warning had already happened in the comments that those commits are from:

https://github.com/ManageIQ/manageiq/pull/18024#issuecomment-478611956

And the general consensus was that pulling those commits into `hammer` didn't make sense since it wasn't fixing an "issue", just an "annoyance".

[2019-06-28 01:59] Shihta commented on #18923
Since the error message said **will be removed from ManageIQ H-release**
so I think if we keep using it, that should be an "issue"

fix that by modifying `manageiq/lib/vmdb/config.rb` is a good idea as well
Will you send a PR fix that?
or should I send it by myself?

[2019-06-28 02:40] NickLaMuro commented on #18923
The distinction I made about it being an "issue" was more about the fact that I am defining an issue as something that is a "bug that is preventing functionality of the application from working properly or as expected".  I don't see log messages as "functionality", but more of a by-product of the application running.

I also think the reason that this wasn't included in a backport to `hammer` was

[2019-06-28 12:31] dmetzger57 commented on #18923
As Nick stated above, any back ports must be approved by the "release team" (PM/CEE/QE/Eng). @Shihta if you this change considered for back port, please open a BZ. Also, as Nick stated, back ports are almost exclusively limited to issues with related customer cases. We explicitly restrict the scope of back ports to minimize the risk associated with any change to the release code base.

[2019-06-28 13:47] himdel commented on #18915
But why? The developer setup is for master, not for previous releases, and we don't change major database versions mid-release...

[2019-06-28 14:30] h-kataria opened #18924 "Dashboard names should only be unique within a group"
We noticed this issue while working on https://github.com/ManageIQ/manageiq-ui-classic/pull/5730
Dashboard names should ONLY be unique within a group. There is more information/comments in the PR above. Opening this issue so we can analyze the impact and right way to fix the bug.

[2019-07-01 12:42] martinpovolny commented on #14702
This should hopefully satisfy the requirement: https://github.com/ManageIQ/manageiq-ui-classic/pull/5617

[2019-07-01 12:42] #14702 closed

[2019-07-02 12:10] Hyperkid123 opened #18931 "Move AnsibleTowerJobTemplateDialogService class to core from UI"
We want to migrate `Create service dialog from job template`  to generic React component. There is a number of similar forms which are creating dialog based on specific entity(job template, orchestration template, ansible playbook, etc.) For all of these there are classes which will create the dialog structure based on the specific entity.

Most of these classes (we may find more of them as we go

[2019-07-02 12:24] martinpovolny commented on #18931
:+1:

Seeing all the other `create_dialog` methods, it seems that this one should live in core too. Especially if we want to access it through the API.

[2019-07-02 12:41] rvsia commented on #18931
First phase of PRs:

Move from UI https://github.com/ManageIQ/manageiq-ui-classic/pull/5765
To core https://github.com/ManageIQ/manageiq/pull/18932

[2019-07-03 10:06] matejart opened #18940 "PXE Images refresh duplicates entries"
Refreshing the relationships on an existing PXE server after a rename adds the images that have been added in previous refreshes. I took the following steps:

* Using *Compute* > *Infrastructure* > *PXE* I visitied an existing PXE server
* I observed that the *PXE Images* entries are correct. E.g., image01, image02, image03.
* I used *Configuration* > *Edit this PXE Server* and changed the name of

[2019-07-03 10:06] matejart commented on #18940
@miq-bot assign @miha-plesko

[2019-07-03 10:06] matejart commented on #18940
/cc @tadeboro

[2019-07-03 13:02] rvsia commented on #18931
Second phase:

Edit the endpoint to make it generic https://github.com/ManageIQ/manageiq-api/pull/616
edit current orchestration form (https://github.com/ManageIQ/manageiq-ui-classic/pull/5627) to use that endpoint **TBD**

Third phase:
make the form generic and use it on jobTemplate page **TBD**

[2019-07-03 19:26] tadeboro commented on #18940
There are at least two bugs in the sources that cause this issue.

The first one is in the [UI component of the MIQ](https://github.com/ManageIQ/manageiq-ui-classic/blob/cff5f6d2b812afeef6f06ef2ce5ad9320ce238f4/app/controllers/pxe_controller/pxe_servers.rb#L357). When the user updates any of the fields of the PXE server, all associated PXE menus are deleted and then recreated from the data in the

[2019-07-09 10:03] ZitaNemeckova opened #18949 "Missing required data in copied ServiceTemplate"
When I call following methods on copied `ServiceTemplate` I get `nil`/`false` or empty array instead of the value that original has.

`display`
`additional_tenant_ids`
`resource_actions`
`picture`
~~`tags`~~ https://github.com/ManageIQ/manageiq/issues/18450

Related to https://github.com/ManageIQ/manageiq-ui-classic/pull/5667

**EDIT:** `resource_actions` is needed to get Provision Entry Point tha

[2019-07-09 11:16] d-m-u commented on #18949
Per the original issue (https://github.com/ManageIQ/manageiq/issues/18450) I don't believe this should've extended to tags or resource actions.

[2019-07-09 11:54] ZitaNemeckova commented on #18949
@d-m-u `resource_actions` contains entry points. I can copy an item without saving Provision Entry Point to it but I cannot create a new item without it.  So I think it should be consistent one way or the other. Should it be obligatory or not?

[2019-07-10 09:03] ZitaNemeckova opened #18954 "ServiceTemplate `copy_template` duplicates buttons"
Introduced by https://github.com/ManageIQ/manageiq/pull/18494

`OriginalServiceTemplate.custom_buttons`:
[code]
After `OriginalServiceTemplate.copy_template`

`CopiedServiceTemplate.custom_buttons`:
[code]

`CopiedServiceTemplate.copy_template` ends with
[code]

Maybe related to https://github.com/ManageIQ/manageiq/pull/18368

@miq-bot assign @d-m-u

[2019-07-10 12:00] d-m-u commented on #18954
Hey Zita, I can't get this to fail. If it's actually failing, why is the spec passing? The only reason this would fail with a validation error about the name is if you already have a custom button with that name.

[2019-07-10 12:56] ZitaNemeckova commented on #18954
I don't think that problem is just the same `name` but same `name` and `applies_to_class`. As the first copy adds original custom button with `applies_to_class: "Service"` and creates one with same `name` but with `applies_to_class: "ServiceTemplate"`. It works. But when I try to copy a copy(one that has two custom buttons with same name but different `applies_to_klass`) it fails me with "Same nam

[2019-07-10 12:58] ZitaNemeckova commented on #18954
Why does a copy have two buttons when the original has just one? It's seems bit confusing to me but maybe I'm just missing something.

[2019-07-10 13:08] d-m-u commented on #18954
It makes sense that copying a copy would result in the validation error. I don't think that's a bug. Nowhere in the functionality list that I was given for this did being able to copy a copy appear, that wasn't the intended functionality of this as far as I was ever aware.

[2019-07-10 13:10] d-m-u commented on #18954
The idea was that custom buttons either on services or service templates would get copied. But since you're copying the template and not the service, it'll keep the original button to the service and also have a new one that is for the template.

[2019-07-10 14:07] ZitaNemeckova commented on #18954
So problem is when Service custom buttons is copied with ServiceTemplate. No problem when a ServiceTemplate only has its own buttons.

[2019-07-10 14:42] himdel commented on #18954
I believe this is caused by https://github.com/ManageIQ/manageiq/pull/18494#discussion_r302099371

@d-m-u Does that make sense?

[2019-07-11 11:57] ZitaNemeckova commented on #18954
@miq-bot assign @ZitaNemeckova

[2019-07-11 12:17] d-m-u commented on #18949
I was explicitly told to not copy resource actions, but if the UI team thinks that the things that were not included in the original are integral to functionality, please feel free to take over this issue.

[2019-07-11 12:58] #18954 closed

[2019-07-12 09:39] ZitaNemeckova commented on #18949
Description updated.

@miq-bot assign @ZitaNemeckova

[2019-07-12 12:54] ZitaNemeckova commented on #18949
I would suggest something like this (except this doesn't work :) )
[code]

[2019-07-13 19:20] gmcculloug commented on #18949
@ZitaNemeckova PR #18973 adds the resource_actions and picture to the copy method.  (additional_tenants are derived from the Automate entry-points defined by the resource_actions.)

Display is intentionally set to `false` on copy to allow an Admin to modify the service_template before making it available for ordering.  See [app/models/service_template/copy.rb#L8](https://github.com/ManageIQ/manage

[2019-07-15 15:53] agrare commented on #18320
This was actually completed in https://github.com/ManageIQ/manageiq/pull/18678

[2019-07-15 15:53] #18320 closed

[2019-07-16 15:21] #18949 closed

[2019-07-16 15:21] #18450 closed

[2019-07-17 13:37] kbrock commented on #18100
@lpichler this is a little stale.

If we provided the child down access - would that resolve the need to have each provider in the features access list?

[2019-07-17 15:10] lodgenbd opened #18995 "Cloud Provider Openstack: Unable to Create Snapshot on "in-use" Volume"
This request completes via Horizon, but in ManageIQ it fails with the error message: "Unable to create snapshot for Cloud Volume "xyz_volume": Invalid volume: Volume xyz_volume status must be available, but current status is: in-use."

[2019-07-17 15:49] lodgenbd opened #18996 "Cloud Provider OpenStack: Update term "Tenant" to "Project""
The official OpenStack project has moved on from using the term "Tenant" and instead uses the term "Project". [https://docs.openstack.org/keystone/stein/admin/cli-manage-projects-users-and-roles.html]

[2019-07-17 16:40] lodgenbd opened #18998 "Cloud Provider OpenStack: Instance snapshots"
Instance snapshots are available to be created via Horizon, but not via ManageIQ. Once the instance image is created in Horizon, ManageIQ sees the image and gives the user the option to create a new instance from it. However, the initial instance snapshot creation request does not exist in ManageIQ, if we could work on getting that added.

[2019-07-17 17:00] lodgenbd opened #18999 "Authentication LDAPS: Unnecessarily Un-nesting groups"
It appears that ManageIQ LDAPS authentication is attempting to un-nest groups a user is a member of. It is performing a user lookup with MemberOf for groups the user is a member of, it gets the list, then it creates a new request to the LDAP server for *each* group to see which groups they're a member of, which it should not be doing.

Sanitized relevant log entries from the LDAP server:
conn=1 -

[2019-07-17 21:25] lodgenbd opened #19001 "Cloud Provider OpenStack: Creating Instance with Tag X does not tag associated resources"
This may be a personal preference, so please let me know if this has been discussed and a conscious decision was made to have it work this way, but when creating an instance in OpenStack with tag X, there are no associated tags applied to the various resources attached to that instance, primarily the volume and port. As an external example, on VMware's vCenter when permissions are very finely defi

[2019-07-18 17:27] agrare commented on #18458
Fixed by https://github.com/ManageIQ/manageiq-providers-ovirt/pull/360

[2019-07-18 17:27] #18458 closed

[2019-07-18 17:47] agrare commented on #18458
This will be included in the next hammer release

[2019-07-19 07:30] Shihta commented on #18915
ok~ thanks!

[2019-07-19 07:30] #18915 closed

[2019-07-19 16:01] rvsia commented on #18931
make form reusable https://github.com/ManageIQ/manageiq-ui-classic/pull/5842

use it on jobTemplate: TBD

[2019-07-19 20:00] lodgenbd opened #19011 "Cloud OpenStack Provider Question: Add Image Function?"
Question: should the "add image" function be working for an OpenStack provider? Neither as an admin nor a user with "add image" permissions am I able to access any functionality to add an image. I do see the permission exists in roles (miq_product_features.yml):

      - :name: Add Image
        :description: Add Image
        :feature_type: control
        :identifier: image_create

[2019-07-22 17:51] martinpovolny commented on #1151
No one has worked on it, but it's still a valid issue. :-(

[2019-07-23 08:52] skateman opened #19029 "Seeding specs counting the number of created records"
There is a [shared example](https://github.com/ManageIQ/manageiq/blob/master/spec/support/examples_group/shared_examples_for_seeding.rb#L1-L6) that counts the created objects after seeding the database. Having a static number of records in a spec makes adding new importable/exportable entities a little problemmatic, so I created https://github.com/ManageIQ/manageiq/pull/19019 for repoerts and http

[2019-07-24 10:59] skateman commented on #18818
bump

[2019-07-25 11:25] daniel-wtd opened #19057 "[Bug] pxe management not working in docker appliance"
Hey all,

the last days I have tested manageiq (hammer-7,-8,-9) . I have setup an pxe server, with all the requirements and wanted to manage it via compute -> infrastructure -> pxe. Unfortunately, this was not working with the docker appliance.

I was able to identify some issues here:

[code]

for replication, I have also tested this with the libvirt image and was able to setup the pxe without an

[2019-07-25 12:12] arif-ali opened #19058 "skinning for CF based on MiQ"
Based on the document [here](https://github.com/ManageIQ/guides/blob/master/service_ui/skinning.md) about skinning. This is great for ManageIQ

Would this be possible for CloudForms too, so that this can done. We've had at least one customer request to do this.

Looking through the code, we have to go through a massive json file, which is would be difficult to maintain for any particular customer

[2019-07-26 18:43] carbonin opened #19067 "MiqServer guid is sometimes blank in specs"
This leads to straight forward failures like this:

[code]

But I suspect is also causing failures like this:

[code]

In this case `MiqServer.my_server` is still coming back as nil, likely because the GUID is nil, but is causing a failure in a separate location.

The above example is "fixed" by https://github.com/ManageIQ/manageiq/pull/19065, but that is not really a fix for the underlying proble

[2019-07-26 18:44] carbonin commented on #19067
@jrafanie ping this issue if you get time to work on it, I'll do the same.

[2019-07-29 04:51] angry-tony opened #19068 "is it possible to add "AWX" (which is opensource) insted of "Ansible Tower"??"
hello, all

is it possible to add "AWX" (which is opensource) insted of "Ansible Tower"??
I faced an error when adding "Automation provider : AWX" to manageiq.

* 192.168.56.240 is AWX server and it is perfactly ok to login AWX server via web brower.

![error](https://user-images.githubusercontent.com/18000837/62092162-26b61980-b2af-11e9-9745-556d5773dcaa.PNG)

[code]

[2019-07-29 15:20] #15036 closed

[2019-07-29 16:36] chrisarcand commented on #15036
🎉

[2019-07-29 20:44] #19067 closed

[2019-07-30 13:14] #19068 closed

[2019-07-30 13:15] angry-tony commented on #19068
move to ansible_tower repositorie.

[2019-07-30 16:15] yrudman commented on #18489
BZs on the same topic:
 https://bugzilla.redhat.com/show_bug.cgi?id=1734076
 https://bugzilla.redhat.com/show_bug.cgi?id=1729441

[2019-07-30 19:05] Fryguy commented on #18489
Here's the original bug regarding duplicate names where I fixed it, but it was for MiqReport, so I'm not sure why that fix didn't fix it - https://github.com/ManageIQ/manageiq/pull/18377

[2019-07-30 19:58] yrudman commented on #18489
for ```MiqReport``` fix #18377 works when custom report has the same name as "standard" .

Issue in https://bugzilla.redhat.com/show_bug.cgi?id=1734076  is different - filename on disk was changed nut report name still the same and when

[2019-08-01 18:48] yrudman commented on #18489
@miq-bot assign @yrudman

[2019-08-01 19:44] kbrock commented on #18489
it is almost as if we want to delete all the old reports before creating the "new" ones

[2019-08-02 12:32] yrudman commented on #18489
destroying reports will destroy pre-generated reports to

[2019-08-02 13:28] #14813 closed

[2019-08-03 18:33] Fryguy commented on #19058
@arif-ali Please direct CloudForms issues to the [CloudForms Bugzilla](https://bugzilla.redhat.com/enter_bug.cgi?product=Red%20Hat%20CloudForms%20Management%20Engine).  Thanks!

[2019-08-03 18:33] #19058 closed

[2019-08-03 18:35] Fryguy commented on #19057
@bdunne @carbonin Thoughts here?

[2019-08-03 18:35] Fryguy commented on #19029
I'm not sure we need the counts.  If we have proper tests otherwise, I don't think they are needed.

[2019-08-03 18:36] Fryguy commented on #19011
@agrare @borod108 Thoughts here?

[2019-08-03 18:38] Fryguy commented on #18931
ultimately it should probably live in the ansible tower plugin instead of core, but I think then we'd need to make all of services pluggable.

[2019-08-03 18:42] Fryguy commented on #18655
@carbonin ?

[2019-08-03 18:44] Fryguy commented on #18718
@skateman now that we have better remote consoles, is this one done?

[2019-08-03 18:44] Fryguy commented on #18725
@carbonin ?

[2019-08-03 18:46] Fryguy commented on #18766
@miq-bot move-issue manageiq-providers-openstack

[2019-08-03 18:47] #18766 closed

[2019-08-03 18:47] Fryguy commented on #18818
@agrare Assigning to you just for tracking...we still need to design this.

[2019-08-03 18:49] Fryguy commented on #18885
@akhil-g when vms and templates are deleted, we keep them as "archived", so it's possible those archived objects are still around with their associated data.  However, I thought that when deleting an entire provider then those would also be removed.  Do you see any errors in your logs?

cc @agrare

[2019-08-03 18:52] Fryguy commented on #18923
It seems this is already done on master/ivanchuk via #18024 , and isn't necessary for backport.  @Shihta if you really believe this is a nuisance on hammer (i.e. it appears an inordinate amount in logs for example), then please reopen and we can possibly reconsider making it quieter.

[2019-08-03 18:52] #18923 closed

[2019-08-03 18:52] Fryguy commented on #18940
cc @bdunne

[2019-08-03 18:54] Fryguy commented on #18632
@himdel ?

[2019-08-03 18:55] #18606 closed

[2019-08-03 18:56] Fryguy commented on #18606
Closing as a path forward seems to have been described, but please reopen if you think it's needed.

[2019-08-03 18:56] Fryguy commented on #18581
@miq-bot move-issue manageiq-providers-openstack

[2019-08-03 18:57] Fryguy commented on #18575
@miq-bot move-issue manageiq-providers-openstack

[2019-08-03 18:57] #18581 closed

[2019-08-03 18:58] Fryguy commented on #18558
@tinaafitz Please review.

[2019-08-03 18:58] #18575 closed

[2019-08-03 18:59] Fryguy commented on #18517
@himdel @martinpovolny @abellotti Thoughts here?

[2019-08-03 19:00] Fryguy commented on #19011
@miq-bot move-issue manageiq-providers-openstack

[2019-08-03 19:01] Fryguy commented on #19001
@miq-bot move-issue manageiq-providers-openstack

[2019-08-03 19:01] #19001 closed

[2019-08-03 19:01] #19011 closed

[2019-08-03 19:01] Fryguy commented on #18999
@jvlcek Can you take a look at this?

[2019-08-03 19:01] Fryguy commented on #18998
@miq-bot move-issue manageiq-providers-openstack

[2019-08-03 19:02] #18998 closed

[2019-08-03 21:24] skateman commented on #18718
YESS!

[2019-08-03 23:42] Fryguy commented on #18996
The way ManageIQ works as a normalizer across different systems, we generally have to pick one name.  There may be specific parts we can change however, such as with "Tenant mapping".  I'll move this over to the openstack repo for discussion, but I'm not sure there's much we can do.

@miq-bot move-issue manageiq-providers-openstack

[2019-08-03 23:43] #18996 closed

[2019-08-03 23:43] Fryguy commented on #18995
@miq-bot move-issue manageiq-providers-openstack

[2019-08-03 23:44] #18995 closed

[2019-08-03 23:45] Fryguy commented on #18485
@miq-bot move-issue manageiq-v2v

[2019-08-03 23:45] #18485 closed

[2019-08-03 23:47] Fryguy commented on #18465
@carbonin ?

[2019-08-04 04:49] skateman commented on #18718
Oh, sorry, I misunderstood your message. It's not done but it can be, please reopen 🤯

[2019-08-04 15:43] skateman commented on #18718
@agrare I need to tamper with the provider method that returns the [ticket](https://github.com/ManageIQ/manageiq-providers-vmware/blob/78e3358127cc3542f8be1e3de9f7963759135d6a/app/models/manageiq/providers/vmware/infra_manager.rb#L78) for a VMRC console. We need to build an URL from the ticket, vm_id and host_address and there's a [method](https://github.com/ManageIQ/manageiq-ui-classic/blob/maste

[2019-08-04 15:58] agrare commented on #18885
@Fryguy when deleting a provider vms and hosts aren't deleted as it has a dependent nullify on the relation (https://github.com/ManageIQ/manageiq/blob/master/app/models/ext_management_system.rb#L57)

Do you see anything besides data related to vms or hosts?  (E.g. Metrics would be related to the vms but clusters wouldn't)

[2019-08-05 02:38] lodgenbd commented on #18996
Thanks, Fryguy. I definitely understand your statement and I want to understand more the contingencies that may require the use of "tenant". Can you point to those in general? I'm not asking for specific code references as I can spend the time hunting those myself. Since I'm more from the OpenStack side, understanding the ManageIQ requirements for the wording from other provider standpoints may he

[2019-08-05 08:31] skateman commented on #18718
@miq-bot open_issue

[2019-08-05 08:49] himdel commented on #18632
Yes, that is true.

Unfortunately, due to historical reasons, manageiq UI is currently using all of:

* jquery + bootstrap + patternfly
* angular + angular-ui-bootstrap + angular-patternfly
* react + react-bootstrap + patternfly-react

Long term, we should end up with only the react branch, and it is possible that most if not all of angular code will be gone by the J-release.

A second problem is

[2019-08-05 10:06] himdel commented on #18632
@Fryguy given that ^, does it make sense to keep this issue open?

The only thing we could do about big JS bundles is split them into more smaller js bundles at this point, not reduce total size.

[2019-08-05 10:20] himdel commented on #18632
(Current vendor*js is 17 MB before compression, relative sizes inside, courtesy of webpack-bundle-analyzer:

![webpack-bundle-analyzer-vendor](https://user-images.githubusercontent.com/289743/62457539-9e31f000-b76a-11e9-95f6-0101549b1add.png)

)

[2019-08-05 10:38] skateman commented on #18718
@loicavenel do we need this feature in ivanchuk?

[2019-08-05 12:44] agrare commented on #18718
@skateman if this is vmware specific then :+1: for having the url building logic in the vmware repo.

What do other providers do here?  Maybe we can add a core method to Vm like `console_url` since it will already have the context of what host it is on?

[2019-08-05 12:45] skateman commented on #18718
@agrare this is a very special console type for vmware, but OpenStack has something similar. I'll look it up.

[2019-08-05 12:47] agrare commented on #18718
:+1: sounds good

[2019-08-05 12:49] skateman commented on #18718
Nah, openstack does it the [same way](https://github.com/ManageIQ/manageiq-providers-openstack/blob/2b2c4b4d48cb652ba01910aa3f23e285e92b02e5/app/models/manageiq/providers/openstack/cloud_manager/vm/remote_console.rb#L25) so keeping it.

[2019-08-05 12:52] agrare commented on #18718
Okay so we'd just change VMware VM's [remote_console_acquire_ticket](https://github.com/ManageIQ/manageiq-providers-vmware/blob/master/app/models/manageiq/providers/vmware/infra_manager/vm/remote_console.rb#L17) method to return a URL also?

[2019-08-05 12:52] skateman commented on #18718
No, this is just VMRC-specific, so it has to live under the `remote_console_vmrc_acquire_ticket`

[2019-08-05 13:13] himdel commented on #18517
There are 2 different ways of authenticating against the API:

* HTTP Basic Authentication (used by ui-classic until https://github.com/ManageIQ/manageiq-ui-classic/pull/5164, and still being used by ui-service)
* cookie + CSRF token (used by ui-classic since https://github.com/ManageIQ/manageiq-ui-classic/pull/5164)

Most likely, the problem is that you have a manageiq cookie (`vmdb`) and not sen

[2019-08-05 13:18] himdel commented on #18517
Sorry, I was reading this wrong... this is a CORS issue.

Postman does not check cors, because it's a development tool.
But the browser does.

So, 2 options:

* access the API from the same domain - that's how manageiq appliances work, the API is listening on the same domain+port as the UI, thus, no cors issues

* add a way to configure the API so that it will allow specific domains (@abellotti -

[2019-08-05 13:43] jvlcek commented on #18999
@lodgenbd Please help me understand correctly what the issue is you are describing.

My current understanding is that everything works fine but there is unnecessary queries back to LDAP after the MemberOf group list is retrieved.

Is my understanding correct?

[2019-08-05 13:53] yrudman commented on #18489
@miq-bot close_issue

[2019-08-05 13:54] #18489 closed

[2019-08-05 13:54] carbonin commented on #18470
This might be something we could determine dynamically since become methods are plugins:

[code]

[2019-08-05 13:59] bdunne commented on #19057
It sounds like we need to add the NFS RPMs [here](https://github.com/ManageIQ/manageiq-pods/blob/master/images/miq-app/Dockerfile#L30)

[2019-08-05 18:21] carbonin commented on #18655
We're in the process of re-working how we implement the embedded ansible feature. Can you please re-test this on the Ivanchuk Beta and see if that resolves your issue?

[2019-08-05 18:22] carbonin commented on #18605
We're in the process of re-working how we implement the embedded ansible feature. Can you please re-test this on the Ivanchuk Beta and see if that resolves your issue?

[2019-08-05 18:22] carbonin commented on #18725
We're in the process of re-working how we implement the embedded ansible feature. Can you please re-test this on the Ivanchuk Beta and see if that resolves your issue?

[2019-08-05 18:22] carbonin commented on #18465
We're in the process of re-working how we implement the embedded ansible feature. Can you please re-test this on the Ivanchuk Beta and see if that resolves your issue?

[2019-08-06 01:22] Fryguy commented on #18632
@himdel I'm good with closing this for now as it's at least already on your radar and there's nothing we can do about it short term.

[2019-08-06 01:22] #18632 closed

[2019-08-06 12:09] djberg96 commented on #17328
@saulotoledo @Fryguy is this still an issue after the recent rubocop update?

[2019-08-06 14:04] agrare opened #19104 "Move blue/yellow folder logic from UI to the core EmsModel"
Currently the logic for if a folder supports being able to have VM or Template children is in the UI when it should be in the folder model.

Only folders which have a hidden parent "vm" folder in the path hierarchy are able to support having VMs as children.

Ex.

`Datacenters / foo / DC / host / my_folder` cannot have vm children
`Datacenters / foo / DC / vm / my_other_folder` Can

[2019-08-06 14:04] agrare commented on #19104
cc @Fryguy @skateman

[2019-08-06 14:07] Fryguy commented on #19104
There is also logic buried in the vm_or_template model when it really belongs in the folder model.

[2019-08-06 14:43] kbrock commented on #19104
We had a lot of logic in the VmOrTemplate tree (vandt ?) that was tuned for the exact layout

specifically the part that brought back the folders but not the vms.

[2019-08-06 14:50] skateman commented on #19104
I don't need the VMs, just the blue folder hierarchy...

[2019-08-06 14:51] tinaafitz commented on #18558
@lfu Let's discuss this issue.

[2019-08-06 20:37] skateman commented on #19104
Slightly related https://github.com/ManageIQ/manageiq-ui-classic/pull/5953

[2019-08-06 23:47] agrare commented on #18818
@Fryguy and I discussed this and we are thinking something like this:

At the provider class level each provider would define their "parameters_for_create" in a JSON-schema format so taking Amazon as an example:
[code]

Then `OPTIONS` on `/api/providers` would return the params for the different provider types.

We would add a (names just an example, I'm terrible at naming) `/api/providers#verify_

[2019-08-07 04:12] skateman commented on #18818
@agrare this is perfect, cc @Hyperkid123

[2019-08-07 07:11] Hyperkid123 commented on #18818
Since we plan to use data driven forms for the component i would be great to use the DDF format for the authentication partials.

[2019-08-07 11:36] skateman opened #19110 "Features dependency for an API-driven UI"
We're moving the classic UI to be much more an API-driven and this is already causing problems for roles with limited access to certain resources. For [example](https://bugzilla.redhat.com/show_bug.cgi?id=1703967) the about modal would need at least  read-only access to the information about the current Zone and Region. However, exposing the related features (if they exist) to the given role would

[2019-08-07 11:40] himdel commented on #19110
I think we need to distinguish between 2 sets of rbac features:

* actual features - a screen, a magic button on that screen
* rights - can access users, can access groups

Right now, we're conflating the 2 kinds, because we started with actual features only (the first kind),
but wrote the API assuming we only have the second kind.

---

But that may be more of a semantic distinction, so that we c

[2019-08-07 11:43] skateman commented on #19110
Why*rights* when we can have*mandates*? :trollface: But yeah I agree with the semantic distinguishing. :thumbsup:

[2019-08-07 11:47] himdel commented on #19110
An alternative would be to rewrite the API based on *user actions* as opposed to collections and instances.

That way, we could have a "show about modal" action in the API, based on a "show about modal" rbac feature.

IMO that still makes a lot of sense when writing an API to back an existing UI,
but that ship *may* have already sailed, and would be problematic re other REST API usecases.

[2019-08-07 11:48] skateman commented on #19110
Yup, I was trying to find the least-invasive solution that does minimal harm to the holy compatibility.

[2019-08-07 11:53] martinpovolny commented on #19110
That might have been an option in the past, but imo no longer because we are already pretty far the other way. Also it makes little sence if/when the API is used outside the UI (I cannot imagine the API/core guys agreeing with this ;-))

I like the suggestion. That is something we have been discussing for a while aready w/o the idea of where to actually put it.

From the few examples that we discu

[2019-08-07 12:07] lpichler commented on #19110
I am good with this approach. I was facing couple BZs  as well with this topic.

Imho I would like to let user know about feature dependencies in UI to know for example:
_When you are allowing set ownership screen, you are also allowing them to see list of user, groups._  It could be important information for them.

Of course I can take care of implementation :)

[2019-08-07 12:17] skateman commented on #19110
It's important that we'd be exposing these stuff only via the API and not through the UI.

[2019-08-07 14:18] agrare commented on #18818
@Hyperkid123 sounds good to me!  I was planning on using the parameters from sources-api for amazon as a starting point [ref](https://github.com/ManageIQ/sources-api/blob/master/db/seeds.rb#L23-L31)

[2019-08-08 07:51] rvsia commented on #18931
All PRs referencing this issue are merged and the issue is successfully solved. So I am closing this

@miq-bot close_issue

[2019-08-08 07:57] #18931 closed

[2019-08-08 13:10] skateman commented on #18718
Well, this is in, still waiting for PM about ivanchuk.

[2019-08-08 18:20] #18940 closed

[2019-08-12 16:46] lpichler commented on #19110
https://github.com/ManageIQ/manageiq/pull/18770

[2019-08-12 19:19] skateman commented on #19110
@lpichler the fix you're referring to cannot be applied universally, so we can't get away with not having some kind of solution described above...

[2019-08-13 09:29] lpichler commented on #19110
oh yes I am sorry for mystification, of course I know, I am just trying to track related things - so maybe we should do it in some doc or something ?

[2019-08-13 11:00] Loicavenel commented on #18718
@skateman let's add it to ivanchuk

[2019-08-13 11:38] skateman commented on #18718
@Loicavenel cool, I need a BZ for that

[2019-08-13 12:42] Loicavenel commented on #18718
If you add ivanchuk, Satoe will create the BZ

[2019-08-13 13:36] simaishi commented on #18718
No, I usually don't. But since you mentioned.. I did: https://bugzilla.redhat.com/show_bug.cgi?id=1740691

[2019-08-13 14:35] skateman commented on #19110
@lpichler I added a new column in our big bad interactions spreadsheet

[2019-08-13 16:09] #19104 closed

[2019-08-13 20:14] Fryguy commented on #19110
cc @agrare

[2019-08-13 21:18] lodgenbd commented on #18999
Yes. My LDAP team is telling me that in the log excerpt I've shared, connections 2 and 3 should not be happening, only connection 1.

[2019-08-13 21:28] lodgenbd commented on #18999
BTW, I tested with this team when we were first setting up ManageIQ LDAP access and they watched the queries at that time. After they several weeks later came back with this info and associated logs (similar to what I shared above), I asked them if these entries were isolated to when we would be adding a new group to ManageIQ and doing the user group lookup. They said it wasn't, these were regular

[2019-08-15 10:13] lpichler commented on #18553
Tested as whole thing

[2019-08-15 10:13] #18553 closed

[2019-08-19 21:05] bigo1981 opened #19170 "Error during miq quota check"
When a user creates a provision request and that user does not have an email address the miq_provision_quota_mixin.rb scripts errors out at line 255 with the error in the attached file. This causes any subsequent request from any user to stay in a pending state until the quota service is restarted and the pending systems deleted. I do not believe this is expected behavior as this brings down the w

[2019-08-20 13:24] keuko commented on #17274
Hello,

I have the same issue ... is there any progress ?

Thanks,
Michal

[2019-08-20 20:36] #18558 closed

[2019-08-21 05:02] eselvam commented on #17274
I could not fix it. I tried lot of options but no luck.
    On Tuesday, August 20, 2019, 06:54:53 PM GMT+5:30, Michal Arbet <notifications@github.com> wrote:

Hello,

I have the same issue ... is there any progress ?

Thanks,
Michal

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-21 11:38] gaetanquentin commented on #17274
@eselvam none. this docker image is a one shot launch.... ;-) after you stopped it, unable to start it again. And they don't care.

[2019-08-21 17:11] yrudman commented on #16514
issue was not fully resolved,
PR to resolve it when actual expression contain custom attribute: https://github.com/ManageIQ/manageiq/pull/19176

[2019-08-21 18:26] kbrock commented on #19110
I will use @himdel nomenclature. features, rights

This reminds me of CanCan (and followup gem CanCanCan). ASIDE: the reaction to this code was pundit to simplify the large monolith of privilege code. But they seem very rights based.

CanCan uses `is_admin?` (feature) and other features to describe (mostly) CRUD rights on resources.

It would be really cool to have all code check rights and not pr

[2019-08-21 20:13] martinpovolny commented on #19110
@kbrock : would you be willing to to a short introduction into what you suggest, explain things around etc. to people interested? Surely myself, @skateman, @lpichler, @himdel , maybe other people.

So that we do more informed work moving forward. A BJ meeting on this?

[2019-08-23 06:41] keuko opened #19193 "ManageIQ is not syncing with AWX/Ansible Tower"
Hello,

When new Ansible Tower provider is added in Automation/Ansible Tower/Explorer , and Ansible Tower provider has /api/v2 endpoint ( AWX 5.0 and above) , sync templates , inventories , etc... is not working. With /api/v1 ( AWX 4.0 and below ) everything is working fine. I think the same bug is described here as I saw the same error in log => https://bugzilla.redhat.com/show_bug.cgi?id=1740860

[2019-08-23 18:40] bekasovoleg opened #19198 "Enhancement: Ability to disable unused providers"
Gemfile has a group for each provider, but if provider gem isn't installed, miq doesn't work
It would be great to have the ability to disable certain providers

[2019-08-23 18:50] bekasovoleg opened #19199 "Combined quotas for all regions"
There is a method to get combined quotas for tenant
https://github.com/ManageIQ/manageiq/blob/master/app/models/tenant.rb#L183

How to get combined quotas from all regions in master region?
Could someone help me to implement this?

[2019-08-26 15:34] ProfessionalTiger commented on #15773
I am still unable to connect with any VM using this option, is there any fix for this?

[2019-08-27 22:54] gpavinteractiv commented on #19193
Credential validation was not successful: {:headers=>{"server"=>"nginx/1.12.2", "date"=>"Tue, 27 Aug 2019 22:47:43 GMT", "content-type"=>"application/json", "content-length"=>"55", "connection"=>"close", "vary"=>"Accept, Accept-Language, Origin, Cookie", "content-language"=>"en", "x-api-total-time"=>"0.037s"}, :status=>404, :body=>"{\"detail\":\"The requested resource could not be found.\"}", :url

[2019-08-28 07:24] dominikholler commented on #18457
@agrare Is this issue fixed by https://github.com/ManageIQ/manageiq-providers-ovirt/commit/9aecec67ac09448c8a4edb683cad0c60316d66f6 ?

[2019-08-29 11:30] #19199 closed

[2019-08-30 17:41] ashiq54689 opened #19233 "Adding new Provider: IBM Cloud"
Is it possible anyway? IBM Cloud Bare Metal Server, Virtual Server, and VPC?

[2019-09-03 02:07] #18639 closed

[2019-09-03 19:32] boonchu opened #19249 "Connecting problem to VMware vsphere provider"
I managed to get the docker containers running on the platform. After adding new provider in, It rejected with unknown error. I entered in docker ManageIQ instance to curl on vcenter 10.0.0.1. Response returned properly with landing page. I have verified the user account with login page as well. The vcenter use self sign certificate. Does validation error points to certificate validation failure?

[2019-09-04 18:02] agrare commented on #19249
Hey @boonchu what version are you using?  It sounds a little like what was fixed in https://github.com/ManageIQ/manageiq-providers-vmware/pull/437

[2019-09-04 18:07] agrare commented on #19233
Hey @ashiq54689 you can use the provider generator (https://github.com/ManageIQ/manageiq/blob/master/lib/generators/manageiq/provider/USAGE) to build a new provider plugin.  After that you need a ruby SDK for the API and start to fill in the necessary bits.

[2019-09-04 19:17] agrare commented on #18818
Updated the description with a list of TODO items to complete this.

[2019-09-04 22:13] boonchu commented on #19249
Hello @agrare

When I I login in UI and search for version, I got this value output.

`ManageIQ Jansa
Version master.20190814140432_c889e15
Server Name EVM
Region 0
Zone default
User Name Administrator
User Role EvmRole-super_administrator
Browser Chrome
Browser Version 76
Browser OS Mac

Plugins`

Can you help to walkthrugh to get version info?

[2019-09-05 11:55] agrare commented on #19249
That last part of `master.20190814140432_c889e15` is the commit sha

[code]

And that bug I linked to was fixed a few hours later, try upgrading to a newer version and try again

[2019-09-13 09:38] keuko commented on #19193
Hi, is here any update regarding this issue ? I think it is quite serious bug ... Thanks

[2019-09-13 12:36] agrare commented on #19193
Hey @keuko @gpavinteractiv  ivanchuk-1 should pull in the newer ansible-tower-client-ruby gem with that fix applied.  If you can apply v0.20.2 to your ivanchuk-1-rc1 and confirm the fix that would be great, otherwise you can try it with a master build or ivanchuk-1 when it gets released next week.

[2019-09-16 13:17] d-m-u commented on #19170
@billfitzgerald0120 @tinaafitz

[2019-09-16 20:44] billfitzgerald0120 commented on #19170
@bigo1981 I just provisioned a vmware service with the admin user without an email address. It completed successfully.  My appliance was version hammer-7.

[2019-09-16 21:36] d-m-u commented on #19170
thanks for looking at this, Billy.

[2019-09-18 15:34] d-m-u opened #19311 "provision requests without sources do error"
https://github.com/ManageIQ/manageiq/blob/master/spec/models/miq_provision_request_spec.rb#L204 doesn't make any sense.

MiqProvisionRequest A new provision request, with a valid userid and source vm, when calling quota methods for cloud and infra providers, active_provisions, invalid vm_template does not raise error

... except that we validate that the request has a source, which would in fact m

[2019-09-19 22:32] Sdesik1 opened #19316 "500 Internal Server Error"
Hello Team,
I am new to the ruby rails and followed Dev set up giude . When I execute the command ,I am getting 500 Error at my local host. Kindly provide the direction or instructions to follow.

Reference -https://github.com/ManageIQ/guides/blob/master/developer_setup.md

Error - We're sorry, but something went wrong.

Thanks,
Srini.D

[2019-09-19 22:34] Sdesik1 opened #19317 "New Provider - Nutanix prism central"
Do we have any pull request or repository to clone for Nutanix as a provider

[2019-09-23 08:15] himdel commented on #14924
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-23 12:42] #19311 closed

[2019-09-25 17:52] JPrause commented on #19193
@keuko @gpavinteractiv were you able to retest as @agrare suggested.
Here's the [Ivanchuk-1 Stable Release](https://manageiq.org/download/)

[2019-09-25 17:57] JPrause commented on #19170
@bigo1981 was this still an issue. If so, can you retest using the just released [Ivanchuk-1 Stable Release](https://manageiq.org/download/). If this is no longer an issue, can you close.

[2019-09-25 18:00] JPrause commented on #1151
Giving this another lease on life.
@miq-bot remove_label stale

[2019-09-25 18:01] JPrause commented on #1151
@miq-bot add_label pinned

[2019-09-25 18:03] JPrause commented on #1581
@miq-bot remove_label stale

[2019-09-25 18:03] JPrause commented on #1581
@miq-bot add_label pinned

[2019-09-25 18:05] JPrause commented on #2735
@miq-bot remove_label stale

[2019-09-25 18:05] JPrause commented on #2735
@miq-bot add_label pinned

[2019-09-25 18:06] JPrause commented on #8561
@miq-bot remove_label stale

[2019-09-25 18:07] JPrause commented on #8561
@miq-bot add_label pinned

[2019-09-25 18:08] JPrause commented on #11272
@miq-bot remove_label stale

[2019-09-25 18:08] JPrause commented on #11272
@miq-bot add_label pinned

[2019-09-25 18:09] JPrause commented on #11533
@miq-bot remove_label stale

[2019-09-25 18:10] JPrause commented on #11533
@miq-bot add_label pinned

[2019-09-25 18:10] JPrause commented on #12453
@miq-bot remove_label stale

[2019-09-25 18:10] JPrause commented on #12453
@miq-bot add_label pinned

[2019-09-25 18:11] JPrause commented on #12819
@miq-bot remove_label stale

[2019-09-25 18:12] JPrause commented on #12819
@miq-bot add_label pinned

[2019-09-25 18:13] JPrause commented on #13888
@miq-bot remove_label stale

[2019-09-25 18:13] JPrause commented on #13888
@miq-bot add_label pinned

[2019-09-25 18:14] JPrause commented on #14950
@terezanovotna can you respond to the question above.
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:16] JPrause commented on #15350
@branic with those PRs merged, can this issue be closed. If yes, can you please close.

[2019-09-25 18:17] JPrause commented on #15882
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:18] JPrause commented on #16244
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:19] JPrause commented on #16678
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:22] JPrause commented on #17201
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:28] JPrause commented on #17274
@miq-bot remove_label stale
@miq-bot remove_label pinned

[2019-09-25 18:31] JPrause commented on #17316
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:32] JPrause commented on #17344
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:35] JPrause commented on #17447
@gianpietro1 can you close this issue.

[2019-09-25 18:39] JPrause commented on #17583
@miq-bot remove_label stale

[2019-09-25 18:40] JPrause commented on #17587
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:42] JPrause commented on #17752
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 18:47] gianpietro1 commented on #17447
Sorry @JPrause I missed the messages! closing this right away.

[2019-09-25 18:47] #17447 closed

[2019-09-25 18:53] JPrause commented on #17447
@gianpietro1 not a problem. Thanks for your help! :+1:

[2019-09-25 19:49] JPrause commented on #17921
@miq-bot close_issue

[2019-09-25 19:49] #17921 closed

[2019-09-25 19:50] JPrause commented on #17984
@miq-bot remove_label stale
@miq-bot add_label pinned

[2019-09-25 19:50] JPrause commented on #18091
@miq-bot close_issue

[2019-09-25 19:51] #18091 closed

[2019-09-30 18:16] skateman commented on #18818
I'll start working on the `verify_credentials` API endpoint.

[2019-09-30 19:39] agrare commented on #18818
@skateman we created a method on ExtManagementSystem that you can call from the API (https://github.com/ManageIQ/manageiq/pull/19346).  It will return a task_id which can be given to the UI to wait for it to finish.  It will update the task message with the error if it failed validation.

[2019-10-01 21:39] Fryguy commented on #19317
@Sdesik1 At the moment no, I don't believe so...you can start one in your personal account and when it's closer to completion and/or completed we can discuss bringing it under the ManageIQ umbrella.  This will give you more freedom in iterating on building it.

[2019-10-01 21:40] Fryguy commented on #19316
@Sdesik1 Is there any error information in the evm.log?

[2019-10-01 21:41] Fryguy commented on #19249
Closing this as it seems to have been answered, but if not, please feel free to reopen.

[2019-10-01 21:41] #19249 closed

[2019-10-03 13:10] himdel opened #19361 "Remove middleware/hawkular code"
Hawkular support was removed in early 2018, yet:

[code]

@miq-bot add_label technical debt

Related to:
* https://github.com/ManageIQ/manageiq-ui-classic/issues/6268
* https://github.com/ManageIQ/manageiq-schema/issues/423

[2019-10-03 20:29] lodgenbd opened #19363 "Bug: Users Unable to Edit Tag on Instance Without EvmRole-super_administrator Role"
Users are unable to edit tags on instances without having the EvmRole-super_administrator role. The user group has no restrictions by ownership or by tagging. When applying any other role by any other name with "everything" checked to give all privileges, clicking on "Edit Tags" under Policy for an instance shows the spinning wheel for a brief second then it disappears. The attempt shows in the lo

[2019-10-04 10:18] skateman commented on #18818
@Fryguy @agrare we would also need a method for adding a new provider that accepts the same arguments as the validation. Then I'll expose it as an API endpoint, assuming we don't want to break compatibility with the current `POST /api/providers`

[2019-10-04 15:08] agrare commented on #18818
@skateman :+1: can you add a TODO item in the checklist above?

[2019-10-04 15:16] skateman commented on #18818
Sure @agrare, both there.

[2019-10-08 15:22] djberg96 commented on #19361
I see the following files in core that contain "Hawkular":

* lib/active_metrics/connection_adapters/hawkular_metrics_adapter.rb
* app/models/middleware_performance.rb
* app/models/middleware_server.rb
* app/models/middleware_datasource.rb
* app/models/middleware_messaging.rb
* app/models/container_node.rb

[2019-10-09 13:43] LennertMertens opened #19384 "[Bug] Rename VM option only available with all super_administrator privileges"
The option to rename a VM is only available for users who have full rights, from the moment that I revoke one right which has nothing to do with the rename VM option, the "Rename VM" field disappears from the configuration menu. In the screenshot below is an example of when the option is unavailable to the user.

![image](https://user-images.githubusercontent.com/25921736/66486601-3e79fd00-eaab-11

[2019-10-10 11:46] hstastna commented on #18734
@lpichler UI part finally merged ;)

[2019-10-10 13:10] #18734 closed

[2019-10-10 15:41] agrare commented on #14840
https://github.com/ManageIQ/manageiq/pull/16162 should be a good first pass on getting hard-coded model names from providers out of core/ui

[2019-10-11 13:53] Fryguy opened #19390 "Replace zanata stuff with transifex"
- [ ] badges in READMEs
- [ ] zanata.xml generator

[2019-10-11 20:20] vinii8817 opened #19392 "Tags, owner and tenancy"
Having trouble with tags and multi tenancy. I followed this without success

https://cloudformsblog.redhat.com/2016/10/13/using-tags-for-access-control/

Step 1: add value to Customer tag
Step 2: create tenant and assign customer tag
Step 3: copy role (copy operator and do NOT select access restriction for user or group). Permission to view vm is enabled
Step 4: create group and associate with new

[2019-10-14 13:52] kruge002 opened #19396 "At least one snapshot has to be active to create a new snapshot for this VM"
When trying to create a snapshot for a VMware VM we sometimes see the following error message: "At least one snapshot has to be active to create a new snapshot for this VM". The error is raised in the following code fragment:
[code]
Creating a new snapshot should be possible independent of another snapshot having the “currentSnapshot” property set.

Reference:
http://talk.manageiq.org/t/at-least-o

[2019-10-14 22:43] NickLaMuro commented on #14840
@agrare / @juliancheal So I gave this a bit more thought since last week, and here are a few items I think could be added to this list:

- Gemify `PostgresAdmin`
- Bring back mounting code in to "core"
- A "core gem"
- Third-party plugin support (without bundler?)

The first two are items related to the database backup work I did last summer, and specifically with the mounting code, there are piec

[2019-10-16 16:32] chessbyte commented on #18999
@jvlcek bump

[2019-10-16 16:33] chessbyte commented on #18655
@aabeigh is it possible for you to retest with the Ivanchuk release?

[2019-10-16 16:40] chessbyte commented on #18718
@skateman @simaishi what is the status of this?

[2019-10-16 16:41] chessbyte commented on #18605
@nikobo is it possible to retest with Ivanchuk release?

[2019-10-16 16:43] chessbyte commented on #18470
@codeman65 @carbonin with the reimplementation of embedded Ansible in the Ivanchuk release, is this still an issue?

[2019-10-16 16:44] simaishi commented on #18718
In master and ivanchuk branches, released in `ivanchuk-1`, closing.

[2019-10-16 16:44] #18718 closed

[2019-10-16 16:44] chessbyte commented on #18465
@Wusa19 can you retest with the Ivanchuk release?

[2019-10-16 17:20] jvlcek commented on #18999
I propose this issue be closed as `Will Not Fix`. Although removing the overhead of the extra transactions would slightly improve performance they do not negatively effect the basic functionality and ManageIQ LDAP is being deprecated in favor of external authentication with SSSD.

[2019-10-16 17:21] jvlcek commented on #18999
@chessbyte I do not have privileges to close this. Can you please do it?

[2019-10-16 17:49] chessbyte commented on #17344
@skateman just tried reproducing locally from master, and I do not see a Client Connections tab.

[2019-10-16 17:53] chessbyte commented on #17583
@Ladas @agrare @Fryguy what is the status of this issue?

[2019-10-16 17:56] skateman commented on #17344
True, we no longer have this tab. closing

[2019-10-16 17:56] #17344 closed

[2019-10-16 17:56] chessbyte commented on #17274
@carbonin can you take a look at this?

[2019-10-16 18:05] Ladas commented on #17583
All the blockers have been fixed and the integration with ansible-runner is in production for a while.

I am not sure if if ever used the async version, @agrare you did the worfklow for long running jobs without it I think?

In any way, I think this can be closed now. Feel free to reopen if needed (maybe opening new issue for the remaining issues if needed)

[2019-10-16 18:44] chessbyte commented on #16678
@himdel since we changed the implementation of Embedded Ansible in the Ivanchuk release, would you please re-test once again.

[2019-10-16 18:46] chessbyte commented on #13888
@kbrock what is the status of this issue?

[2019-10-16 18:53] chessbyte commented on #18098
@tinaafitz @mkanoor any feedback on this suggestion?

[2019-10-16 18:54] chessbyte commented on #7990
@kbrock do you know the status of this?

[2019-10-16 18:56] chessbyte commented on #18222
@juliancheal @NickLaMuro what is the status of this issue?

[2019-10-16 18:57] chessbyte commented on #18275
@asanami is it possible to retest this with the Ivanchuk release where embedded Ansible was re-implemented?

[2019-10-16 18:58] chessbyte commented on #18321
@bdunne any progress on this?

[2019-10-16 19:01] NickLaMuro commented on #18222
@chessbyte Unsure.  I was just commenting previously regarding a deprecation warning PR that I opened and was in potential conflict, but I didn't have an idea on the general plan for this effort.

[2019-10-16 19:02] chessbyte commented on #13401
@martinpovolny should this issue be moved to the ManageIQ/manageiq-ui-classic repo?

[2019-10-16 19:04] chessbyte commented on #17338
@jrafanie can you look into this issue

[2019-10-16 19:06] chessbyte commented on #3197
@lgalis @h-kataria is this a lot of work to complete on ui side?

[2019-10-16 19:07] chessbyte commented on #5547
@h-kataria @carbonin how much work is it to implement a solution to this issue?

[2019-10-16 19:10] juliancheal commented on #17338
@chessbyte @jrafanie I think the last few issues from stopping us updating to 5.2 is https://github.com/ManageIQ/activerecord-virtual_attributes/pull/39

[2019-10-16 19:10] chessbyte commented on #18138
@d-m-u what is the status of this issue?

[2019-10-16 19:11] chessbyte commented on #18130
@agrare can you chime in on this?

[2019-10-16 19:13] chessbyte commented on #18423
@gtanzillo who can review this issue?

[2019-10-16 19:15] chessbyte commented on #18725
@tjyang can you revalidate with the Ivanchuk release where embedded ansible was re-implemented.

[2019-10-16 19:16] juliancheal commented on #18222
@chessbyte #18165 needs rebasing, then I think that should be good to go. Next we need to change the schema, I closed the two PRs I had on @Fryguy's advice. I need to double check with him, but I think the plan was to simply rename the column.

[2019-10-16 19:17] gtanzillo commented on #18423
I'll see it I can recreate the reported behavior

[2019-10-16 19:17] chessbyte commented on #18440
@zegahome can you revalidate with Ivanchuk release?

[2019-10-16 19:19] chessbyte commented on #10300
@simaishi does this happen with the `systemd` integration that @agrare recently implemented?

[2019-10-16 19:21] chessbyte commented on #11272
@h-kataria @martinpovolny should we move this issue to the manageiq-ui-classic repo?

[2019-10-16 19:22] chessbyte commented on #14950
@martinpovolny @h-kataria should this issue be moved to the manageiq-ui-classic repo?

[2019-10-16 19:22] chessbyte commented on #8561
@simaishi @Fryguy @carbonin still an issue?

[2019-10-16 19:26] chessbyte commented on #18517
@abellotti any ideas?

[2019-10-16 19:29] chessbyte commented on #14244
@skateman @martinpovolny @Fryguy @bdunne @AllenBW where did we end up with this discussion?

[2019-10-16 19:30] chessbyte commented on #10021
@martinpovolny should this issue be moved to the manageiq-ui-classic repo?

[2019-10-16 19:31] chessbyte commented on #18100
@lpichler @kbrock @Fryguy bump

[2019-10-16 19:32] chessbyte commented on #18924
@h-kataria should this be moved to the manageiq-ui-classic repo?

[2019-10-16 19:33] chessbyte commented on #13564
@Fryguy any updates?

[2019-10-16 19:34] chessbyte commented on #10178
@bdunne still an issue?

[2019-10-16 19:34] chessbyte commented on #6991
@Fryguy any update on this old issue?

[2019-10-16 19:36] chessbyte commented on #14818
@martinpovolny any update on this issue?

[2019-10-16 19:45] simaishi commented on #18197
We no longer build appliances for `hammer` branch and dropped OVA support for oVirt in `master` and `ivanchuk` (https://github.com/ManageIQ/manageiq-appliance-build/pull/354). Closing.

[2019-10-16 19:45] #18197 closed

[2019-10-16 19:48] agrare commented on #10300
Anything is possible but most likely not, the systemd work went in in May '19 most of these reports are from before that and the systemd ruby gems aren't installed by default.

[2019-10-16 19:50] chessbyte commented on #2735
@martinpovolny @h-kataria is this still a valid issue?  if so, should we move it to `manageiq-ui-classic` repo?

[2019-10-16 19:58] rnunez-ws commented on #18423
Hi

Thank you for having a look at this issue, but we are moving to I release. :-)

Best Regards

[2019-10-16 20:11] gtanzillo commented on #18423
Hi @rnunez-ws, thanks for letting me know. I was planning on using the latest master to try to recreate, that would be the I release with some additional changes.

Also, regarding the log messages showing that the end is before the start time, that could be due to a time sync issue if you are running on more than one appliance. The start time is calculated [here](https://github.com/ManageIQ/manage

[2019-10-16 20:22] simaishi commented on #10300
I'm not sure exactly what changes with the systemd work that was done... Would it change how we start evmserverd?  Based on the logs I saw, it looked like `evmserverd` service was enabled but not started at all.

[2019-10-16 20:52] agrare commented on #10300
@simaishi short summary, we can configurably use systemd to start and manage miq_worker processes rather than miq_server/worker_management.  There is a config setting for this and the main evmserverd.service file is not impacted

[2019-10-16 21:14] martinpovolny commented on #19110
To move forward before we decide on some redesign:

In the API it is possible for each action to give e LIST of RBAC features. And if ANY of the list is enabled for the role, then the API action is available.

In your example:

[code]

That would mean that in the API in where `rbac_user_show_list` or `rbac_group_show_list` are used we would add `vm_edit`.

You can see this already used in places.

[2019-10-16 21:16] martinpovolny commented on #19110
@abellotti : please, chime in, if I am not being a good apprentice ;-)

[2019-10-16 21:27] martinpovolny commented on #2735
It's a valid RFE. But unless it will come from the product management or someone from the community wants to work on this. It's a very low priority.

I am closing the issue.

[2019-10-16 21:27] #2735 closed

[2019-10-16 21:31] martinpovolny commented on #14818
Significant backend work is needed so that the UI could subscribe to changes in particular entities and collections based on where in the UI one is located and what permissions one has.

W/o that the UI has no other way to detect changes than to poll.

With this, the information about changes could come via the websocket w/o polling and the UI could reload only what is needed and when it is needed

[2019-10-16 21:33] martinpovolny commented on #10021
yes

@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2019-10-16 21:34] #10021 closed

[2019-10-16 21:37] martinpovolny commented on #11272
@miq-bot: move_issue ManageIQ/manageiq-ui-classic

[2019-10-16 21:38] #13401 closed

[2019-10-16 22:21] d-m-u commented on #18138
Closing because we never ran into this again.

[2019-10-16 22:21] #18138 closed

[2019-10-16 23:55] martinpovolny commented on #14950
Yes and no. But probably no ;-)

It a global search function is what is requested, one that would search in everything, then this is a core issue to start with. There's no such functionality that the UI could use neither in core nor in the API.

If the request is really to add a search on the top and just search for VMs then it does not make sense to me and we should close it

[2019-10-17 06:59] skateman commented on #19110
Well, if I understand your proposal correctly, it is way too complicated and requires a lot of duplication. I agree that it's cheap, but think about the maintenance and the big risk of errors.

[2019-10-17 12:35] martinpovolny commented on #11272
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2019-10-17 12:36] #11272 closed

[2019-10-17 12:39] martinpovolny commented on #19110
Is it?

[code]

Looks like 5 lines of config file at most to me vs 3 lines of config file in your case (+ the necessary code changes).

Am I missing something?

We can also keep adding those to a list or even in the `miq_features.yml` to it a better way once we agree on it and have the cycles for a more systematic solution.

[2019-10-17 13:00] skateman commented on #19110
Yeah, let's talk about it when you're back...

[2019-10-17 14:22] #19390 closed

[2019-10-17 20:17] bdunne commented on #10178
It hasn't been fixed yet.

[2019-10-17 20:32] bdunne commented on #8561
I don't think we need createrepo in either upstream build.
We may be able to remove freeipmi / openipmi  / ipmitool since I think we dropped support for IPMI power ops on hosts. <- @gmcculloug
lshw and telnet sound like debugging tools that may make sense on an appliance, but I don't think they make sense for a container.
cloud-init and openscap-scanner should not be on the container.
wmi I'm not

[2019-10-17 20:33] bdunne commented on #8561
Maybe @abellotti or @jvlcek can comment on the auth packages

[2019-10-17 20:34] simaishi commented on #8561
Since it's been over 3 years since that original list was created, I'll update the list with current RPMs used in the container and appliances.

[2019-10-17 20:36] bdunne commented on #18321
No progress yet.  I added the help wanted label in case someone else has time to pick it up

[2019-10-17 21:13] kbrock commented on #18100
I was never thrilled with the idea of having dynamic filters. Especially when it looked like a pure tenant scoping/nesting pattern

[2019-10-17 21:15] kbrock commented on #13888
@chessbyte the indexes look incomplete.

I could add all of these (except `event_streams` - those indexes would be too expensive if it was wrong).

I unfortunately don't have a way of knowing if these indexes help all customers, or even hurt some

[2019-10-17 21:44] gmcculloug commented on #8561
For IPMI we still support the collection of IPMI settings on a Host
![image](https://user-images.githubusercontent.com/2591569/67049960-6d285100-f105-11e9-800c-405794c3c8f1.png)

and the code can reference it during power operations: https://github.com/ManageIQ/manageiq/blob/master/app/models/host.rb#L369

WMI still has some code in place, no idea if this feature is still used: https://github.com/

[2019-10-18 12:49] jvlcek commented on #8561
@abellotti Please correct me if I am wrong but I believe the below list of authentication related packages are used by the  **_httpd_configmap_generator_** and the **_container-httpd_** pods

net-snmp
net-snmp-libs
net-snmp-utils
ipa-client
sssd-dbus
realmd
ipa-admintools
sssd
mod_auth_mellon

[2019-10-18 12:57] simaishi commented on #8561
Note this issue was opened when we had monolithic image only, no podified. Now that we have both, we want to review what should be in monolithic and what should be in podified (across all images used).

[2019-10-18 13:08] juliancheal commented on #18222
@chessbyte All PRs rebased, schema pr re-opened. Just waiting for merges whenever @Fryguy is ready I guess :) Happy Friday.

[2019-10-18 17:51] Loicavenel commented on #14950
@martinpovolny I think the value will be able to searh in all these categories:
- Infra Entities Name
- Cloud Entities Name
- Storate and Network entities Name
- Play books Name
- Policy and Profile Name
- Report Name
- Widget Name
- Schedule Name
- Catalog Item and Bundle Name

I am sure I am missing some..

And show the result break by category

[2019-10-18 20:02] chessbyte commented on #19317
@Sdesik1 also see https://github.com/ManageIQ/manageiq/issues/19233#issuecomment-528018220 for more suggestions on building a provider

[2019-10-19 03:26] tjyang commented on #14950
My original request is quite simple and it is from sysadmin(end-user) perspective.
I want to be able to do a regular expression search on hostname.
I like to find WHERE(which provider) is hostname like linuxDB01.
The search result should bring out MIQ  connected  provider  pages like Azure,AWS,OpenShift, OpenStack,VMWare,xClairty..

[2019-10-19 11:13] Loicavenel commented on #14950
@tjyang it is possible today if you go to "Service>Workload"

[2019-10-19 16:09] MohanrajBabu opened #19419 "Unable to map ManageIQ container port 443 to docker host public IP."
Hello,

Used the document - https://www.manageiq.org/docs/get-started/docker in downloading and running manageiq as a container.

Its a remote server without GUI in it. So map host IP to container port like below.

[code]

When I try to access the  host ip: 8443, getting unable to connect message in the browser.

Netstat shows port is listening correctly.
[code]
Even stopped running firewalld, sti

[2019-10-21 14:24] agrare commented on #18130
Actually I dont' think this is VMware specific, I think it is just duplicated

`virtual_aggregate :total_memory, :hosts, :sum, :ram_size` from [`ext_management_system.rb +231`](https://github.com/ManageIQ/manageiq/blob/master/app/models/ext_management_system.rb#L231)

And
[code]

From [`mixins/aggregation_mixin/methods.rb +17`](https://github.com/ManageIQ/manageiq/blob/master/app/models/mixins/agg

[2019-10-21 14:27] himdel commented on #18130
Makes sense, thanks :)

Still, having 2 entries in the report menu is suboptimal, any chance we could get rid of one of those attributes?

[2019-10-21 14:29] agrare commented on #18130
Yes absolutely, working on that now

[2019-10-21 14:30] agrare commented on #18130
cc @kbrock

[2019-10-21 14:32] kbrock commented on #18130
dropping the delegate makes the most sense
ASSUMING that we update the reports to act accordingly

[2019-10-21 15:22] himdel commented on #16678
None of those methods exist anymore.

But, I'm currently seeing these authentication types:

[code]

None of `ansible_rabbitmq_auth`, `ansible_admin_password`, `ansible_database_password`, `ansible_secret_key` appear anywhere in the code.

So, I would guess that this is irrelevant to the new implementation but we still need a migration to remove the old authentications.

@NickLaMuro WDYT?^

[2019-10-21 17:51] h-kataria commented on #5547
@carbonin i looked into this a bit, we need a way to link a modified version of https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/views/ops/_all_tabs.html.haml on downstream. Is there way to keep an upstream copy in the manaiq-ui-classic repo and overwrite it with a modified version from productization repo for downstream?

[2019-10-21 17:56] agrare commented on #18428
This got me thinking, currently we serialize VimStrings into ems_ref_obj (e.g. `"--- !ruby/string:VimString\nstr: vm-121\nxsiType: :ManagedObjectReference\nvimType: :VirtualMachine\n"`).  We do this because just the model_class and ems_ref isn't enough to know what the exact underlying type is (e.g. EmsCluster could be a `ComputeResource` or a `ClusterComputeResource`)

What we really need is the

[2019-10-21 18:12] Fryguy commented on #18428
We could also just possibly fit it into the ems_ref column directly with some parsable format

[2019-10-21 18:22] h-kataria commented on #18254
@sachinjagtap41 this is working as designed. After a filter or search is applied to list of objects it remembers and loads the same results upon revisiting the screen. You can click on little "x" link in the search box and hit enter to remove the previous search results and reset list view to show All records.

[2019-10-21 18:22] #18254 closed

[2019-10-21 18:23] h-kataria commented on #18924
@chessbyte this needs to be handled/fixed in model code.

[2019-10-21 18:24] agrare commented on #18428
Yeah it is pretty common for code interacting with VMware to use `managed_object_class:managed_object_reference` e.g. `VirtualMachine:vm-123`.  It is extremely handy because then the ems_ref is standalone unique for all objects across the entire ext_management_system.

I think that would be difficult for us to update to, we'd have to find all of the places in the code where we use ems_ref to inter

[2019-10-21 19:29] h-kataria commented on #18253
@sachinjagtap41 this is working as designed, it is supposed to remember the last active object user was viewing before they navigated to a different area of the product and reload that back when user returns back to the same screen.
Closing this issue, let me know if you have further questions.

[2019-10-21 19:29] #18253 closed

[2019-10-21 19:51] h-kataria commented on #3197
@hstastna Please have a look at this, we can discuss once you start working on this. My thoughts are for
1. We should add a new column `template_valid?` in the list view to display whether the item/bundle is valid or not.
2. We should display the Note on the Item/bundle details view, if the item is invalid.
3. We should make Order button disabled for any invalid items with a hover text, that's bei

[2019-10-21 19:53] h-kataria commented on #3197
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2019-10-21 19:55] #3197 closed

[2019-10-22 15:53] lpichler commented on #18100
It doesn't look to me like that we can do it with using any scoping because the request is to have possibility to set product feature for selected tenants.
so it is connection between tenancy and product features.
it adds another type of rule for RBAC and maybe the product features for this is not optimal but doable.

@kbrock does this cover your questions ?

[2019-10-22 15:55] chessbyte commented on #5547
@martinpovolny maybe you have some suggestions

[2019-10-22 16:08] chessbyte commented on #19316
@Sdesik1 Closing due to inactivity.  Feel free to re-open with more information.

[2019-10-22 16:08] #19316 closed

[2019-10-23 19:20] carbonin commented on #17872
Looks like a UI problem. Moving to the UI classic repo.

@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2019-10-23 19:21] #17872 closed

[2019-10-24 17:04] simaishi commented on #10300
@carbonin I was able to reproduce this issue using ivanchuk-1 vagrant image and can confirm calling `enable` with `--now` option in LinuxAdmin fixes the issue (rather than calling `enable.start`).

Can you please take a look and fix this properly? (My "fix" works only for testing as I just duplicated `enable` method and added `--now` option 😄)

Thanks to the chat we had this morning... that gave m

[2019-10-24 20:49] djberg96 opened #19431 "[RFE] Use formal interfaces"
Will update this as new ideas, thoughts, etc, pop into my head or are brought up in followup discussion.

Recently https://github.com/ManageIQ/manageiq/pull/19429 came up, and I was reminded why I think we need to consider using formal Java-style interfaces.

For those unfamiliar, an interface is essentially a contract enforced in code that a given class will implement a certain set of methods. Th

[2019-10-25 13:54] #13888 closed

[2019-10-25 14:00] tjyang commented on #14950
@Loicavenel , thanks for the pointer on using Service->Workload

Followings are two UI element of [Adagios ](https://github.com/opinkerfi/adagios) using Django framework.  Hoping RoR framework can do the same.

-  P1: Global Search box on MIQ home page(top menu).

![image](https://user-images.githubusercontent.com/378638/67576600-7c5e5e80-f704-11e9-8efe-f13e7a30a3e2.png)

- P2:  Popup menu box aft

[2019-10-25 14:30] evertmulder opened #19434 "[Bug] server_settings_replicator fails to update setting"
I am trying to replicate the company setting to all other instances, but this fails

[code]

I get the following exception:
[code]

[2019-10-25 19:46] jrafanie commented on #12819
updating the issue with some attempts with rhel8/centos8:

jemalloc 5.2.1 is available with the OS update so I'm going to try it again.

Had to hack a powertools repo installation only for super insecure dev testing on RHEL8:
[code]

This should work on centos8:
[code]

You can then install libyaml-devel
[code]

You can then build/install ruby using ruby-install:

[code]

[code]

[2019-10-27 22:31] kbrock commented on #18100
@lpichler I don't fully understand why it wouldn't work, but I'll trust your expertise.

What more do we need to do with this PR?

[2019-10-28 21:27] agrare opened #19440 "Pluggability Checklist"
This is an ongoing list of items which need to be extracted out of core repos (manageiq, manageiq-api, manageiq-ui) and into plugins.

A continuation of https://github.com/ManageIQ/manageiq/issues/14840

## Specs
- [ ] Provider subclasses in factories - e.g. vm_amazon, vm_vmware in https://github.com/ManageIQ/manageiq/blob/master/spec/factories/vm_or_template.rb
  These factories should be moved t

[2019-10-28 21:27] agrare commented on #19440
cc @Fryguy @chessbyte

[2019-10-28 21:29] agrare commented on #14840
As a lot of progress has already been made and we are starting another round of pluggability, I am going to close this issue and start a new one that represents the current state of pluggability a little better, please move any further discussion to https://github.com/ManageIQ/manageiq/issues/19440

[2019-10-28 21:29] #14840 closed

[2019-10-29 12:50] juliancheal commented on #19440
One thing @agrare is removing the need to check `node_types` i.e. `"nodes" (openstack) or "hosts" (non-openstack)` for instance here https://github.com/ManageIQ/manageiq/blob/master/app/models/host.rb#L1722-L1744

[2019-10-29 13:25] lodgenbd commented on #19392
@vinii8817
I didn't see in your list of steps where you assigned the tag to the group (your step 4), you said you only associated it with the new role and tenant. Did you assign the tag to the group? In the doc you linked, that is covered under the "Assigning a tag to an object" section.

[2019-10-29 13:31] lodgenbd commented on #19363
I wonder if this is related to #19384

@agrare (sorry to mention you specifically, but what's the normal protocol when something critical to usage has been sitting for 26 days? Not complaining, I understand this isn't a paid support system, just curious if there is something I should be doing differently or just wait?)

[2019-10-29 13:41] agrare commented on #19363
cc @gtanzillo

[2019-10-29 13:43] agrare commented on #19363
Hey @lodgenbd !  It really isn't great that no one noticed this and I'm sorry about that.  Best thing to do would be to post this in the Gitter room which would be more likely to get noticed.

Not many people subscribe and read all of the ManageIQ/manageiq notifications, it is like drinking from a firehose, but we should look at new issues as there are typically far fewer of those than pull reques

[2019-10-30 12:25] agrare commented on #19440
That's a good one @juliancheal, we can probably just drop the `title_for_host` and `title_for_clusters` methods in the UI then those methods aren't needed at all

[2019-10-31 13:51] agrare commented on #19396
@gmcculloug I know it was a long time ago but do you happen to remember why this was added?

[2019-10-31 16:58] Fryguy commented on #19440
I had spoken to @chessbyte about that with respect to his EmsCluster changes (see [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_cluster.rb#L319-L341)), and we came up with 2 possibilities

- Drop the "feature" entirely
- If we really need the feature, then one way to do it pluggably is to make the display_name method on the class deal with it.  That is, the base display_na

[2019-10-31 17:10] agrare commented on #19193
This fix is included in the latest stable release, I'm going to close this.  Please re-open if you continue to see this on the stable ivanchuk release

[2019-10-31 17:10] #19193 closed

[2019-11-01 08:26] keuko commented on #19193
Thank you guys for excellent support :)

[2019-11-01 14:48] gmcculloug commented on #19396
@agrare I do not recall off the top of my head.  I will spend a little more time digging into the history.

[2019-11-04 11:59] fdupont-redhat opened #19454 "[V2V] VM migration logs extraction"
As a Migration user, I'd like to be able to download the ManageIQ log messages for a specific VM, in order to have all the logs for that specific migration process. We already are able to download Ansible logs (pre/post), as well as virt-v2v and virt-v2v-wrapper. The only log messages that we don't collect are the ones generated by ManageIQ.

The initial approach (https://github.com/ManageIQ/manag

[2019-11-04 21:48] gmcculloug commented on #19396
@agrare @kruge002 I traced the message `At least one snapshot has to be active to create a new snapshot for this VM` back to May of 2008 but it is unclear why it was originally added.

[2019-11-05 14:14] #19396 closed

[2019-11-05 21:09] Fryguy commented on #19170
This seems to be working on hammer-7+.  If you continue to have an issue, please reopen.

[2019-11-05 21:09] #19170 closed

[2019-11-05 21:11] Fryguy commented on #19198
@jrafanie This falls into your bundler groups work.  If you want to close in favor of some other issues you have open, please feel free.

[2019-11-05 21:11] Fryguy commented on #19233
@ashiq54689 I am going to close this issue as it could be a while before this is completed.  Please feel free to reopen if you create a plugin.

[2019-11-05 21:11] #19233 closed

[2019-11-05 21:12] Fryguy commented on #19317
@Sdesik1 I am going to close this as it could be a while before this is worked on.  If you end up creating this plugin, please feel free to reopen. Thanks!

[2019-11-05 21:12] #19317 closed

[2019-11-05 21:15] Fryguy commented on #19363
@gtanzillo Can you look into this?

[2019-11-05 21:15] Fryguy commented on #19384
@gtanzillo Can you look into this one?

[2019-11-05 21:16] Fryguy commented on #19392
@gtanzillo Can you look at this one?

[2019-11-05 21:17] Fryguy commented on #19419
@carbonin Can you look into this one?  cc @simaishi

[2019-11-05 21:20] Fryguy commented on #19434
@jrafanie Assigning to you as you were working through the PR.

[2019-11-05 21:21] Fryguy commented on #19454
Additionally, in the Jansa release, we will be implementing log aggregation, ideally with an http gateway to the logs.  In this way you can slice and dice the logs however you need.

[2019-11-05 21:24] carbonin commented on #17274
After #19463 is merged this should work for the most part. The only issue I was still having was that `httpd` might not start sometimes, but I was able to exec into the container and start it to get the UI accessible.

I think the issue is that even if you wait for the server to stop cleanly the other processes in the container will be killed uncleanly which I feel like is what's causing the issue

[2019-11-05 21:27] carbonin commented on #19419
@MohanrajBabu can you get a process list from inside the container? `docker exec ac64279b7199 ps -leaf --forest`

I was having some issues recently with httpd not starting in the container.

[2019-11-06 08:52] Nadkine opened #19465 "Second selection of tag in Tag control fails"
In our portal we experience an issue with the tag control fields in the dialogs. When the user chooses a tag for the first time, it works as expected. However, when a value is selected for the second time, the value beneath the chosen tag is consistently selected by ManageIQ (images provided below for clarity). Is this a known issue? How can this be solved?

![image](https://user-images.githubuser

[2019-11-06 16:29] #17274 closed

[2019-11-06 16:34] chessbyte opened #19469 "Refactor VmScan for Pluggability"
Creating this issue to describe the current flow in the [VmScan code](https://github.com/ManageIQ/manageiq/blob/master/app/models/vm_scan.rb), decide on refactoring approach, and track all the PRs that relate to this.

- [x] Make `VmOrTemplate#require_snapshot_for_scan?` method [pluggable](https://github.com/ManageIQ/manageiq/pull/19482)
- [x] Create `VmOrTemplate.scan_timeout_adjustment_multiplie

[2019-11-06 16:35] chessbyte commented on #19440
Created https://github.com/ManageIQ/manageiq/issues/19469 for refactoring VmScan code.

[2019-11-06 17:09] carbonin opened #19471 "Make monolithic container standalone"
Right now if a developer wants to build a new container image with some code change they would need to build 5 container images (`manageiq-base`, `manageiq-base-worker`, `manageiq-webserver-worker`, `manageiq-ui-worker`, and `manageiq`) to get an updated monolithic image (`manageiq/manageiq`).

To simplify this, we could de-couple the image in this repository from the ones in `manageiq-pods`, but

[2019-11-06 20:10] tjyang opened #19474 "[RFE] Support TimescaleDB backend"
Taking inspiration from zabbix monitoring software's recent advance(See R1), it will be great if miq can also delete metrics records over a set period of time(assumed one year old).

R1: https://blog.zabbix.com/zabbix-time-series-data-and-timescaledb/6642/

[2019-11-07 14:55] Nadkine opened #19478 "Session expires when changing groups"
We experience problems when a user tries to change groups. After selecting the group, the user briefly gets a warning message, containing the message that the user will be logged out and redirected to the login-page. After his, he gets the error message that the session was timed out due to inactivitiy. Is this a known issue?

![image](https://user-images.githubusercontent.com/24387870/68399351-8e

[2019-11-07 19:13] h-kataria commented on #19478
@Nadkine this issue should have been fixed by https://github.com/ManageIQ/manageiq-ui-classic/pull/6325 , Are you running latest version, please provide the version details?

[2019-11-07 20:33] chessbyte commented on #19469
Current State Machine logic in VmScan.

State | Signal | Next State | Method | Provider-Specific
----- | ------ | -------- | ---------- | -----------------
initialize | initializing | waiting_to_start | dispatch_start | NO
waiting_to_start | start | wait_for_policy | call_check_policy | NO
wait_for_policy | start_snapshot | snapshot_create | call_snapshot_create | YES
snapshot_create | broker_unav

[2019-11-08 11:58] skateman opened #19483 "Service dialog serialization and performance"
The current schema for dialogs is being pulled from multiple tables (`Dialog`, `DialogTab`, `DialogGroup`, `DialogField`) and its searialized into a single structure using classes inherited from `Serializer`. The relations between the tables are always 1:1, i.e. the fields are not shared among groups, groups among tabs and so on. The serialization process goes through all the relationships under a

[2019-11-08 14:16] djberg96 opened #19484 "Ansible runner spec failures on master"
RHEL 8 laptop
ruby 2.5.7p206 (2019-10-01 revision 67816) [x86_64-linux]

I'm seeing some ansible spec failures on master:
[code]

I don't show any python related environment variables in my setup:

`> printenv | grep -i python # => nothing`

[2019-11-08 14:17] djberg96 commented on #19484
@miq-bot assign @NickLaMuro

[2019-11-08 14:41] tjyang commented on #18725
@chessbyte
Sorry for the late response. I will try it in my test lab.

[2019-11-08 14:47] tjyang commented on #14950
Hi @mfeifer and @Loicavenel

How about for now just move/link search box from  "Service>Workload" to the top menu  ?

![image](https://user-images.githubusercontent.com/378638/68485095-3cb76c80-0204-11ea-8cff-7ad5a50ac7fe.png)

[2019-11-08 15:22] Fryguy commented on #19469
I mentioned this over in https://github.com/ManageIQ/manageiq/pull/19482, but IMO we shouldn't have snapshot logic as part of the state machine at all.  Instead, there should be a "pre" and "post" callout that the providers can override.

Alternately, if we leverage subclasses, then a `VmWareVmScan < VmScan` could override the parts of the base state machine to extend as necessary.  This is what w

[2019-11-08 17:27] NickLaMuro commented on #19484
@djberg96 since I don't have a RHEL machine, can you run this patch:

https://github.com/ManageIQ/manageiq/compare/master...NickLaMuro:fix_ansible_runner_spec_on_rhel.patch

And tell me if it is working?

[2019-11-08 17:41] djberg96 commented on #19484
@NickLaMuro Looks like it worked!

[2019-11-11 13:10] Nadkine commented on #19478
This linked issue indeed contained the changes that fixed our problem. Thanks!

[2019-11-11 13:10] #19478 closed

[2019-11-11 22:40] #19484 closed

[2019-11-11 23:01] gtanzillo commented on #19392
@vinii8817 Also check the tenant of the VM in question. If the VM is in a different tenant than the user (based on his group) the user would not be able to see the VM unless the other tenant is a child tenant of the user's tenant.

You can check this by looking at the VM summary page or the rails console with this command -
[code]

[2019-11-12 14:45] tjyang commented on #18725
* prework
[code]
* log in evm.log
[code]

* no container started
[code]

[2019-11-12 15:18] carbonin commented on #18725
@tjyang in Ivanchuk we don't use awx anymore. So we don't expect any containers to be running. In fact I think docker won't even be present on future builds.

You should be able to add repos and run playbooks without waiting for any containers to come up.

[2019-11-12 16:56] tjyang commented on #18725
closing this ticket since it is no longer valid.

[2019-11-12 16:56] #18725 closed

[2019-11-12 18:19] jrafanie commented on #19198
@bekasovoleg have you tried putting the provider gem(s) into an optional group, like [this](https://github.com/ManageIQ/manageiq/blob/a45d3534e7e023f5e8e561a4f5a899d626fb766b/Gemfile#L141-L148) and then use `bundle install --with GROUPNAME` to opt-in to installing those gems?

[2019-11-12 18:23] bekasovoleg commented on #19198
@jrafanie Miq does'n start if some group isn't installed

[2019-11-12 18:25] juliancheal commented on #19198
@jrafanie for reference https://github.com/ManageIQ/manageiq/pull/16162#issuecomment-337785136

[2019-11-12 19:30] jrafanie commented on #19198
I'm sure it's been fixed in over 2 years...  🤣

[2019-11-12 19:31] jrafanie commented on #19198
@bekasovoleg is it the issue Julian referenced or something else?

[2019-11-12 22:23] gtanzillo commented on #19384
I was able to recreate this behavior and determined that the necessary product feature `vm_rename` does not exist. It works for super admin because that user unconditionally is entitled to everything.

It looks like @harpreet already fixed this with https://github.com/ManageIQ/manageiq/pull/19456

[2019-11-13 06:20] bekasovoleg commented on #19198
@jrafanie looks like I have the same problem

[2019-11-13 13:16] fdupont-redhat opened #19501 "Add ability to manage VM credentials in CloudForms"
It would be great to add the ability in the admin interface to manage credentials for virtual machines. The business case is the support of hard drive encryption keys for Migration. These same encryption keys could also be used for SSA. And we can quickly expand the feature to authentication for Ansible. Different use cases may require different tabs in the UI, as it is done today for hosts.

RHBZ

[2019-11-13 19:54] Loicavenel commented on #14950
@tjyang it does not make too much sense as Search are contextual to the screen they are in

[2019-11-13 20:27] #17845 closed

[2019-11-13 22:05] carbonin commented on #16678
This is no longer an issue with the new ansible-runner based embedded ansible implementation.

[2019-11-13 22:05] #16678 closed

[2019-11-13 22:07] carbonin commented on #18465
This should be working with the new runner-based embedded ansible implementation. Closing as it was never re-tested by the reporter.

[2019-11-13 22:07] #18465 closed

[2019-11-13 22:08] carbonin commented on #18605
Closing this as embedded ansible has been re-implemented to remove the dependency on the awx images as of the ivanchuk release.

[2019-11-13 22:08] #18605 closed

[2019-11-13 22:10] carbonin commented on #18655
Closing this as embedded ansible is implemented using ansible-runner rather than the awx containers in the Ivanchuk release and the reporter has not responded.

[2019-11-13 22:10] #18655 closed

[2019-11-14 14:50] #18924 closed

[2019-11-14 16:19] Fryguy commented on #19483
cc @tinaafitz

[2019-11-14 16:21] Fryguy commented on #19501
cc @martinpovolny @himdel Thoughts here?

[2019-11-14 16:22] Fryguy commented on #19465
cc @himdel

[2019-11-14 16:23] Fryguy commented on #19501
cc @agrare ?

[2019-11-14 16:25] himdel commented on #19501
From the description, I have absolutely no idea what this actually means.

What kind of UI would we need and what would this be related to?
Are we talking about changes to some existing forms? (From the talk of "tabs" that sounds like provider edit form, but that doesn't seem to make sense for VMs.)
Or adding a new Credentials menu section?

So, the only though is that provider repos should contai

[2019-11-14 16:38] himdel commented on #19465
@Nadkine just to clarify, what is this form and how do I get there?

Is this somewhere in the UI?
Is this your service dialog? If so, can you share the dialog definition please? Is the tag control component set to multiselect or single value?

And, is this happening on master, or one of the earlier releases?

Thanks, will look into it :)

[2019-11-14 18:38] mfeifer commented on #19501
@terezanovotna has anyone spoken to you about this?

[2019-11-14 19:11] #19384 closed

[2019-11-14 19:36] fdupont-redhat commented on #19501
Yes. @terezanovotna is involved. We have a meeting on Nov 28 to talk about the user experience.

@himdel We need new dialogs, because currently there's no way to handle authentication for VMs.
And then, we need to be able to specify the authentication type: disk encryption, Cockpit, Ansible, etc... depending on the use case.

[2019-11-14 22:10] Fryguy commented on #19474
I considered this a long time ago to replace our metrics database entries.  While TimescaleDB itself it pretty awesome, it had some nuances to it that make it hard to use with our application.

I can't remember then offhand, but if I remember them, then I'll come back here and enumerate them.

This already happens via the purger

[2019-11-14 22:10] #19474 closed

[2019-11-15 09:45] Nadkine commented on #19465
The problems indeed regards the service dialog in de UI. Below some screenshots are provided of the service dialog definition and of the configuration of the tags we use. The version we use is the latest release one (ivanchuk-1). If you got any more question, im glad to answer them.

![image](https://user-images.githubusercontent.com/24387870/68933218-81a74a00-0794-11ea-9215-e768c4db8f91.png)

![i

[2019-11-15 13:01] seth-priya opened #19520 "manageiq build on Power Linux (ppc64le) platform"
Creating this issue to seek some help.

The bundle install command
bundle install --jobs=3 --retry=3 --path=${BUNDLE_PATH:-vendor/bundle}

is failing for me with the below error. I am able to successfully build sassc gem from source code after making changes in the source code from https://github.com/sass/sassc-ruby locally and the gem installs successfully. Is there a simple way to consume the lo

[2019-11-18 14:50] gubbe505 commented on #19465
This could possibly be fixed in this ui-components PR:
https://github.com/ManageIQ/ui-components/pull/427

[2019-11-19 10:29] chessbyte commented on #19471
@carbonin If we are working on a podified ManageIQ, why would we also need the monolithic container?  I thought the monolithic container was phase 1 on the way to the podified version.

[2019-11-19 10:32] martinpovolny commented on #19483
The DDF WYSIWYG editor looks great. It would be cool to move forward with this. It would allow us to drop a good deal of old Angular code.

[2019-11-19 10:45] martinpovolny commented on #19483
I do not think that we need to start with remodeling things. The JSON schema can be treated as a case of the serialized dialog.

Might be easier to approach it that way.

But we absolutely need to start by removing the dynamic parts from the schema. W/o that we cannot move forward.

[2019-11-19 14:10] simaishi commented on #19520
@seth-priya I think the only way to use .gem is to put it in `vendor/cache`. The alternative is to point sassc to your modified source (like your fork) using `:git =>` in Gemfile.

 cc @jrafanie since you might have other ideas

[2019-11-19 14:23] carbonin commented on #19471
I think we want to keep the monolithic container around as an easy way for people new to the project to try it out.

And that is exactly my logic behind separating the two. As we move forward with podified as a more production ready offeing, this image seems to serve a very different purpose so it makes sense for it to be completely separate in my mind.

[2019-11-19 16:26] jrafanie commented on #19520
@seth-priya First of all, it's awesome you have a possible fix for the sassc gem for powerpc.  I'm not familiar with the gem but we can probably offer suggestions on how we've had upstream changes accepted.

Regarding how to get manageiq to run with a custom gem that we depend on, we automatically pull in any gems you define in `.bundler.d/*`.  You might want to try something like the 4th example

[2019-11-20 02:39] Fryguy commented on #19520
I think number 3, the bundler.d direction with `override_gem` or `ensure_gem` might be your best bet for now...

In bundler.d/Gemfile.dev.rb (the filename can be anything you want, this is just an example)
[code]

Since `sassc` is a transient dependency (i.e. not in our Gemfile), for now you can't use `override_gem` due to [this bug](https://github.com/ManageIQ/bundler-inject/issues/11), but `ensu

[2019-11-20 14:48] Fryguy commented on #19471
Monolithic container is not phase 1 of podified.  It's a standalone build so someone can just `docker run` it, and as @carbonin said, to allow for a quick "try it in 30 seconds".  Not everyone who uses containers uses kubernetes.  In fact, I'm wondering if we should have perhaps a docker compose and/or docker swarm offering at some point as well

I've been on the fence about separate images becaus

[2019-11-20 15:29] carbonin commented on #19440
@agrare Does https://github.com/ManageIQ/manageiq/pull/19536 solve the worker definitions bullet or is that more complicated?

[2019-11-20 15:53] agrare commented on #19440
@carbonin that absolutely covers that case

[2019-11-20 16:23] himdel commented on #19465
Agreed @gubbe505 , @Nadkine looks like this issue is fixed now that ManageIQ/ui-components#427 is merged.

Are you able to test that change so that we can close this issue please?

(Also, I think we need a bugzilla ticket in order for the fix to be backported to ivanchuk.)

[2019-11-21 03:57] seth-priya commented on #19520
Thanks @jrafanie @simaishi @Fryguy I tried the last suggestion and the build completed successfully :) I am trying out the test cases now

Thanks for the help!

[2019-11-21 08:26] Nadkine commented on #19465
The solution proposed by @gubbe50 indeed fixed the problem. Thanks Gubbe!

[2019-11-21 10:20] himdel commented on #19465
@miq-bot close_issue

[2019-11-21 10:20] #19465 closed

[2019-11-21 11:39] chessbyte commented on #5547
@martinpovolny @h-kataria maybe there is a way we can compose https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/views/ops/_all_tabs.html.haml from different (conditionally included) files that would allow for differentiation between upstream/downstream and between multiple downstream builds.

[2019-11-21 14:35] d-m-u commented on #19363
Hey @lodgenbd, I'm looking into this, sorry for the delay. Any chance you could please tell me what version you're on?

[2019-11-21 16:28] agrare opened #19543 "Add queue_name to all ems_operations queue roles"
In order to allow providers to bring their own OperationsWorkers, we need to support a queue_name for all ems_operations type work.

Example: https://github.com/ManageIQ/manageiq/pull/19479, https://github.com/ManageIQ/manageiq/pull/19544

Parent issue: https://github.com/ManageIQ/manageiq-providers-vmware/issues/484

[2019-11-21 16:38] yrudman commented on #19363
I can not replicate error on 5.10 and 5.11, it looks ok - user can access "Edit Tags" under Policy for an instance without having the ```EvmRole-super_administrator``` role

[2019-11-21 18:40] Fryguy commented on #18255
There is no way to query for specific "types" of report at the moment.  Report IDs should not change though.

[2019-11-21 18:40] #18255 closed

[2019-11-21 19:11] carbonin commented on #18275
Closing this as this feature has been re-implemented and the EmbeddedAnsibleWorker no longer exists.

[2019-11-21 19:11] #18275 closed

[2019-11-21 20:22] agrare opened #19546 "Document VmOrTemplate operations methods"
Add documentation comments to all of the VmOrTemplate operations methods

[2019-11-22 10:59] fdupont-redhat opened #19548 "[RFE] Allow assigning a purpose to a network interface"
I would be good to be able to assign purposes to network interfaces, both on hosts and virtual machines. I already have two use cases in mind:

1. Ansible playbook - Use a specific NIC to connect to the managed object when running an Ansible playbook. This would prevent failure for managed objects with more than one NIC, given that the used IP address is the first one in the list of NICs. It would

[2019-11-22 14:54] agrare commented on #19548
:+1: for adding tagging to guest-devices.  I don't think we can generally identify a "purpose" for a NIC so allowing user to tag them would seem to be the best option.

Can you elaborate on this?  We should ideally link IP addresses to their NIC so multiple NICs shouldn't be an issue

[2019-11-22 15:04] #19361 closed

[2019-11-22 15:21] fdupont-redhat commented on #19548
I'm talking about the choice of IP address for the conversion host, because we have no way to know which one to use: https://github.com/ManageIQ/manageiq/blob/master/app/models/conversion_host.rb#L135-L138.

And that is the same for the pre/post migration playbooks: we use the first IP address of the VM: https://github.com/ManageIQ/manageiq/blob/master/app/models/infra_conversion_job.rb#L295.

Wit

[2019-11-22 17:30] agrare commented on #18428
Serialized `VMwareWebService/VimTypes` have been removed from the database, I'll start looking at the other references in core

[2019-11-22 18:19] agrare commented on #18428
https://github.com/ManageIQ/manageiq/pull/19551 removes MiqVimVm from Snapshot

[2019-11-22 23:49] NickLaMuro commented on #19440
@agrare This exists, which I am currently working on:

https://github.com/ManageIQ/manageiq-gems-pending/issues/403

Not sure where it fits into what you have at the moment.  Sorry it took me so long to figure the `git`-stuff out for that...

[2019-11-25 13:34] agrare commented on #19440
Awesome thanks @NickLaMuro, added to the list and linked to your issue.

[2019-11-25 15:59] NickLaMuro commented on #19440
For what it is worth, for the end goal of that ticket item:

That PR doesn't complete that, but just moves it back into the main repo via:

https://github.com/ManageIQ/manageiq/pull/19547

Moving the `swift` and `s3` parts to their respective provide repos is a different step all together, and figuring out how we make those "pluggable" is something I haven't quite figured out yet, and might requir

[2019-11-26 09:56] fdupont-redhat commented on #19548
@agrare for consistency in the tagging taxonomy, what would you recommend as category name? Is `purpose` fine?

[2019-11-26 19:52] Fryguy commented on #19440
This is one of those weird cases where even though it's S3, it's been argued that it doesn't belong in the amazon provider.  The reasoning is that someone could use S3 as a File Depot, without requiring an Amazon provider and vice versa.  This is sort of an independent pluggable thing.  I didn't think this way previously, but now I'm leaning more towards that way.

[2019-11-27 11:05] fdupont-redhat opened #19562 "[V2V][RFE] Distribute conversions across VMware hosts"
Currently, we know that VMware hosts have a limit in the number of concurrent disk transfers they can handle: about 20. Knowing that, we should distribute the conversions across the VMware hosts to maximize the overall number of concurrent conversions.

This could be done by migrating (Vm.migrate) the virtual machine to another eligible host so that all hosts share the load. We should also conside

[2019-12-03 10:44] seth-priya commented on #19520
I found this https://github.com/sass/sassc-ruby/issues/146 and it essentially means that the gem can be installed (on ppc64le as well) by using the below command

gem install sassc  -- --disable-march-tune-native

# gem install sassc  -- --disable-march-tune-native
Building native extensions with: '--disable-march-tune-native'
This could take a while...
Successfully installed sassc-2.2.1
Parsing d

[2019-12-03 10:53] seth-priya commented on #19520
and once I have the sassc gem installed / pre-installed on the system, manageiq bundle install completes successfully as well!

[2019-12-03 16:12] djberg96 commented on #19543
Probably shoulda put this list here, but for now: https://github.com/ManageIQ/manageiq-providers-vmware/issues/484#issuecomment-561223801

[2019-12-04 21:45] Fryguy opened #19581 "[Appliance] Default to systemd-based workers"

[2019-12-04 21:46] Fryguy opened #19582 "[Appliance] Log aggregation"

[2019-12-04 21:48] Fryguy opened #19583 "[Providers] Use Kafka for events"
Depends on ManageIQ/manageiq-appliance-build#374

Related PRs

- [ ] [Add Kafka as an option for Provider Events](https://github.com/ManageIQ/manageiq/pull/19984)

[2019-12-04 21:48] Fryguy commented on #19583
cc @agrare

[2019-12-04 21:49] Fryguy opened #19584 "[Providers] Syndicate metrics over Kafka"
~~Depends on ManageIQ/manageiq-appliance-build#374~~ EDIT: Technically it depends on env vars being set, so not a hard dependency.

[2019-12-04 21:49] Fryguy commented on #19584
cc @agrare

[2019-12-04 21:49] Fryguy opened #19586 "[Providers] Collector / Persister split"
cc @agrare

[2019-12-04 21:51] Fryguy opened #19587 "[Import/Export] Dashboards"

[2019-12-04 21:52] Fryguy opened #19588 "[Import/Export] Service Catalogs"

[2019-12-04 21:52] Fryguy opened #19589 "[Import/Export] Allow import via git"

[2019-12-04 21:55] Fryguy opened #19590 "[Deployment] Ansible role to create a region with an initial appliance"

[2019-12-04 21:56] Fryguy opened #19591 "[Deployment] Ansible role to add an appliance to a region"

[2019-12-04 21:56] Fryguy opened #19592 "[Deployment] Ansible role to update an appliance"

[2019-12-04 21:59] Fryguy opened #19594 "[Providers] Use Kafka for inventory"
Depends on ManageIQ/manageiq-appliance_build#374

cc @agrare

[2019-12-04 22:12] Fryguy commented on #18818
Apologies if this messes up your search strings, but I've changed the title of this issue to better reflect the direction we've gone.  This issue has now become an overarching epic to have "API driven, pluggable, provider creation and validation", so that's what I changed it to.

[2019-12-05 16:14] jcarter12 opened #19596 "[RFE] available parameter portClassification to SCVMM provider from service catalog"
1. - Proposed title of this feature request?
   Available parameter portClassification to SCVMM provider from service catalog

2. - What is the nature and description of the request?
   We would like to make configurable NoPortClassification
   https://github.com/ManageIQ/manageiq-providers-scvmm/blob/master/app/models/manageiq/providers/microsoft/infra_manager/provision/cloning.rb#L165
  We don't

[2019-12-05 16:25] jcarter12 opened #19597 "[RFE] add disk storage method returning the information about storage"
1. - Proposed title of this feature request?
   new add disk storage method with information about storage

2. - What is the nature and description of the request?
   User implementing a use case in my Cloudforms instance to add new disks by automation task.
   The add_disk method return boolean value , and user would need return with the create storage information.

     code used for the impleme

[2019-12-05 16:28] jcarter12 opened #19598 "[RFE] Add feature to tag networks from VMware Provider"
1. - Proposed title of this feature request?
   Tagging VMware Networks

2. - What is the nature and description of the request?
   The user is looking for a way to mask some VMware networks from users. They already have this configured on the VMware side using RBAC but this does not pass over to CloudForms. There is a similar RFE but it discusses removing the add networks option when reconfigurin

[2019-12-05 16:31] jrafanie commented on #19520
@seth-priya can you try setting this in your manageiq app's `.bundle/config` so you don't have to remember to do this whenever you install new versions?

[code]

Unfortunately, sassc isn't a direct dependency in manageiq so it feels weird to add that option here.

[2019-12-06 11:00] seth-priya commented on #19520
@jrafanie this works, thank you, this works for me

[2019-12-06 20:09] agrare commented on #11331
This is actually done, closing

[2019-12-06 20:09] #11331 closed

[2019-12-09 17:56] djberg96 opened #19615 "Snapshot factory broken?"
It looks to me like snapshot factory is broken. Internally it's creating a VMWare vm as a relationship with the snapshot. The problem is that the VM doesn't have an associated EMS.

https://github.com/ManageIQ/manageiq/blob/master/spec/factories/snapshot.rb

The net result is that you'll get an error if you try to create a snapshot without any arguments:

[code]

The current specs get around this

[2019-12-09 20:36] skateman opened #19618 "Code reload in automate area causes stack level too deep"
When you edit something in the automate area and trigger a code reload while moving around in the UI, you sometimes get the following error:
[code]

@miq-bot assign @Fryguy

[2019-12-10 16:59] Fryguy opened #19622 "Update to rubyzip > 2.0.0"
We're currently using rubyzip 1.3.0 with "Zip.validate_entry_sizes = true" to address [CVE-2019-16892](https://access.redhat.com/security/cve/CVE-2019-16892).

To avoid possibly adding new code without "true" flag in the future (which will make us vulnerable again), rubyzip should be updated to 2.0.0 or later which sets the flag to true by default.

https://bugzilla.redhat.com/show_bug.cgi?id=1781

[2019-12-11 15:21] chessbyte commented on #19469
New State Machine logic in base VmScan class

State | Signal | Next State | Method | Provider-Specific
----- | ------ | -------- | ---------- | -----------------
initialize | initializing | waiting_to_start | dispatch_start | NO
waiting_to_start | start | wait_for_policy | call_check_policy | NO
wait_for_policy | before_scan | before_scan | before_scan | NO
scanning | data | scanning | process_dat

[2019-12-12 05:36] ManivelRR opened #19632 "ManageIQ testing with OpenStack"
Hi Team,

I’m new to this Manageiq and below is my test setup.

Nutanix is the first layer(It has been integrated with Openstack)
Openstack is the second layer(It has been integrated with Manageiq)
Manageiq is the third layer.
We have 3 regions(US,UK, and USSR).

We like to carry out some functional testing on all the 3 layers.Starting from Manageiq.

Looking for the ideas from experts to carry ou

[2019-12-12 05:40] Fryguy commented on #19632
@ManivelRR If you are able to run the https://github.com/ManageIQ/manageiq-providers-openstack specs (removing the VCR and rebuilding it), then I think you have just about everything you need to test that setup.

cc @agrare

[2019-12-12 06:39] ManivelRR commented on #19632
@Fryguy My vendor has been already completed the setup of manageiq(worker and DB nodes) along with openstack(osvm) on all the 3 regions.

I like to test end to end to identify any bottlenecks,performance issues etc..

Could you please advise how to test this?  Thank you in advance,

Manivel R

[2019-12-12 14:16] agrare commented on #19632
@ManivelRR it sounds like you're looking to do more live testing of an actual environment rather than VCR/spec testing.

There are a few areas that are critical for performance of MIQ: EmsRefresh, Metrics/C&U, and Provisioning.

For EmsRefresh and C&U they are very much size of your environment dependent, so if you can create lots (thousands) of "test" instances an ensure that refresh and metrics

[2019-12-12 16:25] #19622 closed

[2019-12-13 04:31] ManivelRR commented on #19632
@agrare Thanks much Adam for your inputs.
Sure.I agree with your point. I will test by creating bulk VMs to do stress testing of worker & DB nodes.
Any other suggestions?

Thanks,
Manivel R

[2019-12-16 15:21] yrudman commented on #19363
Closing this issue since it seems to be fixed on latest versions.
Please re-open if it could be reproduced on 5.10 or 5.11

[2019-12-16 15:21] #19363 closed

[2019-12-16 21:40] gtanzillo commented on #6991
For several of these the tables listed above, we rely on guid for importing instances that were previously exported from a different environment. For the rest, the effort and risk involved with evaluating whether the guid is being used is greater than the benefit of removing them.

Closing this issue

[2019-12-16 21:40] #6991 closed

[2019-12-16 22:07] gtanzillo commented on #18423
@rnunez-ws Since you originally reported it on the fine release, which is very old, there is a strong possibility that the issue is no longer present in the latest release - ivanchuk. Can you confirm?

If you do still see the issue, it would be very helpful to get a dump of your DB to further troubleshoot.

[2019-12-16 22:12] gtanzillo commented on #19392
@vinii8817 Any update on this? Were you able to check the VM's tenant?

[2019-12-16 22:26] gtanzillo commented on #5547
This issue should be moved to the manageiq-ui-classic repo. @mfeifer?

[2019-12-17 11:28] ManivelRR opened #19650 "ManageIQ testing using Rally"
Hi Team,
I like to test the manageiq product by creating bulk VMs(to identify any bottlenecks.performance issues etc...). Can we use Rally to verify performance issue ?

Also do you have script to run the bulk VMs? Please share if you have any script.

Thanks,
Manivel R

[2019-12-17 14:54] mfeifer commented on #5547
@Fryguy can you move this to the manageiq-ui-classic repo?

[2019-12-17 19:53] gtanzillo commented on #19582
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=995231

[2019-12-18 11:04] meronmm opened #19654 "ManageIQ automation trackback (azure/ansible playbook)"
hi, I am new to the system and i tried to deploy azure environment in mangeiq.
ordering new vm (default option) work great.
but when i tried to deployed only a resource group on azure it didn't work.
i use the following ansible playbook (work fine from the server)-

---
- name: Install Package
  hosts: localhost
  tasks:
    - name: Create resource group
      azure_rm_resourcegroup:
        name:

[2019-12-18 13:52] phospi opened #19655 "[Import/Export][Bug] Exporting alerts with faulty names"
Hi there,

I'm using cfme-rhconsulting-scripts to export cfme alerts. I observed that for every manageiq alert there is a file created where the filename == alertname. In manageiq it is perfectly fine to use every available unicode or special character to name the alert. However, when exporting such an alert name as a filename things become awkward. I know that UNIX-based filesystems are less bitc

[2019-12-18 19:40] djberg96 opened #19659 "Invalid custom attribute deprecation warning"
Running `bundle exec rake spec` on master shows this:

[code]

[2019-12-18 19:41] djberg96 commented on #19659
@kbrock I think this is your area of expertise.

[2019-12-19 09:11] phospi commented on #19655
Additional issue with the same cause:

`rake aborted!
Errno::ENOENT: No such file or directory @ rb_sysopen - /tmp/miqexport/service_dialogs/_My_not_so_nicely_$%&"%$&%&/_named_dialog.yml
/var/www/miq/vmdb/lib/tasks/rhconsulting_dialogs.rake:10:in `write'
/var/www/miq/vmdb/lib/tasks/rhconsulting_dialogs.rake:10:in `block in export'
/var/www/miq/vmdb/lib/tasks/rhconsulting_dialogs.rake:7:in `each'
/

[2019-12-19 15:21] lpichler opened #19664 "[Bug] Cannot eagerly load the polymorphic association :resource in performance report"
# Reproducer:
replace  `context "performance reports" ` in
`./spec/models/miq_report_spec.rb`

[code]

run and then you will get error message:
`polymorphic association :resource in performance report`

this error is also in UI(toolbar button `Monitoring -> Utilization on VM summary screen`) when those yaml are used:
[code]

## Caused by
most likely by https://github.com/ManageIQ/manageiq/pull/191

[2019-12-19 15:22] lpichler commented on #19664
@miq-bot add_label bug

[2019-12-19 20:05] kbrock commented on #19659
@djberg96 I've pinged @lpichler about this a few times.

Have pinged @lpichler a few times on this one.

Thinking that changing the rules for us setting the attribute name for custom attributes is the way to go (reminder: custom attributes are different from virtual attributes)

[2019-12-20 19:13] agrare opened #19674 "[Bug] uninitialized constant MiqReport::Formatters::Graph::ReportFormatter"
Seen when running the full `rake evm:start`
[code]

[2019-12-20 19:19] jrafanie commented on #19674
I believe this is because the backend workers don't include the ui_dependencies in the their bundler groups and now that we don't fork anymore, these workers are now using bundler groups.

A workaround is to add ui_dependencies [here](https://github.com/ManageIQ/manageiq/blob/cdd47b11beddb287b9f774e654e910ec3a94c645/app/models/miq_worker.rb#L51-L53).

[2019-12-26 08:36] seth-priya commented on #19520
Thanks all for your support and patience in answering my queries, I am closing this issue and will be creating a new one to discuss about adding support for ppc64le to ManageIQ, I have the basic changes in place.

Thank you!!

[2019-12-26 08:36] #19520 closed

[2019-12-26 09:27] seth-priya opened #19676 "WIP: Docker Support for IBM Power LE (ppc64le) platform"
Creating this issue to discuss the changes needed to support ppc64le.

I have implemented the initial changes and done basic validation.

The changes made (so far) are as follows
1] Repository Name: container-ruby
Repository URL: https://github.com/ManageIQ/container-ruby
Diff of changes: https://github.com/seth-priya/container-ruby/commit/4310729f52b90000cd3e1e632cb1f19d9434ca2e
Description of ch

[2020-01-02 20:53] jrafanie opened #19678 "Support Ruby 2.7"
Motivation: ruby 2.5 is EOL 2021-03-31 so we need 2.7 and 2.6 to be the supported rubies.

Work to be done:

- [x] [Allow Ruby 2.7 in Gemfile](https://github.com/ManageIQ/manageiq/pull/21023)
- [x] [Fix automation engine tests](https://github.com/ManageIQ/manageiq-automation_engine/pull/471)
- [x] Create lasker branch
- [x] Change Gemfile to not allow ruby 2.5
  - [x] master / lasker (backport) vi

[2020-01-03 15:03] jrafanie commented on #19678
### Warnings:

- [ ] /Users/joerafaniello/.gem/ruby/2.7.0/gems/json-2.1.0/lib/json/common.rb:156: warning: Using the last argument as keyword parameters is deprecated

- [ ] /Users/joerafaniello/.gem/ruby/2.7.0/gems/faker-1.8.7/lib/faker.rb:149: warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call

- [ ] /Users/joerafaniello/.gem/ruby/2.7.0/gem

[2020-01-03 17:16] chessbyte commented on #19676
+cc @ifwatts @jmgdaniec @chadh1313 @Fryguy

[2020-01-03 17:20] chessbyte commented on #19676
@seth-priya it is awesome that you are working on adding another platform to ManageIQ!
Instead of the code diffs, would it be possible for you to create the relevant Pull Requests in each of the repos where you believe changes are needed - and then link to them from this issue.  I believe this will add momentum to the changes you are seeking in this open-source project.

[2020-01-03 18:03] #18999 closed

[2020-01-03 22:11] #11955 closed

[2020-01-06 14:46] ManivelRR opened #19687 "ManageIQ HA proxy API issue"
Hi Team,

I have an API issue while using HA proxy(manageIQ).

Let me explain my setup;

Master location:- UK
Region 1:- India

UK has HA proxy VM, 2 worker nodes & dedicated worker node for UK region,DB node,OVMM VM.
HA proxy VM IP  is 10.10.10.5
Worker node 1:- 10.10.10.6
Worker node 1:- 10.10.10.7

From HA proxy VM:-
In HA proxy.cfg(apache configuration),we binded the above 2 worker nodes IP ad

[2020-01-06 17:44] djberg96 commented on #17338
@juliancheal, @jrafanie Is this done?

[2020-01-06 18:40] jrafanie commented on #17338
No, I believe the only thing left was in activerecord virtual attributes.  @kbrock do you know where we stand there with 5.2 support?  Are we ready to try to get master on that?

[2020-01-07 05:19] seth-priya commented on #19676
@chessbyte thanks for your response and certainly, I will start working on creating the PRs immediately!

[2020-01-07 19:19] kbrock commented on #19664
fun stuff:

[code]

[2020-01-07 19:58] #19469 closed

[2020-01-07 20:34] carbonin opened #19694 "EventCatcher worker doesn't exit cleanly"
When running `rake evm:stop` the event catcher doesn't exit and needs to be killed by the server after the stopping timeout:

[code]

I suspect this was caused by https://github.com/ManageIQ/manageiq/pull/19648 and the fact that the event catcher is using multiple threads.

[2020-01-07 21:24] carbonin commented on #19694
So it looks like this is a VMware specific issue. The VMware event catcher responds to SIGINT, but not SIGTERM where the RHV event catcher worker exits on SIGTERM

cc @agrare

[2020-01-08 14:26] agrare commented on #18428
Now that @chessbyte moved the VMware specifics out of core VmScan (https://github.com/ManageIQ/manageiq/pull/19607) and @Fryguy moved the check for vix_disk_lib out (https://github.com/ManageIQ/manageiq/pull/19660) I don't see any more references to VMwareWebService in core

[2020-01-08 18:57] carbonin opened #19699 "Support deploying worker containers from registries requiring credentials"
Right now if the registry where the worker images are hosted requires credentials we will fail to pull the images when deploying the workers.

We need some way to tell the orchestrator to optionally deploy the container with an image pull secret (likely with a configurable name).

[2020-01-08 19:24] bennett-white commented on #19699
Workaround `oc patch deployment <deployment name> -p '{"spec":{"template":{"spec":{"imagePullSecrets":[{"name": "pull-secret"}]}}}}'`

[2020-01-09 20:01] #18428 closed

[2020-01-09 21:42] carbonin opened #19707 "Blacklisted events are not user-configurable"
There are two issues that are contributing to this problem.

1. Editing the blacklisted events list for an provider type does not create a BlacklistedEvent record
    - This feels like it should happen directly
    - Better yet an actual UI or API for blacklisted events would be ideal
2. Some (all?) providers override the base implementation of `ExtManagementSystem.default_blacklisted_event_names`

[2020-01-15 12:43] daniel-milewski-grupawp opened #19715 "Class schema default values are not overriden by values in higher priority ordered domains"
I copied a class to a higher priority ordered domain and tried to modify a schema field's default value. All of the class instances and methods are located in a lower priority ordered domain. When I call `$evm.object['field']` from Automate methods attached to instances which don't have the schema field's value overriden I still get the default value from the original class. The default value isn'

[2020-01-15 16:58] jvlcek opened #19716 "[RFE] add support for SAML auth to the API (this is SAML v2.0 Enhanced Client or Proxy Profile protocol, NOT JWT and is non-trivial)."
Description of problem: add support for SAML auth to the API (this is SAML v2.0 Enhanced Client or Proxy Profile protocol, NOT JWT and is non-trivial).

 Fundamentally SAML is web browser dependent. Without the browser,
the Enhanced Client or Proxy profile, which allows clients to directly contact a SAML directory without requiring a browser, would be
needed. There currently is no existing Ruby ge

[2020-01-15 16:59] jvlcek opened #19717 "add support for SAML auth to the API (this is SAML v2.0 Enhanced Client or Proxy Profile protocol, NOT JWT and is non-trivial)"
Description of problem: add support for SAML auth to the API (this is SAML v2.0 Enhanced Client or Proxy Profile protocol, NOT JWT and is non-trivial).

 Fundamentally SAML is web browser dependent. Without the browser,
the Enhanced Client or Proxy profile, which allows clients to directly contact a SAML directory without requiring a browser, would be
needed. There currently is no existing Ruby ge

[2020-01-15 19:05] mfeifer opened #19718 "[RFE] Add Ability to Provision VMware VMs via Content Library (vCenter 6+)"
Allow additional content library objects to be displayed for selection for provisioning.  The ability to at least provision template (in OVF format) would be desired.  Functionality for ISOs would be more complicated.

Beginning with vCenter 6.0, VMware implemented the ability to deploy virtual machines via a Content Library, to supplement traditional template provisioning.  The advantage of provi

[2020-01-15 19:13] Fryguy commented on #19678
@jrafanie : https://github.com/rubyconfig/config/releases/tag/2.2.1

[2020-01-15 20:08] Fryguy commented on #19650
What is Rally?  I see it's OpenStack related but not sure how that applies?  This might be more of a question for the https://github.com/ManageIQ/manageiq-providers-openstack repo.

[2020-01-15 20:30] Fryguy commented on #19718
cc @agrare

[2020-01-15 21:24] mfeifer opened #19719 "[RFE] Ability to add several time the same Catalog Item in Catalog Bundle at different provisioning step"
While it is possible to provision several VM in a single provisioning step, all the VM will have exactly the same sizing and configuration. As a user, I want to be able to deploy VM from the same catalog-item but with different configuration and sizing

[2020-01-15 21:37] mfeifer opened #19720 "[RFE] Git management of automate code / merge automate domains"
From automate editor code, be able to create feature/bugfix GIT branch in order to follow the best practices regarding code management
- possibility to create automate domain bind to specific GIT branch
- possibility to commit/push code from CFE automate GUI editor to GIT
- possibility to merge automate domains

Also see: http://talk.manageiq.org/t/solved-git-flow-for-automate-code/3362

[2020-01-15 21:42] mfeifer opened #19721 "[RFE] allow admin to provision as another user with the api"
As an admin, i want to be able to send the provision request through the api, providing the details of the user the request should be run by instead of the admin user. (Admin impersonating the user)

[2020-01-15 21:44] mfeifer opened #19722 "[RFE] Manage SmartProxy Affinity via API"
Manage assigning hosts and datastores to Embedded SmartProxies for particular zone via the API.

Be able to provision through multiple AWS accounts without setting up individual providers.

[2020-01-15 21:49] mfeifer opened #19723 "[RFE] Ability to view timeline for policy VM Lifecyle"
There is functionality to add Lifecycle Events and the functionality is documented. Want to see them in the timeline.  Want to see list of events that have occurred with VM object.

http://manageiq.org/docs/reference/euwe/api/examples/add_lifecycle_event_vm

[2020-01-15 21:52] mfeifer opened #19724 "[RFE] Add a rich text label control to service dialogs"
Please implement a rich text label control that we can use to provide free text. The label control should allow:

- Free text input.
- Ideally a small subset of Markdown (e.g. lists, headings, sizing), or something equivalent.
- Ideally allow for dynamic updates, like other dialog controls.

Currently there is no way to add a simple, basic label control to service dialogs. In order to provide guid

[2020-01-16 15:54] mfeifer opened #19727 "[RFE] Add a custom per-field "validation failed" message for Regex Validator on Catalog Order"
Regex Validator displayed when the Catalog is ordered, Add a custom per-field "validation failed" message.

Add a custom per-field "validation failed" message rather than displaying the entire regex to be validated

[2020-01-16 15:57] mfeifer opened #19728 "[RFE] Allow API access for local user when SAML auth is enabled."
When SAML is being used, local users cannot access API. Admin can with no issues.

Would like non-admin user to be able to access API

[2020-01-16 16:01] mfeifer opened #19729 "[RFE] Parallel execution of Catalog items in Catalog Bundle"
If two Catalog Items in a Catalog Bundle are not dependent, as a user, I  want the two different Catalog items in Catalog Bundle to execute in parallel to reduce execution time of the bundle.

[2020-01-16 16:05] mfeifer opened #19730 "[RFE] Event for `Service request finish` which will eventually fetch `Service Request ID`"
Create a Event that will check for 'Service Request Finished' and fetch `Service Request ID'

When  service_provision_request is finished (request_state="finished") I would like to update SNow_requestID with the service_provision_request status (using SNOW API)

[2020-01-16 16:15] mfeifer opened #19731 "[RFE] evm:import:custom_buttons with associated dialog"
As a user, I want to import buttons with their associated dialog by executing this from the CLI -` bin/rake evm:import:custom_buttons -- --source /tmp/cfexport/buttons/CustomButtons.yaml
`
As a user, I cannot see anywhere in this file that indicates what dialog to associate with the button. I imported the dialogs and then ran this command and there is no association.

Using the  command above, the

[2020-01-16 18:39] mfeifer commented on #19731
Related to https://github.com/ManageIQ/manageiq/issues/19589

[2020-01-16 18:41] mfeifer commented on #19728
cc @jvlcek

[2020-01-16 18:44] mfeifer commented on #19723
cc @h-kataria is this still valid with respect to timelines existing?

[2020-01-16 18:52] Fryguy commented on #19717
Closed as duplicate of #19716

[2020-01-16 18:52] #19717 closed

[2020-01-16 19:03] mfeifer commented on #19654
@djberg96 any thoughts here?

[2020-01-16 19:04] mfeifer commented on #19598
cc @agrare

[2020-01-16 19:11] mfeifer commented on #19718
refers to https://bugzilla.redhat.com/show_bug.cgi?id=1418047

[2020-01-16 19:13] mfeifer commented on #19719
See https://bugzilla.redhat.com/show_bug.cgi?id=1722818

[2020-01-16 19:14] mfeifer commented on #19721
See also https://bugzilla.redhat.com/show_bug.cgi?id=1732912
@gmcculloug

[2020-01-16 19:15] mfeifer commented on #19723
See also https://bugzilla.redhat.com/show_bug.cgi?id=1744275

[2020-01-16 19:15] mfeifer commented on #19724
See also https://bugzilla.redhat.com/show_bug.cgi?id=1751450

[2020-01-16 19:16] mfeifer commented on #19731
See also https://bugzilla.redhat.com/show_bug.cgi?id=1753944

[2020-01-16 19:16] mfeifer commented on #19730
See also: https://bugzilla.redhat.com/show_bug.cgi?id=1758526

[2020-01-16 19:17] mfeifer commented on #19728
See also: https://bugzilla.redhat.com/show_bug.cgi?id=1763716

[2020-01-16 19:22] mfeifer commented on #19727
See also: https://bugzilla.redhat.com/show_bug.cgi?id=1782448

[2020-01-16 20:34] jvlcek commented on #19716
@miq-bot assign @jvlcek

[2020-01-16 20:35] jvlcek commented on #19728
This should be closed as a duplicate of [19716]( https://github.com/ManageIQ/manageiq/issues/19716)

[2020-01-17 02:32] kbrock commented on #17338
Sigh, I've been dragging.

Think it requires a pre 5.1 version, a 5.2 version, and a 6.0 version.

I need to get back to this

[2020-01-17 11:36] djberg96 commented on #19654
In discussions with @mfeifer. I don't think ansible + azure is officially supported, but I did put together a presentation on how to do it a while back. Now we're just looking for a place to put it.

[2020-01-17 12:02] meronmm commented on #19654
it will be really helpful if you can attach a link over.
moreover i mange to over come the problem. the cues to the problem is that i left the vault permeate empty and not on default.(i do not have a vault so i do not think it is meter to mach)
after i done it every thing run OK.

[2020-01-17 13:47] chessbyte commented on #19543
@agrare @djberg96 seems that all the PRs related to this issue have been merged.  Is there more work to be done or can this issue be closed as completed?

[2020-01-17 13:50] chessbyte commented on #18885
@agrare @Fryguy wondering if we should offer an option to delete or archive VMs and Hosts when user requests to delete a provider.  I can see the use cases for both.

[2020-01-17 14:05] djberg96 commented on #19543
I think we can close it, but I don't have the power to. I'll leave it to @agrare. :)

[2020-01-17 18:55] mfeifer commented on #19728
See above referenced github issue. closing

[2020-01-17 18:55] #19728 closed

[2020-01-20 18:26] agrare commented on #19543
There are a few more that we still need to do, e.g. https://github.com/ManageIQ/manageiq/pull/19705

All of the subclasses of MiqRequest need to have `my_queue_name` set.

[2020-01-22 15:06] martinpovolny commented on #19664
Similar problem from the UI side.

Go to Compute --> Infra --> VMs
Select a VM, go to details.
Then in the menu choose (toolbar) Monitoring --> Utilization)

A task is fired at this point through the queue. And the task will fail with a stacktrace in the EVM log. Unfortunately there's no error handling for the failed task so the UI will end up in an infinite busy-wait loop.

[code]

[2020-01-22 19:29] billfitzgerald0120 commented on #19715
When you call an instance, Automate will start at the highest priority enabled domain and search for the instance.  The first domain that the instance exists in will be used.  So if you have values in a schema that you want to use, make sure the instance exists in that domain.

[2020-01-22 20:58] jrafanie opened #19747 "Add support for setting a server setting once for all servers (tools/configure_server_settings.rb)"
There are two options:

* Store the setting changes at a level higher than a server:  miq_regions and zones
  Pro1: We already have the ability to have servers inherit settings from regions and zones.
  Con1:  If a server already has a setting, an override from the region/zone would be ignored.
  Con2:  the existing configure_server_settings.rb is geared towards servers and would need some work to

[2020-01-22 21:00] jrafanie commented on #19747
cc @d-m-u (if you have cycles to look at stuff like this)

[2020-01-23 13:29] d-m-u commented on #19678
[code]

[2020-01-23 14:27] d-m-u commented on #19678
the `warning: Capturing the given block using Proc.new is deprecated; use `&block` instead` errors I'm seeing are mostly from faraday [which got updated] https://github.com/lostisland/faraday/pull/993

[2020-01-23 16:01] evertmulder opened #19753 "WebMKS console instabilities Ivanchuk, connections not closed"
Hi,

we are using WebMKS to op VM Consoles to VMware. We encounter some issue (after upgrading to Ivanchuk from fine).

We encounter the following issues:

- Console not opening (after closing another console)
- When having multiple console open (through the same remote console worker ), stopping 1 console freezes all other consoles
- A lot of websocket connections are kept open between the remote

[2020-01-23 18:41] gmcculloug commented on #18440
Closing.  Please re-open if this is still an issue after testing on Ivanchuk or later release.

[2020-01-23 18:41] #18440 closed

[2020-01-23 19:42] mfeifer opened #19755 "[RFE] Add ability to modify Group Description String from the API"
Add the ability to modify the "Group Description String" from the API so that this can be accessed from the UI.

See https://bugzilla.redhat.com/show_bug.cgi?id=1789487

[2020-01-23 20:21] mfeifer opened #19756 "Do not use zero-padded names in provisioning"
During provisioning auto-incremental naming adds zero-padded names if the index number grows beyond the original specified length.

This issue is asking to change that behavior to not use the zero-padded names.

See: https://bugzilla.redhat.com/show_bug.cgi?id=1688672

[2020-01-23 21:42] evertmulder commented on #19747
A Pro for the first option is when setting a regional / zone setting the setting is automatically applied when adding a new server (or pod) to the region / zone.

[2020-01-23 22:03] jrafanie commented on #19747
👍 Great point.  That was the whole intention of zone/region settings.

How is this handled currently?  Is this a new problem?

[2020-01-24 12:57] daniel-milewski-grupawp commented on #19715
I'm not sure I was understood and whether this is an expected behavior so I've created an example.

[datastore_2020_01_23.zip](https://github.com/ManageIQ/manageiq/files/4108312/datastore_2020_01_23.zip)
[automation.log](https://github.com/ManageIQ/manageiq/files/4108313/automation.log)

As you can see in `automation.log`, the method logs `lower`. I'd expect it to log `higher` since I have copy of

[2020-01-24 13:17] d-m-u opened #19760 "Upgrade Faraday"
From https://github.com/ManageIQ/manageiq/issues/19678, this is a list of gems that we need to deal with in order to upgrade the `faraday` gem:

*not relevant for ManageIQ*
- [ ] https://github.com/ManageIQ/miq_bot/pull/522

*done*
- [x] manageiq-api-client (https://github.com/ManageIQ/manageiq-api-client/pull/90)
- [x] https://github.com/ManageIQ/manageiq/pull/20720
- [x] https://github.com/Manag

[2020-01-24 14:53] billfitzgerald0120 commented on #19715
You don't have an instance in the higher domain so it goes to the next domain looking for the instance.  In your case its looking for /Test/Class/Instance.  If you add an instance called instance in the higher domain it will be used.
BTW if you have the method in the higher class, the method in the higher domain will be used.
Copy the method to the higher domain and try your test.   You will see h

[2020-01-24 15:18] daniel-milewski-grupawp commented on #19715
I know it works this way now, I just wonder if it should work this way. I don't have much experience using Automate, but my idea of it was that Automate joins all enabled domains into a single namespace when running automation.

[2020-01-24 17:49] billfitzgerald0120 commented on #19715
If your new to Cloudforms and Automate you should definitely read Peter's book.   http://talk.manageiq.org/t/peter-mcgowan-on-authoring-mastering-cloudforms-automation-e-book-download/1594

I don't know enough about your IPAM implementation.  If you can send me a Domain export for one environment I will look at it and have a better answer for you.

[2020-01-24 21:49] djberg96 commented on #19654
@meronmm https://drive.google.com/file/d/1Kl6Iyb4XO8vTjRJTr1xvY6EdAgrsGx9Q/view

[2020-01-24 22:19] gmcculloug commented on #19721
Update BZ referenced above.

The code parsing this value is https://github.com/ManageIQ/manageiq/blob/fb9f10ae4bc28e6ae1cf117da8cb99064fbea73e/app/models/miq_request_workflow.rb#L37

[2020-01-24 22:19] #19721 closed

[2020-01-25 09:06] meronmm commented on #19654
great thank you so mach

[2020-01-27 15:26] jrafanie commented on #19760
For future reference, this was opened because Drew found that #19678 had many ruby 2.7 deprecation warnings for faraday.  We should probably coordinate with @agrare and @kbrock as many of the dependencies of faraday are providers and we might want to do this upgrade along with rails 5.2/6.0.

[2020-01-27 20:14] agrare commented on #19760
So some of these are going to be a problem because we don't own them the provider vendors do:
azure_mgmt_compute
ms_rest_azure
google-api-client
ms_rest
xclarity_client
azure_mgmt_network
azure_mgmt_monitor
prometheus-alert-buffer-client
googleauth
azure_mgmt_resources
prometheus-api-client

We can certainly see if some of these gems have newer versions that have a newer faraday but if not we'll h

[2020-01-27 21:41] gmcculloug opened #19771 "Create tests for MiqRequest sub-classes that are missing spec files."
Followup work for https://github.com/ManageIQ/manageiq/pull/19739

Create specs for the following `MiqRequest` sub-classes:

- app/models/miq_provision_configured_system_request.rb
- app/models/vm_cloud_reconfigure_request.rb
- app/models/vm_migrate_request.rb

@billfitzgerald0120 Ping me when you have time to discuss.
cc @tinaafitz

[2020-01-28 06:28] evertmulder commented on #19747
For me it is the option to use global settings was new. Currently was using the the 'tools/configure_server_settings.rb' to set a value to on server and the 'tools/replicate_server_settings.rb' to apply the setting to the rest of the servers. These are used in deployment scripting. I use some global setting but I can only apply those manually. I would like to have a tool that would have the option

[2020-01-28 09:23] Hyperkid123 opened #19772 "LoadError Unable to autoload constant ManageIQ::Providers::Openstack"
We are encountering this issue in the UI when trying to add new cloud provider (possibly on other screens as well)

### How to reproduce
1. link amazon provider plugin locally with this pr: https://github.com/ManageIQ/manageiq-providers-amazon/pull/580#event-2974868273
2. link manage iq api plugin locally with this pr: https://github.com/ManageIQ/manageiq-api/pull/723
3. in ui classic use this pr:

[2020-01-28 09:23] skateman commented on #19772
@miq-bot assign @jrafanie
cc @agrare

[2020-01-28 14:12] skateman commented on #19664
@kbrock I'm kinda blocked by this :confused: in resolving https://github.com/ManageIQ/manageiq-ui-classic/issues/6534

[2020-01-28 14:34] agrare commented on #19543
All known ems_operations methods have queue names so I'm going to close this issue out

[2020-01-28 14:34] #19543 closed

[2020-01-28 15:33] jrafanie commented on #19772
yikes, is there a more minimal test case?

I'll try to recreate.  🤞

[2020-01-28 15:35] skateman commented on #19772
Nope, this is the smallest ... :confused:

[2020-01-28 15:40] jrafanie commented on #19772
Looking.  Note, the ui classic PR doesn't appear to be rebased for a few months....

[2020-01-28 15:40] Hyperkid123 commented on #19772
@jrafanie oh let me fix that

[2020-01-28 15:56] jrafanie commented on #19772
Let me know if you can recreate this outside of the UI because I'm in 5 minute bin/update "fun" right now:

[code]

Is there a tool to make sure I have the correct yarn/webpack versions installed?

Are you using the current master of manageiq @skateman ?

[2020-01-28 15:58] Hyperkid123 commented on #19772
@jrafanie I would remove node_modules folder and `yarn.lock` in UI classic. That might help.

[2020-01-28 15:59] skateman commented on #19772
@jrafanie yes, and all rebased

you might wanna clear the yarn cache, with `yarn cache clean`

I know, UI is hard

[2020-01-28 16:01] jrafanie commented on #19772
It might be easier for me to try doing things in Threads in rails console than try to debug yarn.  🤣

[2020-01-28 16:41] mkanoor commented on #19715
@daniel-milewski-grupawp
The class and instances travel as a set because they are bound to the schema, so it's possible that the class schema has been updated to add new fields or fields types have been changed removed. Because of this reason as a rule we don't use a class schema from one domain with instances from another domain.
To solve your particular problem you could just create a new class

[2020-01-28 17:24] jrafanie commented on #19772
I'm able to recreate it but the only thing "interesting" is it appears to have to do with reloading of code and that the `ManageIQ::Providers::Amazon::StorageManager` constant is being redefined right before this error.  I can't recreate it in console yet.

I was able to get some more logging with `RUBYOPT=-d bin/rails s` but not too much to go on:

[code]

[2020-01-28 17:51] daniel-milewski-grupawp commented on #19715
Makes sense. I think I'll move the database path to a separate class. Thanks, @mkanoor!

[2020-01-28 17:51] #19715 closed

[2020-01-28 20:12] agrare commented on #19772
@jrafanie and this doesn't happen without the amazon provider PR?

[2020-01-28 20:44] jrafanie commented on #19772
@agrare I failed to recreate it outside of the slow web request. So I'll try to remove variables and report what I find.

We've had issues in the past of autoloaded within a request so we might have to wrap it in the `ActiveSupport::Dependencies.interlock.loading do` junk so I'll be trying that too.

[2020-01-28 21:12] jrafanie commented on #19772
* Removed amazon provider PR, used master, still fails with [1]
* Removed manageiq-api PR, used master, still fails with [1]

[1] LoadError (Unable to autoload constant ManageIQ::Providers::Amazon::StorageManager::Ebs, expected /Users/joerafaniello/.gem/ruby/2.6.5/bundler/gems/manageiq-providers-amazon-84a3879c23ba/app/models/manageiq/providers/amazon/storage_manager/ebs.rb to define it

[2020-01-28 21:13] agrare commented on #19772
Yeah that makes sense, I would have been really surprised if that PR caused this

[2020-01-28 21:53] jrafanie commented on #19772
With just the UI-classic PR:

Looking at the requests in different threads, it looks like we have some interleaving of requests in different threads:

[code]

Specifically, we have GET "/ems_cloud/ems_cloud_form_fields/new" followed by 2 Started OPTIONS "/api/providers" all running in different threads and before the first request completes.

[code]

[2020-01-28 22:20] jrafanie commented on #19772
ok, so I was able to get something SIMILAR with a script I run while rails server is running.

[code]

produces:
[code]

[2020-01-28 22:42] jrafanie commented on #19772
Ok @Hyperkid123 @skateman, can you try this change in the api? I tried it against master with the above minimized script and it worked.  I don't have time tonight to try it against your PRs with the patch below:

[code]

[2020-01-28 22:50] jrafanie commented on #19772
It goes without saying that autoload is a constant problem.

[2020-01-28 22:51] agrare commented on #19772
It does but it should be said anyway ;)

[2020-01-29 08:56] skateman commented on #19772
@Hyperkid123 I was not able to recreate the issue, so I cannot verify if it's happening. Can you please try it too?

[2020-01-29 09:13] Hyperkid123 commented on #19772
@jrafanie @skateman the patch seems to be working. I was not able to reproduce the issue with it. :+1:

[2020-01-29 17:14] jrafanie commented on #19772
I tested this morning using the original PRs and agree, my patch seems to resolve the issue.  I'll post a PR.

[2020-01-30 15:20] #19772 closed

[2020-01-30 18:39] mfeifer commented on #18423
Please re-open if this is still a bug.

[2020-01-30 18:39] #18423 closed

[2020-01-31 15:45] agrare commented on #19753
@skateman can you take a look?

[2020-01-31 15:46] skateman commented on #19753
@miq-bot assign @skateman

[2020-01-31 21:12] agrare opened #19793 "Run single worker no longer works after splitting up DRb Heartbeat"
Running a single standalone worker without running MiqServer with run_single_worker no longer is possible because it tries to connect to the worker_monitor_drb but it is blank.
[code]

[2020-02-01 11:44] skateman commented on #19618
cc @jrafanie

[2020-02-03 08:52] skateman commented on #19753
@evertmulder nice catch, I'll take a look into this.

[2020-02-03 09:25] skateman commented on #19753
I'm trying to create a minimum reproducer for this, right now without any success. Can you please tell me what exact version of Ivanchuk are you using? Also your `Gemfile.lock` could help me a lot.

I remember fixing these problems at least a year ago :confused: so you might be using an old version or we somehow missed to push the newest version of the proxy into our builds.

[2020-02-03 13:21] evertmulder commented on #19753
[code]

My gemfile.lock:
https://gist.github.com/evertmulder/2f9dba2ab566d880cd8a049fb47c2f8c

[2020-02-03 15:31] jrafanie commented on #19618
Do you have a pull production log see we can see the controllers and requests?

[2020-02-03 15:48] skateman commented on #19618
@jrafanie I created a minimum reproducer for you: https://github.com/ManageIQ/manageiq-api/pull/734

You need to have at least one service dialog and you need to know its ID. Just start up the server and send this:
[code]

Where obviously `7` is the ID of an existing dialog. Then you add something, ideally a `binding.pry` on line 39 in the [`service_dialogs_controller.rb`](https://github.com/Manag

[2020-02-03 21:47] #19618 closed

[2020-02-04 12:24] borisko123 commented on #19731
I wonder where it is documented that one need to add "--" before arguments in rake command?

[2020-02-05 04:47] d-m-u commented on #19760
The only one I'm concerned about at this point is vcr, because of https://github.com/vcr/vcr/issues/788. Since the same as with Rack, the order of middleware on a Faraday stack matters, I dunno exactly what to do about the changes to the order in 1.0.0

[2020-02-05 08:36] bekasovoleg opened #19812 "Impossible to set up value to dynamic DialogFieldTextBox from automation"
I try to set up dynamic dialog field value, however there is not value in field
[code]

I've figured out issue occurs due to we have not specified `value` and `default_value` in code below
https://github.com/ManageIQ/manageiq/blob/master/app/models/dialog_field_text_box.rb#L2

My way to reproduce:

[code]

`DynamicDialogFieldValueProcessor.values_from_automate(ff)` uses `normalize_automate_values`

[2020-02-05 08:45] bekasovoleg commented on #19812
hi @d-m-u @eclarizio! take a look, thanks!

[2020-02-05 09:10] bekasovoleg commented on #19812
[`Serializer`](https://github.com/ManageIQ/manageiq/blob/master/app/models/dialog_field_serializer.rb#L22) calls [`extract_dynamic_values`](https://github.com/ManageIQ/manageiq/blob/1741f3ea3a613ff71e31799b01fee54e748057f1/app/models/dialog_field.rb#L95)

We have[ `attr_accessor :value`](https://github.com/ManageIQ/manageiq/blob/1741f3ea3a613ff71e31799b01fee54e748057f1/app/models/dialog_field.rb#L

[2020-02-05 09:25] #19812 closed

[2020-02-05 16:20] jerryk55 opened #19813 "MiqSmartProxyWorker No Longer Starts After Latest Worker Changes"
Attempting to start the Smart Proxy Worker with the latest ManageIQ core code results in the following:

[code]

[2020-02-05 16:23] jerryk55 commented on #19813
@jrafanie @carbonin is this up your alley?  @agrare has a workaround.

[2020-02-05 16:56] carbonin commented on #19813
Looking.

@agrare didn't we hit this for the event catcher (or something)?

[2020-02-05 20:27] carbonin commented on #19813
Looks like the issue here is that this particular worker is running `heartbeat` from two separate threads and when both of those threads try to autoload the same constant at the same time @jrafanie tells me this can happen.

As a fix for this I'll change how the smart proxy worker does it's heartbeating.

[2020-02-06 20:04] skateman opened #19819 "Provider validation using verify_credentials_task results with `nil`"
When you try to validate a provider, the results always come back with `nil`.

**Steps to reproduce:**
1. Initiate provider validation from a Rails console:
[code]
2. Then execute a task with either having workers or by calling `simulate_queue_worker` from a console.
3. After the task finishes, check out the `results` field of the created `MiqTask`

The `results` field should contain the informati

[2020-02-06 21:23] agrare commented on #19819
@skateman it looks like the callback updates `#task_results` which is different from `#results`

[code]

[2020-02-07 09:18] skateman commented on #19819
Yeah, my bad ... sorry.

[2020-02-07 09:18] #19819 closed

[2020-02-07 14:49] #19813 closed

[2020-02-10 19:31] dmetzger57 opened #19826 "[RFE] Enable Puma Control Server"
It would be great to pull more useful metrics off the CloudForms puma environment. This can be done using sensu if the puma control server is available.

https://github.com/puma/puma/tree/a3136985887d44c79e623b1408a41779b71d8b23#controlstatus-server

Stats and GC Stats are available: https://github.com/puma/puma/blob/master/lib/puma/app/status.rb

We are using Sensu to monitor our CloudForms deplo

[2020-02-10 19:32] dmetzger57 commented on #19826
Associated BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1562543

[2020-02-10 19:37] dmetzger57 opened #19827 "[RFE] Add ability to add a custom support URL to appear in the help dropdown directly"
1.  Proposed title of this feature request: I would like the ability to add a custom support URL or two to appear in the help dropdown directly and not nested within the documentation page.

2. Who is the customer behind the request?

3. What is the nature and description of the request?  I would like the ability to add a custom support URL or two to appear in the help dropdown directly and not ne

[2020-02-11 16:34] tinaafitz opened #19828 "Not able to update git domain credentials with out a re-add"
Description of problem:
If the credentials need to be changed for the git domain the only way to update them is to remove the domain then re-add.

Version-Release number of selected component (if applicable):
5.10.14

How reproducible:
always

Steps to Reproduce:
1. Add a git domain through Automation > Automate > Import/Export
2. Attempt to change credentials

Actual results:
No option in the UI,

[2020-02-11 17:25] d-m-u commented on #19760
I will ~~take a look~~ get back to this later. Much much later. Because I'm ~~Ukrainian~~ waiting on the azure team in China and ~~we have revolution right now~~ they are busy not dying of the virus. Sorry

[2020-02-13 19:47] chessbyte commented on #19664
@kbrock @NickLaMuro what is the status of this issue?

[2020-02-13 21:43] NickLaMuro commented on #19664
@chessbyte sorry for the lack of a follow up on here, but #19804 should have fixed this issue.

[2020-02-13 21:47] chessbyte commented on #19664
@NickLaMuro can you validate the reproducer [here](https://github.com/ManageIQ/manageiq-providers-vmware/pull/527) is addressed.

[2020-02-13 22:15] NickLaMuro commented on #19664
@chessbyte the specs that were added from the PR should do just that:

- https://github.com/ManageIQ/manageiq/pull/19804/files#diff-d8dd6082fb3fffd485c63c555aca8874R758-R764
- https://github.com/ManageIQ/manageiq/pull/19804/files#diff-d8dd6082fb3fffd485c63c555aca8874R776-R784

@kbrock since you wrote those specs, can you sanity check me on that claim?

[2020-02-14 13:41] kbrock commented on #19664
@chessbyte @NickLaMuro Yes, The report spec is the reproducer from Libor.

[2020-02-14 14:09] chessbyte commented on #19664
@kbrock @NickLaMuro so can this issue be closed as resolved?

[2020-02-14 15:18] chessbyte commented on #19664
@lpichler is this issue fixed?

[2020-02-14 16:02] NickLaMuro commented on #19664
@chessbyte For what it is worth, I have asked David to test it out in gitter:

https://gitter.im/ManageIQ/manageiq?at=5e3c3b58dc52c34ace4d01f2

And he said that it fixed his issue as well.

[2020-02-14 16:48] skateman commented on #19664
It fixes the issue I was experiencing.

[2020-02-14 16:49] #19664 closed

[2020-02-17 13:27] d-m-u commented on #19747
@miq-bot assign @d-m-u

[2020-02-17 14:02] djberg96 commented on #19659
@lpichler or @kbrock any thoughts?

[2020-02-17 14:16] djberg96 commented on #19615
Just some more information:

[code]
So, the `create` call is triggering an `after_create` callback in the snapshot model, which is ultimately causing this issue.

[2020-02-17 22:03] #19793 closed

[2020-02-18 07:19] BalajiRCS28 opened #19840 "Right Size Recommendation : Memory size Utilization always showing 32 mb for all VMs"
Hi,

I enabled C & U services and performed Smart State Analysis for many cloud based VMs and it is always showing 32mb under right size recommendations in Memory., And also data unavailable for Memory of overall utilization of last 30 days. Pls. let me know it is an open bug or need to do some configuration changes.

[2020-02-18 10:42] borisko123 commented on #15350
It seems that **dialog field** is missed when exporting custom button via rake task.
 The dialog field is set on button , but it is missed when exporting.
So one need to add this field manually after import.
Why is this?

[2020-02-18 13:51] miq-bot opened #19842 "Right Size Recommendation : Memory size Utilization always showing 32 mb for all VMs"
Hi,

 I enabled C & U services and performed Smart State Analysis for many cloud based VMs and it is always showing 32mb under right size recommendations in Memory.,  And also data unavailable for Memory of overall utilization of last 30 days. Pls. let me know it is an open bug or need to do some configuration changes.

---

*This issue was moved to this repository from https://github.com/ManageIQ

[2020-02-18 16:48] carbonin commented on #19419
Closing this is there has been no response for additional information.

[2020-02-18 16:48] #19419 closed

[2020-02-19 14:33] tinaafitz commented on #19756
@gmcculloug created this PR to address the issue: https://github.com/ManageIQ/manageiq/pull/18590

[2020-02-20 11:14] pertoft opened #19853 "Ansible playbooks from git is duplicated"
Release: ivanchuck-2

When i add a bitbucket repo (using https), and sync all playbooks. They are listed two times:
[https://pasteboard.co/IVxUr4r.png](url)

[2020-02-20 15:29] carbonin commented on #19699
https://github.com/ManageIQ/manageiq/pull/19856 and https://github.com/ManageIQ/manageiq-pods/pull/370 should resolve this issue.

@bennett-white after these are merged, can you confirm it handles your use-case?

[2020-02-20 15:47] djberg96 commented on #19615
I think a comment explaining how to use it is good enough, for now at least.

[2020-02-20 15:47] #19615 closed

[2020-02-20 15:47] chessbyte commented on #19853
@pertoft that link is inaccessible

[2020-02-20 15:55] Fryguy commented on #19699
Closed via https://github.com/ManageIQ/manageiq/pull/19856 and https://github.com/ManageIQ/manageiq-pods/pull/370

[2020-02-20 15:55] #19699 closed

[2020-02-20 16:22] djberg96 commented on #19431
Gonna close because it seems we're happy with just implementing `NoMethodError` in superclasses, and we've updated several classes where they were needed.

[2020-02-20 16:22] #19431 closed

[2020-02-20 18:37] mfeifer commented on #19840
duplicate of https://github.com/ManageIQ/manageiq/issues/19842

[2020-02-20 18:37] #19840 closed

[2020-02-20 18:44] yrudman commented on #19842
@BalajiRCS28 is it possible to have access to reproducer environment ?

[2020-02-20 18:45] mfeifer commented on #19029
@Fryguy watcha doin?

[2020-02-20 19:20] abellotti opened #19858 "Add support for the OIDCScope configuration parameter"
There are tons of OpenID-Connect configuration parameters we could be considering for OOTB support with mod_auth_openidc in Apache, as seen here in https://github.com/zmartzone/mod_auth_openidc/blob/master/auth_openidc.conf.

While customers can manually update the manageiq-external-auth-openidc.conf file in the /etc/httpd/conf.d directory on the appliance, template for that file being here: https

[2020-02-20 19:22] abellotti commented on #19858
/cc @Fryguy @jvlcek

[2020-02-20 20:03] pertoft commented on #19853
Fixed link to image

[2020-02-21 10:03] lpichler commented on #19659
cc @jrafanie

https://github.com/ManageIQ/manageiq/pull/18538

maybe encode virtual custom attributes somehow to avoid problematic characters ?

I think that anything can came from provides.

[2020-02-21 19:39] jrafanie opened #19863 "Move code that lives in UI-classic that could be called from non-puma workers"
From #19674, and the workaround in #19862, there are modules and classes defined in ui-classic that could be called from backend processes or non-puma processes.  Since we want to exclude the ui_dependencies bundler group, these various modules/classes should be evaluated and moved to the right repository so that we don't need ui-classic outside of the UI processes.

I grepped ui-classic to get a

[2020-02-23 22:23] kbrock commented on #19659
I had thought it was the `/` but it looks like it is from the `:` character put in there.

This has been annoying me for a long time. thanks for bringing it up again dan.

since we are generating these virtual attribute names from custom attributes and we decided to put a `:` in them, why not start encoding them with putting a `_` in them instead?

The punctuation that we put in there is kinda arb

[2020-02-24 11:25] sigbjornaib commented on #19756
I was at a conf call last week regarding this request, and the following question was raised. Why do we need to change the existing provisioning auto-increment function?

Leave the existing function as the auto-incremental function for zero-padded hostnames. And create a new function for auto-incrementing numbered hostnames without zero-padding. By doing it this was there is no need to worry about

[2020-02-24 14:06] jvlcek opened #19865 "Move API OpenID-Connect/OAuth2 support from API to ManageIQ authenticator."
[manageiq-api PR 737](https://github.com/ManageIQ/manageiq-api/pull/737) added OpenID-Connect/OAuth2 support to the API.

This functionality should be moved to https://github.com/ManageIQ/manageiq/tree/master/app/models/authenticator

This issue will be used to track this work.

[2020-02-24 14:12] jvlcek commented on #19865
@miq-bot add_label core/authentication
@miq-bot add_label refactoring
@miq-bot assign @jvlcek

[2020-02-24 14:21] jvlcek opened #19866 "Research moving API OpenID-Connect/OAuth2 support into Apache configuration"
[manageiq-api PR 737](https://github.com/ManageIQ/manageiq-api/pull/737) added OpenID-Connect/OAuth2 support to the API.

It might be possible to simplify this solution by leveraging OpenID-Connect/OAuth2 setup in the mod_auth_openidc configuration files.

This issue will be used to track this investigation.

- [ ] https://github.com/ManageIQ/manageiq-appliance/pull/282
- [ ] https://github.com/Ma

[2020-02-24 14:21] jvlcek commented on #19866
@miq-bot add_label core/authentication
@miq-bot add_label refactoring
@miq-bot assign @jvlcek

[2020-02-24 14:37] chessbyte opened #19867 "[RFE] Support OpenID-Connect/OAuth2"
- [x] [Add support for OpenID-Connect/OAuth2 in the API via Ruby](https://github.com/ManageIQ/manageiq-api/pull/737)
- [x] [Add support for OIDCProviderTokenEndpoint, OIDCOAuthIntrospectionEndpoint and OIDCScope in the API via Ruby](https://github.com/ManageIQ/manageiq-api/pull/747)
- [x] [Move API OpenID-Connect/OAuth2 support from API to ManageIQ authenticator](https://github.com/ManageIQ/manage

[2020-02-24 14:52] gmcculloug commented on #19756
@sigbjornaib If you look at the proof-of-concept PR I created (https://github.com/ManageIQ/manageiq/pull/18590) you'll see I am doing exactly what you describe.  The default would work as it does today but allow additional parameters to be passed to further control the naming.

I would encourage you to read through that PR and provide your thoughts.  The PR is currently closed but we can re-open i

[2020-02-24 15:09] yrudman commented on #19842
@BalajiRCS28 more questions:
  - what version of CloudForm you are using ?
  - which cloud provider you are using ?

[2020-02-24 16:26] jrafanie commented on #19659
Sure.  I think the suggestions are correct but I'm unsure who's generating these names and if that code needs to be modified if we change anything in the backend.  I believe we were generating these names in the kubernetes provider based on labels but I don't really know.

[2020-02-24 19:13] ManivelRR opened #19869 "sign in kubernetes dashboard with username and password"
Hi Team,

I like to sign in kubernetes dashboard with username and password instead of below token method.

Is this possible ?  If yes,please advise with the steps

![image](https://user-images.githubusercontent.com/49863883/75183036-a46bd600-5767-11ea-94a4-22400e066b25.png)

Thanks,
Manivel R

[2020-02-25 07:34] sigbjornaib commented on #19756
Ok. I have added my thoughts to the PR you mentioned.

[2020-02-26 13:51] dmetzger57 opened #19872 "Request for SSA to strip quotes from IP addresses for scanned systems"
RFE BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1792484

There are cases where Kickstart created /etc/sysconfig/network-scripts/ifcfg-eth0 files contain double quote enclosed IP addresses. The presence of '"' characters can cause problems for automation using the addresses. While a valid solution is to ensure the '"' characters are not contained in the network configuration file, this is a req

[2020-02-26 13:52] Fryguy commented on #19872
@miq-bot move_issue manageiq-smartstate

[2020-02-26 13:53] #19872 closed