[2016-02-29 14:57] #6769 closed

[2016-02-29 14:57] #6770 closed

[2016-02-29 14:59] lwander commented on #6966
Hey, thanks for pointing this out. OAuth authentication does need some configuration to make it work, and also doesn't integrate easily with the fog-google client library. I think it's best to disable this as an authentication option as it's currently broken (or just remove this tab for now). @erjohnso, WDYT?

[2016-02-29 15:13] lwander commented on #6969
Hey @agrare could you take a look at this?

[2016-02-29 15:13] lwander commented on #6978
Hey @agrare could you take a look at this?

[2016-02-29 15:16] dajohnso commented on #6978
So the Red X did finally show up on the next scheduled refresh, it just took longer than I was expecting.  Also, I think we should catch the log trace and print a prettier log message.

[2016-02-29 15:33] patchkez opened #6997 "Configuration Management: Two flash messages when provider is added"
When Ansible Tower or Foreman/Satellite provider is added via CFME UI, 2 flash messages appear on screen. It is expected to see only the first flash message that provider was added. e.g. when adding Infra/Cloud provider we see only one flash message. We expect the same behaviour.

![screenshot-20160229 160823](https://cloud.githubusercontent.com/assets/11808967/13398496/d64a4ac0-defe-11e5-8e00-63a

[2016-02-29 15:48] patchkez opened #6999 "Ansible Tower: Credentials validation passed with bad URL/username/password"
On my upstream appliance from 25th of Feb, I am able successfully validate credentials with non existing IP address/URL, wrong username and password. If you need access to this VM, please let me know.

![screenshot-20160229 164034](https://cloud.githubusercontent.com/assets/11808967/13399377/471ebbe2-df03-11e5-885c-19b801e36f21.png)

[2016-02-29 16:15] lgalis commented on #6999
@miq-bot assign lgalis

[2016-02-29 16:16] lgalis commented on #6999
@miq-bot add_label bug, ui

[2016-02-29 16:20] lgalis commented on #6997
@miq_bot assign @lgalis
@miq-bot add_label ui

[2016-02-29 16:21] lgalis commented on #6997
not sure if this is a bug yet - looking into this

[2016-02-29 16:39] moolitayer opened #7003 "allow scheduling of container image analysis"
Currently it is possible to schedule other analysis operations in config -> configuration -> settings -> schedule

![screenshot from 2016-02-29 18-32-36](https://cloud.githubusercontent.com/assets/3010449/13400979/f0f73a0e-df12-11e5-8c88-12aed53daaf0.png)

[2016-02-29 16:40] moolitayer commented on #7003
@miq-bot add_label providers/containers, ui, enhancement

cc @simon3z

[2016-02-29 16:45] gmcculloug commented on #6939
@bdunne Please take a look.

[2016-02-29 17:01] #6803 closed

[2016-02-29 19:13] jmazzitelli commented on #6915
FYI: I'm getting this same error while trying to setup manageiq locally for the first time (not inside any VM - directly on my Fedora 23 machine). After forking and following the steps here:
  https://github.com/ManageIQ/guides/blob/master/developer_setup.md
I get this error.  Note: I already had a postgres server installed, just had to configure the local access to "trust" and create a "root" use

[2016-02-29 20:00] bdunne commented on #6939
@vrutkovs I was able to reproduce the error you reported on the reported commit.  However that appears to be working on `1ecd7a3`.  I don't know which PR fixed it and would have to spend a lot of time digging through the UI code to find out.  Please retest and let me know if I need to do anything more, or if we can close this.

[2016-02-29 21:28] erjohnso commented on #6966
Having just started ramping up, I think I'd be in favor of removing the tab for now.

[2016-03-01 08:09] LutzLange opened #7018 "Can't add OpenShift Provider in ManagerIQ nightly build from 28-Feb-16"
I got the ManageIQ nightly built from 28-Feb-16.
I can't add an OpenShift provider.

If I try and validate or add the provider I keep getting :
Credential validation was not successful: Missing credentials.

I did add the same provider with that same token successfully from cfme 5.5.2.

[2016-03-01 11:44] lgalis commented on #6997
@miq-bot assign lgalis

[2016-03-01 11:44] lgalis commented on #6997
@miq-bot assign @lgalis

[2016-03-01 12:23] vrutkovs commented on #6939
Doesn't crash anymore, closing

[2016-03-01 12:23] #6939 closed

[2016-03-01 14:05] chessbyte commented on #7018
/cc @simon3z @abonas

[2016-03-01 14:12] abonas commented on #7018
@LutzLange it sounds similar to this issue? https://github.com/ManageIQ/manageiq/issues/6766
if yes, the fix is in review here: https://github.com/ManageIQ/manageiq/pull/6895

[2016-03-01 14:21] LutzLange commented on #7018
Sounds like my issue. Does it make sense to test a new nightly? Is the fix
in yet ?

Regards
Lutz

On Tuesday, 1 March 2016, abonas <notifications@github.com> wrote:

--
____________________________________________________________________

Lutz Lange                                     lutz@redhat.com
@AtomicContainer                        Red Hat GmbH
SME Container and Atomic

[2016-03-01 14:24] abonas commented on #7018
@LutzLange as I wrote above, the fix is in review: #6895

[2016-03-01 14:25] mkanoor commented on #6943
@lehinevych
I checked the Automation log and I don't see that it has a retry call but the retry is not coming thru. Can you check the MiqQueue tables to see if the Queue is stuck. Also check the evm.log to see if it has any errors.
``<AEMethod update_retirement_status> Server:<EVM> Ae_Result:<retry> State:<VMRetirement> Step:<CheckPreRetirement>
``

[2016-03-01 14:32] lgalis opened #7025 "Error when navigating to Optimize-> Planning"
Error when navigating to Optimize-> Planning

[2016-03-01 14:32] lgalis commented on #7025
![screenshot from 2016-03-01 09-31-03](https://cloud.githubusercontent.com/assets/12769982/13429911/82f71d66-df90-11e5-8fbd-e37ec109e86b.png)

[2016-03-01 14:32] lgalis commented on #7025
@miq-bot add_label bug, rails5

[2016-03-01 14:42] chessbyte commented on #7018
@LutzLange you can help validate by applying the fix in #6895 to see if it resolves your issue.

[2016-03-01 14:44] lgalis commented on #7025
with the changes in 7026 - all filter works. Filtering by host ( or other) fails:

[----] F, [2016-03-01T09:41:37.501896 #5935:3fd30e96e3f0] FATAL -- : Error caught: [ActiveRecord::RecordNotFound] Couldn't find all Vms with 'id': (all, {:conditions=>"host_id = 10000000000061", :order=>nil, :joins=>nil, :include=>nil, :select=>nil}) [WHERE "vms"."type" IN ('Vm', 'ManageIQ::Providers::InfraManager::

[2016-03-01 14:46] bdunne commented on #6767
@patchkez The `#refresh_ems` call on the provider through rails console only queues a refresh.  It does not wait for the refresh to complete.  Once the refresh is complete you should see the `last_refresh_date` populated on the `configuration_manager`.  Also, it should show in the UI.

[2016-03-01 15:27] LutzLange commented on #7018
Ok.

I would like that. How would I do this? Are there any instructions to patch
my installation with this?

Or how would I add the provider on the rails console?

Regards
Lutz

On Tuesday, 1 March 2016, Oleg Barenboim <notifications@github.com> wrote:

--
____________________________________________________________________

Lutz Lange                                     lutz@redhat.com
@AtomicCon

[2016-03-01 15:27] agrare commented on #6978
The exception is caught here https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_refresh/refreshers/ems_refresher_mixin.rb#L30 and we explicitly log the backtrace here https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_refresh/refreshers/ems_refresher_mixin.rb#L34.
I confirmed that I see the same error when deleting EC2 credentials as with GCE.  I agree that logging the ba

[2016-03-01 15:28] abonas commented on #7018
@enoodle ^^

[2016-03-01 15:40] enoodle commented on #6766
The change to authentication_check is to mitigate the many occurrences where it is called with no type.

[2016-03-01 15:58] skateman commented on #2451
So i took over this task and I experimented a bit with the `faye-websocket` gem. Currently I have a proxy which supports multiple clients connecting to multiple endpoints. It listens on just one TCP port and the multiplexing is done based on the URL. It is fully compatible with rack, but I would like to have it as a separate worker for better scalabillity.

* Client connects to the websocket serve

[2016-03-01 16:40] enoodle commented on #7018
@LutzLange you should pull this PR: ```git fetch upstream pull/6895/head && git checkout FETCH_HEAD -b PR_6895``` and then just try to add a new provider through the UI (or rails console, If you like I can explain how to do it through there as well.)

[2016-03-01 16:48] #6765 closed

[2016-03-01 20:01] hsong-rh opened #7039 "SmartState: Hyphen in LVM name will be doubled in the device name"
Linux OS will automatically double hyphen, if it exists in the LVM name whenever using as device path. Ex. if vgname = rhel_dhcp181-root, lvname = var, the device path will be /dev/mapper/rhel_dhcp181--root-var. Ignorance this may return empty information in smart state scanning.

[2016-03-01 20:25] gtanzillo opened #7042 "Searching on Vm vendor in the UI brings back no records"
Create an adhoc search on VMs like the one in this screen shot:
![screen shot 2016-03-01 at 3 23 28 pm](https://cloud.githubusercontent.com/assets/76593/13440759/ba539c54-dfc1-11e5-9684-2c15cb427832.png)

The filter will return no results even though there are VMs with vendor == 'vmware'

[2016-03-01 20:44] rafaelfranca opened #7044 "Test this project with Rails 4.2.6.rc1"
Hi team,

we just released Rails 4.2.6.rc1. To help us to find regressions, and make the final release
awesome for everyone, I'm here humbly asking you to test your project with this
Release Candidate.

We are planing the final release to 2016-03-04, so it would be great if
you test it before this date.

If you find any regression please open an issue on GitHub mentioning me and with the title sta

[2016-03-01 20:45] chessbyte commented on #7044
/cc @matthewd @Fryguy

[2016-03-01 21:00] rafaelfranca commented on #7044
Oh. You are running in Rails 5 already so this is not needed anymore.

[2016-03-01 21:00] #7044 closed

[2016-03-01 21:11] kbrock commented on #7044
@rafaelfranca you are rocking it on rails 5 - we want all the goodness and have upgraded :)

[2016-03-01 21:20] lgalis commented on #7042
I see this:

![screenshot from 2016-03-01 16-17-00](https://cloud.githubusercontent.com/assets/12769982/13442295/79e4cc76-dfc9-11e5-830e-752ae7862ccb.png)

[2016-03-01 21:23] chrisarcand commented on #7044
:point_up:  :tada:

[2016-03-01 21:33] gtanzillo commented on #7042
This is the same issue as the one fixed by #6207 for the Host model

The bug is that there is a column and a method on the VmOrTemplate class named "vendor". The value is stored in the Db as "vmware" but the method changes it to "VMware". So, the expression engine builds the correct SQL vendor='vmware' and gets results. But, then the expression is converted to ruby as vendor=='vmware'. When the ru

[2016-03-01 21:59] Fryguy commented on #7044
Oh haha...I totally misread the PR title

[2016-03-01 22:27] gtanzillo commented on #7042
@lgalis This is caused by a bug in the model. We'll take care of it in the core team.

[2016-03-02 03:07] vanloswang opened #7053 "setup failed in master branch"
== 20160209130938 AddServiceOrderToMiqRequest: migrating ======================
-- add_column(:miq_requests, :service_order_id, :bigint)
   -> 0.0003s
== 20160209130938 AddServiceOrderToMiqRequest: migrated (0.0004s) =============

rake aborted!
ActiveRecord::RecordInvalid: Validation failed: Name should be unique per parent
/usr/local/rvm/gems/ruby-2.2.4/gems/activerecord-5.0.0.beta3/lib/active_r

[2016-03-02 03:26] jrafanie commented on #7053
This is fixed in rails master branch. Please git pull manageiq and bundle to get the fix.

[2016-03-02 03:28] jrafanie commented on #7053
Please try that and let us know if it still fails for you. Thanks.

[2016-03-02 03:34] jrafanie commented on #7018
Alternatively,  you can curl / wget https://github.com/ManageIQ/manageiq/pull/6895.patch to download the patch locally, review it, and git am the patch to apply it. You don't have to deal with git commands.

[2016-03-02 11:00] simon3z commented on #7003
@moolitayer are you working on this?

[2016-03-02 12:39] moolitayer commented on #7003
@simon3z yes

[2016-03-02 13:23] skateman commented on #2451
As @matthewd said EventMachine is evil, so I reimplemented the proxy on a lower level without EM. Some exception handling and refactoring is still required but I think I can demo it this week.

[2016-03-02 14:42] luaps opened #7061 "Provisioned VM from provider template (oVirt/RHEV) differs from the template."
I noticed that when you provisioning VM from provider (under Infrastructure) template the VM has different options for example:
- sound card added under Console (in template is disabled)
- VirtIO Serial Console is disabled (in template is enabled)

I noticed especially these two.

When I create VM from oVirt GUI there are no differences.
Expected results: No differences between VM and template dur

[2016-03-02 15:24] lgalis commented on #6999
@bdunne - would you be able to look into this ? the UI does not get an error from the provider when trying to authenticate with incorrect credentials

[2016-03-02 15:26] martinpovolny commented on #2451
@skateman : come on he did not say that! But cool :+1:

[2016-03-02 16:20] lgalis commented on #7025
fixed in #7026

[2016-03-02 16:46] #6767 closed

[2016-03-02 16:52] skateman commented on #2451
Probably found the solution for creating a new worker. If i replace the `Rails.application` [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/mixins/miq_web_server_worker_mixin.rb#L164) with a rack appliaction, it will run! :wine_glass:
So if I inherit & redefine & copy some stuff, it should be okay. Can you confirm it @Fryguy ?

[2016-03-02 17:07] h-kataria commented on #6218
https://github.com/ManageIQ/manageiq/pull/6913

[2016-03-02 17:07] #6218 closed

[2016-03-02 19:30] jzigmund opened #7067 "Error on Storage/Volumes"
I'm getting the error ```Error caught: [ArgumentError] undefined class/module NmaHash``` on Storage/Volumes -> show a Volume.

[2016-03-02 21:41] #6618 closed

[2016-03-02 22:05] dclarizio commented on #7067
@jzigmund can you grab a stack trace so we can see where this is happening and if we should get @roliveri involved?  Thx, Dan

[2016-03-02 23:08] #6766 closed

[2016-03-03 01:58] vanloswang commented on #7053
checkout the latest master branch source code and deploy it, also failed as below:

== Preparing tests ==
** Confirming rails environment does not connect to the database
** Preparing database
rake aborted!
PG::ConnectionBad: FATAL:  Ident authentication failed for user "user"
/usr/local/rvm/gems/ruby-2.2.4/bundler/gems/rails-2c53e2799250/activerecord/lib/active_record/connection_adapters/postgres

[2016-03-03 03:38] roliveri commented on #7067
At this point, I wouldn't expect much under the storage tab to be operational. The feature is disabled by default, and hasn't been used or tested across numerous updates to the code base.

[2016-03-03 09:11] patchkez commented on #6999
@bdunne, @lgalis - Retested on appliance with this fix applied a2e23b29a564a8d7de2cb89596e71937466429b0.
Still seeing the same issue.

[2016-03-03 11:31] jrafanie commented on #7053
The ident error for user user makes me think it's actually the configuration of postgresql. Can you review the manageiq/guides repo particularly where the dev setup discusses configuring the pg_hba.conf file, thanks!

[2016-03-03 13:43] gmcculloug commented on #6991
I recall we went a little crazy with adding guid columns to tables so I suspect that most of these are either not needed or could be easily removed with a little rework.

I can say that both `service` and `vms` both use the guid value today.  The service guid is used during provisioning to link the VM to the service it is being provisioned for, this could be changed to use the id.

For VMs the gui

[2016-03-03 14:49] sunyao5411 opened #7082 "Error on save hosts inventory when vmware's enviroment with hosts more than 10."
MIQ can't collect hosts with same name more than 10 in vmware's enviroment.
The code is in [https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_refresh/save_inventory_infra.rb] line 164~166.
For example, I have 18 hosts with the same name "localhost".
In database, the head of hosts are:
**localhost
localhost - 2
localhost - 3
localhost - 4
localhost - 5
localhost - 6
localhost - 7
loca

[2016-03-03 15:29] blomquisg commented on #6968
@dclarizio can you look at how these icons are selected?  Not sure which one is the right one to go with.

[2016-03-03 15:31] blomquisg commented on #6967
@dclarizio can you look at why this isn't making back to the UI on edit?

[2016-03-03 15:33] blomquisg commented on #6966
@erjohnso sounds good to me ... I think the Service Account credentials seems like a better authentication mechanism.

[2016-03-03 15:48] jrafanie commented on #6915
I don't understand this but I believe the 'user' user is coming from [this](https://github.com/ManageIQ/manageiq/blob/b2d820beab66d0380d3082d49b7356a2f52adce3/lib/tasks/evm_rake_helper.rb#L6)

We run that rake task [here](https://github.com/ManageIQ/manageiq/blob/b2d820beab66d0380d3082d49b7356a2f52adce3/lib/tasks/test.rake#L2).

Note that everyone who's run into this seems to be on linux.  I have

[2016-03-03 15:51] jrafanie commented on #7053
After you fix the ident issue (see pg_hba suggestions [here](https://github.com/ManageIQ/guides/blob/master/developer_setup.md#fedora--centos-7), can you see if run into the problem in #6915

[2016-03-03 16:00] chessbyte commented on #6981
cc @dclarizio

[2016-03-03 16:07] jzigmund commented on #7067
@roliveri ah good to know... do we have any other support for the future ? or is not decided yet ?

@dclarizio at this point, can I skip the tests for ```ontap``` views ?

[2016-03-03 16:49] agrare commented on #6915
@jrafanie followed these steps after installing a clean fedora 23 server spin (https://download.fedoraproject.org/pub/fedora/linux/releases/23/Server/x86_64/iso/Fedora-Server-DVD-x86_64-23.iso) as a VM on virt-manager/kvm:
[code]

Versions of different packages:
[code]

Contents of pg_hba.conf (minus leading comments)
[code]

I see the same error on my debian-testing machine, ubuntu-devel machine,

[2016-03-03 17:22] jrafanie commented on #6915
@agrare We either need to configure it to use unix sockets or I think this is wrong:
[code]

[code]

We should be using unix sockets, or these two lines should be trust or md5, or we configure ident which I have no idea about.

cc @bdunne @carbonin

[2016-03-03 17:24] dclarizio commented on #7067
@jzigmund yes, you can skip those

[2016-03-03 17:25] agrare commented on #6915
@jrafanie that's right from https://github.com/ManageIQ/guides/blob/master/developer_setup.md
Everything else works and the app and test will run, so this rake task seems to be the only one using `127.0.0.1`.

[2016-03-03 17:25] #7067 closed

[2016-03-03 17:39] jrafanie commented on #6915
@agrare Can you confirm this fixes it?

[code]

[2016-03-03 17:41] dclarizio commented on #6968
@dajohnso this would have to go back to the creator to see why they chose these images, and then alter them if needed.

[2016-03-03 17:50] agrare commented on #6915
@jrafanie that fixes

[2016-03-03 17:50] jrafanie commented on #6915
Thanks, @agrare

[2016-03-03 17:56] dclarizio commented on #6967
@dajohnso we took a look and the `project` field was added in a migration when GCE support was added.  This would need to be added to the `set_form_vars` method so it is set on the edit form.

[2016-03-03 18:46] jrafanie commented on #7053
@vanloswang can you see if this fixes your issue: #7088

If you want and are comfortable doing so, you can apply just that patch locally:
[code]

[2016-03-03 20:39] dajohnso commented on #6978
@miq-bot add_label providers/google

[2016-03-03 20:40] dajohnso commented on #6966
@miq-bot add_label providers/google

[2016-03-03 20:41] dajohnso commented on #6967
@miq-bot add_label providers/google

[2016-03-03 20:42] dajohnso commented on #6967
@dclarizio was that for me or @blomquisg ?  I have enough work to do, sorry!  :)

[2016-03-03 20:46] #6915 closed

[2016-03-03 21:16] dajohnso commented on #6969
@miq-bot add_label providers/google ui

[2016-03-03 21:17] dajohnso commented on #6976
@miq-bot add_label providers/google

[2016-03-03 21:18] dajohnso commented on #6974
@miq-bot add_label providers/google

[2016-03-03 21:18] agrare commented on #6969
@miq-bot add_label providers/google, ui

[2016-03-03 21:18] dajohnso commented on #6973
@miq-bot add_label providers/google

[2016-03-03 21:19] dajohnso commented on #6969
Thanks @agrare   ;)

[2016-03-04 13:10] lehinevych commented on #6943
@mkanoor Thanks for your response. I suspect that error below is the cause of the issue. I attached the evm.log file (row 200) in case you need more details.
[----] E, [2016-03-04T07:57:40.174635 #3176:ff9998] ERROR -- : MIQ(MiqQueue#deliver) Message id: [1099], Error: [can't write unknown attribute `region_number`]
[----] E, [2016-03-04T07:57:40.174984 #3176:ff9998] ERROR -- : [ActiveModel::Missi

[2016-03-04 13:37] mzazrivec commented on #1007
This issue has been resolved in pull request #6933 and can now be closed.

[2016-03-04 14:23] mkanoor commented on #6943
@lehinevych
Have you run bin/rake evm:db:migrate after you have gotten the latest code.
I am thinking the Database has old schema and the code is new.

[2016-03-04 15:45] erjohnso commented on #6966
@blomquisg - regarding dev workflow, how does this issue get closed? I figured adding the issue id in PR #7091 would somehow auto-close.  I also don't see a miq-bot command for closing issues.

[2016-03-04 15:49] chessbyte commented on #6966
@erjohnso I think you did not follow https://help.github.com/articles/closing-issues-via-commit-messages/
Just mentioning the issue is not enough, you need to prefix it with a keyword GitHub understands.

[2016-03-04 15:49] #6966 closed

[2016-03-04 15:51] erjohnso commented on #6966
Understood now, thanks @chessbyte.

[2016-03-04 16:59] #7039 closed

[2016-03-04 20:41] lgalis commented on #6999
@miq-bot assign bdunne

[2016-03-04 21:58] agrare commented on #6969
@dajohnso this should be fixed in https://github.com/ManageIQ/manageiq/commit/fad802701904ae4bba9a28189dec4aecd2048184, can you confirm this fixes the issue?

[2016-03-06 13:25] abonas opened #7129 "Wrong project name (CFME) in UI info messages"
![cfmewrongname](https://cloud.githubusercontent.com/assets/6277245/13554407/98ea74ec-e3af-11e5-8c68-fa51450b27fb.png)

appears in several screens, probably needs a global solution

[2016-03-06 13:36] abonas commented on #7129
@chessbyte not sure whose domain is this (productization? branding?) some mentions of CFME are shown in UI, some hardcoded in backend/written to log.

[2016-03-07 12:05] lehinevych commented on #6943
@mkanoor  Did the provided appliance helped you in investigation?

[2016-03-07 12:12] AlexLamande opened #7133 "Error when provisioning AWS vm"
Hi there !

I'm trying to provision AWS virtual machines but it seems that at some point of the CheckProvisioned, it fails.

Here's what I got :
[code]

I'm using **master.20160307120550_1d801be**

Thx for your help !

[2016-03-07 13:05] lpichler opened #7134 "checkboxes don't work visually in Server Control"
When clicking on these checkboxes then they are not checked by that click.
But when I click on unchecked checkbox and then click on save, checkbox is correclty checked.

Screen:
Configure -> Configuration -> Settings -> Any Zone -> Any server -> Server Tab

![screen shot 2016-03-07 at 13 59 33](https://cloud.githubusercontent.com/assets/14937244/13570261/a87809ce-e46d-11e5-972b-7933a770f888.png)

[2016-03-07 14:27] agrare commented on #7082
@sunyao5411 Thanks for finding this!

Can you try changing
`old_name = Host.where("name LIKE ?", "#{found.name.sub(/ - \d+$/, "")}%").order("name DESC").first.name`
to
`old_name = Host.where("name LIKE ?", "#{found.name.sub(/ - \d+$/, "")}%").order("LENGTH(name) DESC").order("name DESC").first.name`

This should return `localhost - 10` as first so that `old_name.succ` will increment to `localhost

[2016-03-07 14:47] mkanoor commented on #6943
@lehinevych
Yes it seems like when we call update_attributes the region_number and region_description are getting into the attributes for the object causing the problem. I am still investigating it

[2016-03-07 17:21] lpichler commented on #7134
@dclarizio should we fix it or should we use bootstrap switches ?

[2016-03-07 18:27] #6094 closed

[2016-03-08 08:47] moolitayer opened #7152 "Schedule filtering results in internal server error (500) nothing in log"
In the ui go to:

Configure -> Configuration -> Schedules -> Configuration -> add a new schedule
Select a filter ("all vms for host")

Symptoms:

- 'new' ajax request to server results in status code 500
- screen stuck with pre loader
- No relevant error in log/*

[2016-03-08 08:50] moolitayer commented on #7152
cc @dclarizio @simon3z
This issue is stopping me from adding scheduling of

- Container image ssa
- Container image compliance check

Both are needed for the OpenSCAP feature.

[2016-03-08 12:21] zeari commented on #6885
Seems to be fixed...

[2016-03-08 12:21] #6885 closed

[2016-03-08 12:21] zeari commented on #6847
solved by #6873

[2016-03-08 12:21] #6847 closed

[2016-03-08 13:07] zeari opened #7154 "Method missing from ActionView::Base"
This happens when trying to generate a chargeback report. Was this method removed somehow?

[code]

[2016-03-08 14:06] jrafanie commented on #6885
@zeari @h-kataria any idea what fixed this?

[2016-03-08 14:07] zeari commented on #6885
Not a clue...

[2016-03-08 14:21] mkanoor commented on #6943
@lehinevych
We are waiting for the PR to get  merged once it has been merged into master you can retest it.

[2016-03-08 15:45] gtanzillo commented on #6885
@lpichler Fixed this issue with #7058

[2016-03-08 16:00] jrafanie commented on #6885
Great, thanks @lpichler @gtanzillo

[2016-03-08 21:22] gmcculloug commented on #7133
Hi @AlexLamande,

I was able to reproduce the issue and got the following stack trace:
[code]

We are failing to set the name on the new instance here [amazon/cloud_manager/provision/state_machine.rb:7](https://github.com/ManageIQ/manageiq/blob/master/gems/manageiq-providers-amazon/app/models/manageiq/providers/amazon/cloud_manager/provision/state_machine.rb#L7)

This is likely related to ManageIQ

[2016-03-08 21:43] #6943 closed

[2016-03-08 22:28] #7082 closed

[2016-03-08 23:50] Fryguy commented on #2078
See also #7129

[2016-03-09 02:05] gildub opened #7166 "Automate Simulation view: Simulation Parameters -> Execute Methods check box broken"
On the Automate -> Simulation page,
in section "Simulation Parameters",
the "Execute Methods" check box can't be checked any more.
A workaround is to reverse commit#dcb7633c9ad283937d6e885c1fe155c48f30ff60

[2016-03-09 08:13] #515 closed

[2016-03-09 11:12] gtanzillo commented on #7154
Potential fix https://github.com/ManageIQ/manageiq/compare/master...gtanzillo:issue-7154-action-view-base?expand=1

[2016-03-09 12:15] abonas commented on #6981
any update on this from anyone?

[2016-03-09 12:21] abonas opened #7170 "VM and Host icons in topology need an update"
Following this PR https://github.com/ManageIQ/manageiq/pull/6700, the VM and host icons no longer match the rest of the system.

@miq-bot add_label providers/containers, ui

[2016-03-09 15:04] lehinevych commented on #6943
@mkanoor thanks

[2016-03-09 15:06] #6150 closed

[2016-03-09 15:06] #6275 closed

[2016-03-09 16:45] lpichler commented on #6979
this currenlty saves me, but It is not complete fix(some flash message are not displayed).

[code]

[2016-03-09 19:38] chrisarcand commented on #7154
This is a regression from #6851

@miq-bot assign @chrisarcand

[2016-03-10 08:44] dclarizio commented on #7152
@AparnaKarve can you take a look at this?  If not upstream only, may need to open a BZ so we can get this fixed.  Thx, Dan

[2016-03-10 12:45] #7133 closed

[2016-03-10 13:10] ZitaNemeckova opened #7195 "Comparison of strings that need to be localized"
app/controllers/application_controller/compare.rb

drift_record_nonexistmode(idx, match, val, basval) and drift_record_existmode(idx, val, basval) are comparing strings("Found") that are part of UI.

[2016-03-10 14:49] alongoldboim opened #7198 "Manageiq keeps on turning off machines on RHEV."
RHEVM version:  rhevm-3.6.3.4-0.1.el6
There seems to be a problem with built in policy.
http://pastebin.com/hXQBdyNr - policy log.

[2016-03-10 14:50] #6511 closed

[2016-03-10 16:25] martinpovolny commented on #6627
`lib/charting/c3_charting.rb` there's

`
  def js_load_statement(delayed = false)
    delayed ? 'setTimeout(function(){ load_jqplot_charts(); }, 100);' : 'load_jqplot_charts();'
  end
`
so that places that rely on `js_load_statement` are probably not working with C3

@PanSpagetka

[2016-03-10 18:32] gmcculloug commented on #7198
@lfu This appears to be broken as of PR #6304 with some miq_policy.rb refactoring.  I did some debugging and the built-in policy to prevent starting a VM is getting added to the listed of failed policies ([app/models/miq_policy.rb#L159](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_policy.rb#L159)) and that causes the action for that policy to run.

[2016-03-10 19:11] AparnaKarve commented on #7152
It is a rails5 issue, hence upstream only.
https://github.com/ManageIQ/manageiq/pull/7026 should resolve this.

[2016-03-10 21:56] carbonin commented on #4212
@Fryguy Didn't you fix this?

[2016-03-10 22:02] carbonin commented on #420
If this is still an issue it should probably be opened on the [manageiq-appliance-build](https://github.com/ManageIQ/manageiq-appliance-build) repo. @jvlcek @simaishi

[2016-03-10 22:09] simaishi commented on #420
Things will fail before that and doesn't get far enough to update symlink if something goes wrong, so we won't hit this issue in 'failed build' cases.  But I guess you can get to that line with empty directory if you don't give any target to build...

[2016-03-10 22:18] #420 closed, assigned to simaishi

[2016-03-10 22:28] #7154 closed

[2016-03-10 22:55] nachandr opened #7217 "No flash message while adding/editing Chargeback rates"
Steps to reproduce:

1)Navigate to Cloud Intelligence->Chargeback.
2)From the Rates accordion, add a new Chargeback rate or edit an existing one.

Observe that no flash message is displayed while adding/editing Chargeback rates.The new rate does get added.

Issue found in master.20160310130425_71e362e .

[2016-03-10 23:08] nachandr opened #7218 "New Chargeback rates not seen on Chargeback Rates tree"
Steps to reproduce:

1)Navigate to Cloud Intelligence->Chargeback.
2)From the Rates accordion, add a new Chargeback rate.

Observe that this new rate is not seen on the Chargeback Rates tree.The new rate can be seen once you navigate to a different tab.

Issue found in master.20160310130425_71e362e .

[2016-03-10 23:25] nachandr opened #7219 "Check marks not seen in check boxes on Configuration page"
1)Navigate to Configure->Configuration.
2)Select Current server from the settings accordion.
3)On the server tab, select a few server roles.Notice that the selection made is not seen, although it does get saved.

Issue found in master.20160310130425_71e362e .

[2016-03-11 02:07] jrafanie commented on #6739
@lpichler What is the issue with `20140918154013_add_provider_region_to_ext_management_systems_spec`?  How is MiqDatabase being loaded?

[2016-03-11 04:36] nachandr opened #7221 "Load error!(parseerror) while viewing saved chargeback reports"
Steps to reproduce:
1)Generate a Chargeback report.
2)Navigate to Cloud Intelligence->Chargeback.
3)From the reports accordion, click 'Saved Chargeback reports', then click the saved Chargeback report.

Issue found in master.20160310130425_71e362e .

![upstream_parse_error](https://cloud.githubusercontent.com/assets/5183021/13693398/7ae1676c-e710-11e5-8567-d3c62e392560.png)

[2016-03-11 08:46] martinpovolny commented on #2451
models: https://github.com/ManageIQ/manageiq/pull/7224

[2016-03-11 08:48] martinpovolny commented on #2451
REST API skeleton: https://github.com/ManageIQ/manageiq/pull/7178

[2016-03-11 09:38] lpichler commented on #7221
seems that this solves this https://github.com/ManageIQ/manageiq/pull/7183 @chrisarcand ?

[2016-03-11 12:10] akarol opened #7227 "ActionController::RoutingError when navigated to clouds->Key Pairs"
Build:
master.20160310180701_71e362e

Steps:
1. Navigate to clouds->Key Pairs

Actual results::
Routing Error in Production.log

Production.log:
[----] I, [2016-03-11T07:04:43.284867 #2994:a147da0]  INFO -- : Started GET "/images/100/manageiq/providers/cloud_manager/auth_key_pair.png" for 127.0.0.1 at 2016-03-11 07:04:43 -0500
[----] F, [2016-03-11T07:04:43.291163 #2994:a147da0] FATAL -- :
[----]

[2016-03-11 13:56] vrutkovs opened #7228 "Incorrect navigation from Pods to Containers"
STR on commit febff2ab983cda8a521154b2d15e8cdca3b3f27a:
1. Add containers provider (mine was OSE) and refresh
2. Open Containers - Containers, show details for any container
3. Go to Pods, pick any pod
4. Using the pane on the right select 'Containers', click on any container in the table

Result: correct container is selected in the left pane, however details were not refreshed - details for cont

[2016-03-11 13:58] simaishi commented on #423
The only thing we currently clean up is the temp images in /build/storage.  Do we want to delete nightly images after 21 days?

@jvlcek - can we move this to manageiq-appliance-build?

[2016-03-11 14:05] kbrock commented on #4212
@carbonin Thanks

Fixed by #7076

[2016-03-11 14:05] #4212 closed

[2016-03-11 14:24] jvlcek commented on #423
@simaishi This issue was filed a year and a half ago. I don't know if it is still a problem but if it is feel free to move it to where it will best be tracked.

[2016-03-11 14:41] #6999 closed

[2016-03-11 14:52] chrisarcand commented on #7221
Yes; please update to latest master and reopen if this issue reoccurs. This can be closed.

[2016-03-11 14:53] lgalis commented on #7025
fixed in #7026

[2016-03-11 14:53] #7025 closed

[2016-03-11 15:05] simaishi commented on #423
What is the problem - is what I'm trying to find out... If we used to delete nightly images after 21 days and we don't do it now, maybe that's for a reason.

Since I can't close, please close this issue then.  I'll ask some people and open an issue in manageiq-appliance-build if needed.

[2016-03-11 15:05] satyajitbulage opened #7230 "Deleting user/roles/groups/tenant from list view throws undefined method `split' for 1:Fixnum [ops/x_button]"
Build:
    master.20160311012927_71e362e

    Steps:
    1. Navigate to Configure->Configuration.->access control
    2. Try deleting the user from list view.

    Note:Also try deleting group,role and tenant from list view

    Actual Results:
    split' for 1:Fixnum [ops/x_button] is thrown on UI

    production.log:
    [----] I, [2016-03-11T09:04:45.973788 #2994:d5f9120]  INFO -- :   Parameter

[2016-03-11 15:12] niyazRedhat opened #7231 "Deleting default role from summary view throws "cannot delete record because of dependent miq_groups [ops/x_button]""
Build:
master.20160310180656_71e362e

Steps:
1. Navigate to Configure->Configuration.->access control
2. Try deleting the roles from summary view

Actual Results:
"cannot delete record because of dependent miq_groups [ops/x_button]" is thrown on UI

Production.log :
[----] I, [2016-03-11T09:54:02.988575 #3001:b61735c]  INFO -- : Started POST "/ops/x_button/9?pressed=rbac_role_delete" for 127.0.0.1

[2016-03-11 15:15] #7221 closed

[2016-03-11 15:35] #423 closed

[2016-03-11 15:39] jrafanie commented on #7219
@nachandr Can you provide screenshots if this is still a problem?

[2016-03-11 15:44] jrafanie commented on #7217
@tledesma Can you triage this bug?

[2016-03-11 15:44] jrafanie commented on #7218
@tledesma Can you triage this bug?

[2016-03-11 15:46] chrisarcand commented on #7231
Duplicate of #7230

[2016-03-11 16:15] simaishi commented on #421
@jvlcek moved this issue to manageiq-appliance-build.  Please close this one.

[2016-03-11 16:18] simaishi commented on #422
@jvlcek moved this issue to manageiq-appliance-build. Please close this one.

[2016-03-11 17:13] #6501 closed

[2016-03-11 19:44] #421 closed

[2016-03-11 19:45] #422 closed

[2016-03-13 11:46] dkorn opened #7256 "Refresh container providers via api fails"
According to the docs [1] performing a refresh of providers using api request is done via the refresh action. While it works well for cloud providers, when attempting that on container provider the operation fails with the following response (provider id is 7):

[code]

Looking into it a little, I was able to trace the failure into two methods, that are being called from `def refresh_ems` from app

[2016-03-13 11:47] dkorn commented on #7256
@alongoldboim @simon3z we are missing the refresh operation as the last part of the deployment.
@simon3z - let me know if you want me to further deep dive into it.

[2016-03-13 15:05] moolitayer commented on #7152
Indeed issue solved
Thanks @AparnaKarve @dclarizio

[2016-03-14 08:54] simon3z commented on #7256
@dkorn if this is specific for containers then yes please continue researching (and fix).

[2016-03-14 11:53] moolitayer opened #7264 "missing image for 'expand all' at compliance history pages"
The image '/images/toolbars/squashed-all-true.png' seems to be missing

![screenshot from 2016-03-14 13-48-58](https://cloud.githubusercontent.com/assets/3010449/13743628/908f45a6-e9eb-11e5-808d-ae6816d42cc9.png)

cc @dclarizio @epwinchell @simon3z

[2016-03-14 13:23] tledesma commented on #7218
@jrafanie This issue is the same that https://github.com/ManageIQ/manageiq/issues/6979, I realized them when I wanted to push my first PR.

[2016-03-14 13:24] tledesma commented on #7217
@jrafanie This issue is the same that https://github.com/ManageIQ/manageiq/issues/7218 and https://github.com/ManageIQ/manageiq/issues/6979, I realized them when I wanted to push my first PR.

[2016-03-14 13:55] epwinchell commented on #7264
@miq-bot assign @epwinchell

[2016-03-14 13:55] epwinchell commented on #7264
@miq-bot add_label ui, bug

[2016-03-14 14:56] epwinchell commented on #6981
@serenamarie125 Patternfly removed  k8s and open shift icons for the reasons we discussed. Do you see an issue with adding them to our own custom font set or should SVGs and PNGs be used for these images going forward?

[2016-03-14 15:00] abonas commented on #6981
@epwinchell how is this case different from the Atomic icons that are already part of miq?

[2016-03-14 15:04] epwinchell commented on #6981
@abonas Waiting for a definitive answer about whether we can even continue to have those as font icons rather than PNGs and SVGs.

[2016-03-14 15:21] #7170 closed

[2016-03-14 18:18] chrisgreene opened #7272 "Can't read dialog form values from a refresh event"
I'm new to ManageIQ so I hope this is a bug and not a mistake on my part. I searched and didn't find this reported as an issue yet.

In the capablanca-2 release I was able to do the following:

* Create a Service Dialog named **CheckboxRefresh** with two elements
 * Element **Checkbox**
   * Label: Checkbox
    * Name: checkbox_value
    * Type: Check Box
    * Auto Refresh other fields when modif

[2016-03-14 19:48] sshveta opened #7277 "Deleting a service dialog in use shows error"
Steps:
Create a service dialog.
Create a catalog item that uses this dialog
Delete dialog . See Error

Screenshot :
![screenshot from 2016-03-14 10 43 36](https://cloud.githubusercontent.com/assets/3866976/13757691/f9cd5570-e9e2-11e5-875c-d058f447d880.png)

Production Log
====================
[----] F, [2016-03-14T13:43:07.088666 #3001:36a3e04] FATAL -- : Error caught: [RuntimeError] Dialog cannot

[2016-03-14 21:09] juliancheal opened #7280 "WIP: Multi-endpoint naming consolidation"
From the work on multi-endpoints, it's become apparent that we need to group: endpoints, authentications, etc by something… So far in the codebase we have both `role`, and `authtype` and possibly more that I am not aware of.
Also since bringing together endpoints we can see we now have two types of security types: `security_protocol`, and `verify_ssl`. Again, maybe more.
- [ ] Move roles & authtyp

[2016-03-14 22:21] bdunne opened #7283 "ISO Datastores issues"
1. The image is broken
2. I can't add a second ISO datastore
   ![screenshot from 2016-03-14 18-19-05](https://cloud.githubusercontent.com/assets/651659/13761864/8d2c417c-ea11-11e5-8d60-fe703489388f.png)

[2016-03-14 22:23] bdunne commented on #7283
@dclarizio Are you aware of any issues here?  cc @h-kataria @gmcculloug

[2016-03-15 06:36] alongoldboim opened #7285 "Cloud init template not working well when doing programatically provisioning."
Calling provision using:
`$evm.execute('create_provision_request', *args)`
- the args are also set with root_password and customization_template_id
- the customization_template is: https://github.com/ManageIQ/manageiq/pull/7254
- the template is using `MiqPassword.decrypt(evm[:root_password])`
- the exact same args are copied from a request that I'm making on the UI (from the ui the request works)

[2016-03-15 10:01] skateman opened #7289 "Wrong number of arguments when starting EVM"
With the latest master and a clean database `bundle exec rake evm:start` fails with this error after the seed:
[code]

[2016-03-15 10:13] skateman commented on #7289
@miq-bot add_label bug

[2016-03-15 10:24] abonas commented on #7289
I reproduce it as well

[2016-03-15 10:25] skateman commented on #7289
Blocks https://github.com/ManageIQ/manageiq/pull/7078

[2016-03-15 10:29] abonas commented on #7289
caused by #7266. cc @chrisarcand @Fryguy

[2016-03-15 10:58] #7289 closed

[2016-03-15 11:13] abonas commented on #7228
@miq-bot add_label providers/containers
cc @bazulay @simon3z

[2016-03-15 11:50] simon3z commented on #7228
FYI @dkorn I've been able to reproduce the issue above. Let's handle this when you have some free time (probably after devel freeze if you're too busy now).

[2016-03-15 12:11] lucasponce opened #7291 "master can't setup or update"
Trying to bin/setup or bin/update master throws errors like:

http://paste.fedoraproject.org/340197/03922014/

IRC conversation:

<abonas> @pilhuhn @lucasponce @matthewd I think it's because of https://github.com/ManageIQ/manageiq/pull/7220
<abonas> not sure what's the fix, but I think that the complaint in the exception you pasted has something to do without requiring/including the same code twic

[2016-03-15 12:22] lucasponce commented on #7291
@miq-bot add_label bug

[2016-03-15 12:33] chrisarcand commented on #7289
Derp. Thanks @matthewd

[2016-03-15 12:49] lehinevych opened #7293 "REST API actions - 500 Internal Server Error"
The system won't allow to perform any action on collection entity. For example, try to start vm, refresh provider or delete user.
The response is  "APIException: JSONDecodeError: 500 Internal Server Error
If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong."

The production log file shows
[code]

[2016-03-15 14:13] chrisarcand commented on #5958
This is fixed via the upgrade to RSpec 3 and can be closed.

[2016-03-15 14:14] #5958 closed

[2016-03-15 14:26] juliancheal commented on #7280
@miq-bot add wip providers

[2016-03-15 14:32] juliancheal commented on #7280
@miq-bot add_label wip, providers

[2016-03-15 15:20] PanSpagetka opened #7301 "Old selects in Utilization form"
When you navigate to Infrastructure->Hosts->SelectHost->Monitoring->Utilization there are old selects.
![firefox_screenshot_2016-03-15t15-17-02 604z](https://cloud.githubusercontent.com/assets/9535558/13782986/cd49cafa-eac9-11e5-8d11-4e8e36c1829d.png)

[2016-03-15 15:33] #7291 closed

[2016-03-15 16:11] #7217 closed

[2016-03-15 16:28] chrisarcand commented on #6757
Only [a few places](https://github.com/manageiq/manageiq/blob/1017ef3473a2ab9432a7df8acdc0379ab7e05d2a/lib/resource_feeder/test/test_helper.rb#L51-L52), and then this can be closed.

[2016-03-15 18:04] chrisarcand commented on #6757
Following this up, the old `resource_feeder` lib we use is _very_ old; after getting load paths working again I don't think these tests are at all compatible with Rails 5.

As that whole lib should be updated/replaced and these tests are so far removed, I think we can close this issue now. Those alias_method_chains are never run anyway. @matthewd ?

[2016-03-15 18:39] jrafanie commented on #7218
Thanks @tledesma

[2016-03-15 19:46] Fryguy commented on #7285
I wonder if it's a String encoding thing...

[2016-03-15 21:40] simon3z opened #7307 "Container dashboard displaying wrong number of entities"
After PR #6856 the dashboard is not displaying the correct number of entities. For example here it is showing 43 pods, while the active ones are only 12.

![screenshot from 2016-03-15 22-33-42](https://cloud.githubusercontent.com/assets/130393/13794799/088351ac-eafe-11e5-8c44-069a47ca21a8.png)

![screenshot from 2016-03-15 22-34-26](https://cloud.githubusercontent.com/assets/130393/13794809/18bfc1

[2016-03-15 21:40] simon3z commented on #7307
@miq-bot add_label providers/containers, bug

[2016-03-15 21:44] zeari commented on #7307
Yep, didnt alter the dashboard.
PR will be up in morning

[2016-03-15 21:49] zeari commented on #7307
2.2.4 :014 > ContainerGroup.all.count
   (0.4ms)  SELECT COUNT(*) FROM "container_groups"
 => 43
2.2.4 :015 > ContainerGroup.where(:ems_id => nil).count
   (0.5ms)  SELECT COUNT(*) FROM "container_groups" WHERE "container_groups"."ems_id" IS NULL
 => 31

Ah wait, the groups arent disconnecting properly?

[2016-03-15 21:50] simon3z commented on #7307
Yes they are, what I showed is that `ems_id` are `NULL` (disconnected).

[2016-03-15 21:56] dclarizio commented on #7283
@bdunne Not aware, but get the log so we can see what the image name is that is it looking for.  Also hover the mouse over the disabled button to see if there is a reason displayed.

[2016-03-15 23:13] simon3z opened #7311 "Container builds entries are not ordered"
Container builds entries are not ordered:

![screenshot from 2016-03-16 00-11-21](https://cloud.githubusercontent.com/assets/130393/13797150/b4c45d64-eb0b-11e5-80ee-dc3be96d7c84.png)

Probably we should order them by completion timestamp from with the most recent one at the top. Also we should probably start thinking how to handle a large number of builds (pagination?).

cc @enoodle

[2016-03-15 23:13] simon3z commented on #7311
@miq-bot add_label providers/containers, enanchment, ui

[2016-03-15 23:14] simon3z commented on #7311
@miq-bot add_label enhancement

[2016-03-16 11:33] lpichler commented on #6739
@jrafanie seems `20140918154013_add_provider_region_to_ext_management_systems_spec` apparently was added by mistake => removed, thanks

currently:
good_migrations gem is silent after this https://github.com/ManageIQ/manageiq/pull/7312 and
after replacing `ReservedMixin` for migrations

[2016-03-16 15:31] jrafanie commented on #6739
@lpichler I was talking with @matthewd and it probably makes sense to (cc @Fryguy):

* move ReservedMixin out of app to lib so good_migrations doesn't [complain about it](https://github.com/testdouble/good-migrations/blob/master/tasks/good_migrations.rake#L10)
* Or, add a way to provide a "whitelist" to good_migrations for allowed autoloaded constants such as ReservedMixin
* Or, include the module

[2016-03-16 15:32] #6757 closed

[2016-03-16 16:32] bronaghs opened #7327 "AZURE - Capture the Subscription ID on the Add Cloud Provider screen"
We need to prompt the user to enter the Subscription ID when adding a new Azure cloud provider.
Like the existing client ID and tenant ID fields, this field will also be a UID. However, the Subscription ID will be optional.

[2016-03-16 16:32] bronaghs commented on #7327
@miq-bot assign @dclarizio

[2016-03-16 16:55] bronaghs opened #7329 "SCVMM Refresher - Add specs for Host/Switch and Switch/LAN"
Add specs to test the parsing of the virtual switch on the host and the LAN and physical NICs on the hyperv server.

[2016-03-16 18:20] #7152 closed

[2016-03-16 18:23] dclarizio commented on #7129
@bmclaughlin can you please try to track these down and productize the strings?

[2016-03-16 18:45] lgalis commented on #7134
@miq-bot assign lgalis

[2016-03-16 20:39] dajohnso commented on #7272
@chrisgreene , screenshots would be very useful, please attach.

[2016-03-16 20:41] dclarizio commented on #7219
@lgalis similar to the other issue.

[2016-03-16 20:49] dclarizio commented on #7230
@AparnaKarve double check that this is upstream only.  Thx, Dan

[2016-03-16 20:52] djberg96 commented on #7327
:+1:

[2016-03-16 20:57] jvlcek commented on #4554
Fix was merged. Closing

[2016-03-16 20:57] #4554 closed

[2016-03-16 21:02] dclarizio commented on #7327
@AparnaKarve discuss with @bronaghs if needed.  Thx, Dan

[2016-03-16 21:30] h-kataria commented on #7277
@mzazrivec This seems to be only happening on upstream master, maybe introduced by splitting of precess_elements method to handle Delete button in a new method https://github.com/ManageIQ/manageiq/blob/master/app/controllers/application_controller/ci_processing.rb#L932, probably need to rescue RuntimeError in https://github.com/ManageIQ/manageiq/blob/master/app/controllers/application_controller/c

[2016-03-17 07:04] furlongm opened #7342 "Cannot change domain for openstack keystone v3 admin account when adding openstack cloud provider"
Currently the "default" domain (labelled Zone) is greyed out when choosing the v3 API while adding an openstack domain provider.

If the admin account is in a different domain than "default" (e.g. "admin" domain), you cannot validate the credentials for the admin user.

Having the ability to change the Zone/domain would allow the credentials to validate and the cloud to be added.

[2016-03-17 07:14] lpichler commented on #7134
thanks @lgalis !

[2016-03-17 07:14] #7134 closed

[2016-03-17 09:12] alongoldboim opened #7344 "Cloud init not working well on aws"
Getting:
``` [Aws::EC2::Errors::InvalidParameterValue]: Invalid BASE64 encoding of user data ```
it seems we arn't encoding the parameter well.

http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_RunInstances.html
"UserData
Data to configure the instance, or a script to run during instance launch. For more information, see Running Commands on Your Linux Instance at Launch (Linux) and Adding

[2016-03-17 09:39] alongoldboim opened #7347 "Aws provisioning requires security group, the UI isn't enforcing/validating"
Getting:
[Aws::EC2::Errors::MissingParameter]: When specifying a security group you must specify a group id for each item

Need to add validation in the UI
@gmcculloug have a look please.

[2016-03-17 11:09] lpichler commented on #6739
thanks @jrafanie @matthewd @Fryguy  so choosing first option in https://github.com/ManageIQ/manageiq/pull/7348

[2016-03-17 11:56] simon3z opened #7351 "Deleted containers shouldn't be listed in the left cell"
After PR #6856 the container page is not displaying the correct list of entities.

![screenshot from 2016-03-17 12-46-34](https://cloud.githubusercontent.com/assets/130393/13845152/56ac4546-ec3e-11e5-93d3-a616fd22b9cf.png)

The running pods were:

[code]

cc @zeari

[2016-03-17 11:57] simon3z commented on #7351
@miq-bot add_label providers/containers, bug, ui

[2016-03-17 12:19] simon3z commented on #7351
Maybe fixed by https://github.com/ManageIQ/manageiq/pull/6658

[2016-03-17 12:23] simon3z commented on #7351
Atcually #6658 gives us the `ems_id` to check upon.

[2016-03-17 12:27] simon3z commented on #7351
Related information:

[code]

You probably need to update #7317 to check on `nil` `ems_id` instead of `deleted_on`.

[2016-03-17 12:52] alongoldboim opened #7353 "Missing refresh option in automation requests view"
Unlike the service/requests have refresh.
![selection_005](https://cloud.githubusercontent.com/assets/11405684/13846461/e74fb536-ec4f-11e5-8a5a-140f21aeb6b6.png)
vs
![selection_006](https://cloud.githubusercontent.com/assets/11405684/13846465/eada33de-ec4f-11e5-8ff8-d8ce9f4d2701.png)

@dclarizio @gmcculloug please have a look.

[2016-03-17 13:21] chessbyte commented on #7351
@simon3z agree on switch from `deleted_on` to `ems_id` nil check.  I would suggest reviewing https://github.com/ManageIQ/manageiq/pull/6856 for similar changes.

[2016-03-17 14:20] durandom commented on #6955
currently we ignore terminated instances on a refresh:
https://github.com/ManageIQ/manageiq/blob/b263fadbcd1cf699e2e045734ada92c77cb86422/config/vmdb.tmpl.yml#L74
If you change that to `false` the power state will be updated to terminated - otherwise it will remain as off.

@lehinevych As this has been the case since a looong time, I guess this is also the way it works on 5.5. Can you check on the

[2016-03-17 15:31] mzazrivec commented on #7277
@h-kataria Incidentally, I fixed this very problem in pull request #7269, so if you can, please
close this issue (I don't have the button to do so).

[2016-03-17 15:37] sergio-ocon commented on #7218
@gtanzillo @jrafanie how we coordinate with this? Are you working on #7217 or should we do it?

[2016-03-17 15:50] h-kataria commented on #7277
Fixed in https://github.com/ManageIQ/manageiq/pull/7269

[2016-03-17 15:50] #7277 closed

[2016-03-17 16:38] jrafanie commented on #7218
@sergio-ocon Normally, you put `Fixes #1234` in the commit message and when the commit is merged, the relevant issue(s) are automatically closed.  If an issue is a duplicate of another one, you can ask for a committer to close the issue as a duplicate of another.  I'll close this one since @tledesma says it's a dupe of #6979.  #7217 is already closed, so I think only #6979 is open.

[2016-03-17 16:38] #7218 closed

[2016-03-17 17:18] simon3z opened #7363 "Containers topology incorrectly showing nodes as NonReady"
The topology is displaying some nodes as NonReady (red ones):

![screenshot from 2016-03-17 18-11-15](https://cloud.githubusercontent.com/assets/130393/13854456/dbef97da-ec6b-11e5-9520-c4922780b680.png)

The nodes marked as NonReady are:

[code]

But as shown in the list of the nodes (at the very same time), they're Ready:

![screenshot from 2016-03-17 18-13-15](https://cloud.githubusercontent.com

[2016-03-17 17:19] simon3z commented on #7363
@miq-bot add_label providers/containers, ui

[2016-03-17 19:14] lgalis commented on #7219
@nachandr - this should be fixed by https://github.com/ManageIQ/manageiq/pull/7339

[2016-03-17 20:55] erjohnso opened #7373 "GCE Cloud Provider lists too many images"
GCE currently has about 420 operating system images across all officially supported platforms. However, only about 20 of them are considered non-deprecated.  Normally, users will only want to use the select from the most current list.

Incoming fix for this.

[2016-03-17 20:55] erjohnso commented on #7373
@miq_bot add_label providers/google

[2016-03-17 21:02] moolitayer opened #7374 "Widget labels not aligned"
![manageiq dashboard](https://cloud.githubusercontent.com/assets/3010449/13861090/2638e92c-ec94-11e5-9cd3-d2dd53b4705b.png)

cc @dclarizio @simon3z

[2016-03-17 21:10] durandom commented on #7347
incidently I just ran in this too, good timing :)

[code]

my guess is, that we must not specify an empty array of `security_group_ids` here. I'll test this and report back. Thanks for opening this issue and pinging me

[2016-03-17 21:12] durandom commented on #7347
just for reference, it's indeed not required according to the docs:
http://docs.aws.amazon.com/sdkforruby/api/Aws/EC2/Resource.html#create_instances-instance_method
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html

[2016-03-17 21:16] simon3z commented on #7374
@moolitayer I think they're aligned... not as we may expect them though... they seem "aligned to the center".

[2016-03-17 22:05] #7230 closed

[2016-03-17 22:20] simon3z opened #7375 "NotImplementedError in type_cast when running SmartState Analysis"
Running the SmartState Analysis this error is reported:

[code]

The scan seems to complete successfully anyway (packages are stored in the db).

cc @chessbyte @roliveri

[2016-03-17 22:20] simon3z commented on #7375
@miq-bot add_label smartstate, bug

[2016-03-17 22:45] dclarizio commented on #7374
@martinpovolny I'm thinking this may become a non-issue once we have C3 charts up and running.

[2016-03-18 01:12] epwinchell commented on #6981
@abonas Patternfly 3.3.3 was released today with new branded SVG images for Kubernetes, OpenShift and Atomic. As soon as @skateman can get it converted to sass, we'll merge it in and I'll follow it up with additional SVGs for other vendors.

[2016-03-18 09:00] lehinevych commented on #6955
@durandom I checked the setting in my installation on 5.5 and the ignore_terminated_instances is true, however when you terminate the instance the power state become "suspended" and then "terminated".

[2016-03-18 09:07] akarol opened #7380 "undefined method `[]' for nil:NilClass [report/tree_select] when clicked on tenant quotas widget"
Version:master.20160318023405_aa10fc4

Steps:
1.Navigate to cloud intelligence->reports->dashboards widgets->reports
2.click on tenant quotas

Actual result:
undefined method `[]' for nil:NilClass [report/tree_select] displayed in UI. see attached screenshot

production.log
[----] F, [2016-03-18T05:04:27.589981 #2990:3e86e00] FATAL -- : Error caught: [NoMethodError] undefined method `[]' for nil:N

[2016-03-18 10:28] Ladas commented on #4852
This is actually not an issue, changing Automate like this requires a restart.

[2016-03-18 10:28] #4852 closed

[2016-03-18 10:30] mzazrivec opened #7382 "ISE when clicking on a OpenStack orchestration stack summary"
Navigate to: Clouds -> Stacks -> click on some OpenStack orch. stack:

[code]

[2016-03-18 11:17] akarol opened #7383 "Volumes in cloud section in default view is not aligned properly"
Version:master.20160318023405_aa10fc4

Steps:
1.Navigate to configure->my settings->Default views

Actual result: volumes in cloud section is not aligned properly. see attached screenshot
![screenshot from 2016-03-18 16 46 19](https://cloud.githubusercontent.com/assets/986028/13876291/f72aa540-ed28-11e5-986a-79b83be3707c.png)

[2016-03-18 11:51] akarol opened #7384 "Duplicate id in manage quota form"
version:
master.20160318023405_aa10fc4

steps:
1.Navigate to configure->access control->tenants
2.Navigate to Manage quotas form for Tenant "My Company"

Actual result:
All the text boxes has the same id ie 'textInput-markup'

[2016-03-18 12:01] erjohnso commented on #7373
Forgot to /cc @agrare and @blomquisg

[2016-03-18 12:09] martinpovolny commented on #7384
@himdel, @h-kataria, @AparnaKarve : sound like stuff in the new Angular code. Don't know who is the author, but anyway we should make sure not only that we do not create duplicated issues, but also that we try to make it easier for the QE to test stuff.

Can you, please, take a look?

Thx!

[2016-03-18 12:15] akarol commented on #7384
Bugzilla link: https://bugzilla.redhat.com/show_bug.cgi?id=1319005

[2016-03-18 12:19] himdel commented on #7384
AFAICT the id is never used, and looks like copy paste.. We should just remove it from everywhere

[2016-03-18 12:44] martinpovolny commented on #7384
Sure, we can remove it, but could we instead add an id that would relate to the content? (To make testing easier.) Again, we should seek patterns that would make test automation easier.

[2016-03-18 12:56] agrare commented on #7373
@erjohnso If we don't inventory deprecated images then we won't be able to link instances to the images that were used to created them if that image is now deprecated, but I definitely agree that we show too many images.
I think a good approach would be to add a 'deprecated' field to the images model, that way we can still have a record of the relationship but only show current images.  Thoughts?

[2016-03-18 12:59] chessbyte commented on #7382
@bzwei @dclarizio can you take a look
/cc @gmcculloug

[2016-03-18 13:03] erjohnso commented on #7373
Is your suggestion limited to the Google provider, or a general fix?  If it's just Google, then I think I can keep this issue open and work on a new PR.

One of the main reasons we deprecate images is because of CVEs, so limiting inventory access to old images is a good thing.

[2016-03-18 13:10] agrare commented on #7373
It would be added for all providers but for now only gce would fill it in.

[2016-03-18 13:14] erjohnso commented on #6976
So, stop/start are working afaict. What is clear is that the UI does not auto-refresh to show the state change once the operation is complete. But if I manually refresh the UI, then I see the correct state appear.

Is the issue related to auto-refresh of the UI, or were the GCE instances not starting?  If the latter, I think we can close this as obsolete since I can't repro.

[2016-03-18 13:20] lgalis commented on #7384
@miq-bot assign lgalis

[2016-03-18 13:23] erjohnso commented on #6978
What are the next steps for this?

[2016-03-18 13:30] erjohnso commented on #6974
So, iiuc, you are expecting to create separate GCE providers for any/all regions for which you want to manage instances?

Is that really the desired behavior, or is that more of an artifact of how AWS requires separate endpoints / connections for each region?  Google is more flexible in the sense that you can manage resources across all regions with the same endpoint.

If that is the direction, th

[2016-03-18 13:41] dajohnso commented on #6974
@blomquisg is the authority here, but if that is indeed the case, I think we just need to remove the region dropdown from the provider create form then as that is what was leading me to believe it was suppose to be scoped at the region level.

[2016-03-18 13:41] erjohnso commented on #6973
GCE currently only supports stop, start, reset, delete(terminate).  What it make more sense to update the UI to not show the unsupported options like shelve?

https://cloud.google.com/compute/docs/instances/stopping-or-deleting-an-instance
https://cloud.google.com/compute/docs/instances/restarting-an-instance

[2016-03-18 13:46] dajohnso commented on #6976
@erjohnso  okay, I'll try to retest this today and update the issue.  It was not a matter of the UI updating which has been like that for far too long ;) , I was specifically watching the gce interface

[2016-03-18 13:47] erjohnso commented on #6969
I can confirm this is no longer an option. I'm running off 6673ba0bb9469a7d236efd57009cdb0dc44b300d.

![image](https://cloud.githubusercontent.com/assets/2154049/13879538/2673bade-ecd5-11e5-9e3d-29bbdbe3ba10.png)

[2016-03-18 13:57] bzwei commented on #7382
I'll put a fix to this issue. Thanks for the uncovering.

[2016-03-18 13:59] dajohnso commented on #6973
@dclarizio should be able to better explain, but this was occurring from the list of instance quadicons which is provider agnostic showing all cloud instances and a sum of their power options.  On the instance details page, we do not show the shelve option as appropriate.

I am thinking the only two options here are to check for the method on all objects first, before executing and let the user kn

[2016-03-18 14:26] erjohnso commented on #6967
This seems to be fixed. I tested re-naming the GCE provider and the new name was propagated to the UI.

@dajohnso - since you're verifying a few other changes, could you please try this again also?  If it's all good, please close.

[2016-03-18 14:50] agrare commented on #6978
Well minimally it doesn't appear to be just a GCE issue so it could probably be reassigned to someone else.

[2016-03-18 15:04] #7347 closed

[2016-03-18 16:42] mzazrivec commented on #1006
This was addressed in the following PRs:

https://github.com/ManageIQ/manageiq/pull/6953
https://github.com/ManageIQ/manageiq/pull/6954
https://github.com/ManageIQ/manageiq/pull/6959
https://github.com/ManageIQ/manageiq/pull/7000
https://github.com/ManageIQ/manageiq/pull/7019
https://github.com/ManageIQ/manageiq/pull/7020
https://github.com/ManageIQ/manageiq/pull/7024
https://github.com/ManageIQ/m

[2016-03-18 16:43] #1006 closed

[2016-03-18 16:51] chrisgreene commented on #7272
I created a step by step guide on how to reproduce. Please let me know if you have questions.  I'm going to attach it as a PDF and it can also be accessed here: https://docs.google.com/document/d/1xuZP23CFZCvqB7sMO0-OW2n09z8TO8oyl6dO-3C-BF4/edit?usp=sharing

Thanks.
[ManageIQ-RefreshIssue.pdf](https://github.com/ManageIQ/manageiq/files/180058/ManageIQ-RefreshIssue.pdf)

[2016-03-18 17:14] sshveta commented on #7283
I checked upstream for this issue and was able to produce it .
Issue is not present in 5.5 build.

[2016-03-18 17:42] dclarizio commented on #6973
@dajohnso @erjohnso We have this same kind of issue in various places, where the user can select a group of items, then press a button to perform an action on them.  As a single pane of glass application, we can even show VMs (infrastructure based) and Instances (cloud based) objects together.  Normally, we attempt the actions on each item in the list and, if not supported for whatever reason by s

[2016-03-18 17:59] imtayadeway commented on #7293
@lehinevych how are you issuing the request above? Can you share the details here?

[2016-03-18 18:20] erjohnso commented on #6973
Ok, thanks for the explanation @dajohnso and @dclarizio and I see the issue now. If there's an action for me to surface something in the UI, please let me know, otherwise I'll call this item complete once I've fixed up the logging.

[2016-03-20 11:20] abonas commented on #6981
thanks. I need to see if/how it can be added to topology as svg, as the rest of the icons there are text icons, and the topology itself is one big svg.

[2016-03-20 12:46] epwinchell commented on #6981
@abonas The first batch of SVGs have been merged here: https://github.com/ManageIQ/manageiq/pull/7398

[2016-03-20 13:13] abonas commented on #7363
@simon3z I'd need access to this env, can't reproduce it on envs that I've got.

[2016-03-20 23:22] dajohnso opened #7414 "miq nightly 0318 not starting"
-- Unit evmserverd.service has begun starting up.
Mar 20 19:16:50 dhcp-8-59-79.cfme.lab.eng.rdu2.redhat.com sh[30577]: /opt/rubies/ruby-2.2.4/lib/ruby/gems/2.2.0/gems/bundler-1.11.2/lib/bundler/source/git/git_proxy.rb:183:in `allowed_in_path': The git source gi
Mar 20 19:16:50 dhcp-8-59-79.cfme.lab.eng.rdu2.redhat.com sh[30577]: from /opt/rubies/ruby-2.2.4/lib/ruby/gems/2.2.0/gems/bundler-1.11.2/l

[2016-03-21 04:32] lpichler commented on #7380
@miq-bot assign lpichler

[2016-03-21 12:55] himdel commented on #7384
Agreed on making it easier, but that's where `[name="name"]` comes in :).

I'm not a big fan of copying the input name to an id *just because*, it pollutes the id namespace and duplicate name is possible to handle sanely, duplicate id is not.

[2016-03-21 12:57] abonas commented on #6981
@epwinchell yes, I saw, thanks for that.
I'm trying to understand how to access them in an html image element, so far any path I tried results with 404. for example, for vendor-kubernetes.svg,  what's the right way to access it? I tried to access full path from /assets.... , or  shorten to partial path that starts with /images... or /svg, all of the variations return 404.

[2016-03-21 13:03] martinpovolny commented on #7384
@akarol : does the `name` work for you?

[2016-03-21 13:03] himdel commented on #6981
@abonas `image_path('svg/vendor-amazon.svg')` (and yes, the image path needs to come from ruby side)

[2016-03-21 13:40] abonas commented on #6981
thanks @himdel but I'm not sure what you mean. I build the icons data in the js controller, it's not coming from ruby side. mostly because 90% of the icons are text icons and they are on js side, they have nothing to do with ruby. those provider svg icons are now an (inconvenient) exception to the rule.

[2016-03-21 13:43] JPrause commented on #7414
@dajohnso this appears to have been a network issue when trying to contact and download from remote repos.

Just kicked off a forced upstream build and so far, vsphere and ovirt appliances look good.
You can close this issue.

In the future, please also include which appliance you're reporting an issue on.
ie,...vsphere, ovirt, hyperv,.....

[2016-03-21 13:49] himdel commented on #6981
Yes, but you will have to send it from the server side, it is impossible to generate the url correctly in JS.

Why did you end up going the svg route instead of putting them in the product icon font?

[2016-03-21 13:57] abonas commented on #6981
oh, that will be so not generic and ugly, just for the provider entity...

it was not my decision. it was instructed to be removed by branding just for the product/project icons.

[2016-03-21 13:57] epwinchell commented on #6981
@himdel decision by UX to use SVGs or PNG going forward for all vendors for branding reasons (monochrome icons aren't acceptable for many vendors)

[2016-03-21 13:59] abonas commented on #6981
@himdel I would send everything from server side, including the textual icons code, but I clearly remember that for some reason that didn't work. so now I will have to somehow send only provider icons from server, and the rest of the icons from js. :-1: :-1: :-1:

[2016-03-21 14:08] himdel commented on #6981
@epwinchell aah, thanks :) understood

@abonas yeah, I be all :+1: :+1: for sending *all* of them from the server side .. do you remember why it didn't work? It should..

[2016-03-21 14:36] lehinevych commented on #7293
Here is the example (ipython and requests lib) [request.txt](https://github.com/ManageIQ/manageiq/files/182418/request.txt)
Moreover, I tested via rest plug-in in chrome
url: https://ip_adress/api/providers/1
basic_auth: login, pass
method: POST
body: {"action": "refresh"}
And get exactly the same response, however on the plug-in in firefox I got response 200 and  correct response body. So, I susp

[2016-03-21 14:44] lehinevych commented on #7293
@imtayadeway Could it be connected with certificate verification?

[2016-03-21 15:03] abonas commented on #6981
I don't remember, it was several months ago, but I will try to reproduce now and if it still doesn't work, will post here

[2016-03-21 15:07] #1005 closed

[2016-03-21 15:27] himdel commented on #6981
Sure, thanks, I should be here :)

[2016-03-21 15:43] eclarizio opened #7435 "Custom Action service API does not honor required fields"
When POSTing a dialog to the custom action service endpoint as in https://github.com/ManageIQ/manageiq_docs/blob/master/api/examples/custom_action_service.adoc, the API returns a 200 success even if there are required fields missing. This leads to confusing "success" messages such as the one seen below:

<img width="433" alt="screen shot 2016-03-21 at 8 39 39 am" src="https://cloud.githubuserconte

[2016-03-21 16:03] #6758 closed

[2016-03-21 17:33] abonas commented on #6981
I reproduced it again, this is how it looks when it is served from server (just sending exactly the same string from the server side) -  changed it only for one icon here so you can see the difference.
![screenshot](https://cloud.githubusercontent.com/assets/6277245/13927773/c89882a4-ef9b-11e5-9c24-c7bac0d62e59.png)

[2016-03-21 18:11] jrafanie opened #7444 "Sporadic test failure - MiqReport#generate_table Tenant Quota Report"
1) MiqReport#generate_table Tenant Quota Report returns expected html outputs with formatted values
     Failure/Error: expect(@expected_html_rows[index]).to eq(row)

       expected: "<tr class='row0-nocursor'><td>My Company</td><td style=\"text-align:right\">Allocated Number of Temp...unt</td><td style=\"text-align:right\">0 Count</td><td style=\"text-align:right\">3 Count</td></tr>"

[2016-03-21 18:12] imtayadeway commented on #7293
@lehinevych in whatever client you're using, are you sending the `Content-Type` and/or `Accept` headers in the POST requests?

[2016-03-21 18:35] woot4moo opened #7447 "Trailing whitespace invalidates routing with no error message"
There is no client or server side validation that informs a user when they create a new relationship that has an invalid name.  E.G.  rel_1 = /foo/bar (there is a whitespace at the end)

This results in no error messages being produced in the log files.

[2016-03-21 18:48] ewannema opened #7449 "Tag control issues on service dialog imports between appliances"
Tested on CloudForms 3.2.

Exported Service Dialogs with tag control items have the tag category_id statically assigned and can therefore lose their relationship to the tag imported into another appliance if the ID does not match exactly. Having a matching ID is not likely in our environment, even for built-in tags because of region numbers.

Sample export data:

[code]

Talk post discussing this

[2016-03-21 19:06] jrafanie commented on #7444
@lpichler Can you take a look at this?

I believe it's because Tenant#tenant_quotas are NOT guaranteed to be returned in the same order as what you saved them as.  Note, I had to run this tests hundreds of times before it failed, something like this:

[code]

Maybe something like this would fix it?

[code]

[2016-03-21 19:21] Ladas opened #7451 "Cloud network detail doesn't exits yet"
Cloud network doesn't exist yet

This link https://github.com/Ladas/manageiq/blob/5d95945caa7fa9a5369bdcc51fb54a1f596e2640/app/helpers/orchestration_stack_helper/textual_summary.rb#L84-84

should be hidden, cause clicking in the stack's nested cloud_network table leads to 500

[2016-03-21 23:40] cben opened #7460 "Auto-tagging from kubernetes/openshift labels"
Basic goal: since containers and related entities come and go quickly, manual tagging is futile (but it works).  We want to automatically create tags based on existing kubernetes/openshift labels.  All labels generating tags might be too much noise, so we probably want a "policy" by which one can define desired label->tag mapping.

# UPDATE

Originally implemented in #7605; multiple bugs fixed, es

[2016-03-21 23:42] cben commented on #7460
miq-bot add_label providers/containers, enhancement, question

[2016-03-21 23:55] simon3z commented on #7460
@miq-bot add_label providers/containers, enhancement, question

[2016-03-22 10:20] lehinevych commented on #7293
@imtayadeway Thank you for help. I think we should specify somewhere that Content-Type is now compulsory header because for 5.4 and 5.5 the REST API works correctly without it.
P.S. you can close the issue.

[2016-03-22 13:24] lpichler commented on #7444
@miq-bot assign lpichler

[2016-03-22 13:30] durandom commented on #6955
@lehinevych I checked this again with 5.5.2.4.20160127105142_395c086 and current master

state (5.5) | state_changed_on
-------|--------------------------
on     | Mar 18 08:17
suspended | Mar 21 14:19
off | Mar 21 14:25

state (master) | state_changed_on
-------|--------------------------
on     | Mar 21 17:04
suspended | Mar 21 18:12
terminated | Mar 21 18:20
off | Mar 22 07:01

Can you check ag

[2016-03-22 14:46] imtayadeway commented on #7293
@lehinevych glad to be of help!

[2016-03-22 14:53] #7293 closed

[2016-03-22 15:08] romaintb opened #7472 "ARM : undefined method x_ms_meta_microsoftazurecompute_ostype"
Hi guys,
We have the following trace when provisioning on Azure : http://pastebin.com/EVpsrp8V
https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/azure/cloud_manager/provision/cloning.rb#L36

Can't say I can tell you guys more, really don't know what happens here.
Any help would be greatly appreciated.

Thanks !

(PS: we are running nightly appliance : master.2016032115

[2016-03-22 15:17] chessbyte commented on #7472
/cc @bronaghs @blomquisg @gmcculloug

[2016-03-22 15:24] bronaghs commented on #7472
Hi @romaintb
Can you provide some color around how to reproduce this? Did this happen during QE testing? Is there an appliance I can reproduce this on?

Thanks

[2016-03-22 16:18] #7451 closed

[2016-03-22 17:13] Fryguy commented on #7414
Can this be closed?

[2016-03-22 17:22] dajohnso commented on #7414
Yup, thanks for the reminder

[2016-03-22 17:22] #7414 closed

[2016-03-22 17:23] Fryguy commented on #7460
See also a related discussion / argument, which will probably be relevant, here: http://talk.manageiq.org/t/aws-tag-synchronization/291/6

[2016-03-22 17:25] Fryguy commented on #7373
@agrare I think we already do something like this for amazon, in particular with their public images.

[2016-03-22 17:28] agrare commented on #7373
Cool thanks @Fryguy I'll look into that

[2016-03-22 17:28] #7444 closed

[2016-03-22 17:37] #7264 closed

[2016-03-22 18:58] #7344 closed

[2016-03-22 19:22] alpha00Zero opened #7478 "edit aborted"
I typically get the edit aborted but finally get this message today.  The edit aborted error is frequent and make it impossible to get anything done.  Please fix

AbstractController::DoubleRenderError in CatalogController#explorer
Render and/or redirect were called multiple times in this action. Please note that you may only call render OR redirect, and at most once per action. Also note that neit

[2016-03-22 21:42] simon3z commented on #7460
@cben generally it's done through the UI (in the region settings: Configuration => Settings => Region ...). You can also import new tags.

@cben in the end the user will configure the mapping in the UI but I think you should concentrate on the backend first.

I think we said that we would have created the tags based on the labels name and value, and I believe there is something similar already for

[2016-03-22 21:58] #7380 closed

[2016-03-22 22:33] gmcculloug opened #7485 "Image selected for Custom Button does not match image displayed in treeview"
This occurs when creating a custom button and selecting image: 6, 7, 14 or 15

Examples:

![image](https://cloud.githubusercontent.com/assets/2591569/13969728/f4818658-f05a-11e5-88db-4a6f91f7afd4.png)

![image](https://cloud.githubusercontent.com/assets/2591569/13969804/4a3fbd1c-f05b-11e5-9e56-a0cc8f8dba4d.png)

[2016-03-22 22:34] djberg96 commented on #7472
That bit of metadata is only set on generalized (captured/private) images. Otherwise, you'll need to get the operating system from the associated VM like so:

    vm.properties.storage_profile.os_disk.os_type

A bit of sample code to play with:
[code]

[2016-03-23 07:51] satyajitbulage opened #7491 "[UI]: Reports : Showing 'Load error! (parsererror)' for subtree in 'All Groups' from 'Dashboard'"
Steps:
          Reports -> Dashboards-> All Dashboards -> All Groups

Build : master.20160323013830_876fd9b

Action :

Actual result: After expanding 'All Groups' from Reports showing an error 'Load error! (parsererror)'

For reference Screenshot is attached.

![repots_alldashboard_error](https://cloud.githubusercontent.com/assets/12134754/13978800/de04da52-f0f9-11e5-8276-ffebc01515bc.png)

[2016-03-23 09:35] cben commented on #7460
Thanks, these are helpful.

Hmm.  Your stance there was that we should not auto-tag, that if really desired by a customer it should be done in Automate, and that we should rather make improve ability to use custom_attributes directly.
Has any of that changed?

[2016-03-23 09:41] lpichler commented on #7491
@miq_bot assign lpichler

[2016-03-23 09:45] cben commented on #7460
Oh, I see.  Clicking the top-level "CFME Region: Region 0 [0]" in the outline on the left shows tabs with settings whose existance can't be guessed from the outline.  Not the best UX imho.

[2016-03-23 12:56] erjohnso commented on #6969
@dajohnso - I believe this can be closed.

[2016-03-23 13:05] agrare commented on #7373
@Fryguy are you talking about `get_public_images: false` here https://github.com/ManageIQ/manageiq/blob/master/config/vmdb.tmpl.yml#L73?  Looks like that skips gathering inventory for those entirely.

[2016-03-23 13:09] bzwei commented on #7472
@djberg96 can you put a fix? In cloning.rb, the source is the template image. Can you get the os from `source.properties.storage_profile.os_disk.os_type` for a public image?

[2016-03-23 13:10] bzwei commented on #7472
@romaintb Can you confirm the image type - public or captured private image?

[2016-03-23 14:04] woot4moo opened #7495 "Text editor fails to allow saves on copy / paste activities"
Occasionally when using the text editor, if you copy / paste some code from a source (like an IDE), the save button will not be active.

[2016-03-23 14:12] jrafanie commented on #7495
@woot4moo Can you provide more information or a screenshot where in the application you are copy/pasting and not seeing the save button "clickable"?

[2016-03-23 14:17] woot4moo commented on #7495
@jrafanie sure,

This fails most commonly in Firefox for me.  My Firefox version is ESR 38.7.0

it is a bit hard to demonstrate that it exists as it is a static screenshot, but it will look like this
![copy paste bug](https://cloud.githubusercontent.com/assets/603383/13987942/3b51e0fc-f0e0-11e5-8b7c-c6710bed54af.png)

[2016-03-23 14:26] jrafanie commented on #7495
Thanks @woot4moo.  @dclarizio please review

[2016-03-23 14:28] jrafanie commented on #7491
@miq-bot assign @lpichler

[2016-03-23 14:35] jrafanie commented on #7478
@alpha00Zero I see you're using rails 4.2.5.1 in the attached txt file.  We're now using rails 5 on master.  Can you provide a screenshot and what version you see this error on?  Can you see if this error occurs on master and provide what steps you followed to recreate it?

[2016-03-23 14:46] woot4moo commented on #7495
@jrafanie @dclarizio  something that may help debug this, is the editor has no knowledge of the original state of the document.  That is I can make a change, do a ctrl+z (returning the document to its original unaltered state), and the save button will stay active (different than copy pasting)

[2016-03-23 15:06] lehinevych commented on #6955
@durandom  I tested against 5.5.3.2.20160318152106_92d2d67 and the behavior is the same as you described for master.

[2016-03-23 15:46] boyddl commented on #7495
I was running into this same issue in CFME 4.0 when working at a customer site recently. I would make my changes in NP++, bulk copy and paste over the existing method and it wouldn't recognize I changed anything. This was on IE at their site so I ruled it as an IE 10 issue at the time and easily worked around with a delete and retype of a character to make CFME notice a change, but now I want to c

[2016-03-23 15:47] agrare commented on #6974
@dajohnso The plan is to use the region that the user selects to help with best-fit provisioning.

[2016-03-23 15:48] #7219 closed

[2016-03-23 15:57] #7311 closed

[2016-03-23 17:14] dclarizio commented on #7495
@woot4moo We handled the change to the edit area differently than the other screen elements due to the way we send up incremental changes during edit, basically to avoid sending so many transactions as someone typed into the editor.  So, once a singe character is changed in the editor, we mark the entire form as changed, which is why you don't see the Save button disable when undoing your change.

[2016-03-23 17:16] woot4moo commented on #7495
@dclarizio CodeMirror is integrated?  I find that odd as there is zero code completion that occurs, only syntax highlighting and even that does weird things with spacing.

[2016-03-23 17:19] dclarizio commented on #7495
@woot4moo perhaps we are not on the latest version and/or have too general of a data type set.  @bmclaughlin will look into both as he researches the issue.
Thx, Dan

[2016-03-23 20:08] simon3z commented on #7460
According to @blomquisg, @gmcculloug could help you here @cben.

@gmcculloug is [my comment](https://github.com/ManageIQ/manageiq/issues/7460#issuecomment-200041764) correct about dynamic creation of tags?

[2016-03-23 21:17] bdunne opened #7503 "Ansible Tower UI work"
- Configuration Providers list page:
  - On the left, should "All Configuration Manager Providers" be changed to "All Configuration Managers"?  We're listing the manager here, not the provider, right?
  - On the left, appending "Providers" or "Configuration Manager" to everything seems redundant.
  - "Type" should probably show a friendly name rather than the raw contents of the type column.
  - W

[2016-03-23 21:17] bdunne commented on #7503
@gmcculloug Here is my UI list for Ansible Tower.

[2016-03-23 21:19] bdunne commented on #7503
@miq-bot assign @gmcculloug

[2016-03-23 21:19] bdunne commented on #7503
@miq-bot add_label providers/ansible_tower

[2016-03-23 21:20] bdunne commented on #7503
@miq-bot add_label providers/ansible

[2016-03-24 09:31] romaintb commented on #7472
@bzwei this is a captured image

[2016-03-24 09:32] romaintb commented on #7472
will try debugging more and play around with the code you gave, later this day

Thank you guys for the quick answers

[2016-03-24 10:10] romanblanco opened #7508 "API for Automate Datastores"
Because of Dialog Editor in SSUI there is need to access Automate Datastores data in our REST API.
I was trying to find theese data, but couldn't find anything, so I guess it's not implemented yet.

There is entity `data_stores` in API, but data seems unrelated to what I would need.

![screencapture-localhost-3000-miq_ae_customization-explorer-1458813800445](https://cloud.githubusercontent.com/ass

[2016-03-24 13:08] dajohnso commented on #6967
@erjohnso I am still seeing this on last nights nightly build.  If you add the GCE provider, and then edit it, the project name is not re-render.  Trying to save it, shows required despite it being in the database.

It seems to have gotten worse since the first round of testing as now the credential json is overwritten if you edit the provider and do not re-provide the credentials thereby making M

[2016-03-24 13:10] dajohnso commented on #6969
This looks good now on the 0323 nightly build

[2016-03-24 13:10] #6969 closed

[2016-03-24 13:11] dajohnso commented on #6969
@miq-bot add_label verified

[2016-03-24 13:11] abellotti commented on #7508
Adding @gtanzillo

[2016-03-24 13:20] dajohnso commented on #6974
@agrare , ah, okay, if that is the case, I believe renaming the field to 'Preferred Region' would be much more transparent.

[2016-03-24 13:25] dajohnso commented on #6978
@blomquisg what are your thoughts on this?  Catching the exception and turning it into a ERROR message is my preference but what say you?

[2016-03-24 13:26] himdel commented on #7508
For this particular purpose, maybe it'd make sense to publish the whole tree under one API endpoint, so that we don't have to walk the tree in a million GET requests...

[2016-03-24 13:27] dajohnso commented on #6976
Ok, today turned into 6 days.  This looks good now with the 0323 nightly, closing.

[2016-03-24 13:27] #6976 closed

[2016-03-24 14:13] romaintb commented on #7472
![screenshot from 2016-03-24 15-13-09](https://cloud.githubusercontent.com/assets/102168/14019416/f3e37480-f1d2-11e5-9d48-89dd6377838e.png)
no os is listed here, so maybe the problem is related to this

[2016-03-24 14:21] bzwei commented on #7472
We will try to detect OS type in either method, and then handle the case failing to detect.
@bronaghs can the provisioning work if os type is unknown? What's the fall back value if no os type is found - `nil` or some hardcoded string?

[2016-03-24 16:24] Fryguy commented on #6335
More info...

To get pagesize on an appliance

[code]

To get the GC internal constants

[code]

[2016-03-24 16:32] jerryk55 opened #7515 "Using Safari to Edit Provider Details results in: Edit aborted! CFME does not support the browser's back button or access from multiple tabs or windows of the same browser. Please close any duplicate sessions before proceeding."
Running on an appliance built from miq-nightly-201603222000, attempting to edit provider details results in:

Edit aborted! CFME does not support the browser's back button or access from multiple tabs or windows of the same browser. Please close any duplicate sessions before proceeding.

This happens repeatedly using Safari.  It does not happen with Firefox.  I also get this same error
(with Safar

[2016-03-24 17:58] alongoldboim opened #7516 "Toolbar missing option to add a button with ng attr"
I need to use toolbar btn to have ng-click="foo()"

[2016-03-24 17:58] alongoldboim commented on #7516
cc @martinpovolny

[2016-03-24 18:07] martinpovolny commented on #7516
so you'll pass the "foo()" in the button def right?

[2016-03-24 19:55] erjohnso commented on #6967
@dajohnso - thanks for looking again Dave. Can you point me to instructions for how to setup and test the nightly build? I tested again on my dev environment (running on a CentOS-7 machine in GCE) and I'm still not able to reproduce.

[2016-03-24 21:55] selmanj opened #7523 "GCE Cloud Provider doesn't display volumes or snapshots"
There appears to be code for parsing/handling a disk in GCE, but this information isn't being surfaced in the UI.

[2016-03-24 21:55] selmanj commented on #7523
@miq-bot add_label providers/google

[2016-03-24 22:24] erjohnso commented on #7523
/cc @agrare @blomquisg - this can be assigned to @selmanj

[2016-03-25 07:55] #6692 closed

[2016-03-25 07:56] #6693 closed

[2016-03-25 12:15] alongoldboim commented on #7516
yep, i think having a generic option of "ng-whatever" and then pass its value would be better if possible
example:
ng-click="foo()"

[2016-03-27 08:39] yaacov commented on #6508
@simon3z @dkorn I do not know how to replacate :-(
0. type of container provider ?
1. anything to do before navigating to timeline ?
2. maybe i need events ?

![screenshot-2016-03-27-11-35-47](https://cloud.githubusercontent.com/assets/2181522/14064557/22c41d92-f410-11e5-99cd-30be855e71aa.png)

[2016-03-27 09:14] yaacov opened #7534 "Missing file ExtManagementSystem.yaml"
Unexpected error when navigating to:
containers -> providers -> [some provider] -> Properties, Capacity & Utilization

Missing file /manageiq/product/charts/layouts/daily_perf_charts/ExtManagementSystem.yaml [ems_container/perf_chart_chooser]

![screenshot-2016-03-27-12-09-25](https://cloud.githubusercontent.com/assets/2181522/14064682/fae72bb6-f414-11e5-86b4-69bd94f98bb0.png)

How to reproduce:
1

[2016-03-27 09:16] yaacov commented on #7534
@miq-bot add_label providers/containers

cc @simon3z

[2016-03-27 10:04] yaacov commented on #6508
@simon3z  @dkorn I get this error :+1: when I have events.

[2016-03-27 10:52] abonas opened #7535 "examples.txt file in spec folder"
why is this file needed to be checked in?
https://github.com/ManageIQ/manageiq/blob/master/spec/examples.txt
is it possible it should it be deleted and then added to .gitignore?

[2016-03-27 10:52] abonas commented on #7535
@miq-bot add_label test

[2016-03-27 11:03] yaacov commented on #6508
@simon3z @dkorn No, I do not get that error again :-( , last comment was probably an unrelated error I got from another menu.

[2016-03-27 13:01] yaacov commented on #6508
@simon3z @dkorn can't reproduce, with events and no crash :-(

![screenshot-2016-03-27-15-59-05](https://cloud.githubusercontent.com/assets/2181522/14065499/0956e978-f435-11e5-9a3b-27a70b40634c.png)

[2016-03-28 00:07] chessbyte commented on #7535
See https://github.com/ManageIQ/manageiq/pull/7522

[2016-03-28 05:05] alongoldboim commented on #7516
@martinpovolny any updates on that issue? its a blocker for https://github.com/ManageIQ/manageiq/pull/7533

[2016-03-28 07:11] abonas commented on #7535
@chessbyte great. closing.

[2016-03-28 07:11] #7535 closed

[2016-03-28 13:16] dajohnso commented on #6967
@erjohnso available from https://manageiq.org/download/ but you;ll need to jump through some hoops for GCE maybe.

[2016-03-28 13:32] agrare commented on #7523
@miq-bot assign @selmanj

[2016-03-28 15:45] zeari opened #7545 "Chargeback reports fail with error from ActsAsArModel"
[code]

@miq-bot add_label chargeback, bug, reporting

[2016-03-28 15:47] chessbyte commented on #7545
@gtanzillo @kbrock - please review

[2016-03-28 19:26] #7447 closed

[2016-03-28 20:30] chrisarcand opened #7553 "MiqGroup seeding Read-Only failure"
There's an issue with primordial seeding in MiqGroups - we set the miq_user_role of the group which is a `through` relation on entitlements. The entitlement is read-only (expected) and apparently there's a way that the data can change to bork it up, as seen by @tinaafitz:

[code]

Need to change seeding to take that in to account.

@miq-bot add_labels core, bug

[2016-03-28 20:30] chrisarcand commented on #7553
@miq-bot assign @chrisarcand

[2016-03-28 23:25] zeari commented on #7545
I had additional issues maybe due to an outdated database or bad gemset.
This stopped replicating after I reset everything I in the project could think of.
Sorry if someone wasted time on this.

[2016-03-28 23:25] #7545 closed

[2016-03-29 02:30] #7491 closed

[2016-03-29 03:34] kbrock commented on #7545
@zeari I need to find a way to be confident in these two reports. Thank you for raising the concern. It was not a waste of time

[2016-03-29 05:34] yaacov commented on #7534
Fixed by https://github.com/ManageIQ/manageiq/pull/7541

[2016-03-29 05:34] #7534 closed

[2016-03-29 07:38] simon3z commented on #7534
@yaacov "Missing file ExtManagementSystem.yaml" is not an issue, it's a (wrong) analysis of an issue.

The bug should have been "Unable to display Capacity and Utilization for container providers".

Adding the `ExtManagementSystem.yaml` file is not the correct fix.

[2016-03-29 08:34] abonas opened #7560 "server doesn't start due to "undefined method `get' for #<VMDB::Config""
evm.log has this:

[code]

the "get" method was indeed removed in #7432
https://github.com/ManageIQ/manageiq/pull/7432/files#diff-04cf6aae9623f8a3107672e3715bfa4fL204

@miq-bot add_label bug

[2016-03-29 08:39] alongoldboim opened #7561 "Getting 500 on rest api request."
Had a different problem yesterday that was:
`RestClient::UnprocessableEntity: 422 Unprocessable Entity`
and was fixed in:
https://github.com/ManageIQ/manageiq/pull/7551

but now getting 500 from server. (log added)
http://pastebin.com/virhzPQL - api request (calling a new automate state)
http://pastebin.com/hxspNtP7 rails-log

cc @jrafanie @imtayadeway .

[2016-03-29 09:59] abonas commented on #7560
cc @Fryguy

[2016-03-29 10:56] PanSpagetka commented on #6627
#7391 Chart in Capacity and Utilitization

[2016-03-29 12:15] Fryguy commented on #7560
On it... Thanks

[2016-03-29 13:05] jrafanie commented on #7561
@alongoldboim it looks it's failing because `@requested_at` is nil, possibly due to another error...

https://github.com/ManageIQ/manageiq/blob/5eab506b396df185628a6387c633b62e6de01733/app/controllers/api_controller/logger.rb#L36

Can you hardcode `(@completed_at - @requested_at)` to something like `1` and see if there was a different error causing the `@requested_at` to be nil?

[2016-03-29 13:05] jrafanie commented on #7561
@alongoldboim Does this error happen every time?

[2016-03-29 14:30] himdel opened #7571 "ConvertConfigurationsToSettingsChanges - undefined method `keys' for nil:NilClass"
[code]

[2016-03-29 14:45] jhernand opened #7573 "Support for version 4 of oVirt engine"
Currently the gem used by ManageIQ to connect ot oVirt or RHEV-M uses a hard-coded URL:

    https://engine.example.com/api

The path of this URL, `/api`, has been used in oVirt since version 3.0. In version 3.5 of the engine that URL has been deprecated, and replaced by `/ovirt-engine/api`. The old `\api` URL has been preserved, for backwards compatibility, but it will be removed in version 4 of

[2016-03-29 14:46] jhernand commented on #7573
@masayag, @oourfali, @danielerez, @blomquisg

[2016-03-29 15:00] imtayadeway commented on #7561
@alongoldboim can you verify that you get the same result with both `Content-Type` and `Accept` set to `application/json`?

[2016-03-29 16:54] alongoldboim commented on #7561
@jrafanie
* this error happands every time i submit my request
* tried to hardcode the variables (the @requested_at was nil) i set its value and getting
[code]
@imtayadeway
* I can verify it doesn't work with this header attached.

[2016-03-29 17:13] jrafanie commented on #7561
`settings_changes` is a new table, @alongoldboim you need to migrate your database.  `bin/rake db:migrate`.

@imtayadeway, it should be easy to db:rollback a bunch of times to recreate this so we can ensure we don't swallow the real exception with api logging exceptions. :scream:

[2016-03-29 17:13] #7571 closed

[2016-03-29 17:14] jrafanie commented on #7561
Note, we have two known issues that I know of, #7571  (which should be fixed as of master right NOW) and #7560 which is still being fixed.

[2016-03-29 17:17] alongoldboim commented on #7561
@jrafanie sorry! didn't noticed there were pending migrations.
Its working properly, closing issue.

[2016-03-29 17:18] imtayadeway commented on #7561
@jrafanie that indeed does sound like a bug. I'll work up a PR for that
@alongoldboim can you keep this issue open so I can reference it in fixing the above?

[2016-03-29 17:21] alongoldboim commented on #7561
@imtayadeway reopened.

[2016-03-29 17:29] jrafanie commented on #7561
@imtayadeway Yes, the problem is we assume that the request was made properly.  I wouldn't want exception handling all over the place (or nil checks) but it should gracefully do nothing on exceptions such as this one.

[2016-03-29 17:46] chrisarcand commented on #7553
@tinaafitz Hmm I can't seem to recreate this at all. As seeding will undoubtedly change again soon for entitlements/roles, I'm letting this go until it resurfaces again; hopefully we can get a recipe to recreate it then.

[2016-03-29 18:14] imtayadeway commented on #7553
I'm on master as of 72696fed3f2a766f8e0207dfe3c61ee0da2323a1 and getting the following when I `bundle exec rails server`:

[code]

Hope that helps!

[2016-03-29 18:14] chrisarcand commented on #7553
Gaah. Alright.

For anyone having issues with this, you can wipe out the entitlements and roles made by the system (which will be then remade on bootup) to get passed this issue until we track it down.

You can do that by a) Dropping your database and setting it up again *if your local data is unimportant*, or b) running the following code with `rails r` or in the console:

[code]

[2016-03-29 21:41] simon3z commented on #6508
@yaacov try to select other entries in the Event Groups (now you only have Alarm/Status, try some other...).

[2016-03-29 22:37] #7560 closed

[2016-03-29 22:45] Fryguy opened #7585 "New config now causes the server to constantly update the worker's config"

[2016-03-30 01:31] chrisarcand commented on #7553
(Note for posterity)

@imtayadeway noticed that the entitlement causing the issue is actually the default tenant one (so, the above snippet wouldn't work in that case :expressionless:)

[2016-03-30 10:45] himdel opened #7591 "Failing Azure specs on master - GEM=pending"
Current master's spec are failing, the failures come from `gems/pending/spec/miq_vm/miq_azure_vm_instance_spec.rb`, with `VCR::Errors::UnhandledHTTPRequestError` or `nil.unmount`.

It says

[code]

(and a bunch more versions) which may be related...

example job: https://travis-ci.org/ManageIQ/manageiq/jobs/119483063#L405

[2016-03-30 10:55] romanblanco opened #7592 "Exception on some VMs summary page"
After selecting some VM, I'm getting error:

[code]

![screencapture-localhost-3000-vm_infra-explorer-1459335115315](https://cloud.githubusercontent.com/assets/1187051/14139941/81e72892-f676-11e5-96bc-88da96a58ba6.png)
![screencapture-localhost-3000-vm_infra-explorer-1459335126361](https://cloud.githubusercontent.com/assets/1187051/14139947/83427520-f676-11e5-9101-f3ba5cd4550b.png)

This is not ha

[2016-03-30 10:55] romanblanco commented on #7592
@miq-bot add_label bug, ui

[2016-03-30 14:04] Fryguy opened #7594 "Vmdb::Settings.save! with a partial config deletes all settings in the database"
The fix for #7560 introduced some changes to Vmdb::Settings.save! to allow saving a partial config.  However, if settings in other keys are saved to the settings_changes table, then they are lost.

The save! method should resolve the partial config against the full config before doing the diff in order to not lose those changes.  We *may* want to introduce a new method like .save_diff or something

[2016-03-30 16:11] romanblanco opened #7596 "Exception on Control => Explorer page"
Getting exception on _Control => Explorer_ page

[code]

![screencapture-localhost-3000-miq_policy-explorer-1459354260736](https://cloud.githubusercontent.com/assets/1187051/14149093/cd8d935e-f6a2-11e5-9d1e-9f96794ce900.png)

[2016-03-30 16:11] romanblanco commented on #7596
@miq-bot add_label bug

[2016-03-30 16:55] aljesusg opened #7597 "Issue in git 7433"
There is a bug In test of report chargeback of a tenant of https://github.com/ManageIQ/manageiq/pull/7433 , that reports should check that when you make a report of a tenant that takes the vms of subtenants too.

[2016-03-30 17:01] aljesusg commented on #7597
The PR is https://github.com/ManageIQ/manageiq/pull/7598

[2016-03-30 18:16] imtayadeway commented on #7553
@chrisarcand I think I better understand how I arrived at this issue (I've just recreated it again). While trying to recreate another issue, I was rolling back migrations to research how the API surfaces those kinds of errors at the database level. It seems that if I rollback to a migration before entitlements were created and then seed, it will break, and remigrating and seeding will not fix it.

[2016-03-30 18:41] chrisarcand commented on #7553
Nice, I've recreated from that description. :+1: Working on it now.

[2016-03-30 19:12] roliveri opened #7602 "Configuration settings reset after restart."
Enabled the `Smart Proxy` role, and changed most worker counts from two to one, then restarted the application. Upon restart, the configuration changes were lost. Also, enabling the `Smart Proxy` role did not start the smart proxy worker.

[2016-03-30 20:57] abellotti opened #7604 "External Auth Login with IPA always fails"
After configuring External Auth to IPA, logging in with IPA credentials always gives us IPA Authentication Error.

Tracing this down, we see that config[:mode] in authenticator.rb returns "database" instead of httpd so it's authenticating with the wrong subclass.

@jvlcek @gtanzillo

[2016-03-30 21:11] djberg96 commented on #7591
@agrare, I thought @roliveri already fixed this.

[2016-03-30 21:20] agrare commented on #7591
@djberg96 he did. https://github.com/ManageIQ/manageiq/pull/7599

[2016-03-30 21:22] djberg96 commented on #7591
Alrighty, thanks Adam.

@himdel or @blomquisg, please close.

[2016-03-30 21:22] himdel commented on #7591
OK, closing, since #7599 got merged.. :)

[2016-03-30 21:22] #7591 closed

[2016-03-30 21:39] cben commented on #7460
Threw current code at #7605.

[2016-03-30 21:43] blomquisg commented on #7591
@agrare and @djberg96 thanks for following up on that .. I saw "azure" and jumped to the wrong conclusion ... sorry about that :/

[2016-03-30 21:44] agrare commented on #7591
@blomquisg haha poor @djberg96 I did the same thing to him on gitter an hour ago.

[2016-03-31 00:36] jrafanie commented on #7553
It's amazing how a great recipe is often 90% of the work. 👍

[2016-03-31 10:56] #7307 closed

[2016-03-31 11:21] simon3z opened #7610 "Container ems_id is not disconnected when the relevant Pod disappears"
Despite #7360 when a pod disappears the container still remains attached to the ems.

`oc create -f nginx.yaml`

[code]

[code]

[code]

After deletion, the pod is successfully disconnected but the container is still attached:

[code]

cc @zeari

[2016-03-31 11:21] simon3z commented on #7610
@miq-bot add_label providers/containers, bug

[2016-03-31 11:55] simon3z commented on #7602
I experienced the same for metrics (and smart proxy as described above).

cc @Fryguy @chessbyte

[2016-03-31 12:02] romanblanco opened #7612 "Can't get into Template summary page"
Ran into an Exception when I tried to display a summary page of a Template:

![screencapture-localhost-3000-vm_infra-explorer-1459425615372](https://cloud.githubusercontent.com/assets/1187051/14175090/0e88c012-f749-11e5-973c-cb6ca005ba92.png)
![screencapture-localhost-3000-vm_infra-explorer-1459425630935](https://cloud.githubusercontent.com/assets/1187051/14175091/0f17852c-f749-11e5-955e-6a885bd0c

[2016-03-31 12:02] romanblanco commented on #7612
@miq-bot assign tzumainn

[2016-03-31 12:02] romanblanco commented on #7612
@miq-bot add_label bug

[2016-03-31 12:07] romanblanco commented on #7612
@miq-bot add-label bug

[2016-03-31 12:26] patchkez opened #7614 "Ansible Tower: unexpected token during validation when URL does not contain /api/v1"
When adding Ansible Tower as a Configuration manager and validating URL which does not have /api/v1, 757: unexpected token error message appears on the screen:

![screenshot-20160331 142123](https://cloud.githubusercontent.com/assets/11808967/14175549/f05c5998-f74b-11e5-81f7-1d74c0f60f12.png)

How to reproduce:
- Add new Configuration manager
- fill in name, type (Asnible Tower), username, passwor

[2016-03-31 12:45] patchkez opened #7616 "Ansible Tower: URL cannot be changed"
Url of Ansible Tower host cannot be changed when editing existing provider.

Steps:
- add Ansible Tower provider
- edit provider
- change Url to random string
- click on Save button
- edit provider again and observe that Url field does not contain random string but URL which was used when adding provider

Tested on: master.20160329092204_3b90545

[2016-03-31 13:05] lgalis commented on #7616
@miq-bot add_label ui, bug
@miq-bot assign lgalis

[2016-03-31 13:52] bdunne commented on #7614
@miq-bot assign @bdunne

[2016-03-31 16:25] bronaghs commented on #7472
@bzwei - There is no fall back value for OS type. Im not sure what that fall back value would even be.
It is a required value. The curious thing here is why the blob property has no x_ms_meta_microsoftazurecompute_ostype method....

[2016-03-31 16:28] bronaghs commented on #7472
@romaintb - did you get a chance to run the code @djberg96 provided? It might shed some light as to why the blob properties contains no x_ms_meta_microsoftazurecompute_ostype value.

[2016-03-31 16:50] gmcculloug commented on #7503
@bdunne Also need to include details about the Ansible JobTemplates (configuration_scripts) and Ansible Jobs (ManageIQ::Providers::AnsibleTower::ConfigurationManager::Job) which is derived from the OrchestrationStack model.

The JobTemplate will need a button like "Create Service Dialog from..." similar to the Orchestration template.

![image](https://cloud.githubusercontent.com/assets/2591569/141

[2016-03-31 17:08] abellotti commented on #7604
The issue is that the config sent down to the authenticator was not seeing the config mode.

following code change in app/models/user.rb fixes this (note reload! was necessary).

[code]

@Fryguy I'm not sure why I needed the reload! above for this to work.  Thoughts ?

[2016-03-31 17:08] Fryguy commented on #7602
I think this is because of #7594

[2016-03-31 17:57] epwinchell commented on #7515
@jerryk55 @h-kataria Last week, I confirmed this error both locally and on Jerry's appliance. I can no longer reproduce it.

[2016-03-31 17:58] h-kataria commented on #7515
@jerryk55 is 10.16.6.206 the same appliance that you encountered issue on last week?

[2016-03-31 18:08] lfu commented on #7596
The miq_event_definitions table used in the testing seems to be corrupted.

The IDs in miq_event_definitions table ranges from 10000000000145 to 10000000000285 while normally are supposed to start from 10000000000001.
And the miq_event_definition_id in miq_policy_contents table ranges from 10000000000024 to 10000000000097 which does not exist in miq_event_definitions table at all.

This issue can

[2016-03-31 18:09] jerryk55 commented on #7515
Yes it is.  No software changes on it since then except for the
winrm-elevated gem used for running remote commands on the HyperV server.

On Thu, Mar 31, 2016 at 1:58 PM, Harpreet Kataria <notifications@github.com>
wrote:

--

--
Jerry Keselman
Red Hat Virtualization R&Djerryk@redhat.com | p. 212 530 7873

[2016-03-31 18:10] jerryk55 commented on #7515
@epwinchell I was just able to recreate it on the same ip.
All I did was go to the providers page, selected "Add a new infrastructure provider", and typed a few characters in the first text box.

[2016-03-31 18:11] abellotti commented on #7604
@Fryguy The only thing that pops into my mind is the UI saves the setting on 3000, but the WS worker on 4000 doesn't see it unless a reload is done. but I may be wrong.

[2016-03-31 18:11] h-kataria commented on #7596
@lfu, @romanblanco  and me are using an old demo db from Xav, and not sure how the ids in miq_event_definitions table got corrupted, will open a new issue if we see this issue again with another db.

[2016-03-31 18:11] #7596 closed

[2016-03-31 18:46] epwinchell commented on #7515
@jerryk55 Last week, I hit the error when renaming a provider.

I just typed a few characters in the first text box and this is all I see:
<img width="1009" alt="screen shot 2016-03-31 at 2 44 37 pm" src="https://cloud.githubusercontent.com/assets/1287144/14186956/d598a730-f74e-11e5-9ec0-72b0b43c6a81.png">
No errors after the form is filled out.

[2016-03-31 19:11] jerryk55 commented on #7515
This is what I see when I type a few characters in the "Name" field:
![screen shot 2016-03-31 at 3 09 56 pm](https://cloud.githubusercontent.com/assets/6118503/14187818/d157a7f8-f752-11e5-8fab-357fe1e3c9dc.png)

[2016-03-31 19:17] epwinchell commented on #7515
<img width="897" alt="screen shot 2016-03-31 at 3 19 47 pm" src="https://cloud.githubusercontent.com/assets/1287144/14187990/b882c2fc-f753-11e5-8892-b1d396ecbd3b.png">

[2016-03-31 19:23] jerryk55 commented on #7515
@epwinchell I understand it works for you.  But it still doesn't work on the above IP as you can see from the previous screen shot.

[2016-03-31 19:46] epwinchell commented on #7515
@jerryk55 Those screenshots are from your IP

[2016-03-31 19:54] h-kataria commented on #7515
@jerryk55 can you send me production.log from the time when you encountered the issue, maybe we can find something in there.

[2016-03-31 20:07] jerryk55 commented on #7515
Here ya go!

On Thu, Mar 31, 2016 at 3:54 PM, Harpreet Kataria <notifications@github.com>
wrote:

--

--
Jerry Keselman
Red Hat Virtualization R&Djerryk@redhat.com | p. 212 530 7873

[2016-03-31 20:14] abellotti opened #7634 "Kerberos SSO no longer working"
Kerberos SSO is no longer working (kinit configured against IPA).  Browser targeting the Appliance pops up an Authentication Required dialog.

With Kerberos SSO, there is no password information on screen to grab, thus the API authentication done by miq_api.js will fail.

[2016-03-31 20:16] abellotti commented on #7634
@jvlcek you won't be able to test the SSO flavor of the IPA/AD trust trello story until this is fixed.
@gtanzillo fyi.

[2016-03-31 20:27] h-kataria commented on #7515
interesting transactions from production.log
[code]

[2016-03-31 20:30] h-kataria commented on #7515
i see strange transaction in between Provider add transaction and form field changed transcations that are causing Edit aborted error, not sure what is causing dahshboard/csp_report transactions causing @edit to be nil. @martinpovolony do you know what might be causing csp_report transactions to be sent in between other transactions.

[2016-03-31 20:45] h-kataria commented on #7515
@jerryk55 is using lastpass Safari extension as a password manager, which is causing those csp_report transactions to be sent up. After disabling lastpass issue on 10.16.6.206 went away.

[2016-03-31 21:33] kbrock opened #7637 "native case insensitive searches"
Hypothesis: Change Postgres to be case insensitive rather than change our code.

Postgres on Ubuntu sorts results in a case insensitive manner, while on OSX and RHEL it is case sensitive. Turns out it is due to the "locale" and "collation". But there are other ways of changing the way Postgres works like using custom columns.

- In Ruby, by changing the collation, I was able to get sorting to be c

[2016-03-31 21:42] Fryguy commented on #7573
I think this issue needs to be opened in the https://github.com/ManageIQ/ovirt repo since that's the library we use.

[2016-03-31 22:18] Fryguy commented on #7573
I think the first thing to check is whether or not we need to support oVirt < 3.3 as @bdunne mentioned in https://github.com/ManageIQ/ovirt/pull/47#issuecomment-193339057.  If we can drop that, then the simple answer is to always hit `/ovirt-engine/api`

Otherwise, I think number 2 is the best approach, for now.  I'm not sure the user cares what underlying API is used as long as the data comes bac

[2016-04-01 07:51] #7597 closed

[2016-04-01 09:24] ZitaNemeckova opened #7648 "No route matches [GET] "/resource_pool/resource_pool/show_list""
In ResourcePool I clicked on ListView in toolbar and it crashed. It seems that there are some double things in URL that shouldn't be.

[2016-04-01 09:24] mzazrivec commented on #1002
This issue has been fixed in the following pull requests:

https://github.com/ManageIQ/manageiq/pull/7493
https://github.com/ManageIQ/manageiq/pull/7492
https://github.com/ManageIQ/manageiq/pull/7466
https://github.com/ManageIQ/manageiq/pull/7438
https://github.com/ManageIQ/manageiq/pull/7397
https://github.com/ManageIQ/manageiq/pull/7387
https://github.com/ManageIQ/manageiq/pull/7381
https://gith

[2016-04-01 09:37] jhernand commented on #7573
The `ovirt` gem can't work with version 4 of the API: authentication is different, names of certain attributes are different, some types have been removed, etc. If it is modified to support these changes, then it won't work with version 3 of the API. To make it work with versions 3 and 4 it would need to be full of `if version == 3 then ... else ...".

[2016-04-01 11:08] himdel commented on #7648
@miq-bot assign himdel

[2016-04-01 12:20] #7648 closed

[2016-04-01 14:16] patchkez commented on #7503
@bdunne
https://github.com/ManageIQ/manageiq/issues/7503#issue-143082312
In case of Foreman/Satellite provider, detail page of provider contains Configuration profiles available on provider. Under each profile, you can find hosts which were configured with this profile.
![screenshot-20160401 153031-mod](https://cloud.githubusercontent.com/assets/11808967/14209196/318e705e-f823-11e5-8742-71892197cb

[2016-04-01 14:58] Ladas opened #7658 "Topology chart miss-aligned clickable area"
@abonas The clickable area is not above the circle, so it get's selected when I click next to it. (in the screenshot the clickable are is below and to the right of the circle)

This happens when there are more circles rendered very close to each other

[2016-04-01 14:58] Ladas commented on #7658
![image](https://cloud.githubusercontent.com/assets/1737058/14210813/fb8ec5be-f82a-11e5-8682-28514d626e04.png)

[2016-04-01 15:06] bdunne commented on #7503
@patchkez We can't make those connections.  There isn't enough data available from Ansible Tower.  It doesn't know what systems are created by a Job.  If that data were available, It would be very expensive to pull back and parse every job to find both the Job Template and the resources it created.

@gmcculloug and I were discussing this with @dclarizio yesterday and thought it would make sense to

[2016-04-01 15:08] #7553 closed

[2016-04-01 15:36] roliveri opened #7660 "NotImplementedError encountered in the logs."
[code]

Encountered the above error in the logs while performing SmartState scan. Full trace:

[code]

[2016-04-01 16:33] #1002 closed

[2016-04-01 18:02] romanblanco commented on #7592
Closed for the same reason as [here](https://github.com/ManageIQ/manageiq/issues/7596#issuecomment-204059546)

[2016-04-01 18:02] #7592 closed

[2016-04-01 19:48] h-kataria commented on #7515
closing this issue since we don't support Safari, this was only happening on Safari when lastpass extension is installed.

[2016-04-01 19:48] #7515 closed

[2016-04-01 21:15] selmanj opened #7669 "Upon cloning a new vm, Google cloud provider doesn't wait for disk creation to complete before attaching"
Disk creation is asynchronous using the Google API; this means that we must poll the resulting disk object until the status is "READY" (rather than "CREATING"). If we don't, we may attempt to attach the disk before the disk is ready and get an error:

[code]

The fix is relatively straightforward (poll and sleep), the question is whether we should yield control to the workflow or not.

@erjohnso @

[2016-04-01 21:16] selmanj commented on #7669
@miq-bot add_label providers/google

[2016-04-01 21:16] selmanj commented on #7669
@miq-bot assign @selmanj

[2016-04-01 21:19] selmanj commented on #7523
Volumes and snapshots should now be visible

[2016-04-01 21:19] #7523 closed

[2016-04-01 21:41] selmanj commented on #7669
Cut issue https://github.com/fog/fog-google/issues/114 against fog-google to request being able to create vm/disk as part of the same operation (which the Google API supports).  For now however we'll do two operations.

[2016-04-01 21:52] erjohnso opened #7672 "Google: Stacktrace when firewall rules do not have a `source_range`"
Tripped over a bug with a firewall rule on my project that did not have a `source_range` defined and was not able to perform an inventory refresh.

[code]

Fix forthcoming.

/cc @agrare @blomquisg @selmanj

[2016-04-01 21:57] erjohnso commented on #7672
@miq-bot add_label providers/google

[2016-04-01 21:58] erjohnso commented on #7672
@miq-bot assign erjohnso

[2016-04-02 12:10] #7672 closed

[2016-04-02 14:43] Fryguy opened #7677 "broker_notify_properties is a Hash and doesn't play nice with Config"
Related to #7670 .  Switching the broker_notify_properties to an Array of Strings will fix the problem, and so would rely on #7670.  I've confirmed that we don't actually need it to be defined as a Hash as the value part is never used.

[2016-04-02 14:51] Fryguy commented on #7573
@jhernand I'm not sure that's a problem, really, but I don't think we should add it until we need specific features.  We already have a little bit of that already ([example](https://github.com/ManageIQ/ovirt/blob/00cb06cafd95c97e3df98afebeb76506fe09a44b/lib/ovirt/vm.rb#L140-L142)) cc @bdunne

[2016-04-03 10:30] abonas commented on #7658
@Ladas have you reproduced it in other topologies? (container/middleware)
it's hard for me to investigate it without seeing your code/being able to connect to your environment.
I haven't encountered it in other topologies so far.
it could also be an issue in the [core widget](https://github.com/kubernetes-ui/topology-graph) (but again, hard to tell without more info) - @stefwalter, what's your opi

[2016-04-03 13:06] abonas commented on #7658
it will also help if you attach a screenshot with expanded info on at least one g element where this happens to see the nested elements (text, image, etc..) with their configuration.

[2016-04-03 13:08] abonas commented on #7363
@miq-bot add_label topology

[2016-04-03 17:30] moolitayer opened #7682 "Containers openscap support completely out of the box"
Missing parts:
1 Check periodically for updates to CVE datastream published by redhat[1].
2 Raise an event against each container provider.
3 Implement a provider policy - currently policies against Ems are not supported (?).
4 Implement an action to serially scan all provider images, support a load factor.

[1]  https://www.redhat.com/security/data/metrics/ds/com.redhat.rhsa-RHEL7.ds.xml.bz2

[2016-04-04 06:00] Ladas commented on #7658
@abonas I haven't reproduced on the other topologies, I will send you credentials so you can try to reproduce it yourself in your env.

[2016-04-04 08:20] abonas commented on #7658
@Ladas is your code merged so I can reproduce it on master? or there's a need in applying something else/migrating the schema?

[2016-04-04 08:20] abonas commented on #7658
can you also do [this](https://github.com/ManageIQ/manageiq/issues/7658#issuecomment-204970643) please?

[2016-04-04 09:04] Ladas commented on #7658
@abonas like this ?
![image](https://cloud.githubusercontent.com/assets/1737058/14243291/f1ce1e72-fa54-11e5-8402-6e769a0ebf45.png)

[2016-04-04 09:05] Ladas commented on #7658
@abonas the topology PR is not merged yest (it has also some dependencies, just last commit is the topology) https://github.com/ManageIQ/manageiq/pull/7626

[2016-04-04 09:18] arnikasky opened #7684 "Problem with spice console(RHEVM)"
Firstly, spice console "Connecting (encrypted) to: VM", after three minutes of waiting - "Connection timeout".
There is no error in logs.

[2016-04-04 09:32] abonas commented on #7658
@ladas can you specify the link to the exact commit that contains your topology code? that PR is huge

[2016-04-04 10:23] Ladas commented on #7658
@abonas https://github.com/ManageIQ/manageiq/pull/7626/commits/60a1a5edb955c7a8c9637d2bf7465f5059eba462

[2016-04-04 13:57] romanblanco opened #7689 "No VM or Templates are displayed in list"
I ran into bug where I can't see any VM or Template in list, even though there are many in tree.
I'm able to get to VM/Template summary page after clicking on them from tree.

Screenshot:

![screencapture-localhost-3000-vm_infra-explorer-1459778028606](https://cloud.githubusercontent.com/assets/1187051/14250249/d746feb0-fa7d-11e5-9624-40f1f4822e57.png)

[2016-04-04 13:57] romanblanco commented on #7689
@miq-bot add_label bug

[2016-04-04 14:00] #7612 closed

[2016-04-04 14:07] moolitayer opened #7690 "Containers OpenSCAP"
#### Table of Contents
[Status](#status)
[Introduction](#intro)
[Components](#components)
[Pull Requests](#patches)
[Setup](#setup)

<a name "status">
## Status
Target Version: ManageIQ Draga
Approximated Completion: 100%
Last Update: 2016-05-25

<a name="intro">
## Introduction
TBD

<a name="components"/>
## Components
Image Inspector
- During container image smart state analysis image-inspector

[2016-04-04 14:07] romanblanco opened #7691 "Issue with provisioning VMware VM"
I'm getting error while trying to Provision VMware VM:

[code]

**steps to reproduce:**
1. go to Infrastructure => Virtual Machines
2. from toolbar click on Lifecycle => Provision VMs
3. [select template]
4. click Continue button

**screenshots:**
![screencapture-localhost-3000-vm_infra-explorer-1459778529270](https://cloud.githubusercontent.com/assets/1187051/14250549/3896b2fe-fa7f-11e5-873b-c229

[2016-04-04 14:07] romanblanco commented on #7691
@miq-bot add_label bug

[2016-04-04 14:32] moolitayer commented on #7690
@miq-bot add_label providers/containers, control, enhancement

[2016-04-04 14:37] moolitayer commented on #7682
cc @simon3z
@miq-bot add_label providers/containers, enhancement, control

[2016-04-04 17:20] moolitayer commented on #7682
Feedback needed:
@carbonin I'm thinking the best place for item [1](https://github.com/ManageIQ/manageiq/issues/7682#issue-145521589) is linux admin, does that make sense?
If so, Two possibilities come to mind:
1 Have subscribers to linux admin which he will notify when the cve hash changes
2 Have the linux admin return only the current hash, have the providers keep a latest hash. with this approa

[2016-04-04 19:27] Fryguy commented on #7604
it should not be needed...in fact, no one should ever have to call that

Are you changing a remote server's configuration or the local server's configuration?

[2016-04-04 19:31] abellotti commented on #7604
local server, i.e. Configure->Configuration->Authentication->Mode changed to External (httpd).

[2016-04-04 19:51] Fryguy commented on #7604
I sat with @abellotti and we realized that the current code for "poking" a server will not poke other workers within the same server.  That is, if a UI worker and a WebService worker are on the same server, then a change in the UI will update the UI worker, but the WebServiceWorker will not see the poke to update the configuration.

The fix is to poke the local server regardless, but I have to mak

[2016-04-04 19:55] Fryguy commented on #7604
This might be related to #7585

[2016-04-04 21:35] carbonin commented on #7682
@moolitayer
LinuxAdmin is used primarily for wrapping Linux command line utilities and configuration files in convenient ruby methods.
Unless I'm misunderstanding what you're saying, I'm not sure your suggestion (downloading and/or monitoring a cve notice) qualifies.

[2016-04-05 02:01] gtanzillo commented on #7682
@moolitayer For item  3, do you need to actually apply the policy to a provider or just assign the policy to it? Because if you assign the policy to it the images under the provider would be able to inherit the policy and would still cause each image to be scanned.

[2016-04-05 02:03] gtanzillo commented on #7682
@moolitayer Also, following @carbonin response to items 1 and 2, it seems that you'd want to add a schedule to run a process that could check for CVE changes.

[2016-04-05 08:07] simon3z opened #7706 "Relation host_switches does not exist"
This error keeps appearing in the logs (db:migrate is not fixing the issue):

[code]

cc @jameswnl

[2016-04-05 08:07] simon3z commented on #7706
@miq-bot add_label bug

[2016-04-05 08:13] abonas commented on #7658
I'm getting "commit not found" when clicking the link

[2016-04-05 08:15] martinpovolny commented on #7516
@alongoldboim"

I am thinking of adding a key to `ApplicationHelper::Toolbar::Basic`'s `select` and `button` methods, something like `html_attributes => { ....}` that would allow to lass any HTML attributes to the generated markup. That would be a quick way to do what you need. But I need to know which of the tags should receive the custom attributes? The `li` or the `button` or the `a`?

Also thi

[2016-04-05 12:42] jameswnl commented on #7706
Hi Simon, can you confirm if db/migration/20160322141934_create_join_table_host_switch.rb has been run?

[2016-04-05 13:38] Ladas commented on #7658
@abonas hm it deletes the commit when I push new version https://github.com/ManageIQ/manageiq/pull/7626/commits/79a0aed38e4488bddc46ea6b06a5558e0c8c5ada

[2016-04-05 14:43] moolitayer commented on #7682
@carbonin Thanks, asking because I saw the openscap component at LinuxAdmin.

@gtanzillo I'm afraid I actually need a policy who's towhat is ext_management_system. The reason is that we would like to scan all of a provider's images sequentially to avoid a Monday morning effect on our provider where all images are scanned at once. I can think of several ugly hacks to get this behavior as a Policy a

[2016-04-05 14:59] simon3z commented on #7706
@jameswnl here's what's in my `schema_migrations`:

[code]

[2016-04-05 15:43] #7561 closed

[2016-04-05 17:21] erjohnso commented on #6978
@blomquisg - is it still the case that this is a more general issue that should be assigned to someone else?

[2016-04-05 17:50] nachandr opened #7723 "Chargeback costs reported in USD only even when rates are assigned non USD currencies"
Steps to reproduce:
1)Add a custom chargeback rate.Select a non-USD currency.Assign the Chargeback rate to some entity:Enterprise etc.
2)Generate a Chargeback report.

Actual Results:
Chargeback costs are reported in USD.

Expected Results:
Chargeback costs should be reported in the correct currency.

[2016-04-05 17:51] nachandr commented on #7723
Issue seen in master.20160404111938_3b90545

[2016-04-05 21:30] jrafanie commented on #7682
Can you describe it more?  How would a policy on a provider allow you to split up the scans of container images so they don't happen at the same time?  I wonder if you could leverage either the schedule worker system schedules or possibly the deliver_on field of the MiqQueue so they don't all get run at the same time.

[2016-04-05 21:50] nachandr opened #7731 "Host analysis fails with [MiqException::MiqVimResourceNotFound]: Could not find Host: host"
Snippet from evm.log

[----] E, [2016-04-05T17:18:04.929824 #14400:e19998] ERROR -- : MIQ(MiqQueue#deliver) Message id: [171701], Error: [Could not find Host: host-244]
[----] E, [2016-04-05T17:18:04.930090 #14400:e19998] ERROR -- : [MiqException::MiqVimResourceNotFound]: Could not find Host: host-244  Method:[rescue in deliver]
[----] E, [2016-04-05T17:18:04.930310 #14400:e19998] ERROR -- : /var/

[2016-04-06 12:56] cben opened #7744 "ContainerProject, ContainerRoute, ContainerImage don't show labels"
1. ContainerProject labels are not being fetched during refresh.
   (Technically, you can't label an openshift project but the underlying kubernetes namespace.
   Need to make sure fix also works with a non-openshift kubernetes cluster.)
2. ContainerProject, ContainerRoute, Container views don't show labels (that I verifed are in the DB).
3. ContainerImage labels are not fetched on refresh and not

[2016-04-06 13:50] blomquisg commented on #6978
@dajohnso, @erjohnso, there's already an `ERROR` logged for this [just before logging the backtrace](https://github.com/ManageIQ/manageiq/blob/40c1166594e5985638d970710390e34da85a4782/app/models/ems_refresh/refreshers/ems_refresher_mixin.rb#L33):

[code]

I think the problem is that we probably also have to update the quadicon.  The trick here is that the authentication status is not updated until

[2016-04-06 13:58] abonas commented on #7658
@Ladas I think I found the problem. The problem is the invisible image element that is present for glyph icons, that still has a large (although invisible) height and width. Shrinking the invisible image dimensions solves the problem.
It does not happen on master, it was introduced in #7463. I'll see if I can fix it as part of that PR, or in another PR on top of that.

[2016-04-06 14:19] yaacov commented on #6508
@simon3z
The line that crashes is (from the bug report) on my manageIQ this line was never called :-(
[code]
we check for `rec.container_group_id` but we use `rec.container_group` ?

[2016-04-06 15:41] agrare commented on #6967
@dclarizio I tried adding the following to `EmsCommon#set_form_vars` but the project still isn't populated on the UI,
`@edit[:new][:project] = @ems.project if @ems.kind_of?(ManageIQ::Providers::Google::CloudManager)`

[2016-04-06 16:15] zakiva commented on #7228
This problem occurs when navigating not only from pods (step 3) but also from container images, image registries, container nodes, providers and topology, i.e. all entities that have relationship with containers.
cc @simon3z

[2016-04-06 17:18] dclarizio commented on #6967
@h-kataria can you look into @agrare's comment above?

[2016-04-06 17:27] #6981 closed

[2016-04-06 17:27] #7658 closed

[2016-04-06 17:54] AparnaKarve commented on #6967
@agrare The Cloud Provider form is an angular form.
So all you need to do is make sure that the ```project``` value is set in the JSON in ```ems_form_fields``` in ```app/controllers/mixins/ems_common_angular.rb```

[2016-04-06 18:03] agrare commented on #6967
That did it, thanks @AparnaKarve !
Now to do the same for the credentials...

[2016-04-06 18:12] yrudman opened #7751 "MiqExpression refactoring"
Refactoring MiqExpression to change scope of multiple methods from class to instance would allow to:
-   improve support and readability
-   clean-up code
-   add new functionality easier

[2016-04-06 18:19] moolitayer commented on #7682
@jrafanie I want to scan all provider images sequentially once "new CVE content" event is raised ([first comment](https://github.com/ManageIQ/manageiq/issues/7682#issue-145521589))

Will it possible to do the following (as an image policy);
New policy: when scan completes do action: scan next image(by creation date? lexicaly?)
Then the schedule that searches for new CVE content would raise its eve

[2016-04-06 19:29] Fryguy commented on #845
This issue is no longer on master

[2016-04-06 19:29] #845 closed

[2016-04-06 19:30] Fryguy commented on #525
#7432 Configuration Revamp Phase 1 merged

[2016-04-06 19:32] Fryguy commented on #830
This issue is no longer on master

[2016-04-06 19:32] #830 closed

[2016-04-06 19:33] Fryguy commented on #832
This has been updated to use prepend on master.

[2016-04-06 19:33] #832 closed

[2016-04-06 19:35] Fryguy commented on #844
This can be replaced with rspec's stub_const

[2016-04-06 19:36] Fryguy commented on #2556
@blomquisg Is this still an issue?

[2016-04-06 19:37] Fryguy commented on #2692
Closing as it hasn't reappeared and seems to be a git specific thing.

[2016-04-06 19:37] #2692 closed

[2016-04-06 19:38] Fryguy commented on #3419
@carbonin I'm assigning this old ticket to you as it may be fixed by your work with the primary keys.

[2016-04-06 20:24] cben commented on #7744
Correction: Container can't be labeled.  kubectl's (and oc's) smallest unit is a pod.
(I did somehow manage to auto-tag containers based on labels it in my work on #7605 but that appears to be a bug.)

[2016-04-06 20:54] erjohnso opened #7760 "Fog gem dependencies (google, openstack, ??)"
Raising this issue as more of a question / investigation.  Apologies for not being able to test openstack to verify if the below is viable.

While working on the Google integration, we have a problem with the `fog-google` dependency effectively being stuck at 0.1.0.  There are new features I'd like to push upstream into fog-google to make them available in MIQ, but because of the locked version, w

[2016-04-06 21:01] agrare commented on #7760
Adding @Ladas to help with the OpenStack side.

[2016-04-06 21:40] #7373 closed

[2016-04-06 22:19] #6967 closed

[2016-04-07 04:45] Fryguy commented on #7604
I need to fix #7585 first because I can't tell if the changes I made even work :sweat_smile:

[2016-04-07 08:04] Ladas commented on #7760
@Fryguy @agrare what is actually using fog now? OpenStack is in fog-openstack now, so we don't need fog. Maybe we can remove that dependency now?

[2016-04-07 08:14] abonas commented on #7363
@simon3z is this still relevant? if not, please close. if yes, please provide an env/scenario where I can reproduce it.

[2016-04-07 08:44] simon3z opened #7772 "Pods Creation Trend should use creationTimestamp"
When adding a new OpenShift provider to ManageIQ all the pods are going to have the same `created_on` timestamp, generating a big spike of Pods Creation in the Trend added in #6759.

We should use the **real** pod `creationTimestamp` for the Pods Creation statistics (I think this is saved in `ems_created_on`.

cc @yaacov

[2016-04-07 08:44] simon3z commented on #7772
@miq-bot add_label providers/containers, bug

[2016-04-07 09:09] #7363 closed

[2016-04-07 10:08] himdel opened #7774 "TreeBuilderVandt: duplicate Datacenters folder under one EMS, sometimes"
We have an issue in current master, related somehow to the `dc_tree`, that causes one specific EMS to have double "Datacenters" child (with the same id, once blue, once gray), but only after the user visits the dc_tree in Resource Pool, and then in Cluster..

Steps to reproduce:
1. have a clean session (fresh login)
2. go to Infra / Resource Pools
3. pick a thingy
4. go to All VMs (Tree View) from

[2016-04-07 10:39] zeari commented on #7744
I believe that container images are still derived from a single string meaning they arent a kubernetes recognized entity. So I dont see how they could have labels.
The parsing is done [here](https://github.com/zeari/manageiq/blob/fcce0b5fd68bbfe5c1cc6c924f29bd06abeef64f/app/models/manageiq/providers/kubernetes/container_manager/refresh_parser.rb#L632-632)

[2016-04-07 10:40] himdel commented on #7774
I'll take this one, unless @Fryguy wants to take a look (because `TreeBuilderVmsAndTemplates`)..

[2016-04-07 11:32] monakhv opened #7776 "Scheduled Report problem"
I have Scheduled Report  problem using capablanca-2 version. I can see the report results using WEB. However It does not send the result via e-mail.

[code]

[2016-04-07 12:55] moolitayer commented on #7744
@zeari you are right about our current parsing. Images are an openshift entity
that was recently added to openshift_client, though we [do not fetch it](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/openshift/container_manager/refresher.rb#L9) currently.

[2016-04-07 12:57] moolitayer commented on #7744
That is right, see [above](https://github.com/ManageIQ/manageiq/issues/7744#issuecomment-206881170)

[2016-04-07 13:54] chessbyte commented on #7760
`git grep fog` shows only 2 users:

OpenStack Provider
Google GCE Provider

Suggest changing OpenStack integration to use `fog/openstack`, similar to GCE Provider using `fog/google`

[2016-04-07 13:57] erjohnso commented on #7760
@Ladas - can you do some testing with OS after removing fog and fog-core?  I'm confident we don't need it on the google side, so I think if you can give this the thumbs up, we can strip them out.

[2016-04-07 14:09] moolitayer opened #7777 "Support a request_containerimage_scan event that allows policies to cancel an imminent scan"
Other entities ([VMs](https://github.com/ManageIQ/manageiq/blob/f6cdf216f04d6827ca35fd990499beffd6f4a38e/app/models/vm_or_template/scanning.rb#L44),[Hosts](https://github.com/ManageIQ/manageiq/blob/f6cdf216f04d6827ca35fd990499beffd6f4a38e/app/models/vm_or_template/scanning.rb#L44), [Storage](https://github.com/ManageIQ/manageiq/blob/f6cdf216f04d6827ca35fd990499beffd6f4a38e/app/models/storage.rb#L1

[2016-04-07 14:11] moolitayer commented on #7777
@miq-bot add_label providers/contaienrs, evetns, enhancement
@miq-bot assign @moolitayer

cc @simon3z @gmcculloug

[2016-04-07 14:11] #7669 closed

[2016-04-07 14:37] gmcculloug commented on #7691
Fixed in PR #7694

[2016-04-07 14:37] #7691 closed

[2016-04-07 14:37] chessbyte commented on #7634
@abellotti who is on this?  you or @jvlcek?
/cc @gtanzillo

[2016-04-07 14:37] Fryguy opened #7781 "With full rake evm:start, some workers don't start until after 5 minutes"
From @agrare:

[code]

[2016-04-07 14:38] Fryguy commented on #7781
Note that we don't see this issue with MIQ_SPARTAN modes on.

[2016-04-07 15:20] lpichler opened #7784 "when adding a new cloud provider, button 'add' is still disabled"
![screen shot 2016-04-07 at 17 18 43](https://cloud.githubusercontent.com/assets/14937244/14356400/07886244-fce5-11e5-93b1-b9966b1c20cc.png)

[2016-04-07 15:21] lpichler commented on #7784
@miq-bot add_label ui
@miq-bot add_label bug

[2016-04-07 15:53] durandom opened #7785 "EventCatcher for NetworkManager amazon"
Right now we have an EventCatcher in CloudManager, which listens to all `ConfigurationItemChangeNotification` from aws and triggers a complete CloudManager refresh in automate.
The idea is to have another EventCatcher under NetworkManager.

I would do this in 2 steps:
1. Create EventCatcher for NetworkingManager and move shared code to mixins.
   the CloudManager's EventCatcher filters only to Clo

[2016-04-07 16:18] AparnaKarve commented on #7784
@lpichler Probably not a bug.
Check the AMQP tab and you should see a "Required" hostname field there.
This is a mandatory field after the new Multi UI endpoint changes.

[2016-04-07 16:29] lpichler commented on #7784
ok that's right, it works,
thanks @AparnaKarve

closing

[2016-04-07 16:30] #7784 closed

[2016-04-07 16:39] jrafanie commented on #7781
@Fryguy I saw it with `MIQ_SPARTAN=minimal bin/rake evm:start` with an EMPTY DB.  Subsequent starts seem to not have the UI worker delay issue.

[2016-04-07 16:54] Ladas commented on #7760
@erjohnso lets see if the CI will pass :-) https://github.com/ManageIQ/manageiq/pull/7790

fog is not in fog-openstack dependencies, so it should work, unless we need it somwhere else

[2016-04-07 18:15] agrare commented on #7781
@Fryguy, @jrafanie is right, I also see the issue with MIQ_SPARTAN mode on if it is the first time starting up.  When we tried minimal mode it was after the full evm:start had already started up once.

[2016-04-07 18:21] jrafanie commented on #7682
@moolitayer that sounds like a reasonable thing to be able to do... I'd expect you may want to respond to the "new CVE content" that's for the ContainerImage class, by calling a method on that class that would build a list of all target objects (container images) that need to be scanned, and put a single message on the miq_queue (each with the same task id so they run sequentially)... Is that poss

[2016-04-07 18:33] jrafanie commented on #7682
Note, task_id is not the same as `MiqTask`.  :sob:

Basically, the default `MiqQueue#get` will not pick up queue messages for existing task_ids and is an easy way to force a "set of MiqQueue messages" to be run one at time.  So, if you use the same task id for each "scan a container image for a new CVE" queue message, only one will be processed at a time.

See [here](https://github.com/ManageIQ/ma

[2016-04-07 18:38] Fryguy commented on #7781
OK, very interesting.

[2016-04-07 18:43] Fryguy opened #7797 "Docker: switch the clone path from /manageiq to /var/www/miq/vmdb"
cc @bazulay @fbladilo

[2016-04-07 18:44] Fryguy opened #7798 "Docker: Add Apache"
cc @bazulay @fbladilo

[2016-04-07 18:46] Fryguy opened #7799 "Docker: reuse the manageiq-appliance and/or manageiq-appliance-build repos"
Avoid repeating the scripts in the manageiq repo by reusing a clone of the https://github.com/manageiq/manageiq-appliance and/or https://github.com/manageiq/manageiq-appliance-build repos

Once this gets fixed, I can change the automatic build on Docker Hub to automatically look at these other repos as a trigger on the manageiq build.

cc @bazulay @fbladilo

[2016-04-07 18:47] Fryguy opened #7800 "Docker: Allow for productization of the Dockerfile"
This would allow CloudForms to change parts of the build such that a majority can be shared between ManageIQ and CloudForms.  I'm not sure this is possible given that CloudForms even needs to change the base container to a RHEL based one.

cc @bazulay @fbladilo

[2016-04-07 18:48] Fryguy opened #7801 "Docker: Add the Self Service UI"
The SSUI is missing from the Docker image.  The manageiq-ui-self_service repo would need to be cloned and properly built as we do for the VM builds.

cc @bazulay @fbladilo

[2016-04-07 18:49] Fryguy opened #7802 "New pglogical packages are breaking the Docker build"
As seen in the comments here: https://github.com/ManageIQ/manageiq/pull/7125#issuecomment-206983601

cc @bazulay @fbladilo

[2016-04-07 18:56] Fryguy commented on #7774
@agrare Could this be because of the hidden? folder changes?

[2016-04-07 18:59] agrare commented on #7774
@Fryguy could be, I'll take a look

[2016-04-07 19:00] Fryguy commented on #7774
@agrare If it's not, please assign back to @himdel

[2016-04-07 19:28] Fryguy commented on #2451
@skateman @martinpovolny Now that #7078 is merged, can we remove the changes to expose ports 5900-5999 and listed here? https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/post/firewalld.ks.erb#L24

I believe those were open because of that weird VNC console thing we did years ago (with the browser plugins and the MiqServer acting as a VNC proxy server).

cc @bdunn

[2016-04-07 19:30] Fryguy commented on #2451
Also, I merged ManageIQ/manageiq-appliance#61 since it was related to #7078

[2016-04-07 19:41] bdunne commented on #7799
Also, the current container is running in development mode, it should be running in production.  Reusing the files in manageiq-appliance and manageiq-appliance-build should resolve that.

[2016-04-07 19:43] bdunne opened #7803 "Docker: Limit open ports for VNC consoles"
Since #7078 is now merged, we should only need port 5000 open for VNC consoles instead of 5900-5999

[2016-04-07 19:53] jrafanie commented on #2451
@martinpovolny It would be awesome to remove that.  Do we need something else open on the firewall?

[2016-04-07 20:14] skateman commented on #2451
@jrafanie nope, just close these ports

[2016-04-07 20:21] #6974 closed

[2016-04-07 20:51] martinpovolny commented on #2451
@jrafanie: as @skateman wrote, we just close those. Everything is proxied through 443 now. Also all the SSL PITA is gone now. Have to update the docs.

[2016-04-07 20:54] agrare commented on #7774
@Fryguy Seems to have been an issue for a while, I reproduced it before my changes to use `kind_of?(Datacenter)`.  Specifically reproduced one commit before 166ac8be8a3543668d246a74bf1f8c8e751a32aa.

@miq-bot assign @himdel

[2016-04-07 21:08] himdel commented on #7774
Ok, thanks :-) it think it's caching something too much, but we'll see :-)

[2016-04-07 22:02] roliveri commented on #7660
I'll investigate, but this seems to be MiqQueue/ActiveRecord related.

[2016-04-07 22:25] romanblanco opened #7806 "Exception after adding Policy"
After merging #7132, when I try to add Policy, I'm getting exception:

[code]

**Screenshots:**

![screencapture-localhost-3000-miq_policy-explorer-1460063695101](https://cloud.githubusercontent.com/assets/1187051/14368748/154d3284-fd20-11e5-87ab-7a485e4d37f0.png)
![screencapture-localhost-3000-miq_policy-explorer-1460063707772](https://cloud.githubusercontent.com/assets/1187051/14368751/16bc9d30-

[2016-04-07 22:37] abellotti commented on #7634
Right now no one, briefly looked at it, will require UI (javascript) changes and possibly API.

[2016-04-07 23:32] jrafanie commented on #2451
That's awesome! 💖

----- Reply message -----
From: "Martin Povolny" <notifications@github.com>
To: "ManageIQ/manageiq" <manageiq@noreply.github.com>
Cc: "Joe Rafaniello" <jrafanie@gmail.com>
Subject: [ManageIQ/manageiq] Websocket proxy and consoles next steps (#2451)
Date: Thu, Apr 7, 2016 4:52 PM

@jrafanie: as @skateman wrote, we just close those. Everything is proxied through 443 now. Also all

[2016-04-07 23:36] fbladilo commented on #7799
I'm actually working on both of these issues currently , here is some feedback :

As soon as I moved the appliance rootdir to /var/www/miq/vmdb and started utilizing the manageiq-appliance scripts, I noticed we were missing a good number of packages in our base centos7 docker image , so far this is the list :
initscripts, chrony, psmisc, lvm2, httpd, mod_ssl, mod_auth_kerb, mod_authnz_pam mod_inte

[2016-04-07 23:54] fbladilo commented on #7802
Added the pglogical repo as suggested, /bin/appliance-initialize.sh is happy and postgres comes up clean. I will make a PR for this item soon.

[2016-04-08 00:01] fbladilo commented on #7799
One question, in the developer build we use docker_setup to create, migrate and seed the DB. Basically :
rake db:create
rake db:migrate db:seed

How is this handled in appliance mode? I noticed appliance-initialize.sh sets DB access/pwd but I haven't found a migration/seed step yet.

[2016-04-08 01:33] fbladilo commented on #7798
Sure thing, I'll be sending a PR with httpd/mod_ssl and other missing packages from the base centos7 docker image

[2016-04-08 02:11] moolitayer commented on #7806
cc @gtanzillo

[2016-04-08 02:20] moolitayer commented on #7806
@romanblanco what am I missing to reproduce this? I'm creating a container image compliance policy with context and notes but I cannot reproduce

 ![manageiq control](https://cloud.githubusercontent.com/assets/3010449/14372454/7c754a40-fd49-11e5-9e5e-3497326b98a4.png)

[2016-04-08 06:58] Ladas commented on #6434
Fixed by #6513

[2016-04-08 06:58] #6434 closed

[2016-04-08 07:01] skateman commented on #3742
@martinpovolny I think this can be closed

[2016-04-08 07:03] #3742 closed

[2016-04-08 07:54] lpichler opened #7814 "select boxes are throwing js errors after selecting any option when adding group"
![screen shot 2016-04-08 at 09 48 45](https://cloud.githubusercontent.com/assets/14937244/14377359/7f7ede60-fd6f-11e5-80ed-a0b45c94572f.png)

and then adding doesn't work
![screen shot 2016-04-08 at 09 52 49](https://cloud.githubusercontent.com/assets/14937244/14377406/bc10c9ce-fd6f-11e5-8aa2-8494873be8fe.png)

I met also in set ownership screen, so maybe it is global issue.

[2016-04-08 07:55] lpichler commented on #7814
@miq-bot add_label ui
@miq-bot add_label bug

[2016-04-08 09:50] romanblanco commented on #7806
@moolitayer I've found out that the problem was on my side. Everything works fine. Thanks :blush:

[2016-04-08 09:50] #7806 closed

[2016-04-08 10:26] Ladas commented on #7760
https://github.com/ManageIQ/manageiq/pull/7790 passes now, so I think we can safely remove Fog

[2016-04-08 11:03] lpichler commented on #7814
seem that it caused by this https://github.com/ManageIQ/manageiq/pull/7661 cc @eclarizio

[2016-04-08 11:10] Ladas commented on #7760
@erjohnso merged, we can close this issue :-)

[2016-04-08 11:42] Ladas commented on #7760
@erjohnso btw. MIQ is definitelly for ruby >= 2  (even >= 2.1 I think)

[2016-04-08 11:44] bdunne commented on #7799
@fbladilo It is done through our appliance console cli.  https://github.com/ManageIQ/manageiq-appliance-build/blob/df875e9bf58fbcc6a1cd0c313000be03de4832cd/kickstarts/partials/post/db_init.ks.erb#L7

[2016-04-08 11:58] erjohnso commented on #7760
Outstanding, thank you very much @Ladas!

[2016-04-08 11:58] #7760 closed

[2016-04-08 12:28] fbladilo commented on #7799
@bdunne I implemented that step identical, for some reason the DB didn't appear to be ready when starting evmserverd, I will try again and report details.

[2016-04-08 13:00] durandom opened #7820 "Pluggable Providers: Automate Amazon"
1. Move ServiceModels [lib/miq_automation_engine/models](https://github.com/ManageIQ/manageiq/tree/master/lib/miq_automation_engine/models) to [gems/manageiq-providers-amazon/lib](https://github.com/ManageIQ/manageiq/tree/master/gems/manageiq-providers-amazon/lib)/miq_automation_engine/models
2. Move datastore [db/fixtures/ae_datastore/ManageIQ](https://github.com/ManageIQ/manageiq/tree/master/db/

[2016-04-08 13:04] fbladilo commented on #7802
@Fryguy @bdunne https://github.com/ManageIQ/manageiq/pull/7819

Small PR adding pglogical repo and installing necessary RPMs into image.

[2016-04-08 14:24] erjohnso opened #7825 "Update fog-google gem"
With the inclusion of #7790, we can relax the version restriction on fog-google. This will allow the us to take advantage of newer features in fog-google such as Windows image support.

PR forthcoming

[2016-04-08 14:25] erjohnso commented on #7825
@miq-bot add_label providers/google

[2016-04-08 14:26] erjohnso commented on #7825
@miq-bot assign erjohnso

[2016-04-08 14:54] psav opened #7828 "Middleware provider page has no views"
Quad/List views etc are missing from the Middleware page, they are present on all other provider pages.

[2016-04-08 14:55] psav opened #7829 "Middleware has no default views area in configuration"
Middleware has no default views area in configuration -> my settings -> default views

[2016-04-08 15:40] Fryguy commented on #7802
Closed in #7819

[2016-04-08 15:40] #7802 closed

[2016-04-08 15:52] mkanoor commented on #7820
Had discussions with @durandom and we agreed to create a separate domain for Amazon and move the Automate Instances and Methods into that domain, which can be seeded and locked. The same would happen with the service models.

[2016-04-08 16:24] fbladilo commented on #7799
@bdunne @Fryguy @bazulay

Here are the details of the issue I see , even when successfully run appliance-initialize.sh :
[root@fbcf2eb8c61e /]# /bin/appliance-initialize.sh
create encryption key
configuring internal database
Initialize postgresql starting
Initialize postgresql complete
Checking for connections to the database...

Create region starting
Create region complete
[root@fbcf2eb8c61e /]#

[2016-04-08 16:29] #3898 closed

[2016-04-08 17:01] amaurygonzalez opened #7832 "chargeback: problems on Rate edition"
Revisiting the new changes in the master branch with @tledesma we saw unexpected behaviors in the chargeback:

1. Failed to add a new rate:  _undefined method `chargeback_rate_detail_currency_id' for nil:NilClass [chargeback/x_button]

1. After copying a rate, we see in the show view of new rate the units expressed like "Megahertz, Megabytes ....". Should be shown as the original, with the measure

[2016-04-08 17:37] h-kataria commented on #7689
@romanblanco this seems to be broken by changes in commit sha: 7806ad2b2202502133cda05e18c7287342c28b0e. Please review changes https://github.com/ManageIQ/manageiq/blob/master/app/controllers/vm_common.rb#L1502-L1505

[2016-04-08 19:10] #7594 closed

[2016-04-08 19:25] #7677 closed

[2016-04-08 21:30] Fryguy commented on #7602
Closed in #7381

[2016-04-08 21:30] #7602 closed

[2016-04-08 21:32] amavinag opened #7835 "[appliance]: db confiuration is failing in nightly builds with missing vmdb.yml.db."
[appliance]: db confiuration is failing in nightly builds with missing vmdb.yml.db Error.
1. deploy the recent nightly build on the providers.
2. do the initial configuration,  check the file /var/www/miq/vmdb/config/vmdb.yml.db is missing and db configuration fails.

LOG: https://gist.github.com/amavinag/d22a7864e4cc88936db1d5f2c0a5757e

[2016-04-08 21:44] h-kataria commented on #7832
@gtanzillo @jrafanie i think the first issue is result of removal of code that read yaml and initialized chargeback_rate_details for new records. Other 2 looks like minor changes/fixes result of changes that were made to remove AR Objects from session. I can take a look at 2 & 3.

[2016-04-08 21:49] gtanzillo commented on #7832
Thanks @h-kataria! @lpichler can you please take a look at issue 1 since I won't be available next week? I removed the loading of the yaml file in this commit - https://github.com/ManageIQ/manageiq/pull/5828/commits/08fe0a24113648051d839cf931420479413f6bd2. Didn't seem necessary since that happens during seeding.

[2016-04-08 21:50] Fryguy commented on #7835
Is this a Red Hat QE specific thing?  That file no longer exists on nightly master

[2016-04-08 21:58] amavinag commented on #7835
@Fryguy: is that recent change? I see that file on Mar25th buid..

[2016-04-08 22:18] dclarizio commented on #6627
Image for main comment:
![candu charts](https://cloud.githubusercontent.com/assets/3433754/14398950/13e9acec-fd9d-11e5-8c71-a0b3032327d9.png)

[2016-04-08 22:24] Fryguy commented on #7835
It was merged 11 days ago: https://github.com/ManageIQ/manageiq/pull/7432

[2016-04-08 22:57] mkanoor opened #7843 "Where should GIT Repositories be stored on the appliance?"
We are downloading GIT repositories from some user configured GIT server using HTTPS on to our appliance. Once the repository has been downloaded on to the appliance we import it into Postgres.

Currently we are storing the GIT Repository under {RAILS_ROOT}/data/git_repos

https://github.com/ManageIQ/manageiq/blob/master/lib/miq_automation_engine/models/miq_ae_datastore.rb#L7

We are downloading c

[2016-04-08 23:00] mkanoor commented on #7843
@Fryguy @jrafanie @gtanzillo @carbonin @bdunne
Please comment

[2016-04-09 13:57] bdunne commented on #7843
That location sounds good to me.  My only concern is that it would share the same logical volume and filesystem as the application itself, and filling the volume could cause the application to crash.

[2016-04-09 15:09] kbrock commented on #2451
This is very cool. Great job. Good write up AND good follow through removing the warts

[2016-04-10 12:24] zeari opened #7848 "Unable to change filtering on new chargeback report"
UI freezes when editing a chargeback reports filtering tab.
I couldnt find a stack trace anywhere.

to reproduce:
Go to Cloud intelligence -> reports -> create new report
Choose to base report on chargebacks and choose a few columns
Go to the filtering tab and try to edit a few fields
The UI just shows a spinner forever

@miq-bot add_label ui, bug, chargeback

@sergio-ocon @amaurygonzalez Did you

[2016-04-10 13:27] yaacov commented on #7848
I have this issue too :-( , the spinner does not stop.

[2016-04-10 18:29] sergio-ocon commented on #7848
@delaluzparra can we do somethinhg?

[2016-04-11 07:39] amaurygonzalez commented on #7848
Try starting the application with `rake evm:start.` There are some task that don't can be run with` rails server`. @sergio-ocon I think that this should be documented on developers installation pages.

[2016-04-11 08:02] delaluzparra commented on #7848
Thanks @amaurygonzalez

[2016-04-11 09:08] lpichler commented on #7848
@zeari is this issue ? (see js issue)
![screen shot 2016-04-08 at 09 52 49](https://cloud.githubusercontent.com/assets/14937244/14422139/6cded69e-ffd5-11e5-91b2-0104946da6d3.png)

It seems that is global issue
https://github.com/ManageIQ/manageiq/issues/7814

[2016-04-11 09:30] himdel commented on #7814
@miq-bot assign himdel

[2016-04-11 11:16] zeari commented on #7848
@lpichler Not exactly the same but maybe the source of the issue is:
![bad_chargeback](https://cloud.githubusercontent.com/assets/11256940/14425442/f60738b6-ffef-11e5-8471-9e8e82f325c1.png)

[2016-04-11 11:17] zeari commented on #7848
@amaurygonzalez Im still having this issue even with ```rake evm:start```

[2016-04-11 11:18] yaacov commented on #7848
me too :-(

[2016-04-11 11:22] lpichler commented on #7848
if you will have chance, can you jump to this commit de8818a21e1f546cd3148dc6f8ce9ab6cd981289  (this commit is before this PR https://github.com/ManageIQ/manageiq/pull/7661 which seems that caused it ) and try it again, please ?

To determine if it is same issue as in https://github.com/ManageIQ/manageiq/issues/7814
Thanks!

[2016-04-11 11:40] gtanzillo commented on #7843
That location also seems appropriate to me. But, I do have the same concern that @bdunne has. However, it doesn't seem like too much space would be taken by the git repos.

[2016-04-11 11:53] yaacov commented on #7848
@lpichler , yes when jumping to commit https://github.com/ManageIQ/manageiq/commit/de8818a21e1f546cd3148dc6f8ce9ab6cd981289 everything is working OK

[2016-04-11 11:54] mzazrivec opened #7859 "JavaScript errors when importing service dialog"
Caused by commit d4cdf01149a38fd6f6aa0021374722aa4969520e and pull request #7817

[code]

[2016-04-11 11:55] himdel commented on #7848
Fixed in https://github.com/ManageIQ/manageiq/pull/7858

[2016-04-11 12:10] zeari commented on #7848
Seems like the same one.

Thanks @lpichler @himdel !

[2016-04-11 12:33] carbonin commented on #7843
Our volume mounted at `/var` which would include our source plus our logs only has 2GB of space.  How large do we expect this to be? Maybe somewhere on the LV mounted on `/`? That has 4.5GB and isn't shared with any log volumes, but is usually reserved for just OS stuff.

We could also move some space around on the image to give `/var` more room if needed.

[2016-04-11 13:19] alongoldboim commented on #7516
@martinpovolny
I think it would be ok to do it on those tags.
I need it because ill need it to have a ng-click attribute to open a modal.

[2016-04-11 13:48] carbonin commented on #7843
The other think to consider is that moving this out of `#{RAILS_ROOT} will likely break non-appliance setups. Is that okay?

[2016-04-11 14:09] h-kataria commented on #7832
Reopenining, not all issues reported in this issue are fixed yet.

[2016-04-11 15:02] chrisarcand opened #7866 "Create User freezes and does nothing"
There seems to be a new bug in master now where if you attempt to create a user the UI hangs indefinitely. The logs report no errors.

![](http://screenshots.chrisarcand.com/u69nw.jpg)

@miq-bot add_labels bug, core, ui

cc/ @alex-lairan

[2016-04-11 15:08] alex-lairan commented on #7866
I folow this issue

[2016-04-11 15:37] #7689 closed

[2016-04-11 19:10] alpha00Zero opened #7876 "manageiq install from source"
When I run bundle install I get the following message.
Could not find gem 'ansible_tower_client (~> 0.0.1)' in
git://github.com/ManageIQ/ansible_tower_client.git (at master@56d33ff).
Source contains 'ansible_tower_client' at: 0.1.0

[2016-04-11 19:56] fbladilo commented on #7798
https://github.com/ManageIQ/manageiq/pull/7879

[2016-04-11 19:58] fbladilo commented on #7799
Guys, any comments on this one? Did I miss something? I can work around it but I want to avoid duplication as much as possible. @Fryguy @bdunne

[2016-04-11 20:27] hsong-rh opened #7880 "SSA: Correct the vendor comparison in RHEV."
Correct the vendor comparison logic for RHEV to make sure it's case insensitive.

[2016-04-11 21:50] juliancheal commented on #7280
TODO: from @blomquisg

all the stuff in ext_management_system.rb that delegates to default_endpoint ... would be nice to track down all the callers of things that use ems as the way to access endpoint data and kill those
tracking down all that leftover legacy crap that required even putting that delegation in place in the first place

[2016-04-11 21:59] roliveri opened #7885 "Refactor require_snapshot_for_scan? and path methods"
Refactor the `require_snapshot_for_scan?` method in app/models/vm_or_template/scanning.rb
and the `path` method in app/models/vm_or_template.rb, to subclass-specific versions - eliminating the need to check `vendor` explicitly.

See: https://github.com/ManageIQ/manageiq/pull/7881

[2016-04-12 01:04] #7781 closed

[2016-04-12 01:06] #7825 closed

[2016-04-12 08:37] #7814 closed

[2016-04-12 08:37] #7848 closed

[2016-04-12 08:37] #7866 closed

[2016-04-12 09:07] himdel commented on #7859
@skateman you may want to look into this ;)

[2016-04-12 09:12] skateman commented on #7859
@miq-bot assign @skateman

[2016-04-12 10:27] tledesma commented on #7832
@lpichler @h-kataria I have also noticed that when you want to edit a copied rate, the measures selectors (Per Unit) don't appear because the "chargeback_rate_detail_measure_id" are empties. I realized that "metric" are empties too in the database.

![captura del escritorio de 12-04-16 12-08-37](https://cloud.githubusercontent.com/assets/13876427/14457217/55f0136a-00a9-11e6-9c46-a7d634099f54.gif)

[2016-04-12 11:52] lpichler commented on #7832
@tledesma I can take a look on it also. Call it as point 4. thanks

[2016-04-12 12:44] h-kataria commented on #7832
@lpichler ithink that's related to item 3 in https://github.com/ManageIQ/manageiq/issues/7832

[2016-04-12 13:55] romaintb commented on #7472
unrelated but, I get a crash if I select no security group (even though form does not mark it as mandatory), happens here : https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/azure/cloud_manager/provision/cloning.rb#L107 (`security_group` is nil)

[2016-04-12 14:23] romaintb commented on #7472
now I get :
[code]

so I guess the bug was on my subscription all along, but now we have a proper error message :)

[2016-04-12 14:34] mzazrivec opened #7896 "Cannot delete user role once it was associated with a user group"
1. create user role
2. create user group and have it use the above created role
3. try to delete the above user role. This will *correctly* throw an error, because the role is linked
to the above created group via entitlements table.
4. delete the above created group
5. try to delete the above user role. This will *incorrectly* throw an error, telling the entitlements
link still exist.

After this

[2016-04-12 14:47] aufi opened #7899 "Resize instance in openstack provider raises error in controller"
Resize openstack instance raises error. It looks that reconfigure instance form data (selectbox named flavor) is not serialized and sent to server, which causes Error caught: [NoMethodError] undefined method `[]' for nil:NilClass /home/maufart/projects/manageiq/app/controllers/vm_cloud_controller.rb:41:in `resize_vm'

Example:
Click resize instance button
![image](https://cloud.githubusercontent.c

[2016-04-12 14:49] bzwei commented on #7472
@romaintb good to see our error message is improved.
@bronaghs is security group mandatory? Otherwise the cloning code needs a fix.

[2016-04-12 14:53] romaintb commented on #7472
I noticed the object id is the same as the client, is this normal ?

[2016-04-12 14:54] bronaghs commented on #7472
@romaintb @bzwei - security group is  not mandatory. A code fix is needed to set the security group property on the NIC if the security_group is not nil.

[2016-04-12 15:21] chrisarcand commented on #7896
This is good to know, thanks @mzazrivec. As of this moment I'm not yet sure if it should be considered a bug. Indeed roles should not be allowed to be deleted if associated with an entitlement, but deleting a group should _not_ destroy the associated entitlement.

Let's leave this open as there is currently no way to remove entitlements and thus roles are suddenly indestructible (bad). However, th

[2016-04-12 15:21] chrisarcand commented on #7896
cc/ @jrafanie @gtanzillo

[2016-04-12 15:21] chrisarcand commented on #7896
@miq-bot add_labels bug, core, tenancy

[2016-04-12 15:36] romaintb commented on #7472
ok, it worked, got a provisionned VM :)
something definitely got improved between the creation of this issue and now

thanks for the help everyone, if you need more info, or a new issue for th esecurity_group error I saw, just tell me, if not we can close this issue I think

[2016-04-12 15:46] bzwei commented on #7472
@romaintb thank you. please close this one and open another issue for the security_group error.

[2016-04-12 15:46] #7472 closed

[2016-04-12 16:00] romaintb opened #7900 "ARM provision fails if no security_group provided"
I get a crash if I select no security group (even though form does not mark it as mandatory), happens here : https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/azure/cloud_manager/provision/cloning.rb#L107 (`security_group` is nil)

[2016-04-12 16:25] #6973 closed

[2016-04-12 16:28] romaintb commented on #7900
would you be interested in a PR such as this : https://gist.github.com/romaintb/c2980b4cec4c8565f1917eafee688ee5 ?

[2016-04-12 16:31] erjohnso opened #7902 "Wire up the basics for Events in Google integration"
Looks like we should be able to get something working using [Google Cloud Logging](https://cloud.google.com/logging/docs/) with [export to Cloud Pub/Sub](https://cloud.google.com/logging/docs/export/configure_export).

This issue is to track initial proof of concept, including stubbing out the necessary functionality in fog-google.

[2016-04-12 16:32] erjohnso commented on #7902
@miq-bot add_label providers/google
@miq-bot assign selmanj

[2016-04-12 17:54] alpha00Zero commented on #7876
So there is a checkout that is not allowing me to run bundle install.

[2016-04-12 21:59] simon3z opened #7915 "NoMethodError undefined method disconnect_inv for nil:NilClass"
During a refresh a `NoMethodError` on `nil` occurred trying to disconnect an entity:

[code]

cc @zeari

[2016-04-12 21:59] simon3z commented on #7915
@miq-bot add_label providers/containers, bug

[2016-04-12 22:37] jameswnl opened #7917 "Non-English locale text has broken title text"
As shown below
![screen shot 2016-04-12 at 6 35 34 pm](https://cloud.githubusercontent.com/assets/2421248/14477671/6e8dcdca-00dd-11e6-9507-ed8516a482e0.png)

[2016-04-12 22:38] jameswnl commented on #7917
The ```{:tables=>"Vm Infras"}``` doesn't seems to be right.

[2016-04-13 01:52] #7585 closed

[2016-04-13 01:52] #7604 closed

[2016-04-13 07:33] martinpovolny commented on #7516
@alongoldboim : which one then?

You can work around it by sending a JS response that does the call for you. That is the way that we currently support.

[2016-04-13 08:17] dkorn commented on #7516
@martinpovolny can you please point us to an example of this kind of workaround?

[2016-04-13 09:08] tledesma commented on #7832
@lpichler @h-kataria If we want to add a new tier, we cannot do it unless it is the first one.

![captura del escritorio de 13-04-16 10-59-57](https://cloud.githubusercontent.com/assets/13876427/14488173/0de685ea-0167-11e6-9022-3d71418077f7.gif)

Also, when I save a edited rate, the changes are not saved.
I don't know if it would be better to open other issue for them.

[2016-04-13 09:17] lpichler commented on #7832
@tledesma yes I noticed it before a while also(5), it is for rates where we can select any unit (not for countable)
related to this thing is another bug.

that when editing exiting one, and I will change unit, then it is not stored. (6)

I don't what is better but issues are related, so we keep it there and state them in first comments
and we can use checkboxes(task list) to see what is fixed.

[2016-04-13 09:46] tledesma commented on #7832
@lpichler yes, you are right, so @amaurygonzalez can you please add them?

[2016-04-13 12:17] durandom commented on #7785
I'm a bit undecided, whether this is really needed.
pro: separates concerns clearly
contra: almost the same logic doubled, increased worker count, increased number of queues(==money) on aws

Is it a use case, to have a NetworkManager without  a CloudManager?

[2016-04-13 14:17] blomquisg commented on #7785
I think a better thing to investigate is how to get events from Amazon's CloudWatch service.  If we can get events from their easier than the ConfigService, then we should look at changing how we capture events (maybe have to support both for a single release).

Then, we can look at how to separate out events based on their respective managers.

What do you think?

[2016-04-13 14:46] durandom commented on #7785
sounds good.
I wasn't aware that there might be another way to get the events out of AWS. Will have a look.

[2016-04-13 17:36] bdunne commented on #7799
@fbladilo Do you have a PR?  I'm not sure what is going wrong, it sounds like something is going wrong on creating or raking the db.  If I can look at the diff or poke around in a container, I may be able to help troubleshoot.

[2016-04-13 19:34] jameswnl commented on #7706
Hi Simon, I can't reproduce this. I've asked a couple others to try to reproduce it and they couldn't either.  Can you help check if the table "host_switches" is there?

[2016-04-13 21:03] Fryguy commented on #7917
@mzazrivec Please review

[2016-04-13 22:33] amavinag opened #7945 "the upstream appliance failed to configure and launch the webui on openstack providers"
the upstream appliance failed to configure and launch the webui on openstack providers.

steps to reproduce:
1. upload the latest upstream nightly build(April 12, 2016) on openstack providers.
2. associate the floating ip, and start the instance.
3. wait for instance to startup and finish the initial configurauion. wait for 30-40 minutes try to launch the webui, using the floating ip. the webui di

[2016-04-14 08:21] himdel opened #7947 "Session not saved when too big, touched by assets (in dev mode) as well"
When the session object gets too big (over 1MB by default), it gets almost silently (log warning), discarded on the Dalli level, without that information propagating further.

Also any requests for assets (in devel mode at least) end up calling Dalli's `set_session` method.. and end up as a `SET MIQ:VMDB:...` in memcached. So they may end up breaking the session as well, concurrently :).

Attempti

[2016-04-14 09:26] lpichler commented on #7832
@amaurygonzalez can you open it please again ? It seems tthat it was automaticly closed after merge. Thanks!

[2016-04-14 09:32] arnikasky commented on #7684
Sorry, it was my error related to network settings.

[2016-04-14 09:33] #7684 closed

[2016-04-14 09:37] amaurygonzalez commented on #7832
@lpichler. I can't reopen it!. I think i don't have privilege for this

[2016-04-14 09:41] mzazrivec commented on #7382
By the way, same error would happen for security groups and cloud networks.

[2016-04-14 10:41] arnikasky opened #7952 "Update master"
Hello.
When i want to update master, after rake evm:start, i always have this error:
- ERROR -- : [ActiveRecord::StatementInvalid]: PG::UndefinedTable: ERROR:  relation "entitlements" does not exist
LINE 1: SELECT  "entitlements".* FROM "entitlements" WHERE "entitlem...
                                      ^
: SELECT  "entitlements".* FROM "entitlements" WHERE "entitlements"."miq_group_id" = $1 L

[2016-04-14 12:37] arnikasky opened #7956 "Spice console doesn't work in nightly build"
Hello.
I try to use spice console in nightly build - manageiq-vsphere-master-20160413-12c5834433, and i have this error:
[----] I, [2016-04-14T08:19:36.630767 #2965:d26784]  INFO -- :   Parameters: {"proto"=>"spice", "secret"=>"R9YbdagfQEVG", "url"=>"ws/console/1256589abd79d279b44e16bc49bde4e2", "id"=>"1"}
[----] F, [2016-04-14T08:19:36.735360 #2965:d26784] FATAL -- : Error caught: [JSON::Generato

[2016-04-14 13:09] mzazrivec commented on #7917
@miq-bot assign mzazrivec

[2016-04-14 13:21] zeari commented on #7610
previously(no disconnection): when deleting a container group
[code]

now(After #7360): when deleting a container group
[code]

[2016-04-14 13:45] Ladas commented on #7785
@durandom I am aware of what you say, this basically needs double resources to run. But can run in parallel (well there is still dependency on Vms maybe Stacks)

The architecture we are now focusing on should allow to take e.g. Amazon and OpenStack CloudManagers, and hook them up with one NetworkManager

I guess, there could be a logic, that when we are using an Amazon::NetworkManager, it could sh

[2016-04-14 14:30] #7880 closed

[2016-04-14 14:31] blomquisg commented on #7952
@arnikasky it sounds like you haven't run `rake db:migrate` yet.  Can you try that and see if the error still persists.

[2016-04-14 14:35] blomquisg commented on #7899
@aufi, are you looking into this?

[2016-04-14 14:39] blomquisg commented on #7835
@Fryguy should this be closed?

[2016-04-14 14:41] blomquisg commented on #7801
@Fryguy who should own this issue?

[2016-04-14 14:42] blomquisg commented on #7800
@Fryguy who should own this issue?

[2016-04-14 14:43] blomquisg commented on #7799
@Fryguy who should own this issue?

[2016-04-14 14:44] blomquisg commented on #7798
@Fryguy who should own this issue?

[2016-04-14 14:44] blomquisg commented on #7797
@Fryguy who should own this issue?

[2016-04-14 18:09] martinpovolny commented on #7803
nonononono, we need no port at all. We are not at 443 together with the normal other stuff.

[2016-04-14 18:11] martinpovolny commented on #7956
Can you, please add the log content? The link seems to be broken. Thx!

[2016-04-14 18:39] JPrause commented on #7945
Was able to replicate this issue. This issue also is seen on all appliance builds from the April 12.
This [PR](https://github.com/ManageIQ/manageiq-appliance-build/pull/121) was just merged and should resolve this issue.

I will force an upstream build and test once build completes.

[2016-04-14 19:24] JPrause commented on #7945
After testing last night's upstream (April 13) build,...the problem, as described is resolved.
This issue can be closed.

[2016-04-14 19:41] JPrause commented on #7945
A forced build was also tested and there are no issues.

[2016-04-14 20:32] #7228 closed

[2016-04-15 06:09] arnikasky commented on #7956
Hello, @martinpovolny
[log_master2.txt](https://github.com/ManageIQ/manageiq/files/220415/log_master2.txt)

[2016-04-15 07:14] aufi commented on #7899
@blomquisg Yeah, will look on it

[2016-04-15 07:16] arnikasky commented on #7956
![screenshot from 2016-04-14 16 01 46](https://cloud.githubusercontent.com/assets/8751017/14554057/164bfdcc-02f3-11e6-9d6e-b8b000cff27b.png)

[2016-04-15 07:18] arnikasky commented on #7952
@blomquisg Tnx, i have run rake db:migrate and now i have new error - httpd doesn't work -

AH00558: httpd: Could not reliably determine the server's fully qualified domain name, using localhost.localdomain. Set the 'ServerName' directive globally to suppress this message
[Fri Apr 15 03:06:28.698612 2016] [auth_digest:notice] [pid 10518] AH01757: generating secret for digest authentication ...
[Fr

[2016-04-15 08:02] rananda commented on #7896
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1327466

[2016-04-15 08:11] PanSpagetka commented on #6627
We probably want some empty chart placeholder.

[2016-04-15 11:43] arnikasky commented on #7956
I use [#7978](https://github.com/ManageIQ/manageiq/pull/7978), but i have new error
Firefox:![screenshot from 2016-04-15 14 36 53](https://cloud.githubusercontent.com/assets/8751017/14560342/cfe20532-0317-11e6-857f-134d8b6b29e7.png)
Chrome(with one refresh):
![screenshot from 2016-04-15 14 43 15](https://cloud.githubusercontent.com/assets/8751017/14560423/68ce0778-0318-11e6-8d84-9d7bbdace54d.png)

[2016-04-15 11:44] skateman commented on #7956
@arnikasky this is a separate issue, please give me a few mins to fix

[2016-04-15 11:47] skateman commented on #7956
@arnikasky please ping me on [gitter](https://gitter.im/skateman) or in #manageiq on freenode

[2016-04-15 11:53] arnikasky commented on #7956
@skateman Take your time :smile: This stuff isn't very important right now.

[2016-04-15 12:52] skateman commented on #7956
@arnikasky try this https://github.com/ManageIQ/manageiq/pull/7979

[2016-04-15 13:47] rananda commented on #7956
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1327625

[2016-04-15 13:49] #7956 closed

[2016-04-15 15:22] mzazrivec commented on #7917
What's happening here is that there are strings like these in the Japanese catalog:

[code]

Note the `%{table}` -> `%s` discrepancy (that's what will mess up the string in the UI.

This mess is all done automatically by `gettext:find` rake task and there's no easy way to fix this really.

What I'm proposing to fix this issue:
1. remove all non-english catalogs from our git
2. have a mechanism (a

[2016-04-15 15:28] #6600 closed

[2016-04-15 17:03] chrisarcand opened #7990 "RBAC bug: multiple filters in one category"
If you assign a user to a group with multiple filters in a single category (e.g. location -> Chicago and location -> New York), logging in as that user results in errors on most pages. Note this is also after adding a provider and labelling an instance/vm with one of those tags, too.

[code]

and

[code]

@miq-bot add_labels bug, rbac

cc/ @kbrock

[2016-04-15 17:14] gmcculloug opened #7991 "Missing automate Service Model for Google CloudVolumeSnapshot object"
Missing service model for
`class ManageIQ::Providers::Google::CloudManager::CloudVolumeSnapshot < ::CloudVolumeSnapshot`

[2016-04-15 19:23] #7991 closed

[2016-04-15 19:40] abellotti opened #7998 "[api] VM power operations are not queued properly"
VM power operations are not queued properly in the VM hosting provider's zone. They are queued
in the WS worker's zone, so if different than the providers, the jobs will be queued forever.

[2016-04-15 20:35] #7896 closed

[2016-04-15 22:42] #7614 closed

[2016-04-15 23:49] jteehan commented on #7900
It's a bug alright.  https://bugzilla.redhat.com/show_bug.cgi?id=1327792

Definitely seeing almost the same error in Beta 2 log "[----] E, [2016-04-15T19:14:30.287573 #12188:12c5988] ERROR -- : Q-task_id([miq_provision_415000000000001]) /var/www/miq/vmdb/app/models/manageiq/providers/azure/cloud_manager/provision/cloning.rb:107:in `block in create_nic'

The UI appears to lock up "spinning wheel",

[2016-04-16 00:06] jteehan commented on #7900
This is not a Required field as far as selecting an existing Network Security Group (NSG) is concerned in Azure.  The default Azure RM deployment model in the Portal will create an NSG with the same name as VMName, and an existing one can also be selected.  Overriding the NSG is another option if a "standard" NSG has been created for the SubNet.

Any fix will require the creation of an NSG with th

[2016-04-17 10:32] abonas commented on #7828
@miq-bot add_label providers/hawkular, ui

[2016-04-17 10:32] abonas commented on #7829
@miq-bot add_label providers/hawkular, ui

[2016-04-17 14:27] abonas commented on #7828
@blomquisg I think you can assign me to similar issues in the future (plus, please label the issues with the relevant label, I bumped into this by chance). thanks!

[2016-04-17 15:20] abonas opened #8016 "Not aligned default view setting for volumes in Clouds section"
![notaligned_default_setting](https://cloud.githubusercontent.com/assets/6277245/14588073/03493cb2-04c9-11e6-984d-3bbf4c6286d8.png)

@miq-bot add_label bug, ui

[2016-04-17 16:04] abonas opened #8017 "Providers default view settings might be defined twice"
For example, for container provider, there are 2 entries in ui_constants.rb:
emscontainer
https://github.com/ManageIQ/manageiq/blob/master/app/helpers/ui_constants.rb#L204
and
manageiq_providers_containermanager
https://github.com/ManageIQ/manageiq/blob/master/app/helpers/ui_constants.rb#L212

the ui part (https://github.com/ManageIQ/manageiq/blob/master/app/views/configuration/_ui_2.html.haml#L46

[2016-04-17 17:03] abonas commented on #7829
note to whoever is going to fix this - the relevant files to work on for this feature seem to be:
https://github.com/ManageIQ/manageiq/blob/master/app/views/configuration/_ui_2.html.haml
https://github.com/ManageIQ/manageiq/blob/master/app/helpers/ui_constants.rb

[2016-04-17 17:43] abonas opened #8021 "Breadcrumbs location of topology is too close to the new left side navigation"
the problem is less severe in other screens (providers/entities) because there are toolbars/filters there.

![breadcrumbs_too_close](https://cloud.githubusercontent.com/assets/6277245/14588864/bd4c70f8-04dc-11e6-9691-23338198813a.png)

Changing the padding-left of .breadcrumbs css class to 5px (from 0px) made it much better, however it looks like this setting is coming from an external css and it

[2016-04-17 18:01] abonas opened #8022 "Middleware topology needs a rewrite to use generic topology"
following the merge of #6668

@miq-bot add_label providers/hawkular, topology

[2016-04-17 19:17] #7828 closed

[2016-04-17 19:18] #8016 closed

[2016-04-18 03:42] amavinag opened #8023 "evm service fails to restart after configuring the appliance to allow logging into postgres from hosts other than 127.0.0.1"
evm service fails to restart after configuring the appliance to allow logging into postgres from hosts other than 127.0.0.1

1. deploy the recent upstream template on any of the supported providers(e.g. openstack)
2. wait for appliance to boot.
3. before accessing the webui configure the appliance to allow logging into postgres from hosts other than 127.0.0.1
check the "psql -U postgres" commands

[2016-04-18 08:07] martinpovolny commented on #8017
@abonas : I will add it to our refactoring todo list. Thx!

[2016-04-18 08:39] abonas commented on #8021
cc @martinpovolny

[2016-04-18 10:35] cben opened #8035 "Container Topology search keyboard quirks"
The search field in Container Topology view consists of a text field, X icon and search button:
![screenshot](https://cloud.githubusercontent.com/assets/273688/14601102/d4dad52a-0568-11e6-8fef-3c67a2409b88.png)
- Typing and pressing Enter doesn't work.  You need to click the search button.
- Erasing the text is not enough to clear the search — everything but the matches remains greyed out.
  Press

[2016-04-18 10:36] cben commented on #8035
@miq-bot add_label providers/containers, ui, bug

[2016-04-18 11:12] #7832 closed

[2016-04-18 12:48] #7859 closed

[2016-04-18 12:48] epwinchell commented on #8021
@abonas I'll take care of it.

[2016-04-18 12:50] abonas commented on #8035
@miq-bot add_label topology
@cben this is relevant for all topologies hence I'm removing the containers label.
@miq-bot rm_label providers/containers

Regarding searching for substrings - as you mentioned, it's not a bug, it's a functionality that may be implemented, I think it would be nice, and suggest to file a separate issue for it so it can be considered for future enhancements.
Regarding pre

[2016-04-18 12:51] abonas commented on #8021
@epwinchell thanks! please tag me so I can see how it was solved.

[2016-04-18 12:55] abonas commented on #7829
cc @ammendonca

[2016-04-18 13:03] epwinchell commented on #8021
@miq-bot assign epwinchell

[2016-04-18 13:23] simaishi commented on #7945
FYI, it's actually this [PR](https://github.com/ManageIQ/manageiq-appliance/pull/65) that fixed the issue.

[2016-04-18 14:26] aljesusg opened #8044 "Menu section with items and section"
I am from @sergio-ocon team working in consumption. We need a new tab inside Cloud Intelligence, that will be a section with 4-5 items inside but we can't create a section with items inside.

The template does not allow mixing 2 & 3 levels under one top-level section

**app/views/layouts/_vertical_navbar.html.haml**

I changed  app/helpers/application_helper

[code]
to
[code]

because that throw e

[2016-04-18 14:30] martinpovolny commented on #8044
@skateman, @epwinchell : the problem is that in this case @aljesusg mixes Items and Sections on the same level in one top level Section.

I believe that this should not be a problem on the menu definition side, but it's not supported by the markup in `app/views/layouts/_vertical_navbar.html.haml`.

[2016-04-18 14:50] sergio-ocon commented on #8044
It would be great to have this

[2016-04-18 14:51] simon3z commented on #7706
Resetting the DB made this go away... I have the feeling that this may have been generated by a db migration with special data that I don't have any information about.

I'll close this for now but it may be that in the future we'll encounter this again on migrations from old deployment.

[2016-04-18 14:51] #7706 closed

[2016-04-18 15:29] himdel opened #8045 "Bad toolbar position in explorer screens (with new menu merged)"
![toolbar-explorer](https://cloud.githubusercontent.com/assets/289743/14609609/1df21c4e-057a-11e6-9ca2-8c0f507259b7.png)

The toolbar position on an explorer screen should probably not be *above* the tree, but only above the right side...

@epwinchell maybe? :)

[2016-04-18 16:03] epwinchell commented on #8045
@himdel That's not a bug. The toolbars were moved by design.

[2016-04-18 16:06] dclarizio commented on #8045
We'll see if the general populace agrees, but I think the alternative didn't look good.  Closing this issue for now.

[2016-04-18 16:06] #8045 closed

[2016-04-18 17:50] bronaghs commented on #7900
@romaintb - Yes, very interested. Thanks for the contribution.
A slightly simpler approach might be to replace line 19 with:
`network_options[:properties][:networkSecurityGroup] = security_group.ems_ref if security_group`

[2016-04-18 18:19] com6056 opened #8053 "Can't approve pending VMs"
I can't approve pending VM requests because the buttons to do it aren't there, even when I am logged in as the default administrator account. I am using version capablanca-2.20160418141857_d083ab5

Here is how to reproduce the problem:
- Create a test user and add them to the EvmGroup-user_limited_self_service group with the EvmRole-user_limited_self_service role.
- Create a new domain and copy In

[2016-04-18 18:35] bdunne opened #8054 "Provisioning dialogs are clearing text fields"
- Enter VM provisioning dialogs
- Fill in all required fields, specifically:
  - Name fields on Requestor tab
  - VM name field on Catalog tab
- Switch to a different tab and go back to the original, your text fields are now blank

Submitting the request also shows validation errors on the 3 fields above.

[2016-04-18 18:36] bdunne commented on #8054
@miq-bot assign @dclarizio
cc @gmcculloug

[2016-04-18 22:04] fbladilo commented on #7799
Need review, #8064 switches the docker image from development to appliance mode and resolves #7798 and #7797 as well. @Fryguy @bazulay @bdunne

[2016-04-19 02:33] rwsu opened #8067 "Capacity planning report breaks in activerecord"
I attempted to submit a planning report with these VM Options: "Manual Input" for source, 1 for CPU Speed, 1 for VCPU Count, 1 for Memory Size, and 1 for Disk Space, but the report fails silently, no error is displayed in the UI.

When examining the log I see:
[----] E, [2016-04-18T19:24:04.496451 #2048:4b198c] ERROR -- : [Arel::Visitors::UnsupportedVisitError]: Unsupported argument type: NilClass

[2016-04-19 09:46] arnikasky opened #8075 "VNC/Spice console doesn't work in nightly build"
Hello.
I try to use spice console in nightly build again - manageiq-vsphere-master-20160413-12c5834433, after applying [#7978](https://github.com/ManageIQ/manageiq/pull/7978)  and [#7979](https://github.com/ManageIQ/manageiq/pull/7979) and what i have know(there is no error in log file):
When open spice console:
![screenshot from 2016-04-19 12 11 38](https://cloud.githubusercontent.com/assets/8751

[2016-04-19 09:46] arnikasky commented on #8075
Consoles work in manageiq-capablanca

[2016-04-19 11:28] ZitaNemeckova opened #8077 "network_tree vms missing quadicon on hover"
There should be a vms icon displayed when mouse hover on vm in network_tree. It is kinda there but never shows.

Code is here host/_config.html.haml, miq_dynatree.js -  `function miqOnMouseInHostNet(id)` and `function hoverNodeId(id)`

@himdel have a look?

[2016-04-19 11:31] himdel commented on #8077
@miq-bot assign himdel

[2016-04-19 11:34] himdel commented on #8077
Braindump for now...

* hoverNodeId can't handle compressed id's (easy fix)
* the main reason it fails is missing `getAbsoluteTop` - but the styling is wrong anyway
* should probably also handle templates, not only hosts and vms (different prefix - `t`)
* the styling is wrong wrong wrong
* creating an `#outer` and `#inner` ids with *each* quad element is ..more wrong :)

[2016-04-19 11:46] ZitaNemeckova commented on #8077
Fix for first thing on braindump: https://github.com/ManageIQ/manageiq/pull/8081

[2016-04-19 14:52] jrafanie commented on #8023
@amavinag usually means we failed before we could migrate the database, such as if any of the external systems used by bundle, bower, yum were not available.  Can you look in your ~/anaconda-post.log and possibly gist it?

[2016-04-19 16:01] eclarizio opened #8098 "UI: Automate Import/Export showing form pieces that should be hidden at first"
The automate import/export uses what is supposed to be a hidden iframe and another section that is hidden at first but becomes visible after uploading a valid file. Currently, both of these are being shown. I'm guessing some stylesheet either isn't getting loaded properly, or the css changed to not hide these elements by default. The javascript for showing/hiding when you upload and cancel still s

[2016-04-19 17:05] lpichler opened #8099 "specs for chargeback rate form PRs"
add specs for CRUD and actions inside of form
related PRs with fixes:

- [x] https://github.com/ManageIQ/manageiq/pull/8078 (fixed in the PR)
- [x] https://github.com/ManageIQ/manageiq/pull/7989
- [x] https://github.com/ManageIQ/manageiq/pull/7930
- [x] https://github.com/ManageIQ/manageiq/pull/8038

@miq-bot add-label test, chargeback

[2016-04-19 17:07] #7797 closed

[2016-04-19 17:07] #7798 closed

[2016-04-19 17:07] #7799 closed

[2016-04-19 17:12] lpichler commented on #8099
@miq-bot assign lpichler

[2016-04-19 18:50] ammendonca opened #8103 "Exception in "Add a New Middleware Server""
In the "Middleware" > "Middleware Servers" tab, there's an option under "Configuration" to "Add a New Middleware Server" that when clicked throws an exception:

`undefined method 'supported_types_and_descriptions_hash' for #<Class:0x007ff264598b08> [middleware_server/new]`

![add-mw-server](https://cloud.githubusercontent.com/assets/1737954/14651243/0492b9c8-0667-11e6-9610-d8ee8f8a5cda.png)

It se

[2016-04-19 19:12] lucasponce commented on #8103
I've removed it on https://github.com/ManageIQ/manageiq/pull/7365 but it is pending to merge.

[2016-04-19 19:19] abellotti commented on #7435
HI Erik, what is the JSON response for the above ?

Action responses are usually 200's, but the "success" attribute is set accordingly.  This allows us to return multiple success and/or failures results on a single request targeting multiple resources.

{
  **"success": true,**
  "message": "Invoked custom dialog action queryvm for services id: 110",
  "href": "http://localhost:3000/api/services/1

[2016-04-19 22:21] simon3z opened #8108 "Containers Chargeback crashing on missing entity_id"
Trying to create a chargeback report for container projects I get:

[code]

cc @zeari
Let me know what other information you need.

[2016-04-19 22:21] simon3z commented on #8108
@miq-bot add_label providers/containers, chargeback, bug

[2016-04-19 22:43] amavinag commented on #8023
@jrafanie : few error with npm, copied here: https://gist.github.com/amavinag/fcf011b7f74ac3e85dc149c212678d91

[2016-04-20 04:03] abonas commented on #8103
@miq-bot add_label providers/hawkular

[2016-04-20 04:07] abonas commented on #8103
@lucasponce I'm wondering how difficult it is to extract this fix from the live metrics PR - in theory, it is not super related to live metrics and can be fixed as standalone. if it's possible - please extract. if not - this will wait for that PR to be merged.
In any case, whether it stays in that PR or becomes a separate one, please add the relevant keyword and the issue id to the commit message

[2016-04-20 04:08] abonas commented on #8103
@ammendonca  - :+1: thanks for reporting, please see the additional label I added (providers/hawkular) - just fyi for the future to mark issues and PRs will that label as well (as long as they're specific to hawkular of course :))

[2016-04-20 05:19] abonas opened #8110 "The location of middleware providers in the new miq navigation is not optimal"
After the change in top level navigation that was regrouped and moved to the left, Middleware is in the Compute section. However it seems like this is less of a Compute related provider and should not be grouped wtih infrastructure related providers such as cloud/vm/host/etc.) - so I'm opening this issue to find a better more intuitive place for it.

![mw_location](https://cloud.githubusercontent.

[2016-04-20 05:24] abonas opened #8111 "Not intuitive names in the new top level UI navigation"
The "Configuration" and "Settings" sections sound very similar, not very intuitive to understand that one is actually a provider and another is representing product settings - and both have icons that typically go with product settings/configuration. (it becomes more clear only when the user opens them and reads the nested sections and "remembers" which is which)
![compute](https://cloud.githubuse

[2016-04-20 07:02] lucasponce commented on #8103
@abonas this issue was detected (but not formally reported) some time ago, when we started to work in the #7365 one. As part of the re-organization of the buttons at MiddlewareServer layer.
We can close #7365, split it, and start again, but to be honest, giving that we are more than 1 month with that PR I think in this case we should merge the pending PR and note that it also include this issue.

[2016-04-20 08:59] #8044 closed

[2016-04-20 10:58] abonas commented on #8103
@lucasponce there's definitely no need (and no point) to close #7365 for this :)
What you can do is - just do a separate fix for this particular issue, and then update/rebase #7365 and then it will be fine for both PRs. (my guess is that you will need to be rebasing live metrics anyway from time to time)
But again, it is definitely not mandatory, it was just a suggestion.

[2016-04-20 11:50] himdel opened #8118 "simulate_queue_worker fails with ArgumentError: comparison of Fixnum with :DEBUG failed"
Caused by https://github.com/ManageIQ/manageiq/pull/8085, but isn't broken for everybody (actually, isn't broken for @romanblanco only, AFAICT :)) .. could be ruby version related? (My exception is from 2.2.3)

[code]

[2016-04-20 11:53] himdel commented on #8118
Fix

[code]

[2016-04-20 12:08] ammendonca commented on #8103
Thanks for adding the label @abonas, I wasn't sure this was strictly hawkular specific, so didn't included it.

[2016-04-20 12:29] #8118 closed

[2016-04-20 12:34] #8021 closed

[2016-04-20 12:35] #7945 closed

[2016-04-20 14:37] skateman commented on #8075
@arnikasky is this yesterday's nightly, so 18th of April?

[2016-04-20 15:28] abonas opened #8130 "left side navigation requires much more user clicks to move between sections"
![compute](https://cloud.githubusercontent.com/assets/6277245/14679970/c671bda6-0724-11e6-9bb7-05c0e6d845e9.png)

There is a need now to go through clicking in 3 hierarchies in order to move between different ui screens, while previously most of the sections were always visible and the user could move between sections with one click.
For example - moving from pods to routes in a containers provide

[2016-04-20 16:55] bdunne opened #8132 "Docker: automated builds failing"
See details at https://hub.docker.com/r/manageiq/manageiq/builds/bhcfp9dtsxgnxcukrgizshz/

[2016-04-20 16:56] bdunne commented on #8132
@miq-bot add_label build
cc @bazulay @fbladilo

[2016-04-20 17:39] jrafanie commented on #8023
@amavinag this is possibly a temporary error in npm/bower land.  The next nightly should be fixed if they were having issues.

[2016-04-20 17:47] amavinag commented on #8023
@jrafanie : ok, but we are seeing this issue consistently in recent builds. the last good build we had was on March 25th.(test passed on April 13th only on virtualcenter and failed with the same error on other provider type.)

[2016-04-20 17:50] sergio-ocon commented on #7723
Hi @tledesma, can you help with this too?

[2016-04-20 17:52] jrafanie commented on #8023
@amavinag Can you grab the latest nightlies ~/anaconda-post.log and confirm the same errors and post a full gist?

@dclarizio can you recommend who might be able to review the npm/bower part of the build?

[2016-04-20 17:55] fbladilo commented on #8132
It looks like the issue is here, during install something goes wrong cpio unpacking :

Installing : httpd-2.4.6-40.el7.centos.x86_64 156/231[91mError unpacking rpm package httpd-2.4.6-40.el7.centos.x86_64 [0m error: unpacking of archive failed on file /usr/sbin/suexec: cpio: cap_set_file

Is possible DockerHub build hosts are running and outdated AUFS :

https://github.com/docker/docker/issues/6

[2016-04-20 18:34] amavinag commented on #8023
@jrafanie : fetched from (April 19th)"miq-nightly-201604192000" appliance: https://gist.github.com/amavinag/c569384c43e915ef32f2acda76b4bd76

[2016-04-20 18:54] amavinag commented on #8023
copied entire content here: https://gist.github.com/amavinag/ee3854987a4964b4589230820f87aa0d

[2016-04-20 19:20] bdunne commented on #8132
@fbladilo I opened a support case.

[2016-04-20 21:13] gtanzillo commented on #8067
The error is occurring because we are passing columns to the `select` [here](https://github.com/ManageIQ/manageiq/blob/f10e9f22ef66898c1567427848099d9bf8f2518d/app/models/vim_performance_analysis.rb#L592) but some of them are not real columns. They're actually methods and that is causing it to blow up. I'm working on a fix for this but in the meantime you can just remove the `select` to get past t

[2016-04-20 21:34] dclarizio commented on #8023
@himdel please take a look

[2016-04-20 21:55] dclarizio commented on #8054
@bdunne this should be fixed after #8061, please close if so

[2016-04-20 23:15] fbladilo commented on #7801
I'm having some issues when npm installing at /opt/manageiq/manageiq-ui-self_service , it complains that the installed karma module is too new for gulp-karma and fails :

[root@3ddc47ca870c manageiq-ui-self_service]# npm install
npm WARN package.json gulp-minify-css@1.2.4 No repository field.
npm WARN package.json gulp-minify-html@1.0.6 No repository field.
npm WARN cannot run in wd manageiq-ui-se

[2016-04-21 00:26] jrafanie commented on #7801
See #8023, it sounds like the same issue

[2016-04-21 00:31] jrafanie commented on #7952
Does apache start properly after reboot?