[2017-04-05 14:24] chriskacerguis commented on #14649
@miq-bot assign chriskacerguis

[2017-04-05 14:26] ITD27M01 commented on #14649
@chriskacerguis Well, I stand corrected. I was troubled by the fact that manageiq-ui-service repo are now no messages.

[2017-04-05 14:49] chriskacerguis commented on #14649
@ITD27M01 sorry, I'm not following what you mean by "I was troubled by the fact that manageiq-ui-service repo are now no messages."

[2017-04-05 14:54] AllenBW commented on #14649
@ITD27M01 we moved issue reporting to https://www.pivotaltracker.com/n/projects/1914499

[2017-04-05 16:08] epwinchell commented on #12689
@martinpovolny Please close

[2017-04-05 17:11] AllenBW commented on #14626
@ITD27M01 https://bugzilla.redhat.com/show_bug.cgi?id=1439319

bug made for the tooltip issue, thanks!

[2017-04-05 18:58] ITD27M01 commented on #14649
@chriskacerguis Sorry for my English guys. I meant that there are no open issues in the manageiq-ui-service repository. So I thought that all the issues need to start in manageiq. The silence in the bug tracker may be due to the fact that the SSUI interface does not have any issues :) But I have a few questions that I will ask there.

[2017-04-05 19:02] chriskacerguis commented on #14649
Looks like we already have this one in our Bugzilla.  Going to close this one.

https://bugzilla.redhat.com/show_bug.cgi?id=1439319

[2017-04-05 19:02] chriskacerguis commented on #14649
@miq-bot close_issue

[2017-04-05 19:03] #14649 closed

[2017-04-05 19:52] chriskacerguis commented on #14626
Looks like things are working (less the BZ).  Going to close this.

@miq-bot close_issue

[2017-04-05 19:53] #14626 closed

[2017-04-05 21:51] frangdlt commented on #14362
@Joseluismantilla ensure you are specifying your username as  "user@ORG"; otherwise it will not work.

I have successfully logged added a vCloud 5.5 provider with the current latest ManageIQ bundle (euwe-2).

[2017-04-06 12:32] evenit commented on #6315
This issue hasn't moved in almost 8 months, while everything looked good. Any chance to see it merged soon ?

[2017-04-06 13:17] abonas commented on #10333
related to https://github.com/ManageIQ/manageiq/pull/14116

[2017-04-06 13:18] abonas commented on #10333
given that it's an infra/core issue, reassigning. @miq-bot assign @blomquisg

[2017-04-06 15:50] #14186 closed

[2017-04-06 19:28] abellotti commented on #11635
This was enhanced with the href_slug attribute.

[2017-04-06 19:28] #11635 closed

[2017-04-07 09:12] hhovsepy commented on #13740
@miq-bot move_issue manageiq-providers-hawkular

[2017-04-07 09:13] #13740 closed

[2017-04-07 23:07] dclarizio commented on #14576
@tjyang @himdel I'm pretty sure downloading report data in csv format has the pivot data you want, but it's in the raw rows and not subtotaled the way Excel might want it.  If there is a way to represent the pivots differently in csv (so Excel can work with them), perhaps we could change the formatter to do it.  Support for a native Excel format is not something we have seen much demand for.

Howe

[2017-04-08 10:31] tjyang commented on #14576
@dclarizio  and @himdel , thanks for the responses. If my organization ending up using manageiq we might be able find resources to implement this feature that we need.

[2017-04-08 10:47] tjyang opened #14702 "[RFE] menu plugins for external site"
The instruction in R1 doesn't work for current version of ManageIQ anymore.

I am hoping "External" plugin support can be part of ManagIQ default feature.
This will provide users a quick way to link existing internal websites and make ManageIQ as one central portal site.

R1: http://www.tigeriq.co/menu-plugins-for-external-sites-on-cfme-4-1/

[2017-04-09 15:47] abonas commented on #11066
@mattmahoneyrh is this still reproducible? if not, please close it

[2017-04-09 15:49] abonas commented on #11145
@miq-bot move_issue manageiq-providers-hawkular

[2017-04-09 15:49] #11145 closed

[2017-04-09 15:52] abonas commented on #10987
all, can this be closed?

[2017-04-09 16:41] abonas commented on #10600
on latest master, the search is available in middleware providers screen, but is missing in rest of the middleware entities.
the code of #11216 is there but perhaps the design has changed?
@karelhala please check this. thank you
![middleware_deployments](https://cloud.githubusercontent.com/assets/6277245/24839049/72406512-1d5c-11e7-8c77-572e227b4004.png)

[2017-04-09 16:44] abonas commented on #8575
I'm closing this in favor of https://github.com/ManageIQ/manageiq/issues/9033

[2017-04-09 16:45] abonas commented on #8575
@miq-bot close_issue

[2017-04-09 16:45] #8575 closed

[2017-04-09 16:46] abonas commented on #9033
@miq-bot move_issue manageiq-providers-hawkular

[2017-04-09 16:46] #9033 closed

[2017-04-09 16:52] abonas commented on #10600
for now keeping the issue open here and not in the new hawkular repo, as the code that was fixed is still here in the main repo

[2017-04-09 16:56] abonas commented on #10674
@lucasponce we need to decide if to keep this issue open here or move it to the new repo - it depends where the code for the solution would be. wdyt?

[2017-04-09 18:39] lucasponce commented on #10674
@abonas code affected is located in the middleware provider only, so yes, it could be moved.
Basically it is here:
https://github.com/ManageIQ/manageiq-providers-hawkular/blob/master/app/models/manageiq/providers/hawkular/middleware_manager/alert_manager.rb#L40
and
https://github.com/ManageIQ/manageiq-providers-hawkular/blob/master/app/models/manageiq/providers/hawkular/middleware_manager/alert_pr

[2017-04-10 09:39] karelhala commented on #10600
I guess this issue can be closed as fixed. Since it's expected behavior isn't it? In all parent screens (Providers, Domains, Servers, Deployments, Datasources, Messagins) is search available. In nested screens (Providers -> Select provider -> All servers for provider) it's missing, which is same as in other providers (Compute -> Cloud -> Providers -> Select provider -> Images for provider).

[2017-04-10 13:01] jdoyleoss commented on #10987
If we're capturing the list from jshaughn above, I think so.

[2017-04-10 14:22] nick2day opened #14710 "LDAP 'group search' returns no results"
when I select 'Look up LDAPS Groups', fill out the appropriate credentials, then search for a user, nothing happens. The UI spins for a second, then returns to its normal state. (originally I thought this might be a browser problem, as I don't use one of the big browsers, but testing across firefox and chromium have the same result).

In troubleshooting this issue, I enabled debugging mode, and ca

[2017-04-10 15:05] mattmahoneyrh commented on #11066
Closing.

[2017-04-10 15:05] #11066 closed

[2017-04-12 08:17] durandom opened #14740 "SupportsFeatureMixin may support arguments"
In https://github.com/ManageIQ/manageiq-providers-ovirt/pull/5 the UI [determines](https://github.com/ManageIQ/manageiq-ui-classic/blob/f4b6884536c10b17f2dd5fb5256b8b7319f72adc/app/controllers/vm_common.rb#L212) if a snapshot is active or not. I think this should be done by the UI, but by the `supports_revert_to_snapshot ` method.

In this very case the answer depends on the snapshot passed to `re

[2017-04-12 13:37] abellotti commented on #14404
This enhancement is implemented with #14714, closing.

[2017-04-12 13:37] #14404 closed

[2017-04-12 13:41] abellotti commented on #14230
service_dialogs create is in Fine release, we will be updating http://manageiq.org/docs/api shortly for that Release.

[2017-04-12 13:41] #14230 closed

[2017-04-12 14:40] #10987 closed

[2017-04-12 15:16] abonas commented on #10600
@karelhala interesting, I didn't notice the difference between nested screens and main screens in that matter till you pointed on it (I wonder why there is the difference). I'll close it.
@dclarizio @serenamarie125 do you know why the search is not displayed for the "nested" screens?

[2017-04-12 15:16] abonas commented on #10600
@miq-bot close_issue

[2017-04-12 15:17] #10600 closed

[2017-04-13 08:23] vkuptsov commented on #14571
@himdel Hi,
thank you for your answer - it really helped me. Now all fine!
Thanks again!

[2017-04-13 13:18] tjyang opened #14761 "slow service restart time"
Hi
For euwe-2.201, It takes about  1 minute 30 seconds to restart the service.
Is this  time normal ?

[code]

[2017-04-17 15:40] chriskacerguis opened #14774 "Expose vmdb_build_info data via API"
Would it be possible to expose the vmdb_build_info data via an API endpoint, so we can include that info in the "about" data for the SUI

/cc @chalettu @AllenBW @abellotti

@miq-bot add_label api
@miq-bot assign gtanzillo

[2017-04-17 15:44] Fryguy commented on #14774
The method in question that is exposed on the UI side is `Vmdb::Appliance.BUILD`

[2017-04-17 18:30] mfeifer opened #14778 "Create SOS Report to Troubleshoot customer environments"
When troubleshooting in large environments, would like some kind of health report (or another name) to get vital signs of an environment.  This is not the same as getting all the logs.

For discussion:

- Number of Appliances
- ManageIQ version on each appliance
- Server Roles enabled on each appliance (and its failover if applicable)
- Number of each type of worker on each appliance and its alloc

[2017-04-17 18:31] mfeifer commented on #14778
@gtanzillo @blomquisg @dmetzger57 @Fryguy @agrare

Talk amongst yourselves, discuss.

[2017-04-17 18:40] mfeifer commented on #14778
Not sure if appropriate, but first occurrence  of an error in the log?
Recent environmental changes? (I don't think that this can be automated.)

[2017-04-17 18:48] jrafanie commented on #14778
I think this PR, https://github.com/ManageIQ/manageiq/pull/14107, answers the appliances, roles, and workers part of the bullet points:  https://github.com/ManageIQ/manageiq/pull/14107.  If it's helpful, we can add the VERSION, and memory information in the existing rake task or add new ones that we log...

The memory information should be available and updated fairly often in

* miq_servers:
  -

[2017-04-17 18:52] mfeifer commented on #14778
See https://github.com/sosreport/sos/wiki/How-to-Write-a-Plugin

[2017-04-17 19:23] Fryguy commented on #14778
We should investigate if that sosreport tool is worth formally plugging into, or if it just makes sense to just create a simple tools script to get what we need as a first pass, or just reuse an existing command like `evm:status:full` as @jrafanie said.

As a further explanation of the request here, it really isn't about large environments, but is for *ANY* environment where support is requested.

[2017-04-17 19:33] blomquisg commented on #14778
I definitely like the idea of `evm:status:full`.  Basically, anything we can pack into a one-liner.

And, if it's a one-liner, we could always have sosreport call that if that ends up being the end goal.

[2017-04-17 19:39] blomquisg commented on #14778
Oh, something else to add:

Region, Zone, Provider landscape

[code]

[2017-04-18 08:33] abonas commented on #6875
@gtanzillo this issue is open for more than a year, is there any ETA for a fix?

[2017-04-18 08:37] abonas commented on #6875
also, is this the right repo to have this bug in or it should move to the ui repo?

[2017-04-18 12:52] enoodle opened #14788 "Container Image Scanning Jobs do not get timeout when scanning pod fails"
As far as I can tell https://github.com/ManageIQ/manageiq/pull/14356 changed this. Jobs that are in the queue in state ready are ignored for timeout, but because we are using the queue to schedule the polling of the image-inspector pod state, if there is a failure in the pod then we will keep polling forever. It used to only skip this test for `MiqServer` agent class but now it will catch for all

[2017-04-18 12:53] enoodle commented on #14788
cc @kbrock @yrudman @cben @moolitayer @simon3z

[2017-04-18 13:07] moolitayer commented on #14788
@miq-bot add_label bug, providers/containers, smart state

[2017-04-18 14:17] fvillain commented on #13958
@jrafanie @Ladas : i confirm we have Cinder/Swift providers.

@jrafanie We now run on stable release of MIQ (euwe-1), will this fix be backported in euwe-1, or only shipped with the next stable release ?

[2017-04-18 14:27] jrafanie commented on #13958
yes @fvillain, the next tab of euwe will contain this fix.

It was backported to euwe as part of #12878 [here](https://github.com/ManageIQ/manageiq/commit/3968609f8cf7657e6833f4a9a49c2e809bf1ed97)

[2017-04-19 10:56] moolitayer opened #14804 "No workers allowed to start"
Seems related to #14675

----] E, [2017-04-19T13:56:12.760232 #364:5dd108] ERROR -- : MIQ(MiqServer#sync_workers) Failed to sync_workers for class: ManageIQ::Providers::Lenovo::PhysicalInfraManager::E
ventCatcher
[----] E, [2017-04-19T13:56:12.760313 #364:5dd108] ERROR -- : [NoMethodError]: undefined method `where' for []:Array  Method:[rescue in block in sync_workers]
[----] E, [2017-04-19T13:56:

[2017-04-19 10:57] moolitayer commented on #14804
@miq-bot add_label core, bug

[2017-04-19 11:11] moolitayer commented on #14804
Fixed in #14792, closing

[2017-04-19 11:11] #14804 closed

[2017-04-19 15:26] agrare opened #14813 "Refactor initial refresh queueing for VMware Refresh Worker"
Don't rely on the broker to queue the initial refresh for EMSs when it starts up.

[2017-04-19 15:27] agrare commented on #14813
https://github.com/ManageIQ/manageiq-providers-vmware/pull/41

[2017-04-19 19:14] chriskacerguis opened #14818 "Additional Websocket Support"
Currently, only the the notifications endpoint supports web sockets.  We need to add support for web sockets to all endpoints.

@miq-bot assign skateman
@miq-bot add_label enhancement

[2017-04-19 19:15] chriskacerguis commented on #14818
@skateman in Gitter https://gitter.im/ManageIQ/manageiq?at=58f7b6723e27cac331a46547 you mentioned some issues with Apache.  Could you please elaborate a little here (for posterity)?

[2017-04-20 12:24] himdel commented on #14818
So.. these are the changes needed to achieve push updates:

   * first, we need the backend to know that an update has happened for any kind of change - since we can have multiple appliances touching the same DB, this would have to either happen on the db level (postgres triggers, but not sure about scalability), or on a separate redis instance shared by all the appliances

   * then we need a way

[2017-04-20 12:25] skateman commented on #14818
This is theoretically doable, but there are some technical constraints:
* ActionCable uses PG's [`LISTEN`](https://www.postgresql.org/docs/9.1/static/sql-listen.html) and [`NOTIFY`](https://www.postgresql.org/docs/9.1/static/sql-notify.html) in its pub-sub implementation, i.e. there is more DB usage compared with a normal API call as the `LISTEN` is blocking on a persistent PG connection.
* Under

[2017-04-20 13:16] chriskacerguis commented on #14818
@himdel - Agree, LOTS of dependancies here for sure.

This is a non-trivial task for sure.  Ultimately, John will need to make the call on the priority and @chessbyte will need to do the resourcing mojo :)

/cc @Fryguy

[2017-04-20 20:01] #14788 closed

[2017-04-20 20:36] masayag opened #14832 "Automation task ends successfully regardless of the provider actual result"
When performing certain operations (i.e. start vm, add disk to a vm), and those operations failed by the provider, the automation tasks which represent them are ended successfully (status 'finished' with message 'ok').
The error is actually a failure in the automate queue callback and the task has already finished by the time it runs and the queue item that runs the automate task isn't linked to t

[2017-04-20 20:36] masayag commented on #14832
@miq-bot assign @agrare

[2017-04-20 20:38] masayag commented on #14832
![](https://github.trello.services/images/mini-trello-icon.png) [Examine Bug 1429564 - RHV VM Start failure not reflect in CFME UI](https://trello.com/c/toryUHpa/131-examine-bug-1429564-rhv-vm-start-failure-not-reflect-in-cfme-ui)

[2017-04-21 10:11] ITD27M01 opened #14836 ""Add New Cloud Volume" dialog does not restrict cloud tenants for non-admins users."
Hi guys, for restricted users that should have access only to owned cloud tenant there is ability to select cloud tenants during cloud volume provisioning. Even those that the user should not see. In my environment there is OpenStack Newton with v3 api as a Cloud Provider with cloud tenants synchronization. And Cinder as a Volume Storage Provider.
![image](https://cloud.githubusercontent.com/asset

[2017-04-21 10:16] lpichler commented on #14836
@ITD27M01 thanks

@miq-bot assign @lpichler

[2017-04-21 12:14] martinpovolny commented on #14818
I'll sum up what was said here and on gitter.

#### What we have:

 * we have some basic notifications. That includes:
   * a mechanism to get the notifications from the appliance to the browser w/o polling (websockets)
   * a mechanism to get the notification from the DB w/o polling (actiontable using PG's LISTEN/NOTIFY)

Now we just dislay the notifications in the UIs.

#### What we want?

We ca

[2017-04-21 13:36] izapolsk opened #14838 "ManageIQ silently throws out Azure events if appliance time isn't synchronized"
I noticed that our sprout appliances with default chrony's config aren't syncronized with time servers for some reason.
It made manageiq throw out all obtained azure events. appliance logs didn't contain any warnings about that.
So, it looked like manageiq received events but event_streams table didn't have any of received events.
I believe logs should contain some warnings when events are rejecte

[2017-04-21 13:38] djberg96 commented on #14838
@carbonin Is this something we can check on the backend and log?

[2017-04-21 14:26] durandom opened #14840 "Pluggable Providers TODO"
This is a list of all open and accomplished tasks to split out providers from the main ManageIQ core repo.

_please add things you know of as comments and I'll update the list_

## Extract all providers
-  [x] amazon
-  [x] azure
-  [x] vmware
-  [x] openstack
-  [x] ovirt / redhat
-  [x] hawkular
-  [x] openshift
-  [x] kubernetes
-  [x] ansible_tower
-  [x] embedded_ansible
-  [x] foreman
-  [x]

[2017-04-21 14:47] carbonin commented on #14838
Check how @djberg96 ?

We can't really know that the time is not synced properly without knowing what the "right" time is, and if we knew that we would just set the time to that 😉

We restart `chronyd` when MiqServer starts so that should do a quick sync.

@izapolsk are these appliances that hang around for a long time? Maybe we need to force a time sync on a schedule or tune chrony to just work b

[2017-04-21 15:18] djberg96 commented on #14838
@carbonin You mentioned forcing a time sync from time to time or tuning chrony. Both seem reasonable.

[2017-04-21 15:50] ITD27M01 opened #14841 "Cloud volumes remain related to retired (archived) cloud instances."
After removal of cloud instance it goes into archieved status and is still tied to cloud volume. In this way I cannot do some task with cinder cloud volume (Even after the renewal of the relationship of the external management system.):
![image](https://cloud.githubusercontent.com/assets/3703483/25285514/2ccc10e2-26c3-11e7-867d-e9d3d62ed3e2.png)

srv6-apkkas have status available but related to ar

[2017-04-21 17:35] mkanoor opened #14844 "Warning message about git credentials in log file"
[----] W, [2017-04-21T13:29:50.350860 #4231:3fd6be43d9b8]  WARN -- : MIQ(GitRepository#authenti     cation_check_no_validation) type: [:values] for [1] [] Validation failed: error, undefined meth     od `verify_credentials' for #<GitRepository:0x007fad6c993268>

Since we don't have a verify_credentials method for GitRepositories till we do a fetch or a clone, we get these warnings.

Need a way to

[2017-04-24 07:01] izapolsk commented on #14838
@carbonin, when I figured out the reason, I made sprout (our tool for preparing appliances) to configure chrony in prepared appliances. So, the issue is already fixed on our side.
However, it took much time to find out what caused the issue. I wouldn't spend so much time if logs contained some statements that events were rejected because of time mismatch.

So, it would be great to add some logging

[2017-04-24 14:10] dclarizio commented on #14648
@hayesr please confirm if this is the same issue you are working on.  Thx, Dan

[2017-04-24 14:32] mfeifer commented on #14778
@gtanzillo @blomquisg @dmetzger57 @Fryguy @agrare

Where are we with this? I do not want to get to the point where we hit another customer and wonder what happened to the SOS report?

[2017-04-24 15:36] romanblanco commented on #13050
Just want to mention that here are some toolbar buttons commented, that should be enabled again after this issue is closed:

[code]

/cc @himdel

[2017-04-24 17:16] imtayadeway commented on #14774
@chriskacerguis that information is already there:

[code]
...

[code]

[2017-04-24 19:45] hayesr commented on #14648
@dclarizio I believe it will be covered by my changes here: https://github.com/ManageIQ/manageiq-ui-classic/pull/137 —at least for master.

[2017-04-25 15:00] martinpovolny opened #14877 "Custom Buttons: Submit multiple objects to automate at once"
In his PR https://github.com/ManageIQ/manageiq-ui-classic/pull/796 and according to this tracker issue https://www.pivotaltracker.com/story/show/140944305 I have implemented custom button support for list views.

Not the custom button submits objects (vms, services, storages, providers, ...) to the automate one by one. See here: https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/contr

[2017-04-25 15:59] gtanzillo commented on #14774
@chriskacerguis I'm closing this issue since the info is currently available. Please reopen if that is not the case.

[2017-04-25 15:59] #14774 closed

[2017-04-25 16:03] chriskacerguis commented on #14774
Awesome.  Thanks @imtayadeway and @gtanzillo

[2017-04-25 18:42] martinpovolny opened #14882 "SQL session store"
The SQL session store has become unusable because there are fixed dependencies on the Memcache.

The websocket worker and the API use `TokenStore` and `TokenManager` for their token management and that is hardcoded to use the memcache:

https://github.com/ManageIQ/manageiq/blob/master/lib/token_store.rb#L4

This means that the SQL session store cannot be used for HA or load balancing purposes and

[2017-04-26 16:06] gmcculloug commented on #14877
cc @mkanoor

[2017-04-26 16:25] jameswnl opened #14900 "Linking Tower's username and VMDB Authentication.userid for UI edit rendering"
This is part of https://bugzilla.redhat.com/show_bug.cgi?id=1444398.  The bug thread is a bit distracted by other issue, hopefully this can help cut to the chase:

`usename` is described in `API/EXTRA_ATTRIBUTES`.  However its value is not stored in the `options` hash, but in the native `Authentication` model attribute `userid`.

UI has no information to link the two and so when rendering an Edit

[2017-04-26 16:30] jameswnl commented on #14900
I can think of 3 ways solving this,
* UI can hardcode this
* Enhance e.g.
[code]
* `Credential` implement a reader/writer for all the options attribute

[2017-04-26 17:43] abellotti commented on #14710
What type of Ldap server is this targeting ? Does it provide the memberof attribute on user objects ?

[2017-04-26 20:03] mkanoor commented on #14877
@martinpovolny
All button invokes happen thru the queue. So invoking them in parallel is straight forward so this logic
objs.each { |obj| button.invoke(obj) }

Will allow for parallel processing.

If you want to run it serially one after the other you would have to create a Task and call
MiqTask.generic_action_with_callback(task_options, queue_options) and wait for each task to end before we start

[2017-04-26 21:33] chriskacerguis opened #14912 "Need "affected services" API"
For BU requirements we need to be able to pass the API the ID for a service or resource, and get a list of resources that would be affected.

[2017-04-26 21:34] gtanzillo commented on #14882
Looked at this with @imtayadeway and we realized that now authentication through the classic UI  exclusively uses the Rest API therefore bypassing the Rails `session_store` setting. We'll need to update the API to honor the `session_store` to enable using SQL as the session store.

[2017-04-26 21:37] chriskacerguis opened #14913 "Drift Analysis API"
Need the ability to pass IDs to the API to compare them.  Ideally there should be a "control" id (i.e. the one that has a good configuration) and one or more "to check" ID's.  So the output would return how the differ from the "control" id.

[2017-04-26 22:11] martinpovolny commented on #14877
@mkanoor : please, read the attached pivotal story or read the source that I have pointed out above.

I am not dealing with parallel vs serial. I am dealing with one at a time vs all at a time.

Btw the logic `objs.each { |obj| button.invoke(obj) }` is exactly what I have in the UI right now.

The 2nd option should be that a single run of the automate method receives ALL the entities.

That way th

[2017-04-27 15:19] martinpovolny opened #14924 "Report data API for with pagination, filtering and more"
Since https://github.com/ManageIQ/manageiq-ui-classic/pull/592 the OPS UI is consuming report data served by a JSON endpoint to present the GTL (Grid, table, list) views.

A significant part of all the transactions in the OPS UI goes through this path so this is an opportunity to move forward with the usage of the API in the OPS UI.

We need an API endpoint so that the GTL component would consume

[2017-04-27 19:56] jameswnl commented on #14900
@durandom @bdunne any suggestion?

[2017-04-27 19:58] durandom commented on #14900
the BZ tracking this is actually https://bugzilla.redhat.com/show_bug.cgi?id=1446033

[2017-04-27 20:16] blomquisg commented on #14900
So, can we go with the first option?

[2017-04-27 20:29] durandom commented on #14900
I dont get this :( Are we returning the data via the rest api or not? From what I've read, we do, but at a different place. Reading https://github.com/ManageIQ/manageiq/pull/14902#issuecomment-297627450 seems we should make GET, POST and OPTIONS consistent.

@jntullo can you comment on @mzazrivec statement?

[2017-04-27 20:37] jntullo commented on #14900
The information is being returned via the API, but in a different place than is being specified when you get `OPTIONS`.

On the last option, instead of storing the `:username` into the options hash, would it be possible to just append it to that hash when it's being returned (this way we don't have to worry about the two fields being out of sync, but it is still being returned)? Running out of ide

[2017-04-27 20:38] blomquisg commented on #14900
@jntullo can you point to some code that shows where this is breaking down?

I'm completely lost in trying to understand the difference between `username` and `userid` in these various contexts.

[2017-04-27 20:40] durandom commented on #14900
why cant it be in the same place?

could you show the API json examples?

[2017-04-27 20:41] jntullo commented on #14900
@blomquisg this is breaking down because the model is telling the user that this information should be stored in `userid` https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/ansible_tower/shared/automation_manager/amazon_credential.rb#L5-L8 but it is actually stored as `username` on the model itself

[2017-04-27 20:43] jntullo commented on #14900
@durandom I am not sure, that is less of an API question and more of a question for @jameswnl

[2017-04-27 20:47] durandom commented on #14900
@jntullo ok, I think I got username vs userid: this would work if settle on the correct field (which is userid)

But what about password and security_token. The UI cant display them. Are you returning them via the REST API?

[2017-04-27 21:00] durandom commented on #14900
<img width="785" alt="screen shot 2017-04-27 at 22 56 01" src="https://cloud.githubusercontent.com/assets/161888/25504184/3aa4be2e-2b9d-11e7-98e1-c1c42fa2efb5.png">
<img width="776" alt="screen shot 2017-04-27 at 22 56 22" src="https://cloud.githubusercontent.com/assets/161888/25504217/52cf815a-2b9d-11e7-8c30-c7bf15685c8b.png">
<img width="1079" alt="screen shot 2017-04-27 at 22 55 40" src="https:

[2017-04-27 21:31] durandom commented on #14900
So, ignore the view screenshots, they are not using the rest api

[2017-04-27 21:35] durandom commented on #14900
[code]

[2017-04-27 21:36] durandom commented on #14900
[code]

[2017-04-27 21:46] mkanoor commented on #14877
@martinpovolny
With this PR https://github.com/ManageIQ/manageiq/pull/14930
You can call
[code]

[2017-04-28 05:28] martinpovolny commented on #14877
@mkanoor: thank you, that's exactly what I needed!

[2017-04-28 09:10] hhovsepy opened #14935 "Middleware - Hawkular Server - Shown as Mutable"
Hawkular Server in latest MiQ is shown as Mutable, i.e. Power and etc.. toolbar operations are visible.
However their execution is failing (which is correct).

Expected behavior: They should be hidden, as Hawkular Server is Immutable.

MiQ Version: master.20170428012901

@abonas

![screenshot from 2017-04-28 11 05 15](https://cloud.githubusercontent.com/assets/604313/25522344/db3bde84-2c02-11e7-86

[2017-04-28 17:14] imtayadeway commented on #14912
@miq-bot add-label api, enhancement

@chriskacerguis not quite sure what you mean by this. Could you provide an example?

[2017-04-28 17:37] chriskacerguis commented on #14912
@imtayadeway sure, sorry I should have put that.

Given the following...

- Service 1
  - vm1
  - vm2 (depends on vm3)
    - vm3

- Service 2
  - vm4
  - vm5 (depends on vm6)

- Service 3
  - vm6

So, let's say I pass "vm6" as the resource I want to retire, I would get a list of resources back that would possibly be affected (i.e. service2 and vm6)

Hopefully that maker sense.

[2017-04-28 19:10] pkliczewski commented on #14740
One of the shortcomings we found during implementation of https://github.com/ManageIQ/manageiq-ui-classic/pull/993 is that there was no easy way of collecting `unsupported_reason` for many instances of the same object (when marked using checkbox).

[2017-04-29 10:31] tjyang opened #14949 "appliance_console error: "kernel_require.rb:55:in `require': cannot load such file -- bundler (LoadError""
I ran a "yum install -y pcs pacemaker;yum update -y && reboot" on a fine-b1 vmware appliance.
The updates break the appliance_console command after the 2nd ruby instance brought in by pcs and pacemaker.

following is the detail logs
[code]
Following environment setting is the new euwe3 VM, before the "yum update -y".

[code]

Question: Shouldn't  miq not interfered by  native ruby instance showing

[2017-04-29 10:36] tjyang opened #14950 "[RFE]: Adding search box"
It would be great if a search box can be added beside the bell icon.
This will improve user experience. One can then find  details of a VM easily.

![image](https://cloud.githubusercontent.com/assets/378638/25554838/8f63233c-2c9d-11e7-82c4-fa95a13fdd39.png)

[2017-04-29 12:20] tjyang commented on #14949
fix is:
[code]

Question is:
Should normal "yum update -y" command break MIQ ruby environment ?

[2017-05-01 19:37] Fryguy commented on #14900
I'm not sure why the field can't just be called userid from the OPTIONS.  Then we know that's a column and just write it into the column.  I guess I don't understand why username needs to even be a thing.  Same goes for password or any other column.

[2017-05-01 19:52] Fryguy commented on #14900
@mzazrivec @AparnaKarve I believe the issue here is the UI can't be sure from which field in the API request to get the value.  Since userid, and password and perhaps others, are straight attributes, they will appear in the base during an API call.  However, the rest appear under "options" heading in the API call.

Chopping down what @durandom wrote...

Here us an OPTIONS call where userid and ano

[2017-05-01 19:56] Fryguy commented on #14900
Alternately, perhaps we should change the OPTIONS call to mirror the GET call by having a nested "options" key somewhere.  That is, something like

[code]

[2017-05-01 20:28] jntullo commented on #14900
@Fryguy I believe the reasoning behind not choosing #2 is because then the way you create an authentication is different from the way you get an authentication and all of its attributes. I agree that it's probably not the best way to go because of that, as it's not intuitive from a user's perspective.

In other API collections such as `ServiceTemplates`, we ensure that the data is returned the sam

[2017-05-01 20:32] abellotti commented on #14900
👍  on the OPTIONS reflect what GET call returns, would work with options, or any other nested/hash attributes.

[2017-05-01 21:20] AparnaKarve commented on #14900
@Fryguy Yes, the OPTIONS call mirroring the GET would be great!
That way we won't have any exception cases like `userid`

That said, I will wait for the new OPTIONS PR and hold off from making any changes in the UI (with regard to `userid`)

BTW, how do we plan to send `password`? Instead of sending a blank value can we send a value like `$encrypted$` (the way `security_token` is currently sent) ?

[2017-05-01 21:25] Fryguy commented on #14900
password will never come back from the database, and I would even never send an encrypted string back to the caller.  Just assume you won't have a value.  I would also never send back security_token...that seems like a potential security issue IMO.

[2017-05-01 22:04] AparnaKarve commented on #14900
Ok, so for the password fields, the new improved OPTIONS call should only send the attribute names like `password` and `security_token` and no values/encrypted strings etc

The only time the UI would be really dealing with a password would be when --
(a) creating a new Credential record
(b) updating the password for an existing Credential

[2017-05-01 22:57] tjyang opened #14960 "Physical Infrastructre menu is gone in Fine-B2"
It was in Fine-B1 by default.
But now as shown below, no more physical infra menu.
![image](https://cloud.githubusercontent.com/assets/378638/25597910/49d3343c-2e97-11e7-88ec-1485b342dcd0.png)

Is this intentional ?

[2017-05-02 10:15] durandom commented on #14900
So here is how ansible tower handles this:

* send `$encrypted$` -> don't touch pw
* send empty string -> clear pw
* send string -> set pw

This way you can at least show **** for a set pw and '' for nothing

@jntullo do we do something similar in our API to retain a pw? Or do we implement PATCH requests to do partial updates?

[2017-05-02 13:00] jntullo commented on #14900
@durandom The API does partial updates. A lot of the specifics depend on the [model itself](https://github.com/ManageIQ/manageiq/blob/master/app/controllers/api/authentications_controller.rb#L6) - there's not much logic in the actual controller

[2017-05-02 14:00] hsong-rh opened #14961 "Remove the event catcher of CinderManager"
There is no specific events for cinder storage manager, remove the event catcher for it.

[2017-05-02 14:08] jameswnl commented on #14900
In this case, model/backend doesn't really look into what is being passed to Tower (except translating `userid` to `username`. So PATCH without password field in the param hash would be fine.

[2017-05-02 15:36] AparnaKarve commented on #14900
@jameswnl What about the PUT call?
Currently the UI uses PUT for updates.
Will PUT work if the UI does not send password fields?

[2017-05-02 16:35] jameswnl commented on #14900
@AparnaKarve my understanding is: TowerClient Gem is always using `patch`  https://github.com/jameswnl/ansible_tower_client_ruby/blob/c9e742fedde3308f4391bd315cd02029bd425371/lib/ansible_tower_client/base_model.rb#L83-L83

[2017-05-02 17:46] tjyang opened #14966 "[RFE] Devide Networks into SDN and Physical two sub-menus"
This avoid confusion from end user and make room for physical network presented by IPAM tool like bluecat or phpipam.

![image](https://cloud.githubusercontent.com/assets/378638/25631068/e180397c-2f34-11e7-84c5-fe5ac5c223ee.png)

[2017-05-02 18:18] Fryguy commented on #14900
@durandom Oh you mean it sends LITERALLY `$encrypted$` or are you saying it sends the encrypted garbage back to the user?

[2017-05-02 19:04] AparnaKarve commented on #14900
Yes, it's literally `"$encrypted$"`

In any case, the UI should not be sending any password fields if it's not creating a record or not updating a password field.
I'm going to change the `PUT` call that is currently being used for updating a record to `PATCH`, which would make the partial update work per above discussion https://github.com/ManageIQ/manageiq/issues/14900#issuecomment-298646278

[2017-05-03 07:31] cben commented on #8893
@miq-bot move_issue manageiq-ui-classic

[2017-05-03 07:32] #8893 closed

[2017-05-03 08:01] cben commented on #8893
Turns out it's already fixed on master.

[2017-05-03 09:03] sergio-ocon commented on #12244
@chessbyte This is the one I was referring to

[2017-05-03 15:03] durandom commented on #14446
[ ] [manageiq-providers-amazon](https://github.com/ManageIQ/manageiq-providers-amazon/pull/245)
[ ] [manageiq-providers-azure](https://github.com/ManageIQ/manageiq-providers-azure/pull/64)
[ ] [manageiq-providers-hawkular](https://github.com/ManageIQ/manageiq-providers-hawkular/pull/17)
[ ] [manageiq-providers-kubernetes](https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/12)
[ ] [mana

[2017-05-03 15:15] AparnaKarve commented on #14900
FYI, `PATCH /api/authentications/<id>` fails with the this error:
[code]

[2017-05-03 15:37] abellotti commented on #14900
are you using the patch directives as mentioned in http://manageiq.org/docs/reference/latest/api/overview/http#updating-resources in the payload, or just the attributes ?  in the latter case you probably just want a PUT or POST with "edit" action.

[2017-05-03 15:49] AparnaKarve commented on #14900
I was using just the attributes, so that could be the reason.

@abellotti @jntullo Any idea if PUT supports a partial update?
Per the above discussion, the UI would not be sending passwords in certain scenarios.

[2017-05-03 17:10] abellotti commented on #14900
PUT supports partial, essentially similar to a POST edit.

[2017-05-03 19:17] AparnaKarve commented on #14900
@durandom FYI: While the Notification in the UI displays the password as `******`, the evm.log completely gives it away.
(Checkout `:security_token=>"mypassword"` in the log below -
[code]

[2017-05-03 20:06] durandom commented on #14900
@AparnaKarve nice find. Could you try to add `security_token` to https://github.com/durandom/manageiq/blob/57d09fb8c78929e58e6ab44899f6d4a1bb55da29/lib/vmdb/settings.rb#L9 and see if its filtered out then?

[2017-05-04 00:54] gildub opened #14988 "API: Security Groups: Missing fields from relationship"
Fields, such as `port`, `end_port`, `source_security_group_id` and `source_ip_range` are missing from the firewall_rules relationship when retrieving a security group.

[code]

[code]

[2017-05-04 09:09] skateman commented on #14244
What about having a conditional rewrite in Apache? If there is a file called `logo-product.svg` under `DOCUMENT_ROOT`, we swap `logo.svg` with it.  @Fryguy ?

[2017-05-04 11:03] gildub commented on #14988
This is a blocker for https://github.com/ManageIQ/manageiq/pull/13074

[2017-05-04 11:09] AllenBW commented on #14244
Is that what we do for other skinnable assets? Saul it is, the change is one png, logo_transpsrent.png (pretty sure that's the name)

[2017-05-04 11:23] skateman commented on #14244
The problem is that apache can't see behind our asset pipeline, so we can't handle this single image as any other asset :disappointed:

[2017-05-04 12:50] AllenBW commented on #14244
So there's a whole slew of assets that get skinned, [here](https://github.com/ManageIQ/manageiq-ui-service/blob/7dc0e9d5ea6b804d248910b325dadb6d05811773/client/assets/images/favicon.ico)  faveicon.ico also being one... or are these items not being skinned rather superseded?

`brand_transparent.png` is the offending image, but others including `login-screen-logo.png` appear to be replaced?

[2017-05-04 12:52] skateman commented on #14244
Everything that is in the `app/assets` folder goes through the asset pipeline...

[2017-05-04 12:53] AllenBW commented on #14244
right on! so we can affect brand_transparent.png, and it'll at least fix the miq logo showing up where it shouldn't... where would that change have to be made?

[2017-05-04 13:28] skateman commented on #14244
You are searching for productization :wink: ask @simaishi

[2017-05-04 17:06] jrafanie commented on #10333
@cfcosta @abonas  In #14116 we tried to diagnose this but weren't provided information to work with it.  We need to see what is consuming database connections.  If you can recreate this in production mode as the BZ says, enable the rails debug logging and see what is consuming the database connections.  What actions checkout connections and don't return them?  We can help track this down but hones

[2017-05-04 17:32] blomquisg commented on #10333
Sorry this was off my radar entirely.  We've seen issues with the bot not reassigning when it's supposed to.  But, haven't figured out why that happens.

I reassigned to @gtanzillo to take a look.  But, as @jrafanie said, it's hard to say if they can make any progress without some of the data he's looking for.

[2017-05-04 19:49] kevensen opened #15004 "[RFE] Provision Container Projects via Automate"
A service provisioning mechanism for container projects via ManageIQ/CFME would be useful.  This is captured in Bugzilla [1] .  An initial attempt at providing the required functionality has been submitted in a series of pull requests [2][3][4].

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1440141
[2] https://github.com/ManageIQ/manageiq/pull/14798
[3] https://github.com/ManageIQ/manageiq-prov

[2017-05-04 20:04] kevensen commented on #15004
My initial approach was to expose certain methods and take action upon the OpenShift provider from an Automate workflow.In one of the aforementioned pull requests [1], @gmcculloug suggested that the automate model may be exposing too much.  I can't disagree.

If I am trying to create a provisioning mechanism for a container project, would it be best to create  an MiqTask for the purpose of provisi

[2017-05-05 10:26] skateman opened #15010 "Refreshing an SCVMM provider throws an error"
I am not being able to refresh an SCVMM provider, tried both from the console and the UI.
[code]

Happens with both providers in our inventory.

[2017-05-05 16:09] aweiteka opened #15013 "container image scan annotation should always write"
When this code[1] annotates an image, it should annotate the boolean every time, true or false, not just when true. This enables other tools to know if the scan has passed through policy while providing the same functionality. This would also require an update to the default policy since the action only is triggered on "high" or "critical" result.

cc @enoodle @simon3z

[1] https://github.com/Mana

[2017-05-05 22:20] jteehan commented on #15010
I'm not seeing any issues with 5.8.0.13 with or without Kaspersky security.  You can check on https://10.16.6.90

[2017-05-08 15:07] israel-hdez commented on #6715
bumping this old thread...
@abonas @pilhuhn does the `process_collection` still apply with the graph refresh?
I don't know if you may still want the pattern applied or if this issue can be closed now.

[2017-05-09 00:46] gildub opened #15030 "Network Manager Refresher: source security group field not populated"
The source_security_group field is not inventoried properly.

It seems the issue comes from [1] where the field data is left to be dealt with later in [2]

[1] https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_refresh/save_inventory_network.rb#L175
[2]  https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_refresh/save_inventory_network.rb#L144L146.

[2017-05-09 00:59] gildub commented on #14988
The source_security_group is not provided because of an unrelated issue which is misleading with the fact that when a field is not returned by the API when its value is null. Therefore we can close this one.

[2017-05-09 00:59] #14988 closed

[2017-05-09 06:52] d-m-u commented on #14446
Does this also require an update to puma (3.7.1ish) sometime so as to avoid https://github.com/puma/puma/issues/1220?

[2017-05-09 09:44] abonas commented on #10674
@miq-bot assign @israel-hdez

[2017-05-09 10:46] skateman commented on #15010
Yup, but on the latest master ... :disappointed:

[2017-05-09 13:28] durandom opened #15035 "Escalate targeted graph refresh to full graph refresh"
a targeted refresh of any CI that has no targeted refresh implemented should be escalated to a full graph refresh.

see discussion in https://github.com/ManageIQ/manageiq/pull/15025#issuecomment-299995818

I think [this](https://github.com/jameswnl/manageiq/blob/4e5e3bfccdddcd8faa773b562fd76088d6738fd4/app/models/ems_refresh/refreshers/ems_refresher_mixin.rb#L123-L123) fallback should be removed c

[2017-05-09 13:33] Ladas commented on #15035
@durandom right, so if you pass unknown AR object that has no Persister defined, it will go to 'next' and skip the target I think.

[2017-05-09 14:21] jrafanie commented on #14446
@d-m-u thanks for the headsup... I haven't seen this problem on ruby 2.4.1... Maybe it's only on 2.4.0?

[2017-05-09 14:26] chrisarcand opened #15036 "Rails 5.1 Upgrade"
This issue tracks progress for ManageIQ running Rails 5.1, released April 27th 2017

- [Rails 5.1 Release Notes](http://edgeguides.rubyonrails.org/5_1_release_notes.html)
- [5-1-stable commit list](https://github.com/rails/rails/commits/5-1-stable)

## Known dependencies to be updated:
- [x] ManageIQ ecosystem (see links below)
- [x] default_value_for (https://github.com/FooBarWidget/default_value

[2017-05-09 14:41] d-m-u commented on #14446
Whoops, sorry, yeah, you're right.

[2017-05-09 19:15] sergio-ocon opened #15044 "Verify that the external gems change the version"
External gems all have the same version (0.1.0). It should be checked that each version of the gem is higher than the previous one, so it can be compared.

[2017-05-09 19:58] chrisarcand commented on #15044
? The gems you see with 0.1.0 are because we don't yet actually release cut gems for these dependencies, they are included via Github directly. There's nothing to verify, it's simply something we need to start doing in each gem (versioning and releasing).

[2017-05-09 20:32] israel-hdez commented on #10674
@lucasponce what is understood as a "MiQ instance"?
I'm trying to think a good way to build that `miq.id`. Multiple MiQ servers can share one Postgres database and it doesn't make sense to include the server id in the alert, since both servers may want to share that alert. However, it makes sense to use the server id if each server has its own database.
Even more complex: two MiQ databases may be

[2017-05-10 05:31] lucasponce commented on #10674
@israel-hdez by "MiQ instance" is some identifier that can differenciate one MiQ installation (with their replicas) from other.
Your comments are right, we might have several MiQ instances sharing a database or even database replicated.
In that environment, when a MW provider is added, it should be unique.
So, the "MiQ instance" should be some id that let to avoid potential colliding if for exampl

[2017-05-10 07:08] sergio-ocon commented on #15044
After learning that bin/setup does not update gems, this would be a way to know that the gems you are using in development are out of date.

[2017-05-10 13:51] chrisarcand commented on #15044
That doesn't change what I said about how we don't version our git based gems yet :)

I have a solution to your issue, however.

[2017-05-10 15:32] simon3z commented on #15013
@miq-bot assign enoodle

[2017-05-10 15:48] sergio-ocon commented on #15044
😄

[2017-05-10 17:19] Fryguy commented on #14778
There are already the tools/db_printers that do something similar that we can include into the single report.

[2017-05-10 17:23] jdeubel commented on #14778
Things that would be useful:
- The provider landscape for all providers is critical as per @blomquisg
- Status of connections (Netstat,etc...)
- Current status of the Miq_queue (similar to count for states
- DB health
I will add more as I think of them.

[2017-05-10 18:30] djberg96 commented on #15010
Fix is in the works:

https://github.com/ManageIQ/manageiq/pull/14842

[2017-05-11 12:58] trzejos opened #15066 "SSL verification is not skipped when refreshing imported automate domains when configured to on the initial clone"
When cloning a git repository over HTTPS to import an automate datastore, a checkbox is presented to skip the SSL certificate verification. On future refreshes of the domain, whether via the Automate Explorer UI or the /api/automate_domains REST endpoint, the SSL verification still occurs and will fail when cloning from servers with invalid certificates.

ManageIQ version: euwe-3.20170510134343_ba

[2017-05-11 13:16] Ladas commented on #13806
@durandom @agrare @Fryguy

So talking to Adam, we might need to scope the unique index to provider, so e.g. [provider_id, ems_ref] to set an allowed are of disconnect/reconnect. Where the reconnect logic would be done using ON CONFLICT UPDATE, using our unique constraint. So we could never duplicate it under a provider. Thoughts? Not sure how to tackle the fact that some managers can actually have

[2017-05-11 15:20] jdeubel opened #15068 "Azure doesn't print inventory stats during refreshes in the logs like other providers"
The Azure provider does not print inventory stats during refreshes in the logs like other providers do (sample shown below) which makes it very difficult to debug issues as well having us request information via postgresql query or rails console command. Not sure if all other providers have a standard format to which they should follow.

Snippet of information provided by VMWare refresh:
[code]

[2017-05-11 19:21] chessbyte commented on #14778
@bronaghs Can you make traction on a first cut of this.  Once in place, we can iterate and improve it.

[2017-05-11 20:19] bronaghs commented on #14778
@chessbyte - will do.

[2017-05-11 21:00] abellotti opened #15076 "bulk assign_tags does not populate the href properly"
was testing this for documentation,

[code]

got the following response:

[code]

see the href for the resource, missing resource id.

can you check if this is master only or master and fine.  Also, if the issue is for both vms and services as well as the unassign_tags.

[2017-05-12 07:10] durandom commented on #13806
sounds reasonable, though I have to admit I dont fully understand it.
I'm a big fan of small step iterations.

So wouldnt it be a good first start to
* add `ems_ref` to every table in our DB and force the collector to provide it?
* if the relation to a provider/ems/manager isnt enough to scope `ems_ref`: prepend `ems_id` to it during `save_inventory`

Once we have that in place we can tackle the p

[2017-05-12 09:59] simon3z commented on #15013
Let's review and comply with: https://github.com/openshift/openshift-docs/pull/4206

cc @aweiteka @enoodle @pweil-

[2017-05-12 21:33] abellotti opened #15085 "is job_template for /api/services create working ?"
Looking at API doc for services create, looking at that code, can job_template ever get honored ? see services_controllers.rb fetch_configuration_script method, it asks to parse an id of a configuration_script collection type.
I don't see that existing.

Please double check api code/specs/model/etc.

[2017-05-12 23:02] AparnaKarve commented on #14900
@jameswnl Would this PR https://github.com/ManageIQ/manageiq/pull/15084 address what @durandom suggested above?

[2017-05-13 11:57] tjyang commented on #1409
@Fryguy,
This link https://github.com/ManageIQ/manageiq/blob/master/vmdb/app/models/vm_or_template/vmware_shared.rb1 is outdated.

Can you advise @cankarm's change  for current code base ? I have  fine-rc1 and ESXi 6.5 for testing.

[2017-05-15 13:32] jameswnl commented on #14900
@AparnaKarve yes, it would.

[2017-05-15 13:36] agrare commented on #13806
This sounds like a workaround for the fact that we denote disconnected inventory by deleting the `:ems_id`

The last option you have (soft delete) sounds like the best

How about `:provider_uid` since this is explicitly not "universally unique" but unique within the provider?

[2017-05-15 15:10] aweiteka commented on #15013
Good point. It is a bit dangerous to assume "ownership" of the deny-execution annotation since it's not namespaced. The proposed annotation will solve this issue much more generally.

[2017-05-15 18:47] NickLaMuro commented on #10332
Since this specifically has been brought up on gitter:

https://gitter.im/ManageIQ/manageiq/ui?at=5919eb8c2b926f8a675a615a

I am providing some info from some "very brief" research on to why this may be the case.  This is not mean to solve the issue, just as to what might be causing it.

## What could be causing the bug

On master, what should be generating this link is the [textual_snapshots](htt

[2017-05-15 22:07] Fryguy commented on #1409
@miq-bot assign @agrare

[2017-05-16 17:21] bronaghs commented on #14778
@miq-bot assign @juliancheal

[2017-05-16 20:32] Fryguy opened #15111 "ar_virtual allows bad data into includes call"
See https://github.com/ManageIQ/manageiq/pull/15069#discussion_r116131836

Basically, our patches to `.includes` allow anything, including invalid things, and silently moves on, whereas vanilla Rails will blow up.

[2017-05-17 02:20] itamarh commented on #14778
Some indication to which features are used to allow understanding complexity and load in the environment around:
- smartstate analysis
- compliance policies - defined/used
- chargeback reports / any reports (just how many were run / last timestamp)
- auotmation - if/how many defined/used
- service catalog items - count/types

[2017-05-17 12:49] moolitayer commented on #15013
I trying to understand in which situations an image that had a compliance problem will become compliant again. Surely when we have the hash of the image it can not become compliant again?

[code]
I'm not sure, are there still cases when we pull the image by name alone?
(cc @enoodle )

[2017-05-17 13:00] aweiteka commented on #15013
Right. Once it's not compliant we don't expect it to become compliant again. However, there may be different tools external to OpenShift that have different thresholds or criteria (aka policy) for compliance, thus my namespace comment.

[2017-05-17 13:47] tjyang commented on #14408
Hi @chessbyte , Do you know if there is one-liner change in .rb source to replace "uid" to "myuid" ?
I am doing a miq POC and hoping to show it can bind to our internal ldap server.

[2017-05-17 14:36] cankarm commented on #1409
Hi, this is 2 years old... the core on which I was referring back then is probably the one below. Search for `def provider_object` and find the `case` clauses in it.

 https://coveralls.io/builds/3370597/source?filename=app%2Fmodels%2Fmanageiq%2Fproviders%2Fvmware%2Finfra_manager%2Fvm_or_template_shared.rb

However, this was possible, because the API for vCenter and ESXi were so similar, but I'm n

[2017-05-17 14:58] tjyang commented on #1409
@cankarm , thanks for your pointer. I made following change on fine-rc1 vmware appliance.

[code]
I can test the connection to ESXi 5.5 and ESXi 6.5 instances.

Is there other ruby rails steps I need to do before my testing ?

[2017-05-17 16:38] javierccs opened #15122 "error while creating a region in external database with custom name"
appliance_console.log output
database: vmdb_preproduction
region: 0

I, [2017-05-17T17:11:05.674720 #22878]  INFO -- : MIQ(ApplianceConsole::ExternalDatabaseConfiguration#create_region) : complete
E, [2017-05-17T17:13:07.963202 #23010] ERROR -- : db_region: Failed to detect region_number
E, [2017-05-17T17:13:07.963481 #23010] ERROR -- : Error:  "/opt/rubies/ruby-2.3.1/lib/ruby/gems/2.3.0/gems/rail

[2017-05-17 17:17] javierccs commented on #15122
and I did created the encryption key
Encryption Key

1) Create key
2) Fetch key from remote machine

Choose the encryption key: |1|

Encryption key now configured.

[2017-05-18 11:41] martinpovolny opened #15144 "Need a way to identify built-in dialogs"
Need a way to identify built-in dialogs. Probably also hide those and/or mark those as read-only.

in https://github.com/ManageIQ/manageiq-ui-classic/pull/383

we have

``` dialog = Dialog.find_by(:label => 'Transform VM') ```

and according to @himdel there's one more such case somewhere for Azure

ping @matobet

[2017-05-18 11:50] himdel commented on #15144
(That azure case is `./manageiq-providers-azure/content/service_dialogs/azure-single-vm-from-user-image.yml`)

[2017-05-18 18:55] switchboardOp commented on #12488
I would also like to see this addressed.

[2017-05-18 19:45] gmcculloug commented on #12488
Fixed in PR #14350

[2017-05-18 19:45] #12488 closed

[2017-05-18 19:58] evertmulder opened #15155 "Embedded Ansible: Password is exposed in logs when adding credentials"
When I add a password using Embedded Ansible the password is visible in the logs. This causes security issues.

This is a snippet of the evm log when adding a machine credential with password "supersecret":
[code]

[2017-05-18 20:44] AparnaKarve commented on #15155
@jameswnl This seems identical to what we discussed a while back.

@evertmulder #15084 should resolves this issue, I believe.

[2017-05-18 21:10] jameswnl commented on #15155
@AparnaKarve , yes it should.
@evertmulder let me know if it's not.

thanks
James

[2017-05-19 09:10] yogetter opened #15158 "Provider does not refresh when creating new OpenStack network"
Hi, all
I run ManageIQ with docker image: fine-1, I have add OpenStack to provider and everything looks fine.
But when I creating new network, found ManageIQ does not refresh provider after network have success created.
So the new network dose not display on lists, need to wait for next provider refresh or sent reset api to refresh provider manual.

[2017-05-19 11:17] cankarm commented on #1409
@tjyang at least you need to restart the server. Maybe this would be enough.

[2017-05-19 13:37] tjyang commented on #1409
@cankarm , following is from latest Fine-1 appliance.
1. apply one-line patch to vm_or_template_shared.rb.
[code]
2.  reboot the miqfine1 and add in esxi6501 ESXi host.
3. Still not able list host_name and datastore be listed for selection.
![image](https://cloud.githubusercontent.com/assets/378638/26249846/afef5f82-3c6d-11e7-938e-aff89e827373.png)

[2017-05-19 13:58] agrare commented on #1409
@tjyang there are some issues with the `allowed_*` methods when you're using a standalone host that we are looking into /cc @gmcculloug

[2017-05-19 14:04] lpichler commented on #14836
https://github.com/ManageIQ/manageiq/pull/15143
https://github.com/ManageIQ/manageiq/pull/15145

[2017-05-19 14:15] gmcculloug commented on #1409
Having this same conversation on the talk site: http://talk.manageiq.org/t/can-standalone-esxi-os-be-added-as-vmware-provider/2313.

I did a little digging this week and right now I think the root cause is that while ESX has a default data-center that is hidden and not something we would display as part of the resource selection.  Unlike vSphere environments where there are visible data-centers.

[2017-05-19 20:15] ITD27M01 commented on #14836
@lpichler
If rbac is tag-based filtering then this PRs is not the solution. By default tags are not used by users and this is a very difficult way to enable this.  Because you need to tag every element in the infrastructure for which user need to access.

[2017-05-20 19:19] ITD27M01 commented on #14836
Hi @lpichler
In the environment with miltiple OpenStack Regions ManageIQ display cloud tenant multiple times for each OpenStack Keystone region. In this way this sctring of code does not work for multi-region environments:
 https://github.com/lpichler/manageiq/blob/fce2cbfd43bff2fc540424a458fbaa6c86557244/app/controllers/cloud_volume_controller.rb#L267
because hash value for the same tenant name g

[2017-05-20 20:13] ITD27M01 commented on #14836
@lpichler but all this PRs and my overrides does not help to create volume from ManageIQ because of this piece of code from "[def create](https://github.com/lpichler/manageiq/blob/fce2cbfd43bff2fc540424a458fbaa6c86557244/app/controllers/cloud_volume_controller.rb#L289)" function:

[code]

For cloud volumes ext_management_system is Cinder Manager but not Cloud Provider. In this way all may request

[2017-05-21 08:19] #13636 closed

[2017-05-22 09:34] lpichler opened #15177 "missing part of select box in set ownership screen"
OS: macOS Sierra 10.12.4
Chrome:
<img width="1435" alt="screen shot 2017-05-22 at 11 27 45" src="https://cloud.githubusercontent.com/assets/14937244/26301560/d93ec2b2-3ee1-11e7-8ce5-9043f548955b.png">

FF:
![screen shot 2017-05-22 at 11 29 03](https://cloud.githubusercontent.com/assets/14937244/26301575/e2f0b694-3ee1-11e7-9f3c-9d2302cb0eda.png)

`EvmGroup-super_administrator` is not certainly last

[2017-05-22 11:34] lpichler commented on #15177
maybe @karelhala @himdel ?

[2017-05-22 13:02] agrare opened #15183 "VMwareWebService Class Diagram"
Class Diagram currently contained in `gems/pending/VMwareWebService` with layers marked:
![vmwarewebservice hierarchy](https://cloud.githubusercontent.com/assets/12851112/26309997/36dff662-3ecd-11e7-9d0b-a0bbf85e901d.png)

[2017-05-22 17:38] himdel commented on #15177
@karelhala WDYT?

Looks like we need to either remove that `overflow: hidden` from the GTL area, or extend it to the end of the screen...

[2017-05-22 17:47] karelhala commented on #15177
@himdel I tried a fast fix with extending GTL area to let's say 350px but if dropdown is more than said area it still get's cut off. I think the safest way would be to shrink the dropdown (currently using `max-height: 350px`)

[2017-05-22 18:35] himdel commented on #15177
Right, that makes sense, looks like the component supports a `size` parameter, to limit the max number of lines, which is even better than pixel-based contstaints.

Doing a PR..

[2017-05-22 18:40] himdel commented on #15177
@karelhala That said, the only reason this gets hidden is that

[code]

do you remember what it was there for? Seems to work quite well without it..

[2017-05-22 21:19] #15076 closed

[2017-05-23 01:17] gildub commented on #15030
This issue has been addressed at the provider level (openstack).

[2017-05-23 01:17] #15030 closed

[2017-05-23 01:19] b-long commented on #6479
I'm sorry if I'm making misguided noise, but I'm wondering if this married to https://bugzilla.redhat.com/show_bug.cgi?id=1375639 and if coordination is underway with the Ansible team.  Does anyone know?

[2017-05-23 07:53] Ladas commented on #6479
@b-long it is related, not sure if somebody created an Ansible BZ, let me check

[2017-05-23 08:21] languoyu opened #15190 "smart state analyze of virtual machine cant get some installed Chinese version software"
VM OS :windows 7
Appearance: I installed one chinese-version software , and it didnt show up in the list of software after smart-state analyze
Reason :  The keyname of this software in Path 'Wow6432Node/Microsoft/Windows/CurrentVersion/Uninstall' of windows registry is in Chinese by default

[2017-05-23 12:20] isimluk opened #15193 "Performance: Do not queue C&U collection for things that do not support C&U"
I have noticed these two occurrences:

 - When you have hyperv (scvmm) it cannot capture C&U, but we schedule perf_capture_* into queue anyway (and it fails horribly)
 - When you have rhev without the `authentication_type(:metrics)`, we schedule `perf_capture_*` into queue (and then it fails horribly).

We could save a lot of memory and CPU cycles in these cases.

[2017-05-23 12:52] lpichler commented on #14836
@ITD27M01 Thank you for your feedback.

RBAC is not only about tags, it is also about tenancy and other filters.
For using RBAC for `Cloud` entities (like CloudTenant(this is only in), and RBAC for other cloud objects like CloudVolumes,... is in FINE only ))

https://github.com/ManageIQ/manageiq/issues/14836#issuecomment-302893188
It is another issue I am preferring to create  GitHub issue and we

[2017-05-23 13:00] lpichler opened #15196 "display cloud tenants with multi region"
based on https://github.com/ManageIQ/manageiq/issues/14836#issuecomment-302893188

@ITD27M01

in the screens, you point out to the regions but there are providers names?

Do you want distinction by REGIONS or by provider`s names?

[2017-05-23 16:55] imtayadeway commented on #15085
@abellotti it looks like that was added to honor Ansible terminology:

[code]

The above passes for me because `ServiceAnsibleTower` has `configuration_script` aliased to `job_template`

Do we claim to support adding configuration scripts for all services? Because it looks like that is the thing that currently won't work.

[2017-05-23 17:42] ITD27M01 commented on #15196
@lpichler Thank you for your replay.
For manageiq OpenStack Region is a separate Cloud Provider and I think that cloud tenants can overlap by name from different cloud providers. It can be even providers of non-shared installation (non-shared keystone) of OpenStack. Therefore diffirent providers it is more logical to display the provider name, not the name of the OpenStack region.

But for one ins

[2017-05-23 21:09] evertmulder commented on #15155
Applied #15084 on the fine-1 release. This indeed fixes the issue. 👍

I will close this issue.

[code]

[2017-05-23 21:09] #15155 closed

[2017-05-23 22:47] matiasma opened #15208 "ManageIQ Azure image file - wrong VHD format"
The http://releases.manageiq.org/manageiq-azure-fine-1.vhd image is not working as expected. Every time I've tried to provisioning an VM with this .VHD I received an error message about the VHD format. I've had to convert it to RAW, resized, converted to VHD (qemu-img), to be able to use this template, based on the article https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create

[2017-05-24 03:38] haphan commented on #13102
@Fryguy Cloudforms should internally generates a key-pair and submit the public key to OpenStack then allows user to download the private key.

Without the ability to download the private key renders the feature`Create key pair` useless.

The other thing we can do is to make the public key field mandatory.

[2017-05-24 03:41] haphan commented on #15158
Happens to me as well. Network provider needs to manually refresh before newly created network show up.

This issue affects the creation of security group and subnet as well.

[2017-05-24 08:36] slacker80 opened #15209 "Activate server role embedded Ansible fails: No such file or directory: '/etc/tower/SECRET_KEY'"
When I try to activate the embedded Ansible server role on a RHV instance running manageiq-ovirt-fine-1.ova it fails. If I look into /var/log/manageiq/evm.log:

[code]

It searches for /etc/tower/SECRET_KEY and other tower related stuff. Why? Do I still need a Tower license to use embedded Anisble.

[2017-05-24 14:01] aweiteka opened #15212 "Add structured data to image scan annotation"
An openshift/origin upstream image annotation spec has landed upstream: https://docs.openshift.org/latest/security/container_content.html#security-integrate-external-scanners. This defines how external vulnerability scanners may add structured data to enable better UX and automation. Example CloudForms annotation:

**Key**: `quality.images.openshift.io/vulnerability.openscap`

**Value**:
[code]

c

[2017-05-24 14:02] aweiteka commented on #15013
PR merged. New issue to track this: #15212

[2017-05-25 03:21] b-long commented on #6479
Thansk @Ladas .  It looks like @quarckster created an issue over on the Ansible repo: https://github.com/ansible/ansible/issues/24920

cc/ @Cameronwyatt

[2017-05-25 11:48] PanSpagetka commented on #13057
https://github.com/ManageIQ/manageiq-ui-classic/pull/1390
https://github.com/ManageIQ/manageiq-ui-classic/pull/1387
https://github.com/ManageIQ/manageiq-ui-classic/pull/1356

[2017-05-25 12:39] PanSpagetka commented on #13057
Status for Show:

TO DO:
app/controllers/host_aggregate_controller.rb
app/controllers/storage_controller.rb

Hard to convert:
app/controllers/dashboard_controller.rb
app/controllers/miq_request_controller.rb

Other occurrences of show just redirecting or setting some variables.

[2017-05-26 18:33] #14960 closed

[2017-05-29 12:30] cben opened #15243 "Containers graph refresh"
A tracking issue for things to do (in all repos).
https://github.com/ManageIQ/manageiq/pull/14337 PoC is now nearly complete but a lot of work remains.
This issue is for **full refresh**; targeted is out of scope, will track in separate issue.

- [ ] Improve refresher test coverage.  I'm talking here about straightforward refresh from scratch, parallel to @zakiva's effort on deletion tests.
  - [

[2017-05-29 12:36] cben commented on #15243
Sorry wrong repo, moved to https://github.com/ManageIQ/manageiq-providers-kubernetes/issues/27

[2017-05-29 12:36] #15243 closed

[2017-05-29 13:38] hstastna commented on #10077
@abonas is this issue still actual? Thanks.

[2017-05-29 13:39] lpichler opened #15246 "Clicking on StorageManagers in summary of cloud provider leads to error."
Test scenario:
![storagemanagers](https://cloud.githubusercontent.com/assets/14937244/26551737/35ba70fc-4484-11e7-9ab2-11885ca8532c.gif)

In previous version(couple weeks ago) there was an empty list.
the reason of error now is that the model `StorageManager` has been removed.
The reason why it led to empty list is that storage manager of cloud manager is not related to model `StorageManager` but

[2017-05-30 08:09] deepakhajare commented on #12440
I am also having save issue, Could any one please help

[2017-05-30 11:45] hstastna commented on #15246
Update info: How to reproduce the issue:
1. go to Compute -> Clouds -> Providers
2. choose a provider (click on it)
3. in summary screen of chosen provider, click on Storage Managers, which is under Relationships

[2017-05-30 13:22] tzumainn commented on #12440
This should be fixed as of: https://github.com/ManageIQ/manageiq-providers-openstack/pull/1 - are you using the latest code?

[2017-05-30 15:59] syncrou opened #15253 "Ansible playbook : Error when creating new dialog with existing dialog's name"
Using the API to create an AnsiblePlaybook catalog item will fail with the above error if a dialog name is used that already exists.

This also creates a secondary condition where the JobTemplate is created on the embedded ansible provider, but is not cleaned up in this specific case.

[2017-05-30 22:09] #14882 closed

[2017-05-31 12:28] matobet opened #15259 "Store `uid_ems` as a part of Storage"
`Vm`, `EmsCluster` and `Datacenter` entities all contain the `uid_ems` property for easy retrieval of the provider-specific entity ID. For `Storage` this is missing and we have to resort to ugly provider specific hacks when this is needed.

[2017-05-31 20:58] simaishi commented on #10300
I just hit this error and I don't see anything different in `appliance_console.log`...

[2017-05-31 21:31] tjyang opened #15267 "bin/rake evm:status: NameError: uninitialized constant Hawkular::ClientUtils"
Hi
After following the upgrade note here https://docs.google.com/document/d/1wRN2uxkKespKsWeAuCryHhAsQFf7BJfatqeGnKs4rtM/edit#

I am getting following error message after trying a git pull update on Fine-1-Beta2 instance.
[code]

[2017-06-01 19:26] ilpianista commented on #9195
Timeline JS has been removed by a0fc462949. I suppose this is invalid now?

[2017-06-01 20:41] jrafanie commented on #10333
@cfcosta @abonas bump.  Any update on this issue? How can I help?  Can you provide logs in production mode on an appliance with rails debug logging enabled with the issue recreated as requested [before](https://github.com/ManageIQ/manageiq/pull/14116#issuecomment-291879007)?

[2017-06-02 06:22] #9195 closed

[2017-06-02 19:09] Fryguy opened #15290 "Sporadic failure with miq_token"
[code]

cc @imtayadeway

Offhand it looks like the timestamp

[code]

[2017-06-02 19:09] Fryguy commented on #15290
See also https://travis-ci.org/ManageIQ/manageiq/jobs/238864602

[2017-06-02 19:11] imtayadeway commented on #15290
This might be incidentally fixed by https://github.com/ManageIQ/manageiq/pull/15058 which uses `Timecop` in the affected test

[2017-06-02 21:18] miq-bot opened #15292 "Test artifacts"
Not sure if it's coming from this gem specifically or not, but I see the following in ManageIQ's test output:

[code]

Not sure where it's coming from, but it needs to be removed.

---

*This issue was moved to this repository from https://github.com/ManageIQ/vmware_web_service/issues/13, originally opened by @Fryguy*

[2017-06-04 10:46] abonas commented on #10333
@hhovsepy please see @jrafanie request regarding logs ^^

[2017-06-04 17:47] chessbyte commented on #13892
Is this fixed with #13686 ?

[2017-06-04 17:51] chessbyte commented on #14840
@durandom - @juliancheal and I extracted a bunch of providers recently (Ansible Tower, Google, Foreman, Microsoft SCVMM).  Please update ch

[2017-06-05 07:02] cben commented on #13892
@zeari ^^^ was this a dup of the BZ you fixed?

[2017-06-05 07:34] zeari commented on #13892
@cben @chessbyte yep we can close this.

[2017-06-05 08:07] aufi commented on #14216
@miq-bot move_issue manageiq-providers-openstack

[2017-06-05 08:08] #14216 closed

[2017-06-05 08:18] simon3z commented on #15212
@aweiteka I'll track this in https://bugzilla.redhat.com/show_bug.cgi?id=1458678 (you should be in CC there).

[2017-06-05 08:53] #13892 closed

[2017-06-05 09:15] abonas commented on #15267
please elaborate - what is the original version of your appliance?
@chessbyte has anyone reviewed this upgrade doc linked in the description and confirmed this is the correct process?

[2017-06-05 09:36] tjyang commented on #15267
Hi @abonas , I have two Fine instances, one is Fine-1-Beta2 that has more end points connected and The other one is Fine-1-RC1. both have same error message when following through the notes. The notes(gdoc) is a summary of posts in miq forum I collected. I hope the miq team can review and correct the steps and come up with procedure for in-place miq upgrade.

[2017-06-05 10:58] abonas commented on #15267
@tjyang can you please check what is the version of the hawkular-client gem on your system?
@miq-bot assign @israel-hdez
@israel-hdez this seems related to the gem bumps and [this PR](https://github.com/ManageIQ/manageiq/pull/14543), although afaik all were backported.  perhaps the env/upgrade procedure are not fully in sync/inaccurate

[2017-06-05 11:08] abonas commented on #14935
@miq-bot add_label providers/hawkular

[2017-06-05 11:09] abonas commented on #14935
@hhovsepy it seems it's an old issue that in the meantime was fixed. is this still reproducible?

[2017-06-05 11:20] hhovsepy commented on #14935
issue is fixed, closing it

[2017-06-05 11:20] #14935 closed

[2017-06-05 12:10] tjyang commented on #15267
@abonas, following it the version infomatiom
[code]

[2017-06-05 12:44] abonas commented on #15267
@tjyang hmmm that seems to be the root cause of the issue. the gem version should be 3.0.1 for 'fine'.
the document that you attached also lists "using hawkular-client 3.0.1" which is the right gem version.
I'm unsure what's incorrect in your setup that it uses 2.8.0

[2017-06-05 12:54] tjyang commented on #15267
@abonas, thanks for the analysis. The document  referring to hawkular-client 3.0.1 was from Fine-1-RC1 which is working ok by using the upgrade procedure from the gdoc.

Should I  just try to upgrade hawkular-client  to 3.0.2 from 2.8.0 ?

[code]

[2017-06-05 13:14] israel-hdez commented on #15267
@tjyang In the docs, I can see that you do `bundle install` in one step. If you are upgrading, you should instead do `bundle update`.
Can you try it? It should, indeed, upgrade the gem.

[2017-06-05 13:28] simaishi commented on #15208
@miq-bot move_issue manageiq-appliance-build

[2017-06-05 13:28] #15208 closed

[2017-06-05 13:41] abonas commented on #15267
@israel-hdez your direction sounds correct :)

[2017-06-05 14:02] carbonin commented on #15209
The "Embedded Ansible" feature utilizes ansible tower installed on the appliance. See
 http://talk.manageiq.org/t/howto-setup-embedded-ansible/2291/2 for instructions on installation.

This can be done with a trial license.

[2017-06-05 14:02] #15209 closed

[2017-06-05 14:04] carbonin commented on #15122
@javierccs Which console options were you using? Also, what appliance build were you using ?

[2017-06-05 15:55] tjyang commented on #15267
@abonas and @israel-hdez , thanks for the help.  I was able to upgrade from Fine-1-Beta2 to Fine-2 with "bundle update" command.  I updated the gdoc.

Bu I think I need to roll-back to Fine-1-Beta2  again since the service catalog we created to sping up VMWare VM  failed to work.

[2017-06-05 17:00] simaishi commented on #10300
@carbonin other people seem to be hitting this issue. Since we're not sure what's causing this to happen, is it possible to add a retry or something if it's enabled but not started?

[2017-06-05 20:44] tjyang commented on #15267
This ticket can be closed. our service catalog for VMware was recreated. I am running Fine-2 with old metric data now ;)

[2017-06-05 20:44] #15267 closed

[2017-06-06 07:54] psachin commented on #1074
@mkanoor

Can you please re-check

Steps I followed(no public IP was assigned to instance on AWS console):
1. Within 'Environment' tab in "Provision Instances" form, select AZ, and VPC
2. Do not select Cloud Subnet
3. Select Security Group(I selected default VPC security group). Cloud subnet will be auto-assigned.
4. Leave EIP as <None>

As described in the issue, server cannot communicate out to

[2017-06-06 10:03] #15290 closed

[2017-06-06 13:28] deepakhajare commented on #12440
Hello tzumainn,
As per your suggestion, I have done changes on CFME  version {cfme-appliance-5.7.0.17-1.el7cf.x86_64} environments and found issue still persist.

later that I tried with cloudform4.5 (cfme-appliance-5.8.0.17-1.el7cf.x86_64) and there the newly recommended changed already persist.
After the validation successful, in last fresh section getting
"Error - 4 Minutes Ago
Expected([200, 2

[2017-06-06 13:49] tzumainn commented on #12440
That's really odd! The failure happens when trying to reach this URL:

/v2.1/f3262680df7349c988459a950c18a1d0/flavors/96f1a662-b440-4b60-bf94-ffab1d83a649/os-flavor-access.json

Which looks like it's looking for *something* flavor-related in relation to a cloud object with ID f3262680df7349c988459a950c18a1d0

Is there a way to identify what f3262680df7349c988459a950c18a1d0 might be - looking throu

[2017-06-06 14:46] psachin commented on #12440
@tzumainn

We have admin project with id `f3262680df7349c988459a950c18a1d0`, it have deleted flavor with id `96f1a662-b440-4b60-bf94-ffab1d83a649`

[code]

[2017-06-06 14:49] psachin commented on #12440
@deepakhajare ^^

[2017-06-06 15:20] h-kataria commented on #15246
@Fryguy @lpichler as part of https://github.com/ManageIQ/manageiq/pull/15153/files#diff-2e00481d19a16b7bba820e24f23499fc `app/models/storage_manager.rb` file was deleted, On Cloud Provider summary screen we still have a link to list of Storage Managers for a selected Cloud Provider which now blows up. I assume that the link to list of Storage Managers should be removed in this case. Please let us

[2017-06-06 15:25] jerryk55 commented on #15246
@h-kataria not my understanding of how this should work....

[2017-06-06 15:34] AparnaKarve commented on #15246
Removing the  `Storage Managers` Relationship may not be a good idea.
I remember using it quite frequently (in the context Block Storage and Object Storage) while working on Creating AWS Cloud Volumes and Object Store Containers.

[2017-06-06 15:53] h-kataria commented on #15246
@AparnaKarve i dont see links to list of Storage Managers from any other summary screens. Can you point @hstastna to an example screen that has any similar link from what you mentioned in your comment.

[2017-06-06 16:13] tzumainn commented on #12440
Ah - in retrospect I should have looked at the stack trace a bit more carefully, as it points to the line with the exact issue:

https://github.com/ManageIQ/manageiq-providers-openstack/blame/master/app/models/manageiq/providers/openstack/refresh_parser_common/flavors.rb#L48

Short-term fix would probably be to delete the flavor from the ManageIQ database; that should get things working right away

[2017-06-06 17:06] AparnaKarve commented on #15246
@h-kataria I was referring to the Storage Managers link in the Cloud Provider Summary screen itself.

[2017-06-06 17:19] tzumainn commented on #12440
@psachin Sorry, one more question - can you check if a flavor with that ID exists in the database?

[2017-06-06 17:25] h-kataria commented on #15246
@AparnaKarve we no longer have StorageManager model so i am unsure where that link should point to.

[2017-06-06 17:31] jerryk55 commented on #15246
I think there is some confusion here.  We have ManageIQ::Providers::StorageManager still.  The Object and Block Storage are derived from that.   I do not believe that the StorageManager model we are talking about is the same - i think that was for NetApp.

[2017-06-06 17:41] AparnaKarve commented on #15246
@jerryk55 That is correct.
So the `Storage Managers` Relationship link in the Cloud Provider Summary screen should point to the Block Storage/Object Storage list is what I'm saying.

[2017-06-06 18:05] deepakhajare commented on #12440
@tzumainn flavor with is not present in the database, its shows deleted.

MariaDB [nova]> select name,deleted,flavorid,name,deleted_at,updated_at,created_at from instance_types where flavorid='96f1a662-b440-4b60-bf94-ffab1d83a649';
+-------------------+---------+--------------------------------------+-------------------+---------------------+---------------------+---------------------+
| name

[2017-06-06 18:10] tzumainn commented on #12440
Ah, I see.  So technically the flavor is present (and the right sort of OpenStack API call can return it); but it's essentially not-present for any tenant, leading to this error.

The solution would probably be to filter out flavors wit the deleted flag.

Could you open up a bug report for this?

[2017-06-06 18:44] mansam commented on #12440
I've not been able to reproduce this error on Euwe, Fine, or the latest master. Any other information you can provide about your environment to help me reproduce the problem would be a great help.

[2017-06-06 19:04] deepakhajare commented on #12440
@mansam
can you please point me to specific information which you are looking for?

In my case, OpenStack refresh failed in initial refresh cycle with the above-mentioned image. As I said that flavor was deleted from osp and also not available in db.

Note: there are many flavors deleted from osp but having issue with some only like id 96f1a662-b440-4b60-bf94-ffab1d83a649

![cfme-flavor](https://u

[2017-06-06 22:07] jockey10 commented on #12440
Hey guys, I'm seeing the same issue for Euwe-1.

I've hit the "Flavour <uuid> could not be found" with a 404, which is breaking the OSP provider refresh (Keystone v3, with domains). I created a flavour, provisioned an instance from the flavour, and deleted the flavour.

I also deleted the flavour from the ManageIQ DB, and still seeing the error.

Any ideas?

[2017-06-07 06:37] psachin commented on #12440
@tzumainn

flavor`96f1a662-b440-4b60-bf94-ffab1d83a649` is deleted with deletion flag `439`. As you see table 'instance_types' also keep track of deleted flavors.

My initial guess was deletion flag was boolean. But I agree any flavor which is marked with non-zero is deleted flavor.

[2017-06-07 07:55] hhovsepy commented on #10333
@jrafanie I am running ManageIQ in a docker container, do you know how can I reload the log level configuration changes?
I am changing 'config.log_level = :debug' in config/environments/production.rb but it still logs are in INFO level.

[2017-06-07 14:49] jrafanie commented on #10333
@hhovsepy go to configuration/advanced settings, change level_rails to debug.  You should start seeing debug messages in log/production.log and can begin your recreation of the issue.

FYI, we've discussed more of this [here](https://github.com/ManageIQ/manageiq/pull/14116#issuecomment-283378743)

Once you get production.log showing [these](https://github.com/ManageIQ/manageiq/blob/1e2e0c4e0a7dada

[2017-06-07 17:25] mansam commented on #12440
@deepakhajare Did I understand correctly from your above post that you had the problem even with cfme-appliance-5.8.0.17-1.el7cf.x86_64?

[2017-06-07 17:32] deepakhajare commented on #12440
Yes it's true we face this with
appliance-5.8.0.17-1.el7cf.x86_64.
And the older release .

—

On 07-Jun-2017 10:55 PM, "Samuel Lucidi" <notifications@github.com> wrote:

@deepakhajare <https://github.com/deepakhajare> Did I understand correctly
from your above post that you had the problem even with
cfme-appliance-5.8.0.17-1.el7cf.x86_64?

—
You are receiving this because you were mentioned.
Repl

[2017-06-07 17:55] mansam commented on #12440
When you tried with appliance-5.8.0.17-1.el7cf.x86_64, was it a fresh database?

[2017-06-08 00:21] simaishi commented on #13322
Fixed by https://github.com/ManageIQ/manageiq/pull/13469

[2017-06-08 00:21] #13322 closed

[2017-06-08 04:39] psachin commented on #12440
@mansam

I work with @deepakhajare. Yes it was fresh database.

[2017-06-08 09:07] hhovsepy commented on #10333
@jrafanie  I was able to reproduce the issue with debug level of logs.
But the [messages](https://github.com/ManageIQ/manageiq/blob/1e2e0c4e0a7dada1b68a8f73a4e0a25c7704e0ab/lib/extensions/ar_adapter/ar_checkin_checkout_callbacks.rb#L20) you mentioned did not appear in logs.

The server becomes unavailable after this line in evm.log:
[----] E, [2017-06-08T08:50:38.632768 #694:3f9bded11438] ERROR --

[2017-06-08 11:54] hhovsepy opened #15338 "Configuration page - No Save/Reset buttons"
In the Settings page of Configuration of ManageIQ, there are no "Save"/"Reset" buttons.

The workaround is to randomly select different configuration pages, and buttons starts to appear.

![screenshot from 2017-06-08 13-50-03](https://user-images.githubusercontent.com/604313/26927297-962bed24-4c51-11e7-8f99-741faeccf19b.png)

[2017-06-08 11:56] hhovsepy commented on #15338
In this second screenshot they appeared after the workaround.

![screenshot from 2017-06-08 13-55-43](https://user-images.githubusercontent.com/604313/26927455-398a4ee8-4c52-11e7-8180-5c4f462696ea.png)

[2017-06-08 14:22] bronaghs commented on #15068
@miq-bot assign @djberg96

[2017-06-08 14:26] gmcculloug commented on #15193
Fixed in #15194

[2017-06-08 14:26] #15193 closed

[2017-06-08 14:28] jrafanie commented on #15044
@sergio-ocon closing since it looks like bin/update should do what you want... please let me know if this is still an issue

[2017-06-08 14:28] #15044 closed

[2017-06-08 14:30] agrare commented on #15259
For `Storage` the property `:location` is the equivalent to `:uid_ems`.  It is similar to `Vm` in that it is unique across providers.

Curious what ugly hacks you're running into?

I've needed a fair number of ugly hacks because `1 Storage record != 1 Datastore ems_ref` but I think that's a different issue.

[2017-06-08 14:52] tzumainn commented on #15196
@miq-bot assign @mansam

[2017-06-08 14:56] dclarizio commented on #15338
@hhovsepy could you please repost this in our UI repo here . . . thx, Dan
https://github.com/ManageIQ/manageiq-ui-classic/issues

[2017-06-08 15:00] #15338 closed

[2017-06-08 15:05] mfeifer commented on #14778
@dmetzger57 help

[2017-06-08 15:26] juliancheal commented on #14778
@mfeifer I've done some work on this, but I keep getting delayed.

[2017-06-08 15:34] dclarizio commented on #14702
@miq-bot assign @martinpovolny

[2017-06-08 15:48] tjyang commented on #14702
Hi All, Thanks for working on this request.

[2017-06-08 15:48] dmetzger57 commented on #14778
@juliancheal I'll reach out to you and setup a time when we can chat. I'm going to be dedicating part of my time helping @mfeifer effort to make field engineering faster/better/stronger

[2017-06-08 15:55] gmcculloug commented on #14630
Dutch translation was added to service UI here: https://github.com/ManageIQ/manageiq-ui-service/pull/786

@ablecable Are you able to work on translating this repo?

cc @mzazrivec

[2017-06-08 16:07] jrafanie commented on #10333
Thanks @hhovsepy, this is exactly what we needed!

@skateman Can you review the production.txt attached above?  It looks like actioncable threads are consuming db connections and never checking them back in.

Basically, I looked for all of the `log_after` lines to see when connections checkout and checkin and looked for thread ids where the check out occurs but the db connection is never checked i

[2017-06-08 17:47] #15292 closed

[2017-06-08 17:47] tzumainn commented on #12440
We're having difficulties reproducing this error in our environments.  Would it be possible to try a direct change to the code in your environment?  Specifically, to catch an error on this line:

https://github.com/ManageIQ/manageiq-providers-openstack/blob/master/app/models/manageiq/providers/openstack/refresh_parser_common/flavors.rb#L48

And just return [] if there's an error?

[2017-06-08 17:50] mansam commented on #12440
I'd just add that you will also want to include L49 in the same rescue block you use to catch the error on L48 while testing this.

[2017-06-08 20:31] djberg96 commented on #15068
@jdeubel @bronaghs Please review https://github.com/ManageIQ/manageiq-providers-azure/pull/76

[2017-06-09 02:51] gildub opened #15343 "API resource for external management systems"
The use case is for the network provider ems to be able to retrieve its parent ems in order to get the cloud tenants.

See [1] along with related PR [2].

[1] https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/assets/javascripts/controllers/cloud_subnet/cloud_subnet_form_controller.js#L69
[2] https://github.com/ManageIQ/manageiq-ui-classic/pull/1508

[2017-06-09 02:53] gildub commented on #15343
@abellotti, @imtayadeway, @jntullo,  what do you think?

Unless there is another way to do this...

[2017-06-09 07:15] mzazrivec commented on #14630
@ablecable Dutch locale will be (thanks to community-provided translation) available in next fine
update of Service UI. The main ManageIQ application is currently not translated to Dutch, since
it requires much more translation work to be done.

[2017-06-09 16:28] djberg96 commented on #9684
At the moment, attempting to call Hard Reboot doesn't even work on my local dev instance:

[code]

[2017-06-09 16:30] bronaghs commented on #9684
@djberg96 - Right, its not supported by Azure.

[2017-06-09 17:37] jntullo commented on #15343
@gildub if I am understanding you correctly, you want the cloud tenants for a network provider? If so, that functionality exists as a subcollection.

Here is it defined in the `api.yml`: https://github.com/ManageIQ/manageiq/blob/master/config/api.yml#L1294

And here are some specs: https://github.com/ManageIQ/manageiq/blob/master/spec/requests/api/providers_spec.rb#L1002-L1047

[2017-06-09 17:44] dclarizio commented on #9684
per @durandom

This should be added in them model so the UI can decide not to show the button on an Azure instance summary screen.  In the list view screenshot above, we normally show all buttons available to any instance, but we show errors if invalid actions are attempted against certain checked items, based on the same "supports" check.

If the back end support is added, we can then add the UI

[2017-06-09 18:39] djberg96 commented on #9684
@durandom Ok, which supports feature should we use here? I see `reboot_guest`, but I'm not sure how to distinguish between hard and soft reboot.

[2017-06-09 21:03] branic opened #15350 "Implement export/import functionality of Miq objects via command-line"
The [CFME RH Consulting Scripts](https://github.com/rhtconsulting/cfme-rhconsulting-scripts) are used by Red Hat consultants to enable storing customizations in Git and maintaining customizations between environments (e.g. dev/qa/prod) for an SDLC lifecycle.

This issue is being opened to track implementing these scripts within ManageIQ.

The object types that need to be supported for export/impor

[2017-06-12 19:20] NickLaMuro commented on #14840
@durandom et. al.

I think something that should also be considered and added to the list is the workers, and having the definitions of those living in the providers themselves versus being part of a list in [`MiqServer::WorkerManagement::Monitor::ClassNames`](https://github.com/ManageIQ/manageiq/blob/d92def0/app/models/miq_server/worker_management/monitor/class_names.rb) (I have moved the real de

[2017-06-12 19:30] jrafanie commented on #14840
I feel like providers should be able to register and enable themselves (as two steps), what models/worker classes/etc. they provide, and insert rails boot hooks if they're an engine.  It's still important for them to not load all the things since we can't sustain all of our provider code and libraries being loaded in the same process.  The rails engine code must not load all the things.  It should

[2017-06-12 20:55] Fryguy commented on #14840
.subclasses can get us all of the leaf workers, and so we can probably change ClassNames to do something like

[code]

[2017-06-12 21:06] NickLaMuro commented on #14840
@Fryguy That works if you want to load the world first before loading `miq_worker_types`, but right now in [`run_single_worker.rb`](https://github.com/ManageIQ/manageiq/blob/master/lib/workers/bin/run_single_worker.rb#L34), I am loading it by itself.  This allows the command line to be snappy when doing `-l`, as well as not requiring everything from every provider just to boot up a worker.

Doing

[2017-06-13 01:27] gildub commented on #15343
@jntullo,

Oh I missed the providers resource! That's what I needed, thanks.

[2017-06-13 01:27] #15343 closed

[2017-06-13 19:00] Fryguy commented on #14840
The monitor has to monitor everything, so not sure why it loading the world is an issue.  I would argue that if we extract worker management from MiqServer into a standalone object, then only the evmserver should be loading *that* class, and then accessing MiqServer won't load the world via the worker management.

[2017-06-13 19:04] NickLaMuro commented on #14840
That doesn't mean it has to load everything to monitor it (make sure it is running, make sure it hasn't stalled, etc.).

It needs to know about what it is at most, not what it is doing and why it is doing it.  We are just re-organizing the monolith if our expectation is that it is just going to continue to load everything.

[2017-06-14 08:57] LorkScorguar commented on #1226
Hi,

Is this available now? I have a use case that require more than 50 characters on a textbox.

[2017-06-14 18:26] Fryguy commented on #14446
@jrafanie Can we update the OP note on manageiq-gems-pending now and check it off as done?

[2017-06-14 18:45] Fryguy commented on #13102
I was not aware we were creating native key pairs, and if that's the case, then yes, this is a bug, IMO, because without the private key, it's pointless.

[2017-06-14 18:45] Fryguy commented on #13102
@blomquisg Assigning to you, but can you reassign?  cc @bronaghs

[2017-06-14 18:48] Fryguy commented on #14900
@jameswnl Is this issue still open?

[2017-06-14 18:59] jameswnl commented on #14900
no, closing it ....

[2017-06-14 18:59] #14900 closed

[2017-06-14 19:42] Fryguy commented on #14244
Hmmm...I mean that's possible, but then we have to maintain a list in Apache.  Additionally this binds us tighter with Apache, so I'm not sure.  @carbonin @bdunne Can you give your perspective with respect to the kubernetes changes?

[2017-06-15 02:30] languoyu commented on #15190
i have analyzed the code, and find the reason is when the registry key name is in Chinese ,the valuse of this nkHash[:keyname] is 0 when it's supposed to be 32

[2017-06-15 14:35] bdunne commented on #14244
Several thoughts based on the discussions around podification...
1. We're close to having an independent httpd container as a front-end just for auth, SSL and directing to the correct openshift service (UI / API / SUI / etc.)
2. I would like to completely split off the Service UI into its own container that has no references to the existing ManageIQ application container.  This container would the

[2017-06-15 17:23] simaishi commented on #10300
Encountered the issue again and seeing a bit more details in `appliance_console.log` this time...

[code]

[2017-06-16 16:02] Fryguy commented on #14265
Sounds more like discovery for network managers, which is pretty interesting.

[2017-06-16 16:05] Fryguy commented on #14274
@tjyang Can you be more specific as to the problem?  I had not heard any problems with the memcached based session storage except when multiple UI appliances are behind a load balancer for which we have the SQL storage.  What would cookie provide over SQL or memcached?  Note that one downside to the cookie store is that our sessions can be quite large, unfortunately, and cookie storage would resul

[2017-06-16 16:06] Fryguy commented on #14576
Closing as we probably won't implement this directly, unless perhaps there's a way for us to add more data into the CSV to aid those using Excel.  @tjyang if you have suggestions for how we could enhance the csv data, please open a separate issue.  Thanks!

[2017-06-16 16:06] #14576 closed

[2017-06-16 16:07] Fryguy commented on #14408
@abellotti Thoughts?

[2017-06-16 16:07] Fryguy commented on #14271
This seems like a cool idea.  Moving to the UI repo.

[2017-06-16 16:08] Fryguy commented on #14271
@miq-bot move_issue manageiq-ui-classic

[2017-06-16 16:08] #14271 closed

[2017-06-16 16:09] Fryguy commented on #14267
@tjyang Have you tried using a readonly account?  I'm pretty sure it will work already for getting inventory, metrics, events, etc.  You just won't be able to do any operations.  Please try a readonly account and if you find any issues, enumerate them here.

[2017-06-16 16:09] Fryguy commented on #14267
cc @blomquisg

[2017-06-16 16:11] tjyang commented on #14274
The idea is to have end users of miq  one-click away to get back miq dashboard.
Example: amzon.com is very easy to get back into to spend your money. it remember your login id/password. (This is done by using cookies, right ?)

[2017-06-16 16:17] tjyang commented on #14267
Thanks @Fryguy. I will get readonly account from my test environment and report back.

[2017-06-16 16:24] Fryguy commented on #14274
Yes, but ManageIQ already does this.  Otherwise, every single click through the UI would require a login.  However, we auto-logout users with a session timeout based on inactivity, the same way your bank logs you out after some time.  If you don't want this feature, you could set the session timeout to some ridiculously high number.

This makes it sound like you are maybe running into a bug where

[2017-06-16 16:58] tjyang commented on #14274
Currently, 24 hours is the max time-out time one can set to.

![image](https://user-images.githubusercontent.com/378638/27236514-f07002b8-528a-11e7-965d-495fd6998ce1.png)

[2017-06-16 17:29] Fryguy commented on #14267
@tjyang Sounds good.  Going to close this issue, then, but please feel free to reopen when you add stuff.

[2017-06-16 17:29] #14267 closed

[2017-06-16 17:35] Fryguy commented on #14274
@martinpovolny Does it make sense to open up that value?

[2017-06-16 18:40] tjyang commented on #14274
For some reason my url has timeout=false, is this a hidden feature to disable session timeout ?

[2017-06-19 12:20] mfeifer commented on #444
@blomquisg how can I close this issue?  I'm assuming that by this point:
* documentation group took care of it
* it no longer applies because this is based on a very old version of the appliance.

[2017-06-19 18:20] #457 closed

[2017-06-19 18:22] Fryguy commented on #523
Closing as completed.

[2017-06-19 18:22] #523 closed

[2017-06-19 19:41] #839 closed

[2017-06-19 19:41] #1152 closed

[2017-06-20 10:32] durandom commented on #9684
@djberg96 looks like there is reset https://github.com/ManageIQ/manageiq/blob/acf668b1a4714aa9fff6257db36665bf70a7be84/app/models/vm/operations/guest.rb#L50
and a reset feature is also used in the vmware provider.

Is reset and hard reboot the same?

[2017-06-20 12:28] #1579 closed

[2017-06-20 16:37] djberg96 commented on #9684
@durandom I guess "reset" is hard reset and "reboot_guest" is soft reset. Maybe we should add a comment there. At least, that's what @Fryguy said. :)

[2017-06-20 18:25] djberg96 commented on #9684
@h-kataria @simaishi @dclarizio What does the UI hook into that we can set on the backend so that the "Hard Reset" doesn't show?

[2017-06-20 19:58] h-kataria commented on #9684
@djberg96 UI calls `supports_reset? ` method for a record, see here: https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/helpers/application_helper/button/instance_reset.rb#L6

[2017-06-21 08:17] martinpovolny commented on #2163
No longer relevant.

[2017-06-21 08:17] #2163 closed

[2017-06-21 08:18] #14877 closed

[2017-06-21 15:45] djberg96 commented on #9684
@h-kataria Well, that method is problematic then because of the line above it:

    return true if @display == "instances"

Can that be removed?

[2017-06-22 09:48] martinpovolny commented on #14274
no

[2017-06-22 09:57] martinpovolny commented on #14274
I am not sure we want that. What we might want is this:

Some systems have 2 cookies:

 * 1st one a session cookie as we have
 * 2nd one a "remember me" cookie

The session cookie has a session associated with it that lives in the memcache in our case.

The "remember me" cookie has a record in database usually together with some other bit of information such as IP address (or addresses) or last vi

[2017-06-22 13:20] #6320 closed

[2017-06-22 13:27] #12689 closed

[2017-06-22 13:27] #10621 closed

[2017-06-22 13:28] h-kataria commented on #9684
@djberg96 you can remove that line it doesn't make sense to return always true when `@display` is set to instances.

[2017-06-22 13:28] epwinchell commented on #10621
Fixed by: https://github.com/ManageIQ/manageiq-ui-classic/pull/1376

[2017-06-22 18:18] tjyang commented on #14274
@martinpovolny, Thanks for your analysis. Hope 2nd cookies can be implemented.

[2017-06-22 19:00] imtayadeway opened #15434 "Can't create dialogs through using compressed ids"
When running the following test in a non-0-region (taken from the service dialog specs, modified to use compressed ids in the request body), it fails:

[code]

...with the error:

[code]

I'd expect this to work - i.e. for dialogs to be assembled from components referred to via compressed id.

[2017-06-23 16:52] djberg96 commented on #9684
@h-kataria Ok, thanks. https://github.com/ManageIQ/manageiq-ui-classic/pull/1598

[2017-06-26 20:29] ablecable commented on #14630
Hi

@mzazrivec: How can I help you with the translation?

2017-06-08 17:55 GMT+02:00 Greg McCullough <notifications@github.com>:

--
Arjan

[2017-06-27 13:32] #182 closed

[2017-06-27 13:33] #444 closed

[2017-06-27 13:35] chrisarcand commented on #498
Closing as the original code in question is in the UI repo and more importantly only found a single time, so there's little use for a helper now.

[2017-06-27 13:35] #498 closed

[2017-06-27 13:36] chrisarcand commented on #519
@blomquisg I'm guessing this probably isn't relevant anymore. Close if so?

[2017-06-27 13:42] chrisarcand commented on #856
@miq-bot move_issue manageiq-gems-pending

[2017-06-27 13:43] #856 closed

[2017-06-27 13:45] #1004 closed

[2017-06-27 13:46] chrisarcand commented on #184
@miq-bot move_issue manageiq-ui-classic

[2017-06-27 13:47] #184 closed

[2017-06-27 13:49] chrisarcand commented on #768
@miq-bot move_issue manageiq-ui-classic

[2017-06-27 13:50] #768 closed

[2017-06-27 13:51] chrisarcand commented on #1022
@miq-bot move_issue manageiq-ui-classic

[2017-06-27 13:51] chrisarcand commented on #1023
@miq-bot move_issue manageiq-ui-classic

[2017-06-27 13:51] chrisarcand commented on #1024
@miq-bot move_issue manageiq-ui-classic

[2017-06-27 13:52] #1024 closed

[2017-06-27 13:52] #1023 closed

[2017-06-27 13:52] chrisarcand commented on #1038
@miq-bot move_issue manageiq-ui-classic

[2017-06-27 13:52] #1022 closed

[2017-06-27 13:53] #1038 closed

[2017-06-27 14:00] chrisarcand commented on #1056
@miq-bot move_issue manageiq-ui-classic

[2017-06-27 14:00] chrisarcand commented on #1057
@miq-bot move_issue manageiq-ui-classic

[2017-06-27 14:01] #1057 closed

[2017-06-27 14:01] #1056 closed

[2017-06-27 15:50] imtayadeway commented on #15434
@miq-bot add-label api, bug

[2017-06-28 06:52] #1682 closed

[2017-06-28 10:48] aufi opened #15462 "Build failure in Openstack provider cased propably by master repo change"
There is a build failure of manageiq-providers-openstack https://github.com/ManageIQ/manageiq-providers-openstack (https://travis-ci.org/ManageIQ/manageiq-providers-openstack/jobs/247682546). The change in Openstack provider is not related to the failure and there was also no change in Fog gem.

The interesting point is running Openstack-repo tests with older version of ```spec/manageiq``` app. ``

[2017-06-28 10:48] moolitayer opened #15463 "evm:start - UI fails with undefined method `silence' for #<MulticastLogger...` in evm.log"
Does not happen with `rails s`

### Stack Trace
[code]
### Workaround
[code]

Thanks @himdel for the workaround :tada:

[2017-06-28 10:50] moolitayer commented on #15463
Might be related to https://github.com/ManageIQ/manageiq/pull/15392

[2017-06-28 10:52] moolitayer commented on #15463
If assets are already compiled this might not reproduce

[2017-06-28 10:53] himdel commented on #15463
Cc @NickLaMuro (because I think you started fixing this), @bdunne, @agrare, @borod108 (who are also affected)

[2017-06-28 13:33] bdunne commented on #15463
o_0

[2017-06-28 14:48] NickLaMuro commented on #15463
Opps, I forgot about this yesterday because I was distracted with some other items.  Thanks for updating @bdunne !

[2017-06-28 14:50] #15463 closed

[2017-06-28 19:45] djberg96 commented on #9684
@h-kataria I'm still seeing the hard reboot option in the UI for Azure even after pulling in the latest master. What did I miss?

[2017-06-29 13:08] aufi commented on #15462
Works now.

[2017-06-29 13:08] #15462 closed

[2017-06-29 13:47] vestival opened #15477 "Split policy-set.yml (AKA policy profiles) into different files to process by policy seed"
As discussed in  https://github.com/ManageIQ/manageiq/pull/15453 with @durandom it would be very useful to provide user data to split the current policy-set file into different files as we do in the reports

[2017-07-02 20:11] #1460 closed

[2017-07-03 12:12] martinpovolny commented on #534
Timeline is now replaced. So this is no longer relevant.

[2017-07-03 12:12] #534 closed

[2017-07-03 16:23] Fryguy commented on #3826
Updated the OP list.

[2017-07-03 16:26] Fryguy commented on #1404
Updated OP list.

[2017-07-03 16:28] Fryguy commented on #831
Closing this... require_with_logging is in manageiq-gems-pending, however, the Kernel patch would likely stay anyway.

[2017-07-03 16:28] #831 closed

[2017-07-03 16:32] Fryguy commented on #833
This file no longer exists as of 6a7630638c6ad8f984ce63df4eec1777fba800d5 (ManageIQ/manageiq@f3c94a542a21ced983fc402ee58ca02cfce88302)

[code]

[2017-07-03 16:33] #833 closed

[2017-07-03 16:34] Fryguy commented on #859
@miq-bot move-issue manageiq-gems-pending

[2017-07-03 16:35] #859 closed

[2017-07-03 16:59] #1683 closed

[2017-07-03 17:39] Fryguy commented on #760
@miq-bot move-issue manageiq-automation_engine

[2017-07-03 17:40] #760 closed

[2017-07-03 17:40] Fryguy commented on #2116
@jrafanie I am closing this as we don't seem to have seen this error lately.

[2017-07-03 17:40] #2116 closed

[2017-07-03 17:44] Fryguy commented on #1589
@miq-bot move_issue manageiq-ui-classic

[2017-07-03 17:45] #1589 closed

[2017-07-03 17:45] Fryguy commented on #3504
Closing as gems-pending is it's own gem now with it's own gemnasium reference.

[2017-07-03 17:45] #3504 closed

[2017-07-03 17:46] Fryguy commented on #3503
Updated OP list.

[2017-07-03 17:47] Fryguy commented on #2127
@jrafanie Should this be closed or moved to ui-classic?

[2017-07-03 17:48] Fryguy commented on #476
@miq-bot move_issue manageiq-ui-classic

[2017-07-03 17:49] Fryguy commented on #1463
@miq-bot move-issue manageiq-ui-classic

[2017-07-03 17:49] #1463 closed

[2017-07-03 17:49] #476 closed

[2017-07-03 17:51] Fryguy commented on #14274
@martinpovolny On which repo do you want this issue?  manageiq or manageiq-ui-classic ?

[2017-07-03 17:55] Fryguy commented on #9684
Now you need to add the supports feature to the azure provider and set it to false.

[2017-07-03 17:59] Fryguy commented on #2595
@miq-bot move-issue manageiq-ui-classic

[2017-07-03 18:00] #2595 closed

[2017-07-03 18:00] Fryguy commented on #2215
@miq-bot move-issue manageiq-automation_engine

[2017-07-03 18:01] Fryguy commented on #2175
@miq-bot move-issue manageiq-providers-amazon

[2017-07-03 18:01] #2175 closed

[2017-07-03 18:01] #2215 closed

[2017-07-03 18:02] #1552 closed

[2017-07-03 18:36] martinpovolny commented on #14274
An important aspect about the "remember me" is that is survives apliance reboot. That might be convenient for someone.

@Fryguy : Well it has implications in both repos. Model change would be needed to hold the cookie, config option to enable/disable and set expiration.

It has to be considered in the context of the SSO mechanisms we support. And by the way it could be implemented in the authentic

[2017-07-03 18:40] Fryguy commented on #14274
@abellotti Care to chime in here?

[2017-07-03 19:07] djberg96 commented on #9684
@Fryguy not as far as I can tell.

[2017-07-04 11:13] #780 closed

[2017-07-04 12:08] paulslaby commented on #15066
Should be resolved with https://github.com/ManageIQ/manageiq-automation_engine

[2017-07-05 09:13] durandom commented on #15477
@miq-bot assign @durandom

[2017-07-05 09:44] durandom commented on #9684
@djberg96 did you also pull in the latest UI tree from master?
`cd spec/manageiq; bundle update`

[2017-07-05 15:09] djberg96 commented on #1404
@jerryk55 @roliveri As mentioned above, Ruby has supported large files for Windows since 1.9, so you shouldn't need MiqLargeFileWin32.rb any more.

[2017-07-05 15:14] djberg96 commented on #9684
@durandom Yes, tried that. Tried local and master, with everything updated to the latest and greatest as far as I can tell.

Can anyone else confirm?

[2017-07-05 15:42] Fryguy commented on #1404
We don't run on Windows at all anymore, so I think this can all just be deleted.

[2017-07-05 15:47] h-kataria commented on #9684
@durandom i will take a look and get back to you

[2017-07-05 15:50] djberg96 commented on #1404
@Fryguy They still need it for SSA on Windows VM's though, don't they?

[2017-07-05 19:02] Fryguy commented on #1404
I don't believe so, no, but I'd have to double-check.  I think all usages of Win32API are inside code blocks that say `if Sys::Platform::OS == :windows`

[2017-07-06 14:46] #2127 closed

[2017-07-06 15:21] djberg96 commented on #2152
If we're deferring to the `hardwares` table, there's `memory_mb` and `memory_mb_minimum`. I don't see a `vm_memory` column.

[2017-07-06 16:16] djberg96 commented on #15259
@agrare That doesn't seem intuitive to me. Is this something that could/should be added?

[2017-07-06 16:30] djberg96 commented on #6739
Does the recent db split affect this issue?

[2017-07-06 16:42] agrare commented on #15259
@djberg96 Which part, the location being the unique index or splitting the storage/datastore models?

[2017-07-06 17:18] djberg96 commented on #11826
@bzwei Just curious, where are power operations available in the UI for an Orchestration Stack? I don't see any.

Or is this something that would only affect the API at the moment?

[2017-07-06 17:28] djberg96 commented on #15259
@agrare The location being used as a uid_ems. Shouldn't the location just be a region? Maybe I don't understand the schema.

[2017-07-06 17:33] agrare commented on #15259
@djberg96 the location is something that we can use to uniquely identify the actual storage hardware across providers, e.g.: for RHEV its the NFS `server:/path`.  SCVMM looks like it completely ignores this and just re-uses the ems_ref https://github.com/ManageIQ/manageiq-providers-scvmm/blob/master/app/models/manageiq/providers/microsoft/infra_manager/refresh_parser.rb#L117 :smile:

The original

[2017-07-06 18:02] bzwei commented on #11826
@djberg96 There is no power operations for any orchestration stack, from UI or back end. The question I raised here is if we want to add power operation, what is the proper way? The only known stack that can be powered on/off is vApp.

[2017-07-06 20:37] djberg96 commented on #11826
@bzwei Ah, ok. Then I think the best thing to do is to mimic the vm/operations/power.rb layout, but for orchestration stacks, and then `include` the Power module. Within the Power module you would do something like:

    included do
      supports :start
      supports :terminate
    end

Or perhaps just "supports :control", as I am not sure what "basic control operations" are exactly. Any idea @d

[2017-07-06 20:53] #13102 closed

[2017-07-06 21:03] h-kataria commented on #9684
@durandom @djberg96 "Hard reboot" button is not visible on Azure Instance summary screen. I see that you are trying to hide Hard reboot button on the list view which we currently do not support, we normally show a flash message on screen if user presses a button that is not supported for a selected type from the list view.
For example if you select multiple VMs from list view and Press "Migrate se

[2017-07-07 07:50] durandom commented on #11826
[supports :control](https://github.com/ManageIQ/manageiq/blob/c800a1aa5427edf38b9aa595e30077712fabe297/app/models/vm_or_template/operations.rb#L90-L105) is used by other power operations as a basic minimum. This was there even before the supports_feature_mixin came along. As stated in the comment, I think this should be refactored to _not_ use the supports feature thing, because it's more a helper

[2017-07-07 17:42] djberg96 commented on #9684
@h-kataria Ok, how/where can we do that?

[2017-07-07 17:48] djberg96 commented on #241
@jrafanie I'm wondering if we can close this. SCVMM switched to JSON parsing, and I don't even see a reference to MiqXML in the solid-state repo.

[2017-07-07 17:49] djberg96 commented on #121
@chriskacerguis Can this be closed?

[2017-07-07 18:14] djberg96 commented on #828
@lfu I think this can be closed, as the lib/metadata stuff was moved over to the smartstate repo. It's their issue now if they want to clean it up.

[2017-07-07 18:23] djberg96 commented on #1279
@jrafanie Looks like this was cleaned up at some point.

[2017-07-07 18:27] djberg96 commented on #3486
@chessbyte Looks like we're on 0.14.0 now, latest is 0.16.0.

[2017-07-07 18:36] djberg96 commented on #3458
@chessbyte The amazon provider repo is currently at 2.9.7, while the latest is 2.10.9. Are we good enough, or do you still want the Amazon provider repo updated?

[2017-07-07 18:39] djberg96 commented on #2936
@jvlcek @mfeifer @Fryguy @carbonin Can this be closed?

[2017-07-07 18:39] #1279 closed

[2017-07-07 18:40] #241 closed

[2017-07-07 18:40] #2936 closed

[2017-07-07 18:51] djberg96 commented on #2556
@blomquisg I'm guessing this can be closed by now.

[2017-07-07 18:53] djberg96 commented on #5102
@abonas Can we close?

[2017-07-07 18:55] djberg96 commented on #4797
@optimisticanshul The amazon provider is set to 2.9.7 atm. Can we close?

https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/manageiq-providers-amazon.gemspec#L16

[2017-07-07 19:00] #828 closed

[2017-07-07 19:03] h-kataria commented on #9684
@djberg96 see https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/application_controller.rb#L1726

https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/application_controller.rb#L1697 (similar logic can be applied here https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/application_controller/ci_processing.rb#L525, if any of se

[2017-07-07 19:09] djberg96 commented on #4671
@blomquisg @chessbyte Looks like this can be closed.

[2017-07-07 19:10] djberg96 commented on #5710
@jvlcek Can you move this over to the Amazon provider repo (assuming it hasn't already been addressed).

[2017-07-07 19:13] djberg96 commented on #5546
@gtanzillo Does ReportableMixin even exist any more?

[2017-07-07 19:18] djberg96 commented on #6315
The rkerberos gem is a C extension that requires both the krb5.h and kadm5/admin.h headers. Whether or not this is an issue I leave up to @chessbyte and @abellotti.

[2017-07-07 19:21] djberg96 commented on #6955
@blomquisg or @chessbyte Please close.

[2017-07-07 19:28] DNNX commented on #5546
Nope. It's been removed via https://github.com/ManageIQ/manageiq/pull/8974 a year ago. I guess we can close this issue.

[2017-07-07 19:28] #5546 closed

[2017-07-07 19:28] djberg96 commented on #6823
I've never, ever seen this in practice.

@mattmahoneyrh @gtanzillo Is this still happening? The pastebin has since been deleted. Can it be closed?

[2017-07-07 19:36] djberg96 commented on #7637
👍 In favor of making postgresql case insensitive so I don't have to `downcase` or `casecmp` everywhere.

[2017-07-08 07:34] evenit commented on #6315
It is a build dependancy and the devel package is not needed anymore once
the gem is built. And it looks it is also available as a RPM in EPEL :
https://www.rpmfind.net/linux/rpm2html/search.php?query=rubygem(rkerberos).

Le 7 juil. 2017 21:18, "Daniel Berger" <notifications@github.com> a écrit :

[2017-07-09 07:10] abonas commented on #5102
@djberg96 if it's resolved then yes. wasn't the commit supposed to be linked and auto close the issue?

[2017-07-09 07:10] #5102 closed

[2017-07-09 10:34] djberg96 commented on #5102
@abonas Not sure what happened, maybe it wasn't linked to from the other side. Anyway, thanks for the report!

[2017-07-10 13:42] jerryk55 commented on #1404
I have found instances of MiqLargeFileWin32 required in manageiq-smartstate, and in manageiq-gems-pending only, and they all are in code blocks as stated by @Fryguy above.  I agree that this can be removed.

[2017-07-10 19:44] djberg96 commented on #15010
@skateman Can we close this?

[2017-07-10 20:17] djberg96 commented on #12902
Hm, it seems we could use an actual Interface object so that we not only have a common interface, but get some actual enforcement as well. There is a gem for this, simply called "interface" we could use if you want enforcement.

More to your point, I think this is too granular at one class per operation, especially if we have an enforceable and documented interface.

[2017-07-11 09:23] #15010 closed

[2017-07-11 10:27] himdel opened #15541 "db:seed runs UI code"
Just noticed that when running `db:seed`, `Dialog.seed` uses `DialogImportService` to do the importing. And `DialogImportService` lives in ui-classic.

I'm guessing this is not desired if we ever want to be able to run manageiq without the UI, feel free to close if that's not an issue :).

Maybe it would make sense to just move `DialogImportService` back to manageiq, not sure...

---

(Noticed bec

[2017-07-11 10:40] himdel commented on #4163
Schedule editor is now passing a proper Date object (via `miqService.buildCalendar`), we can close.

@miq-bot close_issue

[2017-07-11 10:46] himdel commented on #1648
Fixed in https://github.com/ManageIQ/manageiq/pull/9328

[2017-07-11 10:46] #1648 closed

[2017-07-11 13:30] #4163 closed

[2017-07-11 13:35] djberg96 commented on #14838
@izapolsk Since you've fixed this for Sprout, and this isn't an actual production issue, can you please close?

[2017-07-11 13:35] djberg96 commented on #14347
@skateman any updates on this?

[2017-07-11 13:43] izapolsk commented on #14838
@djberg96,  actually, the issue was mainly about logging. CFME still silently throws out events even with debug log level. So, I wouldn't want to close it.

[2017-07-11 13:45] skateman commented on #14347
@djberg96 well, I was playing with the dev-only reverse proxy solution, but in the meantime @himdel is working on webpack integration that would (correct me if not) require something similar. In the meantime its completely safe to ignore these routing errors, you'll be only missing the notifications.

[2017-07-11 13:55] djberg96 commented on #14838
@izapolsk Then I leave this up to @carbonin to accept/reject. :)

[2017-07-11 14:15] carbonin commented on #14838
@djberg96 It seems like this is out of my area now. I'll let @bronaghs take a look at whether we need to log more verbosely when we throw events out due to timing issues.

[2017-07-12 17:29] rodneyhbrown7 opened #15556 "Nested objects in REST API response contain invalid href value"
Noted that when the a nested object in a REST API response, the href has the URI of the parent object and the ID of the child object.    The href should have the URI of the child object and the ID of the child object.

Sample request:   https://localhost:3000/api/hosts/1?attributes=vms

Response contains this block:
"vms": [
    {
      "href": "http://localhost:3000/api/hosts/21",
      "id": "21

[2017-07-13 13:08] ioggstream opened #15563 "heat client don't populate correctly the "files" parameter"
# Reproduce

Create an Orchestration template that references external files:

[code]

# I expect

- the stack to be created

# Instead

- I got an error
- Heat complains about `get_file: https://www.google.com/robots.txt` not in the files dict
- getting the files dict from heat, the file is not there

[code]

The error is probably the MIQ counterpart of the horizon one https://bugs.launchpad.net/

[2017-07-13 13:43] himdel commented on #15541
Also, the API is using `GitBasedDomainImportService` from ui-classic.

[2017-07-13 18:41] kbrock commented on #7637
@djberg96 the issue with this is people are concerned that customers may have automate scripts that purge out old VMs that have case sensitive names. So they want to turn on and off case insensitivity per column. (I argue for the opposite and making it global)

I have yet to see a believable use case that does not seem completely fabricated. But then again, I do not interface with customers so my

[2017-07-14 09:12] ioggstream commented on #15563
@bzwei which is the miq code in charge for calling the stack?

[2017-07-14 11:28] djberg96 commented on #11544
Closing this for now, as we have some similar discussions already on the Azure provider repo.

[2017-07-14 11:28] #11544 closed

[2017-07-14 11:50] himdel opened #15569 "API 500 - undefined method `all' for nil:NilClass for OpenStack network manager cloud_tenants"
I have 2 OpenStack network managers. For one, `.cloud_tenants` returns a collection of 5 items, for the other `.cloud_tenants` returns `nil`.

Looks like the API can't handle network managers without cloud tenants...

`GET http://localhost:3000/api/providers/10000000000016/cloud_tenants`

[code]

(`GET http://localhost:3000/api/providers/10000000000016/` works, and returns  `ManageIQ::Providers::O

[2017-07-14 11:54] himdel commented on #15569
From `log/api.log`...

[code]

[2017-07-14 13:02] lpichler commented on #6739
@djberg96 basically, this issue has been finished, in addition we stop using good-migrations gem,
closing, thanks

[2017-07-14 13:02] #6739 closed

[2017-07-14 13:15] bzwei commented on #15563
@ioggstream https://github.com/ManageIQ/manageiq-providers-openstack/blob/master/app/models/manageiq/providers/openstack/cloud_manager/orchestration_stack.rb#L4
[code]
It uses fog gem to create stack

[2017-07-14 13:43] ioggstream commented on #15563
@bzwei how can we get the fog gem?

[2017-07-14 13:52] djberg96 commented on #1404
@Fryguy @jerryk55 https://github.com/ManageIQ/manageiq-gems-pending/pull/239

[2017-07-14 23:20] ioggstream commented on #15563
@bzwei here's a stub of file gathering. It's my first ruby code... @suuuper  shouldn' t be hard to make it work for http resources too. .https://gist.github.com/ioggstream/bedea98dc53aa61b0ebd48cd1bb73486

[2017-07-15 05:19] aufi commented on #3400
@miq-bot move_issue manageiq-providers-openstack

[2017-07-15 05:20] #3400 closed

[2017-07-15 07:36] #7384 closed

[2017-07-15 07:37] #6454 closed

[2017-07-15 07:37] #1086 closed

[2017-07-17 12:49] vivobg commented on #12440
Replacing lines 48-49 with
[code]
worked for me.

[2017-07-17 13:34] bzwei commented on #15563
@ioggstream Thanks for all the findings. We now have sufficient information to fix the problem, just need to find a time.

[2017-07-17 14:22] djberg96 commented on #1404
@Fryguy Since the remaining references to this are in the smartstate repo, can you please reassign this to Jerry or Rich?

[2017-07-17 15:50] Fryguy commented on #1404
Done @djberg96 .  Thanks for the PR!

[2017-07-17 15:56] Fryguy commented on #6991
I happened to be discussing something similar with @roliveri the other day, and the one important use case for GUID is for when multiple ManageIQ instances may be speaking to the same provider.  For example, if you have multiple ManageIQ's pointing to Amazon (like 2 developers), the GUID can be used in an Amazon tag to identify which of the ManageIQ's is which (by using, say, ExtManagementSystem#g

[2017-07-17 17:58] #1272 closed

[2017-07-17 19:18] Fryguy commented on #15541
@jrafanie is already working on this I believe, so assigning to him.

[2017-07-17 19:20] Fryguy commented on #15183
@agrare Should this go into ManageIQ/guides or in the vmware_web_service gem?

[2017-07-18 12:46] skateman commented on #13798
@pyther can we close this?

[2017-07-18 12:57] skateman commented on #10333
@jrafanie I don't know that much about this, but AC is blocking the connection using the LISTEN command and it's possible that it's not going fully through AR (i.e. it leverages the credentials but nothing more). Due to the socket hijacking AC is quite isolated from Puma, I'm not sure how much, but it's possible that it needs its own. The one thing I'm sure about is that these are persistent as th

[2017-07-18 13:21] djberg96 commented on #522
@chessbyte @Fryguy @jrafanie Hasn't this happened already?

[2017-07-18 13:33] jerryk55 commented on #1404
@Fryguy @djberg96 @roliveri https://github.com/ManageIQ/manageiq-smartstate/pull/15

[2017-07-18 14:09] #522 closed

[2017-07-18 14:47] agrare commented on #15183
@Fryguy this was just to help with discussions around splitting the broker up into different layers, but it could be good documentation as well.  I'll move it to the vmware_web_service gem.

[2017-07-18 14:57] ioggstream commented on #15563
@bzwei as we're on cloudforms is there an easy way to apply the patch once you release it?

[2017-07-18 15:39] bzwei commented on #15563
@ioggstream Is this an urgent issue? We don't have the capacity to fix the problem right now, likely until September.
I also see template having `get_file` is an embedded template. If we scan the master template we will not find these files.

[2017-07-18 17:00] mansam commented on #12440
Thanks for the feedback, @vivobg. Hi @deepakhajare and
psachin, did you have any luck with that work around?

[2017-07-18 19:21] #15183 closed

[2017-07-18 21:45] leclaist opened #15599 "Assigning group to EvmRole-super_administrator does not allow users with current group to see all VMs/templates"
I'm seeing this issue in fine-2.

To recreate:

1. Set a group you have created to the role EvmRole-super_administrator.
2. Log in as a member of this group and set the group to current group.
3. Go to 'View all VMs' view. No VMs outside the group are visible.

[2017-07-18 22:21] ioggstream commented on #15563
@bzwei afaik a cloudforms' case have been open on that -

This updated snippet - very simple and without proper error handling - should resolve `get_file` in  nested templates https://gist.github.com/ioggstream/bedea98dc53aa61b0ebd48cd1bb73486

[2017-07-19 11:17] psachin commented on #12440
@mansam nope.

[2017-07-19 13:06] djberg96 commented on #527
@blomquisg is this still relevant?

https://github.com/ManageIQ/manageiq-providers-vmware/blob/774c48510e06c093b9366cd848d9bcecf4a885d1/app/models/manageiq/providers/vmware/infra_manager/vm/reconfigure.rb#L57-L58

[2017-07-19 14:21] #519 closed

[2017-07-19 16:35] meng-tian opened #15609 "Docker container only works in an ephemeral fashion"
I noticed the Dockerfile has `VOLUME [ "/var/opt/rh/rh-postgresql95/lib/pgsql/data" ]`, so I mounted a host directory to this volume to persist the data.

However, recreating a container with the same host directory mounted will bring a broken container.

Steps to reproduce the issue:
[code]

Is the Docker container design here take persistent into consideration?

[2017-07-20 12:57] lpichler opened #15617 "bundle update error"
[code]

[2017-07-20 13:32] lpichler commented on #15617
temporal  workaround, comment out `google-api-client` gem
[code]

[2017-07-21 00:43] #15434 closed

[2017-07-21 09:43] Amorjane opened #15625 "[SmartStateAnalysis] Invalid byte sequence in UTF-8"
Hi,

We are  running ManageIQ fine2 on a vmware 6. environment and we are facing Invalid byte sequence in UTF-8 issue when we perform a smartstate analysis on a french localized Windows 2012 Vms

Regards

[2017-07-21 14:16] Jiri-Kremser opened #15628 "Provider generator creates broken link on readme.md"
based on https://github.com/ManageIQ/manageiq-providers-hawkular/pull/29#pullrequestreview-50953972

example of the readme file:
https://github.com/ManageIQ/manageiq-providers-hawkular/blob/master/README.md

[2017-07-21 18:57] djberg96 commented on #15068
@jdeubel Please close if you are happy with ManageIQ/manageiq-providers-azure#76

[2017-07-21 22:02] mansam commented on #12440
I've put together a pull request that I believe may solve the problem, though I haven't been able to reproduce the exact circumstances. https://github.com/ManageIQ/manageiq-providers-openstack/pull/69

[2017-07-22 06:23] skateman commented on #2451
Ugh, just close this PR, it's done! :wink:

[2017-07-22 20:48] serenamarie125 commented on #8111
@abonas I do have some suggestions around this.  let me create a mockup after the initial UX workshop is completed!

[2017-07-24 09:18] #5559 closed

[2017-07-24 11:59] RMCJIB opened #15637 "Euwe API: Collections with offset argument give different results for admin and tenant users."
When invoked as tenant user, the Templates and VMs collection API calls do not properly slide over the collection (i.e. start at the given offset), unless you explicitly  pass the limit argument.

If you omit the limit argument, you will get the whole collection. This is different from the admin behavior, and an error.

[2017-07-24 12:22] RMCJIB opened #15638 "Euwe API: tenant call on collection APIs fails with too high offset value in combination with limit"
If a tenant user queries a collection API, with

- the _offset_ argument with a value larger than the actual number of elements in the collection, and also
- with any _limit_ argument, e.g. as in:
**{{url}}/api/templates?offset=244&limit=1**
then ManageIQ gives the following error response
[code]

Fragment of the api.log file:
[code]

Note: if you omit the _limit_ argument, the full collection wil

[2017-07-24 13:24] carbonin commented on #6230
This should actually be resolved now, we symlink our log directory to `/var/log/manageiq` which has more space.

https://github.com/ManageIQ/manageiq-appliance-build/pull/159

[2017-07-24 13:24] #6230 closed

[2017-07-24 15:29] lfu opened #15641 "Refactor container classes to its provider directory"
Based on https://github.com/ManageIQ/manageiq-schema/pull/35#issuecomment-317247206,
these classes should be refactored.

- ContainerBuild
- ContainerBuildPod
- ContainerDeployment
- ContainerRoute
- ContainerImage

[2017-07-24 17:41] #2451 closed

[2017-07-24 21:22] #7803 closed

[2017-07-25 14:33] lpichler commented on #15617
@carbonin I am still getting error on master without this change(after bundle update)
[code]
are we going to add it to master too?

[2017-07-25 14:38] himdel commented on #15617
Still broken for me as well, with clean `Gemfile.lock` and bundler 1.14.3...

My workaround is..

[code]

[2017-07-25 14:59] carbonin commented on #15617
I'm sorry, but this must be you're environment.

I just did a fresh clone of the repo and could bundle without issue:

[code]

Additionally travis is resolving dependencies on master, which is as clean of an environment as we have.
For what it's worth I'm on bundler `1.15.3`

[2017-07-25 15:01] #15617 closed

[2017-07-25 15:03] lpichler commented on #15617
@carbonin I updated the bundler to `1.15.3` and it works thanks!!!

[2017-07-25 15:31] himdel commented on #15617
Same here, `1.15.3` works :).

Also, wow, it now resolves ui-classic to an absolute path, not relative in gemfile.lock :+1: :)

[2017-07-26 10:07] abonas commented on #8244
nothing changed and I think this is still relevant
@serenamarie125 perhaps this can be added to UX improvements? sounds like a basic capability

[2017-07-26 10:07] abonas commented on #8244
@miq-bot remove_label stale

[2017-07-26 10:18] abonas commented on #8017
@martinpovolny I see this is marked as stale - can we revive it? was there any change regarding this?

[2017-07-26 21:12] #8474 closed

[2017-07-26 21:14] Fryguy commented on #844
with_const is gone

[2017-07-26 21:14] #844 closed

[2017-07-26 21:14] Fryguy commented on #525
This is complete.

[2017-07-26 21:14] #525 closed

[2017-07-27 13:44] bzwei commented on #15563
@ioggstream Is there a link to the CloudForms' case? We also need a bugzilla RFE to track the work.

[2017-07-27 14:24] jrafanie commented on #592
Most of this is solved by bundler groups on master

[2017-07-27 14:24] #592 closed

[2017-07-27 14:24] #540 closed, assigned to jrafanie

[2017-07-27 15:57] mhalaslenovo opened #15670 "Embedded Ansible cannot be activated in MiQ"
When I activate the embedded Ansible by going to into Configuration and turning on the Embedded Ansible switch, the only think I get is periodic message "The role Embedded Ansible has started activation on server EVM " but the activation doesn't seem to ever complete. The evm.log shows some errors below.

It seems the two directories the error messages refer to do not exist

[root@localhost log]#

[2017-07-28 07:02] shuviru219 opened #15673 "Not able to add any provider"
I have install manageiq from dockerfile , and i am not getting option to add cloud or any  provider .
I am login as admin .
Also not getting option for adding user.

![image](https://user-images.githubusercontent.com/16682295/28706194-cc808a2c-7390-11e7-9991-8fa57490a1e6.png)

[2017-07-28 09:06] skateman commented on #14244
@bdunne is there a problem in putting the error pages & logo into the httpd container?

[2017-07-28 12:42] carbonin commented on #14244
@skateman I'm not sure of the state of this discussion, but I don't think we have a productization strategy for containers (other than the miq app one). So while I think the apache container is where the static assets probably belong, I'm not sure productizing them is something we can do yet.

@Fryguy + @bdunne keep me honest if I'm missing some detail here.

[2017-07-28 13:18] bdunne commented on #14244
I've been trying to remove as much as possible from the httpd container.  Soon I hope its only purpose is to handle authentication.  Is there an issue with the rails server serving the error pages, or at least the images for them?

Another thing to keep in mind is not only productization, but customer skinning of the app as well.  It may look foreign to users to see a ManageIQ logo on an error pag

[2017-07-28 18:04] skateman commented on #14244
I already came up with a [conditional rewrite](https://github.com/ManageIQ/manageiq/issues/14244#issuecomment-299133233) that can be used for the skinning too.

[2017-07-31 09:03] lmiccini commented on #15563
@bzwei https://bugzilla.redhat.com/show_bug.cgi?id=1471948 , case is linked to the BZ.

[2017-07-31 13:22] #7751 closed

[2017-08-01 15:24] arnikasky opened #15700 "Problem with seeding"
Hi, All
We have three regions in out environment. And we faced with problems, when started servers - with seeding MigGroup.
Can you please check region of record too?
Attached logs.

Best Regards,
Hanna Novikava
[logs.txt](https://github.com/ManageIQ/manageiq/files/1191066/logs.txt)

[2017-08-01 19:53] gbaufake opened #15703 "ManageIQ Docker Latest doesn't work on RHEL 7.4 Atomic"
## Environment

`[root@manage-iq-1 cloud-user]# cat /etc/*-release`

VERSION="7.4.0"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Atomic Host"
VARIANT_ID=atomic.host
VERSION_ID="7.4"
PRETTY_NAME="Red Hat Enterprise Linux Atomic Host 7.4.0"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:7.4:GA:atomic-host"
HOME_URL="https://www.redhat.com/"
BUG_REPORT_URL="https://bugzilla.redhat.com/"
REDHAT_BU

[2017-08-02 12:39] romanblanco opened #15709 "Error: ImportFileUpload expired while uploading service dialog"
I'm getting `Error: ImportFileUpload expired` while trying to upload YAML file with service dialog:

![screencast from 2017-08-02 14-33-04](https://user-images.githubusercontent.com/1187051/28873853-97e47366-778f-11e7-8f11-3f817cba8c87.gif)

I'm not getting any error messages in console log.

[2017-08-02 16:06] bdunne commented on #14244
Will the rails server do the rewrite?

[2017-08-02 16:37] cwpenhale opened #15712 "Error retrieving fields for some report templates in fine-2"
**Per discussion here:** [Gitter](https://gitter.im/ManageIQ/manageiq?at=5981f826210ac2692049fd49)
**Steps for reproduction in video here:** [YouTube](https://youtu.be/lnIEBhxjIH8)
**Representative logs here:** [Gist](https://gist.github.com/cwpenhale/d1b98fc8aec99d0d94f9126c83a58d17)

**Environment:** I've got a deployment of ManageIQ that I've deployed on OpenStack as a VM. Modifications i've ma

[2017-08-02 16:46] lpichler commented on #15712
@lpichler

[2017-08-02 16:58] dclarizio commented on #4883
@abonas @jonnyfiveiq so I just got notified of this and I realize it is old, so I took a look and things have changed a bit, though the original text is still present.

So, we can now have multiple credentials and the status of the authentication is shown for each:
![provider status](https://user-images.githubusercontent.com/3433754/28884923-b5f714e8-7768-11e7-8f38-d7a8c0bc8f5b.png)

The text for

[2017-08-02 17:21] gmcculloug commented on #15709
@eclarizio Can you work with @romanblanco to try to track this one down.

@romanblanco Are you running `simulate_queue_worker`?  I believe we still queue the delete of the imported data using `deliver_on` column of the MiqQueue model which `simulate_queue_worker` ignores.

Are there any errors in the evm.log?

[2017-08-02 17:48] carbonin commented on #15670
This thread has some more information on how to set up embedded ansible in ManageIQ http://talk.manageiq.org/t/howto-setup-embedded-ansible/2291

[2017-08-02 18:24] eclarizio commented on #15709
Yeah I believe I've seen this error before as the `simulate_queue_worker` immediately executes the deletion of the imported data, which causes the "file expired" error. If you're not running `simulate_queue_worker` then something else must be consuming that item in the queue immediately.

[2017-08-02 20:25] gtanzillo commented on #15673
@simaishi Any thoughts on this? Could it be that deploying with docker is causing some of the assets to be missing or something like that? Seems pretty strange that it's missing just the button, though.

[2017-08-02 20:43] simaishi commented on #15673
I just pulled manageiq/manageiq:latest and I see the buttons without any problem.  @shuviru219 which build are you running?

[2017-08-03 07:12] skateman commented on #14244
@bdunne it's kinda strange to serve the assets with rails in general, but it's possible with a conditional in the `config/routes.rb`.

[2017-08-03 11:21] romanblanco commented on #15709
I'm running `simulate_queue_worker`, after uploading the YAML, the worker log shows:

[code]

After commiting import, nothing happens in the log, just the flash message appears

![screencast from 2017-08-03 13-17-42](https://user-images.githubusercontent.com/1187051/28919554-4874f2a0-784e-11e7-9ce7-418eec159c7a.gif)

[2017-08-03 12:15] gmcculloug commented on #15709
Try the import **without** running `simulate_queue_worker`.  What I was mentioning above is that `simulate_queue_worker` will delete the imported data before it can be processed since it does not honor the `deliver_on` queue field.

[2017-08-03 12:28] romanblanco commented on #15709
@gmcculloug I see, sorry didn't understood.

Without `simulate_queue_worker` it works fine, no error in `evm.log`, only:

[code]

With `simulate_queue_worker` running, I'm getting:

[code]

in the `evm.log`

[2017-08-03 12:39] gmcculloug commented on #15709
Correct, it is working as designed and this issue can be closed.

[2017-08-03 14:42] romanblanco commented on #15709
Thanks @gmcculloug @eclarizio

[2017-08-03 14:42] #15709 closed

[2017-08-04 13:48] shuviru219 commented on #15673
I used
docker build -t manageiq/manageiq .

[2017-08-04 18:19] shanethiessen opened #15733 "Azure Canadian regions not working"
Adding an Azure provider with the region set to "Canada Central" or "Canada East" doesn't gather the instances and images that have been provisioned. It does correctly pull data for Flavors, Security Groups, etc...

It works without issue if the region is set to US West.

[2017-08-06 12:36] abonas commented on #4883
sounds good to me. cc @serenamarie125

[2017-08-06 23:54] robbmanes commented on #15733
Seems reproducible.  Created two resource groups with two images:
[code]

Added an application key with total owner privleges in role-based-access on the subscription:
[code]
Using docker in my case:
[code]
![canada-east](https://user-images.githubusercontent.com/1643161/29008210-ed9ffc86-7ae0-11e7-8d5c-58acc4c41c70.png)

![canada-west](https://user-images.githubusercontent.com/1643161/29008213-f2

[2017-08-07 07:46] Yadnyawalkya opened #15742 "Inconsistency between filled name and name in accordion of Provision Dialogs"
**Description of problem:**
Inconsistency between filled dialog name and added dialog name in accordion of Provision Dialogs

**Version-Release number of selected component:**
master.20170807025211_280e5ad
fine-3.20170803083046_09b4f87 (also checked on this)

**How reproducible:**
100% (Always)

**Steps to Reproduce:**
1. Navigate to _Automation_ -> _Automate_ -> _Customization_
2. Add new dialog

[2017-08-07 08:17] martinpovolny commented on #14244
@bdunne, @Fryguy, @carbonin : we really don't want to have Rails serve the assets. That's a step in the wrong direction for the UI.

This is a decision that has a significant impact on the UI and we need to be part of the discussion on this.

If you guys decide to have a separate httpd to do the auth, keep it slim etc. and move the assets out of that container, we would have to reintroduce Apache

[2017-08-07 08:41] Yadnyawalkya commented on #15742
**Second Note:**
This page title should also have correct name

![dialog_name_label](http://i.imgur.com/Ur4Xhzf.png)

[2017-08-07 11:59] Yadnyawalkya opened #15743 "Duplication of namespace/class/instance after copied it for third time"
**Description of problem:**
When you copy any namespace/class/instance for third time, second added thing get duplicated

**Version-Release:**
fine-3.20170803083046_09b4f87

**How reproducible:**
100% (Always)

**Steps to Reproduce:**
1. Navigate to _Automation_ -> _Automate_ -> _Explorer_
2. Add `Instance1` by adding `Domain` -> `Namespace` -> `Class`
3. Select `Instance1`, copy it and rename cop

[2017-08-07 13:26] jdeubel commented on #15068
@djberg96  This looks good closing...

[2017-08-07 13:26] #15068 closed

[2017-08-07 15:20] himdel opened #15745 "EmsRefresh::Refreshers::EmsRefresherMixin::PartialRefreshError: ManageIQ::Providers::AnsibleTower::Shared::AutomationManager::AzureClassicCredential is not a subclass of ManageIQ::Providers::EmbeddedAnsible::AutomationManager::Credential"
Running `EmsRefresh.refresh(provider.managers.first)` (when `provider` is the Embedded Ansible provider at least), I get a ..surprising exception :)...

[code]

[2017-08-07 16:24] tjyang opened #15748 "Command ["bundle exec rake update:ui"] failed in /var/www/miq/vmdb"
Hi
I was able to use following one-liner upgrade script to bring miq02 up-to-date weekly.

* But not this monday anymore, I got following error message this time.

[code]

*  current git version

[code]

[2017-08-07 16:32] NickLaMuro commented on #15748
@himdel @martinpovolny This seems related to:

https://github.com/ManageIQ/manageiq-ui-classic/pull/1132

I am taking a look, but wouldn't mind if you know what the problem might be.

[2017-08-07 16:46] NickLaMuro commented on #15748
Okay, so I think I understand how this got passed the code review, and is failing for everyone else:

When testing https://github.com/ManageIQ/manageiq-ui-classic/pull/1132, this was probably tested in `manageiq` using `override_gem`, in which most involved probably tested this using their local copy of `manageiq-ui-classic`.  This unfortunately fails when using this checked out through a git gem

[2017-08-07 17:00] NickLaMuro commented on #15748
Might have a quick online fix we can do in `manageiq`... give me a few

[2017-08-07 17:24] NickLaMuro commented on #15748
This will take more time unfortunately...

For now, if you are on a development machine, the best course of action would be to do the following:

1.  Follow the [development setup](https://github.com/ManageIQ/manageiq-ui-classic#development-setup) for `manageiq-ui-classic` and get that up locally
  - you will have to do a `bin/setup` from the project for this to work, specifically making sure [thi

[2017-08-07 20:31] djberg96 commented on #15733
I suspect this is the same issue that the India regions had. For some reason Azure did not lowercase their region names, and that messed up the parser.

I've put in a fix and some specs at https://github.com/ManageIQ/manageiq-providers-azure/pull/99.

[2017-08-07 20:38] djberg96 commented on #530
@jrafanie Now that we're on Rails 5 and rspec 3, still relevant?

[2017-08-07 20:38] #121 closed

[2017-08-07 20:39] djberg96 commented on #740
@jrafanie Is this still a relevant issue?

[2017-08-07 20:40] djberg96 commented on #1404
@Fryguy I think we can close this one.

[2017-08-07 21:56] mkoura opened #15754 "API: specifying attributes to return doesn't work for "id" and "href""
E.g.
[code]
Response: all available attributes are returned. This happens for all collections.

When running the same request on e.g. CFME 5.8.1.5, only `id` and `href` attributes are returned

[2017-08-08 01:22] gbaufake opened #15756 "Events don't show on Middleware Provider Timeline"
## Description

Hello,

I've been trying to see Middleware Providers Events on Timeline and I couldn't see any. Although everything seems to be fine on Hawkular Services side. Group triggers, Group member, Events are being generated fine and connection between the MIQ and Provider seems to be fine as well.

## Environment

- ManageIQ Docker instance using `docker:latest`
- Hawkular Services instan

[2017-08-08 01:47] NickLaMuro commented on #15748
Proposed fix: https://github.com/ManageIQ/manageiq-ui-classic/pull/1849

Waiting on review and merge.

[2017-08-08 08:56] vkochan opened #15758 "Error message after first start: "We're sorry, but something went wrong.""
Hi All,

After first time installing ManageIQ I got this UI error after I entered 127.0.0.1:3000 URL.
But I did not find any error logs in log/ folder.

I used "bin/rake evm:start" command.

So, would someone help how to debug it or solve ?

Thanks,

[2017-08-08 12:46] mattmahoneyrh opened #15759 "Middleware Manager - Summary Views no longer provide Downloads links"
Middleware Manager Summary views for Providers, Domains, Servers, Deployments, Datasources, Messagings  no longer provide Downloads links (Downloads links are missing).

MIQ version tested: master.20170807204758_

[2017-08-08 12:49] himdel commented on #15748
^ PR merged..

@miq-bot close_issue

[2017-08-08 12:50] #15748 closed

[2017-08-08 13:16] tjyang commented on #15748
Hi

Following is test result  after the fix got merged.
Hoping the fix can make "bin/update" run without any error message.
I will look into @NickLaMuro PR to see if I  can fix it myself.

[code]

[2017-08-08 13:19] yrudman commented on #6875
@miq-bot assign @yrudman

[2017-08-08 13:19] himdel commented on #15748
@tjyang Ah, you're right, I missed that, sorry :) ..

I can reproduce locally, running `rake assets:precompile` from `manageiq/` breaks with that message now.

(That's because assets:precompile needs to run webpack;compile first, and that needs to happen in the ui-classic directory.)  Looking for a fix too...

[2017-08-08 13:21] himdel commented on #15748
Aaaah... this happens because now we're including the webpacker tasks from manageiq as well.. I knew it wouldn't be this easy :).

[2017-08-08 13:22] himdel commented on #15748
(So.. `webpack:compile` is just fine.. but `webpacker:compile` is not .. and loading those tasks injects webpacker:compile here.)

[2017-08-08 13:22] yrudman commented on #6875
@miq-bot close_issue

[2017-08-08 13:23] #6875 closed

[2017-08-08 13:32] tjyang commented on #15748
I am not familiar with ruby but I did following with much understanding.

*  I googled and tracked down to this https://github.com/rails/webpacker/issues/379
*  Run this "rails webpacker:install" and bin/update again
* Here is successful bin/update log
[code]

[2017-08-08 13:32] himdel commented on #15748
..fixing this in https://github.com/rails/webpacker/pull/622

[2017-08-08 13:33] himdel commented on #15748
@tjyang Unfortunately that's the wrong solution, we need webpacker to live in the UI repo, not in manageiq itself..

[2017-08-08 13:34] tjyang commented on #15748
@himdel , Sorry I jumped the gun. How can I undo my wrong doing ?

[2017-08-08 13:39] tjyang commented on #15748
@himdel , never mind my last question. I reversed my miq02 VM back to status before "rails webpacker:install " was executed.

[2017-08-08 13:47] robbmanes commented on #15733
Yep, pulled latest Azure provider gem and it resolved the problem:
![working_canada](https://user-images.githubusercontent.com/1643161/29074791-84622b06-7c1e-11e7-8363-b38425551a74.png)

[2017-08-08 13:47] skondkar opened #15764 "Middleware Manager - Middleware Messagings Monitoring->Utilization view shows - Unexpected error encountered"
When navigated to Middleware->Messagings->JMS Queue or JMS Topic summary page, clicking on Monitoring->Utilization shows 'Unexpected error encountered' in UI and shows error text as below:

Error text:
No such file or directory @ rb_sysopen - /var/www/miq/vmdb/product/charts/layouts/hourly_perf_charts/ManageIQ_Providers_Hawkular_MiddlewareManager_MiddlewareMessaging_jms_queue.yaml [middleware_mess

[2017-08-08 13:51] tjyang commented on #15748
@himdel , please let me know when I can try "bin/update" again. Thanks.

[2017-08-08 14:04] skondkar opened #15765 "Middleare Manager - Advanced search: Search Filter is not created after saving and applying the advanced search option"
Using below steps to create advanced search does not create the search filter in Middleware entity
Please refer the attached screenshot.

MIQ version: Version master.20170808074803_

Steps:

-Login to MIQ
-Navigate to the Middleware->Providers
-Select Field from the first dropdown
-Select 'Middleware Provider : Name  from the second dropdown
-In the 'input the value' text box, enter the name of ha

[2017-08-08 14:16] himdel commented on #15748
@tjyang Will do, thanks :).

Feel free to re-open this issue in the mean time..

[2017-08-08 14:36] tjyang commented on #15748
@himdel , I can't find the place for me to re-open this issue.

[2017-08-08 14:39] himdel commented on #15748
@tjyang Ok, never mind then..

Anyway, we do have a temporary fix... https://github.com/ManageIQ/manageiq-ui-classic/pull/1859 + https://github.com/ManageIQ/manageiq/pull/15766 .

Will let you know when merged :)

[2017-08-08 14:51] cben commented on #14446
- [ ] Ruby 2.4 leaks memory https://bugs.ruby-lang.org/issues/13772. Patched on ruby master.
  - [ ] This was impacting rest-client ("basically broken"), worked around in https://github.com/rest-client/rest-client/pull/615 but we're currently on older rest-client version.

I propose waiting for next Ruby release before using it in production builds.  Not a problem on Travis and not a blocker to dr

[2017-08-08 16:47] djberg96 commented on #15733
@robbmanes Great!

[2017-08-08 21:41] gbaufake commented on #15756
@israel-hdez, @jshaughn

This is a "summary" of what we saw on the test run.
Best Regards,
Guilherme Baufaker Rêgo

[2017-08-09 07:46] lolaswift opened #15771 "EvmRole-auditor and EvmRole-Security can perform actions on VMs"
According to the documentation, this shouldn't happen. However, if you create a user and give the user either EvmRole-auditor or EvmRole-Security role, the user can power on / poweroff, restart, etc VMs.

[2017-08-09 10:58] abonas commented on #15756
@miq-bot add_label providers/hawkular

[2017-08-09 10:58] abonas commented on #15759
@miq-bot add_label providers/hawkular

[2017-08-09 10:58] abonas commented on #15764
@miq-bot add_label providers/hawkular

[2017-08-09 11:17] vatsalparekh opened #15772 "VM Search option"
I'm trying to search a VM from Infra->VM, after trying to search, it is showing me all the VMs instead of searched VM, or a error if it didn't find one.
Version master.20170809060108_280e5ad

[2017-08-09 11:21] cben commented on #15013
1. I'd imagine that sometimes a buggy/overbroad vulnerability definition can be relaxed / made more specific?
And certainly the opposite is possible — a compliant image might become non-compliant with newer  definitions.

2. Whether ManageIQ sets allow/deny depends not only on scan results but also on ManageIQ policies.
E.g. if I have policy annotating "deny" on Medium+ openscap severity, then I c

[2017-08-09 11:45] vatsalparekh opened #15773 "Web Console not opening"
I tried to provision a fresh VM, install Cockpit on it, and clicked Web Console button, even though I allowed it with 'allow pop-ups', it is not opening the Cockpit in the new page.
Version master.20170809060108_280e5ad

[2017-08-09 11:59] abonas commented on #15759
I think this issue belongs more to the ui repo -  @karelhala ?

[2017-08-09 12:14] karelhala commented on #15759
@abonas yes, that is correct. However is this really an issue? I can see on all given screens that there is button for download. However you have to be at screen with multiple entities, it does not make sense to download one provider and MiQ does not allow to download summary view informations.

[2017-08-09 12:17] abonas commented on #15759
from @mattmahoneyrh description it sounded like a regression. also without a screenshot a bit hard to understand the exact expected location of this bug. @mattmahoneyrh ?

[2017-08-09 12:18] abonas commented on #15756
@miq-bot add_label events

[2017-08-09 12:24] abonas commented on #15764
this too belongs in the ui repo. cc @karelhala @mtho11

[2017-08-09 12:24] abonas commented on #15764
@miq-bot add_label bug

[2017-08-09 12:52] moolitayer commented on #15013
I found this answer:
https://github.com/ManageIQ/manageiq/issues/15013#issuecomment-302082478

I think it is to safest to assume both

I see the discussion on this one moved to the PR

[2017-08-09 13:21] dclarizio commented on #15673
@martinpovolny any idea why he might not be seeing the toolbars?

[2017-08-09 13:51] skondkar commented on #15765
@miq-bot add_label providers/hawkular

[2017-08-09 19:59] gbaufake opened #15781 "Deletion of Middleware Provider from the ManageIQ Database is not working"
I was trying to delete a middleware provider on ManageIQ from the inventory. The info `Delete initiated for 1 Middleware Provider from the ManageIQ Database` show but the provider stills on the inventory.

Environment:
`docker:latest`

Sample Screen:
![image](https://user-images.githubusercontent.com/2313749/29141302-04a0f22e-7d24-11e7-9515-580bd01c3228.png)

[2017-08-09 19:59] gbaufake commented on #15781
@abonas

[2017-08-09 20:03] #15781 closed

[2017-08-09 20:10] mattmahoneyrh commented on #15759
![cfme - download button](https://user-images.githubusercontent.com/7262987/29141625-f773f846-7d1c-11e7-9c4d-4c1ee017646e.png)
![miq - no download button](https://user-images.githubusercontent.com/7262987/29141626-f7740cfa-7d1c-11e7-9995-8e05b0fdfbb4.png)

[2017-08-10 10:01] abonas commented on #15759
@miq-bot move_issue manageiq-ui-classic

[2017-08-10 10:01] #15759 closed

[2017-08-10 10:43] abonas commented on #15764
@miq-bot move_issue manageiq-ui-classic

[2017-08-10 10:44] #15764 closed

[2017-08-10 11:04] abonas commented on #15765
@miq-bot move_issue manageiq-ui-classic

[2017-08-10 11:05] #15765 closed

[2017-08-10 11:58] tjyang commented on #15748
@himdel , when can I try "bin/update" ?

[2017-08-10 12:46] abonas commented on #15756
@cfcosta please investigate
if needed, the issue can be moved to the hawkular provider repo
@miq-bot assign @cfcosta

[2017-08-10 12:48] cfcosta commented on #15756
@abonas on it.

[2017-08-10 14:30] bronaghs commented on #15733
@robbmanes - Can you  close this issue - thank you.

[2017-08-10 15:13] jameswnl commented on #15745
The fix https://github.com/ManageIQ/manageiq/pull/15770 was merged already. try again.

[2017-08-10 15:20] himdel commented on #15745
Thanks @jameswnl , that fixed it :)

[2017-08-10 15:20] #15745 closed

[2017-08-10 15:23] gmcculloug commented on #15742
@dclarizio Can you have someone take a look, seems we reference the dialog name in some cases and the description in others.  Note: Description is a required field so it should always be populated.

[2017-08-10 17:40] #740 closed

[2017-08-10 17:48] jrafanie commented on #530
Closed by #12122

[2017-08-10 17:48] #530 closed

[2017-08-11 14:28] gbaufake commented on #15756
@cfcosta
I've found this on the middleware log:
` [2017-08-10T22:32:54.200273 #906:2ae4f7cc0388]  WARN -- : EMS_1(Hawkull
ar::EventCatcher::Stream) Error capturing events com.datastax.driver.core.exceptt
ions.NoHostAvailableException: All host(s) tried for query failed (tried: myCasss
andra/172.17.0.2:9042 (com.datastax.driver.core.exceptions.BusyPoolException: [mm
yCassandra/172.17.0.2] Pool is b

[2017-08-11 21:00] jshaughn commented on #15756
I would be surprised if there was an actual issue in the event catcher, it has not changed in a while.  I also doubt a problem in the timeline, which also has not changed to my knowledge.  If you have confirmed that the events are generated in hAlerts, and tagged properly (they looked fine when we looked at this earlier this week) then the problem lies in the physical fetch from hAlerts.  Either t

[2017-08-13 08:23] abonas commented on #8919
@karelhala @martinpovolny this isn't really stale, right?

[2017-08-13 08:23] abonas commented on #9394
@serenamarie125 ?

[2017-08-13 08:25] abonas commented on #9201
@dclarizio @AparnaKarve any news on this?

[2017-08-13 22:40] tjyang commented on #15773
Hi @vatsalparekh

Thanks for reporting this issue, I am testing out miq also. I have two miq instances, stable one running fine-3 and up-to-date one running master branch.

I was able to open a  webconsole on a CentOS 7 VM connected to miq fine-3.
But not on a miq instance running master.20170811094240_5bf92a4 .

[2017-08-13 22:46] tjyang commented on #15772
Hi @vatsalparekh

The search function is not broken on Fine-3 miq instance. I am able to bring up a list of VMs with regular expression search string.

For master branch miq instance, The search is not working as you reported.

[2017-08-14 09:28] akarol opened #15801 "Blank flash message when trying to cancel the policy assignment for vm or template"
Version:
master.20170813013530_81d444b

Steps:
1. Navigate to Compute->infrastructure->Virtual machines and select any vm or template.
2. From configuration click on policy->Manage policies
3. Click on cancel button

See attached screenshot:
![screenshot from 2017-08-14 14-51-58](https://user-images.githubusercontent.com/986028/29265982-aa3ae3fe-8100-11e7-92ad-f5c89c40447b.png)

[2017-08-14 09:37] akarol opened #15802 "Selected item for simulation is not displayed in policy simulation page"
Version:
master.20170813013530_81d444b

Steps:
1.Navigate to Compute->infrastructure->Virtual machines and select any vm or template.
2.From configuration click on policy->policy simulation

Observation:
Selected item is not displayed in policy simulation page. No records found displayed.see attached screenshot
![screenshot from 2017-08-14 15-05-30](https://user-images.githubusercontent.com/986028

[2017-08-14 11:16] sbulage opened #15803 "No icon for Providers"
ManageIQ version: master.20170814030547_81d444b

![selection_034](https://user-images.githubusercontent.com/12134754/29269445-16b13dea-810f-11e7-8f76-50d046a9da94.png)

[2017-08-14 12:21] cben commented on #8572
@simon3z given that componentstatuses are still broken in openshift (always give errors, openshift/origin#3667), @bazulay is asking why do we still collect and store them?
It's cheap, but takes some maintenance effort...
(eg. I've now spent several hours doing vcr cassette archaeology on them...)

[2017-08-14 12:48] akarol opened #15806 "Select All in Configuration VMDB->Settings does not work"
Version:
master.20170813013530_81d444b

Steps:
1.Navigate to configuration->database->VMDB->Settings
2.Click on  select all

Observation:
select all selects only the first item from the table. see attached screenshot.
![screenshot from 2017-08-14 18-16-03](https://user-images.githubusercontent.com/986028/29272269-e9aeab12-811c-11e7-8158-d7c99122fbd9.png)

[2017-08-14 13:09] martinpovolny commented on #8919
We have some "spin offs", but what is written here is done.

[2017-08-14 13:09] #8919 closed

[2017-08-14 13:54] cben commented on #9401
Still happens on master.

[2017-08-14 13:59] #8923 closed

[2017-08-14 14:05] #539 closed

[2017-08-14 14:07] cben commented on #9243
Works correctly on master, both explorer selection, right side title and content update correctly.
Also tested with 2 policies reacting to same event, clicking each all parts update to the correct one, no aliasing.

[2017-08-14 14:07] #9243 closed

[2017-08-14 14:09] cben commented on #9401
@miq-bot remove-label stale

[2017-08-14 14:21] AparnaKarve commented on #9201
@abonas This has been fixed with https://github.com/ManageIQ/manageiq-ui-classic/pull/1335
We can close this issue.

[2017-08-14 14:26] abonas commented on #9201
@AparnaKarve great. I don't have permissions to close this though. and the reporter is no longer active on this project

[2017-08-14 14:39] ammendonca commented on #9201
@abonas I can still close it :) Glad to see it fixed! Thanks

[2017-08-14 14:39] #9201 closed

[2017-08-14 14:44] abonas commented on #9201
@ammendonca glad to see :cake:

[2017-08-14 17:04] linuxboytoo commented on #8929
So we experienced the issue above. The solution for us was to reboot the MIQ appliance and I suspect the startup fixed the database "corruption" it had found. We rebooted the second appliance and it came up fine as well. Things seem to be normal. For us this was caused by our Postgres database rebooting from under the appliances.

[2017-08-14 20:21] dclarizio commented on #15742
@Yadnyawalkya please open a BZ for this and link to this issue .. . Thx, Dan

[2017-08-15 09:45] abonas commented on #10674
can we consider this issue resolved?

[2017-08-15 09:52] Yadnyawalkya commented on #15742
BZ created @dclarizio, https://bugzilla.redhat.com/show_bug.cgi?id=1481637
Have a look !

[2017-08-15 09:53] Yadnyawalkya commented on #15742
BZ created @dclarizio, Please check https://bugzilla.redhat.com/show_bug.cgi?id=1481637

[2017-08-15 14:54] jrafanie commented on #8687
Fixed via https://github.com/rails/rails/commit/c587b636648394e33292ba8ba47d22bdad7446c3

[2017-08-15 14:54] #8687 closed

[2017-08-15 16:05] himdel commented on #9197
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2017-08-15 16:06] #9197 closed

[2017-08-15 16:07] himdel commented on #8809
I'm assuming this is solved now, there are still some issues, but none angular-related it would seem.

[2017-08-15 16:07] #8809 closed

[2017-08-15 16:08] himdel commented on #9440
I guess we can close this with "Don't click the button until it's blue" :)

@miq-bot close_issue

[2017-08-15 17:06] israel-hdez commented on #10674
It's ok for me to mark it as resolved.

[2017-08-15 23:47] tjyang commented on #15803
Hi @sbulage , Please see PR fix in https://github.com/ManageIQ/manageiq-ui-classic/issues/1885 ad resolve this issue if that fix your issue.

[2017-08-15 23:50] tjyang commented on #15772
Hi @gmcculloug.
Do you have idea who can confirm this is a bug and provide a fix ?

[2017-08-16 11:06] sbulage commented on #15803
@tjyang can you please tell which version do I need to check the fix ...?

[2017-08-16 12:50] abonas commented on #10674
@lucasponce if you think it's resolved, please close it

[2017-08-16 12:55] lucasponce commented on #10674
Yes, PR is merged and additional tests added.
Sorry for my delay, I thought this should be closed automatically with the PR.
Closing.

[2017-08-16 12:55] #10674 closed

[2017-08-17 10:55] sbulage opened #15828 "Unable to open "About" page from SSUI."
Appliance version: master.20170814030547_81d444b

[2017-08-17 11:02] sbulage opened #15829 "Unnecessary Pagination bar is present on tag page."
Appliance version: master.20170814030547_81d444b

![selection_038](https://user-images.githubusercontent.com/12134754/29409402-a8ecb7aa-8369-11e7-8cbe-ba144b208e53.png)

[2017-08-17 11:13] vatsalparekh opened #15830 "Flash message can be edited"
Hey,
After creating a VM on a vSphere provider, the success message comes with a URL parameter, and this parameter can be edited easily, and wrong text can be passed, which can cause to administrative problems if one tries to pass wrong message to other.
`show_list?flash_msg=YOU+HAVE+BEEN+HACKED`
Version fine-3.20170803021044_09b4f87

[2017-08-17 11:31] anurag03 opened #15831 "UI: Provider name not aligned in centre when in tile view"
Version no:
Version fine-3.20170817063039_09b4f87

Steps to reproduce
1) Go to Infrastructure Provider Page
2) Switch to Tile View

The name of the infra provider is not aligned and is not shown in centre in Tile view on Infrastructure provider page.

![upstream1](https://user-images.githubusercontent.com/13481465/29410258-525bd95e-833f-11e7-9268-308cdea28d41.png)

Here the name of the infrastruct

[2017-08-17 11:34] vatsalparekh opened #15832 "Search box doesn't clear history"
The search box in the VM/Instance doesn't forget/clear out what we searched before, and click on some other filters. It still shows `All Instances (Names with example) No record found`
We have to explicitly click cancel button beside the search box, and then do a search with the empty box, only then the search query gets cleared.
Version master.20170817072444_fbafc17

[2017-08-17 11:40] anurag03 commented on #15831
Similar issue is found on the Cloud Provider page.

![upstream2](https://user-images.githubusercontent.com/13481465/29410607-c2c57bcc-8340-11e7-8898-b32163f3cbc0.png)

The issue is with the tile view.

[2017-08-17 11:56] vatsalparekh opened #15833 "Provider deletion not happening"
I added a Cloud provider with name `{{4}} $ &*`, rhos7-ga to be specific, and tried to delete it. It shows success flash message, but the provider and its other services are accessible even after 20mins now.
Version master.20170817072444_fbafc17

[2017-08-17 11:58] Yadnyawalkya opened #15834 "Unexpected error encounter while editing tags of cloud_networks from cloud tenant"
**Description of problem:**
Unexpected error is encountering while editing tags of cloud_networks from cloud tenant

**Version:**
fine-3.20170808115538_09b4f87

**How reproducible:**
100% (Always)

**Steps to Reproduce:**
1. Add cloud provider first (Openstack RHOS7-GA recommended)
2. Navigate to Compute -> Cloud -> Tenants
3. Click on 'admin' from 'Cloud Tenants' table
4. Click on 'cloud networks

[2017-08-17 11:58] Yadnyawalkya opened #15835 "Unexpected error encountering in Cloud Object Store Containers of cloud tenant"
**Version:**
fine-3.20170808115538_09b4f87

**Steps to Reproduce:**
1. Add cloud provider first (Openstack RHOS7-GA recommended)
2. Navigate to Compute -> Cloud -> Tenants
3. Click on 'admin' from 'Cloud Tenants' table
4. Click on 'Cloud Object Store Containers' from 'Relationship' table
5. Click on one 'Cloud Object Store Containers' from 'All Images' table
6. From 'Policy' select 'Edit tag'

![S

[2017-08-17 11:59] Yadnyawalkya opened #15836 "Unexpected error encountering in All Security Groups of cloud tenant"
**Version:**
fine-3.20170808115538_09b4f87

**Steps to Reproduce:**
1. Add cloud provider first (Openstack RHOS7-GA recommended)
2. Navigate to Compute -> Cloud -> Tenants
3. Click on 'admin' from 'Cloud Tenants' table
4. Click on 'Security Groups' from 'Relationships' table
5. Select one security_groups from 'All Security Groups' table and click on 'Edit Tags'

![Screenshot](http://i.imgur.com/Yt

[2017-08-17 11:59] Yadnyawalkya opened #15837 "Unexpected error while editing policy of Cloud Subnets"
**Version:**
fine-3.20170808115538_09b4f87

**Steps to Reproduce:**
1. Add cloud provider first (Openstack RHOS7-GA recommended)
2. Navigate to Compute -> Cloud -> Tenants
3. Click on 'admin' from 'Cloud Tenants' table
4. Click on 'Cloud Subnets' from 'Relationship' table
5. Click on one 'Cloud Subnets' from 'All Images' table
6. From 'Policy' select 'Edit tag'

![Screenshot](http://i.imgur.com/P1

[2017-08-17 12:00] Yadnyawalkya opened #15838 "Endpoint page not exist at images option of cloud tenant"
**Version:**
fine-3.20170808115538_09b4f87

**Steps to Reproduce:**
1. Add cloud provider first (Openstack RHOS7-GA recommended)
2. Navigate to Compute -> Cloud -> Tenants
3. Click on 'admin' from 'Cloud Tenants' table
4. Click on Images from 'Relationship' table
5. Click on one image from 'All Images' table
6. From 'Policy' select 'Policy Simulation'
7. Click on 'Show policy details for..'

![Scr

[2017-08-17 12:02] Yadnyawalkya opened #15839 "Unexpected error while deleting network router of cloud tenant"
**Version:**
fine-3.20170808115538_09b4f87

**Steps to Reproduce:**
1. Add cloud provider first (Openstack RHOS7-GA recommended)
2. Navigate to Compute -> Cloud -> Tenants
3. Click on 'admin' from 'Cloud Tenants' table
4. Click on 'Network Routers' from 'Relationships' table
5. Select any router from 'All Network Routers' and try to delete via 'Delete selected Routers'

![Screenshot](http://i.imgu

[2017-08-17 12:04] vatsalparekh opened #15840 "Cloud Tenants not showing"
I've added rhos provider, there was some deletion issue #15833
after that issue, I went to check the tenants, but they are not showing up.
There are tenants on that providers, and visible through an other CFME appliance

Version master.20170817072444_fbafc17

[2017-08-17 12:05] sbulage opened #15841 "Unexpected error when delete cloud provider."
Steps:
1. Add Cloud Provider
2. Some time initiate perform delete action on that provider.
3. Select same provider and click on Policy button.

Appliance version: master.20170814030547_81d444b

![selection_039](https://user-images.githubusercontent.com/12134754/29411121-1de5a72c-8371-11e7-8bed-165aad728947.png)

Production Log:
[prod.log.zip](https://github.com/ManageIQ/manageiq/files/1231164/prod

[2017-08-17 12:11] anurag03 opened #15842 "UI: Check All is not responsive"
Version no:
Version fine-3.20170817063039_09b4f87

How to Reproduce:
1) Go To Cloud Provider page
2) Click on 'Check All' at the footer
3) Now un-check all the providers

Actual results:
'Check All' is still checked

Expected results:
Check all should automatically get unchecked

Additional info:
![upstream4](https://user-images.githubusercontent.com/13481465/29411581-ffc86008-8344-11e7-95e3-04ab9

[2017-08-17 12:29] Yadnyawalkya opened #15843 "Erroneous behavior while downloading storage manager reports"
**Version:**
fine-3.20170808115538_09b4f87

**Steps to Reproduce:**
1. Add cloud provider first (Openstack RHOS7-GA recommended)
2. Navigate to Compute -> Cloud -> Provider
3. Click on provider and select 'Storage Managers'
4. Select any one storage manager from 'All Storage Managers' table
5. And try to download any it in PDF/TEXT/CSV

**Actual:**
Showing both reports

**Expected:**
Should only s

[2017-08-17 12:59] sbulage opened #15844 "Some part is not translated in SSUI dashboard."
Appliance version: master.20170814030547_81d444b

![selection_040](https://user-images.githubusercontent.com/12134754/29413443-04ae9396-837a-11e7-833b-635839741097.png)

[2017-08-17 13:16] mfalesni opened #15846 "An error pops up when editing tags in Compute / Infra / Virtual Machines / VMs"
Upstream build from Aug 10th.

1. Add a VMware infra provider
2. Go to Compute / Infra / Virtual Machines
3. Go to the VMs accordion
4. Select a vm, open its details
5. Click on Policy / Edit tags

Upon opening the edit tags form an error pops up:
![image](https://user-images.githubusercontent.com/2163040/29414056-d74425a8-835e-11e7-9da3-2ad156d4ff89.png)

If you close the message, you can edit th

[2017-08-17 13:26] sbulage opened #15847 "Showing 1 item when there is no item present on UI."
Appliance version: master.20170814030547_81d444b

![selection_037](https://user-images.githubusercontent.com/12134754/29414580-c3741cbc-837d-11e7-990f-957221ec8c8a.png)

[2017-08-17 13:33] mfalesni opened #15848 "Button visibility expression has no effect on the resulting button"
Tested on an upstream build from Aug 10th.

I have set the visibility expression of a button to react on a tag, but no matter whether the condition is fulfilled (tag set) or not, the button is still displayed.

Tested with VM and Instance button.

[2017-08-17 13:35] mfalesni opened #15849 "Unstyled selects in Button editing form"
Tested on an upstream build from Aug 10th.

When adding or editing a button, the fields `Display for` and `Submit` have unstyled select tags.

[2017-08-17 14:30] mfalesni opened #15850 "And error when service gets created."
Tested on an upstream build from Aug 10th

I created a simple dialog, a catalog and then I created a generic catalog item to be displayed in the catalog with that dialog. After saving the catalog item, I got a modal error pop-up:

[code]

I noticed the catalog was selected and underneath the modal there was an infinispinny instead of the catalog details. Clicking eg. the item itself and then click

[2017-08-17 14:38] chriskacerguis commented on #15844
Hello @sbulage apologies, I don't recognize that language, could you please let me know what language that is?

[2017-08-17 14:44] tzumainn commented on #15833
Is the tenant still present through the OpenStack CLI?

[2017-08-17 14:44] tzumainn commented on #15840
Are there any errors in evm.log regarding refresh, specifically for cloud tenants?

[2017-08-17 14:47] chriskacerguis commented on #15844
Checked the code, and the translation tags are correct and in place.  Looks like we just don't have the translations for those yet.  @AllenBW is going to do a refresh of the language and see if that helps (not sure it will...we will need to let the translation team do it's mojo).

[2017-08-17 14:55] chriskacerguis commented on #15828
@sbulage what browser are you using?

[2017-08-17 14:58] chriskacerguis commented on #15828
I was able to reproduce this with Safari Version 10.1.2 (12603.3.8)

Tracking here: https://www.pivotaltracker.com/story/show/150332040

[2017-08-17 15:02] chriskacerguis commented on #15844
Tracking here: https://www.pivotaltracker.com/story/show/150331485

[2017-08-17 15:02] chriskacerguis commented on #9105
Closing as this will be done as part of the re-arch.

[2017-08-17 15:02] #9105 closed

[2017-08-17 15:02] chriskacerguis commented on #9106
Closing as this will be done as part of the re-arch.

[2017-08-17 15:02] #9106 closed

[2017-08-17 15:03] chriskacerguis commented on #9837
@miq-bot assign Fryguy

[2017-08-17 15:30] bazulay commented on #9837
@vanloswang  I assume you are referring to the monolithic container.

in the README you can fine this note

"""
Note: If you are running a RHEL family docker host you can now run the MIQ container unprivileged as recent versions of docker (1.10.3). Please ensure oci-systemd-hook and oci-register-machine packages are installed in your system.
"""
So you can run it unprivileged

[2017-08-17 16:59] tjyang commented on #15803
Hi @sbulage,
This ticket got assigned to @epwinchell, pls see what he got to say.
Following is my suggestion.
Since you are running miq on master branch, I suggest you do 1. do a mig VM snapshot backup 2. and then  weekly git pull to keep your master branch in sync as much as possible with upstream changes.

following is a one-liner I have been using to keep my miq instance in sync.
[code]

[2017-08-17 17:06] tjyang commented on #14702
Hi @martinpovolny, Did you get a chance to look at this RFE issue ?

[2017-08-17 19:34] epwinchell commented on #15803
@tjyang @sbulage This issue was indeed resolved with this PR: ManageIQ/manageiq-ui-classic#1885

[2017-08-18 09:38] himdel commented on #15846
The failing request is..

[code]

Server log..

[code]

[2017-08-18 09:41] himdel commented on #15846
The problem is that `MiqReport.view_yaml_filename` won't find anything and returns nil..

db = `ManageIQ_Providers_InfraManager_Vm`
suffix = `-all_vms_and_templates`

[2017-08-18 09:47] himdel commented on #15846
Looks like this got already fixed for templates - in https://github.com/ManageIQ/manageiq-ui-classic/pull/1290.

Doing a similar fix for Vms.

(Which makes this related to https://github.com/ManageIQ/manageiq-ui-classic/issues/1270.)

[2017-08-18 11:19] skateman commented on #15847
@sbulage the issue is valid but it has been reported at the wrong place. In the future please report UI-related issues at the [service UI](https://github.com/ManageIQ/manageiq-ui-service/issues) or the [classic UI](https://github.com/ManageIQ/manageiq-ui-classic/issues), thanks.

[2017-08-18 11:55] sbulage commented on #15803
@tjyang and @epwinchell I will close this issue as per #1885.
Thanks.

[2017-08-18 11:55] #15803 closed

[2017-08-18 15:23] chriskacerguis commented on #15844
Just to update this issue.  We have updated the translations (see https://github.com/ManageIQ/manageiq-ui-service/pull/876) as of this comment we have updated everything that we have translations for.  If something is still missing that means that particular string has not yet been translated.

Thanks for pointing the translation issues out @sbulage

[2017-08-18 17:55] blomquisg opened #15856 "Appliances should install screen"
If appliances have [screen](https://www.gnu.org/software/screen/) installed, users can run long-running commands in detached screen sessions to allow the command to run in the background.  Users can reconnect to the screen sessions to monitor or capture output from the commands.

I understand that you can background commands, but the benefit of being able to detach from a screen session and log ou

[2017-08-18 17:59] gtanzillo commented on #15856
👍 @blomquisg Having screen on the appliance would be very useful.

@simaishi Would it be possible to add screen to the appliance build?

[2017-08-20 09:08] moolitayer commented on #5262
Closing, issue has been mitigated by https://github.com/ManageIQ/manageiq-ui-classic/pull/273

[2017-08-20 09:08] #5262 closed

[2017-08-20 12:04] cben commented on #9546
@miq-bot move-issue manageiq-ui-classic
Still happens.

[2017-08-20 12:05] #9546 closed

[2017-08-20 12:14] cben commented on #13454
@miq-bot move-issue manageiq-api

[2017-08-20 12:15] #13454 closed

[2017-08-20 15:04] cben commented on #9602
Obsolete.
(We no longer use good_migrations, model use is prevented by `manageiq-schema` repo running migrations without access to app repo: http://talk.manageiq.org/t/new-split-repo-manageiq-schema/2478/6)

[2017-08-20 15:04] #9602 closed

[2017-08-20 17:25] cben opened #15861 "CustomAttribute->Tag mapping should go through Policy?"
As discussed in #14436, customattribute->tag mapping ought to invoke policy, more or less as manual tagging does.
I'm trying to understand how exactly manual tagging behaves.
Searched lots of docs but didn't find details. [[1]](https://access.redhat.com/documentation/en-us/red_hat_cloudforms/4.5/html-single/policies_and_profiles_guide/) [[2]](https://access.redhat.com/articles/421423)

- [x] Manua

[2017-08-21 09:09] Ladas commented on #15861
@cben There should be a BZ about 'Prevent current event from proceeding' not working

[2017-08-21 11:41] himdel commented on #15846
@miq-bot close_issue

[2017-08-21 11:42] #15846 closed

[2017-08-21 16:07] chriskacerguis commented on #15828
PR is up here: https://github.com/ManageIQ/manageiq-ui-service/pull/878

[2017-08-21 18:29] #8595 closed

[2017-08-21 21:12] codrinbucur commented on #12394
@LarsMilland
I am running into the same issue. Do you mind clarifying a bit how you set up the proxies? Thanks

[2017-08-22 09:49] cben commented on #9642
Saw this again in production, it's annoying.  It's also causing pressure towards dumb unstructured logging.
Wanted to find mitigation and I think I found (ugly) solution: https://github.com/ManageIQ/manageiq-gems-pending/pull/263

There is no global fix, there are other cleanups Timeout can mess...
This *might* be fixable in Ruby itself, if injecting exception into a thread could wait until it's n

[2017-08-22 10:31] mkoura opened #15871 "user with username containing capital letter cannot login"
It's possible to create a user with the username containing capital letter. It's not possible to use that username to login to MIQ.

Steps to reproduce:
1. Login to MIQ as admin
2. Go to: Administrator -> Configuration -> Access Control -> Users
3. Select Configuration -> Add a new user
4. Enter a "Username" with upper case letter, e.g "newUser"
5. Fill in all other required fields
5. Click the Ad

[2017-08-22 12:28] kbrock commented on #5923
This has been fixed

[2017-08-22 12:28] #5923 closed

[2017-08-22 12:38] #4308 closed

[2017-08-22 14:59] tjyang opened #15875 "[RFE] Total Power Energy used indicator"
This is a request for enhancement for ManageIQ.

* WHAT: Create Power energy metrics for the compute environment.
* WHY  : So that we can know how much electrical power a compute environment is consuming.
* HOW : Get power consumption rate from PDU bar via snmp or management port or ipmi command from OS.

[2017-08-22 16:31] romanblanco opened #15877 "Enable multiselect in Dialog Editor"
In order to have a correctly working multiselect dropdown in service dialog, a few changes needs to be made in different repositories:

- default value for multiselect dropdown list must support multiple values:
  - ~~https://github.com/ManageIQ/ui-components/pull/118~~ - Adding an option to have multiselect drop down list into options modal
- api needs to be updated to accept multiple values as d

[2017-08-23 17:47] cben commented on #15861
@djberg96 @bronaghs I'm not sure I'll get to implement this for gaprindashvilli.
I first need to get tag mapping working as now in container graph refresh.
- Do you also need to implement tag mapping in graph refresh for Amazon?
- Is going through policy important for you in Amazon, for this release?

[2017-08-23 17:59] cben opened #15882 "Policy to prevent Tag/Untag does not work"
1. Created a container node policy with Tag Request and UnTag Request events.
2. Added Prevent current event from proceeding action.
3. Created & assigned policy profile so the policy is active.
4. Edit Tags in UI — added a tag, saved, removed, saved.

**Expected:** The tag is not added, nor removed.
**Actual:** https://gist.github.com/cben/fa09fbb6760531a30a725d9f66df2d4f — policy.log looks great

[2017-08-23 18:20] cben commented on #15882
@lfu I see you did 2 fixes #14427 #14641 about Prevent not working — do you think similar fix would apply for [Un]Tag Request?
The current tag policy checking code is:
https://github.com/ManageIQ/manageiq/blob/8da73f2cf8e1a5/app/models/classification.rb#L286

[2017-08-23 19:31] lfu commented on #15882
@cben Tag event should not be prevented from policy as doing so may hit performance issue.

[2017-08-23 20:28] israel-hdez commented on #15756
@cfcosta @jshaughn @gbaufake
I went back to this because I was on something else that, to some extent, depends on this. I could find several problems:

* First, look at [this line of code in event catcher](https://github.com/ManageIQ/manageiq-providers-hawkular/blob/fcc13eaac987c42b6a4460449c00a9190b70fd44/app/models/manageiq/providers/hawkular/middleware_manager/event_catcher/runner.rb#L45). It u

[2017-08-23 20:36] cfcosta commented on #15756
@israel-hdez oh, perfect. Of the points you found, I found the first one only, so it's really good that you did manage to find other problems. I agree on what you said, after taking a look at the code.

@abonas what should we do after this then? It seems like it is broken, but it also seems like the breakage was on purpose. No sure how to proceed on this.

[2017-08-23 21:38] cben commented on #15882
If so, Tag Request event has no purpose and should be dropped?

On Aug 23, 2017 22:32, "Lucy Fu" <notifications@github.com> wrote:

[2017-08-24 11:42] abonas commented on #15756
@jshaughn @lucasponce could you perhaps shed some light into the above ? perhaps you have a bit more background on @israel-hdez findings?

[2017-08-24 12:00] lucasponce commented on #15756
@jshaughn can confirm when he is back on PTO but I remember that this was on purpose for several reasons:
- We use Hawkular Events internally and not all events should be shown, for example, in the timeline only a MiQAlert event should be shown, not the Hawkular Events that internally triggered.
- Also, there were other Hawkular events that potentially want to show in the timeline, for this logic,

[2017-08-24 12:24] lucasponce commented on #15756
Also, another side thought. From MiQ the Hawkular Alerting definitions are defined in a simple way.
I remember Triggers have autoDisable == off, this means that a trigger will generated always alerts for the same issue.
I.e. if a machine is down, everytime that you get a down data, you will receive an alert.
With autoDisable == on for a trigger, if a machine is down and an alert is generated, no m

[2017-08-24 12:54] AllenBW commented on #8781
Oh my, hasn't been touched in almost a year!! ! 😲  Aside from the no comma dangle, anyone have major issues with https://standardjs.com/ ?  [for the lazy](https://standardjs.com/rules.html)

@chriskacerguis

[2017-08-24 12:57] skateman commented on #8781
@AllenBW does standardjs :heart: typescript?

[2017-08-24 13:11] himdel commented on #8781
@AllenBW well, standard js is just eslint under the hood, but the configuration.. Some parts are quite different from ours (no semicolons, space after function name), while the rest we already have in our eslint config.

So... what's the benefit? And is it really that much better than eslint to justify removing all semicolons? :)

[2017-08-24 13:18] chriskacerguis commented on #8781
I think that the biggest benefit is what Standard says. No configuration, no maintaining various linting files. We don’t need to keep those files  in each repo and keep them in sync...which I think is a big plus.

[2017-08-24 13:42] lfu commented on #15882
@gmcculloug @Fryguy Thoughts?

[2017-08-24 14:12] AllenBW commented on #8781
@skateman funny you should ask.... https://standardjs.com/#can-i-use-a-javascript-language-variant-like-flow-or-typescript (there's always a plugin for that)

@himdel Agreed, some parts are quite different and with standard you can't really turn stuff off or on, its kinda **THIS IS THE WAY**  so that's kinda a con... kinda...

Benefits are:
1. widely adopted, modern approach to syntax - its what a

[2017-08-24 14:15] bronaghs commented on #15733
@shanethiessen - ^^

[2017-08-24 14:39] bronaghs commented on #15882
@miq-bot assign @lfu

[2017-08-24 14:52] chriskacerguis commented on #8781
@martinpovolny Minimal effort...just need to run:

[code]

[2017-08-24 15:39] #15733 closed

[2017-08-24 16:36] mtho11 commented on #8781
@AllenBW a PR to see how this would work can go a long way ;)

[2017-08-24 16:44] AllenBW commented on #8781
🤔 @mtho11 see how what would work?

[2017-08-24 16:46] himdel commented on #8781
:+1: And if you're doing a PR, please be aware of these in ui-classic:

* `app/javascript/` is the only place where ES6/Typescript is alllowed (well, except for `config/webpack`)
* `app/assets/javascripts/` needs to be ES5-only
* `spec/javascripts/` needs to be es5 only, and use a slightly different ruleset from app - for example, using `$scope.$digest()` is usually a sign of a problem in controll

[2017-08-24 16:50] mtho11 commented on #8781
@AllenBW how standard.js would work with typescript plugin.

[2017-08-24 16:59] mtho11 commented on #8781
Another plus for `tslint` is that angular2+ CLI autogenerates and uses it.
And http://codelyzer.com (also in CLI) uses tslint.

[2017-08-24 17:06] mtho11 commented on #8781
And IDEs like webstorm support it highlighting all rule violations inline with the code. Here is video showing the integration: https://blog.jetbrains.com/webstorm/2015/11/webstorm-11-released/

![preferences_and_mt_json_-_ui-components_-____projects_ui-components_](https://user-images.githubusercontent.com/1312165/29678423-623bc270-88b3-11e7-8ebb-1676f00f2b2c.png)

[2017-08-24 17:52] AllenBW commented on #8781
Oh @mtho11 I'm proposing this for the https://github.com/ManageIQ/manageiq-ui-service

discussion is here cuz its the only place we've been discussing it, as mentioned above, standard does support plugins, and there are typescript plugins

[2017-08-24 18:02] mtho11 commented on #8781
@AllenBW thanks for the clarification 😺

[2017-08-24 18:45] gbaufake commented on #15756
@lucasponce Although ttps://issues.jboss.org/browse/HWKALERTS-275 and this issue were found
using similar test cases

The test case used to find

1. Install MIQ latest, EAP server, Hawkular Services
2. Login on ManageIQ instance
3. Add Hawkular Provider on ManageIQ Instance
4. Define an Alert on ManageIQ instance with conditions
5. Create an Alert Profile
6. Assign Alert to Alert Profile
7. Assign

[2017-08-25 05:24] martinpovolny commented on #8781
Oh well, then I have no objections.

In the OPS UI we might need to take a more step by step approach as usual.

[2017-08-25 06:47] lucasponce commented on #15756
Did you check in the MiQ form the options to "raise" or "shown events" in timeline ?
For what you describe it sounds like a regression in miq code (I am not sure).

[2017-08-25 06:52] lucasponce commented on #15756
Also, take into consideration that step 9 and 10 are not direct and MiQ needs to process and filter Hawkular Events according to MiQ Alert definitions.

[2017-08-25 08:11] #6554 closed

[2017-08-25 09:06] patchkez opened #15892 "[Embedded Ansible] Standard output missing after AnsiblePlaybook service ordered"
I was testing playbook execution on ManageIQ appliance today. Playbook dump_all_variables.yml playbook from this [repo](https://github.com/patchkez/ansible_playbooks/blob/master/dump_all_variables.yml) was executed against RHEL7 host successfully, but the playbook standard output is not shown in the UI.
This is the detail of my service:
![screenshot-20170825 104534](https://user-images.githubuserc

[2017-08-25 10:40] martinpovolny commented on #9483
Notes on the refactoring needed here:

There should be no need for the `folders_i18n` at this point.

There should be a decorator available (or new one created) to get the image_path.

[2017-08-25 10:42] #9483 closed

[2017-08-25 14:09] gbaufake commented on #15756
@lucasponce I updated some pictures on my last comment.
The alert has the option "Show in timeline" marked.

[2017-08-25 14:17] lucasponce commented on #15756
@gbaufake I think you need to check also the "Send a Management Event" to see them in the "Management Event" filter.
Also, AFAIK the Application filter was the default place for these events AFAIK.

Can you check in the miq tables if there is some miq_alert generated ?

[2017-08-25 14:58] simon3z commented on #15712
@zeari can you take a look at this? Any idea on what that could be?

[2017-08-25 16:28] AllenBW commented on #8781
FYSA for anyone who likes to 👓  https://github.com/ManageIQ/manageiq-ui-service/pull/886 🍷 🤽‍♂️

[2017-08-25 21:20] #9567 closed

[2017-08-25 21:21] #3719 closed

[2017-08-26 05:45] evenit commented on #10052
So, the bot tells me the issue is staled. Let's give it some lire. And
please, could someone take care of it or give it a new repo/home where
someone else will do ?

At least, allowing fontawesome icons would be nice and would match the
current UX.

Le 26 août 2017 06:00, "ManageIQ Bot" <notifications@github.com> a écrit :

[2017-08-27 01:30] #3487 closed

[2017-08-28 11:06] evertmulder opened #15898 "Fine-3: Unable to select network when using provisioning dialog for VMWare "dvs_" networks"
The provisioning dialog is broken since Fine-3. When using VMWare dvs (distrubuted virtual switches) the networks are selectable in the provisioning dialog, but when selecting a network, the network selection is gone.

The cause is the following line:

https://github.com/ManageIQ/manageiq/blob/f9f8fa493c5501d09dd98383df1ff888e601f7c0/app/models/miq_provision_virt_workflow.rb#L202

The host are fil

[2017-08-28 12:59] himdel commented on #10252
Aah, I think we can close this - https://github.com/ManageIQ/manageiq-ui-classic/pull/1005 .

@miq-bot close_issue

[2017-08-28 13:00] #10252 closed

[2017-08-28 13:04] himdel commented on #8035
ManageIQ/manageiq-ui-classic#1005 fixed the Enter issue.

Update when typing probably makes sense, as well as substring matching... Cc @Hyperkid123 & @skateman

[2017-08-28 14:13] romanblanco commented on #9843
Still reproducible with the same steps:

[code]

[2017-08-28 14:14] romanblanco commented on #9843
@miq-bot remove_label stale

[2017-08-28 14:44] #15856 closed

[2017-08-28 15:15] israel-hdez commented on #15756
@lucasponce I tried checking the boxes "Show on Timeline" and "Send a Management Event". The last one asks for a name. But the only thing it does is to log events in `event_streams` table using `hawkular_alert` instead of the name I typed. It doesn't do anything with the configs and still is not appearing in timeline. But I still haven't fixed the bug about the wrong metric ID (domain mode case) a

[2017-08-28 19:37] jshaughn commented on #15756
I've talked with @israel-hdez about this and, aside from the issue introduced recently due to  the use of ::Hawkular::Alerts::Alert, the event catcher should be fine.  It is important to understand that events tagged with miq.event_type: 'hawkular_alert' should *not* be shown on the timeline but are part of the internal implementation of "live alerting" in our provider.  They are fetched by the ev

[2017-08-28 19:41] #9690 closed

[2017-08-28 20:52] martinpovolny commented on #14702
Sorry I have not :-(

However the mechanism should work and on CFME appliances this mechanism is used to integrate Insights -- it is even visible on your screenshow.

I think your problem might be the file `vmdb/config/permission.yml`. It was added to limit the top level sections available on the appliance and if you are adding a top level section, you need to add to that file too.

I am currently

[2017-08-28 21:02] tjyang commented on #14702
Thanks @martinpovolny.  I will certainly check out miq_plugin_example.

[2017-08-28 22:22] israel-hdez commented on #15756
It's broken here: https://github.com/ManageIQ/manageiq/blob/53c1704a56db62a1751665f52323c0e496f32669/app/models/miq_alert.rb#L569

because `target` it's the server object and, because of STI, `target.class.name` will have the full class name `ManageIQ::Providers::Hawkular::MiddlewareManager::MiddlewareServer`. It should be better to use `is_a?` method.

It's also broken here: https://github.com/Ma

[2017-08-28 22:37] #1030 closed

[2017-08-29 14:02] tjyang opened #15902 "[RFE] manageiq packging for Fedora OS"
* WHAT:  Start the effort of packaging manageiq for Fedora OS.
* WHY  :
   * So we can run manageiq on Fedora/RHEL/CentOS OS running on physical or plain VM
   * Using yum/dnf to upgrade miq releases.

[2017-08-29 15:56] #5833 closed

[2017-08-30 07:31] martinpovolny commented on #9711
moved to https://github.com/ManageIQ/manageiq-ui-classic/issues/2049

[2017-08-30 07:31] #9711 closed

[2017-08-30 09:01] #6219 closed

[2017-08-30 15:00] agrare commented on #15898
cc @lfu

[2017-08-30 15:17] lfu commented on #15898
@evertmulder Thanks for reporting the issue.

This issue has been resolved by PR: https://github.com/ManageIQ/manageiq-providers-vmware/pull/100.

[2017-08-30 19:29] evertmulder commented on #15898
I tested the PR on a Fine 3 appliance.
Updating app/models/miq_provision_virt_workflow.rb () and applying https://github.com/ManageIQ/manageiq-providers-vmware/pull/100 did fix the problem for me.
I will close the issue. Thanks

[2017-08-30 19:29] #15898 closed

[2017-08-30 19:37] #4859 closed

[2017-08-31 14:22] gmcculloug commented on #15871
Looks to be the same as https://bugzilla.redhat.com/show_bug.cgi?id=1486041

[2017-08-31 14:38] jvlcek commented on #15871
@mkoura and @gmcculloug Yes this is the same as the BZ. I already have a fix posted in PR 15904 [1]  for this that is waiting for review.

Should we close this issue and track in the BZ?

[1] https://github.com/ManageIQ/manageiq/pull/15904

[2017-08-31 14:41] mkoura commented on #15871
@jvlcek I'm ok with closing this issue and tracking the BZ.

[2017-08-31 14:44] jvlcek commented on #15871
@mkoura I do not have the necessary privilege to close it. As the initiator you should be able to. Can you?

[2017-08-31 14:45] #15871 closed

[2017-08-31 16:20] epwinchell commented on #10052
@evenit We now support Font Fabulous, Font Awesome, Glyphicons and Patternfly font icons for Custom buttons as well and custom colors:

PRs:
https://github.com/ManageIQ/ui-components/pull/78
https://github.com/ManageIQ/manageiq-ui-classic/pull/1801

[2017-08-31 16:30] evenit commented on #10052
Awesome. So, I think this issue can be marked as closed by
ManageIQ/manageiq-ui-classic#1801
<https://github.com/ManageIQ/manageiq-ui-classic/pull/1801>.
Thank you very much for the update.

2017-08-31 18:20 GMT+02:00 Eric Winchell <notifications@github.com>:

[2017-08-31 16:54] #10052 closed

[2017-08-31 20:39] gmcculloug commented on #9140
@d-m-u The only thing missing is list-view support.  That is not on the roadmap at this time so instead of keeping this issue open I am going to mark the other features as complete and we can delay the list-view until there is a use case for list-view support.

[2017-08-31 20:39] #9140 closed

[2017-09-01 13:58] himdel commented on #15569
Added BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1486672

[2017-09-01 14:44] AndreyMenezes opened #15925 "Cascade delete for physical infra provider doesn't work"
When we delete a physical infra provider between the UI, the provider is only exclude from ext_management_system and endpoints table. Other informations related aren't excluded, infos like: physical_servers, events, asset_details...

@juliancheal @rodneyhbrown7 @skovic