[2016-07-19 20:12] pilhuhn commented on #9876
I am looking at this. I can see at least one occasion in the agent that needs fixing.

[2016-07-19 21:15] martinpovolny commented on #9690
@PanSpagetka, please, investigate this

[2016-07-19 21:18] martinpovolny commented on #3208
I'd say we can close this.

[2016-07-19 21:18] #3208 closed

[2016-07-19 22:45] gmcculloug opened #9931 "Refactor `tenant_identity` method to reduce duplication"
Issue identified in https://github.com/ManageIQ/manageiq/pull/9601/files#r71183566

[2016-07-20 03:09] mtho11 commented on #9462
@abonas @catrobson yup, working the backend json ack messaging issues right now, I will come address the issues you have identified tomorrow.

[2016-07-20 07:21] pilhuhn commented on #9462
On 19 Jul 2016, at 19:46, catrobson wrote:

If it is not do be disabled, how would you enforce that the user
correctly enters all necessary data?

[2016-07-20 08:16] cben commented on #9600
Confirmed with curl that k8s REST api is giving the useless/missing uid:
[code]
{
  "kind": "Event",
  "apiVersion": "v1",
  "metadata": {
    "name": "vm-test-03.example.com.1462f119982f1032",
    "namespace": "default",
    "selfLink": "/api/v1/namespaces/default/events/vm-test-03.example.com.1462f119982f1032",
    "uid": "c59f008d-4e4f-11e6-bcf3-525400c7c086",
    "resourceVersion": "1297831",

[2016-07-20 10:07] yaacov opened #9937 "We get an error page if show_list page parameter is zero"
**Description**
The page paramter can not be zero. When recovering from timeout it is set to zero, and cause an error in rendering the show_list page.

**What happen**
When we set the page parameter to an illegal value (e.g. "0") we get an error.

**What should happen**
When we set the page parameter to an illegal value (e.g. "0") we get the default page (page=1).

**Screenshot**
![page-zero-error

[2016-07-20 10:14] yaacov commented on #9937
@miq-bot add_label providers/containers, ui

[2016-07-20 11:14] cben commented on #9600
Think I found it in k8s source:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/controller_utils.go#L245-L259

[2016-07-20 11:39] PanSpagetka commented on #9690
I wasnt able to reproduce it. Only place where i get error sometimes is on Back to daily. It could be same issue, but I think that its something different.

[2016-07-20 11:59] cben commented on #9713
I saw 2 plausible behaviors, neither I nor @moolitayer were sure which is better:

 1. ignore empty-value labels (`foo=` label equivalent to not having any `foo` label)
 2. map them to `Foo : <emtpy value>` (or something similar) tags

In #9747 I implemented (1).
My logic was you have entities with "known foo property", that you want tagged as  `Foo : this` and `Foo : that`, and some with "unknown

[2016-07-20 12:13] #9662 closed

[2016-07-20 13:47] zakiva commented on #7256
Refreshing container providers via the api is currently working fine for me, the problem was probably related to issue #8643 which was already solved.
@dkorn Can you verify that it is working for you now?
cc @simon3z @yaacov

[2016-07-20 13:50] yaacov opened #9946 "When editing a container provider we create an extra authentication"
**Description**
When editing a container provider we create an extra authentication

**What happen**
When editing a containers provider we create an extra authentication named "default".

**What should happen**
When editing a containers provider we only create the "bearer" and "hawkular" endpoints.

**Screenshot**
![authenticaion-list-bad](https://cloud.githubusercontent.com/assets/2181522/1698863

[2016-07-20 13:50] simon3z commented on #7256
@dkorn you've been working on darga recently (for another bug), can you verify this on darga as well?

[2016-07-20 14:28] yaacov commented on #7256
@simon3z @dkorn to clarify:

1) The refresh is done using a worker, the worker will not start if the authentications are not valid.
Before running the refresh the authentications must be valid.

2) The way it was solved, is to not allow the creation of a provider that did not pass the validation checks.
A provider created not from the ui (e.g. using console) without checking for validation will al

[2016-07-20 14:39] simon3z commented on #9946
@miq-bot assign yaacov

[2016-07-20 14:39] simon3z commented on #9937
@miq-bot assign yaacov

[2016-07-20 15:03] agrare opened #9949 "VMware Storage Profile Datastore Association"
- [x] Model the relationship between storage profiles and datastores https://github.com/ManageIQ/manageiq/pull/9604
- [x] Retrieve matching datastores for each storage profile https://github.com/ManageIQ/manageiq/pull/9923
- [x] Save relationship between storage profiles and storages https://github.com/ManageIQ/manageiq/pull/9923

[2016-07-20 15:04] agrare commented on #9949
@miq-bot add-label enhancement, providers/vmware/infra
@miq-bot assign agrare

[2016-07-20 15:34] pilhuhn commented on #9789
Alex opened a jira that I've commented on https://issues.jboss.org/browse/HWKAGENT-120 We need to wait on @jmazzite for the agent part to be changed here.

[2016-07-20 15:35] agrare opened #9950 "VMware Storage Profile VM/Disk Association"
- [x] Model relationship between a storage profile and vms/disks https://github.com/ManageIQ/manageiq/pull/9890
- [x] Collect relationships between storage profiles and vms and disks from vmware https://github.com/ManageIQ/manageiq/pull/9972
- [x] Parse/save relationships between storage profiles and vms https://github.com/ManageIQ/manageiq/pull/10047
- [x] Parse/save relationships between storage

[2016-07-20 15:36] agrare commented on #9950
@miq-bot add-label enhancement, providers/vmware/infra
@miq-bot assign agrare

[2016-07-20 15:37] agrare commented on #9949
cc @jameswnl

[2016-07-20 15:37] agrare commented on #9950
cc @jameswnl

[2016-07-20 16:00] moolitayer commented on #9600
#cben any idea how come event<=>node links worked fine when you looked in timelines?
was the provided event.involvedObject.uid correct or do we know to handle a name when searching for a node's events?

[2016-07-20 19:09] gmcculloug opened #9957 "Enhance RHEV provision workflow tests"
Add tests to fully validate PR #9722

[2016-07-20 19:19] gmcculloug commented on #9957
@borod108 - I cannot make you the assignee on this yet, but I'm working on it.  😄

[2016-07-20 19:35] durandom commented on #9789
you can check `rails evm:status` to see if the refresh worker for this provider has been started.
you can check in rails console for `ExtManagementSystem.find(id)..authentication_status` if the authentication has been saved.

For me the steps to reproduce this:
* create a provider, e.g. amazon, with an invalid authentication
* change provider to invalid authentication, eg. unplug your network then

[2016-07-21 01:22] mtho11 commented on #9462
Argh! So, I have made all of the changes but I should have recorded a video *Before* I rebased. Now, I have resolved the git conflicts but things are not looking good. I'm out of time for tonight. Tomorrow, the universe will be in harmony again.

[2016-07-21 09:32] cben commented on #9600
There were certainly no ids.  Dunno how it worked.

[2016-07-21 13:38] PanSpagetka opened #9969 "Undefined method validate_smartstate_analysis"
probably related with #9540
When you click through Network -> Subnets -> Select Subnet -> Instance you get Undefined method validate_smartstate_analysis. This error you can also get on almost any instance page, like providers etc.

@romanblanco

[2016-07-21 13:46] pkomanek opened #9971 "Error in automate customization buttons"
Description
--------------
When I click on some buttons group in automate->customization->buttons (for example "VM and Instance") I get this error:
Error caught: [NameError] undefined local variable or method `x_active_tree'

When I tried to use old version of file "manageiq/app/helpers/application_helper/toolbar/custom_button_set_center.rb" everything worked fine.

@mzazrivec

Screenshots
-------

[2016-07-21 13:55] romanblanco commented on #9969
@miq-bot assign @romanblanco

[2016-07-21 15:08] #9969 closed

[2016-07-21 23:17] mtho11 commented on #9462
@abonas, @catrobson
Here are the latest validations and changes:
![ui-params2](https://cloud.githubusercontent.com/assets/1312165/17041919/8849e38c-4f5e-11e6-8fa7-87adc17b3567.gif)

[2016-07-22 12:09] abonas commented on #9055
@Jiri-Kremser @ammendonca probably the commit didn't specify correctly this issue number (looks like # char was missing so github would link it). if the issue is resolved now, please close the issue, only you have the permissions to do it.

[2016-07-22 14:01] catrobson commented on #9462
@mtho11 looks great.  Thanks!

[2016-07-22 14:30] martinpovolny commented on #9690
@PanSpagetka : ok, and can you create an issue for that error you are getting? + steps to reproduce. Thx!

[2016-07-22 14:31] #9971 closed

[2016-07-22 15:03] ammendonca commented on #9055
Works for me with #9884 merged. Closing.

[2016-07-22 15:03] #9055 closed

[2016-07-22 17:58] #9892 closed

[2016-07-24 17:59] abonas opened #10017 "Middleware provider creation - misleading message when a connection problem occurs"
No matter what issue happens during provider creation (whether it's wrong credentials or an inaccessible host for example - "getaddrinfo error"), the same error is shown to user and in the log - "Credential validation was not successful: Invalid credentials"
It's impossible to know what's wrong based on that message.

@miq-bot add_label bug, providers/hawkular

[2016-07-24 18:01] abonas commented on #10017
this place should be redone: https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/hawkular/middleware_manager.rb#L34
cc @pilhuhn

[2016-07-25 08:09] martinpovolny opened #10020 "ems_cloud controller restful? problem"
ems_cloud is "restful" but there are still places where it's assumed that it's not

[code]

Got there through a **custom button** for **ems_cloud** from `app/controllers/application_controller/dialog_runner.rb` 227L `dialog_form_button_pressed` and `dialog_cancel_form`

[2016-07-25 08:31] martinpovolny opened #10021 "RESTful conversion potential leftovers/bugs"
These places redirect to `show` w/o checking if the target controller is restful. See #10020

[code]

Each of these places needs to be revisited and checked to see if the target controller might be restfull. In such case a restful route needs to be used.

[2016-07-25 08:33] martinpovolny commented on #10021
@AparnaKarve, @h-kataria : looking for volunteers with experience in this area.

@hayesr : this is the type of problems and regressions that I am worried about then talking about conversion to RESTfull routes.

[2016-07-25 09:26] PanSpagetka opened #10023 "Chart interactivity back to daily"
When you click through Compute -> Infrastructure -> Hosts -> Select host -> Utilization -> Hourly chart -> Click on chart -> Chart -> Back to Daily you get an error.
![screenshot from 2016-07-25 11-26-11](https://cloud.githubusercontent.com/assets/9535558/17096631/a880fba0-525a-11e6-912e-3ffdfddb6dcc.png)
![screenshot from 2016-07-25 11-26-30](https://cloud.githubusercontent.com/assets/9535558/170

[2016-07-25 09:29] PanSpagetka commented on #10023
@miq-bot assign @panspagetka

[2016-07-25 12:33] yaacov opened #10027 "Random order of authentications in ems summary status"
**Description**
The order of authentication displayed in the summary status page is random.

**What happen**
In the summary page on the status card, authentications are displayed in random order.

**What should happen**
The authentications are always displayed in the same order.

**Screen shots**
Authentications are sometimes displayed alphabetically and sometimes not.
![sort-asc](https://cloud.gi

[2016-07-25 12:43] yaacov commented on #10027
@miq-bot add_label providers/containers, ui

cc @simon3z @enoodle

[2016-07-25 13:35] evenit opened #10032 "METHOD:: does not accept a full path to a method"
When trying to call a method through a relationship using the METHOD:: statement and a full path to the method, eg. METHOD::/NameSpace/Class/Method, it raises an exception:

[code]

Expected behavior would be to extend the path and call the method.

[2016-07-25 13:52] yaacov commented on #10027
fixed by https://github.com/ManageIQ/manageiq/pull/10028

[2016-07-25 13:52] #10027 closed

[2016-07-25 14:22] Ladas opened #10034 "Cannot change Ansible Tower failed auth state"
We will need the same toolbar button as we have in cloud, to be able to change Auth state of ansible tower.

![screenshot from 2016-07-25 16-21-00](https://cloud.githubusercontent.com/assets/1737058/17104623/f26d5bea-5283-11e6-9680-c550c6d25aac.png)

[2016-07-25 14:22] abonas opened #10035 "missing button for re-checking authentication status for middleware/hawkular providers"
Same as #8912, it should be done for middleware providers as well

@miq-bot add_label providers/hawkular

[2016-07-25 14:24] abonas commented on #10035
@miq-bot assign @mtho11

[2016-07-25 18:07] gmcculloug commented on #9145
@syncrou I have seen this in the UI and can help you recreate.

[2016-07-25 18:31] abonas commented on #8683
@prachiyadav @mfoley can you please close the issue if it was resolved?

[2016-07-25 18:33] abonas commented on #8719
@rubenvp8510 please have a look at this. there are several potential different refactorings that can be part of the solution

[2016-07-25 21:00] cben commented on #9713
After discussion on PR, switched to behavior (2).

[2016-07-25 21:42] #10020 closed

[2016-07-25 23:45] hayesr commented on #10021
Interesting. Can the check be done inside `javascript_redirect`?

[2016-07-26 07:25] Ladas opened #10049 "Dynamic selectobox dialog has broken sort_by"
Broken 'sort_by' as shown in the screen

![screenshot from 2016-07-26 09-18-07](https://cloud.githubusercontent.com/assets/1737058/17129233/2b3d3042-5312-11e6-8d14-f73560d22986.png)

[2016-07-26 07:26] Ladas commented on #10049
@eclarizio is this too long string for Ui sorting, or the space breaks it? It seems to work when string does not have spaces

[2016-07-26 08:04] martinpovolny commented on #10021
So the javascript redirect would check if it was passed an `:action` and if the `:action` is `show` and in that case  translate it's arguments to a restful route?

Sounds to me as multiple responsibilities for a single method.

[2016-07-26 08:56] PanSpagetka commented on #10023
@miq-bot assign @PanSpagetka

[2016-07-26 09:07] martinpovolny commented on #10023
ping @dclarizio : this is the last known issue

[2016-07-26 10:58] zeari commented on #8921
Well the question is what do we want to show for each state:
1) Good bearer authentication + bad hawkular authentication
2) Bad bearer authentication + Good hawkular authentication

[2016-07-26 11:13] abonas commented on #8921
@zeari I think it's a more general question as potentially a provider can have 3 endpoints too.
So I'd formulate this as: "what status should the topology show if not all endpoints have the same status?"

[2016-07-26 11:25] zeari commented on #8921
yep, i think it should be a yellow\orange ring

[2016-07-26 12:08] evenit opened #10052 "[RFE] Allow uploading icon for custom buttons"
Currently, the set of button icons is very limited and related to nothing much useful to design a Web UI. It would be awesome to be able to upload our own icons so that we can enhance our custom user experience.

[2016-07-26 12:16] yaacov commented on #9937
fixed by: https://github.com/ManageIQ/manageiq/pull/9938

[2016-07-26 12:16] #9937 closed

[2016-07-26 12:39] romanblanco commented on #4031
@h-kataria i think this can be closed now.

[2016-07-26 12:39] romanblanco commented on #1946
@nachandr I think this can be closed now.

[2016-07-26 13:21] #9713 closed

[2016-07-26 13:51] abonas commented on #8921
I think that's a question to PM/UX

[2016-07-26 15:36] hayesr commented on #10021
I see your point, but the official `redirect_to` does some investigating as to the correct route too. You can give it an ActiveRecord, a string, a hash, even a proc, and it figures out the right url. Not arguing that this method should be dumping ground for features, but it should go away when controllers are more modern, no?

[2016-07-26 16:04] #4031 closed

[2016-07-26 16:46] eclarizio commented on #10049
@Ladas What is the sort_by set to? I created a drop down field with those values and descriptions and as long as the sort_by is set to either description or value, the sorting seems to be working as intended.

![screen shot 2016-07-26 at 9 44 58 am](https://cloud.githubusercontent.com/assets/164557/17147044/baae87c8-5315-11e6-8a62-bc211888dccf.png)

![screen shot 2016-07-26 at 9 45 23 am](https://

[2016-07-26 17:58] gmcculloug commented on #8427
Fixed in PR #9282

[2016-07-26 17:58] #8427 closed

[2016-07-26 19:22] lfu commented on #7198
Fixed in pr #7241.

[2016-07-26 19:25] lfu commented on #5102
Fixed in pr #5093.

[2016-07-26 21:03] #7198 closed

[2016-07-26 22:02] dclarizio opened #10071 "Charts: Selecting new date raises exception"
Testing the latest C3 charts, bring up C&U charts for a Host, data is displayed.  Can change 1 week back to 2 weeks back, no problem.  Try to change the date to 1 day prior and get:
[code]

[2016-07-26 22:07] dclarizio opened #10072 "Charts: Trying to show running VMs on a Host when there are zero gets stuck menu"
So, will open another issue on the no VMs, but then selecting the menu `Top VMs on this day` results in this screen:

![chart no vms](https://cloud.githubusercontent.com/assets/3433754/17157160/7d9c4370-5342-11e6-826a-3e36653bcfec.png)

Which is correct, but the popup menu won't go away by clicking elsewhere.

[2016-07-26 22:11] dclarizio opened #10073 "Charts: Need the zoom capability we used to have with flash"
When we had flash charts, we were able to zoom the chart and it opened the single chart with the data records below it.  This was very valuable to show the actual report data that the chart was derived from, especially the Avg Running VMs/Hosts columns.  If we can't zoom the charts, perhaps we could at least have a button (or menu item) to show the chart data.

Once I have a new DB with better dat

[2016-07-26 22:21] nenioscio opened #10074 "Large amounts of Tags cause memcache slab exhaustion in UI causing follow up errors"
In our environment that uses a large amount of tags  (>5000) we were facing strange errors that prevented editing of groups.

version info running (docker darga-2 release)
[code]

I could track down the issue to a dalli lib warning that the session object to be stored is greated than the max available size configured.

[code]
A workaround is to allow that max size to be configurable.

See commit t

[2016-07-27 04:41] martinpovolny commented on #10073
Is this different to the small magnifying glass icon below some charts? That opens a bigger chart in a single page. Could you make a screenshot or a short video of the desired behavior?

[2016-07-27 06:49] Ladas commented on #10049
@eclarizio sorry I forgot to attach the code. :-) This is how the dynamic selectbox is generated:

list_values = {
  'sort_by'   => :value,
  'data_type' => :string,
  'required'  => true,
  'values'    => values_hash
}
list_values.each { |key, value| $evm.object[key] = value }

--

so it should be sort by value

[2016-07-27 07:30] abonas opened #10077 "message displayed to users needs fixing in multi endpoints dialog in providers UI"
This message is displayed to users in [multiple endpoints dialog](https://github.com/ManageIQ/manageiq/blob/master/app/views/layouts/angular/_multi_auth_credentials.html.haml#L245): (in containers provider in metrics endpoint)
"Used for gather Capacity and Utilization metrics."
It seems that the phrase in English needs improving. (used for gathering? used to gather?)
Also, capital letters in the m

[2016-07-27 11:15] cben opened #10080 ""Load error! (parseerror)" and/or recursion in Control explorer"
parseerror BZ:
https://bugzilla.redhat.com/show_bug.cgi?id=1360818 (master)
https://bugzilla.redhat.com/show_bug.cgi?id=1360901 (darga)
recursive tree BZ:
https://bugzilla.redhat.com/show_bug.cgi?id=1361091 (master)
TBD (darga)

Saw on darga (810a94fe507f27c5f727fe4df03a0c651e1e5d9e), clean db.  Didn't yet check ~~master~~, nor official builds.  EDIT: @himdel confirms on master.

Profiles accordio

[2016-07-27 11:18] PanSpagetka commented on #10073
Now we have something like this:
![screenshot from 2016-07-26 11-04-19](https://cloud.githubusercontent.com/assets/9535558/17173637/4dc1810a-53fc-11e6-872e-117d5f8bf837.png)
![screenshot from 2016-07-27 13-17-46](https://cloud.githubusercontent.com/assets/9535558/17173680/939161be-53fc-11e6-8201-2a9e508b0d8f.png)
![screenshot from 2016-07-27 13-18-04](https://cloud.githubusercontent.com/assets/953

[2016-07-27 11:24] cben commented on #10080
Policies according expands wrongly, with infinite recursion!

![screenshot-localhost 3000 2016-07-27 13-56-19 recursive](https://cloud.githubusercontent.com/assets/273688/17173647/ba0a82f0-5404-11e6-8107-bf263e4fd809.png)

Apparently(?) no accompanying errors in logs.

This is not fully reproducible, also seeing "Parse error" here:

![screenshot-localhost 3000 2016-07-27 14-23-46 mix](https://clou

[2016-07-27 11:26] cben commented on #10080
Darn.  401  errors, ""Invalid Authentication Token 0dbdbae3795736e525ceb895026dde77 specified".

[2016-07-27 11:30] cben commented on #10080
No, not a false alarm.  Logoff, logon (should clear my session, right?), Shift+reload.
Still getting parse error.
Response has
``$("#center_div").html("\u003cdiv id='content' style='overflow: scroll; height: 100%; padding-left: 50px;'\u003e\n\u003ch1 style='color: #c90813'\u003e\nUnexpected error encountered\n\u003c/h1\u003e\n\u003cbr\u003e\n\u003ch2\u003e\nErrors in Management Engine can be cause

[2016-07-27 11:33] charly37 opened #10081 "Bug in UI for the container overview (angularJs missing dep)"
How to reproduce:

Create a VM on GCE with n1-standard-2 (2 vCPUs, 7.5 GB memory) and centos-7-v20160718 image (probably not important but just in case)

Install Docker on it (https://docs.docker.com/engine/installation/linux/centos/)

Start the Docker image of ManageIq :
[tunnel@testcwa ~]$ sudo docker run --privileged -di -p 80:80 -p 443:443 docker.io/manageiq/manageiq:darga-2

Log on the UI wit

[2016-07-27 11:42] cben commented on #10080
Recursion has http://localhost:3000/miq_policy/tree_autoload_dynatree requests with data:
[code]
all returning 200 with similar json **up to key prefixes**:
[code]

[2016-07-27 12:13] vnugent commented on #10017
I included `http://` in the provider host input and saw the same error.  A tooltip or hint for proper format would greatly improve the UX.

[2016-07-27 12:14] himdel commented on #10080
In master, I can see the parseerror while trying to expand an **event**.
But no recursion in master..

[code]

[2016-07-27 12:34] himdel commented on #10080
OK, the policy_profile problem is a result of #10026, the `parents` functionality of `x_get_tree_ev_kids` relies on not being called lazily and removing that `open_node` caused it to be called lazily.. Will probably fix by removing that limitation (we do have the full id in the request..)/

[2016-07-27 12:56] hhovsepy commented on #9876
@pilhuhn I see this error in server logs after Undeploy:  https://issues.jboss.org/browse/HAWKULAR-970
But after server restart it is gone, and deployment is unavailable.

[2016-07-27 13:24] cben commented on #7460
ManageIQ doesn't cope well with tons of tags due to session object size: #10074
This might become easy to hit with auto-tagging.

[2016-07-27 13:34] mkanoor commented on #10049
@Ladas are you missing the sort_order and also should these be strings for sort_by and data_type. Typically  I have seen these as

# sort_by: value / description / none
dialog_field["sort_by"] = "description"

# sort_order: ascending / descending
dialog_field["sort_order"] = "ascending"

# data_type: string / integer
dialog_field["data_type"] = "string"

# required: true / false
dialog_field["requ

[2016-07-27 14:52] abonas commented on #10017
@miq-bot assign @josejulio

@josejulio please see what can be done in order to improve the messages. one obstacle I remember was that some messages return as text, while others as html.

[2016-07-27 15:13] dclarizio commented on #10073
@PanSpagetka correct, all C&U charts need that zoom feature.  The dual charts used to be one (I know we couldn't implement them that way now), so I would expect the zoomed version to have them both showing in a bigger display, along with the report below.

[2016-07-27 15:46] skondkar opened #10087 "Monitoring->Utilization view hangs for middleware servers and middleware datasources"
Navigating to middleware server details page->Monitoring->Utilization does not display the Capacity & Utilization data. It displays the spinner continuously and does not render the view.

Product: Latest upstream

Steps:
1) Login to MIQ
2) Add Middleware Provider
3) Navigate to Middleware->Middleware Servers
4) Click on a Server link.
5) Select Utilization from Monitoring dropdown menu

Also Middl

[2016-07-27 15:48] skondkar commented on #10087
@miq-bot add_label providers/hawkular
cc @abonas

[2016-07-27 15:49] martinpovolny commented on #10021
Sure, we can do that. I'd just add a wrapper around the method with that functionality.

I have also noticed that in the restful route case we are often fetching a record from the database by id, just to use it's id in the constructed URL so it looks more deeper cleanup would be good.

Not to forget that we would like to stop using `render :update` for redirects. We would like to use plain HTTP re

[2016-07-27 15:52] abonas commented on #10087
@miq-bot add_label bug

[2016-07-27 15:52] abonas commented on #10087
@skondkar does this happen for all server types? in the example you try this on hawkular, does that happen on EAP server as well?

[2016-07-27 15:56] skondkar commented on #10087
@abonas yes. Tested steps for EAP server.  Monitoring->Utilization view hangs for EAP server as well.

[2016-07-27 15:57] abonas commented on #10087
ok thanks for clarifying

[2016-07-27 18:54] josejulio commented on #10017
I think @rubenvp8510  took care of the html messages at some point
I'll check it out what can be done to improve the messages.

[2016-07-27 19:04] rubenvp8510 commented on #10017
Only in the case of Unauthorized error (HTTP Code: 401), the Appserver itself returns HTML, in all other cases the server returns an error in JSON format, this is a limitation of Wildfly.

This case is already discussed and addressed in this PR: https://github.com/hawkular/hawkular-client-ruby/pull/106

[2016-07-27 19:48] Fryguy commented on #10074
@bdunne I think you had already started looking at something similar...can you coordinate with @h-kataria ?

[2016-07-27 19:56] h-kataria commented on #10074
@Fryguy i have a PR coming shortly that moves trees on group summary and editor out of session into instance variables.

[2016-07-27 21:15] dclarizio commented on #10077
@hstastna please change this on master to say "Used to gather capacity and utilization metrics."  Thx, Dan

[2016-07-27 22:16] selmanj opened #10105 "GCE instance reports number of sockets in instance view despite having no concept of sockets"
Given that the helper code for rendering this value correctly handles hardware types with no `cpu_cores_per_socket` value, we should operate correctly and not include a socket count.

Example here for an n1-standard-4 instance:
<img width="398" alt="screen shot 2016-07-27 at 3 15 35 pm" src="https://cloud.githubusercontent.com/assets/798897/17194470/06d329a4-540d-11e6-8319-dc84cad8ab9d.png">

[2016-07-28 07:59] yaacov commented on #9742
fixen in: https://github.com/ManageIQ/manageiq/pull/9845

[2016-07-28 07:59] #9742 closed

[2016-07-28 08:16] dkorn commented on #10081
This issue was fixed by https://github.com/ManageIQ/manageiq/pull/9908 and backported to darga.
I think the reason you're not seeing it is because you're using the "darga-2" tag, which was released on June 29, before my fix.

It was recently verified in: https://bugzilla.redhat.com/show_bug.cgi?id=1357519

[2016-07-28 08:29] yaacov commented on #9506
Submited: https://github.com/ManageIQ/manageiq/pull/9648

[2016-07-28 09:18] hhovsepy opened #10111 "Middleware: Stop Start deployment, remains unavailable"
Deploy an WAR archive into EAP7 server.
Via check that archive is deployed and available on EAP7 server host.
Stop that WAR archive.
It is not available on EAP7 server (404)
Start archive.
Archive still not available on EAP7 server (404)

Errors are shown in EAP7 server log file after Stop and continue even after Start:
`11:16:09,000 ERROR [org.jboss.as.controller.management-operation] (Hawkular-W

[2016-07-28 10:10] bazulay commented on #10081
@chessbyte  per dkon's comment I think this one can be closed.

[2016-07-28 10:19] cben commented on #10080
Additionally, in Profiles accordion, collapsed nodes are initially presented with down-pointing triangle:
![screenshot-localhost 3000 2016-07-28 13-17-18 triangle](https://cloud.githubusercontent.com/assets/273688/17209491/eeee094e-54c5-11e6-826b-ef9bedbbe7aa.png)
need to click it twice to actually expand.

Will now test your PR...

[2016-07-28 10:41] cben commented on #10080
@miq-bot add-labels ui, bug, blocker
(see BZs in description, parseerror is blocker+, recursion just opened will request blocker on clone)

[2016-07-28 11:25] charly37 commented on #10081
Hi,
Just verified with Nightly and works great.
Thx for the investigation.

[2016-07-28 11:25] #10081 closed

[2016-07-28 11:50] abonas commented on #10111
@miq-bot add_label providers/hawkular, bug

[2016-07-28 12:01] abonas commented on #10111
@ammendonca is this related to #9876?

[2016-07-28 13:25] netsquire commented on #10087
This issue happens for Hawkular and EAP 7 both.

[2016-07-28 13:41] cben commented on #9600
I believe this can now be closed.
#9913 (merged, backported) is best we can do on our side.
It will have to remain for a long time after upstream fix.  (Until we no longer support k8s 1.4, probably)
It has unit test that it works when given uid is good.

Let me know if I forgot something.

[2016-07-28 13:41] #9600 closed

[2016-07-28 13:46] ammendonca commented on #10111
The exception shown seems to be related to https://issues.jboss.org/browse/HWKAGENT-121, which will be fixed in future versions of the agent. Anyway, it should not affect the stop and start operations itself. @hhovsepy can you please provide the full logs when the operations are executed ? Thanks.

[2016-07-28 14:02] hhovsepy commented on #10111
/var/www/miq/vmdb/log/production.log during Stop Start:
`[----] I, [2016-07-28T09:56:23.249988 #16383:12fb150]  INFO -- : Started POST "/middleware_deployment/button/108?pressed=middleware_deployment_stop" for 127.0.0.1 at 2016-07-28 09:56:23 -0400
[----] I, [2016-07-28T09:56:23.252046 #16383:12fb150]  INFO -- : Processing by MiddlewareDeploymentController#button as JS
[----] I, [2016-07-28T09:56:

[2016-07-28 14:19] ammendonca commented on #10111
Thanks @hhovsepy. I don't see the logs when Start is pressed, do you happen to have that ? Because if I got this right, the issue here is that the deployment is not available back once stopped and started ?

[2016-07-28 14:34] #8763 closed

[2016-07-28 14:50] #10080 closed

[2016-07-28 15:17] hstastna commented on #10077
@dclarizio should it really contain small letters only? I am not sure yet what capacity and utilization metrics are but if it represents names of exact metrics we use I would use capital letters as it was. If it represents some general capacity and utilization metrics I would use small letters. But maybe I am wrong and not as good in English. I'm just trying to think little bit about the issue. Th

[2016-07-28 15:29] gmcculloug commented on #10032
Fixed in PR #10089

[2016-07-28 15:31] #10032 closed

[2016-07-28 15:45] hhovsepy commented on #10111
@ammendonca my bad, updated in my previous comment the rest of logs with starting, that was all I saw in logs.

[2016-07-28 15:48] blomquisg opened #10123 "Display authentication status for all endpoints on provider summary"
The containers team added a row to the status section of the provider summary page that shows the status of the Hawkular connection (for metrics).  See #9785.

All providers should show the status of all of their endpoints on the provider summary page.

Example of Containers Provider summary page with status of multiple endpoints:
![image](https://cloud.githubusercontent.com/assets/14183/17219337/

[2016-07-28 20:45] #10074 closed

[2016-07-28 21:46] jameswnl commented on #9690
@PanSpagetka I have reproduced it using today's upstream appliance.  I'll PM you the url

[2016-07-29 08:57] hhovsepy opened #10138 "Middleware Deployments: Status update takes too long"
After deploying archive on EAP7 server, it takes more than 30 Minutes to show archive in list and   update that archive's Status to Enabled.
The same for Undeploying/Stopping archive, it takes too long to synchronize and change status to Disabled.
Middleware provider is refreshed after each action.
And archive itself is deployed undeployed on EAP7 server side immediately, the problem is in showing

[2016-07-29 16:20] gmcculloug opened #10145 "Service Approval updates to support multiple VM service templates changes"
Tracking quota work from PR #8515

See https://github.com/ManageIQ/manageiq/pull/8515#issuecomment-231836428

[2016-07-29 17:11] mfoley commented on #10138
i am +1 in defining some performance requirements.  we'll need to loop in the PM John Doyle for performance requirements.

[2016-07-29 18:38] #9773 closed

[2016-07-29 22:12] hayesr commented on #1213
@Fryguy Just ran into this one. It happens when the Pool has no parent and `parent_cluster_or_host` returns nil. (Still happens in master) Not sure if presence of parent should be validated or if we should catch the nil. Let me know what you think and I can try fixing this one.

[2016-07-29 23:20] mtho11 commented on #10035
![mw-recheck](https://cloud.githubusercontent.com/assets/1312165/17265974/4515e764-55a8-11e6-9e79-73aecb6cd9c6.jpg)

Auth recheck enabled for middleware.

[2016-07-31 16:02] abonas commented on #10087
@chrisarcand is this issue is related to #10088?
I see this exception in the log:

[----] E, [2016-07-31T18:50:45.040755 #11913:36f998] ERROR -- : MIQ(MiqQueue#deliver) Message id: [16274], Error: [undefined method `apply_legacy_finder_options' for LiveMetric:Class]
[----] E, [2016-07-31T18:50:45.040989 #11913:36f998] ERROR -- : [NoMethodError]: undefined method `apply_legacy_finder_options' for L

[2016-07-31 16:06] abonas commented on #10138
@miq-bot add_label providers/hawkular

[2016-07-31 16:08] abonas commented on #10138
@hhovsepy is this happening only with deployment actions?
what about operations on server? (stop, etc.)
and what about showing new inventory items such as new monitored servers?
When you write "Middleware provider is refreshed after each action." - how is it refreshed? do you mean the "refresh provider" action via UI? or just refreshing the UI page?
cc @pilhuhn

[2016-08-01 08:00] hhovsepy commented on #10138
This happens only with deployment actions.
For the rest of operations I did not find delays so far.
I did refresh via "refresh provider" UI operation and then periodically refreshing UI page of deployment details or list of deployments. And after 30 minutes, the Status field value is still not changed.
This 30 minutes is not constant time, it can be more or less.

[2016-08-01 13:23] abonas commented on #10087
@miq-bot assign @lucasponce

[2016-08-01 16:14] kbrock commented on #10087
@lucasponce this is mine. I'll assign back to you when I want your feedback

[2016-08-01 18:25] #10017 closed

[2016-08-01 22:10] bdunne opened #10178 "Better naming for keys"
The [current keys](https://github.com/ManageIQ/manageiq/blob/master/spec/models/miq_provision_workflow_spec.rb#L132-L134) used to find the correct provision type are not specific enough.  Once Vmware Cloud provisioning is added, Vmware Infra provisioning will break due to the naming and constant lookup ordering.
https://github.com/ManageIQ/manageiq/pull/10102 was a temporary workaround because cha

[2016-08-01 22:11] bdunne commented on #10178
cc @gmcculloug

[2016-08-01 23:36] gmcculloug commented on #10178
https://www.pivotaltracker.com/story/show/127512411

[2016-08-02 01:44] #9931 closed

[2016-08-02 01:46] #1213 closed

[2016-08-02 02:27] #10035 closed

[2016-08-02 02:37] #9772 closed

[2016-08-02 09:12] lucasponce opened #10185 "Adjust middleware live metrics names to new format from hawkular services"
Hawkular Services has modified the name of the metrics stored per model:

Before:
WildFly Aggregated Web Metrics~Aggregated Active Web Sessions
Now:
@name="Aggregated Active Web Sessions"

This has impact on the product/live_metrics configuration folder that maps the metrics names with the virtual columns names used internally.

[2016-08-02 09:12] lucasponce commented on #10185
miq-bot providers/hawkular,bug

[2016-08-02 09:13] lucasponce commented on #10185
miq-bot add_label providers/hawkular,bug

[2016-08-02 09:14] lucasponce commented on #10185
@miq-bot add_label providers/hawkular,bug

[2016-08-02 09:15] lucasponce commented on #10185
@miq-bot assign lucasponce

[2016-08-02 10:07] yaacov commented on #9506
Fixd by: #9648

[2016-08-02 10:07] #9506 closed

[2016-08-02 10:09] yaacov commented on #9743
Will not be fixed: https://github.com/ManageIQ/manageiq/pull/9648 is merged without this, we do not really need to solve this.

[2016-08-02 10:09] #9743 closed

[2016-08-02 10:44] lucasponce commented on #10185
Additional info:
This is what miq receives from the parsed metric:
#<Hawkular::Inventory::Metric:0x0000000eba3ef8 @id="MI~R~[b1632314-a641-4edb-9192-195e9143d105/Local~~]~MT~WildFly Aggregated Web Metrics~Aggregated Active Web Sessions",
@path="/t;hawkular/f;b1632314-a641-4edb-9192-195e9143d105/m;MI~R~%5Bb1632314-a641-4edb-9192-195e9143d105%2FLocal~~%5D~MT~WildFly%20Aggregated%20Web%20Metrics~Aggr

[2016-08-02 10:45] lucasponce commented on #10185
[code]

[2016-08-02 11:04] cben opened #10187 "Can't select tag when creating custom Action "Tag""
Control -> Explorer -> Actions accordion -> Configuration -> Add a new Action.
Select Action Type = Tag.

Clicking any tag has no effect:
![screenshot-localhost 3001 2016-08-02 13-56-37 tag action](https://cloud.githubusercontent.com/assets/273688/17326423/f64cdad8-58b9-11e6-97ae-0ce23b7b2a41.png)

JS console shows `Function not in whitelist: miqOnClickTagCat` error:
[code]

Happens on master, wor

[2016-08-02 11:11] cben commented on #10187
Note the function is `miqOnClickTagCat`, while I'm trying to click a specific tag under a category.
Same error shows (and nothing happens) when clicking a category.  Ideally clicking a collapsed category would expand it.
(On darga clicking a category also does nothing but shows no error.)

[2016-08-02 11:42] hhovsepy opened #10189 "Middleware Datasource Summary: Add "Host Name" field"
This is feature request to add new field "Host Name" in Datasource Summary page's Properties section.

Recently the "Host Name" field was added into Datasource lists for uniqueness, so this value is needed to have in summary page as well to keep the chain of uniqueness.
https://github.com/ManageIQ/manageiq/issues/9046

@abonas

[2016-08-02 12:53] cben commented on #8654
Opened documentation BZ https://bugzilla.redhat.com/show_bug.cgi?id=1362526
Reading carefully the existing docs I found another todo:

- [ ] Be able to schedule compliance checks for the new entities (cf. 7685)

[2016-08-02 14:23] jameswnl commented on #9425
Done in #9604 and #9890

[2016-08-02 14:23] #9425 closed

[2016-08-02 14:40] hhovsepy opened #10198 "Middleware Deployment Summary: Add "Host Name" field"
This is feature request to add new field "Host Name" in Deployment Summary page's Properties section.
We have this column in Deployments list page.

@abonas

[2016-08-02 17:33] jteehan commented on #9684
I've verified that Soft Reboot is working in 5.6.1  I agree that hard reboot is a bad idea to implement as it  does create a data loss condition which is unacceptable for QE.  We should remove the choice from the power menu if possible.

[2016-08-02 19:33] #10105 closed

[2016-08-03 04:18] abonas commented on #10198
@miq-bot add_label providers/hawkular, enhancement

[2016-08-03 10:16] cben commented on #10074
Cross-ref: https://bugzilla.redhat.com/show_bug.cgi?id=1360911

[2016-08-03 10:25] abonas commented on #10198
@hhovsepy the summary page (unlike "show all deployments") contains the link to the server entity where user can see the relevant hostname. Technically speaking, adding a hostname it is not a difficult change. Having said that, this is afaik how things are currently handled in miq summary pages to avoid duplication of data (user can press the link to the relevant entity and see all the properties

[2016-08-03 12:23] abonas commented on #10138
@miq-bot assign @rubenvp8510
@rubenvp8510 please investigate, it is vital to see in which component/stage the delay is caused (is it because the refresh process of manageiq happens not very frequently? some event is not catched/published? etc.) . thank you

[2016-08-03 12:24] abonas commented on #10138
tagging @jdoyleoss - please see above

[2016-08-03 14:08] Fryguy opened #10222 "Sporadic test failure in automate with DRb Threads."
As seen here: https://travis-ci.org/ManageIQ/manageiq/jobs/149276326

[code]

[2016-08-03 14:20] mattmahoneyrh opened #10223 "Middleware: Error: "Metric ids must be specified ""
After adding Hawkular Service provider, the following Refresh error occurred: Metric ids must be specified".

MIQ Log Error:
[----] E, [2016-08-03T10:07:02.212807 #19008:ad7974] ERROR -- : MIQ(ManageIQ::Providers::Hawkular::MiddlewareManager::Refresher#refresh) EMS: [New], id: [37] Refresh failed
[----] E, [2016-08-03T10:07:02.213506 #19008:ad7974] ERROR -- : [Hawkular::BaseClient::HawkularExcepti

[2016-08-03 15:32] romanblanco commented on #9843
Reproduce:

- set **Base the report on**: Availability Zones
- move `Management Events: Activity Sample - Timestamp (Day/Time)` to **Selected Fields**
- set in **Timeline** tab **Base Timeline on** field to `Management Events: Activity Sample - Timestamp (Day/Time)`
- in **Preview** tab select **Generate Report Preview**

[2016-08-03 15:51] moolitayer commented on #9302
@simon3z @enoodle I understand we want a fix for this asap.
If we don't have a better solution we can temporarily disable the ootb policy that initiates scans of newly discovered images. We can do that since that is only an optimization. that should be a 1 line patch for the miq policies yaml.

[2016-08-03 17:02] gmcculloug opened #10231 "Provisioning workflow issues after refactoring"
Issue found after workflow refactoring PR #9305

VMware provisioning dialog
- [x]  1) Catalog Tab - Linked Clone checkbox should be disabled if the VM does not have snapshots.
- [x]  2) Catalog Tab - Snapshot drop-down should be hidden when Linked Clone is unchecked.

Before:
![image](https://cloud.githubusercontent.com/assets/2591569/17368670/09feb78c-5963-11e6-973d-8443c3bf5c18.png)

After:
![im

[2016-08-03 17:43] jdoyleoss commented on #10138
I just added OPR-041 to the requirements. Let me know if it needs more specificity.

[2016-08-03 17:47] amavinag opened #10234 "appliance configuration failed on miq-nightly-201608022000"
appliance configuration fails on miq-nightly-201608022000.
evm services are failed to start.
systemctl | grep evm
● evm-watchdog.service                                                                loaded failed failed    evm watchdog process
● evmserverd.service

from logs, it looks like its a GITError: Bundler::GitError: The git source git://github.com/ManageIQ/manageiq-providers-amazon is not

[2016-08-03 18:07] mattmahoneyrh opened #10237 "Middleware: Inconsistency between UI and Hawkular-API Deployments List"
After deploying a new .war, and then later undeploying that same .war - the UI continued to show the new deployed .war, while Hawkular-API no longer showed the .war in it's list.

Seems that Hawkular Serices should be the correct frame of reference, as it is the Middleware manager?

Deployment list validation was done via the MIQ UI and Hawkular API.

Repro:
 - Add a Hawkular Provider
 - Deploy on

[2016-08-03 19:17] moolitayer commented on #9302
@miq-bot add_label smart_state

[2016-08-03 21:01] dclarizio commented on #10187
@himdel please look into this, seems we're missing another click, even tho we fixed a bunch a couple of weeks ago.  May need a BZ for this as well, since Darga isn't working.

[2016-08-03 21:03] dclarizio commented on #9826
@sseago can you verify this is still happening on master . . . thinking this may need a BZ if it's present in Darga as well.  Thx, Dan

[2016-08-03 21:31] cben commented on #10187
Darga is working, the error is only on master.

(My last comment was that clicking a category could be *enhanced* to expand it, if collapsed — as it does in explorers.  Even if you want to do that, I wouldn't make it blocker.)

[2016-08-03 23:18] rubenvp8510 commented on #10138
I tested it and I can't manage to reproduce the issue, I deployed a jar file and it took a couple of minutes  to show it on the deployments list ( less if I refresh the provider), the only issue that I have is when I tried to undeploy/stop a deployment, it never disappear from the list, but it is undeployed on the EAP7 server.

[2016-08-04 08:12] theseaofstars opened #10251 "error when performing the SmartState Analysis for a host which has configed both the Default and Remote Login endpoint with root account"
error when performing the SmartState Analysis for a host which has configed both the Default and Remote Login endpoint with root account. the state of the smartstate analysis remain active and will not turn to finish.
this is the evm.log when the bug happen:
`[----] I, [2016-08-04T15:46:01.001644 #3645:ee1998]  INFO -- : MIQ(MiqGenericWorker::Runner#get_message_via_drb) Message id: [9000000001094]

[2016-08-04 08:17] hhovsepy commented on #10138
I am still able to reproduce it, but as I said not constantly.
In my environment I have ~20 deployed wars, some of them disabled.
When I actively deploy some more WAR files, disable existing ones, I can see that there is a delays to list new deployed wars.
Also, I see that sometimes new deployed wars are gone, not listed for EAP7 server.

In EAP7 server.log I can not see any problem, it logs deplo

[2016-08-04 09:08] martinpovolny opened #10252 "Topology screens search inconsistency"
I have noticed that when you enter stuff into the search field and press Enter it does not run the search function but reloads the topology screen instead.

I think that this is a bug. Pressing the "Search" button should behave the same as pressing Enter key in the field.

[2016-08-04 10:02] himdel commented on #10187
Thanks!

I found 3 missing functions from the [whitelist](https://github.com/ManageIQ/manageiq/blob/master/app/assets/javascripts/miq_dynatree.js#L576) - `miqMenuEditor`, `miqOnClickProvLdapOus` and that `miqOnClickTagCat` - adding.

About clicking on categories, I don't know, it *sounds* sensible, but doesn't seem to match the behaviour of most of our trees..

[2016-08-04 10:55] moolitayer commented on #9302
@simon3z Yes it should. Copied policies will not be effected though.

[2016-08-04 11:08] simon3z commented on #9302
@moolitayer can you submit a PR that we can look at?

[2016-08-04 11:10] cben commented on #9302
What's wrong with #9484 skipping that policy for */image-inspector?
The only concern there was false positives for unrelated images with this name; but I don't see how disabling that policy for *all* images is better.

[2016-08-04 11:28] arnikasky opened #10254 "Problem with "Reconfigure VM" through Workloads (in VmOrTemplate controller)"
Hello
I configured ManageIQ such way, that usial user haven't access to Vm-Infra, only to Workloads through Service.
And I found this issue:
1)Login as usial user, I choose Service -> Workloads -> Vm -> Reconfigure this VM, i see:
![issue_rec2](https://cloud.githubusercontent.com/assets/8751017/17400136/e6b56fd6-5a4e-11e6-91d9-b83dd215ce4d.png)
I want to notice, that in this case VmOrTemplate cont

[2016-08-04 11:33] simon3z commented on #9302
@cben right, I confused #9484 with #10067 where @moolitayer reported it as not working.

If we verified #9484 I think we could move ahead with it. @moolitayer ?

[2016-08-04 12:19] moolitayer commented on #9302
Scanning new images does not handle currently short lived images of any kind - image inspector as well as other for example images used for kubernetes batch jobs.

I think we should disable or completely remove it.

Submitted #10257

[2016-08-04 13:12] #10187 closed

[2016-08-04 13:26] pavelzag opened #10258 "Problem building a container from darga latest"
Hey there.
I am attempting to build a container from the latest code with:
 sudo docker build -t darga-container-28072016 .
and I am getting the following error:

Step 11 : RUN curl -sSLko /etc/yum.repos.d/rhscl-rh-postgresql94-epel-7.repo       https://copr-fe.cloud.fedoraproject.org/coprs/rhscl/rh-postgresql94/repo/epel-7/rhscl-rh-postgresql94-epel-7.repo &&     curl -sSLko /etc/yum.repos.d/ncar

[2016-08-04 14:38] #10185 closed

[2016-08-04 14:40] #9302 closed

[2016-08-04 14:49] chessbyte commented on #9826
#9727 has been merged and backported to Darga.

[2016-08-04 14:49] #9826 closed

[2016-08-04 15:06] abonas commented on #10223
@miq-bot assign @lucasponce
@lucasponce please have a look. thanks

[2016-08-04 15:07] roliveri commented on #10251
@chessbyte This is host SSA, should it be assigned to Greg B?

[2016-08-04 15:09] lucasponce commented on #10223
There are right now some changes involved AAARM objects that affects to Middleware metrics.
There are some changes on the way on https://github.com/ManageIQ/manageiq/pull/10175 and others and probably once those changes are consolidated we will need to perform some additional adjustment into middleware provider.
I am in sync with @kbrock working on this.

[2016-08-04 16:04] lucasponce commented on #10223
Meanwhile the problems with metrics is on the way, I think that this specific issue is related to this other one https://github.com/ManageIQ/manageiq/issues/10185.
The fix for that one has been merged in master.
@mattmahoneyrh could you please test with http://hservices.torii.gva.redhat.com/ to confirm ?
Thanks.

[2016-08-04 17:09] #10234 closed

[2016-08-04 20:59] cben commented on #9302
Some background for public record:

The reason it's "only and optimization" is that user *should* also schedule periodic scanning of all images.  Scanning an image only once is not enough because openscap definitions are getting updated with newly discovered vulnerability, so an image that was deemed good yesterday might fail today.
[@moolitayer while the docs explain [how to schedule][1], they do

[2016-08-04 22:01] cben opened #10272 "single quote(s) in condition name causes weird name mangling"
If a Condition name contains N single-quote `'` characters, part of the name gets repeated N+1 times in right side title (blue is real name, red is mangled):
![screenshot-127 0 0 2 3002 2016-08-05 00-41-21 cond single quote](https://cloud.githubusercontent.com/assets/273688/17419651/17a00bd0-5aa7-11e6-828f-5a7490eb7fe0.png)

Same thing whether you select the condition from Policy Profiles, Policie

[2016-08-05 17:13] jshaughn commented on #9769
This is basically a MIQ-level duplicate of HWKAGENT-120.  I'm working that issue, please refer to and work with that comment stream. https://issues.jboss.org/browse/HWKAGENT-120

[2016-08-05 20:44] dclarizio commented on #10254
@h-kataria please look into this, not sure if the methods need to be in vm_common or it's a different issue.  Thx, Dan

[2016-08-05 20:57] dclarizio commented on #10021
@AparnaKarve please work with @martinpovolny to finalize the solution for these.  Thx, Dan

[2016-08-05 22:09] bdunne opened #10294 "Potential sources of test contamination (This is bad and needs to be fixed)"
While working on a spec, I noticed an include at the top of the file (outside any describe / context).  This includes into **Object** (really really bad) so I went searching and unfortunately found a lot more.  Making a note here since I don't have time to fix all of these right now.  Below is a partial list of offenders.
[code]

[2016-08-05 22:10] bdunne commented on #10294
cc @jrafanie @chrisarcand @Fryguy

[2016-08-07 03:07] amavinag opened #10300 "[intermittent]: evm service failed to auto start upon miq-nightly-201608052000 appliance boot"
[intermittent]: evm service failed to auto start upon appliance boot. however, "evmserverd" starts running without problem if started manually.
this issue is seen intermittently on virtualcenter and rhevm.

version: miq-nightly-201608052000
anaconda-post log: https://gist.github.com/amavinag/a7a008820188398be13db7366db1d7bd
evmlog: https://gist.github.com/amavinag/149c4337e4d64af8096ef2c346ca72b4

[2016-08-07 13:07] cben opened #10302 "Container/Pod events with :fieldpath=>"implicitly required container POD""
I thought from the comment ["'Created', 'Failed', 'Started', 'Killing', 'Stopped' and 'Unhealthy' are in fact container related events, returned as part of a pod event."](https://github.com/ManageIQ/manageiq/blob/cbf46b8da17698aa81e9ebf65c2bfa4f32e99295/app/models/manageiq/providers/kubernetes/container_manager/event_catcher_mixin.rb#L4-L14) those only ever arrive as container events.
But I'm seei

[2016-08-07 13:08] cben commented on #8654
Turns out some events I didn't cover thinking they're container-only might(?) also happen as pod events: #10302

[2016-08-07 14:53] enoodle opened #10304 "Container OpenSCAP scanning results are aggregated instead updated"
After scanning the same image multiple times the number of OpenSCAP results is aggregated between scans and the results are reported from all the scans instead of just the last one.
Example screenshot below where I scanned the same image twice:
After the first scan:
![openscap_multiple_agg_1_1](https://cloud.githubusercontent.com/assets/3123328/17463069/2d012ba4-5cc7-11e6-9379-d5d17ae2e18d.png)
--

[2016-08-07 15:14] abonas commented on #9646
happens not only when deleting something, but if an rbac error occurs as well:
![screenshot at 2016-08-07 18-07-23](https://cloud.githubusercontent.com/assets/6277245/17463260/cd2e6080-5cca-11e6-8dd5-4b48d3edfa89.png)

[2016-08-08 08:06] simon3z commented on #10302
@cben if the effect is that ManageIQ can catch more (nonexistent) events then we have to fix this but not in a rush.

Is there any other more serious side-effect?

[2016-08-08 09:22] simon3z commented on #10304
@enoodle @moolitayer please open a BZ on this one.

[2016-08-08 09:28] simon3z commented on #10258
Works for me on a clean CentOS 7.2 (4Gb of mem). More information about my node:

[code]

[code]

[code]

[2016-08-08 10:47] enoodle commented on #10304
@simon3z https://bugzilla.redhat.com/show_bug.cgi?id=1364997

[2016-08-08 11:40] lucasponce opened #10310 "Revisit the use of metric.name vs metric.type.id on LiveMetrics and related"
Once this one is merged https://github.com/ManageIQ/manageiq/pull/10283 we should revisit the use of metric.type.id vs metric.name on LiveMetric context.
In a prior commit, we map the metric.name new values provided with Hawkular but revisiting the alerts work that should not be enough, so probably it is best to focus on the new metric.type.id value.

[2016-08-08 11:40] lucasponce commented on #10310
@miq-bot add_label providers/hawkular, enhancement
@miq-bot assign lucasponce

[2016-08-08 12:20] himdel opened #10313 "Decorators + icons by class, not instance"
It seems we have a few cases where we can't really use `model.decorate.listicon_image` to get the right icon because we have no actual instance available.

Yet it makes sense to me to keep all these icon definitions at one place, which is the decorator right now.

[Draper](https://github.com/drapergem/draper) itself can decorate instances and collections, but not classes.

Any ideas, anyone?

---

[2016-08-08 12:22] himdel commented on #10313
An example of this is https://github.com/ManageIQ/manageiq/pull/10312 .. the tree uses icons for *clases* from `CustomButton.button_classes` which just returns an array of string class names..

[2016-08-08 12:46] jshaughn commented on #10237
Yes, I would say this is a duplicate of issue #9769.  PR #10287 is the MIQ-side fix but there is also work on the Hawkular side.

[2016-08-08 12:57] martinpovolny commented on #9646
actually the problem is in the other version of `identify_record`. The one in app/controllers/application_controller/ci_processing.rb

commit 0cd48edc4065b8374d393a986597c540d6085052 removes a test before adding a flash message (it is crazy to have 2 versions of the method anyway and having the test there is crazy too).

it seems that a flash message is added 3x :
  * once in `def find_by_id_filte

[2016-08-08 13:20] serenamarie125 commented on #8035
@abonas I would think that this should work more like the Find specification here: http://www.patternfly.org/pattern-library/forms-and-controls/find/#_design

[2016-08-08 14:19] abonas commented on #8035
@serenamarie125
can you please clarify what is the expected behavior? the link that you provided has this:
" Clicking on the button triggers the entire find tool to drop down." - which seems irrelevant because there's no drop down in the search control (or at least in our case)

[2016-08-08 15:19] himdel commented on #10313
@martinpovolny, @hayesr this one..

[2016-08-08 15:28] abonas commented on #10237
@mattmahoneyrh please see [above](https://github.com/ManageIQ/manageiq/issues/10237#issuecomment-238224771), it seems this is a duplicate. if indeed so, please close the issue.

[2016-08-08 15:35] hayesr commented on #10313
I like the decorate class-method, you can see how it works without knowing about Draper. Then I can see extending that convention to eventually drop the Draper dependency in favor of plain old Ruby. You could have `Class#decorate` and `Class.decorate`, etc.

[2016-08-08 15:44] himdel commented on #10313
:+1: I haven't actually *tried* it but I *think* it should work, right? Also if we do that kind of change, I'd welcome changing `decorate` so taht it doesn't blow up when a decorator doesn't exists.. I see little value in `model.try(:decorate).try(:listicon_image)` or `item.decorate.try(:listicon_image) if item.decorator_class?` if we use `delegate_all` everywhere anyway..

[2016-08-08 15:44] himdel commented on #10313
So now.. <bikeshed>where do we put it?</bikeshed> :)

[2016-08-08 16:05] hayesr commented on #10313
I wonder if it will work in the same class under `app/decorate`. Otherwise maybe "FooClassDecorator"? For safety Rails has a `safe_constantize` method that returns nil if it doesn't exist. So maybe something like:

[code]

[2016-08-08 16:50] cben commented on #10302
The effect is either:
- there exist pod events we didn't cover — e.g. Pod Started — currently not
in Events list, can't define policies for them.
- these are actually container events for which kubernetes is failing to
report the container.
  no big deal until we support policies for container events.

I suppose I should figure out which one...

[2016-08-08 17:00] jeff-phillips-18 commented on #8035
@abonas I don't believe there is any behavior provided by Patternfly/Bootstrap only styling. The patternfly test pages have some default behaviors to hide the x when the input is empty or show the x when text is added and to clear the text when the x is clicked. This functionality is not added by default.

[2016-08-08 17:10] serenamarie125 commented on #8035
@abonas "Text Entry Field: The user’s query is entered here. When possible, results should be updated as the user types, or after they press the enter key."

[2016-08-08 19:58] lgalis commented on #10254
@miq-bot assign @lgalis

[2016-08-08 20:06] lgalis opened #10328 "Service Details fails to show with the new Generic Toolbar Button"
The Service model does not yet have support for 'support_..' or 'is_available_..' feature methods.
The new generic toolbar button skip method requires these methods toolbar_builder.rb rev. bb5becdb9b8bf449f7703aad49b7bf02fde94bf6

[2016-08-08 20:07] lgalis commented on #10328
@miq-bot add_label ui, bug

[2016-08-08 20:08] lgalis commented on #10328
/cc @martinpovolny @PanSpagetka

[2016-08-08 20:58] simon3z commented on #10302
@cben Pod Started? That doesn't even exists in kubernetes. (Nor we are interested in adding new ATM ones there).

[2016-08-09 07:10] martinpovolny commented on #10313
@himdel, @hayesr : looks good to me. Even plugable. :+1:

Now let's imagine that we have the UI separated from the backend. As a Rails engine in a separate directory to start with and then actually separated by a REST API interface.

Where does the decorator code live? In the back end repository? Where is it executed? On the API site or on the UI side?

The SSUI and other UIs are likely to need th

[2016-08-09 07:55] skateman opened #10332 "Snapshots on VM summary page is not clickable"
It should be clickable to have access to the snapshots tree.
![screenshot from 2016-08-09 09-55-05](https://cloud.githubusercontent.com/assets/649130/17508852/617693c8-5e17-11e6-8669-82b8822737f2.png)

[2016-08-09 07:56] skateman commented on #10332
@miq-bot add_label bug, ui

[2016-08-09 08:33] hhovsepy opened #10333 "Fatal error in production.log and MiQ unavailable for few seconds"
FATAL error in MiQ production.log and service was restarted.

Steps I did before were:
- uploading several deployments
- refreshing provider itself from menu several times
- refreshing server's deployment list several times
- then MiQ service UI became unavailable for a few seconds, and FATAL error appeared in logs:

@abonas

[code]

[2016-08-09 08:53] himdel commented on #10313
Aah, tough one.. :) I *guess* some shared JS library would do the job.. but keeping its idea of models and the UIs and the backends synchronized ...sounds non-trivial :) (Aand, until we have angular everything, actually using that library from manageiq could be problematic too..)

[2016-08-09 09:56] martinpovolny commented on #10328
@romanblanco, @PanSpagetka : can you fix this?

[2016-08-09 11:56] isimluk opened #10344 "Performance chart menu click-through broken (it uses clocks as indexes and may occasionally crash)"
## Reproducer
* Have a Host with C&U collected, make sure the time series does not start with `0:00h`.
* Navigate to the page: Infrastractrure -> Hosts -> (pick one) -> Performance -> Utilization
* See multiple charts.
* On first chart right_click one hourly data point, select "Top VMs during this hour" in the menu

![proklik](https://cloud.githubusercontent.com/assets/6666052/17515236/7e9f4d26-5e

[2016-08-09 11:56] abonas commented on #10333
can you check the evm.log at the same point in time? what did the ui say - was there an error or it just didn't open completely?

[2016-08-09 12:01] hhovsepy commented on #10333
UI did not open completely, with service temporary unavailable.

evm.log at that time contain this logs:

`[----] I, [2016-08-09T04:14:58.316978 #3048:80f980]  INFO -- : MIQ(MiqScheduleWorker::Runner#do_work) Number of scheduled items to be processed: 1.
[----] I, [2016-08-09T04:15:03.692580 #3048:80f980]  INFO -- : MIQ(MiqQueue.put) Message id: [12570],  id: [], Zone: [default], Role: [smartstate

[2016-08-09 12:07] abonas commented on #10333
@Fryguy any idea regarding the puma exception here?

[2016-08-09 14:12] sergio-ocon opened #10346 "Dockerfile can't be instantiated in OpenShift"
OpenShift is using Docker 1.9 (1.3alpha is using 1.9.1).

In Docker 1.10 the format changed, so Docker files after 1.10 are not compatible with 1.9.
It seems that we are building the Docker version of ManageIQ with 1.10, so it is not possible to run it on OpenShift.
It would make sense to create another build with Docker 1.9, in parallel to the standard image, so ManageIQ can be used in Fedora (1.

[2016-08-09 15:14] abonas commented on #10252
related to #8035

[2016-08-09 16:25] hayesr commented on #10313
What I'm hearing from other projects that go down the road of separating UI from backend is that they end up duplicating a lot of logic. The utopian vision is that UI and backend can be completely separate with only JSON between them, but I don't think that is ever fully realized.

I agree that this will be easier for us once everything is Angular. I don't know what the state of the API is, but (j

[2016-08-09 16:26] moolitayer commented on #8898
closed through #8933

[2016-08-09 16:26] #8898 closed

[2016-08-09 16:33] simon3z commented on #10346
@bazulay is working on this with @fbladilo

[2016-08-09 16:57] moolitayer commented on #5659
This was relevant only to containers. didn't see the values for because they where not dispatched. closed through #8760

[2016-08-09 16:57] #5659 closed

[2016-08-09 19:08] fbladilo commented on #10346
@sergio-ocon @chessbyte That's correct DH autobuilds now default to docker-1.10 (schema v2 images), I worked on this issue last month, please see :

https://github.com/fbladilo/miq-on-openshift

The project has instructions step-by-step in how to run the MIQ on OpenShift 3.2, latest template merged is a multi-pod MIQ/PGDB configuration but you there is also a monolithic template if you prefer this

[2016-08-10 06:55] martinpovolny commented on #10313
@hayesr : I am not agains restfull routes. I am against restfull routes done wild while too much other stuff is in progress. If you can come up with a plan to make the restfull routes and start hacking it on the beginning of the next release cycle, then I am quite sure there will be a **LOT** of support for your efforts.

[2016-08-10 08:45] simon3z commented on #8654
@cben which ones?

[2016-08-10 13:04] PanSpagetka opened #10371 "FeatureMixin existing features"
`SupportsFeatureMixin` as it is now, generates `supports_#{feature}?` method. Which returns `true` if feature is supported and `false` if we explicitly tell that it is not supported. That is also described in [module](https://github.com/ManageIQ/manageiq/blob/master/app/models/mixins/supports_feature_mixin.rb#L24-L28)
[code]
 But when I ask if we support non-existing feature i get `NoMethodError`.

[2016-08-10 13:06] PanSpagetka commented on #10371
@romanblanco @martinpovolny @durandom

[2016-08-10 14:13] #10310 closed

[2016-08-10 15:31] hayesr commented on #10313
@martinpovolny For sure we have our work cut out for us!

[2016-08-10 15:50] carbonin commented on #10300
I've seen this before, but was always unable to pin it down. My current theory is that the way systemd is ordering the jobs may be not working correctly in some cases.

The next time this comes up run `systemctl list-jobs` on the appliance and put the output here.
That will tell us if there are any current systemd unit tasks running (if I'm right I would expect the evmserverd start task to be show

[2016-08-10 17:25] vprusa commented on #10223
mattmahoneyrh  is on PTO,
Confirmed - MW provider successfully added to MIQ.
[code]
No errors in MIQ log

[2016-08-10 17:45] gtanzillo opened #10381 "[NoMethodError]: undefined method `name' for nil:NilClass running chargeback report"
[code]

[2016-08-10 18:57] gtanzillo commented on #10381
The root cause it that there are `MetricRollup` instances that have a nil `parent_ems_id`
I worked around it with this change -
[code]

[2016-08-11 00:06] mtho11 opened #10393 "Multiple MiQ Angular Controllers not allowed on a page"
Purpose or Intent
-----------------
`ManageIQ.angular.scope`  clobbers the other scope object if they are at the same level. The last controller wins.

@ammendonca  sums this up in: https://github.com/ManageIQ/manageiq/pull/9988#issuecomment-234893261

Also, `miq_bootstrap` can only be called once and not in each partial since there can only be one application. This sets up relationships that need

[2016-08-11 00:09] mtho11 commented on #10393
@miq-bot add_label ui, enhancement, providers/hawkular

[2016-08-11 00:22] rubenvp8510 commented on #10138
As I said, I wasn't able to reproduce on my environment, but I tested on the environment provided by @hhovsepy (thanks :+1:  ) , and when I did the deploy, it never appears on the list. I also look at the hawkular-services  using hawkfx tool and it never appears in the inventory too.

But nothing weird on the logs of ManageIQ and hawkular services, the only weird thing I found is on hawkular-servi

[2016-08-11 08:08] #9646 closed

[2016-08-11 08:47] sergio-ocon commented on #9332
The Docker image is 1.10, but OpenShift is using docker 1.9.

There is a change on the Docker image that makes it not possible to run that version.

https://github.com/ManageIQ/manageiq/issues/10346

[2016-08-11 09:01] #8719 closed

[2016-08-11 10:35] fvillain commented on #9106
@fbladilo @chriskacerguis @bazulay : my thoughts on this is that there is a need to break down the miq appliance in multiple components (memcached, database, workers, ui, ...) .
The Docker-Compose approaches allows to start working on this, and it has the advantage to document the process in the mean time for those of us who wants to deploy a scalable miq architecture (i still search documentation

[2016-08-11 10:39] abonas commented on #10393
@mtho11 it sounds like a core (non hawkular specific) issue, if so, I'd remove the label hawkular. wdyt?

[2016-08-11 10:39] abonas commented on #10393
cc @martinpovolny @himdel

[2016-08-11 11:43] himdel commented on #10393
That's true, I've already [commented](https://github.com/ManageIQ/manageiq/pull/9988#issuecomment-234894103) on the issue, you can't really expect to use 1 variable to talk to two different things :). You can either do a controller above both that will dispatch, or use RxJs (introduced in https://github.com/ManageIQ/manageiq/pull/9753 (or https://github.com/ManageIQ/manageiq/pull/6623, whichever g

[2016-08-11 11:49] himdel commented on #10393
To elaborate..

What you have now is essentially..

[code]

What I propose is..

[code]

And have code in `angular0` which listens to ..whatever you need, and creates an angular event, that is listened for in either `angular1` or `angular2`.

Hope that makes it clearer :)

[2016-08-11 11:51] himdel commented on #10393
With this, I'd consider this issue closed, any objections? :)

[2016-08-11 11:54] martinpovolny commented on #10393
Just merged #6623. #9753 already had conflicts.

@ammendonca, @mtho11 : does @himdel 's answer resolve your concerns?

Let's move on with this :+1:

[2016-08-11 12:14] abonas commented on #10223
@vprusa thank you!
@chessbyte do you have the permissions to close the issue? the submitter is on PTO, but as you can see above, the issue was confirmed as resolved.

[2016-08-11 13:24] fbladilo commented on #10346
@sergio-ocon correct, it is a slightly modified version of the ManageIQ docker image, built with docker-1.9 for OSE 3.2 compatiblity.

[2016-08-11 13:38] fbladilo commented on #9106
@fvillain @bazulay @chriskacerguis we have started the decomposition of the appliance in OpenShift (3.2) here

https://github.com/fbladilo/miq-on-openshift

The current template deploys the PG database and Application on separate pods, we are currently working on memcached. I suspect it could be used on k8s with minor modifications but haven't tested yet.

[2016-08-11 13:41] carbonin opened #10409 "join_region.rb raises exception"
When configuring an appliance to join an existing database region, the join_region.rb script is run to detect the new region and write to the region file.

Every time the script is run it raises
[code]

This prevents users from joining existing regions with region ids other than 0 (this is in the REGION file by default so it wouldn't be a problem.)

[2016-08-11 13:41] carbonin commented on #10409
@miq-bot assign @carbonin

[2016-08-11 14:15] simon3z commented on #10302
@miq-bot assign cben

[2016-08-11 15:17] abonas commented on #10138
cc @pilhuhn maybe you have an idea what happens here?

[2016-08-11 16:20] sergio-ocon commented on #10346
@fbladilo Thanks, it would be great to know if that can be done automatically with the build tools or has to be done. FYI: @Fryguy

[2016-08-11 16:22] abonas commented on #10189
please see my answer [here](https://github.com/ManageIQ/manageiq/issues/10198#issuecomment-237200814)

[2016-08-11 16:28] abonas commented on #8683
@prachiyadav @mfoley can you please close the issue if it was resolved?

[2016-08-11 16:41] JPrause commented on #266
@weissjeffm it appears this issue is now resolved. If so, please close this issue. Thanks

[2016-08-11 16:44] JPrause commented on #160
@chessbyte it appears this issue is resolved. If so, please close this issue. Thanks.

[2016-08-11 16:46] JPrause commented on #640
@bronaghs it appears this issue is now resolved. If so, can you close this issue. Thanks.

[2016-08-11 17:26] #9949 closed

[2016-08-11 18:12] jrafanie commented on #241
@djberg96 @gmcculloug is this still an issue?  How much code uses rexml?  Is there a sizable gain to using nokogiri?  If not, can we start removing the Rexml monkey patches?  Part of me thinks this is debt we should just get rid of but if the code using it is very limited, is going away, etc., then maybe it's ok to keep some of this debt and just remove any patches we no longer need.

[2016-08-11 18:27] djberg96 commented on #241
@jrafanie good question, I don't remember any more what still uses REXML. My experience with nokogiri vs rexml was that it was a significant difference, both in terms of speed and memory usage (in favor of nokogiri).

I would say that any code still using REXML should be converted.

[2016-08-11 22:55] #640 closed

[2016-08-12 04:17] mtho11 commented on #10393
I would be reluctant to close this until we actually have a working solution? We have possible solutions that have not been implemented yet as to their validity. But I leave that up to someone else to decide.
Each screen worked independently in their own PR branch but when merged together the issue shows up.
I know @ammendonca  worked on this last week with: "No success in any of the approaches wi

[2016-08-12 06:36] martinpovolny opened #10426 "Duplicate (and missing) button in miq_ae_namespace_center toolbar"
`app/helpers/application_helper/toolbar/miq_ae_namespace_center.rb` -- seems there are 2 buttons `:miq_ae_namespace_delete`,

Each with a different label: ('Remove this Namespace') and ('Remove selected Items')

so I am guessing that one of them should be something else?

ping @h-kataria?

[2016-08-12 06:51] theute commented on #10138
I had this message: "Failed to process request: java.util.concurrent.ExecutionException: com.datastax.driver.core.exceptions.WriteTimeoutException: Cassandra timeout during write query at consistency LOCAL_ONE" when my machine was overloaded... (which may or may not be the problem)

[2016-08-12 09:50] martinpovolny opened #10428 "EmsCommon: Incomplete conversion to Angular"
Reviewing middleware and containers PR brought me to studying `EmsCommon`.

Looking at `edit`, `update`, `form_field_changed` the first thought I go was that there was code left after the conversion.

But the situation seems more complex. Looking at e.g. edition a provider, you can see that there's logic used from `set_form_data` in `app/views/ems_infra/_form.html.haml`.

But looking at `app/views

[2016-08-12 10:41] psav opened #10429 "Quadicon names are truncated in 'title' attribute as well as <a> text"
The Quadicons on the cloud instances page, seem to be truncated in the tag text as well as being truncated in the 'title' attribute. This means when you hover over the text, you used to get the full name of the VM, but now you just get the same truncated version. We should revert this to show the full quadicon name as otherwise people can't differentiate between two quadicons with the same truncat

[2016-08-12 11:29] skateman opened #10431 "Dynatree features that maybe aren't necessary"
Hi!

There are some features implemented around `dynatree` that aren't so important, but in the same time it's hard to implement them with `bootstrap-treeview`.

**1. Display host quadicon onMouseOver in a network tree**
There is no `hover` event in `bootstrap-treeview`.
![](https://cloud.githubusercontent.com/assets/649130/17435059/83ce5796-5b0e-11e6-954a-7ea4130b2068.png)

**2. Expand/collapse t

[2016-08-12 11:29] skateman commented on #10431
@miq-bot add_label ui

[2016-08-12 13:02] martinpovolny commented on #10431
Number 1. is not really useful I'd say and it does not scale. All the quadicons are rendered and hidden and on-hover they are shown. Only the rendering of the quadicons takes so long that in some cases the page seems broker (or actually is broken because the Apache times out on the appliance).

Moreover we can change this to on-click.

[2016-08-12 13:03] skateman commented on #10431
@martinpovolny onclick usually does something different, in this case redirects the browser to the current VM's summary page.

[2016-08-12 13:04] martinpovolny commented on #10431
Number 2. I'd disable. If I remember it correctly, @ZitaNemeckova was unifying the expand all behavior on trees converted to TreeBuilder in such a way that there always was a button to "Expand all".

[2016-08-12 13:04] martinpovolny commented on #10431
Then I'd just disable it or completely remove the view. It's not useful and it does not work if there are many VMs.

[2016-08-12 13:05] martinpovolny commented on #10431
Number 3. I don't understand. What type of changes is indicated by blue?

[2016-08-12 13:08] skateman commented on #10431
@martinpovolny you have a tree with checkboxes and if you change the state of the checkboxes, they will be shown with blue until they're saved...

[2016-08-12 13:13] epwinchell commented on #10431
#1. Always seemed hokey to me and isn't really in keeping with Patternfly. @dclarizio @serenamarie125 Thoughts?

[2016-08-12 13:14] martinpovolny commented on #10431
I see. That would require some custom javascript to change the style. Isn't the fact that the form was manipulated demonstrated by the form buttons (enabled/disabled?)

If so, I would remove this feature. At least for now.

[2016-08-12 13:16] skateman commented on #10431
It can be implemented later in the external JS.

[2016-08-12 13:38] ZitaNemeckova commented on #10431
@martinpovolny It's not always (just trees that had it before) but could be easily added.

[2016-08-12 13:57] martinpovolny opened #10434 "Buttons/toolbar regression"
getting this trying to look at a Service in My Services:

[code]

@PanSpagetka, @romanblanco : please, fix this asap

thx!

[2016-08-12 13:58] martinpovolny commented on #10434
Seems the service does not have `supports` now `is_available` you are faster than @durandom

[2016-08-12 14:43] lpichler opened #10436 "filtering by registry doesn't work in reports"
with this setting in definition of report:
<img width="1163" alt="screen shot 2016-08-12 at 16 32 43" src="https://cloud.githubusercontent.com/assets/14937244/17625748/6de7f4ea-60aa-11e6-9155-05c0b90bb9d7.png">
it causes error
[code]

[2016-08-12 14:43] lpichler commented on #10436
@miq-bot assign @lpichler

@miq-bot add_label ui, reporting

[2016-08-12 14:52] lpichler commented on #10436
@miq-bot add_label bug

[2016-08-12 16:26] #266 closed

[2016-08-12 17:20] mtho11 commented on #10393
With #6623 merged now, this should make an Rx.js option more robust than $scope hacks (especially with $scope going away  in Angular 2)

[2016-08-12 17:21] mtho11 commented on #10393
@miq-bot remove_label providers/hawkular

[2016-08-12 18:53] #10222 closed

[2016-08-12 19:18] dclarizio commented on #10431
@skateman

There is no hover event in bootstrap-treeview.

We can drop this feature . . . if anyone asks for it back, we will implement it differently.

There is no onDblcClick event in bootstrap-treeview.

Agree with others that an expand all checkbox can be added for trees that need it.

There are 85 lines of ruby code rendering JS for this feature. It can be extracted into pure JS if necessary.

[2016-08-12 20:27] skateman commented on #10431
@priley I think this third one should go directly into `bootstrap-treeview`, what do you think?

[2016-08-12 20:38] dclarizio opened #10450 "Exception trying to open C&U charts for Host or Cluster"
I have a DB this happens on if it can't be recreated, ping me offline.

On current master, when pressing `Monitoring` / `Utilization` button, get:

[code]

[2016-08-12 20:39] dclarizio commented on #10450
@kbrock @NickLaMuro as discussed on gitter

[2016-08-12 20:42] dclarizio commented on #10450
@kbrock @NickLaMuro OK, tried with my trusty classic DB and it happens too, so nothing special about the DB I don't think.

[2016-08-12 20:43] NickLaMuro commented on #10450
Relevant info from Keenan.  Putting it here so it doesn't get lost in the Gitter logs:

[2016-08-12 21:13] #8077 closed

[2016-08-12 21:54] AparnaKarve commented on #10428
@martinpovolny One reason that I can think of why we have Ems related code in two places (`EmsCommon` and `EmsCommonAngular`) is because some providers like Middleware are still not angularized and they continue to use `EmsCommon`.
Once all Ems Providers are converted to Angular, we should look into consolidating `EmsCommonAngular` and  `EmsCommon`.

Also, we are *not* making 2 requests while edit

[2016-08-12 22:05] dclarizio commented on #10072
Verified in the UI.

[2016-08-12 22:09] rubenvp8510 opened #10455 "Middleware provider toolbar disappeared (Regression)"
The toolbar on the providers show action it's gone.

![miq_mwprovider_toolbar](https://cloud.githubusercontent.com/assets/3799716/17638341/0abb9fde-60af-11e6-9ea7-81ca621edfaa.png)

Now is not showing:
![miq_mwprovider_notoolbar](https://cloud.githubusercontent.com/assets/3799716/17638339/07ff6492-60af-11e6-8022-65fe773c018c.png)

I'm not sure if this is only happening on Middleware, other areas c

[2016-08-12 22:14] #10455 closed

[2016-08-12 22:15] rubenvp8510 commented on #10455
It seems its already  solved ..

[2016-08-13 07:08] skateman commented on #10431
@dclarizio something like this https://github.com/jonmiles/bootstrap-treeview/pull/273

[2016-08-13 08:02] martinpovolny commented on #10428
@AparnaKarve : first you click edit. The angular form is loaded and to have it loaded, `@ems` is fetched from the database. That's one request and one fetch of all `@ems` from the DB.

Then the form is loaded, Angular kicks in and fires a request for `ems_form_field`. Do that is a second request with second time all the `@ems` is fetched from the database.

I understand the argument with middlewar

[2016-08-14 13:44] bazulay commented on #10346
@sergio-ocon  @fbladilo

Sergio - there is not much to do about it till OSE will support 1.10 officially.
- either you deploy 1.9 l;atest with your OSE and by that you can't use official autobuilt image from docker hub
- or you install 1.10 and than you can't push images into OSE internal registry.

A possible solution for manageiq official image is to build it locally on 1.9 and than push it to d

[2016-08-14 13:57] bazulay commented on #9332
@sergio-ocon The docker version issue is right but less relevant for the discussion here.
@vnugent  per your last comment you can  work with @franco  directly on the PODified version git
@chessbyte  I think this issue needs to be closed, please reopen if you still have an unanswered question

[2016-08-15 07:37] moolitayer commented on #8988
Turns out this already [exists](https://github.com/ManageIQ/manageiq/blob/62874a372afde03cf43abb51a13dfb4708a52e01/db/fixtures/miq_event_definitions.csv#L170) and is working

[2016-08-15 07:38] #8988 closed

[2016-08-15 09:22] Ladas commented on #10049
thanks guys, let me try this, I'll reopen if i have issues :-)

[2016-08-15 09:22] #10049 closed

[2016-08-15 09:53] hhovsepy commented on #10087
@abonas this issue is blocker for QE to test utilization. Could you please manage to get it fixed?

[2016-08-15 11:03] abonas commented on #10087
@lucasponce / @kbrock can you please update the status of the fix / ETA? thank you

[2016-08-15 11:58] kbrock commented on #10087
@abonas sorry - on it

[2016-08-15 13:10] #1946 closed

[2016-08-15 13:17] AparnaKarve commented on #10428
@martinpovolny I see, so we have two `find_by_id_filtered` calls -- one for `edit` and one for `ems_form_field`.
As far as middleware goes, don't we already have a PR for that?  I believe that's the PR - https://github.com/ManageIQ/manageiq/pull/7623

[2016-08-15 13:23] AparnaKarve commented on #10428
I have not gone through the details of the PR (https://github.com/ManageIQ/manageiq/pull/7623) yet, but it looks like a much different implementation of Angular compared to the other providers that are converted.

[2016-08-15 14:30] #10409 closed

[2016-08-15 14:38] jshaughn opened #10477 "Middleware Server fails Add Deployment"
This seems to be fallout from the work done for Issue #8719.  When submitting a file as a new deployment the request fails in the middleware controller code, the request does not make it out to the provider.

I think I have a fix, I'll verify.

@miq-bot add_label bug, providers/hawkular, ui

[2016-08-15 14:59] abonas opened #10480 "Middleware/hawkular domain entity needs an icon"
needed as glyph and icon, currently some placeholders are used.

https://docs.jboss.org/author/display/WFLY10/Admin+Guide?_sscc=t#AdminGuide-ManagedDomain

related to #10172 and #10338

cc @epwinchell @serenamarie125 @chessbyte
@miq-bot add_label ui, providers/hawkular

[2016-08-15 14:59] abonas opened #10481 "Middleware/hawkular server group entity needs an icon"
needed as glyph and icon, currently some placeholders are used.

https://docs.jboss.org/author/display/WFLY10/Admin+Guide?_sscc=t#AdminGuide-ManagedDomain

related to #10172 and #10338 and #10480

cc @epwinchell @serenamarie125 @chessbyte
@miq-bot add_label ui, providers/hawkular

[2016-08-15 15:03] cben opened #10482 "custom attributes break report editor if name contains '.'"
I have an OpenShift provider with these custom attributes on pods (aka ContainerGroup):

[code]

Editing a Report for Pods, I'm seeing 2 issues:

![screenshot-localhost 3000 2016-08-15 14-21-28 custom dot filter](https://cloud.githubusercontent.com/assets/273688/17663399/e3d58234-62f4-11e6-8b6f-36551f5dfc59.png)
1. If I add `kubernetes.io/hostname` and/or `manageiq.org` to Selected Columns, clicki

[2016-08-15 15:08] abonas commented on #10477
@jshaughn please add some more information/exception from log/screenshot to this issue, it will help understanding if the issue is fixed/how qe can test it.

[2016-08-15 15:23] jshaughn commented on #10477
You'll see a message like:

  "Unable to deploy "test-simple-1.0.0.war" on this server."

There will be no gem or server-side activity, it fails on the miq-side.

[2016-08-15 15:34] JPrause commented on #358
@simaishi do you know if this is this still an open issue.

[2016-08-15 15:36] JPrause commented on #243
@AparnaKarve do you know if this is still an open issue?

[2016-08-15 15:38] JPrause commented on #2078
@Fryguy do you know if this is still an open issue?

[2016-08-15 15:40] simaishi commented on #358
Checked the current imagefactory code, but the network connection setting is still not exposed there.

[2016-08-15 15:42] JPrause commented on #3487
@gtanzillo do you know if this is still an open issue?

[2016-08-15 15:49] abonas commented on #10480
cc @Jiri-Kremser

[2016-08-15 15:50] abonas commented on #10481
cc @Jiri-Kremser

[2016-08-15 15:51] romanblanco commented on #10434
@PanSpagetka @martinpovolny so far from my investigation, I know:

- problem is with `service_reconfigure` button (https://github.com/ManageIQ/manageiq/pull/10194)
- problem is, that the button does not support `is_available?(:reconfigure)`, neither `supports_reconfigure?`, but uses the different way -- `validate_reconfigure`

[2016-08-15 16:48] bronaghs opened #10488 "Add subscription ID to Azure discovery screen"
To connect to an Azure provider the user is now required to enter a subscription id, therefore the Azure provider discovery screen must be updated to capture one, just like the Azure "Add Cloud Provider" screen was. Otherwise, the attached error will be thrown.

This fix does not have to be backported to Darga since the subscription ID requirement was introduced to master after Darga was released.

[2016-08-15 16:48] bronaghs commented on #10488
@miq-bot assign @dclarizio

[2016-08-15 17:31] gtanzillo commented on #3487
@JPrause Looks like it's not longer an issue. We are not at version `2.1.0` upstream

[2016-08-15 19:30] NickLaMuro commented on #10450
The possible offending PR:  https://github.com/ManageIQ/manageiq/pull/10175
And merge commit:  https://github.com/ManageIQ/manageiq/commit/8177209

Haven't been able to reproduce yet, but if this in fact the culprit, the following should make it go away:

[code]

[2016-08-15 19:30] #10304 closed

[2016-08-15 19:57] mattmahoneyrh commented on #10223
Agreed that the above instance (http://hservices.torii.gva.redhat.com) added and refreshed with no issues.
However, encountered what appears to be the same issue after creating a new Hawkular Services instance, and then adding/refreshing in MIQ:

MIQ Error: "Error - Less Than A Minute Ago Metric ids must be specified "

HS version(s):
Hawkular Services: 	Running	0.0.10.Final-SNAPSHOT (commit 012d1

[2016-08-15 20:23] mattmahoneyrh commented on #10237
Closing due to jshaughn's note on this issue being a dupe.

[2016-08-15 20:23] #10237 closed

[2016-08-15 22:01] #10436 closed

[2016-08-16 06:26] lpichler commented on #10482
@cben Thank you very much for issue with additional info!

@miq-bot assign @lpichler

[2016-08-16 08:17] cben opened #10499 ""Replicator {Successfully Created,Failed Creating} Pod" events are confusing"
Usability issue with replicator events (defined in a26e738ba9ec386b98ac44cf78cceb6d620e7eb6):

`REPLICATOR_FAILEDCREATE` and `REPLICATOR_SUCCESSFULCREATE` are replicator events, but they don't refer to creation of the replicator itself — they refer to creation of a pod _by the replicator_.
I thought I'm clarifying this by naming them "Replicator Failed Creating Pod", "Replicator Successfully Creat

[2016-08-16 08:49] cben commented on #10499
@miq-bot add-label control, providers/containers, ui

[2016-08-16 08:50] cben opened #10500 "Bad right side title after creating/deleting Policy"
Found another instance of https://bugzilla.redhat.com/show_bug.cgi?id=1359909 that I didn't cover in #9347:

Control -> Explorer -> Policies accordion.
After adding or removing a policy right side title seems to use model name .capitalize :

![screenshot-127 0 0 2 3002 2016-08-14 18-29-12 containerreplicator after add policy](https://cloud.githubusercontent.com/assets/273688/17690839/e472361a-6399

[2016-08-16 09:00] isimluk opened #10501 "Chargeback rates API not usable after model changes"
In past we supported only a flat rates (`ChargebackRateDetail.rate`). Since #5828, we support tiered rates. The tiered rates are more complex and our existing API `/rates` does not reflect it, hence it is hardly usable.

Problems:
- The `/rates` endpoint is for `ChargebackRateDetail` while the top entity is now enforced to be `ChargebackRate`. The validation has been added to `ChargebackRateDetail

[2016-08-16 09:10] martinpovolny commented on #10428
That PR is about going full angular in the right panel. We are working with @karelhala on splitting this into parts and getting it merged. Part one is the Angular toolbars: https://github.com/ManageIQ/manageiq/pull/9753

Another part would be the GTL grids.

I thought the provider add/new would be a separate task but it seems, you are right, it's part of that PR too. I'll talk to @karelhala.

I'll

[2016-08-16 09:11] himdel commented on #2078
`ag cfme | wc -l` .. 841

So I'd say yes..  a few are false positives, some are server names in spec yamls, but some are user-exposed messages too..

[2016-08-16 10:36] cben commented on #10500
@miq-bot add-label darga/yes
(happens on darga too.  the BZ was "blocker" just to get #9347 backported before 2nd build.  I wouldn't call this remaining case actual blocker, unless there is another build anyway.)

[2016-08-16 10:45] abonas commented on #10223
@mattmahoneyrh what version/build of miq are you using?

[2016-08-16 11:28] #10426 closed

[2016-08-16 11:36] cben opened #10504 "Usability: "Verify" email settings should warn that Notifier role is needed"
top right menu Administrator|⌄ -> Configuration -> Settings accordion -> Server EVM[1] -> "Outgoing SMTP E-mail Server" section.
The "Verify" button works, by design, even if you don't have Notifier role enabled:

But then you'll be very perplexed why "E-mail" action does nothing :-/  Poring over logs with @pavelzag didn't help either.  If I didn't accidentally come across that doc, it could take

[2016-08-16 12:06] durandom commented on #10371
@PanSpagetka thanks for putting attention to this.

I fell into that trap once https://github.com/ManageIQ/manageiq/pull/9935 - it can lead to dangerous false positives.

But I'm :+1: for having something to inflect upon supported features. We will need this, when we scan all models for their supported features.

For now we you could use `responds_to? :supports_feature?`

Yea :( This is why `is_av

[2016-08-16 12:17] moolitayer commented on #10499
@cben I personally find the event names you used clear enough.
I agree we have a general usability issue when all events can be attached to all policies.

I remember we discussed it before, Is there any plan to limit allowed events for a policy based on it's towhat @gtanzillo @gmcculloug ?

[2016-08-16 13:17] yaacov commented on #9946
#9947 merged

[2016-08-16 13:17] #9946 closed

[2016-08-16 13:43] mattmahoneyrh commented on #10223
MIQ: master.20160815140028_a863522

[2016-08-16 14:18] abonas opened #10512 "error and notification popups have not consistent location for "close""
Example:

![exceptiontags](https://cloud.githubusercontent.com/assets/6277245/17702167/70c38a84-63d5-11e6-9be6-779f760447c2.png)

note that the first pop up has close on the left while the errors have that on the right.
also the look n feel of the "close" part is different - for some it has a grey color, some don't

@miq-bot add_label ui

cc @martinpovolny @serenamarie125 @epwinchell

[2016-08-16 14:38] martinpovolny commented on #10512
@abonas : this is development mode only feature to force us to fix all the issues ;-)

[2016-08-16 14:40] #10512 closed

[2016-08-16 14:53] hhovsepy commented on #10223
I saw this problem as well, it happens when there are not EAP7 or WF servers monitored by Hawkular itself. So there is not any data in hawkular side.

But still, it should not show error.

[2016-08-16 15:35] Jiri-Kremser opened #10515 "Breadcrumbs navigation not working properly for entities that are nested 3 lvls or more"
repro steps:
1. click on provider
2. click on its servers (on the right hand side)
3. select particular server
4. click on its deployments (on the right hand side)
5. select any deployment
6. click on the `Local (All Middleware Deployments)` which is the last but one link in the breadcrumb navigation

resulting url:
`http://10.40.0.250:3000/middleware_server/show/1?display=middleware_deployment`

[2016-08-16 17:12] amavinag commented on #10300
@carbonin: I see this problem again with "miq-nightly-201608152000". no jobs running in "systemctl list-jobs"

[root@~]# systemctl list-jobs
No jobs running.

[root@ ~]# systemctl | grep evm
evm-watchdog.service                                                                loaded active running   evm watchdog process

[root@ ~]# tail -f /var/www/miq/vmdb/log/evm.log
[----] I, [2016-08-16T11:38:00

[2016-08-16 18:11] AparnaKarve commented on #10428
@martinpovolny Sounds good.
Also please note that, the recent Re-validation enhancement https://github.com/ManageIQ/manageiq/pull/9792 that was added for providers (cloud, infra and container), would have to be added for Middleware as well.

[2016-08-16 18:13] #10477 closed

[2016-08-16 18:46] mattmahoneyrh commented on #10223
After putting an EAP7 under Hawkular Services management, and then adding the Hawkular Services provider, the following Refresh error occurred:

Error - 1 Minute Ago
WELD-000052: Cannot return null from a non-dependent producer method: Producer for Producer Method [MetricsService] w...

[----] E, [2016-08-16T14:44:53.007801 #29541:1125984] ERROR -- : MIQ(ManageIQ::Providers::Hawkular::MiddlewareMa

[2016-08-16 20:54] jrafanie opened #10527 "After enabling a role in the UI, it takes 30 seconds until it's activated"
Seen [here](https://github.com/ManageIQ/manageiq/pull/8897#issuecomment-240186476)

I believe it's because there's at least 20 seconds of sleeps happening in the server code: [worker_monitor_frequency is 15 seconds](https://github.com/ManageIQ/manageiq/blob/19f278418a4713cb7ae3097ad9b36f7d403684e0/app/models/miq_server.rb#L329) and [monitor_poll of 5 seconds](https://github.com/ManageIQ/manageiq/b

[2016-08-16 21:36] kbrock commented on #10223
not sure if this is related, re-opening

[2016-08-17 06:33] lpichler opened #10534 "sporadic failure in ../providers/vmware/infra_manager/provision_spec.rb:183"
https://travis-ci.org/ManageIQ/manageiq/jobs/152869956

[code]

[2016-08-17 12:23] PanSpagetka commented on #10371
@durandom thanks, so we are planning to have some way to get supported features, thats good :)

[2016-08-17 12:32] quarckster opened #10539 "Incorrect title of predefined container image condition"
![screenshot1](https://cloud.githubusercontent.com/assets/1011257/17736201/c0670320-6486-11e6-9aac-1d8e145e4f25.png)

[2016-08-17 12:38] quarckster opened #10540 "Incorrect label of empty list of All Pod conditions"
![spectacle x26425](https://cloud.githubusercontent.com/assets/1011257/17736435/14acd198-6488-11e6-83e1-4d79034df2c6.png)

[2016-08-17 12:40] #10371 closed

[2016-08-17 12:47] lpichler commented on #10534
I am able to reproduce by (`let(:vm_folder)` and `let(:discovered_vm_folder)`  moved under  `it "uses a nested`  ):
[code]

[2016-08-17 14:02] jrafanie commented on #10527
History of monitor_poll:

[code]

[2016-08-17 14:05] jrafanie commented on #10527
history of 15 second `worker_monitor_frequency`:

[code]

[2016-08-17 14:10] #10328 closed

[2016-08-17 14:10] #10434 closed

[2016-08-17 15:06] abonas commented on #10087
@kbrock any progress/ETA with this issue?

[2016-08-17 16:26] alex-lairan opened #10552 "[Bug] Can edit a read_only role from API"
Hi everyone,

I contact you today after have a problem with the ManageIQ API.

When I've remove features from `EvmRole-super_administrator`  I've seen I can update it. (From the UI it's impossible)

Request: `POST miq.url/api/roles/25/features/`

[code]

Thank :)

[2016-08-17 16:46] djberg96 commented on #8634
@Fryguy Any update on this?

[2016-08-17 16:49] djberg96 commented on #2820
@bronaghs FWIW, the data was regenerated in https://github.com/ManageIQ/manageiq/pull/9519. I also made some minor modifications to the spec/tools/scvmm_data/generate_data.rb file.

[2016-08-17 17:54] kbrock commented on #10087
@abonas meeting with gt @ 3:00PM EST, hoping to get merged shortly after that

[2016-08-17 18:03] mfoley commented on #8683
QE does not know the answer to this issue.  At the moment (and for the last 2 weeks) we cannot stand up "latest" MiQ with latest Hawkular-services.  We have been logging bugs

https://issues.jboss.org/browse/HAWKULAR-1111
https://issues.jboss.org/browse/HAWKULAR-1110

https://github.com/ManageIQ/manageiq/issues/10223#issuecomment-240247050

and https://issues.jboss.org/browse/HWKMETRICS-450

When

[2016-08-17 20:23] kbrock commented on #10087
@abonas and @lucasponce can you let me know if this is resolved?

[2016-08-17 21:56] lucasponce opened #10568 "Multiple unexpected toast messages on Middleware provider form"
I am not fully sure if this is an issue or an expected behaviour.
I have found these messages in a clean environment adding a new Middleware provider
![image](https://cloud.githubusercontent.com/assets/1662329/17754698/21f06e8e-64d6-11e6-96e7-e049713e1898.png)

Please, could someone confirm if it is correct ?

[2016-08-17 21:56] lucasponce commented on #10568
@miq-bot add_label providers/hawkular

[2016-08-17 21:58] lucasponce commented on #10568
/cc @abonas @mtho11 @karelhala

[2016-08-17 22:39] lucasponce commented on #10087
Hi @kbrock, I have prepared a small PR to adjust a wrapped array into live_metrics.
This solves this issue.
But I expected also that as part of the "args" variable in AAArM.find(*args) we could get the old ext_options[:only_cols] or equivalent data but in different format.
With that LiveMetrics can optimize its calls into the provider and only fetch the info related of the specified columns.
Do yo

[2016-08-17 22:42] lucasponce commented on #10568
Update: this happens on other pages, not only Middleware provider one, so perhaps it is filed as UI category somewhere else.

[2016-08-17 22:50] mtho11 commented on #10568
![manageiq__middleware_providers](https://cloud.githubusercontent.com/assets/1312165/17755977/024ef2a6-6492-11e6-91d9-f2817db91899.jpg)

Caused by the duplicate identifier "val" that partial is probably getting included more than once even if its not visible.

[2016-08-17 23:15] mtho11 commented on #10568
Looks like global issue to me.
@miq-bot remove_label providers/hawkular
@miq-bot add_label bug

[2016-08-18 03:30] tj13 opened #10572 "add support for AWS cn-north-1 region"

[2016-08-18 07:20] abonas commented on #10568
perhaps related #10512

[2016-08-18 09:04] #7375 closed

[2016-08-18 10:42] mmojzis opened #10575 "Access key pair can't be None while provisioning"
1) I added an EC2 provider
2) Went to provisioning
3) In Properties Guest Access Key Pair I tried to choose None key.

It didn't let me choose it. It always selects the only key, that was there.

[2016-08-18 11:49] mfalesni opened #10577 "Can't add nested namespaces or any classes in Automate"
`miq-20160815`

When clicking on an existing namespace and then adding a new one, the configuration dropdown has the same options as when under domain, therefore not allowing you to create classes and if you try creating a nested namespace, it will land in the domain root anyway ...

[2016-08-18 11:55] mmojzis opened #10578 "Refresh should refresh also tree view"
1) I started an instance.
2) Waited for it to start and then refreshed page.
3) Part of the page with quadicons was refreshed, but tree view part wasn't.
So I see it's running on the quadicon part and I see it's stopped on the tree view part.
![refresh_whole_page](https://cloud.githubusercontent.com/assets/19479861/17772845/59d347f2-654b-11e6-8e17-4103157d1511.png)

[2016-08-18 11:55] mfalesni opened #10579 "Can't copy things in Automate"
`miq-20160815`
1) Create a new domain
2) Go to eg. /ManageIQ/System/Request
3) Open the copy dialog for the Request class
4) Click Copy button
The dialog does not get closed
5) Uncheck the Copy to same path checkbox
An error about pressing the back button appears.

The class gets copied.

[2016-08-18 12:01] hhovsepy opened #10580 "Unexpected error encountered: Back to All Middleware Deployments page"
![screenshot from 2016-08-18 13 54 33](https://cloud.githubusercontent.com/assets/604313/17772989/26694f32-654c-11e6-84f1-5e4f2f437d50.png)

1. Select a Middleware Provider from providers list.
2. Go to it's servers list.
3. Select a EAP7 server.
4. Go to servers deployment's list.
5. Select a deployment.
6. From history URL path right above Summary page of deployment click on the last link to go

[2016-08-18 12:43] mfalesni opened #10581 "Automate tree is not updated after class is deleted"
`miq-20160815`

When you delete a class, it is still present in the automate tree.

[2016-08-18 12:58] mmojzis opened #10582 "Cloud providers instances have power states shared in All Instances view"
When I have for example ec2 cloud provider and I go to All Instances or Instances by provider and check some ec2 instances under Power States I see all the power states for all cloud providers. For example shelve/pause is not supported by EC2.
Only math intersection of instances power states should be able to be selected.

It results in this error:

[code]

![instances_states](https://cloud.github

[2016-08-18 13:08] hhovsepy opened #10583 "Middleware: Deploy archive: No warn message when archive exists"
According to OPR-032a, when deploying application archive into Middleware Server, MiQ should warn user that archive with the same name already exists and will be overwritten, and give the user the option to proceed or cancel the deployment.

This warn message is new and needs to be implemented, so opening issue to track this important point, as OPR-032a is marked as done.

@abonas

[2016-08-18 13:13] mfalesni commented on #10577
Also when clicking on domain and then clicking on namespaces in the table on the right side, nothing happens.

[2016-08-18 13:26] quarckster opened #10585 "No search field in vm and templates lists"
Steps to reproduce:
1. Add a provider.
2. Navigate to summary screen of the provider
3. In Relationships table click on Instances, VMs, Templates or Images.

Result:
There is no search field in the list.

![screenshot1](https://cloud.githubusercontent.com/assets/1011257/17775232/9884e0b2-6557-11e6-91b1-34f8486894e3.png)
![spectacle e15305](https://cloud.githubusercontent.com/assets/1011257/1777523

[2016-08-18 13:27] mmojzis opened #10586 "EC2 Elastic/Floating IPs should be shown as IP Addresses in Tile/List View and in the summary"
When I assign elastic IP to an instance I can see it has floating IP, but it also should be displayed in IP Adressess rows in summary and tile/list view.

[2016-08-18 13:46] hhovsepy opened #10587 "Middleware: Undeploy archive does not remove it"
According to requirements, when undeploying application archive from EAP7 standalone server, it should deactive and remove that archive.
But it only deactivates the archive and leaves it in a Disabled state. At least it keeps showing in Deployments list of MiQ UI.

This requirement of removing is new and probably is in development phase, but as general task is done, opening new issue to track it.

[2016-08-18 14:36] blomquisg commented on #10581
Probably something we won't fix anytime soon

[2016-08-18 14:37] mmojzis opened #10591 "EC2 autorefresh works only for items associated to instance/image"
When I add for example elastic IP or security group then refresh is not going to happen.
When I associate elastic IP with instance then refresh is going to happen.
Refresh should happen when anything changes in ec2 and not only things, that are associated to instances/images.

[2016-08-18 14:37] dajohnso commented on #10579
@mfalesni , whats the error from the log and/or ui

[2016-08-18 14:37] blomquisg commented on #10579
@mfalesni can we get the error?

Assigning to Dan for now.

[2016-08-18 14:38] blomquisg commented on #10578
Again, something that we won't fix anytime soon, I think.

[2016-08-18 14:45] blomquisg commented on #10591
If I'm reading this right, this has to do with having the correct event handling.  If needed, we can punt this over to @gmcculloug to deal with :)

[2016-08-18 14:47] mmojzis commented on #10591
This is event handling. I can add elastic IP and security group only from AWS console.
When I add it in AWS it should be autodiscovered in CFME in 10 minutes maximally, but no refresh occurs.

[2016-08-18 14:51] skateman commented on #10577
This is blocking me with `dynatree` to `bootstrap-treeview` conversion! :(

[2016-08-18 14:54] simon3z commented on #10540
@miq-bot assign cben

[2016-08-18 14:55] simon3z commented on #10539
@miq-bot assign cben

[2016-08-18 14:55] mmojzis opened #10592 "EC2 provision with Floating IP isn't associated after provision in cfme"
When I do provisioning of ec2 instance and associate floating IP in provision dialog then I dont' see that floating IP after successful provision associated to instance. In AWS console it's shown correctly and associated.
In CFME I have to do manual refresh to see it associated.
I think that Floating IP association is executed right after provision so it should be autorefreshed after floating IP i

[2016-08-18 15:08] mmojzis opened #10594 "Configuration jobs page has title Foreman Provider"
When I go to Configuration -> Configuration Management I can see page title as ManageIQ: Foreman provider.
I think this is misleading, because there is also Ansible tower provider, so title should be ManageIQ: Configuration Management?

[2016-08-18 15:14] mmojzis opened #10596 "Chargeback assignments are not saved when Rate is <Nothing>"
Navigate to Cloud Intel -> Chargeback -> Assignments.
Select Compute or Storage and Assign to for example Enterprise or Tenants.
Save button is not disabled anymore, but when I save it it resets Assign to default(<Nothing>).
I have to select rate to make it really saved.
Either button should be disabled or it should be saved even when rate is not set.
![not_saved](https://cloud.githubusercontent.c

[2016-08-18 15:17] gmcculloug commented on #10575
@mmojzis The default logic on the drop-downs is to select an item if there is only one in the list.  To work-around this issue you can define `:auto_select_single: false` on the field in the dialog.

For example:
[code]

If you had 2 or more key-pair items in the drop-down it would allow for the selection of None.

@d-m-u The `:auto_select_single: false` setting should be applied to all the provis

[2016-08-18 15:20] mmojzis opened #10597 "Timelines tree view is graphically broken"
Go to Cloud Intel -> Timelines
![broken_timelines](https://cloud.githubusercontent.com/assets/19479861/17779482/130a094c-6568-11e6-8b38-a6f0869f8ded.png)

[2016-08-18 15:29] mfalesni commented on #10579
Sure, here it comes:

Pressing the Copy button on an existing class:
[code]

Pressed the Copy button:
[code]

Changing the checkbox:
[code]

`/me` should have pasted these before, sorry :)

[2016-08-18 15:33] d-m-u commented on #10575
https://github.com/ManageIQ/manageiq/pull/10598

[2016-08-18 15:35] mmojzis opened #10599 "Filters user input dialog is not cleared after pressing Apply button"
Add filter with user input.
Select that filter.
Fill in user input and press Apply.
Filter is activated, but dialog is not cleared and I have to press cancel or x to clear it.
It should be cleared automatically after applying it.

[2016-08-18 15:39] mmojzis opened #10600 "In Middleware is missing quick/advanced search"
All the pages that belong to Middleware (but Topology)are missing quick/advanced search.
It should be there, because on the left side there is the Filters panel and the only way how to add filters is by advanced search.

[2016-08-18 15:43] otsuman opened #10601 "No error message for incorrect nfs path in log collection"
Setup log collection for nfs.
Go to Configuration - Diagnostics
Setup log collection with NFS with incorrect path and press save
RESULT: no error message occur
EXPECTED RESULT: error message occur about incorrect path

[2016-08-18 15:53] jshaughn commented on #10568
I am seeing this as well, and have seen it for a few days, so it started well before this issue creation.  I originally thought it was maybe local, but I guess not.

[2016-08-18 16:01] gmcculloug commented on #10591
@mmojzis It would help if you could identify the events that are generated that should be added.

[2016-08-18 16:03] mmojzis opened #10602 "Opening C & U Collection results in error"
Navigate to Administrator -> Configuration -> Settings -> CFME Region -> C & Collection
Page is empty and in production.logs is this error:

[code]

[2016-08-18 16:08] otsuman opened #10603 "Previous logs removed from nfs/smb after executing another log collection process"
1. Setup log collection by smb or nfs
2. Collect logs for zone or server - logs created and stores in nfs/smb server
3. Collect logs for zone or server again

RESULT: Previous logs was deleted. In nfs/smb server only new log file present
EXPECTED RESULT: All logs files are present

[2016-08-18 16:08] #10575 closed

[2016-08-18 16:10] NickLaMuro commented on #10450
Was able to reproduce with a DB with some Capture and Utilization data in it, but it required changing a setting in the MIQ config:

[code]

The [above work around](https://github.com/ManageIQ/manageiq/issues/10450#issuecomment-239903478) does seem to fix the issue, so I will be investigating that.

[2016-08-18 16:13] lpichler commented on #10603
@miq-bot assign_label @lpichler

[2016-08-18 16:14] lpichler commented on #10603
@miq-bot assign @lpichler

[2016-08-18 16:28] mmojzis opened #10604 "Cloud provider list view has bad region value"
List view in cloud providers has column "Region".
But the value is CFME Region and not ec2 region.
So when I change name for cfme region via Configuration then I have in cloud providers list view same value.
But if Region in that list should be CFME Region then it's really confusing.
![region_bug](https://cloud.githubusercontent.com/assets/19479861/17781929/910e54e8-6571-11e6-9614-4469c1027eaf.png

[2016-08-18 16:56] nachandr opened #10605 "Spinner spins forever while switching C&U graphs from hourly to daily interval"
Steps to reproduce:
1.Manage a provider.Enable C&U collection for the provider.
2.Navigate to the summary page of a VM.Click 'Monitoring', click 'Utilization'.
3.When hourly graphs are displayed, switch to the daily option.

I've been able to reproduce this issue consistently with vsphere55.I'll update this GH issue with the results from other providers.

[2016-08-18 18:11] fvillain commented on #9106
@fbladilo @bazulay @chriskacerguis  I posted a PR for memcached support
https://github.com/fbladilo/miq-on-openshift/pull/21

I also worked on a docker-compose file that works like a charm, i'll make the PR soon

[2016-08-18 18:52] ghost opened #10610 "Unable to change remote replication subscription password after save."
Configure and save replication subscription on global appliance.
Update subscription.
![screenshot from 2016-08-18 14-50-31](https://cloud.githubusercontent.com/assets/15051855/17786544/4ebb2256-6553-11e6-9f1d-f8edee52487f.png)

[2016-08-18 19:17] nachandr opened #10611 "Unexpected error while clicking VM link in event bubble"
Steps to reproduce:

1.Manage a provider.Generate events for the provider.For eg:power off or power on a VM
2.Navigate to the summary page of the provider.Click 'Monitoring', click 'Timelines'.
3.On the Timelines page, click the event link.In the event bubble, click the VM link.

The UI blows up with this error:
 Error text:

NaN [vm_infra/explorer]

Snippet from production.log:
[----] I, [2016-08

[2016-08-18 19:41] lfu opened #10613 "Wrong dialog is used for cloning a template."
When cloning template to template, the dialog clone_to_template should be used, not clone_to_vm.
And Customize tab should not be displayed.
This applies for both RHEVM and VMware template cloning.

As [commented](https://github.com/ManageIQ/manageiq/pull/10561#issuecomment-240825365) for #10561.

[2016-08-18 21:05] nachandr opened #10617 "C&U collection tab can sometimes be blank"
On some of my appliances, the C&U collection tab is blank.But, on some other appliances, the page is rendered correctly.

Issue seen in the 20160815 nightly build.

[2016-08-19 02:26] moolitayer commented on #9037
Closing through https://github.com/ManageIQ/manageiq/pull/10396

[2016-08-19 02:26] #9037 closed

[2016-08-19 02:30] moolitayer commented on #9031
Closing through #10396 - the basic mitigation is Handling timeout it properly.
That should also take care of pod cleanup since timeout calls cleanup.

[2016-08-19 02:30] #9031 closed

[2016-08-19 08:36] sbulage opened #10618 "[UI]: Flash Messages are not disappearing after clicking on it."
After clicking on any Flash message, it is not disappearing. It should disappear after clicking on it.

[2016-08-19 09:04] Ladas commented on #10591
@mmojzis yeah we will need to extend the default set of events we catch in automate. Could you give us such list? I think we do not catch all of them by far, though it is configurable

[2016-08-19 09:08] jistefan opened #10619 "Add Schedule: Starting Date is not possible to set up"
After selecting any date in future or past, date is always reset to tomorrow.

[2016-08-19 09:37] quarckster opened #10621 "Buttons for editing policy conditon assignments have wrong size"
Steps to reproduce:
1. Navigate to Control.
2. Create a policy.
3. Create a condition in conditions accordion.
4. Edit Policy Condition Assignments.

![spectacle ea9000](https://cloud.githubusercontent.com/assets/1011257/17805661/c3b11400-6600-11e6-8645-40ba75d6658e.png)

[2016-08-19 10:18] cben commented on #10539
Thanks.  Probably dup of #10272, I'll investigate.

[2016-08-19 12:11] sbulage opened #10626 "[UI]: Still showing wrapped text after pointing on any VMs, Instances or Hosts etc."
Move pointer to any of the VM or instance, it is not showing full text/name of it.
It should show expanded name after pointing VMs or instances.

**Screenshot will explain more :-**
![manageiq_issue](https://cloud.githubusercontent.com/assets/12134754/17809256/ebbbd61a-6632-11e6-9eca-1e621923fdc5.png)

[2016-08-19 12:32] pilhuhn commented on #10393
@mtho11 Not sure I understand where **this** PR stands now. Should it be merged by @martinpovolny ? Does #9988 depend on this one? I have the impression that #9988 works standalone.

[2016-08-19 14:18] romanblanco commented on #6477
@Ladas @epwinchell Works in `master`.

[2016-08-19 15:08] #6477 closed

[2016-08-19 15:11] romanblanco commented on #4363
@dclarizio @blrm This works in master. Issue can be closed.

[2016-08-19 15:26] jrafanie commented on #10619
@jistefan Can you provide a screenshot or example to show where you're seeing this?

[2016-08-19 15:37] Fryguy commented on #10534
This is possibly related to https://github.com/ManageIQ/manageiq/pull/10299, which @kbrock is investigating further, so reassigned to him.

[2016-08-19 15:45] Fryguy commented on #10534
Reassigning back to @syncrou because it seems the failure is present even before the changes in #10299...amazing timing coincidence :)

[2016-08-19 16:55] #4363 closed

[2016-08-19 17:16] nachandr commented on #10617
It looks like the C&U collection tab is blank when the first provider added is a cloud provider.

[2016-08-19 17:25] hhovsepy opened #10631 "Middleware: Start stopped Deployment: Deployment remains disabled"
When Stopping Deployment on EAP7 server then Starting it, the status is still Disabled, and archive is not deployed on server side.

1. Deploy WAR archive into EAP7 server.
2. Verify that status in Enabled and archive UI content is accessible on server.
3. Stop deployments. Refresh provider relationships via toolbar button.
4. Verify that deployment status is Disabled an content is not found on se

[2016-08-19 18:08] nachandr opened #10633 "Unexpected error while downloading drift history report in txt format"
The UI blows up with this error while downloading drift history report in txt format.This error is not seen while downloading the report in CSV format.

Error text:
undefined method `[]' for nil:NilClass [host/drift_to_txt]

Snippet from production.log:
[----] F, [2016-08-19T13:57:41.118981 #3184:1670bf0] FATAL -- : Error caught: [NoMethodError] undefined method `[]' for nil:NilClass
/var/www/miq/

[2016-08-19 18:08] nachandr commented on #10633
Issue seen in 20160815.

[2016-08-19 18:09] nachandr commented on #10633
Previous comment should read:
Issue seen in the 20160815 build.

[2016-08-19 18:35] lgalis commented on #10633
@miq-bot assign @lgalis

[2016-08-19 19:28] gmcculloug commented on #10231
Items 1,2 from the description were resolved with PR #10424.  A separate PR will be created to address the remain issue.

[2016-08-19 21:06] #9632 closed

[2016-08-19 21:11] NickLaMuro commented on #10450
The error seems to be related to the removal of [this safeguard check](https://github.com/ManageIQ/manageiq/pull/10175/files#diff-a10cd5de107f9b4a8e11b619b3282ad3L36) that was part of `ar_merge_conditions`.  We are trying to call `references` on a polymorphic relationship, and it is making it into the `ActiveRecord` internals (plus our patches) incorrectly.

The old "legacy" code was stopping this

[2016-08-19 21:11] AparnaKarve commented on #9632
@jerryk55 The above PR is now merged and you should be able to recheck the auth status in list/grid view as well. Thanks.

[2016-08-19 21:14] NickLaMuro commented on #10450
As a side note, the test that was also removed would mostly be a great test to run, but it would now need to go through Rbac, or something similar.

[2016-08-19 21:16] NickLaMuro commented on #10450
Here is a simpler reproduction of the error:

[code]

[2016-08-19 21:18] dclarizio commented on #10613
@h-kataria please research and re-assign if desired.  Thx, Dan

[2016-08-19 21:32] dclarizio opened #10640 "Exception when trying to provision from a cloud image"
Got this while testing #10561.  Am also seeing this on master branch when provisioning from a cloud image on the Provider screen.

[code]

[2016-08-20 12:08] sergio-ocon commented on #10346
@bazulay Would that be possible to do it automatically?

[2016-08-21 11:56] bazulay commented on #10346
@sergio-ocon @Fryguy

Since the auto builds of manageiq is using dockerhub build - it means that any build you do automaticall will be built using docker 1.10, so the simple answer would be no.
But a more advanced answer - in case manageIQ group will choose  to build it manually (on docker 1.9) and than upload it to dockerhub (which supports both formats) , than the answer is yes (this is actually

[2016-08-21 12:07] abonas commented on #10580
@miq-bot add_label providers/hawkular

[2016-08-21 12:07] abonas commented on #10580
@miq-bot add_label bug

[2016-08-21 13:59] bazulay commented on #10258
After debugging the environment with @pavelzag,

The problem seem to happen due to a dirty template used for the VM docker was executed on.

Therefore I suggest this issue to be closed.

@pavelzag  please confirm that this problem went away.

[2016-08-21 14:01] abonas commented on #10580
it looks like a duplicate of #10515 - please check.
#10515 is fixed by #10571

[2016-08-21 14:01] pavelzag commented on #10258
Gone like the wind.
Thanks

[2016-08-21 14:01] #10258 closed

[2016-08-21 14:10] bazulay commented on #9921
For reference,

The effort of PODifying manageIQ is developed on

A few comments on the issue itself:
- even in the monolithic image the DB is persisted in a separate volume
- The initialization takes a long time mainly because the DB migrations run on the first time this container is executed (see also issue #9221)
- the end goal of the effort developed on https://github.com/fbladilo/miq-on-opens

[2016-08-21 14:29] abonas commented on #10583
@miq-bot add_label providers/hawkular

[2016-08-21 14:29] abonas commented on #10587
@miq-bot add_label providers/hawkular

[2016-08-21 14:31] abonas commented on #10568
@blomquisg @martinpovolny  is this a global issue? sounds similar to #10512
if so, please reassign

[2016-08-21 15:33] abonas commented on #10631
@miq-bot add_label providers/hawkular

[2016-08-21 16:16] abonas commented on #9789
@mattmahoneyrh is this still reproduced?

[2016-08-21 16:18] abonas commented on #10481
@chessbyte please set the relevant assignee - either ui or ux representative?

[2016-08-21 16:18] abonas commented on #10480
@chessbyte please set the relevant assignee - either ui or ux representative?

[2016-08-21 17:35] abonas opened #10652 "Refresh worker not created for middleware when adding a new provider"
Although the hawkular host (hawkular-services) is reachable, and authentication validation in miq is marked as successful, the refresh worker is not created and the refresh is never initiated.

evm:status shows there is no refresh worker for the newly created provider.

Debugging the "Validate auth" part (pressing "validate" button in add provider ui) shows that authentication is successful, there

[2016-08-21 17:39] abonas commented on #10652
@miq-bot add_label providers/hawkular, bug

[2016-08-21 17:54] abonas commented on #10652
@miq-bot assign @rubenvp8510

[2016-08-21 18:04] abonas commented on #8683
I am able to connect from latest miq to one of the latest hawkular-services, so it will help to understand better how can it be reproduced (not here though - not to mixup the issues)
Also the reported issues in your comment refer mostly to metrics issues, I'm not sure how it is related to events/deployments reported here.

[2016-08-22 05:36] akarol opened #10655 "Error:"undefined method `with_provider_connection' for nil:NilClass" in VNF orchestration template creation"
Description:
Error in VNF template creation

![screenshot from 2016-08-22 11 04 21](https://cloud.githubusercontent.com/assets/986028/17844552/5f6a4af2-6858-11e6-90bc-8a0e38d6e251.png)
Version:
master.20160821104528_c4d669f

Steps to reproduce:
1.Navigate to services->catalogs
2.Add a new VNF orchestration template with invalid template content

[2016-08-22 06:52] hhovsepy commented on #10580
closing as duplicate of
https://github.com/ManageIQ/manageiq/issues/10515

[2016-08-22 06:52] #10580 closed

[2016-08-22 06:55] akarol opened #10657 "Error:undefined method `split' for nil:NilClass in production.log when clicked on configuration management providers"
Description:Unable to view summary pages of configuration management providers

Version:
master.20160821104528_c4d669f

Steps:
1.Add Configuration management providers.
2.click on the providers

Actual result:
undefined method `split' for nil:NilClass in production.log

production.log:
[----] F, [2016-08-22T02:32:01.373541 #3036:117a678] FATAL -- : Error caught: [NoMethodError] undefined method `s

[2016-08-22 08:24] hhovsepy opened #10658 "Middleware: Domain server summary: Add Link to Server group"
![screenshot from 2016-08-22 10 16 18](https://cloud.githubusercontent.com/assets/604313/17848015/871a3406-6851-11e6-80d1-9cff40e2ede3.png)
1. Domain mode EAP7 is configured.
2. From Middleware Provider Summary page, go to "Middleware Servers"
3. Select some Domain mode server from list.
4. There is not back link to Server group from server's summary page.

From "Middleware Domains" it is possible

[2016-08-22 09:12] akarol opened #10662 "Error:"undefined method `is_available?" on viewing Ansible services."
Version:
master.20160821104528_c4d669f

Steps:
1.Provision ansible services
2.Navigate to services->My services and click on service

Actual result:
No detail page displayed and error "NoMethodError] undefined method `is_available?" thrown in production log

production.log:
[----] F, [2016-08-22T05:00:22.257795 #3036:117a678] FATAL -- : Error caught: [NoMethodError] undefined method `is_available?

[2016-08-22 09:23] akarol opened #10664 "Error on clicking service in ansible tower job summary page"
Version:
master.20160821104528_c4d669f

Steps:
1.Provision ansible services
2.Navigate to configuration->jobs and click on ansible tower job summary page
3.In relationship section click on service

Actual result:
"We're sorry, but something went wrong.We've been notified about this issue and we'll take a look at it shortly." displayed .see attached screenshot.
![screenshot from 2016-08-22 14 47 40

[2016-08-22 09:29] akarol opened #10665 "quad icon images inverted"
Version:
master.20160821104528_c4d669f

Parameter icon not rendered correctly. see attached screenshot
![screenshot from 2016-08-22 14 57 22](https://cloud.githubusercontent.com/assets/986028/17849992/da52b0b8-6878-11e6-827b-221c81d7b322.png)

[2016-08-22 09:35] akarol opened #10667 "Handpointer on the ansible tower jobs being tagged"
Version:
master.20160821104528_c4d669f

Steps:
1.Navigate to configuration jobs and tag the jobs

Observed result:
Hand pointer with no clickable links  on the ansible tower jobs being tagged. see attached screenshot.
![screenshot from 2016-08-22 15 03 41](https://cloud.githubusercontent.com/assets/986028/17850203/c432bcaa-6879-11e6-95f3-b44cd80e0c56.png)

[2016-08-22 09:42] abonas commented on #10658
@miq-bot add_label providers/hawkular

[2016-08-22 11:11] abonas commented on #10658
@hhovsepy a server belongs in domain mode to a server group and not to a domain (and a server group, in turn, belongs to a domain). so if anything, this should be about a link between a server to a server group.
@miq-bot assign @Jiri-Kremser
@Jiri-Kremser please check this issue

[2016-08-22 11:22] abonas commented on #10631
@miq-bot add_label providers/hawkular

[2016-08-22 11:32] hhovsepy commented on #10658
@abonas ok, then to server group,
at least to be some backward compatibility between servers and back to server groups.

[2016-08-22 11:38] abonas commented on #10658
@hhovsepy please adjust title/description accordingly, I'll let @Jiri-Kremser respond/check on the issue essence itself :)

[2016-08-22 12:01] abonas commented on #10658
@hhovsepy if you navigate from domain->server group->server, can you see those relationships/links? is it missing only in a particular situation or always?

[2016-08-22 12:11] hhovsepy commented on #10658
@abonas right, it is missing in all cases, while navigating: domain->server group->server, or directly provider->server.

[2016-08-22 12:37] abonas commented on #10583
@miq-bot assign @ammendonca

[2016-08-22 12:44] jerryk55 commented on #9632
Thanks!

On Fri, Aug 19, 2016 at 4:11 PM, Aparna Karve <notifications@github.com>
wrote:

--

--
Jerry Keselman
Principal Software Engineerjerryk@redhat.com | p. 212 530 7873

[2016-08-22 15:27] mtho11 commented on #10393
@pilhuhn all of the ideas discussed here have been implemented in #9988. And yes #9988 is standalone.

[2016-08-22 15:51] abonas commented on #10631
@miq-bot assign @ammendonca

[2016-08-22 15:52] abonas commented on #10587
@miq-bot assign @ammendonca

[2016-08-22 16:24] lucasponce opened #10674 "Propagate MiQ identifier on Hawkular Alerting"
In the context of MiddlewareServer Alerting, the MiQ Alert and MiQ Alert Profile is propagated into Hawkular Alerting Triggers definitions.
In the context of 1:1 (ManageIQ:Hawkular provider) this works fine.
But if several MiQ instances are linked with the same Hawkular Provider, it might happens that the MiQ Alert id in MiQ-A could be the same of MiQ-B, and get an error that a trigger cannot be c

[2016-08-22 16:24] lucasponce commented on #10674
@miq-bot add_label bug,providers/hawkular

[2016-08-22 17:37] #10450 closed

[2016-08-22 18:07] #10515 closed

[2016-08-22 19:19] dajohnso commented on #10617
This was reported downstream as well,
https://bugzilla.redhat.com/show_bug.cgi?id=1368543

[2016-08-22 19:56] bzwei commented on #2029
@mzazrivec I think this issue has been resolved but I cannot close it. Can you close it for completion?

[2016-08-23 01:38] rubenvp8510 opened #10686 "Edit aborted while trying to edit middleware provider."
When I went to the middleware editor provider screen and tried to change some field, the page was refreshed  with the following error message "Edit aborted! CFME does not support the browser's back button or access from multiple tabs or windows of the same browser. Please close any duplicate sessions before proceeding."

This only happened when I was using Google Chrome, it doesn't happen on Firef

[2016-08-23 08:30] #2029 closed

[2016-08-23 08:32] yaacov opened #10689 "Failing to refresh a container provider using the api"
**Description**
When sending an api request to refresh a container-provider via:
`http://localhost:3000/api/providers/<id>` with `action: refresh`
We may get an error:
[code]
**Screenshot**
![screenshot from 2016-08-23 11-28-38](https://cloud.githubusercontent.com/assets/2181522/17885290/454899b2-6925-11e6-990c-d436ccc70737.jpg)

[2016-08-23 08:33] yaacov commented on #10689
@miq-bot add_label providers/containers

cc @simon3z @dkorn

[2016-08-23 08:49] simon3z commented on #10689
@miq-bot assign yaacov

[2016-08-23 09:43] skateman commented on #10431
**4. Inconsistency between onclick in C&U Collection trees**
If you click on a cluster on the left side, nothing happens, however, if you click on a datastore an onclick takes you to a
![screenshot from 2016-08-23 11-40-48](https://cloud.githubusercontent.com/assets/649130/17887411/a5027926-6926-11e6-8dbe-95e2d4e64f94.png)

[2016-08-23 09:43] #10431 closed

[2016-08-23 09:45] skateman opened #10691 "onClick inconsistency in C&U Collection trees"
Hi!

I found a small inconsistency/bug/issue between the Capacity & Utilization collection trees. If you click (not on its checkbox) on a datastore tree node, it takes you to an empty page. However, if you do the same with a cluster node in the left tree, nothing happens. I think both trees should have the same no-onclick "feature" :)

![screenshot from 2016-08-23 11-40-48](https://cloud.githubuse

[2016-08-23 12:53] skondkar opened #10695 "The breadcrumb link 'master (All Middleware Server Groups)' on 'main-server-group' summary page shows error in UI"
Clinking on the breadcrumb link 'master (All Middleware Server Groups)' on 'main-server-group' summary page shows unexpected error in UI with below text:

'nil' is not an ActiveModel-compatible object. It must implement :to_partial_path. [middleware_domain/show]

-Navigate to Middleware->Middleware Domains.
-Click on domain in inventory.
-Click on 'Middlewre Server Groups' link in 'Relationships'

[2016-08-23 12:54] skondkar commented on #10695
![brokenlink](https://cloud.githubusercontent.com/assets/6614472/17892398/b5b465bc-695e-11e6-8723-fe3b03b9b0f1.gif)

[2016-08-23 12:55] skondkar commented on #10695
@miq-bot add_label providers/hawkular
cc @abonas

[2016-08-23 13:03] abonas commented on #10695
@miq-bot add_label ui, bug

[2016-08-23 13:16] abonas commented on #10686
@miq-bot add_label ui
@martinpovolny @himdel any idea regarding this issue?

[2016-08-23 13:19] #10071 closed

[2016-08-23 19:50] djberg96 commented on #855
It looks like that code was moved to gems/pending/util/extensions/miq-openuri.rb, which was subsequently removed in https://github.com/ManageIQ/manageiq/pull/10356 because it was interfering with our proxy code for Azure.

This may have accidentally affected SmartProxy Affinity, but we have not yet confirmed that. If it does need to be restored, then a refinement should be added and used where nec

[2016-08-23 19:59] #10534 closed

[2016-08-24 05:48] theseaofstars opened #10723 "constants defined in app/helpers/ui_constants.rb can not be translated"
I find that the constants defined in app/helpers/ui_constants.rb can not be translated.
for example:
I set the Locale value in settings to be chinese, and ensure that string "1 Week" has been translated to "一周" in config/locales/zh_CN/manageiq.po. But, it does not work, for example, instead of "一周" the select_tag "Trends for past" in Trend Options remain show 1 Week.
correspanding content in app/v

[2016-08-24 11:58] sbulage opened #10724 "[UI]: Remove "Red Hat Updates" tab in Settings"
As upstream i.e. ManageIQ is 'Free', does not have any Subscription. "Red Hat Updates" tab should not be available in Settings of ManageIQ.

![redhat_updates](https://cloud.githubusercontent.com/assets/12134754/17929691/b77cc698-6a1f-11e6-9b90-af87e6ebca4e.png)

[2016-08-24 12:42] carbonin commented on #9221
So the difficulty with this is that right now, apache is started as a part of the web service worker startup process. This ensures that we don't start apache if we are not on an appliance configured for web services. This in turn requires us to have the database configured (because the workers need the database).

@jrafanie this feels like it would require apache to always be running on every appl

[2016-08-24 12:47] abonas opened #10727 "Middleware - Empty deployment status after added deployment via manageiq"
Deploy a new deployment entity via manageiq to hawkular
Wait for the refresh of the inventory to fetch it back to miq
The deployment is added and displayed, however its status is empty

![emptystatus](https://cloud.githubusercontent.com/assets/6277245/17931026/fe5ca83e-6a11-11e6-901d-6471f6164550.png)

@miq-bot add_label providers/hawkular
@josejulio can you please have a look?

[2016-08-24 12:58] priley86 commented on #10431
@skateman I agree ;)

[2016-08-24 13:06] hhovsepy opened #10728 "Middleware: Server list: Add value of Product for Domain mode"
![screenshot from 2016-08-24 15 05 50](https://cloud.githubusercontent.com/assets/604313/17931529/44d55a64-6a0c-11e6-871b-589cfbd47c11.png)

Currently when listing servers of middleware provider, for those servers which are from Domain mode, it displays empty value of "Product" column, and icon of server is Wfly icon by default.

It should display name of product and correct icon.

These "Product"

[2016-08-24 13:07] abonas commented on #10728
@miq-bot add_label providers/hawkular

[2016-08-24 13:08] abonas commented on #10728
@josejulio can you please check this issue?

[2016-08-24 13:08] abonas commented on #10728
cc @Jiri-Kremser

[2016-08-24 13:15] carbonin commented on #9221
On another note, how is this different from the initialization process the appliance goes through now? As it stands the webservices take a bit to come up after starting the server so while I agree it would be nice to have some better indication than the browser error page, this seems like it may not be worth reworking how we start apache.

If our users are okay with it on an appliance, I don't see

[2016-08-24 13:48] abonas opened #10734 "Same icon is used for configuration and queue-ing a report next to each other"
![sameicon](https://cloud.githubusercontent.com/assets/6277245/17932840/8a2870fc-6a1a-11e6-92f4-d1bf15c9f324.png)

@miq-bot add_label ui
cc @dclarizio @epwinchell @serenamarie125

[2016-08-24 13:54] bazulay commented on #9221
@carbonin

This came up only in containerized environment , because the db migrations are performed the first time the container is brought up.
The solution could be something specific for a containerized appliance.

[2016-08-24 14:00] carbonin commented on #9221
As far as I know that is also the case for the appliance when the database is initialized @bazulay

We use `rake evm:db:region` which does a `db:drop db:create db:migrate`. I still don't see the distinction.

[2016-08-24 14:32] fbladilo commented on #9221
@bazulay @carbonin The monolithic container build uses the same init procedure (appliance_console_cli) as with the VM appliance, I haven't timed both but I imagine around the same startup penalty.

[2016-08-24 15:10] abonas commented on #10695
there was a related fix merged 2 days ago #10571 , can you please check on the latest env if this fixes your issue?
cc @rubenvp8510

[2016-08-24 15:14] abonas opened #10738 "Text/message missing when report generation fails"
![emptyreportresult](https://cloud.githubusercontent.com/assets/6277245/17936170/925fa0c2-6a26-11e6-8a64-583b7175f10c.png)

@miq-bot add_label ui, reporting

[2016-08-24 15:29] bazulay commented on #9221
@carbonin
The distinction is that deployment on a VM appliance it is obvious you need to SSH and do something manually , so you know when you bring up the service and can access it only than. while doing a docker run (or running the PODified version) than the infra (docker or k8s) is doing everything and for those environment ssh access to the container/POD should not be assumed.
meaning it can ta

[2016-08-24 15:45] abellotti commented on #9221
Is the webservice role enabled on a containerized appliance ?  if so a successful GET on the API entrypoint /api would be a good indicator.

[2016-08-24 15:45] carbonin commented on #9221
@bazulay That's still not the case for manageiq images. The database and application are started at first boot without any ssh access or user intervention.

[2016-08-24 15:59] dclarizio commented on #10581
@h-kataria please triage if this exists in Darga, then will need a BZ as well.  Thx, Dan

[2016-08-24 16:02] dclarizio commented on #10582
We currently don't have specific selection capabilities available in the list view, so can only provide the super set of buttons.  Actually pressing a button that doesn't apply to a selected object should result in an error message.  When on a specific item, the proper buttons should be shown based on that object type.

This is an enhancement request.

[2016-08-24 16:04] bazulay commented on #9221
@carbonin please correct me if I'm wrong, IIUC this is only upstream

[2016-08-24 16:08] dclarizio commented on #10429
@hayesr Not sure if this is from the latest refactoring, but please take a look.  Thx, Dan

[2016-08-24 16:10] h-kataria commented on #10579
This issue was introduced in https://github.com/ManageIQ/manageiq/pull/10213

[2016-08-24 16:10] h-kataria commented on #10577
This issue was introduced in https://github.com/ManageIQ/manageiq/pull/10213

[2016-08-24 16:10] dclarizio commented on #10578
Correct, we have never refreshed the tree until a browser refresh/revisit as tree building is expensive.  Perhaps when we get to converting the trees to use angular, we can reach in and refresh specific nodes, but that is not yet on our radar.

[2016-08-24 16:12] h-kataria commented on #10581
This issue was introduced in #10213

[2016-08-24 16:17] fbladilo commented on #9221
@bazulay

In regards of OSE, is a bit more complicated. Even if there was a page indicating the application is "starting", the router would not display it until the application actually passes readiness.
It is possible to set a generic http get on port 80/443 as a readiness check but this is debatable since the we are instructing OpenShift that the App is ready when it really isn't yet. The actual

[2016-08-24 16:20] fbladilo commented on #9221
@bazulay Nick is correct, for upstream builds database and application are started without any intervention (/bin/appliance-initialize.sh)

[2016-08-24 16:21] dclarizio commented on #10585
This is an often asked for request which we hope to address once we convert to use standard PF lists on all of the screens.

[2016-08-24 18:00] tinaafitz opened #10741 "Provider method for manager_type"
The pluggable provider Automate domains contain the EMSEvents from the /ManageIQ/System/Event vendor classes.  We need to separate out the different types of events for a given provider and would like to ask the provider the name and manager_type.

We're currently using:
`/<provider_name>/Event`

And want to group events by manager_type:
`/<provider_name>/Infrastructure/Event`
 `/<provider_name>/C

[2016-08-24 19:00] nachandr opened #10744 "Spinner spins forever while viewing C&U graphs"
Steps to reproduce:
1.Manage a provider.Enable C&U collection for the provider.
2.Collect a few hours worth of data.
3.Navigate to the summary page of a VM.Click 'Monitoring', click 'Utilization'.

I've been able to reproduce this issue consistently with infra and cloud providers.

Also, see https://github.com/ManageIQ/manageiq/issues/10605 where I've reported an issue about the spinner spinning f

[2016-08-24 19:57] dclarizio commented on #10724
@h-kataria please look into removing this from upstream.  Thx, Dan

[2016-08-24 20:09] dclarizio commented on #10586
@mzazrivec can you look into the call being used to populate this field.  If there is special treatment needed for this provider, perhaps we will pass this on to the providers group.  Thx, Dan

[2016-08-24 20:15] dclarizio commented on #8632
@epwinchell if implemented, this can be closed

[2016-08-24 20:19] dclarizio commented on #8621
@jvlcek need a bit more to go on here, if you can . . . Thx, Dan

[2016-08-24 20:20] dclarizio commented on #8555
We have other issues with the same request, closing this one.

[2016-08-24 20:20] #8555 closed

[2016-08-24 20:21] dclarizio commented on #8447
@Ladas are you still seeing this in the latest master?  If so, can we get a recipe, if not, please close.  Thx, Dan

[2016-08-24 20:23] dclarizio commented on #8241
@jzigmund please work with @himdel to get this change in.  Thx, Dan

[2016-08-24 20:26] dclarizio commented on #8130
@abonas is this still an issue we need to bring up with UX.  I do know we've cleaned up the pins to only show on the currently active menus, so that avoids some of the confusion noted here.  If all is "ok" now, please close.  Thx, Dan

[2016-08-24 20:27] abonas opened #10748 "Empty new Alert Profile action name in toolbar"
![emptyalertprofiletitle](https://cloud.githubusercontent.com/assets/6277245/17946744/4df99b64-6a52-11e6-8b68-8771b55d931d.png)

@miq-bot add_label ui
cc @dclarizio @karelhala could this be due to the new toolbars?

[2016-08-24 20:51] #8632 closed

[2016-08-25 02:48] serenamarie125 commented on #8130
@abonas this image is an older version of the vertical navigation.  We changed the icon to a "pin" icon quite a while ago.  Additionally we made a bunch of changes to the behavior which improved usability of the menus.
Please check it out and let us know!

[2016-08-25 07:46] netsquire commented on #10087
Re-checked - it works for EAP instance, and still hanging for Hawkulars.
Reopen?

[2016-08-25 08:37] Ladas commented on #8447
I don't see it anymore, closing

[2016-08-25 08:37] #8447 closed

[2016-08-25 08:37] abonas commented on #10087
I tried yesterday's master branch and it doesn't hang for hawkulars. can you recheck with the latest code please?

[2016-08-25 08:45] skateman commented on #8447
you don't see it because of @karelhala :)

[2016-08-25 08:56] abonas commented on #10727
@miq-bot assign @josejulio

[2016-08-25 09:02] abonas opened #10760 "Alerts UI - frequency field is reset to default when user changes "what to evaluate" field"
Alerts UI - frequency field is reset to default when user changes "what to evaluate" field.
When editing or creating a new Alert and changing "what to evaluate" field, the frequency field is always reset to the default 10 minutes - not clear why they are so tightly coupled, but it causes the user to pay attention and change that back every time, because otherwise the alert setting changes to somet

[2016-08-25 10:00] mzazrivec commented on #10586
@mmojzis I'm not quite sure I understand the request here -- which view is lacking the floating IP
info? (screenshots or steps to reproduce)

[2016-08-25 10:14] abonas opened #10765 "Middleware alerts - server identifier is too generic"
When there is more than 1 server with the same name (even in different providers), it's very hard to understand "who is who", and which one to select.

There should be a better identifier for the servers

![hostsalerts](https://cloud.githubusercontent.com/assets/6277245/17965544/cafa1396-6ac5-11e6-956f-defade5795c2.png)

@miq-bot add_label ui, providers/hawkular

[2016-08-25 10:27] karelhala commented on #10748
This is general problem with internationalization in toolbars @mzazrivec is working on it.

[2016-08-25 11:15] skondkar commented on #10695
Yes. This issue does not exist as verified on the latest upstream.
The link 'master (All Middleware Server Groups)' on 'main-server-group' summary page navigates to middleware server groups list page as expected.

[2016-08-25 11:29] netsquire commented on #10087
Instance I used for check was created today (5 hours ago) through Sprout's 'upstream' option...
Is it the latest one?

[2016-08-25 11:48] abonas commented on #10695
@skondkar great. please close the issue

[2016-08-25 12:08] abonas commented on #10087
I have no idea what Sprout is or what setup does it create

[2016-08-25 12:11] skondkar commented on #10695
Closing this issue as it does not exist on latest upstream.

[2016-08-25 12:11] #10695 closed

[2016-08-25 12:20] netsquire commented on #10087
Well, it was re-checked again. It works.
Let be closed.

[2016-08-25 12:22] skondkar commented on #10087
Verified on latest upstream. This issue does not exist anymore. Monitoring->Utilization view appears for EAP7 and Hawkular middleware servers and datasources.

[2016-08-25 12:31] skondkar commented on #8683
Verified on latest upstream. Events are now created successfully for successful deployments and appear in hawkular providers timeline when selected event group=Application and level=Detail.
The event type shown in the event pop-up is 'hawkular_deployment.ok'.

This issue can be closed.

[2016-08-25 13:15] cben opened #10772 ""Reset all Datastore custom classes and instances to default" is scary"
Automate -> Import/Export has a "Reset all Datastore custom classes and instances to default" action, which sounds quite scary — like it will _erase customizations done by a user_.
It's equivalent to `rake evm:automate:reset` whose description is better: "Reset the default automate domain(s) (ManageIQ and others)".

What the code actually does is destroy and seed all domains that ship in the files

[2016-08-25 13:18] cben commented on #10772
P.S. Reading the source, the scattered special-casing of `MANAGEIQ_DOMAIN` was hard to follow.

- `MiqAeDatastore.seed` runs only if "ManageIQ" domains is missing, logs "Seeding ManageIQ domain..." but calls `reset_to_defaults` which will also reset e.g. "db/fixtures/ae_datastore/RedHat" if present.  Sounds mostly ok but I'd change the log message to "Seeding default domain(s)..." ?

- Is all this

[2016-08-25 13:51] #8683 closed

[2016-08-25 14:44] blomquisg commented on #10744
@nachandr can you find any errors in the logs for this?

[2016-08-25 14:49] blomquisg commented on #10655
@akarol, can you attach logs for this error?

[2016-08-25 14:52] blomquisg commented on #10617
@nachandr are there any errors in the logs for this?

@dclarizio if this ends up being back end, reassign it

[2016-08-25 14:54] blomquisg commented on #10605
@nachandr are there any errors in the logs for this?

[2016-08-25 14:59] blomquisg commented on #10594
@dclarizio is this something that the backend handles?  Wasn't sure

[2016-08-25 15:00] gmcculloug commented on #10664
Fixed in #10487

[2016-08-25 15:00] #10664 closed

[2016-08-25 15:00] gmcculloug commented on #10662
Fixed in #10487

[2016-08-25 15:00] #10662 closed

[2016-08-25 15:01] blomquisg commented on #10592
@juliancheal can you look at this one?  The first comment says that it shows up correctly in AWS console after provisioning, so provisioning should be working.  Could be inventory related.

[2016-08-25 15:08] abonas commented on #10600
@miq-bot add_label enhancement, providers/hawkular

@mmojzis can you point me to an example where it does exist in miq?

[2016-08-25 15:09] Ladas commented on #10592
@mmojzis do you mean we are missing a catching of the event, that would refresh it? I believe we do. Not sure if @durandom worked on the NetworkManager event catcher. Otherwise, the event should be caught under a CloudManager. We definitely miss the default automate refresh hooks for network events.

[2016-08-25 15:15] abonas commented on #10748
another similar issue happens with "back" buttons:
![backbutton](https://cloud.githubusercontent.com/assets/6277245/17974740/f2507320-6aef-11e6-96d4-4c32db7a2e9b.png)

[2016-08-25 15:39] Ladas commented on #10655
@akarol hm I think it would need just a nicer log. You do not have a Tacker service in your OpenStack, right?

[2016-08-25 15:52] kbrock commented on #2726
@blomquisg is this still an issue?

[2016-08-25 15:53] pkomanek opened #10785 "Broken namespaces and toolbar in automate explorer"
Broken Namespaces:
--------------------------
After the click on any of the namespaces in automate explorer I get this error:
`FATAL -- : Error caught: [NoMethodError] undefined method 'editable_contents?'`

When I changed the method in /app/helpers/application_helper/toolbar_builder.rb:716 from editable_contents? to editable? everything looks good. So I think that might be the problem.

Broken Co

[2016-08-25 16:37] josejulio commented on #10727
I'll check what could be the reason

[2016-08-25 16:48] dclarizio commented on #10602
@h-kataria I could not recreate.  Please triage and assign if you can recreate.  Thx, Dan

[2016-08-25 16:57] dclarizio commented on #10605
@nachandr I can't reproduce this on my system.  First of all, when selecting uilitization, I see Daily charts first.  However, I can switch freely between them.  Please contact me directly with info about the failing system.  Thx, Dan

[2016-08-25 16:59] dclarizio commented on #10611
@h-kataria please triage and assign.  Thx, Dan

[2016-08-25 17:01] dclarizio commented on #10618
@sbulage We changed to use the PatternFly messages that should have an X on the right to close them.  Is that not showing for you?

[2016-08-25 17:10] dclarizio commented on #10626
@hayesr close if this is a dup of another issue or BZ . . . Thx, Dan

[2016-08-25 17:21] dclarizio commented on #10738
@mzazrivec please triage and assign.  Thx, Dan

[2016-08-25 17:24] lgalis commented on #10594
@mmojzis -The browser tab title for the Configuration Management does indeed say 'Foreman Provider' - but the Configuration-> Jobs does not.
Could you update the title of this issue to reflect the bug -I will pot a PR to fix the tab title for the Configuration -> Configuration Management.

[2016-08-25 17:24] lgalis commented on #10594
@miq-bot add_label bug

[2016-08-25 17:27] h-kataria commented on #10617
https://github.com/ManageIQ/manageiq/pull/10716

[2016-08-25 17:28] dclarizio commented on #10744
@nachandr another one I can't recreate, so ping me directly please.  Thx, Dan

[2016-08-25 17:58] hayesr commented on #10626
@sbulage I believe this is addressed in #10755 .

[2016-08-25 18:21] skateman opened #10793 "Both timelines accordions can be active at the same time"
This can cause two active tree nodes which looks weird:
![screenshot from 2016-08-25 20-20-41](https://cloud.githubusercontent.com/assets/649130/17980870/8b7323ca-6b01-11e6-89d8-f870fc44db56.png)

[2016-08-25 18:24] skateman opened #10794 "Timelines sidebar too narrow"
![screenshot from 2016-08-25 20-22-24](https://cloud.githubusercontent.com/assets/649130/17980912/b105a338-6b01-11e6-8ced-67b9cdca0b44.png)
Maybe removing the redundancy from the tree node texts and adding the resizable sidebar can help.

[2016-08-25 20:40] mattmahoneyrh opened #10801 "Middleware: Middleware Domains Not Available"
Using Dockerized Hawkular Service instances (Livingontheedge.hawkular.org, for example), the MW provider succesfully adds as a MW provider, and MIQ inventories/refreshes with no issues. However, Middleware Domains are no longer displayed even thought there are two EAPs under management (as a datapoint, MW Domains was inventorying in MIQ very recently).

Not sure if these Hawkular Service issues ar

[2016-08-25 21:36] #10594 closed

[2016-08-25 21:39] dclarizio commented on #7478
@alpha00Zero is this still an issue?  As @jrafanie mentioned, can you please provide a screenshot as well as a recipe to recreate this.  Thx, Dan

[2016-08-25 21:40] #7301 closed

[2016-08-25 21:41] dclarizio commented on #6627
@martinpovolny please revisit the checklist in the top comment, perhaps this is done?

[2016-08-25 21:42] dclarizio commented on #6496
@PanSpagetka is this still an issue on master?

[2016-08-25 21:42] dclarizio commented on #6494
@PanSpagetka please retest if this is still an issue.  Thx, Dan

[2016-08-25 21:44] dclarizio commented on #6473
@Ladas we are in the process of replacing the timeline control and will not be putting any effort into fixing the current one.

[2016-08-25 21:44] #6473 closed

[2016-08-25 21:44] dclarizio commented on #6135
@01000101 bump ^^^

[2016-08-25 22:54] josejulio commented on #10727
It does that because there isn't (yet) any metric for the deployment. It should turn back to normal after a second refresh.

[2016-08-26 02:50] h-kataria commented on #10617
closing this issue, https://github.com/ManageIQ/manageiq/pull/10716 is merged

[2016-08-26 02:50] #10617 closed

[2016-08-26 04:36] josejulio commented on #10728
@abonas I'm starting to check it

[2016-08-26 08:58] mfalesni commented on #4639
This has already been resolved, bot sure in which PR but providers now have Reload buttons.

[2016-08-26 08:58] #4639 closed

[2016-08-26 09:01] mfalesni commented on #4638
This has been resolved in e526d6c99d56b934ba2afe51087f353f911b0558 and the bugzilla is also resolved

[2016-08-26 09:01] #4638 closed

[2016-08-26 09:04] mfalesni commented on #99
This is no longer an issue, the arrow is now located inside the `<th>`

[2016-08-26 09:04] #99 closed

[2016-08-26 09:57] mzazrivec commented on #10723
This has been resolved a while ago in commit 91be50d5f7772386b6aaf1defa1d157139c2a978
and quite frankly I'm not quite clear on where do you see this problem? (product / project version)

[2016-08-26 09:57] #10723 closed

[2016-08-26 10:07] mfalesni opened #10806 "Empty Configuration button displayed for a built-in domain in Automate."
`miq-20160824`

![image](https://cloud.githubusercontent.com/assets/2163040/18001931/85fc3fa6-6b85-11e6-8788-939560df8f05.png)

I would expect it to be invisible/grayed in such case.

[2016-08-26 10:08] mfalesni commented on #10785
This might be related to #10577 ?

[2016-08-26 12:23] mfalesni opened #10809 "[RFE] Automate Git import SSL verification bypass"
Sometimes you have a git repository internally that does not have the right certificate. It is currently not possible to bypass the check from the UI.

[2016-08-26 12:26] mfalesni opened #10810 "Git Automate Import - wrong SSL certificate fails silently"
If you insert a URL that has https but eg. a selfsigned certificate, when you submit the data for import and the screen with branches and tags appears, there is nothing to be selected and nothing that explains why.

Only a line in log reveals the secret:

[code]

[2016-08-26 13:21] mmojzis commented on #10582
Yes, error message should be okay, but when I do for example soft reboot or shelve for ec2 then I see only green success flash message about initiation of that power state.

[2016-08-26 13:33] mattmahoneyrh commented on #10801
Believe this is a configuration issue - closing.

[2016-08-26 13:33] #10801 closed

[2016-08-26 13:40] mmojzis commented on #10586
On the summary page in row IP Addresses should be displayed Public IP or Floating(Elastic) IP if set.
![no_ip_shown](https://cloud.githubusercontent.com/assets/19479861/18007215/67754d98-6ba3-11e6-9ee1-5a999a19ff08.png)

[2016-08-26 13:42] mmojzis commented on #10592
Yes, that's precisely what I mean.

[2016-08-26 13:46] mmojzis commented on #10600
Sure for example in Compute -> Cloud -> Providers.
![providers_search](https://cloud.githubusercontent.com/assets/19479861/18007392/3081e3f4-6ba4-11e6-9333-0ee935bada50.png)

[2016-08-26 16:33] billfitzgerald0120 opened #10817 "UI - Automate - Can't edit the class schema."
Automate Explorer - The option to edit a class schema is missing.

[2016-08-26 17:04] mkanoor commented on #10581
Fixed in https://github.com/ManageIQ/manageiq/pull/10818

[2016-08-26 18:56] h-kataria commented on #10785
@karelhala can you please take a look into this issue, it seems like that after toolbar conversion to angular, toolbars in Atuomate explorer are not working correctly.
- After selecting an automate class node in the tree, when i select any instance form the list of instances on the right side, Buttons such as Edit this Instance or Deleted selected Instances button do not get enabled
- Second issue

[2016-08-26 19:09] #10381 closed

[2016-08-26 23:22] josejulio commented on #10728
This seems to be because the traversal method used by inventory.list_child_resources does not fetch automatically the configurations of the [objects](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/hawkular/middleware_manager/refresh_parser.rb#L76) (eaps in this case)
We could manually fetch them and merge them in MiQ or add a way to do that directly in the gem.

[2016-08-27 09:31] karelhala commented on #10785
Indeed as @mfalesni pointed out
`FATAL -- : Error caught: [NoMethodError] undefined method 'editable_contents?'`
is same as https://github.com/ManageIQ/manageiq/issues/10577

However the first problem is that automate explorer tab uses different Javascript file for handling clicks on each items.

Both of these problems are fixed in https://github.com/ManageIQ/manageiq/pull/10827

[2016-08-27 12:25] karelhala commented on #10785
@h-kataria the Second issue you raised was genral problem. I thought that we replaced all JS reponses to redraw tool bars, however some were still left behind. But the #10827 fixes these issues as well.

So please check this pull request if it fixes all your problems. Thank you.

[2016-08-28 15:50] abonas commented on #10600
@miq-bot add_label ui

[2016-08-28 16:17] abonas opened #10829 "Missing "refresh providers" from show middleware providers page"
The "refresh" option should be available for multiple providers (and not only for a single provider) - like in the other provider types.

Example - in containers:
![refreshcontainers](https://cloud.githubusercontent.com/assets/6277245/18034968/f503ac16-6d53-11e6-992e-b0987454b203.png)

current ui in middleware:
![middlewaremissingrefresh](https://cloud.githubusercontent.com/assets/6277245/18034970

[2016-08-28 16:53] abonas commented on #10765
the issue is around this line https://github.com/ManageIQ/manageiq/blob/master/app/controllers/miq_policy_controller/alert_profiles.rb#L221

[2016-08-28 18:45] abonas commented on #10728
is it always the case that the configurations are not fetched for children resources? (does that problem exist for other entities and use cases?)

[2016-08-29 02:00] theseaofstars commented on #10723
thanks for your reply. I see this problem in release d2 of branch darga

[2016-08-29 04:21] akarol commented on #10655
@Ladas  Yes it requires a proper  validation message.

[2016-08-29 08:28] himdel commented on #10686
I can't reproduce this, @rubenvp8510 any chance you could re-record with the Chrome Developer Tools' Network tab open so that we can see what's going on? Also, is this current master, and does it happen immediately after typing that "RE"? (As in, I don't have to press enter, tab, etc.?)

Either way, probably the best way to fix it would be to convert the form to angular..

[2016-08-29 08:36] theute commented on #10765
We seen to constantly struggle with this in multiple places of the UI. Did we define how a server should be identified ?

[2016-08-29 08:51] #9462 closed

[2016-08-29 08:51] #10393 closed

[2016-08-29 09:01] abonas commented on #10765
Not afaik. in summary screens we display multiple properties for a server, and the user sees which provider does it belong to.
Having said that, the alerts profile assignment ui might suffer from a general issue with that screen, as you could have any entity with the same name across multiple providers (same name for vm in different rhev envs, for example, or a same name for container related enti

[2016-08-29 09:11] lpichler opened #10833 "click on VM/Instance.. in Edit/Tags create leads to error"
![lfynte7cwl](https://cloud.githubusercontent.com/assets/14937244/18046676/4aab8b68-6dd9-11e6-80b6-ebb79382c5dd.gif)

[code]

[2016-08-29 09:11] lpichler commented on #10833
@miq-bot add_label ui, bug

[2016-08-29 09:36] quarckster opened #10835 "Strings for creating and deleting conditions are empty"
Steps to reproduce:

1. Navigate to Control -> Explorer
2. Expand Conditions accordion.
3. Try to create a condition.

Actual results:
There is only curly braces in Configuration drop-down menu

Expected Results:
There should be "Add a New Some Condtion"

![spectacle ea8148](https://cloud.githubusercontent.com/assets/1011257/18047130/8b36644e-6ddb-11e6-98bc-77a1fdc11c4a.png)

[2016-08-29 09:43] quarckster commented on #10748
#10835

[2016-08-29 09:44] quarckster commented on #10835
Referenced to #10787

[2016-08-29 10:52] martinpovolny commented on #10568
We have globally enabled those toast messages in **development mode only** so that the issues (that have been there for some time) get more visibility and are actually fixed.

Each such toast message is a problem in the markup in the page displayed and needs to be fixed.

[2016-08-29 13:54] smarterclayton commented on #9221
We have discussed having custom error pages for apps under routes - that's been requested by other folks and is a reasonable reqt.  It wouldn't know the difference between initializing and down though.

[2016-08-29 14:11] akarol opened #10840 "Remove invalid flash message while sorting Arbitration Profiles"
version:master.20160828194935_abe1199

steps to reproduce:
1.click on Arbitration Profiles in cloud provider summary page.
2. Add few  Arbitration Profiles and sort profiles with name or description

Observation:
Arbitration%20Profile%20ttt%20was%20added displayed in UI. see attached screenshot

![screenshot from 2016-08-29 19 39 39](https://cloud.githubusercontent.com/assets/986028/18054202/8063e

[2016-08-29 15:46] mmojzis commented on #10591
I could find in event_streams table only AWS_EC2_SecurityGroup_CREATE/UPDATE/DELETE.
Nothing about key_pairs/EIPs...

[2016-08-29 15:59] rubenvp8510 commented on #10652
I managed to reproduce this issue just one time but I saw this on my logs:

`[----] E, [2016-08-29T10:50:28.682712 #26880:e7d128] ERROR -- : MIQ(MiqServer#start_algorithm_used_swap_percent_lt_value) Not allowing worker [ManageIQ::Providers::Hawkular::MiddlewareManager::RefreshWorker] to start since system memory usage has exceeded 60% of swap: Total: [8187277312], Used: [6274768896]`

And that is

[2016-08-29 16:07] mmojzis opened #10843 "Opening timelines in configuration diagnostics results in error"
When I set where server resides and then go to Settings -> Configuration -> Diagnostics -> Timelines it results in this error:

[code]

[2016-08-29 16:15] mmojzis opened #10844 "Saving filter with already taken name results in exception"
When I try to save filter with name already taken it results in this error:
[code]

[2016-08-29 16:25] mmojzis opened #10845 "Shortened names of items should have full name titles"
When I have longer item - for example instance with name mmojzis_awesome_test. Then name is shortened to mmojz..._test and when I do mouseover it shows the title of that item. But title is same as shortened name, but is should be full name.

[2016-08-29 16:27] josejulio commented on #10728
Configurations are a separate entity that must be fetched on a different call, in this case that information is found on the configuration of each of them.

[2016-08-29 17:10] #10691 closed

[2016-08-29 17:22] josejulio commented on #10728
which is the correct icon? see screenshot of  #10851

[2016-08-29 17:22] jzigmund commented on #8241
@himdel @abonas @dclarizio validation for the numeric value of the port added.

[2016-08-29 17:41] jrafanie commented on #10619
Uploaded an example showing how it resets whatever you selected in the date picker to tomorrow:
https://www.youtube.com/watch?v=lX1P_QTkXSE

@dclarizio @martinpovolny Please assign

[2016-08-29 17:45] niyazRedhat opened #10853 "Unable to Provision rhev-34 VM"
Version master.20160825074024_c4d669f

steps to reproduce:
1. Add RHEV-34 Provider
2. Under Life Cycle Tab-> Click Provision VMs
3.Fill all required details ->then Click On Submit Button

![screenshot from 2016-08-29 22-02-54](https://cloud.githubusercontent.com/assets/17430228/18060916/28e54e46-6e3e-11e6-816b-692d88f8e182.png)

[2016-08-29 18:03] abonas commented on #10652
I'm familiar with this error from other environments, but I didn't have it

[2016-08-29 18:20] mkanoor commented on #10809
@eclarizio we have a verify_ssl option when creating a repository we should display an option for that in the UI. We still are waiting for the rugged folks to merge this PR https://github.com/libgit2/rugged/pull/571, or we would have to run it using our branch

[2016-08-29 18:37] mkanoor commented on #10817
Should be fixed by https://github.com/ManageIQ/manageiq/pull/10818

[2016-08-29 20:17] himdel commented on #8241
Just verifying.. this issue is about *all* the providers, not just middleware, right?

Current state:

   * cloud - angular, needs validation
   * infra - angular, needs validation
   * containers - angular, needs validation
   * networks - can't add or edit providers
   * middleware - old style, doesn't require validation

[2016-08-29 21:11] dclarizio commented on #10619
@bmclaughlin please take a look at this and maybe check the scheduler in the configuration/settings area as well.  Thx, Dan

[2016-08-29 21:22] Jiri-Kremser commented on #10728
that's correct, the ruby client provides a method to fetch it for us, but internally, it's doing two http calls

As we were talking on IRC, with the new REST api, it's possible to fetch all the configurations of recources of given type. I'll put the URL here to keep track of it (for possible future improvements)
`/traversal/<CP_to_resource_type>/rl;defines/type=r/type=d;id=configuration`

[2016-08-29 22:10] gmcculloug commented on #855
The MiqHost component is no longer a supported.  This issue can be closed.

[2016-08-29 22:10] #855 closed

[2016-08-30 07:03] PanSpagetka commented on #6496
@dclarizio no, its ok.

[2016-08-30 07:10] PanSpagetka commented on #6494
Edit instance is ok, but changing ownership on template is still broken.

[2016-08-30 07:48] alongoldboim opened #10862 "Add ability for adding meta data to ems-providers"
We need to support the following actions:
- Addition of meta-data (Expected inventory, SalesForce Account Number, etc..) connected to the provider, this needs to be available through the rest-api.
- We know we want to process it in the policies, should we care about the _type_ of data?
- A table that will display this meta-data on a provider in Show-page.

[2016-08-30 07:48] alongoldboim commented on #10862
@simon3z @blomquisg Any thing else you think we should add in this desc?

[2016-08-30 10:12] starjason opened #10864 "Can not normally access webui！"
[code]

[code]

https://myip
But，Can not normally access webui！

[2016-08-30 11:34] martinpovolny commented on #6627
@PanSpagetka : I reviewed and updated the list on the top with all I knew about.

Can you also go through the list and update anything that needs updating?

[2016-08-30 11:50] hhovsepy commented on #10864
The same for me.
JS console errors:

`13:48:20.583 Error: [$injector:modulerr] Failed to instantiate module ManageIQ.toolbar due to:
[$injector:unpr] Unknown provider: e
http://errors.angularjs.org/1.5.8/$injector/unpr?p0=e
t/<@https://hayk-miq.bc.jonqe.lab.eng.bos.redhat.com/assets/application-e0850b5b5579db90e47409e2493ec14e03d1b5ad9b7ccd05d3eecb93b1c61f6d.js:91:1371
nt/w.$injector<@https://hayk

[2016-08-30 11:54] hhovsepy commented on #10864
Toolbar is not loaded, we are blocked to test.

@abonas

[2016-08-30 12:21] martinpovolny commented on #10864
The new toolbars are not supposed to be in any Darga branch.

It is something that is really not expected to be backported.

[2016-08-30 12:22] abonas commented on #10864
@hhovsepy which build/tag are you working on?

[2016-08-30 12:26] hhovsepy commented on #10864
@abonas have installed latest docker image: "docker.io/manageiq/manageiq:latest"

[2016-08-30 12:32] abonas commented on #10864
@hhovsepy this is being discussed now on [gitter](https://gitter.im/ManageIQ/manageiq/ui?at=57c57c57ca24c06c6387375c)

[2016-08-30 12:32] abonas commented on #10864
@miq-bot add_label bug

[2016-08-30 12:42] abonas commented on #10864
@JPrause @chessbyte any idea who can assist on this issue? it's docker related

[2016-08-30 12:43] karelhala commented on #10864
Yeah, looks like docker build has failed for 6 days: https://hub.docker.com/r/manageiq/manageiq/builds/

[2016-08-30 14:11] #6496 closed

[2016-08-30 14:11] #10429 closed

[2016-08-30 14:43] #10765 closed

[2016-08-30 15:08] alongoldboim opened #10875 "Enable type definition for custom attributes"
We need to add custom-attributes to manaiq-expression builder, custom-attributes are always treated as strings, we need to support more extended functionality and enable type definition for them in order to create dynamic policies.

[2016-08-30 15:09] alongoldboim commented on #10875
@gtanzillo @Fryguy @blomquisg @simon3z thoughts?

[2016-08-30 15:10] alongoldboim commented on #10862
We think using custom-attributes will be the best, we will also need to add the ability to specify what kind of a variable is the value.

[2016-08-30 15:17] #10577 closed

[2016-08-30 15:17] #10785 closed

[2016-08-30 16:33] #8875 closed

[2016-08-30 16:46] dclarizio commented on #8241
@himdel can you work with @jzigmund when you get back to address the different "flavors"?  Also need to determine whether a port can be left blank (I think that usually defaults then) or not for each provider.  Thx, Dan

[2016-08-30 18:50] durandom commented on #10604
Yes, indeed the word *Region* there is a bit misleading, as its also used in amazon terms.
@mzazrivec @bronaghs @djberg96  any ideas how to rename this to make clear we are not talking about `MangeIQ::Providers::<NAME>::Regions` here?

[2016-08-30 18:56] durandom commented on #10592
nope, did not touch this.

_But_ AWSConfig is emitting events and we just schedule a refresh.
@mmojzis could you change `level_aws` to debug and see if there are events logged in aws.log right after provisioning ?

[2016-08-30 19:26] h-kataria commented on #10806
@mfalesni i am not able to recreate it on latest upstream codebase, can you try with latest nightly build.

[2016-08-30 20:06] #10748 closed

[2016-08-30 20:51] h-kataria commented on #10785
issues fixed in https://github.com/ManageIQ/manageiq/pull/10827

[2016-08-31 05:26] #10738 closed

[2016-08-31 07:46] Ladas commented on #10592
@durandom right, then it can be all defined in the CloudManager event catcher, until we separate them.

[2016-08-31 08:21] lucasponce commented on #10223
@mattmahoneyrh I think this issue is addressed.
Please can you confirm ?
Thanks

[2016-08-31 08:29] Ladas commented on #10591
@durandom we we define somewhere in AWS EventCatcher, what events do we receive? Or on the AWS side? For OpenStack, we are getting all of them, but by default, we do leverage only subset of them.

[2016-08-31 08:52] theseaofstars opened #10894 "function _() do not work in worker thread"
I am on release d2 of branch darga. I want to translate the contents in widgets showed on Intel/dashboard.
Since the data was generated in worker thread, so i try to use function _() in the context of worker thread. But the result show that the function _() do not work. for example:
I add _() in file app/model/miq_widget/report_content.rb:32

[code]

But it does not work.
I need help, is there any

[2016-08-31 09:10] durandom commented on #10591
No, we dont config that on our side,
http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html
This is what we get events on, but we filter other events than `ConfigurationItemChangeNotification`
https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/app/models/manageiq/providers/amazon/cloud_manager/event_catcher/stream.rb#L163

Thats why I asked to enable

[2016-08-31 09:21] karelhala commented on #10864
Could you retry and check if everything works ok? Looks like latest build in docker passed without errors, and whenever I try `docker run --privileged -di -p 80:80 -p 443:443 docker.io/manageiq/manageiq:latest` it's running fine.

[2016-08-31 12:36] hhovsepy opened #10900 "Middleware: Server Group and Server relationships delay"
1. Make sure you have domain mode EAP7 monitored by hawkular.
2. Add new Middleware provider to MiQ.
3. execute UI operation "Refresh items and relationships" for that provider.
4. You can see that all servers and domain are listed for that middleware provider.
5. go to Domain -> Server Groups -> Server Group Details for one of server groups of that provider.
6. It will show "0" Servers for that S

[2016-08-31 12:42] hhovsepy commented on #10864
Verified that MiQ is accessed correctly with the latest docker image.

[2016-08-31 12:43] hhovsepy commented on #10864
Issue can be closed.

[2016-08-31 12:51] abonas commented on #10900
@miq-bot add_label providers/hawkular
@miq-bot assign @Jiri-Kremser

[2016-08-31 12:55] lucasponce opened #10901 "Middleware Provider crashes to validate password"
![image](https://cloud.githubusercontent.com/assets/1662329/18129390/d238fe14-6f8a-11e6-99b3-0c1865dd36c2.png)
![image](https://cloud.githubusercontent.com/assets/1662329/18129401/d76299ea-6f8a-11e6-87df-26d9577e6378.png)

Steps:
- Fresh hawkular-services and latest MiQ master.
- Fill the form for a new MW provider.
- Press validate.

[2016-08-31 12:56] lucasponce commented on #10901
@miq-bot add_label providers/hawkular

[2016-08-31 12:56] lucasponce commented on #10901
@miq-bot add_label bug

[2016-08-31 13:58] karelhala commented on #10901
Looks like when transmitting to [restfull](https://github.com/ManageIQ/manageiq/pull/10532) we forgot to edit submitting of forms. Old way was send update everytime user did some change, but with moving to restfull and using `Mixins::EmsCommonAngular` we expect all parameters to be present in params object, instead on in session.

@rubenvp8510 what do you think?

[2016-08-31 13:59] mzazrivec commented on #10604
I don't think the 'Region' here is misleading. We're consistently displaying the ManageIQ region
information everywhere in our reports and I see no problem with it really. Well, not unless
@jonnyfiveiq thinks otherwise. But otherwise I'd be inclined to just close this report.

The real problem that this issue described (I think) is that when the ManageIQ region description
changes, the change isn'

[2016-08-31 14:12] FilipB opened #10908 "Required fields are not marked as required on Add New Middleware Provider page"
Required fields when adding new provider are marked as required for other providers but not for middleware provider.
See attached screen shot - cloud provider vs. middleware provider page.

For middleware provider at least Name,Type and Hostname or IP address fields should be required.

![providers](https://cloud.githubusercontent.com/assets/328182/18130244/88431d0e-6f8e-11e6-9592-1008b9c12e9a.png

[2016-08-31 14:16] hhovsepy opened #10909 "Middleware: Error when adding/validating new Middleware Provider"
Have reproduced on MiQ from latest docker image.
Just trying to add new Middleware Provider, fill all necessary fields, click on "Validate" or "Add" buttons, Unexpected error page is shown with error:
"undefined method `downcase' for nil:NilClass [ems_middleware/create]".

@abonas

[2016-08-31 14:25] abonas commented on #10908
@miq-bot assign @mtho11
@mtho11 please check this issue. there might be a need to align with other providers - potentially angularize the middleware provider (or provide another handling to show required fields)
@miq-bot add_label providers/hawkular, ui

[2016-08-31 14:27] Jiri-Kremser commented on #10909
I can replicate

[code]

[2016-08-31 14:27] abonas commented on #10909
is this happening with other provider types as well?
@miq-bot add_label ui

[2016-08-31 14:29] hhovsepy commented on #10909
have tried Infrastructure, and it happens as well, with Containers did not see this error

[2016-08-31 14:31] abonas commented on #10909
@hhovsepy thanks. ok so this sounds like non hawkular specific issue.
cc @dclarizio

[2016-08-31 14:31] mattmahoneyrh commented on #10223
Have not seen this issue recently. Closing.

[2016-08-31 14:31] #10223 closed

[2016-08-31 14:39] abonas commented on #10909
@Jiri-Kremser @hhovsepy is this on docker setup only or in developer (from source) setup as well?

[2016-08-31 14:40] Jiri-Kremser commented on #10909
I was able to add the infrastructure provider

I am using the developer setup with simulated worker (not the full evm:start)

[2016-08-31 14:46] jdoyleoss opened #10910 "Change labels in middleware topology"
The labels in the middleware topology view are app prefixed with middleware.
[https://github.com/ManageIQ/manageiq/pull/10892#issuecomment-243707626](url)

The use of Middleware in this context is redundant and should be removed. In addition the labels should be specific for the middleware server being displayed. Currently we have on EAP but will have more in the future.

My suggestions for update

[2016-08-31 14:49] durandom commented on #10604
ok, I'm fine with closing :)

[2016-08-31 14:59] skateman opened #10911 "NoMethodError when checking a server in SmartProxy Affinity tree"
![screenshot from 2016-08-31 16-58-37](https://cloud.githubusercontent.com/assets/649130/18133772/3c8a8920-6f9c-11e6-87f6-84971c21601e.png)
[code]

[2016-08-31 15:00] skateman commented on #10911
@miq-bot add_label ui, bug

[2016-08-31 15:00] skateman commented on #10911
@miq-bot assign @ZitaNemeckova

[2016-08-31 15:07] Jiri-Kremser commented on #10909
This looks related to this PR https://github.com/ManageIQ/manageiq/pull/10532

If I add RHEVM provider, the log says:
[code]

But, if I do the same for middleware it does something else:

[code]

Then it fails. It looks like the `"emstype"=>"foo"` is not being send

[2016-08-31 15:07] hhovsepy commented on #10909
With Infrastructure provider I see this error:
![screenshot from 2016-08-31 17 06 24](https://cloud.githubusercontent.com/assets/604313/18134074/5117d5d6-6f9d-11e6-9736-616a973ccd78.png)
But unlike Middleware Provider, it remains on the same page.
So probably that is another issue, and this issue is not common, sorry for confusion.

[2016-08-31 15:09] abonas commented on #10909
ok thanks for the investigation.
@miq-bot add_label providers/hawkular, bug
@miq-bot assign @rubenvp8510
@rubenvp8510 please check this issue

[2016-08-31 15:11] Jiri-Kremser commented on #10909
btw. this is a duplicate of https://github.com/ManageIQ/manageiq/issues/10901

[2016-08-31 15:15] abonas commented on #10909
good catch

[2016-08-31 15:17] mzazrivec commented on #10604
OK, I'm closing this then.

[2016-08-31 15:17] #10604 closed

[2016-08-31 15:31] FilipB opened #10912 "Provider remains visible after removal until the page is refreshed"
After removal of middleware provider the provider remains visible until next page refresh. Attempt to navigate to the provider ends with "Selected Middleware Provider no longer exists"

Bottom picture shows all providers after removal (should be empty). Removed provider is still visible.
Top picture shows result after clicking on the provider.

![removedprovider](https://cloud.githubusercontent.co

[2016-08-31 15:39] rubenvp8510 commented on #10901
@karelhala  you're right, it seems like the `Mixins::EmsCommonAngular` expect the parameters in a different way.

[2016-08-31 15:50] karelhala commented on #10901
Yeah, no prob. However this should be fixed rather soon, since it's blocker. Btw the prefered way would be to move creating of new provider to angular version, you can look at how it's done in ems_infra or ems_container.

Looks like we have to define couple of new routes, create form file and we should be good to go.

[2016-08-31 15:51] mfalesni opened #10914 "Arbitration profile editor: wrong contents of Key pairs"
At 5a24e6f9095d4bf82e28beb767425e563f01039f

![image](https://cloud.githubusercontent.com/assets/2163040/18135759/419db2f0-6fa3-11e6-990a-f2b887b78620.png)

Somehow a provider entry sneaks in the key pair selection dropdown. It is in the structure of `Path::To::The::ProviderClass <provider name>`.

Other dropdown entries are correct.

On our QE's RHOS7.

The Key Pairs menu shows only the three cor

[2016-08-31 16:58] Jiri-Kremser commented on #10900
note to myself:
I think, it's caused by the order of calls in the `ems_refresh/save_inventory_middleware.rb`

[2016-09-01 08:46] Ladas opened #10932 "Default values in Service Dialog are not being saved"
When creating e.g. text box with a default value, the default value is not being saved after saving a dialog. Also imported default value is not being saved

[2016-09-01 08:46] Ladas commented on #10932
@eclarizio have you experienced this?

[2016-09-01 09:30] abonas commented on #10909
@hhovsepy please close this as it is a duplicate, this is being handled and linked to the other similar issue

[2016-09-01 09:35] hhovsepy commented on #10909
closing as a duplicate of https://github.com/ManageIQ/manageiq/issues/10901

[2016-09-01 09:35] #10909 closed

[2016-09-01 12:29] rubenvp8510 commented on #10652
@abonas I think we could close this because the only way I can get to reproduce it is with a low memory environment and as  you said you didn't have that error in your logs.

[2016-09-01 12:31] abonas commented on #10652
np. closing. thanks

[2016-09-01 12:31] #10652 closed

[2016-09-01 12:54] himdel commented on #8241
@dclarizio Sure, we'll look into it, on the list for tomorrow :)

[2016-09-01 14:04] abonas commented on #10901
for some reason this was not closed when the fixing PR was merged, so @lucasponce I think you can close the issue manually

[2016-09-01 14:21] #10583 closed

[2016-09-01 14:26] Pmonnaie opened #10939 "Get the key and value from a dropdown when processing the dialog"
I have a dropdown that is dynamic and based on a generated key-value list. When processing the dialog, I only get the selected key in the dialog back. I would like to get the key and value pair of the selected option. Being able to access the entire list of key-value pairs would also solve the problem. I'd prefer to not have to generate the list unnecessarily.

Simple use case: the key is a techni

[2016-09-01 14:35] #10864 closed

[2016-09-01 14:36] chessbyte commented on #10845
Screenshot would be helpful.

[2016-09-01 14:47] abonas commented on #10910
@miq-bot add_label providers/hawkular, ui

[2016-09-01 14:52] dclarizio commented on #10845
@mmojzis

Also, may be a fixed here #10755, so please close if it is.

[2016-09-01 15:03] abonas commented on #10910
@jdoyleoss there's no entity named destinations, there is messagings, so it would be confusing to name it differently here

[2016-09-01 15:09] chriskacerguis commented on #10914
@h-kataria can you take a look here?

[2016-09-01 15:18] #10911 closed

[2016-09-01 15:25] jdoyleoss commented on #10910
At minimum it should be Messaging, messagings is not a word. Is it possible to change the entity name?

[2016-09-01 15:32] abonas commented on #10910
the plural concern was raised in the original PR:
https://github.com/ManageIQ/manageiq/pull/9514#issuecomment-239674985
https://github.com/ManageIQ/manageiq/pull/9514#issuecomment-240077795

in any case this is not in the scope of this particular issue that is about removal of a prefix.
if the messaging/jms/destination should be renamed in the ui, it should be discussed and handled separately for

[2016-09-01 15:34] abonas commented on #10912
@chessbyte afaik this is how all provider screens (any provider type) behave with removal. so it is not a hawkular/middleware specific issue, I suggest to move it to @dclarizio .

[2016-09-01 15:37] abonas commented on #10912
@FilipB afaik this is not hawkular specific, I suggest renaming the title to more generic.

[2016-09-01 15:43] mmojzis opened #10947 "Validating broken rhevm results in Infinispinner and Web UI Freeze and then 502 proxy error"
Hi,
I tried to validate and add rhevm 3.5, which seems like to be broken.
Then infinispinner occured for like ten minutes and I wasn't able to do anything on web ui(loading).
After some time Error 502 Proxy Error occured.
Here is the log:

[code]

Contact me if you want IP of that RHEVM provider.

[2016-09-01 16:00] abonas opened #10948 "Incorrect icon for deployment in middleware topology legend"
![deploymenticon](https://cloud.githubusercontent.com/assets/6277245/18174250/91ab98d4-7075-11e6-9cbb-246425abd30e.png)

[2016-09-01 16:00] abonas commented on #10948
@miq-bot add_label topology, ui, providers/hawkular

[2016-09-01 16:01] abonas commented on #10948
it should match the icon from here:

![deployments](https://cloud.githubusercontent.com/assets/6277245/18174500/7a4b0d4a-7076-11e6-9ec8-d33fd132804e.png)

@miq-bot assign @Jiri-Kremser

[2016-09-01 16:30] Jiri-Kremser commented on #10948
This is caused by this css selector
https://github.com/ManageIQ/manageiq/commit/abe19388bc20e2e09fc9282b2183b305367f4014#diff-910cc60326c7452769723478966ae8d5L54

[2016-09-01 17:19] dclarizio commented on #10835
@martinpovolny I thought we had taken care of this
@quarckster are you running the latest master?

[2016-09-01 17:22] dclarizio commented on #10833
@lpichler do you know if this is upstream only or also exists in Darga?

[2016-09-01 17:24] dclarizio commented on #10843
@h-kataria please triage so we can assign.  Thx, Dan

[2016-09-01 17:33] jdoyleoss commented on #10910
OK, I'll open a separate issues for the Messaging naming.

[2016-09-01 18:26] martinpovolny commented on #10835
@dclarizio : so did I. Need to verify.

[2016-09-01 19:01] abonas commented on #10948
thanks for the investigation @Jiri-Kremser
@epwinchell any input on this? is there any issue with the overrides that should be fixed?
(before we are introducing fixes that are custom to middleware)

[2016-09-01 19:08] abonas commented on #10910
ok thanks. please make sure the first comment in this issue reflects exactly what should appear in ui (it still says destinations, for example)

[2016-09-01 19:14] martinpovolny commented on #10835
@quarckster : master looks good on my machine. What exactly are you testing? Thx!

[2016-09-01 19:16] martinpovolny commented on #10835
Confirming. I have it here too. Ping @karelhala

[2016-09-01 19:24] jdoyleoss commented on #10910
Changed, but there are many changes in my list similar to the Destinations change.

[2016-09-01 19:28] abonas commented on #10910
@miq-bot add_label topology
@miq-bot assign @josejulio

[2016-09-01 19:44] dclarizio commented on #10835
@martinpovolny so assuming you'll assign or take care of this one . . . thx!

[2016-09-01 21:14] eclarizio commented on #10932
@Ladas Just tested this and yeah, looks like default values are not being saved when editing a dialog. Not sure why but yes, I was able to reproduce.

[2016-09-01 22:36] mmojzis commented on #10845
Yes, it is. Closed.

[2016-09-01 22:36] #10845 closed

[2016-09-02 06:29] quarckster commented on #10835
@martinpovolny this issue was found in upstream build dated 24.08.2016.

[2016-09-02 08:29] hhovsepy commented on #10901
Verified, issue is fixed with latest docker image.

[2016-09-02 08:30] lucasponce commented on #10901
Ok, closing manually.

[2016-09-02 08:30] #10901 closed

[2016-09-02 08:55] lpichler commented on #10833
@hayesr same issue is also manage profiles

[2016-09-02 08:58] lpichler commented on #10833
@dclarizio in Darga VMs are not clickable in those screens. So it is correct behavior ? (not clickable)

[2016-09-02 09:22] mfalesni opened #10966 "Quadicon is broken again - does not react to clicks unless archived"
Upstream build from Sep 1st.

I found this with a RHOS provider. When I open the view with the quadicons of instances from all cloud providers, it does not react to clicks if the instance is not archived. No error is in the console at that point. When I try expanding the tree on left for a specific provider, a LoadError appears and this shows up in the browser console:

11:16:24.488 - appendAjax f

[2016-09-02 09:33] martinpovolny commented on #10835
so this was really fixed here: https://github.com/ManageIQ/manageiq/pull/10787

and it is properly working in master

[2016-09-02 09:33] #10835 closed

[2016-09-02 09:38] romanblanco commented on #2389
implement jscs and jslint-v8 into miq-bot: https://github.com/ManageIQ/miq_bot/pull/221

[2016-09-02 10:15] skondkar opened #10967 "Operation on deployments in hawkular provider itself should not be allowed"
At present, a user is not allowed to perform operations like stop or suspend on hawkular provider itself, a message 'Not stopping the provider' is shown to user.

however, user can perform operations on war files in hawkular provider deployments like 'hawkular-rest-api.war' or 'hawkular-inventory-dist.war' which leads to errors in hawkular services functioning. For example 'Undeploy' operation on

[2016-09-02 10:15] skondkar commented on #10967
@miq-bot add_label providers/hawkular
cc @abonas

[2016-09-02 10:27] hhovsepy opened #10968 "Middleware: Suspend Server: No timeout in logs"
When invoking "Suspend Server" menu operation for EAP7 standalone server and provide timeout parameter in UI input field, it ignores timeout parameter in EAP7 server side.
Here is the log on server.log:
`
2016-09-02 05:48:29,740 INFO  [org.jboss.as.server] (OkHttp http://cfme-hawkular.bc.jonqe.lab.eng.bos.redhat.com:8080/hawkular/command-gateway/feed/9834a958-109c-42f8-90a7-63c4a45352c5) WFLYSRV02

[2016-09-02 10:38] mmojzis opened #10969 "Schedules starting date is fixed as the next day and can't be changed."
Hi,
When I go to Cloud Intel -> Reports -> Schedules and try to edit/add schedule the starting date is always the next day even when I try to select another day from calendar.
![schedule_day](https://cloud.githubusercontent.com/assets/19479861/18201328/dcfeed38-7109-11e6-82d2-bbd4a9d0c0cb.png)

[2016-09-02 10:59] lucasponce opened #10973 "Unify metrics calls on hawkular provider"
With the upgrade to 2.6.0 hawkular-client-ruby a new end point is available to query multiple metrics on a single call.
This will improve the overall performance of LiveMetrics area.

[2016-09-02 10:59] lucasponce commented on #10973
@miq-bot add_label providers/hawkular,enhancement

[2016-09-02 10:59] lucasponce commented on #10973
@miq-bot assign lucasponce

[2016-09-02 13:04] mzazrivec opened #10978 "Error in development setup when sources change"
Current ManageIQ master, I have `rails server` up & running, everything works fine up to the point
when I modify the sources (which normally would just reload the modified sources):

[code]

[2016-09-02 13:50] mmojzis commented on #10592
I tried to reproduce it again and now I can see associating address like a minute after creating Instance, so I think it wasn't working before because of AWS was throttling...
Closing it then.

[2016-09-02 13:50] #10592 closed

[2016-09-02 13:54] dclarizio commented on #10833
@lpichler @hayesr Correct, when VMs are displayed as a reference to what is being changed, they should not be clickable.

[2016-09-02 14:22] Ladas commented on #10592
@mmojzis there can be a timing issue, when it reacts only on VM creation event, not IP association. But before it refreshes, it can fetch also the IP, if it's already there.

[2016-09-02 14:25] mmojzis commented on #10592
Ahhh, okay I will retest it later again.
EC2 acts really differently for me today...Sometimes it doesn't even autorefresh VM creation...Will try it later and then reopen it if I will be able to reproduce it.

[2016-09-02 14:27] Ladas commented on #10592
@mmojzis best to check the events in event stream and then align it with evm.log times of refreshes

[2016-09-02 14:28] jrafanie commented on #10978
Here's a simple way to recreate this:

[code]

Reverting #10886 locally seems to fix it so it seems to be the global Settings reloading might be a problem with code reloading.  Investigating cc @Fryguy @chrisarcand

[2016-09-02 14:46] jrafanie commented on #10969
I believe this is a duplicate of #10619, can you verify it is and add any other relevant information?  Or we can reopen if it's not the same.

[2016-09-02 14:46] #10969 closed

[2016-09-02 14:47] mmojzis commented on #10969
It's the same.

[2016-09-02 15:23] jrafanie commented on #10969
thanks @mmojzis! 👍

[2016-09-02 15:52] simon3z commented on #8654
@cben @moolitayer remind me, can we close this one?

[2016-09-02 15:56] simon3z commented on #7256
@dkorn @yaacov what's the current status of this?

[2016-09-02 16:14] Fryguy commented on #10978
@jrafanie Can we get a rails console based recreation using `reload!`?

[2016-09-02 16:32] h-kataria commented on #10914
@chriskacerguis this should have fixed the issue https://github.com/ManageIQ/manageiq/pull/10842, @jntullo  can you confirm.

[2016-09-02 16:34] chrisarcand commented on #10978
`bin/rails c`

`> reload! && ::Settings.reload!`

[2016-09-02 16:41] prachiyadav opened #10987 "Middleware Provider is not catching event for Datasource creation/deletion"
- Middleware Provider is not catching event for datasource creation.
- Newly created datasource is visible in "Middleware_Datasource".
  ![screenshot from 2016-09-02 21 34 28](https://cloud.githubusercontent.com/assets/13483060/18211085/662ddeee-7159-11e6-8fc5-6326a9956fe2.png)
- Login to ManageIQ
- Navigate to Middleware providers summary page->Monitoring->Timelines
- Select 'Creation/Addition' e

[2016-09-02 16:54] jntullo commented on #10914
@chriskacerguis @h-kataria yes, I can confirm that #10842 resolved the issue

[2016-09-02 16:58] Fryguy commented on #10978
I figured it out...PR coming

[2016-09-02 17:50] #10978 closed

[2016-09-03 21:36] cben commented on #8654
No, it repents the full desired features, not just the subset I implemented.

On Sep 2, 2016 18:53, "Federico Simoncelli" <notifications@github.com>
wrote:

[2016-09-04 07:17] yaacov commented on #7256
@simon3z @dkorn the code for API refresh [[1]](https://github.com/ManageIQ/manageiq/blob/master/app/models/ext_management_system.rb#L382) does two checks:

1. Check for `missing_credentials?`
This check is buggy for container providers, and may fail if no userid is given.
We have a PR to fix that, https://github.com/ManageIQ/manageiq/pull/10690.

2. Check for `authentication_status_ok?`
A newly cr

[2016-09-04 11:32] #10728 closed

[2016-09-04 11:33] #10829 closed

[2016-09-05 11:27] #8175 closed

[2016-09-05 13:58] mfalesni commented on #10966
@miq-bot add_label blocker

[2016-09-05 14:57] ammendonca commented on #10587
Tested this with latest version of hawkular-agent (0.21.0.Final), which **will** be present in Hawkular Services 0.0.11.Final, and with PR #10519 and this issue is not present anymore. We should wait for #10519 to be merged to fix this.

[2016-09-05 14:58] ammendonca commented on #10631
Tested this with latest version of hawkular-agent (0.21.0.Final), which **will** be present in Hawkular Services 0.0.11.Final, and with PR #10519 and this issue is not present anymore. We should wait for #10519 to be merged to fix this.

[2016-09-05 18:05] yaacov commented on #10689
copy of: https://github.com/ManageIQ/manageiq/issues/7256
closing

[2016-09-05 18:05] #10689 closed

[2016-09-05 20:34] #10727 closed

[2016-09-06 07:42] durandom commented on #10591
@mmojzis I just re-read the description. Are you saying, that elastic IPs that are not associated with an instance are not discovered at all? Like, you create one on aws but it does not make its way into manageiq?

[2016-09-06 12:43] Ladas opened #11023 "Can't Deploy OpenStack vm without specifying volume"
When I leave volume info blank, then here
https://github.com/Ladas/manageiq/blob/88bb8949a05b99915b03e37e4f0a6f82404db6ae/app/models/manageiq/providers/cloud_manager/provision/state_machine.rb#L13

I have:
(byebug) options[:volumes]
[{:size=>""}]

So the condition passes and it fails on creating the volume

[2016-09-06 12:44] Ladas commented on #11023
@mansam @aufi could you guys check this out? Not sure if this reaches to Darga.