[2016-05-24 12:29] zeari commented on #8921
Seems to be because a local worker thats supposed to update the auth statuses crashed for some reason.
I think this can be closed.

[2016-05-24 12:35] martinpovolny opened #8923 "deduplicate def textual_authentication"
deduplicate def textual_authentication

[2016-05-24 12:45] #8921 closed

[2016-05-24 14:22] arnikasky commented on #8885
@Fryguy Sorry, but it doesn't work after these commits.

[2016-05-24 14:26] jrafanie commented on #8885
@arnikasky what is the error now?

[2016-05-24 14:48] arnikasky opened #8929 "Can't configure external database"
Hello.
I want to use external database from one manageiq appliance(darga version) in another appliance(darga version too).
But my result is:
[mana_pg_error.txt](https://github.com/ManageIQ/manageiq/files/279761/mana_pg_error.txt)
[----] I, [2016-05-24T09:04:54.714176 #2729:54397c] INFO -- : MIQ(MiqServer#monitor) Reconnecting to database after error...
[----] E, [2016-05-24T09:04:54.714448 #2729:5

[2016-05-24 14:52] arnikasky commented on #8885
@Fryguy I have this error again.

[2016-05-24 15:48] cben commented on #8654
PR #8815 won't handle events on entities which we haven't seen yet in refresh (esp. creation events but it's a race for all kinds).  There is discussion there but better continue here.

A lead from today's meeting to how VMs are handling the events-before-refresh: search `reconnect_events` and `post_refresh`.
Specifically: vm_or_template.rb
[code]
i.e. it patches up the ids on any *EmsEvent* after

[2016-05-24 16:10] jrafanie commented on #8885
@arnikasky Please check if you are tracking `https://github.com/ManageIQ/manageiq.git` and have git pulled.   Can you look at your miq_queue.rb to see if this patch appears to be applied?

https://patch-diff.githubusercontent.com/raw/ManageIQ/manageiq/pull/8908.patch

You should not have:
`  prefetch_max_per_worker = vmdb_config.config[:server][:prefetch_max_per_worker] || 10`

You should have:
`

[2016-05-24 19:43] #8651 closed

[2016-05-24 20:01] agrare commented on #8427
So I'm not sure this is GCE specific, I tried to provision 20 VMs on VMware and this was the result
![screenshot from 2016-05-24 15-47-24](https://cloud.githubusercontent.com/assets/12851112/15517865/0b3a3f04-21c8-11e6-89e0-96734ebf8808.png)

It only tried to provision 13, sucessfully did 12 and got hung up on the last one same as GCE.

[2016-05-24 20:32] h-kataria commented on #8893
@gmcculloug i was not able to recreate this issue on latest code base. Looked into how those icons are calculated to see if there were any recent changes that could have fixed the issue. Adding details of methods that are being called to calculate icons in tree as well as right side to see if you have any further details about this issue being fixed, please take a look:
right side of the lists(lis

[2016-05-24 20:49] sshveta commented on #8427
I was able to provision 15 VM's on Vmware successfully .
I will try 20 VMs.

Thanks,
Shveta

On Tue, May 24, 2016 at 1:46 PM, Adam Grare <notifications@github.com>
wrote:

[2016-05-24 21:38] simon3z commented on #8921
@abonas no need for any redesign, instead of reimplementing checks:

[code]

let's just use the proper methods that were designed to give you the information need: `authentication_status` or `authentication_status_ok?` see [here](https://github.com/ManageIQ/manageiq/blob/3c5b34c8049eb5f1c7981e28e2533155b7a1c15b/app/models/mixins/authentication_mixin.rb#L100-L107)

So the status of the topology is

[2016-05-24 22:26] simon3z commented on #8722
Waiting for #8746 before officially close this.

[2016-05-25 08:31] arnikasky commented on #8885
@jrafanie I checked all. I have these commits. Exactly.

[2016-05-25 08:38] abonas commented on #8921
@simon3z if functionally speaking we are ok for showing only the worst status of all auth statuses in topology, then it makes sense. it could be a bit misleading to the user because if there are several auth points, one can be ok and the other can be in error, and it will show as err in topology.

[2016-05-25 08:55] Jiri-Kremser commented on #8780
not listing the font family is fine provided it's not used from the svg tag (topology graph). The `fa fa-something` is basically a set of css classes that has the font family defined and it uses the `content: "\fxyz` property of the `:before` and `:after` pseudo elements to provide also the special char.

However, these pseudo elements with content don't work inside the svg element, so the topolog

[2016-05-25 08:59] arnikasky commented on #8885
@jrafanie It works after reboot.

[2016-05-25 08:59] karelhala commented on #8781
What about single and double quotes? Sometimes I stumble across file where there's both of them used  and it does not look good. We should agree on one or another and force to use it. I'd prefer single quotes since we were using them in hawkular.

[2016-05-25 09:00] cben commented on #8893
To be honest I haven't checked it on master but on my branch, which touches
policy to add new entities (as Pod in image below).
But I'm "pretty sure" I haven't changed VM policies which is what I tried
above.

I have a theory: My screenshot was with same action appearing on both
true/false branches, your was with different actions.
Let's try mixing:
[image: Встроенное изображение 2]
Aha!  The dupl

[2016-05-25 09:03] himdel commented on #8781
I'd rather not force single vs double, there are uses for both.. Especially in our code where we still manipulate the dom, etc...  We could do it for specific purposes, like force double quotes in object literals if you need any, or things like that, but I'm not sure we can actually check those without checking the rest..

[2016-05-25 09:03] cben commented on #8893
[reposting with fixed images]
To be honest I haven't checked it on master but on my branch, which touches
policy to add new entities (as Pod in image below).
But I'm "pretty sure" I haven't changed VM policies which is what I tried
above.

I have a theory: My screenshot was with same action appearing on both
true/false branches, your was with different actions.
Let's try mixing:
![screenshot-local

[2016-05-25 09:04] skateman commented on #8781
I'd prefer single quotes

[2016-05-25 09:04] romanblanco commented on #8781
+1 for single quotes

[2016-05-25 09:09] simon3z opened #8953 "Links broken in the Container Provider Dashboard"
The links presented in the dashboard specific for a provider are currently broken:

![screenshot from 2016-05-25 12-03-00](https://cloud.githubusercontent.com/assets/130393/15534361/1da054f4-2271-11e6-9823-fcf28676fb81.png)

For example clicking on the "Nodes" link you get:

![screenshot from 2016-05-25 12-04-02](https://cloud.githubusercontent.com/assets/130393/15534375/2358a644-2271-11e6-9562-6d

[2016-05-25 09:11] simon3z commented on #8953
@miq-bot add_label providers/containers, ui, bug
@miq-bot assign simon3z

[2016-05-25 09:12] skateman commented on #8781
#### Chained methods
Probably arranging the dots?
[code]

#### If blocks
What about short one liners?
[code]

[2016-05-25 09:28] Jiri-Kremser commented on #8781
single x double quotes: http://stackoverflow.com/a/31883471/1594980 choose your side :)

wrt ES6: what's the strategy? Starting new js files in ES6 or even rewriting the existing ones. Or just a PoC and do not touch it :] What about the fat-arrows instead of the clumsy `function(){}`, the fat-arrows would make the d3 code more readable, because it's full of those `.attr('foo', function(e){return e

[2016-05-25 09:35] arnikasky commented on #8174
Sorry, but i have tne latest version and i have this error:

![error_vnc](https://cloud.githubusercontent.com/assets/8751017/15535234/1ef80a0a-2275-11e6-8d1c-cbb8eef5f09e.png)
Tnx.

[2016-05-25 09:39] skateman commented on #8174
@arnikasky going to try it just right now

[2016-05-25 09:49] arnikasky commented on #8174
@skateman Ran "git pull", "bin/update" and "rake evm:restart" 2 minutes ago. No changes

[2016-05-25 09:52] skateman commented on #8174
@arnikasky are you doing this in an appliance or in developer setup?

[2016-05-25 10:16] himdel commented on #8781
OK, OK, I'll add a "prefer single quotes" bit.. with the exception of whenever you need to use an apostrophe inside.. :)

[2016-05-25 10:16] skateman commented on #8781
:+1:

[2016-05-25 10:17] karelhala commented on #8919
I have written function for fetching the toolbar data from app/helpers/toolbar_helper.rb so I am currently rewriting this part, once this is done I'll show it to you and discuss how would be the best way to render these angular pages.

[2016-05-25 10:22] himdel commented on #8781
Chained methods.. honestly I'm not sure which is the right one, let's look at the options..

**same indent as the line before**

[code]

I like this one because it makes the blocks correctly indented, as in, you get the same indent for a callback to the first line, as for the second one. But starting with a dot and unindented does look a bit weird...

**one indent to the right**

[code]

Can work,

[2016-05-25 10:23] himdel commented on #8781
`if (something) do_awesome_stuff();`

let's not :) Like.. if we do check indent levels, we *can* safely allow..

[code]

But putting it on the same line just feels wrong..

[2016-05-25 10:24] karelhala commented on #8781
`if (something) do_awesome_stuff();`

I don't like one liner if statements, much cleaner way is to use `&&` operand
``something && do_awesome_stuff();``

[2016-05-25 10:26] himdel commented on #8781
Right now, feel free to start new files in ES6, but we still have that `.js` vs `.es6` distinction, until we update the tooling accordingly..  I'm definitely pro-fat-arrows, but, only in `.es6` files..

[2016-05-25 10:29] arnikasky commented on #8174
@skateman On appliance.

[2016-05-25 10:38] Jiri-Kremser commented on #8781
@himdel do I get it right that the `.es6` files will be transpiled to the `.js` files that are ES5 compliant because of compatibility reasons? If that's the case, we would need to support also the source maps to be able to debug the original code in the browser dev tools. IIRC, @mtho11 was doing this for TypeScript in Hawkular, so perhaps he can give a hand with it.

[2016-05-25 10:41] skateman commented on #8174
@arnikasky AFAIK this is not a supported way of updating, it can broke your apache configuration as we renamed some files related to the load balancers. You probably have both the *cfme-* prefixed old and the *manageiq-* prefixed new configuration files in your `/etc/httpd/conf.d` folder. Try to download a newer build and migrate the database.

You can also try to delete all the *cfme-* prefixed c

[2016-05-25 10:42] himdel commented on #8781
@Jiri-Kremser yes, you get that right. But.. it's pointless to spend time on that *now*. We need to revamp the entire tooling first, both to actually support babel6, and to be able to generate source maps, etc. But it's definitely on the list :)

[2016-05-25 10:58] karelhala commented on #8781
There's more to chain methods, what about chain methods with assign (or as return statement)
[code]
or as used in lodash documentation
[code]
I like one indent (same as [airbnb](https://github.com/airbnb/javascript#whitespace--chains)) and variable assign same to lodash's way.

[2016-05-25 12:35] zakiva commented on #8953
@miq-bot assign zakiva
cc @zeari  I'll handle it

[2016-05-25 13:34] romanblanco commented on #8781
@karelhala @himdel @skateman

`&&` operand is better that one liner `if`, but anyway, using multi-lined `if` seams as a best readable to me.

[code]

I also prefer having the end bracket `}` instead of saving one line, as it clearly tells where the `if` ends.

[2016-05-25 13:36] cben commented on #8654
Looking at comment at KubernetesEventMonitor
https://github.com/ManageIQ/manageiq/blob/90c4d14a5/gems/pending/kubernetes/events/kubernetes_event_monitor.rb#L26-L31
it sounds like we'll sometimes get the same event repeatedly.
Which means we'll process the same event through Automate -> Policy repeatedly...

Even if we watched events 100% correctly, Kubernetes could still spam us with similar event

[2016-05-25 14:23] #8589 closed

[2016-05-25 14:24] #8876 closed

[2016-05-25 15:42] cben commented on #8654
- extend Control -> Simulate to events on container entities?

  Currently it lists all event types but only has "VM Selection" UI for the target.
  (IMHO low priority — sounds like a lot of work for not so much gain)

[2016-05-25 18:05] roliveri commented on #6738
Fixed by PR: https://github.com/ManageIQ/manageiq/pull/8165

[2016-05-25 18:05] #6738 closed

[2016-05-25 18:41] h-kataria commented on #8893
@gmcculloug i was able to recreate this issue, it seems that condition https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_policy.rb#L110 needs to be fixed, if you have a same Action assigned to a policy twice, once for each **Order of Actions if ALL Conditions are True** and **Order of Actions if ALL Conditions are False** ```miq_policy_contents.find_by(:miq_action => action, :miq_eve

[2016-05-25 19:02] gmcculloug commented on #8893
@bzwei Can you take a look.  Seems like we might need more information from the UI to identify the proper record during the lookup.

[2016-05-26 08:35] arnikasky opened #8976 "Can't include ActiveResource in automation"
Hello.
After updating appliance from capablanca to darga i have new trouble.
When i include ActiveResource Module in automation
`require 'rubygems'
require 'active_resource'`
 i have this error:
[----] E, [2016-05-25T10:12:42.598615 #12455:d1e7b4] ERROR -- : Q-task_id([service_template_provision_task_1860]) <AEMethod update_serviceprovision_status> The following error occurred during method evalua

[2016-05-26 08:43] zhitongLBN opened #8977 "Destroying Tenant not giving error feedback in API"
When user trying to delete a tenant, MIQ dose not give any feed back in api, but only log the error message in `log/api.log`. It will be nice if we can raise back the error message instead of getting 204 every time.

https://github.com/ManageIQ/manageiq/blob/b984ffa7716d3d444eae26d8a9a35688176f686d/app/controllers/api_controller.rb#L184-186

https://github.com/ManageIQ/manageiq/blob/b984ffa7716d3d

[2016-05-26 10:25] skondkar opened #8980 "Could not change default view for middleware datasources"
Details:
The default view for middleware datasources is list view on Settings->My Setings->Default View page. If user wants to change it to other views like Grid view or tile view, the views are not getting selected ( The icon does not change to light blue color when clicked). For all other middleware entities, user can change the default view.

Product: Latest upstream

Steps:
1) Login to managei

[2016-05-26 10:28] skondkar commented on #8980
@miq-bot add_label providers/hawkular
cc @abonas

[2016-05-26 11:17] zeari commented on #8921
This really could be misleading. How about an error state if the authentication used for refresh is bad and a warning state (yellow ring) if hawkular or other authentications are bad?

[2016-05-26 11:42] jonnyfiveiq commented on #8110
@serenamarie125 Yes I can confirm that middleware is a top level menu item. Thanks

[2016-05-26 12:23] j2clerck opened #8984 "Couldn't run SSA on vSphere 6.0"
Hello,

Smartstate Analysis doesn't seem to work against vCenter 6 provider on Darga RC1. It works fine on Capablanca 2 though, in the same configuration.

Error on MIQ : VixDiskLibClient.connect() Unable to determine port used by VixDiskLib Server
Looking at vim.log, there is a "LoadError" which seems to link to the following:

require util/vmdb_logger on vixDiskLibServer.rb
then on vmdb_logger.r

[2016-05-26 12:31] jerryk55 commented on #8984
@j2clerck does the "LoadError" say anything about VixDiskLib or ffi-vix_disk_lib?  Thanks.

[2016-05-26 12:37] j2clerck commented on #8984
@jerryk55 no it doesn't.
VixDiskLib is installed as per RedHat documentation with symlink on /usr/lib.
It works fine on Capablanca-2.

[2016-05-26 12:41] jerryk55 commented on #8984
@j2clerck can you paste the relevant piece of the log here (including some lines from before and after the error)? I'm flying in the dark here unless someone else has seen this.  Thanks much.

[2016-05-26 12:56] j2clerck commented on #8984
[code]

[2016-05-26 13:17] arnikasky commented on #8174
@skateman OK!
And now, i checked darga build and tried to use vnc console. (the newest version).
And ..
![vnc_er_darga_again](https://cloud.githubusercontent.com/assets/8751017/15575778/4b0756bc-235d-11e6-844c-bd57df89269a.png)

[2016-05-26 13:36] simon3z commented on #8921
@abonas @zeari for sure we cannot keep the current re-implementation of the check that is based on pure chance (which one is the `first` ?).

The authentication status shown across the platform is based on the relevant methods `authentication_status` `authentication_status_ok?`, so it is more misleading to show another status based on a different logic.

@abonas if you think those methods can be i

[2016-05-26 14:01] himdel commented on #8781
Updated the text to clarify multiline `function calls`, and also changed the `chained methods` section to use 1 indent level, and show a variable assignment as well...

[2016-05-26 14:09] himdel commented on #8781
Regarding the actual linter, given the recent news that ESLint and JSCS are in the [process](https://medium.com/@markelog/jscs-end-of-the-line-bc9bf0b3fdb2) of [merging](http://eslint.org/blog/2016/04/welcoming-jscs-to-eslint) (into ESLint), [ESLint](http://eslint.org/) becomes a clear winner, so it will be the main tool..

We *may* still need to also use jscs 3 or jshint for some rules, but.. may

[2016-05-26 14:26] jerryk55 commented on #8984
@j2clerck can you run this command and show the output here?  Trying to see if the try.rb file exists in your build.  It does in mine which is under ruby 2.2.4p230 and I see you have 2.2.5 but not sure that should matter.

ls -l `bundle show active support`/lib/active_support/core_ext/object

Thanks.

[2016-05-26 14:38] j2clerck commented on #8984
@jerryk55

The command above doesn't seem to work...
However, after running gem update, the error changes and points toward to VimTypes.rb.
Some search within github points to : https://bugzilla.redhat.com/show_bug.cgi?id=1334865 and one liner missing in VimTypes.rb `require 'set'`
It has been merged so it should be update in the next release.

Regards,
Joseph.

[2016-05-26 14:42] jerryk55 commented on #8984
@j2clerck there are supposed to be back-ticks surrounding the "bundle show activesupport"  Some combination of autocorrect and github formatting screwed it up.
Just trying to see if the file try.rb exists under activesupport/lib/active_support/core_ext/object.  the "bundle show" command will insert the correct root of the gem/package/bundle.

[2016-05-26 14:50] gmcculloug commented on #8976
Hi @arnikasky,

Darga and upstream are running on Rails 5 which no longer includes the ActiveResource gem.  You could try manually installing the ActiveResource gem from the previous version and see if that works.

[2016-05-26 14:51] j2clerck commented on #8984
@jerryk55 try.rb exists when running bundle show.

[root@sv0047 object]# ll
total 52
-rw-r--r--. 1 root root  495 May 12 20:52 acts_like.rb
-rw-r--r--. 1 root root 2652 May 12 20:52 blank.rb
-rw-r--r--. 1 root root  203 May 12 20:52 conversions.rb
-rw-r--r--. 1 root root 1105 May 12 20:52 deep_dup.rb
-rw-r--r--. 1 root root 2228 May 12 20:52 duplicable.rb
-rw-r--r--. 1 root root  932 May 12 20:52

[2016-05-26 14:51] epwinchell opened #8987 "Key Pairs: wrong quadicon displayed"
On the Key Pairs List View "auth_key_pair.png" its display. However, on the Summary Screen "authentication.png" is displayed in the quad icon.

![screen shot 2016-05-26 at 10 48 40 am](https://cloud.githubusercontent.com/assets/1287144/15578802/e3c3e4a2-232f-11e6-8011-9648aa2c3573.png)
![screen shot 2016-05-26 at 10 48 30 am](https://cloud.githubusercontent.com/assets/1287144/15578803/e3dcaad2-232

[2016-05-26 14:53] epwinchell commented on #8987
@miq-bot add_label ui, bug

[2016-05-26 15:11] moolitayer opened #8988 "Support a containerimage_compliance_failed event"
Providing this event will allow users to define custom policies that will trigger once a compliance toward a container image failes. Afaiu this only need the addition of this event to the seed.

[2016-05-26 15:11] moolitayer commented on #8988
@miq-bot add_label providers/containers

[2016-05-26 15:30] hsong-rh commented on #8984
@j2clerck
So after gem updates, now SSA works? The reason I ask is in my local environment, I have to comment out `require 'active_support/core_ext/object/try'` in vmdb_logger.rb

[2016-05-26 15:43] djberg96 commented on #8779
#8869 was merged, closing.

[2016-05-26 15:43] #8779 closed

[2016-05-26 15:45] djberg96 commented on #3534
Looks like this was resolved long ago.

[2016-05-26 15:45] #3534 closed

[2016-05-26 16:19] skateman commented on #8711
In the meantime new patternfly version has been released, check out #8991 8991

[2016-05-26 16:29] #8953 closed

[2016-05-26 16:33] #8803 closed

[2016-05-26 16:36] abonas commented on #8110
@miq-bot assign @ammendonca

[2016-05-26 16:36] j2clerck commented on #8984
@hsong-rh
SSA doesn't work out of the box after `gem updates`, you will need to amend the file VimType.rb.
This file was updated after the Darga RC1 release, that's why we need to amend it manually.

You need to either pull the latest version of the file available on github, or do the change yourself on the file.
The only change is :
`require 'set'` to be added at the start of the file (after the

[2016-05-26 16:39] abonas commented on #8110
@miq-bot add_label providers/hawkular

[2016-05-26 17:10] j2clerck commented on #8984
@jerryk55
Odd thing, after running gem updates, it doesn't seem to have change anything on the try.rb file above...
Some side effect maybe?

Regards,
Joseph.

[2016-05-26 18:44] hsong-rh commented on #8984
@j2clerck I fixed the issue about `require 'set'`, now want to make sure if need to comment out `require 'active_support/core_ext/object/try'`. Seems like it's not necessary.

[2016-05-26 19:54] djberg96 opened #8996 "A potpourri of deprecation warnings"
These are generating quite a large dev.log for me...

~~DEPRECATION WARNING: Passing an argument to force an association to reload is now deprecated
and will be removed in Rails 5.1. Please call `reload` on the result collection proxy instead. (called from
save_cloud_subnet_network_ports_inventory at /Users/dberger/Repositories/manageiq-
djberg96/app/models/ems_refresh/save_inventory_network.rb:24

[2016-05-26 20:29] jerryk55 commented on #8984
@hsong-rh That line was added by @Fryguy as part of https://github.com/ManageIQ/manageiq/commit/cb530473cb0a461f0deb5438c932a22aede09eca.  You may want to look at that to see why he added it or better yet ask him.  :-)  Thanks.

[2016-05-26 20:45] j2clerck commented on #8984
@hsong-rh @jerryk55 It seems that `gem update` breaks other thing and while the SSA works, after a reboot the appliance can't start... There may be a bit more troubleshooting to be done there

[2016-05-27 11:00] j2clerck commented on #8984
Hi,

I did some testing this morning and a simple `gem install activesupport` with the `require 'set'` in VimTypes.rb seems to fix this all.

After a reboot, the appliance still works. The funny thing is that the package doesn't seem to be updated while searching for try.rb size or modified date.

Regards,
Joseph.

[2016-05-27 12:15] amaurygonzalez opened #9007 "The column CPU Total shows wrong values in Chargeback Report"
The column CPU Total is shown like the added of CPU Used and CPU Allocated. This makes no sense, are adding HZ units and number of CPU!!!!

![image](https://cloud.githubusercontent.com/assets/14124243/15607720/4edef7a0-2415-11e6-89e9-b7dd4d5fce92.png)

[2016-05-27 13:26] arnikasky commented on #8976
Hi, @gmcculloug.

I installed gem locally. I didn't work. I added gem in Gem file. It didn't work too. I add locally and in Gemfile - it doesn't works too. Any suggestions?

[2016-05-27 15:14] simon3z commented on #8988
@miq-bot assign moolitayer

[2016-05-27 15:16] simon3z commented on #8988
@moolitayer is this for darga? or for later?

[2016-05-27 15:34] #8722 closed

[2016-05-27 16:30] kbrock commented on #8976
Hello @arnikasky

1. Get rid of the `require "rubygems"`

Also, it looks like it is not running this through bundler. it is finding active support 4.2.6, which it should be coming from a more recent version with a git like url.

[2016-05-27 16:31] Fryguy commented on #8976
@kbrock Automate does not run in a bundler context, so that part is expected.

[2016-05-27 16:31] kbrock commented on #8976
you may want to refer to the github version of active resource in the gemfile

you can see an example of the usage in the gemfile for rails

[2016-05-27 16:32] Fryguy commented on #8976
But it does have access to gems on the system, so a simple `gem install 'activeresource'` should work...not sure why that wouldn't

[2016-05-27 16:40] kbrock commented on #8976
@Fryguy how can it run active support (git enabled) when not running through bundler?

[2016-05-27 16:48] Fryguy commented on #8976
We do some terrible symlink magic (or at least we do downstream...not sure about upstream) cc @jrafanie

[2016-05-27 16:50] Fryguy commented on #8976
@kbrock Also, for activesupport specifically, we manipulate the load path, since that one is the most commonly used gem. https://github.com/ManageIQ/manageiq/blob/master/lib/miq_automation_engine/engine/miq_ae_method.rb#L110

[2016-05-27 17:45] kbrock commented on #8976
Very cool. looks like it is not picking up this path - active support path is off.

@arnikasky Did you try your script not requiring ruby gems?

[2016-05-27 17:51] #4890 closed

[2016-05-27 20:09] kbrock opened #9014 "Loads customer configuration on every web request"
When running in production mode, the app reloads configuration values on every request.

It looks like the database source is reloading the configuration values, but I may be misreading it.

[code]

[code]

After looking deeper, this may be expected behavior. But putting this out there incase someone knows how to remove this

[2016-05-27 20:11] Fryguy commented on #9014
Not expected in prod mode... Thanks for the report :)

[2016-05-27 20:12] Fryguy commented on #9014
Oh I understand what's going on... Ill have a fix soon enough

[2016-05-27 20:52] #8842 closed

[2016-05-27 21:36] selmanj opened #9016 "Google provider event catcher is too aggressive when not set up"
When using the Google provider, if the event catcher has not yet been set up to listen to project events, the worker dumps a large amount of stack traces to the log.  These stack traces should probably be both friendlier and less often.

Example:

[code]

[2016-05-27 21:37] selmanj commented on #9016
/cc @erjohnso @agrare @blomquisg

[2016-05-27 21:37] selmanj commented on #9016
@miq-bot add_label providers/google
@miq-bot assign selmanj

[2016-05-28 01:13] himdel commented on #8781
Added a WIP PR with an eslint config based on this issue (and a bunch of related cleanups) .. https://github.com/ManageIQ/manageiq/pull/9019

[2016-05-29 11:04] yaacov opened #9022 "Improve the validation check for Hawkular endpoins."
Currently on provider addition we only check the Hawkular endpoint presence (and status). This doesn't actually validate that the provided token can access and collect the metrics.

We should improve the validation check including also the token correctness.

[2016-05-29 11:12] yaacov commented on #9022
@miq-bot add_label providers/containers

cc @simon3z

[2016-05-29 11:14] moolitayer commented on #7682
@simon3z I'm good with closing this as we got as close as possible to OOTB. Can I go a head and close?

[2016-05-29 12:14] yaacov opened #9024 "Metrics seems to fail when not defining a Hawkular Endpoint."
Metrics seems to fail when not defining a Hawkular Endpoint.

_What happen:_
When not defining a Hawkular hostname metric collection fails.
_What should happen:_
It should fallback to the providers hostname.

[2016-05-29 12:14] yaacov commented on #9024
@miq-bot add_label providers/containers

cc @simon3z

[2016-05-30 05:44] abonas commented on #8980
@miq-bot add_label ui, bug

[2016-05-30 09:05] arnikasky commented on #8976
@kbrock  Hello. I tried start script with `require rubygems`, without. I included gem `activeresource` in Gemfile. I installed and removed gem from system manually. I mixed all these methods. But, ActiveResource doesn't work.

[2016-05-30 10:13] abonas commented on #8980
@miq-bot assign @Jiri-Kremser
@Jiri-Kremser please look at #8160 on where default views are configured, this fix should be similar. thanks!

[2016-05-30 12:02] abonas commented on #8875
@miq-bot add_label enhancement

[2016-05-30 12:18] mzazrivec opened #9028 "Error when starting console / server in current master"
[code]

[2016-05-30 12:23] cben commented on #3911
I'm seeing this in development.
On my machine /var/lib/pgsql/data exists but belongs to `postgres` user, with `drwx------.` perms.
Ruby's `File.exists?('/var/lib/pgsql/data')` returns false, leading
https://github.com/ManageIQ/manageiq/blob/33aec19b876ef27ee554f44fac921ab36ce057ad/gems/pending/util/miq-system.rb#L174
to raise the misleading "does not exist" message.

[2016-05-30 12:36] zeari commented on #8921
@simon3z You are technically correct but I really wouldnt make this change.
![screencapture-localhost-3000-container_topology-show-3-1464610322330](https://cloud.githubusercontent.com/assets/11256940/15649271/019fd2aa-2679-11e6-8d05-46366abacaad.png)

Just hawkular is unreachable and I wouldnt notify the user through topology. Its alarming as we really can reach that provider. Maybe a more thoroug

[2016-05-30 12:54] zeari opened #9029 "Containers provider bearer authentication status appears as unreachable even though refresh works"
![screencapture-localhost-3000-ems_container-3-1464612700395](https://cloud.githubusercontent.com/assets/11256940/15650066/a48ea9f0-267e-11e6-990a-761a6b937c2a.png)

@yaacov @simon3z @abonas

[2016-05-30 12:55] zeari commented on #9029
@miq-bot add_label bug, providers/containers

[2016-05-30 12:59] simon3z commented on #9029
@miq-bot assign yaacov

[2016-05-30 13:17] zeari commented on #9029
Closing this, its yet another local issue.
This happened because we were using the fill script.

[2016-05-30 13:17] #9029 closed

[2016-05-30 14:01] moolitayer opened #9031 "Handle container scan jobs after evm crash"
~~After an appliance crashed, It tries to re run jobs that started but didn't complete.
Currently it treats Container Image Analysis as Vm analysis and it fails at some point:~~

~~I haven't researched yet what is the component the does this (JobProxyDispatcher)~~

I was wrong about this, there is no restart logic, but usual timeout logic that should catch jobs after a crash once a timeout has hap

[2016-05-30 14:02] moolitayer commented on #9031
@miq-bot add_label containers/providers, bug, smart_state

[2016-05-30 14:37] moolitayer commented on #9031
@miq-bot add_label providers/containers

[2016-05-30 14:39] moolitayer opened #9032 "Unknown exception during container ssa - Job still completes"
[code]

[2016-05-30 14:42] simon3z commented on #9032
@moolitayer duplicate of #7375 ?

[2016-05-30 15:00] moolitayer commented on #9032
@simon3z Indeed.
I think the 2 Info lines I added add relevant information tough

[2016-05-30 15:00] arnikasky commented on #8976
Hello.
I add ActiveResource at `lib/miq_automation_engine/engine/miq_ae_method.rb`, and it works, but i have new error -
[----] E, [2016-05-30T18:44:54.737935 #5952:9d50bc] ERROR -- : Q-task_id([service_template_provision_task_1941]) <AEMethod dialog_parser> The following error occurred during method evaluation:
[----] E, [2016-05-30T18:44:54.738347 #5952:9d50bc] ERROR -- : Q-task_id([service_temp

[2016-05-30 15:27] abonas opened #9033 "Adding status indication to entities on middleware topology"
This is a placeholder to discuss what is the relevant field/work needed for each entity to have the status color indication to be displayed for each entity on the middleware topology.

@miq-bot add_label enhancement, providers/hawkular

Currently this is needed for:
- provider -  (the relevant check/method is the authentication status)
- middleware_server
- middleware_deployment
- middleware_datas

[2016-05-30 15:58] pilhuhn commented on #9033
See also https://issues.jboss.org/browse/HWKMETRICS-403

[2016-05-30 16:06] ammendonca opened #9034 "Middleware deployment icons not being shown [due to invalid path]"
While visiting a middleware deployment details page, the icon on the left is missing/broken (both for WAR and EAR).

See from the screenshot that the path is invalid, as it misses (at least) the extension, and I guess also the  hash string other images paths have.

<img width="1298" alt="missing-war-ear-icon" src="https://cloud.githubusercontent.com/assets/1737954/15654028/b9db87e2-2688-11e6-8b20-

[2016-05-30 16:07] ammendonca commented on #9034
@miq-bot add_label providers/hawkular, ui, bug
cc @abonas

[2016-05-30 16:09] abonas commented on #9034
@ammendonca thanks for reporting this, is this similar or different than [this issue](https://github.com/ManageIQ/manageiq/issues/8780) I opened recently?

[2016-05-30 16:13] abonas commented on #9034
imo it sounds related to #8780 , but it's about a font icon, while here this is about png?
please check if this is middleware (hawkular) specific bug or a more general like the other one.
in the latter case, please rephrase the issue accordingly as a more general one.

[2016-05-30 19:09] abonas commented on #8980
@miq-bot assign @abonas
@Jiri-Kremser nevermind, I saw you're not available this week, I'll handle it.

[2016-05-30 19:15] #8878 closed

[2016-05-30 21:11] moolitayer opened #9037 "container scanning job status not reported as failed when there is no convectivity"
[code]

The exception is thrown [here](https://github.com/moolitayer/manageiq/blob/429ae75bbb0eba3a88123d8e7f7b5a8f06e7a174/app/models/manageiq/providers/kubernetes/container_manager/scanning/job.rb#L280)

[2016-05-30 21:16] moolitayer commented on #9037
cc @enoodle Note, with the new scheduling patch failures like this will prevent future jobs from running until those are deleted (can be done in the screen).

They will be detected as running and no new jobs would be allowed
@miq-bot add_label bug, providers/containers, smart_state

[2016-05-30 22:33] simon3z commented on #7682
@moolitayer you can close this as long as we're tracking all the missing items somewhere (Trello?)

[2016-05-30 23:30] ammendonca commented on #9034
@abonas, indeed, this looks similar to #8780 but, since yours was font icon related and fix is likely different, thought it would be good to create a separate issue.

I don't have anything else provisioned at the moment to check, will try to confirm if this is a more general issue.

Anyway, while testing a bit more, I have noticed that the same issue happens when switching to tile or grid view in

[2016-05-31 07:49] #7682 closed

[2016-05-31 09:00] hhovsepy opened #9039 "Middleware Server Summary Page uniqueness"
This is feature request to do some additions in middleware server's summary page.

The issue: "Server Name" column in servers list can have values not unique, for instance all servers have default name "Local". Only uniqueness is "Feed" which is from user perspective hard to understand.
When going to server's summary page, the "Feed" is not shown in details, but "Hostname" is shown.
From user pers

[2016-05-31 09:02] abonas commented on #9039
@miq_bot add_label providers/hawkular, enhancement

[2016-05-31 10:55] tledesma opened #9043 "Bug when we add/edit a tier"
![captura del escritorio de 31-05-16 12_49_45](https://cloud.githubusercontent.com/assets/13876427/15672080/abdd77da-272e-11e6-86e1-e8e91a633bcc.gif)

cc @amaurygonzalez @lpichler

[2016-05-31 10:57] tledesma commented on #9043
@miq-bot add_label chargeback
@miq-bot assign @delaluzparra

[2016-05-31 10:59] tledesma commented on #9043
@miq-bot assign @sergio-ocon

[2016-05-31 12:05] hhovsepy opened #9046 "Middleware Datasource List: Add uniqueness"
This is feature request to add more info in middleware datasources list page to make datasources unique there.

The Issue: It shows "DS Name" and "Server" fields in datasources list. So hard to see uniqueness when server name is default.

Suggestion: Add additional columns in list, for instance Driver Name.
Add "hostname/servername" for server value in list and in DS summary page, like requested i

[2016-05-31 12:20] abonas opened #9048 "refactor middleware metrics types to be more easily configurable"
@miq-bot add_label enhancement, providers/hawkular
@miq-bot assign @lucasponce

[2016-05-31 12:20] abonas commented on #9046
@miq-bot add_label enhancement, providers/hawkular, ui

[2016-05-31 12:22] lpichler commented on #9043
@miq-bot assign lpichler

[2016-05-31 12:44] #9032 closed

[2016-05-31 12:44] moolitayer commented on #9032
Close as duplicate of #7375

[2016-05-31 12:51] moolitayer commented on #7375
My stack trace for the same problem was:
[code]

@miq-bot add_label smart_state

[2016-05-31 12:51] arnikasky opened #9050 "NoMethodError: undefined method `dump' for Psych:Module - darga"
Hello.
When i use automation scripts with dialogs, i have this error:
[----] E, [2016-05-31T14:31:35.275062 #21452:12efa80] ERROR -- : Q-task_id([service_template_provision_task_1962]) <AEMethod dialog_parser> The following error occurred during method evaluation:
[----] E, [2016-05-31T14:31:35.275601 #21452:12efa80] ERROR -- : Q-task_id([service_template_provision_task_1962]) <AEMethod dialog_par

[2016-05-31 14:01] alex-lairan opened #9052 "Group tag problems"
Hi everyone,

I have problems with my tags on groups.

When I set tag from the UI, the API don't send me tags.

![group_tag](https://cloud.githubusercontent.com/assets/15196752/15676927/77fee1fa-2748-11e6-9419-da350f881750.png)

I can demand _tags_ attribute, but it's empty.

![group_api](https://cloud.githubusercontent.com/assets/15196752/15676942/7fc930fc-2748-11e6-9580-2a38d560d8fc.png)

Have I

[2016-05-31 14:16] fbladilo commented on #8132
yay! :smiley:

[2016-05-31 14:30] adlinix opened #9053 "Adding VMware vCenter infra provider"
Hi,

I have added and successfully validated VMware vCenter provider on my manageIQ(Version: capablanca-2.20160531195249_d083ab5), but getting the following error while refreshing the relationships and power states
#

Last Refresh
Error - 7 Minutes Ago
# undefined method `[]' for nil:NilClass

vCenter login credentials are having limited access and it doesnt have privilege to create a VM, but can

[2016-05-31 14:36] agrare commented on #9053
Thanks @adlinix, originally from http://talk.manageiq.org/t/adding-vmware-vcenter-infra-provider/1400

[2016-05-31 14:37] agrare commented on #9053
@adlinix can you test with a user that has full privileges to see if the limited access is causing the issue?

[2016-05-31 14:43] Fryguy commented on #9028
This must be a filesystem ordering problem, because I don't have this issue locally when running rails console.  I'll see if I can recreate in another way.

[2016-05-31 14:45] mzazrivec commented on #9028
@Fryguy Yes, it is a matter of ordering, I can reproduce this on one of my systems, but it works nicely on another one (shrug).

[2016-05-31 14:45] bronaghs opened #9054 "Azure metrics - Add more counters"
Only CPU utilization is supported, more counters should be added, see:

https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/azure/cloud_manager/metrics_capture.rb

[2016-05-31 14:48] ammendonca opened #9055 "Unable to change view for MW server-specific deployments"
When viewing the deployments of a specific server, ie:

1. Go to MW Servers
2. Click on a server
3. Click on the "Middleware Deployments" row in the "Relationships" table

Clicking on one of the view options (grid/tile/list) an error message is shown stating that `The user is not authorized for this task or item.`

![image](https://cloud.githubusercontent.com/assets/1737954/15678550/a5bdba3c-2746-

[2016-05-31 15:36] roliveri commented on #7375
@simon3z @moolitayer - this appears to be a dup of: https://github.com/ManageIQ/manageiq/issues/8687

If so, I'd recommend closing this one, given the other has more information.

[2016-05-31 15:44] roliveri commented on #8687
@Fryguy I think we can and should work around this in our SSA code, for now.
However, if this is the result of a change in Rails, it may have introduced other bugs that we haven't found yet.

We need to determine if this new Rails behavior is intentional, or a bug. Agreed?

[2016-05-31 15:53] jrafanie commented on #8687
@roliveri @Fryguy I'm trying to recreate this in a unit test that we can try to figure out what's happening in rails 5.

[2016-05-31 16:14] abonas commented on #9046
@hhovsepy, regarding adding more server details in the datasource summary page - the server in the summary page is a "relationship" link - meaning that the user can click on it and see full details of the server. this is the miq current standard. So duplicating information from server entity into datasource properties in the summary page would be the less advised approach.

[2016-05-31 16:19] abonas commented on #9055
yes, the same error happens for server->datasources

[2016-05-31 16:24] jrafanie commented on #8687
Ok, I simplified the test case to this:

[code]

Raises the same error:
[code]

[2016-05-31 16:28] jrafanie commented on #8687
From puts debugging, even if we add ems_id to the select, I'm seeing it's calling `changed?` on `updated_on`:
`["id", "ems_id", "miq_group_id", "tenant_id", "name", "location", "vendor", "updated_on"]`

[2016-05-31 16:29] Fryguy commented on #8687
@jrafanie Can you bisect down to what columns are required?  I'm wondering if it's something to do with AR callbacks needing a particular column.

[2016-05-31 16:30] abonas commented on #9034
imo this is caused by #8734 cc @mzazrivec

[2016-05-31 16:41] fbladilo commented on #8896
@bazulay @simaishi Agreed on options 1,2,3,4,6,9,15 to be hidden on the container appliance, I would like to test and ensure we have proper httpd mods for option 10.
I think it makes sense to include 12 , also have to check oscap-scanner is actually being pulled.

[2016-05-31 16:52] gtanzillo commented on #8896
@bazulay @fbladilo Is there an easy way to detect whether we're running inside a container?

[2016-05-31 16:58] fbladilo commented on #8896
@gtanzillo  I've never found an official answer but I've seen these approaches:

    Check existance of /.dockerenv or /.dockerinit files
    Cgroup check "grep docker /proc/self/cgroup"

Probably a combination of them would be safer. I hope this helps.

[2016-05-31 17:01] bazulay commented on #8896
@gtanzillo @fbladilo

we can simply add a config value (in container build time) to any chosen config file something like "containerized=true/false" and the appliance console should pick it up on runtime.
This should be good enough + it will ease up testing for the developer , he can simply add this config manually and test the console.

about which config file to use, Greg just let us know where

[2016-05-31 17:04] gtanzillo commented on #8896
Would you be able to define an env variable at build time? Something like CONTAINERIZED_MIQ? That would be the easiest for us. But, if not, the file would work too.

[2016-05-31 17:10] fbladilo commented on #8896
@gtanzillo we already set one on the current build

https://github.com/ManageIQ/manageiq/blob/master/Dockerfile#L2

Please keep in mind that we add this ourselves, my comment above referred to other options that are automatically provided by docker (not set by the image author).

[2016-05-31 17:26] bazulay commented on #8896
@gtanzillo @fbladilo

Franco keep me honest here, but IIRC  "ENV container docker" is only available on build time ?

[2016-05-31 17:32] djberg96 commented on #9054
@bronaghs What types of counters do you think should get priority?

[2016-05-31 18:08] jvlcek commented on #8861
I've confirmed this has been fixed as ofthe  23.May.2016 nightly build.

Closing

[2016-05-31 18:08] #8861 closed

[2016-05-31 18:12] jrafanie commented on #8687
https://gist.github.com/jrafanie/1b8d1c40eb9976840801443b70d8f92c

[2016-05-31 18:25] fbladilo commented on #8896
@gtanzillo @bazulay Barak, ENV is available during build-time and persist in run-time. Different case for ARGs which are only available at build-time.

[2016-05-31 18:46] #9028 closed

[2016-05-31 19:08] roliveri commented on #8984
@hsong-rh Has this been fixed by another PR? I recall merging one that had `require 'set'` in it.

[2016-05-31 19:13] hsong-rh commented on #8984
@roliveri it has been fixed and merged.

[2016-05-31 19:18] fbladilo commented on #8896
@gtanzillo @bazulay

As I suspected, option 9 "Configure External Authentication (httpd)" is missing packages, will create a small PR to pull them in and refer to this issue. Take a look below :

--
Configure External Authentication (httpd)

ipa-client RPM is not installed
sssd-dbus RPM is not installed

Appliance Installation is not valid for enabling External Authentication

External Authenticat

[2016-05-31 19:29] roliveri commented on #8984
@hsong-rh Do you have the link to the merged PR?

[2016-05-31 19:30] hhovsepy commented on #9046
@abonas ok thank you, then only having uniqueness in row level could be enough, like "hostname/servername" instead of "servername".

[2016-05-31 19:35] hsong-rh commented on #8984
@roliveri  https://github.com/ManageIQ/manageiq/pull/8667

[2016-05-31 19:36] simaishi commented on #8896
@fbladilo FYI, there are two dozens or so packages not included in Dockerfile, but included in kickstart.  We'll need to go through others and identify what else is needed..  https://github.com/ManageIQ/manageiq/issues/8561

[2016-05-31 19:49] fbladilo commented on #8896
@simaishi good call, I'll start a review and post in #8651 for discussion.

[2016-05-31 20:45] roliveri commented on #8984
@j2clerck - Fixed by: https://github.com/ManageIQ/manageiq/pull/8667

[2016-05-31 20:45] #8984 closed

[2016-05-31 20:46] #8980 closed

[2016-05-31 20:46] chessbyte commented on #8980
Closed by https://github.com/ManageIQ/manageiq/pull/9036

[2016-05-31 20:48] #9039 closed

[2016-05-31 22:02] j2clerck commented on #8984
Hi,

There were 2 issues mixed together:
- require set which is already fixed by another PR
- gem install activesupport which I'm not sure is fixed by anything and not
sure where it comes from.

Regards,
Joseph

[2016-06-01 01:07] jrafanie commented on #8687
https://github.com/rails/rails/issues/25228

[2016-06-01 04:41] roliveri commented on #8984
@j2clerck The activesupport gem is included in the Gemfile of MIQ and used in a number of places. In the past, `require activesupport` would get all the functionality it provided. The, a change was made to the gem that required explicit `require` statements for portions of functionality, like `set`. So, existing clients need to change to `require set` even though the top-level `activesupport` gem

[2016-06-01 07:24] simon3z commented on #9037
Mooli I am assigning this to you. Feel free to re-assign to @enoodle if he's handling this.

@miq-bot assign moolitayer

[2016-06-01 07:26] simon3z commented on #9024
@miq-bot assign yaacov

[2016-06-01 07:28] simon3z commented on #8456
@moolitayer should this be closed?

[2016-06-01 07:28] simon3z commented on #8456
@miq-bot remove_label wip

[2016-06-01 07:31] moolitayer commented on #8456
Closing, implemented through #8760

[2016-06-01 07:31] #8456 closed

[2016-06-01 08:36] simon3z commented on #8711
@dkorn should we close this?

[2016-06-01 09:00] dkorn commented on #8711
now that https://github.com/ManageIQ/manageiq/pull/8991 is merged this issue can be closed.

There is still a small change that @jeff-phillips-18 plans regarding the <actions> tag, that is currently not used in the deployment wizard. The change will be part of the next release of angular-patternfly but isn't required since it doesn't affect the functionality, to the best of my knowledge.

[2016-06-01 09:00] #8711 closed

[2016-06-01 09:12] zhitongLBN commented on #8977
@chessbyte please keep me update about this enhancement, I could maybe help :)

[2016-06-01 10:14] adlinix commented on #9053
@agrare, will check, thanks

[2016-06-01 10:55] mzazrivec commented on #9034
@abonas All but middleware decorators use path rather than the image name. Some of
the models have the listicon image under `100/`, some of them under `ico/`, some of them
under `svg/`, some under `pictures/`. So today we can use a png image for, tomorrow we can
switch it to svg.

If we'd have only the image name in the decorators, we'd have to have the per-model logic
of what's going to be where

[2016-06-01 12:20] himdel commented on #9034
Yes, there was a confusion about what the decorator should return, I'm probably partly responsible, sorry :)... But we definitely need to be consistent and we do want the whole path in the decorator now, because otherwise, we'd still need some logic somewhere to determine the directory and extension .. which is exactly what the decorator is for :).

If we were using the directories as something li

[2016-06-01 12:26] arnikasky opened #9074 "Vm analysis doesn'start"
Hello.

Today i deside to know, how Vm Analysis works in Manageiq-darga. My Provider -Vmware.
But Vm analysis on two VMs is in state 'waiting_to_start'  for a hour. I think, it isn't normally.

Tnx.

[2016-06-01 12:27] arnikasky commented on #9074
There is no errors in log files.

[2016-06-01 12:48] neotusca opened #9076 "Need to add region Seoul in Asia"
AWS region builded in Seoul, Asia.
I can't select Seoul region in combo box on Cloud Provider - Amazon EC2.
Please, add to Seoul as region.

[2016-06-01 12:59] neotusca commented on #9076
Sorry, I just found out new region applied.
I using ova version (capablanca-2.20xxx) in VMware.
I'll close the issue.

[2016-06-01 12:59] #9076 closed

[2016-06-01 13:34] ammendonca opened #9079 "Unstyled text in some sections"
In some sections there are pieces of text where the font is unstyled, as per screenshots:

- Dashboard menus
![image](https://cloud.githubusercontent.com/assets/1737954/15711174/e5da93e2-2804-11e6-8cdf-7cc4a12d720a.png)

- Settings
![image](https://cloud.githubusercontent.com/assets/1737954/15711261/3e993ae2-2805-11e6-9451-a9d9786627a5.png)

- Access control
![image](https://cloud.githubuserconten

[2016-06-01 14:08] fbladilo commented on #8896
@gtanzillo @bazulay @kbrock I believe in the container environment detection options are :

1. Author supplied environmental variable (already in place)
2. Author created config file
3. Docker supplied .dockerenv or .dockerinit
4. Cgroup check for docker

I'm inclined for 1,2 because we can ensure they are there, 3 and 4 are in Docker area and subject to change (although I hardly see 4 changing) .

[2016-06-01 14:17] bazulay commented on #8896
@fbladilo @kbrock @gtanzillo

I agree that either 1 or 2 are the best for this case.
kbrock - if you prefer #2 above than please let us know so we'll submit a PR to cover that (and which file do you prefer using for this purpose). in case you prefer  #1 than you are good to go.

[2016-06-01 15:01] #8987 closed

[2016-06-01 16:02] ammendonca opened #9088 "ActionView::MissingTemplate in Optimize > Utilization"
When visiting the Optimize > Utilization section the page isn't rendered and an exception is thrown:

@miq-bot add_label bug, ui

[2016-06-01 18:08] j2clerck commented on #8984
Richard,

It seems to me that the active support gem was not 'loaded'.
I had to run gem install activesupport to fix this. I'm not sure where the
error comes from as the gem was already present in the appliance.

I'll try to reproduce the error with the latest nightly build for VMware.

Regards,
Joseph
Le mer. 1 juin 2016 à 05:41, Richard Oliveri <notifications@github.com> a
écrit :

[2016-06-01 19:42] kbrock commented on #8896
I lean towards 1, but we do tend to have all env variables defined in `/etc/defaults/evm`
Not sure if that scheme is relevant in the Docker world.

Is the env lowercase `"container"` a standard out there for docker?
Kinda wish it were a little more bash env friendly like `"DOCKER_CONTAINER"` or something.
But I guess it is what it is.

[2016-06-01 20:36] djberg96 commented on #8996
Seems @kbrock has already submitted a PR for the draper warning (among other things) but it's failing atm.

[2016-06-01 21:08] jvlcek commented on #8896
I agree option 1, "Author supplied env variable (already in place)"

I'd also like to confirm what options should be exposed for now on a container.
We can change this as functionality changes, e.g. add 10 back once supported.

Do we want to allow the user to set the timezone?

~~1) Set DHCP Network Configuration~~
~~2) Set Static Network Configuration~~
~~3) Test Network Configuration~~
~~4) Set

[2016-06-01 21:09] bazulay commented on #8896
@fbladilo @kbrock @Fryguy
We can do whatever you think fit (both functionality & project wise),
We can do boath - add DOCKER_CONTAINER as environment variable & to /etc/defaults/evm.
But if the console loads the /etc/defaults/evm anyway than it seem that the env variable is redundant.
Your call.

[2016-06-02 03:02] kbrock commented on #8896
@jvlcek I like your list. Think Timezone: no but @bazulay would be better reference for that

[2016-06-02 08:28] yaacov commented on #9024
Fixed by: https://github.com/ManageIQ/manageiq/pull/9025

[2016-06-02 08:28] #9024 closed

[2016-06-02 08:36] yaacov opened #9096 "TypeError Exception when reading hawkular metrics"
**When reading hawkular metrics we can get a TypeError Exception.**

_What happen_:
If the Hawkular data struct is empty we get an the error.

_What should happen_:
We should check for empty data structs.

_Examples_:
Full data struct:
[code]
Empty data struct:
` {"start"=>1464856460000, "end"=>1464856480000, "empty"=>true}`

This Exception can be reproduced by running:
`ContainerNode.first.perf_c

[2016-06-02 08:38] yaacov commented on #9096
@miq-bot add_label providers/containers

cc @simon3z @zakiva

[2016-06-02 09:50] lpichler commented on #8538
I am closing as we decided leave as it is.

[2016-06-02 09:50] #8538 closed

[2016-06-02 10:53] KevinLoiseau opened #9099 "API - specifying filters and limit doesn't return the actual "count" value"
Hi guys,

I have a little problem with MIQ's API. When I set a filter for my request and specify the maximum of results that I need (attribute "limit"), I have a response like this :
count = total of resources (without consideration for my filter)
subcount = number of result in the API's response (this is good)

I don't get any field with the total number of results with filter, but I need it.

WD

[2016-06-02 10:57] bazulay commented on #8896
Timezone can stay as it does not effect the host the container is running on.

[2016-06-02 11:08] hhovsepy opened #9101 "All middleware Datasources/Deployments are shown under one server"
Middleware provider on Hawkular shows all Datasources/Deployments under one server when Hawkular has 2 servers with the same default name.

Steps:
1. On Hawkular side, attach 2 servers with the same name "Local". Each of them have 2 datasources, default ones: "ExampleDS" and "KeycloackDS".
2. Create Middleware provider on MiQ for that Hawkular.
3. Go to Servers list.
4. Check that one server has 0

[2016-06-02 11:50] #5748 closed

[2016-06-02 12:09] abonas commented on #9101
@miq-bot add_label bug, providers/hawkular

[2016-06-02 12:13] PanSpagetka commented on #6627
Problems for PatternFly team:
Size and position of legend is static. When div with chart is too small, only thing which is visible is legend.
Also Y axis tick labels overlapping when chart is too small.

What we want:
Actual chart remain visible even if is small and have lot of categories. Legend could be smaller or disappear, but chart should always be visible.
Y axis tick should not overlap.

[2016-06-02 12:14] #6691 closed

[2016-06-02 13:46] chriskacerguis opened #9105 "Improve Docker build time and size"
The current build time for Docker should be improved, and the size of the container should be reduced.

[2016-06-02 13:47] chriskacerguis opened #9106 "Move external services to separate Docker containers"
Currently, we are running many services in one Docker container.  These should be split out and a docker-compose file should be added.
- [x] Separate the ruby install to it's own container (see https://github.com/chriskacerguis/rhel-rails)
- [ ] Update Dockerfile to use that build image
- [ ] Create docker-compose to use memcached and postgresql container

[more items coming]

cc @bdunne

[2016-06-02 14:08] carbonin commented on #8562
Looks like the same (and more detailed) discussion around this is happening in https://github.com/ManageIQ/manageiq/issues/8896

This can likely be closed in favor of that issue.

[2016-06-02 14:08] #8562 closed

[2016-06-02 14:12] abonas commented on #9088
cc @martinpovolny @dclarizio

[2016-06-02 14:37] #8110 closed

[2016-06-02 14:51] simaishi commented on #8896
Please note:

8) Configure Database -> 1) Create Internal Database will cause appliance_console to crash (https://github.com/ManageIQ/manageiq/issues/8587).

So for the top menus we want to keep for the container, the sub-menus will need to be looked at.

[2016-06-02 14:52] fbladilo commented on #8896
@bazulay @kbrock @jvlcek

I'm seeing a slightly different list for appliance_console in manageiq:latest DH image, was your list from the CFME build?

Advanced Setting

1) Set DHCP Network Configuration
2) Set Static Network Configuration
3) Test Network Configuration
4) Set Hostname
5) Set Timezone
6) Set Date and Time
7) Restore Database From Backup
8) Configure Database
9) Configure External Aut

[2016-06-02 15:13] Fryguy commented on #9106
cc @bazulay @fbladilo

[2016-06-02 15:42] #8239 closed

[2016-06-02 16:06] pilhuhn commented on #9034
We can of course just bring back the PNG icons and are done, but when I last worked on this I was told to use SVG icons.
Btw @himdel the usage of *we do want the whole path in the decorator now* is inconsistent, as topology and listview work without full path, while the quadicon requires the full path.

[2016-06-02 17:32] bronaghs commented on #9054
@djberg96 -
Amazon might be a good example to follow:
https://github.com/ManageIQ/manageiq/blob/master/gems/manageiq-providers-amazon/app/models/manageiq/providers/amazon/cloud_manager/metrics_capture.rb

[2016-06-02 17:40] abonas commented on #9101
@miq-bot assign @Jiri-Kremser

[2016-06-02 17:53] bazulay commented on #9106
I wonder if we shouldn't skip directly to pods/template in openshift/kubernetes.
but this is a good exercise anyway - not sure it is necessary for POC use cases

[2016-06-02 17:54] fbladilo commented on #8896
@kbrock @bazulay @jvlcek

I like the idea of having all MIQ env variables contained in /etc/default/evm, instead of using
docker ENV. I can submit a small PR that injects CONTAINER=true via Dockerfile just like we have others such as APPLIANCE=true. Thoughts?

[2016-06-02 18:25] jvlcek commented on #8896
@fbladilo That's fine with me too.

[2016-06-02 19:55] chriskacerguis commented on #9106
I would go with both, that way MIQ can get out to a large as possible audience.

[2016-06-02 20:31] djberg96 commented on #8795
@bronaghs Can we close this?

[2016-06-02 20:32] djberg96 commented on #8662
@supernoodz Can we close this?

[2016-06-02 20:32] djberg96 commented on #7900
@romaintb @bronaghs Can we close this?

[2016-06-02 20:36] djberg96 commented on #7327
@bronaghs @dclarizio @AparnaKarve I believe we can close this one.

[2016-06-02 20:48] AparnaKarve commented on #7327
@djberg96 Yes, we can.

[2016-06-02 22:11] roliveri commented on #9074
Hi,

Is the `smart_state` role enable on the appliance?

[2016-06-03 03:11] roliveri commented on #9074
@arnikasky

[2016-06-03 04:53] moolitayer commented on #9096
@miq-bot add_label darga/yes, bug

[2016-06-03 04:55] moolitayer commented on #9096
@miq-bot add_label metrics

[2016-06-03 04:57] moolitayer commented on #9096
@yaacov can you write code that reproduces this, including the data bits?

[2016-06-03 05:04] moolitayer commented on #9096
@yaacov please add the exception this issue is about

[2016-06-03 08:03] romaintb commented on #7900
@djberg96 the fix was merged so I guess it's ok to close this

[2016-06-03 08:03] #7900 closed

[2016-06-03 08:29] arnikasky commented on #9074
@roliveri Hi, yes, this role is enabled.

[2016-06-03 13:23] djberg96 commented on #8522
@jrafanie It appears that rest-client injects the Ruby engine version into the request headers as the user-agent, so that would be different:

https://github.com/rest-client/rest-client/blob/master/lib/restclient/platform.rb#L45
https://github.com/rest-client/rest-client/blob/master/lib/restclient/request.rb#L491

[2016-06-03 13:26] bronaghs commented on #8795
@djberg96 - yes.

[2016-06-03 13:26] #8795 closed

[2016-06-03 13:29] jrafanie commented on #8522
@djberg96 Interesting, so I guess we'd need to re-create the cassettes with 2.3.x.  Would someone with ruby 2.2 who runs the VCR specs with 2.3.x cassettes run into the reverse issue?

[2016-06-03 14:33] mfalesni opened #9130 "JS console error: Uncaught TypeError: Cannot read property 'tooltip' of undefined"
1) Open the browser
2) Open the developer console
3) Open appliance's ip
4) Log in
5) A couple of errors in the console appear:

![image](https://cloud.githubusercontent.com/assets/2163040/15782013/e7b4334e-29a8-11e6-80a7-b3949fd091b8.png)

[2016-06-03 14:35] #7327 closed

[2016-06-03 15:12] supernoodz commented on #8662
Issue resolved. Thanks all.

[2016-06-03 15:12] #8662 closed

[2016-06-03 15:13] djberg96 commented on #8634
👍

[2016-06-03 17:01] abellotti commented on #9099
correct, count should be all resources (albeit visible to the user's tenant).    We may want another count for queried/filtered resources  (before the limit) as per https://trello.com/c/pWpXgv8w

[2016-06-03 17:02] abellotti commented on #9099
@imtayadeway something to keep in mind as we look at that trello card.  Thanks.

[2016-06-03 18:35] jvlcek commented on #8896
@fbladilo The menu upstream (MiQ) and downstream (CFME) are different.

[2016-06-03 19:10] d-m-u opened #9140 "service dialogue functionality vs provisioning dialogue functionality"
currently missing in service dialogues:
- [x] multi-select boxes
- [x] component hiding
- [ ] ~~list-view support~~

@miq-bot add_label enhancement, services, wip

[2016-06-05 17:13] abonas opened #9143 "Icons are not shown in list view for png images"
#8734 changed the way the png images are served - the decorators now need to include full path of images including extension.
As a result, in list view the icons (images) are not shown because there is a broken path (for example .png appears twice as once it arrives from decorator, and once is harcoded in the code [here](https://github.com/ManageIQ/manageiq/blob/master/app/helpers/application_help

[2016-06-05 17:15] abonas commented on #9143
cc @ammendonca

[2016-06-05 18:27] abonas commented on #9101
@Jiri-Kremser could this be due to the change in the ruby gem?
https://github.com/hawkular/hawkular-client-ruby/blame/b33501b818ac4ae15c1aa6bc6790c05e18d7f744/lib/hawkular/inventory/inventory_api.rb

[2016-06-06 12:42] KevinLoiseau commented on #9099
Thank you for this information @abellotti !

[2016-06-06 16:12] corydmbnsf opened #9145 "Customize Dialogue -> Specifications -> linux_host_name => {}"
I am experiencing an issue where the customization specifications that MIQ is pulling from a vCenter is populating the Host name[linux_host_name] string with a pair of curly brackets {}.  This is what it shows  when I goto VM Provision=>Choose my Template=>Customize Tab=>Customize(Specification)=>Choose my specification file.  In the Naming section for "Host Name" it shows a pair of curly brackets

[2016-06-07 08:06] hhovsepy opened #9147 "Add "Server State" into Middleware Server Details."
Currently Middleware Server Details page does not show server state.

Request to add this property, as it exists in database.
![screenshot from 2016-06-07 10 05 16](https://cloud.githubusercontent.com/assets/604313/15850271/69884f86-2c97-11e6-8ec3-393b807fb83f.png)

@abonas

[2016-06-07 09:13] abonas commented on #9033
@pilhuhn why can't the server state field that is already fetched be used for the color status indication of a server? ([this issue](https://github.com/ManageIQ/manageiq/issues/9147) brought me to think about it)

[2016-06-07 11:29] mahsa-frj opened #9148 "refresh fail"
Hi,
I installed the stable version of manageiq, and added openstack as a cloud provider, the credential section was good and did'n have a problem. but when I want to refresh relationship and powerstate to get detailes of my provider, I get error.
the details of log is:

    [----] E, [2016-06-07T07:12:51.948539 #12308:c11998] ERROR -- : excon.error      #<Excon::Errors::SocketError: SSL_connect re

[2016-06-07 13:26] abonas commented on #9147
@miq-bot add_label enhancement, providers/hawkular, ui

[2016-06-07 13:33] abonas commented on #9147
@miq-bot add_label enhancement, providers/hawkular, ui

[2016-06-07 13:57] abellotti opened #9150 "ssh config should auto-create home directories"
This was brought up at the design summit, when enabling external authentication, there was a request to have ssh auto-create home directories when folks are logging in with their external auth credentials.

[2016-06-07 16:07] abonas commented on #9055
I'm seeing this in evm.log:
[----] E, [2016-06-07T19:04:54.043165 #31266:14fdb60] ERROR -- : MIQ(middleware_server_controller-button): The user is not authorized for this task or item.
[----] W, [2016-06-07T19:04:54.052298 #31266:14fdb60]  WARN -- : <AuditFailure> Username [admin], Role ID [1] attempted to access area [middleware_server], type [Action], task [button]

[2016-06-08 10:45] j2clerck commented on #8984
Richard,

the issue is still occuring on Darga 1.

After a fresh install, I can't run SSA on vSphere.

Same Error : cannot load such file active_support/core_ext/object/try
![image](https://cloud.githubusercontent.com/assets/8290156/15891838/cd28a7ea-2d76-11e6-9758-5ba37fa687ca.png)

After runnning gem install activesupport it works.

regards,
Joseph de Clerck.

[2016-06-08 12:26] arnikasky commented on #9074
@roliveri Hello. After update(today) it works. I'll close issue

[2016-06-08 12:26] #9074 closed

[2016-06-08 15:50] bronaghs commented on #8634
@miq-bot assign @Fryguy
I think you mentioned you had made progress with this.

[2016-06-09 09:33] theerror opened #9164 "AMQP (Rabbit) vhost different than "/""
There is missing option in AMQP configuration to be able to set vhost different than default expected "/". In our case we are set vhost to /openstack and becuse of that, all communication failed:

[code]

as far the only solution is to [hardcoding it](https://github.com/ManageIQ/manageiq/blob/0af86603993298f2246edbf00c9c186422cfb890/gems/pending/openstack/events/openstack_rabbit_event_monitor.rb#L

[2016-06-09 17:23] abonas commented on #9055
it seems that the routing/handling of viewing relationships in various providers is done differently.
I've yet found why.
**Example**: in containers provider, going to projects -> project A -> container groups and then switching between grid/tile views is going through this scenario:
1. seeing all containers groups gets here:
http://localhost:3000/container_project/show/8?display=container_groups

[2016-06-10 14:23] #9034 closed

[2016-06-10 20:22] Unixistehbest commented on #196
I have the same issue. However, I added all of the new instances and I still am experiencing this same issue. Does anything else need to be done besides updating MiqEc2InstanceTypes.rb???

[2016-06-12 22:54] djberg96 commented on #8996
@matthewd I don't suppose you can fix those warnings for Rails 5, can you?

(I would have posted on the tracker, but it's apparently disabled).

[2016-06-13 03:01] #1357 closed

[2016-06-13 03:03] martinpovolny opened #9184 "Refactor miq_task status checking."
`if miq_task.status == 'Error' || miq_task.miq_report_result.nil?`

`if miq_task.status == "Error" || miq_task.task_results.blank?`

`if miq_task.task_results.blank? || miq_task.status != "Ok"`

needs to be pushed down to the model + unified

[2016-06-13 07:57] matthewd commented on #8996
jquery-rjs is here: https://github.com/ManageIQ/jquery-rjs; the two blaming railties sound like they're calling some other initializer and the deprecation is just picking the wrong backtrace line.

[2016-06-13 08:13] isimluk commented on #9184
@miq-bot assign isimluk

[2016-06-13 16:14] #9088 closed

[2016-06-13 18:54] djberg96 commented on #8996
@Fryguy @jrafanie It seems we're still pointing at amatsuda's repo for jquery-rjs in the Gemfile. Shouldn't we be pointing at our own?

[code]

[2016-06-13 19:32] jrafanie commented on #8996
Are we saying we shouldn't have jumped back to the amatsuda version in b48f7995c2ece927a8ded1132bb321959f1aa2fc?

[2016-06-13 19:34] djberg96 commented on #8996
@jrafanie I don't know what we're saying. ;)

I think we should probably get our repo in sync with amatsuda's if we're behind, get it release-worthy and, if we can be added as an owner, push out a new release.

[2016-06-14 12:38] himdel commented on #9055
@abonas I can't test now since adding middleware providers is currently broken but...

Seems like the difference could be in `@gtl_url` - if set, the toolbar will GET to the url + url_parms (what you're seeing in containter project), and if not, it just triggers a generic "button with this name was clicked" action.

[2016-06-14 12:44] abonas commented on #9055
@himdel what is broken in adding middleware providers?

[2016-06-14 12:59] #9043 closed

[2016-06-14 13:53] #9014 closed

[2016-06-14 13:54] martinpovolny opened #9195 "Duplicate DOM ids in Timelines"
[code]

Need to update the javascript to find the forms in some other way.

warning: don't let https://bugzilla.redhat.com/show_bug.cgi?id=1331491 confuse you

[2016-06-14 14:40] himdel opened #9196 "Hawkular refresh - private method `select' called for "kuku":String"
Adding a hawkular provider and clicking refresh on current master gives me an exception..

[code]

[2016-06-14 14:41] himdel commented on #9055
@abonas created an issue .. https://github.com/ManageIQ/manageiq/issues/9196

[2016-06-14 14:43] abonas commented on #9196
@miq-bot add_label bug, providers/hawkular

[2016-06-14 14:43] abonas commented on #9196
@himdel thanks for reporting!

[2016-06-14 14:53] himdel opened #9197 "Refactor instance_variable_set with computed variable name"
Following up on [#9187](https://github.com/ManageIQ/manageiq/pull/9187#issuecomment-225898707) .. this is really an antipattern we should get rid of (probably with the exception of `ar_yaml.rb` where it makes sense and maybe `miq_user_scope.rb`)..

[code]

[2016-06-14 15:00] abonas commented on #9196
@himdel which env are you connecting to? anything specific? and which hawkular gem version do you have?

[2016-06-14 15:09] abonas commented on #9196
@miq-bot assign @Jiri-Kremser

[2016-06-14 15:10] himdel commented on #9197
/cc @ZitaNemeckova

[2016-06-14 15:20] himdel commented on #9196
@abonas sorry, don't know about envs, but `hawkular-client (0.2.2)`

[2016-06-14 15:25] kbrock commented on #9014
thanks @Fryguy

[2016-06-14 17:10] ammendonca opened #9201 "Unnecessary password confirmation when adding providers"
When adding most of the MIQ providers  (seen at least in Cloud, Infrastructure, Containers, Middleware), it is required to enter the password (or token/key) twice as "confirmation".

I don't think this is required as we are not defining it, we are just using it, thus there's no advantage in having such confirmation, only causing more work to the user (type/paste again).

Example screenshot from Cl

[2016-06-14 17:11] ammendonca commented on #9201
cc @abonas

[2016-06-14 18:38] abonas commented on #9201
cc @dclarizio @serenamarie125

[2016-06-14 19:36] jerryk55 commented on #9201
@ammendonca for the providers I have been involved with (SCVMM & VMWare Inframanagers) the password is required.  Among other things the inventory collection will need to run which cannot be done without credentials.  I would think many providers would need the creds for similar reasons.

[2016-06-14 19:39] ammendonca commented on #9201
@jerryk55 right, the password is required, but why the "Confirm Password" where it has to be entered a second time ?

[2016-06-14 19:42] abonas commented on #9201
@jerryk55 the focus of this issue is the questionable necessity of the **second** time that the user has to enter the password, which is usually typical for "create password" or "reset password" process, which is not the issue. There is no argument that the password is required :smile:

[2016-06-14 19:43] abonas commented on #9201
@miq-bot add_label ui, providers

[2016-06-14 21:29] zekizeki commented on #9106
I would split out and start with the docker-compose approach first, I just attempted to run locally on my laptop for the first time having come across the project. Running under kubernetes/openshift isnt going to be a first step for most people.

I noticed also the docker instructions are wrong and only got the docker image working after looking inside the Dockerfile and seeing that i needed to do

[2016-06-14 21:34] zekizeki opened #9208 "Docker instructions on download page are incorrect"
I followed the docker instructions at http://manageiq.org/download/ but had no success in running the image, after poking around in the container i found an error message about postgres data not existing.

I  only got the docker image working after looking inside the Dockerfile and seeing that i needed to do an install step and then mount the volume. This isn't mentioned in the Docker instructions

[2016-06-14 23:22] hayesr opened #9210 "Quadicons render link under icon in grid view"
Noticed on the Floating IPs screen:

![screen shot 2016-06-14 at 3 14 11 pm](https://cloud.githubusercontent.com/assets/39493/16063045/1c9f6be0-324c-11e6-8b8a-4d26daba78ed.png)

/cc @martinpovolny

[2016-06-15 07:07] jkandasa opened #9211 "Middleware Datasource Summary page doesn't show Tags(Smart Management)"
When viewing `Middleware Deployments` summary page, Tags(**Smart Management**) table is missing. Able to assign `Tags` via `Policy` button.

* Go to `Middleware Datasources`
* Click on a `Datasource`

![middleware-datasource-page](https://cloud.githubusercontent.com/assets/1004403/16070845/ae3254f6-32f5-11e6-968c-bfcfc7a715e2.png)

[2016-06-15 09:29] martinpovolny opened #9214 "convert remaing quadicon partials"
These where added while #9082 was open :-(

[code]

[2016-06-15 12:08] bazulay commented on #9106
@zekizeki the install step is needed only for atomic host (written in https://github.com/ManageIQ/manageiq/tree/master/docker-assets), ad for running it on docker the mount happens automatically. one note though is to wait till all the db migrations are done + wait for all processes to come up (it takes several minutes ... depends on your HW).
If it is a different issue you have encountered than p

[2016-06-15 12:11] bazulay commented on #9106
@chriskacerguis  although docker-compose looks like a natural step , there is no big difference between running in 2 container (with docker compose)  or one container (like the image we have today) on a single host, the more interesting use case is the orchestrated clustered based deployment on kubernetes.
I will give it a try anyway.

[2016-06-15 12:15] bazulay opened #9221 "containerized manageiq - need to put a temp page under the httpd to notify that it is initializing"
This goes under usability.

When running a containerized manageiq for the first time it takes several minutes till all services are up, during that time a user might think that something is wrong.

solution:
place a page under the httpd root to be served while the initialization is going on (saying something like "initializing please wait ..." and  remove this page once the initialization is done.

[2016-06-15 12:16] bazulay commented on #9221
@fbladilo

[2016-06-15 13:09] martinpovolny opened #9223 "Broken layout in Services"
The layout is miss-aligned and based on tables:

![broken-table-services](https://cloud.githubusercontent.com/assets/51095/16080865/18071898-330b-11e6-9a36-2db506c46079.png)

Please, fix and remove the tables.

[2016-06-15 13:29] #9210 closed

[2016-06-15 14:07] Jiri-Kremser commented on #9196
@himdel I wasn't able to catch you (irc/gitter). I am not able to reproduce, could you pls send me the link to the hawkular instance you are using?

[2016-06-15 14:44] himdel commented on #9196
You need a longer timeout :) sent in a PM.. :) thanks

[2016-06-15 16:10] fbladilo commented on #9106
@chriskacerguis @bazulay I'm in line with Barak's opinion on this one, I think focusing on a clustered multi-host appliance on kubernetes is probably time wisely spent. With this said, if you guys believe a docker-compose single-host option is worth the effort, then we can look at it.

[2016-06-15 16:15] fbladilo commented on #9221
@bazulay evmserverd brings up httpd during start-up as a last step via systemd, time consuming migrations/db work is done before hand we don't have anything listening on 80/443 during that step, in other words we would not be gaining too much with a "waiting on init" page under this scenario unless we somehow start an httpd instance early before DB preparation and until the point where evmserverd

[2016-06-15 16:19] bazulay commented on #9221
@fbladilo
it looks like httpd should be brought up at the beginning (not configured yet) with such a page,
Eventually httpd should be configured (place all httpd configurations) as the last step before restarting httpd ...
I know it is easier said than done ... especially since we don't want to diverge from the appliance code.

[2016-06-15 21:44] #9046 closed

[2016-06-16 07:53] arnikasky commented on #8976
It works after the latest commits.
Tnx!

[2016-06-16 07:53] #8976 closed

[2016-06-16 08:34] arnikasky commented on #8174
Hello. It works, if ssh access is enabled on esxi host.
Tnx!

[2016-06-16 08:34] #8174 closed

[2016-06-16 08:35] arnikasky commented on #9050
It works after the latest commits.
Tnx!

[2016-06-16 08:35] #9050 closed

[2016-06-16 12:12] abonas commented on #9143
cc @martinpovolny

[2016-06-16 12:15] martinpovolny commented on #9143
Decision done was that all decorators will return images including an extension. So we need to update all the relevant places to count with that.

[2016-06-16 13:06] cben opened #9243 "Control: Event -> Policy selects wrong policy in explorer"
![screenshot-localhost 3001 2016-06-16 15-38-33](https://cloud.githubusercontent.com/assets/273688/16117679/eec21218-33db-11e6-9bc1-de0106b34d41.png)

Now I click the "Analyze incoming container images" in "Assigned to Policies" list =>

![screenshot-localhost 3001 2016-06-16 15-39-15](https://cloud.githubusercontent.com/assets/273688/16117682/efe1f1ea-33db-11e6-8ab0-a6c1de28ec38.png)

The right s

[2016-06-16 13:10] cben commented on #9243
#6222 sounds maybe vaguely related.

[2016-06-16 13:57] jrafanie commented on #8976
@arnikasky Thanks for the confirmation!

[2016-06-16 14:06] #8769 closed

[2016-06-16 14:06] #8822 closed

[2016-06-16 14:15] carbonin commented on #5591
@jerryk55 If you see this again, can you check the `miq_apache.log` file for any line like `slotmem_create failed` and if removing the contents of `/run/httpd/` allows httpd to start up?

If that is the case then this is likely fixed by #9236

[2016-06-16 14:31] jerryk55 commented on #5591
@carbonin will do.  I have seen this occasionally still but much less frequently than previously.

[2016-06-16 14:44] jrafanie commented on #5591
I'm 99.9% confident @carbonin nailed it.  Unless of course we're doing `kill -9` on apache in another place...

[2016-06-16 14:58] Weltmacht commented on #9145
Still unable to determine what is causing the curly brackets to appear on the Customization page from a VMWare spec.

[2016-06-16 15:06] abonas opened #9250 "Need to collect, persist and display the status of a middleware deployment"
Similar to [how it's presented in hawkular](https://cloud.githubusercontent.com/assets/1737954/16045712/9c1f1948-3241-11e6-967c-3e6565265aaa.png)
there is a need to collect (from hawkular), persist and display in ui the status (enabled/disabled) of a middleware deployment

based on [this](https://github.com/ManageIQ/manageiq/pull/9175#discussion_r66988177) discussion
@miq-bot add_label enhancement

[2016-06-16 15:35] abonas commented on #9250
@josejulio the stages which you would need to potentially cover:
1. check if that property is fetched from hawkular (via the ruby gem).
if yes - it should be read from the input [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/hawkular/middleware_manager/refresh_parser.rb#L58)
if not yet - support should be added to ruby gem first.

2. most likely you'll need t

[2016-06-16 15:36] durandom opened #9253 "heavy load on appliance with aws public images refresh"
When doing a cloud discovery on amazon with `get_public_images: true` and instances in 10 regions the discovery will create 10 CloudManagers + 10 NetworkManagers. Every manager starts its RefreshWorker, which scan public_images, [see here](https://github.com/ManageIQ/manageiq/pull/8668)
RAM and swap is depleted, the Ui Worker gets killed, because its unresponsive and it cannot start again, because

[2016-06-16 16:01] jrafanie commented on #9253
Ultimately, maybe we should not start the per_ems based workers for more than X providers on the same appliance.  Providers seem to explode the number of workers so we have to be careful how we distribute the workload for each provider added to the system.

Note, there should already be mechanisms that prevent workers from starting if you're invading swap, so we should fix that if it's not working

[2016-06-16 16:03] Fryguy commented on #8176
Fixed by #9236

[2016-06-16 16:03] #8176 closed

[2016-06-16 16:04] Fryguy commented on #5591
Closing now that #9236 is merged.  @jerryk55 if you come across this error again please open a new issue.  Thanks!

[2016-06-16 16:04] #5591 closed

[2016-06-16 16:26] durandom commented on #9253
+1 Maybe we would do it on a provider level. Or even, with skeleton refresh, only one per appliance.

This works. It prevents the UI worker from starting again.

[2016-06-17 12:58] gmcculloug commented on #7485
Looks great, thanks @epwinchell.

[2016-06-17 13:18] jonnyfiveiq commented on #9096
@moolitayer Under what circumstances will this happen, e.g. when is hawkular returning nil data?

[2016-06-17 13:18] #7485 closed

[2016-06-17 14:37] simon3z commented on #9096
@yaacov can you answer that? (Mooli is currently traveling)

[2016-06-17 15:43] #9016 closed

[2016-06-17 18:05] lpichler opened #9275 "Determine chargeback subclasses differently"
@miq-bot assign lpichler

https://github.com/ManageIQ/manageiq/pull/9238

[2016-06-17 19:30] djberg96 commented on #8522
@jrafanie I would think so. I tinkered with this briefly but ran into something odd, so need to look at it some more. Are we gunning for 2.3? I can focus on this more if we are.

[2016-06-17 19:58] jrafanie commented on #8522
@djberg96 Now that darga branch is cut and there are [ruby 2.3 rpms](https://www.softwarecollections.org/en/scls/rhscl/rh-ruby23/), I'm open to using ruby 2.3 on master, so it's really a matter of communicating this intention so others can get updated.

[2016-06-17 21:18] kbrock commented on #8976
@arnikasky thanks for all your questions and work

[2016-06-17 22:26] dclarizio opened #9283 "Policy Simulation detail page blank for VM sub lists (i.e. on Provider or Host)"
**Selecting a few VMs under a Host or Provider, clicking Policy Simulation, then adding a few Policy Profiles, gets this:**
![host-polsim](https://cloud.githubusercontent.com/assets/3433754/16166302/0beda99c-349f-11e6-80e4-45dceaffb732.png)

**Clicking on a VM to see the details in the policy simulation tree, gets this (tree area is blank):**
![host-polsim-vm-detail](https://cloud.githubuserconten

[2016-06-17 22:26] dclarizio commented on #9283
@h-kataria can you please verify this and open a BZ if it also happens in Darga?  Thx, Dan

[2016-06-20 05:30] vanloswang commented on #7053
@jrafanie Thanks, The latest release setup ok.

[2016-06-20 05:30] #7053 closed

[2016-06-20 08:22] vanloswang commented on #3955
@jrafanie @bdunne
I meet up an login error as follow, My environment is CentOS 7 and run miq in Ruby Mine:

[----] W, [2016-06-20T16:18:51.134776 #128712:69d994]  WARN -- : Can't verify CSRF token authenticity
[----] F, [2016-06-20T16:18:51.135560 #128712:69d994] FATAL -- : Error caught: [ActionController::InvalidAuthenticityToken] ActionController::InvalidAuthenticityToken
/opt/rh/rh-ruby22/root/

[2016-06-20 09:07] ProxyManagedServices opened #9289 "Darga SSA on glusterfs "undefined method `unpack' for nil:NilClass""
I installed Darga (darga-1.20160613222628_d06c141) on Ovirt and try to SSA where the VM storage is on glusterfs.
The glusterfs volume is correctly mounted on my engine, but the VM fs cannot be analysed.
I got the error:
Unable to mount filesystem. Reason:[undefined method `unpack' for nil:NilClass]
On the same environment I am running CloudForms 4.2 Beta (5.6.0.8-rc1.20160524155303_f2a5a50) and wh

[2016-06-20 09:40] vanloswang commented on #3955
fixed my error, it caused by rails deps.

[2016-06-20 14:19] jrafanie commented on #7053
@vanloswang Thanks for the update!

[2016-06-20 15:45] jameswnl opened #9295 "VDS UI summary page"
To display a summary page for VDS

[2016-06-20 16:21] abonas commented on #8921
@zeari was the auth status addressed/discussed afterwards? what's the verdict?

[2016-06-20 16:26] himdel commented on #6739
( Re-opening on @lpichler 's request .. the checklist is not done yet :) )

[2016-06-20 17:02] mattmahoneyrh opened #9301 "Middleware: Error when attempting to navigate to Datasource"
The following error happened when attempting to navigate to a MW Datasource (KeycloakDS ). Removed the MW provider, and then adding again resulted in the same error:

undefined method `[]' for nil:NilClass [middleware_datasource/show]

Steps:
- Add MW provider, which has one EAP7 server under management.
- Navigate to Datasources, and then Keycloak DS datasource

[2016-06-20 17:29] simon3z opened #9302 "Avoid running SmartState against the image-inspector image"
When a SmartState analysis runs (on any image), a new `image-inspector` pod is scheduled which triggers the scan on the `image-inspector` image.

We should exclude `image-inspector` from the automatic image discovery scan.

cc @moolitayer @enoodle

[2016-06-20 17:29] simon3z commented on #9302
@miq-bot add_label providers/containers, smartstate, bug

[2016-06-20 18:49] chessbyte commented on #9096
Closed via #9097

[2016-06-20 18:49] #9096 closed

[2016-06-20 21:44] h-kataria commented on #9283
https://bugzilla.redhat.com/show_bug.cgi?id=1348341

[2016-06-21 01:12] josejulio commented on #9250
1. The property wasn't fetched directly, had to manually fetch from the metrics_api, currently 1 api call per deployment.
2. Added the migration script (AddEnabledToMiddlewareDeployments), enabled is a boolean.
3. Updated the [list view](https://cloud.githubusercontent.com/assets/3845764/16214952/21e2d44e-3723-11e6-8a11-357d48e0d607.png) and the [summary view](https://cloud.githubusercontent.com/a

[2016-06-21 01:21] chessbyte opened #9309 "Use AWS RDS as an External Postgres Database"
From http://talk.manageiq.org/t/using-aws-rds-as-an-external-postgres-database/1547

[2016-06-21 05:31] oourfali commented on #9289
@roliveri @movitto might be related to
"Bug 1334596 - SSA exception on RHOS rhel 7.2 instance" ?

[2016-06-21 07:28] ProxyManagedServices commented on #9289
Looking at bug 1334596, that is SSA on Openstack and a problem "UnknownAttributeError" on Network.
My problem is with the mounting of the VM's filesystem with Darga. While I also installed CloudForms 4.1 Beta 2 on the same environment, and there the error does not appear.

[2016-06-21 07:33] oourfali commented on #9289
You're probably right. I was just thinking that it might be a generic issue, but haven't noticed that the method name is different.
Anyhow, as our guy who added this support is away for a few days I'm hoping @roliveri can help.

[2016-06-21 07:47] abonas commented on #9250
@josejulio sounds like a great progress. can you send a PR? it can be marked as wip to indicate it's not ready yet.
@pilhuhn please see the comment above (item 1) regarding fetching the property - do you think it this something that can be optimized? separate call to metrics, one per deployment - sounds really a lot. (and will need to be done frequently)

[2016-06-21 08:42] theute opened #9312 "MW Server <-> Deployments relationship is broken"
I have 2 servers registered in Hawkular, and that Hawkular provider has been added to ManageIQ.

1 server is the embedded Hawkular server, the other one is EAP without any deployment, like here:
![servers](https://cloud.githubusercontent.com/assets/311855/16223226/959f1f72-379c-11e6-927c-96d2463b18b1.png)

When I look at the deployments of each server, the Hawkular server shows no deployment in Ma

[2016-06-21 08:43] pilhuhn commented on #9250
@abonas https://issues.jboss.org/browse/HWKMETRICS-393 should address this. With some luck this is available soon in hawkular-services

[2016-06-21 08:43] theute commented on #9312
@miq-bot add_label providers/hawkular, bug

[2016-06-21 08:52] durandom opened #9313 "Provider verify credentials should check for other prerequisites too"
In GCE and AWS we need some setup on the cloud side, like creating a pubsub topic or setting up the AWSConfig topic.

It would be good if this could be checked when adding the provider and present the user with warnings or errors in the UI.

What happens if those prerequisites get deleted?
Right now the user has to look in his logs for that too.
Do we have a way to present general warnings in the

[2016-06-21 08:59] abonas commented on #9312
potential duplicate of #9101

[2016-06-21 08:59] abonas commented on #9312
@Jiri-Kremser  please have a look. have you investigated #9101?
@miq-bot assign @Jiri-Kremser

[2016-06-21 11:17] theute commented on #9312
It's indeed likely a duplicate @hhovsepy actually mentioned deployments as well.

[2016-06-21 11:57] theute opened #9316 "MW Server name need to be better qualified"
In the Middleware server view, Datasource and Deployments view, the name of the server is the local-dmr name "Local".
Since it's the default name, it doesn't help identifying the server.

It should be something like <host>/<local-dmr name> or anything else that helps the user identify the EAP instance.

See here the server name difference between ManageIQ and Hawkular interfaces
![servername](http

[2016-06-21 11:58] theute commented on #9316
@miq-bot add_label providers/hawkular

[2016-06-21 12:20] abonas commented on #9316
@theute, the mw server view in miq contains also a hostname (actually, it's a recent addition based on qe feedback). would you like to see more fields/identifiers for mw_server in its own representation page? if yes - which? or perhaps you are looking to add the server's hostname field to deployment/datasource view as well? trying to clarify what is the proposed change/changes in this issue.

[2016-06-21 12:20] abonas commented on #9316
@miq-bot add_label ui

[2016-06-21 12:25] theute commented on #9316
The server view kinda works now with the hostname, but in practice (and standalone mode), all EAPs will likely show "Local" so it's not a very useful first column.

But indeed where it's really a problem is in the deployment and datasource view since you end up with many rows "DefaultDS / Local" so at least we should add the hostname there

[2016-06-21 13:07] abonas commented on #9316
datasource has the hostname column - it was added in #9111

what still needs handling to resolve this current issue is adding hostname to deployment entity as well

[2016-06-21 13:23] #9048 closed

[2016-06-21 13:48] abonas commented on #9301
@miq-bot add_label providers/hawkular

[2016-06-21 13:49] abonas commented on #9301
@mattmahoneyrh  can you please clarify the scenario a bit:
1. does this happen only when add, then delete, and then readd the provider?
2. does it happen only to the Keycloak datasource?

[2016-06-21 13:53] abonas commented on #9211
@miq-bot add_label providers/hawkular, bug

[2016-06-21 14:11] abonas commented on #9208
@bazulay

[2016-06-21 14:54] ghost opened #9324 "Minor bug on importing widgets (darga 1)"
On importing widgets, "Select All" check box (to add all widgets) doesn't work.

[2016-06-21 16:04] #9196 closed

[2016-06-21 17:40] #9316 closed

[2016-06-21 17:45] moolitayer commented on #9302
@simon3z related to a question we had before: do we want to show inventory coming from management-infra ?

[2016-06-21 18:30] vnugent opened #9332 "Unable to launch manageiq container in OSE3.2"
I am able to deploy a pod of manageiq/manageiq image in Kubernetes  on Fedora 23.

Openshift seems to operate under a stricter security.  I relaxed the restricted security context (allowing RunAsAny), disabled selinux for Docker but manageiq container stuck at `/usr/sbin/init`.  Nothing was shown in evm.log.

openshift deployment template:

[code]

[2016-06-21 20:14] #8764 closed

[2016-06-21 20:15] #8629 closed

[2016-06-21 21:06] #825 closed

[2016-06-21 21:38] #9211 closed

[2016-06-21 23:05] simon3z commented on #9302
Yes (I don't like to start hiding things we run).

[2016-06-22 06:06] pilhuhn commented on #9211
Fixed by #9322

[2016-06-22 06:59] theute commented on #9301
I see the same, the DefaultDS datasources worked fine, but not KeycloakDS in my case

[2016-06-22 07:54] abonas commented on #9301
interesting. I wonder which field exists (or doesn't exist) on Keycloak versus other datasources that fails this. what is the exception in log/development.log that you see at that point in time?

[2016-06-22 07:55] abonas commented on #9301
@miq-bot add_label bug

[2016-06-22 08:03] #9223 closed

[2016-06-22 08:08] abonas commented on #9301
@theute I can't reproduce it, I have 2 Keycloak DS in my MIQ, both are displayed OK without any exception. So can you please check which exception do you get in development.log when you get the exception in UI?

[2016-06-22 09:18] ricfeatherstone opened #9342 "Unable to add Amazon EC2 Provider"
Hi,

I'm trying to get started with the docker image but am not having great success.

- Start container and login as show on download screen

- set http proxy host and port on advanced tab of configuration screen

- Add a New Cloud Provider, providing required details for EC2

- Click Validate

I am running this in AWS but have to go through a proxy to get to the AWS apis.

Can someone point me i

[2016-06-22 10:43] enoodle opened #9345 "Containers OpenSCAP scanning doesn't finish"
The  SSA task stays stuck on "scanning" state indefinitely and the image-inspector pod is never deleted even when the scan is successful.

[2016-06-22 10:43] enoodle commented on #9345
@simon3z FYI

[2016-06-22 10:45] simon3z commented on #9345
@miq-bot add_label providers/containers, bug, smart_state

[2016-06-22 11:26] psachin commented on #9342
Same here.

Not able to discover AWS provider: [BZ-1344602](https://bugzilla.redhat.com/1344602)

[2016-06-22 13:10] ricfeatherstone commented on #9342
Not quite the same as what I am seeing. I can kick off the Discover Cloud Providers and I get a message saying its started, it's just that nothing is returned but this could be insufficient privileges on my account?

My issue is specifically with the manual Add a New Cloud Provider setup and given the error message it appears something is not setup correctly.

[2016-06-22 14:12] epwinchell commented on #3565
@dclarizio Can we close this?

[2016-06-22 14:48] epwinchell commented on #2491
Fixed with the conversion of Drift from SlickGrids to PF TreeGrid

[2016-06-22 14:49] #2491 closed

[2016-06-22 16:37] Jiri-Kremser commented on #9101
@abonas it doesn't seem to be related

[2016-06-22 16:38] Jiri-Kremser commented on #9312
I guess, this could be closed as a duplicate. Just for the record, here is the PR #9363

[2016-06-22 16:40] Jiri-Kremser commented on #8239
I think, this is happening because of the `https://` in the url

[2016-06-22 16:47] #9079 closed

[2016-06-22 19:03] theute commented on #9312
Yes it seems to work fine with PR #9363 thank you @Jiri-Kremser ! here is a gift :strawberry:

[2016-06-22 19:04] #9312 closed

[2016-06-22 19:26] abonas commented on #8780
@martinpovolny any ETA when this can be fixed?

[2016-06-23 06:38] psachin commented on #9342
Even if it says started, if you check the evm.log, you will see the message similar to what stated in BZ.

@ricfeatherstone What do you find in the logs during manual setup?

[2016-06-23 07:16] theute commented on #9101
@hhovsepy can you check with latest from master ?   #9363 seems to fix it

[2016-06-23 07:20] ricfeatherstone commented on #9342
If I run the discover the message is - Cloud Providers: Discovery successfully initiated and there is nothing in the logs about AWS.

When I validate credentials I get the following.

[----] I, [2016-06-23T07:11:22.933500 #764:3feca2921bd8]  INFO -- : MIQ(ManageIQ::Providers::Amazon::CloudManager#with_provider_connection) Connecting through ManageIQ::Providers::Amazon::CloudManager: [EC2_EUW]
[---

[2016-06-23 11:28] #8780 closed

[2016-06-23 11:28] #9143 closed

[2016-06-23 12:35] enoodle commented on #9345
@simon3z It happens to me on master and also on darga. I tried it on other peoples setups too.
I am still looking into this.

[2016-06-23 12:59] hhovsepy opened #9391 "Middleware: Download as Text: missing table columns in file"
When downloading lists of Middleware  Providers/Servers/Deploymens/Datasources as text file, some of columns are not in file.

Providers list headers in UI:     "Name" " Hostname" 	"IP Address" 	"Port" 	"Type"
Downloaded text file headers: "Name"  "Hostname"       "IP Address"
Issue: Missing 2 columns with headers and values.

Servers list headers in UI:       "Server Name"    "Product"  "Host Nam

[2016-06-23 13:07] hhovsepy opened #9394 "Download as Text/CSV: downloads all list items instead of checked"
When downloading checked items from lists as text/csv file, all items of list are downloaded, instead of only checked ones.

For instance in Middleware provider:
Go to Midleware Servers page.
Check some of servers from displayed list.
Click Download as Text/CSV
Open file and you will see all items in list, but should be only those which were checked.

@abonas

[2016-06-23 13:59] abonas commented on #9391
@hhovsepy please check if this is a duplicate of #6875.
this is not middleware specific imo.
thanks

[2016-06-23 14:04] hhovsepy commented on #9391
@abonas yes it is duplicate issue, thanks.

Closing this one.

[2016-06-23 14:04] #9391 closed

[2016-06-23 14:04] abonas commented on #9394
this is a generic issue that happens in all screens, not middleware specific.
@hhovsepy please change the issue title to be generic. thanks
@miq-bot add_label bug, ui

cc @dclarizio @martinpovolny

[2016-06-23 14:07] petrblaho commented on #8582
https://bugzilla.redhat.com/show_bug.cgi?id=1343553

[2016-06-23 14:07] petrblaho commented on #8582
@miq-bot assign @andyvesel

[2016-06-23 14:21] cben opened #9401 "Policy Profiles -> select specific policy: nils cause missing words"
This is what forced me to add nil check in #9347.  Happens on master too.
I thought I saw multiple causes but I can only reproduce this one.

miq-bot add-label control, ui, bug

![screenshot-localhost 3001 2016-06-22 11-32-58 master nil missing word](https://cloud.githubusercontent.com/assets/273688/16304281/5b272264-395d-11e6-9c16-a118509248a1.png)
At https://github.com/ManageIQ/manageiq/blob/384

[2016-06-23 14:32] petrblaho commented on #8582
@miq-bot assign @andyvesel

[2016-06-23 14:49] jrafanie opened #9407 "Convert Service virtual_has_one :picture to a real has_one"
From #9373

Let's figure out if we can just replace the virtual_has_one uses with a has_one through since it seems to be simpler with no change in behavior (I think).

[2016-06-23 15:04] kbrock commented on #9407
/cc @NickLaMuro including you

[2016-06-23 15:22] yrudman commented on #8835
Issue resolved : PR #8999

[2016-06-23 15:22] #8835 closed

[2016-06-23 15:24] yrudman commented on #8835
resolved on 5.7

[2016-06-23 15:37] cben commented on #7460
Discovered in docs:
https://access.redhat.com/documentation/en/red-hat-cloudforms/4.1-beta/general-configuration/chapter-3-configuration#tags

=> Company tags which you will see under My Company Tags for a resource. Create company tags by navigating to Settings → Configuration, then clicking on the Settings, then selecting Region, then the My Company Tags tab. A selection of company tags is provid

[2016-06-23 20:09] roliveri commented on #9289
@oourfali I think you're right. While it might not be related to 1334596 it's probably a generic issue.

[2016-06-23 21:52] jameswnl opened #9425 "VMware Storage Profile modeling"
To support inventory of VMware Storage Profiles

[2016-06-23 21:53] jameswnl commented on #9425
@miq-bot add_labels enhancement, providers/vmware/infra

[2016-06-23 21:54] jameswnl commented on #9295
@miq-bot add_labels enhancement, providers/vmware/infra

[2016-06-23 22:18] jrafanie opened #9427 "MiqExpression.to_sql isn't properly grouping atoms in the 'or'"
[code]

Produces
[code]

[2016-06-23 22:22] gtanzillo commented on #9427
I ran the same test on Capablanca and got the expected result:

[code]

Produces

[code]
Note the parens around the second atom containing the ORs

[2016-06-23 22:23] jrafanie commented on #9427
I believe this is causing the MiqRequestController screen to be extremely slow with many, many miq_requests because it pulls back all of the rows and post-filters them.

[2016-06-24 08:22] martinpovolny commented on #9394
I don't consider this behavior a bug. The behavior is consistend with the text on the button and especially with the tooltip.

I see no mention of "checked" or "selected" items in any of the texts.

[2016-06-24 10:31] ammendonca opened #9435 "Icons missing in warning and error notifications via miqService.miqFlash"
When using [miqFlash from miqService] (https://github.com/ManageIQ/manageiq/blob/master/app/assets/javascripts/services/miq_service.js#L40) with warning or error levels, the icons are missing from the notification:

![image](https://cloud.githubusercontent.com/assets/1737954/16335286/a67a36a2-39fd-11e6-8052-54b6203d0f94.png)

For success the icon is showing

![image](https://cloud.githubuserconten

[2016-06-24 12:45] mattmahoneyrh commented on #9301
abonas, have now seen this with three diff MIQ instances, and each time with Keycloak. Could be after add/delete provider, as I am running numerous tests of add/delete. Also, did not find  development.log on the MIQ instance. Is there another log that would have the exception?

[2016-06-24 12:48] theute commented on #9301
(note that I can't reproduce on my new environment since I use Hawkular Services which doesn't have Keycloak).

[2016-06-24 14:06] abonas commented on #9301
@theute  no development.log in log folder in the git repo in miq? you run in developer mode? perhaps spartan/minimal mode is resetting that somehow.
weird. how about evm.log? (same thing - log folder in miq git repo root). production.log? (in case that for some reason you run in production)

[2016-06-24 14:36] #9427 closed

[2016-06-24 14:51] mattmahoneyrh commented on #9301
This appears to be what you are looking for (production.log)- happened when I clicked on "KeycloakDS" in the Datasource List view:

[----] I, [2016-06-24T10:51:00.322389 #3061:7fdaa0]  INFO -- : Processing by MiddlewareDatasourceController#show as HTML
[----] I, [2016-06-24T10:51:00.322497 #3061:7fdaa0]  INFO -- :   Parameters: {"id"=>"17"}
[----] I, [2016-06-24T10:51:00.561389 #3061:7fdaa0]  INFO

[2016-06-24 15:20] movitto commented on #9289
@ProxyManagedServices @roliveri @oourfali looking at the broken log it seems the issue is with the qcow module:

[code]

The backtrace is a little of from the current upstream (perhaps because hsong's commit 856a605816faeddb778acb6cd41dfc033b3a8436 is not included?) The line that is failing is:

[code]

This occurs when the QCOW L2 table is being read during the process of the disk signature being

[2016-06-24 15:22] Jiri-Kremser opened #9439 "Topology graph for middleware doesn't show the svg icons on FF"
There are 2 sub-issues why some icons are not shown.

1. Because of this [refactoring](https://git.io/voyVz) (i.e. using the d3 `.each()` function to add the attributes conditionally) I had to remove the `xlink:` ns prefix, because when using `xlink:href=foo` for images inside the `svg` together with `.each()` the images doesn't show up. When using only `href` (w/o the `xlink:`) chrome is ok, but

[2016-06-24 15:45] jrafanie opened #9440 "Fast clicks on "apply" in service -> requests screen don't register"
If you go to service->requests and select from the pulldowns and quickly click apply, the click doesn't register.  It appears the "enabling" of the apply button is done async from the pulldown selection and it's easy to be faster.

See video below:
http://www.youtube.com/watch?v=HjFGCe48VUo

cc @martinpovolny @dclarizio

[2016-06-24 15:49] epwinchell commented on #9439
@Jiri-Kremser the fonticon "product product-report" can be used in place of middleware_deployment_war.svg. We also have fonticons to replace the two other middleware SVGs.
Doesl that solve the issue?

[2016-06-24 16:57] #9283 closed

[2016-06-24 19:57] psav opened #9442 "master-201606232000 nightly broken"
This build seems to not have some basic things present

The appliance didn't start up from deployment as expected:

On trying to start the postgres server
[code]

On trying to start evmserverd
[code]

[2016-06-24 20:00] martinpovolny commented on #9440
From the first grance, it's the inherent problem of how we update data in session on each form element change with a server round trip.

It's amplified by Rails 5 probably by the multi-threading.

Solution: rewrite the form to be a normal HTML form that submits as whole or wait for this form to be converted to Angular.

I can most likely find a bunch of places where we have similar problem.

[2016-06-24 20:32] dclarizio commented on #9440
Another issue here is that we used to turn on the spinner as choices were made and turn it off after the server response.  We lost a bunch of spinners in refactoring and have recovered most, but maybe missed these?

[2016-06-24 21:24] jrafanie opened #9444 "CI -> Reports saved reports are not sorted with most recent first"
It looks to be reverse sorting by the numeric month:
![image](https://cloud.githubusercontent.com/assets/19339/16350977/38d96518-3a30-11e6-9d21-3a528228429a.png)

cc @martinpovolny @dclarizio

[2016-06-24 21:27] jrafanie commented on #9440
Note, this probably causes @psav some pain since me as a human can be faster than the "apply" button lighting up.

[2016-06-25 12:11] ProxyManagedServices commented on #9289
I have uploaded the evm.log-CF-working
[evm.log-CF-working.gz](https://github.com/ManageIQ/manageiq/files/333055/evm.log-CF-working.gz)

[2016-06-25 12:34] ProxyManagedServices commented on #9289
I checked the QcowDisk.rb between darga and CF 4.1 beta2 and they are equal.
I also looked at https://github.com/ManageIQ/manageiq/commit/856a605816faeddb778acb6cd41dfc033b3a8436 and that commit is included in this version.

[2016-06-26 12:28] abonas commented on #9394
@martinpovolny why is this different from other operations in the toolbar that are typically done on the selected items only?

[2016-06-26 12:30] abonas commented on #9301
@mattmahoneyrh, thanks. I still cannot reproduce it locally, but from looking at the exception it implies that the ds should be nil, which is weird given that its id (17) is passed in the request.
Can you attach one of the following to inspect the object contents?
either - an output for sql: select * from  middleware_datasources where id=17
or output from rails console from the following:
Middlewa

[2016-06-26 12:48] abonas commented on #9439
@miq-bot add_label topology

[2016-06-26 14:34] martinpovolny commented on #9394
@abonas: I have no idea. I am as new to this information as you are. I just looked at the sources and at the buttons and it seems that what is described here as a bug is an intentional behavior.

Yes, Inconsistent it might be.

Bug or an urgent thing? No.

[2016-06-26 14:37] abonas commented on #9394
urgent? definitely not imo.
bug? definitely yes imo :smile:
lets see what UX say bout this...
@serenamarie125 ?

[2016-06-26 15:05] abonas commented on #9101
@hhovsepy I think the related PR 9363 solved the issue. if indeed so, please close the issue.

[2016-06-26 15:07] abonas commented on #8628
resolved by  #8630

[2016-06-26 15:07] #8628 closed

[2016-06-26 17:43] martinpovolny commented on #9444
@ZitaNemeckova : tree builder issue?

[2016-06-27 08:25] abonas commented on #8763
@Jiri-Kremser please check this issue. thanks

[2016-06-27 09:19] lpichler commented on #9444
also for saved reports in section 'Reports' , thanks @ZitaNemeckova  :)

[2016-06-27 09:22] ZitaNemeckova commented on #9444
@lpichler I will check that all reports in Reports are sorted :) Is that what you meant?

[2016-06-27 09:42] lpichler commented on #9444
@ZitaNemeckova yea, see screenshot - I meant these tree (but on my screenshot is it OK but I know that there is "sort" bug  here :) )

<img width="923" alt="screen shot 2016-06-27 at 11 40 36" src="https://cloud.githubusercontent.com/assets/14937244/16375553/3d27fb7e-3c5c-11e6-8629-84e4c528cfd3.png">

[2016-06-27 09:56] masayag commented on #9289
It seems that Darga doesn't contain the commit which added support in SSA for VMs running on GlusterFS: commit 94b89e6e0a2265ab4e8bc55dc0e555da6a919917

masayag@masayag: ~/work/manageiq $ git show 94b89e6e0a2265ab4e8bc55dc0e555da6a919917 --shortstat
commit 94b89e6e0a2265ab4e8bc55dc0e555da6a919917
Author: Moti Asayag <masayag@redhat.com>
Date:   Thu Apr 21 15:10:53 2016 +0300

    [WIP] Support Glu

[2016-06-27 10:23] Jiri-Kremser commented on #8763
I wasn't able to reproduce. Link to the datasources in the relationships accordion section worked for me.

[2016-06-27 10:37] abonas commented on #8763
@Jiri-Kremser thanks!
@	prachiyadav if this is no longer reproducible, please close the issue (or provide a scenario where it is reproducible). thank you

[2016-06-27 11:09] #9275 closed

[2016-06-27 11:52] enoodle commented on #9345
@simon3z I know understand that it was my fault probably. Using evm:start alone was not enough and I needed to simulate workers to get some of the jobs.

[2016-06-27 11:52] #9345 closed

[2016-06-27 12:25] Jiri-Kremser commented on #9439
@epwinchell yes, this helps, thanks. I cannot use the style names (`product-file-war-o`) directly from the svg, because those before/after pseudo elements are not rendered inside the svg, but I can use the font directly.

[2016-06-27 14:49] lpichler opened #9456 "unify querying on chargeback subclasses"
after
https://github.com/ManageIQ/manageiq/pull/8406
we need to use
use https://github.com/ManageIQ/manageiq/pull/9238/files#diff-06b291c88bf5d62e6e8089364aa462d0L185
db_is_chargeback?(db)  instead of chargeback_model?

@miq-bot assign lpichler

[2016-06-27 15:19] josejulio commented on #9250
@abonas I tested https://issues.jboss.org/browse/HWKMETRICS-393 It seem to work well for this.
That feature isn't released yet, but I'm moving the code a bit to have it ready to use it. Is that ok?

[2016-06-27 15:58] masayag commented on #9289
Replying to myself: the previous comment is incorrect.
The PR was backported to remote/darga as commit 627a21935dd381b837d3848eb54242482e734f15

[2016-06-27 17:31] simaishi commented on #9442
This was due to gem dependency conflict, fixed in https://github.com/ManageIQ/manageiq/pull/9429 (The fix is included in 0624_2000 build)

[2016-06-27 19:11] movitto commented on #9289
@ProxyManagedServices could you upload the QcowDisk.rb file in question? Also would it be possible to somehow share access to the disk being scanned?

@masayag good point on the gluster patch though in both the working and failing logs it seems to be unrelated as the error occurs during volume / filesystem analysis on a rhevm-qcow image. Correct me if I'm wrong but this is what the glusterfs insta

[2016-06-27 19:18] pilhuhn opened #9462 "Add UI to provide additional parameters after button press"
In #8210 I implemented that via a jQuery prompt() that was deemed a bad idea.
#8210 contains though a pretty good discussion on how to implement that going forward.

Once this is done, we can take the code from https://github.com/ManageIQ/manageiq/pull/9465 and add the timeout to operations like 'suspend' that allow to pass a timeout.

@miq-bot add_label ui, providers/hawkular
@abonas

[2016-06-27 20:07] #9442 closed

[2016-06-27 20:07] Fryguy commented on #9442
Closed in #9429

[2016-06-27 20:22] ProxyManagedServices commented on #9289
@movitto This is the QcowDisk.rb.
On May 18 I downloaded the Miq nightly, installed it on this Ovirt environment and in that version the SSA was working on glusterfs.
Tomorrow I dig into make the disk available.
[QcowDisk.rb.gz](https://github.com/ManageIQ/manageiq/files/335733/QcowDisk.rb.gz)

[2016-06-27 20:30] ProxyManagedServices commented on #9289
@masayag  I double checked if all the changes in branch 94b89e6 were committed, and they are in the manageiq-ovirt-darga-1.ova image.

[2016-06-27 20:35] ProxyManagedServices commented on #9289
@masayag Thanks for all the work you put into the SSA on glusterfs for Ovirt. I realy appreciate it.

[2016-06-27 21:14] jvlcek commented on #8896
@bazulay Should this be closed now that https://github.com/ManageIQ/manageiq/pull/9136 has been merged?

[2016-06-27 23:17] bazulay commented on #8896
@jvlcek @fbladilo
As far as I'm concerned this issue is handled and can be closed,
In case an issue comes up with one of the sub menus than a separate issue should be opened.

[2016-06-28 06:43] masayag commented on #9289
@movitto yes, you're correct.

[2016-06-28 06:55] ricfeatherstone commented on #9342
Is this not the right place to be looking for help?

[2016-06-28 12:38] cben opened #9483 "miq_policy/_policy_folders.html.haml is bogus"
https://github.com/ManageIQ/manageiq/blob/master/app/views/miq_policy/_policy_folders.html.haml

@miq-bot add_label control, ui, technical debt

<rant TLDR="It's all bogus.">
- The incoming `@folders` array is either `["Compliance", "Control"]` at root level or e.g. `["Host Compliance", "Vm Compliance", "Container Image Compliance"]` at 2nd level.
- Root level is detected by literally checking for

[2016-06-28 14:20] Fryguy commented on #9456
@lpichler Should this be closed now?

[2016-06-28 14:48] lpichler commented on #9456
@Fryguy yes.closing. thanks

[2016-06-28 14:48] #9456 closed

[2016-06-28 15:02] jvlcek commented on #8896
@fbladilo @bazulay @gtanzillo Seem I don't have the privs to close this. Can one of you please close it?

[2016-06-28 15:06] gtanzillo commented on #8896
Closing since this is addressed by https://github.com/ManageIQ/manageiq/pull/9136

[2016-06-28 15:06] #8896 closed

[2016-06-28 15:24] cben commented on #9302
Can you explain the motivation?  It should only scan the image once, no?
Or does it actually fail the scan?

[2016-06-28 15:26] #9439 closed

[2016-06-28 15:40] ProxyManagedServices commented on #9289
@movitto I have the qcow disk available for you, or do you want access to the whole environment.
Either can be arranged.

[2016-06-28 16:01] #7876 closed

[2016-06-29 10:56] zhitongLBN opened #9504 "CloudManager::Vm has no methods name `datacenter_name`"
the log message is finding the `datacenter_name`
https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_provision_virt_workflow.rb#L914

But for condition `:clone_to_vm` or `clone_to_template`[here](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_provision_virt_workflow.rb#L899)
objet return for `src` is a **CloudManager:Vm** which has no `datacenter_name` method.

[2016-06-29 11:08] yaacov opened #9506 "Hawkular Endpoint Rest-API"
As it is possible to create/modify container providers through Rest-API, it should be possible to define/modify the relevant hawkular endpoint.

[2016-06-29 11:09] yaacov commented on #9506
@miq-bot add_label providers/containers, api

[2016-06-29 11:09] yaacov commented on #9506
Submitted:
https://github.com/ManageIQ/manageiq/pull/9502

[2016-06-29 15:26] djberg96 opened #9518 "Device info screen for infrastructure providers does not wrap and is not adjustable"
When I select a VM under Infrastructure Providers, select a VM, and then select "Devices", the UI does not appear to autowrap very long strings, nor is it adjustable as far as I can tell. The result is that the info on the right gets squished up like so:

<img width="1076" alt="screen shot 2016-06-29 at 9 20 59 am" src="https://cloud.githubusercontent.com/assets/78529/16458033/f010695e-3dda-11e6-9

[2016-06-29 19:21] JPrause commented on #431
@bdunne @carbonin is this issue resolved? If so,...can you please close this issue.

[2016-06-29 19:23] JPrause commented on #539
@jrafanie is this issue resolved? If so,..can you please close it.

[2016-06-29 19:25] JPrause commented on #853
@lfu was your question answered? If yes,..can you please close this issue.
If not @jrafanie do you know who can answer this question?

[2016-06-29 19:25] JPrause commented on #857
@lfu was your question answered? If yes,..can you please close this issue.
If not @jrafanie do you know who can answer this question?

[2016-06-29 19:31] Fryguy commented on #9342
@durandom Can you help out here?

[2016-06-29 19:36] Fryguy commented on #9208
@simaishi Since you did the download instructions on manageiq.org, can you take  look at this one?

[2016-06-29 19:38] Fryguy commented on #9201
Because you can't actually see the password when typing, this gives you a visual indicator that what you typed is actually correct.  However, given the Validate button is "right there", I agree that it kind of isn't necessary.

[2016-06-29 19:39] Fryguy commented on #9148
@Ladas Can you look into this?

[2016-06-29 19:39] Fryguy commented on #9145
@gmcculloug Who should look at this?

[2016-06-29 19:49] abonas commented on #9201
you can also always add a checkbox "show password" that is quite popular these days :smile:

[2016-06-29 19:49] JPrause commented on #3415
@jrafanie does the commit and merge, referenced above resolve this issue?
If yes,..can you please close this issue.

[2016-06-29 19:50] simaishi commented on #9208
Initializing appliance happens automatically after starting the container.  Also mounting the volume shouldn't be needed as it's done [here](https://github.com/ManageIQ/manageiq/blob/master/Dockerfile#L65).  It does take a few minutes for the initialization to finish, though.

The 'darga-1' container started up fine using the docker run command listed in the download page. Can you tell me which bu

[2016-06-29 19:52] JPrause commented on #3435
@GregP it appears that you've fixed this issue in https://bugzilla.redhat.com/show_bug.cgi?id=1339638
If so,..can please you close this issue.

[2016-06-29 20:06] JPrause commented on #3486
Posted a question on gitter regarding the upgrading to newer versions. Waiting for response.

[2016-06-29 20:23] JPrause commented on #3486
We may need to move this into the technical debt pivotal board. Will revisit this issue.

[2016-06-29 20:37] carbonin commented on #431
No, I don't think this is fixed @JPrause

[2016-06-29 20:42] gtanzillo commented on #2561
Closing since this issue should be fixed in the Capablanca release.

[2016-06-29 20:42] #2561 closed

[2016-06-29 20:43] lfu commented on #857
@jrafanie  Should I close this?

[2016-06-29 20:43] lfu commented on #853
@jrafanie  Should I close this?

[2016-06-29 21:18] dclarizio commented on #9483
@martinpovolny please reply to @cben's questions and suggest a path forward that is in line with our refactoring strategy.
@cben we rarely backport refactoring work due to the risk.

[2016-06-29 21:20] dclarizio commented on #9440
@himdel can we see if we lost the spinners here at some point during a refactoring exercise?

[2016-06-29 21:25] dclarizio commented on #9394
Has always been this way, it basically exports the entire list of records (I think even the records not on the current page).  It has been a way for the user to get a copy of all records that match the search criteria.

We can accept an enhancement request, but we should deal with the "all on this page vs all matching records regardless of page" when we design this as well.  If we DO only download

[2016-06-29 21:27] dclarizio commented on #9243
@h-kataria if reproducible, we should open a BZ so this gets fixed downstream as well.

[2016-06-29 21:32] #9435 closed

[2016-06-29 21:35] dclarizio commented on #9201
@AparnaKarve is working on these forms as we speak to enforce validation before save.  I will assign this to her so we can discuss potentially removing the second input field.

[2016-06-29 22:05] cben commented on #9483
Thanks, this helps me proceed.
I'll try making a minimal PR that just fixes ui_lookup here and see if that gets accepted to darga (if not, actually not a big deal).
After I finish my other darga/yes stuff, I'll be happy to do a bigger darga/no refactor.

### Higher-level question

This view (and friends e.g. _condition_folders) renders into the right side essentially the same info as the controlle

[2016-06-29 22:24] bazulay commented on #9208
@zekizeki

I also downloaded the darga-1 release and the db initialized correctly,
what OS are you running ? what is the docker version you are using ?

[2016-06-30 02:46] movitto commented on #9289
@ProxyManagedServices I'll try with the disk first, though if it's an environment issue, I may need to access that. Do you have someplace to upload the disk? Lets continue via email (mmorsi _at_ redhat _dot_ com)

[2016-06-30 08:52] zekizeki commented on #9208
I'll give it another try, I was using docker 1.10 under virtualbox on OSX. I left it for a decent amount of time but perhaps that was not enough.

[2016-06-30 09:41] himdel commented on #9440
OK, looking at this form, I think the first issue is that doesn't even make sense to disable the button if there are no changes, at least not in the initial state :). But that said, isn't this behaviour completely correct? Also, from testing standpoint, I'd hope it shouldn't be a problem, since the clickable (non-disabled) button is not `:visible`.

As for the spinner.. the select was converted to

[2016-06-30 09:45] durandom commented on #9342
This looks like the `aws-sdk` gem is not loaded. I tried to reproduce this locally, but it worked for me.
With the same docker command you were using:

[code]

I'm not a docker expert, but is it possible that we have different containers?

[2016-06-30 09:58] pilhuhn commented on #9033
It can be used and #9147 is certainly a start. The issue is that it is only polled 'every now and then'.
We can more rely on it once we do targeted refresh on a single server when we get e.g. a "Server is down/going down" event from the Hawkular server.

And the server state is only enough for servers, but not for deployments where on would need to query availability.

[2016-06-30 10:17] pilhuhn commented on #9147
Note that this is easy on the server detail, but less so in the overview list, as the server state is only available within the json-encoded property. We can of course pull it out in its own column like we do for the hostname, but I don't really like this widening of the table for each and every thing we may want to show.
Also as written in https://github.com/ManageIQ/manageiq/issues/9033#issuecom

[2016-06-30 11:16] Ladas commented on #9148
@mahsa-frj do you have a backtrace of this error? I can't see where this originates from.

[2016-06-30 11:27] mahsa-frj commented on #9148
Thanks everybody, I use new release of manageIQ " darga-1" and my problem was solved when I selected non-SSL parameter.

[2016-06-30 12:07] ricfeatherstone commented on #9342
Hi,

Thanks for looking at this.

Is the gem loaded in the container or pulled at start up?

I've tried again this morning in an environment where I did not need a proxy to access external sites and it worked fine.

As we are pulling the tagged container, unless it's been rereleased and the tag replaced they should be the same.

[2016-06-30 12:24] durandom commented on #9342
afaik its in the container https://hub.docker.com/r/manageiq/manageiq/~/dockerfile/
`bundle install` is run by the `bin/setup` command

do you still have access to the proxy env?
You might try `darga-2` there and see if it still fails.

[2016-06-30 13:37] ricfeatherstone commented on #9342
darga-2 works ok but darga-1 also seems to work fine.

It could be that I didn't set the proxy up correctly, but the error message suggested something else.

Closing as I can't reproduce.

Thanks for your help

[2016-06-30 13:37] #9342 closed

[2016-06-30 13:53] durandom commented on #9342
my guess is, that the darga-1 image got rebuild, because the error is a ruby constant lookup, that can only happen if something is missing

anyways, glad that you got it working

[2016-06-30 14:04] durandom commented on #9342
@ricfeatherstone also, in case you still have access to the container that produced the error, can you give me the full log excerpt? I believe there should be a full stacktrace. That would be great, because I have another idea, where this error could come from...

[2016-06-30 14:05] abonas commented on #9462
@miq-bot assign @mtho11

[2016-06-30 14:05] abonas commented on #9462
@miq-bot add_label enhancement

[2016-06-30 14:06] cben opened #9546 "Provider -> entities of some type -> toolbar missing Configuration & Policy"
miq-bot add-label ui, bug
Not sure it's a bug but don't see any UX reason to call it a feature.

When listing say all Container Images, toolbar has Configuration and Policy dropdowns:

![screenshot-localhost 3000 2016-06-30 16-58-21 images configuration policy](https://cloud.githubusercontent.com/assets/273688/16490940/6a9edeb2-3ee4-11e6-9a03-568b8a585b48.png)

But if I select a provider and then

[2016-06-30 15:31] mattmahoneyrh commented on #9301
Reproduced on another MIQ instance:

[----] I, [2016-06-30T11:24:32.130301 #3143:179f800]  INFO -- :   Parameters: {"id"=>"2"}
[----] I, [2016-06-30T11:24:32.376714 #3143:179f800]  INFO -- :   Rendering middleware_datasource/show.html.haml within layouts/application
[----] I, [2016-06-30T11:24:32.428198 #3143:179f800]  INFO -- :   Rendered layouts/_flash_msg.html.haml (0.1ms)
[----] I, [2016-06-30

[2016-06-30 15:45] pilhuhn commented on #9033
Opposite to what I wrote before about #9147 that server state is almost worthless in the sense that it is the internal view of the app server, which the agent reports from time to time. When the agent (which is inside the server) is down, it can't report the change to this internal state variable. it may be able to differentiate between running/admin mode, but not 'down'

[2016-06-30 18:10] mattmahoneyrh opened #9556 "Middleware: Support EAP Running In OpenShift"
Use case:
As a user I want to stop EAP that is running in a container (most likely OpenShift), and then restart the same managed EAP server without loosing EAP state.

Currently, when a user does a MIQ Stop operation on an EAP that is running in a container, the container exists, which in turn causes Hawkular to forever loose the state of that EAP. Hawkular will then only see that EAP as Down (and

[2016-06-30 18:35] mfoley commented on #9556
@abonas

[2016-07-01 08:08] martinpovolny opened #9567 "C3 chart tooltip code exception"
I am getting this exception in the javascript console on the dashboard page

[code]

problematic code:

[code]

@PanSpagetka ?

[2016-07-01 12:20] mattmahoneyrh opened #9571 "Middleware: Update or Stop Server Error"
The following error happened when attempting to either Stop or Reload an EAP server, with MIQ running in OpenShift:

Connection refused - connect(2) for "localhost" port 8080 [middleware_server/button]

Will add MIQ log info.

[2016-07-01 16:11] #9407 closed

[2016-07-01 16:26] mkanoor opened #9576 "Amazon Refresh doesn't work for existing providers after Amazon provider gem was introduced"
If you have an existing Amazon provider, which was doing the refreshes properly, after you upgrade to the new Amazon provider gem, the refreshes won't work. You have to delete the provider and add it again.

[2016-07-01 17:08] amavinag opened #9578 "evm services failed to start in miq-nightly-201606302000"
evm-watchdog.service failed to start in miq-nightly-201606302000.
From traceback, looks like it is the same issue as: https://github.com/ManageIQ/manageiq/issues/9442

On trying to start evmserverd:
https://gist.github.com/amavinag/2fd546ba2e128881fa8e18842337b1df

[2016-07-01 17:18] Fryguy commented on #9578
@carbonin Please review... cc @simaishi

[2016-07-01 17:27] Fryguy commented on #9578
This *could* be because of the Rails 5 update overnight.

[2016-07-01 17:28] Fryguy commented on #9578
@amavinag Any chance of getting more of the backtrace in your gist there?  The start of the backtrace is cut off.

[2016-07-01 17:47] amavinag commented on #9578
@Fryguy updated the gist https://gist.github.com/amavinag/2fd546ba2e128881fa8e18842337b1df

[2016-07-01 17:54] simaishi commented on #9578
The failure is due to rails 5.  /root/anaconda-post.log shows:
[code]

[2016-07-01 18:04] Fryguy commented on #9578
Ok, so this should be fixed for tonight's nightly.  Thanks @amavinag .  BTW, in the future, when debugging nightly failures, take a look at the /root/anaconda-post.log as it will often have good information.  In fact, perhaps it could be incorporated into the nightly smoke test script and be attached to the emails that are sent out. cc @psav

[2016-07-01 18:04] #9578 closed

[2016-07-02 14:44] simon3z commented on #9302
@miq-bot assign enoodle

[2016-07-02 14:45] simon3z commented on #9506
@miq-bot assign yaacov

[2016-07-03 12:01] jmazzitelli commented on #9556
"Hawkular keeps track of servers by their hostname" - when you say "servers" here, do you mean the machines themselves or "EAP Servers"? (since the word "server" often is used to mean different things to different people, it is helpful to be very specific when using that word). If the latter, Hawkular keeps track of the EAP servers' UUID (if based on WildFly 10) as well (there are a couple identif

[2016-07-03 12:10] abonas commented on #9556
@miq-bot add_label providers/hawkular, enhancement
@pilhuhn @theute

@mattmahoneyrh regarding "But, an EAP running in a container has a hostname which is it's POD ID (or if running under Docker, the container ID)." - hostname is not a pod id, and in any case, are you sure regarding the EAP tracking pod id? What if you have multiple containers in the same pod, then several get the same id? how can

[2016-07-04 07:46] pilhuhn commented on #9556
See also http://lists.jboss.org/pipermail/hawkular-dev/2016-July/002935.html
Also @mattmahoneyrh we need to differentiate "running in a container" and "running inside of Kubernetes/Openshift"

[2016-07-05 08:06] #7516 closed

[2016-07-05 11:00] cben opened #9600 "container_node_id not set on node EmsEvent"
`process_container_entities_in_event!` (added in #6012) assigns node/pod/replicator ids based on `event_hash[:ems_ref]`.  AFAICT this works for pods and replicators but fails for nodes.

I'm not sure what practical user-visible consequences this has.
@zeari told me it probably affects the node's Timeline, but I'm seeing there NODE_REBOOTED and other events for this—and only this—node ("Power activ

[2016-07-05 11:05] cben commented on #9600
@miq-bot <https://github.com/miq-bot> add-label providers/containers, bug

[2016-07-05 11:33] cben commented on #9600
Nodes do have a UID in kubernetes:
[code]
and we do fetch them: `ContainerNode.find(2).ems_ref == "d30a880d-dfa7-11e5-af89-525400c7c086"`.

But either it's not sending it on node events, or kubeclient is not passing it along.
Even if it's fixable in kubernetes/kubeclient, it might make sense to fallback to lookup by name when ems_ref is missing.

[2016-07-05 11:43] cben commented on #9600
@abonas How can I check whether for incoming node events, kubeclient gets but drops involvedObject.uid from kubernetes vs never gets it?
Is there a dump-all-communications debug mode?

[2016-07-05 11:44] zeari commented on #9600
@dkorn You were the last to deal with these, any insight?

[2016-07-05 12:06] cben commented on #9600
For the record, I'm using:
OpenShift Master:     v1.1.3
Kubernetes Master:    v1.2.0-origin
and our kubeclient gem is `=1.1.3`.

[2016-07-05 12:10] cben commented on #9600
BTW, "process node in events" test passes because test uses synthetic event hash containing ems_ref.

[2016-07-05 12:53] lucasponce commented on #6876
With #9134 we can say that a first phase of hawkular metrics integration is done.
There are more resources that will need metrics but those can go in a detailed issue.
Closing this one.

[2016-07-05 12:53] #6876 closed

[2016-07-05 13:43] cben opened #9602 "GoodMigrations breaks `rake db:migrate db:seed` in one process"
GoodMigrations (#9348) is cool :clap:
I run into a corner case today running `rake evm:db:reset db:seed` in one command:

[code]

At first I thought the migration above the explanation is to blame, but it doesn't load any models,
then noticed the stack trace below is from db:seed...

Can we somehow unload/disable GoodMigrations after migrations are done, so it doesn't false-positive on other actio

[2016-07-05 14:09] cben opened #9603 "Can't view/edit policies"
@miq-bot add-label control, ui, bug
Reporting in a hurry, would like if someone can reproduce.

On master, evm:db:reset db:seed, rails s :
Control -> Policies -> select any policy (e.g.  Compliance -> Container Image ->OpenScap).
selects in explorer, otherwise does nothing!  clicking policy from list on right also nothing, only spinner.
not being able to select a policy means you also can't edit/a

[2016-07-05 14:17] mfoley commented on #9556
We need to clarify where a managed EAP7 is supported:
a) bare iron
b) in a container
c) in a container in a Openshift or Kubernetes environment
d) other ( VM, vsphere, etc...)

We should be crystal-clear about what is supported.

[2016-07-05 14:34] theute commented on #9556
IMO, a) and d), on whatever OS EAP is supported.
Containers are a different beast, c) would come next but  it's unclear at this stage how those will be monitored (with embedded agent or an OpenShift host agent).

That said it's interesting to hear the limitations of Wildfly with the embedded agent running in a container, like the one mentioned here.

[2016-07-05 14:38] lpichler commented on #9602
@cben, yes there is, when you attach parameter GOOD_MIGRATIONS=skip
is it working for you ?

as we have for example here:
https://github.com/ManageIQ/manageiq/commit/2c4a16a87f4fc99335dae933df915d259618051b#diff-02b49c97a1c0f2b019fdbba32b895c81R47

basically rake task 'db:seed' need to skip good-migration gem

maybe we should look how include skipping of good-migration for standalone rake db:seed

[2016-07-05 14:53] jrafanie commented on #9602
@lpichler I think it's too late, in the same process we've run the migrations with good migrations so it's been monkey patched... and then try to run seed with this monkey patched autoload code.

[2016-07-05 15:18] martinpovolny opened #9608 "Report listing empty after canceled "Add a new schedule""
Steps:
 1. Go to reports.
 1. Open the "Reports" tree
 1. Select a report -- now you see some content in the main area
 1. Click "Add a new schedule"
 1. Click "Cancel:
 1. you are back in the Report detail screen but now you don't see anything the main area is blank except for title
 1. Click on another report -- still all blank
 1. Open the "Saved reports" tree, click around
 1. Go back to "Repo

[2016-07-05 15:26] mfoley commented on #9556
Right.  I think EAP7 is only supported on bare iron (and we can manage that).

Having said that ...Cloudforms has an Openshift provider, so it is not unreasonable to have an expectation here that EAP7 can be managed in a container in the context of Openshift.  If it is not supported in out initial release... it is something that should be clearly stated as not supported somewhere in our doc.

I *t

[2016-07-05 15:37] cben commented on #9602
Actually separate rake db:seed works without GOOD_MIGRATIONS=skip.

[2016-07-05 15:54] jrafanie commented on #9602
Yes, this should be isolated to only when you run db:migrate and db:seed in the same process like:

[code]

We used to do that in bin/update and bin/setup until 2c4a16a87f4fc99335dae933df915d259618051b split out the migrate from the seed into separate processes.

[2016-07-05 18:46] vnugent commented on #9556
I believe hostname, not pod name is used to track EAP/Wildfly instance.  Plain Docker api supports restarting existing containers. On the other hand Kubernetes/Openshift starts a new container when needed and leaves the dead ones for the garbage collection job.  Application states are kept in persistent storage.

Not sure about the benefit of having multiple instances of Wildfly in the same pod an

[2016-07-05 19:06] Fryguy commented on #9148
Thanks for the update @mahsa-frj

[2016-07-05 19:06] #9148 closed

[2016-07-05 19:47] jrafanie commented on #3415
No, I'll keep this open to track this

[2016-07-05 21:06] gregsheremeta commented on #7573
@gregsheremeta

[2016-07-05 21:23] jrafanie commented on #853
Assigning to @roliveri.  We should try to add logging without monkey patching core ruby stdlib classes like this.  I don't know if the DRb::DRbMessage class has changed at all since we copied it into our codebase, but there should be a way to use module prepend to add logging to the dump method without monkey patching this class.  From what I can see, we only monkey patch it for a log line but I c

[2016-07-06 07:10] cben commented on #9603
The offending `truncate` call comes from #9572 :
https://github.com/ManageIQ/manageiq/blame/94a37bf1a7c3e306601f4cabc44c025cc534ce4f/app/helpers/application_helper/toolbar/miq_policy_center.rb#L21

[2016-07-06 09:20] martinpovolny commented on #9483
@cben : Feel free to cleanup the view. There are many to be cleaned up.

I can give you a few points on refactoring:

 1. Only now we are finishing the cleanup of trees (moving the code to separate classes)
 1. We are also finishing i18n, toolbars, model virtual columns and the `ui_lookup` being the most prominent things I know about
 1. We are still working on toolbars -- see https://github.com/M

[2016-07-06 11:34] yaacov opened #9624 "Hawkular metrics reading regression"
The current call for hawkular-client initializer uses a URI object, in v2.2.0 it requires an implicit conversion to string.

When reading metrics with hawkular-client v2.2.0 we get the error:
[code]

[2016-07-06 12:54] jdoyleoss commented on #9556
Our guiding principle when it comes to containers is that we must monitor middleware processes running in all environments, including containers, but we do not manage middleware servers running in containers. For normal operations containers are immutable, and only when debugging should a user make changes. For now they can drop down to SSH to make those changes.

[2016-07-06 13:00] romanblanco opened #9628 ""No route error" from "Edit tags" screen"
i ran into issue after clicking to the quadicon in "Edit tags" screen:

[code]

Screenshots:
![screencapture-localhost-3000-vm_infra-explorer-1467808809860](https://cloud.githubusercontent.com/assets/1187051/16618115/e96fc61e-4387-11e6-9665-2a9f322abb7c.png)
![screencapture-localhost-3000-vm_infra-explorer-1467808816712](https://cloud.githubusercontent.com/assets/1187051/16618117/ec53272c-4387-11e

[2016-07-06 13:00] romanblanco commented on #9628
@miq-bot add_label bug

[2016-07-06 15:12] #857 closed

[2016-07-06 17:47] jerryk55 opened #9632 "Cred Validation Needs to Save Bad Creds Before Allowing Good Creds To Work"
A VMware provider had its default credentials status marked unreachable because of a temporary network issue.  Attempting to revalidate the saved credentials the UI stated that credentials validation was successful  However the provider was still marked unreachable and had an exclamation point in the grid icon.  The only way to clear this issue up is to enter invalid credentials, test them (unsucc

[2016-07-06 18:13] #9603 closed

[2016-07-06 19:23] AparnaKarve commented on #9632
@jerryk55 We recently added a fix to get around issues of this nature.

If you go to the VMWare Provider's summary page, and Click on `Authentication -> Re-check Authentication Status`, the provider's credential status will be fixed.

[2016-07-06 19:27] jerryk55 commented on #9632
@AparnaKarve thank you.  CC'ing @roliveri @jrafanie @Fryguy because none of us knew this was there.

[2016-07-06 19:47] jerryk55 commented on #9632
@AparnaKarve can we add this recheck to the list / grid view as well? That way when there are multiple providers with "!" in their icons we can just select those and request re-check all at once.  Thanks.

[2016-07-06 20:08] AparnaKarve commented on #9632
@jerryk55 Sure, that seems doable.
I will keep you posted on this task.

[2016-07-06 21:04] dclarizio commented on #9628
@romanblanco can you see if this is in Darga and, if so, open a BZ to track it?  Thx, Dan

[2016-07-06 21:05] dclarizio commented on #9608
@hayesr can you verify if this is in Darga and open a BZ if so?  Thx, Dan

[2016-07-06 21:08] dclarizio commented on #9546
@simon3z can you verify if this is functioning properly or perhaps we need a bug open here?  Thx, Dan

[2016-07-06 21:12] cben commented on #9546
@dclarizio if you happen to have a running system with any non-container provider, could you check if it happens there too?

[2016-07-06 21:24] jrafanie opened #9642 "Benchmark.realtime_block's ensure can be interrupted by a MiqQueue TimeoutError"
It looks like it's possible for the [ensure block in Benchmark.realtime_block](https://github.com/ManageIQ/manageiq/blob/29a0699991a9371849e199d3a9e36483bd5e5f2f/gems/pending/util/extensions/miq-benchmark.rb#L33) to be interrupted by a TimeoutError from the queue, causing the timing results to never get reset:

[code]

This test will sometimes fail:

[code]

It's horrible but we can make [MiqQueue

[2016-07-06 21:27] jrafanie commented on #9642
cc @Fryguy

[2016-07-06 21:44] dclarizio commented on #9546
@cben Just tried Hosts page, then a Provider's Hosts and the buttons are present and working fine.

[2016-07-06 22:00] Fryguy commented on #9642
:( It is what it is

[2016-07-06 22:53] ammendonca opened #9646 "Erroneous message when clicking a deleted provider"
After deleting a MW provider, before refreshing to make it not show, if one clicks the deleted provider, there are two alerts shown:

A proper one, with error style, saying `Selected Middleware Provider no longer exists`. And a wrong one, with success style, saying just `no longer exists`. The latter should not be present.

![image](https://cloud.githubusercontent.com/assets/1737954/16637115/8bb8f

[2016-07-07 08:35] cben commented on #8654
The problem of out-of-date inventory affects not only events to entities we haven't seen.
Here is a case causing wrong condition evaluation:

I made a replicator policy with a "do we have exactly 2 current replicas?" condition?
Scaling from 0 to 1:
[code]
from 1 to 2:
[code]
The event fires when we have 2 replicas, but inventory thinks we have 0 or 1.
After doing a refresh and then scaling to 3:
[

[2016-07-07 08:59] cben commented on #8654
- [ ] Expose event messages.

      Kubernetes messages are typically more informative than the dry event type, eg. `Error syncing pod, skipping: failed to "StartContainer" for "hawkular-metrics" with ImagePullBackOff: "Back-off pulling image \"openshift/origin-metrics-hawkular-metrics:latest\""`.  We have the info on the EmsEvent, and ideally it would somehow make it into policy.log, and perhaps

[2016-07-07 09:33] PanSpagetka commented on #9567
When you regenerate widgets content, it should be ok.

[2016-07-07 09:53] #9250 closed

[2016-07-07 10:31] zhitongLBN opened #9651 "[Error] VM_id is passed as Image reference for Openstack VM Cloning"
I've got error while clonning a openstack vm using MIQ, errors from my provider was below:

[code]

and here is the evm.log:

[code]

Turns out the problem comes from bad usage of fog in MIQ, Miq try to pass vm's id `ems_ref`(foo-bar-lol) into Image reference `:image_ref`:
https://github.com/zhitongLBN/manageiq/blob/6a75a7a7c812a6dff35fd336f2bd65ebcb02400d/app/models/manageiq/providers/openstack/c

[2016-07-07 11:03] romanblanco commented on #9628
@dclarizio can't reproduce in Darga, the quadicon is not clickable.

[2016-07-07 14:26] hhovsepy commented on #9101
Verified, issue is fixed. Closing.

[2016-07-07 14:26] #9101 closed

[2016-07-07 14:35] romaintb opened #9658 "[API] finding a tenant by ancestry with wildcard fails"
calling :
`http://localhost:3000/api/tenants?expand=resources&filter[]=ancestry="1/174/%25"`
gives a 500 error :
`(eval):1: syntax error, unexpected tINTEGER, expecting end-of-input "" =~ /\A1\\/174\\/.*\z/ ^`

backtrace here : https://gist.github.com/romaintb/ec8535c6fa5e03a2a0f82ff04cb53507

am I doing something wrong ? or is this a legitimate bug ?

also tried escaping `/`s, but same error :
`h

[2016-07-07 14:39] abonas commented on #9571
@miq-bot add_label providers/hawkular.

[2016-07-07 14:42] abonas commented on #9571
@mattmahoneyrh yes, logs will be very helpful.
How new is the build that this was discovered on?
There were some issues that sound related with defaulting to localhost in the gem, but they were [recently fixed](https://github.com/hawkular/hawkular-client-ruby/pull/91) and the fix[ entered miq](https://github.com/ManageIQ/manageiq/pull/9610).
cc @pilhuhn

[2016-07-07 14:43] abonas commented on #9571
@miq-bot add_label providers/hawkular

[2016-07-07 14:46] romaintb commented on #9658
`https://miq.dev.sd.lbn.fr/api/tenants?expand=resources&filter[]=ancestry>1/174/` got me where I wanted, but maybe the errors I had are a bug or something ?

[2016-07-07 14:46] syncrou commented on #9504
https://github.com/ManageIQ/manageiq/pull/9557 - Fixes this issue

[2016-07-07 15:10] jrafanie commented on #5814
Fixed by https://github.com/rspec/rspec-mocks/issues/1043

[2016-07-07 15:10] #5814 closed

[2016-07-07 15:11] abonas commented on #9646
@ammendonca great catch. Do you know if this is an infrastructure thing (happens in a shared code for all/several providers) or middleware specific?

[2016-07-07 15:24] ammendonca commented on #9646
Thanks @abonas. I'm not sure it's cross-providers, I will check.

[2016-07-07 15:44] #9504 closed

[2016-07-07 15:49] #9184 closed

[2016-07-07 16:07] agrare opened #9661 "VMware Storage Profile Basic Inventory Collection"
Collect basic inventory from VMware SPBM SDK about storage profiles.

- [x] ~~Modify [handsoap](https://github.com/ManageIQ/handsoap) to return session cookie https://github.com/ManageIQ/handsoap/pull/3~~ PR was merged and new version cut
- [x] Add [VMware PBM SDK](https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/pbm.rb) to VimBroker https://github.com/ManageIQ/manageiq/pull/9334
- [x] Re

[2016-07-07 16:07] agrare commented on #9661
@miq-bot add-label enhancement, providers/vmware/infra

[2016-07-07 16:08] agrare commented on #9661
@miq-bot assign agrare

[2016-07-07 16:13] agrare opened #9662 "VMware Storage Profile Basic Inventory Parsing"
- [x] Retrieve basic information about storage profiles in refresh_parser - https://github.com/ManageIQ/manageiq/pull/9734
- [x] Save storage profiles

Depends on: ~~https://github.com/ManageIQ/manageiq/issues/9661~~ https://github.com/ManageIQ/manageiq/issues/9425

[2016-07-07 16:14] agrare commented on #9662
@miq-bot add-label providers/vmware/infra, enhancement
@miq-bot assign agrare

[2016-07-07 17:18] mattmahoneyrh commented on #9571
Retested on more recent MIQ running in OS, but did not repro the error.
I am fine with closing this issue, and reopening if the error is later reproduced.

[2016-07-07 17:55] jrafanie commented on #8522
@djberg96 Would you be able to re-record the cassettes for 2.3 (or show me how to) and verify if those cassettes would work with developers still using 2.2?

[2016-07-07 17:56] jrafanie commented on #8522
We're tracking 2.3.x [here](https://www.pivotaltracker.com/n/projects/1608513/stories/125569551/) and I think it's really only this issue.

[2016-07-07 20:05] djberg96 commented on #8522
@jrafanie I've got the cassettes updated. Should I submit a PR against master?

[2016-07-07 20:27] jrafanie commented on #8522
Does it work with ruby 2.2 locally @djberg96?  Or will it also fail if we update the cassettes but developers don't update to 2.3?  maybe you can push to my branch in https://github.com/ManageIQ/manageiq/pull/8488.  I added you as a collaborator on my fork (check your email), you'll need to Ok that before you can push to my fork.

[2016-07-07 20:52] djberg96 commented on #8522
@jrafanie I see one failure only between 2.2 and 2.3, and that's the orchestration stack count, so maybe my original theory was off. But then why does it work with 2.3? Not sure. This may be a bug in the refresher code.

@bzwei Any ideas here?

[2016-07-08 03:13] abonas commented on #9624
@miq-bot add_label providers/hawkular

[2016-07-08 03:15] abonas commented on #9571
yes, please close

[2016-07-08 05:07] simon3z commented on #9624
@pilhuhn it seems that this should be addressed in the hawkular-client gem and then we'll need to require it here in ManageIQ. What do you think?

[2016-07-08 07:40] pilhuhn commented on #9624
@simon3z @yaacov I am working on a 2.2.1 gem with only this fix and hope to have it ready later today. I will cc you on the PR

[2016-07-08 10:47] pilhuhn commented on #9624
https://github.com/hawkular/hawkular-client-ruby/pull/107

[2016-07-08 11:12] ammendonca commented on #9646
This is generic across providers, confirmed with containers for instance:

![image](https://cloud.githubusercontent.com/assets/1737954/16685774/49f351c6-4505-11e6-8eb8-971d9d1a2401.png)

[2016-07-08 12:51] #5873 closed

[2016-07-08 12:53] #5676 closed

[2016-07-08 12:55] romanblanco commented on #2389
JS code-style documentation: #8781

[2016-07-08 13:26] abonas commented on #9646
@ammendonca thanks. I'll remove hawkular label not to create the wrong impression :smiley:

[2016-07-08 13:26] abonas commented on #9646
@miq-bot rm_label providers/hawkular

[2016-07-08 16:01] bronaghs opened #9684 "Disable hard reset for Azure instances"
There is no way in Azure to perform a hard reset on an instance, there is only one way stop an instance and only one way to restart an instance, both are graceful. Therefore, the 'Power/Hard Reboot' menu item should be disabled.

![disableazurehardreset](https://cloud.githubusercontent.com/assets/4379675/16693555/a6525b9e-4503-11e6-9005-f3d2591900df.png)

@miq-bot assign @dclarizio

[2016-07-08 16:11] chessbyte commented on #9684
/cc @durandom pluggable providers

[2016-07-08 17:29] jameswnl opened #9690 "Select utilization sub-menu raises error"
(The term used in the title may not be accurate). Choose almost any of the pop-up submenu (1st screen shot) will give rise to the error shown in 2nd screen shot.

At latest upstream as of today.

<img width="875" alt="screen shot 2016-07-08 at 1 26 23 pm" src="https://cloud.githubusercontent.com/assets/2421248/16695777/a84885c0-450f-11e6-8183-9742466b276d.png">

<img width="1108" alt="screen shot

[2016-07-08 17:33] jameswnl opened #9691 "The burger menu not responsive after arrived at error page"
The burger menu not responsive after arrived at [error page](https://cloud.githubusercontent.com/assets/2421248/16695780/aa51106c-450f-11e6-9c9c-8db84123ce1f.png)

I would say this is a very minor issue.

[2016-07-08 17:46] jameswnl opened #9693 "Optimization->Utilization shows "No performance data..." even it does have"
As shown in 1st screen shot in #9690, this cluster does have data.
(I am assuming this route of menu will show me the same thing)
<img width="1049" alt="screen shot 2016-07-08 at 1 43 48 pm" src="https://cloud.githubusercontent.com/assets/2421248/16696329/667dd390-4512-11e6-8ad0-432c8d683d35.png">

[2016-07-08 18:35] mtho11 commented on #9462
Current server suspend option with standard confirm dialog box:
![confirm-dialog](https://cloud.githubusercontent.com/assets/1312165/16697355/2990db8a-44fe-11e6-98a4-6ba126e905f1.jpg)

To be replaced by PatternFly style custom dialog box:
![suspend-dialog](https://cloud.githubusercontent.com/assets/1312165/16697752/09009714-4500-11e6-8908-898c23bc467e.jpg)

[2016-07-08 23:18] ammendonca commented on #9646
Further investigation shows that the second notification comes from https://github.com/manageiq/manageiq/blob/adb01db137c2456a379bde49383699cde387715c/app/helpers/application_helper.rb#L1050
(the first and correct one, comes from https://github.com/manageiq/manageiq/blob/1044d2a632fba29350796bd5cddfa43168374ec2/app/controllers/application_controller.rb#L2262)

[2016-07-09 04:03] yaacov commented on #9624
fixes by: #9686

[2016-07-09 04:03] #9624 closed

[2016-07-09 09:42] anilchabba opened #9703 "[RFE] Support RackSpace as a Provider"
I am using openstack type to login rackspace as it based on it support openstack API.

i am getting following error after successfully authenticating

Error -About 1 Hour Ago
Multiple regions available choose one of these 'SYD,ORD,HKG,IAD,DFW'
![rackspace_refresh_error](https://cloud.githubusercontent.com/assets/11571875/16707341/945ba000-45e7-11e6-982f-1ba9466a6b79.PNG)
 i am using following vers

[2016-07-10 10:35] martinpovolny opened #9711 "Remove last `eval` from toolbar_builder."
To remove the last `eval` call from toolbar builder we need to address these values for the `:url_params` key in toolbar detinitions.

[code]

[2016-07-10 11:33] cben opened #9713 "ContainerLabelTagMapping: Empty labels can break refresh"
https://bugzilla.redhat.com/show_bug.cgi?id=1358257 (master)
https://bugzilla.redhat.com/show_bug.cgi?id=1358303 (darga)

An attempt to use #7460 by manually editing ContainerLabelTagMapping table uncovered a bug:

Kubernetes labels [can legally have an empty value][1].
`kubectl label`/`oc label` won't let you assign a `foo=` label, but it's possible with `oc edit`:
[code]

Together with an *any-v

[2016-07-10 11:54] cben commented on #9713
Fails [here in `create_tag`](https://github.com/ManageIQ/manageiq/blob/b791d80cc1c6a714e2b4b208cd772b37640fc947/app/models/container_label_tag_mapping.rb#L88).
[code]

[2016-07-10 13:59] abonas commented on #9462
@mtho11 looks great.
I suggest :
1. mentioning timeout's time units in the dialog so it will be crystal clear to the user. (5 seconds? minutes? ms? etc.)
2. is value validation planned in frontend/backend? (not letters, value between X-Y, what happens when timeout is zero)

[2016-07-10 14:03] abonas commented on #9646
@dclarizio @martinpovolny @himdel fyi

[2016-07-11 07:39] pilhuhn commented on #9462
We should also shoot (but I think I mentioned that to Mike already) allow for more than one property here. E.g. stop/shutdown/restart is the same underlying code, but with different timeouts and also a boolean 'restart'.

[2016-07-11 08:16] abonas commented on #9462
@pilhuhn not sure I follow the "different timeouts" part - timeout is an open field where user can input any timeout. Also, what is the boolean restart that you mention? where should it be available and in which use case?

[2016-07-11 08:36] pilhuhn commented on #9462
What I mean is:
Stop = dmr-operation 'shutdown', timeout=0, restart=false
Shutdown = dmr-operation 'shutdown', timeout=<ask user>, restart=false
Restart = dmr-operation 'shutdown', restart=true, timeout=0 or <ask user>
So all 3 menu options call the same dmr operation on the agent, but with different parameters.
If the box allows to input timeout & restart-bool, then we can have all 3 use cases fr

[2016-07-11 08:44] abonas commented on #9462
I think this will be too confusing for users. To understand that restart is actually shutdown but with restart=true and with no timeout, for example. Too much details  imo.
On the backend side it makes sense to unify the code.

[2016-07-11 08:49] pilhuhn commented on #9462
On 11 Jul 2016, at 10:44, abonas wrote:

Well. Restart should get a timeout too, as the timeout determines
how much time currently active connections still have to finish.

But ok Mike: timeout alone is fine.

[2016-07-11 10:12] durandom commented on #9684
This is a great use case for the SupportsFeatureMixin.
I guess the visibility of the menu option can be implemented like this https://github.com/ManageIQ/manageiq/pull/8330/files#diff-a339bdd1c4e0542e5362056813746bed

[2016-07-11 14:04] #9571 closed

[2016-07-11 14:18] ZitaNemeckova commented on #8077
New issue introduced: ![screenshot-from-2016-07-11-10_06_05](https://cloud.githubusercontent.com/assets/9210860/16733705/f1165078-4782-11e6-8133-77f29d5365a4.png)

[2016-07-11 19:58] #8643 closed

[2016-07-11 20:44] jrafanie commented on #5814
Fixed for prior fix:  https://github.com/rspec/rspec-mocks/pull/1060

[2016-07-12 02:58] mtho11 commented on #9462
The validations could get a bit complicated considering a different domain for each field type. I'm thinking this is an add-on PR.

[2016-07-12 03:22] mtho11 commented on #9462
We will need to specify units as well then for each option (or optionally none). Is that alright @pilhuhn?

[2016-07-12 03:39] mtho11 commented on #9462
I guess we don't really have any specifications for this screen? Which feels strange for a product feature.

[2016-07-12 09:16] abonas commented on #9462
adding @jdoyleoss and @catrobson for this part

[2016-07-12 09:17] abonas commented on #9462
@pilhuhn @mtho11 shouldn't time unit be the same for all operations that require a timeout input?

[2016-07-12 10:44] yaacov opened #9742 "When using connection_configurations on ems_container default authentication is nil"
**Description**
When using `connection_configurations` on `ems_container` default `authentication` is nil

Because in `ems_container` default `auth_type` is `bearer` and not `default` the method `connection_configurations` will fail to find this `authentication`.

**What happen**
`ExtManagementSystem.first.connection_configurations.default.authentication`
will return `nil`
`ExtManagementSystem.fir

[2016-07-12 10:46] yaacov commented on #9742
@miq-bot add_label providers/containers, api

cc @simon3z @juliancheal

[2016-07-12 10:47] pilhuhn commented on #9462
Timeout is in seconds, which we can just add as description. Validation is certainly a bonus. We do not need to to save the world though.
And for UxD - let's get that in as is. And then re-style later if needed at all.

[2016-07-12 10:48] yaacov commented on #9742
**Notes: api**
This is an issue labeled `api` because when we expose `connection_configurations` to users using the api they will get the wrong information.

[2016-07-12 10:53] yaacov commented on #9742
link to: https://github.com/ManageIQ/manageiq/pull/9648

[2016-07-12 11:08] yaacov opened #9743 "connection_configuration and connection_configuration= do not act as setter/getter"
**Description**
`connection_configuration` and `connection_configuration=` give the impression (from their names) that they are a setter/getter pair but they are not.

**What happen**
`first_ems.connection_configuration = second_ems.connection_configuration`
fails with lots of errors.

**What is expected by an unfamiliar user**
`first_ems.connection_configuration = second_ems.connection_configurat

[2016-07-12 11:27] abonas commented on #9462
not saving the world, but to check that timeout is not "abc" is basic and expected imo. not sure how backend would behave in that case-  it can also potentially crash on miq/ruby gem/hawkular side.

[2016-07-12 11:34] catrobson commented on #9462
Agreed that units will at least make this consumable for the short term.  In the longer term I would probably want to see something that allows users to input in units that make sense for them (UI allows them to put in 10, then select "minutes" from a dropdown) and we can translate that back into seconds for them.  Also, I would want to look at the whole flow for this operation (where do I get thi

[2016-07-12 11:41] yaacov commented on #9743
@miq-bot add_label providers/containers, api

cc @simon3z @juliancheal @abellotti

Notes: api
This is an issue labeled api because when we expose connection_configurations to POST method we expect to send pack the same info we got using a GET method, we can not do that in this case.

[2016-07-12 12:04] pilhuhn commented on #9462
We start making an elephant out of a fly.
Let's get this done as is. And then later refine.

[2016-07-12 12:19] yaacov commented on #9743
link to: https://github.com/ManageIQ/manageiq/pull/9648

[2016-07-12 13:38] theute commented on #8683
We should close that one, this workflow is no longer relevant, we'll need to try with the workflow from ManageIQ when deployment feature will be available there.

@prachiyadav can you close ? (I don't have the superpower here)

[2016-07-12 17:14] yaacov commented on #9742
@simon3z

I think it's only containers, because only in containers we have `auth_type` != `role`,
In containers:
https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/kubernetes/container_manager_mixin.rb#L101
In other providers:
https://github.com/ManageIQ/manageiq/blob/master/app/models/mixins/authentication_mixin.rb#L21

[2016-07-12 20:17] #8522 closed

[2016-07-12 22:00] simon3z commented on #9742
@yaacov can you create a Trello card to track this cleanup for 4.2? (I assume there's a way to fix this with migration scripts).

[2016-07-13 07:50] yaacov opened #9768 "Regression in EMS Form validation"
**Description**
EMS Form validation can not create new ems container with bearer (default) authentication.

**What happen**
In Add New Containers Provider form when trying to validate the **bearer** (default) endpoint
a. add the name, type, hosname, port and bearer_token
b. we get a `Missing credentials` error

**What should happen**
In Add New Containers Provider form when trying to validate the

[2016-07-13 07:52] yaacov commented on #9768
@miq-bot add_label ui,providers,providers/containers

cc @simon3z @zeari @AparnaKarve

[2016-07-13 08:10] yaacov commented on #9742
@simon3z @juliancheal I am not sure this need fixing.

I opened this issue also to query if this is a real issue, It looks not right to me, but it may have a reason I do not know about.

If this is a real issue, I do not know what is the right way to fix it. Fixing it in `connection_configuration` method, fixing by adding a `role` field to the authentications table, fixing it by naming bearer auth

[2016-07-13 08:31] yaacov commented on #9768
@simon3z @zeari @AparnaKarve
Since the form checks for required fields, we can depracate the `required_credential_fields` method in `authentication_mixin.rb` , and trust the form to check for required fields.
Then we can create a new container provider, but it has no bearer (default) authentication.

p.s.
Why can't I add a provider that can not be authenticated ?
I want to add providers that do no

[2016-07-13 08:31] theute opened #9769 "Undeployment issue"
Once I undeploy a WAR file, the operation seems to execute fine but:
  1) The UI still shows the deployment as enabled
![undeployed](https://cloud.githubusercontent.com/assets/311855/16796773/9b8cd18c-48e4-11e6-9b61-1827e1b1e039.png)

  2) the following stacktrace can be found in Hawkular Services:

[code]

Here is what I see in the jboss-cli, correctly set with: enabled=false and status=STOPPED:

[2016-07-13 08:46] yaacov commented on #9768
@miq-bot add_label ui,providers

[2016-07-13 08:53] theute commented on #9769
I CCed Josejulio by mistake, it's likely rather for @ammendonca

[2016-07-13 08:59] theute commented on #9769
@miq-bot add_label providers/hawkular, bug

[2016-07-13 09:00] theute opened #9772 "Suspending a MW Server fails"
When I try to suspend a MW server, I get the following error in the ManageIQ UI:
"key not found: ":timeout" [middleware_server/button]"

@miq-bot add_label providers/hawkular, bug
cc @pilhuhn @abonas

[2016-07-13 09:02] theute commented on #9772
It's OPR-005 which is not done yet, but it seems that some part got merged already

[2016-07-13 09:15] theute opened #9773 "MW reports fail if one provider is down"
I tried to generate a report in a ManageIQ instance that has multiple MW provider but only 1 is actually running.

The report generation failed with the following logs:
[----] W, [2016-07-13T11:12:44.247338 #26269:2abb33abd984]  WARN -- : <AuditFailure> MIQ(Async.rescue in _async_generate_table) userid: [admin] - Connection refused - connect(2) for "hservices.torii.gva.redhat.com" port 80
[----] E

[2016-07-13 09:30] ammendonca commented on #9769
I think this is a known issue (the exception), where the agent is not aware that the deployment has been removed and still tries to gather it's metrics, @jmazzitelli may comment on that.

Regarding the UI not updating the deployment state, doesn't it update with a forced refresh ? I'll see if it's possible to force such refresh after the operation, but it may not catch it as it is done in an async

[2016-07-13 10:16] isimluk opened #9774 "UI: TreeBuilder: Cannot manage default Filters on pages with `&` in their menu hierarchy"
## Reproducer

On page `Settings -> My Settings -> Default Filters` there is tree of menu pages (build by  `TreeBuilderDefaultFilters`) like this:

![filters_tree](https://cloud.githubusercontent.com/assets/6666052/16799284/491de7cc-48f0-11e6-9819-d3604396e9e1.jpg)

Selection or unselection of an item, whose parent's name contains '&' leads to

[code]
## Cause

The `param` received by `Configurati

[2016-07-13 10:34] pilhuhn commented on #9772
@miq-bot assign pilhuhn
@miq-bot add_label providers/hawkular,bug

[2016-07-13 10:50] yaacov commented on #9768
@simon3z @zeari @moolitayer @AparnaKarve

https://github.com/ManageIQ/manageiq/pull/9775 fix the create new provider problem, but now It impossible to add a provider without valid hawkular endpoint, is this a bug or a feature ?

[2016-07-13 11:39] theute commented on #9772
miq-bot is French and on strike I think

[2016-07-13 12:03] theute commented on #9769
I tried a forced refresh, it didn't help.
Right, I can't really tell what issues are in ManageIQ code or Hawkular Server or Agent, so for the exception it could indeed be the case...

[2016-07-13 12:09] abonas commented on #9772
@theute lol

[2016-07-13 12:21] jmazzitelli commented on #9769
To know if its a problem in the agent or MiQ, I would say probe inside Hawkular Inventory and see if that resource is still there, and then look at its availability metric value in Hawkular Metrics to see if it shows up or down. (P.S. The easiest way to do these things is via HawkFX - having to know what proper JSON body to send to the proper URL via a REST client is annoying and error-prone. Hawk

[2016-07-13 12:51] abonas commented on #9773
@theute it will be interesting to check whether this is middleware specific or would happen in any provider type. Do you have the full err stacktrace?

[2016-07-13 12:56] theute commented on #9773
[code]

[2016-07-13 13:14] AparnaKarve commented on #9768
@yaacov One of the key reasons why we now enforce validation while adding a new record or edit an existing record is because the refresh workers do not start until the Provider is validated.
You can follow the entire discussion here - https://github.com/ManageIQ/manageiq/issues/8643

[2016-07-13 13:16] yaacov commented on #9768
@AparnaKarve Thanks :-)

[2016-07-13 13:28] agrare opened #9783 "Cannot add GCE provider due to service account validation"
Validation of the Service Account JSON is checking for spaces and not allowing the provider to be added.  The auth for GCE is a json file containing newlines and spaces.

![screenshot from 2016-07-13 09-26-00](https://cloud.githubusercontent.com/assets/12851112/16804907/e80c6ca6-48db-11e6-8376-801d88b5f97f.png)

Seems to be introduced with https://github.com/ManageIQ/manageiq/pull/9235

[2016-07-13 13:32] agrare commented on #9661
Completed on 7/11

[2016-07-13 13:32] #9661 closed

[2016-07-13 14:10] abonas commented on #9773
@miq-bot add_label providers/hawkular, bug

[2016-07-13 16:19] abonas commented on #9772
@miq-bot add_label providers/hawkular, bug

[2016-07-13 16:50] ammendonca commented on #8683
Using the deployment feature now merged into ManageIQ master, I can see the events for successful deployments, when in 'Application' event group and level 'Detail'.

![image](https://cloud.githubusercontent.com/assets/1737954/16811718/9bc9dac2-4921-11e6-8c7e-34e3208412bf.png)

In 'Application' event group and level 'Summary', only the failed deployments are shown.

[2016-07-13 17:00] mattmahoneyrh opened #9789 "MW: After adding a provider with an incorrect port, Updating to the correct port does not result in Provider Refresh"
Added provider livingontheedge.hawkular.org with the wrong port (with correct username creds), and then updating the provider info to be that of the correct port did not result in a provider Refresh. The "Last Refresh" state remains at "Never"

Would expect the provider to correctly refresh after the port was updated to the correct value.

[2016-07-13 17:50] mattmahoneyrh opened #9791 "MW: Adding a provider with incorrect connection creds, prevents provider entry in MIQ DB"
After adding a provide with invalid port number, querying the MIQ DB showed that there were no entries for the provider. It was not until a 2nd provider with correct creds was added AND a "Refresh" occurred that both providers had entries in the DB.

Repro:
 1) Add provider with incorrect port number. Note that the provider is listed in the MIQ Providers list.
 2) Query the MIQ middleware_servers

[2016-07-13 20:11] AparnaKarve commented on #9783
@agrare Perhaps we do not need that space checking validation there. I will take care of it!
Thanks.

[2016-07-13 20:58] dclarizio commented on #9690
@martinpovolny perhaps chart interaction isn't quite complete on master?

[2016-07-13 20:59] dclarizio commented on #9693
@h-kataria please look into this.  If broken in Darga, may need a BZ as well.

[2016-07-13 21:01] dclarizio commented on #9646
@martinpovolny can you please triage and have someone look into this.  If in Darga, will need a BZ.

[2016-07-13 21:11] mkanoor opened #9797 "Incorrect line terminators in Automate YAML files"
db/fixtures/ae_datastore/ManageIQ/System/Event/EmsEvent/RHEVM.class/user_suspend_vm_ok.yaml

has invalid line terminators.

Please follow this http://talk.manageiq.org/t/creating-a-pull-request-for-enhancements-to-manageiq-automate-domain/1041

[2016-07-13 22:28] #9783 closed

[2016-07-14 02:14] chessbyte commented on #9301
@abonas Please re-assign as needed to someone on your team.

[2016-07-14 02:21] chessbyte commented on #3208
@martinpovolny now that we are on Rails 5, is this still a valid issue?

[2016-07-14 02:22] chessbyte commented on #3435
@GregP ping

[2016-07-14 02:23] chessbyte commented on #3872
@rananda If this issue is not fixed with Darga release, please reopen with details.

[2016-07-14 02:23] #3872 closed

[2016-07-14 02:24] chessbyte commented on #3955
@sshveta if this is still an issue in Darga, please reopen with details.

[2016-07-14 02:24] #3955 closed

[2016-07-14 02:25] chessbyte commented on #4851
@jkrocil If this is still an issue in Darga release, please re-open with details

[2016-07-14 02:25] #4851 closed

[2016-07-14 02:27] chessbyte commented on #3864
@himdel If this is still an issue in Darga release, please re-open with details.

[2016-07-14 02:27] #3864 closed

[2016-07-14 02:28] chessbyte commented on #5597
/cc @durandom

[2016-07-14 02:30] chessbyte commented on #5727
@abonas If this is still an issue in Darga release, please re-open with details.

[2016-07-14 02:30] #5727 closed

[2016-07-14 02:31] chessbyte commented on #5686
@romaintb If this is still an issue in Darga release, please reopen with details.

[2016-07-14 02:31] #5686 closed

[2016-07-14 02:31] chessbyte commented on #3770
@kbrock @carbonin is this still an issue?

[2016-07-14 02:33] chessbyte commented on #3486
UPDATE: https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 0.7.0` vs. `0.15.0`

[2016-07-14 02:34] chessbyte commented on #3487
@Fryguy @gtanzillo didn't somebody fix this recently by not needing the `logging` gem?

[2016-07-14 02:34] chessbyte commented on #3652
@mkanoor is this still an issue?

[2016-07-14 02:40] chessbyte commented on #6941
@chrisarcand Is this still an issue that needs to be addressed?

[2016-07-14 02:47] chessbyte commented on #6039
@roliveri @hsong-rh if this is resolved by #6089, please close this issue.

[2016-07-14 02:48] chessbyte commented on #5929
@abonas @simon3z is this still an issue?

/cc @Fryguy

[2016-07-14 02:48] gmcculloug commented on #6210
Fixed in PR #6209

[2016-07-14 02:48] #6210 closed

[2016-07-14 02:49] gmcculloug commented on #6166
Fixed in #6209

[2016-07-14 02:49] #6166 closed

[2016-07-14 02:53] chessbyte commented on #8719
@abonas please reassign within your team, as appropriate

[2016-07-14 02:54] chessbyte commented on #9055
@abonas @himdel was this fixed in PR that addressed #9196 ?

[2016-07-14 03:02] chessbyte commented on #6101
@hackeys If this is still an issue, please re-open with details.

[2016-07-14 03:02] #6101 closed

[2016-07-14 03:03] chessbyte commented on #6052
@Boujemaa0 If this is still an issue in Darga release, please re-open with details.

[2016-07-14 03:34] kbrock commented on #3770
think this is all set

[2016-07-14 03:34] #3770 closed

[2016-07-14 05:48] yaacov commented on #9768
Fixed by: https://github.com/ManageIQ/manageiq/pull/9775

[2016-07-14 05:48] #9768 closed

[2016-07-14 06:50] abonas commented on #9791
@mattmahoneyrh the providers are not in the middleware_servers table. they are in ext_management_systems table. adding a provider with incorrect credentials prevents its inventory fetching (a.k.a the refresh operation) from hawkular, and hence middleware_servers table cannot be populated with servers information. based on the above it sounds like not a bug to me, but rather an incorrect testing sc

[2016-07-14 07:06] abonas commented on #9789
@mattmahoneyrh is this issue specific to middleware only or happens in other providers as well?

[2016-07-14 07:15] abonas commented on #9301
@	mattmahoneyrh does it still reproduce with latest hawkular? If not, I suggest closing the issue

[2016-07-14 07:16] abonas commented on #6715
@pilhuhn what's the status of this? can it be closed?

[2016-07-14 07:29] pilhuhn commented on #6715
There is still the `process_collection` thingy, but it's not like it would work without. from my side closing is ok.

[2016-07-14 08:05] simon3z commented on #9031
@moolitayer if this is the same for containers and VMs why have you filed a container-specific bug? We probably want to address this issue in the core. We should probably fix the title and the labels of this issue.

[2016-07-14 08:06] simon3z commented on #9022
@miq-bot assign yaacov

[2016-07-14 08:12] simon3z commented on #7256
@zakiva can you take a look at this? (I think @yaacov can help you here).

@miq-bot assign zakiva

[2016-07-14 08:19] simon3z commented on #9742
@miq-bot assign yaacov

[2016-07-14 08:19] simon3z commented on #9743
@miq-bot assign yaacov

[2016-07-14 08:22] abonas commented on #6715
if it's worth doing it, I suggest a separate issue just with that info, and closing this one

[2016-07-14 08:23] abonas commented on #8683
@ammendonca that's great!
@prachiyadav can you please close the issue?

[2016-07-14 08:45] abonas commented on #9055
@chessbyte no, it was an unrelated blocker

[2016-07-14 08:45] abonas commented on #9055
@miq-bot assign @Jiri-Kremser
@Jiri-Kremser please investigate & fix. thank you

[2016-07-14 09:34] martinpovolny commented on #5597
We need to revisit this issue once we have the new angular GTL component.

[2016-07-14 09:38] himdel commented on #3864
It's still a *potential* issue, but one that hasn't really hit us in practice, and the potential has been severely reduced by moving to bower.. so I'm OK with just closing this :)

[2016-07-14 10:08] bazulay commented on #9332
@vnugent @fbladilo
It means that there is some kind of a system issue in the environment,
we never still tried it on kubernetes but be aware we are currently working on podifying manageiq (non monolithic) and eventually we'll have all the definitions ready (including the template)
@chessbyte I do not think we should keep this issue open, as we have an RFE for next version on manageiq podification

[2016-07-14 11:38] mattmahoneyrh commented on #9789
Not clear whether this happens with providers other than MW.

[2016-07-14 12:09] kbrock commented on #3170
Think this has gone about as far as I can take it for now.
While I think current_user nil object and removing `:role_choice` are good ideas, this has lost steam and already changed enough around `current_user` for a few years

[2016-07-14 12:09] #3170 closed

[2016-07-14 12:09] kbrock commented on #2222
not seeing this anymore.

[2016-07-14 12:09] #2222 closed

[2016-07-14 12:11] kbrock commented on #896
`/etc/issue` no longer stores the os version, it uses `\r`. We're using other mechanisms now

[2016-07-14 12:11] #896 closed

[2016-07-14 12:11] kbrock commented on #41
Too many open issues. this doesn't seem addressable at this time

[2016-07-14 12:11] #41 closed

[2016-07-14 12:13] kbrock commented on #6620
All set

[2016-07-14 12:13] #6620 closed

[2016-07-14 12:14] kbrock commented on #6617
done

[2016-07-14 12:14] #6617 closed

[2016-07-14 12:14] kbrock commented on #2526
haven't seen in a long while

[2016-07-14 12:14] #2526 closed

[2016-07-14 12:16] kbrock commented on #843
This class has been removed. thanks

[2016-07-14 12:16] #843 closed

[2016-07-14 12:19] kbrock commented on #820
This feature has shipped

[2016-07-14 12:19] #820 closed

[2016-07-14 12:19] kbrock commented on #5527
/cc @imtayadeway we spoke about this before

[2016-07-14 12:38] mattmahoneyrh commented on #9791
As described by abonas, works as expected. Thus, closing.
Thanks for the clarification.

[2016-07-14 12:38] #9791 closed

[2016-07-14 14:08] martinpovolny commented on #9711
The compare task seems to be also exceptional in terms of the `render :update do` block that is associated with it. We will probably need to refactor that together.

[2016-07-14 14:16] mkanoor commented on #3652
@chessbyte
Haven't seen this happen lately, closing it for now.

[2016-07-14 14:16] #3652 closed

[2016-07-14 14:28] #9608 closed

[2016-07-14 14:53] abonas commented on #9773
this is middleware specific as other providers are not requiring a live connection in order to generate a report.
the process should not fail if one provider is not available but rather exclude it.
we might want some sort of ux indication for that - in a separate PR - cc @catrobson
@miq-bot assign @josejulio

[2016-07-14 15:07] #9797 closed

[2016-07-14 15:11] vnugent commented on #9332
Updated OpenShift template:
https://gist.github.com/vnugent/604902a878a94c8a6d4d0acea24e25e6

It's fairly stable on OSE 3.2 and recent July 2016 3.3 puddle build.  Occasionally postgres wouldn't start (hence the poststart chown hack).

My goal is to quickly stand up MiQ to help us test Hawkular service provider. So I would be very interested in trying out the non-monolithic setup when you have it

[2016-07-14 15:23] fbladilo commented on #9332
@vnugent our efforts currently are on podifying MIQ on OSE 3.2 , yep you need to adjust your user to be part of the privileged SCC since the MIQ pod requires it (systemd).

[2016-07-14 15:36] abonas commented on #9773
@miq-bot assign @josejulio

[2016-07-14 15:38] martinpovolny commented on #9690
The last PR for this in under review right now. Ping @PanSpagetka : can you check that this is fixed with your last changes?

[2016-07-14 15:39] martinpovolny commented on #9690
This is the last PR: https://github.com/ManageIQ/manageiq/pull/9537

[2016-07-14 15:42] abonas commented on #9773
@miq-bot add_label reporting

[2016-07-14 15:42] chrisarcand commented on #6941
@chessbyte Yup, thanks 💙

Fixed in 5d6e64b33037c5b26131326a5cab393eb029e2d9

[2016-07-14 15:42] #6941 closed

[2016-07-14 15:43] chrisarcand commented on #7990
@kbrock Will recheck this soon.

@miq-bot assign @chrisarcand

[2016-07-14 16:53] sseago opened #9826 "Availability Zone UI is broken when there is no block storage cluster"
block_storage_disk_capacity throws a nil-related error when there is no cluster for which c.block_storage? == true when the method calls ".aggregate_disk_capacity" on the cluster found (which is nil in the failing case).

[2016-07-14 16:53] sseago commented on #9826
PR https://github.com/ManageIQ/manageiq/pull/9727 resolves this issue.

[2016-07-14 20:22] h-kataria commented on #9693
@jameswnl do you see charts when you click on specific nodes above/below "Cluster/Deployment Role" node. Cluster/Deployment Role node is just a folder node to expand/collapse items under that node it does not replace contents on the right side of the screen. Can you please try clicking on other nodes in the tree to make sure that generates/displays charts on the right side if/when data is availabl

[2016-07-14 20:30] movitto commented on #9289
After investigating @ProxyManagedServices  and I discovered that and older version of the glusterfs client (3.7.1)  being shipped with the darga appliance was reporting incorrect file sizes, tripping up the SSA process. After updating gluster to 3.7.5 this problem went away (the cloudforms 4.1 appliance includes this version and the problem is not apparent there)

It's unclear which gluster bug ca

[2016-07-14 20:31] movitto commented on #9289
@chessbyte @roliveri how do we go about updating glusterfs in the next darga appliance release?

[2016-07-14 20:49] #9022 closed

[2016-07-14 21:02] ProxyManagedServices commented on #9289
Filed a bug at CentOS https://bugs.centos.org/view.php?id=11169

After updating to the following gluster rpm's
glusterfs-libs-3.7.12-1.el7.x86_64
glusterfs-3.7.12-1.el7.x86_64
glusterfs-fuse-3.7.12-1.el7.x86_64
glusterfs-client-xlators-3.7.12-1.el7.x86_64

The problem went away. Those RPM's were coming from the CentOS storage(gluster-3.7) repo's

[2016-07-15 03:15] mtho11 commented on #8781
We also need an Angular Style guide as well; something like:

- https://github.com/mgechev/angularjs-style-guide

- https://toddmotto.com/opinionated-angular-js-styleguide-for-teams/

- https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md

- https://google.github.io/styleguide/angularjs-google-style.html

And we can just fork it to our needs.

[2016-07-15 06:58] vanloswang opened #9837 "Containerize miq need root priviledge to run"
Priviledge container is insecurity, Do we need to remove systemd in containerize miq and choose a best init method like superviserd or fakeroot?

[2016-07-15 07:00] vanloswang commented on #9837
@fbladilo @bdunne @bazulay @carbonin @jrafanie @Fryguy CC this issue.

[2016-07-15 08:13] #4775 closed

[2016-07-15 08:39] romanblanco commented on #8502
I guess these fieldsets should be kept in views, right @epwinchell?

app/views/layouts/exp_atom/_editor.html.haml:
![screencapture-localhost-3000-report-explorer-1468571629363](https://cloud.githubusercontent.com/assets/1187051/16868389/a800e766-4a77-11e6-812a-883646479134.png)

app/views/report/_form_chart_sample.html.haml:
![screencapture-localhost-3000-report-explorer-1468571475617](https://clo

[2016-07-15 09:01] romanblanco opened #9843 "Generating report preview doesn't work"
I ran into issue with generating report preview while adding a new report after pressing "Load" button:

[code]

![7993493e-4a7a-11e6-9281-15f8e3d6e08e](https://cloud.githubusercontent.com/assets/1187051/16875837/ce44cf58-4aa1-11e6-88fd-0914da5221f4.png)

[2016-07-15 09:01] romanblanco commented on #9843
@miq-bot add_label bug

[2016-07-15 10:54] pilhuhn commented on #9789
@mattmahoneyrh Did you click on the 'validate' button after the port change? If not, I expect that you ran into the issue where MiQ marks providers as unreachable without telling.
This has been changed/fixed in master.
But as we don't have the quad-quad-icons for MW yet, we can't see that the provider has been marked as disabled in MiQ.

[2016-07-15 12:09] simon3z commented on #7690
@moolitayer can we close this?

[2016-07-15 12:10] simon3z commented on #8988
@moolitayer can you add some more information to this? What's the impact.

[2016-07-15 12:12] simon3z commented on #9037
@moolitayer what should we be doing here? If there's no connectivity we can't reach the OpenShift api endpoint.

[2016-07-15 12:27] Ladas commented on #8801
Add a new network provider page has been removed. Network provider gets added automatically with cloud provider. We can close this one

[2016-07-15 12:33] bdunne commented on #9837
@vanloswang That concern should be adressed by https://github.com/ManageIQ/manageiq/issues/9106.  This issue is that we are currently starting all services in one container.  If instead we have a pod of services each in their own container, we can remove the dependence on systemd and drop the `--privileged` flag.

[2016-07-15 12:40] mattmahoneyrh commented on #9789
After changing to the correct port and then clicking Validate, Refresh still did not occur.

[2016-07-15 12:46] epwinchell commented on #8502
@romanblanco Yes, no need to touch these right now.

[2016-07-15 12:54] pilhuhn commented on #9789
On 15 Jul 2016, at 14:40, mattmahoneyrh wrote:

And you are running the full evm:start and not only rails s?

[2016-07-15 14:06] jameswnl commented on #9693
@h-kataria My original setup is gone. I'll try to reproduce it today

[2016-07-15 14:17] simon3z commented on #9037
@moolitayer sorry I just noticed #9075 thanks.

[2016-07-15 15:41] simon3z commented on #9600
@moolitayer (and @dkorn if you have time) can you check what's the issue here?

@cben adding some logging [here](https://github.com/ManageIQ/manageiq/blob/9378edba77ea923d883fdff0d38fd3d427dc26c0/app/models/manageiq/providers/kubernetes/container_manager/event_catcher_mixin.rb#L50-L97) is not giving you enough information on what was returned by OpenShift?

[2016-07-15 19:42] #7690 closed

[2016-07-15 20:00] moolitayer commented on #8988
Updated first comment

[2016-07-15 20:49] mkanoor opened #9862 "Can't create dialogs"
After this PR https://github.com/ManageIQ/manageiq/pull/9423 got merged, can't create dialogs

should be - url = url_for(:action => 'dialog_form_field_changed', :id => "#{@record.id || 'new'}")

[2016-07-15 22:42] abellotti opened #9869 "change in API behavior"
with the move to having routes done in rails routes.rb, the API behaves differently,

GET /api/bad_collection

used to return a proper API json error hash with "Unsupported collection ..", now we get the extremely verbose html (rails) for bad route.

maybe we can have a trailing API route in routes.rb to catch those and we can throw the appropriate BadRequestError that we used do.

[2016-07-17 11:20] moolitayer commented on #9600
@miq-bot add_label providers/containers, bug

[2016-07-17 12:14] cben commented on #9600
I already logged there, and saw no uid returned *from kubeclient*; I wanted to be sure whether kubeclient is not getting it from openshift/k8s (which may be a silly question, I'm unfamiliar with how kubeclient works).

Now I run it again with @moolitayer and we saw that some node events got
`event.object.involvedObject = #<Kubeclient::Common::WatchNotice kind="Node", name="vm-test-03.example.com">

[2016-07-17 13:58] abonas commented on #9769
@miq-bot assign ammendonca

[2016-07-18 07:28] yaacov opened #9874 "Broken links in ems-providers show-list view"
**Description**
The show-list view of restful ems-providers has broken links, in the text below icon.

**What happen**
A link to the restful entity include the action (e.g. show):
`http://localhost:3000/ems_infra/<action>/<id>`
This links to none existing page

**What should happen**
A link to the restful entity does not include the action (e.g. show):
`http://localhost:3000/ems_infra/<id>`
This l

[2016-07-18 07:29] yaacov commented on #9874
@miq-bot add_label providers/containers, providers, ui, bug

cc @simon3z @moolitayer @zeari @zakiva

[2016-07-18 08:09] hhovsepy opened #9876 "Middleware: Redeploy undeployed archive: Status remains Disabled"
When redeploying undeployed archive file on EAP7 server, it still shows deployment as Disabled.

1. Upload some WAR archive into MiQ to be deployed on EAP7 server. After deployment it shows status Enabled.
2. Undeploy archive. It will show status as Disabled.
3. Redeploy archive. Wait for some time, refresh provider... Archive status is still Disabled. But in fact archive is deployed successfully

[2016-07-18 08:22] yaacov commented on #9874
@hayesr hi, can you look at this ?

[2016-07-18 09:06] abonas commented on #9876
@miq-bot add_label providers/hawkular
@miq-bot assign @ammendonca

[2016-07-18 09:10] abonas commented on #9876
@miq-bot add_label bug

[2016-07-18 09:11] abonas commented on #9876
@hhovsepy can you please check if the successful deployment/redeployment event is shown (or not) on the Timeline where all events show?

[2016-07-18 09:30] simon3z commented on #9874
@miq-bot assign yaacov

[2016-07-18 11:25] hhovsepy commented on #9876
From Timelines, as an Application Event Group, I can see only event for the initial deployment. Which is:
"EAP7
Event Type: hawkular_deployment.ok
Event Source: HAWKULAR
Provider: hayk-hawkular-services.bc.jonqe.lab.eng.bos.redhat.com
Message: Performed [Deploy] on a [Application] given by Inventory path [/t;hawkular/f;98d3b462-0b16-4c75-b682-714465ec2685/r;EAP7~~]
Middleware Resource: EAP7
Date T

[2016-07-18 12:38] abonas commented on #9876
@hhovsepy thanks for the investigation.
@ammendonca please check this. thank you

[2016-07-18 13:46] Jiri-Kremser commented on #9055
After 7 hours of debugging ;) I've added 2 likes of codes and it seems to be ok. 1 LoC/3.5hrs, not bad. I'll check, if it doesn't break anything and raise the PR

[2016-07-18 13:47] Jiri-Kremser commented on #9055
Can I help you somehow? I thought, it was because of the using the old schema.

[2016-07-18 13:49] abonas commented on #9055
@Jiri-Kremser I tagged you for investigating the original issue reported here (permissions/gtl view), I believe the issue that prevented @himdel from adding a provider was already solved by you :)

[2016-07-18 14:53] #9862 closed

[2016-07-18 15:11] ammendonca commented on #9876
I have been investigating this and it seems there are separate issues:

1) Once a deployment is removed, the agent fails to check it's availability/state and it doesn't get updated (so, if it was Enabled it will keep being reported as Enabled, if it was Disabled it will remain Disabled).

2) Doing a redeploy on a removed deployment, actually redeploys it (there are logs in the console registering

[2016-07-18 15:50] lpichler commented on #9843
@miq-bot assign lpichler

[2016-07-18 16:30] Jiri-Kremser opened #9892 "Missing quadicons for entities that use glyphs"
This is probably a regression, because it was happening before and successfully fixed. And it's back.

This happens on all grid views, tile views and on the left hand side in the accordion. Only for quadicons, the glyphs in the table are ok.

dev tools say: GET http://localhost:3000/images/fa%20fa-database 404 (Not Found)

screenshot:
![screenshot from 2016-07-18 18-24-56](https://cloud.githubuser

[2016-07-18 16:42] abonas commented on #9892
cc @martinpovolny @himdel

[2016-07-18 16:58] mtho11 commented on #9462
Here is demo of the validations:

![ops-params-gif](https://cloud.githubusercontent.com/assets/1312165/16923255/247484bc-4cce-11e6-9c2e-58105d41661b.gif)

[2016-07-18 17:04] mtho11 commented on #9462
Here is the demo of validation:

![ops-params2](https://cloud.githubusercontent.com/assets/1312165/16923406/f31835c0-4cce-11e6-89df-6bcad91a61c8.gif)

[2016-07-18 18:10] mattmahoneyrh commented on #9301
Not reproducible in latest MIQ version - closing.

[2016-07-18 18:10] #9301 closed

[2016-07-18 18:31] yaacov commented on #9874
fixed: https://github.com/ManageIQ/manageiq/pull/9875

[2016-07-18 18:31] #9874 closed

[2016-07-18 19:29] jameswnl commented on #9693
@h-kataria I just reproduced it with today's upstream master.

![screen shot 2016-07-18 at 3 28 05 pm](https://cloud.githubusercontent.com/assets/2421248/16927625/49372010-4cfc-11e6-9633-b3a962842c81.png)
![screen shot 2016-07-18 at 3 26 20 pm](https://cloud.githubusercontent.com/assets/2421248/16927624/4935dc82-4cfc-11e6-85aa-47446ec7111e.png)

[2016-07-18 19:47] h-kataria commented on #9693
@jameswnl from the title in both screen-shots it looks like they are different clusters, can you make sure you are using same cluster and upload new screenshots.

[2016-07-18 19:51] jameswnl commented on #9693
@h-kataria None of them shown up with data in Optimize page. But, yes, I'll screen shot the same one

[2016-07-18 19:52] jameswnl commented on #9693
Here you go,
![screen shot 2016-07-18 at 3 50 42 pm](https://cloud.githubusercontent.com/assets/2421248/16928219/882d14a2-4cff-11e6-8a70-e3f036ebc839.png)

[2016-07-18 20:42] martinpovolny commented on #9892
@hayesr, can you, please, take care of this?

[2016-07-18 20:43] martinpovolny commented on #9892
yes, regression, most likely recently merged quadicon refactoring by @hayesr

[2016-07-18 21:41] hayesr commented on #9892
Thanks for bringing it up @Jiri-Kremser

[2016-07-18 22:21] h-kataria commented on #9693
@jameswnl i ran with the db that you have provided, it appears that you do not have full day's perf data for Utilization charts to be displayed, see code block here https://github.com/ManageIQ/manageiq/blob/master/app/controllers/application_controller/performance.rb#L1082-L1089

[2016-07-19 00:19] catrobson commented on #9462
Any chance we can give an error message as part of the validation letting the user know what a valid range would be, right now we're leaving them to guess what numbers are valid which can be frustrating.  Here's the PatternFly styling for within a modal with error:  http://www.patternfly.org/pattern-library/forms-and-controls/forms/#_

[2016-07-19 05:49] abonas commented on #9462
I agree.  @mtho11 also, perhaps the dialog can be made less wide? it's just one numeric field, not that of a large input, so I think it will look better more compact.
@catrobson an additional difference between the above and pf style, is that here the buttons become disabled if something's wrong (I like it that way, it is also "guarding" from user errors) while in pf example they don't look disabl

[2016-07-19 06:03] abonas commented on #9876
@ammendonca thanks for the thorough check.
so it sounds like this is :
1. a bug that should be reported on the agent (and not miq) for removing a deployment without updating the state.
2. an additional bug in WF regarding redeploy of a removed deployment not showing up
cc @pilhuhn
@hhovsepy please see those findings above, I suggest opening relevant bugs to relevant projects/components and closing

[2016-07-19 08:08] abonas commented on #9892
@martinpovolny why is this closed while the fixing PR is still open?

[2016-07-19 10:11] martinpovolny commented on #9892
@abona: because I mixed to Quadicon related PRs. Reopening.

[2016-07-19 11:32] PanSpagetka commented on #9690
In #9537 this should be fixed. I tried it today and doesnt get any error.

[2016-07-19 12:46] mfoley commented on #9876
i would like to discuss how we handle bugs like this .... i will set up a quick etherpad and call ...

[2016-07-19 13:51] abonas commented on #9462
@mtho11 one more thing - the screenshots are very helpful, however they belong better in a PR that solves this issue. Please raise the PR (totally fine to mark as WIP if not ready for review/getting merged), and attach the screenshots there. it will also help others to learn how to do it / @pilhuhn to test it even if not 100% ready.

[2016-07-19 14:57] ammendonca commented on #9876
Further investigation on a vanilla wildfly (ie, without hawkular) shows that the same issue isn't present, undeploying & redeploying via the CLI. After that tested the same process, via CLI, in a Hawkular server and everything looked fine. This hints that the issue should be in the way the ruby-client/command-gateway perform the operations.

[2016-07-19 15:33] pilhuhn commented on #9876
On 19 Jul 2016, at 16:57, Alexandre Mendonça wrote:

Can you do one more test:
undeploy and/or redeploy from within MiQ on the managed Wildfly.
Wait until you see in WF console that something happened
Then go to the provider and press the refresh button.
Then after a bit of waiting, go back to the deployments and see if
the status changed.

[2016-07-19 15:56] bzwei opened #9919 "Need better way to initialize an event catcher runner"
The current way to initialize an event catcher runner make it difficult to prepare a runner for testing. Additional mocks are needed to configure the settings.

Even better if the settings can be modified between tests.

The problem was encountered in #9617 in the VMWare catcher runner test.

[2016-07-19 15:57] bzwei commented on #9919
cc @jrafanie

[2016-07-19 16:38] hhovsepy commented on #9876
For WFLY10 as well, it keeps showing Disabled after enabling and refreshing (~10 mins wait).

[2016-07-19 17:45] jameslabocki opened #9921 "Request for Kubernetes Application for ManageIQ"
While the docker image of ManageIQ is nice, many users of ManageIQ will presumably want to run the appliance on OpenShift and/or kubernetes since running ManageIQ in a container outside of the container scheduler itself is not the most efficient use of resources.

By running it within a container orchestrator ManageIQ could also gain benefits like self-healing, load balancing, rollout and rollback

[2016-07-19 17:46] catrobson commented on #9462
Yes, we don't normally disable the submit button in PatternFly, but we don't really give much guidance around this.  I'm ok with disabling, but we really should give some guidance on what is correct - otherwise you end up in a infinite loop of "enter number - nope! still not enabled".  :)

[2016-07-19 19:25] martinpovolny commented on #9690
@jameswnl : can you confirm it is fixed, please?

[2016-07-19 19:26] jameswnl commented on #9690
sure Martin, I'll try later today.

[2016-07-19 20:10] jameswnl commented on #9690
@martinpovolny I am still hitting the same problem. FYI, this is my local setup on Mac, in case that matters.

See the screen shots,
<img width="1224" alt="screen shot 2016-07-19 at 4 02 48 pm" src="https://cloud.githubusercontent.com/assets/2421248/16964779/354f352c-4dcb-11e6-9437-0d2cf36d5a6c.png">
<img width="1121" alt="screen shot 2016-07-19 at 4 02 56 pm" src="https://cloud.githubusercontent.