[2018-08-20 11:39] gmcculloug commented on #15743
Fixed with PR https://github.com/ManageIQ/manageiq-ui-classic/pull/3400

[2018-08-20 11:39] #15743 closed

[2018-08-21 09:27] cben commented on #14238
This is great documentation :+1:
Not sure if this is 100% complere or there was any more work intended here, anyway we're no longer improving this, closing.
@miq-bot close

[2018-08-21 09:28] cben commented on #14238
@miq-bot close-issue

[2018-08-21 09:29] #14238 closed

[2018-08-25 08:28] LiginGeorge commented on #17879
Hi,

Any one please let me know how to see the credentials option in the customization tab

[2018-08-27 12:05] balajiuma2736 opened #17906 "Embedded Ansible Loop on activation."
Embedded ansible not activating with Gaps-4.

[2018-08-29 12:14] ccesario opened #17921 "User ACL/TAG - VMware Networks"
Currently we can usage TAGs to restrict users to access some components in VMware Infrastructure (folders, vms, datastore), but there is no UIoption to create TAG VLAN networks (Port Groups created in vSwitch). Is is possible do it by CLI code.

[http://talk.manageiq.org/t/user-acl-tag-vmware-networks/3734/4](http://talk.manageiq.org/t/user-acl-tag-vmware-networks/3734/4)

Is is possible add UI op

[2018-08-30 06:55] #17879 closed

[2018-08-30 06:56] LiginGeorge commented on #17879
found the solution

[2018-09-06 21:37] djberg96 opened #17953 "Deprecation warnings - initialize and config are deprecated"
Currently seeing these deprecation warnings when I run specs locally:

[code]

[2018-09-07 08:45] himdel commented on #17953
Also, does anybody know *when* this will be removed?

Seems like the UI is still completely depending on `get_config` for Ops > Settings.

[code]

[2018-09-07 09:42] ahrechushkin opened #17955 "Information about name of vlan by vm"
Hi, i have the same problem, can you help me?

http://talk.manageiq.org/t/rhev-vlan-information-for-vm/2139

[2018-09-07 14:34] Fryguy commented on #17953
I deprecated it ages ago in the hopes that the deprecation warning would force the other teams to stop using it :smile:, but additionally so that new code wouldn't use it.  Eventually we should get rid of it because it's an unnecessary overhead.  op_controller is really the only code that uses it, but the bigger problem is ops_controller needs the Vmdb::Config class itself (and thus get_config to

[2018-09-07 15:12] himdel commented on #17953
Agreed Vmdb::Config is the bigger problem, especially saving it in the session - which makes me think this will not be such an easy transition.

(I mean, can we modify Settings, save it in session without the settings change affecting anything yet, and then restore it from session and save so that it does?)

That's why I'm asking about the timeline.

[2018-09-10 15:11] tjyang opened #17961 "[DEPRECATION] This gem (trollop)has been renamed to optimist and will no longer be supported. Please switch to optimist as soon as possible."
Hi
Looks like references to  **trollop** need to be replaced with **optimist** gem.
This warning message is from Gapri-4 to Gapri-5 upgrade (R1), See R2 also.
Warning message displayed every time when running /usr/local/bin/appliance_console command.

R1: [MIQ VMWare Appliance Upgrade](https://docs.google.com/document/d/1wRN2uxkKespKsWeAuCryHhAsQFf7BJfatqeGnKs4rtM/edit#heading=h.iekjb8s16mks)

R2:

[2018-09-13 00:48] magick93 opened #17984 "Monitor K8 - error message is not fully readable"
Hello

I'm new to ManageIq, so I apologize if there is another way to view this information.

I'm trying to monitor Kubernetes using ManageIq, and I have connected my k8 cluster, but I appear to not have given the K8 service account with the correct permissions, or something similar.

In the ManageIq web console I am seeing the start of an error, but am unable to read the complete error - see belo

[2018-09-18 16:07] d-m-u opened #17993 "@attributes between Rails 5.0.0 and 5.0.1 includes virtual attributes"
The list of attributes after a save or update_attributes erroneously includes the virtual attributes since ages ago, like https://gitter.im/ManageIQ/manageiq/core/archives/2017/01/05.

This becomes an issue when we do service subtask creation for a bundled service (https://github.com/ManageIQ/manageiq/pull/17912). In that PR we're just removing the virtual attributes as a band-aid but really we sh

[2018-09-19 05:37] gildub opened #17997 "Providers depending on fog-core need to be *all* bumped to v2+"
For the providers having a dependency on fog-core, being able to bump fog-core version to 2+ require to do all of them in an atomic way (everything or nothing).

Fog-core 2+ main impact is around namespace: `Fog::<Service Name>::OpenStack` for instance becomes `Fog::OpenStack::<Service Name>`. This is not mandatory but will generate deprecation messages. Therefore this can be done in 2 steps, bump

[2018-09-19 07:37] ahrechushkin commented on #17955
up

[2018-09-19 10:26] aufi commented on #17997
:+1:

[2018-09-20 11:52] naktu commented on #17738
yes in latest version I has some problem.

[2018-09-20 12:48] skunkr commented on #17738
Same problem i had on gaprindashvili-3.
Actually i have installed 4, hoping the issue has be sorted out...

On Thu, Sep 20, 2018 at 2:52 PM, Dmitry <notifications@github.com> wrote:

--
Best regards, Leo David

[2018-09-20 13:52] dbarreda commented on #17738
gaprindashvili-4 had the same issue for me.

Let me know if you have a different result.

[2018-09-20 21:25] mkanoor opened #18005 "For Ansible Tower service include extra_vars needed to connect to our REST API"
Our Ansible Tower Service doesn't pass in the extra vars necessary to connect to the REST API end point.
https://github.com/ManageIQ/manageiq/blob/52f4215eb1350e01e362ba34577d1ad5f30c3304/app/models/service_ansible_tower.rb#L12

These extra vars are under the key manageiq

manageiq
  - api_token
  - api_url
  - user
  - group
  - X_MIQ_Group
  - service
  - request_task

The request_task allows us

[2018-09-20 21:26] mkanoor commented on #18005
@bzwei @tinaafitz
Please review this will allows us to share playbooks between embedded ansible and tower job templates using the same ext of extra vars

[2018-09-21 17:40] gmcculloug commented on #18005
Briefly discussed with @lfu and she is going to look into solving this.

[2018-09-25 11:35] Glutexo commented on #17307
Everything is merged. Closing this.

[2018-09-25 11:35] #17307 closed

[2018-10-01 13:45] carbonin commented on #17018
Advanced config changes shouldn't require a restart. Closing this

[2018-10-01 13:45] #17018 closed

[2018-10-01 18:32] bdunne commented on #17906
Duplicate of https://github.com/ManageIQ/manageiq/issues/17738

[2018-10-01 18:32] #17906 closed

[2018-10-03 14:45] adamjpavlik commented on #17274
The default /manageiq/docker-assets/appliance-initialize.sh only starts memcached and postresql if the DB has not been initialized.  See line 18.

I created local appliance-initialize.sh that include start commands for the aforementioned services if the DB is initialized.  My local Dockerfile includes a Copy of this new file that overwrites the base image default.

[2018-10-03 15:05] #12035 closed

[2018-10-03 19:36] ajlozier opened #18055 "Add endpoint to REST API to invalidate REST API token"
While it is possible using the API to retrieve an authentication token:

http://manageiq.org/docs/reference/latest/doc-REST_API/miq/#using-authentication-tokens

There does not seem to be a method to invalidate this token.

I believe an endpoint should be added, e.g. api/auth/invalidate which would invalidate a token.

If the maintainers agree this is a worthwhile feature I am willing to take a st

[2018-10-03 20:19] ajlozier commented on #18055
Disregard. Just found this can be accomplished with HTTP DELETE

[2018-10-03 20:19] #18055 closed

[2018-10-04 21:28] jrafanie commented on #15036
Note, this is on 5-1-stable but as of 5.1.6 is not yet released.  Awaiting 5.1.7.  We'll need to ride 5-1-stable for now.

https://github.com/rails/rails/commit/6ef736625eddf6700f2e67f7849c79c92381abee

[2018-10-12 14:42] Sahil-Ajmera opened #18091 "Adding Providers to ManageIQ Installation"
How to add providers to ManageIQ installation ? I need my installation to already have connection to lets say Ansible tower when ManageIQ boots up

[2018-10-15 16:25] d-m-u opened #18098 "why is the service model's request type set to service_reconfigure ?"
I think the Service model shouldn't have a def request type that always returns ServiceReconfigureRequest:
https://github.com/ManageIQ/manageiq/blob/def0da55c254bd7386b1e1bd9c98f618e7ea7277/app/models/service.rb#L145

or a request_type that is ```service_reconfigure```

but it'd be nice to get buy in from @tinaafitz and especially @mkanoor before I change anything about that. It feels weird.

[2018-10-15 19:11] lpichler opened #18100 "Dynamic product features according to tenants"
# Goal :soccer:

We need to be able accomplish  this request: "Enable this concrete **product feature** only for **tenants X,Y** in **any user**"

NOTE: **product feature** - is permission to allow user perform any operation like a add, edit, copy, delete, ...

# New names
**Tenant Root Feature**
**Dynamic Tenant Product Feature**

# How :bulb:
We have **user's roles** and we have defined tree of

[2018-10-17 06:57] isaaccarrington commented on #17274
I just pulled today and got the same issue on restart

[code]

[2018-10-18 19:32] d-m-u opened #18110 "retirement initiator"
Since we're trying to take out the system initiator as part of [the changes to not use User.current_user in retirement](https://github.com/ManageIQ/manageiq/pull/17951) can the initiator that is currently set to ```user``` get set to the actual userid of the person making the request from the UI? I'm thinking this could happen in process_tasks, since that's the code path from the UI.

Any thoughts

[2018-10-18 20:25] #18005 closed, assigned to gmcculloug, lfu

[2018-10-19 12:47] #18110 closed

[2018-10-19 12:47] d-m-u commented on #18110
Closed in favor of https://github.com/ManageIQ/manageiq/pull/18113.

[2018-10-22 20:08] d-m-u opened #18119 "ruby 2.5.1 struct size error"
ERROR -- : Unexpected exception during Dalli request: TypeError: struct ApplicationController::Performance::Options not compatible (struct size differs)
ERROR -- : /Users/duhlmann/.rvm/gems/ruby-2.5.1/gems/activesupport-5.0.7/lib/active_support/core_ext/marshal.rb:4:in 'load'

[2018-10-22 20:08] d-m-u commented on #18119
@jrafanie this has your name all over it

[2018-10-23 09:16] eselvam commented on #17274
You need to change the file in two location in docker container: /usr/bin and /var/www/miq/vmdb/docker-assets. First spin up the manageiq with docker then use docker cp to copy the original file to Host then modify as per Guilrom and copy back to docker instance using same docker cp. Once copied back then restart the container.  It should be working.  I tested this approach and working fine.

[2018-10-23 10:40] eselvam commented on #17274
After making above changes, the httpd is not starting. we have to start it manually to access the manageiq web page.

/usr/sbin/httpd -DFOREGROUND &

I think we are missing some config here not sure how to find it. still checking.  It is happening for only docker images.  The vmware image i.e ova or ovf works fine.

[2018-10-24 05:31] gildub opened #18125 "121360"

[2018-10-25 11:54] tjyang commented on #17738
Just another me too.
Fresh Gapri-5 (standalone,non-regional) appliance has same issue for me also.

[2018-10-25 12:12] tjyang commented on #18091
Hi @Sahil-Ajmera

Welcome to ManageIQ community.

Following is a quick screenshot for adding a external AWX/Tower instance as a provider.

![image](https://user-images.githubusercontent.com/378638/47499136-d3490380-d824-11e8-8884-3808a91b7145.png)

Your question is not an  issue/bug and it  should be closed.  Please  redirect the question to http://talk.manageiq.org/

[2018-10-25 12:16] tjyang commented on #17961
@et3044383, Thanks for the fix.

[2018-10-25 12:16] #17961 closed

[2018-10-25 13:04] himdel commented on #18125
@miq-bot close_issue

We do not support 121360, sorry :)

[2018-10-25 13:05] #18125 closed

[2018-10-25 13:11] himdel opened #18130 "ExtManagementSystem: Multiple columns called "Total Memory""
Base a report on Providers (any kind other than performance), and in Available Fields, there is "Total Memory" twice:

![bad](https://user-images.githubusercontent.com/289743/47502195-b4fbfb80-d856-11e8-8902-895d730d88bf.png)

This is because one is `total_memory` and the other is `aggregate_memory` (both fields on `ext_management_system`) table.

[code]

Looks like this boils down to...

[code]

[2018-10-26 18:09] d-m-u opened #18138 "ansible service retirement errors on logging..."
If https://github.com/ManageIQ/manageiq/blob/master/app/models/service_ansible_playbook.rb#L178 fails, the retirement will fail on the logging messages. This issue is for me to remember to ask @tinaafitz how she wants to handle that.

[2018-10-29 07:13] gildub commented on #17997
All projects are now supporting fog-core to version at least up to 2.1.0.

[2018-10-29 07:13] #17997 closed

[2018-10-30 05:17] kbrock commented on #15111
@Fryguy I'm curious if we could fix this in a similar way to how rails fixes it - they check that it is a polymorphic association and then skip validation. It sure modifies a bunch of methods and I'm not sure when we'll be pointing to rails 6.x (think this is when it it will merge)
see solution https://github.com/rails/rails/commit/f6e3ca515df97088315eef8905bf2bf3ec8ebbcc

suggesting just closing

[2018-11-01 00:08] #13678 closed

[2018-11-01 13:09] jvlcek commented on #3458
I believe this can be closed

[2018-11-01 13:09] jvlcek commented on #4359
I believe this can be closed

[2018-11-01 13:09] #8624 closed

[2018-11-01 14:07] djberg96 commented on #3458
@jvlcek Why, has it been completed?

[2018-11-01 15:12] jvlcek commented on #3458
@djberg96 Well it should have been closed when we went to 2.9.7 back in 2016. :)

Back in 2015/2016 I did much of the work to move to 2.9.7 and Marcel finished it up.

But now since 3.0.1 is available this issue does seem to be relevant again.

So, you are correct, it should not be closed. It should be reassigned to someone on the provider team.

@bronaghs  Please reassign to someone on the Cloud

[2018-11-01 15:21] jvlcek commented on #3458
This should be closed in favor of https://github.com/ManageIQ/manageiq-providers-amazon/issues/465

[2018-11-01 15:57] djberg96 commented on #3458
@jvlcek Ok, agreed.

[2018-11-01 19:43] #3458 closed

[2018-11-01 19:48] djberg96 commented on #18130
I'm guessing this is a vmware thing:

https://www.vmware.com/support/developer/converter-sdk/conv51_apireference/memory_counters.html

Memory Total = Aggregate host machine memory - (VMkernel memory + Service Console memory + other service memory)

Then again maybe I'm way off. Can someone confirm?

[2018-11-01 19:54] djberg96 commented on #18119
Can you debug what the `source` and `proc` are?

[2018-11-01 19:56] d-m-u commented on #18119
Yeah, sorry @djberg96, I think this can be closed cause I haven't managed to reproduce it since.

[2018-11-01 19:56] #18119 closed

[2018-11-05 10:42] kruge002 commented on #1226
+1
Weird that this issue is already reported in 2014 and since than nobody has done something about it.
There is a bug report for this at CloudForms Bugzilla too but nobody seems to be interested to fix this either: https://bugzilla.redhat.com/show_bug.cgi?id=1539507

[2018-11-07 19:45] saulotoledo commented on #17328
We have several PRs related to this issue in several projects. They are listed at https://github.com/ManageIQ/guides/pull/303

[2018-11-09 04:44] skunkr commented on #17738
Same thing with G6. Is there any interest in solving this issue ?

[2018-11-09 04:48] skunkr opened #18182 "Ansible Tower workflows"
Hi,
It seems that even latest 6 version does not support tower workflows. Any interest in adding this feature ?
Thank you !

Leo

[2018-11-12 13:18] martinpovolny commented on #17675
@Fryguy, @abellotti : as seen in the description @skateman created a rails engine with the decorators. Any further thoughts on this? Or other suggestions how to move this forward?

[2018-11-12 14:10] danieldemoraisgurgel opened #18188 "XenServer and Proxmox Support"
Any possibility of adding XenServer and Proxmox to support in ManageIQ?

[2018-11-12 17:16] cben commented on #17201
@miq-bot remove-label stale
https://github.com/ManageIQ/manageiq-providers-amazon/pull/498
And I want to add a test that the full thing round-trips...

[2018-11-14 15:48] tiraboschi opened #18197 "Hammer-1-Beta2 appliance for oVirt fails to load into oVirt"
If I try to load http://releases.manageiq.org/manageiq-ovirt-hammer-1-beta2.ova into oVirt I get:
[code]

[2018-11-14 15:50] sandrobonazzola commented on #18197
looks like OVF is missing memory parameter

[2018-11-15 16:24] JPrause commented on #18188
@Fryguy can you review.

[2018-11-15 16:26] JPrause commented on #18182
@bdunne can you review

[2018-11-15 17:39] bdunne commented on #18182
@gmcculloug and @jameswnl would be more familiar with these plans

[2018-11-15 17:57] gmcculloug commented on #18182
Tower Workflow support for Service Catalogs is being added in the upcoming Hammer release.  You can check it out in the beta here: http://manageiq.org/download/

There is work happening now to add support at the Automate method layer as well: https://github.com/ManageIQ/manageiq-automation_engine/pull/265

[2018-11-15 18:11] JPrause commented on #18182
@skunkr does the comment above answer your question.
If yes, please close this issue.

[2018-11-15 19:18] JPrause commented on #18091
@Sahil-Ajmera can you review the comment above and then close this issue.

[2018-11-15 19:21] JPrause commented on #17984
@magick93 your question would be better if asked here: http://talk.manageiq.org/
Since this is not an issue/bug and it should be closed.

[2018-11-15 19:29] JPrause commented on #17921
It appears that your question was answered here: http://talk.manageiq.org/t/user-acl-tag-vmware-networks/3734/4

Since this question really belongs on talk.manageiq.org please close this issue.

[2018-11-15 19:35] JPrause commented on #17873
@AllenBW please review and redirect if necessary.

[2018-11-15 20:05] cben commented on #17295
Also implemented in https://github.com/ManageIQ/manageiq-providers-redfish/pull/34.

[2018-11-15 20:43] AllenBW commented on #17873
@JPrause @eclarizio

[2018-11-15 20:52] miha-plesko commented on #17201
Ouch, thanks for noticing @cben . So currently we are able to distinguish between regex and plain string just directly by type to know what kind of comparison to perform, see [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/event_stream.rb#L64-L74); it's `typ == event_type` vs `typ.match(event_type)`.

Perhaps we could workaround it like you say, by passing also regexes as string

[2018-11-16 08:33] tadeboro commented on #17201
Storing regular expressions in string form is something I would prefer to avoid. There are two main reasons for this:

 1. When settings get loaded, yaml loader automatically verifies the regular expression validity. This makes sure we have a valid regular expression early on the ManageIQ startup process.
 2. Regular expressions are parsed and constructed only when the settings are loaded and not

[2018-11-16 17:13] djberg96 commented on #11519
@Fryguy @chessbyte Did we ever go anywhere with this? I thought we talked about Elastic at some point, not sure what came of it.

[2018-11-16 18:59] JPrause commented on #17595
@rakeshrajwar here is some info that may help:
https://github.com/ManageIQ/manageiq/tree/capablanca
https://github.com/ManageiQ/guides

Can you close this issue.

[2018-11-16 19:03] JPrause commented on #17534
@SachinJagtap93 can you close this issue as it's better to submit here: talk.manageiq.org

[2018-11-16 19:20] JPrause commented on #17443
@jrafanie is this still an open issue. If not can you close it.

[2018-11-16 19:21] JPrause commented on #17441
@jameswnl is this still an open issue? If not, can you close it.

[2018-11-16 19:59] jameswnl commented on #17441
Yep, we can close this.

[2018-11-16 19:59] #17441 closed

[2018-11-16 20:19] #17443 closed

[2018-11-16 21:19] carbonin commented on #17738
I think this was solved in the Hammer RC-1 build.

I believe one of the main fixes that allows this to work in Hammer is #17407 which has been requested for Gaprindashvili backport.

[2018-11-16 21:19] carbonin commented on #17600
I think this was solved in the Hammer RC-1 build.

I believe one of the main fixes that allows this to work in Hammer is #17407 which has been requested for Gaprindashvili backport.

[2018-11-16 21:20] carbonin commented on #17600
I think this is tracking the same issue as #17738 going to close this as a duplicate.

[2018-11-16 21:20] #17600 closed

[2018-11-20 09:13] #16945 closed

[2018-11-20 09:14] #16545 closed

[2018-11-20 09:15] #14274 closed

[2018-11-20 16:24] juliancheal opened #18222 "Remove all instances of towhat"
We've deprecated `towHat` and replacing it with `resource_type`. There are many instances of this across not only ManageIQ repo, but also the Schema repo, and the UI Classic (and others?).

These are the order we'll need to merge the PRs in order to reduce Travis failures and therefore sad developers.

* https://github.com/ManageIQ/manageiq-schema/pull/311 - removes 'towhat` column in database.

*

[2018-11-21 19:49] JPrause commented on #17447
@gianpietro1 sorry for the late response.
Can you open this question here: http://talk.manageiq.org/
You'll probably get a better response to your question there.
If you could also close this issue.

[2018-11-21 19:51] JPrause commented on #17396
@slemrmartin is this still an open issue? If not, can you close it.

[2018-11-21 19:53] JPrause commented on #17388
@kruge002 is this still an issue for you.
If not, can you close this issue.

[2018-11-21 19:57] JPrause commented on #17339
@mkalfon this issue seems to be resolved now that the BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1571223 is resolved. Can you close this issue.

[2018-11-21 19:59] JPrause commented on #17338
@juliancheal is this still an open issue? If not, can you close it.

[2018-11-21 20:04] JPrause commented on #17316
@ru87 is this still an open issue? If not, can you close it.

[2018-11-21 20:07] JPrause commented on #17134
@kekimiann is this still an issue for you? If not, please close it.

[2018-11-21 20:37] JPrause commented on #17047
@Zorrom this would be better addressed if you open your question here: http://talk.manageiq.org/
Can you close this issue.

[2018-11-21 20:38] JPrause commented on #16935
@romanblanco is this still an open issue. If not, can you close.

[2018-11-21 20:39] JPrause commented on #16862
@sshingarapu your question would be better answered here: http://talk.manageiq.org/
Can you close this issue.

[2018-11-21 20:40] JPrause commented on #16857
@jvlcek can you close this issue.

[2018-11-21 20:41] JPrause commented on #16815
@child85 can you close this issue.

[2018-11-21 20:43] JPrause commented on #16778
@bdunne is this still an open issue for discussion, if not, can you close it.

[2018-11-21 20:45] JPrause commented on #16759
@giofontana can you close this issue.

[2018-11-21 20:46] JPrause commented on #16730
@gbaufake as the referenced BZ issue was closed, can you also this issue.

[2018-11-21 20:47] JPrause commented on #16696
@subexawx is this still an open issue for you. If not, can you close it.

[2018-11-21 20:50] JPrause commented on #1075
@martinpovolny seems this is a stale issue. Can you close.

[2018-11-21 20:51] JPrause commented on #1074
@mandeepbal seems this issue is stale, can you close.

[2018-11-21 20:53] JPrause commented on #1064
@dclarizio with this issue beign stale, can you look at Nick's question. Close if necessary.

[2018-11-21 20:54] #16778 closed

[2018-11-21 20:54] JPrause commented on #615
@martinpovolny seems this issue is stale and I see an associated merged PR. Can you close this issue.

[2018-11-21 21:48] #16730 closed

[2018-11-21 21:52] dclarizio commented on #1064
We're no longer using angular so will rewrite, eventually, in react.  Closing.

[2018-11-21 21:52] #1064 closed

[2018-11-22 07:00] #17955 closed

[2018-11-22 07:10] mkalfon commented on #17339
Mors is no longer at RH

Adding *Sudhir*,
Sudhir this is an upstream MIQ  5.10 bug to close, we are not having
upstream envs any more.
If you have someone in the team that has upstream to validate it?

On Wed, Nov 21, 2018 at 9:57 PM John Prause <notifications@github.com>
wrote:

--

Daniel Gur
Associate Manager, RHV QE
Red Hat Israel
dagur@redhat.com    IM: dagur
Phone:+972-97692196 <+972%209-769

[2018-11-22 09:50] kruge002 commented on #17388
@JPrause The Gaprindashvili release shows a small "i" icon in front of each input field. When hovered it displays the configured Help text for the corresponding input field. This resolves my problem with the missing "notes" option for the Service Dialog input fields as seen in the Fine release.

[2018-11-22 09:50] #17388 closed

[2018-11-22 11:47] ru87 commented on #17316
@JPrause we haven't still receveid any feedback on the issue

[2018-11-22 12:59] #16857 closed

[2018-11-22 18:43] danieldemoraisgurgel commented on #18188
Any news?

[2018-11-23 10:38] #615 closed

[2018-11-23 10:38] #1075 closed

[2018-11-27 11:37] giofontana commented on #16759
Done.

[2018-11-27 11:37] #16759 closed

[2018-11-27 20:46] JPrause commented on #358
@spyrexd can you close this issue.

[2018-11-27 20:48] JPrause commented on #527
@blomquisg can you close this issue.

[2018-11-27 20:49] JPrause commented on #1007
@dclarizio can you close this issue.

[2018-11-27 20:51] JPrause commented on #1151
@martinpovolny is this still a valid issue that you'd like to remain open? If not, please close.

[2018-11-27 20:52] JPrause commented on #1192
@dclarizio it looks like this issue can now be closed.

[2018-11-27 20:53] JPrause commented on #1199
@mkanoor is this still a valid issue? In not, can you close it.

[2018-11-27 20:57] JPrause commented on #1230
@h-kataria is this still a valid issue? If not, can you close it.

[2018-11-27 20:58] JPrause commented on #1366
@cankarm can you close this issue.

[2018-11-27 20:58] JPrause commented on #1379
@dclarizio looks like this issue can be closed.

[2018-11-27 21:02] JPrause commented on #1537
@seandst can you close this issue, that is unless you'd like it to remain open.

[2018-11-27 21:03] JPrause commented on #1543
@rananda can you close this issue. This bugzilla issue was also closed due to insufficient data.

[2018-11-27 21:04] JPrause commented on #1581
@martinpovolny is this still a valid issue? If not, can you close it.

[2018-11-27 21:05] JPrause commented on #1598
@jkrocil can you close this issue. The bugzilla issue was also closed as won't fix.

[2018-11-27 21:06] JPrause commented on #1605
@dclarizio is this still a valid issue? If not, can you close it.

[2018-11-27 22:22] mkanoor commented on #1199
We are not pursuing this anymore instead we allow customers to import a Domain from a Git Repository using a specific branch.

[2018-11-27 22:22] #1199 closed

[2018-11-28 08:37] jkrocil commented on #1598
Closing since BZ was closed as "won't fix". :+1:

[2018-11-28 08:37] #1598 closed

[2018-11-28 09:08] martinpovolny commented on #17675
@Fryguy, @abellotti : as seen in the description @skateman created a rails engine with the decorators. Any further thoughts on this? Or other suggestions how to move this forward?

Can @skateman proceed with creating the repo and extracting the decorators?

[2018-11-28 09:56] cankarm commented on #1366
@JPrause sure. Probably is not relevant any more.
Closing this issue.

[2018-11-28 09:56] #1366 closed

[2018-11-29 15:43] juliancheal commented on #17338
@JPrause Yes it's still open.

[2018-11-29 16:18] #1007 closed

[2018-11-29 16:19] #1192 closed

[2018-11-29 16:19] #1379 closed

[2018-11-29 16:19] #1605 closed

[2018-11-29 19:49] lfu opened #18249 "Hammer-1-rc1 failed to add an ansible repository"
After enabling embedded ansible server role, adding a new ansible repository failed with a refresh error.

[code]

[2018-11-29 22:35] spyrexd commented on #358
Closing as requested

[2018-11-29 22:35] #358 closed

[2018-11-30 06:22] sachinjagtap41 opened #18253 "Show instance list displays the last visited instance details"
**Issue:** Show instance list displays the last visited instance details
**Steps to Reproduce:** Please refer the attached GIF image for the detailed issue.

![instanceissue](https://user-images.githubusercontent.com/22887386/49272079-3a964b00-f496-11e8-82d8-0dc363d4e0c5.gif)

[2018-11-30 07:02] sachinjagtap41 opened #18254 "Searching the added provider and clicking on Compute->Clouds->Providers redirects to the same page"
**Issue:** Searching the added provider and clicking on Compute->Clouds->Providers redirects to the same page.

**Actual Result:** Find the attachment for the detailed information about the Issue.

![compute_search-provider](https://user-images.githubusercontent.com/22887386/49273707-e2624780-f49b-11e8-9a89-cda9ed7cd387.gif)

[2018-11-30 16:05] Ce2c opened #18255 "Reports IDs from API"
Hi,
I got some problem of understanding about the IDs of a specific report.

- I explain the case : I'm working particularly on Containers and i want to retrieve, from the ManageIQ API, reports about Containers (Exemple : Nodes by CPU usage) . In order to run and to get this specific report, i need its ID but when i'm looking for all reports available, there are atleast 110 reports. I know there i

[2018-11-30 18:53] JPrause commented on #4777
@mzazrivec if this issue is no longer relevant please close.

[2018-11-30 18:53] JPrause commented on #4780
@mzazrivec if this issue is no longer relevant then please close.

[2018-11-30 18:54] JPrause commented on #4833
@Ladas if this issue is no longer relevant then please close.

[2018-11-30 18:56] JPrause commented on #4883
@abonas it appears this issue can now be closed. Can you close.

[2018-11-30 18:56] JPrause commented on #4902
@Ladas if this issue is no longer relevant then please close.

[2018-11-30 18:57] JPrause commented on #5067
@psav it appears this is now resolved and can be closed. Can you close.

[2018-11-30 18:58] JPrause commented on #5197
@Ladas if this issue is no longer relevant then please close.

[2018-11-30 18:59] JPrause commented on #5383
@jerryk55 if this issue is no longer relevant then please close.

[2018-11-30 19:00] JPrause commented on #5547
@carbonin it appears this issue is now resolved. Can you close.

[2018-11-30 19:01] JPrause commented on #5643
@Ladas if this issue is no longer relevant then please close.

[2018-11-30 19:02] JPrause commented on #5745
@theute if this issue is no longer relevant then please close.

[2018-11-30 19:02] JPrause commented on #5813
@blomquisg as this is now resolved, can you close.

[2018-11-30 19:03] JPrause commented on #5861
@kincl if this issue os no longer relevant can you please close.

[2018-11-30 19:04] JPrause commented on #5876
@bdunne it appears this issue is now resolved, can you close.

[2018-11-30 19:05] JPrause commented on #5907
@mzazrivec if this issue is no longer relevant can you please close.

[2018-11-30 19:06] JPrause commented on #5929
@abonas if this issue is no longer relevant can you please close.

[2018-11-30 19:06] JPrause commented on #5973
@romaintb if this issue is no longer relevant can you please close.

[2018-11-30 19:07] JPrause commented on #6021
@carbonin if this issue is no longer relevant can you close.

[2018-11-30 19:08] JPrause commented on #6052
@Boujemaa0 seems this issue may now be resolved. If so, can you please close.

[2018-11-30 19:09] JPrause commented on #6134
@01000101 if this issue is no longer relevant can you please close.

[2018-11-30 19:10] JPrause commented on #6135
@01000101 if this issue is no longer relevant can you please close.

[2018-11-30 19:11] JPrause commented on #6211
@martinpovolny it appears this issue may now be resolved. If so, can you please close.

[2018-11-30 19:12] JPrause commented on #6222
@itamarh if this issue is no longer relevant can you please close.

[2018-11-30 19:13] JPrause commented on #7329
@bronaghs is this issue is no longer relevant can you please close.

[2018-11-30 19:14] JPrause commented on #7285
@alongoldboim is this issue is no longer relevant can you please close.

[2018-11-30 19:14] JPrause commented on #7283
@bdunne is this issue is no longer relevant can you please close.

[2018-11-30 19:15] JPrause commented on #7272
@chrisgreene is this issue is no longer relevant can you please close.

[2018-11-30 19:16] JPrause commented on #7256
@dkorn it appears this issue is now resolved. Please close.

[2018-11-30 19:16] JPrause commented on #7231
@niyazRedhat is this issue is no longer relevant can you please close.

[2018-11-30 19:16] JPrause commented on #7227
@akarol is this issue is no longer relevant can you please close.

[2018-11-30 19:17] JPrause commented on #7166
@gildub is this issue is no longer relevant can you please close.

[2018-11-30 19:17] JPrause commented on #7129
@abonas is this issue is no longer relevant can you please close.

[2018-11-30 19:17] JPrause commented on #7061
@luaps is this issue is no longer relevant can you please close.

[2018-11-30 19:18] JPrause commented on #7042
@gtanzillo is this issue is no longer relevant can you please close.

[2018-11-30 19:35] carbonin commented on #5547
No, this hasn't been resolved. The updates tab is still present in both Hammer RC2 and master.

Where did you see this fixed @JPrause ?

[2018-11-30 19:41] carbonin commented on #6021
Couldn't reproduce this one on hammer RC2, closing

[2018-11-30 19:41] #6021 closed

[2018-11-30 19:43] JPrause commented on #5547
Sorry @carbonin was looking at another issue. Thanks for removing the stale label. :+1:

[2018-11-30 21:59] kincl commented on #5861
Sure thing

[2018-11-30 21:59] #5861 closed

[2018-12-02 04:30] itamarh commented on #6222
no idea if still relevant. closing.

[2018-12-02 04:30] #6222 closed

[2018-12-02 09:16] abonas commented on #7129
I don't know if this is still relevant or not, I've not been working with miq for almost a year now.

[2018-12-02 09:16] abonas commented on #5929
I don't know if this is still relevant or not, I've not been working with miq for almost a year now.

[2018-12-02 09:17] #4883 closed

[2018-12-02 09:17] #7129 closed

[2018-12-02 09:17] #5929 closed

[2018-12-03 07:16] #4780 closed

[2018-12-03 07:16] #4777 closed

[2018-12-03 07:38] theute commented on #5745
I have no idea if that's still an issue or not as I'm not using ManageIQ anymore, but will close

[2018-12-03 07:38] #5745 closed

[2018-12-03 09:18] #5643 closed

[2018-12-03 09:19] #5197 closed

[2018-12-03 09:19] #4902 closed

[2018-12-03 09:20] #4833 closed

[2018-12-03 13:43] psav commented on #5067
Confirmed

[2018-12-03 13:43] #5067 closed

[2018-12-04 13:42] #5973 closed

[2018-12-04 20:40] JPrause commented on #6978
@agrare before I ask the reporter to close, is this issue still relevant? If yes, who should be assigned.

[2018-12-04 20:42] JPrause commented on #6968
@dajohnso @erjohnso is this issue still relevant. If yes, can you remove the stale label so it gets another lease on life.

[2018-12-04 20:43] JPrause commented on #6955
@lehinevych as the reporter, can you close this issue.

[2018-12-04 20:44] JPrause commented on #6912
@abonas @simon3z is this issue still relevant? If yes, can you remove the stale label so it gets another lease on life.

[2018-12-04 20:45] JPrause commented on #6912
If no, please close issue.

[2018-12-04 20:48] JPrause commented on #6912
That's weird.... @Fryguy would you know why it says I unassigned Federico when all I did was call him out in a comment?

[2018-12-04 20:48] agrare commented on #6978
@JPrause we don't invalidate provider credentials when a refresh fails, that is done by the scheduled auth check so IMO this is notabug and can be closed.

[2018-12-04 20:48] #6978 closed

[2018-12-04 20:49] JPrause commented on #6879
@alongoldboim is this issue still relevant. If yes, can you remove the stale label so it gets another lease on life. If no, please close this issue.

[2018-12-04 20:50] JPrause commented on #6867
@mattmahoneyrh is this issue still relevant. If yes, please remove the stale label. If no, please close.

[2018-12-04 20:52] JPrause commented on #6840
@avi3tal is this issue still relevant? If yes, please remove the stale label. If no, please close.

[2018-12-04 20:53] JPrause commented on #6762
@mfalesni is this issue still relevant. If yes, please remove the stale label. If no, please close.

[2018-12-04 20:55] JPrause commented on #6494
@PanSpagetka is this issue still relevant. If yes, please remove the stale label. If no, please close.

[2018-12-04 20:56] JPrause commented on #6472
@Ladas is this issue still relevant. If yes, can you remove the stale label. If no, please close.

[2018-12-05 08:16] #6472 closed

[2018-12-05 09:59] abonas commented on #6912
@JPrause we're not working with miq for more than a year now, so I don't know.

[2018-12-05 09:59] #6912 closed

[2018-12-05 13:20] JPrause commented on #9295
@lgalis if this issue is still relevant, please remove the stale label. I see you had done it in the past. If it's no longer relevant, then we'll close this issue.

[2018-12-05 13:22] JPrause commented on #9289
@ProxyManagedServices it appears this issue can be closed. If so, can you please close.

[2018-12-05 13:29] JPrause commented on #9145
@syncrou if this is still a relevant issue, can you remove the "stale" label. Otherwise we'll see about closing.

[2018-12-05 13:31] JPrause commented on #9099
@abellotti if this issue is still relevant, please remove the "stale" label. If not, we'll see about closing.

[2018-12-05 13:33] JPrause commented on #9007
@amaurygonzalez if this issue is no longer relevant can you please close. If it is, please remove the "stale" label.

[2018-12-05 13:34] JPrause commented on #8977
@zhitongLBN if this issue is no longer relevant, can you please close. If it is, please remove the "stale" label.

[2018-12-05 13:35] JPrause commented on #8929
@arnikasky it appears this issue can be closed. If so, please do close. If not, please remove the "stale" label.

[2018-12-05 13:37] JPrause commented on #8884
@pemcg it appears with the Hammer release being current, this issue can be closed. If not, please remove the "stale" label.

[2018-12-05 13:38] JPrause commented on #8806
@moolitayer is this issue still relevant. If not, please close. Otherwise, please remove the "stale" label.

[2018-12-05 13:38] JPrause commented on #8801
@jameslabocki as stated above, can you close this issue.

[2018-12-05 13:41] JPrause commented on #8781
@himdel is this issue still relevant. If not, please close. Otherwise, please remove the "stale" label.

[2018-12-05 13:42] JPrause commented on #8737
@vnugent as mentioned above, please close this issue.

[2018-12-05 13:42] #8884 closed

[2018-12-05 13:57] himdel commented on #8781
I think the discussion is still relevant, even though the rules mentioned above were already converted to the various `.eslintrc.json` files.

Adding `pinned` instead.

[2018-12-05 13:59] himdel commented on #8781
Oh, except this is still in the core repo.

In that case..

@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2018-12-05 14:00] #8781 closed

[2018-12-05 14:10] JPrause commented on #8682
@aufi it appears this issue can now be closed. If so, please do close.

[2018-12-05 14:11] JPrause commented on #8681
@aufi it appears this issue can be closed. If so, please close.

[2018-12-05 14:13] JPrause commented on #8654
@cben is this issue still relevant. If yes, please remove the "stale" label. Otherwise, we'll see about closing.

[2018-12-05 14:16] JPrause commented on #8652
@mansuamen with our latest stable release being [gaprindashvili-6](http://manageiq.org/download/) can you test again. If issue is resolved, please close. Otherwise, please remove the "stale" label.

[2018-12-05 14:17] JPrause commented on #8626
@chrisgreene is this issue still relevant. If not, please close. Otherwise, please remove the "stale" label.

[2018-12-05 14:18] JPrause commented on #8623
@jvlcek is this issue still relevant. If so, please remove the "stale" label. Otherwise, please close.

[2018-12-05 14:19] JPrause commented on #8621
@jvlcek is this issue still relevant. If so, please remove the "stale" label. Otherwise, please close.

[2018-12-05 14:20] #8621 closed

[2018-12-05 14:20] #8623 closed

[2018-12-05 14:20] JPrause commented on #8617
@hsong-rh it appears this issue can be closed. If so, please do close. Otherwise, please remove the "stale" label.

[2018-12-05 14:21] JPrause commented on #8584
@Ladas is this issue still relevant. If not, please close. Otherwise, please remove the "stale" label.

[2018-12-05 14:22] JPrause commented on #8561
@simaishi is this issue still relevant. If yes, can you remove the "stale" label. Otherwise, please close.

[2018-12-05 14:55] ProxyManagedServices commented on #9289
Issue can be closed

[2018-12-05 14:55] #9289 closed

[2018-12-05 15:09] #8584 closed

[2018-12-05 15:11] simaishi commented on #10300
@carbonin This is still happening... anything else we can do to troubleshoot?

[2018-12-05 15:57] carbonin commented on #10300
I haven't had time to look into this, but I've also seen it. I added the `pinned` label so it won't get marked as stale again.

In the times I've seen it, I've still been able to just start up `evmserverd` without trouble, but didn't see anything that could have caused it. It really seems like a timing issue.

[2018-12-05 16:16] #9007 closed

[2018-12-05 17:36] #8737 closed

[2018-12-05 20:18] #8626 closed

[2018-12-06 15:50] fbladilo commented on #10300
@carbonin @simaishi Happening to me consistently, installing on RHV using Ovirt.Manageiq role. So far 5 out of 5 failed, I'm able to start it manually right afterwards. Here is the output :
[code]

[2018-12-06 19:43] lfu commented on #18249
This did not happen with Hammer rc2.

[2018-12-06 19:43] #18249 closed

[2018-12-07 05:41] bthurber commented on #10300
I can confirm this issue persists with downstream CF builds as well.  Upon every reboot I must start EVM server.

[2018-12-07 07:21] arnikasky commented on #8929
Hello, sure, sorry for late answer, I'll close it.

[2018-12-07 07:21] #8929 closed

[2018-12-07 14:04] carbonin commented on #10300
That is very different @bthurber.

In this issue the service is getting enabled, but not started on first boot. This is the expected behavior for ManageIQ, but not for CloudForms.

In CloudForms the user is expected to configure a database (either create or join a region) for each new appliance, but after that the service is expected to be started and enabled.
It sounds like your service was start

[2018-12-10 11:03] asanami opened #18275 "EmbeddedAnsibleWorker worker not responding"
Enabling Embedded Ansible via a docker installed installation of ManageIQ is not working:

``` sudo docker run -d -p 8443:443 manageiq/manageiq:hammer-1-rc2```

After enabling embedded ansible I see the following error(s) in evm.log:

[code]

The Configuration menu item under:

https://10.6.51.55:8443/ansible_credential/show_list#/
and
https://10.6.51.55:8443/ansible_repository/show_list#/

are no

[2018-12-13 16:09] cben commented on #8654
@miq-bot close
This is long obsolete.  Some of the open improvements listed here were captured in separate issues, most will never happen.  There is no active development on policies/alerts for container entities.

[2018-12-13 16:09] cben commented on #8654
@miq-bot close-issue

[2018-12-13 16:10] #8654 closed

[2018-12-14 22:12] #11037 closed

[2018-12-14 22:14] Fryguy commented on #11519
For our container based deployments we've moved to a structured output which can be consumed by elasticsearch and visualized with Kibana ... see https://github.com/ManageIQ/manageiq/blob/459130903ffcc789d9364119b582c8e9d1576e55/lib/vmdb/loggers/container_logger.rb

[2018-12-14 22:14] #11519 closed

[2018-12-14 22:16] Fryguy commented on #17595
You can also download any release here: https://releases.manageiq.org - you should be able to find the latest capablanca release in there.

[2018-12-14 22:16] #17595 closed

[2018-12-14 22:17] Fryguy commented on #18188
The core team probably will not be creating these providers directly, but we welcome plugins built by contributors.  Thanks!

[2018-12-14 22:17] #18188 closed

[2018-12-14 22:19] Fryguy commented on #1074
@mkanoor Can you follow up here?

[2018-12-14 22:19] #10862 closed

[2018-12-16 19:46] #17134 closed

[2018-12-17 15:08] #1074 closed

[2018-12-17 20:26] skateman opened #18300 "Remote consoles vs ActionCable in the WebsocketWorker"
Right now we're using the `WebsocketWorker` for asynchronous notifications with `ActionCable` and proxied remote consoles (VNC, SPICE, WebMKS). The only common thing between these two is the technology: WebSockets.

The number of the supported remote console protocols will be potentially growing in the future. Some of these protocols are not necessarily using WebSockets, but they would leverage th

[2018-12-18 23:13] Fryguy commented on #17328
We need to update this in conjunction with the bot.  We probably need to come up with some better plan at keeping the bot more up to date more frequently.

[2018-12-18 23:15] Fryguy commented on #17328
Related - https://github.com/ManageIQ/miq_bot/issues/432

[2018-12-18 23:19] #17534 closed

[2018-12-18 23:19] Fryguy commented on #17738
Closing this issue...if it's still an issue after the backport, please reopen.

[2018-12-18 23:19] #17738 closed

[2018-12-18 23:21] #16815 closed

[2018-12-19 08:37] skunkr commented on #17738
Thank you,
So which version should I use at the moment that has aws properly working ?
Hammer beta, or G6 ?

On Wed, Dec 19, 2018, 01:19 Jason Frey <notifications@github.com wrote:

[2018-12-19 13:03] skateman commented on #17489
How this maintenance zone should be represented in the API? In the UI we are not displaying it at all when requesting all zones. What zone should the API respond for a suspended provider? These questions bother me @abellotti @gtanzillo

[2018-12-19 15:22] carbonin commented on #17738
@Fryguy unfortunately it doesn't look like the fix was backported for Gap-6. So Hammer is still the only version with this fix. @simaishi is there any plan to backport #17407 to Gaprindashvili?

[2018-12-19 15:30] simaishi commented on #17738
@carbonin No plan to backport to Gaprindashvili currently... If this is really needed in Gaprindashvili branch, please get an approval from @dmetzger57

[2018-12-19 16:37] dmetzger57 commented on #17738
@simaishi @carbonin  given we have the fix in Hammer and where we are in the Gaprindashvili life cycle, I'm going to say no to back porting at this time (giving code base stability priority).

[2018-12-19 20:01] JPrause commented on #16830
@sshingarapu this question is better asked here: http://talk.manageiq.org/
If this is still an open question, please close this issue and open as stated above.
If this is no longer an issue, please close this as it has been marked as stale.

[2018-12-19 20:09] JPrause commented on #16674
@01000101 can you retest using the just released gaprindashvili-7
If this is no longer an issue, please close.

[2018-12-19 20:17] JPrause commented on #16571
@rywillia can you retest with current stable release, gaprindashvili-7
If this is no an issue can you close.

[2018-12-19 20:38] JPrause commented on #16244
@skateman would you like to leave this issue open. If so, can you remove the stale label.
If not, can you close this issue.

[2018-12-19 23:52] NickLaMuro commented on #18222
@juliancheal something I found out when I was doing https://github.com/ManageIQ/manageiq-api/pull/516 is that only `MiqSchedule` had the `towhat` column removed, but there are other models that use this pattern, as the `manageiq-schema` PR suggests

I would have to update my PR, or create a followup that works with ManageIQ/manageiq-schema#314  to handle the extra column updates.  Possibly update

[2018-12-20 13:46] juliancheal commented on #18222
@NickLaMuro hey Nick, our plan was to merge the schema changes, then as soon as travis is green merge the manageiq core, then ui repos straight after.

I'm guessing we're going to have to do this in the new year now, as I think both LJ and Brandon are out.

Yeah I think if it's ok with you to close #18241, as it's covered in #18165. 🎅🏽

[2018-12-20 18:01] NickLaMuro commented on #18222
@juliancheal Cool, sounds good.

[2018-12-21 15:43] kbrock commented on #18100
Little concerned about relying upon `seed` to populate a table.
If possible, I'd like to get rid of seeds except on upgrades.

Is there an alternative way to populating these tables that does not rely upon seed?

[2018-12-21 17:55] djberg96 opened #18316 "Switch FactoryGirl to FactoryBot"
This is a parent/tracking issue while we switch the name `FactoryGirl` to `FactoryBot`.

Original issue here:

https://github.com/ManageIQ/manageiq/pull/18279

The following ManageIQ repos have been converted:

Providers:

manageiq-providers-amazon: https://github.com/ManageIQ/manageiq-providers-amazon/pull/505
manageiq-providers-ansible_tower: https://github.com/ManageIQ/manageiq-providers-ansibl

[2018-12-21 19:03] Fryguy commented on #17489
@skateman This was my concern from the beginning, and part of the reason I find the `visible` column strange.

So, there is a `visible` column now on zone (note that I think there may be a bug and there needs to be a migration to set all unset zones to "true", but assume visible "works" for this discussion) that needs to be honored.  Additionally, there is an `enabled` column on ext_management_sys

[2018-12-21 19:13] Fryguy commented on #17489
I missed the "in the API" qualifier, but my opinion is everything comes out of the API.  All zones including the invisible ones.  All EMSes including paused ones.  EMS.zone should return a link to whatever zone, visible or not.  EMS.zone_before_pause_id should return a link to whatever zone.

[2018-12-21 21:51] Fryguy commented on #16244
@skateman If you decide to keep this open and don't want it to go stale, just set the `pinned` label.

[2018-12-28 10:59] Harpreetsinghbedi commented on #13798
Hi,

I'm trying this code for connect VMware console.

<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Console</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="css/wmks-all.css" />
<script ty

[2018-12-28 11:30] skateman commented on #13798
Yes, you're probably using a self signed SSL certificate. You have to confirm the security exception for the `esxi.example.com` domain or add the certificate as a trusted one.

[2018-12-28 13:13] Harpreetsinghbedi commented on #13798
Thanks, i fixed it. Issue was due to vnc enabled with VM.

RemoteDisplay.vnc.enabled = "FALSE"

[2019-01-02 09:08] slemrmartin commented on #17489
I agree, API could show all zones, i.e. returning nil for invisible zone will be confusing there

[2019-01-02 09:48] slemrmartin commented on #17489
@Fryguy but there is no invisible zone (or at least maintenance zone)'s validation that it cannot be deleted.
In combination of fact there is no create on missing check I suggested it can lead to error when user consider it's something he doesn't want and deletes it

[2019-01-02 15:22] agrare opened #18317 "Remove state_changed_on for metrics gap collection"
The need for state_changed_on being set for metrics collection purposes is causing performance issues for refresh because the custom `raw_power_state=` method must be invoked in ruby code and cannot be processed by batch saving.

If there were another way to detect gaps in metrics data or remove the detection entirely then the state_changed_on column would no longer be needed.

[2019-01-02 19:38] agrare opened #18320 "Move inventory_refresh relationship_save_block from manageiq-providers-vmware to manageiq inventory core"
The generic relationship_save_block custom saver for inventory refresh is defined in [manageiq-providers-vmware](https://github.com/ManageIQ/manageiq-providers-vmware/blob/master/app/models/manageiq/providers/vmware/inventory/persister/definitions/infra_collections.rb#L200) but can be used by others.

[2019-01-02 20:52] Fryguy opened #18321 "MiqWidget#miq_schedule and MiqSchdule#resource are separate relationships"
We can probably delete MiqWidget#miq_schedule_id column, and just use a normal polymorphic relationship.

cc @bdunne

[2019-01-03 10:46] lpichler commented on #18100
@kbrock

1)

I need to think about it but maybe it is already accomplished now -**(1a)** [seeding is done here just for ](https://github.com/ManageIQ/manageiq/pull/18102/files#diff-6dc251e07639d485ec3a21c10796a581R144) populating data for existing tenants (what it is needed for upgrade) other populating data are tied with tenant creation.

**(1a)** so as you are saying ` except on upgrades.` does

[2019-01-03 15:18] bdunne commented on #6052
IPMI is no longer supported, closing

[2019-01-03 15:18] #6052 closed

[2019-01-03 15:21] bdunne commented on #3976
This is due to model reloading in development and the classes (instantiated before and after reload) not having the same object id.

[2019-01-03 15:21] #3976 closed

[2019-01-07 15:54] epwinchell opened #18334 "Report Schedules Screen is broken"
<img width="839" alt="screen shot 2019-01-07 at 10 52 47 am" src="https://user-images.githubusercontent.com/1287144/50777763-79c07480-126a-11e9-9bda-e127abf5b2bf.png">

[----] F, [2019-01-07T10:43:37.108868 #83876:3fd9f1a5ace8] FATAL -- : Error caught: [RuntimeError] Named scope 'with_resource_type' is not defined for class 'MiqSchedule'
/Users/epwinchell/work/manageiq/lib/rbac/filterer.rb:642:in

[2019-01-07 15:54] epwinchell commented on #18334
@miq-bot add_label bug

[2019-01-07 15:54] epwinchell commented on #18334
@miq-bot assign @skateman

[2019-01-07 15:55] #18334 closed

[2019-01-09 12:07] lpichler commented on #15177
@himdel I will check it 👍

[2019-01-09 23:06] kbrock commented on #18100
@lpichler

1. Yes. except on upgrades. tenant creation is great and what I was suggestion - **DONE**
2. This is totally separate (sorry).

I wonder if it makes sense to come up `TENANT_ACCESS_STRATEGY = :child_ids` which is like descendants, but only from children down.

Not sure if this would work (from a business perspective) but doesn't seem too hard from a technological perspective.

And it wo

[2019-01-14 17:38] NickLaMuro commented on #3874
@miq-bot assign @mzazrivec

Pulling Dan off this issue, but curious is this still valid?  Seems to have been open 3 years ago, and wasn't reproducible then.  If you think it is still valid, I wouldn't mind taking a look into this if you can put some replication steps together (feel free to contact me out of band if needed).

Thanks.

[2019-01-14 17:40] NickLaMuro commented on #11239
@GregP Is this still valid?

I am pretty sure that I have seen the UI team changing some items up in respect to the flash message, but is this issue still being used as reference to do that?  Otherwise can we close this?

[2019-01-15 08:19] mzazrivec commented on #3874
Not reproducible on current master, closing.

[2019-01-15 08:19] #3874 closed

[2019-01-15 10:11] slemrmartin commented on #17489
UI  https://github.com/ManageIQ/manageiq-ui-classic/pull/4269 implemented basic features requested.
But there is more possible things to do:
- Suspend Foreman/AnsibleTower providers
- Remote actions (buttons) on VM/Instance and other inventories in EMS's subgraph should be disabled
  - in UI and backend (validations? ...API calls)

@Fryguy @agrare  If wanted it can be done in separate PR, what do

[2019-01-15 11:17] skateman commented on #17489
@slemrmartin @agrare @Fryguy do we want to have suspend for these providers?

[2019-01-15 14:04] Fryguy commented on #17675
@skateman and I spoke about this, and we are moving forward with it.  In the ideal case, we would not need this repo, because the API would be changed to return all of the necessary info, and then, given the UI is completely API driven, it could convert the data from the API to the appropriate styles and images.  However, it will take a while to change the API to have all of the data, as well as c

[2019-01-15 14:06] Fryguy commented on #17675
Since all of the checklist items are complete, I am deeming this done.

[2019-01-15 14:06] #17675 closed

[2019-01-15 15:43] skunkr commented on #17738
Hi,
I've just tested Manageiq 7 - the one available on oVirt image repo, and it
seems the embedded ansible still not working. Anyone had a success with
this release ? Maybe i am doing something wrong..
Thank you !
Leo

On Wed, Dec 19, 2018, 18:37 Dennis Metzger <notifications@github.com wrote:

[2019-01-15 17:38] lpichler commented on #15177
@himdel there is no problem, thanks 👍 closing

[2019-01-15 17:38] #15177 closed

[2019-01-15 18:46] NickLaMuro commented on #15844
Closing as this seems to have been resolved with https://github.com/ManageIQ/manageiq-ui-service/pull/876

[2019-01-15 18:46] #15844 closed

[2019-01-15 23:41] djberg96 commented on #18316
Calling it done. If anything else pops up, just raise a separate issue.

[2019-01-16 12:00] martinpovolny commented on #11978
Generally the button handler methods are a mess. But his particular issue can be closed it seems.

[2019-01-16 12:00] #11978 closed

[2019-01-16 15:17] JPrause commented on #2123
@gisnalbert looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 15:18] JPrause commented on #2098
@h-kataria looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 15:21] JPrause commented on #2078
@himdel would you like to leave this issue open,...if so, can you remove the stale label.
Otherwise, please close.

[2019-01-16 15:21] JPrause commented on #2006
@rananda looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 15:22] JPrause commented on #1972
@nachandr looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 15:22] JPrause commented on #1954
@akarol looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 15:22] JPrause commented on #1930
@sshveta looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 15:23] JPrause commented on #1789
@sshveta looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 15:23] JPrause commented on #1724
@eclarizio looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 15:24] JPrause commented on #1673
@martinpovolny looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 15:24] JPrause commented on #1581
@martinpovolny looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 15:30] JPrause commented on #431
@bdunne looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 15:34] eclarizio commented on #1226
@JPrause as @romanblanco mentioned in the referenced PR, the way that all new dialogs are rendered is through the dialog-user component in the ui-components repository where the max length is no longer limited.

[2019-01-16 15:35] #1724 closed

[2019-01-16 16:04] himdel commented on #2078
I haven't worked on this for a while now, so, unless there is a need to really get rid of all the cfme references, closing.

Thanks :)

[2019-01-16 16:04] #2078 closed

[2019-01-16 16:12] JPrause commented on #1226
Thanks @eclarizio

[2019-01-16 16:39] JPrause commented on #3638
@mzazrivec looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:39] JPrause commented on #3579
@cshinn looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:40] JPrause commented on #3542
@ayan1983 looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:41] JPrause commented on #3505
@chessbyte looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, pleasel remove the stale label.

[2019-01-16 16:42] JPrause commented on #3503
@Fryguy has been marked as stale again.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:43] kbrock commented on #520
This feature shipped a while ago.

[2019-01-16 16:43] #520 closed

[2019-01-16 16:44] JPrause commented on #3486
@gtanzillo looks like this issue has been marked as stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:45] JPrause commented on #3435
@GregP looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:46] JPrause commented on #3419
@carbonin looks like this issue has been marked as stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:48] JPrause commented on #3412
@jkrocil it appears with that BZ issue being closed errata, that this issue can be closed.
If that's true, please close,...otherwise let me know and I'll remove the stale label.

[2019-01-16 16:49] JPrause commented on #2838
@oldulov looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:49] JPrause commented on #2791
@mcornea looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:50] JPrause commented on #2747
@h-kataria looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:50] JPrause commented on #2735
@h-kataria looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:51] #2791 closed

[2019-01-16 16:51] JPrause commented on #2699
@h-kataria looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:51] JPrause commented on #2697
@jayyvis looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:52] JPrause commented on #2699
@jayyvis looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:53] JPrause commented on #2682
@tzumainn looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:53] JPrause commented on #2609
@abonas looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:54] JPrause commented on #2483
@gmcculloug looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:54] JPrause commented on #2323
@Ladas looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:55] JPrause commented on #2301
@roliveri looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:56] JPrause commented on #2208
@h-kataria looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:56] JPrause commented on #2199
@gisnalbert looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:57] JPrause commented on #2192
@Ladas looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:57] JPrause commented on #2152
@gmcculloug looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 16:58] JPrause commented on #1543
@rananda looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:58] JPrause commented on #1537
@seandst looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 16:59] JPrause commented on #527
@gmcculloug looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 17:29] #2301 closed

[2019-01-16 18:08] #3579 closed

[2019-01-16 18:33] JPrause commented on #5813
@miq-bot close_issue

[2019-01-16 18:34] #5813 closed

[2019-01-16 18:40] carbonin commented on #3419
@miq-bot move_issue manageiq-schema

[2019-01-16 18:40] #3419 closed

[2019-01-16 18:42] JPrause commented on #5383
@miq-bot close_issue

[2019-01-16 18:43] JPrause commented on #4774
@mzazrivec looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 18:43] JPrause commented on #4691
@kuduka looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 18:44] JPrause commented on #4690
@kuduka looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 18:44] JPrause commented on #4689
@kuduka looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 18:45] JPrause commented on #4655
@h-kataria looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 18:45] JPrause commented on #4637
@kuduka looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 18:46] JPrause commented on #4553
@yosefy looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 18:46] JPrause commented on #4397
@nachandr looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 18:46] JPrause commented on #4386
@h-kataria looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 18:47] JPrause commented on #4359
@miq-bot close_issue

[2019-01-16 18:48] JPrause commented on #3973
@h-kataria looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 18:48] #4359 closed

[2019-01-16 18:55] NickLaMuro commented on #12819
@jrafanie and while I am bothering you, do you still see this as a worthwhile endeavor to pursue?

[2019-01-16 19:16] jrafanie commented on #12819
Good question @NickLaMuro.  jemalloc is supposed to be so much better and maybe I was benchmarking it incorrectly but it didn't seem to be help us.

https://medium.com/rubyinside/how-we-halved-our-memory-consumption-in-rails-with-jemalloc-86afa4e54aa3

https://brandonhilkert.com/blog/reducing-sidekiq-memory-usage-with-jemalloc/

https://www.mikeperham.com/2018/04/25/taming-rails-memory-bloat/

[2019-01-16 19:50] JPrause commented on #3915
@Ladas looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 19:50] JPrause commented on #3911
@simon3z looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 19:51] JPrause commented on #3857
@miq_bot close_issue

[2019-01-16 19:51] JPrause commented on #3835
@miq_bot close_issue

[2019-01-16 19:52] JPrause commented on #3826
@Fryguy looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 19:53] JPrause commented on #3741
@Ladas looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 19:53] JPrause commented on #3720
@cshinn looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 19:54] JPrause commented on #3718
@cshinn looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 19:54] JPrause commented on #3716
@cshinn looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 19:54] JPrause commented on #3666
@hsong-rh looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 19:55] JPrause commented on #3650
@hsong-rh looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 19:56] JPrause commented on #8681
@miq_bot close_issue

[2019-01-16 19:56] JPrause commented on #8652
@miq_bot close_issue

[2019-01-16 19:57] JPrause commented on #8617
@miq_bot close_issue

[2019-01-16 19:58] JPrause commented on #8548
@mzazrivec looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 19:58] JPrause commented on #8502
@romanblanco looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 19:58] JPrause commented on #8465
@rwsu looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 19:59] JPrause commented on #8301
@AparnaKarve looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 19:59] JPrause commented on #8294
@jameswnl looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:00] JPrause commented on #8258
@selmanj looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:01] JPrause commented on #8244
@vprusa looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:01] JPrause commented on #8191
@gtanzillo looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:01] JPrause commented on #8163
@woot4moo looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:02] JPrause commented on #8111
@abonas looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:03] JPrause commented on #8054
@miq_bot close_issue

[2019-01-16 20:03] JPrause commented on #8053
@miq_bot close_issue

[2019-01-16 20:04] JPrause commented on #7885
@roliveri looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:05] JPrause commented on #7843
@mkanoor looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:05] JPrause commented on #7800
@Fryguy looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:08] #8053 closed

[2019-01-16 20:15] JPrause commented on #7785
@Ladas looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:16] JPrause commented on #7776
@monakhv looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:16] JPrause commented on #7731
@nachandr looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:17] JPrause commented on #7637
@kbrock looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:18] JPrause commented on #7495
@woot4moo looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:18] cben commented on #3911
@miq-bot close-issue

[2019-01-16 20:19] #3911 closed

[2019-01-16 20:19] JPrause commented on #10145
@gmcculloug looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:20] JPrause commented on #10123
@juliancheal looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:20] JPrause commented on #10034
@lgalis looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:21] JPrause commented on #10021
@martinpovolny looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:21] JPrause commented on #9957
@gmcculloug looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:22] JPrause commented on #9843
@romanblanco looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:22] JPrause commented on #9774
@isimluk looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:22] JPrause commented on #9703
@anilchabba looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:23] JPrause commented on #9691
@jameswnl looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:23] JPrause commented on #9684
@bronaghs looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:24] JPrause commented on #9651
@zhitongLBN looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:24] JPrause commented on #9556
@mattmahoneyrh looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, let me know and I'll remove the stale label.

[2019-01-16 20:25] JPrause commented on #9332
@miq_bot close_issue

[2019-01-16 20:26] JPrause commented on #9324
@eclarizio looks like this issue has been open for some time and is now stale.
If this issue can be closed, can you do so.
Otherwise, if you'd like it to stay open, please remove the stale label.

[2019-01-16 20:34] JPrause commented on #8054
@miq_bot close_issue

[2019-01-16 20:39] jameswnl commented on #9295
This has been implemented and in production already. closing...

[2019-01-16 20:39] #9295 closed

[2019-01-16 20:43] #3718 closed

[2019-01-16 20:43] #3720 closed

[2019-01-16 20:43] #3716 closed

[2019-01-16 21:41] AparnaKarve commented on #8301
@JPrause The issue still persists, but IMO it is very low priority.

I will let @himdel decide if this can be closed or not.

Thanks!

[2019-01-16 22:02] gtanzillo commented on #3486
Closing as we are currently at net-ldap-0.16.1

[2019-01-16 22:02] #3486 closed

[2019-01-16 22:06] gtanzillo commented on #8191
Closing as this issue is not present in the latest Hammer version

[2019-01-16 22:06] #8191 closed

[2019-01-17 00:30] #10145 closed

[2019-01-17 00:32] gmcculloug commented on #527
Resolved in https://github.com/ManageIQ/manageiq/pull/4035

[2019-01-17 00:32] #527 closed

[2019-01-17 00:33] gmcculloug commented on #2152
Resolved with https://github.com/ManageIQ/manageiq/pull/4035

[2019-01-17 00:33] #2152 closed

[2019-01-17 00:34] #2483 closed

[2019-01-17 08:41] #2323 closed

[2019-01-17 08:42] #2192 closed

[2019-01-17 09:36] #3915 closed

[2019-01-17 09:42] Ladas commented on #7785
@miq_bot close_issue

[2019-01-17 09:42] #3741 closed

[2019-01-17 09:45] #10034 closed

[2019-01-17 13:00] himdel commented on #8301
I think we can safely close this, Middleware has long since been removed (in ManageIQ/manageiq-ui-classic#3897, ManageIQ/manageiq-ui-classic#4145 and others).

(I also don't see the original problem, even when an entity has just one kind of endpoint, we still need to show the section so that the user can input the username/passowrd.)

@miq-bot close_issue

[2019-01-17 13:01] #8301 closed

[2019-01-17 13:17] tjyang opened #18370 "Hammer-1 release: classic GUI not opening"
* I downloaded hammer-1 VMware appliance and tested it on my VMware workstation environment.
   *  firewalld and selinux are disabled.
[code]

* Following are the screenshots of trying to get to login prompt from different browswers.
I remember the versions before formal hammer-1 releases were fine on this regard.

1. [Chrome](https://user-images.githubusercontent.com/378638/51320591-ea635000-1a25

[2019-01-17 14:10] erjohnso commented on #8258
@JPrause - Joe is no longer on this project. The issue can be closed afaik.

@miq-bot close_issue

[2019-01-17 14:11] #8258 closed

[2019-01-17 14:54] #431 closed

[2019-01-17 15:10] juliancheal commented on #10123
@JPrause I can't close this issue. It'll need to be done by someone with commit access to the ManageIQ repo.

[2019-01-17 15:14] tjyang commented on #18370
Not able to reproduce this issuer after another hammer-1 deployment.

[2019-01-17 15:14] #18370 closed

[2019-01-17 15:21] #4386 closed

[2019-01-17 15:22] h-kataria commented on #2208
https://github.com/ManageIQ/manageiq/pull/5296

[2019-01-17 15:22] #2208 closed

[2019-01-17 15:23] h-kataria commented on #2699
this is no longer an issue.

[2019-01-17 15:23] #2699 closed

[2019-01-17 15:24] h-kataria commented on #2735
@JPrause please see Martin's comment above https://github.com/ManageIQ/manageiq/issues/2735#issuecomment-117759777, this needs attention/input from UX team

[2019-01-17 15:25] h-kataria commented on #2735
cc @serenamarie125 @terezanovotna

[2019-01-17 15:33] h-kataria commented on #3973
@martinpovolny with data-driven forms work in progress, do we still need this issue to remain open or you think this can be closed?

[2019-01-17 15:53] #7885 closed

[2019-01-18 09:51] #8548 closed

[2019-01-18 09:51] #3638 closed

[2019-01-18 09:58] #2123 closed

[2019-01-19 08:41] skunkr commented on #17738
Hi Everyone,
Still scratching my head trying to sort this out .....
On a fresh installed ManageIQ 7 ,  I get the following  awx_task container
error when enabling embeded ansible feature:

django.db.utils.IntegrityError: duplicate key value violates unique
constraint "auth_user_username_key"
DETAIL:  Key (username)=(admin) already exists.
An organization is already in the system, exiting.

The all

[2019-01-21 10:10] cben commented on #17295
Has any of this been backported to Gaprindashvili?  AFAICT this is only in Hammer.
(This will help decide how to backport other fixes for #17201.)

[2019-01-21 13:48] JPrause commented on #17738
@skunkr can you open this as a new issue. Since this particular issue is closed, it's not going to get the visibility a new issue would receive. (in the new issue, link back to this one if it will help give background)

[2019-01-21 13:48] simaishi commented on #17738
@skunkr The fix for this issue is available in Hammer release, but not in Gaprindashvili releases. Please try with `Hammer-1` build.

[2019-01-21 13:49] JPrause commented on #17738
@skunkr ignore my comment and follow @simaishi directions. :+1:

[2019-01-21 13:58] agrare commented on #17295
@cben @miha-plesko that's correct it is only in `hammer-1` and will not be backported to `gaprindashvilli`

[2019-01-21 19:30] JPrause commented on #3435
@miq_bot close_issue

[2019-01-21 19:32] JPrause commented on #3412
@miq_bot close_issue

[2019-01-21 19:33] JPrause commented on #2838
@miq_bot close_issue

[2019-01-21 19:34] JPrause commented on #2747
@miq_bot close_issue

[2019-01-21 19:36] JPrause commented on #2735
@miq-bot remove_label stale

[2019-01-21 19:37] JPrause commented on #2697
@miq_bot close_issue

[2019-01-21 19:47] JPrause commented on #2609
@miq_bot close_issue

[2019-01-21 19:48] JPrause commented on #2199
@miq_bot close_issue

[2019-01-21 19:50] JPrause commented on #2006
@miq_bot close_issue

[2019-01-21 19:54] JPrause commented on #1972
@miq_bot close_issue

[2019-01-21 19:55] JPrause commented on #1954
@miq_bot close_issue

[2019-01-21 19:55] JPrause commented on #1930
@miq_bot close_issue

[2019-01-21 19:55] JPrause commented on #1789
@miq_bot close_issue

[2019-01-21 19:56] JPrause commented on #1673
@miq_bot close_issue

[2019-01-21 19:57] JPrause commented on #1581
@miq_bot close_issue

[2019-01-21 19:58] JPrause commented on #1543
@miq_bot close_issue

[2019-01-21 19:59] JPrause commented on #1537
@miq_bot close_issue

[2019-01-21 19:59] JPrause commented on #1409
@miq_bot close_issue

[2019-01-21 20:00] JPrause commented on #1230
@miq_bot close_issue

[2019-01-21 20:04] JPrause commented on #6879
@miq_bot close_issue

[2019-01-21 20:11] JPrause commented on #6867
@miq_bot close_issue

[2019-01-21 20:31] JPrause commented on #6840
@miq_bot close_issue

[2019-01-21 20:31] JPrause commented on #6762
@miq_bot close_issue

[2019-01-21 20:34] JPrause commented on #5907
@miq_bot close_issue

[2019-01-21 20:34] JPrause commented on #5876
@miq_bot close_issue

[2019-01-21 20:37] JPrause commented on #4691
@miq_bot close_issue

[2019-01-21 20:40] JPrause commented on #4690
@miq_bot close_issue

[2019-01-21 20:41] JPrause commented on #4689
@miq_bot close_issue

[2019-01-21 20:42] JPrause commented on #4655
@miq_bot close_issue

[2019-01-21 20:43] JPrause commented on #4637
@miq_bot close_issue

[2019-01-21 20:43] JPrause commented on #4553
@miq_bot close_issue

[2019-01-21 20:43] JPrause commented on #4397
@miq_bot close_issue

[2019-01-22 03:40] serenamarie125 commented on #2735
my 2 cents is that making UI 100% keyboard accessible (via tab, etc) is more important than shortcuts.  Given there's a portfolio of products, it will be very difficult to have shortcuts be consistent across them.

[2019-01-22 08:11] martinpovolny commented on #1581
@miq_ bot move_issue ManageIQ/manageiq-ui-classic

[2019-01-22 08:12] martinpovolny commented on #1581
Yes, this is opened for some time and the problem is still there. Trying to move the issue to ui-classic.

[2019-01-22 08:13] martinpovolny commented on #5907
This issue is still valid. As a quick grep throught sources shows.

[2019-01-22 08:13] #5907 closed

[2019-01-22 08:13] #4774 closed

[2019-01-22 08:13] martinpovolny commented on #5907
move_issue manageiq-ui-classic

[2019-01-22 13:58] JPrause commented on #3857
@miq-bot close_issue

[2019-01-22 13:59] #3857 closed

[2019-01-22 14:00] JPrause commented on #3435
@miq-bot close_issue

[2019-01-22 14:00] #3435 closed

[2019-01-22 14:00] JPrause commented on #2838
@miq-bot close_issue

[2019-01-22 14:00] JPrause commented on #2747
@miq-bot close_issue

[2019-01-22 14:00] JPrause commented on #2697
@miq-bot close_issue

[2019-01-22 14:01] JPrause commented on #2682
@miq-bot close_issue

[2019-01-22 14:01] #2697 closed

[2019-01-22 14:01] #2747 closed

[2019-01-22 14:01] #2838 closed

[2019-01-22 14:01] #3412 closed

[2019-01-22 14:01] JPrause commented on #2609
@miq-bot close_issue

[2019-01-22 14:01] JPrause commented on #2199
@miq-bot close_issue

[2019-01-22 14:01] JPrause commented on #2006
@miq-bot close_issue

[2019-01-22 14:02] JPrause commented on #1972
@miq-bot close_issue

[2019-01-22 14:02] #1972 closed

[2019-01-22 14:02] #2006 closed

[2019-01-22 14:02] #2199 closed

[2019-01-22 14:02] JPrause commented on #1954
@miq-bot close_issue

[2019-01-22 14:02] #2609 closed

[2019-01-22 14:02] #2682 closed

[2019-01-22 14:02] JPrause commented on #1930
@miq-bot close_issue

[2019-01-22 14:02] JPrause commented on #1789
@miq-bot close_issue

[2019-01-22 14:03] JPrause commented on #1673
@miq-bot close_issue

[2019-01-22 14:03] #1673 closed

[2019-01-22 14:03] #1789 closed

[2019-01-22 14:03] #1930 closed

[2019-01-22 14:03] #1954 closed

[2019-01-22 14:04] JPrause commented on #1581
@miq-bot remove_label stale
@h-kataria can you move this to ui-classic

[2019-01-22 14:04] JPrause commented on #1543
@miq-bot remove_label

[2019-01-22 14:05] JPrause commented on #1537
@miq-bot remove_label

[2019-01-22 14:05] JPrause commented on #1230
@miq-bot remove_label

[2019-01-22 14:06] JPrause commented on #6879
@miq-bot remove_label

[2019-01-22 14:06] JPrause commented on #6867
@miq-bot close_issue

[2019-01-22 14:07] JPrause commented on #6840
@miq-bot close_issue

[2019-01-22 14:07] #6867 closed

[2019-01-22 14:07] #6879 closed

[2019-01-22 14:07] JPrause commented on #6762
@miq-bot close_issue

[2019-01-22 14:08] JPrause commented on #6615
@martinpovolny @h-kataria can you tell me if this issue is still valid. It's been stale for some time now.
I'll close next week if there's no update.

[2019-01-22 14:09] JPrause commented on #6379
@gtanzillo is this issue still valid. It's been stale for some time now.
If there's no update, I'll close next week.

[2019-01-22 14:10] JPrause commented on #6378
@gtanzillo is this issue still valid. It's been stale for some time now.
If there's no update, I'll close next week.

[2019-01-22 14:13] JPrause commented on #6374
@Fryguy is this still a valid issue. It's been stale for some time now.
If there's no update by next week I'll close the issue.

[2019-01-22 14:13] JPrause commented on #5876
@miq-bot close_issue

[2019-01-22 14:13] JPrause commented on #4691
@miq-bot close_issue

[2019-01-22 14:14] JPrause commented on #4690
@miq-bot close_issue

[2019-01-22 14:14] #4690 closed

[2019-01-22 14:14] #4691 closed

[2019-01-22 14:14] #5876 closed

[2019-01-22 14:14] JPrause commented on #4689
@miq-bot close_issue

[2019-01-22 14:14] JPrause commented on #4655
@miq-bot close_issue

[2019-01-22 14:14] JPrause commented on #4637
@miq-bot close_issue

[2019-01-22 14:15] JPrause commented on #4553
@miq-bot close_issue

[2019-01-22 14:15] #4553 closed

[2019-01-22 14:15] #4637 closed

[2019-01-22 14:15] #4655 closed

[2019-01-22 14:15] JPrause commented on #4397
@miq-bot close_issue

[2019-01-22 14:15] #4689 closed

[2019-01-22 14:16] #4397 closed

[2019-01-22 14:16] JPrause commented on #3973
@martinpovolny ping. Can you review Harpreet's question.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:16] JPrause commented on #3835
@miq-bot close_issue

[2019-01-22 14:17] JPrause commented on #3826
@miq-bot close_issue

[2019-01-22 14:17] #3835 closed

[2019-01-22 14:17] JPrause commented on #3666
@miq-bot close_issue

[2019-01-22 14:17] JPrause commented on #3650
@miq-bot close_issue

[2019-01-22 14:17] JPrause commented on #3542
@miq-bot close_issue

[2019-01-22 14:17] JPrause commented on #3505
@miq-bot close_issue

[2019-01-22 14:18] JPrause commented on #3503
@miq-bot close_issue

[2019-01-22 14:18] #3503 closed

[2019-01-22 14:18] #3505 closed

[2019-01-22 14:18] #3542 closed

[2019-01-22 14:18] #3650 closed

[2019-01-22 14:18] #3666 closed

[2019-01-22 14:18] #3826 closed

[2019-01-22 14:19] JPrause commented on #8502
@miq-bot close_issue

[2019-01-22 14:19] JPrause commented on #8465
@miq-bot close_issue

[2019-01-22 14:19] JPrause commented on #8294
@miq-bot close_issue

[2019-01-22 14:20] JPrause commented on #8244
@miq-bot close_issue

[2019-01-22 14:20] #8294 closed

[2019-01-22 14:20] #8465 closed

[2019-01-22 14:20] JPrause commented on #8163
@miq-bot close_issue

[2019-01-22 14:20] #8502 closed

[2019-01-22 14:20] JPrause commented on #8111
@miq-bot close_issue

[2019-01-22 14:20] JPrause commented on #7843
@miq-bot close_issue

[2019-01-22 14:20] JPrause commented on #7800
@miq-bot close_issue

[2019-01-22 14:20] JPrause commented on #7785
@miq-bot close_issue

[2019-01-22 14:21] JPrause commented on #7776
@miq-bot close_issue

[2019-01-22 14:21] JPrause commented on #7731
@miq-bot close_issue

[2019-01-22 14:21] #7731 closed

[2019-01-22 14:21] #7776 closed

[2019-01-22 14:21] JPrause commented on #7495
@miq-bot close_issue

[2019-01-22 14:21] #7785 closed

[2019-01-22 14:21] #7800 closed

[2019-01-22 14:21] #7843 closed

[2019-01-22 14:21] #8111 closed

[2019-01-22 14:21] #8163 closed

[2019-01-22 14:21] #8244 closed

[2019-01-22 14:22] #7478 closed

[2019-01-22 14:22] #7495 closed

[2019-01-22 14:22] JPrause commented on #7435
@eclarizio is this issue still valid. It's been stale for some time now.
If there's no update by next week I'll close this issue.

[2019-01-22 14:23] JPrause commented on #7353
@alongoldboim is looks like this issue can now be closed.
If that's the case can you do so.
Otherwise please remove the stale label.

[2019-01-22 14:25] JPrause commented on #7342
@furlongm is this still a valid issue. If not, can you close.
If there's no update by next week, I'll close this issue.

[2019-01-22 14:25] JPrause commented on #7329
@miq-bot close_issue

[2019-01-22 14:25] JPrause commented on #7285
@miq-bot close_issue

[2019-01-22 14:25] JPrause commented on #7283
@miq-bot close_issue

[2019-01-22 14:25] JPrause commented on #7256
@miq-bot close_issue

[2019-01-22 14:26] #7256 closed

[2019-01-22 14:26] JPrause commented on #7231
@miq-bot close_issue

[2019-01-22 14:26] #7283 closed

[2019-01-22 14:26] JPrause commented on #7227
@miq-bot close_issue

[2019-01-22 14:26] #7285 closed

[2019-01-22 14:26] #7329 closed

[2019-01-22 14:26] JPrause commented on #7061
@miq-bot close_issue

[2019-01-22 14:31] JPrause commented on #10231
@gmcculloug is this still a valid issue. If not, can you close.
If there's no update buy next week I'll be closing this issue.

[2019-01-22 14:31] JPrause commented on #10123
@miq-bot close_issue

[2019-01-22 14:31] JPrause commented on #10021
@miq-bot close_issue

[2019-01-22 14:31] JPrause commented on #9843
@miq-bot close_issue

[2019-01-22 14:31] JPrause commented on #9774
@miq-bot close_issue

[2019-01-22 14:31] JPrause commented on #9703
@miq-bot close_issue

[2019-01-22 14:32] JPrause commented on #9691
@miq-bot close_issue

[2019-01-22 14:32] JPrause commented on #9651
@miq-bot close_issue

[2019-01-22 14:32] #9651 closed

[2019-01-22 14:32] #9691 closed

[2019-01-22 14:32] #9703 closed

[2019-01-22 14:32] #9774 closed

[2019-01-22 14:32] #9843 closed

[2019-01-22 14:32] JPrause commented on #9556
@miq-bot close_issue

[2019-01-22 14:32] #10123 closed

[2019-01-22 14:32] JPrause commented on #9332
@miq-bot close_issue

[2019-01-22 14:32] JPrause commented on #9324
@miq-bot close_issue

[2019-01-22 14:33] #9324 closed

[2019-01-22 14:33] #9332 closed

[2019-01-22 14:33] #9556 closed

[2019-01-22 14:35] JPrause commented on #9309
@gtanzillo is this still a vlaid issue. If not can you close.
If there's no update by next week, I'll close this issue.

[2019-01-22 14:35] JPrause commented on #9221
@miq-bot close_issue

[2019-01-22 14:35] JPrause commented on #9164
@miq-bot close_issue

[2019-01-22 14:36] JPrause commented on #9150
@miq-bot close_issue

[2019-01-22 14:36] JPrause commented on #9099
@miq-bot close_issue

[2019-01-22 14:36] #9099 closed

[2019-01-22 14:36] #9150 closed

[2019-01-22 14:36] #9164 closed

[2019-01-22 14:36] #9221 closed

[2019-01-22 14:36] JPrause commented on #8977
@miq-bot close_issue

[2019-01-22 14:36] JPrause commented on #8806
@miq-bot close_issue

[2019-01-22 14:36] JPrause commented on #8801
@miq-bot close_issue

[2019-01-22 14:37] JPrause commented on #8682
@miq-bot close_issue

[2019-01-22 14:37] JPrause commented on #8681
@miq-bot close_issue

[2019-01-22 14:37] #8681 closed

[2019-01-22 14:37] JPrause commented on #8652
@miq-bot close_issue

[2019-01-22 14:37] #8682 closed

[2019-01-22 14:37] #8801 closed

[2019-01-22 14:37] #8806 closed

[2019-01-22 14:37] #8977 closed

[2019-01-22 14:37] JPrause commented on #8617
@miq-bot close_issue

[2019-01-22 14:38] #8617 closed

[2019-01-22 14:38] #8652 closed

[2019-01-22 14:40] JPrause commented on #10655
@akarol is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:40] gmcculloug commented on #10231
This issue was fix with PR #10424

[2019-01-22 14:40] #10231 closed

[2019-01-22 14:41] JPrause commented on #10640
@gmcculloug is this still a valid issue. If not can you close.
If there's no update by next week I'll be closing this issue.

[2019-01-22 14:42] JPrause commented on #10633
@nachandr is this still a valid issue. If not, can you close.
If there's no update by next week I'll be closing this issue.

[2019-01-22 14:43] JPrause commented on #10618
@sbulage is this issue still valid. If not, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:43] gmcculloug commented on #10640
All better now, thanks.

[2019-01-22 14:43] #10640 closed

[2019-01-22 14:44] JPrause commented on #10613
@lfu is this sill a valid issue. If not can you close.
If there's no update by next week I'll be closing this issue.

[2019-01-22 14:45] JPrause commented on #10611
@nachandr is this still a valid issue. If not, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:46] JPrause commented on #10610
@gtanzillo is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:46] himdel commented on #11652
The UI bit is solved, we explicitly handle 500 errors by showing a flash message on the login screen (since https://github.com/ManageIQ/manageiq-ui-classic/pull/4606), closing.

(As for the errors themselves, I still believe we should never store any custom structs or classes in the session, but that's a separate issue, mostly on the UI side.)

[2019-01-22 14:46] #11652 closed

[2019-01-22 14:47] JPrause commented on #10605
@nachandr is this still a valid issue. If not, please close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:48] JPrause commented on #10603
@otsuman is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:49] JPrause commented on #10602
@mmojzis is this still a valid issue. If not, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:49] sbulage commented on #10618
@JPrause Right now I am not seeing such issue but if any I will re-open it.

[2019-01-22 14:50] JPrause commented on #10601
@otsuman is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:51] JPrause commented on #10599
@mmojzis is this still a valid issue. If not, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:52] JPrause commented on #10596
@mmojzis is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 14:54] JPrause commented on #6375
@Fryguy is this still a valid issue. If not, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 15:11] lfu commented on #10613
Close it for now. Can be re-opened if needed.

[2019-01-22 15:11] #10613 closed

[2019-01-22 18:51] skunkr commented on #17738
Thank you very much Sirs !
Installed Hammer-1 and discovered with real pleasure that embeded ansible
tower is working.
Thank you !

On Mon, Jan 21, 2019, 15:49 John Prause <notifications@github.com wrote:

[2019-01-22 20:49] JPrause commented on #1543
@miq-bot close_issue

[2019-01-22 20:50] JPrause commented on #1537
@miq-bot close_issue

[2019-01-22 20:50] #1537 closed

[2019-01-22 20:50] #1543 closed

[2019-01-22 20:50] JPrause commented on #1230
@miq-bot close_issue

[2019-01-22 20:51] #1230 closed

[2019-01-22 20:52] JPrause commented on #10586
@Ladas can this issue now be closed? If so, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 20:53] JPrause commented on #10585
@quarckster is this issue still valid. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 20:54] JPrause commented on #10582
@mmojzis is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 20:55] JPrause commented on #10581
@mkanoor it appears this issue can be closed. If so, can you.
If there's no update by next week, I'll be closing this issue.

[2019-01-22 20:56] JPrause commented on #10579
@mkanoor is this issue still valid. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 12:05] Ladas commented on #10586
@JPrause we can close it

[2019-01-23 13:33] JPrause commented on #10578
@mmojzis is this issue still valid. If not, can you close.
If there's no update next week, I'll be closing this issue.

[2019-01-23 13:34] JPrause commented on #10527
@jrafanie is this issue still valid. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:35] JPrause commented on #10501
@isimluk it appears this issue can be closed. If so, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:36] JPrause commented on #10499
@cben is this issue still valid. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:38] JPrause commented on #10333
@hhovsepy it appears this issue can now be closed. If so, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:39] JPrause commented on #10332
@skateman is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:40] JPrause commented on #10302
@cben is this still a valid issue. If not, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:41] #10332 closed

[2019-01-23 13:42] JPrause commented on #11272
@romanblanco is this still a valid issue. If not, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:44] JPrause commented on #11239
@GregP is this still a valid issue. If not, please close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:45] JPrause commented on #11238
@GregP is this still a valid issue. If not please close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:45] JPrause commented on #11231
@miq-bot close_issue

[2019-01-23 13:46] #11231 closed

[2019-01-23 13:46] JPrause commented on #11223
@Ladas is this still a valid issue. If not, can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:47] JPrause commented on #11187
@bargulg is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:48] JPrause commented on #11176
@alongoldboim is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:48] JPrause commented on #11146
@zhitongLBN is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:48] JPrause commented on #11099
@NaNi-Z is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:49] JPrause commented on #11052
@mmojzis is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:49] JPrause commented on #11051
@niyazRedhat is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:49] JPrause commented on #11041
@jameslabocki is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:50] JPrause commented on #10947
@mmojzis is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:50] JPrause commented on #10939
@Pmonnaie is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:51] JPrause commented on #10932
@Ladas is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:51] JPrause commented on #10912
@FilipB is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:51] JPrause commented on #10875
@alongoldboim is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:52] JPrause commented on #10853
@niyazRedhat is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:52] JPrause commented on #10806
@miq-bot close_issue

[2019-01-23 13:53] JPrause commented on #10772
@cbenis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:53] #10806 closed

[2019-01-23 13:53] JPrause commented on #10744
@nachandris this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:53] skateman commented on #11272
@JPrause yes this is definitely valid, some unhandled corner-case in patternfly

[2019-01-23 13:53] JPrause commented on #10724
@sbulageis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:53] JPrause commented on #10667
@akarolis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:55] JPrause commented on #12194
@tzumainnis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:55] JPrause commented on #12182
@jshaughnis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:55] JPrause commented on #12112
@jrafanieis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:55] JPrause commented on #11924
@LorkScorguaris this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:56] JPrause commented on #11901
@Ladasis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:56] JPrause commented on #11900
@schmandforkeis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:56] JPrause commented on #11878
@zhitongLBNis this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:57] JPrause commented on #11868
@isimluk is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:58] JPrause commented on #11826
@bzwei is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:58] JPrause commented on #11736
@bronaghs is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:58] JPrause commented on #11716
@martinpovolny is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 13:59] JPrause commented on #11713
@epwinchell is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:00] JPrause commented on #11692
@NickLaMuro is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:01] JPrause commented on #11576
@ITD27M01 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:01] JPrause commented on #11567
@bronaghs is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:01] JPrause commented on #11561
@chargio is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:02] JPrause commented on #11555
@miq-bot close_issue

[2019-01-23 14:03] #11555 closed

[2019-01-23 14:03] JPrause commented on #11511
@NaNi-Z is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:03] chargio commented on #11561
I will close the issue. If the issue is still present it can be reopened

[2019-01-23 14:03] #11561 closed

[2019-01-23 14:03] JPrause commented on #11475
@moolitayer is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:04] JPrause commented on #11457
@enoodle is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:04] JPrause commented on #11449
@alongoldboim is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:05] JPrause commented on #11346
@NaNi-Z is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:07] JPrause commented on #11272
Thanks @skateman
@miq-bot remove_label stale

[2019-01-23 14:09] ITD27M01 commented on #11576
@JPrause this closed and opened two times on BZ, for 5.9 already resolved in cfme-5.9.3.4

https://bugzilla.redhat.com/show_bug.cgi?id=1596249

[2019-01-23 14:10] ITD27M01 commented on #11576
@miq-bot close_issue

[2019-01-23 14:10] #11576 closed

[2019-01-23 14:12] cben commented on #11449
Alon has left the project long ago.
I believe this has long been done in API, and even has some support in Ansible.
https://github.com/ManageIQ/manageiq_docs/blob/master/api/reference/policies.adoc
https://docs.ansible.com/ansible/latest/modules/manageiq_policies_module.html
@miq-bot close-issue

[2019-01-23 14:13] #11449 closed

[2019-01-23 14:14] cben commented on #11475
Mooli has left the project.
I believe this has long been done in API, and even has some support in Ansible.
https://github.com/ManageIQ/manageiq_docs/blob/master/api/reference/alerts.adoc
https://docs.ansible.com/ansible/latest/modules/manageiq_alerts_module.html
https://docs.ansible.com/ansible/latest/modules/manageiq_alert_profiles_module.html
@miq-bot close-issue

[2019-01-23 14:15] #11475 closed

[2019-01-23 14:18] #12182 closed

[2019-01-23 14:27] #11567 closed

[2019-01-23 14:31] cben commented on #11533
IMO this is still a valid issue.

@Fryguy @abellotti This is reasonable position for reasonable formats :-)
Unfortunately when I looked around 2 years ago I found many python and ruby library but *none* of them handled *every* ISO 8601 format.  IIRC most fail on fractional minutes and/or workweek numbers.  I can look again if you want but I doubt it changed.  I suspect it's correlated to ISO stand

[2019-01-23 14:31] JPrause commented on #13164
@mtho11 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:32] JPrause commented on #13113
@Ladas is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:32] JPrause commented on #13108
@angry-tony is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:33] JPrause commented on #12977
@radeknoone is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:33] JPrause commented on #12976
@gaetanquentin is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:33] JPrause commented on #12943
@miq-bot close_issue

[2019-01-23 14:34] #12943 closed

[2019-01-23 14:34] JPrause commented on #12917
@mmojzis is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:34] JPrause commented on #12902
@juliancheal is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:36] JPrause commented on #12819
@jrafanie does your response mean you want this issue to remain open.
If yes, can you remove the stale label.

If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:36] JPrause commented on #12774
@agrare is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:37] JPrause commented on #12696
@gmcculloug is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:37] JPrause commented on #12671
@isimluk is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:38] JPrause commented on #12515
@bdunne is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:38] JPrause commented on #12508
@agrare is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:38] JPrause commented on #12476
@leecw72 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:40] JPrause commented on #12440
@cankarm is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:40] bdunne commented on #12515
This is because Javascript can't handle large integers, so we're forced to use strings

[2019-01-23 14:40] #12515 closed

[2019-01-23 14:40] JPrause commented on #12363
@romanblanco is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:41] JPrause commented on #12244
@chargio is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:41] JPrause commented on #12242
@chargio is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:41] JPrause commented on #12239
@chargio is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:41] JPrause commented on #12225
@syncrou is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 14:43] syncrou commented on #12225
@JPrause - Yes, was fixed some time ago.  I probably never knew at the time to close the issue.  I'll close this.

[2019-01-23 14:43] JPrause commented on #11533
Thanks @cben
@miq-bot remove_label stale

[2019-01-23 14:43] cankarm commented on #12440
I haven't tried this for along time. I'm closing. Thanks for noticing @JPrause .

[2019-01-23 14:43] #12440 closed

[2019-01-23 14:44] juliancheal commented on #12902
@JPrause we can close this.

[2019-01-23 14:44] #12225 closed

[2019-01-23 14:45] JPrause commented on #12902
Thanks @juliancheal
@miq-bot close_issue

[2019-01-23 14:45] mtho11 commented on #13164
Closing.

[2019-01-23 14:45] #13164 closed

[2019-01-23 14:46] #12902 closed

[2019-01-23 15:09] #12239 closed

[2019-01-23 15:10] #12242 closed

[2019-01-23 15:11] #12244 closed

[2019-01-23 15:19] gmcculloug commented on #12696
This issue has not been resolved, but better suited for the Automate engine repo now.  So let's move it.

@miq-bot move_issue manageiq-automation_engine

[2019-01-23 15:20] #12696 closed

[2019-01-23 15:50] #10527 closed

[2019-01-23 15:57] #7435 closed

[2019-01-23 15:58] #12112 closed

[2019-01-23 15:59] jrafanie commented on #12819
Yes, I think this is worthwhile researching since my testing wasn't very scientific and there could be some memory savings using jemalloc on appliances.  Removed the stale label.

[2019-01-23 16:03] JPrause commented on #12696
Thanks @gmcculloug
@miq-bot remove_label stale

[2019-01-23 16:04] JPrause commented on #11736
Sure, and thanks @bronaghs
@miq-bot close_issue

[2019-01-23 16:05] #11736 closed

[2019-01-23 16:05] JPrause commented on #12819
Thanks @jrafanie
and also for removing the stale label.

[2019-01-23 16:22] JPrause commented on #17738
@dbarreda thanks for the followup and verification.

[2019-01-23 16:24] JPrause commented on #17738
@tjyang thanks for the verification!

[2019-01-23 16:25] JPrause commented on #14118
@gaetanquentin is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:26] JPrause commented on #14064
@miq-bot close_issue

[2019-01-23 16:26] JPrause commented on #14050
@Ladas is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:26] JPrause commented on #14005
@ITD27M01 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:27] JPrause commented on #14003
@ITD27M01 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:27] #14064 closed

[2019-01-23 16:27] JPrause commented on #13990
@jmsleiman is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:27] JPrause commented on #13989
@ITD27M01 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:27] JPrause commented on #13935
@bdunne is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:28] JPrause commented on #13920
@bdunne is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:28] JPrause commented on #13806
@Ladas is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:29] JPrause commented on #13746
@miq-bot close_issue

[2019-01-23 16:30] JPrause commented on #13614
@moolitayer is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:31] JPrause commented on #13591
@nachandr is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:31] JPrause commented on #13509
@kruge002 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:31] #13668 closed

[2019-01-23 16:31] JPrause commented on #13401
@martinpovolny is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:31] JPrause commented on #13392
@sbulage is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:32] JPrause commented on #13329
@shangxu is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:32] JPrause commented on #13306
@cben is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:33] JPrause commented on #13304
@Oxyle1025 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:33] JPrause commented on #13210
@cwb124 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:33] JPrause commented on #13169
@dkorn is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:33] JPrause commented on #13167
@dkorn is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:35] JPrause commented on #14950
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:35] JPrause commented on #14924
@martinpovolny is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:36] JPrause commented on #14913
@abellotti is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:36] JPrause commented on #14912
@abellotti is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:36] JPrause commented on #14844
@mkanoor is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:36] JPrause commented on #14841
@ITD27M01 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:37] JPrause commented on #14840
@juliancheal is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:37] JPrause commented on #14838
@izapolsk is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:37] JPrause commented on #14836
@ITD27M01 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:37] JPrause commented on #14832
@masayag is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:38] JPrause commented on #14813
@agrare is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:40] JPrause commented on #14778
@dmetzger57 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:40] JPrause commented on #14761
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:41] JPrause commented on #14740
@gmcculloug is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:41] JPrause commented on #14710
@nick2day is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:41] JPrause commented on #14702
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:42] JPrause commented on #14648
@ITD27M01 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:42] JPrause commented on #14630
@ablecable is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:42] JPrause commented on #14579
@famany is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:43] JPrause commented on #14514
@ioggstream is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:43] JPrause commented on #14408
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:43] JPrause commented on #14268
@Ladas is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:43] JPrause commented on #14265
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:44] JPrause commented on #14251
@moolitayer is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:44] JPrause commented on #14244
@skateman is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:45] agrare commented on #14813
This is still a valid issue

[2019-01-23 16:45] JPrause commented on #15700
@arnikasky is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:45] JPrause commented on #15673
@shuviru219 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:46] JPrause commented on #15638
@RMCJIB is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:46] JPrause commented on #15628
@Jiri-Kremser is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:47] JPrause commented on #15609
@meng-tian is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:47] JPrause commented on #15599
@leclaist is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:47] JPrause commented on #15563
@miq-bot close_issue

[2019-01-23 16:48] JPrause commented on #15541
@himdel is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:48] #15563 closed

[2019-01-23 16:48] JPrause commented on #15259
@matobet is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:48] JPrause commented on #15253
@syncrou is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:49] JPrause commented on #15212
@aweiteka is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:49] JPrause commented on #15196
@lpichler is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:49] JPrause commented on #15190
@languoyu is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:49] JPrause commented on #15158
@yogetter is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:50] JPrause commented on #15085
@abellotti is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:50] #15253 closed

[2019-01-23 16:50] JPrause commented on #15066
@miq-bot close_issue

[2019-01-23 16:51] JPrause commented on #15036
@jrafanie is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:51] JPrause commented on #15035
@Ladas is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:51] #15066 closed

[2019-01-23 16:51] JPrause commented on #15004
@kevensen is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:51] JPrause commented on #14966
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:52] JPrause commented on #14961
@hsong-rh is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:52] JPrause commented on #16678
@himdel is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:53] JPrause commented on #16674
@miq-bot close_issue

[2019-01-23 16:53] JPrause commented on #16571
@miq-bot close_issue

[2019-01-23 16:53] #16571 closed

[2019-01-23 16:53] #16674 closed

[2019-01-23 16:53] JPrause commented on #16547
@snecklifter is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:54] JPrause commented on #16530
@jas612 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:54] JPrause commented on #16395
@moolitayer is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:55] JPrause commented on #16343
@xeviknal is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:55] JPrause commented on #16123
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:55] JPrause commented on #16108
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:56] JPrause commented on #16052
@himdel is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:56] JPrause commented on #16041
@lolaswift is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:56] JPrause commented on #16002
@ITD27M01 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:56] JPrause commented on #15948
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:57] JPrause commented on #15926
@Fryguy is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:57] JPrause commented on #15902
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:58] JPrause commented on #15882
@cben is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:58] JPrause commented on #15875
@tjyang is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:58] JPrause commented on #15861
@cben is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:58] JPrause commented on #15840
@vatsalparekh is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:58] JPrause commented on #15833
@vatsalparekh is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:59] JPrause commented on #15771
@lolaswift is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 16:59] ioggstream commented on #14514
Hi @JPrause! Feel free to close if you can't reproduce :) Peace, R.

[2019-01-23 16:59] JPrause commented on #15758
@vkochan is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 17:00] JPrause commented on #15754
@mkoura is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 17:00] JPrause commented on #15712
@cwpenhale is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 17:26] lfu commented on #15641
Closed for now.

[2019-01-23 17:26] #15641 closed

[2019-01-23 18:34] JPrause commented on #14813
Thanks @agrare for the info and removing the label.

[2019-01-23 18:34] JPrause commented on #14514
@miq-bot close_issue

[2019-01-23 18:35] #14514 closed

[2019-01-23 18:37] JPrause commented on #17669
@LorkScorguar is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:37] JPrause commented on #17649
@Yadnyawalkya is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:38] JPrause commented on #17619
@easyljy is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:38] JPrause commented on #17601
@wljtcc is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:38] JPrause commented on #17599
@abraverm is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:39] JPrause commented on #17587
@greg-at-symcor-dot-com is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:39] JPrause commented on #17579
@jameswnl is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:42] #17579 closed

[2019-01-23 18:42] JPrause commented on #17546
@phospi we just released Hammer GA. http://manageiq.org/download/
If the issue still exists using Hammer, let me know and I'll remove the stale label.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:42] jameswnl commented on #17579
This is low in terms of priority. We can close it for now.

[2019-01-23 18:42] JPrause commented on #17535
@miha-plesko is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:43] JPrause commented on #17383
@CharlleDaniel is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:44] JPrause commented on #17378
@wing731 we just released Hammer GA. http://manageiq.org/download/
If the issue still exists using Hammer, let me know and I'll remove the stale label.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:45] JPrause commented on #17344
@skateman is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:46] JPrause commented on #17339
@miq-bot close_issue

[2019-01-23 18:46] JPrause commented on #17296
@jerryk55 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:46] JPrause commented on #17254
@d-m-u is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:47] #17339 closed

[2019-01-23 18:47] JPrause commented on #17230
@cben is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:47] JPrause commented on #17211
@jmontleon is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:47] JPrause commented on #17147
@rywillia is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:48] JPrause commented on #17064
@rvalente is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-23 18:48] JPrause commented on #17047
@miq-bot close_issue

[2019-01-23 18:48] JPrause commented on #16935
@miq-bot close_issue

[2019-01-23 18:49] JPrause commented on #16862
@miq-bot close_issue

[2019-01-23 18:49] #16862 closed

[2019-01-23 18:49] #16935 closed

[2019-01-23 18:49] JPrause commented on #16830
@miq-bot close_issue

[2019-01-23 18:49] #17047 closed

[2019-01-23 18:49] JPrause commented on #16696
@miq-bot close_issue

[2019-01-23 18:50] #16696 closed

[2019-01-23 18:55] jrafanie commented on #15036
Yup, removed the stale label.

[2019-01-23 19:00] bzwei commented on #11826
There is no plan to continue this work. Closing.

[2019-01-23 19:00] #11826 closed

[2019-01-23 19:15] easyljy commented on #17619
It's fixed in Gapro-7.

On Wed, Jan 23, 2019, 12:38 John Prause <notifications@github.com wrote:

[2019-01-23 19:43] JPrause commented on #15036
Thanks @jrafanie

[2019-01-23 19:44] JPrause commented on #17619
@miq-bot close_issue

[2019-01-23 19:44] #17619 closed

[2019-01-23 20:01] skateman commented on #17344
Umm yes, this is still happening :disappointed:

[2019-01-23 20:07] JPrause commented on #17344
Thanks @skateman
@miq-bot remove_label stale

[2019-01-23 20:09] Ladas commented on #15035
I think this is solved, we can close

[2019-01-23 20:11] #14268 closed

[2019-01-23 20:13] Ladas commented on #13806
solved in topology inventory, miq will use the same at some point

[2019-01-23 20:14] Ladas commented on #14050
I believe @lpichler  fixed this a long time ago

[2019-01-23 20:14] #14050 closed

[2019-01-23 20:18] #10932 closed

[2019-01-23 20:18] #11223 closed

[2019-01-23 20:19] JPrause commented on #15035
Thanks @Ladas
@miq-bot close_issue

[2019-01-23 20:19] #15035 closed

[2019-01-23 21:06] himdel commented on #16052
Confirmed, this is still true:

[code]

[2019-01-23 21:10] himdel commented on #16052
(Not sure what the plan is with 9.6 support, but we're currently 3 versions behind, will be 4 in q4 2019.)

[2019-01-23 21:16] himdel commented on #16678
Still very much true,

[code]

[2019-01-23 21:19] himdel commented on #14924
Yes it is, as far as I know, no progress has been made *yet* in exposing all those `product/views/*.yaml` over the API.

Cc @kbrock you mentioned having an idea about some "ruport lite" that would expose those over the API?

[2019-01-23 21:31] tjyang commented on #16123
I don't have time to try this V2V path  currently. Closing this issue.

[2019-01-23 21:31] #16123 closed

[2019-01-23 21:32] tjyang commented on #15948
Not applicable for newer version like gapri/hammer

[2019-01-23 21:32] #15948 closed

[2019-01-23 21:34] tjyang commented on #14950
I would suggest manageiq team to implement global search box. Please keep this issue alive.

[2019-01-23 21:46] himdel commented on #15541
`DialogImportService` was moved back to the core in  https://github.com/ManageIQ/manageiq-ui-classic/pull/1826 & https://github.com/ManageIQ/manageiq/pull/15728.

I guess the API using UI code is a separate issue, closing this one.

[2019-01-23 21:46] #15541 closed

[2019-01-24 07:06] miha-plesko commented on #17535
It seems to be fixed, thanks.

[2019-01-24 07:06] #17535 closed

[2019-01-24 07:10] skateman commented on #14244
Well, yes it is

[2019-01-24 10:20] Yadnyawalkya commented on #17649
@JPrause  I missed it somehow since it was too old.
I checked on available upstream of Dec 15, 2018 (master.20181215002538_4591309) and looks like issue is fixed there.

![screenshot from 2019-01-24 15-47-49](https://user-images.githubusercontent.com/10824880/51671756-b40e6d80-1fef-11e9-91c8-9f197d29e973.png)

@JPrause  Thanks a lot for considering this. :)
Closing it since issue is fixed.

[2019-01-24 10:20] #17649 closed

[2019-01-24 11:31] tjyang commented on #14702
Hi @martinpovolny
Is https://github.com/martinpovolny/miq_plugin_example  updated with Hammer-1 release ?

[2019-01-24 13:12] JPrause commented on #16052
Thanks @himdel
@miq-bot remove_label stale

[2019-01-24 13:13] JPrause commented on #16678
Thanks @himdel for checking, and thanks @jrafanie for removing the stale label.

[2019-01-24 13:14] JPrause commented on #14924
Thanks @himdel and I'lll remove the stale label to give this another lease on life.
@miq-bot remove_label stale

[2019-01-24 13:19] JPrause commented on #14950
Thanks @tjyang and I'll remove the stale label to give this another lease on life.
@miq-bot remove_label stale

[2019-01-24 13:21] JPrause commented on #14244
Thanks @skateman and I'll remove the stale label to give this another lease on life.
@miq-bot remove_label stale

[2019-01-24 13:22] JPrause commented on #17649
Thanks for verifying @Yadnyawalkya

[2019-01-24 13:41] #15628 closed

[2019-01-24 15:30] cben commented on #10499
The issue is still valid, but not strictly a bug, just UX enhancement.
- A real fix requires fundamental improvement to policy system to constrain which events are applicable to which object type.
- A simpler partial improvement for container events is splitting them into categories (node events, pod events etc.).  Probably easy change but harder to test check compatibility?

Anyway I don't see my

[2019-01-24 15:30] #10499 closed

[2019-01-24 15:32] cben commented on #13306
Long resolved on our end.  I only kept it open as reminder to report on the gem but never got to it, and won't.  Closing.

[2019-01-24 15:32] #13306 closed

[2019-01-24 15:38] cben commented on #10772
Don't know if still valid, haven't looked at Automate UI nor code for a long time...
Anyway this is not bug just UX, and if none of the Automate people even commented, can close.
(cc @mkanoor)

[2019-01-25 12:15] tjyang commented on #14950
@serenamarie125 ,  Is global search box still on the roadmap ?

[2019-01-25 16:09] djberg96 commented on #12819
@jrafanie I thought you saw a 10% reduction. That alone seems worthwhile.

Is there any chance you're already using a version of Ruby with jemalloc enabled?

[2019-01-25 16:19] kevensen commented on #15004
This is no longer an issue

[2019-01-25 16:19] #15004 closed

[2019-01-28 13:58] #17758 closed

[2019-01-28 17:01] NickLaMuro commented on #11692
@JPrause I think it still has some worth, though I don't know if/when I might get time to take another stab at this.

That said, it might make sense to move this over to issue over to `manageiq-gems-pending` as that is where this code lives now.

[2019-01-28 18:40] JPrause commented on #11692
Thanks @NickLaMuro
@miq-bot remove_label stale
@miq-bot move_issue manageiq-gems-pending

[2019-01-28 18:41] #11692 closed

[2019-01-29 07:48] #17599 closed

[2019-01-29 12:03] #17147 closed

[2019-01-29 14:09] #10602 closed

[2019-01-29 14:20] mmojzis commented on #10596
It's working now so closing.

[2019-01-29 14:20] #10596 closed

[2019-01-29 14:26] mmojzis commented on #10582
It's working now. Closing.

[2019-01-29 14:26] #10582 closed

[2019-01-29 15:09] mmojzis commented on #10599
It's working now. Closing.

[2019-01-29 15:09] #10599 closed

[2019-01-29 15:39] mmojzis commented on #12917
It's working now. Closing.

[2019-01-29 15:39] #12917 closed

[2019-01-29 15:40] #10947 closed

[2019-01-29 15:48] #11052 closed

[2019-01-29 15:51] #10578 closed

[2019-01-29 19:05] JPrause commented on #10585
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:06] JPrause commented on #10581
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:06] #10581 closed

[2019-01-29 19:06] #10585 closed

[2019-01-29 19:06] JPrause commented on #10579
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:06] JPrause commented on #10501
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:07] #10333 closed

[2019-01-29 19:07] #10501 closed

[2019-01-29 19:07] #10579 closed

[2019-01-29 19:07] JPrause commented on #10302
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:07] JPrause commented on #10254
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:07] JPrause commented on #10251
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:07] JPrause commented on #9309
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:08] JPrause commented on #7353
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:08] JPrause commented on #7342
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:08] #7353 closed

[2019-01-29 19:08] #9309 closed

[2019-01-29 19:08] #10251 closed

[2019-01-29 19:08] #10254 closed

[2019-01-29 19:08] JPrause commented on #6615
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:08] #10302 closed

[2019-01-29 19:08] JPrause commented on #6379
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:08] JPrause commented on #6378
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:08] JPrause commented on #6375
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:08] JPrause commented on #6374
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:09] JPrause commented on #3973
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:09] #6374 closed

[2019-01-29 19:09] #6375 closed

[2019-01-29 19:09] #6378 closed

[2019-01-29 19:09] #6379 closed

[2019-01-29 19:09] #6615 closed

[2019-01-29 19:09] #7342 closed

[2019-01-29 19:10] JPrause commented on #11346
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:10] JPrause commented on #11239
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:10] #3973 closed

[2019-01-29 19:10] JPrause commented on #11238
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:10] JPrause commented on #11187
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:11] JPrause commented on #11176
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:11] #11176 closed

[2019-01-29 19:11] #11187 closed

[2019-01-29 19:11] #11238 closed

[2019-01-29 19:11] #11239 closed

[2019-01-29 19:11] JPrause commented on #11146
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:11] JPrause commented on #11099
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:11] JPrause commented on #11051
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:12] JPrause commented on #11041
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:12] #11041 closed

[2019-01-29 19:12] #11051 closed

[2019-01-29 19:12] JPrause commented on #10939
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:12] #11099 closed

[2019-01-29 19:12] #11146 closed

[2019-01-29 19:12] JPrause commented on #10912
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:12] JPrause commented on #10875
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:12] JPrause commented on #10853
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:13] JPrause commented on #10772
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:13] JPrause commented on #10744
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:13] JPrause commented on #10724
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:13] JPrause commented on #10667
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:13] JPrause commented on #10657
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:14] JPrause commented on #10655
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:14] JPrause commented on #10633
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:14] #10655 closed

[2019-01-29 19:14] #10657 closed

[2019-01-29 19:14] #10667 closed

[2019-01-29 19:14] #10724 closed

[2019-01-29 19:14] #10744 closed

[2019-01-29 19:14] JPrause commented on #10611
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:14] #10772 closed

[2019-01-29 19:14] #10853 closed

[2019-01-29 19:14] #10875 closed

[2019-01-29 19:14] #10912 closed

[2019-01-29 19:14] #10939 closed

[2019-01-29 19:15] JPrause commented on #10603
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:15] JPrause commented on #10601
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:15] #10603 closed

[2019-01-29 19:15] #10605 closed

[2019-01-29 19:15] #10610 closed

[2019-01-29 19:15] #10611 closed

[2019-01-29 19:15] #10633 closed

[2019-01-29 19:16] #10601 closed

[2019-01-29 19:16] JPrause commented on #13169
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:16] JPrause commented on #13167
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:16] JPrause commented on #13113
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:16] JPrause commented on #13108
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:16] JPrause commented on #12990
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:17] JPrause commented on #12977
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:17] #12977 closed

[2019-01-29 19:17] #12990 closed

[2019-01-29 19:17] #13108 closed

[2019-01-29 19:17] #13113 closed

[2019-01-29 19:17] #13167 closed

[2019-01-29 19:17] #13169 closed

[2019-01-29 19:17] JPrause commented on #12976
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:18] JPrause commented on #12774
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:18] JPrause commented on #12671
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:18] #12774 closed

[2019-01-29 19:18] #12976 closed

[2019-01-29 19:18] JPrause commented on #12508
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:18] JPrause commented on #12476
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:18] JPrause commented on #12392
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:18] JPrause commented on #12363
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:18] JPrause commented on #12194
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:19] JPrause commented on #11924
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:19] #11924 closed

[2019-01-29 19:19] #12194 closed

[2019-01-29 19:19] #12392 closed

[2019-01-29 19:19] #12476 closed

[2019-01-29 19:19] JPrause commented on #11901
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:19] #12508 closed

[2019-01-29 19:19] #12671 closed

[2019-01-29 19:19] JPrause commented on #11900
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:19] JPrause commented on #11878
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:19] JPrause commented on #11868
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:19] JPrause commented on #11716
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:20] JPrause commented on #11713
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:20] JPrause commented on #11588
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:20] JPrause commented on #11511
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:20] JPrause commented on #11503
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:20] JPrause commented on #11457
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:21] #11457 closed

[2019-01-29 19:21] #11503 closed

[2019-01-29 19:21] #11511 closed

[2019-01-29 19:21] #11588 closed

[2019-01-29 19:21] #11713 closed

[2019-01-29 19:21] #11716 closed

[2019-01-29 19:21] #11878 closed

[2019-01-29 19:21] #11901 closed

[2019-01-29 19:22] JPrause commented on #14778
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:22] JPrause commented on #14740
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:23] JPrause commented on #14710
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:23] #14710 closed

[2019-01-29 19:23] #14740 closed

[2019-01-29 19:23] #14778 closed

[2019-01-29 19:23] JPrause commented on #14648
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:24] JPrause commented on #14630
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:24] JPrause commented on #14579
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:24] #14630 closed

[2019-01-29 19:24] #14648 closed

[2019-01-29 19:24] JPrause commented on #14251
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:24] JPrause commented on #14118
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:24] JPrause commented on #14005
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:24] JPrause commented on #14003
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:25] JPrause commented on #13990
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:25] #14003 closed

[2019-01-29 19:25] #14005 closed

[2019-01-29 19:25] JPrause commented on #13989
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:25] #14118 closed

[2019-01-29 19:25] #14251 closed

[2019-01-29 19:25] #14579 closed

[2019-01-29 19:25] JPrause commented on #13935
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:25] JPrause commented on #13920
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:25] JPrause commented on #13744
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:26] #13744 closed

[2019-01-29 19:26] #13920 closed

[2019-01-29 19:26] #13935 closed

[2019-01-29 19:26] #13989 closed

[2019-01-29 19:26] #13990 closed

[2019-01-29 19:30] JPrause commented on #17546
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:30] JPrause commented on #17383
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:31] JPrause commented on #17296
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:31] JPrause commented on #17254
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:31] JPrause commented on #17230
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:31] JPrause commented on #17211
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:31] #17230 closed

[2019-01-29 19:31] #17254 closed

[2019-01-29 19:31] #17296 closed

[2019-01-29 19:31] JPrause commented on #17064
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:31] #17383 closed

[2019-01-29 19:31] #17546 closed

[2019-01-29 19:31] #17567 closed

[2019-01-29 19:31] #17601 closed

[2019-01-29 19:31] #17669 closed

[2019-01-29 19:31] JPrause commented on #16547
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:31] JPrause commented on #16530
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:32] JPrause commented on #16456
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:32] JPrause commented on #16395
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:32] JPrause commented on #16343
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:32] JPrause commented on #16002
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:32] JPrause commented on #15926
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:33] JPrause commented on #15840
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:33] JPrause commented on #15833
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:33] #15840 closed

[2019-01-29 19:33] JPrause commented on #15771
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:33] #15926 closed

[2019-01-29 19:33] #16002 closed

[2019-01-29 19:33] #16343 closed

[2019-01-29 19:33] #16395 closed

[2019-01-29 19:33] JPrause commented on #15758
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:33] #16456 closed

[2019-01-29 19:33] #16530 closed

[2019-01-29 19:33] #16547 closed

[2019-01-29 19:33] #17064 closed

[2019-01-29 19:33] #17211 closed

[2019-01-29 19:34] #15758 closed

[2019-01-29 19:34] #15771 closed

[2019-01-29 19:34] #15833 closed

[2019-01-29 19:35] JPrause commented on #15754
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:35] JPrause commented on #15712
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:35] JPrause commented on #15700
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:35] JPrause commented on #15673
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:36] JPrause commented on #15638
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:36] greg-at-symcor-dot-com commented on #17587
To my knowledge this issue was never resolved.

[2019-01-29 19:36] JPrause commented on #15637
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:36] #15638 closed

[2019-01-29 19:36] JPrause commented on #15625
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:36] #15673 closed

[2019-01-29 19:36] #15700 closed

[2019-01-29 19:36] #15712 closed

[2019-01-29 19:36] #15754 closed

[2019-01-29 19:36] JPrause commented on #15609
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:36] JPrause commented on #15477
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:36] JPrause commented on #15259
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:37] JPrause commented on #15212
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:37] JPrause commented on #15196
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:37] #15212 closed

[2019-01-29 19:37] JPrause commented on #15190
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:37] #15259 closed

[2019-01-29 19:37] #15477 closed

[2019-01-29 19:37] #15599 closed

[2019-01-29 19:37] #15609 closed

[2019-01-29 19:37] JPrause commented on #15158
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:37] #15625 closed

[2019-01-29 19:37] #15637 closed

[2019-01-29 19:37] JPrause commented on #15085
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:37] JPrause commented on #14961
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:37] JPrause commented on #14913
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:37] JPrause commented on #14912
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:38] JPrause commented on #14844
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:38] #14844 closed

[2019-01-29 19:38] JPrause commented on #14841
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:38] #14912 closed

[2019-01-29 19:38] #14913 closed

[2019-01-29 19:38] #14961 closed

[2019-01-29 19:38] #15085 closed

[2019-01-29 19:38] #15158 closed

[2019-01-29 19:38] #15190 closed

[2019-01-29 19:38] #15196 closed

[2019-01-29 19:38] JPrause commented on #14840
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:39] JPrause commented on #14838
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:39] JPrause commented on #14836
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:39] JPrause commented on #14832
Closing issue. If you feel the issue needs to remain open, please let me know and it will be reopened.
@miq-bot close_issue

[2019-01-29 19:39] #14836 closed

[2019-01-29 19:40] #14832 closed

[2019-01-29 19:40] JPrause commented on #17752
@AllenBW is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-29 19:44] JPrause commented on #17587
@greg-at-symcor-dot-com would you like me to reopen this issue?

[2019-01-29 19:46] greg-at-symcor-dot-com commented on #17587
@JPrause yes please.

[2019-01-29 19:50] JPrause commented on #17587
@miq-bot open_issue

[2019-01-29 19:50] JPrause commented on #17587
@miq-bot remove_label stale

[2019-01-30 00:18] kbrock commented on #11868
This was fixed in #16754

[2019-01-30 00:54] kbrock commented on #14924
I thought we had a report data endpoint.
So I guess I assumed that could be used to display the product views.

But possibly not.

Yea. I haven't done anything here

[2019-01-30 06:46] leecw72 commented on #12476
The issue was closed though I'm not able to establish the root cause. Thanks.
Sent from Yahoo Mail on Android

  On Wed, Jan 23, 2019 at 10:39 PM, John Prause<notifications@github.com> wrote:
@leecw72 is this still a valid issue. If not can you close.
If there's no update by next week, I'll be closing this issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2019-01-30 18:47] jrafanie commented on #12819
@djberg96 I wasn't seeing the 50% improvement or even 20% that other places on the web were reporting.  I'm not saying that it's not an improvement but maybe my testing methodology was flawed.

Are you seeing improvements when you're using jemalloc?

[2019-01-31 02:43] djberg96 commented on #12819
I was seeing around a 10% improvement for most things, but the UI seemed to get 30-40%. I think @himdel was seeing around the same thing.

Anyway, I think it would be worth making the default if possible, though I don't know how we would deploy jemalloc to production exactly.

[2019-01-31 10:45] himdel commented on #12819
So, it really depends on what we're measuring.

Running `rails s`, and measuring using what `htop` says, after having logged in and loaded the dashboards:

[code]

Measuring using `smem -krs pss -P puma\ \\d`:

with `libjemalloc2 5.1.0-2`:
after booting
 9153 himdel   puma 3.7.1 (tcp://localhost        0   275.2M   276.0M   284.0M
on login screen
 9153 himdel   puma 3.7.1 (tcp://localhost        0

[2019-01-31 15:19] sandrobonazzola commented on #18197
Still there in hammer1 released OVA.

[2019-01-31 18:46] michalskrivanek commented on #18197
The format is not a valid oVirt OVA. It never was, btw, but we changed few things in oVirt OVA in 4.2 and 4.3.
I strongly suggest to create a VM in oVirt, export the OVA and compare with whatever is used to generate the MIQ OVA

[2019-01-31 21:01] rnunez-ws opened #18423 "VM alerts evaluate false despite condition is true"
Hi

- I've got some real performance alerts to monitor VM CPU and memory usage.
- For CPU usage I'm using the field **CPU - Usage Rate for Collected Intervals (%)**, the alert should trigger when CPU use is >= 80%.
- For Memory usage I'm using the field **Memory - Usage Rate of Total Allocated (%)**, the alert should trigger when Memory use is >= 80%.
- I've been making a test with a RHV VM whose

[2019-02-01 12:39] himdel commented on #12819
I wonder if some of that difference could be LD_PRELOAD vs building ruby with jemalloc, but, apart from virtual, the numbers do seem consistently higher, yeah.

(Or, there's also libjemalloc1 3.6.0-11 in debian, I haven't tried that one.)

[2019-02-01 14:10] jrafanie commented on #12819
Yeah, LD_PRELOAD could be at play here.  I haven't reviewed the versions of jemalloc to know if one version is better than others.

[2019-02-01 14:24] djberg96 commented on #12819
If you're using rbenv, you can do `RUBY_CONFIGURE_OPTS="--with-jemalloc" rbenv install 2.4.3` (or whichever version you use) to see if there's any benefit vs using LD_PRELOAD.

You can double check it with `ruby -r rbconfig -e "puts RbConfig::CONFIG['LIBS']"` and you should see `-ljemalloc`.

[2019-02-01 15:13] djberg96 commented on #12819
My own experiments showed roughly the same thing as @himdel  whether Ruby was built with jemalloc or I used LD_PRELOAD.

[2019-02-01 15:20] himdel commented on #12819
@djberg96 beat me to it :)

Tried 2.4.4 with jemalloc, and..

[code]

So.. I have no idea now :D

[2019-02-04 12:32] martinpovolny commented on #14924
Yes, this still is an issue. I am not aware of any effort on the API side that would adress this. Although on the UI side this is already handled by a component that could consume some API if such was available.

[2019-02-04 14:39] AlexanderZagaynov opened #18428 "Remove "vmware_web_service" gem dependency from the core repo"
There is dependency in core **Gemfile**:
https://github.com/ManageIQ/manageiq/blob/5810a00d317dc3f0ac56d52fea8bc5094440e0f7/Gemfile#L148

which should not be here, because its relevant and declared in **manageiq-providers-vmware** gem:
https://github.com/ManageIQ/manageiq-providers-vmware/blob/ae3c8a1059f0c98b24a592cacfb83c67d457ede5/manageiq-providers-vmware.gemspec#L17

But it can't be removed d

[2019-02-04 21:42] rnunez-ws commented on #18423
Hi

Anyone who can help me?

Thanks in advance :)

Best Regards

[2019-02-04 23:12] Fryguy commented on #18428
Core also depends on this because of the serialization of VimType objects.  cc @jrafanie

[2019-02-06 20:06] carbonin commented on #13141
This one feels like a local config issue and probably doesn't have a solution within our application.

I'm not seeing this in PG 10. How do you want to handle this @himdel ? I'd be fine closing it ...

[2019-02-07 08:37] himdel commented on #13141
@carbonin You're right .. for 9.6, I had to up the value in the config, for 11, I'm running the default config again.

So, I'm fine with closing, except: our default config for 9.5 does *not* override `max_locks_per_trasnaction`, and 64 is the default value.

So if we ever build an appliance with 9.6, the config change would still be needed, right?

But if the plan is to skip ahead to 10 or 11 (or

[2019-02-07 15:04] carbonin commented on #13141
Based on the PG source it looks like the default was last changed 14 years ago (https://github.com/postgres/postgres/blame/REL_10_STABLE/src/backend/utils/misc/postgresql.conf.sample#L601). So I bet it's an issue with whatever distribution was being installed rather than the PG version.

I'll go ahead and close this.

[2019-02-07 15:04] #13141 closed

[2019-02-07 16:09] zegahome opened #18440 "error creating ansible playbook service"
getting ambiguous errr:  Could not create Service Template - {"detail":"A server error has occurred."}

No other info in the log.
Trying the example in the video:  https://cloudformsblog.redhat.com/2017/07/24/my-first-ansible-service-video/

Filling out all prompts as shown in video.

[2019-02-08 17:26] JPrause commented on #17752
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-12 15:07] juliancheal commented on #17338
Updating Cops https://github.com/ManageIQ/guides/pull/338

[2019-02-12 18:36] tinaafitz opened #18450 "[RFE] Service Item Copy"
Would like to add the ability to copy a Service Template which would be used by the UI initially:
* New method on the service_template.
* Create new service_template and service_resources with the copied information.
* Ansible Playbook services are more complex and would be initially excluded.
* Would like to use a transaction to avoid having to cleanup on failure.
* Most "things", like dialogs wo

[2019-02-13 16:27] tinaafitz opened #18455 "Automate UI import/export uses different code path than rake import/export."
The UI and rake task should use the same code path for import/export.

We can determine how to proceed once we've identified each code path.

[2019-02-13 16:28] tinaafitz commented on #18455
@miq-bot assign @pkomanek

[2019-02-13 20:15] d-m-u commented on #18450
CustomButtons, CustomButtonSets, and Ansible things are going to be the interesting things.

[2019-02-15 08:46] anrusakov opened #18457 "Unable to obtain a collection: ‘security_groups’ in a service: ‘neutron’ through API. Please, fix your OpenStack ins..."
There is a problem using ovirt-provider-ovn with ManageIQ.

ManageIQ GUI -
Network --> Providers -->
I can see a row with Type - 'Redhat Network'
If i click on this row i can see
Status / Last Refresh:
_Unable to obtain a collection: ‘security_groups’ in a service: ‘neutron’ through API. Please, fix your OpenStack ins..._

I am not able to add/create 'security_groups' as oVirt didn't have this opt

[2019-02-15 09:26] dominikholler commented on #18457
@maiqueb is this an issue of the ovirt-provider-ovn?

[2019-02-15 09:30] maiqueb commented on #18457
@dominikholler it looks like it.

@anrusakov could you gather your ovirt-provider-ovn logs and share them with me ? They're located at /var/log of your ovirt-engine node.

[2019-02-15 09:51] anrusakov commented on #18457
**package python-ovsdbapp is not installed**

**rpm -q ovirt-provider-ovn**
ovirt-provider-ovn-1.2.16-1.el7.noarch

**ovn-nbctl -V**
ovn-nbctl (Open vSwitch) 2.9.0
DB Schema 5.10.0

**ovirt-provider-ovn** Log   (+ Version)

2019-02-14 15:11:58,302 root Starting server
2019-02-14 15:11:58,303 root Version: 1.2.16-1
2019-02-14 15:11:58,303 root Build date: 20181017035653
2019-02-14 15:11:58,303 root

[2019-02-15 09:58] maiqueb commented on #18457
Sorry, probably you'll need to rpm -q python2-ovsdbapp instead.

One question: is this happening on ovirt-4.3 ? I would assume only on 4.2.6.

Could you tell us what's the log output on your 4.3 engine ?

[2019-02-15 10:07] anrusakov opened #18458 "Huge/Incorrect number of Network devices"
Huge/Incorrect number of Network devices on oVirt Host.
Currently i am using oVirt 4.3.0 + ManageIQ Hammer-1
When i go to
Compute -->  Infrastructure --> Host
There is Devices, and is can see - 8318 !!!
Go deeper, Network -

![network](https://user-images.githubusercontent.com/47215071/52849090-4b636e00-3121-11e9-9367-46cf5896f6db.png)

I got only 2 LANs - bond1 and ens2f0.
Is it possible to renew

[2019-02-15 10:35] anrusakov commented on #18457
**rpm -q python2-ovsdbapp**
python2-ovsdbapp-0.6.0-1.el7.noarch

As i remember 4.2.6 affected as well.
4.2.6 was the first version that i add to Manage-IQ.
As 4.2.6 was the first version with 'security_groups', and as it was still under development (But I have same error as well), so i skip the error, till final release - 4.3.0, but still i got error.

**Engine log**  I perform Force provider Refr

[2019-02-15 11:11] maiqueb commented on #18457
@anrusakov security groups are **not** supported on 4.2 . Never the less, that shouldn't blow up your manageIQ.

So, I recommend we focus on the issue on 4.3 (where ovirt supports security groups).

I am not quite understanding which software versions you are running in each ovirt versions; sorry for making you repeat yourself, but it is important that I fully understand that. Please tell me the v

[2019-02-15 15:49] agrare opened #18460 "VMware VMRC Console Not Available"
I am unable to use VMware VMRC consoles on VMware VMs.  The Console Access button is greyed out.

[2019-02-15 18:49] anrusakov commented on #18457
Hmmm,
So,
Seems like main problem is wrong ovirt-provider-ovn Version.
2.10 is correct one (at least this version should be on manage Node)

I try to update it and got dependency error (openvswitch /  DPDK)
So it take some time to fix it...
And now i got
ovn-nbctl -V
ovn-nbctl (Open vSwitch) 2.10.1
DB Schema 5.13.0

ManageIQ -
Last Refresh | Success - 5 Minutes Ago

And now i can see My OVN networ

[2019-02-15 19:19] maiqueb commented on #18457
There is an issue w/ broken openvswitch / ovn caused by a new dpdk version, which led you to to having to disable the extras repo and manually install the old version. Glad that you were able to successfully work around that!

Happy to be of help; if you spot any security group related issue on oVirt through manageIQ, please let me know.

[2019-02-18 06:22] skateman commented on #18460
@agrare did you set up the separate credentials in the VMRC tab of the provider edit form?

[2019-02-18 06:24] skateman commented on #18460
I think this is the problem, and as there's no other item enabled in the dropdown for the *Access*, the whole dropdown gets disabled so you can't hover over the *VM Console* and see the cause of this issue.

![screenshot from 2019-02-18 07-24-25](https://user-images.githubusercontent.com/649130/52931855-40d9ec00-334e-11e9-830b-f14749c6bd3a.png)

@martinpovolny, @terezanovotna possible issue with t

[2019-02-18 06:30] skateman commented on #18460
I see two possible solutions:
- have dropdowns always enabled, so allow them to expand even if all their children are disabled
- include the tooltips of the children to the dropdown if it is disabled so the user can see the causes there

[2019-02-18 06:42] martinpovolny commented on #18460
That is the behavior that we had until recently.

We have recently implemented disabling drop downs in all buttons under it are disabled: behavior https://github.com/ManageIQ/ui-components/pull/357

This change was done based on a "regression" and "test blocker" BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1633727

We need the UX @terezanovotna and maybe product management actually decide what

[2019-02-18 09:21] dominikholler commented on #18457
@maiqueb How do you suggest to go on?

[2019-02-18 09:54] maiqueb commented on #18457
I don't think we should go on; the issue @anrusakov reported was worked around by updating openvswitch and ovn.

The root cause of error was wrong openvswitch / ovn versions (security groups require openvswitch 2.10.Z), for which I have no explanation - that version is featured on the ovirt-4.3 release, which should be installed during upgrade.

Furthermore, @anrusakov experienced the issue of bro

[2019-02-18 12:09] terezanovotna commented on #18460
There needs to be some notification why such action cannot be completed and what to do. I suggest using hover message. What do you think?If we agree, we can add it to documentation.

Do we have more specific data/message to display on hover?
![screen shot 2019-02-18 at 13 05 36](https://user-images.githubusercontent.com/36040135/52950045-46e7c100-337e-11e9-8079-c7317bc34808.png)

[2019-02-18 12:13] agrare commented on #18460
I didn't know that I needed them (which is sad because now I remember the PRs that added that :laughing:)

It also wasn't obvious from the VM page that there were other options for remote console that could be selected from the settings page.  Without knowing already I assumed I could select if I wanted to use VNC, VMRC, or WebMKS from that drop-down on the VM page.

[2019-02-18 12:58] skateman commented on #18460
@terezanovotna I think you did not understand the issue completely, so let's go deeper. There's a dropdown button called `Access` with 2 sub-items `VM Console` and `Web Console`. The enabledness of these two depend on some conditions and they have appropriate tooltips if they're not enabled, that's not a problem. The issue kicks in if none of these two is enabled and therefore their parents get di

[2019-02-18 13:04] anrusakov commented on #18457
@maiqueb
ovirt-4.3 is first version with security groups,
But i got this error on 4.2.6-8.
So it seems like OVN feature will not work on  4.2.6-8 versions.
The solution is to update openvswitch to 2.10.Z version, but i don't know if it is approved version for Ovirt-4.2.X

[2019-02-18 19:02] maiqueb commented on #18457
One correction: ovirt-4.3 is the first version *that supports* security groups.
It's code is available from 4.2.6 - but its use is discouraged; you even need to manually update ovs to get it to run.

[2019-02-18 21:51] d-m-u commented on #18450
We kind of already do copies on custom button sets: https://github.com/ManageIQ/manageiq/blob/cdfb8d6e209d42f3cb1976267b4a501b0aaa4775/spec/models/custom_button_set_spec.rb#L70 can we leverage that?

[2019-02-19 06:39] Wusa19 opened #18465 "Unable to import ansible repos via gitlab"
Hi guys,
I am trying to add a ansible git repository from a private gitlab server on the ManageIQ appliance.
After some time it fails with a timeout error.

I am using the Hammer-2 instance. The ManageIQ appliance is also running behind a company proxy server.

Below you see the output that I get on the ManageIQ appliance.
I think the docker container for the embedded ansible is not able to reach

[2019-02-19 18:56] agrare commented on #18458
@anrusakov what version of manageiq are you using?  We recently updated how we refresh switches/lans (which is what you're seeing there) can you try again with the latest nightly appliance?

[2019-02-19 19:00] agrare commented on #18457
@borod108 @mansam @aufi not sure if this is an openstack or an ovirt issue but can you collaborate on this?

@anrusakov I don't see a manageiq version/sha here, can you attach that? (if you did and I missed it I apologize)

[2019-02-19 20:24] mansam commented on #18457
This appears to be an Ovirt issue and I don't believe there's anything for us to do on the Openstack side, but I'm following.

[2019-02-19 20:34] agrare commented on #18457
:+1: thanks @mansam I'll assign to @borod108 then

[2019-02-19 20:43] anrusakov commented on #18457
@agrare
I am using oVirt 4.3.0 + ManageIQ Hammer-1.

But oVirt 4.2.6 + ManageIQ Gaprindashvili-6 is affected as well.

[2019-02-19 20:56] agrare commented on #18457
Thanks @anrusakov !

[2019-02-20 03:53] skateman commented on #17489
There are still missing some default roles mentioned [here](https://github.com/ManageIQ/manageiq/pull/18375#issuecomment-464641581)

[2019-02-20 08:23] anrusakov commented on #18458
@agrare
oVirt 4.3.0 + ManageIQ Hammer-1

Usually i move to new version using DB Exp/Imp, so, can't test it at the moment :(

With new version (Hammer-1) and fixed Security_Groups seems that problem is fixed.
I was able to add fresh host to my installation - and there is correct number of LANs.
Seems that incorrect Security_Groups (on 4.2.6-4.2.8) can force system to create this huge number of LANs

[2019-02-20 09:52] slemrmartin commented on #17489
cc @Loicavenel - according to link ^^, which pre-defined roles should have Pause and Resume provider feature enabled by default?

[2019-02-20 18:12] codeman65 opened #18470 "Embedded Ansible become_method options"
Currently Embedded Ansible does not expose all of of the become_method options that are available in core ansible.  The valid methods are sudo/su/pbrun/pfexec/doas/dzdo/ksu/runas/machinectl and Embedded Ansible only exposes the first four methods.

[2019-02-20 18:14] Fryguy commented on #18470
@jameswnl Can you take a look at this?  Curious why it wouldn't support all of them.

cc @agrare

[2019-02-21 10:51] Loicavenel commented on #17489
@slemrmartin any Role that can create and delete a provider should be able to Pause/Resume.

[2019-02-21 18:21] jameswnl commented on #18470
They probably expanded the supported list after embedded Tower was first supported by CF. We can add the new ones in

[2019-02-21 18:22] jameswnl commented on #18470
@AlexanderZagaynov can you add this to your task list.
Likely just need to expand this list [here](https://github.com/jameswnl/manageiq-providers-ansible_tower/blob/master/app/models/manageiq/providers/ansible_tower/shared/automation_manager/machine_credential.rb#L31)

[2019-02-21 18:23] jameswnl commented on #18470
@miq-bot assign @AlexanderZagaynov

[2019-02-23 21:40] sckhg1367 opened #18482 "install manageiq source get error with exit code"
Hi guys,
I am trying to setup the developer environment. I git clone the code from this repos and bin/setup will error like this.

== Command ["bin/rails db:migrate"] failed in /home/sckhg1367/ManageIQ/manageiq ==
[root@centos99 manageiq]# ** Using session_store: ActionDispatch::Session::MemCacheStore
** ManageIQ master, codename: Ivanchuk
yarn run v1.13.0
$ /usr/local/rvm/gems/ruby-2.4.5/bundler/

[2019-02-25 14:17] agrare commented on #18482
@sckhg1367 make sure you follow https://github.com/ManageIQ/guides/blob/master/developer_setup.md closely, specifically https://github.com/ManageIQ/guides/blob/master/developer_setup.md#javascripty-things and versions

cc @himdel

[2019-02-25 14:33] himdel commented on #18482
@sckhg1367 Specifically in this case, you just need to `git pull`.

The problem was fixed in https://github.com/ManageIQ/manageiq-ui-classic/pull/5269 and https://github.com/ManageIQ/manageiq-ui-classic/pull/5272 by @ZitaNemeckova

[2019-02-26 02:29] sshveta opened #18485 "[v2v][OSP][RHV]Migration with VDDK transformation method fails when used a VM with International Characters or with VM with space in name"
Steps to Reproduce:
1. Add source(Vmware) and target provider(RHV/OSP)
2. Create a VMware VM named something like:  �Ää or a VM containing space in the name (Ex: rhel 7)
3. Migrate with v2v using ManageIQ v2v UI.
3. Migration completes , VM is created on RHV/OSP
4. But migration plan shows error .

Actual results:
Plan finishes with error .
Also the downloaded log file with international character

[2019-02-26 09:14] skateman commented on #17489
@slemrmartin last UI PR got in, anything else you need from me?

[2019-02-26 10:31] slemrmartin commented on #17489
It seems to be finally all, @skateman. Thanks for cooperation :)

[2019-02-26 16:22] kbrock opened #18489 "Failed seed in MiqReport.seed"
We had a duplicate report, that we deleted in #14515

When migrating an older database, that report still exists.
Unfortunately, our enhanced seeding process does not clean up that no longer valid record.

## Workaround:

[code]

## Reproducer

[code]

[code]

[2019-02-26 16:25] kbrock commented on #18489
This throws `ActiveRecord::RecordInvalid` because it has a duplicate name with a new report:

`170_Configuration Management - Containers/060_Pods per Ready Status.yaml`

[2019-02-26 18:04] Fryguy commented on #18489
I had done something similar for MiqDialog, so I'll probably have to copy the same logic for report.

[2019-02-28 11:29] ThomasBuchinger opened #18499 "Extend BaseTables for MiqExpression"
I am looking for a way to enable expression methods to query more objects in the vmdb database. By diging MangeIQ code, I found that MiqExpressions are configured via a file vmdb/condif/miq_expression.yaml
https://github.com/ManageIQ/manageiq/blob/master/lib/miq_expression.rb

I tried to add some BaseTables myself and they seem to work. The objects I am most interested in are
- GenericObjects
- Ge

[2019-03-01 13:04] Yadnyawalkya opened #18503 "Getting unknown version on build of manageiq latest-hammer pulled by docker"
**Description**
Getting unknown version on build of manageiq latest-hammer pulled by docker

**Steps to follow**
Used steps mentioned on http://manageiq.org/docs/get-started/docker.
Used latest-hammer tag, found same thing on hammer-2 too.

![screenshot from 2019-03-01 18-23-27](https://user-images.githubusercontent.com/10824880/53639934-b0a27d80-3c50-11e9-88a6-244f83b969ca.png)

[2019-03-04 07:14] sckhg1367 commented on #17534
i build code success and Running EVM in background...
but i cant not  application runs on port number 3000.

[2019-03-04 08:58] sckhg1367 opened #18510 "can not run application on port 3000"
Hi guys,

i build code success and running EVM in background...
**but i cant not application runs on port number 3000.**

Jimmy Wang

[2019-03-04 17:31] Raghvendra1987 opened #18517 "Getting Unauthorized and CORS issue while making a post call to automation_requests API"
I am trying making post call to API using UI which is written in reactJS.

it works through postman. It's failing in OPTIONS

Background.js:38 OPTIONS https://temiqweb-99-01s.hq.target.com/api/automation_requests 401 (Unauthorized)

qvrui.dev.target.com/:1 Access to fetch at 'https://abc/api/automation_requests' from origin 'https://abc.xx.com' has been blocked by CORS policy: Response to prefligh

[2019-03-05 02:50] sckhg1367 opened #18519 "build code with manageiq use bin/update get error"
Hi guys,
when i use bin/update, get error like below,

**error An unexpected error occurred: "ENOSPC: no space left on device, copyfile '/usr/local/share/.cache/ya
rn/v4/npm-jquery-ui-1.12.1-bcb4045c8dd0539c134bc1488cdd3e768a7a9e51/node_modules/jquery-ui/external/jquery
-2.1.4/jquery.js' -> '/usr/local/rvm/gems/ruby-2.4.5/bundler/gems/manageiq-ui-classic-aa566af2ef9f/node_mo
dules/jquery-ui/extern

[2019-03-05 03:06] NickLaMuro commented on #18519
@sckhg1367 Probably the simplest fix for this is to do `bundle clean`, which should remove all old versions of `manageiq-ui-classic-GITREF` in your `/usr/local/rvm
/gems/ruby-2.4.5/bundler/gems/` directory.

I would check with @himdel as this might have recently changed, but previously, we were building assets into each version of the UI Classic gem (creates 500+ MB of stuffs), and so every time y

[2019-03-05 06:47] sckhg1367 opened #18520 "QCT want to develop manageiq want to support with red hat"
hi guys,
i am Quanta Cloud Technology, QCT engineer, we want to develop manageiq source code,
we have cooperation with red hat. do you have CICD enviroment or auto build script can share us.
Can you tell us contact window ?

Best Regards,
Jimmy Wang
(QCT)

[2019-03-05 09:55] himdel commented on #18519
It has not changed *yet*, so @NickLaMuro is right, `bundle clean` should do the trick.

If you're doing manageiq development long term, I'm using a crontab entry of `30 14 * * * hardlink -pot ~/.rbenv/ ~/ManageIQ/` to dedup the files every day.

Another alternative would be something along the lines of https://github.com/ManageIQ/manageiq/pull/18461#issuecomment-466001714 - if you have all the rep

[2019-03-07 09:22] sckhg1367 opened #18529 "how to make ccid to local host"
hi guys,
do you knnow how to make ccid environment to our local host to use.

Thanks

[2019-03-07 09:30] sckhg1367 opened #18530 "develop environment setup suggestion"
Hi gus,

what is your develop enviroment information like OS ,OS Kernal version, Hardware configuration, compiler tool, framwork version ( nodejs, Ruby on Rails, Bundle , yarn, gem)

Thanks

[2019-03-07 19:24] agrare commented on #18530
@sckhg1367 https://github.com/ManageIQ/guides/blob/master/developer_setup.md has setup instructions for Fedora/CentOS, Debian/Ubuntu, and Mac OSX.  As long as you are using relatively recent versions of all of the tools in that doc they should be interchangable.  If you have any specific issues with versions we can address them in that doc.

[2019-03-07 19:24] #18530 closed

[2019-03-07 19:26] agrare commented on #18529
@sckhg1367 if you set up your local environment per https://github.com/ManageIQ/guides/blob/master/developer_setup.md you can run specs locally by either doing `bundle exec rake` which will run the full test suite or `bundle exec rspec path/to/the/spec` to run a single spec that you are interested in.

[2019-03-07 19:26] #18529 closed

[2019-03-07 19:27] agrare commented on #18510
@sckhg1367 what have you tried and what error are you getting?  I'm assuming that you've either done `bundle exec rails s` or `bundle exec rake evm:start`

[2019-03-07 19:28] agrare commented on #18520
Welcome!

What are you looking to develop specifically?  E.g add a new provider type, enhance the UI, etc...?