[2015-10-25 15:15] abonas commented on #5099
@miq-bot add_label bug

cc @carbonin @Fryguy @chessbyte

[2015-10-25 15:18] abonas commented on #5099
cc @moolitayer @simon3z

[2015-10-25 15:22] abonas commented on #5099
related issue https://github.com/ManageIQ/linux_admin/issues/139

[2015-10-25 15:43] moolitayer opened #5100 "Cannot start miq server"
I get the following exception on starup:

/home/mtayer/dev/manageiq/lib/extensions/ar_virtual.rb:245:in `block in add_virtual_column': unknown type  (ArgumentError)
	from /home/mtayer/dev/manageiq/lib/extensions/ar_virtual.rb:244:in `fetch'
	from /home/mtayer/dev/manageiq/lib/extensions/ar_virtual.rb:244:in `add_virtual_column'
	from /home/mtayer/dev/manageiq/lib/extensions/ar_virtual.rb:146:in `v

[2015-10-25 15:45] abonas opened #5101 "inconsistency between default values and handling of ipaddr, hostname, mac_address"
[This line](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_server/environment_management.rb#L50) sets them to empty str.

If [this fails](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_server/environment_management.rb#L53), they remain an empty string.

However the handling code [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/vm.rb#L29) checks i

[2015-10-25 15:48] abonas commented on #5100
seems related to https://github.com/ManageIQ/manageiq/pull/4731

[2015-10-25 15:49] abonas commented on #5100
cc @chessbyte @bdunne @Fryguy

[2015-10-25 15:57] abonas opened #5102 "Repeated exception in evm.log "undefined method `miq_group'" for all providers"
relevant PR is https://github.com/ManageIQ/manageiq/pull/4812
This happens for both infra and container providers on my system ( miq_group doesn't exist on any provider)

Example exceptions:
ERROR -- : [NoMethodError]: undefined method `miq_group' for #<ManageIQ::Providers::Redhat::InfraManager:0x000000059afc40>  Method:[rescue in handle_automation_event]
[----] E, [2015-10-25T17:46:36.917448 #284

[2015-10-25 15:58] moolitayer commented on #5100
This was a migration issue. I can now see the expected columns in my hardwares table.
for some reason running db:reset (many times) didn't work but only deleting the database and recreating it.

[2015-10-25 15:58] abonas commented on #5102
@miq-bot add_label bug

cc @lfu @moolitayer @chessbyte @simon3z

[2015-10-26 00:20] #5096 closed

[2015-10-26 03:52] Fryguy commented on #5100
db:reset does not do what you think it does.  It uses db/schema.rb to recreate the database, but we don't commit db/schema.rb, thus whatever you  have locally from an old set of migrations is used.  Best way to reset is to rake evm:db:reset

@jrafanie I thought we disabled db:reset ?

[2015-10-26 07:17] Ladas commented on #4173
Yeah, I tried this one and didn't see it. Maybe it was already fixed?

[2015-10-26 07:20] moolitayer commented on #5100
@Fryguy good to know, I'll pass it on to the other cm-dev members

[2015-10-26 07:38] abonas commented on #5100
@Fryguy I always use evm:db:reset

[2015-10-26 10:51] Ladas opened #5104 "undefined method `ext_management_system' for #<MiqProvisionRequest"
I cannot provision any OpenStack VMs

[----] E, [2015-10-26T11:47:56.111022 #10642:1079990] ERROR -- : MIQ(MiqQueue#deliver) Message id: [1192], Error: [undefined method `ext_management_system' for #<MiqProvisionRequest:0x000000041f5618>]
[----] E, [2015-10-26T11:47:56.111364 #10642:1079990] ERROR -- : [NoMethodError]: undefined method `ext_management_system' for #<MiqProvisionRequest:0x000000041f

[2015-10-26 10:56] Ladas commented on #5104
@lfu seemsl ike the code was added here https://github.com/ManageIQ/manageiq/commit/45688eb0988bec5c80920ffd8438644f430b75ed

Any idea what can cause the failure? This is a normal provision request from UI, it doesn't even pass the validate request automate

[2015-10-26 12:40] carbonin commented on #5099
This is not a new issue, as you can see [here](https://github.com/ManageIQ/manageiq-appliance/blob/master/LINK/usr/bin/miqnet.sh#L147) we have always assumed eth0 for the default interface used on our appliances.  Up until now we have required the `miqnet.sh` file for doing any type of network configuration on the appliance, which also assumes we are running on one of our appliances, which all hav

[2015-10-26 13:11] abonas commented on #5099
@carbonin the code runs not only on appliances, but on developer machines too

[2015-10-26 13:20] carbonin commented on #5099
Can you give steps to reproduce this?

[2015-10-26 13:23] abonas commented on #5099
@moolitayer please provide the info to @carbonin

[2015-10-26 13:25] lfu commented on #5104
@Ladas #5093 will solve this issue.

[2015-10-26 13:26] lfu commented on #5102
@abonas #5093 will solve this issue.

[2015-10-26 14:26] Ladas commented on #5104
@lfu awesome, thank you

[2015-10-26 15:01] Fryguy commented on #5100
Since this seems to be fixed by an evm:db:reset, I am closing for now.  Please reopen if you see this issue again.

[2015-10-26 15:01] #5100 closed

[2015-10-26 15:26] moolitayer commented on #5099
I'm running fedora 22, the default interface is named em1 and there is no eth0:
$ ip a |grep em1
2: em1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group default qlen 1000
    inet 10.35.0.225/23 brd 10.35.1.255 scope global dynamic em1

The sever starts just fine, but I see the following in evm.log:
[----] E, [2015-10-26T17:20:40.352689 #24759:931994] ERROR -- : AwesomeSpa

[2015-10-26 15:28] moolitayer commented on #5102
cc @oschreib

[2015-10-26 16:42] martinpovolny opened #5116 "Patternfly toolbars fixes"
~~@skateman : `grep -r ManageIQ.toolbar` -- this needs to be resolved~~

[2015-10-26 16:52] himdel opened #5117 "Missing search in gtl on non-ajax loads"
Go to `/vm_infra/explorer` and reload - the search bar on the top is missing. But when you switch between list/grid views (or do anything else to trigger an AJAX reload), it appears there.

[2015-10-26 17:26] romanblanco commented on #5116
@martinpovolny titles in toolbar items are HTML escaped two-times, which causes that
`"Can't clone orphaned/archived VM"` displays as
`"Can&#39;t clone orphaned/archived VM"`

[2015-10-26 18:21] martinpovolny commented on #5116
@romanblanco : trying to see the text you indicated. But cannot find it (searching under VMs, list of VMs/templates or a single VM/template).
Can you, please, provide steps to get to that message?

[2015-10-26 18:38] romanblanco commented on #5116
It's from my not-yet-merged PR: https://github.com/ManageIQ/manageiq/pull/4608

[2015-10-26 19:11] martinpovolny commented on #5116
@skateman : working on https://github.com/ManageIQ/manageiq/pull/5125 I got a very strong feeling that sometimes the toolbar button actions are called multiple times.

Can show it to you or try yourself opening the SPICE console in the PR above.

[2015-10-26 20:36] #5099 closed

[2015-10-26 20:36] #5101 closed

[2015-10-26 22:13] aacope opened #5132 "Need better documentation on Amazon access policies required for API access"
http://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html

Need a granular list of AWS IAM policy permissions required by MIQ API access user account. It appears that "AdministratorAccess" is the default recommendation but this is vastly overkill - I have mine working with much less by using only the following policies:
EC2 Full
SNS Read
SQS Read (requires write initially when setting u

[2015-10-26 22:17] chessbyte opened #5133 "Sporadic Failure on Master"
[code]

seed 8397

https://travis-ci.org/ManageIQ/manageiq/jobs/87523034

[2015-10-26 22:31] blomquisg commented on #5132
@aacope thanks for this.  I agree, we definitely need a better listing of what permissions are required for ManageIQ's access to the AWS API.

[2015-10-26 23:09] aacope commented on #825
Great idea

[2015-10-27 10:00] mfalesni opened #5141 "ManageIQ uses @company.com for default e-mails"
The domain `company.com` is actually owned by some real company and [RFC 2606](https://tools.ietf.org/html/rfc2606#section-3) offers some domains that can be used for sample data. ManageIQ sends e-mails eg. to `evmadmin@company.com` :

[code]

[2015-10-27 11:55] romanblanco commented on #5116
Another bug:

After selecting host in `Cloud Inteligence` -> `Timelines` I'm getting error in JS console:

![screenshot from 2015-10-27 12-55-15](https://cloud.githubusercontent.com/assets/1187051/10757262/02e44b2e-7caa-11e5-82ef-263e5db4e346.png)

[2015-10-27 13:03] rananda commented on #4166
Seems to be working fine in the latest build - master.20151027090214_bf6eb93.
This ticket can be closed.

[2015-10-27 13:13] #3139 closed

[2015-10-27 13:15] #4343 closed

[2015-10-27 13:29] abonas commented on #4166
@rananda, please close it, I see I don't have permissions to close it.

[2015-10-27 13:42] chessbyte commented on #5133
Fixed by https://github.com/ManageIQ/manageiq/pull/5139

[2015-10-27 13:42] #5133 closed

[2015-10-27 13:43] chessbyte commented on #5104
Fixed with #5093

[2015-10-27 13:43] #5104 closed

[2015-10-27 13:44] chessbyte commented on #5067
@psav Please be more specific.  Is this in Automate?

[2015-10-27 13:47] chessbyte commented on #4863
@gtanzillo Please have someone validate and make PR, if needed.

[2015-10-27 13:54] martinpovolny commented on #5116
@chessbyte : @skateman is working on the javascript issues in this

[2015-10-27 14:17] gmcculloug commented on #5141
Reviewing [RFC 2606](https://tools.ietf.org/html/rfc2606#section-3) it looks like `.example` is what we really want.

[2015-10-27 17:46] jzigmund commented on #5116
new issue found: Empty toolbars are displayed (some toolbars can be empty as the result of RBAC applied on the visible toolbar buttons), I found that as I have rebased https://github.com/ManageIQ/manageiq/pull/3987 and it stopped working. I will continue on that fix.

Steps to reproduce the empty toolbar can be found in https://bugzilla.redhat.com/show_bug.cgi?id=1213840

[2015-10-28 00:12] romanblanco commented on #4775
@miq-bot add_label refactoring

[2015-10-28 01:07] romanblanco commented on #3957
@lfu please close this issue

[2015-10-28 07:25] martinpovolny commented on #5116
@romanblanco  wrote: @skateman While switching from Automate -> Explorer to Control -> Explorer I'm getting this error:

Uncaught TypeError: Cannot set property 'findByDataClick' of null(anonymous function) @ miq_toolbar.self.js?body=1:1
Navigated to http://localhost:3000/miq_policy/explorer

[2015-10-28 08:54] oschreib opened #5161 "Container Image smart analysis doesn't work"
Due to recent changes (git hash 5a7a379a) Container Image scanning doesn't work anymore.

![screenshot from 2015-10-28 10-52-00](https://cloud.githubusercontent.com/assets/7105897/10783676/2fbc2276-7d62-11e5-8ebf-7e4862844eb5.png)

[2015-10-28 08:55] oschreib commented on #5161
@miq-bot add_label bug
@miq-bot add_label providers/containers

[2015-10-28 13:51] #3957 closed

[2015-10-28 18:04] mkanoor opened #5166 "UI : Automate Domains in tree view in incorrect order"
The left hand datastore tree view in the the Automate Explorer displays domains in the incorrect order. The list view on the right hand side has the correct order.
![automate_tree_before](https://cloud.githubusercontent.com/assets/6452699/10798174/bea4ad68-7d7c-11e5-8f69-0dbc4ae61ac2.png)

[2015-10-28 19:54] #5166 closed

[2015-10-28 20:24] #5141 closed

[2015-10-28 21:23] #4831 closed

[2015-10-29 15:16] h-kataria commented on #5067
@psav i am not able to recreate this issue, please provide more info, see attached screenshots:

![automate_class_add_button](https://cloud.githubusercontent.com/assets/3450808/10822649/7380cc60-7e2e-11e5-8790-5005a04ab4de.png)

![new_class](https://cloud.githubusercontent.com/assets/3450808/10822648/737b337c-7e2e-11e5-8baf-ba31765ce35f.png)

[2015-10-29 17:45] mkanoor commented on #5067
@psav @h-kataria
There was a similar issue https://github.com/ManageIQ/manageiq/issues/4819
This was fixed in https://github.com/ManageIQ/manageiq/pull/4821

[2015-10-30 09:33] skateman commented on #4955
@romanblanco i think this one was resolved, please review!

[2015-10-30 10:03] romanblanco commented on #4955
@skateman Fixed, thanks, closing this issue

[2015-10-30 10:03] #4955 closed

[2015-10-30 10:04] Ladas opened #5194 "UI exception when sorting Host's users"
clicking on sort in this page causes 500

![image](https://cloud.githubusercontent.com/assets/1737058/10842955/0c763028-7ef6-11e5-9be8-9b3addf129d1.png)

[----] F, [2015-10-30T11:02:48.818558 #11715:f5f988] FATAL -- : Error caught: [NameError] undefined local variable or method `replace_right_cell' for #<HostController:0x0000001efa5b18>
/home/Ladas/Projects/cfme/manageiq/app/controllers/applicatio

[2015-10-30 10:15] Ladas commented on #5194
@martinpovolny ^

[2015-10-30 13:07] epwinchell commented on #319
This issue was resolved by the conversion of layouts to Bootstrap.

[2015-10-30 13:30] epwinchell commented on #658
This issue was resolved by the conversion of layouts to Bootstrap.

[2015-10-30 14:09] Ladas opened #5197 "SSA Linux parsing of /var/log/wtmp is wrong"
Not all records are parsed for me. I think it's because we parse by 384 bytes by hard, but e.g. from perl scripts i found, they do foreach ( split( /(.{384})/s, $recs ) ) {

so its /.{384})/s/ instead of /.{384})/

[2015-10-30 14:09] Ladas commented on #5197
@roliveri @gmcculloug have you ever hit this?

[2015-10-30 14:27] gmcculloug commented on #5197
Not something I have seen but I do not spend much time working on SSA much anymore.

[2015-10-30 14:40] Ladas commented on #5197
@gmcculloug @roliveri the test for this is cleaning wtmp file and doing login logout couple times, then putting break point into the code and checking all records are being parsed

For me it doesn't even get the latest logon timestamp, only the first one, I assume it's because of the /s after that. I can provide QE machine where you can see this, if needed.

[2015-10-30 16:57] h-kataria commented on #5067
@psav please verify if this is fixed by #4821

[2015-10-30 17:37] gmcculloug commented on #4863
@DNNX This is a bug.

The line was added in 2009 (commit 771b1379) as:
`p.update_attributes(attrs) unless attrs.empty?`

And refactored late 2010 (commit 2796f2ac) to be:
[code]

[2015-10-30 21:07] rails-bot opened #5215 "Test this project with Rails 4.2.5.rc1"
Hi team,

we just released Rails 4.2.5.rc1. To help us to find regressions, and make the final release
awesome for everyone, I'm here humbly asking you to test your project with this
Release Candidate.

We are planing the final release to 2015-11-04, so it would be great if
you test it before this date.

If you find any regression please open an issue on GitHub mentioning me and with the title sta

[2015-10-30 21:08] rafaelfranca commented on #5215
cc @matthewd

[2015-11-01 10:39] dkorn opened #5218 ""nil" string is displayed in component status error column"
In these cases the value should be an empty string.

[2015-11-01 10:40] dkorn commented on #5218
@miq-bot add_label providers/containers

[2015-11-01 10:40] dkorn commented on #5218
@miq-bot add_label ui

[2015-11-02 11:22] Ladas commented on #5197
So seems like there are some non consistent data, but very weird behavior. E.g in my latest test, first 3 records were parsed normally, then 4th has a data shifted by 3 bytes and 5th has data shifted by additional 4 bytes. (so e.g. username has first 3 bytes missing and 3 bytes in the end from the other field)

Seems like the 'last' command parses it correct, so I tried comparing to http://git.ker

[2015-11-02 11:49] mzazrivec commented on #4388
This report helped me to discover two problems, which were fixed in pull requests #5042 and #5046

With these two pull requests merged, I tried to reproduce the problem described here, but
the problem wouldn't show.

@h-kataria Is this still a problem in current master? If not, can this please be closed? Thank you.

[2015-11-02 12:40] #1655 closed

[2015-11-02 14:16] #4798 closed

[2015-11-02 14:35] h-kataria commented on #4388
@mzazrivec tested on upstream, this is no longer an issue there.

[2015-11-02 14:35] #4388 closed

[2015-11-02 15:00] #3853 closed

[2015-11-02 15:54] martinpovolny commented on #3775
@mzazrivec : new task here: deal with i18n of toobar buttons

[2015-11-02 16:26] zeari commented on #4798
Is this possible? how?

[2015-11-02 16:35] himdel commented on #5116
Seeing a dropdown with just .divider inside... in Infrastructure / Hosts - pick a host (click, not checkbox) - the Power dropdown contains only a divider..

![power](https://cloud.githubusercontent.com/assets/289743/10887555/9500709e-817f-11e5-878d-529336f2c669.png)

[2015-11-02 16:55] romanblanco commented on #5116
There is extra separator on pages in Optimize tab, see screenshots:
![screencapture-localhost-3000-miq_capacity-utilization-1446483266038](https://cloud.githubusercontent.com/assets/1187051/10888157/f1eb36bc-818a-11e5-81d6-e710a7621989.png)

[2015-11-02 20:31] abonas opened #5239 "ManageIQ.toolbars is null error appears in Firebug"
while navigating several pages (login, topology, etc.) , this error appears.

![toolbarserr](https://cloud.githubusercontent.com/assets/6277245/10893432/63ca67aa-81b1-11e5-91dd-20cb9120cac7.png)

cc @martinpovolny
@miq-bot add_label ui

[2015-11-02 22:09] jvlcek commented on #4359
@alexissavin
My initial solution was insufficient. I am reexamining this issue.

I am unable to recreate the looping security group as you have described here:
https://github.com/ManageIQ/manageiq/issues/4359#issuecomment-141927142

Can you please provide details on how to recreate the security group looping
condition you had described?

Thank you. JoeV

[2015-11-02 22:22] h-kataria commented on #5117
https://bugzilla.redhat.com/show_bug.cgi?id=1277276

[2015-11-03 06:45] martinpovolny commented on #5239
@skateman : can you deal with the remaining accurences of `ManageIQ.toolbars`, please?

[2015-11-03 08:21] martinpovolny commented on #5116
@abonas reported: https://github.com/ManageIQ/manageiq/issues/5239

[2015-11-03 08:30] skateman commented on #5239
@abonas can't reproduce on latest master, can you verify please?

[2015-11-03 08:34] abonas commented on #5239
rebased now on latest master - don't see it either.

[2015-11-03 08:36] skateman commented on #5239
@abonas please close the issue then

[2015-11-03 08:36] #5239 closed

[2015-11-03 08:37] martinpovolny commented on #5239
Thanks both!

[2015-11-03 09:00] martinpovolny opened #5248 "Toolbars: straighten toolbar rendering."
`defered_toolbar_render` is called from several view. It justs remembers toolbar to be rendered and then `render_toolbars` renders all the toolbars that where requested.

This is a bit of mess that is left to be resolved by getting rid of `defered_toolbar_render` and render toolbars right where it is needed.

[code]

[code]
`x_view_buttons` is called only from `app/views/layouts/_x_taskbar.html.ha

[2015-11-03 11:58] rut31337 commented on #1366
Our use case is purely with generic services.  We have no providers.  Can there be a way to disable this feature entirely?

[2015-11-03 12:33] romanblanco opened #5253 "Shifted labels in Host configuration"
![screencapture-localhost-3000-host-advanced_settings-1000000000001-1446551042973](https://cloud.githubusercontent.com/assets/1187051/10907444/6f4c5844-822a-11e5-80db-fca671f92e33.png)
![screencapture-localhost-3000-host-advanced_settings-1000000000001-1446550993945](https://cloud.githubusercontent.com/assets/1187051/10907446/70cbdb04-822a-11e5-8a74-267c08948d21.png)

(probably some bug in [app/vi

[2015-11-03 16:29] #5068 closed

[2015-11-03 16:32] moolitayer opened #5262 "smart state: failure but no error received when missing smart state role"
to reproduce:
- remove the "SmartState Analysis" role
- go to containers/container images/select an image and click perform smart analysis
  The job will eventually timeout, and there is no error in the log.

log:

[code]

[2015-11-03 16:34] moolitayer commented on #5262
fyi @blomquisg @simon3z @avi3tal

[2015-11-03 18:45] #2885 closed

[2015-11-03 18:47] #774 closed

[2015-11-03 18:48] #5218 closed

[2015-11-03 18:49] #1386 closed

[2015-11-03 19:02] simon3z commented on #5262
This is not specific to containers. Any smart state analysis job is affected by this issue.

@miq-bot add_label enhancement

cc @blomquisg @chessbyte

[2015-11-03 22:15] zeari opened #5271 "containers dashboard no longer renders"
Accessing the containers dashboard yields an empty page. This is due to some angular errors.

1) It seems happen because the ngSanitize module is missing(?)
[code]

[2015-11-04 07:12] abonas commented on #5271
@zeari & all, I saw that miq was updated to pf 2.5 recently https://github.com/ManageIQ/manageiq/pull/5180

looking at the commit [here](https://github.com/patternfly/angular-patternfly/commit/ad93e7660f4c8eb6d4d95c3d7005a4f978ccc981) it looks that sanitize is a new dependency.

[2015-11-04 07:22] abonas commented on #5271
try adding 'ngSanitize' to dependencies list to your dashboard angular module in the js controller

[2015-11-04 08:07] skateman commented on #5271
@zeari please refernce the fixing commit here if any

[2015-11-04 11:30] martinpovolny commented on #5116
@romanblanco, @skateman : the last comment by @romanblanco should be addressed on javascript/styling side. On ruby side, I need to generate the markup even if all buttons are hidden so that the buttons can be later made visible client-only by javascript.

@skateman : can you take a look?

[2015-11-04 11:51] himdel commented on #5271
@zeari, ad 1) adding `rails-assets-angular-sanitize` to Gemfile should help, ad 2) not really in *that* spec, but there is spec/javascript/ with Jasmine tests..

[2015-11-04 11:58] zeari commented on #5271
Does that work for you? Shouldnt it be ```gem 'rails-assets-ngSanitize'``` ?

[2015-11-04 12:01] #4863 closed

[2015-11-04 12:04] #5161 closed

[2015-11-04 12:19] martinpovolny commented on #4176
add
[code]

[2015-11-04 12:30] himdel commented on #5271
@zeari haven't tried, but it's definitely `rails-assets-angular-sanitize`, sanitize is part of angular itself and these are named as angular-whatever in bower... does it *not* work for you? I can try..

[2015-11-04 12:43] zeari commented on #5271
Doesnt work :\

@himdel Works. Had a stupid typo. I'll make a PR to fix this and also add some spec tests.

[2015-11-04 13:02] Ladas opened #5279 "UI: OpenStack cloud validation no longer changes state of credentials"
There is no way I can re-validate the credentials of cloud now (tested on OpenStack). Nor by validate button nor by refresh

Before, when the credentials were unreachable/error state, the state changed when I did 'edit provider' and 'validate'. That might got broken moving into the angular form? It works on OpenStack Infra which is using the old form.

[2015-11-04 13:02] Ladas commented on #5279
@dclarizio @himdel any ideas about this?

[2015-11-04 16:53] jzigmund commented on #5116
@martinpovolny fixed to not display of empty div - https://github.com/ManageIQ/manageiq/commit/94199c01e0ee52e7b40651c8a1ad22bdb4be2c88

The issue was found as a part of BZ solved in that PR.

[2015-11-04 17:17] martinpovolny commented on #5116
@jzigmund : is that a part of a PR?

What happens if later on you want to enable one of those disabled buttons on client by javascript. Guess that would not work with your fix. Or do you know that such situation cannot happen?

In my previous comment I concluded that this issue is needed to be fixed on javascript/css side. I may be wrong, but need some arguments to do such conclusion.

@skateman,

[2015-11-04 17:33] jzigmund commented on #5116
@martinpovolny empty DIV has appeard as you follow the steps of that BZ .. basically it's caused by privileges. User doesn't have privileges to i.e. edit/add items, so the DIV where should be the toolbar(s) is empty (as the result is too many vertical bars without content)
![screenshot from 2015-11-04 18-26-10](https://cloud.githubusercontent.com/assets/2270962/10946259/99b436e0-8321-11e5-82c2-723

[2015-11-04 18:02] martinpovolny commented on #5116
@jzigmund : the situation that buttons are enabled base od clicks in the UI w/o server round-trip are very common (e.g. VMs and Templates, selecting 0-1-n VMs).

The situation where button would be show/hidden w/o server round-trip -- I don't know. @skateman? someone?

[2015-11-04 19:34] carbonin commented on #2936
Same issue as https://bugzilla.redhat.com/show_bug.cgi?id=1222591

A work around is explained in [comment 32](https://bugzilla.redhat.com/show_bug.cgi?id=1222591#c32)

[2015-11-04 19:36] carbonin commented on #953
@blomquisg can this be closed as of https://github.com/ManageIQ/manageiq/pull/4500 ?

[2015-11-04 19:45] carbonin commented on #431
@bdunne Is this fixed by https://github.com/ManageIQ/manageiq/pull/5201?
I'm seeing a list of RPMs installed in `evm.log` on start up after that change.

Or were you referencing a different log?

[2015-11-04 19:52] bdunne commented on #431
I was referring to the last_startup.log file.

[2015-11-04 19:55] carbonin commented on #431
Ah got it, thanks.

[2015-11-04 23:04] #5117 closed

[2015-11-05 08:46] skateman opened #5294 "Missing download button texts on optimize->utilization->report"
![screenshot from 2015-11-05 09-45-20](https://cloud.githubusercontent.com/assets/649130/10963616/0efbd950-83a2-11e5-8f15-852748387881.png)

[2015-11-05 11:33] Ladas commented on #5279
@AparnaKarve seems like this was caused by your patch here https://github.com/ManageIQ/manageiq/blob/e4a1f3da9035c96dae670cc9cb2a6c81ab61a391/app/controllers/ems_cloud_controller.rb#L78

now there is hardcoded false, so validate doesn't update status. Is this bug or credentials are update eleshewhere?

[2015-11-05 14:49] zeari commented on #5271
@martinpovolny Please review\merge

[2015-11-05 15:21] #5271 closed

[2015-11-05 16:08] gmcculloug opened #5308 "v526200"

[2015-11-05 16:08] gmcculloug opened #5309 "cejiugrrcfhuhjgncb"

[2015-11-05 16:22] #5308 closed

[2015-11-05 16:22] #5309 closed

[2015-11-06 10:30] LudovicBethune commented on #4938
Hi, i'm running the same issue.
Just download a fresh capablanca-rc1 (capablanca-1-rc1.20151106052147_bf999ee)
I just start playing with RBAC and everything is OK with User/Role/Tenants|Projects (in a CRUD way) but impossible to create a group.

![image](https://cloud.githubusercontent.com/assets/10423252/10994886/502f5578-8479-11e5-818d-82e33fb9a8b0.png)
And strictly nothing else
And when i click

[2015-11-06 11:24] LudovicBethune opened #5324 "Add Group : undefined method `+' for nil:NilClass [ops/rbac_group_edit]"
Hi, i'm running the same (closed) issue #4938
Just download a fresh capablanca-rc1 (capablanca-1-rc1.20151106052147_bf999ee)
I just start playing with RBAC and everything is OK with User/Role/Tenants|Projects (in a CRUD way) but impossible to create a group.

![image](https://cloud.githubusercontent.com/assets/10423252/10995909/b4a82e38-8480-11e5-9865-0be313fa6724.png)
And when i click on Add, i'v

[2015-11-06 16:32] jrafanie commented on #5324
@abellotti Can you take a look at this one?  Thanks!

[2015-11-06 17:03] #4068 closed

[2015-11-06 17:03] #4119 closed

[2015-11-06 18:51] dclarizio commented on #5116
@martinpovolny I don't know of any, but as we progress towards angular, it might start happening

[2015-11-08 13:57] moolitayer opened #5347 "EventCatcher::Runner contanetly restarting"
evm.log from five minutes the server was up is [here](http://paste.fedoraproject.org/288126/46989427/raw/)
The thread does not respond:
[----] E, [2015-11-08T15:20:05.093824 #9419:649998] ERROR -- : MIQ(MiqServer#validate_worker) Worker [ManageIQ::Providers::Openshift::ContainerManager::EventCatcher] with ID: [981], PID: [9464], GUID: [16af7992-861b-11e5-b11c-0242152aaa3d] has not responded in 131

[2015-11-09 13:11] romanblanco opened #5351 "Exception in Infrastructure→Datastores"
With `product: storage` set as True, I'm getting exception in Infrastructure→Datastores.
![screencapture-localhost-3000-storage-show-1r3-1447074518297](https://cloud.githubusercontent.com/assets/1187051/11034394/96eb2996-86eb-11e5-9ccd-8115d417e0cf.png)
After clicking on link in Content, I'm getting error:

    [----] F, [2015-11-09T14:09:36.471223 #14728:2aaf9b799968] FATAL -- : Error caught: [No

[2015-11-09 17:22] #5351 closed

[2015-11-09 17:41] himdel commented on #5194
can be closed..

[2015-11-09 21:25] simon3z commented on #5347
@blomquisg are you seeing this with other providers too?

[2015-11-10 08:08] #5194 closed

[2015-11-10 08:22] skateman commented on #5116
#5350

[2015-11-10 12:26] skateman opened #5367 "Too big pictures on the hosts summary -> devices screen"
![screenshot from 2015-11-10 13-26-17](https://cloud.githubusercontent.com/assets/649130/11062371/a676c122-87ae-11e5-8d8a-6df7cc4cea72.png)

[2015-11-10 12:27] skateman commented on #5367
@miq-bot assign @epwinchell add_label bug, ui

[2015-11-10 12:28] skateman commented on #5367
@miq-bot assign @epwinchell

[2015-11-10 12:28] skateman commented on #5367
@miq-bot add_label ui, bug

[2015-11-10 12:45] himdel commented on #5116
#5368 - trailing separators

[2015-11-10 14:48] #4893 closed

[2015-11-10 14:48] #4950 closed

[2015-11-10 14:52] dclarizio opened #5370 "UI - Refactor listnav views"
Would like to take the refactoring done here #5029 and apply it to other listnav views in MIQ.
@martinpovolny please review for feasibility and amount of work, then we can get folks to work on it.  Thx, Dan

[2015-11-10 16:07] martinpovolny commented on #5370
So we are looking at files below `app/views/layouts/listnav/`
The general pattern we are looking for to refactor is
[code]

we have `li_link_if_condition`, `li_link_if_nonzero` and `single_relationship_link`, `multiple_relationship_link`

we are looking to have the i18n correct in these methods
we are looking for some unification where applicable
we do not want to repeat stuff
we want to use the l

[2015-11-10 16:08] martinpovolny commented on #5370
@romanblanco , @PanSpagetk : ping

[2015-11-10 16:49] #5279 closed

[2015-11-11 00:36] jerryk55 opened #5383 "Hyper-V Inventory Doesn't Add Storage for VMs with VHDs on Network Drive"
VMs with VHDs residing on network-mounted drives, starting with \ - have a NULL Storage_ID in the database.  An attempt to run smart state analysis on one of these vms fails with the message "Is not located on a storage".    The drive letter can be obtained via the PowerShell command "Net Use".  Querying the VM settings shows the "\" address rather than the drive letter.  The inventory script shou

[2015-11-11 14:21] epwinchell opened #5387 "Toolbars displaying on Optimize screens"
Toolbars are displaying where they shouldn't under the three Optimize tabs

![screen shot 2015-11-11 at 9 19 48 am](https://cloud.githubusercontent.com/assets/1287144/11092982/6f6a8194-8855-11e5-98ae-ddf83ae28c5c.png)
![screen shot 2015-11-11 at 9 19 34 am](https://cloud.githubusercontent.com/assets/1287144/11092983/6f747686-8855-11e5-9a6d-5e80d061ab62.png)
![screen shot 2015-11-11 at 9 19 16 am](

[2015-11-11 14:21] epwinchell commented on #5387
@miq-bot add_label ui, bug

[2015-11-11 14:22] epwinchell commented on #5387
@miq-bot assign @martinpovolny

[2015-11-11 14:41] skateman commented on #5387
@miq-bot assign @skateman

[2015-11-12 10:36] Ladas opened #5399 "Hosts compare compressed view throws JS error"
![image](https://cloud.githubusercontent.com/assets/1737058/11116243/9a1516c0-8931-11e5-93cf-2c0ba7cb0c11.png)

Actually all buttons are broken in that page

[2015-11-12 10:37] Ladas commented on #5399
@himdel ^ seems like a 5.5 candidate

[2015-11-12 12:16] himdel commented on #5399
@Ladas Hmm, pretty sure #5326 fixed that, did you encounter it on today's upstream?

[2015-11-12 14:13] #5387 closed

[2015-11-12 14:41] lgalis commented on #5324
This occurs when the miq_group table contains at least one record with a null sequence.
This PR https://github.com/ManageIQ/manageiq/pull/5339 prevents adding a group with a  null sequence.
To fix the current issue, one can either change the null sequence in the table or remove the group with the null sequence.

[2015-11-12 15:01] Ladas commented on #5399
@himdel leeet me check again

[2015-11-12 15:03] Ladas commented on #5399
@himdel dammit, I had old repo, but there is still one bug
![image](https://cloud.githubusercontent.com/assets/1737058/11121573/f5656eec-8956-11e5-9c16-234c647d9c08.png)

[2015-11-12 16:01] gtanzillo commented on #5324
This should be addressed by https://github.com/ManageIQ/manageiq/pull/5214/

[2015-11-12 16:06] blomquisg commented on #5347
I've only seen these problems when there's some underlying issue that's throwing a real error.  My guess is that there's another error in the logs that's actually causing this.

And, if you can't find another error in the logs, it's possible that the event monitor thread is encountering an error and not getting a chance to bubble that up to the evm logs.  You *might* have to run as much as you can

[2015-11-12 17:33] moolitayer commented on #5347
The reason for this error has been discovered (:credit_card: @Fryguy @matthewd) a missing event_monitor_running call in all providers but amazon.  The need for event_monitor_running was introduced in https://github.com/ManageIQ/manageiq/pull/4939. After adding such a call I'm no longer seeing the error above. Thanks for the help.

Unfortunately events are still not persisted for kubernetes/openshi

[2015-11-12 18:12] dclarizio opened #5413 "SSUI: Login screen needs user focus and user icon needs logged in user as hover text"
Associated BZ https://bugzilla.redhat.com/show_bug.cgi?id=1281548

[2015-11-12 18:17] dclarizio commented on #5413
@stackus is working on this

[2015-11-12 18:20] jvlcek opened #5414 "Providers with event catcher must invoke event_monitor_running"
ManageIQ::Providers::BaseManager::EventCatcher::Runner uses a Latch to ensure the
event catcher has fully started. To cancel the latch the even catcher for each provider must invoke
ManageIQ::Providers::BaseManager::EventCatcher::Runner#event_monitor_running

[2015-11-12 18:39] jvlcek commented on #5414
closing duplicate of https://github.com/ManageIQ/manageiq/issues/5347

[2015-11-12 18:39] #5414 closed

[2015-11-12 18:48] moolitayer commented on #5347
There is an issue with uppercase / lowercase event names relevant to kubernetes.

[2015-11-12 21:28] #5347 closed

[2015-11-13 00:38] #5399 closed

[2015-11-13 05:04] abellotti opened #5422 "No longer can Login to Web Admin UI with External Auth"
When External Auth is enabled, and we're trying to login with an External Auth user, we get a "Login not allowed, user's User is missing. Please contact the administrator"

The problem here is that the User object in the DB is not yet created when the UserValidationService is called to validate, user/group/role.

Same issue with REST API, getting the Unauthorized error due to the same reason.

[2015-11-13 06:40] abellotti commented on #5422
User authenticate creates user objects before user identify check, Could not reproduce. closing for now.

[2015-11-13 06:40] #5422 closed

[2015-11-13 14:36] kbrock commented on #5422
This seems like a legit error.
I can see how it would exist.
Although, I would imagine it would be tricky to reproduce. Probably only for a very slow ldap connection.

[2015-11-13 16:33] Ladas opened #5433 "undefined method `validate_unsupported' for #<ManageIQ::Providers::Openstack::CloudManager::Template:0x000000153ed6a8>"
When doing SSA of Template(image)

http://paste.openstack.org/show/478820/

[2015-11-13 18:53] abellotti opened #5436 "When adding a new Group, clicking on Look Up LDAP Groups no longer works"
When adding a new Group in the web Admin UI, clicking on (Look Up LDAP Groups) no longer updates the form for the userid/password of the user to use for querying groups in LDAP.

[2015-11-13 23:07] #5413 closed

[2015-11-16 14:53] Fryguy commented on #5309
This is gonna be a tough one to solve.

[2015-11-16 15:05] dkorn opened #5455 "Wrong container event name "Killed" > "Killing""
Container related event "Killed" should be "Killing" (there was a change in the Kubernetes documentation and code).
Currently, "Killing" container events are not being collected due to this issue.

[2015-11-16 15:22] lgalis commented on #5436
@epwinchell

This started with commit 3540c2fedd77bd5f71a4a8bc8589ed86646c2981

[2015-11-16 21:41] #5455 closed

[2015-11-17 02:36] kbrock commented on #5324
Please let me know if this is still an issue.

[2015-11-17 16:32] matthewd commented on #5215
:sweat_smile:

[2015-11-17 16:32] #5215 closed

[2015-11-17 22:05] LudovicBethune commented on #5324
Sorry i took a long time to test the create group with these fix. I confirm that it works fine now.
To complete test with a fresh install, i just download a nighty build (20151117) and the group creation works perfectly.
Thanks for your help.

[2015-11-17 22:05] #5324 closed

[2015-11-18 00:46] kbrock commented on #5324
Thanks @LudovicBethune great write up

[2015-11-18 20:06] mkanoor commented on #827
@lfu @Fryguy @chessbyte
The exception class monkey patching is being added to the Automate Method. The Automate Method and Engine run like a client/server. The Automate Engine is the Server and the Automate Method is the client with the Drb acting as the channel to exchange information between the Server and the Client. So what we do is monkey patch the backtrace method so that it ends up calling

[2015-11-18 20:14] mkanoor commented on #2150
Fixed in https://github.com/ManageIQ/manageiq/pull/2179

[2015-11-18 20:14] #2150 closed

[2015-11-18 20:21] mkanoor commented on #4029
Fixed in https://github.com/ManageIQ/manageiq/pull/4051

[2015-11-18 20:21] #4029 closed

[2015-11-18 20:21] lfu commented on #827
The issue can be closed if the monkey patch has nothing to do with the ruby version.

[2015-11-18 20:21] #827 closed

[2015-11-18 20:25] mkanoor commented on #4838
Fixed in https://github.com/ManageIQ/manageiq/pull/4839

[2015-11-18 20:25] #4838 closed

[2015-11-18 20:31] mkanoor commented on #877
@Fryguy @h-kataria
The Automate method can create instances via $evm.instance_create.
These calls have been updated to check if the domain is writable before adding a new instance.
Fixed in https://github.com/ManageIQ/manageiq/pull/620

[2015-11-18 20:31] #877 closed

[2015-11-18 20:43] mkanoor commented on #278
Feature already exists in the Product.

[2015-11-18 20:43] #278 closed

[2015-11-19 15:22] zeari opened #5517 "Adv. search seems to be broken throughout the containers area"
@martinpovolny @abonas @simon3z
![adv search broken](https://cloud.githubusercontent.com/assets/11256940/11274581/29b4f81c-8ee2-11e5-80e4-d9e4629a4d8d.png)

[2015-11-19 15:23] zeari commented on #5517
@miq-bot add_label bug
@miq-bot add_label providers/containers

[2015-11-19 15:33] abonas opened #5518 "Download summary as pdf is not working in providers"
Download summary as pdf is not working in providers - checked containers and infra providers
(and in other container entities as well)

yields an exception:

NotImplementedError in EmsContainerController#show
pdf generation is not available
Extracted source (around line #7):

  def pdf_from_string(_html_string, _stylesheet)
    raise NotImplementedError, "pdf generation is not available"
  end
end

[2015-11-19 15:34] abonas commented on #5518
@miq-bot add_label bug

cc @simon3z @dclarizio @martinpovolny @zeari

[2015-11-19 19:23] abonas opened #5525 "Download as pdf option looks differently in different screens"
For example, in "all providers" screen, there's a "download" drop down menu with "download as txt, csv, pdf". But in provider single summary page, there's only "download as pdf" button without a dropdown menu.
Is this different on purpose?

@miq-bot add_label ui

cc @dclarizio @martinpovolny

[2015-11-19 20:33] martinpovolny commented on #5525
no idea :-(
ping @epwinchell

[2015-11-19 20:36] kbrock opened #5527 "Test and improve ScheduleWorker"
changes to ==> https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_schedule_worker/runner.rb
- [ ] test: Do all the action's blocks get messages into the miq_queues?
- [ ] test: Do the job definitions set the correct parameters (not sure if we do this for all, or just the various parameters)
- [ ] test: If a role is disabled, are the jobs not scheduled?
- [ ] test: If a role is enabled

[2015-11-19 20:36] epwinchell commented on #5525
@martinpovolny @abonas Presumably, because if there's only one option, we don't use a dropdown?

[2015-11-19 20:38] h-kataria commented on #5525
@epwinchell you are right since summary screen cannot be downloaded in any other form other than a PDF we don't need the drop down menu, whereas list views have an option to download them as PDF/CSV/TXT formats.

[2015-11-20 17:50] h-kataria commented on #5518
@martinpovolny can you look into this, not sure if this is toolbar related issue where toolbar button should be disabled when Prince is not installed.

[2015-11-20 20:37] DNNX opened #5546 "ReportableMixin.search is broken?"
[code]

[Two](https://github.com/ManageIQ/manageiq/blob/0fa77bc40178d38480498a1d6015e47770236f49/app/models/mixins/reportable_mixin.rb#L77) [things](https://github.com/ManageIQ/manageiq/blob/0fa77bc40178d38480498a1d6015e47770236f49/app/models/mixins/reportable_mixin.rb#L85):
1. The `find(:all, :contitions => ...)` syntax is obsolete and I am not even sure that it works in Rails 4.
2. `search_inclu

[2015-11-20 20:56] carbonin opened #5547 "Red Hat Updates tab available upstream"
- [X] https://github.com/ManageIQ/manageiq-ui-classic/pull/7266
- [X] https://github.com/ManageIQ/manageiq/pull/21146
- [x] https://github.com/ManageIQ/manageiq-schema/pull/588 remove vols and settings
- [x] https://github.com/ManageIQ/manageiq-ui-classic/pull/7797
- [x] https://github.com/ManageIQ/manageiq/pull/21344

---

![screenshot from 2015-11-20 13-31-05](https://cloud.githubusercontent.com

[2015-11-20 21:51] DNNX opened #5553 "ApplicationController::Automate#resolve_button_save has a bug?"
[code]

And then the definition of `save_as_button`:
[code]

`resolve_button_save` does not pass `:target_attr_name` option to `save_as_button`. It will raise a StandardError with almost 100% probability. I doubt that this is what we want the code to do (because if is the case, we would simplify the code and raise the error straight away instead of calling a method). The question is: how it should

[2015-11-20 22:17] roliveri commented on #5433
Fixed by the following:

https://github.com/ManageIQ/manageiq/pull/5528

[2015-11-20 22:17] #5433 closed

[2015-11-20 22:17] h-kataria commented on #5518
@martinpovolny created a PR to fix this issue, this turns out to be introduced by toolbar images conversion to font awesome icons.

[2015-11-21 15:39] DNNX opened #5559 "A bug in TreeSupport?"
[Here](https://github.com/ManageIQ/manageiq/blob/40aeadcac0cedefd84f739694f144a0c9d467b42/app/controllers/application_controller/tree_support.rb#L329-L339):

[code]

Should the last loop body be `cl_kids += get_dc_node(v, node[:key], vat)`?

[2015-11-23 07:10] Ladas commented on #5433
@roliveri hm, sure you linked correct pr? I have a fix in #5434, should I close it?

[2015-11-23 13:39] romanblanco opened #5562 "Dynamic changing of toolbar buttons"
There is a problem with dynamic changing of toolbar buttons in current implementation:

Right now the only possibility is to disable toolbar button in helper method [`build_toolbar_disable_button`](https://github.com/ManageIQ/manageiq/blob/f596cd8f9187d3600f40d5058ae8bef74adc5bcf/app/helpers/application_helper/toolbar_builder.rb#L888-L1298), but in this method I'm only able to disable buttons on s

[2015-11-23 14:34] romanblanco commented on #5253
@miq-bot assign romanblanco

[2015-11-23 16:07] roliveri commented on #5433
@Ladas - I did paste the wrong PR. I intended to paste:
https://github.com/ManageIQ/manageiq/pull/5439
but you're right,
https://github.com/ManageIQ/manageiq/pull/5434
is required as well.

I was unaware that PR hadn't been merged. If no one has any issues with it, I can merge it now.

[2015-11-23 17:02] kbrock opened #5569 "Duplicate feature identifiers causes feature privileges to change"
In https://github.com/ManageIQ/cfme/issues/1802 we introduced a number of new features. Unfortunately, it introduced a number of feature with the same identifier.

Our seeding process uses `identifier` as the unique id, and it is swapping these features around on primordial seeding (every worker/appliance boot). Said another way, a feature's primary id changes, and a user's privileges change when

[2015-11-23 17:08] kbrock commented on #5569
duplicate of #4581

[2015-11-23 17:08] #5569 closed

[2015-11-23 20:59] #5518 closed

[2015-11-23 21:30] carbonin commented on #5547
The code backing this feature should also be moved out of the upstream repo.

[2015-11-24 13:50] romanblanco commented on #4472
I'm not getting any errors anymore, closing this issue.

[2015-11-24 13:50] #4472 closed

[2015-11-24 13:54] romanblanco commented on #4300
Seems to work, closing this issue.

[2015-11-24 13:54] #4300 closed

[2015-11-24 13:56] #4173 closed

[2015-11-24 15:26] himdel opened #5582 "UI: replacing paging_div in ajax calls is probably always wrong"
There's about 26 places doing `replace_html('paging_div', ...)` or `presenter[:update_partials][:paging_div] = ...`.

However, `#paging_div` no longer contains the `pagingcontrols` partial *directly*, there's an extra `.col-md-12` and `.toolbar-pf-actions` in between, which get deleted when such a replace occurs.

3 places replace pc_div_1 instead of paging_div, which should be fine..

[2015-11-24 23:04] jerryk55 opened #5591 "rake evm:stop / start intermittently kills apache server and leaves it unstartable"
I have intermittently run in to an issue when rake stopping and starting manageiq.  I cannot connect to the web server in this situation.  It clears up when I reboot the appliance.  This may be the wrong repository for this issue, but it seems there is an interaction with manageiq so I'll put it here for now.  I have a snapshot of an appliance in this situation in my VM Fusion installation on my m

[2015-11-24 23:06] jerryk55 commented on #5591
@gtanzillo @jrafanie you have been notified!

[2015-11-25 00:09] jerryk55 commented on #5591
And interestingly, after about an hour, I attempted to conect to the port again via my browser (before rebooting the appliance), and the https daemon was auto-started by systemd

[2015-11-25 12:51] martinpovolny opened #5597 "Toolbar buttons: add context awareness"
# Toolbar buttons: add context awareness

We need to enable/disable toolbar buttons not only based on number of items selected i a GTL view, but also based on type or other attributes of the selected item(s).

There was a number of BZ and there are many situations where this is needed.

Do do so we need

  1) pass additional attributes along with items in GTL views. Use the HTML5 `data-*` attribut

[2015-11-25 13:05] romanblanco commented on #5562
New issue with suggestion how to fix this: #5597. Closing this one.

[2015-11-25 13:05] #5562 closed

[2015-11-26 09:15] moolitayer opened #5617 "tables breaks line mid word with long text"
This one for example happens only when the 'no proxy' message is present
(_tasks_options?)
![screenshot from 2015-11-26 09-51-47](https://cloud.githubusercontent.com/assets/3010449/11419412/a6b1373e-942f-11e5-826f-ed18f236e5fe.png)

![screenshot from 2015-11-26 10-00-58](https://cloud.githubusercontent.com/assets/3010449/11419186/5e3e3c5a-942e-11e5-9e72-dbe7c3144410.png)

textual multilabl table:

[2015-11-26 09:20] moolitayer commented on #5617
@blomquisg @h-kataria @dclarizio fyi

[2015-11-26 13:19] moolitayer commented on #2959
I haven't seen this since reported. I'm pretty sure this isn't a problem.

[2015-11-26 13:19] #2959 closed

[2015-11-30 14:49] Ladas opened #5643 "Creating and editing provider should use model's business logic"
As discussed in
https://github.com/ManageIQ/manageiq/pull/5297
https://github.com/ManageIQ/manageiq/pull/5639

Right now, we cannot leverage methods like @evm.supports_port? and default values per provider in form for creating provider, cause it doesn't talk back to server when provider type is changed. (it's broken also in the non angular code, that talks to server)

Proposed solution:
1. On chan

[2015-11-30 14:52] Ladas commented on #5643
@Fryguy @himdel @martinpovolny @chessbyte ^ please discuss, we might need to change the workflow of angular forms, based on what we decide.

[2015-11-30 14:57] himdel commented on #5643
I think we may need to duplicate some model functionality in JS, because what's the alternative? Something like a generic route to create a model instance based on some data and call a random method doesn't really sound much better..

[2015-11-30 15:08] Ladas commented on #5643
@himdel I think maybe we could just call again this method https://github.com/Ladas/manageiq/blob/2ae490926143ae358622f3dd45494c1bb3bb20c9/app/controllers/ems_cloud_controller.rb#L138 ? Just with correct provider object instantiated.

I think the main goal is to have the business logic encapsulated on models, so we can control it in more convenient way on one place. Most of the model methods are a

[2015-11-30 15:19] himdel commented on #5643
Sure, that should work.. I was talking more in general, because I think we will need to use more and more model logic from JS.

[2015-11-30 15:25] Ladas commented on #5643
@himdel in general, I am not sure :-) I think tacking it piece by piece will work. :-) But yeah, it there will be complex logic in the UI, I guess we can't avoid some duplication.

[2015-12-01 07:39] martinpovolny commented on #5643
As we slowly move towards thicker client, we should also move towards using the API.

I mean no harsh changes but the API and the controllers should slowly converge as the API gets more complete to support the self-service UI and other possible UIs and the controller will talk JSON insted of RJS.

So let's take a look what we have in the API, how far it is from what we need for this task, talk to

[2015-12-01 10:11] dclarizio commented on #5617
@epwinchell I'm not sure if we made that "wrap anywhere" style global for the table elements or not.  Anyway, we can discuss if needed.  Thx, Dan

[2015-12-01 10:57] himdel commented on #5643
@martinpovolny haven't done a pr yet, but the basic functionality is quite simple.. But I'm a bit worried about different lifetimes of the session and token, and I'll need some info about the sso login option and autologging.. And starting to wonder whether adding a session based authentication to the api wouldn't be a better choice. Or alternatively adding a "give me a token to fit my session" to

[2015-12-01 13:47] moolitayer opened #5659 "jobs.started_on is always empty"
This results in 'Started' column of tasks always being empty.

I saw this happening in vm analysis task and container analysis task.

[2015-12-01 13:48] moolitayer commented on #5659
fyi @Fryguy @matthewd @simon3z

[2015-12-01 13:52] simon3z commented on #5659
@moolitayer have you tried with different providers? It could be that it's a nit in the containers smart state analysis implementation.

[2015-12-01 14:19] moolitayer commented on #5659
@simon3z I saw the same with ovirt and vm scan job

[2015-12-01 14:48] jzigmund commented on #243
@AparnaKarve as I showed you, I hit the bug in Storage/Volumes .. click on any of the Volume finish with exception ```undefined class/module NmaHash```

[2015-12-01 16:12] jzigmund commented on #243
@AparnaKarve another bug, in Storage/Filers click on list navigation accordion Relationships -> Base Extents or Summary screen -> Relationships -> Base Extents finish with exception ```private method `_virtual_reflections' called for #<Class:0x00563974ab5af0>```

[2015-12-01 19:43] epwinchell commented on #5617
@dclarizio To resolve another bug (https://github.com/ManageIQ/manageiq/pull/2833), we did set "word-break: break-all" on all table cells to avoid extremely long words (like names and IDs) from breaking the layout. If this is an issue, we can see about removing it for GTL and leaving it for summary screens, but it may create other problems.  We should probably discuss.

[2015-12-02 13:03] dclarizio commented on #5617
@epwinchell yes, let's discuss and bring up with UX as well to try to come up with a more general solution.

[2015-12-02 13:14] romanblanco opened #5676 "Catalog Item: Request Info tab error"
After selecting `Request Info` tab for `SCVMM` Catalog Item type, this error shows up:

    Cannot create Request Info, error: Dialog cannot be found. Name:[miq_provision_microsoft_dialogs_template] Type:[MiqProvisionWorkflow]

see screenshots:

![screencapture-localhost-3000-catalog-explorer-1449053966853](https://cloud.githubusercontent.com/assets/1187051/11531604/661a4390-98fe-11e5-836f-f284afd

[2015-12-02 14:17] pablohalamaj opened #5678 "Error with Openshift "undefined method "memory" - ManageIQ Capablanca - RC2 - Openshift"
Scenario: ManageIQ Capablanca RC2 install on RHEV Infraestructure

Problem: After adding a Openshift Infraestructure to ManageIQ, the system doesn't show any info about the openshift infraestructure and only displays the following error "undefined method `memory' for nil:NilClass "

On the evm.log file i found the following Stack:

------------------------------------------------------------------

[2015-12-02 17:25] romaintb opened #5686 "API : changing user group to a non-existing one does not fail"
If, via the API, I change the `current_group_id` field to an id of a group that does not exist (say 999), it works. Shouldn't this fail ?

Scenario :
`GET https://miq.local/api/groups/999`
[code]

`GET https://miq.local/api/users/4`
[code]

`PUT https://miq.local/api/users/4` with body `{"current_group_id": 999}`
[code]

[2015-12-02 22:36] abellotti commented on #5686
yes, it should fail but with a different error.   with https://github.com/ManageIQ/manageiq/pull/5674 supported signature is:

[code]

I'll create a PR so puts/patches redirect accordingly, rejecting current_group_id, and thus supporting

PUT /api/users/:id

[code]

Above signature allows group specification by href, id or description.

Thanks for trying the API.

[2015-12-03 10:21] romaintb commented on #5686
Thanks a lot !

[2015-12-03 11:02] #5116 closed

[2015-12-04 09:40] lpichler opened #5708 "convert set_saved_reports_condition so that return relation instead of array"
https://github.com/ManageIQ/manageiq/pull/5628#discussion_r46155640

[2015-12-04 15:03] jvlcek opened #5710 "Add improved logging support from AWS-SDK"
lib/vmdb/loggers.rb  defines LEVEL_CONFIG_KEYS, including level_aws logger information
Which is configurable on an appliance under: Configure/Advanced/

However level_aws logger settings are not acted on by the Amazon provider.

We could update the Aws.config invocation to provided more verbose output from the aws-sdk
api when the level_aws logger setting indicates.

e.g.: The way to enable debug

[2015-12-04 15:08] jvlcek commented on #5710
@miq-bot assign @jvlcek

[2015-12-04 18:33] jzigmund commented on #243
@AparnaKarve in Storage/File Shares in listnav click on listnav Relationships/Storage - Local File System causes ```Missing template snia_local_file_system/show```. When you click on same item(Storage - Local File System in Relationships) in summary screen I've got ```undefined method `Status'```

[2015-12-04 18:43] h-kataria opened #5715 "Service Dialog Summary/Edit screens show incorrect toolbar buttons groups"
this was introduced in commit: f0e18d218a6fa43c913cb1073712ee6019214a26

screenshots with incorrect toolbar buttons:

![screenshot from 2015-12-04 13 41 09](https://cloud.githubusercontent.com/assets/3450808/11597935/e7ef6a00-9a8c-11e5-9b97-4aa598c481c3.png)
![screenshot from 2015-12-04 13 40 54](https://cloud.githubusercontent.com/assets/3450808/11597937/e98b5798-9a8c-11e5-8a93-484ad16c6f49.png)

[2015-12-06 13:09] abonas opened #5727 "Deprecation warn for "to_time" is printed a lot in the log when navigating to 'provider - monitoring - timelines' in UI"
"DEPRECATION WARNING: Rails 4 changes the default of String#to_time to local.  Please pass the type of conversion you want, like to_time(:utc) or to_time(:local). (called from block in build_document_body at /home/abonas/manageiqfork/manageiq/lib/report_formatter/timeline.rb:37)"

This appears in the log a lot (thousand of times) when user navigates in UI to provider - monitoring - timelines, and

[2015-12-06 13:10] abonas commented on #5727
@miq-bot add_label bug

@Fryguy @matthewd @tenderlove  - I saw there were several places in the code where this was already fixed.

[2015-12-07 16:00] #5367 closed

[2015-12-07 16:01] #4880 closed

[2015-12-08 07:05] combust3r opened #5741 "[Capablanca] - Refresh relationships fails for oVirt (RHEV) provider"
Hi, validations for Default and C & U database connections are successful, but refreshing relationships fails with undefined method `[]=' for nil:NilClass. ManageIQ was deployed from oVirt (running 3.6-snapshot) appliance. Error from the evm.log:

[code]

[2015-12-08 12:19] theute opened #5744 "RHEV-M provider: validation issues"
When adding a new RHEV-M provider and validating credentials, the form always complain with the following message:
"Credential validation was not successful: Login failed due to a bad username or password"
no matter where the error may be.

To reproduce, enter a bogus hostname or IP, enter a username/password and press validate.

See hostname and error message in the screenshot
![mnanageiq](https:

[2015-12-08 12:23] theute opened #5745 "RHEV-M provider: add profile selector"
When logging in RHEV-M console, I have to enter my username + "profile", but on ManageIQ, I had to know to enter my username as username@profile
I would suggest to also select a profile in ManageIQ.

@miq_bot add_label ui, providers/rhevm

[2015-12-08 12:31] abonas commented on #5744
@miq_bot add_label ui, providers/rhevm

[2015-12-08 12:43] abonas opened #5747 "Missing letter "a" in the creation of new provider dialog (any provider)"
"Add new X provider" is missing an "a" in the sentence. it should be:
"Add a new X provider"

![missinga](https://cloud.githubusercontent.com/assets/6277245/11655897/f440fd52-9db9-11e5-9778-b3ea0d0858b3.png)

[2015-12-08 12:43] abonas commented on #5747
@miq-bot add_label ui, bug

[2015-12-08 12:46] abonas opened #5748 "Invalid chart type ParallelThreedColumn appears on dashboard"
![dashboard](https://cloud.githubusercontent.com/assets/6277245/11655942/5ffdcec6-9dba-11e5-9ece-4e3514e23440.png)

[2015-12-08 12:46] abonas commented on #5748
@miq-bot add_label ui, bug

[2015-12-08 12:47] theute commented on #5747
And same in the breadcrumb (but not in the dropdown menu leading to those pages)

[2015-12-08 12:57] cankarm commented on #5748
The following thing could be related:

On CapablancaRC2 and new Capablanca I don't have graphics at all on dashboard. Only if I click zoom-in in options. See http://talk.manageiq.org/t/dashbord-widgets-only-text/1058 .

[2015-12-08 13:18] moolitayer opened #5749 "development server does not start: Permission denied @ rb_sysopen - /etc/chrony.conf"
exception in evm.log:
/home/mtayer/.rvm/gems/ruby-2.2.1/gems/linux_admin-0.13.0/lib/linux_admin/chrony.rb:11:in `write': Permission denied @ rb_sysopen - /etc/chrony.conf (Errno::EACCES)
        from /home/mtayer/.rvm/gems/ruby-2.2.1/gems/linux_admin-0.13.0/lib/linux_admin/chrony.rb:11:in `clear_servers'
        from /home/mtayer/dev/manageiq/app/models/miq_server/ntp_management.rb:57:in `apply_nt

[2015-12-08 13:20] moolitayer commented on #5749
fyi @carbonin @jrafanie @gtanzillo

[2015-12-08 14:03] carbonin commented on #5749
Will take a look

[2015-12-08 14:09] carbonin commented on #5749
Looks like the `File.exist?` call [here](https://github.com/ManageIQ/manageiq/blob/4a7d36addf4e2cdd8367215ce7101670bf9b8e2b/gems/pending/util/ntp/miq-ntp.rb#L8) was previously preventing this from running if we were not on an appliance.  Should be a quick fix.

[2015-12-08 14:34] dclarizio commented on #5748
@martinpovolny For the original issue reported, we need the upcoming C3 charts to translate older unsupported chart types to some newer equivalent, as databases may contain the older versions.  Please look at the issue @cankarm mentioned to see if it might be related.  Thx, Dan

[2015-12-08 15:50] #5749 closed

[2015-12-09 00:05] blomquisg commented on #953
Yep!

[2015-12-09 00:05] #953 closed

[2015-12-09 00:06] blomquisg commented on #5262
So, the problem is that when the role is disabled, the UI still allows Smart State?

[2015-12-09 00:13] blomquisg commented on #593
qpid's gone

[2015-12-09 00:13] #593 closed

[2015-12-09 07:12] Ladas commented on #2781
fixed by https://github.com/ManageIQ/manageiq/pull/3674

we can close this

[2015-12-09 12:22] moolitayer commented on #5262
The main error from my point of view is that no error in the log tells the user why the job failed.
recently someone from our qa team oped an issue on smart state due to the same reason of a missing role so I would expect that customers will bump into this issue as well.

[2015-12-09 14:08] #5253 closed

[2015-12-09 15:58] djberg96 opened #5772 "Already initialized constant Psych::Visitors::ToRuby::SHOVEL"
Seeing this when I run specs:

[code]

[2015-12-09 15:59] jrafanie commented on #5772
@miq-bot assign @jrafanie

[2015-12-09 16:20] mzazrivec commented on #5715
@h-kataria For some reason I cannot reproduce this problem on current master.

Do you still see this problem? Or perheps are there some more specific instructions
on how to reproduce this issue?

Thanks.

[2015-12-09 16:38] epwinchell commented on #5617
@moolitayer We've reintroduced normal word wrapping in the list views. If you see anything strange in the Containers area, please let me know. Thanks.

[2015-12-09 16:39] h-kataria commented on #5715
@mzazrivec i did see that happening until yesterday evening on master, but for some reason i can not recreate it this morning, need to figure out if that got fixed with another PR.

[2015-12-09 16:42] h-kataria commented on #5715
looks like this issue was fixed with changes in commit e9f0835f2338b3606415b9b8a7b20d219e4becbb, https://github.com/ManageIQ/manageiq/blob/master/app/helpers/application_helper/toolbar_builder.rb#L1407

[2015-12-09 16:43] #5715 closed

[2015-12-10 19:37] #5772 closed

[2015-12-11 14:29] skateman opened #5799 "Serving assets included in the views through Apache"
While working on https://github.com/ManageIQ/manageiq-appliance/pull/47 I've found out that a lot of required CSS/JSS files are [not included](https://github.com/ManageIQ/manageiq/blob/master/lib/vmdb/productization.rb#L30-L31) into the `public/assets` during precompilation. Now it works because we have `serve_static_assets` set to `true` and the Rails somehow compensates the missing files on the

[2015-12-11 14:36] martinpovolny commented on #5559
Hmm, the dc_tree is not yet converted to a TreeBuilder subclass. Let me take a deeper look...

[2015-12-11 21:09] blomquisg opened #5813 "Add configuration for OpenStack SSL Cert"
When using peer-validated SSL connections for OpenStack, the [openstack handle](https://github.com/ManageIQ/manageiq/blob/9aa82d6916f6ac846011a169176ab585d32036d4/gems/pending/openstack/openstack_handle/handle.rb) should look up the root certificate from a configuration value in the vmdb configuration file.

[2015-12-11 21:43] jrafanie opened #5814 "Ruby 2.3 spec failure "wrong number of arguments (given 1, expected 0) in update_field_visibility"
UPDATE:  This appears to be a rspec-mocks bug, where 2.3.0's internal changes to method/super method structure may be at fault.  See https://github.com/rspec/rspec-mocks/issues/1041

Note, this spec is doing:
`described_class.any_instance.stub(:update_field_visibility)`

https://github.com/ManageIQ/manageiq/blob/9aa82d6916f6ac846011a169176ab585d32036d4/spec/models/manageiq/providers/openstack/clou

[2015-12-11 21:44] jrafanie commented on #5814
Minimal test that recreates the issue:

[code]

An attempt to reduce the classes/modules to the bare essentials, but unfortunately, doesn't create the issue:
[code]

[2015-12-11 22:21] jvlcek opened #5816 "EVM Server Main Configuration are not being passed to refreshers."
When defaults are changed in the EVM Server Main Configuration file via
`Configure/Advanced` the changes are not being passed to the Refreshers.

This can be observed using the rails console on an appliance with:

[code]
That should not be nil.

Something is preventing the options from being passed to the refreshers.

This is related to the issue reported [1] where gathering EC2 public images fail

[2015-12-11 22:24] jvlcek commented on #5816
@miq-bot assign @jvlcek

[2015-12-11 22:38] jrafanie opened #5817 "Ruby 2.3.0preview fails with `unrecognized RUBY_VERSION 2.3.0` in descendant_loader"
[code]

Ruby 2.3.0preview2 fails on the [descendant_loader](https://github.com/ManageIQ/manageiq/blob/9aa82d6916f6ac846011a169176ab585d32036d4/lib/extensions/descendant_loader.rb#L74) doing `RubyParser.for_current_ruby`.

Support for 2.3 hasn't been added to [ruby_parser](https://github.com/seattlerb/ruby_parser/blob/e380619d72c4ae5d7aa04b3961d3312dae2c182b/lib/ruby_parser_extras.rb#L1381-L1394)

[2015-12-11 22:47] jrafanie commented on #5814
:confused:

[2015-12-12 05:41] #5553 closed

[2015-12-14 15:21] kbrock opened #5833 "Reduce RBAC queries"
This is for the typical view page. Filing under [bz 1281999](https://bugzilla.redhat.com/show_bug.cgi?id=1281999), but it addresses half a dozen others.

For the typical view page, there are a lot of unnecessary counts, duplicate queries that are only slightly different, and a lot of sorting on the database side when the sorting is again performed on the ruby side.

Mostly focused just on the main

[2015-12-14 22:00] #1003 closed

[2015-12-15 06:37] jsmadankumar opened #5845 "Copied /home/miqbuilder but unable to start the evm"
I installed all the pre-requisite rpms on my machine and I just copied over the /home/miqbuilder directory structure. On my source machine which I had access to the internet, I followed the complete step wise procedure and got the manageiq working/listening on port 3000.

When I try to start the evm on the machine that I moved, it fails with the below error. Any idea how we can fix this.

[miqbuil

[2015-12-15 07:09] jsmadankumar commented on #5845
Sorry its my mistake. I did not do the bin/rake db:migrate step. Thats the reason it failed.

[2015-12-15 07:09] #5845 closed

[2015-12-15 16:04] gmcculloug commented on #3464
@bronaghs Suggest testing against the latest which is now `v1.4.0`

[2015-12-15 16:08] bronaghs commented on #3464
@gmcculloug
There is an open PR that updates the WinRM gem version to v1.4.0
https://github.com/ManageIQ/manageiq/pull/5776/files

[2015-12-15 16:27] kbrock commented on #5799
Good one. Need to get the name of those publicly accessible assets into `config/environments/production.rb`.

[2015-12-15 19:01] jrafanie commented on #5817
Resolved by #5851

[2015-12-15 19:01] #5817 closed

[2015-12-15 19:53] #5678 closed

[2015-12-15 23:19] kincl opened #5861 "[Capablanca] Infrastructure -> Virtual Machine detail UI draw issue"
Using capablanca-1 I can reproduce a UI issue where the buttons for managing a VM are drawn behind the top nav ribbon.

Under Infrastructure -> Virtual Machines -> VMs & Templates
- You need to have a list of VMs that is longer than the browser window and forces a scroll for the list of VMs on the left-hand side of the page.
- Scroll down and select a VM that is not visible when the page first loa

[2015-12-16 15:05] bronaghs commented on #3464
https://github.com/ManageIQ/manageiq/pull/5776 which addresses this issue has been merged. Closing this issue.
@gmcculloug - please hit the "Close issue" button, I don't have one (?!?)

[2015-12-16 15:06] gmcculloug commented on #3464
Fixed in PR #5776 which updates winrm gem to ~>1.4.0

[2015-12-16 15:06] #3464 closed

[2015-12-16 19:15] #5816 closed

[2015-12-16 20:01] romanblanco opened #5873 "Configuration -> Diagnostics error"
After selecting *Orphaned data* tab in *Configuration -> Diagnostics* accordion, an error appears:

`one hash required [ops/change_tab]`

Log:

    [----] F, [2015-12-16T20:56:48.736657 #24925:2b0970269964] FATAL -- : Error caught: [ArgumentError] one hash required
    /home/rblanco/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/fast_gettext-1.0.0/lib/fast_gettext/vendor/string.rb:70:in `%'
    /h

[2015-12-16 22:41] bdunne opened #5876 "Rename Flavor CPU and memory columns"
As pointed out in https://github.com/ManageIQ/manageiq/pull/5533#discussion_r47722749 this is another place that has confusing CPU column names.  They should be renamed based on the pattern used in https://github.com/ManageIQ/manageiq/issues/4630

[2015-12-16 22:41] bdunne commented on #5876
@miq-bot assign @bdunne

[2015-12-18 14:49] mzazrivec opened #5907 "i18n: drop ui_lookup with affiliated routines and replace it with gettext where possible"
In an effort to get rid of `en.yml` (or at least minimizing its size) we need to get rid of `ui_lookup()`
routine and all affiliated code and strings in `en.yml` and replace it with gettext wherever possible.

[2015-12-19 02:11] kbrock opened #5923 "Better purge records in the database"
I was looking at [this](https://github.com/ManageIq/manageiq/blob/master/app/models/miq_report_result/purging.rb#L52-L77) code and thought that we could do it much better. We spend a lot of resources deleting records and I am curious what we could do to reduce these requirements.

We currently sort the table to determine the report_ids.
Then for each report_id we bring back all ids in the table. (

[2015-12-20 14:37] abonas opened #5929 "Class naming convention is different among container classes"
ContainerGroup.first.class.name returns "ManageIQ::Providers::Kubernetes::ContainerManager::ContainerGroup"

ContainerReplicator.first.class.name returns
"ContainerReplicator"

ContainerService.first.class.name returns
"ContainerService"

Container.Node.first.class.name returns
"ManageIQ::Providers::Kubernetes::ContainerManager::ContainerNode"

this makes some generic handling more difficult.
@sim

[2015-12-20 16:52] moolitayer commented on #5617
@epwinchell sorry it took me some time to get to this, I'm still seeing some vertical alignment, but only on the shared/summary/textual_multilabel:

![manageiq containers multi small](https://cloud.githubusercontent.com/assets/3010449/11918908/8c21dddc-a74a-11e5-926c-0b572797b7d8.png)

not on the shared/summary/textual though:

![manageiq containers textual](https://cloud.githubusercontent.com/ass

[2015-12-21 13:12] simon3z commented on #5929
@abonas that happens because `ContainerGroup` and `ContainerNode` have specialized classes for Kubernetes, while on the other hand `ContainerReplicator`, `ContainerService` are still generic as we don't have anything Kubernetes-specific for them yet.

Going forward I expect they may grow into `ManageIQ::Providers::Kubernetes::ContainerManager::ContainerReplicator` and `ManageIQ::Providers::Kuberne

[2015-12-21 13:20] abonas commented on #5929
@simon3z I'm using kind_of, and also tackling it in this way here:
https://github.com/ManageIQ/manageiq/pull/5930/files#diff-0bf754b826fd913f5482d44dbebabbc2R69

[2015-12-21 20:43] kbrock commented on #5923
Also of note, I was looking at keeping the records in the database --> [temp tables in postgres](http://blog.honeybadger.io/using-temporary-tables-in-postgresql-with-rails/) - holding back on that one

[2015-12-22 11:42] simon3z commented on #5929
@abonas actually there's `demodulize` to get the relevant name of the class:

    ManageIQ::Providers::Kubernetes::ContainerManager::ContainerGroup.first.class.name.demodulize
    "ContainerGroup"

[2015-12-22 14:45] abonas opened #5958 "Rspec warns about deprecated code coming from rspec-fire gem"
This warning is displayed when running rspec tests:
"RSpec::Mocks::Mock is deprecated. Use RSpec::Mocks::Double instead. Called from /home/abonas/.rvm/gems/ruby-2.2.3/gems/rspec-fire-1.3.0/lib/rspec/fire/legacy.rb:239:in `<module:Fire>'"

The warning is originated from here:
https://github.com/xaviershay/rspec-fire/blob/master/lib/rspec/fire/legacy.rb#L239

The gem is used [here](https://github.co

[2015-12-22 15:59] abonas commented on #5958
@miq-bot add_label test

[2015-12-22 18:41] jrafanie commented on #5923
@kbrock I think it's good to identify problematic code but we should test our assertions with real scale databases to simulate problems users will or will not hit.  If you can confirm the problem, you have a measuring stick to validate your changes.

There's always potential to improve code but we should really measure before and after to make sure
* we're solving an actual problem
  * inefficient

[2015-12-22 21:03] kbrock opened #5965 "Reduce MiqQueue envelope"
Reduce the number of fields used to determine a unique message or the next message. This has a number of benefits:
- simplify our indexes
- reduce table scans
- reduces `OR` clauses in SQL
- make workload more similar to existing queuing solutions.
## `args` and `args_selector`

When inserting items into the queue, we do not insert a duplicate requestl. Other times we want to get a status check of

[2015-12-22 21:04] kbrock commented on #5923
@jrafanie this pattern can be found throughout the code.

We bring back all ids/records to then filter in ruby. Lots of times we are just looking for a count, min, max.

- metrics_health_check
- purge_by_remaining (drift state, report results)
- delete_by_batch
- rbac

I'll keep my eyes open for more cases

[2015-12-22 21:19] kbrock opened #5967 "Simplify RBAC"
Rbac is a central function that filters our data. It is used in report views, the rest api, and soon all automate queries. It is important to be performant.

To get around SQL server limitations, Rbac has focused on running multiple queries to collect and correlate ids. Also, filters have been introduced that are ruby only.

This causes many more rows to be fetched from the database, extra `count(

[2015-12-22 21:23] jrafanie commented on #5923
@kbrock I don't disagree.  I don't know how many of these are actually performance problems though.

[2015-12-23 08:22] romaintb opened #5973 "API : editing a category name creates a new tag"
Hi,

When editing a category's name via the api, a new tag is created and assigned to the category. The old tag is still present. Is it a bug or an expected behaviour ? I would have thought that the current tag would be updated instead of creating a new one.

What do you guys think ?

Thanks

[2015-12-23 09:34] romaintb opened #5974 "API : editing a category does not give back the name in the response"
Hi,

When editing a category via the API, the response does not include the new name of the category.

Body :
[code]

Response :
[code]

I suspect this is not an expected behavior, what do you think ?

[2015-12-25 14:27] Aomerglu commented on #3775
Hello @martinpovolny,

Can you update or give information about translator notes section please. I am translating to my language but I am not sure foo|bar translation. Do I need to translate it like fooinmylanguage|barinmylanguage or just barinmylanguage. As far as I see in other languages translation I need to translate it like just barinmylanguage but I need some clearance

Thanks,

[2015-12-27 15:15] abonas opened #5993 "Navigating from a container topology to a Container entity fails"
This happens because the Containers screen has an explorer unlike other container related entities with show/id action.

A partial fix is in this PR: https://github.com/ManageIQ/manageiq/pull/5992
It prevents navigation failure, however doesn't navigate to a specific container, but to all the containers together.
This issue is a tracker for solving the problem in its entirety.

@miq-bot add_label

[2015-12-28 14:23] dkorn opened #5998 "Containers: Timelines button isn't disabled when an entity has no events"
reproduce:
1. choose one of the following container entities: container, node, pod, replicator
2. choose a specific entity without events (verify in event_streams table)
3. click Monitoring drop-down and then Timelines.

The Timelines button should have been disabled.

If I'm not mistaken, commit https://github.com/martinpovolny/manageiq/commit/3de504609aed32bfb5e91998f8d2d7638a120b4b introduced t

[2015-12-29 14:31] zeari opened #6004 "Upgrading to new PF version"
New pf is out! Can we upgrade?

Needed for:
* The new 'Atomic' icon
* 'No data' cards for when chart data is empty

(possibly more)

@skateman @abonas @himdel

[2015-12-29 18:21] martinpovolny commented on #3775
ping @mzazrivec : can you answer @Aomerglu here, please?

[2015-12-30 18:18] moolitayer opened #6009 "support internationalization in jobs error messages"
Not sure if internationalization in the backend is implemented. My use case is the container [smart state analysis](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/kubernetes/container_manager/scanning/job.rb#L61) that returns errors that are then displayed at configuration => tasks.

[2015-12-30 18:19] moolitayer commented on #6009
fyi @roliveri @martinpovolny

[2015-12-30 18:20] moolitayer commented on #3775
@martinpovolny is there support for internationalization from the back end?
my use case is described at #6009

[2015-12-30 20:12] skateman commented on #6004
happy new year :)

[2015-12-31 11:58] martinpovolny commented on #3775
@moolitayer : in your case, just add simple gettext call `_(...)` according to the String Interpolation section above. That should be all you need.

[2015-12-31 12:04] martinpovolny commented on #3775
@Aomerglu : please, see above

[2015-12-31 12:12] martinpovolny commented on #6009
@moolitayer : please, see my comment in #3775

[2016-01-03 10:01] moolitayer commented on #6009
@martinpovolny thanks, will follow. I think we can close this one for now

[2016-01-03 10:17] #6009 closed

[2016-01-04 12:29] #6004 closed

[2016-01-04 15:11] carbonin opened #6021 "memcached fails to start when locale is set to French"
Because we attempt to match the error reported by `killall` only in English we raise when `killall` fails to kill a process and prints an error in a different language.

This stops the app from starting up.

Setting the locale using `localectl set-locale LANG=fr_FR.UTF-8` then attempting to start the application will reproduce this issue.

Excerpt from evm.log:

[code]

[2016-01-05 09:46] alexissavin opened #6034 "Bundle Install Failure when install ManageIQ Capablanca"
For a few days, bundle install fails when installing MIQ from sources on branch Capablanca :
[code]
It seems that the problem come from this line in the Gemfile :
[code]
Which, according to the Readme on https://github.com/svenfuchs/rails-i18n should look like this, as "rails (4.2.5)" is listed in the Gemfile :
[code]
For those facing this issue, it's fixed on manageiq's master branch, you can run

[2016-01-05 10:28] cankarm commented on #5748
As discussed in talk (See http://talk.manageiq.org/t/dashbord-widgets-only-text/1058) the modification of /var/www/miq/vmdb/app/models/miq_widget/chart_content.rb where the line "report.chart" is changed to "report.chart.to_yaml" solves my problem regarding the disappeared widgets.

Regarding the core issue mentioned by @abonas, both ThreedColumn types are affected (stacked and parallel... *Invali

[2016-01-05 14:33] abellotti commented on #5974
This is expected because name is a virtual column for the Classification class which we fetch separately upon GET.  The edit (generic edit_resource) returns the updated object which does not include virtual attributes.

However I can see how this may be confusing. I think we can simply ask for the additional attribute before calling the generic edit_resource method. I'll create a PR.

[2016-01-05 15:26] hsong-rh opened #6039 "SSA: RHOS scanning job was timed out in checking the status of creating snapshot"
After the snapshot is created, the validation of its status is case sensitive. It caused the validation failed, and job hanged until timed out. The error from the evm.log:

[----] D, [2016-01-04T15:55:39.897235 #20813:11d198c] DEBUG -- : MIQ(MiqOpenStackInstance#create_evm_snapshot) instance_id=[5370140b-ca6e-4310-9179-725644f9e9d4]: ACTIVE
[----] D, [2016-01-04T15:55:40.988097 #20813:11d198c] DEB

[2016-01-05 17:32] abellotti commented on #5973
Hmm, there may have been a reason, I don't remember.  @imtayadeway @gtanzillo any recollection ?

[2016-01-05 19:38] imtayadeway commented on #5973
In investigating this I discovered that I cannot edit a category's name through the UI - perhaps the answer is to restrict the API from doing this too.

[2016-01-06 08:40] Boujemaa0 opened #6052 "Unable to get information on IPMI Hosts."
Hi,
I'm having a problem with IPMI hosts. When I add an IPMI host, it doesn't get its power state or any other information related to it. I tried to perform a smart state analysis but in the logs I see the following error message:
MIQ(Host#scan) Error raising request scan event for Host name: [IPMI (x.x.x.x)], id: [1]: A group is needed to raise an event. [Host] id:[1] event_type: [request_host_sc

[2016-01-06 10:10] abonas opened #6054 "Topology -miss-alignment between the search field, checkbox "Display Names" and refresh button."
@miq-bot add_label providers/containers, bug, ui

[2016-01-06 10:11] abonas commented on #6054
https://cloud.githubusercontent.com/assets/6277245/12079529/43f15208-b245-11e5-94a7-86672f8265ce.png

[2016-01-06 10:17] abonas opened #6055 "Containers providers - missing a Refresh option in Configuration dropdown for list of providers"
The Configuration dropdown in the "show list" of containers providers is missing the 'Refresh relationships' option, while it does exist in the equivalent infra/cloud providers menus.

@miq-bot add_label bug, providers/containers

as noticed by @skateman
cc @simon3z @avi3tal

[2016-01-06 11:39] martinpovolny commented on #5993
ok, so next steps: near https://github.com/ManageIQ/manageiq/pull/5992/files#diff-d20882d7afe8c0a90dd3843a43bf196dR199 we need to open /show/[id]

and then we need to fix why /show/[id] is not working for the container

[2016-01-06 12:06] abonas opened #6056 "Navigating fails : select a containers provider -> provider's containers -> specific container"
Navigate to a containers provider.
Click on its containers
It will navigate to
http://localhost:3000/ems_container/show/providerID?display=containers
and display the relevant containers.
Select and click on any container.
It will attempt to navigate to http://localhost:3000/container/show/containerID
and the navigation will fail.
Very similar to #5993, but tracking this here separately, since it i

[2016-01-06 12:08] abonas commented on #6056
@miq-bot add_label providers/containers

[2016-01-06 12:51] vrutkovs opened #6057 "'Grid View' button has incorrect title: 'true'"
![manageiq infrastructure providers - mozilla firefox_007](https://cloud.githubusercontent.com/assets/114501/12142956/8877cb26-b47c-11e5-89bc-a3679b5f893c.png)

git commit 0bfb5c8
This breaks some of the automated tests (don't affect downstream though)

[2016-01-06 14:49] necarnot commented on #5741
Witnessed the same with oVirt 3.6.1...

[2016-01-06 19:18] romaintb commented on #5974
Thanks a lot !

[2016-01-06 20:01] Fryguy commented on #6034
It's possible this was fixed by #5990 (or caused)?  @alexissavin does your code include that PR?

[2016-01-07 08:26] alexissavin commented on #6034
Yes, it's fixed with #5990, but this PR has not been merged yet with the Capablanca Branch.

[2016-01-07 13:35] kbrock commented on #5799
You know. I saw this before and I liked it. But I forgot all about it.
When I was doing some other work, this must have been in my subconscious.
Thanks so much for pushing this forward

[2016-01-07 13:42] skateman commented on #5799
When the next nightly is created, we can test it using QA's infrastructure! cc @mfalesni

[2016-01-07 13:44] kbrock commented on #6034
@chessbyte could you give direction on the process for getting these into capablanca?

[2016-01-07 13:44] mfalesni commented on #5799
![The bomb has been planted](http://i.imgur.com/xq3NkNp.gif)

[2016-01-07 13:54] kbrock commented on #5799
@skateman the other PRs seem to be going in the opposite direction. moving everything into application.js

- I like the idea of having more css files, grouped by theme. Emphasizing your point again here, this is not saying we want a bunch of css files, but rather we want a dozen or so.
- I think moving vnc, spice, and all the consoles into a single js/css seems like a good idea.
- I would really l

[2016-01-07 14:00] skateman commented on #5799
@kbrock consoles have styling conflicts :(

[2016-01-07 14:25] chessbyte commented on #6034
@matthewd is spearheading the backport of fixes to the reported issues into Capablanca

[2016-01-07 19:40] #2771 closed

[2016-01-07 21:30] matthewd commented on #6034
Backported to `capablanca` as ee71df439ceb778f899e6127a29a5bc0983afdf4

[2016-01-07 21:30] #6034 closed

[2016-01-07 22:09] bdunne opened #6094 "Add Ansible Tower Provider"
- Add Base Manager, Provider, Configured System and Gem for minimal communication
- Credential Validation
- Update UI for adding Configuration Managers
- Refresher
- Automate Method as Ansible Job
- etc.

[2016-01-07 23:06] simon3z commented on #6055
Thanks @abonas and @skateman! Noted.

[2016-01-08 10:46] skateman commented on #5799
I just found an issue where the timeline JS includes our CSS file that is in the `assets/javascripts` folder: https://github.com/ManageIQ/manageiq/blob/master/public/javascripts/timeline/api/timeline-api.js#L183
![animated](https://cloud.githubusercontent.com/assets/649130/12196237/73bf6630-b5fd-11e5-8a36-b3349bea27f9.gif)

[2016-01-08 11:53] hackeys opened #6101 "Whats the VM (Server) Credentials"
Hi Team,

Request you to help me with ManageIQ Vmware server credentials like root and password. I am unable to login to it.Thanks.

[2016-01-08 16:49] bdunne commented on #6094
@miq-bot assign @bdunne

[2016-01-08 17:58] martinpovolny commented on #5998
@dkorn : thx for the find. I will fix it somehow.

Probably by testing the 'child_id' as seen in  `app/helpers/application_helper/toolbar_buttons.rb` as
this is a systematic bug that affects more buttons.

[2016-01-08 18:07] kbrock commented on #5799
@skateman ugh. Why do we need to do this stuff dynamically?
Can we get the whole "use this css" out of the js?

[2016-01-08 18:13] himdel commented on #5799
We actually have to if we ever want to remove the timeline lib code from the repo.

[2016-01-08 18:32] skateman commented on #5799
@himdel are there any alternatives what we can use?

[2016-01-08 18:39] kbrock commented on #5799
@skateman if you move that css file into the public folder, and not make it an "asset" - then it will be fixed. But probably not what we are wanting to do.

[2016-01-10 08:10] abonas commented on #6054
![alignment](https://cloud.githubusercontent.com/assets/6277245/12220657/6630ddb0-b782-11e5-9a8e-6c69f8b6dd0c.png)

[2016-01-10 13:11] abonas opened #6116 "navigating from entities list view to a specific entity doesn't work"
Go to any entity in MIQ UI (except for container/vm which is implemented with explorer) - pods, nodes, replicators, etc.
Try to click on any entity in the displayed table - it does nothing.
It should navigate to the relevant entity's summary page.

Examples:
![navigationshowlist](https://cloud.githubusercontent.com/assets/6277245/12221640/6645c340-b7ac-11e5-8ac5-95e84df9ac3e.png)
![showlisttooltip

[2016-01-10 13:18] abonas opened #6117 "Tooltip for a selected view type says "true" instead of the view name"
![showlisttooltip](https://cloud.githubusercontent.com/assets/6277245/12221666/407b7870-b7ad-11e5-865b-b996c7fe7544.png)

@martinpovolny @himdel

@miq-bot add_label ui, bug

[2016-01-11 09:10] lgalis commented on #6116
@abonas - this was introduced by the upgrade to the new hamlit gem.
I was working on a fix already - will post it shortly.
@miq-bot assign @lgalis

[2016-01-11 09:12] abonas commented on #6116
@miq-bot add_label bug, ui
@lgalis great to hear

[2016-01-11 10:57] martinpovolny commented on #5998
@dkorn : can you, please, take a look here: https://github.com/ManageIQ/manageiq/pull/6078 ?

[2016-01-11 12:30] #6117 closed

[2016-01-11 12:41] abonas commented on #6056
@miq-bot add_label ui

[2016-01-11 13:14] himdel commented on #5799
@skateman `miq_timeline.css` is nicely scoped and has only 29 lines.. I'd say the easiest solution is to just comment out that `includeCssFiles` statement and require it from application.css

[2016-01-11 13:17] abonas commented on #6055
cc tagging @bazulay

[2016-01-11 13:27] lgalis commented on #6116
Fixed by #6120

[2016-01-11 13:31] kbrock commented on #5799
@himdel that sounds good

[2016-01-11 13:34] skateman commented on #5799
+1

[2016-01-11 14:05] aufi commented on #3400
Is this still an issue? Current implementation: https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/openstack/cloud_manager/provision/cloning.rb#L4

[2016-01-11 15:05] Ladas commented on #3400
@aufi yes, still an issue AFAIK

[2016-01-11 15:11] mzazrivec commented on #1086
Pull request #5305 added support for marking strings in UI which did go through gettext when
a special server's settings is configured. This would allow us (developers) to see which parts of
UI still need adding support for i18n (for example right now model and attribute names).

As far as being able to see which strings that go through gettext have a translation available
and which don't -- I don

[2016-01-11 15:32] martinpovolny commented on #1086
I am for closing this issue unless someone can describe the usecase that we need to support (and don't already). The functionality we have is the same Forman has.

[2016-01-11 19:20] 01000101 opened #6134 "Error removing empty automation namespace"
After attempting to remove an empty automation namespace, I get "FATAL -- : Error caught: [NoMethodError] undefined method `namespace_id' for nil:NilClass" and it doesn't remove the namespace.  This also happens when I try to remove any the parent namespaces in this tree.  In the screenshot, I can replicate this every time when trying to remove "Zefflin / Service", "Zefflin / Service / Provisionin

[2016-01-11 19:28] 01000101 opened #6135 "Remove unnecessary code editor height restriction"
<div class="CodeMirror cm-s-eclipse"></div> is set to a height of 300px which causes the editor to be very narrow (especially noticable when editing larger blocks of code).  I've set this to 100% height on my desktop and it makes in-line editing much more natural and doesn't seem to mess up any of the surrounding objects.  Is there a reason for this static height being set?

App: RH CFME 5.5.0
OS:

[2016-01-12 12:23] mzazrivec commented on #3775
@Aomerglu I'm confirming what @martinpovolny said above.

`foo|bar` should be translated as `barinyourlanguage`, the `foo` here denotes a namespace
and should provide a translating context to the translator.

[2016-01-12 13:44] arnikasky opened #6144 "Can't see my vms and services"
Hello!
When I enter in my account(not admin), i can't see my vms and service due to an error: "Error caught: [NoMethodError] undefined method `delete_if' for #<ActiveRecord::Relation []>"
But i need access not only from admin's account.
I have attached with error.
[error.txt](https://github.com/ManageIQ/manageiq/files/87357/error.txt)

Thanks.

[2016-01-12 16:08] arnikasky opened #6148 "Can't delete widget from dashboard"
Hello!
I want to pay your attention, that when you create new dashboard, you can't delete from it widgets. In manageiq-botvinnik you can it do. It is very uncomfortable
Manageiq-capablanca(with issue)
![to_issue](https://cloud.githubusercontent.com/assets/8751017/12268722/fd93ddaa-b95e-11e5-9aab-69e27fcbcc3e.png)
Manageiq-botvinnik(without issue)
![to_issue2](https://cloud.githubusercontent.com/as

[2016-01-12 16:15] dkorn commented on #5998
@martinpovolny  looks like checking the 'child_id' fixes the problem, and I agree this is a better solution than changing the strings in all affected buttons :+1:
thanks!

[2016-01-12 16:26] Ladas opened #6150 "<Unknown> Credentials in provider detail page"
![image](https://cloud.githubusercontent.com/assets/1737058/12269385/72927a98-b951-11e5-9f0e-85396ddfafc3.png)

Seems like it is printing there nova keypair, which it should not

[#<ManageIQ::Providers::Openstack::CloudManager::AuthKeyPair:0x00000006d36ca0
  id: 22,
  name: "EmsRefreshSpec-KeyPair",
  authtype: nil,
  userid: nil,
  password: nil,
  resource_id: 12,
  resource_type: "ExtManagement

[2016-01-12 17:06] h-kataria commented on #6148
Issue was fixed on upstream master in https://github.com/ManageIQ/manageiq/pull/5642. It seems this fix did not make it to latest capablanca build.

[2016-01-13 01:50] matthewd commented on #4475
https://github.com/ManageIQ/manageiq/pull/5916#issuecomment-165915100

[2016-01-13 01:50] #4475 closed

[2016-01-13 11:52] abonas commented on #5993
Please look at my fix at #6164 for this issue

[2016-01-13 12:30] LubaLimon opened #6166 "Selecting a Tag Control value creates a duplicated field"
I created Tag Control field for my service dialog.
Try to order a new service, once a value is selected a duplicated element appears on UI

Initially
![screenshot from 2016-01-13 15 07 40](https://cloud.githubusercontent.com/assets/6708436/12294172/4c46eb36-ba09-11e5-9887-7df45305aa66.png)

When field first changed
![screenshot from 2016-01-13 15 08 03](https://cloud.githubusercontent.com/assets/6

[2016-01-13 13:42] abonas commented on #6116
@lgalis can the issue be closed?

[2016-01-13 14:38] h-kataria commented on #5993
@abonas it looks like the problem is https://github.com/ManageIQ/manageiq/blob/master/app/controllers/container_controller.rb#L69 here, action should be explorer in this case as Containers is an explorer, once this is fixed you might not need the fix in https://github.com/ManageIQ/manageiq/pull/6164

[2016-01-13 15:00] abonas commented on #5993
@h-kataria isn't this exactly what I fixed? I changed the action from show to explorer in that line

[2016-01-13 15:03] h-kataria commented on #5993
@abonas yes that change looks good, not sure if you still need change in app/services/request_referer_service.rb

[2016-01-13 15:30] abonas commented on #5993
yes it works without it. can you review that patch in that PR?

[2016-01-13 16:14] #6056 closed

[2016-01-13 18:25] jzigmund commented on #5370
All listnav partials from @martinpovolny 's list are in https://github.com/ManageIQ/manageiq/pull/5521, except 4 of them those I found unused. vm_common has been deleted in https://github.com/ManageIQ/manageiq/pull/5521 (as I got confirmation about 100% obsolete/unused view) , other 3 of them are in https://github.com/ManageIQ/manageiq/pull/6172

[2016-01-13 19:38] chrisarcand commented on #1272
¯\_(ツ)_/¯
¯\\_(ツ)_/¯
¯\\\_(ツ)_/¯

[2016-01-13 19:59] #6148 closed

[2016-01-13 20:20] lgalis commented on #6116
@yes, please close it

[2016-01-14 01:43] 01000101 commented on #6101
This is explained on the download page: http://manageiq.org/download/vmware/

[2016-01-14 09:03] #6116 closed

[2016-01-14 12:39] arnikasky opened #6181 "Can't set retirement date of vm"
Hello. I have problem with setting retirement date of vm.
It happens, when i try do it from workloads(services->workloads->vm->set retirement date->error).
I have attached file with error.

Thanks.
[error2.txt](https://github.com/ManageIQ/manageiq/files/90375/error2.txt)

[2016-01-14 12:47] simon3z commented on #6055
@alongoldboim can you take a look? Thanks.

[2016-01-14 12:48] alongoldboim commented on #6055
@simon3z on it :).

[2016-01-14 21:18] #6181 closed

[2016-01-15 06:39] #6144 closed

[2016-01-15 11:05] arnikasky opened #6195 "Can't access the machine via VNC console"
Hello.
My problem: I can't access the machine via VNC console. When i try to access the VM, reconfiguration of the machine starts, and vnc-port and vnc-password are changed. So, then i can't connect with esxi host.
But i can access the machine via other VNC applications.
Logs are attached.

Thanks.
[error3.txt](https://github.com/ManageIQ/manageiq/files/91732/error3.txt)

[2016-01-15 11:13] #6195 closed

[2016-01-15 15:20] skateman opened #6198 "Images with absolute path in HTML files"
I am [moving](https://github.com/ManageIQ/manageiq/pull/5709) all images to their rightful place (i.e. `app/assets/images`) and updating their paths compatible with the [asset pipeline](http://guides.rubyonrails.org/asset_pipeline.html) to [speed up](https://github.com/ManageIQ/manageiq-appliance/pull/47) the server. This means each linked image has to be passed to an `image_path()` function to ge

[2016-01-15 15:21] skateman commented on #6198
Okay, the situation is not so bad. I just found out that there is only one place where we are referencing an image in HTML: https://github.com/ManageIQ/manageiq/blob/master/app/views/ems_container/_show_dashboard.html#L6

[2016-01-15 15:47] zeari commented on #6198
@skateman and thats going to be removed when #6133 is merged :)

[2016-01-15 15:52] skateman commented on #6198
yay ^^

[2016-01-15 17:31] Fryguy commented on #6094
Merged #6093 and #6175

[2016-01-16 09:22] LubaLimon opened #6210 "Some services are unreachable for users"
When some user, who belongs to a tenant different from the standard, provisions a service, he doesn't see his new Service in my Services tab even though all tags are ok. I looked into the database, apparently all services after provision have tenant_id 1, no matter user from which tenant provisioned this service.

[2016-01-16 16:32] martinpovolny opened #6211 "xnode (and friends) refactoring"
wrap a class around the IDs with prefixes from `X_TREE_NODE_PREFIXES`. Implement methods such as `xnode.zone?` or `xnode.represents?(:zone)`, `xnode.prefix`. Refactor all the controller code replacing stuff such as `x_node.split("-").first != "z"` with usage of the new class.

[2016-01-16 16:36] Fryguy commented on #6211
:+1:

[2016-01-16 17:03] martinpovolny opened #6212 "Implement missing toolbar button tests"
Implement missing toolbar button tests.
1. select a toolbar (such as single vm toolbar)
2. check if tests exist for each button on the toolbar
3. implement missing tests

After review update https://docs.google.com/spreadsheets/d/1PNHsYf9squk2AwjmABOQEYQH6-SF25BjYvidfvGI-s8/edit#gid=0 (access to the document will be granted by @martinpovolny

[2016-01-18 10:53] martinpovolny opened #6218 "Refactor accordions in controllers to use features."
Update list in trello card as these are done: https://trello.com/c/dPKZgyYK/158-refactor-accordions-in-report-controller-to-use-features-class

Use `Feature` to cleanup accordion and tree code in `ReportController`.

See https://github.com/ManageIQ/manageiq/blob/master/app/controllers/vm_infra_controller.rb#L20 as an example on how to refactor

https://github.com/ManageIQ/manageiq/blob/master/app/

[2016-01-18 12:44] martinpovolny opened #6219 "Provider class names, labels indentifiers."
Figure out a way to convert between Provider class names and various other strings that label or identify the class. There might be more cases (not only Provider class names). There might be more names/labels/IDs.

Pattern:

[code]

We need some method to call. Either in the Provider (sub)class or in some decorator. Or find something better (suggest).

[2016-01-18 12:53] himdel commented on #6219
Introducing [Draper](https://github.com/drapergem/draper) decorators in #5946, should be useful here

[2016-01-18 16:36] itamarh opened #6222 "Edit Actions for This Policy Event crash with Couldn't find MiqPolicy without an ID [miq_policy/x_button]"
1. Clicked Control
2. Choose an event (say, Host Maintenance Exit Request").
3. Click Configuration - > Edit Actions for This Policy Event
4. get error screen

this is with 5.5.0.13.20151201120956_653c0d4

[2016-01-18 16:37] itamarh commented on #6222
![screenshot from 2016-01-18 11-29-42](https://cloud.githubusercontent.com/assets/10655261/12396861/bf937cf4-bdd7-11e5-89cc-ed88268707c4.png)
![screenshot from 2016-01-18 11-29-35](https://cloud.githubusercontent.com/assets/10655261/12396862/bf9425b4-bdd7-11e5-9978-5b5b82da8860.png)

[2016-01-18 16:38] chessbyte commented on #6222
@gmcculloug Please investigate

[2016-01-18 17:45] #5993 closed

[2016-01-18 18:55] #6198 closed

[2016-01-18 20:46] akrzos opened #6230 "Not enough space left for /var/www/miq/vmdb/log on master appliance"
Application logs reside in /var/www/miq/vmdb/log which falls under the /var partition which only has 2.0G of space available.  For some of my providers and workloads the log directory will fill in less than 2 days, could more space be provided by default for the /var/www/miq/vmdb/log directory?

[2016-01-19 09:24] abonas opened #6239 "rake db:migrate fails due to non existing file REGION"
reproducible after rebasing on master after #6206 was merged

The exception is regarding a missing REGION file:
No such file or directory @ rb_sysopen - /home/abonas/manageiqfork/manageiq/REGION

The relevant code is here:
home/abonas/manageiqfork/manageiq/db/migrate/20160115142023_remove_replicated_rows_from_newly_excluded_tables.rb:17:in `read'

@carbonin @gtanzillo @Fryguy
was this file forgott

[2016-01-19 10:06] martinpovolny commented on #6239
[code]

for run-time the value defaults to 0

so in order not to break things https://github.com/ManageIQ/manageiq/pull/6206 should fall back to 0 in the migration
https://github.com/ManageIQ/manageiq/pull/6206/files#diff-9c0d22a5ee534e327b6e95c17d813a47

ping @gtanzillo

[2016-01-19 10:07] martinpovolny commented on #6239
Thanks to @abonas for reporting this.

Workaround for people who run dev setup w/o `REGION` file is to create the file and put `0` in it.

[2016-01-19 10:08] martinpovolny commented on #6239
Also I don't see anything about `REGION` in our dev guide http://manageiq.org/documentation/development/developer_setup/ so it should not be required.

[2016-01-19 13:32] carbonin commented on #6239
On it.  If there is no region file that bit of the migration can be ignored.

[2016-01-19 15:25] kbrock commented on #6239
I'd prefer it if we could ask the database for the region ala [MiqRegion.seed](https://github.com/ManageIq/manageiq/blob/master/app/models/miq_region.rb#L113)

[code]

[2016-01-19 15:30] Fryguy commented on #6239
@kbrock You can't do that in a pre-seed context (or in a new database context), as that record doesn't exist.

[2016-01-19 15:32] carbonin commented on #6239
Yeah, in particular right here https://github.com/ManageIQ/manageiq/blob/master/lib/tasks/evm_dba.rake#L159

[2016-01-19 15:45] jrafanie commented on #6239
I hate all of those edge cases (ノಠ益ಠ)ノ彡┻━┻

[2016-01-19 15:47] carbonin commented on #6239
After the fix is merged I believe we would need to run:
[code]
to get around it.
Right @jrafanie ?

[2016-01-19 15:51] jrafanie commented on #6239
Yes, that will effectively do `bundle exec rake db:rollback db:migrate` but ensures anyone who's run the prior migration rollbacks to the prior migration and re-runs the fixed migration.

[2016-01-19 16:56] #6239 closed

[2016-01-20 12:42] martinpovolny opened #6259 "Refactor toolbar button code into separate button classes"
Toolbar button special behaviors have to be handled by separate classes under `app/helpers/application_helper/button`.

Turn branches for specific button IDs in `build_toolbar_hide_button` and similar functions to such classes.

E.g. button changes from #5884 should be implemented in a separate class representing the particular buttons.

ping @romanblanco

[2016-01-20 13:18] martinpovolny commented on #6259
See #5959 #6078 #5783

[2016-01-20 18:41] #5582 closed

[2016-01-21 04:59] blomquisg opened #6275 "Authenticating provider credentials for new (unsaved) provider creates authentication record"
When adding a new provider, validating the credentials for the provider will create a new authentication record for the not-yet-saved provider.

This ends up with an authentication record like this:

id | name | authtype | userid | password | resource_id | resource_type | created_on | updated_on | last_valid_on | last_invalid_on | credentials_changed_on | status | status_details | type | auth_key

[2016-01-21 10:12] skateman opened #6277 "Images used at Import/Export in Automate were deleted during toolbar iconization"
![screenshot from 2016-01-21 11-10-20](https://cloud.githubusercontent.com/assets/649130/12477428/c966fef4-c02f-11e5-9712-c45ae6d57ebf.png)

[2016-01-21 10:12] skateman commented on #6277
@miq-bot assign @epwinchell

[2016-01-21 10:12] skateman commented on #6277
@miq-bot add_label bug, ui

[2016-01-21 11:24] abonas commented on #4827
@romanblanco it is not reproducible anymore on master. Could you confirm/close the issue?

[2016-01-21 11:26] abonas commented on #4319
it was addressed in https://github.com/ManageIQ/manageiq/pull/4600
@mzazrivec please close the issue

[2016-01-21 12:24] #4319 closed

[2016-01-21 12:44] romanblanco commented on #4827
Works for me, closing issue, thanks.

![screencapture-localhost-3000-container-explorer-1453380131817](https://cloud.githubusercontent.com/assets/1187051/12480745/e316f308-c044-11e5-926e-ea7c82c9bd93.png)

[2016-01-21 12:44] #4827 closed

[2016-01-21 17:12] dclarizio commented on #6135
@01000101 Can you give a screen shot or a comment as to exactly where in the UI you are referring to as we use this type of editing in several places and we'd like to make sure it's consistent everywhere?  Thx, Dan

[2016-01-21 17:15] dclarizio commented on #6057
@romanblanco simple fix for upstream . . . thx, Dan

[2016-01-21 18:38] #6055 closed

[2016-01-21 19:47] #5974 closed

[2016-01-21 21:27] #5799 closed

[2016-01-22 09:11] #6277 closed

[2016-01-22 16:20] chessbyte commented on #6211
@martinpovolny Is the idea to create an XNode class that does the parsing on the inside of the raw string in session and exposes accessors and, perhaps, a to_session converter?  If so, where do you propose this class should live?

[2016-01-24 11:12] abonas opened #6310 "Topology - refresh button doesn't invoke refresh"
@miq-bot add_label bug, ui, providers/containers

@epwinchell please have a look. is this a regression following this PR? https://github.com/ManageIQ/manageiq/pull/6090

[2016-01-24 20:33] evenit opened #6315 "[RFE] Add rkerberos gem"
To connect to FreeIPA, I use the rkerberos gem, that provides a great abstraction level on top of gssapi. It would be great to have it available in the appliance.

[2016-01-25 11:10] martinpovolny commented on #6211
@chessbyte : If it's going to be a class then I'd say either `app/presenters/` which is where we put some presentation related classes earlier. Or `app/controllers/application_controller` which is where bunch of stuff that is used from controllers landed recently.

If it's going to end up just as a mixin that would be included into application_controller (and other places) then it would land in `a

[2016-01-25 11:14] #6310 closed

[2016-01-25 15:37] epwinchell opened #6320 "UI: enable adding custom items to toolbars"

[2016-01-25 15:40] epwinchell commented on #6320
@martinpovolny @zeari As discussed, we'd like the ability to add custom items to our standard toolbar, (such as the search bar, checkbox, etc, that were added to the topology view in: #6090)

[2016-01-25 16:25] martinpovolny opened #6324 "Listnavs: have a test of each of them"
As a follow up on #5521, we want to make sure that each of the listnav views has at least one simple test.

Make sure:
1. it renders (no 500)
2. it renders the correct partial

[2016-01-25 22:05] jrafanie opened #6335 "Research copy-on-write page fault in relation to ruby's GC"
We need to better understand shared memory usage with forked processes to see if there is more we can share.

Depending on if you perform GC.start before forking child process, the amount of shared memory between parent and child process fluctuates:
https://gist.github.com/jrafanie/d74824add7b2a22acb30#file-cow_wat-rb

Related:
http://stackoverflow.com/questions/30353272/garbage-collector-in-ruby-

[2016-01-25 22:23] jrafanie commented on #6335
[code]

[2016-01-26 09:20] jzigmund opened #6338 "RoutingError: Image is missing"
On Catalogs -> Catalog Items -> select/click on an one item, i'm getting the error:
[code]

[2016-01-26 09:22] jzigmund commented on #6338
@miq-bot assign @epwinchell

[2016-01-26 09:33] #3501 closed

[2016-01-26 12:26] martinpovolny opened #6340 "replace redundant partials in foreman provider"
take `app/views/provider_foreman/*tree*` and replace them with `app/views/shared/_tree.html.haml`

do that by changing  `replace_explorer_trees` in `app/controllers/provider_foreman_controller.rb` to use `replace_trees_by_presenter` from #6339

3 partials should be deleted as the result of this refactoring

[2016-01-26 12:39] martinpovolny commented on #5370
Remaining in this issue is this task: #6324

[2016-01-26 13:11] jzigmund opened #6342 "RoutingError(s) on Access Control/Roles"
Missing images or wrong paths to the images in 'Product Features' tree on Configuration/Access Control accordion/Roles/click on any Role/expand product features tree.
[code]

[2016-01-26 13:11] jzigmund commented on #6342
@miq-bot assign @epwinchell

[2016-01-26 14:36] jhernand commented on #5741
This is caused by the following oVirt bug:

    The vm.placement_policy.affinity element isn't populated
    https://bugzilla.redhat.com/show_bug.cgi?id=1301992

It was introduced in oVirt 3.6.1.

As a workaround you can modify the `vm.rb` file with this patch:

[code]

[2016-01-26 22:42] boyddl commented on #6021
Ran into the same issue on RHEL CFME running in AWS after a failed certificate update attempt and subsequent AMI restoration. +1

[2016-01-27 14:41] martinpovolny commented on #6320
@epwinchell : would it be sufficient to add only whole sections? (the part between separators) I guess it should be.

[2016-01-27 14:50] epwinchell commented on #6320
@martinpovolny Have a look at the code I added for the topology view: https://github.com/epwinchell/manageiq/blob/aabd71497e97148de392fb664eeacc12de82a3f6/app/views/container_topology/show.html.haml In this case it's 3 form-groups.

[2016-01-27 15:24] martinpovolny commented on #6320
yes, so in *this case* it would be enough

[2016-01-27 16:35] Fryguy commented on #6211
Please name the new class ExplorerNode and not Xnode...I know it's more typing, but at least it's not confusing.

[2016-01-27 17:40] chessbyte commented on #6211
@Fryguy no issue with that as I had no idea what the X stood for. ;-)

[2016-01-27 18:27] martinpovolny commented on #6211
X for X-plorer, I think it's pretty clear with the X, but well I spend most time in the UI

[2016-01-27 20:26] chessbyte opened #6374 "ChargebackRate Assigned Tos"
The `ChargebackRate` model has all of its assignments routed through the Tag/Taggings interface.

Instead, it should have a polymorphic has_many.  Something like

[code]

[2016-01-27 20:27] chessbyte commented on #6374
@Fryguy please validate.

[2016-01-27 20:30] chessbyte opened #6375 "ManagedEntity Mixin"
Currently, we have something like the following

[code]

Suggest that we change to

[code]

This way we can add common functionality to any ManagedEntity in a single location.

[2016-01-27 20:30] chessbyte commented on #6375
@Fryguy please validate.

[2016-01-27 21:22] chessbyte opened #6378 "MiqExpression Pluggability"
Replace `@@base_tables`, `@@include_tables`, `EXCLUDE_COLUMNS`, `EXCLUDE_EXCEPTIONS`,  `TAG_CLASSES`, `EXCLUDE_FROM_RELATS` with class methods that each model calls to register.

[2016-01-27 21:25] chessbyte opened #6379 "AuditableMixin"
Running `git grep AuditEvent` shows 118 calls from controllers and 30 from models.

A better approach is to have models include an AuditableMixin so we can make this less ad-hoc and cleaner.

We may also need to pass in `current_user` into MiqQueue and reset user context when dequeueing to track asynchronous requests that result in AuditEvent being called.

[2016-01-27 22:46] chessbyte commented on #6211
@martinpovolny @dclarizio @h-kataria Can one of you document what an x_node looks like with representative examples?

[2016-01-28 03:49] jrafanie commented on #6335
cowfault.stp:
[code]

fork_gc_not_cow_friendly.rb:
[code]

**Run with**
[code]

An alternative script that tries to summarize the most common places causing writes to copy-on-write pages leading to copying of the page.

cow_total.stp:
[code]

[2016-01-28 03:50] jrafanie commented on #6335
Documentation for vm.write_shared_copy: https://sourceware.org/systemtap/tapsets/API-vm-write-shared-copy.html

[2016-01-28 09:29] martinpovolny commented on #6211
See `xnode` and `xnode=` in `app/controllers/mixins/sandbox.rb` for the semantics of xnode

See `build_id` in `app/presenters/tree_node_builder.rb` to see the construction of the value.

[code]
leading to the variant with `:full_ids`

[2016-01-28 15:48] chessbyte commented on #6211
See some interesting parsing (via `git grep`) from which I am having trouble figuring out x_node examples:

[code]

@martinpovolny @h-kataria If you can help me clarify what all the possibilities are, I can encapsulate in the new ExplorerNode class in PR https://github.com/ManageIQ/manageiq/pull/6387.

[2016-01-28 16:55] chessbyte commented on #6211
Running `git grep x_build_node_id` returns
[code]
Going through each caller, it looks like the middle parameter (parent_id or pid) is either left out or `nil`.  So, in essence it is always nil.  If so, I can make a refactoring to remove that parameter from the method signature.

[2016-01-28 17:44] h-kataria commented on #6211
@chassbyte looked up code to get some sample ids for your first comment, yes xx stands for a Hash class. in order to look up what that second part stands for see X_TREE_NODE_PREFIXES in app/presenters/tree_builder.rb, in this case 'g' is a MiqGroup object.

some of the sample id's with their description, hope this helps.
app/views/chargeback/_rates_tabs.html.haml:    - elsif %w(Compute Storage).in

[2016-01-28 17:51] chessbyte commented on #6211
@h-kataria so, why is there a `xx` prefix signifying a Hash?  Why not `Compute_cr-1r5`?

[2016-01-28 17:56] h-kataria commented on #6211
@chessbyte we add xx prefix to all folder nodes to detect if a user is on a folder node or a subfolder node. On your second question about x_build_node_id parameter, it seems like pid/parent_id is not being used, so you can remove that variable in your refactoring

[2016-01-28 21:51] #6338 closed

[2016-01-29 16:33] Ladas opened #6430 "Missing icon import.png"
![image](https://cloud.githubusercontent.com/assets/1737058/12681336/6e1972cc-c6ae-11e5-8059-2c73f2488bea.png)

@epwinchell seems like the icon got deleted in some refactoring

[2016-01-29 16:35] Ladas commented on #6430
actually it's delete.png and import.png missing, maybe more?

[2016-01-29 17:29] Ladas opened #6434 "Icon false should not be shown"
![image](https://cloud.githubusercontent.com/assets/1737058/12682894/2c7db55a-c6b6-11e5-97c1-b3866eb9f37c.png)

@epwinchell I think false means there is no icon?

[2016-01-29 17:30] epwinchell commented on #6434
@skateman

[2016-01-29 17:32] epwinchell commented on #6430
@miq-bot assign @epwinchell

[2016-01-29 17:33] epwinchell commented on #6434
@miq-bot assign @skateman

[2016-01-29 20:50] chessbyte commented on #6211
@h-kataria running `git grep ` results in
[code]

I see `x_node.split('_').last == "ub"` and `x_node.split('-')[1] == "ub"`.  One splits on underscore and the other on dash.  Is one of them correct?  Are both correct?   Very confusing!

Also, I am assuming that the intent is that "ub" is a special id meaning `Unassigned Button`.  Is that correct?

[2016-01-29 20:52] chessbyte commented on #6211
@h-kataria Running `git grep "x_node.split" | grep "__"` results in
[code]

What are examples of x_nodes with double underscores?

[2016-01-29 22:48] chessbyte commented on #6211
@h-kataria Confused by dashes and underscore splitting [here](https://github.com/ManageIQ/manageiq/blob/master/app/controllers/ops_controller/analytics.rb#L5-L19).  Can you give me some examples of what this method is expecting?

[2016-01-30 20:29] h-kataria commented on #6211
@chessbyte those underscore checks are left over from Dhtmlxtrees, __ are no longer there after treebuilder presenter was introduced, those occurrences in OPS area can be changed to x_node.split("-")[0]

[2016-01-30 20:43] h-kataria commented on #6211
some example of ids in comment https://github.com/ManageIQ/manageiq/issues/6211#issuecomment-177006616 are: "asr_1000000000049", "server_1000000000001", "role_1000000000050". This code is executed when selecting Server/Role/Assigned Server Role records from "Roles by Servers" or "Server by Roles" trees in OPS/Diagnostics accordion (these trees are not yet converted to use TreeBuilder class, tree i

[2016-01-31 14:27] abonas commented on #6054
was redesigned in #6090

[2016-01-31 14:27] #6054 closed

[2016-01-31 16:00] abonas opened #6446 "Incorrect/missing refresh icon in "refresh containers providers""
Refresh icon is shown as missing. It attempts to download it from /images/toolbars/refresh.png and fails.

Looking at infra providers, it should be actually a textual icon fa fa-refresh fa-lg, and not a static png.

Currently it looks like this:
![refreshmissing](https://cloud.githubusercontent.com/assets/6277245/12703132/0463fa36-c844-11e5-930f-3b82b22c896d.png)

@miq-bot add_label bug, providers

[2016-01-31 16:05] abonas opened #6447 "Refresh containers providers is enabled when no provider is selected"
It should be disabled if no providers were selected.
![refreshmissing](https://cloud.githubusercontent.com/assets/6277245/12703166/0c6914d6-c845-11e5-8c91-cd2cd0dc6410.png)

@miq-bot add_label ui, providers/containers, bug
cc @alongoldboim

[2016-02-01 13:57] abonas opened #6454 "pressing on vnc console button on a vm page fails with unclear error"
pressing on vnc console button on a vm page (the one that is to the right to the power button in the toolbar) fails with an unclear error:
![vncerror](https://cloud.githubusercontent.com/assets/6277245/12719218/6e869c8a-c8fc-11e5-9fae-71efadfa5546.png)

either it shouldn't fail, or the error should be clear to the user.
@miq-bot add_label ui, bug

[2016-02-01 14:32] chessbyte commented on #6211
@h-kataria So, does that mean that all 3 occurrences of the double underscore parsing are bugs?  If so, can you make a PR to fix them outside of this refactoring that I am working on?

[2016-02-01 15:27] h-kataria commented on #6211
@chessbyte i dont think these checks are causing any issue/bug as such,
[code]
but i can create a separate PR to clean these up.

[2016-02-02 11:28] Ladas opened #6472 "Alert profile grid issue"
when I zoom this page the grid doesn't work correctly

![screenshot from 2016-02-02 12 25 08](https://cloud.githubusercontent.com/assets/1737058/12748096/66941442-c9a8-11e5-9a19-87b2872c5cdc.png)

[2016-02-02 11:28] Ladas commented on #6472
@epwinchell ^ can you look at it, please?

[2016-02-02 12:06] Ladas opened #6473 "Timeline popup is moving with scrolling"
![screenshot from 2016-02-02 13 05 30](https://cloud.githubusercontent.com/assets/1737058/12748944/c2265892-c9ad-11e5-94a9-07842ed1eeb6.png)

when I scroll down, popup moves pointing to nowhere

![screenshot from 2016-02-02 13 05 47](https://cloud.githubusercontent.com/assets/1737058/12748953/cdfedd24-c9ad-11e5-88b4-124e4a152172.png)

[2016-02-02 13:44] epwinchell commented on #6472
@miq-bot assign @epwinchell

[2016-02-02 14:59] #6340 closed

[2016-02-02 17:30] Ladas opened #6477 "Missing edit.png in control"
![screenshot from 2016-02-02 18 29 19](https://cloud.githubusercontent.com/assets/1737058/12758052/f87ef5e8-c9da-11e5-85da-7071f1c8d80d.png)

@epwinchell another missing icon

[2016-02-02 17:32] epwinchell commented on #6477
@miq-bot assign @romanblanco

https://trello.com/c/dNu0u279

[2016-02-02 18:54] Fryguy opened #6479 "Restructure cloud networking tables to allow for Network-only providers"
There have been requests to have Neutron as a standalone component, amongst many other requests for networking providers.  As such, the current CloudNetwork structure is insufficient.  This is the current design for a new Networking provider and Network manager, that is cloud-oriented (for now).  It should handle all of the Cloud providers we have right now, as well as allowing for new standalone

[2016-02-03 14:18] abonas commented on #6454
@martinpovolny do you know whose domain that is? I wasn't sure who to tag on the issue. thanks

[2016-02-03 15:11] PanSpagetka opened #6494 "Edit Provider Instance failed to render"
When navigate to Providers  => Instances => Check Instance => Edit Selected Item will result in:
 Missing partial layouts/listnav/_vm_common with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :haml, :jbuilder, :rjs]}. Searched in: * "/home/rknaur/manageiq/app/views" [vm/edit]

This problem occurs only in this sequence of actions. Other sequences of act

[2016-02-03 15:36] PanSpagetka opened #6496 "Optimize Bottlenecks Refresh not working"
When you navigate to Optimize => Bottlenecks and click on Refresh button, nothing happen in UI, but in rails console you get this:
[code]

[2016-02-03 16:47] jzigmund opened #6499 "RoutingError: Image is missing on AvailabilityZone#show"
Missing images or wrong paths to the image on Clouds/Availability Zones/click on some Zone then in server log you can see ```ActionController::RoutingError (No route matches [GET] "/images/toolbars/availability_zone_timeline.png")```

[2016-02-03 16:47] jzigmund commented on #6499
@miq-bot assign @epwinchell

[2016-02-03 17:18] h-kataria commented on #6218
- app/controllers/catalog_controller.rb
- app/controllers/chargeback_controller.rb
- app/controllers/container_controller.rb
- app/controllers/miq_ae_class_controller.rb
- app/controllers/miq_ae_customization_controller.rb
- app/controllers/ops_controller.rb
- app/controllers/provider_foreman_controller.rb
- app/controllers/pxe_controller.rb
- app/controllers/report_controller.rb
- app/controllers

[2016-02-03 17:55] bronaghs opened #6501 "Provisioning VM - empty cloud subnets by default"
During provisioning of an Azure VM select the Environment tab. The first drop down under "Placement - Options" is the "Virtual Private Cloud" drop down list. The first network in this list is displayed by default. The second drop down list, "Cloud Subnet" is by default empty. Instead, it should contain all the subnets that are part of the cloud network that is displayed when the page first loads.

[2016-02-03 18:43] h-kataria commented on #6211
@chessbyte please see information below for the answer to your comment https://github.com/ManageIQ/manageiq/issues/6211#issuecomment-176964133

yes 'ub' in tree node id's indicates unassigned button or folder node

app/controllers/application_controller/buttons.rb:    if x_node.split('_').last == "ub" - in this case x_node will be "xx-ub" this check is to prevent user from deleting a Unassigned bu

[2016-02-03 19:05] chessbyte commented on #6211
@h-kataria very strange that `-ub-Host` and `-ub-Host_cb-1r16` do not conform to the same pattern as `xx-ab_Host`, `xx-ab_Host_cbg-1r156`, `xx-ab_Host_cbg-1r156_cb-1r13`.  Makes it difficult to standardize x_node parsing.  Why the inconsistency?

[2016-02-03 19:26] h-kataria commented on #6211
@chessbyte i don't remember the history behind this but it seems like unassigned button folder is not a hash, it is actually a CustomButtonSet object that has unassigned button under that https://github.com/ManageIQ/manageiq/blob/master/app/presenters/tree_builder_buttons.rb#L21 since that object does not have an id, when building a treenode id https://github.com/ManageIQ/manageiq/blob/master/app/

[2016-02-03 19:27] chessbyte commented on #6211
@h-kataria strange that https://github.com/ManageIQ/manageiq/blob/master/app/presenters/tree_node_builder.rb#L341 has a comment above starting with `FIXME`.  ;-)

[2016-02-03 19:28] chessbyte commented on #6211
@dclarizio Any recollection on the inconsistency in the x_node string for unassigned button?

[2016-02-03 20:22] dclarizio commented on #6211
@chessbyte I don't see why we couldn't use `0` as the id to indicate no real owner (unassigned) and would help with consistency and the tests.  But I don't recall any particular reason why it was just left as "".

[2016-02-03 22:04] simon3z commented on #6447
@dclarizio I can't close the issue, cloud you do it for us? Thanks.

[2016-02-03 22:04] simon3z commented on #6446
@dclarizio I can't close the issue, cloud you do it for us? Thanks.

[2016-02-03 22:38] vrutkovs commented on #6057
Doesn't happen anymore in 17ad3b3

[2016-02-03 22:38] #6057 closed

[2016-02-03 23:17] vrutkovs opened #6506 "Crash on switching tabs during VM provisioning"
STR:
1. Add any valid infra provider (I used vsphere55)
2. Infrastructure - Virtual Machines - Lifecycle - Provision Vms
3. Pick any VM template
4. Click on 'Schedule' tab

Rails error: undefined method `[]=' for nil:NilClass [miq_request/prov_field_changed]

Reproduced on 17ad3b3

[2016-02-03 23:28] #6447 closed

[2016-02-03 23:29] #6446 closed

[2016-02-04 06:17] martinpovolny commented on #6454
Ohm well. Let me take a look.

[2016-02-04 08:52] simon3z opened #6508 "Container provider timeline crash: undefined method `container_group'"
When navigating to container provider timeline a crash occurs:

![screenshot from 2016-02-04 09-47-34](https://cloud.githubusercontent.com/assets/130393/12810124/66467822-cb24-11e5-8b35-b93b1d8ac321.png)

cc @dkorn

The traceback is:

	[----] I, [2016-02-04T09:46:54.229898 #6669:4b396c]  INFO -- : Completed 200 OK in 987ms (Views: 861.2ms | ActiveRecord: 12.1ms)
	[----] I, [2016-02-04T09:46:54.618

[2016-02-04 14:31] alongoldboim opened #6511 "Cloud providers provision option is missing."
When pressing Cloud providers, choosing a specific provider ->  clicking on instances -> lifecycle , provision option is missing.
![selection_061](https://cloud.githubusercontent.com/assets/11405684/12817773/6b601736-cb5c-11e5-8b1e-fb63f220d766.png)
When pressing Instances in Cloud tab it is available.
![selection_062](https://cloud.githubusercontent.com/assets/11405684/12817774/6c4446cc-cb5c-11e5

[2016-02-04 14:42] #6430 closed

[2016-02-04 15:39] simon3z commented on #6508
@miq-bot add_label providers/containers

[2016-02-04 15:56] bmclaughlin opened #6517 "Routing error on Reports#tree_select"
Missing image/wrong path on Reports when clicking a Saved Report:
```ActionController::RoutingError (No route matches [GET] "/images/layout/teaserbarlg.png"):```

[2016-02-04 15:57] bmclaughlin commented on #6517
@miq-bot assign @epwinchell

[2016-02-04 16:22] Ladas commented on #6479
@Fryguy changes:

1. For OpenStack and GCE, we will not have a NetworkGroup, so there should be also ext_management_system -> subnet

2. For OpenStack and GCE, we will have cloud_network -> cloud_subnet

I think that the main difference of NetworkGroup and CloudNetwork will be, that you can use CloudNetwork instead of CloudSubnet, for deploying of the VM. Then the provider internally picks some su

[2016-02-04 21:07] Fryguy commented on #6517
Closed by #6520

[2016-02-04 21:07] #6517 closed

[2016-02-05 14:35] kbrock commented on #5967
steps

- [ ] deprecate filtered and search differences - to inform users
- [ ] change filtered(nil) and search(:target => nil) to search all
- [ ] change filtered([]) and search(:target => []) to always return empty results
- [ ] change search(:target => Scope) to run query even when scope returns a nil
- [ ] converge scope, klass, and targets.first.klass - internally just pass around scope
- [ ]

[2016-02-05 19:14] vrutkovs commented on #6494
Happens on Template - Set Ownership too at 7822c31

[2016-02-08 11:54] Ladas opened #6545 "Request to /api breaks the session"
When the /api request comes, you are redirected with the erro message (browser's back button)

The /api seems to be periodical. This is happening in more forms, provider creation, provisioning dialog

![image](https://cloud.githubusercontent.com/assets/1737058/12885048/ee89775c-ce62-11e5-9c49-215a2fd35fec.png)

[2016-02-08 11:54] skateman commented on #6545
It also breaks catalog creation ...

[2016-02-08 11:56] skateman commented on #6545
@miq-bot assign @himdel

[2016-02-08 11:59] Ladas commented on #6545
@skateman @himdel yeah, seems like it shows in all forms

[2016-02-08 12:08] Ladas commented on #6545
@himdel my guess is this https://github.com/ManageIQ/manageiq/commit/b1549d0353c32b7b8b331472fdecc7c58734c36e#diff-fa2ee495e8f61cbeffbab788fe745448R51

[2016-02-08 12:19] himdel commented on #6545
The request to /api *is* supposed to happen every minute, no matter where you are, it is to keep the token from expiring before the session.

It's returning a 304 in the screenshot, are you sure it's related?

[2016-02-08 13:55] himdel commented on #6545
OK, defintely related.. accessing `/api` breaks the session, `layout` `edit` `view` are removed.

[2016-02-08 14:59] #6545 closed

[2016-02-08 16:21] martinpovolny commented on #2451
**Consoles in the SSUI**

 * move launch of proxy to the backend
 * create a model to track display tickets
 * use single proxy process (python) and a single port for all clients
 * swith to port 443 (use some apache module)

[2016-02-08 18:14] kbrock opened #6553 "Remove gettext gem"
We currently have a runtime gem dependency on `fast_gettext`.

We also have a developer only dependency on `gettext`.

1. Do we still need `gettext`?
2. If only 1 or 2 developers need it, can it just be references from `Gemfile.dev.rb`?

/cc @mzazrivec If the version of the `gettext` gem (currently 3.7.2) is very particular, then just ping and I'll close this. thanks

[2016-02-08 19:18] martinpovolny opened #6554 "Toolbar Redesign"
**So far we have**
- Moved the toolbar selection logic to a separate class `ApplicationHelper::ToolbarChooser`
- Moved the toolbar presentation logic to a separate module `ToolbarHelper`
- Split toolbar calculation into several methods see `ApplicationHelper::ToolbarBuilder`
- Allow creation of button classes: `app/helpers/application_helper/button/*` (only a couple of buttons are converted, rest

[2016-02-09 12:04] vrutkovs opened #6565 "Advanced Search panel cannot fit longest entry in find combobox"
Reproduced on ddedd0f

STR:
1. Open Infrastructure - Providers
2. Open Advanced Search
3. Select 'Find' instead of '<Choose>'

![selection_012](https://cloud.githubusercontent.com/assets/114501/12915760/9f90e2cc-cf2d-11e5-9207-63fe4afdb000.png)

[2016-02-09 14:24] chessbyte commented on #6211
@dclarizio @h-kataria for consistency, I propose the following changes:

change `-ub-EmsCluster` to `xx-ub_EmsCluster` to make it like `xx-ab_EmsCluster`
change `-ub-Host` to `xx-ub_Host` to make it like `xx-ab_Host`
change `-ub-Host_cb-1r16` to `xx-ub_Host_cb-1r16` to make it like `xx-ab_Host_cbg-1r156`

This will make the parsing in the ExplorerNode class more consistent.  If you are :+1: on thi

[2016-02-09 14:26] h-kataria commented on #6211
@chessbyte :+1:

[2016-02-09 14:44] epwinchell commented on #6565
@miq-bot add_label ui, bug

[2016-02-09 15:21] vrutkovs commented on #6506
Fixed in #6547

[2016-02-09 15:21] #6506 closed

[2016-02-09 19:27] #6499 closed

[2016-02-09 19:29] #6342 closed

[2016-02-10 10:19] dkorn opened #6587 "Container Image Registries display_name should be pluralized"
To maintain consistency with other container entities, the Image Registry display_name string should be in plural.

[2016-02-10 19:40] bzwei opened #6600 "UI changes after adding orderable column to orchestration templates"
These are the changes needed in UI after the adding of orderable column to orchestration templates #6538

1. Services -> Catalogs -> OrchestrationTemplates should only show orderable templates. @h-kataria has done some initial work to make this change feasible.

2. Each orchestration stack from Clouds -> Stacks should always provide a link to its existing orchestration template no matter it is ord

[2016-02-11 15:07] #6587 closed

[2016-02-11 15:17] chessbyte opened #6612 "Fix Travis warning about ContainerGroup"
[code]

[2016-02-11 16:13] chessbyte opened #6614 "Fix Travis warnings about duplicated keys"
[code]
and
[code]

[2016-02-11 16:15] chessbyte opened #6615 "Fix Travis deprecation warning about privilege"
[code]

[2016-02-11 16:16] chessbyte opened #6616 "Fix Travis deprecation warning about logical_cpus"
[code]

[2016-02-11 16:16] chessbyte opened #6617 "Fix Travis deprecation warning about all method"
[code]

[2016-02-11 16:29] chessbyte opened #6618 "Fix Travis warning about CloudVolume"
[code]

[2016-02-11 16:29] chessbyte opened #6620 "Fix Travis deprecation warning about objects = nil"
[code]

[2016-02-11 16:31] chessbyte opened #6621 "Fix Travis warning about Disk"
[code]

[2016-02-11 16:46] chessbyte commented on #6618
@Ladas assigning to you since the warning is pointing at the following:
[code]
/cc @blomquisg

[2016-02-11 16:48] chessbyte commented on #6621
@bronaghs assigning to you as this is pointing at the following code
[code]
/cc @blomquisg

[2016-02-11 16:49] chessbyte commented on #6612
@simon3z Please have someone on cm-dev team address this issue

[2016-02-11 16:50] chessbyte commented on #6614
@dclarizio @martinpovolny @h-kataria please have someone on UI team address this issue

[2016-02-11 16:51] chessbyte commented on #6620
@kbrock I think you added the code to produce this deprecation warning.

[2016-02-11 16:52] chessbyte commented on #6617
@kbrock @jrafanie can someone take a look?

[2016-02-11 16:52] chessbyte commented on #6616
@dclarizio @martinpovolny @h-kataria can someone on UI team take a look?

[2016-02-11 16:53] chessbyte commented on #6615
@dclarizio @martinpovolny @h-kataria can someone on UI team take a look?

[2016-02-11 16:58] kbrock commented on #6617
mine

[2016-02-11 17:11] chessbyte commented on #6315
@abellotti can you review from technical perspective
@simaishi can you review from build perspective

[2016-02-11 17:51] simon3z commented on #6612
@miq-bot add_label providers/containers

@cben can you take a look at this? Thanks!

[2016-02-11 19:21] martinpovolny opened #6627 "C3 chart support"
# Tasks
- [x] merge #6223
- [x] implement missing important chart types: line, area, stacked
- [x] implement less important chart types (or replacements): pie3d, column3d, column parallel3d, column stacked 3d, area3d, area stacked 3d
- [x] add fallbacks for chart types that are not supported by C3
- [x] implement chart samples for report editor
- [x] get chart styling from patternfly
- [x] chart i

[2016-02-11 20:08] simaishi commented on #6315
Don't see any problem from build side.

[2016-02-11 23:28] abellotti commented on #6315
Adding the gem shouldn't hurt, maybe a little more on the use case ?  Not need to authenticate with FreeIPA to login the appliance (external auth), but this may be for something else ?  Thanks.

[2016-02-12 08:04] Ladas commented on #6618
hmm, seems like I need to do the refactoring sooner than later :-)

[2016-02-12 10:14] skateman opened #6638 "Review rubocop and haml-lint configurations"
Since we use MRI 2.3.0, a lot of changed in rubocop/haml-lint and some configuration parameters have been deprecated, renamed or even removed. Currently I'm not able to run rubocop/haml-lint properly without receiving warnings and/or errors.

[2016-02-12 10:16] skateman commented on #6638
For example haml-lint doesn't detects this error on my machine: https://github.com/ManageIQ/manageiq/issues/6614

[2016-02-12 12:57] #6614 closed

[2016-02-12 13:30] evenit commented on #6315
Well, yes a bit more information wouldn't hurt ;)

I use this gem to connect to FreeIPA during automation. I create a host record for each virtual machine, so that DNS is consistent and authentication/authorization work out of the box.

[2016-02-12 14:04] abellotti commented on #6315
Ahh ok, nice feature being added !!

I'm good with this RFE  :+1:

[2016-02-12 16:30] bronaghs commented on #6621
Sure @chessbyte. Here you go: https://github.com/ManageIQ/manageiq/pull/6644

[2016-02-12 16:39] jrafanie commented on #6617
thanks @kbrock

[2016-02-12 17:23] #6616 closed

[2016-02-12 17:43] dclarizio commented on #6211
@chessbyte sounds good to me

[2016-02-12 18:55] h-kataria commented on #6600
Cloud Stack with Non-Orderable Orchestration templates will have a link "Show Private Orchestration Template" that will point to a new sub screen showing details of Orchestration Template in a read only Code Mirror text box with 2 buttons in toolbar. One to convert Non-Orderable template into Orderable template "Make this private template orderable" that will change the orderable flag of the recor

[2016-02-12 19:36] bzwei commented on #6600
@h-kataria I think we want the link from the stack summary screen always point to the new sub screen to show template in a read only Code Mirror text as you proposed. This way with a backward arrow button it can easily return to the stack summary screen like parameters, outputs sub screens. The existing link points to the Catalogs explorer which makes it difficult to return to the stack summary sc

[2016-02-12 20:11] h-kataria commented on #6600
@bzwei we usually jump to explorers or relationship controller's summary screen for links from summary screen in other parts of UI. Having a new sub-screen is just a special case for non-orderable Orchestartion Templates as they will be hidden in Catalog Explorer and user will have no way to copy them or convert them into orderable templates. @dclarizio what is your suggestion on this.

[2016-02-12 21:05] kbrock commented on #6617
ugh - this is deep :(

[2016-02-12 21:21] jrafanie commented on #6617
Down the :rabbit: hole

[2016-02-12 21:42] dclarizio commented on #6600
@bzwei @h-kataria So, we'll show them the Template contents in read only mode as a child screen from the Stack summary.  We'll have 2 Configuration menu buttons, 1 to Copy the Template that will send them off to the Service Catalogs explorer (if they have RBAC access to that) and another to make the Template orderable (and we'll add RBAC for this new button).  The `Make this Template Orderable` bu

[2016-02-12 22:04] h-kataria commented on #6600
link to Trello card for this work https://trello.com/c/var58viI/164-ui-changes-after-adding-orderable-column-to-orchestration-templates

[2016-02-12 22:38] bzwei commented on #6600
@dclarizio :+1:

[2016-02-12 23:04] jrafanie commented on #6617
@kbrock Let me know if I can help pick this up... give me a holler

[2016-02-16 03:00] kbrock commented on #6617
@jrafanie I think this is dealing with reporting, and we generically call into rbac with a method.
Need to put some time aside to really dig up with :rabbit:

[2016-02-16 10:54] Ladas commented on #6618
also I need fix the original occurrence and rewrite it to clean factory https://github.com/Ladas/manageiq/blob/0c4dd69d05c0c7a15a8a094d397cfca6e9eb0b9c/app/models/orchestration_stack.rb#L72-72

There will be probably more occurrences at this point

[2016-02-16 12:49] martinpovolny opened #6686 "Some broken gettext calls"
The line numbers for HAML are wrong. Search the source before the indicated line number.

[code]

[2016-02-16 14:16] #6686 closed

[2016-02-16 14:17] martinpovolny opened #6691 "C3: implement missing important chart types: line, area, stacked"
parent issue: #6627

[2016-02-16 14:18] martinpovolny opened #6692 "C3: implement chart samples for report editors"
parent issue: #6627

[2016-02-16 14:19] martinpovolny opened #6693 "C3: implement chart types (or replacements): pie3d, column3d, column parallel3d, column stacked 3d, area3d, area stacked 3d"
parent issue: #6627

[2016-02-16 14:20] Ladas commented on #4763
fix merged

[2016-02-16 14:20] #4763 closed

[2016-02-16 14:34] chessbyte commented on #6621
Addressed by #6644

[2016-02-16 14:34] #6621 closed

[2016-02-16 16:48] zeari opened #6701 "Containers dashboard: C3 tooltips on sparkline charts appear white and empty"
![image](https://cloud.githubusercontent.com/assets/11256940/13083415/97804202-d4dd-11e5-90c2-b23f6c3d7661.png)

This is probably a result of https://github.com/ManageIQ/manageiq/pull/6223 and i missed it on the review

[2016-02-16 16:48] zeari commented on #6701
@miq-bot add_label bug, providers/containers, ui

[2016-02-16 17:24] bazulay opened #6702 "missing javascript runtime on a fresh dev environment"
Building a fresh developer setup page (https://github.com/ManageIQ/guides/blob/master/developer_setup.md), fails with:

    rake aborted!
    Bundler::GemRequireError: There was an error while trying to load the gem 'sprockets/es6'.
    /home/baz/.rvm/gems/ruby-2.2.1/gems/bundler-1.11.2/lib/bundler/runtime.rb:80:in `rescue in block (2 levels) in require'
    /home/baz/.rvm/gems/ruby-2.2.1/gems/bun

[2016-02-16 17:25] simon3z commented on #6702
cc @Fryguy  @blomquisg

[2016-02-16 17:27] simon3z commented on #6702
@himdel could this be related to #4914 ?

[2016-02-16 17:29] himdel commented on #6702
@simon3z exactly correct, `sprockets-es6` is using babel5 under the hood, which needs a JS engine to run. Installing node.js is your safest bet..

[2016-02-16 17:32] simon3z commented on #6702
@himdel I am not sure if there's a way to make this more evident (any way to catch that exception and give a more informative error?).

Also it's probably worth mentioning this in the documentation and in the developer guide.

[2016-02-16 17:33] himdel commented on #6702
Agreed, I'll be addressing that tomorrow (unless somebody does it first :))

[2016-02-16 18:49] chessbyte opened #6708 "Fix Travis warning about miq_group"
[code]

[2016-02-16 19:00] Ladas commented on #6479
regarding 5.) we will need to somehow model, that network_port can have multiple subnets and IPs assigned.  e.g http://paste.openstack.org/show/487155/

So here are propositions, that should also include how Nuage is modelling Dual stack ipv4 and ipv6, which should be basically one subnet with ipv4 CIDR and ipv6 CIDR.

5.1.)
we will have network_ports_cloud_subnets table (network_port_id :integer,

[2016-02-16 19:22] martinpovolny opened #6709 "Toolbars i18n"
parent issue: #6554

fix i18n under `app/helpers/application_helper/toolbar/`

talk to @mzazrivec for details

[2016-02-16 20:11] pilhuhn opened #6715 "Tasks for the Hawkular/middleware provider"
- [X]  Add tests (e.g. there is a spec for the ContainerTopologyService here, so you can copy that one for your MiddlewareTopologyService specs. )
- [X] Switch topology to generic topology code from @abonas (see #6842)
- [ ] Apply `process_collection` pattern to the refresh parser as discussed in https://github.com/ManageIQ/manageiq/pull/6468#discussion_r52482811
- [X] Fix/shorten "ManageIQ/Manage

[2016-02-16 21:14] mkanoor opened #6718 "Automate Explorer issue after RAILS 5 Upgrade"
Automate explorer blows up when viewing namespaces, methods
with the following stack trace
``
<NoMethodError: undefined method `flatten' for #<MiqAeNamespace::ActiveRecord_Associations_CollectionProxy:0x007fb28ca12958>>
``

[2016-02-16 22:34] Fryguy opened #6722 "AR .includes is not working"
The new Rails 5 based code in ar_virtual.rb seems to be killing .includes for normal relations.  See example below.  If I comment out the patches in ar_virtual.rb, this works fine.

With patches:
[code]

Without patches:
[code]

[2016-02-16 22:41] simon3z opened #6723 "MiqAeServiceModelBase.ar_method raised: private method `clear_association_cache' called"
[code]

Most likely related to #5982

[2016-02-16 22:42] simon3z commented on #6723
cc @Fryguy @matthewd

@miq-bot add_label bug, rails5

[2016-02-17 11:58] theute opened #6729 ""Unexpected errror" when pressing the "Middleware" tab"
Clicking on Middleware subitem in the menu works fine, but clicking on the top menu element it ends with that error:
Missing template dashboard/maintab, application/maintab with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :haml, :jbuilder, :rjs]}. Searched in: * "/root/t/manageiq/app/views" [dashboard/maintab]

I guess it should default to the "provi

[2016-02-17 11:59] theute commented on #6729
Tag "providers/hawkular" should be added but I don't have the rights to do so.

[2016-02-17 14:03] lpichler opened #6735 "undefined local variable or method `my_region_number'"
rails s
log in, go to any page
change code in any .rb (just add new line)
and click on something in app or make any request then app throws:

``[----] F, [2016-02-17T13:56:44.395733 #14333:3f88c4edef7c] FATAL -- : Error caught: [NameError] undefined local variable or method `my_region_number' for #<Class:0x007f11885c2f88>
/home/himdel/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/activerecord-5.0

[2016-02-17 14:20] chessbyte commented on #6729
@theute anyone can request the miq-bot to add/remove labels like so:

@miq-bot add_label providers/hawkular

[2016-02-17 14:37] theute commented on #6729
Thanks !

[2016-02-17 18:48] roliveri opened #6738 "Add SSA support for VMs on GlusterFS"
Attempting SSA on a VM residing on GlusterFS results in:
[code]

[2016-02-17 19:22] lpichler opened #6739 "List migrations that don't use migration stub (good migration gem) and other migration issues"
https://trello.com/c/DXKp4OGf/183-add-good-migrations-gem-to-prevent-rails-autoloading-of-models-in-migrations

Migrations:
- [x] 20131107000917_expand_dialog_field_default_value_size.rb - `ReservedMixin` module in app/
- [x] 20140201040548_add_update_repo_name_to_miq_database.rb - `ReservedMixin` module in app/
- [x] 20140214191729_enhance_firewall_rules_for_neutron_networking.rb - `ReservedMixin

[2016-02-17 19:28] #5708 closed

[2016-02-17 19:41] mkanoor opened #6740 "Automate UI can't view instances after Rails 5 upgrade"
When viewing properties on an Automate Instance, the UI blows up with

``
undefined method `find_or_initialize_by_instance_id' for #<MiqAeValue::ActiveRecord_Associations_CollectionProxy:0x007fecba741a90> [miq_ae_class/tree_select]
``

[2016-02-17 20:20] lgalis opened #6742 "Error in show detail for any cloud instance or vm"
private method `clear_association_cache' called for #<MiqEnterprise:0x007fc351589848> [vm_infra/x_show]

![screenshot from 2016-02-17 15-09-36](https://cloud.githubusercontent.com/assets/12769982/13123419/fff2310e-d589-11e5-8b32-8b9cb15986a4.png)

[2016-02-17 20:57] bmclaughlin opened #6743 "Error caught: [NoMethodError] private method `clear_association_cache' on Optimize - Bottlenecks"
Encountered when navigating to Optimize - Bottlenecks with a populated timeline.

[code]

[2016-02-17 20:59] bmclaughlin commented on #6743
Looks related to #6723 and #6742

[2016-02-17 21:21] #6718 closed

[2016-02-17 21:48] mkanoor opened #6746 "Automate Explorer class schema/method inputs can't be saved."
When a class schema is edited and saved we get a Flash error message
``
Error during 'save': undefined method 'find_all_by_id' for #<Class:0x007fb760d68d40>
``
The same error happens when saving method inputs

[2016-02-17 22:12] lgalis commented on #6742
https://github.com/rails/rails/pull/16989

[2016-02-17 22:33] matthewd commented on #6743
Yeah, dup of #6723

[2016-02-17 22:33] #6743 closed

[2016-02-17 22:33] matthewd commented on #6742
Dup of #6723

[2016-02-17 22:33] #6742 closed

[2016-02-17 23:21] simon3z commented on #6508
cc @dkorn

[2016-02-18 00:12] #6746 closed

[2016-02-18 01:51] chessbyte opened #6754 "ActiveRecord::Base.find_all_by_* is gone"
Filtering the grep by trying to exclude the non-dynamic methods our code defines, gives
[code]

Updated on Friday, February 19 @ 1:00pm EST.

[2016-02-18 01:52] chessbyte opened #6755 "ActiveRecord::Base.find_by_* is gone"
[code]

[2016-02-18 02:03] chessbyte opened #6756 "ActiveRecord::Base.find_or_create_by_* is gone"
[code]

[2016-02-18 02:05] chessbyte commented on #6755
My bad!  ActiveRecord::Base.find_by_* is still in Rails 5

[2016-02-18 02:05] #6755 closed

[2016-02-18 02:07] chessbyte opened #6757 "alias_method_chain is deprecated"
[code]

Also,
[code]

[2016-02-18 02:37] kbrock commented on #6757
What do we loose by making this change?
When did `Module#prepend` get introduced? ruby 2.2? So miq 5.5?

While it is important to leverage newer apis, it does makes back porting our code that much harder.

[2016-02-18 02:47] chessbyte opened #6758 "ActiveRecord::Base.find_by_*_and_* is discouraged"
[code]

[2016-02-18 02:51] chessbyte commented on #6735
@lpichler how hard is it to write a failing spec for this?

[2016-02-18 04:16] chrisarcand commented on #6756
Are errors being found somewhere? It looks like these methods are all literal methods defined on their respective models (not from Rails), so I don't think we should have any issues here. :confused:

[2016-02-18 04:27] chrisarcand commented on #6758
This one is a bit more confusing because I believe most of the results are fine (defined methods not a part of Rails) but tough to see them all at a glance here; I don't see a definition for `find_by_name_and_class_id`. Can write a better regex to account for defined methods tomorrow.

[2016-02-18 04:31] chrisarcand commented on #6757
2.0, if that makes a difference.

[2016-02-18 07:00] dttocs commented on #6479
I don't anticipate we'll see other cloud network providers aligning with
OpenStack semantics here - all others I've seen do not expose a broadcast
domain as such, so the added complexity for OpenStack won't be useful
elsewhere.  That said, if we don't make it possible to expose the OpenStack
model at CloudForms, I'm sure someone will come up with a use case where
it's required.

Neutron Subnet poo

[2016-02-18 13:17] mfalesni opened #6762 "[AE] default_value is not honoured in refresh"
![anim](https://cloud.githubusercontent.com/assets/2163040/13144186/5302f850-d649-11e5-8416-2eb0876785ac.gif)

I am creating a tool that deploys CFME/ManageIQ, so the values in the dialog may be familiar. Basically, the `default_value` is honoured when the dialog is loaded first, but during the subsequent reloads for dynamic elements it always sticks to `Nothing selected` when the drop down conten

[2016-02-18 13:21] kbrock commented on #6757
@chrisarcand sweet - that does for me. thanks

change away!

[2016-02-18 14:27] chrisarcand opened #6763 ":before_filter deprecations from secure_headers gem"
![](http://screenshots.chrisarcand.com/perm8ao3j.jpg)

Making note of the `before_filter` deprecations we now have on boot.

https://github.com/twitter/secureheaders/pull/215

[2016-02-18 14:28] chrisarcand commented on #6763
@miq-bot add_label core, rails5

[2016-02-18 14:29] chrisarcand commented on #6763
@miq-bot assign chrisarcand

[2016-02-18 15:03] mfalesni opened #6765 "Openstack Catalog Item: undefined method `hardware' for nil:NilClass [catalog/atomic_form_field_changed]"
During the process of creating a service catalog item, when you select "Openstack" type of a catalog item, it explodes with:

```undefined method `hardware' for nil:NilClass [catalog/atomic_form_field_changed]```

Excerpt from production.log:
[code]

Upstream appliance from Feb 10th.

[2016-02-18 15:22] abonas commented on #6754
I believe it affects providers refresh. for example, refresh of rhev provider blows up with "undefined method `find_all_by_id'"

[2016-02-18 15:26] abonas opened #6766 "unable to add a containers provider from UI"
Adding a provider (openshift origin, for example) doesn't work in the UI, it fails with "missing credentials" when pressing on "validate token".
It *does* work with exactly the same details and token from rails console

![missing_creds](https://cloud.githubusercontent.com/assets/6277245/13148138/ab039a80-d664-11e5-9907-6efbad230e4a.png)

[2016-02-18 15:26] chessbyte commented on #6754
@abonas please provide a PR.  If easy, add a spec.

[2016-02-18 15:26] abonas commented on #6766
@miq-bot add_label bug, ui, providers/containers

cc @bazulay @simon3z

[2016-02-18 15:27] abonas commented on #6754
I am not familiar with the rhev provider impl, I reported it as a user.

[2016-02-18 15:29] kbrock commented on #6735
The issue is when our app gets reloaded from disk (in dev mode), not all mixins get applied.

[2016-02-18 15:31] lpichler commented on #6735
@kbrock Is it possible to write spec for it ? I am not sure how.

[2016-02-18 15:36] himdel commented on #6702
https://github.com/ManageIQ/guides/pull/104

I believe this closes it?

[2016-02-18 15:38] gmcculloug commented on #6765
@bdunne This issue is related to the changes from PR #6227

[2016-02-18 15:44] #6740 closed

[2016-02-18 15:45] patchkez opened #6767 "Ansible Tower: Last refresh date not displayed"
After refresh of Ansible Tower, "Last refresh date" column is empty. Data is missing in DB:

`# select name,last_refresh_error, last_refresh_date from ext_management_systems;
                name                 | last_refresh_error | last_refresh_date
-------------------------------------+--------------------+-------------------
 ansiblepktest Configuration Manager |                    |
`

This

[2016-02-18 15:52] patchkez opened #6768 "Ansible Tower: Flash message for provider refresh not accurate"
After provider is refreshed, this flash message will pop up:

Please update it and remove "Foreman" from it.

[2016-02-18 16:00] patchkez opened #6769 "Ansible Tower: Unable validate credentials of existing provider"
1) Add Ansible Tower
2) Select provider - Edit selected Item - Click on validate button.
You will get this error message on the screen:

`undefined method provider' for nil:NilClass [provider_foreman/authentication_validate]`

and in production.log:

`[----] I, [2016-02-18T10:58:45.860738 #53354:b468ba0]  INFO -- : Started POST "/provider_foreman/authentication_validate/1?button=validate&type=log"

[2016-02-18 16:07] patchkez opened #6770 "Ansible Tower: Error when editing name of existing provider"
1. Add Tower
2. Try to modify Name field and save it.

This will be displayed on the screen:

`Couldn't find ManageIQ::Providers::Foreman::ConfigurationManager with 'id'=1 [WHERE "ext_management_systems"."type" IN ('ManageIQ::Providers::Foreman::ConfigurationManager')] [provider_foreman/edit]`

and this will appear in production.log:

`[----] I, [2016-02-18T11:04:50.405396 #53354:33dab78]  INFO --

[2016-02-18 16:10] lgalis commented on #6770
@miq_bot assign lgalis

[2016-02-18 16:11] lgalis commented on #6770
@miq_bot assign @lgalis

[2016-02-18 16:12] lgalis commented on #6768
@miq-bot assign @lgalis

[2016-02-18 16:14] lgalis commented on #6769
@miq-bot assign @lgalis

[2016-02-18 16:16] lgalis commented on #6770
@miq-bot assign @lgalis

[2016-02-18 16:17] patchkez commented on #6770
I get the same error when I try to edit Username and Url fields.

[2016-02-18 16:22] patchkez opened #6772 "Ansible Tower: Error when deleting provider"
Try to delete Ansible Tower provider and you will get error:

`undefined method find_all_by_id' for #<Class:0x000000079ec008> [provider_foreman/delete]`

production.log:

`[----] I, [2016-02-18T11:18:36.465477 #53354:51ab864]  INFO -- : Started POST "/provider_foreman/delete" for 127.0.0.1 at 2016-02-18 11:18:36 -0500
[----] I, [2016-02-18T11:18:36.468736 #53354:51ab864]  INFO -- : Processing by P

[2016-02-18 16:24] chessbyte commented on #6772
/cc @matthewd @Fryguy

[2016-02-18 17:21] lgalis commented on #6770
I do not see this issue on the pre-rails 5 branch. Trying the latest master now.

[2016-02-18 18:10] lgalis commented on #6770
I tried editing a provider and changing any of the fields using the latest master - still cannot reproduce the problem. What were the steps taken? How was the Ansible provider added?
Can I have a copy of your DB?

[2016-02-18 18:42] skateman commented on #6763
yay

[2016-02-18 18:45] lgalis commented on #6770
@patchkez - I tried editing a provider and changing any of the fields using the latest master - still cannot reproduce the problem. What were the steps taken? How was the Ansible provider added?
Can I have a copy of your DB?

[2016-02-18 18:53] chessbyte commented on #6772
another case of https://github.com/ManageIQ/manageiq/issues/6754

[2016-02-18 18:53] martinpovolny commented on #6735
good luck with the spec ;-)

[2016-02-18 20:05] chessbyte commented on #6754
@abonas it was merged because we have no automated specs around it.  We are fixing the Rails 5 issues identified as fast as we can.

[2016-02-18 20:53] Fryguy commented on #6754
@chessbyte Can you update the list now that #6774 is merged?

[2016-02-18 20:54] Fryguy commented on #6772
@bdunne Please create specs in a new PR if possible.  We are trying to unstick any developers for now due to the Rails 5 breakages.

[2016-02-18 20:55] #6772 closed

[2016-02-18 21:01] chessbyte commented on #6754
@Fryguy list has been updated

[2016-02-18 21:13] lgalis commented on #6769
@patchkez - I cannot  reproduce this issue either - it has the same cause as this issue: https://github.com/ManageIQ/manageiq/issues/6770 - that is an empty provtype parameter - this is determined from the provider type in the db.
I need steps to reproduce or a copy of your db ( at a minimum this provider record). Thank you.

[2016-02-18 21:25] #6723 closed

[2016-02-18 21:55] #6722 closed

[2016-02-18 22:46] jrafanie commented on #3415
#3397 was reverted but now that we're using rails 5, we're using puma and hitting this again

[2016-02-18 22:49] Fryguy commented on #6767
@bdunne This is set as part of the normal Refresher base, so perhaps that's not using the shared code?

[2016-02-18 22:49] Fryguy commented on #6768
@bdunne Ping also

[2016-02-18 22:55] Fryguy commented on #6756
Yeah, I double checked them all and these are OK.  Closing.

[2016-02-18 22:55] #6756 closed

[2016-02-18 22:57] Fryguy commented on #6739
See also my comment here: https://github.com/ManageIQ/manageiq/pull/5554#issue-118133896

[2016-02-18 22:57] Fryguy commented on #6739
20130923182042_collapsed_initial_migration.rb doesn't need a spec (unless it's doing data migration, but I don't think it does)

[2016-02-18 23:00] Fryguy commented on #6739
Also, see https://github.com/ManageIQ/manageiq/pull/5554#discussion_r45544458 .  Not necessary immediately, but once models are properly loaded via stubs, then this _type_disabled won't need needed everywhere, and instead only in places where the type column actually exists.

[2016-02-19 01:14] #6735 closed

[2016-02-19 01:21] matthewd commented on #6758
For the record, unlike the other similar patterns, this one hasn't actually gone away. But it is discouraged: `find_by(*: ..., *: ...)` is nicer, if only because it doesn't go through a rather unpleasant `method_missing`.

[2016-02-19 04:13] #6612 closed

[2016-02-19 04:14] #6763 closed

[2016-02-19 07:01] abonas commented on #6754
@chessbyte so the current dev flow when making changes, and especially big
changes is that developers rely on automated tests only and don't login to
the product to check basic functionality manually, while knowing that test
coverage is currently lacking coverage of certain areas?
On Feb 18, 2016 10:05 PM, "Oleg Barenboim" <notifications@github.com> wrote:

[2016-02-19 08:33] #3775 closed

[2016-02-19 08:50] patchkez commented on #6769
@lgalis - I sent you login details (PM message) to my appliance, so you can login there and check. Reproduction steps are:
1) Add Ansible Tower
2) Select provider - Edit selected Item - Click on validate button.

For this testing, I used nightly appliance 20160210 which was updated with these commands:
- git checkout master
- git fetch upstream
- git pull upstream master
- git push origin master
-

[2016-02-19 08:56] patchkez commented on #6770
@lgalis -  Ansible Tower provider was added via UI via Configuration - Add a new provider. Url and Ansible Tower type was chosen, login details were filled in (and validated) and form was saved.
 I sent you private message with login details to my appliance.

If you need more information, please let me know.

[2016-02-19 09:16] arnikasky opened #6802 "Fix top of the main UI dissapearing behind menus - again"
Hello.
After adding this pull request [#5869](https://github.com/ManageIQ/manageiq/pull/5869) I continue reproduce this bug: [#1291465](https://bugzilla.redhat.com/show_bug.cgi?id=1291465)
Before reloading:
![isssueui1](https://cloud.githubusercontent.com/assets/8751017/13171184/77963786-d702-11e5-87da-4ad744b34cd0.png)
After reloading:
![issueui2](https://cloud.githubusercontent.com/assets/875101

[2016-02-19 09:29] simon3z opened #6803 "Container volumes page crash"
The container volumes page is currently crashing with:

[code]

![screenshot from 2016-02-19 10-28-52](https://cloud.githubusercontent.com/assets/130393/13171539/a2ff41ce-d6f3-11e5-8ae2-dd06fa5202cc.png)

cc @zakiva

[2016-02-19 09:30] simon3z commented on #6803
@miq-bot add_label providers/containers, bug, ui

[2016-02-19 09:59] simon3z opened #6805 "Container hawkular metrics collection is broken: cannot load such file -- hawkularclient"
Container hawkular metrics collection is currently broken:

[code]

@Fryguy @pilhuhn @abonas last time we spoke I remember we mentioned that before upgrading the `hawkular-client` gem we would have checked if there were repercussion on containers metrics collection.

Turns out that #6468 broke containers metrics collection.

[2016-02-19 10:01] simon3z commented on #6805
@miq-bot add_label providers/containers, metrics, bug

[2016-02-19 10:06] pilhuhn commented on #6805
My bad indeed, as the spec tests that worked before the change all worked afterwards too.
The change was to rename `hawkularclient.rb` to `metrics_client.rb`

[2016-02-19 10:07] simon3z commented on #6805
@pilhuhn I think the relevant rename is `hawkularclient` vs `hawkular_all`

[2016-02-19 10:08] pilhuhn commented on #6805
`hawkular_all` pulls in more than metrics only, but it also includes metrics.

[2016-02-19 10:36] arnikasky commented on #6802
@miq-bot add_label bug, ui

[2016-02-19 12:32] himdel commented on #6802
@arnikasky I notice you have an older version of manageiq, could that be the reason?

Unfortunately without more info, I cannot reproduce..does it happen all the time for you?

I tried reloading via F5, clicking the refresh button on the toolbar, *and* clicking on `Virtual Machines`, all with the last VM in the left menu (and yes, it's several pages long), so far without any success...

Also, coul

[2016-02-19 13:37] #6553 closed

[2016-02-19 13:39] chessbyte commented on #6754
@abonas It was an oversight to not do basic testing manually.  With all the recent fixes, @Fryguy clicked through the UI and it seemed to be stable.  Please report any other issues you find.
/cc @matthewd

[2016-02-19 14:32] mkanoor opened #6814 "Automate Methods hang after rails 5 upgrade"
After upgrading to rails 5 automate methods hang in dev and prod environment but works in test env.

[2016-02-19 14:54] mansam commented on #6814
I noticed this problem yesterday as well. It seems that it reaches the point where a subprocess is spawned that never wakes up from sleep for whatever reason, causing everything else to hang.

https://github.com/ManageIQ/manageiq/blob/master/lib/miq_automation_engine/engine/miq_ae_method.rb#L270

[2016-02-19 15:27] chessbyte commented on #6814
/cc @matthewd @Fryguy

[2016-02-19 15:28] chessbyte commented on #6805
@pilhuhn @simon3z is there a pull request coming to address this?

[2016-02-19 16:54] dclarizio commented on #6511
@alongoldboim we've never had the provision type buttons on screens that are lists of VMs owned by other objects (such as providers/hosts/clusters/etc).  I think it is because if you provision from there, the new VM/Instance won't be automatically created in that area.  Just seems like a disconnect in that the user is on say Provider A and he provisions a VM that then ends up on Provider B or even

[2016-02-19 17:24] bmclaughlin opened #6819 "undefined method `find_all_by_towhat' for #<Class:0x00000003d30c18> [miq_policy/x_button]"
Encountered when on a VM Control Policy	screen and selecting Edit This Policy's	Condition assignments from the Configuration dropdown.

[2016-02-19 17:26] #6819 closed

[2016-02-19 18:01] chessbyte commented on #6754
Closing as all the issues in active code have been addressed.

[2016-02-19 18:01] #6754 closed

[2016-02-19 20:08] mattmahoneyrh opened #6823 ""bundle exec rake:start" error: NoMethodError: undefined method `[]' for nil:NilClass"
Encountered the following error when attempting "bundle exec rake evm:start"

*\* Execute evm:start
/usr/local/bin/rake: No such file or directory - addr
Starting EVM...
/usr/local/bin/rake: No such file or directory - addr
rake aborted!
NoMethodError: undefined method `[]' for nil:NilClass
/usr/local/lib/ruby/gems/2.2.0/gems/uuidtools-2.1.5/lib/uuidtools.rb:603:in`block (2 levels) in first_mac'
/

[2016-02-19 20:23] dclarizio commented on #5748
@martinpovolny see my comment above https://github.com/ManageIQ/manageiq/issues/5748#issuecomment-162899428 . . . Thx, Dan

[2016-02-19 20:33] chessbyte commented on #6805
Fixed in #6805

[2016-02-19 20:33] #6805 closed

[2016-02-19 21:33] mkanoor commented on #6814
This seems to happen because of MiqAePassword being undefined when executing this line of code https://github.com/ManageIQ/manageiq/blob/master/lib/miq_automation_engine/engine/miq_ae_service/miq_ae_service_object_common.rb#L5

if the MiqAePassword is required in lib/miq_automation_engine/engine/miq_ae_service.rb then we don't see this issue.
``
require_relative '../models/miq_ae_password'
``
Anot

[2016-02-19 21:50] jrafanie commented on #6814
Is it a difference with autoloading of files in test vs. dev/prod from rails 4 to 5?  Did we change the autoload paths?

[2016-02-19 22:44] mkanoor commented on #6814
@jrafanie
Not sure.
The autoload is properly set in
https://github.com/ManageIQ/manageiq/blob/master/config/application.rb#L75

Stepping thru the code we locate the correct file to be loaded but hang on this line

Dependencies.load_interlock
https://github.com/rails/rails/blob/v5.0.0.beta2/activesupport/lib/active_support/dependencies.rb#L369

https://github.com/rails/rails/blob/v5.0.0.beta2/activ

[2016-02-19 22:56] jrafanie commented on #6814
It's a good thing we have the right person for the job @matthewd. :bow:
I've always wanted to extract the run ruby method thing to be runnable from console/rails runner so you don't have to figure up the UI and do a bunch of steps to test it.

[2016-02-19 23:19] matthewd commented on #6814
Ohhhhh, I see.

The thing that invokes the drb needs to wrap the invocation in https://github.com/rails/rails/blob/master/activesupport/lib/active_support/dependencies/interlock.rb#L46 -- thereby promising it's not going to run any code that might hit an autoloadable constant inside the block / while it's waiting.

[2016-02-20 07:38] martinpovolny commented on #5748
@dclarizio : https://github.com/ManageIQ/manageiq/issues/6627 -- part of that are the fallbacks

[2016-02-20 10:29] martinpovolny opened #6834 "Crosslink from VM to attached volumes"
Follow up on #5803

[2016-02-21 06:58] alongoldboim commented on #6511
@dclarizio I understand, its not that critical, though as a user i was expecting to have this option from the providers, if it not too big of a mess i think having that option would be nice (even if you need to check what provider you want the provision to occur on like on the refresh).

[2016-02-21 11:41] abonas opened #6835 "rhev refresh fails with "undefined method `[]=' for nil:NilClass""
ERROR -- : MIQ(ManageIQ::Providers::Redhat::InfraManager::Refresher#refresh) EMS: [rhev], id: [2] Refresh failed
[----] E, [2016-02-21T13:36:03.236052 #13564:a679e4] ERROR -- : [NoMethodError]: undefined method `[]=' for nil:NilClass  Method:[rescue in block in refresh]
[----] E, [2016-02-21T13:36:03.238249 #13564:a679e4] ERROR -- : /home/abonas/.rvm/gems/ruby-2.2.3/gems/ovirt-0.7.1/lib/ovirt/vm.r

[2016-02-21 13:49] abonas opened #6837 "Values in columns are not aligned in Status table in provider summary page"
The left and right columns are styled and structured differently
(and also different from the Properties table above)

"Last Refresh" is located more towards the top of the cell while its value ("Success", "Never", etc.) is more centered.

"Last refresh" is styled as td class="label"
Its value - the other column, is styled as a hierarchical html entry, and a table on its own.

checked it happens i

[2016-02-21 14:28] avi3tal opened #6840 "Unable to add provider due to containers toolbar overlapping"
Containers components toolbar overlapping main page so that it hide the basic page buttons.
For example, unable to add provider because provider button is hidden behind toolbar

[2016-02-21 14:30] avi3tal commented on #6840
<img width="1280" alt="screen shot 2016-02-21 at 4 24 55 pm" src="https://cloud.githubusercontent.com/assets/2629741/13203129/5b3701d0-d8b8-11e5-840a-16822646e1fb.png">

[2016-02-21 14:31] avi3tal commented on #6840
Upstream build: 20160215

[2016-02-22 07:07] oourfali commented on #6835
This one is a duplicate of https://github.com/ManageIQ/manageiq/issues/5741

[2016-02-22 09:13] abonas commented on #6835
per Oved's comment - duplicate, closing

[2016-02-22 09:13] #6835 closed

[2016-02-22 09:14] abonas commented on #6766
cc @avi3tal

[2016-02-22 09:20] abonas commented on #6715
The beginning of handling the second item in #6842

[2016-02-22 11:09] zeari opened #6847 "Unable to create new chargeback report"
an exception pops up when trying to create a chargeback report. specifically when choosing chargeback on the '_* Base the report on_' dropdown.
The exception is:  ```undefined method `reflections_with_virtual' for Chargeback:Class [report/form_field_changed]```

log:
[code]

[2016-02-22 11:10] zeari commented on #6847
@miq-bot add_label ui, bug, reporting, chargeback

[2016-02-22 12:22] durandom commented on #2483
@gmcculloug I guess we have to
1) define which event should be emmitted in https://github.com/durandom/manageiq/blob/6729127a7b3c674c60c79925a8a4a1728b551b8d/config/event_handling.tmpl.yml
2a) find a place where we 'consume' the events and actually trigger something
or
2b) leave consuming the events up to user defined workflows?

can you give me some pointers here?
thanks

[2016-02-22 13:36] romanblanco opened #6853 "Retiring instance does not work"
I ran into issue while trying to reproduce bug mentioned of review for PR #5410.
Loading data from Openstack provider works fine for me, but after trying to retire Openstack instance, I'm getting error:

[code]

@Ladas, @blomquisg

[2016-02-22 13:37] romanblanco commented on #6853
@miq-bot add_label bug, ui, providers/openstack

[2016-02-22 15:00] romanblanco opened #6858 "Adding a new Service Catalog Item is not working"
Spinner keeps rotating and form is not loading when I try to add a new VMware catalog item:

Steps to reproduce:
Services → Catalogs → Catalog Items → Add catalog item → VMware

![screencapture-localhost-3008-catalog-explorer-1456153160998](https://cloud.githubusercontent.com/assets/1187051/13221773/48527c00-d97d-11e5-855d-e7d6e1ec1298.png)

blocks: https://bugzilla.redhat.com/show_bug.cgi?id=1285

[2016-02-22 15:25] vrutkovs opened #6859 ""undefined local variable or method `namespace`" error on provisioning VM on RHEVM"
Manageiq at e71546b

STR:
1. Add RHEVM provider (Rhevm 3.4 in my case)
2. Request provision of any VM
3. Check task status

Task fails with status: '[NameError]: undefined local variable or method `namespace' for #<Ovirt::Vm:0x0000000a2776f8>'

[2016-02-22 16:03] gmcculloug commented on #2483
You want to take a look at the policy events defined here: [db/fixtures/miq_event_definitions.csv#L310](https://github.com/ManageIQ/manageiq/blob/master/db/fixtures/miq_event_definitions.csv#L310)

You can see an example of how `ems_performance_gap_detected` is used here:
[app/models/metric/ci_mixin/capture.rb#L170](https://github.com/ManageIQ/manageiq/blob/master/app/models/metric/ci_mixin/captur

[2016-02-22 17:14] zeari commented on #6847
I tried messing with ```include VirtualReflections``` but still no real insight to what should be here. @gtanzillo @matthewd Can you take a look?

[2016-02-22 20:35] mattmahoneyrh opened #6867 "miq_web_server_worker_mixin.rb:28:in `configure_secret_token"
Encountered the following error while attempting to "bundle exec rails s"

...miq_web_server_worker_mixin.rb:28:in `configure_secret_token': undefined method`session_secret_token' for nil:NilClass (NoMethodError)

Details: http://pastebin.com/Gy9h1N8M

[2016-02-22 21:12] dclarizio commented on #6840
@avi3tal Can you tell me what the window size is for your screen shot?  We officially support 1280 as the minimum width.  We are currently working on moving the navs to the left, but perhaps this issue (if it wraps at 1280) could be alleviated byremoving the redundant "Container" prefix text from the 3 subnavs in your screen shot.  We have recommended this many times, but it would certainly help a

[2016-02-22 21:38] simon3z commented on #6766
@enoodle can you look into this?

[2016-02-22 23:06] bdunne commented on #6859
@miq-bot assign @bdunne

[2016-02-22 23:06] bdunne commented on #6859
@vrutkovs Do you have a stack trace from the evm.log to go with this error?

Thanks

[2016-02-23 09:36] vrutkovs commented on #6859
@bdunne sure, log is at https://gist.github.com/vrutkovs/f85851d8ef76367fe6b0

[2016-02-23 10:35] abonas opened #6875 "Download as txt presents partial information in the report"
For example - Pods (it happens in all entities, looks like there's some limitation on number of columns presented)
![pods](https://cloud.githubusercontent.com/assets/6277245/13248942/ed1d122a-da29-11e5-9ca6-a27b160c042e.png)
Its txt report:
![txtreport](https://cloud.githubusercontent.com/assets/6277245/13248944/f49e0d9c-da29-11e5-8806-5867b57bd251.png)

@miq-bot add_label ui, reporting

[2016-02-23 11:08] lpichler commented on #6739
@jrafanie @Fryguy There is list of issues in migrations. Please, let me know if you have idea to add something else or eventually something to remove. thanks

[2016-02-23 11:16] lucasponce opened #6876 "Integrate metrics from hawkular into MiQ"

[2016-02-23 11:17] pilhuhn commented on #6876
@miq-bot add_label providers/hawkular

[2016-02-23 13:18] himdel opened #6878 "BadRequestError in service catalog API - but only on first request after compilation"
Found another pretty reproducible bug..

accessing `/api/service_catalogs?sort_by=name` gives me

[code]

.. but only when rails is freshly started or freshly recompiled, and until I access `/api/service_templates?expand=resources&attributes=service_template_catalog.name`

Steps to reproduce:
- start rails
- access `/api/service_catalogs?sort_by=name` - **bad request**
- access `/api/service_templ

[2016-02-23 13:40] alongoldboim opened #6879 "Automation, when creating a new category fails with no message."
There are two issues:
1)  It fails and doesn't give any valuable output
![selection_064](https://cloud.githubusercontent.com/assets/11405684/13253234/c99d24d8-da43-11e5-8899-c156344f5086.png)

2) In the following class there is a validation on description, I dont see a reason on why to do it? plus its very unintuitive to have validation on a free text.

[code]

[2016-02-23 14:02] gmcculloug commented on #6858
@romanblanco This is likely related to issue #6814.  The service catalog item has to call into automate to determine the provisioning dialog to display.

[2016-02-23 14:10] enoodle commented on #6766
It seems to me that the problem is coming from #5578 removing userid from the creation of   ```creds[:bearer]```  and then we fail in ```if self.missing_credentials?(type)``` from ```authentication_check_no_validation```.
A possible fix is to change ```missing_credentials``` to actually use the type and return an empty list if type==:bearer.

[2016-02-23 15:27] abellotti commented on #6878
Just checking with @kbrock  apparently method_defined? may not return true unless a class instance is accessed first.  will create another PR for this.

[2016-02-23 15:30] zeari opened #6885 "Custom chargeback report saved under folder called 'true'"
![chargeback_folder_bug](https://cloud.githubusercontent.com/assets/11256940/13256360/0f15f152-da53-11e5-9643-82071456d19a.png)

@miq-bot add_label ui, reporting, bug, chargeback

[2016-02-23 15:35] gmcculloug commented on #2483
@durandom You will need the changes from PR #6884 for your changes.

[2016-02-23 15:40] pilhuhn commented on #6729
Note that this does not "crash" on master anymore, but also not react. I'll file a PR soon

[2016-02-23 15:42] Fryguy commented on #6479
Not actually finished in #6043, so reopening

[2016-02-23 15:52] martinpovolny opened #6889 "Cleanup handling of menu sections for navigation, last action and such"
We still have hardcoded lists of menu sections and similar stuff in many places

Namely see `app/controllers/dashboard_controller.rb` `maintab` for several occurences.

Also see this PR for where it leads: #6888

We need to replace those with a generic solution based on `Menu::Manager`

[2016-02-23 16:24] abellotti commented on #6878
PR #6892

[2016-02-23 16:28] isimluk commented on #521
It seems that this has been already done and the ticket can be closed.

[2016-02-23 16:32] #521 closed

[2016-02-23 19:16] #6729 closed

[2016-02-23 19:29] #6837 closed

[2016-02-23 20:28] isimluk commented on #591
I think we can close this ticket. strong_parameters is part of rails 4 and it cannot be included by application (https://github.com/rails/strong_parameters/issues/45)

[2016-02-23 20:31] #591 closed

[2016-02-23 21:10] #6853 closed

[2016-02-24 00:09] #6859 closed

[2016-02-24 09:10] skateman commented on #2451
Just for an experiment, I checked out if we have any kind of apache modules for websockets available in our appliances.
[code]
yay :smile:

[2016-02-24 09:23] martinpovolny commented on #2451
Cool, @skateman.

The next step is to figure out how to manage the configuration of the web socket proxy process once it's running as a daemon.

You need to
  * add items to the list (from Ruby side),
  * remove entries that are closed (from Python side)

If you do it in memcache, then you should consider the load-balancing option. You'd need session affinity probably.

[2016-02-24 11:50] Ladas opened #6909 "Error caught: [NoMethodError] undefined method `symbolize_keys!'"
Just when click on submit configuration

![image](https://cloud.githubusercontent.com/assets/1737058/13284533/28762d90-daf5-11e5-80bb-755f1bcf34f4.png)

![image](https://cloud.githubusercontent.com/assets/1737058/13284508/fd2120fa-daf4-11e5-8d4a-0cc684b8d2a6.png)

[----] I, [2016-02-24T12:45:37.402137 #22712:3f97bbeffac8]  INFO -- : Started POST "/ops/settings_update/server?button=save" for 127.0.

[2016-02-24 11:51] Ladas commented on #6909
@dclarizio ^ can you check it out?

[2016-02-24 12:22] Ladas commented on #6909
@dclarizio damn, it's caused by new rails brought in here https://github.com/ManageIQ/manageiq/pull/6861

[2016-02-24 13:17] abonas opened #6912 "container img registry - 0 pods displayed when more than 0 containers"
![zeropods](https://cloud.githubusercontent.com/assets/6277245/13286329/5f6a9412-db09-11e5-8f20-27ba44bc67d1.png)

it is misleading as containers run as part of pods, and if a user navigates through a container relationship, they will reach a pod.
the reason for that seems that the relationship is taking the pods from services, and not via containers, as added in https://github.com/ManageIQ/manage

[2016-02-24 13:17] abonas commented on #6912
@miq-bot add_label providers/containers

[2016-02-24 13:28] martinpovolny commented on #6889
I wonder if we can remove most of `def maintab` and replace by getting the default go-to URL from the section as defined in `default_menu.rb`.

[2016-02-24 13:57] moolitayer commented on #6912
The idea in #5790 was to add the pods that provides the image registry for openshift registries.
I agree this is somewhat inconsistent with what you would expect from other screens.

My suggestions is: I will change the label from 'pod' to something else.
An idea could be 'provided by' also for this specific connection, I think it is better hidden when the count is 0.

@abonas @simon3z @zeari thos

[2016-02-24 14:03] abonas commented on #6912
I am a bit confused - the title in #5790 was "link image registries with their openshift services", it doesn't mention pods. (and thinking about it, registries potentially run inside a container inside a pod) So not sure why pods were added and what exactly they represent. Understanding that will help getting closer to a solution. You wrote - changing the label from Pods to something else  - but i

[2016-02-24 14:03] abonas commented on #6912
and what about k8s envs?

[2016-02-24 14:25] gmcculloug commented on #6052
Hi Boujemaa0,

I think the first issue is related to ipmiping is not working.  There are more details here: [Discovering IPMI Hosts](http://talk.manageiq.org/t/discovering-ipmi-hosts/1238)

The event error is fixed with PR #6464.

cc @bdunne @syncrou

[2016-02-24 14:41] moolitayer commented on #6912
@abonas  rephrasing to be less confusing way :smile:  :
#5790 connected registries with the services that point to them in openshift. That service's pod was then added because that information is interesting to an administrator (e.g 'why is my openshift registry not responding? oh all the pods it service links too are down')

Now this is confusing because we also show containers in this screen, me

[2016-02-24 14:44] abonas commented on #6912
@moolitayer worth to think also if #5790 was relevant for routes as well - which are similar to services and potentially might serve a registry too.

[2016-02-24 15:13] agrare opened #6915 "Running rake test:vmdb:setup fails with "FATAL: password authentication failed for user "user"""
[code]

[2016-02-24 15:13] agrare commented on #6915
cc @jrafanie

[2016-02-24 16:06] mkanoor commented on #6909
@Ladas
This is not related to rails 5, this code is https://github.com/ManageIQ/manageiq/blob/master/lib/vmdb/configuration_encoder.rb#L19 only works with Regular Hashes and doesn't work with HashWithIndifferentAccess. HashWithIndifferentAccess has never supported the symbolize_keys! that only works with regular hashes.

We have an embedded hash with the key 'api' that is being stored as HashWithI

[2016-02-24 16:09] mkanoor commented on #6909
api => {"token_ttl"=>"10.minutes", "authentication_timeout"=>"30.seconds"}

comes in as ActiveSupport::HashWithIndifferentAccess

[2016-02-24 16:15] Ladas commented on #6909
@mkanoor from my testing this doesn't occur on master, but occurs when I cherry-pick your commit, so I suppose something from there is causing that?

[2016-02-24 17:11] mkanoor commented on #6909
@Ladas Something is converting hashes to HashWithIndifferentAccess, one of the PR's that got merged from yesterday

[2016-02-24 17:23] #6768 closed

[2016-02-24 22:05] mkanoor opened #6925 "Sporadic Test Failure on automate state machine retry"
Using worker: worker-linux-docker-77c6e18e.prod.travis-ci.org:travis-linux-15
system_info
Build system information
Build language: ruby
Build group: stable
Build dist: precise
Build image provisioning date and time
Thu Feb  5 15:09:33 UTC 2015
Operating System Details
Distributor ID:	Ubuntu
Description:	Ubuntu 12.04.5 LTS
Release:	12.04
Codename:	precise
Linux Version
3.13.0-29-generic
Cookbooks V

[2016-02-24 22:33] bdunne commented on #6767
I can't reproduce this issue at `d82f610deb021045048570b9b15aebcb6c1c7e56`.

Steps:
- Queue up a refresh using the UI
- In rails console...
[code]

[2016-02-24 22:55] bdunne commented on #6767
@patchkez Can you please retest with the above SHA or newer?

[2016-02-25 09:41] ZitaNemeckova opened #6932 "Error when clicking on Default Filters tab in My Settings"
Configure -> My Settings -> Default Filters
[code]

[2016-02-25 13:02] zeari commented on #6912
I think maybe since these relationships are special we should put them in a separate table.
They're special in the sense that containers under the image registry summary screen dont really belong to the registry but rather served by it. Same for this service-registry-pod relationship

so maybe a separate table for 'served by' relationships?

[2016-02-25 14:49] vrutkovs opened #6939 "'wrong number of arguments (2 for 0)' on provisioning RHEV instance"
STR:
1. Add rhevm 3.4 instance
2. Infrastructure - Virtual Machines - Lifecycle - Provision a VM
3. Select any template, click Continue

Spinner is displayed, however after several minutes its gone and still the list of templates is displayed.

Appliance version: 2a9277f
Log: https://gist.github.com/vrutkovs/a4a400e8ae8e31b4ead2

[2016-02-25 16:08] chrisarcand opened #6941 "CI Failure on Adding Categories spec"
CI on master started failing with the merge of #6760 : https://travis-ci.org/ManageIQ/manageiq/builds/111503787

CI on the actual PR passed, however: https://travis-ci.org/ManageIQ/manageiq/builds/111490313

To avoid blocking tests across the board due to this issue, the test in question was set to be skipped in #6937

This should be reviewed again. Be warned that the test appears to pass locally.

[2016-02-25 16:10] chrisarcand commented on #6941
@miq-bot add_label bug, test

cc/ @ZitaNemeckova

[2016-02-25 16:15] pilhuhn commented on #6876
actually @lucasponce is working on it :-)

[2016-02-25 16:37] #6925 closed

[2016-02-25 16:59] lehinevych opened #6943 "Retirement of vm is stuck"
VM -> Press Lifecycle -> Retire this VM
Version: master.20160225050534_2a9277f
![retirement](https://cloud.githubusercontent.com/assets/4303438/13327202/940c38c2-dbf1-11e5-9cff-ba7922aae013.png)

Actual results:
The power state of vm is off and retirement status = "retiring"
Expected results:
The power state of vm is off, retirement status = "retired" and vm status should be retired.
Additional in

[2016-02-25 19:22] mkanoor commented on #6943
@lehinevych
Can you check the log/automation.log and see if automate methods are getting dispatched. Currently we have an issue where none of the Automate Methods are running.

[2016-02-26 00:33] #6814 closed

[2016-02-26 09:37] Ladas commented on #6909
The code in rails causing this was reverted, so we are green again :-)

https://github.com/rails/rails/commit/6216a092ccfe6422f113db906a52fe8ffdafdbe6

[2016-02-26 09:37] #6909 closed

[2016-02-26 10:16] lehinevych commented on #6943
@mkanoor  It looks like automate methods are running correctly. I attached the automation log file, please take a look maybe I missed something or didn't understand correctly the issue you was referring for.
[automation.txt](https://github.com/ManageIQ/manageiq/files/147983/automation.txt)

[2016-02-26 11:27] lehinevych opened #6955 "Power state for ec2 instance"
If you terminate the ec2 instance on 5.5 you will get power state = "terminated", however on upstream the power state will be "off". I didn't find any information that in new version power state is going to be "off", that's why I assume that we have an issue.

[2016-02-26 13:13] durandom commented on #6941
jfyi, this reproduces the problem locally:
[code]

[2016-02-26 13:45] #6889 closed

[2016-02-26 14:04] chrisarcand commented on #6941
TIL local is default region 0, whereas CI is region 1. Thanks @durandom!

[2016-02-26 14:13] mkanoor commented on #6858
@romanblanco
Can you please test this again with the latest master.

[2016-02-26 14:19] romanblanco commented on #6858
@mkanoor WFM, thanks

[2016-02-26 14:19] #6858 closed

[2016-02-26 15:31] chessbyte commented on #6955
/cc @blomquisg @durandom

[2016-02-26 16:17] jrafanie commented on #6885
We saw the same, right? cc @yrudman @gtanzillo
For us it was a basic report that was customized.  The "my company" folder for custom reports is now "true" in the UI.

[2016-02-26 16:22] gtanzillo commented on #6885
@jrafanie Yes, this is exactly what we saw.

[2016-02-26 16:28] jrafanie commented on #6867
Hi @mattmahoneyrh, thanks for reporting this issue.

`bundle exec rails s` requires you seed the database.  You should be able to get up to speed by running `bin/setup` after cloning the repo.

For just this issue, running `bin/rake db:seed` should be enough.

Please review [this](https://github.com/ManageIQ/guides/blob/master/developer_setup.md#get-the-rails-environment-up-and-running) and let us

[2016-02-26 17:11] jrafanie commented on #6739
@lpichler can you clarify what's needed in the spec section... the first one I quickly looked at and didn't understand what was wrong

`20150522161336_add_container_entities_type_spec.rb(Container*,..)`

What does that mean?

[2016-02-26 17:12] jrafanie commented on #6739
@Fryguy Are you in agreement that we should require ReservedMixin for all of the migrations that need it?  We might have to have a bot rule for code that needs to be backward compatible for migrations.

[2016-02-26 17:13] lpichler commented on #6739
@jrafanie
[code]

[2016-02-26 17:14] jrafanie commented on #6739
@lpichler ones like this:  `20160120151045_add_url_to_endpoints_spec.rb is empty -> remove (spec is not needed)`, that are obvious what we need to do... please open PR that link to this issue and let's start fixing these problems.  Thanks!

[2016-02-26 17:19] jrafanie commented on #6739
Great, thanks... You're right, they'd need to use some_migration_stub.find.  If it fails in good_migrations, I believe we'll have to fix them to either `require` the thing it needs (if it's ok like possibly `ReservedMixin`) or use the stubs to create/find the rows in the database.

[2016-02-26 17:26] lpichler commented on #6739
@jrafanie OK currently good_migrations gem doesn't work for migration spec because it is different rake task https://github.com/testdouble/good-migrations/blob/master/tasks/good_migrations.rake#L59 currently I don't know how to hack it for also for rake task test:migrations for now.  If you have idea how to do it let me know. `Rake::Task['test:migrations:setup']` returns `nil`

[2016-02-26 17:32] jrafanie commented on #6739
@lpichler, I think you can change our rake test:migrations to have their rake task as a prerequisite.

as an example, we have our initialize rake task as a pre-req for many of the mgiration specs in this file:
https://github.com/ManageIQ/manageiq/blob/master/lib/tasks/test_migrations.rake#L7

I think you can add `good_migrations:disable_autoload` after where we list initialize as a pre-req

[2016-02-26 18:25] jerryk55 commented on #6915
To get around this issue, using a combination of @agrare's and @roliveri's suggestions, I do the following:
unset APPLIANCE
bundle install
bundle exec rake eve:db:reset RAILS_ENV=test

then to run my tests

bundle exec rake test:vmdb SPEC="spec/foo.rb"

etc.

I have no explanations.  This is on my appliance running on my Mac.

[2016-02-26 19:35] dajohnso opened #6966 "add GCE provider form has a dead link for google auth 2.0"
Looking at upstream nightly 0624 image, I added a GCE provider and noticed that its add provider form has a "google auth 2.0" link under the provider credentials section which points to https://<appliance>/auth/google_oauth2 and then redirects to the following error message on google.  Its a little unclear, I assume I need oauth configured first, with that said, it shouldn;t be a link if its not c

[2016-02-26 19:39] dajohnso opened #6967 "edit GCE provider fails to re-render project name and shows required"
I added a GCE provider and then went back to edit it.  Its failing to re-render the project name on the edit.  Looking at the database, its there so this is a UI issue

`vmdb_production=# select * from ext_management_systems;
 id | name |         created_on         |         updated_on         |                 guid                 | zone_id |                   type                    | api_versio

[2016-02-26 19:41] dajohnso commented on #6967
Same screenshot on #6966

[2016-02-26 19:44] dajohnso opened #6968 "GCE icon inconsistency"
The provider icon seems wrong, the icons used for templates is what google is using.

![gce_quadicon](https://cloud.githubusercontent.com/assets/477564/13363453/7edc7682-dc97-11e5-912b-75e354734f14.png)
![gce_template_quads](https://cloud.githubusercontent.com/assets/477564/13363456/809dd920-dc97-11e5-8d2a-c6185341aa20.png)

[2016-02-26 19:48] dajohnso opened #6969 "remove GCE smartstate analysis option"
I managed GCE, it discovered a bunch of public templates, click through to template details, it shows smartstate analysis as an option.  This needs to be removed until its actually supported.
![gce_ssa](https://cloud.githubusercontent.com/assets/477564/13363552/f672e406-dc97-11e5-9233-b27f1ed503ee.png)

[2016-02-26 20:32] #6708 closed

[2016-02-26 22:10] dajohnso opened #6973 "catch shelve GCE instance stack trace, log 'not supported action' log message instead"
GCE instance quadicon list showing 'shelve' power options.  We should catch this and log not supported action versus a stack trace to dirty up the logs.
`
[----] I, [2016-02-26T17:00:56.562440 #2975:347998]  INFO -- : MIQ(ManageIQ::Providers::Google::CloudManager::Vm#run_command_via_parent) Invoking [vm_shelve] through EMS: [GCE]
[----] E, [2016-02-26T17:00:56.563853 #2975:347998] ERROR -- : MIQ(M

[2016-02-26 22:21] dajohnso opened #6974 "GCE provider region not honored"
Created a US-Central GCE provider and was managing a instance in that region.  I then started a new instance in US-East region expecting NOT to see it but it does get discovered and added to the vmdb.   You can also see this on Cloud instance accordion, it lists all the regions instead of those just tied to region defined on the provider.

![gce_oauth](https://cloud.githubusercontent.com/assets/47

[2016-02-26 22:44] dajohnso opened #6976 "GCE instance power on not working (stop/terminate do)"
Running power control actions against GCE instance, like the summary says, stop and terminate work correctly (terminate shows the disappear on the provider as well as moving the vm to archive in vmdb).  With that said though, power on doesn't seem to work properly.  Nothing in the logs reveals a issue.

I see this in the logs, not sure if its related but it looks suspect

[----] I, [2016-02-26T17:

[2016-02-26 23:49] dajohnso opened #6978 "GCE refresh error"
I changed the service account key on GCE to force a provider connection error and got the following stack trace, which should be caught and turned into a log message.  On top of that, I was expecting to see the provider quadicon to show the RED X which indicates a provider connection error but never got it which could be because we are not catching this error.  See the screenshot, provider details

[2016-02-26 23:52] dajohnso commented on #6968
The blue icon I guess is google compute engine and the more colorful icon is Google Cloud Platform.  I personally thing the more colorful icon is sexier and we should use it everwhere IMHO

[2016-02-27 18:39] isimluk opened #6979 "[TypeError] can't dump hash with default proc"
### Reproducer
 * Cloud Intelligence -> Chargebacks -> Rates -> Compute -> Configuration -> Add new Chargeback Rate
 * Description=BLAH, CPU=123
 * Hit Add button and watch the log

### Relevant snippet from the log
[code]

### What happens?
* The `set_global_session_data` tries to clean the house after the Chargeback details are saved.
* The Chargeback details are still in `@sb` and the routine w

[2016-02-27 18:40] isimluk commented on #6979
/cc @martinpovolny

[2016-02-28 08:37] moolitayer commented on #6803
ps according to the proposed fix this is applicable for openshift providers

[2016-02-28 10:21] abonas opened #6981 "Missing openshift and k8s icons from topology and dashboard"
On latest master (potentially related to #6957), k8s and openshift icons are missing:

![missinglogos](https://cloud.githubusercontent.com/assets/6277245/13378650/a7eb7224-de15-11e5-98b0-2fd3683b4d0d.png)
![missinglogodashboard](https://cloud.githubusercontent.com/assets/6277245/13378652/ab64e64c-de15-11e5-8632-e97f7099f9e0.png)

cc @zeari @Fryguy @himdel @skateman @epwinchell  - is this because o

[2016-02-28 10:38] skateman commented on #6981
AFAIK these icons were removed from `patternfly`, but @serenamarie125 can tell you maybe more. Anyway @epwinchell can probably add the icons to our repo.

[2016-02-28 10:38] abonas commented on #6981
yep : https://github.com/patternfly/patternfly/commit/37a1558d0ba97e0fbd29d9635406f76cb43db502

[2016-02-28 13:46] zakiva opened #6983 "Container volume page crash"
Navigating to a volume page raises an exception:

![time](https://cloud.githubusercontent.com/assets/11769555/13379589/4476f160-de32-11e5-8394-98a2ade01706.png)

cc @simon3z

[2016-02-28 13:47] zakiva commented on #6983
@miq-bot add_label providers/containers, bug, ui

[2016-02-28 20:39] mjknoxie commented on #6867
Hi, no this doesn't fix the issue for me. In fact, rake db:seed creates additional errors.

mjknoxie@xenon ~/workspace/manageiq (master) $ bin/rake db:seed
DEPRECATION WARNING: alias_method_chain is deprecated. Please, use Module#prepend instead. From module, you can access the original method using super. (called from singleton class at /Users/mjknoxie/workspace/manageiq/lib/extensions/ar_process

[2016-02-29 11:12] martinpovolny commented on #6979
Let me take a detailed look (sooner or later, I am on PTO now). But generally we put a load of stuff into the session and we should not do that.

[2016-02-29 13:22] yaacov opened #6990 "Container providers dashboard graphs are not refreshed on page resize."
Container providers dashboard graphs are not refreshed on page resize.

Reproducing:
1. open Containers -> Overview.
2. resize page.

![image10](https://cloud.githubusercontent.com/assets/2181522/13395486/b4867f0a-def7-11e5-8212-006830ab3c9d.png)

[2016-02-29 13:23] yaacov commented on #6990
@miq-bot add_label providers/containers, ui

[2016-02-29 13:38] chrisarcand opened #6991 "Pare GUID columns?"
#6962 removed the `guid` column from `miq_groups`, as it was never actually used when created. As noted by @Fryguy [here](https://github.com/ManageIQ/manageiq/pull/6962#issuecomment-189378372), there might be more of these columns unused in various tables that we should remove.

[code]

@gmcculloug can you comment on [this](https://github.com/ManageIQ/manageiq/pull/6962#issuecomment-189375711) for

[2016-02-29 13:38] chrisarcand commented on #6991
@miq-bot add_labels core, technical debt

[2016-02-29 13:40] chrisarcand commented on #6991
cc/ @Fryguy @gtanzillo @chessbyte

[2016-02-29 14:20] patchkez commented on #6767
@bdunne - I tried Tower refresh on new appliance with master from 25th of Feb (last commit 5e7f49c19496940713af7dfdccb07b69b9b39b64). I still cannot see last_refresh_(state|error) populated in DB:

Rails console output:
[code]

If this will help you, I can give you access to my appliance. Let me know.

[2016-02-29 14:39] patchkez commented on #6770
@lgalis - Retested on master from 25th of February. It seem this issue has been fixed and can be closed.

[2016-02-29 14:55] patchkez commented on #6769
@lgalis - I am not able to reproduce this on CFME cloned from master on 25th of Feb. I can see provider type in UI when editing Tower provider. This issue can be closed.