[2015-03-08 20:20] sshveta opened #2053 "Error while deleting a cloud stack :wrong number of arguments (2 for 3) [orchestration_stack/button]"
Steps : Cloud - Stack -- Create a cloudform stack in aws .
The created stack will show in CFME. Delete the stack
===================Production log===========================
[----] F, [2015-03-08T16:18:43.724254 #2362:dfde8c] FATAL -- : Error caught: [ArgumentError] wrong number of arguments (2 for 3)
/var/www/miq/vmdb/app/controllers/application_controller/ci_processing.rb:1533:in `process_orches

[2015-03-09 09:58] abonas opened #2054 "kubernetes provider - add persistence of replication controller entity"
Need to implement persistence of replication controller entity which is currently missing.

[2015-03-09 10:02] abonas commented on #2054
@miq-bot add_label providers/containers

[2015-03-09 12:09] #1767 closed

[2015-03-09 12:49] abonas opened #2056 "kubernetes provider - add persistence of annotations attributes"
@miq-bot add_label providers/containers

[2015-03-09 13:36] bronaghs commented on #1936
@jrafanie
We don't. We embed the IP in the auth_url and pass that to the connect method.
My thought was the same as yours except leverage the options hash if need be, like this:

    hostname = options[:hostname] || self.hostname
    auth_url = self.class.auth_url(hostname, port)

   def self.auth_url(hostname, port = nil)
       port ||= 5985
       "http://#{hostname}:#{port}/wsman"
   end

More

[2015-03-09 14:18] #1974 closed

[2015-03-09 18:42] martinpovolny opened #2065 "Rename all javascript assets cfme_ ---> manageiq_"
Assets (and other stuff) upstream should not reference downstream stuff or use downstream names.

Rename all javascript assets cfme_ ---> manageiq_

[code]

[2015-03-09 18:43] jrafanie commented on #1936
@himdel @blomquisg @bronaghs I opened #2063 to use hostname for microsoft and #2064 for openstack event monitoring.

#2011 is still not complete, any thoughts on this would be helpful.

@himdel We can reopen if you have others but I'll close for now.

[2015-03-09 18:43] #1936 closed

[2015-03-09 22:28] #2027 closed

[2015-03-10 10:19] abonas commented on #2054
@miq-bot assign zeari

[2015-03-10 10:20] abonas opened #2074 "kubernetes provider - add persistence of namespace entity"
@miq-bot add_label providers/containers

[2015-03-10 10:23] abonas commented on #2054
@miq-bot assign @zeari

[2015-03-10 12:20] himdel commented on #2065
Renamed to miq_, since there are no manageiq_ files but serveral with miq_.

[2015-03-10 12:40] himdel opened #2078 "Remaining CFME references"
While fixing #2065, I noticed a "few" more CFME references throughout the codebase...

File names:
- files in /system, like cfme-setup.sh and cfme-http.conf
- the whole lib/cfme_client - #2198
- pdf docs in `vmdb/public/doc/cfme_*.pdf` (+ contents) - #2246
- vmdb/app/assets/javascripts/dynatree_1.2.4/skin-cfme/

Variables and functions:
- `@cfme` in spec tests
- cfmeOnClick_\* and the like - in ja

[2015-03-10 13:13] abellotti commented on #2078
lib/cfme_client can simply be renamed to lib/api_client with gem named "manageiq-api-client", this would be consistent with google and github api clients.

[2015-03-10 14:01] #1977 closed

[2015-03-10 14:05] #1647 closed

[2015-03-10 14:29] bzwei opened #2082 "Re-saving a template breaks the content uniqueness"
For original orchestration templates that have `\n` as line ends, when they are copied and saved through our UI editor, the new contents now have line ends `\r\n`. The MD5 value thus changes and breaks the content uniqueness.

This was discovered while trying out #2035

[2015-03-10 15:03] #2065 closed

[2015-03-10 17:09] himdel commented on #1916
Caused by `var miq_timeline_filter = #{@timeline_filter}` when `@timeline_filter` can stringify to empty string. Fixed in #2087.

[2015-03-10 23:19] dclarizio opened #2089 "UI: Read only Orchestration Templates should not be deletable"
Need to disable the delete button with hover text that read only templates can not be deleted.

[2015-03-10 23:21] dclarizio commented on #2038
@h-kataria Be sure to address #2089 when deleting from the list views . . . need to return message with counts of successful deletes and how many were read-only and not deleted.

[2015-03-11 00:18] bzwei opened #2090 "orchestration service provisioning default entry point"
We need to set the default entry point to /ManageIQ/Cloud/Orchestration/Provisioning/StateMachines/Provision/default, then user can select another entry point if needed.

[2015-03-11 08:48] mfalesni opened #2092 "REST API - sqlfilter/filter[] change without apparent version bump"
One of the latest branded nightlies:

[code]

[code]

[code]

[code]
*The error is fine, we see the sqlfilter is being used*

One of the latest upstream builds:

[code]

[code]

[code]

[code]
Seems there was no version bump in this case. I maintain a python REST API client for CFME for cfme_tests and this is quite an issue - I cannot decide whether to use `sqlfilter` or `filter[]`.

@abellotti ?

[2015-03-11 10:32] #1916 closed

[2015-03-11 12:52] abellotti commented on #2092
sorry about that. it should be filter[], the security fix for that bumped up cfme 5.3* to version 1.1 of API, it was only a matter of time before it got merged to 2.0.0 on upstream.  once we're done with the release development features we'll change the labeling from 2.0.0-pre to 2.0.0.

[2015-03-11 12:54] mfalesni commented on #2092
So the filter[] is in 1.1 series for sure and then it will be from 2.0.0 onwards, right?

[2015-03-11 13:32] abellotti commented on #2092
Correct, 1.1 and higher.

Alberto Bellotti
abellott@redhat.com

[2015-03-11 17:28] h-kataria opened #2098 "UI: Add some basic spec tests for all controllers"
Need to add some basic spec tests for methods such as show_list, show, index, explorer etc for all controllers similar to https://github.com/ManageIQ/manageiq/blob/master/vmdb/spec/controllers/container_group_controller_spec.rb
https://github.com/ManageIQ/manageiq/blob/master/vmdb/spec/controllers/container_node_controller_spec.rb

We can look into existing tests above and maybe move them into sha

[2015-03-11 18:38] Fryguy opened #2099 "verify_credentials method name is misleading"
verify_credentials should be renamed to verify_connection as it doesn't just verify the credentials, it also checks for reachability of hosts and whether the connection itself is valid.

This is a problem specifically on kubernetes right now, because the method is hardcoded to return true (as there are no credentials), but it should really verify the connection as well.  Because of the confusing n

[2015-03-11 18:40] blomquisg commented on #2099
:+1:

[2015-03-11 19:57] tenderlove commented on #1423
@gmcculloug bump. Any news on this?

[2015-03-11 20:02] Fryguy commented on #2078
We need to discuss the messages individually.  Some of them we can probably remove the word "CFME entirely.  Some of them may need the project name, so should be ManageIQ upstream, with the ability to overlay downstream with a different name.  This *was* built into the productization with the dictionary, but I don't know if the gettext stuff can do it.

[2015-03-11 20:03] Fryguy commented on #2053
cc @bzwei

[2015-03-11 20:03] Fryguy commented on #2048
cc @gmcculloug

[2015-03-11 20:04] Fryguy commented on #2029
This seems like a good idea to me.

[2015-03-11 20:24] #2037 closed

[2015-03-11 20:28] dclarizio commented on #2002
@akarol Can you confirm that this is fixed?  If so, close this issue please.  Thx, Dan

[2015-03-11 20:30] jrafanie commented on #1914
Closing as a symptom of rubygems not being around when we tried to install gems.

[2015-03-11 20:30] #1914 closed

[2015-03-11 20:35] dclarizio commented on #1994
@akarol I can not recreate either . .. please verify or provide more detailed info.  The Save/Reset buttons should not be enabled until you change something on the form.  Even after that, though, both buttons work for me.

[2015-03-11 20:38] dclarizio commented on #1972
@nachandr Can you please verify this is still an issue, I can click this button on Hosts and it brings up the proper screen.

[2015-03-11 20:39] dclarizio commented on #1956
@rananda Please retest, I see this present as well.  Close if not still an issue.

[2015-03-11 20:44] dclarizio commented on #1995
@akarol I just tried this in upstream/master and it worked.  Please retest and let me know.  Thx, Dan

[2015-03-11 20:48] gmcculloug commented on #2048
This issue was resolved with PR #2024

[2015-03-11 20:48] #2048 closed

[2015-03-11 21:11] dclarizio commented on #1930
@GregP Is this a duplicate of a BZ?  If so, please note it here and close this issue.  Thx, Dan

[2015-03-11 21:15] jrafanie commented on #2099
:+1: I await your PR renaming it and fixing all callers.  :trollface:

It's painful, but the pain is temporary and is less than if we wait.

[2015-03-11 21:16] chessbyte commented on #2098
@h-kataria Nice split of the ExplorerControllers vs NonExplorerControllers.  Would there be any value to creating `ExplorerController` and `NonExplorerController`as base classes for the controllers to inherit from and push common logic into those base controllers?  cc-ing @dclarizio @tenderlove

[2015-03-11 21:16] jrafanie commented on #1423
`git rm` is my vote but I don't know the details

[2015-03-11 21:19] chessbyte commented on #1423
`git rm` is my vote too. I think it was added for a demo many years ago and has been unused since.

[2015-03-11 21:19] GregP commented on #1930
@dclarizio Dan, looks somewhat different, but probably related to BZ 1176631.

[2015-03-11 21:56] jrafanie opened #2104 "Test failure: private method `warn' called for # # ./app/models/miq_db_config.rb:264"
1) MiqDbConfig .log_activity_statistics Failure/Error: MiqDbConfig.log_activity_statistics(buffer) NoMethodError: private method `warn' called for # # ./app/models/miq_db_config.rb:264:in `rescue in log_activity_statistics' # ./app/models/miq_db_config.rb:249:in `log_activity_statistics' # ./spec/models/miq_db_config_spec.rb:26:in `block (2 levels) in '

At this git sha:
0837856
Randomized with se

[2015-03-11 21:57] dclarizio commented on #2098
@chessbyte Might be worth it as we start breaking out methods, but the goal would be they all become more like explorer-like (ajax-y) eventually.  That would just mean the non-explorer common logic would eventually go away.

[2015-03-11 21:59] jrafanie opened #2105 "Test failure: expected: 200 got: 404 (compared using ==) # ./spec/controllers/ops_controller_spec.rb:41"
1) OpsController can view the db_connections tab Failure/Error: expect(response.status).to eq(200)  expected: 200 got: 404  (compared using ==) # ./spec/controllers/ops_controller_spec.rb:41:in `block (2 levels) in '

At this git sha:
dc64db01c3e2e72bb0f057cd57d14fdd42800a28
Randomized with seed 11039

Subsequent test build passed.

[2015-03-11 22:01] jrafanie opened #2106 "Test failure: TypeError: can't convert nil into an exact number spec/models/vmdb_database_connection_spec.rb:73"
1) VmdbDatabaseConnection computes wait_time Failure/Error: expect(setting.wait_time).to be_kind_of(Fixnum) TypeError: can't convert nil into an exact number # /opt/rh/ruby200/root/usr/local/share/gems/bundler/gems/rails-8f014fba21f9/activesupport/lib/active_support/core_ext/time/calculations.rb:339:in `-' # /opt/rh/ruby200/root/usr/local/share/gems/bundler/gems/rails-8f014fba21f9/activesupport/li

[2015-03-11 22:02] jrafanie commented on #2105
Also failed at: 73958ec368dc0ce87559a22a5b113e9ba483ea5b, subsequent build passed

[2015-03-11 22:03] jrafanie commented on #2104
Also failed at 94402261a7915f091d762405c875faba11140f42 and was good the next build.

[2015-03-11 22:03] jrafanie commented on #2105
Again, at c0abc15aadb3b4a55b65029233a2ff5bf7a37392

[2015-03-11 22:07] tenderlove commented on #1423
I'll send a PR that rm's it.  @gmcculloug can :+1: or :-1: there. :smile:

[2015-03-11 22:10] jrafanie opened #2108 "Test failure: VmdbDatabaseConnection returns nil for wait_resource where there are no locks"
1) VmdbDatabaseConnection returns nil for wait_resource where there are no locks
     Failure/Error: expect(no_locks).to be
       expected nil to evaluate to true
     # ./spec/models/vmdb_database_connection_spec.rb:28:in `block (2 levels) in <top (required)>'

failed at: https://github.com/ManageIQ/manageiq/commit/0fbd6e05949c40e1e1c1bc506f1b43c2a20b55cc
Randomized with seed 9002

[2015-03-11 22:21] dclarizio opened #2109 "UI: VM Analysis Profile Add/Edit screen file/registry/event log items get too wide"
In Configure/Configuration/Settings, try to add a new VM Analysis Profile.  In any of the tabs, File/Registry/Event Log, click in a row to add a new entry.  The first column gets very wide and the other columns are way to the right.  You can tab to them and enter the values, but they should stay on the screen as when the screen is first displayed.

Initial display:
![analysis profile add](https://

[2015-03-11 22:53] Fryguy commented on #2099
Of course,  just didn't want to forget.   Wanted to know if you thought the name was good and also if this would affect you.

[2015-03-12 09:16] Ladas commented on #2029
@Fryguy @bzwei @mzazrivec I don't how it works in AWS, so I'll put here just OpenStack side.

1) Duplication per refresh for Stacks's template
You should avoid this by having 1to1 relationship template with stack. Then rewrite the stack-template (optionally check for md5 sum) each refresh. Cause that is what heat does, it rewrites templates when you change stack and template is owned by stack (so

[2015-03-12 11:55] rananda commented on #1956
@dclarizio Working fine in the latest build, hence closing this issue.

[2015-03-12 11:55] #1956 closed

[2015-03-12 12:14] romanblanco opened #2113 "Issue in user roles"
I've tried to login as user in role without `Cloud inteligence` and `Service` features:
![screenshot-localhost 3000 2015-03-12 12-50-50](https://cloud.githubusercontent.com/assets/1187051/6617266/4889072a-c8b7-11e4-8aab-294c76ae383b.png),
and received exception
*```undefined method `split' for nil:NilClass [vm_cloud/explorer]```*.

Log from console:

    [----] I, [2015-03-12T12:47:33.446363 #1531

[2015-03-12 12:33] abonas opened #2114 "Kubernetes provider - add persistence of node capacity"
@miq-bot add_label providers/containers

[2015-03-12 13:05] jrafanie opened #2115 "Test failure: VmdbDatabaseConnection computes wait_time Failure/Error: expect(setting.wait_time).to be_kind_of(Fixnum) TypeError: can't convert nil into an exact number"
1) VmdbDatabaseConnection computes wait_time Failure/Error: expect(setting.wait_time).to be_kind_of(Fixnum) TypeError: can't convert nil into an exact number # /opt/rh/ruby200/root/usr/local/share/gems/bundler/gems/rails-8f014fba21f9/activesupport/lib/active_support/core_ext/time/calculations.rb:339:in `-' # /opt/rh/ruby200/root/usr/local/share/gems/bundler/gems/rails-8f014fba21f9/activesupport/li

[2015-03-12 13:08] epwinchell commented on #2109
@miq-bot assign @skateman

[2015-03-12 13:10] jrafanie commented on #2105
Again at https://github.com/ManageIQ/manageiq/commit/3c8310ca2248ce6d7a0a0548d4223362196a0fc0
Randomized with seed 19458

[2015-03-12 13:13] jrafanie opened #2116 "Test failure: EmsRefresh::Refreshers::ScvmmRefresher will perform a full refresh Failure/Error: @ems.descendants_arranged.should match_relationship_tree"
1) EmsRefresh::Refreshers::ScvmmRefresher will perform a full refresh
     Failure/Error: @ems.descendants_arranged.should match_relationship_tree(
       expected actual tree
         - EmsFolder: Datacenters
           - EmsFolder: SCVMM
             - EmsFolder: host
               - EmsCluster: US_East
               - HostMicrosoft: hyperv-h01.manageiq.com
             - EmsFolder: vm

[2015-03-12 13:15] jrafanie commented on #2116
@miq-bot add_label test
@miq-bot add_label "bug/sporadic test failure"

[2015-03-12 13:19] jrafanie commented on #2116
@miq-bot add_label "bug sporadic test failure"
@miq-bot add_label "bug&#47;sporadic test failure"

[2015-03-12 13:19] jrafanie commented on #2116
@miq-bot add_label "bug\/sporadic test failure"

[2015-03-12 13:23] epwinchell opened #2117 "Convert Pop Ups to Boostrap Modals"
Convert "Quick Search" Pop Up as well those used on the following screens to Bootstrap Modals: Catalog Items editor, Service Dialog Editor, Automate Editor(copy feature)

(The Advanced Search Pop Up was previously converted in Issue: #1687

[2015-03-12 13:24] epwinchell commented on #2117
@miq-bot assign @ewinchell

[2015-03-12 13:34] epwinchell commented on #2117
@miq-bot assign @epwinchell

[2015-03-12 13:35] jrafanie commented on #2104
Again at 277631822b9679a5abba1b8eda26548f543318b9
Randomized with seed 27841

[2015-03-12 13:46] skateman commented on #1025
@dclarizio i think we can close this issue :)

[2015-03-12 13:46] skateman commented on #1001
@dclarizio this issue can be closed

[2015-03-12 13:50] skateman commented on #694
The table-striped class in pattenfly solves this!

[2015-03-12 13:50] #694 closed

[2015-03-12 15:18] gisnalbert opened #2122 "UI - Service Request UI is not displaying existing requests"
I have just upgraded the MiQ this morning to master/002804b30ff86a9e83ed6419b37c2da8e8b42ea4.
After the upgrade the service requests are not being displayed on the UI anymore -- only a page with no requests. I am still able to query the requests using the Rest API though.
As a note, neither the service requests that were created before the upgrade or the ones created after the upgrade is being dis

[2015-03-12 15:30] gisnalbert opened #2123 "[api] Add support for creation of Catalog Item/Bundle (service_templates)"
- Ability to create new service templates using the Rest API

On the API design documentation the only actions available on service templates is to edit or delete. Is a create action expected as well?

[2015-03-12 15:47] abellotti commented on #2123
sorry, not currently for /api/service_templates/.  Just the actions you mentioned as well as assign, unassign, and order when a subcollection of service catalog.

[2015-03-12 16:03] #1001 closed

[2015-03-12 16:03] #1025 closed

[2015-03-12 16:28] gisnalbert commented on #2123
In the current pipeline that we are intending to use MiQ, we were depending on the ability to create catalog items/bundles in an automated way.

In summary our intended pipeline would look like this (using Jenkins):
 * use packer to create image templates and export to each cloud providers
 * use MiQ Rest API to create catalog items for each image template
 * use MiQ Rest API to order the catalog

[2015-03-12 17:05] abellotti commented on #2123
Longer term most UI capabilities would be provided via the Rest API. I'm just not sure of the different priorities. @xav-rh any thoughts on this particular use-case ?

[2015-03-12 17:27] dclarizio commented on #2108
1) If a pull request, a link to the PR.  If a master merge commit, a link to the commit
#2125
2) The test failure information:  including file and line number of failure (what you see as a failure in travis/cruisecontrol
[code]
3) What random seed was used, found near the bottom of the output
Randomized with seed 40323

[2015-03-12 17:54] jrafanie commented on #2108
Thanks @dclarizio

[2015-03-12 18:12] jrafanie opened #2127 "Host/Provider/Ems add/edit forms should make it clear hostname is used for connections"
- [ ] Remove ipaddress from the host/ems/provider new/edit forms
- [ ] Relabel hostname field to clarify "Host Name (or IPv4 or IPv6 address)"
- [ ] Research if IP address is used in any hover text, change to use hostname if any are found
- [ ] Try to expand the text box for hostname so IPv6 addresses (up to 45 characters wide) are visible without scrolling.  See screenshot.

Note: the hostname an

[2015-03-12 18:16] kbrock commented on #2108
[travis](https://travis-ci.org/ManageIQ/manageiq/jobs/54122421) seed 52316
[code]

[2015-03-12 18:19] jrafanie commented on #2108
thanks @kbrock

[2015-03-12 19:01] epwinchell commented on #2109
@dclarizio Tested. Looks good.

[2015-03-12 19:42] skateman commented on #1552
@jayyvis any success?

[2015-03-12 19:57] jrafanie commented on #2127
Closes #2011

[2015-03-12 20:06] #2108 closed

[2015-03-12 20:16] #2109 closed

[2015-03-12 20:25] jrafanie commented on #2105
This spcific test: spec/controllers/ops_controller_spec.rb, was failing consistently in isolation as of 3c8310c, it's not as of master, perhaps this is fixed.

[2015-03-12 20:30] jrafanie commented on #2127
Note, @Fryguy mentioned this in #2011

"There is a helper method in the models called hostname_ipaddress_required?...It's an instance method but could probably be bumped to class level. Also wondering if it should be broken up into two separate methods...hostname_required? and ipaddress_required?. Then you can leverage these all over the UI for building the forms. You can also do supports_hostname

[2015-03-12 22:14] jrafanie opened #2137 "hostname_ipaddress_required? false for HostMicrosoft, HostOpenstackInfra, HostRedhat"
I saw this while renaming `hostname_ipaddress_required?` to `hostname_required?` in #2136

All non vmware Hosts don't require a hostname/ipaddress?  This seems like a bug.

[code]
https://github.com/ManageIQ/manageiq/blob/e4bd478f86d8cac7f675fc3c3ac2df39e6477e2e/vmdb/app/models/host.rb#L187-189

I would like to move this knowledge to the class level but it's looking at an instance's `vmm_vendor` c

[2015-03-12 22:19] #1952 closed

[2015-03-12 22:23] jrafanie commented on #2104
Again at aa9b0934dec6cdaab848369736cecc30d438436f
Randomized with seed 36086

[2015-03-13 14:21] Fryguy commented on #2137
cc @gmcculloug

[2015-03-13 14:45] #1291 closed

[2015-03-13 14:46] #2117 closed

[2015-03-13 14:54] #1920 closed

[2015-03-13 14:54] #1921 closed

[2015-03-13 15:15] jrafanie commented on #2104
again at 5087fb1265cd2c967fd1560161ee0ef017f82f38
Randomized with seed 23764

[2015-03-13 15:22] bzwei commented on #2029
@Ladas The draft flag is a boolean column in orchestration templates. With the draft flag on, we no longer enforce the user to make changes to content in order to save a new copy.

We are maintaining a template repository in manageiq vmdb, similiar to OpenStack artifact repository. At refreshing time we collect stacks and link them to the templates in vmdb. As a bonus we automatically insert the s

[2015-03-13 17:52] mkanoor opened #2150 "Automate: Methods fails with DRb "is recycled object" exception"
The automate method vmware_best_fit_with_scope fails when trying to do Placement of a newly provisioned VM. The object that the method seems to be accessing has been garbage collected on the server side. This seems to be happening when a Hash that is being passed from the server to the automate method has a default proc defined.

DRb Exception is : can't dump hash with default proc

The automate m

[2015-03-13 18:35] #2104 closed

[2015-03-13 18:49] bronaghs opened #2152 "SCVMM Provisioning / Hardware UI changes"
The VM Provisioning / Hardware screen needs to be customized for Microsoft SCVMM. The required changes are as follows:

In SCVMM there is the concept of static versus dynamic memory. A set of two radio buttons is required, one for each. If the user selects the "static" radio button a drop down menu will appear labeled "Startup RAM". Alternatively, if the "dynamic" radio button is selected three dr

[2015-03-13 18:50] bronaghs commented on #2152
@cfme-bot assign @dclarizio

[2015-03-13 18:51] bronaghs commented on #2152
@cfme-bot add_label enhancement

[2015-03-13 18:52] bronaghs commented on #2152
@cfme-bot add_label ui

[2015-03-13 18:59] jrafanie commented on #2105
@miq-bot add_label bug/sporadic test failure

[2015-03-13 19:01] jrafanie commented on #2105
@miq-bot add_label "bug/sporadic test failure"

[2015-03-13 19:01] jrafanie commented on #2105
@miq-bot add_label "bug sporadic test failure"

[2015-03-13 19:19] jrafanie commented on #2105
@miq-bot add_label bug/sporadic test failure

How do you like them :green_apple:  @miq-bot ?

[2015-03-13 20:27] blomquisg opened #2155 "[IPv6] OpenStack Handle should not build URL"
https://github.com/ManageIQ/manageiq/blob/991c36584f5c255235a8c2d02d29410dd03faed2/lib/openstack/openstack_handle/handle.rb#L65

This code should use the URI module to build the `auth_url` and not try to build the URL directly.

[2015-03-15 08:58] abonas commented on #1955
@miq-bot assign @oschreib

[2015-03-15 09:00] abonas opened #2162 "Kubernetes provider - add persistence of linkage between service and pods"
@miq-bot add_label providers/containers

[2015-03-16 08:52] mfalesni opened #2163 "VNC console's SecurityError is not caught, therefore not showing user something is wrong."
I think this would deserve some exception handling to let the user know something is wrong.

[code]

[2015-03-16 09:26] Ladas opened #2164 "Alert profile assignments not shown in UI"
Alert profile assignments are not shown in the UI, instead it is showing JS code that should probably print it

![image](https://cloud.githubusercontent.com/assets/1737058/6663424/d2bf7c46-cbc6-11e4-85a2-d3d4ef434232.png)

[2015-03-16 11:52] #2164 closed

[2015-03-16 12:28] Ladas commented on #2122
@gisnalbert has this been fixed? I saw that, but I updated to master now, and I see it

[2015-03-16 12:31] Ladas opened #2166 "500 on request properties page"
![image](https://cloud.githubusercontent.com/assets/1737058/6666046/b4dadcce-cbe0-11e4-925c-ce3ab8ce817b.png)

I click to properties tab and I get 500

![image](https://cloud.githubusercontent.com/assets/1737058/6666032/8aab1658-cbe0-11e4-90d9-d0f7558ac290.png)

[2015-03-16 13:02] Ladas commented on #2166
log:
http://paste.openstack.org/show/192627/

[2015-03-16 13:50] bronaghs commented on #2152
@miq-bot add_label provisioning

[2015-03-16 15:53] jrafanie commented on #2166
Thanks @Ladas

@dclarizio @martinpovolny bump, can you assign this one?   Also, if this is not the way to report this, please let @Ladas know.  Thanks!

[2015-03-16 15:56] jrafanie commented on #2105
Ah, still failing on internal cruisecontrol:
At 01063b4672292ddd4b5d966e6252ec2f93cf977d
Randomized with seed 50583

@tenderlove this is eerily familiar to your changes for the vmdb database connections.  Do you have any idea why this would sporadically fail?

[2015-03-16 16:02] jrafanie commented on #2105
cc @matthewd

[2015-03-16 16:11] martinpovolny commented on #2166
Roman is working on it.

[2015-03-16 16:12] martinpovolny commented on #2122
@gisnalbert : please, retest or provide more details. Seems to be working for us.

[2015-03-16 16:51] martinpovolny commented on #2166
@jrafanie : @Ladas is finding bugs faster than we can fix them. We should get him on our side so that he would find other people's bugz and fix ours!

[2015-03-16 17:23] Ladas commented on #2166
@martinpovolny hehe

[2015-03-16 17:47] mwedge opened #2175 "Amazon credentials fail behind proxy"
Running nightly build 20150216 and unable to add Amazon provider when running appliance behind a proxy, fails to validate the credentials.

[2015-03-16 18:05] jrafanie commented on #2137
@gmcculloug and I agreed that the base host class should default to `hostname_ipaddress_required?` => true and therefore `hostname_required?` => true on the rename.  Any subclasses needing to set false can choose to do.

[2015-03-16 18:13] Fryguy commented on #2175
cc @blomquisg

[2015-03-16 18:19] romanblanco commented on #1994
@dclarizio maybe same issue as https://bugzilla.redhat.com/show_bug.cgi?id=1202216

[2015-03-16 21:24] h-kataria commented on #1506
@jrafanie @brandondunne this issue is caused some of the code that was removed by commit:
844a3c2bf4461177d474ffbe4acad9a998ef952f Brandon Dunne at 10/27/14 2:17 PM
Remove duplicate Log Depot validation code
Adding following 2 lines back to code fixes the issue, i will create a PR shortly.
id = params[:id] ? params[:id] : "new"
return unless load_edit("logdepot_edit__#{id}","replace_cell__explorer

[2015-03-17 10:32] gisnalbert commented on #2122
Hi @Ladas and @martinpovolny ,

Sorry but I was not able to update MiQ and test yesterday.
I just updated to master now (df3509b9) and it is working just fine.

Thanks.

[2015-03-17 10:32] #2122 closed

[2015-03-17 11:38] Ladas opened #2192 "C & U charts styling issues"
1) the x-axis has time formated badly, you can see it overwrites itself
2) the hover on points should be probably placed above the point, now it is shifted left

![image](https://cloud.githubusercontent.com/assets/1737058/6686464/41e297bc-cca2-11e4-888e-02b3c46e72c3.png)

[2015-03-17 13:11] chessbyte commented on #2078
@abellotti Would you please create an issue to rename cfme-client to manageiq-api-client

[2015-03-17 13:14] chessbyte commented on #1805
@dclarizio If this is complete, can you reference the PRs it was done in and close this?

[2015-03-17 13:16] abellotti opened #2198 "Rename lib/cfme_client to lib/api_client"
The lib/cfme_client should be renamed to lib/api_client.

The gem within should be named "manageiq-api-client".

[2015-03-17 13:16] romanblanco commented on #1994
fixed in PR #2182

[2015-03-17 13:18] abellotti commented on #2078
lib/cfme_client issue created: https://github.com/ManageIQ/manageiq/issues/2198

[2015-03-17 13:18] chessbyte commented on #478
@dclarizio Any update on this issue?

[2015-03-17 13:22] gisnalbert opened #2199 "Catalog Item/Bundle ordering error"
Hi,

Previously I was using last week version of MiQ and I had created different catalog items/bundles and was able to order each one correctly. On the underlying provider the VMs were being created with the name of the catalog item VM appended with a counter (i.e. XYZ_001, where XYZ is the name of the VM in the catalog item and 001 was an incremental number based on how many times that specific i

[2015-03-17 13:31] chessbyte commented on #1229
@dclarizio Suggest closing this issue since you cannot reproduce it on master.  If @Cameronwyatt can reproduce the issue, then he should re-open it with details.

[2015-03-17 13:32] Cameronwyatt commented on #1229
@dclarizio please close. An update fixed this issue.

[2015-03-17 13:32] #1229 closed

[2015-03-17 13:36] chessbyte commented on #1769
@h-kataria Suggest closing this issue.  @nachandr can re-open with more details.

[2015-03-17 13:40] chessbyte commented on #1911
@h-kataria Is this still an open issue?  If not, please close it with details and/or update the PR that address this with "Fixes #PR"

[2015-03-17 13:42] chessbyte commented on #1918
@h-kataria If this issue was addressed, please close it.

[2015-03-17 13:45] h-kataria commented on #1911
Fixed by #1924

[2015-03-17 13:45] #1911 closed

[2015-03-17 13:47] h-kataria commented on #1769
This is working as designed, Add ISO datastore button is disabled by design when there are No Cloud/Infrastructure Providers available to create an ISO Datastore on

[2015-03-17 13:47] #1769 closed

[2015-03-17 13:48] h-kataria commented on #1918
Fixed by #1925

[2015-03-17 13:48] #1918 closed

[2015-03-17 15:37] h-kataria commented on #1506
Fixed by #2183

[2015-03-17 15:37] #1506 closed

[2015-03-17 15:52] himdel commented on #1953
This one was already fixed by 1889363, however there are a few more issues from subsequent sort_by conversion, doing a PR (#2205).

[2015-03-17 16:00] #1313 closed

[2015-03-17 17:14] blomquisg opened #2208 "Indicate whether EMS connection is SSL"
A user should be able to specify that a connection should be SSL or not.  This should probably just be a checkbox on the UI when adding/editing an EMS.

Additionally, it's possible this has to be linked to having more than one endpoint per EMS (or manager).

[2015-03-17 17:16] blomquisg opened #2209 "Import Provider CA for SSL certificate validation"
Users should be able to import Provider CAs for SSL certificate validation.  With this field blank, this should imply that SSL-based connections to the provider will not verify peer certificates.

See also:  #2208

/cc @kbrock

[2015-03-17 17:19] Fryguy commented on #2208
The Foreman stuff added a verify_ssl column, which holds an openssl constant (i.e. VERIFY_PEER, VERIFY_NONE).  We can probably leverage that.

[2015-03-17 17:21] Fryguy commented on #2209
Would they imported directly, or stored as authentications records, and then deployed to the appliances on use.  Remember that multiple servers can be configured for ems_refresh failover, ems_operations, etc.  So, a direct import to appliance might be a pain.

I added an authentications records for Kubernetes stuff, and I was thinking that would accept the certificate there.

[2015-03-17 17:57] jzigmund commented on #2127
@jrafanie what about the form fields like:
* "SmartProxy Server IP" [found in Configure/Configuration/Settings - Zones - Add new or edit existing zone]
* "IPMI IP Address" [in Infrastructure/Hosts - Add/Edit new/existing host]

[2015-03-17 18:21] blomquisg commented on #2209
The, the user should be able to upload a cert for SSL cert validation.  If it ends up in the Authentications table, it allows any worker to access it.

[2015-03-17 18:53] #1953 closed

[2015-03-17 20:27] jrafanie commented on #2127
So, my assumption is that the smart proxy is going away so it can still display the IP address.  Right, @gmcculloug ?  When is that going away?

I believe IPMI IP address needs to say IP Address as you can't put hostnames there.  Right @brandondunne?  Also, does our IPMI support IPv6?  Do we need to allow 45 or so characters to support either ipv4 or ipv6 addresses?

[2015-03-17 20:54] gmcculloug commented on #2127
The SmartProxy module is no longer built or supplied with the appliance so it can be largely ignored from that standpoint.

PR #1531 for SmartProxy removal needs a significant amount of UI work to complete that effort.  I can discuss with @dclarizio about getting this prioritized.

[2015-03-17 20:56] Fryguy opened #2215 "Change automate methods to communicate via REST API"
Much of this was discussed at the ManageIQ design summit for Botvinnik.  However, @mkanoor and I recently sat down and brainstormed our way through many of the larger problems, and we think we've come to a cleaner design.

There may be more things I'm not thinking of, but I just wanted to start getting this information out there.  Let's keep this document updated as we find more issues and/or come

[2015-03-17 20:59] brandondunne commented on #2127
@jrafanie You can use hostnames for IPMI.  The IPMI cards do support IPv6, but it is not yet configured.

[2015-03-17 21:58] jrafanie commented on #601
Fixed in 9a808282f479479bdb63f0c13b30ca6932804ecf

[2015-03-17 21:58] #601 closed

[2015-03-17 22:22] movitto opened #2219 "Error when adding RHEV provider: "undefined method `url' for nil:NilClass""
While attempting to add a RHEV provider via the latest master on the latest nightly appliance build the follow error appears in the UI (upon clicking 'validate' to validate credentials) and in evm.log:

[----] E, [2015-03-17T18:19:12.576725 #7844:8c5e88] ERROR -- : MIQ(ems_infra_controller-create):
undefined method `url' for nil:NilClass

The root cause of this error is unknown (investigating) tho

[2015-03-17 23:20] kbrock opened #2222 "WidgetImportService sporadic test failure"
Got a [travis](https://travis-ci.org/ManageIQ/manageiq/jobs/54786093) error that I can't produce locally:
[code]

throws
[code]

/cc @jrafanie

[2015-03-17 23:32] kbrock commented on #2215
- I like REST for database access.
- I like not having automate code in vmdb rails server.
- I like a non-REST mechanism for the workspace.
  + Spawning a child process and passing `JSON` via `STDIN`/`STDOUT` is good. It could probably take a queue from the `CGI` interface.
  + Only passing deltas on `STDOUT` would cut down data transfer.
  + there are other more universal wire protocols (`nanomsg

[2015-03-18 00:23] Fryguy commented on #2198
We should not just rename.   We should extract it completely into a gem.

[2015-03-18 00:24] Fryguy commented on #2198
Additionally,  I think the name should not have dashes.   It should just be manageiq_api_client or manageiq_client.

[2015-03-18 01:43] kbrock commented on #2209
We could either upload it, or download it. Using http to download does open up for man in the middle attacks. But if they were worried about that, would they be using self signed certificates?
1. Just [download](http://askubuntu.com/questions/156620/how-to-verify-the-ssl-fingerprint-by-command-line-wget-curl) [alt](http://stackoverflow.com/questions/5164804/get-certificate-fingerprint-of-https-ser

[2015-03-18 15:06] kbrock commented on #2222
of note, when running the test directly, it worked

[2015-03-18 17:54] Fryguy commented on #2219
@jrafanie Please see.  I think this may be related to some other issues like we are seeing with Amazon as well.

[2015-03-18 18:20] mkanoor opened #2237 "Method to check if a path has domain name"
In the Automate model relationships are typically defined without the domain name so that they can be overridden at runtime with instances from other high priority domains. This allows for customers to override our instances without updating the locked instances in the ManageIQ domain.

The UI code would like to know if a path has the domain name included.

Proposal is to add a path_includes_domai

[2015-03-18 18:21] mkanoor commented on #2237
@tinaafitz @bmclaughlin @gmcculloug
Please comment

[2015-03-18 18:47] movitto commented on #2219
Seems to be an issue w/ the ovirt gem, specifically resource is nil on this line:

https://github.com/ManageIQ/ovirt/blob/master/lib/ovirt/service.rb#L220

[code]

Debugging further

[code]

[2015-03-18 19:43] movitto commented on #2219
@Fryguy @jrafanie
Investigating further the ovirt gem seems to be getting tripped up when constructing the base_uri (hence the resource never gets instantiated & is nil) which in return is being caused by Uri::Generic not being able to verify the port which is throwing the InvalidComponentError here:

http://apidock.com/ruby/v1_9_2_180/URI/Generic/check_port

Looking at the validation request, the

[2015-03-18 20:05] jrafanie commented on #2219
@movitto good find!  i'll open an WIP PR on ovirt with ideas.

[2015-03-18 20:19] jrafanie commented on #2219
@movitto @Fryguy see https://github.com/ManageIQ/ovirt/pull/25, please try that so we can see what exception is being raised when trying to create the resource.

[2015-03-18 20:31] movitto commented on #2219
@jrafanie while the patch looks like an improvement (removing the assumption that the resource has been created in the err handler) the root cause of this is due to an error that URI::Generic is throwing.

URI::Generic is attempting to validate the port being specified when invoked from the ovirt gem which is failing due to the port parameter not being specified in the POST to the MiQ  EmsInfraCon

[2015-03-18 20:44] jrafanie commented on #2219
Yes, we need to see the real error.  What's the URI error?  Is the port a string instead of a Fixnum?

For example, this:
[code]

Is this related: I saw @blomquisg was doing `.to_i` on a port and thought it was odd
https://github.com/ManageIQ/manageiq/pull/2178#discussion_r26629860

[2015-03-18 21:09] #2137 closed

[2015-03-18 21:09] #2155 closed

[2015-03-18 21:59] Fryguy commented on #2219
I believe the parameters from the form are sent as you type them and stored in the session.  So, when you press Save, it uses what's in the session.  @dclarizio Is that correct?

[2015-03-18 22:07] dclarizio commented on #2219
Correct, the latest values from the form are in the session and that is what would be used when validate is done.

[2015-03-18 22:09] jrafanie opened #2243 "Handle nil/empty string for ports in the various providers"
for example:

[code]

from [here](https://github.com/ManageIQ/manageiq/blob/00af6164bf983bed2f86cfa5244d0b9c2c9fcecf/lib/openstack/openstack_handle/handle.rb#L72)

If port is "":

[code]

[2015-03-18 22:10] jrafanie commented on #2243
followup to #2178

[2015-03-18 22:11] jrafanie commented on #2243
Also, if a default isn't provided for the port, nil.to_i is also 0.

[2015-03-19 09:32] jkrocil commented on #2078
@himdel
You most probably are aware of this but the `cfme_*.pdf` docs mentioned above are actually downstream cfme docs, not ManageIQ ones. So they have to be replaced by the upstream files and not just renamed.
Will there be a different GH issue for that or can I count on the files being replaced once this issue is closed?
Thanks in advance

[2015-03-19 09:52] martinpovolny commented on #1582
Seems to me there are more external resources in SASS than LESS. Such as the
https://github.com/rweng/jquery-datatables-rails
or above mentioned  https://github.com/patternfly/patternfly-sass

We should consider how much work is:
 * creating own gems for external stuff + using less vs
 * using existing stuff with sass and also using sass for our stuff or even
 * using both if possible

I mean it m

[2015-03-19 10:34] himdel opened #2246 "Replace CFME docs with ManageIQ docs and rename"
parent: #2078

The docs in `vmdb/public/doc/cfme_*.pdf`, are CFME 5.2 docs, should probably be the same as the ones on manageiq.org.

Should also be renamed to not contain `cfme` in the filename (and links in About fixed).

[2015-03-19 11:31] mzazrivec commented on #2082
@bzwei This is a valid / reproducible bug and to fix this properly, we need to address this
on both the backend & UI level.

What happens here is that the code editor (a third party js application) takes the text
(in this case the template content) and splits in on newlines (\r and \n). At the form
submission step, it joins the split lines with \r\n and here we are -- we can no longer
tell which \

[2015-03-19 12:21] epwinchell commented on #1582
Patternfly-sass is not finished, which is the only reason we switched to LESS.

[2015-03-19 12:43] martinpovolny opened #2248 "Broken Config/diagnostics"
With recent merge of https://github.com/ManageIQ/manageiq/pull/2224 this happens:

Please, hold on. Will fix it in a while.

[code]

[2015-03-19 13:38] himdel commented on #2248
Also,  for the root of the tree..

[code]

[2015-03-19 13:49] #2237 closed

[2015-03-19 15:28] movitto commented on #2219
@jrafanie Full error:

bad component(expected port component): 443

["/opt/rubies/ruby-2.0.0-p643/lib/ruby/2.0.0/uri/generic.rb:697:in `check_port'",
 "/opt/rubies/ruby-2.0.0-p643/lib/ruby/2.0.0/uri/generic.rb:745:in `port='",
"/opt/rubies/ruby-2.0.0-p643/lib/ruby/2.0.0/uri/generic.rb:196:in `initialize'",
"/opt/rubies/ruby-2.0.0-p643/lib/ruby/2.0.0/uri/generic.rb:141:in `new'",
"/opt/rubies/ruby-

[2015-03-19 15:51] jrafanie commented on #2219
thanks @movitto.  @blomquisg ping, can you take a look?  I'm not sure why the .to_i was needed in #2178 and the related #2243.  It should be ok to do it but we need to understand what is providing port values as strings and determine where this should be fixed, in the originator of the string or each of the consuming provider classes.

[2015-03-19 17:19] #2015 closed

[2015-03-19 17:21] #1997 closed

[2015-03-19 18:19] skateman commented on #1582
Okay, now I'm a **patternfly-sass** contributor and in my spare time I will do my best to produce a functional gem!

[2015-03-19 18:28] epwinchell commented on #1582
@skateman :thumbsup:

[2015-03-19 18:50] bzwei commented on #2082
If the backend reinforces the line end format, there is no need for UI to do any processing before save. I can implement it.

[2015-03-20 07:19] skateman opened #2268 "Error when running a policy simulation"
Open any VM, click on Policy -> Policy Simulation!
![screenshot from 2015-03-20 08 19 22](https://cloud.githubusercontent.com/assets/649130/6747453/ded58e74-ced9-11e4-93ea-d1106125914c.png)

[2015-03-20 07:20] skateman commented on #2268
blocks to test some tables in #1890

[2015-03-20 13:47] martinpovolny opened #2272 "An icon for the HTML5 console."
@epwinchell, can you, please, provide an icon for the HTML5 SPICE/VNC console?

Just to differ from VMRC/MKS

https://bugzilla.redhat.com/show_bug.cgi?id=1201132

Thx!

[2015-03-20 14:20] mzazrivec opened #2276 "We need a new toolbar icon for a button, which creates a new service dialog from an orchestration template"
The button will land under the 'Configuration' button in

Services -> Catalogs -> Orchestration Templates -> [template] -> 'Configuration' button

Related to issue #1221

[2015-03-20 14:25] mzazrivec commented on #2276
https://github.com/miq-bot assign https://github.com/epwinchell

[2015-03-20 14:26] epwinchell commented on #2276
@miq-bot assign @epwinchell

[2015-03-20 15:03] mfalesni opened #2280 "Database exception in Control"
This happened after doing these steps:
* Setup a provider
* Create an action to untag a specific tag, assigning it into VM Power On in a policy in policy profile that is then assigned to a VM
* Make the action run by powering on the VM
* Wanting to delete that action after the events were unassigned.

I did not reproduce it manually but in tests (cfme_tests/cfme/tests/control/test_actions.py/test_

[2015-03-20 15:30] #2166 closed

[2015-03-20 17:40] dclarizio commented on #476
Discussed with @tinaafitz, this is an enhancement, resetting the labels.

[2015-03-20 18:23] blrm opened #2287 "Nightly Upstream Builds from 3/19 are empty files"
The nightly upstream builds for 3/19 are empty files for all three of the images. Last time this happened #1910 , @jrafanie explained it was a yum issue. Let me know if there is any more information I can provide. Thanks!

[2015-03-20 18:55] jrafanie commented on #2287
![screen shot 2015-03-20 at 2 48 36 pm](https://cloud.githubusercontent.com/assets/19339/6758680/3ff544f2-cf10-11e4-8c24-fa639ab03c2c.png)

Silent installers are awesome until they fail and don't show the details.

@jvlcek @JPrause I'll kill the existing failed build and try a manual one.  Joe, do you think you can ping someone on the imagefactory side to see if there's a way to get more informati

[2015-03-20 18:57] jrafanie commented on #2287
Note, the [kickstart hasn't changed](https://github.com/ManageIQ/manageiq/commits/master/build/kickstarts/base.ks.erb) for a few weeks so something in centos repos was added or missing that's causing a rpm conflict.

[2015-03-20 19:07] Fryguy commented on #2287
@jvlcek is actively trying to figure this one out.

[2015-03-20 19:13] jrafanie commented on #2287
Note, this was last good here 17-Mar-2015 22:05

[2015-03-20 21:05] jrafanie commented on #2287
Tried adding `text` to the kickstart and rebuilding...  Came back with an even less useful screenshot.

![screen shot 2015-03-20 at 5 04 54 pm](https://cloud.githubusercontent.com/assets/19339/6760851/5b3c527e-cf23-11e4-87c0-13bd8fb7a1f1.png)

[2015-03-20 21:08] Fryguy commented on #2287
:laughing: that's hilarious

[2015-03-20 21:14] jrafanie commented on #2287
Waited a bit longer and manually did `virsh screenshot 47` and now we have something:

![screen shot 2015-03-20 at 5 13 05 pm](https://cloud.githubusercontent.com/assets/19339/6760964/8537844e-cf24-11e4-8b74-e5c470e8db16.png)

[2015-03-20 21:18] jrafanie commented on #2287
It looks like this is the cause of our successful build of 3/17 and failure on 3/18:

certmonger-0.77.1-1.el6.x86_64.rpm  2015-Mar-18 22:16:39

See: http://copr-be.cloud.fedoraproject.org/results/nalin/certmonger/epel-6-x86_64/certmonger-0.77.1-1/

@kbrock @abellotti Please help!

[2015-03-20 21:23] #2082 closed

[2015-03-20 21:26] jrafanie commented on #2287
To make things worse, I manually limited the listing of rpms to install as part of the OS build via the kickstart, produced an ova, imported the ova, and manually installed the rpms I excluded from the kickstart and it installs fine.  So, it's a problem when install the base OS + our rpms dependencies but not after installing the OS and installing our rpm dependencies as two separate steps.

https

[2015-03-20 21:42] jrafanie commented on #2287
Repos used in the kickstart:
https://github.com/ManageIQ/manageiq/blob/0bcb1b1d44a4f1871b93bf28cf8d1a2808587904/build/kickstarts/base.ks.erb#L13-22

Repos installed for use after the machine is installed:
https://github.com/ManageIQ/manageiq/blob/0bcb1b1d44a4f1871b93bf28cf8d1a2808587904/build/kickstarts/base.ks.erb#L208-212

[2015-03-20 22:17] jrafanie commented on #2219
@blomquisg @Fryguy it looks like we have port as a string in the database :bug:

Please tell me one of you can fix this.

From my local schema.rb:
[code]

[2015-03-20 22:18] jrafanie commented on #2219
Once this is fixed, we should drop the `.to_i` business.

[2015-03-20 22:39] jrafanie commented on #2287
@kbrock I added the listing of rpms after kickstart installed base Centos to the existing gist where I installed all of the additional rpms afterwards (and it worked):  https://gist.github.com/jrafanie/be64b50cd40ef5d6b651

[2015-03-21 01:04] Fryguy commented on #2219
Yes.   I knew about this,  but this had always been working so didn't
realize it was related.   I started switching to integer with the multi
endpoint but that got back burnered
On Mar 20, 2015 6:17 PM, "Joe Rafaniello" <notifications@github.com> wrote:

[2015-03-22 00:10] ghost opened #2301 "No results from SmartState Analysis in oVirt environment Support"
http://talk.manageiq.org/t/no-results-from-smartstate-analysis-in-ovirt-environment/585 details a discussion and the steps taken thus far. This was a problem with RHEV and Cloudforms as well when last I tested them. Current versions are oVirt 3.5 and latest manageiq code as of March 20, 2015. Details in link.

[2015-03-23 15:27] jrafanie opened #2307 "Test failure: Migration specs fail with ERROR: relation "metrics" does not exist/debug_failures"
1) AddStartAddressToPartitions#up with empty tables
     Failure/Error: yield
     ActiveRecord::StatementInvalid:
       PGError: ERROR:  relation "metrics" does not exist
       LINE 5:              WHERE a.attrelid = '"metrics"'::regclass
                                               ^
       :             SELECT a.attname, format_type(a.atttypid, a.atttypmod),
                            pg_g

[2015-03-23 17:22] #2307 closed

[2015-03-23 17:40] kbrock commented on #2307
thanks. I had to rebuild my test database all the time. hoping this fixes it.

[2015-03-23 18:06] movitto commented on #2219
@jrafanie @Fryguy so what's that status on this?

[2015-03-23 18:33] jrafanie commented on #2287
Summary:

ManageIQ's upstream appliance does a kickstart installation of CentOS 6.6 x86_64.

In this kickstart, we use the following yum repos:
https://github.com/ManageIQ/manageiq/blob/0bcb1b1d44a4f1871b93bf28cf8d1a2808587904/build/kickstarts/base.ks.erb#L13-22

We also install yum repos to be enabled post kickstart:
https://github.com/ManageIQ/manageiq/blob/0bcb1b1d44a4f1871b93bf28cf8d1a28085879

[2015-03-23 19:39] jrafanie commented on #2115
I *think* I narrowed this down to this PR:  https://github.com/ManageIQ/manageiq/pull/1849

Basically: [this line](https://github.com/jrafanie/manageiq/blob/6b4e4ef91aaac9a637194b7764c10c9c88670539/vmdb/app/models/vmdb_database_connection.rb#L74)

[code]

If query_start is nil, it can blow up:
[code]

I have **no idea** why it's nil though or why it happens sometimes.

HALP @tenderlove

[2015-03-23 19:42] jrafanie commented on #2115
Note, I was researching a different issue exhibiting the same behavior:

1) MiqDbConfig.log_activity_statistics normal Failure/Error: expect(lines.shift).to eq "MIQ(DbConfig.log_activity_statistics) <<-ACTIVITY_STATS_CSV\n"  expected: "MIQ(DbConfig.log_activity_statistics) <<-ACTIVITY_STATS_CSV\n" got: "MIQ(DbConfig.log_activity_statistics) Unable to log stats, 'can't convert nil into an exact num

[2015-03-23 19:46] jrafanie commented on #2115
Note, it had also failed previously internally:
MiqDbConfig.log_activity_statistics normal Failure/Error: expect(lines.shift).to eq "MIQ(DbConfig.log_activity_statistics) <<-ACTIVITY_STATS_CSV\n"  expected: "MIQ(DbConfig.log_activity_statistics) <<-ACTIVITY_STATS_CSV\n" got: "MIQ(DbConfig.log_activity_statistics) Unable to log stats, 'can't convert nil into an exact number'"  (compared using ==)

[2015-03-23 20:09] #2287 closed

[2015-03-23 20:44] jrafanie commented on #2106
Same as #2115

[2015-03-23 20:44] #2106 closed

[2015-03-23 20:45] jrafanie commented on #2116
@Fryguy is this the same problem as #1210?

[2015-03-23 21:45] jrafanie opened #2317 "Test failure: ERROR: duplicate key value violates unique constraint "zones_pkey" DETAIL: Key (id)=(40) already exists."
1) VmInfraController ApplicationController::Explorer #x_get_tree_custom_kids Return Zones only in My Region Failure/Error: non_my_region_zone = FactoryGirl.create(:zone, :id => "40", :name => "Zone2") ActiveRecord::RecordNotUnique: PGError: ERROR: duplicate key value violates unique constraint "zones_pkey" DETAIL: Key (id)=(40) already exists. : INSERT INTO "zones" ("created_on", "description", "i

[2015-03-23 21:52] jrafanie commented on #2317
Adding an assertion that we enter the loop of objects [here](https://github.com/jrafanie/manageiq/blob/54c872278ef58fa3062f23aaeb0058f71278b9af/vmdb/spec/controllers/application_controller/explorer_spec.rb#L279):

[code]

Results in a useless test that never asserts anything since we never enter the loop that contains the assertion.

[code]

[2015-03-23 21:56] jrafanie commented on #2317
Adding an assertion that we enter the loop of objects [here](https://github.com/jrafanie/manageiq/blob/54c872278ef58fa3062f23aaeb0058f71278b9af/vmdb/spec/controllers/application_controller/explorer_spec.rb#L279):

[code]

Results in a useless test that never asserts anything since we never enter the loop that contains the assertion.

[code]

[2015-03-23 22:16] #1423 closed

[2015-03-24 10:10] mfalesni opened #2322 "Advanced search quirks"
I am getting some quirks around user input value in advanced search (infrastructure). When the custom filter is loaded, the apply button is hit, then it seems nothing happens but closing the advanced search dialog reveals there was a user input box behind it but it disappeared together with the advanced search box. Next opening of the advanced search box produces just the blocking div without the

[2015-03-24 12:35] skateman commented on #2268
Now it's working...I'm closing this issue!

[2015-03-24 12:35] #2268 closed

[2015-03-24 12:52] epwinchell commented on #2322
@h-kataria

[2015-03-24 13:10] Ladas opened #2323 "wrong select(:id) in table listing"
https://github.com/ManageIQ/manageiq/blob/cbff38e33f399f83f5d17678f31244c99a381000/vmdb/app/models/miq_report/search.rb#L83

For some reason UI can't handle joined table cause there is hardcoded (^ link) that it selects DISTINCT id. With joined tables, id needs to be prefixed with table name.

So e.g. I can't write relations in rails like this
has_many :vms, :class_name => 'VmOpenstack', :foreign_

[2015-03-24 15:47] abonas opened #2329 "Kubernetes provider - service - containerPort should be renamed to targetPort"
Based on https://github.com/GoogleCloudPlatform/kubernetes/issues/5850

[2015-03-24 15:48] abonas commented on #2329
@miq-bot add_label providers/containers

[2015-03-24 17:30] gmcculloug commented on #2152
@bronaghs I suggest changing the requirement a little to allow for reuse of the current memory field on the hardware table.

Changes:
 1. Use the existing vm_memory field for "Startup RAM (MB)".  Just change the description in the dialog yaml file and you are done.  This field would always be displayed.
 2. Add a checkbox for "Dynamic Memory" which when selected displays the two additional fields

[2015-03-24 17:48] bronaghs commented on #2152
@gmcculloug
sounds good.

[2015-03-24 17:53] gmcculloug commented on #2152
@h-kataria  Please review the suggested UI changes and provide feedback.

[2015-03-24 18:37] blomquisg opened #2333 "Stalled Build https://travis-ci.org/ManageIQ/manageiq/jobs/55677209"
Commit: https://github.com/ManageIQ/manageiq/commit/dbd14911b2015d629061afd81627ef6ee0a1e1cb

Error:

[2015-03-24 18:40] blomquisg opened #2334 "Stalled Build https://travis-ci.org/ManageIQ/manageiq/jobs/55511871"
Commit: https://github.com/ManageIQ/manageiq/commit/91291b80f635f95efb1451c3b705355b03a4586f

Error:

[2015-03-24 18:46] h-kataria commented on #2152
@gmcculloug these are simple UI changes, in views we need to add 3 new fields: vm_dynamic_memory, vm_minimum_memory and vm_maximum_memory to be displayed based upon their display value in workflow.

[2015-03-24 21:40] jrafanie commented on #2219
@movitto does it work now? @matthewd fixed what I would think is the issue in PR #2258 in commit:  3a04e02ced3593e1a56b647c3b93ac1a42dbb535

Can you git pull and try it now?

[2015-03-25 16:30] epwinchell commented on #2276
@mzazrivec Let's use the existing Add button for this: https://github.com/ManageIQ/manageiq/blob/master/vmdb/public/images/toolbars/add.png

[2015-03-25 16:38] epwinchell commented on #2272
@martinpovolny Did you see Ramesh's suggestion in the ticket to use a dropdown?

"Having a single icon for vmrc with the drop-down having links to
1. VNC / Spice
2. VMRC HTML5 console"

That makes sense to me.

[2015-03-25 19:27] martinpovolny commented on #2272
@epwinchell : Yes, there's going to be a "Remote access" menu at some point in the future. It will also contain logs from the first console and most likely SSH, RDP and other stuff that would be relevant for the particular VM or Instance. I believe we can use the icon you create for that once we get there.

[2015-03-25 19:45] jrafanie opened #2361 "Is it still required to manually release the db connection before worker/server exits?"
https://github.com/ManageIQ/manageiq/blob/577997151bfebfd61b7ac8499158e5004db121dd/vmdb/lib/workers/worker_base.rb#L229-233

https://bugzilla.redhat.com/show_bug.cgi?id=MANAGEIQ-13317

[2015-03-25 21:04] #1607 closed

[2015-03-26 00:06] simon3z commented on #2162
@miq-bot assign @simon3z

[2015-03-26 09:15] abonas commented on #2162
@miq-bot assign simon3z

[2015-03-26 09:21] abonas commented on #2162
@miq-bot assign @simon3z

[2015-03-26 10:23] #2276 closed

[2015-03-26 14:35] #2053 closed

[2015-03-26 14:35] #1445 closed

[2015-03-26 14:36] #1220 closed

[2015-03-27 11:57] romanblanco opened #2389 "Cleanup Javascript files"
TODO:
- [x] add JS code-style to wiki documentation
- [x] refactor & cleanup JS files
- [x] implement jscs and jslint-v8 into miq-bot
- [x] fix linters errors

[2015-03-27 15:18] h-kataria commented on #2090
@bzwei as per our discussion, please provide a backend method 'ot_default_entry_point' on ServiceTemplate class that will return a string of full path for default entry point.

[2015-03-27 21:20] bzwei opened #2409 "Link to orchestration template is missing from stack detail view"
From the orchestration stack detail view we can see the template name, but there is no clickable link to the actual template page.

[2015-03-27 23:42] movitto commented on #2219
@jrafanie looks good, was able to add the rhev provider when I updated to latest master. Closing

[2015-03-27 23:42] #2219 closed

[2015-03-30 13:40] jrafanie commented on #2219
Great, thanks @movitto

[2015-03-30 15:37] #2038 closed

[2015-03-30 17:01] blomquisg opened #2434 "Stalled build: https://travis-ci.org/ManageIQ/manageiq/jobs/56416063"
Commit: https://github.com/ManageIQ/manageiq/commit/37b8917f30369659e92b2448883b39c3fdc73134

Error (after many tests have been run, but doesn't appear to have finished running the tests):

[2015-03-30 17:18] #752 closed

[2015-03-30 19:23] blomquisg opened #2439 "Stalled build: https://travis-ci.org/ManageIQ/manageiq/jobs/56455441"
Commit: https://github.com/ManageIQ/manageiq/commit/899b22288280e02617d9785b1659f28f88b3d816

Error:

[2015-03-31 08:29] martinpovolny opened #2451 "Websocket proxy and consoles next steps"
This issues is a place to collect inputs and designs for the next steps of the websocket proxy that we use for the HTML5 consoles and may use in the future for other console types, such as HTML5 ssh/terminal client or RDP console.

**Ruby version**
There's a ruby version of the python proxy that we have, but it lack's some feature of the python counterpart most notably SSL support:
https://github.

[2015-03-31 12:06] Ladas opened #2454 "UI worker fails to start"
http://pastebin.test.redhat.com/273258

seems like it is caused by recent commit

commit 1d5ecf9154c57e6900a013bd8911459cb602573f
Author: Joe Rafaniello <jrafanie@redhat.com>
Date:   Fri Mar 27 16:01:17 2015 -0400
Extract all of the commmon WS/UI worker script code to a mixin.

https://bugzilla.redhat.com/show_bug.cgi?id=1205407

[2015-03-31 12:07] Ladas commented on #2454
@jrafanie could you check it out?

@martinpovolny thanks for pointing out the commit

[2015-03-31 13:31] mfalesni opened #2455 "Error when cancelling adding of a new provider"
![screencapture-10-16-7-198-ems_cloud-new](https://cloud.githubusercontent.com/assets/2163040/6919889/e723e2f8-d7ba-11e4-9ccd-bc2eff9715fa.png)
![screencapture-10-16-7-198-ems_infra-new](https://cloud.githubusercontent.com/assets/2163040/6919890/e725406c-d7ba-11e4-8818-3bf90e086979.png)

This happens when clicking `Cancel` on the `Add new provider` form page

[2015-03-31 14:06] #2115 closed

[2015-03-31 14:14] jrafanie commented on #2105
Closing in hopes that this was fixed by #2447

[2015-03-31 14:14] #2105 closed

[2015-03-31 14:44] jrafanie commented on #2454
@Ladas Thanks for reporting it.  Sorry, I had a re-used the same module twice and it failed randomly depending on which module location was loaded first.  It's fixed and merged here, please pull in master:
https://github.com/ManageIQ/manageiq/pull/2444

[2015-03-31 14:44] #2454 closed

[2015-03-31 21:07] blomquisg opened #2477 "New AWS Instance Types (D2)"
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/d2-instances.html

[2015-03-31 21:38] movitto commented on #2219
@jrafanie  @Fryguy  Seemingly related error reoccurring in the logs:

[----] E, [2015-03-31T16:28:28.571230 #23816:249aaf0] ERROR -- : [NoMethodError]: undefined method `url' for nil:NilClass  Method:[rescue in block in start_event_monitor]
[----] E, [2015-03-31T16:28:28.571283 #23816:249aaf0] ERROR -- : /opt/rubies/ruby-2.0.0-p643/lib/ruby/gems/2.0.0/gems/ovirt-0.4.0/lib/ovirt/service.rb:220:in `

[2015-03-31 22:59] AparnaKarve opened #2481 "Test failure :Failure/Error: ems.resource_pools.first.id.should == ResourcePool.first.id.to_s expected: "1000000000211" got: "1000000000210" (using ==)"
https://travis-ci.org/ManageIQ/manageiq/jobs/56628464

1) VmdbwsController With a small environment containing a cluster with resource pools should return Management Systems relationships
     Failure/Error: ems.resource_pools.first.id.should == ResourcePool.first.id.to_s
       expected: "1000000000211"
            got: "1000000000210" (using ==)
     # ./spec/apis/vmdbws_inventory_spec.rb:515:in

[2015-03-31 23:01] AparnaKarve commented on #2481
@miq-bot add_label bug/sporadic test failure

[2015-04-01 04:30] blomquisg opened #2483 "EMS Refresh status should emit EVM Event"
When an EMS finished with refresh, either with a failure or success, it should emit an EVM event so the system can respond with evaluating policies or alerts.

The `EmsRefresherMixin` can be updated [here](https://github.com/ManageIQ/manageiq/blob/5d71128fa86e6dab455aa8ba9593a466454ed1bd/vmdb/app/models/ems_refresh/refreshers/ems_refresher_mixin.rb#L43) (for ems refresh errors) and [here](https://

[2015-04-01 13:54] abonas opened #2486 "Kubernetes provider - service - port should be changed to ports"
Following this backwards incompatible change:
https://github.com/GoogleCloudPlatform/kubernetes/pull/6182

Model/DB/parser need to be adjusted.

[2015-04-01 13:55] abonas commented on #2486
@miq-bot add_label providers/containers

[2015-04-01 13:55] abonas commented on #2486
@miq-bot assign @zeari

[2015-04-01 14:09] Ladas opened #2487 "UI scrolling of drift history is broken"
![image](https://cloud.githubusercontent.com/assets/1737058/6942667/6f1891a8-d889-11e4-96f7-0c504bdc93a1.png)

[2015-04-01 14:10] Ladas commented on #2487
Btw. there is no pagination?

[2015-04-01 14:15] Ladas opened #2488 "UI switching to grid view and tile view doesn't work"
![image](https://cloud.githubusercontent.com/assets/1737058/6942791/1a61d362-d88a-11e4-9b57-c0311ccab4f4.png)

![image](https://cloud.githubusercontent.com/assets/1737058/6942797/2a721000-d88a-11e4-9e2b-12cc40ab1408.png)

Please test on all Host associations, this could appear on more places.

[2015-04-01 15:52] Ladas commented on #2487
Hmm so it actually shows everything, but it just looks like it cuts the page. Could we show like few more pixels, so the bottom of the table is visible? :-)

[2015-04-01 15:56] remoteur opened #2490 "UI error when changing pagination for Host Packages list"
This is the error I get when going to to Host -> Configuration -> Packages and change Per page to a different value.
![pagination_error](https://cloud.githubusercontent.com/assets/3585797/6945210/64777002-d898-11e4-8ee6-4ee1872cfb85.png)

[2015-04-01 15:56] Ladas opened #2491 "UI scrolling of drift detail left column"
![image](https://cloud.githubusercontent.com/assets/1737058/6945172/1e1e3c3a-d898-11e4-991a-0870a116784a.png)

Screenshot-ManageIQ: Hosts - Google Chrome
![image](https://cloud.githubusercontent.com/assets/1737058/6945182/2f3b80fe-d898-11e4-8751-810dcc5b5be2.png)

I cannot scroll left column, when I open too much I cannot even access the button. There is workaround, you can pick something, collaps

[2015-04-01 16:28] h-kataria commented on #2490
This should be fixed by https://github.com/ManageIQ/manageiq/pull/2449

[2015-04-01 16:28] #2490 closed

[2015-04-01 16:44] romanblanco opened #2492 "Unexpected error after pressing "Verify" on Add New Host page"
After pressing "Validate" button on Add New Host page *(Infrastructure → Hosts → Configuration → Add a New Host)*, I got unexpected error:

*You cannot call create unless the parent is saved [host/create]*

Problem seems to start on this line:

[*vmdb/app/controllers/host_controller.rb*:
**903**: host.custom_1 = @edit[:new][:custom_1]](https://github.com/ManageIQ/manageiq/blob/master/vmdb/app/cont

[2015-04-01 16:46] blomquisg opened #2493 "Stalled build: https://travis-ci.org/ManageIQ/manageiq/jobs/56642015"
Build: https://travis-ci.org/ManageIQ/manageiq/jobs/56642015

Commit: https://github.com/ManageIQ/manageiq/commit/9f1c3c0777e670815d7648670c9442d61d66e6db

Error:

[2015-04-01 16:52] romanblanco commented on #1946
Blocked on #2492

[2015-04-01 21:42] dclarizio commented on #2487
@epwinchell If this is a styling issue, please open a BZ so we can address properly.  Thx, Dan

[2015-04-01 21:45] dclarizio commented on #2280
@mfalesni Can you please open a BZ bug for this so we can track it?  Thx, Dan

[2015-04-01 21:46] dclarizio commented on #2322
@mfalesni I'm thinking these issues are addressed in the latest build . . . please retest.

[2015-04-01 21:48] dclarizio commented on #2455
@mfalesni Should be fixed by #2435 ... please retest with latest build.

[2015-04-01 22:13] h-kataria commented on #1805
This works was done in: https://github.com/ManageIQ/manageiq/pull/2025

[2015-04-01 22:14] h-kataria commented on #1806
Done in https://github.com/ManageIQ/manageiq/pull/2025

[2015-04-01 22:16] #1806 closed

[2015-04-01 22:19] dclarizio commented on #1805
@chessbyte This is being worked on outside our group and I'm not able to assign . . . I will contact @erinboyd.

[2015-04-02 08:35] abonas commented on #2486
@miq-bot assign @zeari

[2015-04-02 11:44] abonas opened #2500 "Kubernetes provider - container port config model is missing a name property"
@miq-bot add_label providers/containers

@miq-bot assign @zeari

[2015-04-02 15:45] abonas commented on #2162
@miq-bot assign @simon3z

[2015-04-02 17:59] #2500 closed

[2015-04-02 22:28] simon3z commented on #2162
Fixed with PR #2390. Can anyone close this? (may bad for not mentioning the issue in the commit) /cc @Fryguy @blomquisg

[2015-04-03 00:01] #2162 closed

[2015-04-06 07:43] abonas commented on #2074
@miq-bot assign @zeari

[2015-04-06 08:59] abonas commented on #2074
relevant documentation and examples:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/kubernetes-namespaces/v1beta3

[2015-04-06 12:19] nickithewatt opened #2524 "Error using filtering functionality - REST API"
Hi

I am trying to using the filter[] parameter in the latest (master) version of the REST API, however cannot seem to make this work:

GET of
[code]

RESULT
[code]

As an aside, it would be very helpful if there was somewhere where the REST API documentation could be kept in line the latest code changes for people to reference (and some examples). As far as I can tell the current documentation is

[2015-04-06 12:45] abellotti commented on #2524
Hi, that filter statement is correct, I just tried it on latest master and it works fine. Strange error here as the name attribute is a valid attribute to vms and been there for a while so a db:migrate probably may not help here. What version of Rails and Postgres do you have running ?

We're in the process of updating the docs for v2.0.

[2015-04-06 13:35] abonas commented on #2329
@zeari please check if your pr related to service ports covers this issue as well

[2015-04-06 13:35] abonas commented on #2056
@miq-bot assign @zeari

[2015-04-06 14:23] Fryguy opened #2526 "Sporadic test failure in MiqAeMethodService::MiqAeServiceMiqProvisionRequest#miq_provisions"
https://travis-ci.org/ManageIQ/manageiq/jobs/56961785#L460

[code]

[2015-04-06 14:23] Fryguy commented on #2526
@gmcculloug Please review.

[2015-04-06 14:44] zeari commented on #2056
@abonas [based on this](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L152)
To me, it looks like this should be handled the same way labels are.(and in the same places label handling occurs)

[2015-04-06 15:16] abonas commented on #2056
seems that it is similar to labels, yes. I would recommend to dig a bit more to see why is there a need in both entities given their similarities

[2015-04-06 15:18] zeari commented on #2056
@abonas
(example here)[https://github.com/darkgaro/kubernetes-reverseproxy]
I dont think this should be converted to a label. even just because of semantics

[2015-04-06 15:25] h-kataria commented on #910
Done in https://github.com/ManageIQ/manageiq/pull/2503

[2015-04-06 15:27] nickithewatt commented on #2524
ManageIQ has been setup on a Centos7 based VM with the following:
* ruby 2.0.0p598
* postgres (PostgreSQL) 9.2.7
* Rails 3.2.17

[2015-04-06 18:14] kbrock opened #2529 "Test Failure: EmsRefresh::Refreshers::VcRefresher wrong number of arguments (1 for 0)"
paraphrased:
[code]

[code]

[2015-04-06 18:15] kbrock commented on #2529
/cc @Fryguy @jrafanie

[2015-04-06 18:24] Fryguy commented on #2529
On it.

[2015-04-06 19:27] Fryguy commented on #2529
@jrafanie and I narrowed down and it's a problem in fog-cloud.  A PR was opened: https://github.com/fog/fog-ecloud/pull/3

[2015-04-06 19:36] Fryguy commented on #2529
PR was merged on fog-ecloud and a new version released...things should work now.  Tests will pass automatically.  If you have fog-ecloud 0.1.0 locally, just `bundle update fog-ecloud`

[2015-04-06 19:36] #2529 closed

[2015-04-07 15:06] Fryguy opened #2542 "Sporadic test failure: MiqAeClass waypoint_ids_for_state_machine check ids"
https://travis-ci.org/ManageIQ/manageiq/jobs/57347177

[code]

[2015-04-07 15:07] Fryguy commented on #2542
cc @gmcculloug @mkanoor

[2015-04-07 17:13] #2477 closed

[2015-04-07 18:18] #2542 closed

[2015-04-07 22:14] remoteur commented on #2487
I'm also seeing something similar when trying to add a cloud provider. Whilst I can scroll by the mouse scroll or dragging the scroll bar there is no scroll down arrow to indicate the Add/Cancel buttons are down there.
![scroll](https://cloud.githubusercontent.com/assets/3585797/7034892/21c1913e-dd84-11e4-95c4-84ab7df6fa48.png)
![scroll_down](https://cloud.githubusercontent.com/assets/3585797/7034

[2015-04-07 22:34] jrafanie commented on #182
This failed again on internal cruisecontrols at 1cac43a24c8e95ffc81ce5440d7ffb1673c90d14 (metrics build) and ac014c0b0d068a28014382486125dbc98430f03f (vmdb)

cc @dclarizio Please fix this if #2547 isn't the right solution

[2015-04-07 23:14] dclarizio commented on #182
@jrafanie I have no time, but I'll find someone that does!

[2015-04-08 10:14] gisnalbert opened #2551 "UI - Error creating a new Action with Invoke Custom Automation"
I am using the MiQ Extensions for OpenStack (http://manageiq.org/depot/extension/openstack_ops/). My use case is exactly the one covered in part of this extension: Tag the OpenStack VMs on MiQ based on the metadata of the VM.

I was able to configure everything, but when trying to create a new Action to invoke my custom automation it looks like the UI has a bug: it is not showing the form fields f

[2015-04-08 11:02] Ladas opened #2552 "UI headers issues in detail list pages of SystemService and Filesystems"
in this screen shot the header is broke badly, the whole bootstrap column is too narrow

![image](https://cloud.githubusercontent.com/assets/1737058/7043975/0b5cf40e-ddef-11e4-903c-615e88ec7fe4.png)

in this screen shot the header is cut with ... for some reason
![image](https://cloud.githubusercontent.com/assets/1737058/7044004/4592e246-ddef-11e4-8e73-679449045719.png)

[2015-04-08 13:49] jrafanie commented on #182
Thanks @dclarizio

[2015-04-08 13:51] johnmark opened #2555 "Spin up Botvinnik RC2"
RC1 has some issues with services not running after install - http://talk.manageiq.org/t/evm-processes-not-starting-in-vmware-appliance-for-botvinnik-rc1/646/7

How quickly can we spin up RC2? And who should do that?

[2015-04-08 15:22] blomquisg opened #2556 "Failed Build: https://travis-ci.org/ManageIQ/manageiq/jobs/57631392"
Commit: https://github.com/ManageIQ/manageiq/commit/dd6db1b1c54ba96dac0998c35398db08a5fc9ec4

[code]

[2015-04-08 21:34] stacybrock opened #2561 "Cannot change server's zone from 'default'"
**Issue:** On a brand-new deployment of the Botvinnik-RC1 vsphere OVA, attempting to change the zone of the first server deployed fails despite the UI indicating a successful change. NOTE: The zone of secondary servers spun up after the first *can* be changed.

**Steps to Reproduce:**
1. Log in as an admin user and select Configure -> Configuration
2. Create a zone if one hasn't already been confi

[2015-04-09 16:36] jzigmund commented on #2280
@mfalesni could you provide more specific steps to reproduce the bug? Although I found the different bug in Control/Actions, I haven't reproduced this one.

[2015-04-09 18:13] blomquisg opened #2574 "Travis build stalled: https://travis-ci.org/ManageIQ/manageiq/jobs/57809352"
Commit:  https://github.com/ManageIQ/manageiq/commit/cdce2cd65fd77c45f21fd75c67ec6dee21087872

[2015-04-10 08:03] mfalesni commented on #2280
I just ran the test_untag on a fresh appliance and it has thrown this error. We'll sync up.

[2015-04-10 19:40] jrafanie opened #2589 "Container Add/Edit forms should remove ipaddress field"
Follow for #2443

@h-kataria wrote:

@erinboyd wrote :

@erinboyd FYI, for the followup work...
See #2127 for the UI work to remove ipaddress from host, ems and subclasses.

Also, containers use hostname instead of ipaddress now, just like host and ems:
https://github.com/ManageIQ/manageiq/blob/b313b3859950320e21d9d56e9e997c32bf671d1d/vmdb/app/models/ems_kubernetes.rb#L30-34

[2015-04-10 20:01] abellotti commented on #121
With v2 you can access additional information via virtual attributes/relationships by asking for them with the *attributes* parameter, i.e.

[code]

For Amazon VMs, security_groups should be available.

[2015-04-12 12:57] abonas opened #2595 "New title of provider hostname field is too long"
Since hostname field was changed to be able to contain also IPAddr,
the title of the field became long, cuts in the middle to a new line and also
have twice "or" in its name which doesn't read very nicely.

![hostorip](https://cloud.githubusercontent.com/assets/6277245/7105665/89981264-e12c-11e4-844a-3a1e4e2f1ef7.png)

[2015-04-13 14:26] #1574 closed

[2015-04-13 18:08] jzigmund commented on #2280
@mfalesni can you confirm that it's been fixed in master already ?

[2015-04-13 18:09] dclarizio commented on #2113
@romanblanco Can you open a BZ for this so we can track it to get fixed?  Thx, Dan

[2015-04-13 21:42] abonas opened #2609 "There's validation on existing hostname when adding a provider, but not in combination with port"
When adding a new provider, there's a validation on the hostname field, and if it already exists in the ext_management_systems table, then there's an error:
" Validation failed: Name has already been taken, Host Name has already been taken, IP Address has already been taken"
Why isn't this validation done in combination with checking the port?
I can have several different providers on the same hos

[2015-04-14 08:36] mfalesni commented on #2280
Looks like it is not an issue now.

[2015-04-14 15:11] blomquisg opened #2614 "Stalled build: https://travis-ci.org/ManageIQ/manageiq/jobs/58260986"
Commit:
https://github.com/ManageIQ/manageiq/commit/0d691b17d94a8f8ea3060278d336b1aaa9af7dd7

Error:

[2015-04-14 19:04] #1890 closed

[2015-04-14 20:53] jrafanie opened #2630 "Diagnostics workers tab clicked worker row doesn't highlight the selected row"
On this screen, I clicked the priority worker with pid 6621, the row doesn't show up as highlighted so it's hard to understand which row it's affected.
![screen shot 2015-04-14 at 4 46 48 pm](https://cloud.githubusercontent.com/assets/19339/7147059/2eb35b38-e2c6-11e4-97d8-226f0eacdeff.png)

It is "selected" though (just not displayed as selected) because I when I choose the "restart" pulldown opti

[2015-04-14 20:58] epwinchell commented on #2630
@skateman Can you have a look at this? I think we need to table-selectable class here.

[2015-04-14 21:01] abonas commented on #2595
@dclarizio FYI

[2015-04-14 21:01] jrafanie commented on #2630
I have confirmed this on firefox 37 and chrome 41

[2015-04-14 21:19] #2589 closed

[2015-04-14 21:39] #2272 closed

[2015-04-15 12:55] kefirfromperm commented on #1213
Always reproduces on the environments below.

ManageIQ + VMWare ESXi 4.1.0
Red Hat Cloud Forms 3.1 + VMWare ESXi 4.1.0
Red Hat Cloud Forms 3.1 + VMWare ESXi 6.0.0

[2015-04-15 14:41] dclarizio commented on #2595
Open to suggestions . . . this was done as part of the IPV6 work.  Copying @jrafanie and @mfeifer for ideas.  This exists on all of the host name fields throughout the UI, so any "fix" should address all of the screens.  Perhaps with a new string, we can add a new line to at least break it where we decide to.

[2015-04-15 14:44] abonas commented on #2595
@dclarizio
my suggestions:
1. take the part in brackets to a new line
2. instead of a "double or", do something like "or Ipv4 / Ipv6 address" (with one "or" and a dash)

[2015-04-15 15:21] romanblanco opened #2638 "Issue in Infrastructure -> Repositories"
I'm getting errors on `Infrastructure -> Repositories` page.

I think it may be caused by unmigrated data in database that I'm using.
Because of that, I'm not able to delete or edit Repositories and even can't change page layout.

Displayed error text: \`undefined method \`store_type' for nil:NilClass [repository/edit]`

Log from console:

    [----] F, [2015-04-15T15:12:27.849613 #7651:e03800] FA

[2015-04-15 19:43] abonas commented on #2609
@blomquisg @Fryguy thoughts on this? (iiic, it's not container specific)

[2015-04-15 20:10] blomquisg opened #2641 "Stalled Build: https://travis-ci.org/ManageIQ/manageiq/jobs/58473722"
https://github.com/ManageIQ/manageiq/commit/3b73fd120144668ef28276a27532098a30703dc1

Error:

[2015-04-16 11:25] skateman commented on #2630
@epwinchell it's a DataTables issue, maybe I will need your help

[2015-04-16 12:47] abonas opened #2647 "kubernetes provider - add persistence of imageId property on container"
@miq-bot  add_label providers/containers

example format as returned from k8s:
 "imageID": "docker://793f8f19947f0b3b7cf24ca61585564c2d47400ee8008a70cdfa9a9695e11927"

[2015-04-16 13:22] epwinchell commented on #2630
@jrafanie Tested. Looks good.

[2015-04-16 13:47] h-kataria commented on #2630
@skateman can you add a screenshot.

[2015-04-16 14:05] skateman commented on #2630
sure :)
![animated](https://cloud.githubusercontent.com/assets/649130/7182543/68a6c1d0-e452-11e4-9f9e-b66e5fc0549c.gif)

[2015-04-16 14:43] epwinchell commented on #2630
Awesome!

[2015-04-16 15:45] #2630 closed

[2015-04-16 21:53] Fryguy commented on #1234
Closed by #2354

[2015-04-16 21:53] #1234 closed

[2015-04-17 14:13] blomquisg opened #2662 "Stalled Build: https://travis-ci.org/ManageIQ/manageiq/jobs/58792410"
Build: https://travis-ci.org/ManageIQ/manageiq/jobs/58792410

Commit:
https://github.com/ManageIQ/manageiq/commit/db180c7c2c94475c99860d62ea9852389e6ad0bd

Error:

[2015-04-17 14:25] abonas opened #2663 "kubernetes provider - add persistence of state on container entity"
@miq-bot add_label providers/containers

[2015-04-17 14:26] abonas commented on #2663
note: db and UI seem to have the support added, but might need to be revisited too.

[2015-04-17 14:26] blomquisg opened #2664 "Stalled Build: https://travis-ci.org/ManageIQ/manageiq/jobs/58807062"
Build: https://travis-ci.org/ManageIQ/manageiq/jobs/58807062

Commit: https://github.com/ManageIQ/manageiq/commit/718014a34d9d43e1d7293f9daaee012970739c88

Error:

[2015-04-17 21:54] abonas commented on #2663
relevant issue: https://github.com/GoogleCloudPlatform/kubernetes/issues/6979

[2015-04-19 15:08] abonas commented on #2663
@miq-bot assign @zeari

[2015-04-19 15:22] abonas commented on #2647
@miq-bot assign @zeari
please note pay attention that the name can't end with _id on manageiq side not to confuse it with fk.
pls check https://github.com/ManageIQ/manageiq/pull/2627 for example

[2015-04-20 10:24] abonas opened #2675 "kubernetes provider UI - add left pane filters for entities where it's missing"
@miq_bot add_label providers/containers
@miq_bot add_label ui

[2015-04-20 12:35] abonas commented on #2675
cc @erinboyd

[2015-04-20 15:45] Fryguy commented on #2664
@blomquisg Don't open tickets for separate stalled builds.  The stalled builds don't seem to have anything to do with our code, and are more on travis side from what it seems.  We should deal with them perhaps via the bot: https://github.com/ManageIQ/miq_bot/issues/41

[2015-04-20 15:45] #2664 closed

[2015-04-20 15:46] #2333 closed

[2015-04-20 15:46] #2334 closed

[2015-04-20 15:46] #2434 closed

[2015-04-20 15:46] #2439 closed

[2015-04-20 15:46] #2493 closed

[2015-04-20 15:46] #2574 closed

[2015-04-20 15:46] #2614 closed

[2015-04-20 15:46] #2641 closed

[2015-04-20 15:46] #2662 closed

[2015-04-20 15:47] Fryguy commented on #2609
yeah, this whole validation is a mess, perhaps we can make it optional, and then the providers themselves override with specifics?

[2015-04-20 15:48] Fryguy commented on #2595
I suggest not putting it there at all, or perhaps in a tooltip.  Then document away the problem.

[2015-04-20 15:50] Fryguy commented on #2561
@dajohnso Can you verify this?

[2015-04-20 15:50] abonas commented on #2609
yes, though it might be a cross provider thing. oVirt engine and k8s can be on the same host with no issue, for example. but perhaps you can't have 2 same typed providers on the same hostname?
cc @simon3z

[2015-04-20 15:52] Fryguy commented on #2555
Closing since we've already released RC2.

[2015-04-20 15:52] #2555 closed

[2015-04-20 16:21] tzumainn opened #2682 "Issue with OpenStack cloud provider when Cinder is not present"
When Cinder is unavailable, ems_refresh for the OpenStack cloud provider results in this error:

undefined method `volumes_for_accessible_tenants' for #OpenstackHandle::ComputeDelegate:0x000000070fb408

One fix is to update lib/openstack/openstack_handle/handle.rb and remove the Volume service's fallback to Compute  (and then there's one additional fix needed in vmdb/app/models/ems_refresh/parsers

[2015-04-20 16:30] gmcculloug commented on #1970
Enhancement added with PR #2612

[2015-04-20 16:30] #1970 closed

[2015-04-20 16:30] simon3z commented on #2609
This validation is useless... for example two hostnames could point to the same infrastructure... and as @abonas  mentioned, on the other hand, you could have two different providers on the same hostname. Even two of the same kind using different ports.

[2015-04-20 17:58] blomquisg opened #2685 "Stalled Build: https://travis-ci.org/ManageIQ/manageiq/jobs/59252171"
Build:
https://travis-ci.org/ManageIQ/manageiq/jobs/59252171

Commit:
https://github.com/ManageIQ/manageiq/commit/d65852fa440c20cc23335f995817b50e0d101e36

Error:

[2015-04-20 22:02] blomquisg opened #2692 ""packfile" Build Failure: https://travis-ci.org/ManageIQ/manageiq/jobs/59257084"
Commit: https://github.com/ManageIQ/manageiq/commit/d5c66377b68f1720182a9b16027c11f910c3b07f

Build: https://travis-ci.org/ManageIQ/manageiq/jobs/59257084

Error:

(same error/warning lines repeated hundreds of times before dying)

[2015-04-21 06:47] skateman commented on #739
Fixed by rewriting the form to angular! It can be closed!

[2015-04-21 07:57] #739 closed

[2015-04-21 08:40] jayyvis opened #2695 "VM name exists error while provisioning catalog item"
Hi,

I'm facing '[MiqException::MiqProvisionError]: A VM with name: [ubuntu] already exists' error during service_template_provision_task. I'm provisioning a service catalog item where the instance name is set as "ubuntu" under Request Info.

ManageIQ used to automatically append sequence numbers to the vm name like ubuntu_0001, ubuntu_0002, when I was running from master commit 82f08de2d20f8cd577

[2015-04-21 10:57] jayyvis opened #2697 "Unexpected error: Approving provision request"
I'm running ManageIQ Release botvinnik-1-rc2 (commit 74228e332a11eaa312e929071efb052a6a8e697b) and got the following error on clicking the approve button of a pending provision request.

[code]
- Same error upon clicking "Deny this Request" button as well.
- Couldn't find any error logs/stack traces in evm.log file

[2015-04-21 13:00] mkanoor commented on #2695
@jayyvis
In the instance name you under the request you should be setting the instance name as ubuntu_$n{3}
The $n{3} is the one that increments vmnames after searching thru the DB

[2015-04-21 14:06] jayyvis commented on #2695
@mkanoor Thanks for helping me. Specified instance name as "ubuntu_$n{3}" but ended up with next issue.

Provision request reaches active state and remains there. Logs revealed this:
[code]

Quick check in AWS console revealed that instance [i-dc60d100] got provisioned & running but its name is <blank>. Thinking if ManageIQ is sending "ubuntu_$n{3}" as is to AWS api and ending up with a blank name

[2015-04-21 14:13] jayyvis opened #2699 "Unexpected error: Editing Service Catalog Item"
Got the following error while trying to edit an existing service catalog item. I tried changing "Request Info" > "Instance Name" and clicked "Save" button. Irrespective of this error, the changes are being saved.

[code]

ManageIQ version:
commit 74228e332a11eaa312e929071efb052a6a8e697b
Release botvinnik-1-rc2

[2015-04-21 14:18] mkanoor commented on #2695
@jayyvis
We set the name after the instance has been provisioned as part of the post installation customizations. We never send the $n{3} over, the instance name is fully resolved before we call the customization.
You might want to check from the automate.log if the customization steps ran.

[2015-04-21 15:20] jayyvis commented on #2695
@mkanoor Tried same steps with openstack template and it works fine.

But still aws provisioning results in empty name for the instance in AWS console and ManageIQ request stays at active state with following log repeated (evm.log)

[code]

[2015-04-21 15:39] blomquisg opened #2703 "Stalled Builds"
Commit: https://github.com/ManageIQ/manageiq/commit/0efcb81545da475a374577d2ae3088415642afce

Build1: https://travis-ci.org/ManageIQ/manageiq/jobs/59310499

Error1:

Build2: https://travis-ci.org/ManageIQ/manageiq/jobs/59310500

Error2:

[2015-04-21 16:07] #2054 closed

[2015-04-21 17:25] #2685 closed

[2015-04-21 17:25] #2703 closed

[2015-04-21 20:52] h-kataria opened #2714 "Need to convert leftover dhtmlxtree selectItem calls to be dynatree specific calls"
Results of grep for selectItem:
grep -R ".selectItem" vmdb
* vmdb/spec/presenters/explorer_presenter_spec.rb:foo_tree.selectItem(sel_node);
* vmdb/app/controllers/catalog_controller.rb:      page << "automate_tree.selectItem('root');"
* vmdb/app/controllers/miq_ae_customization_controller.rb:        page << "#{x_active_tree}.selectItem('#{x_node}');"
* vmdb/app/controllers/report_controller/report

[2015-04-21 21:20] mkanoor commented on #2695
@jayyvis
When we submit a provision request to EC2 we wait for a "inventory refresh" to bring in the new instance information after it has been successfully provisioned. This message which comes from vmdb/app/models/miq_provision/state_machine.rb line #28 which requeues the poll_destination_in_vmdb till the time the vm shows up in the VMDB. You might want to ensure that the ems refresh is working

[2015-04-21 21:46] mkanoor commented on #2695
@jayyvis
In the file vmdb/app/models/miq_provision_cloud/state_machine.rb there is a function called poll_clone_complete, this is the function that is waiting for the provision to end. There is a log message here which should give you some idea about the current state of the provision
$log.info("MIQ(#{self.class.name}#poll_clone_complete) #{message}")

e.g. The first 2 messages below show we are w

[2015-04-22 08:16] jayyvis commented on #2695
@mkanoor Thanks for explaining how it works and helping me to narrow down the issue.

INFO -- : Q-task_id([miq_provision_27]) MIQ(MiqProvisionAmazon#poll_clone_complete) Clone of [Ubuntu Server 14.04 LTS] to Vm [ubuntu_001] is completed; post provision work queued

The log confirms provisioning is done and found that MiqEmsRefreshWorkerAmazon is not running (rake evm:status). Tried evm:restart, bu

[2015-04-22 08:43] abonas opened #2716 "Kubernetes provider - add a relationship from pod to services in UI"
as discussed here https://github.com/ManageIQ/manageiq/pull/2659
cc @simon3z

@miq-bot add_label providers/containers

[2015-04-22 09:32] jayyvis commented on #2695
Tried modifying the credentials and then ManageIQ brought up MiqEmsRefreshWorkerAmazon automatically.

[2015-04-22 11:03] jayyvis commented on #2695
@mkanoor Thanks for your help. Everything works fine now.

[2015-04-22 11:03] #2695 closed

[2015-04-22 18:29] blomquisg opened #2726 "Possible Sporadic Test Failure"
Commit: https://github.com/ManageIQ/manageiq/commit/b1868ec44ebd52d7290156c25f7915a3072b606e

Build: https://travis-ci.org/ManageIQ/manageiq/jobs/59593761

PR: https://github.com/ManageIQ/manageiq/pull/2708

Failures:
  1) VmdbwsController With a small environment containing a cluster with resource pools should return Management Systems relationships
     Failure/Error: ems.datastores.first.id.sho

[2015-04-22 19:54] screeley44 opened #2729 "Kubernetes Providers: add sorting capability on container provider ems_container/show screens - similar to the show_list screens"

[2015-04-22 19:58] screeley44 commented on #2729
@miq-bot add_label providers/containers

[2015-04-22 19:59] screeley44 commented on #2729
this is from the relationships links (container_groups, container_services and container_nodes).  The top level menu items all function properly

[2015-04-22 23:10] abonas commented on #2056
@zeari how is that example related?

[2015-04-23 10:49] mfalesni opened #2735 "Enhancement - Keyboard shortcuts"
When operating Zimbra, I thought of that something like that might be nice to have in MiQ. Like pressing `a e` to get to Automate/Explorer, `i v` to Virtual machines and similar in places where it would be possible.

[2015-04-23 10:52] skateman commented on #2735
Great idea, after merging #2734 we will support hotkeys with [jquery-hotkeys](https://plugins.jquery.com/hotkeys/). Whad do you think @dclarizio @martinpovolny ?

[2015-04-23 19:39] kbrock opened #2744 "More fields for foreman screens"
We added a number of fields to foreman records. This is displaying which fields should be present.

/cc @brandondunne @gmcculloug @h-kataria @dclarizio

related to [trello enhance](https://trello.com/c/cvEneUBl/82-3-foreman-ui-enhancements-summary-screens)

---

# provider ( configuration manager)

- name, url, zone, refresh date, region
- add: status (whether password is valid)
- (alternatively t

[2015-04-23 20:54] jrafanie commented on #2692
Found this https://bitbucket.org/site/master/issue/7295/error-on-cloning-repository-pack-does-not.
Seems to be either a permission issue with ssh based git cloning or corrupted indexes.  Either way, it's not clear why it's happening sporadically.

[2015-04-23 21:15] h-kataria opened #2747 "Removal of code that used to send link to scheduled report in email."
There is some unused code left behind from the days when we used send a link to scheduled report in an email instead of attachments.
- https://github.com/ManageIQ/manageiq/blob/master/vmdb/app/controllers/report_controller/schedules.rb#L473
- https://github.com/ManageIQ/manageiq/blob/master/vmdb/app/models/miq_report/notification.rb#L4
- https://github.com/ManageIQ/manageiq/blob/master/vmdb/app/mo

[2015-04-24 15:17] romanblanco opened #2750 "Ugly font on login screen"
I noticed that font on login screen changed, probably missing link to font:

Before:
![screenshot-localhost 3000 2015-04-24 17-08-44](https://cloud.githubusercontent.com/assets/1187051/7321990/8614335c-eaa5-11e4-9987-1bdd48d03a9b.png)
After:
![screenshot-localhost 3000 2015-04-24 17-08-57](https://cloud.githubusercontent.com/assets/1187051/7321991/884f71d6-eaa5-11e4-84d2-054f7462b2c1.png)

[2015-04-24 15:18] romanblanco commented on #2113
This bug no longer exists, issue can be closed.

[2015-04-24 15:37] blomquisg opened #2751 "EmsRedhat#connect method should take "Metrics" as an argument"
All of the other providers allow for `connect(:service => "Metrics")`.  `EmsRedhat#connect(:service => "Metrics")` should return a connection to the Ovirt Metrics service for that RHEVM Provider.

[2015-04-24 18:26] skateman commented on #1552
@Fryguy I think we can close this!

[2015-04-24 19:28] h-kataria commented on #2714
Fixed in https://github.com/ManageIQ/manageiq/pull/2752

[2015-04-24 19:28] #2714 closed

[2015-04-24 19:58] #2113 closed

[2015-04-24 20:42] screeley44 commented on #2729
Worked with @h-kataria this afternoon on this and we discovered that this is broken for Infra as well, side note the grid view and other views the sorting does work... @h-kataria will investigate and get back to me on this

[2015-04-24 21:35] h-kataria commented on #2747
@dclarizio @jonnyfiveiq wanted to check with you if we should go-ahead and take out this code that is no longer in use, we have this leftover code(technical debt) that still sets the link to be sent out in an email when a schedule report is run. This functionality was replaced by txt/csv/pdf attachments in the emails and from what we can see, not only are the links not sent out, but they wouldn't

[2015-04-26 12:49] zeari commented on #2056
Its an example of a service with annotations:
[code]

@abonas It looks like we can store annotations like we store labels:
[code]

[code]

[2015-04-27 14:57] jrafanie commented on #2692
Perhaps it's a git version thing?

[2015-04-27 15:00] abonas opened #2757 "Containers provider UI - Add a link to containers from container group main page and left pane"
As a followup to this [PR](https://github.com/ManageIQ/manageiq/pull/2661), need to add the relationship on the left pane, as well as make the main page relationship clickable that will lead to containers page (only when there are > 0 containers)

[2015-04-27 15:00] abonas commented on #2757
@miq-bot add_label providers/containers
@miq-bot add_label ui

[2015-04-27 15:00] abonas commented on #2757
cc @erinboyd

[2015-04-28 14:39] erinboyd opened #2771 "MiqSearch.seed doesn't remove filter when it's removed from yaml file"
When miq_searches.yml is udpated and MiqSearch.seed is run, the deleted queries don't get removed from the DB

[2015-04-28 15:11] erinboyd commented on #2771
@h-kataria

[2015-04-28 19:08] screeley44 commented on #2757
@abonas - I took this one off of Erin's hands as she had too much work to do for Hadoop and her other PR/Issue

[2015-04-28 19:19] matthewd opened #2781 "OpenStack doesn't support stop"
While looking at #2780, I noticed [app/models/vm_openstack/operations/power.rb#L3](https://github.com/ManageIQ/manageiq/blob/00e4b67c09e2f36b4af0326eb228d61fc3c643f3/vmdb/app/models/vm_openstack/operations/power.rb#L3).

It seems like it should be supported, though... both because it's a pretty fundamental operation, and because OpenStack [seems to know how to do it](http://developer.openstack.org

[2015-04-28 20:07] matthewd commented on #2781
See also: https://bugzilla.redhat.com/show_bug.cgi?id=1115557#c28

[2015-04-29 10:37] abonas commented on #2716
@miq-bot add_label ui

[2015-04-29 12:21] romanblanco opened #2788 "Confusing title in form for adding a new user"
In form for adding a new user are required, besides other things, credentials titled as **Name** and **User ID**.
![screenshot-localhost 3000 2015-04-29 13-50-42](https://cloud.githubusercontent.com/assets/1187051/7390521/67e5c5ee-ee79-11e4-8776-be2c723ed510.png)

Confusing to me is, that **User ID** is value that is used for login, but in login form is title **Username** instead of **User ID**.
!

[2015-04-29 14:14] dclarizio commented on #2788
@epwinchell @mfeifer Would appreciate your comments.

[2015-04-29 14:18] epwinchell commented on #2788
@romanblanco @dclarizio @martinpovolny @mfeifer  Sounds like a great idea to me. We should be consistent.

[2015-04-29 14:18] mfeifer commented on #2788
Definitely agree.

[2015-04-29 15:22] mcornea opened #2791 "Events not showing up in Timelines with multiple event groups"
In Openstack Infrastructure Provider Timelines if I choose power activity, creation/addition and configuration/reconfiguration event groups some events disappear. If I choose the event groups individually all the events show up. You can see that the b8e45513-.. power event is missing when selecting all the event groups.

![power](https://cloud.githubusercontent.com/assets/12097998/7394450/e918ba9e

[2015-04-29 17:51] dclarizio commented on #2788
@romanblanco We can proceed on this, but I don't think we need to change the variables or DB fields associated with the user fields.  Probably just need to add dictionary entries, change the views and change any messages that mention these fields.

[2015-04-29 18:18] Fryguy opened #2795 "Login page title is "My UI Tasks""
cc @dclarizio @h-kataria

[2015-04-29 19:13] dclarizio commented on #2795
@Fryguy What is this?  I don't see this in my env . . . you have a screen shot?  Does it happen all the time or just after you visit that page and logout?

[2015-04-29 19:17] Fryguy commented on #2795
well now I'm not sure...I logged out and now it says "ManageIQ: Dashboard" (which is arguably wrong also, because I'm not on the Dashboard.  Restarted server and now it says "ManageIQ: Dashboard".  I've seen this numerous times though, so maybe it's session related or something.  I'll close for now and reopen if I see it again.

[2015-04-30 08:33] #2638 closed

[2015-04-30 11:35] akarol commented on #1994
No error on save/reset buttons.
verified :master.20150430053603_05ac99e

[2015-04-30 11:36] #1994 closed

[2015-04-30 11:47] akarol commented on #1995
No error on add catalog bundle
verified :master.20150430053603_05ac99e

[2015-04-30 11:47] #1995 closed

[2015-04-30 12:00] akarol commented on #2002
No error in simulate
verified :master.20150430053603_05ac99e

[2015-04-30 12:00] #2002 closed

[2015-04-30 20:48] jrafanie commented on #2791
@mcornea Are you in development? `echo $RAILS_ENV` (it's dev unless RAILS_ENV is set).  If you click on the area that `b8e45513-` should be, does it include the missing `b8e45513-` event?  Perhaps the timeline displays up to X number of items at any specific timeframe.  @dclarizio @h-kataria do you know?

If it's not a UI, thing... Can you enable rails debug logging by changing level_rails?  See t

[2015-04-30 21:02] dclarizio commented on #2791
@mcornea This looks like a limit of the timeline control we are using, it has no vertical scroll capability.  We have looked at replacements, but just haven't made it a priority to swap something else in.  Open to suggestions, however.  The filters allow you to try to get the quantity down so you can see more items.  Another way is to define the intervals smaller, say minutes, then it won't try to

[2015-04-30 21:16] h-kataria commented on #2791
@mcornea @dclarizio found this link online http://simile-widgets.org/wiki/Timeline_VerticalScrollbar looks like this can be done, maybe we can try this and see if it works.

[2015-04-30 21:32] h-kataria commented on #2791
tried to implement the suggestion on that link thinking it might be an easy fix, but it doesnt look like it is quite ready, maybe it is not supported with multiple bands on the timeline, see attached screenshots:

![tl2](https://cloud.githubusercontent.com/assets/3450808/7422906/cf471266-ef5e-11e4-9cd5-513a323b5a9d.png)

![screenshot from 2015-04-30 17 26 21](https://cloud.githubusercontent.com/as

[2015-05-01 14:25] bronaghs opened #2820 "Update rspec SCVMM inventory input file and refresher_spec"
The SCVMM refresh parser uses a static file as its inventory source. Since it was created new powershell code has been added to gather more information and the SCVMM parser has been updated to process that data.

The static input file needs to be updated to contain all the data currently being parsed by the SCVMM parser. This will disrupt the current rspec tests since the names and values they con

[2015-05-03 12:47] abonas commented on #2716
@miq-bot assign @zeari

[2015-05-04 21:31] h-kataria commented on #2795
@Fryguy i am reopening this, i was able to recreate this issue, if i am on My Tasks screen and logout, login screen shows ManageIQ: My UI Tasks as title.

[2015-05-05 07:31] oldulov opened #2838 "LDAP: undefined users to log in when “Get User Groups from LDAP” is disabled"
Hello,

During Sprint 16 end 2014-12-02, it was two changes for LDAP:
-  Allow undefined users to log in when “Get User Groups from LDAP” is disabled
-  Ability to set default group for LDAP Authentication

But it seems to be do not working on current upstream for the LDAP Structure, if there are no memberOf relationship. Login Page shows: "Sorry, the username or password you entered is incorrect.

[2015-05-05 14:23] simon3z opened #2842 "Collect additional container node information (osImage, kernelVersion, etc.)"
There are some new node information that it may be worth collecting (requires some discussion)

    nodeInfo:
      ...
      containerRuntimeVersion: docker://1.5.0-dev
      kernelVersion: 3.10.0-229.1.2.el7.x86_64
      kubeProxyVersion: v0.16.2-351-gbcab32372fbf90
      kubeletVersion: v0.16.2-351-gbcab32372fbf90
      ...
      osImage: CentOS Linux 7 (Core)
      ...

[2015-05-05 14:23] simon3z commented on #2842
@miq-bot add_label providers/containers

[2015-05-05 19:18] screeley44 opened #2846 "Remove search text field from the containers summary screen"
@miq-bot add_label providers/containers

[2015-05-06 08:17] abonas opened #2854 "Containers - fix default port checks in UI"
This issue is a placeholder to fix the following review comment:
https://github.com/ManageIQ/manageiq/pull/2611#discussion_r29698845

@miq-bot add_label providers/containers

[2015-05-06 08:17] abonas commented on #2854
@miq-bot assign @abonas

[2015-05-06 14:03] abonas commented on #2846
@miq-bot add_label ui

[2015-05-06 18:29] Fryguy commented on #2795
Oh phew...thought I was losing it :)

[2015-05-06 18:31] Fryguy commented on #2771
I don't think the miq_searches has a "system" flag to tell apart the OOtB searches from those added by a user.  We can't do delete unless we have that field.

[2015-05-06 20:06] dclarizio commented on #2795
@Fryguy doesn't mean you're not losing it, just not cuz of this.

[2015-05-06 20:25] h-kataria commented on #2795
@dclarizio should the title on Login screen say ManageIQ: Login instead of ManageIQ: Dashboard

[2015-05-06 21:58] dclarizio commented on #2795
@h-kataria Yes, xxx: Login makes sense.

[2015-05-07 14:27] abonas commented on #1955
@miq-bot assign @zeari

[2015-05-07 14:28] abonas commented on #2729
is there any update on this? was this fixed cross product?

[2015-05-07 14:41] screeley44 commented on #2729
@abonas   -  original BZ  https://bugzilla.redhat.com/show_bug.cgi?id=1215272

and here is the PR from this:  https://github.com/ManageIQ/manageiq/pull/2857

this PR is fairly new, so not merged yet

[2015-05-07 14:55] Fryguy commented on #2451
One thing I'd like is to not have the websockify code directly in our source...if it's Ruby, we can use a gem, but even with the python one, can we use an egg?

[2015-05-11 13:11] martinpovolny opened #2885 "update `rake gettext:find` to understand new ruby features such as `%i`"
The current  `rake gettext:find` fails on `%i` in HAML

We need to fix that.

[code]

[2015-05-12 02:26] #2744 closed

[2015-05-12 12:02] zeari opened #2896 "Show screen for container providers is causing an exception"
clicking on a provider in the container providers page leads to an exception with the error: ```undefined method `name' for nil:NilClass [ems_container/show]```

![provider_error](https://cloud.githubusercontent.com/assets/11256940/7586666/db617fa2-f8b7-11e4-9f02-79df408343cf.png)

[2015-05-12 12:03] zeari commented on #2896
@miq-bot add_label providers/containers

[2015-05-12 12:03] zeari commented on #2896
@miq-bot add_label ui

[2015-05-12 14:00] blomquisg opened #2897 "Provisioning test failure"
This failure appears to be unrelated to the code that was changed in the PR.  I'm restarting the test, but wanted it captured here.

[code]

Build: https://travis-ci.org/ManageIQ/manageiq/jobs/61613024
PR: https://github.com/ManageIQ/manageiq/pull/2867

[2015-05-12 14:18] mkanoor commented on #2897
I had worked on the allowed_vs issue recently with one of the PR’s.
I will look into this.

Thanks,
Madhu

[2015-05-12 17:46] mkanoor commented on #2897
This has been fixed by @jrafanie via PR
https://github.com/ManageIQ/manageiq/pull/2873

[2015-05-12 17:46] #2897 closed

[2015-05-12 18:03] mfeifer opened #2902 "Remove Links to Documentation on Configure-About page"
Perhaps replace with links to talk.manageiq.org? manageiq.org? Docs and Guides repos?

[2015-05-13 15:02] #2846 closed

[2015-05-13 20:04] #2757 closed

[2015-05-14 12:33] zeari opened #2914 "No UI screen for container replication controllers"

[2015-05-14 12:34] zeari commented on #2914
@miq-bot add_label ui
@miq-bot add_label providers/containers

[2015-05-14 12:35] zeari commented on #2914
@miq-bot add_label providers/containers

[2015-05-14 12:36] zeari commented on #2896
@abonas

[2015-05-14 12:36] zeari commented on #2914
@abonas

[2015-05-14 13:50] abonas commented on #2914
@simon3z

[2015-05-14 14:02] jrafanie commented on #2526
Very similar failure:

[code]

Failed also at 4087b447e0ba723c9103d843a738b926a42c6c1f
Randomized with seed 18104

[2015-05-14 14:02] jrafanie commented on #2526
Related to #2481 #1210

[2015-05-14 14:22] abellotti commented on #2524
Just tried this today, worked fine.

Here's my setup:

Ruby 2.0.0-p643
CentOS 7.1.1503
PostgreSQL 9.2.10
Rails 3.2.17

test with latest upstream and REST API v2.0.0

[2015-05-14 15:02] Fryguy commented on #2243
Let's just make port a number.

[2015-05-14 15:05] Fryguy commented on #2209
This is needed for containers team.  cc @abonas

[2015-05-14 15:06] Fryguy commented on #2099
I started renaming to verify_connection, but then naming wise you have the opposite problem where it's not clear that credentials also need to be verified.  I am just going to leave it as is for now.

[2015-05-14 15:06] #2099 closed

[2015-05-14 15:12] abonas commented on #2209
cc @simon3z , @oschreib

[2015-05-14 15:14] abonas commented on #2896
@zeari we'll need more information on this:
1. does it always happen? (I assume not...) - what solved it?
2. logs?
3. detailed exception?

[2015-05-14 15:18] zeari commented on #2896
@abonas
It doesn't replicate on your end?

1. Yes, always.
2. Couldn't manage to get logs for UI issues. Where can I find them?
3. Thats all that appears on screen.

I can say that the exception originates from the corresponding textual_summary.rb

[2015-05-14 15:20] abellotti commented on #2209
We need to make sure this capability is also supported via  /api/providers REST API posts.

[2015-05-14 15:53] abonas commented on #2896
@zeari,  it works for me.
@h-kataria , any advice on logs - where more details can be retrieved? nothing on evm.log

[2015-05-14 15:54] h-kataria commented on #2896
@abonas @zeari look in production.log or development.log depending upon the mode you are running in

[2015-05-14 18:25] #2647 closed

[2015-05-15 02:31] kbrock commented on #2209
@blomquisg Do you care if it is the ca cert, or the fingerprint for the endpoint? (I guess with the self signed case it is the same thing)

@Fryguy In the case where multiple servers serve from the same http endpoint, all the servers share the same ssl certificate, and have the same fingerprint. According to

@abellotti I hear you sayingthat we need to make sure that a provider created via our RES

[2015-05-15 12:31] abellotti commented on #2209
if we're updating the Create provider web UI with new fields (i.e. ca/fingerprint) that users specified, we need to support such new fields in the REST request, i.e. part of usercredentials or otherwise. If we're not asking for it (i.e. downloading as your first point above), then there's no need.

[2015-05-15 18:54] #2481 closed

[2015-05-15 21:27] akrzos opened #2936 "Root account on Botvinnik RC3 is inaccessible on oVirt/RHEV environment"
I have deployed both Botvinnik RC3 ova and latest master manageiq ova on RHEV 3.4.5 and I cannot access the appliance's terminal through ssh or via console.  The root account is either locked out or the password has changed.

[2015-05-15 21:29] Fryguy commented on #2936
Not sure who should look at this.  @jvlcek @jrafanie @kbrock @brandondunne you guys can duke it out :smile:

cc @chessbyte @gmcculloug

[2015-05-15 21:30] Fryguy commented on #2936
Is this the cloud-init thing?  I vaguely recall this kind of issue.

[2015-05-15 21:33] Fryguy commented on #2936
Is this related to #2739 ?

[2015-05-15 21:34] brandondunne commented on #2936
Password authentication is enabled, but not allowing access.  I believe cloud-init was disabling password authentication

[2015-05-15 22:09] Fryguy commented on #2936
I found the cherry-pick in botvinnik anyway, so, regardless, the fix from that PR is already there: https://github.com/manageiq/manageiq/commit/f0c2a1b

[2015-05-16 10:15] simon3z commented on #2842
@miq-bot assign @zakiva

[2015-05-18 12:10] jvlcek commented on #2936
@JPrause and I were looking at this on Friday. Seem the PR above addresses this issue on all 3 downstream images and 2 of the upstream images. It only fails on upstream RHEVm.

I'm currently investigate the kick-start generation for RHEVm upstream

[2015-05-18 13:23] jvlcek commented on #2936
I'll own this. @Fryguy or anyone else with access, please set me as the "Assignee"

[2015-05-18 13:26] brandondunne commented on #2936
@miq-bot assign @jvlcek

[2015-05-18 13:36] blrm opened #2939 "Nightly upstream builds on 5/15/15 are empty files for openstack and ovirt."
The upstream builds from last friday (5/15) are 0 byte files for the openstack and ovirt environments. The vsphere image is complete and working.

[2015-05-18 14:56] Fryguy commented on #2939
@jvlcek @JPrause Please see.

cc @jrafanie

[2015-05-18 15:48] jrafanie commented on #2939
I looked, I can't tell why it failed, it looks like an `address in use` error which usually occurs when the prior appliance build failed, hung at some point, causing subsequent builds to fail since the address is in use.  It didn't seem to happen here though.  I'm not sure what happened.  @abellotti did you see any stalled appliance builds (`virsh list`) on friday when you were testing?

[2015-05-18 15:57] abellotti commented on #2939
Not that I could tell, virsh list did now show any running builds before I kicked off the centos71 test builds.

[2015-05-18 16:01] Fryguy commented on #2939
When did you kick it off...maybe it overlapped with the nightly build time?

[2015-05-18 16:46] abellotti commented on #2939
Very possible, my trello card update says it was finished before 7:25PM, but the log files suggest otherwise (21:10). i.e. time issue on virtlab31 and/or nightly script not checking virsh list before running. Sounds like we just need to kick off another nightly for now.

[2015-05-18 19:15] rananda commented on #2795
BZ ticket https://bugzilla.redhat.com/show_bug.cgi?id=1222667

[2015-05-18 19:31] rananda commented on #2788
Verified and fix is available in both upstream and downstream.
Upstream -  master.20150518114920_83a5813

[2015-05-18 19:58] rananda commented on #2750
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1222681

[2015-05-18 20:03] rananda commented on #2751
BZ issue - https://bugzilla.redhat.com/show_bug.cgi?id=1222683

[2015-05-18 20:28] Fryguy commented on #2939
Ok, let's wait until tonight's nightly and see what happens.  If it works, we might need to change the nightly builds to check virsh list first and then delay/cancel+email if something is already running

[2015-05-18 20:43] epwinchell commented on #2750
@romanblanco It looks like you are comparing the 5.3 login screen with the 5.4 (Bootstrap). The only difference I see is the spacing of the labels next to the text field - and that is not a font issue or a bug.  Am I missing something?

[2015-05-19 12:29] jvlcek commented on #2936
@akrzos  Can you please test the same upstream image, the one you see failing on oVirt/RHEVm 3.4.5,
      on other RHEVm versions, e.g.: 3.3 and 3.5

[2015-05-19 12:34] akrzos commented on #2936
@jvlcek Unfortunately, I can not, I only have a RHEV 3.4 environment.

[2015-05-19 13:48] jvlcek commented on #2939
Images from 18-May-2015 seem to be OK. They are all @ 1g in size

[2015-05-19 14:59] #2750 closed

[2015-05-19 15:10] #2788 closed

[2015-05-19 15:20] #2486 closed

[2015-05-19 18:08] Fryguy commented on #2939
Must have just been a hiccup...probably overlapped with @abellotti testing

[2015-05-19 18:08] #2939 closed

[2015-05-20 16:33] moolitayer opened #2959 ""undefined method `name' for nil:NilClass [ems_container/show]" at Container Providers >> localkube (Summary) screen"
after adding a kubernetes provides.
built from src on top of commit f8d0128cfb4d144604665dd8343fd5f06445f8b4

Log shows:
[----] F, [2015-05-20T18:55:17.131172 #12875:1053e84] FATAL -- : Error caught: [NoMethodError] undefined method `name' for nil:NilClass
/home/mtayer/dev/manageiq/vmdb/app/helpers/ems_container_helper/textual_summary.rb:66:in `textual_zone'
/home/mtayer/dev/manageiq/vmdb/app/help

[2015-05-21 08:33] moolitayer commented on #2959
This was caused by me adding the provider through the rails console and not the ui
closing

[2015-05-21 09:04] moolitayer commented on #1955
@miq-bot assign @moolitayer

[2015-05-21 10:22] mcornea opened #2965 "Additional characters showing up in the column names when edition the host default profile"
Hello,

When trying to edit the host default analysis profile aditional characters show up in the columns names. I'm attaching a screenshot.

Thanks,
Marius
![edit_host_profile](https://cloud.githubusercontent.com/assets/12097998/7746607/0fd354f6-ffb4-11e4-9135-ec7752201be9.png)

[2015-05-21 14:29] Fryguy commented on #2795
@h-kataria Is this closed, then?

[2015-05-21 14:32] h-kataria commented on #2795
@fryguy yes this is fixed.

[2015-05-21 14:32] #2795 closed

[2015-05-21 14:42] Fryguy commented on #2959
Though it is weird that the EMS doesn't force a zone...we should look into that.

[2015-05-21 15:04] Fryguy commented on #2959
cc @blomquisg

[2015-05-25 11:16] simon3z opened #2987 "User interface stuck on "loading" when C&U is missing"
The UI remains stuck on "loading" when trying to display C&U of an entity that has no metrics:

![screenshot from 2015-05-25 13 12 06](https://cloud.githubusercontent.com/assets/130393/7796458/b1d1d362-02df-11e5-8293-bfd5c83c52c6.png)

Received ajax is:

    miq_chart_data = {"candu":null};
    $("#flash_msg_div").replaceWith("...");
    $("#perf_options_div").replaceWith("...");
    $("#candu_cha

[2015-05-25 11:16] simon3z commented on #2987
@miq-bot add_label bug
@miq-bot add_label ui

[2015-05-26 10:35] zeari commented on #2896
@abonas Closing this. The problem was caused by defining a provider via command line and not adding a zone.

[2015-05-26 10:35] #2896 closed

[2015-05-26 12:10] akrzos commented on #2936
For Botvinnik-RC3, you can uncheck the "Use Cloud-Init/Sysprep" checkbox under "Initial Run", to have root access with the default credentials on a RHEV 3.4 environment.  My guess is that 3.4 checks this box by default.

[2015-05-26 12:18] rananda commented on #2487
Opened BZ tickets for pagination and drift history page rendering.

https://bugzilla.redhat.com/show_bug.cgi?id=1224967
https://bugzilla.redhat.com/show_bug.cgi?id=1225014

I am sure if there can be further implementation with respect to the vertical or horizontal scrolling as requested by @remoteur .  If so, please feel free to open up a BZ for it

[2015-05-26 12:45] rananda commented on #2483
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1225029

[2015-05-26 12:55] rananda commented on #2455
Verified and working fine in  master.20150526051041_83a5813.

[2015-05-26 13:01] mzazrivec commented on #1742
The problem no longer shows in current nightly, closing.

[2015-05-26 13:01] #1742 closed

[2015-05-26 13:30] mzazrivec commented on #1306
This problem was caused by incorrect data imported from a user database, closing.

[2015-05-26 13:30] #1306 closed

[2015-05-26 13:37] #2089 closed

[2015-05-26 13:39] #1221 closed

[2015-05-26 16:36] rananda commented on #2322
Verified and working fine in master.20150526051041_83a5813

[2015-05-26 18:27] Fryguy commented on #2936
Ok, so since we have a workaround for RHEV 3.4, then I think we can continue with the release of Botvinnik.  @mfeifer Can you be sure to document this in the Botvinnik changelog changes you are making?

[2015-05-26 18:41] #2965 closed

[2015-05-26 20:47] dclarizio commented on #2322
@mfalesni Please close if all is well.  Thx, Dan

[2015-05-26 21:39] #2987 closed

[2015-05-27 05:11] tonimaatta opened #2999 "REST API IP-address information"
This was talked on talk.manageiq.org. Don't know if it's a bug or if it should work or not, but retrieving IP-address using REST doesn't work.

http://talk.manageiq.org/t/provisioning-of-vms-retrieve-ip-information/578/7

[2015-05-27 09:09] mfalesni commented on #2322
This seems to be resolved.

[2015-05-27 09:09] #2322 closed

[2015-05-28 11:44] rananda commented on #2248
Verified and working fine in  master.20150526051041_83a5813

[2015-05-28 14:31] Fryguy commented on #2999
@abellotti Can you verify?  Seems like it's not a bug from reading talk, but can you check?

[2015-05-28 15:10] abellotti commented on #2999
Not a bug, this relies on the virtual attributes support which was added in v2.0.0. Rested against with upstream, works fine. Thanks.

[2015-05-28 16:38] mfalesni commented on #2999
Tested on downstream builds and it works too.

[2015-05-28 18:54] #2999 closed

[2015-05-29 09:29] #2455 closed

[2015-05-29 09:29] #2280 closed

[2015-05-29 09:29] #2248 closed

[2015-05-29 15:08] rananda commented on #2409
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1221754

[2015-05-29 16:26] rananda commented on #2243
Verified and working fine in  master.20150526051041_83a5813

[2015-05-29 19:41] rananda commented on #2208
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1226449

[2015-05-29 20:01] rananda commented on #2175
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1226452

[2015-05-29 20:09] rananda commented on #2150
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1202427

[2015-05-29 20:17] rananda commented on #2123
BZ link - https://bugzilla.redhat.com/show_bug.cgi?id=1226456

[2015-05-29 20:32] #2914 closed

[2015-06-01 19:56] mkanoor commented on #2215
One thing that we have to be careful is the $evm.instantiate that requires that an instance and tree of objects be added to the current workspace. This also provides for calling one automate method from another.

[2015-06-01 20:53] kbrock commented on #2215
So there are 3 actions:

data|example|access
---|---|---
vmdb|VM, template, host, hard drives|REST
workspace||STDIN/STDOUT
rpc|`$evm.instantiate`|leave asis

Can we just focus on using REST for the first one?

[2015-06-02 13:15] jrafanie opened #3032 "Sporadic test failure - EmsRefresh.refresh accepts VMs"
[code]

[2015-06-02 13:58] mcornea opened #3035 "'file /var/lib/pgsql/data does not exist' error in evm log"
Hello,

I'm seeing this error[1] in the evm.log file. At first sight it seems not to affect functionality and might be caused by the fact that I'm running manageiq as a user that doesn't have permissions to access the /var/lib/pgsql/data directory. I'm running ManageIQ development mode.

[1] https://paste.fedoraproject.org/228067/43325325/

[2015-06-02 14:48] #3032 closed

[2015-06-02 15:40] kbrock commented on #2215
we could provide the automate process a $workspace variable ($stdout) and remap $stdout/STDOUT to a log file.

[2015-06-02 15:49] jrafanie opened #3038 "Fix deprecation warning in test: depot_hash method is deprecated. Please use attributes and authentications of the instance instead"
We need to fix up the calling code and tests to not call these deprecated methods aded here: https://github.com/ManageIQ/manageiq/commit/0d86e9ce0c968422cf6deb2140173ce9f9fc6533

I don't really understand the interface the deprecation warning is suggesting.

Additionally, the message is losing the right caller because it's going through try which inserts a line into the caller array.

[code]

For

[2015-06-02 18:02] Fryguy commented on #3035
Yeah, that is definitely a permissions thing if you changed the user.  The appliance is self monitoring, and is trying to get statistics about the database size for the diagnostics area of the product.  It is assumed it will be able to see the data directory on the database appliance.

I know the goal is to eventually get away from running as root, so this will have to be addressed, but the user i

[2015-06-02 18:02] #3035 closed

[2015-06-03 11:14] skateman opened #3045 "Remove deprecated jQuery functions"
https://api.jquery.com/category/deprecated/

[2015-06-03 12:53] blomquisg commented on #2175
@mwedge, sorry for not getting back to you sooner on this. :/

Are you still having issues here?  If so, can you share your evm.log file?  We haven't been able to reproduce this specific problem in our lab environments.

[2015-06-03 14:09] #2090 closed

[2015-06-03 14:09] #910 closed

[2015-06-03 14:34] mwedge commented on #2175
Yes I am still having the issue.  I just deployed a fresh Botvinnik-RC3 on vmware.  Brought up the appliance, setup the proxy and tried to add amazon provider and got the bad login.  I tested the keys again with a simple fog script using the same keys through the same firewall and it works fine.  evm.log is here: http://pastebin.com/HpaWdxUF

[2015-06-04 13:26] #2716 closed

[2015-06-04 14:34] #3038 closed

[2015-06-05 11:10] simon3z opened #3077 "Container nodes cross-provider relationship implementation"
In order to implement the cross-provider relationship (`lives_on` in `container_nodes`) we have to roughly do something like:

    def save_container_nodes_inventory(ems, hashes, target = nil)
      ...
      # 1. check if the machine/infrastructure id of the hashes have been changed
      #    (this is an optimization)
      # 2. for the new hashes (or the ones that have a new machine/infrastruct

[2015-06-05 11:11] simon3z commented on #3077
@miq-bot add_label providers/containers

[2015-06-05 18:59] mkanoor commented on #2215
$evm.execute could also be a problem.
e.g.
$evm.execute('tag_exists?', category_name, tag_name)
$evm.execute('tag_create', category_name, :name => tag_name, :description => "#{tag}")

[2015-06-08 09:23] martinpovolny opened #3087 "variable usage in a CSS file"
https://github.com/ManageIQ/manageiq/blob/master/vmdb/app/assets/stylesheets/jqplot.css#L2

[2015-06-08 11:57] mcornea opened #3089 "Host name can't be blank error"
Hello,

I'm trying to add a new Openstack Infra provider and I'm getting a 'Host name can't be blank error' when submitting the form. The Host Name field contains the IP address. Screenshot attached.

Thanks
![hostname_error](https://cloud.githubusercontent.com/assets/12097998/8034260/501f5b0a-0de6-11e5-8738-d51c5623c00c.png)

[2015-06-08 18:08] Fryguy commented on #3089
Fixed in #3093.

Reverted a fix to a jquery change until it can be fixed for real.

[2015-06-08 18:08] #3089 closed

[2015-06-09 10:37] dkorn opened #3102 "UI: Singular-Plural Inconsistency in Container Groups Relationships links"
While the relationships links in Containers Providers, Nodes and Services all written in Plural and match the Relationships table in the resource view, in Container Groups the links are written as singular and don't match the table in the view.

![containergroupview](https://cloud.githubusercontent.com/assets/6347577/8055991/afffa6f8-0eac-11e5-8632-2c137066fdd7.png)
![groupvsprovider](https://clou

[2015-06-09 10:38] dkorn commented on #3102
@miq-bot add_label providers/containers
@miq-bot add_label ui

[2015-06-09 11:34] dkorn commented on #3102
@h-kataria can you confirm to me that it's indeed an issue?

[2015-06-09 11:41] mcornea opened #3103 "UI: Host analysis profile editing doesn't work"
Steps to reproduce
1. Go to Configure
2. Click on Analysis Profile, host default in the left Settings bar
3. Click on Configuration button and select Edit this Analysis Profile
![host_analysis](https://cloud.githubusercontent.com/assets/12097998/8056930/326e55ee-0ead-11e5-8d49-4ebf9f98a12a.png)

Result: There's no button for adding/editing file items. Screenshot attached.

[2015-06-09 13:33] h-kataria commented on #3102
@dkorn yes labels should always match on summary screen and left side navigation bar.

[2015-06-09 15:46] bronaghs opened #3106 "Add a new cloud provider screen for Azure"
Support for the Azure cloud provider needs to be added to the "Add New Provider" screen. Specifically:

1) Azure needs to be added to the list of supported providers in the "Type" drop down list in the "Basic Information" section alongside Amazon EC2 and Openstack.

2) We use the OAuth2 protocol to authenticate to Azure, this requires capturing the following pieces of information instead of a user

[2015-06-09 15:46] bronaghs commented on #3106
@miq-bot assign @dclarizio

[2015-06-09 18:17] h-kataria commented on #3103
@romanblanco can you look into this, is this caused by "Javascript cleanup: Using dot notation" to JS code.

[2015-06-10 08:49] mzazrivec opened #3110 "No route matches [GET] "/assets/codemirror-4.2/lib/codemirror.css""
Login into ManageIQ UI in current master:

ActionController::RoutingError (No route matches [GET] "/assets/codemirror-4.2/lib/codemirror.css"):
  ~/.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/bundler/gems/rails-4842a8377644/actionpack/lib/action_dispatch/middleware/debug_exceptions.rb:21:in `call'
  ~/.rbenv/versions/2.0.0-p645/lib/ruby/gems/2.0.0/bundler/gems/rails-4842a8377644/actionpack/lib/

[2015-06-10 09:35] romanblanco commented on #3103
@h-kataria I've tried to checkout branch after [merge](https://github.com/ManageIQ/manageiq/commit/6e841d2978752e17c1bdf929c81aec65f29c74c2), but after my changes everything seems to work correctly.

[2015-06-10 09:41] #3110 closed

[2015-06-10 11:24] abonas commented on #3102
@miq-bot assign @zakiva

[2015-06-10 16:05] jzigmund opened #3120 "UI: Auto scroll on menu navigation"
When user uses mobile/tablet for browsing he has to scroll down for menu items. That's happened when he opens 1st level menu and 2nd level appears off the page (in not visible area - user has to scroll down). Generally when the user has access to all menu items, he has to scroll down to see all items.
![screenshot from 2015-06-10 17 56 39](https://cloud.githubusercontent.com/assets/2270962/8087265

[2015-06-11 13:26] h-kataria commented on #3103
Fixed in https://github.com/ManageIQ/manageiq/pull/3127

[2015-06-11 13:26] #3103 closed

[2015-06-11 19:51] epwinchell opened #3139 "Convert Style1 Tables to Patternfly"

[2015-06-12 14:55] mfalesni opened #3144 "Store the errors somewhere where tests can pick them up."
At CFME QE, we sometimes see forever-spinning spinners. @martinpovolny made #2949 that catches such errors. I wonder if the errors can be pushed into some global array (probably in string format to have no problems unpacking the data in python), which the tests could read using selenium when our waiting for spinner times out. If this is considered a good idea and will be coded, it should be also c

[2015-06-15 19:26] kbrock opened #3170 "Move current_user into helper methods"
Most rails authentication systems have a concept of `current_user`.

Short term: We need to introduce a current user and current group concept. We will change session acces (e.g.: `session[:userid]`) to the helper method equivalent `current_user`.

Longer term: Would like to have the current_user method used by all and reduce the number of methods looking up the current_user. This way, the current

[2015-06-15 19:27] kbrock commented on #3170
Ping if you feel I am missing something

/cc @jrafanie @Fryguy @chessbyte

[2015-06-15 20:42] Fryguy commented on #3170
Looks good...just curious if this is like in order of importance?  Do you need all this for multi-tenancy?

[2015-06-15 20:50] kbrock commented on #3170
@Fryguy Thanks. added an above and below the fold. For multi-tenancy, I need a solid current_group concept.

[2015-06-15 22:02] GregP opened #3176 "undefined method `sort_by!' for #<ChargebackRateDetail::ActiveRecord_Associations_CollectionProxy:0x007fd9c7c89968> [chargeback/x_button]"
Steps to reproduce:

Cloud Intelligence => Chargeback => Rates => click on any rate in the list

Alternative way to reproduce this error is to click on either Compute or Storage rate group on the left, which displays rates for the group selected on the right hand side of UI, then select a rate within group.

Error call stack:

[code]

[2015-06-16 10:46] akarol commented on #2488
GTL buttons on sub-list views removed.
verified in upstream and downstream
upstream- master.20150612040846_5c763a8

[2015-06-16 12:55] epwinchell opened #3179 "Convert jQuery UI tabs to Patternfly"

[2015-06-16 13:59] #3045 closed

[2015-06-16 18:17] mkanoor opened #3186 "Rails 4 ago not supported on Fixnum"
[----] E, [2015-06-16T14:10:42.469405 #22116:3fd5ad8601d8] ERROR -- : MIQ(ScheduleWorker) undefined method `ago' for 120:Fixnum
[----] E, [2015-06-16T14:10:42.469506 #22116:3fd5ad8601d8] ERROR -- : [NoMethodError]: undefined method `ago' for 120:Fixnum  Method:[rescue in do_work]
[----] E, [2015-06-16T14:10:42.469561 #22116:3fd5ad8601d8] ERROR -- : /Users/madhukanoor/devsrc/manageiq/vmdb/lib/worke

[2015-06-16 21:35] GregP opened #3190 "ERROR: column miq_regions.miq_enterprise_id does not exist LINE 1: SELECT "miq_regions".* FROM "miq_regions" WHERE "miq_regions... ^ [miq_capacity/utilization]"
To reproduce, click on Optimize (tab) in UI

Log shows:

[----] E, [2015-06-16T14:28:18.146250 #44739:3fecde05e6e0] ERROR -- : PG::Error: ERROR:  column miq_regions.miq_enterprise_id does not exist
LINE 1: SELECT "miq_regions".* FROM "miq_regions" WHERE "miq_regions...
                                                        ^
: SELECT "miq_regions".* FROM "miq_regions" WHERE "miq_regions"."miq_ent

[2015-06-17 16:14] gmcculloug opened #3197 "Need to identify invalid catalog items/bundles in the UI"
Related to changes made in PR #2947

Catalog items that directly link to provision templates can become invalid if the associated VM template becomes archive, orphaned or deleted from the provider.  The backend has been modified so a user can edit the items and correct the issue by selecting a new template.

The UI needs to be updated to make it easy to identify the catalog items that need to be u

[2015-06-17 17:34] martinpovolny opened #3199 "regression due to new jquery"
@skateman :

[code]

`.live` is used by some code stilll..

please, fix asap master is broken; e.g. Reports --> Import --> try selecting a file

[2015-06-17 17:44] martinpovolny commented on #3199
[code]

[2015-06-18 10:52] #3199 closed

[2015-06-18 12:42] martinpovolny opened #3208 "Rails4 regression in MiqReport"
in `app/models/miq_report_result.rb` we have:

[code]

this seems to be causing:
[code]

When accessing generated reports. Cloud Inteligence ---> Reports --> Saved Reports ---> select a report ---> select a saved generated report ---> bang!

[2015-06-18 12:54] kbrock commented on #3170
/cc @dclarizio This is my identity game plan for the ui.

[2015-06-18 14:44] dajohnso commented on #3144
@mfalesni , is there not enough in the production.log that we are capturing?

[2015-06-18 14:45] martinpovolny commented on #3144
@dajohnso : I will store the error in a variable on the `window` in the browser. We don't have such errors on the logs. They happen on client side.

[2015-06-18 14:48] Fryguy commented on #3197
May have to notify user when deleting a template (or show them that there are associated services when deleting).

[2015-06-18 14:49] Fryguy commented on #3208
@tenderlove Can you look at this one?

[2015-06-18 14:49] Fryguy commented on #3120
@epwinchell Can you review this one?

[2015-06-18 14:51] mkanoor opened #3210 "Rails 4 ago missing from Fixnum"
[code]

[2015-06-18 14:59] tenderlove commented on #3208
@martinpovolny what's the best way to get reports seeded in the database?  I think this might be an AR bug (the method doesn't look like it's doing anything wrong).

[2015-06-18 15:07] Fryguy commented on #3208
@tenderlove `rake db:seed` gets the reports in.  If you want report results you have to run a report.  Might be easier to just get a populated database.

[2015-06-18 15:08] martinpovolny commented on #3208
@tenderlove : you should have some "built-in" reports, you only need to have them generated (report results). You can do that by finding that particular report in the Reports tree and clicking on Schedule report. You need to have some workers running for that (if you are in dev setup). Or you can simulate the workers by running `simulate_queue_worker` from the `rails c`.

I keep a populated databa

[2015-06-18 15:23] mfalesni commented on #3144
@dajohnso Maybe some of that happens inside production.log too, but this will enable us to actually detect the errors and add them to the report. Then the `wait_for_ajax` can actually make it fail meaningfully. We usually get "Cannot find element ..." errors when spinner goes stuck because it expects it is on an another page already.

[2015-06-18 15:47] tenderlove commented on #3208
I `rake db:seed`ed once, but it doesn't seem to make reports that have results.  I'll try `simulate_queue_worker`.  If that doesn't work, I'll ping you on IRC!

[2015-06-18 17:56] tenderlove commented on #3208
We should fix this long term by not serializing AR objects as YAML.  Here is a patch that will "fix" the records when they are read:

[code]

I'm not sure if that's the way we should go.  Maybe we should do this in a migration instead.  It doesn't fix the fundamental problem of us storing AR objects as YAML, but it does eliminate the exception that @martinpovolny is seeing.

[2015-06-18 18:08] martinpovolny commented on #3208
We should check for more places like this. Ping @Fryguy ?

I would agree that we should fix the content of the column in a migration.

As for general problem of storing AR object in YAML: we should probably create a technical debt issue and track all the places where we have this issue.

[2015-06-18 18:27] tenderlove commented on #3208
Just to summarize what the problem is (so that I don't forget), we have AR objects being serialized as YAML in the database.  These objects were serialized on Rails 3.2.  The internals of AR objects have changed (one change is that `@attributes` is no longer a hash).  When we deserialize the attributes from the database, the internal state doesn't work with the internals of ActiveRecord on 4.2.

T

[2015-06-19 10:29] movitto opened #3219 "Error: undefined method `ipaddress' for nil:NilClass (MiqServer.my_server)"
After setting up an appliance w/ the latest code base, adding an openstack provider, and attempting to fleece an instance, I am seeing the following repeat in evm.log:

[code]

Looking at the code:

[code]

Seemingly MiqServer.my_server is nil, not sure of the root cause. The appliance has been fully initialized afaik including db migrations and seed.

[2015-06-19 12:09] jrafanie commented on #3219
Cc @blomquisg

[2015-06-19 17:20] #3186 closed

[2015-06-19 17:24] #3210 closed

[2015-06-19 19:38] gtanzillo commented on #3208
I've been looking at this. I have a migration that will convert the serialized objects to plain hashes with the corresponding code in the model to store and retrieve them in that form. However, there's another place where this is being done that also needs to be addressed. The other place is where we save the instance of an executed report and the Ruport results in  a binary blob. It also deserial

[2015-06-19 20:11] Fryguy commented on #3190
@tenderlove Working with @GregP and we noticed that you changed the code [here](https://github.com/ManageIQ/manageiq/commit/bc865e6d3ac430dbf4e9c620861f5cee1ecae8b7#diff-b08386595ac7d4b08da2b0389593c9eeL2), but that code doesn't work at all.  The lambda is sort of ignored (or actually something tries to call `.except` on it if you change it to something else like a SQL String), and otherwise it go

[2015-06-19 21:18] tenderlove commented on #3190
Yes, apparently we didn't have tests exposing my mistake :(

You can see [here](https://github.com/ManageIQ/manageiq/commit/bc865e6d3ac430dbf4e9c620861f5cee1ecae8b7#diff-fc25c34a7573af4aac4936a305e62442R6) that I switched those to methods + virtual columns.

For normal associations we're supposed to use constraints on the associations like my patch did.  The problem is that the original code *didn

[2015-06-22 08:27] martinpovolny opened #3229 "Get rid of window_sizes requests"
Seems to me that we have only a couple of places where we actually use the values `winW` and `winH` collected by the numerous `window_sizes` request. Also I hope that with bootstrap we should not need such variables.

[code]

There's one more variable being set: `exp_left`, but that actually seems unused:
[code]

We use the height also here:
[code]

@epwinchell : could you fix the last couple of p

[2015-06-22 13:05] epwinchell commented on #3229
@h-kataria

[2015-06-22 13:55] epwinchell commented on #3229
@martinpovolny I think we should wait until we've converted the code (slickgrids, etc) to Bootstrap.

[2015-06-22 15:24] Fryguy commented on #3229
:heart: Those requests always drove me nuts.

[2015-06-22 15:25] Fryguy commented on #3219
I wonder if the cache got poisoned.  @movitto Does it clear up after 5 minutes? (That's the cache lifetime)

[2015-06-22 15:28] Fryguy commented on #3208
I moved this onto @gtanzillo's plate since he has a bunch of code in this direction already to fix it "for good"

[2015-06-22 15:28] Fryguy commented on #3197
@gmcculloug Should this be assigned to you?  Or is this for @dclarizio / his team?

[2015-06-22 15:30] Fryguy commented on #3176
Fixed in #175

[2015-06-22 15:30] #3176 closed

[2015-06-22 15:36] gmcculloug commented on #3197
Assigning to @lfu to implement some model methods that can be called from the UI.  Then will need to switch it over to @dclarizio.

[2015-06-22 16:26] jrafanie commented on #3219
Nope, this is the issue that @blomquisg was tracking down... basically, for legacy reasons, we limit the number of db connections per process to 1*.

`MiqServer.my_server.ipaddress` was being called in a sub-thread of the event catcher, not the main thread, causing a silenced error checking out a db connection from the pool since we limit the pool to 1 for most processes[1].  The solution is to ei

[2015-06-23 14:39] mkanoor opened #3242 "rails 4 period_for_utc failure"
Automate Method InspectMe fails with the following error

[code]

[2015-06-23 14:42] Fryguy commented on #3219
Oh, my guess is that previously in Rails 3, we had an actual object, but now in Rails 4, we are getting an AR::Relation instead, which is being delay-queried.

[2015-06-23 14:42] mkanoor commented on #3242
To recreate this issue try the following command

rake evm:automate:simulate DOMAIN=ManageIQ NAMESPACE=System CLASS=Request INSTANCE=Inspectme

[2015-06-23 15:22] jrafanie commented on #3219
No, this is a recent change and I believe also fails on rails 3.2 cc @blomquisg.

[2015-06-24 12:42] romanblanco opened #3252 "uninitialized constant ActiveRecord"
Running Rails server after merging  #3241 gives me error:

    [~/devel/manageiq/vmdb]$ bundle exec rails server
    /home/rblanco/devel/manageiq/vmdb/lib/extensions/ar_types.rb:1:in `<top (required)>': uninitialized constant ActiveRecord::ConnectionAdapters::PostgreSQLAdapter (NameError)
    	from /home/rblanco/devel/manageiq/vmdb/lib/vmdb_extensions.rb:2:in `block in <top (required)>'
    	from

[2015-06-24 14:51] tenderlove commented on #3252
It seems to be working for me.  If you do `git show`, what does it say?  Also what version of bundler / ruby are you using?

[2015-06-24 14:58] romanblanco commented on #3252
Bundler version 1.10.4
Ruby version 2.2.2

I'm on `master` branch.

[2015-06-24 15:10] jrafanie commented on #3252
@romanblanco We're seeing the same thing on our internal cruisecontrols on the same ar_types.rb

I wonder if glob pattern matching is returning an array in a different order if you're on linux vs. osx:
https://github.com/ManageIQ/manageiq/blob/1bc3b2ae84fcd3ea984da3ecd162cc5b5b8b8fab/vmdb/lib/vmdb_extensions.rb#L2

[2015-06-24 15:17] jrafanie commented on #3252
[code]

On my machine, `bundle exec rails s` print the files in this order:
manageiq/vmdb/lib/extensions/ad_uploaded_file.rb
manageiq/vmdb/lib/extensions/ar_adapter.rb
manageiq/vmdb/lib/extensions/ar_base.rb
manageiq/vmdb/lib/extensions/ar_base_model.rb
manageiq/vmdb/lib/extensions/ar_column_names.rb
manageiq/vmdb/lib/extensions/ar_extract_objects.rb
manageiq/vmdb/lib/extensions/ar_lock.rb
managei

[2015-06-24 15:21] romanblanco commented on #3252
@jrafanie Yes, it does.

[2015-06-24 15:24] jrafanie commented on #3252
@romanblanco can you provide the list of the like I presented above using the first diff?  We have vmdb_extensions that have order dependency.  I wonder if the `ar_adapter` extension is being loaded after the `ar_types` one.

@tenderlove @matthewd any ideas?  These things, like ar_types, should probably require the ar adapter if they're about to extend them.

[2015-06-24 15:29] romanblanco commented on #3252
@jrafanie

Before change:

    *[master][~/devel/manageiq/vmdb/lib]$ be rails s
    manageiq/vmdb/lib/extensions/ar_taggable.rb
    manageiq/vmdb/lib/extensions/ar_types.rb
    manageiq/vmdb/lib/extensions/ar_types.rb:1:in `<top (required)>': uninitialized constant ActiveRecord::ConnectionAdapters::PostgreSQLAdapter (NameError)
    	from manageiq/vmdb/lib/vmdb_extensions.rb:2:in `block in <top (re

[2015-06-24 15:44] tenderlove commented on #3252
Dir globs are definitely dependent on the filesystem.  We have to sort the list if we want the order to be predictable.  But, will an alphabetical sort be good enough?

[2015-06-24 17:55] jrafanie commented on #3252
@tenderlove @romanblanco I took the easy path forward, we know that we wanted it to load in alphabetical order so enforce it... we can tackle the order dependent vmdb_extensions after this is fixed.

[2015-06-24 17:58] matthewd commented on #3252
Hmm. I was operating on the assumption that the entire Rails app was booted before we loaded any of the extensions, so there was no need for them to require parts individually.

But of course I forgot that the adapter, in particular, will not be loaded until we try to connect.

(Alphabetical order works by happenstance, because `ar_adapter.rb` comes before `ar_types.rb`, and the former actually pr

[2015-06-24 18:12] chessbyte commented on #3252
@matthewd so should `ar_adapter.rb` be fixed to require `ar_types.rb`before extending it?

[2015-06-24 19:13] #3252 closed

[2015-06-24 20:35] h-kataria opened #3263 "UI: undefined local variable or method `x_tree' for #<TreeBuilderPxeServers:0x0000000d5db670> [pxe/explorer]"
When trying to go to Infrastructure/PXE explorer it blows up with error:

[----] I, [2015-06-24T16:20:55.294836 #22466:75b994]  INFO -- : Completed 200 OK in 3368ms (Views: 390.7ms | ActiveRecord: 89.0ms)
[----] I, [2015-06-24T16:22:08.918587 #22466:75b994]  INFO -- : Started GET "/pxe/explorer" for 127.0.0.1 at 2015-06-24 16:22:08 -0400
[----] I, [2015-06-24T16:22:09.014902 #22466:75b994]  INFO -

[2015-06-24 21:30] dclarizio opened #3269 "UI - After tree refactoring, clicking on a Service's VM causes exception"
Clicking on a VM in the screenshot below:
![servicewithvms](https://cloud.githubusercontent.com/assets/3433754/8341937/7aa6060a-1a7d-11e5-93d3-d00f206515bc.png)
results in:
[----] F, [2015-06-24T14:26:21.107043 #31559:af198c] FATAL -- : Error caught: [NoMethodError] undefined method `x_get_tree_ems_kids' for #<TreeBuilderVandt:0x0000000a235ed8>
/home/dclarizio/dev/manageiq/vmdb/app/presenters/tree

[2015-06-24 21:55] dclarizio commented on #3269
Verified that this was working prior to #2075 being merged.

[2015-06-25 04:52] martinpovolny commented on #3263
@h-kataria : this was fixed yesterday here: https://github.com/ManageIQ/manageiq/pull/3255

[2015-06-25 04:52] #3263 closed

[2015-06-25 09:09] martinpovolny commented on #3269
Working on it.

Because we need to open the tree node for the VM, you click, we try to lazy load that particular subtree but the VandT tree builder uses the VmAndTemplate treebuilder that does not support lazy-loading....

[2015-06-25 13:41] gmcculloug opened #3273 "Move event filters into the database"
# Event Filtering

## Goals
Move the event filters out of the existing yaml file and into centralized database.  Support granular filtering at provider level.

### Phase 1
1. Move event filters out of the configuration file (event_handling.tmpl.yml) and into a new database table.
1. Allow filters to be defined for providers:
  1. By Model Type (based on type field from ext_management_system table)

[2015-06-25 14:28] dclarizio commented on #3229
We need to wait until we replace the inner layouts with responsive CSS . . . this was our way to respond to window size changes using JS, so those values are important until this is changed.

[2015-06-25 15:05] martinpovolny commented on #3229
Seems to me some parts are dead code or unused variables already.

[2015-06-25 15:08] blomquisg commented on #3219
BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1232484

PR: https://github.com/ManageIQ/manageiq/pull/3244

[2015-06-25 15:08] #3219 closed

[2015-06-25 17:58] rananda commented on #3229
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1235778

[2015-06-25 18:26] rananda commented on #3106
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1235785

[2015-06-25 23:48] jrafanie opened #3285 "Rails 4.2: rake assets:precompile tries to connect to database 😢"
Why is assets:precompile calling the "active_record.initialize_database" initializer???

I looked on rails issues, didn't see anything on 4.2, only 16901 and 11853...

@matthewd @tenderlove any ideas?   I feel like I go through this with each rails upgrade ;-)

I do this on master after running git pull:

[code]

[code]

[2015-06-26 00:13] jrafanie commented on #3285
Note, we don't have a database.yml until the user configures the database on our appliances and we've depended on the fact that asset precompile doesn't need to connect to the database.

[2015-06-26 14:04] jrafanie commented on #3285
@kbrock help?  Do we need something like #1901 now on rails 4.2?

See: https://github.com/ManageIQ/manageiq/blob/cac10e461c9b3bf76ea7ffb4d147231740402d7c/system/cfme-setup.sh#L11

[2015-06-26 14:31] kbrock commented on #3285
Huh. I thought we removed that from the kickstart, just a typical `rake evm:compile_assets` should work without that. [evm.rake:40](https://github.com/ManageIQ/manageiq/blob/master/vmdb/lib/tasks/evm.rake#L40)

You can remove database requirement by stating that initializers shouldn't be run for asset precompilation. But that may cause some problems with haml. I'm thinking we shouldn't have a prob

[2015-06-26 17:38] rananda commented on #2842
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1236154

[2015-06-26 18:30] gtanzillo opened #3296 "Sporadic test failure VmdbDatabaseConnection"
1) VmdbDatabaseConnection is blocked
     Failure/Error: expect(blocked_conn).to be
       expected nil to evaluate to true
     # ./spec/models/vmdb_database_connection_spec.rb:71:in `block (2 levels) in <top (required)>'

[2015-06-26 19:39] rananda commented on #2735
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1236197

[2015-06-26 21:29] mkanoor opened #3298 "Fix rubocop errors in miq_ae_state_machine"
The new file miq_ae_state_machine has rubocop errors

[2015-06-28 11:49] #3298 closed

[2015-06-28 21:46] mcornea opened #3305 "The user is not authorized for this task or item. [ems_infra/new]"
Hello,

I am trying to add a new infra provider and I am getting this error message. Screenshot below:

The user is not authorized for this task or item. [ems_infra/new]

![mangeiq_user](https://cloud.githubusercontent.com/assets/12097998/8398476/f3f9605e-1def-11e5-8b95-973311e86e7a.png)

[2015-06-29 12:29] Ladas opened #3307 "Remove normalize methods from the refresh"
Remove the normalize methods and rather have refresh failed, when there is unexpected format of the value.

used e.g in:

https://github.com/ManageIQ/manageiq/blob/3b3efe05e5382804aa2fe9e57404933481482a8c/vmdb/app/models/ems_refresh/parsers/openstack_infra.rb#L351

[2015-06-29 12:51] matthewd commented on #3307
We already have a fair bit of warn-and-continue setup at higher levels, which will prevent an API misadventure from spreading too far. Ultimately, if a disk's size suddenly becomes... say, a `Net::HTTPRequest`, or a hash... I think it's much safer to just give up, and skip adding that disk. If it's so far outside of its contract, we should quite possibly give up on the entire endpoint / provider.

[2015-06-29 14:09] lfu commented on #3197
The model methods for UI have been added in #3247.
It's time to assign #3197 to @dclarizio and his team for UI side change.

[2015-06-29 14:21] mkanoor opened #3309 "Adding a new class leads to empty screen"
When we add a new class using the upstream code we get a blank screen .

[2015-06-29 14:41] h-kataria opened #3310 "UI: Adding/fixing spec tests for VM & Templates tree"
Opening this issue to track/fix commented out spec tests in https://github.com/ManageIQ/manageiq/pull/3274

[2015-06-29 14:42] #3269 closed

[2015-06-29 15:09] mkanoor opened #3311 "Automate: Refactor state machine enforce_state_maxima"
Rubocop warning
Assignment Branch Condition size for enforce_state_maxima is too high. [28.35/15]
Use a guard clause instead of wrapping the code inside a conditional expression.

[2015-06-29 15:16] Ladas commented on #3307
Alright, I will just remove the normalize_methods and let it fail. Although since it's free form metadata mostly, we might tune it up a bit later.

I'll change the description of this issue to removing this stuff. Should be removed in scvmm too, so we have at least some consistence of how the refresh should be handled. :-)

[2015-06-29 16:16] #3285 closed

[2015-06-29 16:32] petrblaho opened #3314 "Cannot create Provider from UI using current master"
When trying to create new Infra Provider (logged in as default admin user) I got "Unexpected error encountered" page and
[code]
in logs.

I got the same result with trying to create Cloud Provider too.

It looks like the issue emerged after renaming PR got merged (#1886).

There is a migration to address renaming with list of tables (https://github.com/ManageIQ/manageiq/blob/a78d508ce6903c4cdaf149

[2015-06-29 16:34] petrblaho commented on #3314
And now I see that @mcornea reported it at #3305

[2015-06-29 16:43] martinpovolny commented on #3310
Fixed in the last commit in that PR

[2015-06-29 16:50] blomquisg commented on #3307
So, I get this type of question/request from field engineers, etc., all the time:  "Can't we just skip this failing thing and continue with the refresh?"

My knee jerk reaction is typically, "No, we can't."  Because we don't really know what it means to skip some piece of data in the refresh.  We scoped and implemented the refreshes the way they're setup today because we have a certain expectation

[2015-06-29 17:35] #3102 closed

[2015-06-29 20:32] movitto commented on #2682
+1 also running into this issue. Full error is:

[code]

@tzumainn could you share the specified fixes you used to get around this issue? Thanks

[2015-06-29 20:45] tzumainn commented on #2682
I've helpfully lost the code I used to work around this, but as I recall:

https://github.com/ManageIQ/manageiq/blob/master/lib/openstack/openstack_handle/handle.rb#L12
- update the fallback to nil rather than 'Compute'

https://github.com/ManageIQ/manageiq/blob/master/vmdb/app/models/ems_refresh/parsers/openstack.rb#L95
- catch the case where 'volumes' is nil

[2015-06-30 06:37] rananda commented on #2561
@Fryguy , I was able to reproduce it locally.  Please find the details

Build - master.20150629224614_5c763a8

Before:
=======
[root@server config]# grep -i zone vmdb.yml.db
  timezone: UTC
  zone: default

vmdb_production=#  select id, name from zones;
 id |  name
----+---------
  1 | default
(1 row)

vmdb_production=# select id, name, zone_id from miq_servers;
 id | name | zone_id
----+------+--

[2015-06-30 09:33] mzazrivec opened #3323 "Error when clicking on catalog items"
In current ManageIQ master: Services -> Catalogs -> Catalog Items -> [a catalog item]

leads to either of the following errors:
[code]

[code]

[2015-06-30 11:52] rananda commented on #2561
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1237110

[2015-06-30 14:14] movitto commented on #2682
In addition to the previous I also had to edit vmdb/app/models/ems_refresh/parsers/openstack.rb to  check if @volume_service was nil

Now running into the following error:

[code]

Any thoughts?

[2015-06-30 14:15] movitto commented on #2682
@jrafanie @blomquisg ? since this has to do w/ openstack

[2015-06-30 14:34] tzumainn commented on #2682
@movitto Looking at the code, I'm guessing it's a similar issue to the other one, only this one happens if Glance is unavailable.

[2015-06-30 14:49] #3314 closed

[2015-06-30 19:07] rananda commented on #1366
I am not able to reproduce this issue.  Tried with following scenarios:
1. Added invalid data for providers, created new user and tried to login ==> login fails (which seems to valid behavior)
2. Added valid cloud provider (RHOS/ Amazon), created new user, tried to login ==> login successful.

@cankarm, can you please provide steps to see if we can reproduce this??

[2015-06-30 19:35] dclarizio commented on #1366
Removing the bug label as this is working as designed.  No non-admin users are allowed to login until at least 1 Host or 1 VM/Instance has been discovered.

[2015-06-30 19:41] rananda commented on #1685
Bugzilla link - https://bugzilla.redhat.com/show_bug.cgi?id=1237321

[2015-06-30 19:53] cankarm commented on #1366
I'm away from a computer and I'll be able to test this after next week.

I agree that from one perspective this works as desired. Maybe you could
change the error message,so the user knows whats wrong (the system is not
ready to use - contact the administrator?).
 30. jun. 2015 21:35 je oseba "Dan Clarizio" <notifications@github.com>
napisala:

[2015-06-30 21:21] dclarizio commented on #3323
@mzazrivec I can get to the Catalog Item summary screens just fine.  Have you done all the latest migrations?  Maybe something special about the one you're clicking on?
![cat_item](https://cloud.githubusercontent.com/assets/3433754/8442325/2f574c44-1f33-11e5-9224-09d59be6ed26.png)

[2015-07-01 08:21] mzazrivec commented on #3323
@dclarizio Dan, I happen to have the same DB imported and the 'Gemfile Cache Configuration' item
you're showing works fine for me too.

Clicking on 'vFabric App Server' gives me the above ISE. All DB migrations have been done.

[2015-07-01 13:24] h-kataria commented on #3323
@mzazrivec is this related to or same as: https://github.com/ManageIQ/manageiq/pull/3018

[2015-07-01 13:31] mzazrivec commented on #3323
@h-kataria Probably not. The errors I posted above look different.

[2015-07-01 14:35] epwinchell commented on #1685
@martinpovolny I don't see a broken table. Can you check again and include a screenshot. Thanks

[2015-07-01 17:35] martinpovolny commented on #2735
Surely a good idea. But someone with UX experience should take a look and create some coherent design of the shortcuts.

[2015-07-01 20:00] dclarizio commented on #1685
@epwinchell There is a screenshot in the BZ, perhaps @rananda can give you a link to his appliance.

[2015-07-02 05:39] akarol commented on #3305
Bz link - https://bugzilla.redhat.com/show_bug.cgi?id=1238530

[2015-07-02 06:46] akarol commented on #3309
Bz link-  https://bugzilla.redhat.com/show_bug.cgi?id=1238548

[2015-07-02 07:09] akarol commented on #3190
BZ lonk -https://bugzilla.redhat.com/show_bug.cgi?id=1238555

[2015-07-02 10:11] simon3z commented on #2114
@chessbyte can you close this? It was addressed in #2445 Thanks!

[2015-07-02 12:03] #2114 closed

[2015-07-02 14:41] Fryguy commented on #3310
@h-kataria If this is done, can you please close?

[2015-07-02 14:45] #3310 closed

[2015-07-02 15:59] hsong-rh opened #3342 "[LoadError]: cannot load such file -- actionwebservice Method:[rescue in deliver]"
After pulled request to our latest version and run 'Smart Analysis' on vmware VM, I run into this LoadError issue.

[code]

In the vmdb/GemFile, this actionwebservice has commented out. But there are still 6 files require of them:

./vmdb/app/apis/evm_webservices_client.rb
./vmdb/app/apis/miqservices_api.rb
./vmdb/app/apis/vmdbws_api.rb
./vmdb/app/apis/vmdbws_support.rb
./vmdb/app/controllers/miqs

[2015-07-02 16:00] Fryguy commented on #3342
@gmcculloug Can you look into this one?  The VmdbOps one is affecting fleecing.

[2015-07-02 16:22] gmcculloug commented on #3342
I have a local branch started to remove most of these references and need to get it into a PR.

[2015-07-02 17:27] hsong-rh commented on #3342
Here is the stack traces. Thank you, Greg!

[----] E, [2015-07-01T23:31:54.681245 #31091:b5de98] ERROR -- : Q-task_id([774f147e-2068-11e5-b140-000c29b88f0f]) [LoadError]: cannot load such file -- actionwebservice  Method:[rescue in deliver]
[----] E, [2015-07-01T23:31:54.681327 #31091:b5de98] ERROR -- : Q-task_id([774f147e-2068-11e5-b140-000c29b88f0f]) /opt/rubies/ruby-2.0.0-p645/lib/ruby/gems/2.0

[2015-07-02 18:04] simon3z commented on #3077
@Fryguy @blomquisg @chessbyte any news on this one?

[2015-07-02 18:07] Fryguy commented on #3077
My initial thought is this should be done in the parser.  Lookup the corresponding record at parse time, then set the :lives_on_id column to the id and :lives_on_type to the type.  You don't want to reference a whole object with something like {:lives_on => {<values>}}  because you don't want to save the corresponding object.

[2015-07-02 18:14] hsong-rh opened #3344 "[NameError]: uninitialized constant ManageIQ::Providers::Vmware::InfraManager::RefreshParser::Filter::Parser"
After PR to our latest version and run 'Smart Analysis' , I run into this uninitialized issue. There is no initialize() defined in the file: vmdb/app/models/manageiq/providers/vmware/infra_manager/refresh_parser/filter.rb. Following is the stack traces:

[code]

[2015-07-02 18:48] gmcculloug commented on #3344
@matthewd Can you please take a look at this one?

[2015-07-02 22:07] #3309 closed

[2015-07-03 17:09] simon3z commented on #3305
@Fryguy @blomquisg @chessbyte we're experiencing this as well (not for containers but for underlying infrastructures: openstack/rhev, etc.).

[2015-07-04 14:20] simon3z commented on #2842
@chessbyte @Fryguy @blomquisg we can close this. It was addressed with #2991

[2015-07-06 15:23] simon3z opened #3358 "Event Monitor Threads keeps dying"
Lately (sorry for not being more precise) I keep getting:

[code]

And no events are recorded (because the thread keeps dying).

Both for the OpenStack and Container providers (kubernetes/openshift). I suspect that there's something generic in the monitoring thread that is going wrong and keeps exiting.

/cc @chessbyte @Fryguy @blomquisg

[2015-07-06 15:25] Fryguy commented on #3358
@matthewd Is this related to the namespace refactoring?

[2015-07-06 16:22] h-kataria commented on #3305
@matthewd @tenderlove i looked into this issue, and found out that recent changes to move providers models around has caused this issue. We have a model method(https://github.com/ManageIQ/manageiq/blob/master/vmdb/app/controllers/ems_common.rb#L981) in ems_common that's being used to determine feature id for assert_privileges call. Feature id for providers are all prefixed based upon the type/mode

[2015-07-06 17:50] tenderlove commented on #3305
@h-kataria can we try decoupling the model name from the permissions?  For example:

[code]

Note that this patch is incomplete.  We would need to add a `permission_prefix` method to each model, but it means that we would avoid changing all the yaml files (and we would be free to do more renaming in the future).

[2015-07-06 18:12] h-kataria commented on #3305
@tenderlove this looks good, just to make sure that i understand it correctly permission_name method will be added to each model for example cloud_manager will have permission_name method return "ems_cloud" so we dont have to change any of our yaml files and existing features.

[2015-07-06 18:16] matthewd commented on #3305
Should `permission_name` be derived from the model class name, or from the controller name?

[2015-07-06 18:19] #3190 closed

[2015-07-06 18:20] h-kataria opened #3360 "UI: Titles/Breadcrumbs on Provider screens are incorrect"
@tenderlove @matthewd  just noticed that Commit SHA: a78d508ce6903c4cdaf1497d93cbdfb73113d93d broke titles on Provider list view screens, see attached screenshot, instead of "Ems Clouds" it should have been "Cloud Providers":
![provider_titles](https://cloud.githubusercontent.com/assets/3450808/8529255/c48a5a56-23e6-11e5-9238-bcdd1963155a.png)

Breadcrumb on cloud provider summary is also incorrec

[2015-07-06 18:41] tenderlove commented on #3305
@matthewd ya, I think you're right.  We should probably derive this from the controller, not the model.

@h-kataria rather than adding the method to the model, why don't we just add a `permission_name` method to EMS controllers and have it return the right string?

[2015-07-06 20:06] dclarizio commented on #3305
@tenderlove @matthewd @h-kataria Would permission_name_prefix or permission_area make more sense, since we're then gluing on an "action" to this?  Also, if we're adding a method to the controllers, the super method could just return controller_name, as that should be correct in most cases.

[2015-07-06 20:27] tenderlove commented on #3305
Probably `prefix` would be better for now.  The main thing we need to do is disconnect it from the models.

[2015-07-06 21:34] h-kataria commented on #3305
We should add a permission_prefix method to ems_common that returns controller_name appropriately for ems_infra, ems_cloud & ems_container controllers, then change all assert_privilige callers in ems_infra, ems_cloud & ems_Container controllers to assert_privileges("#{permission_prefix}_edit") that should send up the correct feature id. permission_prefix method can be added to inidividual controll

[2015-07-06 23:40] matthewd commented on #3360
Hrmm... any ideas where that could be going awry?

[code]

The most likely immediate cause would seem to be:

[code]

but:

[code]

... so I'm not sure where that would be coming from.

Do we have code somewhere that's calling `ui_lookup(:models => ..)`, but not actually passing a model name? I see a few instances of `"EmsCloud"` (the string) in the repo -- none of them sound terribly likely, thou

[2015-07-07 05:36] akarol commented on #3360
Bz link-https://bugzilla.redhat.com/show_bug.cgi?id=1240485

[2015-07-07 06:51] akarol commented on #3342
Bz link -https://bugzilla.redhat.com/show_bug.cgi?id=1240503

[2015-07-07 13:20] h-kataria commented on #3360
@matthewd it's being done here: https://github.com/ManageIQ/manageiq/blob/master/app/controllers/application_controller/ci_processing.rb#L978, show_list method in ems_common calls process_show_list which further calls breadcrumb_name method in ci_processing and does not pass in model name. self.class.model_name used to be EmsCloud for Cloud Providers, ui_lookup_for_model was looking up for a dicti

[2015-07-07 13:44] Ladas commented on #2682
@movitto @tzumainn is it possible you are hitting this? https://github.com/ManageIQ/manageiq/pull/3282

[2015-07-07 13:47] Ladas commented on #2682
@movitto @tzumainn it was caused by this https://github.com/ManageIQ/manageiq/pull/3218, but some services responded they are not available, instead of missing SSL exception. You might try to revert the #3218, to see if that is the case.

Nevertheless, #3282 should fix it

[2015-07-07 20:32] Fryguy commented on #3307
I merged #3322, so is this closed?

On the discussion here, we sort of already have a bit of play in the vmware provider.  We generally allow a single VM to fail without failing the whole refresh.  However if some general piece of information is missing (like the whole "config" portion of the Hash), then we fail the whole refresh.

There is also a lot of code there like:

[code]

where if the inve

[2015-07-07 21:30] #3360 closed

[2015-07-07 22:29] matthewd commented on #3344
The several mentions of `Parser` in [app/models/manageiq/providers/vmware/infra_manager/refresh_parser/filter.rb](https://github.com/ManageIQ/manageiq/blob/bb96e0c9d8b8631acdd26cd80d44a97f50ab9c67/app/models/manageiq/providers/vmware/infra_manager/refresh_parser/filter.rb) should all be `RefreshParser`. They seem to have been left behind when I changed my mind about its name.

I think I might need

[2015-07-08 03:10] chessbyte commented on #3344
Should 'RefreshParser' be 'InventoryParser'?

Thanks,
Oleg (from iPhone)

[2015-07-08 11:54] Ladas commented on #3307
I guess I can close this.

Although similar normalize methods are present also in scvmm.

The partial missing data should be ok, I think, having just the important part throwing error should be ok. Though I use fetch path, which nil out the value. Keeping the value if it's not there anymore is probably a bug.

I am closing it, let me know if I should reopen it for some reason.

[2015-07-08 13:22] hsong-rh commented on #3344
Let me change it accordingly and test it. Thanks!

[2015-07-08 13:44] chessbyte commented on #3305
@h-kataria @dclarizio @martinpovolny Who is making the PR to fix this issue?

[2015-07-08 13:51] kbrock commented on #3305
current work around is to disable privilege checking:

application_controller.rb:2687
[code]

[2015-07-08 13:55] #3307 closed

[2015-07-08 16:01] dclarizio commented on #3305
@chessbyte See the associated BZ link, @lgalis is on it.

[2015-07-08 22:07] skateman commented on #3179
@epwinchell when the last one is merged, you can close this issue

[2015-07-09 01:37] #3179 closed

[2015-07-09 09:26] Ladas opened #3400 "Ineffective check for OpenStack clone vm action"
https://github.com/ManageIQ/manageiq/blob/ac2ce298aa9af7c34f791c15ffc95362a8ab106c/app/models/miq_provision_openstack/cloning.rb#L4

This will obtain potentially thousands of records over several API calls, just to filter one in ruby for some check before cloning.

There needs to be multi-tenant get call, that will grab max one record per each tenant, using it's uuid.

[2015-07-09 10:33] njfsmallet opened #3401 "undefined method `outputs' in /Cloud/Orchestration/Provisioning/StateMachines/Methods/postprovision"
I commented out the line:

dump_stack_outputs(stack)

And I have this error:

[----] I, [2015-07-09T12:19:03.084054 #2027:5d1e98]  INFO -- : Q-task_id([service_template_provision_task_4]) <AEMethod [/Custom/Cloud/Orchestration/Provisioning/StateMachines/Methods/postprovision]> Starting
[----] I, [2015-07-09T12:19:03.640319 #2027:5a0d138]  INFO -- : Q-task_id([service_template_provision_task_4]) <A

[2015-07-09 13:17] gmcculloug commented on #3401
@bzwei Can you take a look at this issue.  Seems we have a MiqAeServiceServiceResource object when we are expecting it to be MiqAeServiceOrchestrationStack.

[2015-07-09 13:23] #3077 closed

[2015-07-09 14:14] hsong-rh commented on #3344
Although I still had some other errors, but after I changed them into RefresherParser, this NameError message was disappeared in the log file.

[2015-07-09 20:45] #1101 closed

[2015-07-09 20:51] #1564 closed

[2015-07-09 20:52] #3087 closed

[2015-07-09 20:53] #1268 closed

[2015-07-09 20:56] #1099 closed

[2015-07-09 21:04] epwinchell commented on #3087
fixed during sass conversion

[2015-07-10 08:05] jkrocil opened #3412 "Foreman provider detail page is missing the "Configuration" button in the toolbar"

[2015-07-10 15:14] blomquisg commented on #3305
PR #3409

[2015-07-10 16:02] jrafanie opened #3415 "DB Connection pool research now that we allow up to 5 connections per process"
Follow up to #3397

We previously had the AR connection pool size as 1 and had a few workers that we bumped to 5 since they had some threads using database connections.

Now that we have 5 for all processes, we have some research to do:
- [ ] Where is the extra connection coming from in `rails server`, does it affect the ui worker and web service worker on appliances?  Do we need to disconnect tha

[2015-07-10 16:27] jrafanie commented on #3296
Fixed by #3411

[2015-07-10 16:27] #3296 closed

[2015-07-10 16:33] h-kataria opened #3416 "UI: Credentials fields are missing on New Cloud Provider screen"
![credentials_fields_missing_on_new_cloud_provider](https://cloud.githubusercontent.com/assets/3450808/8623503/d1dd60e2-26ff-11e5-8c10-08c0cfe60293.png)

[2015-07-10 16:39] jrafanie commented on #2317
Fixed by #2320

[2015-07-10 16:39] #2317 closed

[2015-07-10 16:41] h-kataria commented on #3416
@skateman it seems like a bug introduced during tab conversions, when there is only a single tab on screen it doesn't seem to be loading it's contents. I also noticed that there are "if" checks around miq_tab_header for "metrics", "amqp" & "ssh_keypair" but the same checks are missing from
= miq_tab_content('metrics') do
= miq_tab_content('amqp') do
= miq_tab_content('ssh_keypair') do blocks.

[2015-07-10 17:43] bzwei commented on #3401
The problem has been fixed in https://github.com/ManageIQ/manageiq/pull/3051, which is currently under review.

[2015-07-10 21:05] h-kataria commented on #3305
Fixed in #3409

[2015-07-10 21:05] #3305 closed

[2015-07-13 06:31] Ladas opened #3419 "Unique index on security_groups_vms"
There should be

add_index  :security_groups_vms, [:security_group_id, :vm_id], :unique => true

but even cartridge is throwing exception, that means the real data will be probably corrupted too, so we will need some migration script along with this change, that will clean up the table

[2015-07-13 10:34] skateman commented on #3416
@h-kataria if you open the JS console, you can see that something is broken before loading the tabs:
![screenshot from 2015-07-13 12-32-03](https://cloud.githubusercontent.com/assets/649130/8647778/499f78ec-295b-11e5-8ea4-25b2e328af02.png)

I haven't added the ifs because they're not really necessary, if the tab header is hidden, its content can't be displayed. But I can add them ...

[2015-07-13 10:36] skateman commented on #3416
Duplicate of #3365

[2015-07-13 14:54] lgalis commented on #3416
The Credentials are still not visible even when the above mentioned exception is resolved. There is another cause for the Credential info not being shown.

[2015-07-13 15:27] gmcculloug commented on #3342
@hsong-rh Can you confirm if PR #3392 resolves this issue for you?

[2015-07-13 18:58] lgalis commented on #3416
@skateman @h-kataria
Changing the compare here to > 0 from > 1 will display the credential with the single Default tab:

https://github.com/ManageIQ/manageiq/blob/05cb00e3a951f863aae95aeac630ee736148f4ba/app/assets/javascripts/miq_application.js#L1306

[2015-07-14 02:13] GregP opened #3435 "Configuration Database Settings Tab display"
Configuration Database Settings Tab displays  only 1 out of 224 setting values. To reproduce navigate to Configure => Configuration => Database (accordion) => Settings Tab (right side of display)

All 224 values should be displayed, just the first row fetched from pg_settings view is displayed now.

Screen shot attached.

![configuration db settings tab](https://cloud.githubusercontent.com/assets/

[2015-07-14 07:24] akarol commented on #3435
Bz link -https://bugzilla.redhat.com/show_bug.cgi?id=1242764

[2015-07-14 08:32] simon3z commented on #3358
@Fryguy @matthewd any news on this one? We'd like to add new events in the container provider but we're partially blocked.

[2015-07-14 08:33] simon3z commented on #3358
Ah sorry I just realized that this was assigned to @blomquisg, any news?

[2015-07-14 13:06] matthewd commented on #3358
That's certainly one of the large changes that have landed recently, and the quoted log clearly demonstrates that classes that were renamed are involved here. So it certainly *could* be... though there doesn't seem to be much definitive evidence so far. And given the amount of stuff I'm in the process of renaming, I'd rather not become first port of call for all reported misbehaviour therein. :neu

[2015-07-14 13:45] abonas opened #3441 "toolbar builder fails when a page has no toolbars"
I'm working on adding a new UI page to ManageIQ (for topology)
It doesn't have a yaml file representing it and currently no toolbars at all, so the toolbar builder fails with exception and the page cannot be displayed.
(it worked before I rebased on the latest toolbar builder code)

[----] I, [2015-07-13T18:49:21.425520 #29870:3ea2a60]  INFO -- :   Rendered container_topology/show.html within layo

[2015-07-14 14:01] abonas commented on #3441
@miq-bot  add_label ui

[2015-07-14 14:12] abonas commented on #3441
@miq-bot add_label UI

[2015-07-14 14:19] matthewd commented on #3441
Err.. [that's a comment](https://github.com/ManageIQ/manageiq/blob/b02c6e86ad8c036e4e07b9b37c165aa4bf80759f/app/helpers/application_helper/toolbar_builder.rb#L34).

[2015-07-14 14:41] abonas commented on #3441
@matthewd true, that line is a comment so I agree it is weird, and I'll try to rebase again and see if it fixes the issue, though I do see I work with the latest source and this is a new file which afaik doesn't have previous versions.
but is the toolbar builder even designed to work with pages which have no toolbar?
it either expects a string "custom_buttons_tb" or assumes the existence of a file

[2015-07-14 15:00] matthewd commented on #3441
@abonas the ToolbarBuilder is a trivial extraction of identical code from the ApplicationHelper module... I'm not sure why it would work differently at all.

Can you publish a branch with your rebased changes? (and your pre-rebase version, ideally)

[2015-07-14 15:02] blomquisg commented on #3358
If it's any consolation, I'm seeing this locally too.

I'll see if I can ferret out any details.

[2015-07-14 15:19] mzazrivec opened #3443 "Database upgrade error: FixSerializedReportsForRailsFour"
Occurring with imported customer database:

$ rake db:migrate
== 20150625220141 FixSerializedReportsForRailsFour: migrating =================
-- Converting MiqReportResult#report to a serialized hash
   -> 7.4923s
-- Converting BinaryBlob report results to a serialized hash
rake aborted!
StandardError: An error has occurred, this and all later migrations canceled:

unexpected format of report attr

[2015-07-14 15:30] himdel commented on #3443
Additional info.. for me, it happens with a BinaryBlob with data_type="YAML", but the binary_blob_data is a PDF file.

[code]

[2015-07-14 15:36] abonas commented on #3441
the pre rebased version (which is outdated and has many hacks that will go away) is here
https://github.com/abonas/manageiq/tree/topology-base-demo

I'm still working on the current version on several issues in parallel.
Since based on your comment, the toolbar builder code existed before as is, just in a different file, let me go over all the changes again thoroughly to see if during the rebase n

[2015-07-14 15:45] himdel commented on #3443
@gtanzillo, I think this change is enough (ie works for me :)), but I'm not quite sure if you wanted something else...?

[code]

[2015-07-14 15:48] jrafanie opened #3444 "Identify puma ui worker and puma rails server correctly as a ui worker"
Followup to #3397

@imtayadeway @gtanzillo

After looking at this more, I think I know why "thin" just worked with both rails server and as the main process launching the various processes (including the ui worker).

All workers run through the same rails initialization process except the UI/WS workers run rails server and the other workers are rails runner processes.

Workers all go through this

[2015-07-14 15:48] jrafanie commented on #3444
cc @matthewd

[2015-07-14 15:58] Fryguy commented on #3443
@himdel That just ignores the problem and leaves the database in a bad state.  Go try to view that report result and it will probably blow up in the UI.

[2015-07-14 16:16] eclarizio opened #3445 "miq_tabs_init javascript function doesn't activate single tabs"
I think when the function was changed from `miq_jquery_tabs_init` to `miq_patternfly_tabs_init` (now just `miq_tabs_init`), the functionality for when only a single tab is supposed to be displayed got messed up.

Now, if only a single tab is present (easiest to verify in a service dialog, but this happens for catalog items as well), nothing is displayed. See screen shot:
<img width="400" alt="scre

[2015-07-14 16:17] gtanzillo commented on #3443
@himdel I was worried that raising an error in this case could be problematic. If you can identify the type of data that it's failing on that would be great. It may be that there are other types of serialization that I missed. If you can export your DB and get it to me I can take a look too.

[2015-07-14 17:45] himdel commented on #3443
@Fryguy Right, I thought you can actually have PDF report results.

@gtanzillo well, as I said, the falling one was a PDF file... but I actually get 9 failures, 5 of which are PDF files (yay, I can now recognize the PDF header even base64-encoded! :)), another 3 are apparently CSV - `--- ! '\\\"VM Name\\\",\\\"Disk I/O - Avg (KBps)\\\"\\n\\n  PRDv5EVM001,252.25\\n\\n  M...` and the last one is app

[2015-07-14 17:46] himdel commented on #3443
@gtanzillo If you really need the db, I'll give it to you tomorrow, can't be put on github.

[2015-07-14 19:09] Fryguy commented on #3443
@himdel @gtanzillo Even just the contents of the column would be useful as we could fake up a record

[2015-07-14 21:17] blomquisg commented on #3358
@simon3z, first thing to do is to ensure that you can actually reach the AMQP service on the OpenStack server (port 5672 for non-ssl, port 5671 for amqp over ssl).

If you can telnet to AMQP from the manageiq appliance, then there might still be a deeper problem.

However, in my case, the AMQP port was closed off to the outside world and had to be opened.

[2015-07-14 21:20] simon3z commented on #3358
@blomquisg 5672 is reachable (just checked). Also I am seeing the same behavior with the container provider (it could be that both had problems, but it seems more unlikely than a generic issue).

[2015-07-14 22:21] blomquisg commented on #3358
@matthewd, something that stands out is that the prefix to each log message is:

Seems to me that there's a parentage problem there.  The originator of the message *should* be the `EventCatcherOpenstack` (which now inherits from `ManageIQ::Providers::BaseManager::EventCatcher::Runner`).

This is what I'm seeing locally, too.

In fact, I don't see any log messages at all from any of the `OpenstackE

[2015-07-14 22:51] matthewd commented on #3358
@blomquisg ah, you make a good point. Untested, but this might improve your situation: https://gist.github.com/matthewd/d8d2bd44a5160fde2e26.

Converting the OpenStack event catcher to the new naming convention would work too. :trollface:

[2015-07-15 08:10] skateman commented on #3445
https://github.com/ManageIQ/manageiq/pull/3440

[2015-07-15 14:25] chessbyte opened #3458 "Update to latest aws-sdk gem"
See https://gemnasium.com/ManageIQ/manageiq

[2015-07-15 15:04] abonas commented on #3441
@matthewd you are right, I went over the pre rebased version of ApplicationHelper, and during the rebase one change slipped away. I readded it and now it's fine. this can be closed. Thank you!

[2015-07-15 15:04] #3441 closed

[2015-07-15 15:59] chessbyte opened #3461 "Update to latest dalli gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 2.2.1` vs. `2.7.4`

[2015-07-15 16:00] chessbyte commented on #3461
cc @matthewd @Fryguy @gtanzillo @dclarizio

[2015-07-15 16:01] chessbyte opened #3462 "Update to latest pg gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 0.15.0` vs. `0.18.2`

[2015-07-15 16:02] chessbyte commented on #3462
cc @matthewd @Fryguy @gtanzillo @kbrock

[2015-07-15 16:03] chessbyte opened #3463 "Update to latest rufus-scheduler gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 2.0.19` vs. `3.1.3`

[2015-07-15 16:03] chessbyte commented on #3463
cc @jrafanie @Fryguy

[2015-07-15 16:04] chessbyte opened #3464 "Update to latest winrm gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `= 1.1.3` vs. `1.3.3`

[2015-07-15 16:04] chessbyte commented on #3464
cc @gmcculloug @bronaghs @djberg96

[2015-07-15 16:07] chessbyte opened #3466 "Update to latest ruby-progressbar gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 0.0.10` vs. `1.7.5`

Do we even use this gem??  I recall maybe in the appliance console?

[2015-07-15 16:07] chessbyte commented on #3466
cc @jrafanie @kbrock

[2015-07-15 16:37] oschreib opened #3467 "Container Provider - Containers count doesn't work"
The count of container under ems_container/show/<ID> shows zero containers, although the container exists.

![screenshot from 2015-07-15 19-33-53](https://cloud.githubusercontent.com/assets/7105897/8703923/8e448338-2b28-11e5-97a6-bde442efbd22.png)

[2015-07-15 16:37] oschreib commented on #3467
cc @abonas @simon3z

[2015-07-15 16:40] jrafanie opened #3468 "After an appliance reboot, the UI login spinner spins forever"
This might be related to #3444

The UI worker strace is showing `futex(0xca9634, FUTEX_WAIT_PRIVATE, 1721, NULL)`

Note, I'm able to `wget localhost:3000` so it is responding to requests and works but the UI worker seems stuck via strace.

To recreate this:  you need to ensure 7a05adb5d2a271a592e1369bb94302d6feb41768 is applied.
The initial deployment of the appliance seems to work (logging in and

[2015-07-15 16:55] chessbyte commented on #3468
@dmetzger57 Weren't you looking at this today?

[2015-07-15 16:57] #3416 closed

[2015-07-15 17:04] dclarizio opened #3470 "Clicking on Infrastructure / Hosts causes exception"
Log snippet below, but should be recreatable:
[code]

[2015-07-15 17:13] dmetzger57 commented on #3468
Yes, LJ kindly helped me triage and we discovered the issue is related to our move to Puma.

[2015-07-15 17:13] gmcculloug commented on #3464
:+1:
I do not have any direct dependency on this gem but we have provided instructions on how to use it from Automate on the talk.manageiq.org site: [Remotely run Powershell scripts within Automate using WinRM](http://talk.manageiq.org/t/remotely-run-powershell-scripts-within-automate-using-winrm).

If/when we update the gem we should also update that topic with any changes required to use the new

[2015-07-15 17:19] dclarizio opened #3471 "UI - Host add/edit screens are missing form buttons"
On current master, the Add/Cancel and Save/Reset/Cancel buttons are missing from the Host add and edit screens.
![hostedit](https://cloud.githubusercontent.com/assets/3433754/8704858/a4aa5ba0-2ada-11e5-8af6-9c6b79f5f1a6.png)

[2015-07-15 17:22] #3470 closed

[2015-07-15 17:44] bronaghs commented on #3464
The reason why we could not use the published WinRM gem was because it depended on an older version of the Savon gem than we do. However, i just noticed that the Savon dependency was removed from WinRM version 1.3.0.dev.1. This means we can test our code against the latest published WinRM gem and hopefully delete our own fork.

[2015-07-15 17:55] lgalis commented on #3471
I see the Add/Save button is the screen is resized enough or maximized:
![screenshot from 2015-07-15 13-53-23](https://cloud.githubusercontent.com/assets/12769982/8705644/fe8973cc-2af8-11e5-9cbc-3d3b5729a018.png)

[2015-07-15 17:57] dclarizio commented on #3471
Reassigning to @epwinchell as this seems to be a sizing issue.

[2015-07-15 18:44] abonas commented on #3467
@miq-bot add_label providers/containers

[2015-07-15 19:25] simon3z commented on #3467
@oschreib it works properly in my system, I think it needs some debugging on your side. Are the containers in the db? Have you tried with the rails console? You can ping me to debug it together.

[2015-07-15 20:34] abonas commented on #3467
@simon3z I just rebased on latest master and it works for me too.
@oschreib please try to rebase on latest master, and if it still not resolved, you are welcome to ping me too :)

[2015-07-16 02:41] kbrock commented on #3466
I was thinking the same thing while looking at this.

Looks like it is used by tools and rake tasks.

- tools/purge_miq_report_results.rb
- tools/purge_metrics.rb
- tools/purge_orphaned_tag_values.rb
- spec/tools/perf_generate.rb # ?
- rake evm:dbsync:replicate_backlog

[2015-07-16 02:42] kbrock commented on #3462
:+1: pg gem tends to be pretty stable when upgrading.

[2015-07-16 08:06] skateman opened #3474 "Grid classes col-md and col-sm have the same base width"
We are using both `col-md-*` and `col-sm-*` classes for our DIVs, but [this snippet](https://github.com/ManageIQ/manageiq/blob/master/app/assets/stylesheets/main.scss#L2) shows that they have the same base width. This results that the `col-sm-*` classes are never used and so they're completely obsolete.

[2015-07-16 08:07] skateman commented on #3474
@miq-bot add_label bug, ui

[2015-07-16 08:08] skateman commented on #3474
@miq-bot assign @epwinchell

[2015-07-16 09:36] skateman commented on #3474
It makes problems in #3472

[2015-07-16 11:52] petrblaho opened #3477 "Latest puma gem cannot be installed on Fedora 22 without rvm"
Puma gem version 2.12.0 was released on July 14 and it has issues compiling C extension - see https://github.com/puma/puma/issues/737 .

The reason looks like different (more strict) set of flags for gcc in Fedora.
rvm overrides these and installing puma 2.12.0 works with it.

Temporary solution would be pinning puma version at 2.11.3 (latest before 2.12.0) in Gemfile until puma is released with c

[2015-07-16 12:51] epwinchell commented on #3474
@skateman this is a feature, not a bug

[2015-07-16 12:55] skateman commented on #3474
@romanblanco we need you again, please do a PR which technically changes nothing but removes all the `col-sm-*` classes!

[2015-07-16 14:33] Fryguy commented on #3468
Note that @hsong-rh found you can still type through the spinner...so you can hit enter and login anyway.

[2015-07-16 14:36] Fryguy commented on #3464
Nice!

[2015-07-16 15:23] #3461 closed

[2015-07-16 15:35] #3462 closed

[2015-07-16 15:39] chessbyte opened #3483 "Update to latest snmp gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 1.1.0` vs. `1.2.0`

[2015-07-16 15:42] chessbyte opened #3484 "Update to latest net-ssh gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 2.9.1` vs. `2.9.2`

[2015-07-16 15:43] chessbyte opened #3485 "Update to latest net-sftp gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 2.0.5` vs. `2.1.2`

[2015-07-16 15:44] chessbyte opened #3486 "Update to latest net-ldap gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 0.7.0` vs. `0.11`

[2015-07-16 15:45] chessbyte opened #3487 "Update to latest logging gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 1.6.1` vs. `2.0.0`

[2015-07-16 15:47] chessbyte opened #3488 "Update to latest jbuilder gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 2.0.7` vs. `2.3.1`

[2015-07-16 15:49] chessbyte opened #3489 "Update to latest angularjs-rails gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 1.3.15` vs. `1.4.2`

[2015-07-16 15:50] Fryguy commented on #3487
Do we even need this gem?

[2015-07-16 15:50] Fryguy commented on #3488
This might be better assigned to @abellotti because I think this is mostly used by the REST API.

[2015-07-16 16:24] skateman commented on #3489
I think @himdel would be better as an assignee!

[2015-07-16 21:19] h-kataria opened #3497 "UI: Error when trying to access Timelines in UI"
Getting an error when trying to access Timeline under Dashboard/Timelines:

=================================
[----] I, [2015-07-16T15:51:48.536630 #18176:2c82d6c]  INFO -- : Completed 200 OK in 781ms (Views: 435.8ms | ActiveRecord: 14.9ms)
[----] I, [2015-07-16T15:52:38.122870 #18176:3f85a4595dd0]  INFO -- : Started POST "/dashboard/show_timeline/?id=1000000000031" for 127.0.0.1 at 2015-07-16 15:

[2015-07-16 21:57] imtayadeway commented on #3477
@petrblaho do you know if this is still an issue with 2.12.1?

[2015-07-16 23:38] imtayadeway commented on #3468
FWIW i can still reproduce the bug with the connection pool set to 1 (but still running puma). restarting doesn't seem to be necessary - just logging out/in again. if i hit refresh, sometimes i am logged in and sometimes i am taken back to the login page, where i can then log in successfully.

some other odd behavior that @gtanzillo found that i have also reproduced: hitting refresh will sometimes

[2015-07-17 09:59] himdel commented on #3489
No problem with that, I'm planning to review angular 1.4 changes anyway.

[2015-07-17 13:46] chessbyte opened #3501 "Update to latest acts_as_list gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 0.1.4` vs. `0.7.2`

Only use of this gem is in `app/models/miq_cim_derived_metric.rb`

[2015-07-17 13:49] chessbyte opened #3503 "Update to latest acts_as_tree gem"
https://gemnasium.com/ManageIQ/manageiq shows that we are using `~> 2.1.0` vs. `2.2.0`

Referenced in:
[code]

[2015-07-17 13:51] chessbyte opened #3504 "Add gems/pending to gemnasium evaluation"

[2015-07-17 13:58] chessbyte commented on #2747
@dclarizio @jonnyfiveiq Please review and respond.

[2015-07-17 14:14] martinpovolny commented on #2451
@Fryguy : according to the feature matrix above, the Ruby version is quite limited. But yes, based on features that we will want to support in the next release, we can either switch to the Ruby version or pack the Python version as an egg.

[2015-07-17 14:14] epwinchell commented on #2552
@Ladas @chessbyte This is a dhtmlxgrid not a bootstrap table. It is working as it should and will be replaced with Bootstrap before the next release.

[2015-07-17 14:19] dclarizio commented on #2488
Issue was found downstream here https://bugzilla.redhat.com/show_bug.cgi?id=1241335 . . . closing as this issue has been resolved upstream.

[2015-07-17 14:21] chessbyte commented on #1565
@martinpovolny If this issue is resolved, please close it.

[2015-07-17 14:24] chessbyte commented on #1038
@dclarizio If this issue is resolved, please close it.

[2015-07-17 14:39] chessbyte commented on #542
@jrafanie If this issue is complete, please close.

[2015-07-17 14:40] chessbyte commented on #541
@jrafanie If this issue is resolved, please close.

[2015-07-17 14:40] chessbyte commented on #540
@jrafanie If this issue is resolved, please close.

[2015-07-17 14:41] chessbyte commented on #537
@Fryguy If this issue is resolved, please close.

[2015-07-17 14:43] chessbyte commented on #532
@dclarizio If this issue is resolved, please close with comment.

[2015-07-17 14:43] chessbyte commented on #530
@dclarizio If this issue is resolved, please close with comment.

[2015-07-17 14:44] chessbyte commented on #502
@dclarizio If this issue is resolved, please close with comment.

[2015-07-17 14:45] chessbyte commented on #478
@dclarizio Still a TODO item?

[2015-07-17 14:53] djberg96 commented on #1404
It's actually still in Ruby, as of 2.2.2. They've been threatening to remove it for years, but never do.

In any case, I think this should be refactored to use FFI instead of win32-api since we already have ffi as a dependency. One less gem to worry about. :)

[2015-07-17 15:50] #532 closed

[2015-07-17 15:51] djberg96 commented on #1404
Actually...I think this file can be removed. Ruby has supported large files on Windows since 1.9. I don't see this code doing anything special.

[2015-07-17 15:52] chessbyte commented on #1404
@djberg96 Which file can be removed?

[2015-07-17 15:59] chessbyte opened #3505 "Rename files to snake case in gems/pending/fs"
- [x] ext3 (https://github.com/ManageIQ/manageiq/pull/3508)
- [x] ext4 (https://github.com/ManageIQ/manageiq/pull/3509)
- [x] fat32 (https://github.com/ManageIQ/manageiq/pull/3510)
- [x] iso9660 (https://github.com/ManageIQ/manageiq/pull/3514)
- [ ] MetakitFS
- [ ] MiqFS
- [ ] modules
- [x] ntfs (https://github.com/ManageIQ/manageiq/pull/3511)
- [x] ReiserFS (https://github.com/ManageIQ/manageiq/p

[2015-07-17 16:01] Ladas commented on #2682
I would say this issue is actually fixed, since the latest report had just similar symptoms and the old one should be fixed.

@tzumainn @movitto could you verify you don't see this problem anymore?

[2015-07-17 16:04] Ladas commented on #2552
@epwinchell should I close this then? I assume all headers will have unified styles in the next version, right?

[2015-07-17 16:20] dclarizio commented on #2595
@jonnyfiveiq please see suggestions above and we will implement whatever is suggested.  This is not the only field that has a label wrapping to 2 lines and probably won't be the last, but we can change this one for clarity if desired.  Thx, Dan

[2015-07-17 16:34] djberg96 commented on #1404
@chessbyte MiqLargeFileWin32.rb

[2015-07-17 16:34] dclarizio commented on #2747
I agree we should remove the obsolete code.

[2015-07-17 16:37] dclarizio commented on #530
I am not sure.  Since we now have Rails 4 upstream, we will need to verify that the Ziya code paths still work downstream.  @gtanzillo and I will have to look into this.

[2015-07-17 16:38] dclarizio commented on #502
We are up on Rails 4 and things left out of the pipeline are working and scheduled for replacement.

[2015-07-17 16:38] #502 closed

[2015-07-17 16:39] dclarizio commented on #478
@epwinchell please close it this has been addressed.  Thx, Dan

[2015-07-17 16:47] epwinchell commented on #2552
@Ladas Yes, close it. Everything should be unified by the next release.

[2015-07-17 16:47] chessbyte commented on #2488
@dclarizio If issue is resolved, why is https://bugzilla.redhat.com/show_bug.cgi?id=1241335 still in `ASSIGNED` status with no upstream PR referenced in it?

[2015-07-17 16:48] Ladas commented on #2552
@epwinchell ok

[2015-07-17 16:48] #2552 closed

[2015-07-17 17:12] dclarizio commented on #2488
@chessbyte I verified in upstream that the issue doesn't exist, i.e. the GTL buttons are not visible on the Host / Services screen.  I think it was corrected during refactoring upstream, but is still present downstream, so this issue can be closed.

[2015-07-17 17:17] imtayadeway commented on #3468
![screenshot from 2015-07-17 10 10 38](https://cloud.githubusercontent.com/assets/1710874/8752936/72c7b482-2c6c-11e5-8d70-4c8a74944e48.png)
![screenshot from 2015-07-17 10 11 04](https://cloud.githubusercontent.com/assets/1710874/8752935/72b6c42e-2c6c-11e5-9453-2e54915491ea.png)

Found some things of interest when comparing a happy request to `POST dashboard/authenticate` (top in each screenshot)

[2015-07-17 17:50] epwinchell commented on #478
@dclarizio This has been taken care of. Please close.

[2015-07-17 17:50] chessbyte commented on #2488
Can you update

[2015-07-17 17:50] #2488 closed

[2015-07-17 17:51] #478 closed

[2015-07-17 18:29] movitto commented on #2682
Yes verified the issue was no longer present w/ the last appliance

[2015-07-17 19:40] Fryguy opened #3513 "sporadic test failure: migrations fails with missing id on HABTM tables"
I believe it might be related to #3479 since that PR was about removing the extra id column on HABTM tables.

[code]

[2015-07-17 19:41] Fryguy commented on #3513
@lfu @kbrock Is this the same error you're seeing?

[2015-07-17 19:43] lfu commented on #3513
@Fryguy This is a different error.

[2015-07-17 19:46] Fryguy commented on #3513
@tenderlove I might need your help here.  I don't understand why Rails is attaching a `RETURNING "id"` on a table that has no id.  Unless the stubs are set up wrong?

[2015-07-17 19:55] Fryguy commented on #3513
Oh ugh...I didn't notice that that particular migration creates a stub for the MiqGroupsUsers table.  I guess setting `self.primary_key = nil` in the model stub doesn't work?

[2015-07-17 20:56] kbrock commented on #576
@dmetzger57 do you know if this is already fixed by the changes you have introduced in the appliance?

[2015-07-17 23:55] matthewd commented on #3468
I *believe* this is https://github.com/puma/puma/pull/743

[2015-07-18 01:38] matthewd commented on #3468
I've updated the Gemfile on the appliance to pull puma from git, and done an `evm:restart`.

I wasn't doing a very good job of reproducing it, however, so... let me know whether you can still get it to break? ¯\\\_(ツ)_/¯

[2015-07-19 15:08] abonas commented on #2329
@zeari please check if this issue can be closed

[2015-07-19 15:40] abonas opened #3522 "printing same configuration 10 times in the log"
is this necessary?
it seems it's done for every worker on its startup, but the configuration is the same for all.
[----] I, [2015-07-19T18:20:45.558727 #24073:3ede9c]  INFO -- : MIQ(MiqReportingWorker.sync_workers) Workers are being synchronized: Current #: [0], Desired #: [2]
[----] I, [2015-07-19T18:20:45.977138 #24073:3ede9c]  INFO -- :   :kill_algorithm:
[----] I, [2015-07-19T18:20:45.977247 #