[2017-09-01 15:10] Fryguy opened #15926 "bin/update can leave a developer in a bad state"
As discussed in https://github.com/ManageIQ/miq_bot/issues/357, bin/update can leave a developer in bad state where they may have "oldish" code in ManageIQ/manageiq locally, but then pull in the "new" code from the dependent git repos.  That "new" code may be incompatible with the local "oldish" code, leading to errors that just confuse the developer.

We can't force a git pull locally, in particu

[2017-09-01 15:21] bdunne commented on #15926
👍 I like the idea, but how do we make it noticeable?  Currently the STDOUT of `bin/update` is ~840 lines long.

[2017-09-01 15:21] NickLaMuro commented on #15926
@Fryguy as I started to elude to regarding " @jrafanie idea" in second part of this comment:

https://github.com/ManageIQ/miq_bot/issues/357#issuecomment-326496397

There are a few things to keep in mind with this approach.

* `bin/update` is already overloaded with text, and unless this happens "after an error", this will most likely get missed/ignored as well if it just comes after the `bundle u

[2017-09-01 15:23] NickLaMuro commented on #15926
@bdunne it is ~840 lines of text if you yarn is up to date and you don't have any migrations to run... far worse if that is not the case.

[2017-09-01 16:24] Fryguy commented on #15926
I agree.  We may have to do something to cut down on some of the "info" messages from yarn.

I could see it making sense, if you don't have the latest fine branch locally for some reason.  I disagree about the non-triviality...you can `git fetch` to get the remote, and see if the remote and the local share the tip commit or not...seems pretty straightforward.

:trollface: ┬─┬ ︵ /(.□. \）

[2017-09-01 16:32] jrafanie commented on #15926
`bin/update` could check if you're out of date with your remote, and fail unless you pass `--force` or `-f`.  When you're trying to do something and don't want to move your HEAD, just pass `-f`.  It should really yell at you to update to the tip since you're updating dependencies.

[2017-09-01 16:34] chrisarcand commented on #15926
Close - you actually want to check that `master`'s `HEAD` is just a parent of your `HEAD` (so one can rebase one's work on top of master and be up to date, as an option.

[2017-09-01 18:26] NickLaMuro commented on #15926
I think you are still missing the point.  People are not just going to run `bin/update` on master, they are going to run it on feature branches as well.  So you have to check that the branch you are on is up to date with master, but from where it was branched from.

Every suggest is assuming you are running from the master branch, but rarely are people working from that branch directly.

Again, th

[2017-09-01 18:51] chrisarcand commented on #15926
I'm going, again, back to the point of 'you should always just run the latest' (unless you know what you're doing, in which case add a flag and do whatever you want). Since bin/update updates your gems to their latest, you should be expected to have your feature branch up to date as well. This greatly simplifies the solution.

This is a byproduct of having unlocked git-based gems, as I've been say

[2017-09-01 19:39] Fryguy commented on #15926
right...thats what I meant by "share the tip commit", but I didn't elaborate on that I meant the remote master's HEAD, so thanks for the clarification.  To clarify even further, the script would know *which* remote, so on any branch off of master it would check the remote master's HEAD, but a branch off of fine, would know to check remote fine's HEAD.

That is exactly what I am describing (and whi

[2017-09-01 21:41] NickLaMuro commented on #15926
While I missed the intent of what he was saying until you actually made it more clear, it still has two flaws:

* A false positive warning would be raised on any branches that aren't based off the master branch (i.e., bugfixes branches on old releases), turning into ignored noise.
    - I realize this would required what ever to is built to support this to actually be merged into those branches, a

[2017-09-01 21:45] kbrock commented on #7990
@chrisarcand If we change `ORDER BY lower(name)` to just `ORDER BY name` the function, does this resolve this issue?

[2017-09-01 22:59] walteraa commented on #15925
The PR sent for me fixes only for Physical Server, events, asset_details, etc.
Another PR will be opened to fix hardware cascading.

[2017-09-02 06:03] #10428 closed

[2017-09-02 13:59] vanloswang commented on #9837
Since miq is rebuild miq container images, It is not a problem. So close this issue.

[2017-09-02 13:59] #9837 closed

[2017-09-03 08:43] abonas commented on #10760
was this fixed?

[2017-09-03 09:21] cben commented on #10504
Still relevant.
@miq-bot move-issue manageiq-ui-classic

[2017-09-03 09:22] #10504 closed

[2017-09-04 11:45] juliancheal commented on #15925
@walteraa what's the link to your PR?

[2017-09-04 11:45] juliancheal commented on #15925
@miq-bot assign juliancheal

[2017-09-04 12:03] juliancheal commented on #15925
Merged the `PhysicalSever` PR in `manageiq-providers-lenovo`.

[2017-09-05 17:35] cwpenhale commented on #15712
If there's any information I can provide, let me know how I can assist.

[2017-09-05 18:23] simon3z commented on #15712
Ping @zakiva @zeari

[2017-09-05 19:37] walteraa commented on #15925
@juliancheal @rodneyhbrown7 I beliave that the other resouces(e.g.: Asset details and hardware) will still be saved in the database even deleting the Physical server. Should I open a PR adding dependence/destroy between these resources and Physical servers?

@AndreyMenezes if the answer is negative, you can close this issue.

[2017-09-06 05:16] tjyang commented on #15926
Hi @Fryguy
Would mind to provide exact git command to display if my local master is out of date ?

[code]

[2017-09-06 13:36] himdel commented on #15831
Just a note - this is fixed with the new GTLs:

![current](https://user-images.githubusercontent.com/289743/30114463-63e01834-9307-11e7-9e6c-b1e06433d2c2.png)

So, this issue is fine-only.

[2017-09-06 14:46] jrafanie commented on #15926
@tjyang since your remote is named origin, you'll need to change the command to this:
`git merge-base --is-ancestor remotes/origin/master HEAD`

[2017-09-06 15:14] tjyang commented on #15926
@jrafanie , thanks for the pointer for correct command. I  need learn git deeper.

[2017-09-06 17:10] tjyang commented on #15926
@jrafanie , sorry to bug you again.

* my current local repo is like this
[code]
* It is a few days behind [current 09/06/2017 commit](https://github.com/ManageIQ/manageiq/commits/master).

* But I am not able to see if my local is outdated, even I switched to use  SCL git 2.9.3 version

[code]

[2017-09-06 17:32] Fryguy commented on #15926
The exit status will tell you out of date, so `echo $?`

[2017-09-06 17:33] Fryguy commented on #15926
[code]

[2017-09-06 17:50] tjyang commented on #15926
@Fryguy . Thank you for you git usage guidance.

Following is the successful log for my environment.

[code]

[2017-09-06 18:10] Fryguy commented on #10346
I believe this is no longer the case now that we have the manageiq-pods repo.

[2017-09-06 18:10] #10346 closed

[2017-09-06 18:24] #6212 closed

[2017-09-06 18:30] chrisarcand commented on #8432
This likely just won't happen.

[2017-09-06 18:30] #8432 closed

[2017-09-06 18:33] #1404 closed

[2017-09-06 18:34] Fryguy commented on #14244
@bdunne @carbonin @martinpovolny @skateman In light of the rearchitecture, would this be possible now, since the assets will be in one place?  I think we found some oddities with the 404, and 500 pages specifically, because they're not treated like usual assets, but I'm not sure that would come into play here.

[2017-09-06 18:43] lgalis commented on #6997
this is not a bug -  there are 2 messages because there are 2 events - the provider was added and a refresh was initiated.

[2017-09-06 18:45] lgalis commented on #9295
@miq-bot remove_label stale

[2017-09-06 18:45] lgalis commented on #10034
@miq-bot remove_label stale

[2017-09-06 18:47] juliancheal commented on #8432
@chrisarcand saw this today, and remembered. :)

[2017-09-06 18:47] lgalis commented on #10254
@miq-bot rm_label stale

[2017-09-06 18:47] Fryguy commented on #15882
¯\\\_(ツ)_/¯  @gtanzillo ?

[2017-09-06 18:48] lgalis commented on #10633
@miq-bot rm_label stale

[2017-09-06 18:50] juliancheal commented on #10123
@blomquisg is this still something that we need to do?

[2017-09-06 18:54] lgalis commented on #7616
Fixed by https://github.com/ManageIQ/manageiq-providers-foreman/pull/5

[2017-09-06 19:19] agrare commented on #9053
Going to close this assuming it was a permissions issue.  If this is still causing you problems please re-open.

[2017-09-06 19:19] #9053 closed

[2017-09-06 19:29] #4378 closed

[2017-09-06 19:30] #4483 closed

[2017-09-06 19:30] #7616 closed

[2017-09-06 19:31] #6997 closed

[2017-09-06 21:21] #762 closed

[2017-09-06 21:21] #824 closed

[2017-09-06 21:22] #930 closed

[2017-09-06 21:22] #2361 closed

[2017-09-06 21:22] #2726 closed

[2017-09-06 21:23] jrafanie commented on #3415
I guess it's not important.  Closing.

[2017-09-06 21:23] #3415 closed

[2017-09-06 21:24] jrafanie commented on #6335
Ruby is notoriously not copy on write friendly.  We need to go to containers anyway so process isolation will require us to move away from fork anyway...closing.

[2017-09-06 21:24] #6335 closed

[2017-09-06 21:24] #8325 closed

[2017-09-06 21:24] #9919 closed

[2017-09-06 21:25] #2243 closed

[2017-09-06 21:26] #1962 closed

[2017-09-06 21:26] #533 closed

[2017-09-07 06:21] skateman commented on #14244
@Fryguy I think yes, we just need some extra lines in the Apache configuration to catch 404 and 500 errors and forward them to the specific URL.

[2017-09-07 06:47] #9313 closed

[2017-09-07 06:49] durandom commented on #9253
we can disable providers now and there is some investigation in https://bugzilla.redhat.com/show_bug.cgi?id=1343328 to use it in discovery.

[2017-09-07 06:49] #9253 closed

[2017-09-07 06:49] #8887 closed

[2017-09-07 06:50] durandom commented on #7820
its all in manageiq-content now

[2017-09-07 06:50] #7820 closed

[2017-09-07 06:51] durandom commented on #10741
this has been implemented via https://github.com/ManageIQ/manageiq/blob/fcf0d0ca368df85dea3a7d28fe47b5bf2d8868f3/app/models/manageiq/providers/inflector.rb

[2017-09-07 06:52] durandom commented on #10741
@miq-bot close_issue

[2017-09-07 06:53] #10741 closed

[2017-09-07 07:34] durandom commented on #10572
@miq-bot move_issue manageiq-providers-amazon

[2017-09-07 07:35] durandom commented on #9576
this was a minor hickup
@miq-bot close_issue

[2017-09-07 07:35] #10572 closed

[2017-09-07 07:36] #9576 closed

[2017-09-07 07:36] durandom commented on #4080
moving over to the ui classic
we can use the messages provided by supports_feature_mixin

[2017-09-07 07:36] durandom commented on #4080
@miq-bot move_issue manageiq-ui-classic

[2017-09-07 07:37] #4080 closed

[2017-09-07 09:59] moolitayer commented on #5617
Have not seen this issue in a while, closing.
Please reopen if this becomes relevant again.

[2017-09-07 09:59] #5617 closed

[2017-09-07 13:23] bmclaughlin commented on #1147
Fixed per comment from @h-kataria above.  Closing.

[2017-09-07 13:23] #1147 closed

[2017-09-07 13:38] #5527 closed

[2017-09-07 13:40] #5967 closed

[2017-09-07 13:59] #5965 closed

[2017-09-07 15:11] bmclaughlin commented on #3857
Fixed by #3841, please close.

[2017-09-07 17:36] tjyang opened #15948 "The proxy server received an invalid response from an upstream server."
Hi

I update  my miq02 which is running master branch to today's commit

Is it possible update the code to display which server it has problem with ?

* Current master version

[code]
* Error log  pop up window keep showing up with following text.

[code]

[2017-09-08 08:32] tjyang commented on #14265
[ServiceNow discovery](http://wiki.servicenow.com/index.php?title=Discovery#gsc.tab=0) can autod-iscovery new devices appear on the network. If  an OS has sndisco account created with sudo access to a few OS command, it can then collect and parse the attributes and turn it into a CMDB record. But this approach doesn't work with network devices.

For ManageIQ, since it can map 80% of  devices on th

[2017-09-09 04:05] yaacov commented on #7256
Fixed by:
https://github.com/ManageIQ/manageiq/pull/10999

[2017-09-09 04:27] skateman commented on #11272
@miq-bot don't complain please

[2017-09-10 10:05] abonas commented on #10912
imo still unresolved. un-stale?

[2017-09-10 19:06] Fryguy commented on #11329
@jrafanie Technically this is still open, so I'm assigning to you.  This might go away with the rearch.

@miq-bot rm-label stale
@miq-bot assign @jrafanie

[2017-09-10 19:07] Fryguy commented on #11290
This is still an issue, but will also likely go away with the rearch.  @jrafanie assigning to you.  You can close if you want.

@miq-bot rm-label stale
@miq-bot assign @jrafanie

[2017-09-11 00:26] chrisarcand commented on #10894
Closing as stale; if it's still a problem in the newest release, please open a different issue in manageiq/manageiq-ui-classic

[2017-09-11 00:26] #10894 closed

[2017-09-11 00:28] chrisarcand commented on #10843
Closing this issue as stale; if you're still having this problem with the newest release, please open a new issue in the [UI Classic repository](https://github.com/ManageIQ/manageiq-ui-classic). Thanks!

[2017-09-11 00:28] #10843 closed

[2017-09-11 00:32] chrisarcand commented on #11117
Closing this issue as stale; if you're still having this problem with the newest release, please open a new issue in the [UI Classic repository](https://github.com/ManageIQ/manageiq-ui-classic). If you like, you can also move this issue as-is to the UI repository by reopening it and commenting with `@miq-bot move_issue manageiq/manageiq-ui-classic`

Thanks!

[2017-09-11 00:32] #11117 closed

[2017-09-11 00:32] chrisarcand commented on #11047
Closing this issue as stale; if you're still having this problem with the newest release, please open a new issue in the [UI Classic repository](https://github.com/ManageIQ/manageiq-ui-classic). If you like, you can also move this issue as-is to the UI repository by reopening it and commenting with `@miq-bot move_issue manageiq/manageiq-ui-classic`

Thanks!

[2017-09-11 00:32] #11047 closed

[2017-09-11 00:33] chrisarcand commented on #10760
@abonas Not sure, but let's move this over to the correct repo to be evaluated.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:34] #10760 closed

[2017-09-11 00:35] chrisarcand commented on #3767
Closing this issue as stale; if you're still having this problem with the newest release, please open a new issue in the [UI Classic repository](https://github.com/ManageIQ/manageiq-ui-classic). If you like, you can also move this issue as-is to the UI repository by reopening it and commenting with `@miq-bot move_issue manageiq/manageiq-ui-classic`

Thanks!

[2017-09-11 00:35] #3767 closed

[2017-09-11 00:39] chrisarcand commented on #4504
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:39] #4504 closed

[2017-09-11 00:40] chrisarcand commented on #4850
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:40] #4850 closed

[2017-09-11 00:41] chrisarcand commented on #5744
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:41] #5744 closed

[2017-09-11 00:42] chrisarcand commented on #5747
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:42] #5747 closed

[2017-09-11 00:43] chrisarcand commented on #7503
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:43] #7503 closed

[2017-09-11 00:45] chrisarcand commented on #8035
Moving this to the right repo, I'll add Martin's comment there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:45] #8035 closed

[2017-09-11 00:46] chrisarcand commented on #8130
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:46] #8130 closed

[2017-09-11 00:46] chrisarcand commented on #8577
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:46] #8577 closed

[2017-09-11 00:47] chrisarcand commented on #8716
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:47] #8716 closed

[2017-09-11 00:47] chrisarcand commented on #9394
This issue is stale, so I'm moving this over to the Classic UI repository to be reevaluated as it will likely never get reviewed here. If you know this has been fixed or is no longer valid, please feel free to close the issue there.

@miq-bot move_issue manageiq-ui-classic

[2017-09-11 00:47] #9394 closed

[2017-09-11 14:12] #6627 closed

[2017-09-11 14:29] himdel commented on #10686
@miq-bot close_issue

Closing since there's been nor response for a year :).

[2017-09-11 14:30] #10686 closed

[2017-09-11 14:57] lfu commented on #853
Please reopen if this becomes relevant again.

[2017-09-11 14:57] #853 closed

[2017-09-11 14:58] #829 closed

[2017-09-11 14:58] #847 closed

[2017-09-11 15:00] lfu commented on #1619
Please reopen if this becomes relevant again.

[2017-09-11 15:00] #1619 closed

[2017-09-11 15:18] zeari commented on #15712
@cwpenhale This doesnt reproduce on master anymore. Which version are you using?

[2017-09-11 15:35] himdel commented on #11068
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2017-09-11 15:36] #11068 closed

[2017-09-11 15:53] #11290 closed

[2017-09-11 15:53] #11329 closed

[2017-09-11 16:02] romanblanco commented on #11272
@skateman is this still an issue?

[2017-09-11 19:40] cwpenhale commented on #15712
@zeari, yes, fine-2. Should I try fine-3?

[2017-09-11 20:25] #9642 closed

[2017-09-11 20:46] hsong-rh commented on #6039
Solved by #6089, issue closed.

[2017-09-11 20:46] #6039 closed

[2017-09-11 20:59] zeari commented on #15712
@cwpenhale yes, I checked out fine-3 and I cant recreate the error there.

[2017-09-12 12:45] skateman commented on #11272
Yup, nothing changed in the area...

[2017-09-12 13:06] romanblanco commented on #11272
@miq-bot remove_label stale

[2017-09-14 13:40] carbonin commented on #13958
Looks like this was fixed in #12878

[2017-09-14 13:40] #13958 closed

[2017-09-15 08:06] ITD27M01 opened #15975 "Bundle awx to ManageIQ appliance for simplify enabling Embeded Ansible."
Hi Guys.

Last week we had access to the source code of [awx](https://github.com/ansible/awx) project on which the Ansible Tower is based.

https://github.com/ansible/awx

This allows you to provide the appropriate appliance worker out of the box without having to perform complicated operations for installation. Please consider this possibility and plan appropriate work.

[2017-09-15 10:47] chessbyte commented on #15975
@ITD27M01 our plan is to incorporate AWX into the Gaprindashvili release

[2017-09-16 12:24] skateman commented on #12017
I think we can close this because of the `webpacker` stuff...

[2017-09-16 12:24] #12017 closed

[2017-09-18 12:04] durandom commented on #12010
@miq-bot  move_issue manageiq-providers-openstack

[2017-09-18 12:05] #12010 closed

[2017-09-18 12:11] durandom commented on #11736
@bronaghs do you want to see if the the linked PR can easily be rebased? I guess some files have been moved to external repos already...
Otherwise I'll just close this issue

[2017-09-18 12:18] agrare commented on #11676
@mfalesni I'm going to close this, can you reopen if it is still an issue on the latest release?

[2017-09-18 12:18] #11676 closed

[2017-09-18 19:03] bzwei opened #15985 "OrchestrationTemplate refactoring"
The major goal is to move `OrchestrationTemplate` subclasses to provider repositories, together with some other refactoring/enhancement around `OrchestrationTemplate`. The work includes aspects such as:
1. Move CloudFormation, Hot, Azure, Vnfd Template to provider repositories. VCloud Template is already in its provider repository
2. Update the provider refresher code to create/update orchestratio

[2017-09-18 19:03] bzwei commented on #15985
cc @gmcculloug

[2017-09-18 19:09] Fryguy commented on #11637
I believe this is still an issue, but someone would need to confirm.

[2017-09-18 19:10] dmetzger57 commented on #14778
Perhaps a simple start is implementing a cli tool for gathering high level configuration / health information, initially providing the following information:

* EVM status
  * Fine release and newer: 'rake evm:status_full'
  * Pre-Fine release: 'rake evm:status'
* Inventory breakdown, see https://github.com/ManageIQ/manageiq/issues/14778#issuecomment-294569128
* Miq_queue health
  * Total number o

[2017-09-18 19:25] chrisarcand commented on #11637
@Fryguy Yup, I plan on glancing at this after the stuff I'm currently on if nothing else comes up.

[2017-09-19 08:44] #11979 closed

[2017-09-19 08:44] #13057 closed

[2017-09-19 14:00] carbonin commented on #15975
I would like to do this, but as it stands awx is only runnable as a group of docker containers or on OpenShift.

We could investigate running the docker containers on the appliance, but that would be a pretty significant break with how we handle running embedded ansible tower currently.

Additionally, the container images don't seem to be distributed in any standard way. The awx [install guide](ht

[2017-09-19 14:41] romanblanco commented on #11613
Closing this issue, I'm not able to reproduce it anymore @blomquisg @Ladas

[2017-09-19 14:41] #11613 closed

[2017-09-19 19:52] carbonin commented on #9921
Closing this as https://github.com/ManageIQ/manageiq-pods is a thing now :smile:

[2017-09-19 19:52] #9921 closed

[2017-09-19 19:54] carbonin commented on #12724
If you're running in openshift I would use the images and templates in https://github.com/ManageIQ/manageiq-pods.

These output logs to standard out.

[2017-09-19 19:54] #12724 closed

[2017-09-20 12:03] himdel commented on #11821
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2017-09-20 12:04] #11821 closed

[2017-09-20 12:16] romanblanco commented on #11509
not an issue anymore

[2017-09-20 12:17] #11509 closed

[2017-09-20 13:33] romanblanco opened #15999 "Error after trying to Refresh Relationship and Power States"
On freshly added provider, I'm getting error message '_The selected provider is not in the current region_' after trying to _'Refresh Relationship and Power States'._

![screencast from 2017-09-20 15-28-34](https://user-images.githubusercontent.com/1187051/30646323-ec1197e8-9e18-11e7-8e11-2cfeab665f0c.gif)

I've checked, and the region is not different, and the provider wasn't in the DB before.

T

[2017-09-20 13:47] romanblanco commented on #11354
@miq-bot remove_label stale

[2017-09-20 13:59] himdel commented on #15999
@romanblanco this is probably not enough info...

Do you have a `REGION` file? If so, what does it contain?
Do you have `ENV['REGION']` instead?
What does `region_number_from_sequence` return?

Which of those gets used for `my_region_number`?

[2017-09-20 14:10] romanblanco commented on #15999
- my`REGION` file contains `0`.
- `ENV['REGION']` is `nil`.
-

[code]

[2017-09-20 14:16] himdel commented on #15999
Ah, that would explain it :)

The `REGION` file doesn't have to be there (and then `region_number_from_sequence` gets used, giving you the right region), or it needs to have the right value (`0` != `10`).

[2017-09-20 14:30] romanblanco commented on #15999
@himdel Without `REGION` file you get error
[code]

with `10` in `REGION`, I'm getting the same error:

[code]

[2017-09-20 14:48] himdel commented on #15999
[code]

Should help :)

[2017-09-20 14:50] himdel commented on #15999
That said, this still means that `activerecord-id_regions` uses a different approach to determining regions than `MiqRegion` does .. Cc @Fryguy

[2017-09-20 15:51] ITD27M01 opened #16002 "Error in raw_attach_volume and raw_detach_volume methods"
Hi Guys. From this commit
https://github.com/ManageIQ/manageiq/commit/fc95a15b45a3eeb2264a1806b79136847dd9025a#diff-d30acf874de5dc5851311dce7275624d there is methods for attaching volumes. But I think there is error in options for this methods (raw_attach_volume and raw_detach_volume).

From https://github.com/ManageIQ/manageiq/blob/master/app/models/vm_or_template/operations/configuration.rb#L95

[2017-09-20 16:24] ITD27M01 commented on #16002
Related error:

[----] E, [2017-09-20T19:17:12.067803 #5234:f9b12c] ERROR -- : MIQ(MiqQueue#deliver) Message id: [15975009], Error: [undefined method `find_by_id_filtered' for #<ManageIQ::Providers::Openstack::CloudManager:0x00000002c44710>]
[----] E, [2017-09-20T19:17:12.068221 #5234:f9b12c] ERROR -- : [NoMethodError]: undefined method `find_by_id_filtered' for #<ManageIQ::Providers::Openstack::C

[2017-09-21 08:41] rayadav1911 commented on #1409
Is this issue resolved? in new realse of manage IQ or not

[2017-09-21 14:41] himdel commented on #11872
Probably still relevant, and presumably nobody got to it yet, so..

[code]

[code]

...

[2017-09-21 14:49] bronaghs commented on #15999
@miq-bot assign @himdel

[2017-09-21 14:51] bronaghs commented on #16002
@miq-bot assign @tzumainn

[2017-09-21 15:49] himdel commented on #11872
Out of those (48):

`select(` (and thus without RBAC):

[code]

(4)

`ButtonWithoutRbacCheck` (and descendants):

[code]

(24)

TODO (need fixing):

   * [ ] `automation_manager_delete` - inventory_group_center.rb
   * [ ] `automation_manager_edit` - inventory_group_center.rb
   * [ ] `automation_manager_refresh` - inventory_group_center.rb
   * [ ] `container_build_scan` - container_builds_center

[2017-09-21 15:49] himdel commented on #11872
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2017-09-21 15:50] #11872 closed

[2017-09-21 15:58] #15847 closed

[2017-09-21 15:59] dclarizio commented on #15838
@Yadnyawalkya please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 15:59] #15838 closed

[2017-09-21 16:00] dclarizio commented on #15837
@Yadnyawalkya please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:00] #15837 closed

[2017-09-21 16:00] dclarizio commented on #15832
@vatsalparekh please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:00] #15832 closed

[2017-09-21 16:00] dclarizio commented on #15806
@akarol please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:00] #15806 closed

[2017-09-21 16:01] dclarizio commented on #15801
@akarol please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:01] #15801 closed

[2017-09-21 16:01] dclarizio commented on #15772
@tjyang please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:02] dclarizio commented on #15850
@mfalesni please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:02] #15850 closed

[2017-09-21 16:02] dclarizio commented on #15834
@Yadnyawalkya please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:02] #15834 closed

[2017-09-21 16:02] dclarizio commented on #15849
@mfalesni please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:02] #15849 closed

[2017-09-21 16:03] dclarizio commented on #15829
@sbulage please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:03] #15829 closed

[2017-09-21 16:03] dclarizio commented on #15830
@vatsalparekh please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:03] #15830 closed

[2017-09-21 16:03] dclarizio commented on #15835
@Yadnyawalkya please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:03] #15835 closed

[2017-09-21 16:04] dclarizio commented on #15842
@anurag03 please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:04] #15842 closed

[2017-09-21 16:04] dclarizio commented on #15802
@akarol please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:04] #15802 closed

[2017-09-21 16:04] dclarizio commented on #15843
@Yadnyawalkya please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:04] #15843 closed

[2017-09-21 16:05] dclarizio commented on #15836
@Yadnyawalkya please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:05] #15836 closed

[2017-09-21 16:05] dclarizio commented on #15848
@mfalesni please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:05] #15848 closed

[2017-09-21 16:05] dclarizio commented on #15839
@Yadnyawalkya please open an [UPSTREAM] BZ for this if not done already.

[2017-09-21 16:05] #15839 closed

[2017-09-21 16:07] himdel commented on #11652
Still relevant.

[2017-09-21 16:45] himdel commented on #15999
@miq-bot close_issue

This was indeed a case of `REGION` file saying something different than the DB.

I guess we can close now.

[2017-09-21 16:46] #15999 closed

[2017-09-21 21:27] tjyang commented on #15772
@dclarizio . Just to be sure. can you provide URL link to "[UPSTREAM] BZ" ?

[2017-09-21 21:34] tjyang commented on #15772
In preparation to submit another bug report, I checked on my miq instance using  master branch.
now it works as expected to bring up a list of VM names with centos working by search string "*centos*"
![image](https://user-images.githubusercontent.com/378638/30719738-4b47ac44-9eea-11e7-9aeb-3be268664d51.png)
I think this issue can be closed. @vatsalparekh , do you agree ?

[2017-09-22 05:58] Yadnyawalkya commented on #15843
@dclarizio, I misunderstood this feature totally while opening the issue, hence not filing it in BZ.

[2017-09-22 06:01] Yadnyawalkya commented on #15835
@dclarizio, Copy maintained at https://bugzilla.redhat.com/show_bug.cgi?id=1494344

[2017-09-22 06:01] Yadnyawalkya commented on #15837
@dclarizio, Copy maintained at https://bugzilla.redhat.com/show_bug.cgi?id=1494340.

[2017-09-22 06:02] Yadnyawalkya commented on #15834
@dclarizio, Copy maintained at https://bugzilla.redhat.com/show_bug.cgi?id=1494341.

[2017-09-22 06:03] Yadnyawalkya commented on #15838
@dclarizio, Copy maintained at https://bugzilla.redhat.com/show_bug.cgi?id=1494337.

[2017-09-22 06:09] Yadnyawalkya commented on #15836
@dclarizio, Copy maintained at https://bugzilla.redhat.com/show_bug.cgi?id=1494349.

[2017-09-22 06:34] Yadnyawalkya commented on #15839
@dclarizio, Copy maintained at https://bugzilla.redhat.com/show_bug.cgi?id=1494359.

[2017-09-22 11:54] vatsalparekh commented on #15772
@tjyang it seems to be working, but the search box seems to have gone when you go through compute->infra->provider->vms

[2017-09-22 13:10] tjyang commented on #15772
@vatsalparekh
Mine still show the search box.
![image](https://user-images.githubusercontent.com/378638/30745796-21270738-9f6d-11e7-9f9d-95ba1f4e2faa.png)

You need to drop down navigation a couple times to find the right way to have search box displayed.

[2017-09-22 13:20] #15772 closed

[2017-09-25 07:39] Ladas commented on #13113
@miq-bot remove_label stale

[2017-09-25 15:11] chessbyte commented on #14778
I think the whole point of an SOS Report is something that is relatively small that can be cut/paste in an email to get clarity on the user's environment.  This would precede the set of ManageIQ logs that tend to be massive and are typically shared via attachment or a link to an available storage location.

As @ohadlevy mentioned via email, perhaps we can borrow some ideas from the Foreman project

[2017-09-25 19:44] Fryguy commented on #12420
@miq-bot move_issue manageiq-ui-classic

[2017-09-25 19:45] #12420 closed

[2017-09-25 22:14] lolaswift opened #16041 "'count' doesn't reflect the real total number of VMs when filters are on"
I called the API to get VMs of a specific cluster:
"vms?offset=0&limit=10&filter[]=ems_cluster_id='cluster1'&expand=resources&attributes=name,host,raw_power_state,ipaddresses,storages,hardware,software,lans"
In the result, 'count' always shows 1000 which is the number of all VMs of all clusters. My cluster1 has only 50 VMs actually. Isn't  'count' should show the filtered result? Same issue when c

[2017-09-26 13:03] moolitayer commented on #14238
@joelddiez @shalomnaim1 Please review

[2017-09-26 18:59] israel-hdez commented on #15756
@miq-bot assign israel-hdez

[2017-09-26 20:17] shalomnaim1 commented on #14238
You have a typo on the setup section

I believe you meant to implemented, right?

[2017-09-26 20:20] shalomnaim1 commented on #14238
it was nice if you set a link to `openshift/openshift-ansible#4509` so it be easier to access this reference

[2017-09-26 22:20] himdel opened #16052 "PG 10.0 - PG::UndefinedFunction - pg_xlog_location_diff & pg_current_xlog_insert_location"
Starting with postgres 10.0, `xlog` was renamed to `wal` and all related functions got renamed as well. Also, looks like `location` got changed to `lsn` ([ref](https://www.postgresql.org/docs/10/static/release-10.html#idm45942956318656)).

This causes 3 more (in addition to https://github.com/ManageIQ/manageiq/issues/13200) failures...

[code]

Looks like just a rename..

  * `pg_xlog_location_dif

[2017-09-26 22:21] himdel commented on #16052
@miq-bot add_label bug, postgres10.0

(except it doesn't exist)

[2017-09-27 05:26] rayadav1911 opened #16053 "The connection direclty to ESXi works only patialy. It is possible to monitor the VMs but they cannot be managed (suspended, stopped, etc.)."
The connection direclty to ESXi works only partially. It is possible to monitor the VMs but they cannot be managed (suspended, stopped, etc.).

[2017-09-27 09:55] durandom commented on #16053
seems to be a duplicate of https://github.com/ManageIQ/manageiq/issues/1409

@miq-bot close_issue

[2017-09-27 09:56] #16053 closed

[2017-09-28 01:24] lixwlixw opened #16064 "manageIQ on openshift ApplianceConsole ERROR"
Persistent pod reset ApplianceConsole ERROR

I, [2017-09-28T00:26:48.384317 #196]  INFO -- : MIQ(ApplianceConsole::ExternalDatabaseConfiguration#create_region) : complete
I, [2017-09-28T00:34:58.972173 #197]  INFO -- : MIQ(ApplianceConsole::ExternalDatabaseConfiguration#create_region) : starting
E, [2017-09-28T00:35:08.563978 #197] ERROR -- : Encountered issue setting up Database using region 0: Y

[2017-09-28 14:26] gmcculloug commented on #12672
@miq-bot move_issue manageiq-ui-classic

[2017-09-28 14:26] #12672 closed

[2017-09-29 14:12] agrare opened #16074 "Container Event Handler ems_ref handling"
The [`process_container_entities_in_event!`](https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_event.rb#L131-L136) method removes the `:ems_ref` key from the event hash which is a valid column.  This is the result of incorrectly using the `:ems_ref` key to identify what entity the event is related to.  Currently the method loops over the possible types of resources and tries to find

[2017-09-29 14:17] durandom commented on #16074
@moolitayer I see you participated in https://github.com/ManageIQ/manageiq/pull/6012 which introduced this.
You want to take this?

[2017-09-29 14:37] Fryguy commented on #16074
Wow nice find @AndreyMenezes

[2017-09-30 06:38] evenit commented on #12460
This requirement is still relevant. We are able to set visibility for tags.
Doing the same with custom attributes would allow storing technical
information without displaying it to the end user and without impacting
RBAC which relies on tags.

Le 30 sept. 2017 06:00, "ManageIQ Bot" <notifications@github.com> a écrit :

[2017-09-30 06:40] evenit commented on #12459
This requirement is still relevant. We are able to set a display name for
tags in order to have a better representation in the UI. The same
requirement applies to custom attributes.

Le 30 sept. 2017 06:00, "ManageIQ Bot" <notifications@github.com> a écrit :

[2017-09-30 11:30] himdel commented on #13200
@miq-bot remove_label stale

Still relevant :)

[2017-09-30 11:59] durandom commented on #12990
@miq-bot remove_label stale

[2017-09-30 13:47] chrisarcand commented on #13507
`all_tags` was removed in b44c991ce6cfe431e49e3522baa027f97fffcac1

🙇 @jrafanie

[2017-09-30 13:47] #13507 closed

[2017-09-30 13:50] chrisarcand commented on #11955
This is still valid for anyone that wants to continue it.

[2017-09-30 13:52] chrisarcand commented on #11953
This is still valid for anyone looking for a Hacktoberfest contribution this year!

[2017-09-30 15:12] bzwei commented on #12454
Replaced by https://github.com/ManageIQ/manageiq/issues/15985. Closing.

[2017-09-30 15:12] #12454 closed

[2017-09-30 19:00] fdupont-redhat commented on #12266
I think it may have already been implemented, as the current master branch already provides this feature.

[2017-10-01 07:47] cben commented on #13345
@miq-bot move-issue manageiq-providers-kubernetes

[2017-10-01 07:48] #13345 closed

[2017-10-01 11:29] cben commented on #13167
Still relevant.  The code still skips saving if no change and still relies on Authentication after_save.
@miq-bot rm-label stale

The falsely passing test now lives in https://github.com/ManageIQ/manageiq-api/blob/master/spec/requests/providers_spec.rb#L677-L698
Not moving to api repo because the root cause code is in core repo.  api is just one place that edits authentications.

I see 2 direction

[2017-10-02 02:30] #13343 closed

[2017-10-02 07:45] aufi commented on #11023
This should be fixed, issue can be closed.

[2017-10-02 07:46] aufi commented on #11023
@miq-bot close_issue

[2017-10-02 07:47] #11023 closed

[2017-10-02 07:48] aufi commented on #13236
@miq-bot move_issue manageiq-providers-openstack

[2017-10-02 07:49] #13236 closed

[2017-10-02 07:49] aufi commented on #11513
@hsong-rh Thanks, closing this issue.

[2017-10-02 07:49] #11513 closed

[2017-10-02 12:36] FilipB commented on #10912
Still the same behavior on master.20171002012947_

[2017-10-02 14:07] yrudman opened #16083 "List of reports looks not ordered and have different sorting in tree and in table."
It would be easier to find needed report if reports would be sorted alphabetically.
Right now reports appears like in random order and have different order in tree and in table

<img width="1122" alt="screen shot 2017-10-02 at 9 59 24 am" src="https://user-images.githubusercontent.com/6556758/31081322-8552019c-a759-11e7-8867-dff0b6764638.png">

[2017-10-02 17:45] gmcculloug commented on #13504
@kruge002 Can you let me know if this still an issue you are running into?

[2017-10-02 17:46] gmcculloug commented on #12266
Support added in PR https://github.com/ManageIQ/manageiq-ui-classic/pull/1792

[2017-10-02 17:46] #12266 closed

[2017-10-02 19:19] billfitzgerald0120 commented on #13304
There was a typo in the update_service_retirement_status method that was recently fixed.  This caused multiple emails to be sent.  This PR should should fix this problem.  https://github.com/ManageIQ/manageiq-content/pull/189

[2017-10-02 22:08] Fryguy commented on #13390
Closing as this issue is old.  @jvlcek If this is still a problem we can reopen.

[2017-10-02 22:08] #13390 closed

[2017-10-03 01:12] chrisarcand commented on #14446
@jrafanie I just ran the full test suite with Ruby 2.4 with no issues or deprecations, etc. I did not go through every single dependency as seems to be a huge time suck for the vast majority of gems to not be affected in any way; I think we've already got all the essential ones.

Tomorrow (Tuesday) we should open all pull requests across all ManageIQ repos to drop 2.2 and add 2.4 to test matrices,

[2017-10-03 02:22] overskylab commented on #9164
In openstack ansible, vhost separate each service i.e. nova (/nova), neutron (/neutron)
Not only root (/)

[2017-10-03 03:11] chrisarcand opened #16092 "Remove useless assignments to variables"
We needlessly assignment variables in places where they aren't used. These assignments can be removed.

[code]

[2017-10-03 03:15] chrisarcand commented on #12035
There are still 35 offenses present, for anyone that wants to take this up for Hacktoberfest 2017!

[2017-10-03 03:17] chrisarcand commented on #12034
There are still 5 offenses, if anyone wants to take this up for Hacktoberfest 2017!

[2017-10-03 03:24] shivanshsoni commented on #16092
i will do that

[2017-10-03 04:25] anaida07 commented on #11953
I am on it

[2017-10-03 07:17] kruge002 commented on #13504
Since we are working on the Fine release we have not seen this issue anymore.

[2017-10-03 09:09] sa77 commented on #11955
@chrisarcand is this still an open issue ?

[2017-10-03 11:40] gmcculloug commented on #13504
Thanks for the update.

[2017-10-03 11:40] #13504 closed

[2017-10-03 13:32] himdel commented on #12765
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2017-10-03 13:33] #12765 closed

[2017-10-03 13:40] #16074 closed

[2017-10-03 13:43] AndreyMenezes commented on #16074
Great job guys! Thanks you
@agrare @durandom @Fryguy

[2017-10-03 15:56] Fryguy commented on #11637
@miq-bot move_issue manageiq-api

[2017-10-03 15:57] #11637 closed

[2017-10-03 16:14] bdunne opened #16103 "Dockerfile cleanup"
The `Dockerfile` can be cleaned up by basing it on `manageiq/ruby` then https://github.com/ManageIQ/manageiq/blob/master/Dockerfile#L96-L110 and more can be deleted.

https://hub.docker.com/r/manageiq/ruby/
https://github.com/ManageIQ/container-ruby/blob/master/Dockerfile

[2017-10-03 16:57] yasirunilan commented on #16103
This requires only changing the base image right?

[2017-10-03 17:32] bdunne commented on #16103
yes, it involves changine the `FROM` line, deleting anything else that is already handled by the other dockerfile, building the image and making sure it still works.

[2017-10-03 17:42] yasirunilan commented on #16103
okay I will work on this

[2017-10-03 18:24] tjyang opened #16108 "[RFE] Alibaba cloud miq provider"
* WHAT:  [Alibaba cloud](https://www.alibabacloud.com/)is a big cloud player in China.
* WHY  :  To have manageriq better accepted by existing alibaba cloud user.

[2017-10-04 05:16] kensupermen commented on #16103
I just create pull request for this issue. Please help me review it

[2017-10-04 08:08] martinpovolny commented on #11354
@romanblanco : can you move this to the ui repository? I have a feeling someone had a tool to move issues between repos, but cannot remember.

[2017-10-04 11:34] romanblanco commented on #11354
@miq-bot move_issue ManageIQ/ui-components

[2017-10-04 11:34] #11354 closed

[2017-10-04 14:23] israel-hdez commented on #15756
@gbaufake now that everything is merged, you may want to test when the next build is available.

[2017-10-04 14:35] fdupont-redhat commented on #15975
The installation can also be made from prebuilt images:

- docker.io/ansible/awx_web:latest
- docker.io/ansible/awx_task:latest
- docker.io/rabbitmq:3
- docker.io/memcached:alpine
- docker.io/postgres:9.6

Of course, the tags can be set more precisely for packaging purpose.

Here is the inventory I have used to deploy it with prebuilt images:

[code]

If you want to use the ManageIQ database, you

[2017-10-04 14:36] shivanshsoni commented on #16092
Sir I have Done this and successfully passed  all checks

[2017-10-04 15:34] carbonin commented on #15975
@fdupont-redhat I've started looking at what it would take to run the docker containers on the appliance and think I have a way forward.

I'll update this issue with the related patches as I move forward.

So far I have some [pretty significant changes](https://github.com/ManageIQ/manageiq/pull/15963) to the `EmbeddedAnsible` class so I'll have to try to serialize these changes in some way that ma

[2017-10-04 16:43] fdupont-redhat commented on #15975
Do you also plan to rebase calls on api/v2 ?

[2017-10-04 20:08] chrisarcand commented on #14446
As discussed, plans have changed slightly and a more official process has been set forth. We're dropping Ruby 2.2 today, updating @miq-bot, etc, but will be continuing to run appliances on 2.3.1, as dictated by the supported version in Red Hat Software Collections. We'll also add a 2.4.2 Travis build, which will conclude supporting 2.4 and then this issue can be closed.

[2017-10-04 21:33] #14446 closed

[2017-10-05 01:21] tjyang opened #16123 "V2V from VMWare VM to Ovirt KVM failed with "undefined method `hosts' for nil:NilClass ""
Hi
I am not able  to migrate a VMWare VM to  Ovirt 4.2.0 Alpha.
Following are the details.

*  VM to RHV transformation

![image](https://user-images.githubusercontent.com/378638/31206851-1503395e-a940-11e7-9c6a-3b3f258d8ac0.png)

* Failed message
![image](https://user-images.githubusercontent.com/378638/31206707-231f7dbe-a93f-11e7-8d51-28c93a5d1a08.png)

* Failed log in evm.log in both miq instan

[2017-10-05 08:49] juliancheal opened #16124 "Remove Discovery from Amazon & Azure providers"
Discovery can end up overloading the system and causing
more issues than it solves. Like  https://bugzilla.redhat.com/show_bug.cgi?id=1429382

This feature should hopefully be reimplemented in the future after the re-architecture.

This issue is to track PRs across all the repos.

- Amazon: https://github.com/ManageIQ/manageiq-providers-amazon/pull/306 🍏 (Merged)
- Azure: https://github.com/Manage

[2017-10-05 09:37] juliancheal commented on #16124
As Azure & Amazon are the only Cloud providers we have enabled for discovery, the discovery page under cloud fails.

We have two options. 1. Delete the discovery link 2. Fix the error, but show there are no cloud providers that are able to be discovered.

<img width="1086" alt="screen shot 2017-10-05 at 10 18 51" src="https://user-images.githubusercontent.com/63991/31220663-0babf32c-a9b9-11e7-8056

[2017-10-05 09:39] juliancheal commented on #16124
/cc @bronaghs @blomquisg

[2017-10-05 14:27] bronaghs commented on #16124
@miq-bot assign @juliancheal

[2017-10-05 14:58] Fryguy commented on #16124
At a minimum, this should be a SupportsFeatureMixin, and the UI should just enumerate all providers that `supports_discovery?`

[2017-10-05 15:02] juliancheal commented on #16124
@Fryguy yeah you are right. In the providers by disabling `supports :discovery` i.e. removing it, enables `supports_not :discovery` according to @durandom.

I see you found my UI PR. (Yay your high level issue feature works). That's what I want to implement over in the UI is basically what you said.

[2017-10-05 17:40] chessbyte commented on #10912
cc @ohadlevy

[2017-10-06 19:46] Fryguy opened #16145 "Fail fast if the database is not the right version"
For external database, it is possible that a user could accidentally create the database with the wrong version of Postgres.  ManageIQ should fail fast with a proper error similar to how we fail fast against the Ruby version.  I'm not sure where this should happen...maybe an initializer?

[2017-10-06 19:47] Fryguy commented on #16145
See https://github.com/ManageIQ/manageiq-pods/issues/232#issuecomment-334840796 for an example of an error that manifested, and it is very difficult to get from that error to the fact that the PG version was wrong.

[2017-10-07 05:58] martinpovolny commented on #15673
I have no idea.

On master all seems ok.

if I run `docker build -t manageiq/manageiq .` I end up with:

[code]

I have not used manageiq with docker for a while. I should buy more RAM to be able to do all the experiments ;-)

[2017-10-07 09:10] #13848 closed

[2017-10-07 14:14] aufi commented on #13135
According to https://github.com/ManageIQ/manageiq/issues/13135#issuecomment-275379254 the issue seems to be resolved, closing.

@miq-bot close_issue

[2017-10-07 14:15] #13135 closed

[2017-10-09 13:09] simon3z commented on #13306
@cben was this resolved?

[2017-10-09 13:35] jameswnl commented on #13746
@mkanoor can you close this?
thanks

[2017-10-09 13:55] carbonin commented on #42
I'm going to go ahead and close this. We implemented auto-failover using [repmgrd](https://github.com/2ndQuadrant/repmgr#automatic-failover-with-repmgrd).

This applies to both remote regions, and the global region. As long as quorum is maintained, a split-brain should not occur.

Generally, if you have a SPOF in a network link between just two data-centers we recommend that you keep a majority of

[2017-10-09 13:55] #42 closed

[2017-10-09 14:52] agrare commented on #13905
Please reopen if you are still seeing this.

[2017-10-09 14:52] #13905 closed

[2017-10-09 14:52] agrare commented on #13831
Since this is just an error in the logs I'll close this, if it causes you any issues please reopen.

[2017-10-09 14:52] #13831 closed

[2017-10-09 16:34] Fryguy commented on #11868
@kbrock Is this still on your plate and if so, do you want to un-stale it?

[2017-10-09 21:02] gbaufake commented on #15756
After a session with @israel-hdez, we verified and it is working under d32b663138e!

[2017-10-09 21:02] #15756 closed

[2017-10-10 18:25] #12520 closed

[2017-10-10 18:27] #11764 closed

[2017-10-11 19:36] jameswnl commented on #13764
@furlongm please close this as it's been ported to `euwe` already in https://github.com/ManageIQ/manageiq/pull/13765

[2017-10-12 07:34] durandom commented on #14838
btw the same problem exists with amazon - but aws doesnt silently fail, but complains about unauthenticated requests IIRC. They use time to sign the requests.

[2017-10-12 17:47] #16145 closed

[2017-10-13 12:56] ioggstream commented on #15563
@bzwei I'm working on that. Feedback welcome on https://github.com/fog/fog-openstack/pull/317

[2017-10-15 06:09] chargio commented on #13375
I believe that your comments has been addressed here:
https://github.com/ManageIQ/manageiq-consumption

Let me know what you think

[2017-10-15 11:39] moolitayer commented on #14238
cc @joelddiaz

[2017-10-16 06:47] isimluk commented on #13375
I am sorry, I am not familiar with manageiq-consumption.

From a quick look at `app/models/manageiq/consumption/showback_rate.rb` it seems, that it may suffer the very same shortcoming. But still, I am not familiar with the code and the concept.

I think we can close this issue, if nobody is working towards finishing it.

[2017-10-16 06:47] #13375 closed

[2017-10-16 14:21] joelddiaz commented on #14238
It would be helpful to have some text explaining the various 'annotation' fields for the Prometheus alerts. Specifically, listing the acceptable values for miqTarget & severity.

[2017-10-16 16:39] gmcculloug commented on #10810
@mfalesni Can you confirm that this issue is resolved with PR https://github.com/ManageIQ/manageiq/pull/11731.  If so this issue can be closed.

[2017-10-17 06:47] moolitayer commented on #14238
@joelddiaz I'm working now on implementing provider targeted events, will update docs afterwards

[2017-10-17 12:46] mfalesni commented on #10810
@gmcculloug I can confirm that when using a self-signed certificate an appropriate message gets displayed if you have Verify peer certificate enabled.

[2017-10-17 12:46] #10810 closed

[2017-10-17 14:13] #16103 closed

[2017-10-17 23:06] gmcculloug commented on #15985
@bzwei Anything outstanding here?  Otherwise we can close this issue.

[2017-10-18 01:45] #15985 closed

[2017-10-18 13:41] dclarizio commented on #13925
@mzazrivec can you link in the PR that adds this feature?  Thx, Dan

[2017-10-18 13:53] mzazrivec commented on #13925
Addressed in

    https://github.com/ManageIQ/manageiq-ui-classic/pull/2250

and

    https://github.com/ManageIQ/manageiq-ui-classic/pull/2282

[2017-10-18 15:59] chessbyte commented on #13925
Closing issue since this RFE has now been implemented!

[2017-10-18 15:59] #13925 closed

[2017-10-18 16:01] chessbyte commented on #16092
@chrisarcand please review the referenced PRs

[2017-10-18 16:12] chessbyte commented on #14251
@abellotti @kbrock any update on this?

[2017-10-18 16:14] chessbyte commented on #14362
@Joseluismantilla has this issue been resolved?

[2017-10-18 16:16] #13764 closed

[2017-10-19 12:07] ZitaNemeckova opened #16238 "MiqQueue ignores :deliver_on"
`MiqQueue` ignores `:deliver_on` and deletes `ImportFileUpload` object right away.

Steps to reproduce:
- Add some log

[code]

- `simulate_queue_worker` is running
- try to add `ImportFileUpload` and have it `:deliver_on` later (number of days doesn't matter)

[code]

- see log right away

[code]

[2017-10-19 15:12] gmcculloug commented on #16238
@ZitaNemeckova This is working as designed and I do not think there is any desire to change it but it is worth checking with @Fryguy.

Also, when I test this feature in the dev environment I just run the Rails server, I'm not sure you need simulate_queue_worker.  If you do maybe comment out the "deliver_on" queueing code during your testing.

[2017-10-19 15:24] Fryguy commented on #15036
😍

But, this should be for after we branch gaprindashvili. It's too late in the cycle to introduce it now.

[2017-10-19 15:50] Fryguy commented on #16238
`simulate_queue_worker` is what is ignoring deliver_on (as well as role, zone, queue_name) and this is by design.  If you want a "more accurate" `simulate_queue_worker`, I could see another method being added, or perhaps a parameter to `simulate_queue_worker`, and would proably accept a PR for that, but I don't want to change the current way it works.

[2017-10-19 15:50] #16238 closed

[2017-10-19 15:52] ZitaNemeckova commented on #16238
@gmcculloug @Fryguy  ok, thanks :)

[2017-10-19 15:54] himdel commented on #16238
Just adding here for future readers :).

This means importing Widgets, MiqPolicy or Automate will **not** work in UI when `simulate_queue_worker` is running.

---

@Fryguy do we have any documentation on the differences between the real queue and simulate?

[2017-10-19 16:51] agrare opened #16240 "[RFC] Use Update Driven Refresh for Pods"
### Problem
Currently only full refresh is supported for container providers (Kubernetes/Openshift), with sufficiently large environments this refresh can take over 2 hours.  This is long enough that pods/containers can be created and deleted while a refresh is running causing them to be completely missed by ManageIQ.

Without a record of all pods which were created policy actions cannot be run an

[2017-10-19 16:52] agrare commented on #16240
cc @Ladas @simon3z @cben

[2017-10-19 17:06] #12412 closed

[2017-10-19 17:06] agrare commented on #12412
This POC was done with https://github.com/agrare/manageiq-providers-vsphere/tree/master/inventory and https://github.com/agrare/manageiq-providers-inventory

[2017-10-20 08:40] skateman opened #16244 "Pluggable notification types"

[2017-10-20 12:02] Ladas commented on #16240
Other PRs:

EmsRefresh.queue_refresh(target)
=============================

The current performance is horrible, we need at least some perf improvement to survive 4.6
- [ ] https://github.com/ManageIQ/manageiq-schema/pull/101 add jsonb column
- [ ] uses jsonb column instead of args

What is the main benefit of jsonb? In any other implementation, what we do is e.g.

Having 1000 targets in our MiqQu

[2017-10-20 12:15] agrare commented on #16240
Two questions @Ladas
1. Did you remove the logs the full args after `MiqQueue.put`? https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_queue.rb#L144 this can have an impact on the time+memory
2. Can you test with just the targets in the args and the payload in `:data` ?

[2017-10-20 14:24] kbrock commented on #16240
@agrare did you just say put the gook into data instead of args?

[2017-10-20 14:30] Fryguy commented on #16240
When you say fetching the targets, do you mean it literally goes and queries the remote tables?  Or do you just mean it brings back the args string column.  I'm shocked that pulling back a reasonably sized string column (1000 records at most is what, 30kb string?) would be so expensive.  Or is it the deserialization of that that takes so long?

[2017-10-20 14:33] agrare commented on #16240
Well those numbers are with logging all of the arguments so I think we should test perf without logging all the gook, then also test without the gook in the args

[2017-10-20 14:33] Fryguy commented on #16244
I like it :+1:

[2017-10-20 14:34] Fryguy commented on #16244
Should these be seeded into a table?  I could see the user wanting to change things like the expiration dates.

[2017-10-20 14:38] skateman commented on #16244
@Fryguy they **are** seeded into a table

[2017-10-20 14:55] agrare commented on #16240
@Ladas can you also add the change to not `|` when building the targets?

[`targets = msg.nil? ? targets : (msg.args[0] | targets)`](https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_refresh.rb#L174)

to use `.concat` ?

[2017-10-20 14:57] agrare commented on #16240
@Ladas I think there is another benchmark we need, currently you have MiqQueue with no modifications, and a completely new json column.  We need to benchmark what MiqQueue with some tweaks to see if we can get it to be "good enough".

[2017-10-20 15:20] Ladas commented on #16240
@agrare removed logging had no effect

1. thousand Timings {:make_target=>1.8858156204223633, :queue_refresh=>654.7350327968597, :all=>656.655668258667}
2. thousand Timings {:make_target=>2.7041256427764893, :queue_refresh=>2265.563955307007, :all=>2268.306896686554}

[2017-10-20 15:25] Ladas commented on #16240
@Fryguy @agrare @kbrock  this is the benchmark https://gist.github.com/Ladas/ae5e723080108a9cc953fff249918692

It has a real world Pod payload. Times with not havingthe payload, just ids were like half better. So half of the time is fetching, deserializing, uniq, serializing, storing of the big payload. But with small payload, these are still costy.

[2017-10-20 16:10] Ladas commented on #16240
@agrare @Fryguy talking to @kbrock  that we could be able to leverage the existing data column, doing
[code]

But we would probably loose the unique check (data itself are not unique, only uuid and we want last state), so we would be storing 3-5 times more data.

[2017-10-20 16:33] kbrock commented on #16240
so the play sql is:
[code]

which would translate to:
[code]

But the data doesn't look like a simple array. Think it is out

[2017-10-20 16:59] Fryguy commented on #16240
I don't think the size matters...I mentioned a similar approach in gitter where we could just append the value, and then uniq later on when we pick up the message in EmsRefresh.refresh.

[2017-10-20 16:59] Fryguy commented on #16240
Is data a SQL array?

[2017-10-20 19:42] walteraa commented on #15925
@AndreyMenezes could you close this Issue, once it was solved?

[2017-10-20 20:22] AndreyMenezes commented on #15925
Solved!
ManageIQ/manageiq-providers-lenovo#74

[2017-10-20 20:22] #15925 closed

[2017-10-20 22:58] kbrock commented on #14251
Thanks oleg - I just bumped the other thread

I have not looked / though about this for a while. Are we punting for now?

[2017-10-20 23:01] kbrock commented on #16240
@Fryguy `data` is currently a string column in `miqqueue`. But we are storing a json array in it.

So it converted a json array of "ids" into a pg array, appended them, and then the results into pg rows, which were then made unique and converted back into a json array.

But it is more of a prototype to see what could be done.

Once we look at having a full fledged json blob in there, that kinda th

[2017-10-20 23:05] kbrock commented on #16240
@Fryguy I also had a simple one that punted on the whole unique constraint. but it also assumed just passing an array of simple ids, and not big json datastructures.

[code]

[2017-10-21 01:48] Fryguy commented on #16240
None of those will work because *data is not a column*

[2017-10-21 18:34] cben commented on #16240
I've not up to the details yet, but I have 2 basic questions.

1. What is exact goal of stuffing lots of data into 1 MiqQueue row?
  - Correctness-wise, could we 1 refresh row for each pod datum? @Ladas, you mentioned somewhere that combining data helps you with correct links?
  - I'm curious, performance-wise, what would be most painful if we did 1 refresh row for each pod datum?  Is it about mer

[2017-10-23 08:22] Ladas commented on #16240
@Fryguy data is correct in the pseudo code :-) We are talking about ```msg_data``` column

@kbrock @Fryguy so yeah, maybe just doing concat and unique check later is the way to go. It's at least the closest solution to '5.0 sending all of it through queue', without any processing of the whole state.

@cben unless I am mistaken, we are kinda stuck with this approach for 4.6.

ad 1) Doing multiple r

[2017-10-23 08:36] cben commented on #16240
Yeah, I see...
OK, another idea, just in case it helps: consider buffering before writing
the MiqQueue row in the first place.
(buffer should be time-limited, flush if first datum is older than some
threshold — given that watch API blocks with no timeout waiting for new
data, I think this requires separate watching thread | queue-writing thread)

[2017-10-23 08:59] cben commented on #16240
BTW, how does this interact with events constantly queuing a full refresh
(if not already queued IIUC)?
While a full refresh runs, targetted refreshes will get queued but will not
be persisted.
Sounds OK, but might be even better to change all pod events (except pod
deleted?) to not queue the full refresh.

2017-10-23 11:36 GMT+03:00 Beni Cherniavsky-Paskin <
beni.cherniavsky@gmail.com>:

[2017-10-23 09:23] Ladas commented on #16240
@cben  yeah, we should probably clean the pod events, since watch will take over. Not sure I understand you first question

[2017-10-23 09:26] Ladas commented on #16240
@Fryguy @kbrock @agrare @cben ok, so using new column array_data, type array[]

doing query (few nested jsons I could probably cleanup)

[code]

so the whole 1 target is 1 string and we keep flat array of them, with just pure concat of new ones, these are the times:

1. thousand Timings {:make_target=>1.1146678924560547, :select_queue_item=>2.2333269119262695, :update_queue_item=>18.63102746009826

[2017-10-23 09:32] Ladas commented on #16240
@Fryguy @kbrock do you want me to try also using the existing ```t.binary   "msg_data"``` column? I think we should use native array or hash, to avoid casting all the time. But if we would like to avoid the DB change, I can try it

[2017-10-23 09:44] Ladas commented on #16240
@kbrock hm, I think the binary column will not work. I can't use the regexp to feed string to array, since there are nested encoded arrays and hashes inside.

[2017-10-23 12:28] agrare commented on #16240
Hey @cben

We definitely cannot do this because it could cause duplicate records for the same pod to be created, this is why @Ladas did so much work with unique indexes and atomic create/or update strategies

I thought about this at first but the issue was we restart the `RefreshWorker` every `N.hours` so we would get that initial list of _all_ pods every time which if we take the case where a ref

[2017-10-23 12:36] agrare commented on #16240
(if not already queued IIUC)?

We unique the targets in a refresh queue record so a refresh for the same provider queued over and over doesn't mean it will run that many times.

be persisted.

Usually if there is a full target in the list we drop all other targets, @Ladas will have to override this for container providers to still persist the targets before doing the full refresh

deleted?) to not

[2017-10-23 13:06] carbonin commented on #15703
@gbaufake Can you try the newest image? You also shouldn't need `--privileged` anymore.

If things are still not working, can you gist the output of the containers `docker logs`?

[2017-10-23 15:08] gbaufake commented on #15703
@carbonin Verified under `6ebf027934b7` and it is working.

[2017-10-23 15:55] carbonin commented on #15703
Thanks @gbaufake !

[2017-10-23 15:55] #15703 closed

[2017-10-23 16:14] gbaufake commented on #15703
You are welcome @carbonin!

[2017-10-23 21:09] Fryguy commented on #16240
I don't understand

- cramming a TON of data directly into an MiqQueue object  (and in args instead of msg_data)
- slamming the MiqQueue with 1-by-1 updates

So, with just changing the code to concat the targets instead of doing a set-union (`|`), using data instead, and using batches of 100, I can insert 5000 records without a payload in 1.11s  (linear insertion rate of 0.01s / 100 records).

The

[2017-10-23 21:32] Fryguy commented on #16240
I just noticed that logging still happens for data, but that's an easy `.except(:data)` in the log message...didn't seem to affect timings, but could affect log sizes.

[2017-10-24 07:39] Ladas commented on #16240
@Fryguy

```cramming a TON of data directly into the MiqQueue object (and in args instead of msg_data)``` both require fetching the data and doing concat in ruby, doing that operation on the DB side is much more effective.

```slamming the MiqQueue with 1-by-1 updates``` that is a collector optimization, so by 1 is the worst case. If a collector can do batches, the numbers for all approaches will

[2017-10-24 10:52] ohadlevy commented on #13564
@Fryguy what is the status of this? would love to hear your thoughts/plans - thanks!

[2017-10-24 12:45] aufi opened #16278 "Obsolete version of net-ssh doesn't work with Ruby 2.4"
@petrblaho found that there is an issue with https://github.com/net-ssh/net-ssh/issues/535 on Ruby 2.4.

There is already a merged PR https://github.com/ManageIQ/linux_admin/pull/195, but it is needed to bump the gem version in manageiq-gems-pending repo too to get https://github.com/ManageIQ/manageiq/pull/16216 passing tests.

The thing of having requirement from main repo is not ideal, but has l

[2017-10-24 12:47] aufi commented on #16278
@agrare Hi, yesterday I forgot mention issue we're facing, see above and https://github.com/ManageIQ/linux_admin/pull/195

[2017-10-24 20:14] bdunne opened #16295 "Fix up Style/TrailingWhitespace"
`rubocop -a --only Style/TrailingWhitespace` should take care of them.

[2017-10-24 20:18] bdunne opened #16296 "Fix up Style/Semicolon"
`rubocop -a --only Style/Semicolon` to find all occurrences.

[2017-10-24 21:38] nesteves commented on #16296
Hello! I would like to help with this

[2017-10-24 21:53] bdunne commented on #16296
Cool, @nesteves when you make a pull request, be sure to include a link to this issue in the description and we'll take a look.  Thanks!

[2017-10-25 13:32] #16295 closed

[2017-10-25 17:50] epwinchell commented on #12687
@miq-bot assign @skateman

[2017-10-25 17:51] epwinchell commented on #12687
https://github.com/ManageIQ/manageiq-ui-classic/pull/2426

[2017-10-26 02:12] #11953 closed

[2017-10-26 13:20] #16092 closed

[2017-10-27 11:36] simon3z commented on #15641
@miq-bot assign moolitayer

[2017-10-27 15:52] kbrock opened #16326 "Rspec deprecation warnings"
We are getting many build warnings after the upgrade to rspec [[ref]](https://travis-ci.org/ManageIQ/manageiq/jobs/292618553)

[code]

[code]

- spec/models/manageiq/providers/embedded_ansible/automation_manager/playbook_runner_spec.rb
- spec/models/resource_action_serializer_spec.rb
- spec/models/service_template_ansible_playbook_spec.rb
- spec/models/miq_user_role_spec.rb
- spec/models/service_s

[2017-10-27 16:04] kbrock commented on #16326
This is in response to https://github.com/ManageIQ/manageiq/pull/16188

[2017-10-28 13:01] chriskacerguis commented on #14818
This is still very much a need.  Adding this comment to remove the "stale".

[2017-10-28 16:47] skateman commented on #14818
@miq-bot rm_label stale

[2017-10-29 19:49] djberg96 commented on #14838
Through some trial and error on a Linux box where I disabled ntp and set times manually, it seems that Amazon has a maximum offset of 300 seconds (5 minutes) before it complains. I'm guessing we'll need to be more granular for metrics.

We can handle this programmatically for all providers I think, with this small bit of code:

[code]

Whether this should be in the provider code, or implemented in

[2017-10-30 02:31] blomquisg commented on #14838
Hrm, interesting @djberg96 .... I'd like to see this propagated as a Notification (one of the things that shows up in the UI under the "bell" icon).

I think the only real handling we can do is to shut down the impacted workers and alert the admin (Notification, logs, etc.).  I doubt there's much we can do otherwise.

As for whether this belongs in the Provider or not ... I think it should be in t

[2017-10-30 11:24] tjyang opened #16341 "[RFE] Allowing more fields to be edited from "Configuration""
* WHAT:  miq discovery failed to collect needed values for each fields(ex, OS type, Prodcut name) via not intrusive scanning
* WHY:   So miq administrator doesn't have to write scrip to edit the operating_systems table directly.
* HOW: See following UI, it will be great if one can edit the more attributes from "edit this instance".  Ex. at following screenshot, app01 openstack instance's OS type w

[2017-10-30 12:37] xeviknal opened #16343 "Every minute reports leave in blank the first 2 rows"
There are 3 reports (2 in master + 1 in development) which are aggregated by minute which leaves in blank the first two lines.

![reports-issue-1](https://user-images.githubusercontent.com/613814/32170962-07ef4f8c-bd77-11e7-8d2d-c4b1aac9f3c3.png)

![reports-issue-2](https://user-images.githubusercontent.com/613814/32170964-09225d36-bd77-11e7-9f92-be73169c633b.png)

![](https://user-images.githubus

[2017-10-30 12:38] xeviknal commented on #16343
@miq-bot add_label reporting

[2017-10-30 14:44] djberg96 commented on #14838
Well, I think if the skew is >= 60 seconds, it's probably a safe assumption that either chronyd isn't running or it's disabled, so I don't know that we need to scan the process table for chronyd, though we could if we have to via sys-proctable.

[2017-10-30 18:03] #12034 closed

[2017-10-30 19:40] agrare commented on #16240
All PRs have been merged, thanks guys!

[2017-10-30 19:41] #16240 closed

[2017-10-31 10:00] alejojo opened #16358 "manageiq-ovirt-fine-4.ova download error 302"
Hi there,

when trying to download the ova image from http://releases.manageiq.org/manageiq-ovirt-fine-4.ova I get error 302:

[code]

[2017-10-31 12:26] #16296 closed

[2017-10-31 13:18] tjyang opened #16361 "[RFE] Getting Operating System value from smartstate analysis"
* WHAT:  [CentOS operating system value is not exact](https://user-images.githubusercontent.com/378638/32225397-129c9d94-be13-11e7-928d-9aeb9b190f39.png), expecting to see "centos 7.3" type of value.
* HOW :  if a CentOS vmware vm have a successful smartstate analysis like following, the operating system value should be drawn from "/etc/redhat-release". And has derived  value from  "CentOS Linux r

[2017-10-31 13:40] yrudman commented on #16083
https://github.com/ManageIQ/manageiq-ui-classic/pull/2565 resoled this issue

[2017-10-31 13:40] #16083 closed

[2017-10-31 17:33] bdunne opened #16366 "Remove before and after(:each)"
`:each` is the default for rspec `before` and `after` blocks, so we don't need to specify it.

`git grep :each spec/`

[2017-11-01 01:53] reneesandefur commented on #16366
I'll work on this!

[2017-11-01 15:35] agrare opened #16374 "Improve Inventory Object Refresh Logging"
Inventory Object Refresh logging is quite verbose and the value of each log is up for debate.

Here is a sample evm.log containing a refresh of a small OpenShift provider: https://gist.github.com/agrare/24d622b53b8de50c36dbd69a3c426c16

Compared to "classic" refresh which doesn't log every collection but does log created/updated/deleted for every VM and Host the logging is extremely different.

A

[2017-11-01 21:26] kbrock commented on #11868
@Fryguy think this one is still not purged. It slipped through the cracks. Sorry I did not state this on Mar 1 (when I reopened)

What logic do we use to determine stale/old/purgeable `VimPerformanceState` records?

[2017-11-01 21:26] kbrock commented on #11868
@Fryguy think this one is still not purged. It slipped through the cracks. Sorry I did not state this on Mar 1 (when I reopened)

What logic do we use to determine stale/old/purgeable `VimPerformanceState` records?

[2017-11-02 13:21] jelkosz opened #16383 "broken link to vmware ova in download section"
not sure if this is the correct place to open this issue on, but here it goes :)
If I go to: http://manageiq.org/download/ and click the "VMware vSphere" I'll get:  "The resource has moved temporarily. "

[2017-11-03 11:31] tjyang commented on #16383
@jelkosz , can you check the download again ?
 I was able to down the Fine-4 and nightly VMware vSphere .ova files.

[2017-11-03 12:35] tjyang commented on #16358
@alejojo , Someone fixed it.

[code]

[2017-11-03 13:01] jelkosz commented on #16383
@tjyang it works now. It seems it has been fixed in meanwhile. Thanx, closing.

[2017-11-03 13:01] #16383 closed

[2017-11-05 00:55] #16358 closed

[2017-11-06 08:36] moolitayer opened #16395 "Alert on Event Collection Problem"
In [Prometheus Alert Integration](https://github.com/ManageIQ/manageiq/issues/14238), we are collecting EmsEvents from Prometheus and generating alerts based on them.
Because we are using those alerts for operators monitoring a cluster it is important to receive an alert if the alert collection isn't working properly.

While it is possible to detect some problems in the [collector](https://github.

[2017-11-06 08:53] moolitayer commented on #16395
@gtanzillo do we have a solution for this in the platform? If not please help find the right person/people to provide feedback on solving this.

is ManageIQ/manageiq-providers-kubernetes@874f2b8 a good direction for detecting connection problems in the collector?
Another approach would be generating a special MiqEvents (Instead of simulating an ems event). Downside: that would require another MiqA

[2017-11-06 09:56] simon3z commented on #16395
@moolitayer the case:

- The EventCatcher failed to collect Alerts from Prometheus (connection error, failures, crashes, etc.) for longer than X minutes

should be handled here or do we track/solve it somewhere else?
(I have the feeling that this approach would cover several of the above cases as well)

[2017-11-06 10:09] moolitayer commented on #16395
That would be a good start. I have a test PR for that works (including resolve),  see my request for feedback on it:
[code]

[2017-11-06 10:54] moolitayer commented on #16395
@simon3z is it enough for us to focus on what we can do in the collector?
I so I could close this issue and focus efforts on getting feedback for ManageIQ/manageiq-providers-kubernetes@874f2b8

[2017-11-06 14:53] moolitayer commented on #16395
@agrare this is what we discussed today, I hope it's clear.

[2017-11-06 19:09] kbrock commented on #14064
I just pinged rails team again on this one

[2017-11-06 19:10] kbrock commented on #14494
resolved by @nimrodshn  - thanks

[2017-11-06 19:10] #14494 closed

[2017-11-07 14:14] carbonin commented on #16278
All of the required PRs seem to be merged. Can this be closed @aufi ?

[2017-11-07 14:15] carbonin commented on #16278
Version bump in LinuxAdmin: https://github.com/ManageIQ/linux_admin/pull/195
Remove dependency from ManageIQ: https://github.com/ManageIQ/manageiq/pull/16347
Version bump in manageiq-gems-pending: https://github.com/ManageIQ/manageiq-gems-pending/pull/303

[2017-11-07 14:56] chrisarcand commented on #15828
Fixed in https://github.com/ManageIQ/manageiq-ui-service/pull/878

[2017-11-07 14:56] #15828 closed

[2017-11-08 14:33] juliancheal commented on #14840
@miq-bot assign juliancheal

[2017-11-08 18:00] agrare commented on #16395
@Fryguy the alert that @moolitayer is talking about adding sounds like something that could be useful more generally.  Basically they want to raise an alert not just if a worker goes down but when the results of that worker aren't being updated.

This reminded me of cases where customers didn't notice that e.g. refresh hadn't run for over a week, plenty of MiqEvents were raised about invalid auth/

[2017-11-09 11:28] jkandasa opened #16431 "Saving any policy is broken in master"
There is no option to save any policy. Navigate to `Control >> Explorer >> Policies >> All Policies >> Control Policies >> Middleware Server Control Policies >>  Adding a new Middleware Server Control Policy`.

Workaround: Navigate to `Control >> Explorer >> Alerts` and come back to policies tab. It is showing `Save` option.

Version:
-----------
ManageIQ
Version master.20171109105846_
Server Name

[2017-11-09 16:22] blomquisg commented on #16395
If I'm reading all this right, what we want is for workers to be able to raise and `MiqAlert` and have that translate into an `MiqAlertStatus` (an alert that is actionable), and also potentially a `Notification` in the UI?

There is probably an H-Release discussion we should have around this to understand how the concepts of Miq Alerts change in when using ActiveMQ vs. MIQ Queue.  But, in either c

[2017-11-09 17:29] gmcculloug commented on #16431
@miq-bot move_issue manageiq-ui-classic

[2017-11-09 17:30] #16431 closed

[2017-11-09 21:17] chrisarcand commented on #14362
Closing as stale; please feel free to reopen the issue if you're still having problems. Thanks!

[2017-11-09 21:17] #14362 closed

[2017-11-10 00:12] simaishi commented on #9208
I'm closing this, as multiple people have used container image successfully and this issue is over a year old.

[2017-11-10 00:12] #9208 closed

[2017-11-10 15:31] Fryguy commented on #16374
:100: ... It is impossible to casually sift through logs for other things going on because of the verbosity of this.  Also get rid of that digraph/graphviz logging or move it to debug.  I seriously question the value of 90% of the logging at all (even in debug), but first step is definitely to move to debug.

[2017-11-12 00:18] tjyang opened #16448 "Failed to validate node number 2. ERROR: relation "repl_nodes" does not exist"
* WHAT:
  * In my POC test lab, I set up two VMs, mymiq01.test.lan((192.168.1.71)and mymiq02.test.lan(192.168.1.72)
  * Both are running latest from master branch.
  * mymiq01 is up and running can do SSA(SmartState Analysis) on VMWare provider.
  * [mymiq01 sumary info](https://user-images.githubusercontent.com/378638/32694709-6f05957a-c70c-11e7-9448-a519504cf9e4.png)

  * I am testing out databa

[2017-11-12 00:28] tjyang commented on #16448
Excuse my bad, I didn't do the "Configure Database Replication" in mymiq01 first. mymiq01 should be configure as primary.

[2017-11-12 00:28] #16448 closed

[2017-11-12 13:14] moolitayer commented on #14238
@joelddiaz @ilackarms updated the document. Note now one should setup two miq alerts and not one.

[2017-11-12 14:34] moolitayer commented on #16395
yes (`s/for workers to be able to raise and MiqAlert/for workers to be able to raise MiqEvent`)
We don't require notifications (someone else might find those useful that)

[2017-11-13 14:49] miq-bot opened #16456 "ManageIQ logs piling up and eating up space"
I am using MIQ Fine-4 and see that even though the log rotation works fine and the log archives are created, they don't get purged automatically after few number of archives are created. I am not sure if MIQ has a setting to manage this. For now, I am having to delete all the log archives under /var/www/miq/vmdb/log manually, which is a pain because I have to periodically check for these and delet

[2017-11-13 16:27] psav opened #16459 "Locale update leaking Ruby object"
Running the rake task to update locale yields

[code]

in the en.po file

It seems to be because of the use of self here

https://github.com/ManageIQ/manageiq/blob/b537629d6481a9ea91a030a8c1fc8fc9464778b3/app/models/physical_server/operations/config_pattern.rb#L4

[2017-11-13 16:28] psav commented on #16459
@mzazrivec

[2017-11-13 18:20] ilackarms commented on #14238
@moolitayer unable to currently set up any alerts

[2017-11-14 08:26] moolitayer commented on #14238
https://github.com/ManageIQ/manageiq-ui-classic/pull/2714 should help

[2017-11-14 15:09] #16459 closed

[2017-11-14 21:17] carbonin commented on #3415
This bump in pool size is now required for Embedded Ansible to work properly. https://bugzilla.redhat.com/show_bug.cgi?id=1484150

[2017-11-16 01:45] dikonoor opened #16481 "ManageIQ does not list public flavors during VM provisioning"
**Environment Details:**
fine-4 with OpenStack Ocata
Gaprishdanvili with OpenStack Pike

**Steps:**

0. Install OpenStack and create a new user named 'user1' and a new project named 'project1'. Assign admin role to user1 against project1.
1. Create some public and private flavors at OpenStack.
2. Login to ManageIQ and add this OpenStack instance as a cloud provider.
3. Validate that compute >> fla

[2017-11-16 01:46] dikonoor commented on #16481
I think this bug should be moved to manageIQ openstack provider stream. But I can't figure out how to do that.

[2017-11-16 15:36] bronaghs commented on #16481
@miq-bot assign @aufi

[2017-11-16 15:42] blomquisg commented on #16341
Hi @tjyang, thanks for submitting this issue.

ManageIQ purposefully does not allow users to edit details about provider inventory (such as VM attributes) because those details are collected directly from the provider.  If a user changes those inventory details in ManageIQ, those changes will be overwritten the next time we collect inventory.

The main uses for ManageIQ are for collecting data, an

[2017-11-16 15:42] #16341 closed

[2017-11-16 16:19] gtanzillo commented on #16456
@dikonoor Rotated logs should be retained for 14 days. I would not expect that you would need to manually purge logs sooner than that. Are you running with debug log lever by chance?

[2017-11-16 17:17] bazulay opened #16486 "Need to be able to bypass the postgres version check when the appliance comes up"
This is due to the use case of openshift online , they want to use the AWS Aurora service which provides a 9.6 PostreSQL server.
They do not need the replication functionality (as this is provided by the Aurora service itself.
All they need is to be able to disable this validation , as it prevents their system from coming up.

[2017-11-16 17:40] bazulay commented on #16486
@miq-bot assign carbonin

[2017-11-16 18:18] chrisarcand commented on #16486
https://github.com/ManageIQ/manageiq/pull/16197

[2017-11-16 18:54] carbonin commented on #16486
@chrisarcand This is about requesting a scary looking config flag/environment variable to bypass the check in production.

To be clear this will still be an unsupported installation, YMMV.

[2017-11-16 18:58] chrisarcand commented on #16486
Yup for sure, no opinion stated here, I was just posting the link to the latest change in this area to be helpful 😄

[2017-11-16 19:12] #16374 closed

[2017-11-20 06:14] dikonoor commented on #15758
@vkochan, Did you find a way around this problem ?

[2017-11-20 09:46] moolitayer commented on #14238
@shalomnaim1 can you please paste the two alert definitions you are using in tests?

[2017-11-20 14:24] #15013 closed

[2017-11-21 16:07] mkanoor opened #16514 "Miq Expression execution fails with operator token not supported"
The following MiqExpression built from Automate Methods on a custom attribute causes a failure at execution time.

The :token is added during expression substitution
[code]
The :token is added during expression substitution.

If the expression cannot be handled by SQL we end up deleting the expression but leave the :token key in the hash and when it comes to resolve the next piece it sees :token a

[2017-11-21 16:07] mkanoor commented on #16514
@gtanzillo @imtayadeway
Please review

[2017-11-21 22:34] Fryguy commented on #16278
Can this be closed now?

[2017-11-21 23:56] imtayadeway commented on #16514
@mkanoor can you elaborate on where/why this is happening?

[2017-11-22 08:25] aufi commented on #16278
Yes, thank you!

[2017-11-22 08:25] #16278 closed

[2017-11-22 11:20] iforgotband opened #16522 "CVE-2016-7954 in bundler"
[Security issue from Hakiri](https://hakiri.io/projects/7533ce27a8c31a/stacks/a654042245d682/builds/22c3fdd76117d8/warnings/ca1510d22b0a6e): Bundler 1.x might allow remote attackers to inject arbitrary Ruby code into an application by leveraging a gem name collision on a secondary source. NOTE: this might overlap CVE-2013-0334.

[2017-11-22 14:26] mkanoor commented on #16514
@imtayadeway
Expressions can be built with static data or they can be filled in at runtime by the user. The UI prompts the user for the fields and that substitutes the values into the expression which is then evaluated. An expression which has run time substitution looks like this
[code]
 When the substitution happens user_input is replaced with the runtime value, but the :token is not removed.

T

[2017-11-24 08:29] zetas1982 commented on #8294
Hello,

Is it possible to enter all the list of networks like the one above in a drop brown list field for a service dialogs?

[2017-11-27 00:20] jas612 opened #16530 "Allow me to install via Docker and specify external PostgreSQL database"
Since you do not bundle appliance_console into your Docker builds, I cannot follow the documented instructions for external PostgreSQL databases.  I see the environment variable "DATABASE_URL", but modifying that results in the following:

[code]

[2017-11-27 15:13] Fryguy commented on #15111
I believe this is still an issue... @kbrock Can you verify?

[2017-11-27 16:27] Fryguy commented on #13688
@blomquisg has this already been implemented?  I thought I saw a PR for this a long while ago.

[2017-11-27 16:28] #6479 closed

[2017-11-27 16:28] Fryguy commented on #6479
This has been implemented by a number of providers in a similar way, so closing.

[2017-11-27 16:42] Fryguy commented on #13442
Closing due to no response...please reopen if you are still hitting this issue.

[2017-11-27 16:42] #13442 closed

[2017-11-27 16:43] Fryguy commented on #13606
@juliancheal Are you going to work on this or should I close it?

[2017-11-27 16:44] juliancheal commented on #13606
@Fryguy I'll close it for now.

[2017-11-27 16:44] #13606 closed

[2017-11-27 16:44] Fryguy commented on #13391
Closing due to no response.

[2017-11-27 16:44] #13391 closed

[2017-11-27 16:45] Fryguy commented on #13364
Closing due to no response...if this is still an issue, please reopen this issue.

[2017-11-27 16:45] #13364 closed

[2017-11-27 16:46] Fryguy commented on #7460
@cben Is this already implemented, and if so can this be closed?

[2017-11-27 16:46] Fryguy commented on #12085
@gildub @tzumainn @martinpovolny Is this still an issue, and if not, can this be closed?

[2017-11-27 16:47] Fryguy commented on #12409
@gmcculloug Is this still an issue, and if not, can this be closed?

[2017-11-27 16:47] Fryguy commented on #12392
@gmcculloug Is this still an issue, and if not, can this be closed?

[2017-11-27 16:49] Fryguy commented on #12402
@gtanzillo Can you take care of this stale issue?

[2017-11-27 16:50] Fryguy commented on #12400
@carbonin If this is no longer an issue, please close.

[2017-11-27 16:50] Fryguy commented on #11041
@blomquisg Can you take a look at this one and either move to the GCE repo or close?

[2017-11-27 16:52] Fryguy commented on #11901
@Ladas Can this be closed or is this still planned?

[2017-11-27 16:53] Fryguy commented on #13113
@Ladas Can this be closed or is this still planned?

[2017-11-27 16:53] Fryguy commented on #8587
@simaishi  Can this be closed or is this still an issue?

[2017-11-27 16:54] Fryguy commented on #12453
@jrafanie Is there anything we can do about this?  Should we keep this issue open?

[2017-11-27 16:55] Fryguy commented on #11692
@blomquisg  Can this be closed or is this still planned?

[2017-11-27 16:55] Fryguy commented on #1989
@jrafanie  Can this be closed or is this still an issue?

[2017-11-27 16:56] Fryguy commented on #14459
@blomquisg  Can this be closed or is this still planned?

[2017-11-27 16:57] Ladas commented on #13113
@Fryguy hum, I plan API v2 for 5.0, not sure if it will be this. Things like ```i.ext_management_system.hosts.find('ems_ref_of_host')``` are pretty hard, with just having the data locally :-)

So assign me, we will check this when API v2 is designed. :-)

[2017-11-27 16:58] Fryguy commented on #11868
Probably you can use the timestamp?

[2017-11-27 16:58] Fryguy commented on #13806
@Ladas @agrare  Can this be closed or is this still planned?

[2017-11-27 17:05] jameswnl commented on #14459
I think this is solved and can be closed - except if @blomquisg has other ideas for further work.

[2017-11-27 17:08] Ladas commented on #11901
@Fryguy yeah we can close this, @durandom implemented something similar. We are just blocked by dynamic targeted refresh in some providers, so we need to solve that and put the new API to all providers.

[2017-11-27 17:42] cben commented on #7460
Yeah, long implemented and on 2nd or 3rd rewrite :-)

Closing, extracting todos I kept here to other issues.

[2017-11-27 17:42] #7460 closed

[2017-11-27 17:56] cben commented on #15861
- [ ] Policy "assign tag" action - TODO check if it's allowed, probably shouldn't be.
- [ ] Custom action "inherit parent tag" - shows read_only tags; TODO check do they work?, probably shouldn't?

[2017-11-27 18:19] gtanzillo commented on #12402
Closing as this will be evaluated when we extend the currently supported Central Admin features.

[2017-11-27 18:19] #12402 closed

[2017-11-27 18:44] carbonin commented on #12400
I still can't reproduce this. Closing.

[2017-11-27 18:44] #12400 closed

[2017-11-27 19:41] simaishi commented on #8587
Container images no longer contain appliance_console, so this is no longer an issue. Closing.

[2017-11-27 19:41] #8587 closed

[2017-11-28 08:59] kruge002 commented on #12409
It is working now. Thanks!

[2017-11-28 09:02] kruge002 commented on #12400
It is working now. Thanks!

[2017-11-28 12:44] gmcculloug commented on #12409
Thanks @kruge002.

[2017-11-28 12:44] #12409 closed

[2017-11-29 00:42] tjyang opened #16545 "OpenStack temp snapshots in /var/www/miq_tmp not cleanup"
Hi

Is this normal that the temporary snapshot (EvmSnapshot20171128-7335-1lhmye) not deleted after a successful smartstate analysis ?
This is on fine-4 miq.

[code]

[2017-11-29 11:12] snecklifter opened #16547 "verify_ssl option not available via API"
I get the following response when trying to create a Tower provider via the API:

[code]

This leads me to believe this option is not available but is useful in PoC situations. Am currently attempting to import self-signed SSL to appliance to work around.

[2017-11-29 12:45] snecklifter commented on #16547
I have used Ansible to import the tower cert to the appliance. The tower installer by default sets the CN to localhost so we needed to re-key the tower cert with FQDN so probably not a decent workaround.

[2017-11-30 20:33] kbrock commented on #15111
@Fryguy pretty sure this is still a problem.

It is because we allow `includes()` to include columns - never understood why we would do that.

[2017-11-30 21:17] rywillia opened #16571 "Provide the ability via REST API to manage floating IP addresses"
The current release of ManageIQ **fine-4** REST API does not provide the ability for managing floating IP addresses.

I am trying to provision a virtual machine in Openstack using the REST API. Part of this process requires creating and associating a floating IP address to the provisioned instance. Later on I need to disassociate the floating IP address from the instance, delete the floating IP fr

[2017-11-30 22:01] #1989 closed

[2017-12-01 11:55] #16486 closed

[2017-12-02 19:32] tjyang commented on #16361
Hi @roliveri

I am closing this issue. Not sure what happened but I can now see OS dist version got correctly displayed after a successful SSA.

![image](https://user-images.githubusercontent.com/378638/33519071-0775d622-d765-11e7-8739-445892b7b9bc.png)

[2017-12-02 19:32] #16361 closed

[2017-12-03 06:55] #5370 closed

[2017-12-03 06:58] martinpovolny commented on #6324
@miq-bot move_issue manageiq-ui-classic

[2017-12-03 06:59] #6324 closed

[2017-12-03 06:59] #12085 closed

[2017-12-03 07:14] #4165 closed

[2017-12-03 07:56] #10568 closed

[2017-12-03 07:59] martinpovolny commented on #5643
Not sure how well and if this was addresses in the provider forms.

@AparnaKarve : this seems to be primary your area, can you decide what to do next with this isue?

Thx!

[2017-12-03 08:00] #5998 closed

[2017-12-03 08:03] martinpovolny commented on #13050
@miq-bot move_issue manageiq-ui-classic

[2017-12-03 08:03] #13050 closed

[2017-12-03 08:06] martinpovolny commented on #8017
@abonas: we removed the UI constants. Not sure if it resolved the issue. Can you, please, recreate the issue under manageiq-ui-classic with updated locations if it's still relevant? (and assign me)

We surely want to deal with any duplication.

If it's not relevant any more, please, crose this.

Thank you!

[2017-12-03 08:06] #6834 closed

[2017-12-03 09:00] #8017 closed

[2017-12-03 15:29] #8499 closed

[2017-12-03 15:30] #3144 closed

[2017-12-03 15:32] #10619 closed

[2017-12-04 14:14] romanblanco commented on #15877
related: https://github.com/ManageIQ/manageiq/pull/16555

[2017-12-04 15:51] Fryguy commented on #15111
because our virtual columns are sometimes built upon relations...you have to include them to get the `:uses` to preload.  If the `:uses` has *real* columns in it, then that is a bug.

[2017-12-04 15:58] kbrock commented on #15111
status update:

1. This code is fixed
2. Going through bad `includes()` entries in our code base

To be honest, fixing this may be a risk - stuff will break since we are now more pedantic

[2017-12-04 20:22] #14459 closed

[2017-12-06 22:52] #15975 closed

[2017-12-07 14:37] carbonin commented on #15975
http://talk.manageiq.org/t/embedded-ansible-using-awx/3057 Gives some more detail around how we resolved this issue.

[2017-12-08 09:54] dikonoor commented on #16481
@aufi @mansam , Can we move this under MIQ openstack provider?

[2017-12-08 09:59] dikonoor commented on #16481
Tried in Gaprishdanvili with Pike. Problem continues to exist. openstack flavor list CLI run at OpenStack displays all the flavors (private and public):
 openstack flavor list
+--------------------------------------+----------------------------------+--------+------+-----------+-------+-----------+
| ID                                   | Name                             |    RAM | Disk | Ephemera

[2017-12-12 14:14] miha-plesko opened #16642 "Route vmware-specific logs into a separate file"
It was requested by RedHat support team to split VMware vCD specific logs from other logs. As of now we're logging everything into the `log/evm.log`, but `log/vmware.log` file should be used instead.

/cc @blomquisg @gberginc

[2017-12-12 18:47] gberginc commented on #16642
Corresponding BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1525201

[2017-12-13 19:16] djberg96 commented on #15861
@cben Not sure what the priority is here. I will have to defer to @bronaghs.

[2017-12-13 19:20] djberg96 commented on #15259
@agrare Ok, so I guess I'm not clear if you're in favor or not in favor of this change then. ;)

If we did add that column, we'd need to add a migration then as well.

[2017-12-13 19:21] djberg96 commented on #14347
@himdel Did you come up with something for this? Or am I just supposed to disable async notifications and move on? If so, that's fine and I'll close this.

[2017-12-13 19:24] djberg96 commented on #13920
@durandom @bdunne  Should we leave this open? I'm not sure what the current state is.

BTW, for #3 I've adopted a database.yml file that @bronaghs gave me that automatically appends the database name with the branch name to make it easier to work with multiple branches, e.g. _fine, _euwe, etc, so they aren't clobbering each other.

[2017-12-13 19:26] djberg96 commented on #7637
@kbrock I take it this did not gain traction.

[2017-12-13 19:34] agrare commented on #15259
@djberg96 timely, we've been discussing what to do about storage modeling over here https://github.com/ManageIQ/manageiq-design/issues/35
The biggest change relevant to this is to make storage belong_to an ext_management_system and make the ems_ref actually usable which it isn't today.

[2017-12-14 18:51] dclarizio commented on #11924
@lgalis can you comment as you've been looking at this area recently?  If a button is in "Unassigned button", it should never be shown, regardless of visibility. That was meant as a way to create buttons that could be tested temporarily by moving them into, then back out of a button group.

[2017-12-14 21:05] gmcculloug opened #16670 "MiqServer.check_migrations_up_to_date method always logs warning message caused by comparison error"
The method `file_migration_list` in the `SchemaMigration` model is referencing the schema files in the old location.  The files have all moved to [ManageIQ/manageiq-schema](https://github.com/ManageIQ/manageiq-schema).

This causes `initial_migration` to return `nil` and `missing_file_migrations` to raise an error resulting in the follow `warn` message in the logs:

`[----] W, [2017-12-14T16:01:24

[2017-12-15 08:18] #524 closed

[2017-12-15 09:04] #13215 closed

[2017-12-15 14:37] hstastna commented on #15246
I am closing the issue as the problem is no longer present

[2017-12-15 14:39] #15246 closed

[2017-12-15 16:45] himdel commented on #14347
@djberg96 Sorry for the delay, you may have some luck running with https://github.com/ManageIQ/manageiq-ui-classic/pull/2545

(Though you probably won't because the PR is currently enabled only in development mode.)

Sorry about the delay, haven't forgotten, only delayed..

[2017-12-15 20:52] carbonin commented on #15670
This should be fixed by https://github.com/ManageIQ/manageiq/pull/16205

[2017-12-15 20:52] #15670 closed

[2017-12-15 21:21] carbonin commented on #15122
This error was somewhere in draper which was removed in https://github.com/ManageIQ/manageiq/pull/14044

Closing this

[2017-12-15 21:21] #15122 closed

[2017-12-15 21:28] carbonin commented on #14949
We have since changed the way we install ruby on the appliance (https://github.com/ManageIQ/manageiq-appliance-build/pull/234). We will now install into the system directory. I'm not sure this will fix your issue though, can you retest with a nightly build and see if this fixes things?

[2017-12-18 00:26] 01000101 opened #16674 "How to add Google provider via API?"
When using the v2.4.0 API (on Fine-3), it's unclear as to how to add a Google cloud provider (with service account JSON). I've tried many, many variations, but I can't seem to get that JSON field in the provider view to populate (thus not able to automate fully adding a provider which can authenticate immediately).

Invocation method:
[code]

Here's the closest I could come to figuring it out base

[2017-12-18 14:20] himdel opened #16678 "Embedded Ansible doesn't clear authentications on destroy"
(created because of https://github.com/ManageIQ/guides/pull/276#discussion_r156130517 )

Running `ManageIQ::Providers::EmbeddedAnsible::Provider.first.destroy` (while having exactly 1 embedded ansible provider) does not delete all it's authentications.

This needed to be done manually after:

[code]

Cc @jrafanie

[2017-12-18 15:41] jrafanie commented on #16678
@jameswnl could this be related to the orchestrated destroy?

[2017-12-18 15:44] jameswnl commented on #16678
Very likely.

Do we support this use case? To delete the embedded?

[2017-12-18 19:02] carbonin commented on #16678
So this is interesting because it is something we should never do in production.

The authentication records stored against the MiqDatabase row are not really dependents of the provider. They are there so that we can recreate the provider if it was removed.

I don't really think this is a thing we should add.

[2017-12-18 19:46] jameswnl commented on #16678
So the other issue that @jrafanie mentioned is that external Ansible Tower (as well as Foreman) provider destroy is always rolling back and the fix is [here](https://github.com/ManageIQ/manageiq/pull/16614).

Now reading a bit closer, i am not sure if this issue is the same - @himdel when you do the `provider.destroy`, does the provider remain or not?

[2017-12-20 07:34] subexawx opened #16696 "gaprindashvili-RC1 openstack error"
Last Refresh | Error - 34 Minutes AgoExpected([200, 204]) <=> Actual(403 Forbidden) excon.error.response :body => "{\"message\": \"Error fetchi... | Error - 34 Minutes Ago | Expected([200, 204]) <=> Actual(403 Forbidden) excon.error.response :body => "{\"message\": \"Error fetchi...
-- | -- | -- | --
Error - 34 Minutes Ago
Expected([200, 204]) <=> Actual(403 Forbidden) excon.error.response :body =

[2017-12-20 09:23] cben commented on #9401
@miq-bot move-issue manageiq-ui-classic

[2017-12-20 09:24] #9401 closed

[2017-12-20 13:04] lpichler opened #16699 "Form add new chargeback rate using improper ids"
Cloud Intel -> Chargeback -> Storage -> Add new rate

1. Issue
on mouse focus is highlighted whole form instead of one row
![9cwqsmv4kz](https://user-images.githubusercontent.com/14937244/34208255-0446729a-e58e-11e7-8e4a-ecaadf5b419b.gif)

2. Issue
When new a tier is added(by pressing button Add), the then tier is added to the improper metric
![htjueudwlm](https://user-images.githubusercontent.com

[2017-12-20 13:30] himdel commented on #16678
This is not the same, when I did `provider.destroy`, it worked and the provider (and the manager) went away.

---

How I hit this was: I had my dev setup set to use an external Ansible Tower as an embedded ansible.
Then that stopped working because of some "invalid pk" issues, so I started looking at how to make embedded ansible work again on dev setups - @carbonin provided a solution (the one doc

[2017-12-20 14:44] romanblanco commented on #5597
@miq-bot remove_label stale

[2017-12-20 23:26] PrasadDuvvi opened #16709 "ManageIQ Server: not running - Job for evmserverd.service failed because the control process exited with error code."
Hello,

This is my first time setting up ManageIQ and I had it setup on an EC2 instance. "appliance_console" says that ManageIQ server not running and I checked the logs from journalctl, it says:
Failed to start EVM server daemon.
-- Subject: Unit evmserverd.service has failed
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
-- Unit evmserverd.service

[2017-12-21 12:26] hstastna commented on #16699
PR fixing this issue: https://github.com/ManageIQ/manageiq-ui-classic/pull/3129

[2017-12-21 20:06] jrafanie commented on #16678
I'm fine with leaving this as something to document as developer specific workflow.  I was concerned there was something else causing authentications to stick around.

[2017-12-23 15:33] martinpovolny commented on #5597
@miq-bot move_issue manageiq-ui-classic

[2017-12-23 15:34] #5597 closed

[2018-01-02 17:45] hstastna commented on #10077
@abonas I think you can (or whoever can) close this issue. Thanks.

[2018-01-02 20:27] gbaufake opened #16730 "Unexpected Error encountered on Control > Explorer Screen"
#### Description

- After login on ManageIQ, clicking on Control > Explorer shows an error on screen instead of Menus (Policy Profiles, Policies, Conditions  Events, Alerts, Alert Profile)

![image](https://user-images.githubusercontent.com/2313749/34498755-2ba4a990-efea-11e7-8b5f-b04ece05052c.png)

##### Version

* Latest Manageiq Docker Image (Image ID: `7e1574071121`)

[2018-01-03 10:29] #10077 closed

[2018-01-03 10:55] abonas commented on #16730
please open this in bugzilla
cc @ohadlevy

[2018-01-03 11:42] gbaufake commented on #16730
@abonas  Created Bugzilla
(https://bugzilla.redhat.com/show_bug.cgi?id=1530575)

Close this issue?

[2018-01-03 18:08] imtayadeway commented on #15556
I believe this was fixed by https://github.com/ManageIQ/manageiq-api/pull/251. Verifying on master:

[code]

[2018-01-03 18:08] #15556 closed

[2018-01-03 19:07] tjyang opened #16738 "Failed to validate node number 1. ERROR: relation "repl_nodes" does not exist"
Hi

I am trying to configure "192.168.1.76(miq04.test.lan)" as standby of DB only miq appliance with miq03.test.lan
*  [The doc I followed ](https://access.redhat.com/documentation/en-us/red_hat_cloudforms/4.6-beta/html-single/high_availability_guide/#installation_standby_db)
*  [The gdoc I modified from above CloudForm HA Doc](https://docs.google.com/document/d/1Yty9zDSl9ga7BXNhDVEns4m4beSjUiR_FM

[2018-01-03 19:36] Fryguy opened #16739 "UniqueWithinRegion doesn't check the base class"
The UniqueWithinRegion uses `record.class`, which when used with STI classes would be a leaf class, and may not scope properly across them.  It should probably use `record.class.base_class` instead.

@carbonin Can you work on this when you have a chance?

cc @d-m-u I think you had added a fix using this feature to the CustomizationTemplate class, however that class uses STI, and I don't think the

[2018-01-03 19:39] Fryguy commented on #16696
@subexawx A forbidden connection is not a ManageIQ error, however, are you saying that is the error you are talking about or is it presenting it incorrectly?  Your table in the OP is very confusing.

[2018-01-03 19:40] Fryguy commented on #16696
cc @agrare @blomquisg

[2018-01-03 19:41] Fryguy commented on #16709
@carbonin @bdunne Thoughts on this one?

[2018-01-03 19:42] Fryguy commented on #16678
Assigning to @carbonin .

[2018-01-03 19:42] agrare commented on #16642
BZ is in POST and all PRs are merged, closing

[2018-01-03 19:42] #16642 closed

[2018-01-03 19:43] Fryguy commented on #16678
I'm kind of on @himdel 's side...why wouldn't we delete them in an after_destroy anyway?

[2018-01-03 19:44] Fryguy commented on #16738
@carbonin Please take a look.

[2018-01-03 19:45] Fryguy commented on #16674
@agrare Can you help out @01000101 here?

[2018-01-03 19:45] carbonin commented on #16709
Would need more information to work this out. Is there anything in the `/var/www/miq/vmdb/log/evm.log` or `/var/www/miq/vmdb/log/appliance_console.log`?

[2018-01-03 19:45] Fryguy commented on #16674
cc @abellotti

[2018-01-03 19:46] Fryguy commented on #16670
@bdunne Should the SchemaMigration model just move to the schema repo anyway?

[2018-01-03 19:47] Fryguy commented on #16545
@roliveri Please take a look.  cc @blomquisg

[2018-01-03 19:48] tjyang commented on #16738
@Fryguy and @carbonin , thanks for the response. I can provide ssh access to this miq test.lan environment. If you guys are interested to login and take a look.

[2018-01-03 19:48] Fryguy commented on #16530
I believe there is a way to use external Postgres with the Docker images for podified deployments, but probably not the monolithic image.  @carbonin Thoughts?

[2018-01-03 19:54] carbonin commented on #16678
The provider can't be removed through the UI in production, but if we remove these authentication records then we lose all ability to access the awx database and might as well delete all of the data there and start from scratch.

It depends on what deleting the provider means from a higher level. I don't think the concept was really fleshed out as this was never supposed to happen.

[2018-01-03 19:55] carbonin commented on #16738
@tjyang You have to select "Configure Server as Primary" on the primary server side before configuring the standby.

[2018-01-03 20:02] Fryguy commented on #16522
@iforgotband ... thank you for the heads up.  It turns out this vulnerability doesn't actually affect use because we don't use multiple sources, so it's a bit of a false-positive on the Haikiri side.  I'll take care of marking it as such.  Thanks!

[2018-01-03 20:03] Fryguy commented on #16481
Bump @aufi

[2018-01-03 20:05] tjyang commented on #16738
* configure miq03 as primary per @carbonin pointer.
  * cluster node id was assigned to 3 and initiated successfully.
* configure miq04 as standby
[code]

[2018-01-03 20:14] PrasadDuvvi commented on #16709
@carbonin - sure, thank you for looking into this issue.  Below is the log. Btn, I'm running this appliance on a T2.Large

Output of # **appliance_console**
Welcome to the ManageIQ Virtual Appliance.

To modify the configuration, use a web browser to access the management page.

Hostname:                ip-10-145-70-4
IPv4 Address:            10.145.70.4/255.255.255.240
IPv4 Gateway:            10

[2018-01-03 20:22] #16522 closed

[2018-01-03 20:33] carbonin commented on #16709
How about the output of `journalctl -u evmserverd` or is that what you posted in the initial issue?

[2018-01-03 20:36] carbonin commented on #16738
@tjyang looks like PostgreSQL failed to start. Can you paste the output of `journalctl -u $APPLIANCE_PG_SERVICE` and the last few lines of the postgresql.log (`tail $APPLIANCE_PG_DATA/pg_log/postgresql.log`)?

[2018-01-03 21:04] carbonin commented on #16530
The monolithic image is currently aimed at a non-production "just make it work" sort of use case. With that in mind we don't have much support for things like external databases or migrating existing installations.

Generally, if you're looking into an external database and want to use containers I would say take a look at the [manageiq-pods](https://github.com/ManageIQ/manageiq-pods) project whic

[2018-01-03 21:23] roliveri commented on #16545
Upon successful completion, the temp file is explicitly deleted (via unlink) when the VM is unmounted. If an error prevents the VM from being unmounted, the temp file will be deleted when the reference to the file goes out of scope and is GC'd, or when the Ruby process terminates (via the Ruby `Tempfile` facility).

So, unless you see increasing numbers of temp files never being deleted, it should

[2018-01-03 21:32] PrasadDuvvi commented on #16709
**# journalctl -u evmserverd**

Jan 03 12:43:06 ip-10-145-70-4 sh[30025]: Caused by:
Jan 03 12:43:06 ip-10-145-70-4 sh[30025]: PG::UndefinedTable: ERROR:  relation "miq_servers" does not exist
Jan 03 12:43:06 ip-10-145-70-4 sh[30025]: LINE 8:                WHERE a.attrelid = '"miq_servers"'::regclass
Jan 03 12:43:06 ip-10-145-70-4 sh[30025]: ^
Jan 03 12:43:06 ip-10-145-70-4 sh[30025]: /var/www/mi

[2018-01-03 21:36] tjyang commented on #16738
* journalctl output
[code]
* postgresql.log
[code]

[2018-01-03 23:05] tjyang commented on #16738
@carbonin
Following log is more relevant to why standby postgres failed to start.
Looks like I missed the step to configure ssl key on postgres master and standby ?
* pg_log
[code]

[2018-01-03 23:10] tjyang commented on #16738
@carbonin
* disable hostssl
[code]
* now miq04 is running as standby.
[code]

[2018-01-03 23:13] tjyang commented on #16738
I can't find "For Encryption Key, select Fetch key from remote machine." from the ap menu. thus I skipped key installation.

[2018-01-03 23:28] tjyang commented on #16738
@carbonin
I proceed to start failover monitor on both miq03(primary) and miq04(standby). miq03 started up ok but not standy one.

Can you give pointer from following error message ?

[code]

[2018-01-03 23:43] tjyang commented on #16738
Looks above is a known issue with fix.
but https://github.com/ManageIQ/manageiq-appliance/pull/151 did not fixed the issue.

I took the line from miq03 and it worked
[code]

[2018-01-03 23:58] tjyang commented on #16738
@Fryguy and @carbonin , I am closing this issue since it turned into other issues not related to the subject.
Thanks for the help. I am way ahead of my original progress.

[2018-01-03 23:58] #16738 closed

[2018-01-04 03:09] subexawx commented on #16696
Hi, There is no issue with openstack as the same working on manageiq fine version.

[2018-01-04 14:55] carbonin commented on #16709
Okay, so that looks like something went wrong with the initial setup.

Can you post the output of `journalctl -u appliance-initialize`?

[2018-01-04 17:22] PrasadDuvvi commented on #16709
Hello Carbonin,

After I downloaded the ec2 appliance, I converted it to **.ova** and created an AMI from that. Launched  EC2 using the AMI

# **Output of journalctl -u appliance-initialize**
[root@ip-10-145-70-4 ~]# journalctl -u appliance-initialize
-- Logs begin at Wed 2017-12-20 15:48:22 EST, end at Thu 2018-01-04 12:18:44 EST. --
Dec 20 15:48:37 usblrgumvx.us.deloitte.com systemd[1]: Starting

[2018-01-04 19:16] carbonin commented on #16709
That all looks okay... Wondering if this is something ec2 specific.

@simaishi do we know if someone is smoke testing the ec2 images?

[2018-01-04 19:38] simaishi commented on #16709
No, I don't know.  I can try, but I never convert to .ova and just creates AMI from .vhd. Not sure if that makes any difference, but I figured I'd mention...

[2018-01-04 20:43] PrasadDuvvi commented on #16709
@simaishi Let me convert .vhd to an AMI and launch a new EC2. Will keep you posted

[2018-01-04 23:37] PrasadDuvvi commented on #16709
@simaishi @carbonin - I made an ami out of the vhd directly and launched a new EC2 instance witha keypair.  Now, I can access ManageIQ through the host url but I can't get into the box - getting permission denied even though Key permissions are good. Any thoughts?

[2018-01-05 16:55] chrisarcand commented on #16326
Closed in #16748

[2018-01-05 16:55] #16326 closed

[2018-01-05 21:51] PrasadDuvvi commented on #16709
@simaishi @carbonin - please ignore, I can connect to the box right now.
Thank you very much for your help.

[2018-01-05 21:54] carbonin commented on #16709
Good to hear you got it working @PrasadDuvvi

Sounds like this can be closed.

[2018-01-05 21:54] #16709 closed

[2018-01-06 04:17] giofontana opened #16759 "Targeted Refresh is not triggered"
Dear,

I am testing the new targeted refresh for OpenStack providers in version gaprindashvili-1-rc1 and I noticed the following, that I suspect to be a bug.

The problem (for openstack at least) is that the code below is looking for properties "inventory_object_refresh" and "allow_targeted_refresh" inside object "Settings.ems_refresh["openstack"]". However this property indeed resides in Settings

[2018-01-07 18:19] tjyang opened #16760 "Failing to "create region in external database" from appliance_console"
Hi
Using appliance 2018-01-05 vmware appliance,  I am trying to follow this [RH doc](https://access.redhat.com/documentation/en-us/red_hat_cloudforms/4.6-beta/html-single/high_availability_guide/#installation_appliance) to create a 4 nodes miq  environment by A,B,C,D steps.

[code]
* I think I run into bug and not able to create region in external database appliance(miqdb01) in step B.

* Question

[2018-01-07 21:26] tjyang commented on #16760
@Fryguy and @carbonin , can you confirm I am running into similar bug like this one
https://github.com/ManageIQ/manageiq/issues/16064 ?

[2018-01-08 11:48] djberg96 commented on #3458
Apparently it's up to 3.0.1 now. The changelog is here, but isn't particularly informative in terms of practical changes:

https://github.com/aws/aws-sdk-ruby/blob/master/gems/aws-sdk/CHANGELOG.md

[2018-01-08 12:16] #5710 closed

[2018-01-08 13:04] aufi commented on #16481
@miq-bot move_issue manageiq-providers-openstack

[2018-01-08 13:05] #16481 closed

[2018-01-08 14:21] #2556 closed

[2018-01-08 14:22] #4671 closed

[2018-01-08 14:22] #4797 closed

[2018-01-08 14:54] carbonin commented on #16064
Looks like this is an issue for the manageiq-pods repo. Moving it over there.

@miq-bot move_issue manageiq-pods

[2018-01-08 14:55] #16064 closed

[2018-01-08 15:08] carbonin commented on #16760
I don't think what you're hitting has anything to do with that issue.

The issue with trying to set up multi-appliance architectures with ManageIQ is that we create a database locally on first boot of the appliance. This all needs to be undone when you want to do something like this.

What I typically suggest is deploying one appliance, then running something like [this](https://gist.github.com/ca

[2018-01-08 18:49] tjyang commented on #16760
@carbonin , again thanks for your great pointer.
Should I open another  issue to have clean_manageiq.sh included in download VMs ?

[2018-01-09 00:43] tjyang commented on #16760
I am closing this issue.

[2018-01-09 00:43] #16760 closed

[2018-01-09 16:35] bdunne opened #16778 "Do we need FactoryGirl?"
With the FactoryGirl -> FactoryBot rename, that made me ask "Do we actually need this dependency?".  So, let's start the discussion.

Good:
- It allows us to set some default values for columns
- Provides sequencing (names, guids, etc.)

Bad:
- We're creating new factories where we should be using traits instead (our fault)
- It allow us to create or not fix bad interfaces (Instantiating a model m

[2018-01-09 16:41] chrisarcand commented on #16778
My short contribution to this convo is "Yes, but we really need to clean it up a lot"

More specifically, there needs to be a mechanism for developers to create things to toy with and discover how to use the domain objects we have somewhat easily. Even beyond tests, factories are useful when you're trying to figure out how things work, which in our complex data models is really essential; if you r

[2018-01-09 17:03] NickLaMuro commented on #16778
No one asked for my opinion, but I am giving it anyway.  (Mwuhahaha... \*cough\* \*cough\*... ahem)

Building off of what @chrisarcand said, I think flexibility of Factory... Bot is heavily leveraged in our project right now, and many tests rely on the nested objects being available, or the sequencing being already applied.  I don't think that fixtures have this available out of the box (or at all

[2018-01-11 03:28] jrafanie commented on #16778
While we've had bad habits with our usage of FactoryGirl, I fail to see anything we gain by removing usage of it.  Tests can just do TestClass.new instead of FactoryGirl for simple things and maybe that's part of the problem, that we use factory girl by default even for things that don't need it.

Either way, I don't see making vast improvements by removing this gem.  Instead of using factories to

[2018-01-11 11:38] aufi commented on #16759
Hi, thanks for reporting. This issue should have been fixed by https://github.com/ManageIQ/manageiq-providers-openstack/pull/175 (merged few days ago).

@mansam am I right? Thanks.

[2018-01-11 13:26] giofontana commented on #16759
Great news @aufi and @mansam ! Do you guys know in which future release this fix should be included?

[2018-01-11 17:18] mansam commented on #16759
@aufi @giofontana https://github.com/ManageIQ/manageiq-schema/pull/146 is also required to be merged to migrate settings in the old location to the correct location. (ems_refresh nested under root)

[2018-01-12 10:02] child85 opened #16815 "not All Vm´s Shown?"
Hey Guys,

i just start with Manage Iq.

I have 2 RHEL Hosts and some VM´s. The Dashboard show about 150 VM´s. But on "Infrastructure -> VM just a few are shown"

![image](https://user-images.githubusercontent.com/35367416/34869708-069987a6-f788-11e7-824a-cbff65511edf.png)

U can see it here. He says he hold 27 VM´s but just 20 are shown. What im doing wrong?

Thanks a lot

[2018-01-12 14:28] carbonin commented on #14949
Closing this as there has been no response from the reporter about a suggested fix.

If you are still seeing this issue with the latest builds, please reopen the issue.

[2018-01-12 14:28] #14949 closed

[2018-01-12 15:04] hstastna commented on #16699
The issue is fixed and backported so we can close the issue, @lpichler

[2018-01-15 03:27] kbrock commented on #7637
@djberg96 No. I know @yrudman really wanted this as well.

Not sure the best way to proceed since this would simplify our code, allow us to use indexes, and fix some sporadic bugs (the whole `GROUP BY "column" ORDER BY LOWER("column")` thing n `sort().reverse()` now working.

[2018-01-15 13:08] giofontana commented on #16759
Great! Thanks @aufi and @mansam ! Do you know in which tag those two PR will be merged? You guys know when it will be available? Thanks you very much!

[2018-01-15 13:26] lpichler commented on #16699
thanks @hstastna

[2018-01-15 13:26] #16699 closed

[2018-01-15 14:25] himdel commented on #14347
@djberg96 Can you try running

`NODE_ENV=development WS_PORT=5000 ./node_modules/.bin/webpack-dev-server --config config/webpack/development.js`

and accesing manageiq via localhost:8080 ?

This should make the websocket requests go to port 5000 while still routing the rest to 3000.
(API would still go via UiWorker though.)

[2018-01-16 13:22] tjyang commented on #16815
@child85 , welcome aboard using miq.

As shown below, by default it is show 20 items. click on the up arrow sign beside 20 should allow you to display 50 items in one window.

![image](https://user-images.githubusercontent.com/378638/34990948-8704ad64-fa8d-11e7-8fcf-8f29247b2f0c.png)

PS: pls post questions to http://talk.manageiq.org/, we need more traffic there.

Hope this is helpful

[2018-01-16 18:05] movitto commented on #13314
@kbrock @Fryguy confirmed that running the bower command as described resolves the aforementioned error (this was occurring for me in the manageiq-ui-classic project). That being said, a new js dependency error is occuring when running "bundle exec rspec" there, any idea as to what is causing this:
[code]

[2018-01-16 18:25] sshingarapu opened #16830 "Build dashboard for openshift hawkular metrics in manageiq"
We are running openshift 3.5 with hawkular metrics. We are trying to create dashboard for memory&cpu usage of all projects in openshift env.
Created a docker container for manageiq and in manageiq UI, added the openshift container provider with hawkular details. Now we would like to have one dashboard for all projects for memory usage and another dashboard for all projects for cpu usage. We have t

[2018-01-16 19:59] chrisarcand commented on #13314
@movitto I would suggest opening a new issue on the manageiq-iq-classic repo so the owners of that codebase can better assist you! ❤️

[2018-01-16 20:06] movitto commented on #13314
@chrisarcand will do! :star2: :metal: :runner:

[2018-01-16 20:12] movitto commented on #13314
@opened https://github.com/ManageIQ/manageiq-ui-classic/issues/3257

[2018-01-17 16:08] gtanzillo commented on #16571
@abellotti Can you take a look at this and see what needs to be done?

[2018-01-18 12:57] sshingarapu commented on #16830
Could you please help here.

[2018-01-18 23:29] tjyang commented on #14950
Hi All
Any update on this RFE request ?
It will be a great addon feature to allow miq users to login and type a hostname to find a drill the the details.

[2018-01-19 03:43] serenamarie125 commented on #14950
Adding global search is on the UX Design backlog.  I'm not sure that this is a prioritized requirement at this point. @Loicavenel ?

[2018-01-19 19:48] jvlcek opened #16857 "Address sporadic travis failure"
A sporadic travis failure was observed on PR: https://github.com/ManageIQ/manageiq/pull/16850

Here is the log from the travis job: https://api.travis-ci.org/v3/job/330902819/log.txt

I'm not sure what's going on but it should probably be investigated.

[2018-01-19 20:40] d-m-u commented on #16739
@Fryguy Can we close this one?

[2018-01-19 21:36] carbonin commented on #16739
Fixed by https://github.com/ManageIQ/manageiq/pull/16775

[2018-01-19 21:36] #16739 closed

[2018-01-22 13:14] sshingarapu opened #16862 "Report for memory & cpu limit for all projects in openshift"
Hi,

We are running openshift 3.6 env with hawkualr metrics and installed manageiq docker container.

We are able to build dashboard for projects by cpu usage, nodes by memory/cpu usage. But we are not able to get the memory usage for each projects, it is showing the memory usage for each project is 0.

Also we would like to build one dashboard for all projects which start with "abc-" where all th

[2018-01-26 20:01] cyrilbkr commented on #15609
any news on this ?

[2018-01-29 07:39] evenit commented on #6315
Everyone was good with this RFE, but it has not been merged, yet. I hoped
that Gaprindashvili would bring it, but apparently not.
Would it be possible to do it in Gaprindashvili ? The use case is still
relevant : interacting with services that require Kerberos authentication
from Ruby code. One example is creating the host entry for the provisioned
VM in FreeIPA.

2018-01-29 6:00 GMT+01:00 ManageI

[2018-01-29 09:43] Ladas commented on #12902
@blomquisg we should move this to the design docs? We should find some time to tackle this.

[2018-01-29 13:11] agrare commented on #13798
This has been backported to a stable branch, closing.

[2018-01-29 13:11] #13798 closed

[2018-01-29 14:14] djberg96 commented on #6315
@evenit Is there a corresponding PR that we could merge?

[2018-01-29 14:26] shalomnaim1 commented on #14238
@moolitayer , In the Debug section under step 2, you added an example of how to get the current firing alerts form Prometheus, it seems like you used 2 different variables for accessing the route, the route saved to ```PROMETHEUS_ALERTS_ROUTE``` but on the curl request, you used ```OPENSHIFT_PROMETHEUS_ALERTS_ROUTE```

[2018-01-29 14:31] carbonin commented on #6823
Closing this as this issue doesn't seem to be happening on master currently, and has been open for nearly two years.

[2018-01-29 14:31] #6823 closed

[2018-01-29 15:20] blomquisg commented on #14838
@carbonin / @djberg96, I see two ways of handling this.

1. Have something more fundamental to the appliance monitor the time displacement.  Could be a Rails initializer, or even a Schedule Worker job.

2. Have all providers be responsible for reacting to whether the are failing API requests because of a time displacement.

I think that having one place to monitor this is probably better.  I'm not

[2018-01-29 17:53] evenit commented on #6315
Nope. To be honest, I have no clue where to add that gem dependency. I
expected some build expert would know how to do so.

2018-01-29 15:14 GMT+01:00 Daniel Berger <notifications@github.com>:

[2018-01-29 19:51] djberg96 commented on #474
@tinaafitz Is this still an issue?

[2018-01-29 20:22] tinaafitz commented on #474
@djberg96 No, the issue has been resolved.

[2018-01-29 20:22] #474 closed

[2018-01-30 15:29] evenit commented on #6315
Thanks @gmcculloug for pointing me to the right place.

[2018-01-30 22:45] kbrock commented on #15111
@Fryguy @chrisarcand not sure how you want to proceed.

I can implement the feature as requested, but it will not work with our code base.

The issue comes when you are `including` across a polymorphic association. The relation in the include hash may be valid for one of the classes, but not valid for another. (e.g. Vm has hardware while a Container does not)

I documented this further in https://

[2018-02-01 08:20] evenit commented on #6315
Adding the gem to appliance is not the way to go. Discussion will happen in the manageiq-content repository.

[2018-02-01 08:20] #6315 closed

[2018-02-01 20:20] romanblanco opened #16935 "Error while adding a new Service Catalog"
Reproduce:
1. go to Services / Catalogs
3. select Catalog Items accordion
4. Add a New Catalog Item (Configuration button)
5. select Azure
6. go to Request Info tab
7. select any Name

Log:

[code]

[code]

[2018-02-01 20:21] romanblanco commented on #16935
If I first select in _Placement_ the option _Choose Automatically_ , I'm able to select any name (do the 6th step) without any errors.

[2018-02-01 20:21] romanblanco commented on #16935
/cc @d-m-u

[2018-02-01 20:22] romanblanco commented on #16935
@miq-bot add_label bug

[2018-02-01 20:34] d-m-u commented on #16935
Per Ladas, "it can be nil if the Azure has missing network manager, which is invalid state" and we need to "fix the delegations, so they don't return nil, then we will get [] networks and in some cases the provisioning could pass (if the network in provider is picked automatically)"

[2018-02-01 20:38] schmandforke commented on #1226
+1
this default behavior is really annoying

[2018-02-03 14:29] tjyang opened #16945 "Not able to raise memory threshold for MiqEmsRefreshCoreWorker"
Hi

I am  not able to raise the memory to keep workers from exiting due to reaching threshold.

* miq version
miqwk02 is in region 2 with role as worker to scan on openstack provider.

[code]
* offending log in automation.log
[code]
* corrective action to raise memory threshold for all workers
Following is the the setting for all workers from Advance setting.
All 400/500/600M memory threshold were

[2018-02-05 09:56] kuklis commented on #1226
Pls implement this.

[2018-02-07 21:21] tjyang opened #16968 "We're sorry, but something went wrong." after login as admin"
My test machine run in to this after "vmdb;./bin/update"

* master branch version
[root@miqwk01 vmdb]# git log -1
commit c4a57e7bedd492782fd8eb02f531d9d2786ef9d4
Merge: 6b8a2fd 951ee2b
Author: Gregg Tanzillo <gtanzill@redhat.com>
Date:   Wed Feb 7 14:28:54 2018 -0500

    Merge pull request #16947 from jntullo/transformation_mapping_pf

    Add product features needed for v2v Transformation Mappin

[2018-02-07 22:56] tjyang commented on #16968
* Not sure why following pr fix the issue.
I did a "vmdb;git pull;bin/update && reboot" , and login issue went away.
[code]

[2018-02-07 22:56] #16968 closed

[2018-02-08 11:05] pemcg commented on #14238
In the examples here you're defining the severity as both an annotation and a label:

[code]

and

[code]

Is there a recommendation as to which is preferable?

[2018-02-12 19:47] billfitzgerald0120 commented on #15743
@gmcculloug This issue still exists on 5.9.0.19.   I was able to re-create it.

[2018-02-12 20:52] gmcculloug commented on #15743
@billfitzgerald0120 Thanks for verifying.

@mkanoor Any thoughts on this being a UI or backend issue?

[2018-02-12 22:25] mkanoor commented on #15743
@billfitzgerald0120
What happens if you logout from the UI between the copies, does it still fail. Its possible the UI is using the cached copy in the tree view and not updating it?

[2018-02-13 12:54] billfitzgerald0120 commented on #15743
@mkanoor It still happens when I logout between copies

[2018-02-13 13:34] lpichler opened #16993 "MiqExpression.build_relats(ManageIQ::Providers::InfraManager) is not working"
caused by ManageIQ/manageiq#16916
## Issue:
` MiqExpression.build_relats(ManageIQ::Providers::InfraManager)`
end with error:
[code]

## Why ?
Rails badly inherit class here
https://github.com/ManageIQ/manageiq/blob/master/lib/miq_expression.rb#L971

it should get `Network` but it got `ManageIQ::Network` because of module existence  added in ManageIQ/manageiq#16916

## Workaround:
it is working wit

[2018-02-13 13:46] Fryguy commented on #16993
cc @d-m-u @kbrock

[2018-02-13 14:41] mkanoor commented on #15743
Showed it to @skateman it seems like the UI tree on the left side is not getting updated

[2018-02-13 16:41] mfeifer commented on #16571
@abellotti poke

[2018-02-14 03:45] gildub commented on #16993
@gildub, interesting that didn't appear in the first place as everything was GREEN. Not sure way and I due to my time zone I wasn't able to respond in live. Anyway this has been addressed although it would be great if the Models relationships could not block us to use or improve name spaces.

[2018-02-16 13:19] psachin commented on #15670
@carbonin

On gaprindashvili-1, when I enable Embeded ansible role I see below errors in `evm.log`. If fix #16205 should be include in gaprindashvili-1, I think it fails to download docker image. Is it related to this issue or should I report new one?

[code]

[2018-02-16 13:38] carbonin commented on #15670
@psachin That looks like a separate issue, can you open a new issue and mention me?

This was originally opened because awx was not supported so this was solved when we added the ability to run awx containers for embedded ansible.

[2018-02-16 19:49] psachin opened #17014 "EmbeddedAnsibleWorker existing with "No such image: rabbitmq:3""
On gaprindashvili-1, when Embeded ansible role is enable I see below errors in `evm.log`. PR #16205 introduced `DockerEmbeddedAnsible` class to manages [AWX](https://github.com/ansible/awx) containers using the `docker-api` gem which fails to start due to image unavailability

[code]

Evm status
[code]

[2018-02-16 19:50] psachin commented on #17014
@carbonin

Can you please look into this issue?

[2018-02-16 20:24] carbonin commented on #17014
I can see this image on docker hub here https://hub.docker.com/r/library/rabbitmq/tags/3/

Can you `docker pull rabbitmq:3` from that machine and post the output?

[2018-02-18 04:52] psachin commented on #17014
@carbonin

[code]

[2018-02-19 10:15] LW81 opened #17018 "Advanced Configuration for ManageIQ inside Docker"
Hi,

i am trying to test ManageIQ for Azure Coud Provisioning and i have chosen to start with ManageIQ inside Docker.

For us reaching out to Azure requires the usage of a Proxy server, which i found can be configured inside Advanced Configuration.
However it seems to not have immediate effect so looks like a service restart is required, which i can't do inside the Docker container, as the contain

[2018-02-19 20:06] imtayadeway commented on #16778
Just passing by with a few thoughts:

I see this as a *bad* thing, unqualified, because it promotes the idea that factories are like shared fixtures, which of course they are not. I've lost track of the times I've seen factories created with a bunch of "sensible defaults", none of which were actually needed, and some of which were used implicitly to verify behavior.

Can you give an example of thi

[2018-02-20 15:11] lpichler commented on #16993
fixed by https://github.com/ManageIQ/manageiq/pull/16994

thanks!

[2018-02-20 15:11] #16993 closed

[2018-02-20 18:05] NickLaMuro commented on #11692
@Fryguy and all...

Looking at this, seems like this wouldn't be too difficult to implement, so I might take an afternoon to look into doing that and see what comes of it.

That said, I think this issue now should live in `manageiq-gems-pending`, since that is where this comes from now.  ¯\\\_(ツ)\_/¯

[2018-02-20 23:27] NickLaMuro commented on #11692
To clarify Jason's comment from above, I think it would be easier to grok (and implement) if `:total` was also on the top level as well:

[code]

[2018-02-21 08:51] ablecable commented on #10939
Hi @Pmonnaie, how did you solve this problem?

[2018-02-21 10:31] Pmonnaie commented on #10939
Hi @ablecable, so I make a key-value list of options. For example {vm1_id => vm1_name, vm2_id => vm2_name, ...}. In my case, this list is generated by calling my compute backend. The info I get back based on the user selection is the vmx_id. If the cost that call is low, I call my compute backend again to get the name corresponding to that id.
I can also change my dialog generation method to use t

[2018-02-21 10:31] Pmonnaie commented on #10939
Sorry about the close, clicked the wrong button.

[2018-02-21 16:15] gmcculloug commented on #10939
@eclarizio Please review

[2018-02-21 22:22] gmcculloug commented on #15742
Fixed in https://github.com/ManageIQ/manageiq-ui-classic/pull/2027

[2018-02-21 22:22] #15742 closed

[2018-02-22 17:44] romanblanco commented on #12363
Still can reproduce.

@miq-bot remove_label stale

[2018-02-26 05:26] Zorrom opened #17047 "Failed to trigger CloudForms self-service catalog using Rest API call"
Trying to call one of the self_service catalog from CloudForms using the curl command as listed in the documentation. The curl command as follows

curl -k -u admin:smartvm -i -X POST -H "Accept: application/json" https://localhost/api/service_templates/10000000000006

For now I am only trying to trigger the service catalog using REST API without passing any parameters which throws the following er

[2018-02-26 14:12] #17014 closed

[2018-02-26 21:39] kbrock commented on #15700
@arnikasky Did #15876 solve your problem?

[2018-02-27 16:21] kbrock commented on #13888
not ready to let this go yet

[2018-02-28 13:35] rvalente opened #17064 "Keep Snapshot History on VM or Instance"
As a ManageIQ administrator I should have the ability to see the snapshot history for a given VM or instance in CloudForms even after the snapshot has been deleted.

[2018-02-28 13:41] rvalente commented on #16456
@gtanzillo we ran into something similar in our environment, there is a space check to ensure that there is enough space to rotate, if not, it will not rotate and the current log will continue to grow. This typically becomes an issue on the host that is doing the provider inventory.

[${APPLIANCE_SOURCE_DIRECTORY}/logrotate_free_space_check.sh](https://github.com/ManageIQ/manageiq-appliance/blob/f

[2018-03-02 20:52] #16670 closed

[2018-03-05 05:15] Zorrom commented on #17047
Hello. Anyone alive ?

[2018-03-05 14:52] bzwei commented on #15892
There were a few attempts to make the output visible. Some were due to the format of the content contains special characters. Some were because the output was not accessible. For example https://github.com/ManageIQ/manageiq/pull/16441 showed an error message if the role had been disabled.

Can we close this issue now?

[2018-03-05 14:55] patchkez commented on #15892
@bzwei Yes, it is working fine now. Closing this issue.

[2018-03-05 14:55] #15892 closed

[2018-03-06 21:11] chrisarcand commented on #7660
@roliveri Any resolution to this? Is it still valid?

[2018-03-06 21:14] chrisarcand commented on #11231
Any update on this? Is it still valid?

[2018-03-07 04:24] roliveri commented on #7660
It's probably no longer valid. We haven't encountered that message since.

[2018-03-08 13:03] cyrilbkr opened #17118 "Os on AWS not working"
Hi guys,

I added the AWS provider,
ManageIq get my ec2/ hosts / network / az  etc.... but the os detection is not working, every ec2 are in  Unknown  os in the guest os chart for example.

I m using debian 9 or ubuntu 16 on my nodes.

[2018-03-08 13:31] kekimiann opened #17119 "Embedded Ansible - Can't sign in to awx web interface"
**Issue**
Can't sign in to awx_web interface

**Environment**
MIQ: gaprindashvili-2
Role: Embedded Ansible

**awx_web container Url**
http://localhost:54321

**The Docker log of the awx-web container, the entry when try to authenticate:**
[Thu Mar  8 13:26:57 2018] POST /api/login/ => generated 5876 bytes in 121 msecs (HTTP/1.1 401) 8 headers in 370 bytes (1 switches on core 0)

Tried to sign usin

[2018-03-08 15:02] chrisarcand commented on #7660
Cool! Closing this for now then 👍

[2018-03-08 15:02] #7660 closed

[2018-03-08 22:47] NickLaMuro commented on #1064
@dclarizio Just looking through some of the `performance` tagged Issues, and this one that came up and seems pretty old.  Is this no longer relevant and/or could be moved to the [ManageIQ/manageiq-ui-classic](https://github.com/ManageIQ/manageiq-ui-classic) repo?

[2018-03-08 22:47] NickLaMuro commented on #1065
@dclarizio Just looking through some of the `performance` tagged Issues, and this one that came up and seems pretty old.  Is this no longer relevant and/or could be moved to the [ManageIQ/manageiq-ui-classic](https://github.com/ManageIQ/manageiq-ui-classic) repo?

[2018-03-08 22:47] NickLaMuro commented on #1330
@dclarizio Just looking through some of the `performance` tagged Issues, and this one that came up and seems pretty old.  Is this no longer relevant and/or could be moved to the [ManageIQ/manageiq-ui-classic](https://github.com/ManageIQ/manageiq-ui-classic) repo?

[2018-03-09 15:10] Madko opened #17129 "email field is to short"
Hi,

When creating a new user or editing an existing one, the email field is too short. It's actually limited to 51, and RFC says email can be 254 caracters long.

http://www.rfc-editor.org/errata_search.php?rfc=3696

Best regards,
Edouard

[2018-03-09 18:12] #17119 closed

[2018-03-09 18:16] kekimiann commented on #17119
This is intended behavior.

[2018-03-09 18:33] chrisarcand commented on #8622
I think this is better handled as issues on individual provider repos as those dependencies are really the 'issue'. Closing this but feel free to open on the providers themselves!

[2018-03-09 18:33] #8622 closed

[2018-03-09 21:17] kekimiann opened #17134 "Embedded Ansible - Service provisioning based on Ansible playbook stuck in check_completed state"
I activated the Embedded Ansible role on the lasted and freshly installed version of MIQ.
I have also added a public repository, all playbooks were discovered.

The issue, is when provisioning a simple service(create a new user on MIQ), the job is stucking in check_completed state and then just retrying endless.

I followed this tutorial:
https://cloudformsblog.redhat.com/2017/07/24/my-first-ansib

[2018-03-12 05:11] akshay196 commented on #17134
I am facing exactly similar issue. After retrying, throws this ERROR in evm.log:

[code]

[2018-03-13 15:49] rywillia opened #17147 "Provision a cloud instance creates more instances than the count that was set"
When attempting to provision an instance in a cloud provider (in my case it was OpenStack). I observed duplicate instances created when I only specified 1 as the instance count. I am using the docker image based on the main website documentation: **manageiq/manageiq:gaprindashvili-2**. I was able to reproduce the same problem performing the provision request by REST API and the GUI.

Steps to repr

[2018-03-14 08:08] ITD27M01 commented on #16002
https://github.com/ManageIQ/manageiq-providers-openstack/pull/112

[2018-03-15 07:17] #15773 closed

[2018-03-15 15:25] miso-m commented on #17147
The same issue affects also gaprindashvili-1. Networks are being duplicated as well but for example flavors are created correctly.

[2018-03-15 19:13] djberg96 commented on #14347
@himdel I can't get that to run, it bombs out with:

[code]

[2018-03-16 12:02] himdel commented on #14347
@djberg96 Aaah.. sorry about that, this is most likely caused by https://github.com/ManageIQ/manageiq-ui-classic/pull/3579 ...

`manageiq-garphl/app/javascript/packs/graphql-explorer.js` does `window.MiqReact`, but this got renamed to `window.ManageIQ.react`.

[2018-03-16 16:20] #1330 closed

[2018-03-16 16:20] #1065 closed

[2018-03-19 16:55] juliancheal commented on #16124
Discovery removed from both Azure & Amazon.

[2018-03-19 16:55] #16124 closed

[2018-03-21 02:53] Boes-man opened #17180 "Potential bug gaprindashvili-2.20180313094615_ and OCP hawkular metrics?"
I’ve got gaprindashvili-2.20180313094615_ with a minishift container provider setup. It seems to be crashing after a few hours. Can see a massive amount of the ERROR, as per attached. I have tried to disable the hawkular metrics in the provider config, but the errors continue. Every 3 minutes.

[ocp_hawk.log](https://github.com/ManageIQ/manageiq/files/1831918/ocp_hawk.log)

[2018-03-21 21:29] Boes-man commented on #17180
Also seeing this in CF4.6

[2018-03-21 21:34] Boes-man commented on #17180
Just found this. https://bugzilla.redhat.com/show_bug.cgi?id=1537195

[2018-03-21 21:34] #17180 closed

[2018-03-23 18:43] Fryguy commented on #17129
I think this issue is a UI issue, so I'm moving this over to the UI repo

@miq-bot move_issue manageiq-ui-classic

[2018-03-23 18:44] Fryguy commented on #17118
@miq-bot move_issue manageiq-providers-amazon

[2018-03-23 18:44] #17129 closed

[2018-03-23 18:45] #17118 closed

[2018-03-23 18:46] Fryguy commented on #17018
@carbonin ?  Thoughts?

[2018-03-23 18:50] Fryguy commented on #16857
@jvlcek Is this still an issue?

[2018-03-26 10:19] miso-m commented on #17147
So the issue exists only when running ManageIQ from docker image. OpenStack OVA and Vagrant image are running correctly and no duplicated instances are created.

[2018-03-26 11:31] jvlcek commented on #16857
@Fryguy, I can not recreate it.

[2018-03-26 12:43] cben opened #17201 "Only use JSON-safe values in settings"
Looks like we're close enough to it already, easier than alternatives?
https://bugzilla.redhat.com/show_bug.cgi?id=1558031

[code]

So:
- [ ] some yaml dates in azure — could use strings like "2017-12-01" easily.
- [ ] saver_strategy — could be fixed in one place by https://github.com/ManageIQ/manageiq/pull/17168 or in multiple providers where we read settings.
- [ ] couple worker_base settings
-

[2018-03-27 13:17] carbonin commented on #17018
If a service restart is really required then we don't have a solution for this, but if I understand correctly the server should reload settings on the workers whenever they change. I didn't think we ever had to restart `evmserverd` to have advanced settings apply correctly.

@Fryguy ?

[2018-03-27 15:57] jmontleon opened #17211 "Cannot create service template using the API"
I am trying to create a service template via the API and getting the error":
`{"error":{"kind":"bad_request","message":"Could not create Service Template - wrong number of arguments (given 2, expected 1)","klass":"Api::BadRequestError"}}'

It's possible I'm missing something, but I tried copying this more or less from one I created by hand in hte UI. I also don't see a clear example for a containe

[2018-03-27 18:52] jmontleon commented on #17211
This appears to be the correct format:

[code]

The issue is
https://github.com/ManageIQ/manageiq/blob/master/app/models/service_template_container_template.rb#L20
vs.
https://github.com/ManageIQ/manageiq-api/blob/master/app/controllers/api/service_templates_controller.rb#L16

I changed 'catalog_item_type.create_catalog_item(data.deep_symbolize_keys, User.current_user.userid)' to 'catalog_item_typ

[2018-03-28 10:37] kbrock commented on #11901
Darn. This is going away?

[2018-03-29 07:13] Ladas commented on #11901
@kbrock yeah, Marcel did a bit different API, but it's a bit more chatty than we would like. So we'll tweak that a bit more.

[2018-03-29 09:54] cben opened #17230 "put_authentication_check false positive "still running" despite different authtype"
Found by @abraverm (on appliance, do you remember which version?).
When creating provider with 2 endpoints via API, only 1 auth check is queued, the other skipped because "is still running", despite having distinct authtype.

`put_authentication_check` is correctly called twice, as result of 2 Authentication records `after_save :after_authentication_changed` hook.
But only one is actually queued.

[2018-03-29 09:54] cben commented on #17230
@miq-bot add-label bug

[2018-03-29 10:55] abraverm commented on #17230
version: 5.9.0.20

[2018-04-03 14:02] himdel commented on #16052
keepalive... @miq-bot remove_label stale

[2018-04-03 14:35] himdel commented on #15831
@miq-bot close_issue

This has long since been fixed by the new GTLs.

[2018-04-03 14:36] #15831 closed

[2018-04-03 18:08] Fryguy commented on #14840
We also probably want custom Loggers to live in their own repo, which might be necessary in certain cases (see #17228 )

[2018-04-03 19:37] Fryguy commented on #17201
Merged #17168, so one down.

[2018-04-03 19:40] Fryguy commented on #17201
@djberg96 Can you comment on what we use the dates for in the ems_azure section?  If we can convert those to simple strings, that would knock out one of the potential issues here.

[2018-04-05 14:05] d-m-u opened #17254 "[NoMethodError]: undefined method `id' for nil:NilClass when provisioning vmware vm"
[code]

[2018-04-06 15:40] djberg96 commented on #14347
@himdel So, what should I do exactly to fix this?

[2018-04-06 16:05] himdel commented on #14347
@djberg96 Well, since https://github.com/ManageIQ/manageiq-graphql/pull/54 got merged, the babel bits should be working now.

So probably all that is needed now is:

[code]

[2018-04-09 15:55] Fryguy commented on #14840
Pluggable configuration validators should be allowed since we are allowing plugins to bring their own settings.  (see https://github.com/ManageIQ/manageiq/pull/17168#issuecomment-378370350 )

[2018-04-09 16:05] Fryguy commented on #17201
@djberg96 My question is more specific to the object types being stored.  It sounds like the Azure API is expecting strings, so we should probably store strings in our yaml...right now Date objects are being stored (see below), which can cause issues with JSON roundtripping (e.g. when someone gets the settings via the REST API, then POSTs back to the REST API with change).

[code]

[2018-04-09 18:11] djberg96 commented on #17201
@Fryguy I'm fine with changing them to strings since they're just passed along as strings.

[2018-04-09 18:12] djberg96 commented on #17201
@cben or @Fryguy if you create an issue over on the Azure provider repo, I'll pick it up. It shouldn't take long.

[2018-04-10 07:40] Ladas commented on #17201
@Fryguy yeah, that is also covered in https://github.com/Ladas/manageiq/blob/2d0451184f95bb7796243efb08238b3ef651a516/app/models/manager_refresh/save_inventory.rb#L17

[2018-04-10 15:28] jrafanie commented on #16945
@tjyang that should have worked.  Are you sure it's saved?  It might take a few minutes to honor the settings.  You can also try using `tools/configure_server_settings.rb` with examples here:
https://github.com/ManageIQ/manageiq/pull/17039

[2018-04-10 15:29] gaetanquentin opened #17274 "docker manageiq do not start after adding/removing network interface - memcached connectivity"
i have launched  the latest docker manageiq (20180404) container.
it was working fine.

i had the "strange" idea to change network configuration,  adding a second network interface, and removing it after (docker network connect / docker network disconnect)

Now the container do not start and i don't know why since the network conf looks like before.

The log error is:

Error something seems wrong,

[2018-04-11 15:25] djberg96 commented on #14347
@himdel Is that a change that needs to be made in the graphql repo yet then? Or am I just supposed to make the change to my local repo and point ManageIQ at it?

[2018-04-11 15:51] himdel commented on #14347
https://github.com/ManageIQ/manageiq-graphql/pull/56

[2018-04-11 18:53] lkhomenk opened #17288 "Sysprep Windows Template"
GH issue for https://bugzilla.redhat.com/show_bug.cgi?id=1565791
it's related not only to Azure. as per [Docs](https://access.redhat.com/documentation/en-us/red_hat_cloudforms/4.6/html/support_matrix/) this feature is supported for bunch of providers.
Docs also tell that we can create sysprep template in Compute/Infra/PXE/Customzation templates.
But if we create one - it never appears during provi

[2018-04-11 20:43] djberg96 commented on #17288
@gmcculloug @tinaafitz Is this an issue on the automate side or the UI side?

[2018-04-11 21:37] gmcculloug commented on #17288
@djberg96 I do not think the provisioning workflows are setup to return sysprep templates to cloud providers currently.  That would make it an backend model issue, I'll do a little more digging on this and report back here.

[2018-04-12 00:38] jeffmcutter commented on #15350
Can we add Orchestration Templates to the checklist? [https://github.com/rhtconsulting/cfme-rhconsulting-scripts/blob/master/rhconsulting_orchestration_templates.rake](url)

[2018-04-12 01:35] branic commented on #15350
Added.

[2018-04-12 08:54] himdel commented on #14347
OK, one more PR needed .. with https://github.com/ManageIQ/manageiq-graphql/pull/55 in,

[code]

works for me (and keeps complaining that `[HPM] Error occurred while trying to proxy request /ws/notifications from localhost:8080 to ws://0.0.0.0:5000 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)` because I don't run `evm:start`).

So, hopefully this will work for yo

[2018-04-12 12:39] gmcculloug commented on #17288
@djberg96 As mentioned above cloud typically does not support sysprep so the default `def allowed_customization_templates` method is coded to only return cloud-init.

[code]
See [app/models/manageiq/providers/cloud_manager/provision_workflow.rb#L78-L80](https://github.com/ManageIQ/manageiq/blob/802d601b1356d1e861ed4f6064e9043f33630e76/app/models/manageiq/providers/cloud_manager/provision_workflow.

[2018-04-12 12:41] himdel commented on #2078
@miq-bot remove_label stale

[code]

(from `cd ManageIQ; for d in */; do cd $d; echo -n "$d":' ' ; ag cfme | wc -l ; cd .. ; done`)

[2018-04-12 12:45] himdel commented on #7947
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2018-04-12 12:46] #7947 closed

[2018-04-12 12:46] #13199 closed

[2018-04-12 12:49] #7774 closed

[2018-04-12 12:50] himdel commented on #12847
@miq-bot move_issue ManageIQ/manageiq-ui-classic

[2018-04-12 12:51] #8146 closed

[2018-04-12 12:51] #12847 closed

[2018-04-12 16:40] djberg96 commented on #17288
@gmcculloug Thanks for this.

Interestingly, the Amazon code looks possibly wrong, since the if/else clause seems to do the same thing either way.

[2018-04-13 12:27] miha-plesko opened #17295 "[PROPOSAL] Per-provider Event Timelines With Regex Support"
So I'm playing with **Timelines** feature for one of the providers (Nuage). Talking about this view here:

![capture](https://user-images.githubusercontent.com/8102426/38733157-2e74ca16-3f21-11e8-855c-fedbb9c9ed63.PNG)

![capture](https://user-images.githubusercontent.com/8102426/38733223-5d74f1ce-3f21-11e8-93d7-8f3b0c016145.PNG)

And there are three problems I see:

- Timeline shows events of all

[2018-04-13 12:36] miha-plesko commented on #17295
# Proposal

## Timeline Shows Events of All Providers, Not Just Nuage
EmsEvent object has `ems_is` attribute. We could show only those events in Timeline that belong to EMS that user clicked **Monitoring -> Timelines** for.

## Event Timeline Categories are Mixed Across Providers
What if we don't filter out events based only on `event_type`, but rather based on both `event_type` and `source` (e.g.

[2018-04-13 13:36] jerryk55 opened #17296 "FYI, you may have to re-record cassettes with psych 2.1.0+"
See: https://github.com/ghempton/camcorder/issues/13
Already fixed for miq_disk_spec.rb in the Euwe branch.

[2018-04-13 15:51] Fryguy commented on #17295
I agree that if you click Monitoring -> Timelines for a particular EMS, you'd only want to see that EMS.  However, we would have to verify that there are no timeline presentation screen that do cross-provider views.  If you go to the "all emses" page, can you check multiple providers and go to timeline, for example?  Might need someone from UI to help verify.

source is probably not good enough be

[2018-04-13 15:55] Fryguy commented on #17295
cc @agrare @blomquisg on your thoughts here.

[2018-04-16 06:39] miha-plesko commented on #17295
**Updating code not to build SQL statement manually** is then the 4th problem with timelines that we could address. This one, however, could be a bit tricky to solve because it seems to be deeply integrated in MIQ like this:

[code]

Not sure, but I think MiqReport uses those hard-coded SQL `WHERE` clauses in order to be serializable (as opposed to stacking `.where()` statements). Furthermore, Miq

[2018-04-17 13:21] Glutexo opened #17307 "Fetch, store and display stdout capture of an Ansible Tower project update job"
Fetching and presenting this information is a workaround for cloning repositories from HTTPS servers with untrusted SSL certificates. Tower API does not offer an option to disable SSL check, so with the stdout user can at least see, why the cloning actually failed.

This issue tracks progress of the existing PR’s that solve this issue:

- [x] manageiq/manageiq#17290 – requires merged manageiq/mana

[2018-04-18 13:35] djberg96 commented on #14347
@himdel Getting a backtrace on the command line where I'm running the webpack-dev-server:

[code]

There's actually a lot more, let me know if you need the full thing.

[2018-04-18 13:52] himdel commented on #14347
@djberg96 That

[code]

looks like `yarn` didn't succeed.

(The other one .. no clue, the preset info in graphql looks correct, so hopefully related to the other one.)

[2018-04-18 13:54] himdel commented on #14347
Actually @djberg96 it's a different problem:

[d08c7ff](https://github.com/ManageIQ/manageiq-graphql/commit/d08c7ff587858e5a5f0013f3536110fba1fa17b0) is from March 6.

So you're still using too old version of manageiq-grapqhl.

[2018-04-18 14:49] djberg96 commented on #14347
@himdel I don't get why it's using that. When I run `bundle install` it says `Using manageiq-graphql 0.1.0 from https://github.com/ManageIQ/manageiq-graphql (at master@d9ea9b1)`. What am I doing wrong?

[2018-04-18 14:58] himdel commented on #14347
Any chance of a stray override_gem somewhere?

[2018-04-19 08:25] himdel commented on #14347
@djberg96 Ok, that one should be easy, that's definitely just `yarn` failing.

Thinking some more, any chance you could have the right version in `manageiq/Gemfile.lock` but the old version (of graphql) in `manageiq-ui-classic/Gemfile.lock`?

[2018-04-19 09:24] ru87 opened #17316 "vCloud network manager discovery FAILED"
after adding a VMware vCloud provider correctly with valid credentials, i'm facing this error about network manager discovery (AZs, intances and vApps are OK):

NetworkManagers->vCloud Network Manager -> Status-> "Error - no implicit conversion of Symbol into Intenger"

vCloud provider is using v5.1 API.

![image](https://user-images.githubusercontent.com/4210908/38982997-9bd6bf46-43c3-11e8-8744-8

[2018-04-19 13:31] djberg96 commented on #14347
@himdel I blasted the Gemfile.lock from both repos locally, fetched the latest from upstream for each, and ran `bin/update` on each, and tried again. Same result.

I don't see any particular yarn errors. Within ui-classic, for example, I only see something like this:

[code]

[2018-04-20 08:49] Ladas commented on #11901
@kbrock yeah, and what is in ansible now, but we want to change that with @agrare and @slemrmartin , because it is too verbose

https://github.com/Ladas/manageiq-providers-ansible_tower/blob/2be6834ecdbdc5607268f8c3c033ee048f562909/app/models/manageiq/providers/ansible_tower/shared/inventory/persister/automation_manager.rb#L5

https://github.com/Ladas/manageiq/blob/b1e1ba89997872e924da8f16cb8af39c

[2018-04-20 08:50] Ladas commented on #11901
@kbrock so ^ is the perister api, https://github.com/ManageIQ/manageiq/issues/13113 is more as parser api, which got implemented partially

[2018-04-20 14:03] himdel commented on #14347
Ok, that's good.

So.. I really don't know what's so special about your environment.

Can you try a fresh install instead?

[code]

still works without problems :).

[2018-04-20 17:13] djberg96 commented on #14347
@himdel Ok, I think I got it working. I re-ran bin/update, and used your `override_gem` approach. I was previously just editing the main Gemfile locally, dunno if that had anything to do with it.

Interestingly, I still see the FATAL errors if I use `localhost:3000` instead of `localhost:8080`. I'm guessing you know why.

So, now I just need to make a rake task so that it always does this. :)

[2018-04-22 20:51] saulotoledo opened #17328 "Rubocop TrailingCommaInLiteral issues at UI build"
At [version`0.53.0`](https://github.com/bbatsov/rubocop/blob/3c3e315b84df45845440a25cbd71a5b99214b21d/CHANGELOG.md#0530-2018-03-05), the `TrailingCommaInLiteral` rule at Rubocop has been split into`TrailingCommaInHashLiteral` and `TrailingCommaInArrayLiteral` and no longer exists. The current version definition for Rubocop allow us to use the version `0.52.1` or superior, but it is not possible to

[2018-04-22 20:58] saulotoledo commented on #17328
https://github.com/ManageIQ/manageiq/pull/17327 contains a solution for that.

[2018-04-22 20:58] saulotoledo commented on #17328
@miq-bot add_reviewer @agrare

[2018-04-23 07:58] Glutexo commented on #17307
[ansible_tower_client_ruby/#102](https://github.com/ansible/ansible_tower_client_ruby/pull/102) is ready to be merged.

[2018-04-23 11:33] himdel commented on #14347
Yay, congrats! :)

¯\_(ツ)_/¯ Could be :). (Bundler is the tool I'm least familiar with here.)

Yes, that's expected, `localhost:3000` is pretty much just behaving as always, still only UiWorker listening there.

What happens is that webpack runs a proxy on 8080 which:
  * dynamically compiles and serves webpacked javascript (so no need to run `rake webpack:compile` when changing `app/javascript`)

[2018-04-23 15:09] djberg96 commented on #14347
@himdel Thanks for this. Any chance of adding this to https://github.com/ManageIQ/guides?

[2018-04-23 15:11] himdel commented on #14347
Well.. I mean .. sure, but what is *this*? :)

As in, which part of this is missing from guides?
(Maybe I'm too close to see the whole picture?)

[2018-04-23 15:14] djberg96 commented on #14347
@himdel "this" would basically be https://github.com/ManageIQ/manageiq/issues/14347#issuecomment-383106071

Or is that all already in there somewhere?

[2018-04-23 15:28] himdel commented on #14347
Aah, well.. maybe not quite that way, you're right.

I mean, we do have the [developer setup](https://github.com/ManageIQ/guides/blob/master/developer_setup.md) article with the setup instructions, and [plugins](https://github.com/ManageIQ/guides/blob/master/developer_setup/plugins.md)  which talks about `override_gem`.

Just not a simple bash script :)

[2018-04-23 15:54] bzwei commented on #15563
This issue should be closed since it has been resolved by fog/fog-openstack#317.

[2018-04-23 16:38] kbrock commented on #11901
yea - the need for modules here and then having the `options` override stuff suggests that we are not defaulting enough variables or we are passing data around at the wrong granularity

[2018-04-24 10:06] evertmulder commented on #12596
To old, needs to be part of bigger effort to run in containers

[2018-04-24 10:06] #12596 closed

[2018-04-24 13:28] carbonin commented on #12596
@evertmulder actually this should be addressed with https://github.com/ManageIQ/manageiq/pull/16929 and https://github.com/ManageIQ/manageiq/pull/16940 as the maintenance tasks have been moved into the application.

[2018-04-24 14:50] juliancheal opened #17338 "Rails 5.2 Upgrade"
This issue tracks progress for ManageIQ running Rails 5.2, released April 9, 2018

[Rails 5.2 Release Notes](http://guides.rubyonrails.org/5_2_release_notes.html)
[5-1-stable commit list](https://github.com/rails/rails/commits/5-2-stable)

# Known dependencies to be updated:

https://github.com/ManageIQ/manageiq-gems-pending/pull/440
https://github.com/ManageIQ/manageiq-api-client/pull/87
https://

[2018-04-24 14:50] juliancheal commented on #17338
@miq-bot add_lables core, rails5.2

[2018-04-24 14:52] juliancheal commented on #17338
@miq-bot add_lable core, rails5.2

[2018-04-24 14:56] juliancheal commented on #17338
@miq-bot add_label core, rails5.2

[2018-04-24 14:59] juliancheal commented on #15036
Fixed by https://github.com/rails/rails/pull/32498

[2018-04-24 15:14] mkalfon opened #17339 "Slow MIQ performance on a clean VM installation"
Upon installing Manage IQ on a VM using the default parameters, engine UI, specifically menu items navigation performs very slowly. After a while (probably hours), it starts to behave normally.

VM (appliance) specification: 16GB of RAM, 4 cores, one disk of 66Gb, running on oVirt 4.2.2.

We didn't noticed this issue or former versions that we worked on.

Version-Release: MIQ master.20180417121918

[2018-04-25 09:06] evertmulder commented on #12596
Ah even better. Thanks

[2018-04-25 10:39] istein1 commented on #17339
This issue seem to be urgent as it reproduces when power cycling the manageIQ VM.
It also happen on our 2 RHV separate systems.
Note that after some time (I think hours, but I'll need to double check that) , the slowness is gone, and the UI response is back to normal.

[2018-04-25 14:12] kbrock commented on #17339
@mkalfon or @istein1 Do you know if vmware and rhevm are intended to run. or if just one of them?

I noticed on the second environment that workers for both are running. This may be nothing. or this may be causing memory pressure / swapping.

[2018-04-25 18:34] kbrock commented on #17339
Also, could you include the complete evm.logs? It looks like they were rotated and we would like to see the first messages to understand it more

[2018-04-25 20:25] bnordgren commented on #9703
I'd also be interested in this as an RFE.

My specific trouble with Rackspace is different because I'm using ManageIQ version gaprindashvili-2.20180305191449_5bba686. I keep getting an error about an incorrect username or password.

[2018-04-26 06:45] istein1 commented on #17339
@kbrock , Regarding the 2nd env - This is a manageiq VM installed on Apr 19, and I'll attach the evm.log this date to the bug, when it was working slowly. Later on, we added to this env, v2v automate domain, and turned the RHV hosts into conversion hosts. I shall send by email the env details. As mentioned before,
this env do not have the slow UI issue right now. If it can help, I can recycle the

[2018-04-26 08:14] mkalfon commented on #17339
@kbrock both RHV and VMware are registered in the MIQ. The propose is to check migration from VMware to RHV.
About the complete evm logs -  I will attach them to the original BZ.

[2018-04-26 08:52] skateman opened #17344 "Undefined local variable error when opening DB Client Connections"
Steps to reproduce:
1. Navigate to Configuration -> Diagnostics
2. Select the client connections tab on the right

[code]

It seems like the `waiting` method/variable is not defined in `vmdb_database_connection.rb:73:in `task_state'˙.

@miq-bot add_label bug

[2018-04-26 12:48] juliancheal commented on #12902
@Ladas @djberg96 has any of Marcel's ideas been implemented yet?

[2018-04-26 12:49] juliancheal commented on #12902
@miq-bot assign @juliancheal

[2018-04-27 06:39] Glutexo commented on #17307
• ansible/ansible_tower_client_ruby#102 merged
• ansible/ansible_tower_client_ruby#103 merged; not exactly this PR, but v0.14.0 released

[2018-04-27 13:00] yrudman commented on #16514
https://github.com/ManageIQ/manageiq/pull/17215 should resolve this issue

[2018-04-27 13:41] mkanoor commented on #16514
Fixed with #17215

[2018-04-27 13:41] #16514 closed

[2018-05-02 09:53] cben commented on #17201
BZ is marked POST but a few more symbols remain:

[code]

[2018-05-03 06:52] wing731 opened #17378 "Can't add ovirt 4.2 Provider"
I get an error after adding ovirt 4.2 providder： Failed to fetch attributes for vm.
ManageIQ running in a Docker container: manageiq/manageiq:gaprindashvili-2

[2018-05-03 21:33] CharlleDaniel opened #17383 "PhysicalSwitches being deleted after the Infrastructure provider refresh"
**Issue:**
All the  PhysicalSwitches being deleted when a Infrastructure provider is refreshed.

**Description:**
The problem occur when we are using an appliance with Physicalnfrastructure and Infrastructure provider registered. When `save_ems_infra_inventory` method is called after the Infrastructure parser, this [line](https://github.com/ManageIQ/manageiq/blob/2aba99c4d1bf0ec365b38861886308816f

[2018-05-07 15:23] kruge002 opened #17388 "Service Dialog Editor is missing "notes" implementation for input fields"
The **Provisioning Dialog** supports "notes", informational text in a small font below an input field. E.g.
![2018-05-07_17h03_43](https://user-images.githubusercontent.com/23237514/39708879-a5b30480-5218-11e8-851d-5955cbfc00a7.png)

The **Service Dialog** does not (yet) support these notes. So when you want to add some informational text on how to specify the input data the only option you have i

[2018-05-09 11:56] slemrmartin opened #17396 "InventoryCollection Builder"
New Interface for definition/creating InventoryCollection from persister (**ManagerRefresh::Inventory::Persister** and its provider specific subclasses)
Accessible via _add_collection()_ method

Intended to replace:

_add_inventory_collection()_ method
_has_inventory()_ method
Classes **ManagerRefresh::InventoryCollection::Builder** and descendants can replace:

**ManagerRefresh::InventoryCollecti

[2018-05-10 12:58] Glutexo commented on #17307
Some more atomic PRs extracted from manageiq/manageiq-providers-ansible_tower#72:

* manageiq/manageiq-providers-ansible_tower#82 – requires merged manageiq/manageiq-providers-ansible_tower#72
* manageiq/manageiq-providers-ansible_tower#83
* manageiq/manageiq-providers-ansible_tower#84 – goes along with manageiq/manageiq#17290

[2018-05-11 09:55] wing731 commented on #17378
Using the latest images: manageiq:gaprindashvili-3, there is still the same problem, why no one solved it?

[2018-05-18 14:23] jameswnl opened #17441 "Integrate with external Tower Workflow"
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1468339

Using this issue to track all related work

# Backend
To inventory Tower `Workflow` objects to allow user launching them from within MIQ.

## A Workflow in Tower

The following figure shows a Tower `workflow_job_template`
<img width="922" alt="screen shot 2018-06-01 at 4 59 33 pm" src="https://user-images.githubusercontent.com/2421248/4086

[2018-05-18 18:51] robbmanes commented on #17316
I don't have a vCloud provider on hand right now, so maybe someone who does can chime in, but can you go into the `log/evm.log` and look for the traceback that contains the `no implicit conversion of Symbol into Integer` error?  If you can give the whole traceback from that log it will point to where in execution this excepted.

[2018-05-18 20:19] jrafanie opened #17443 "evm:export:service_dialogs blows up on a nil user"
With current master...

[code]

Ah, it looks good, it didn't blow up, let's see what files were exported...

[code]

Hmm, I was expecting more...

Let's look at the logs:

![deploy-fix-to-production-tomhanks](https://user-images.githubusercontent.com/19339/40255792-693b66d6-5ab6-11e8-931f-2e2bf8405ab4.gif)

[code]

It's blowing up [here](https://github.com/ManageIQ/manageiq/blob/5f22e971f034528138

[2018-05-18 22:39] branic commented on #17443
@jrafanie I assume the dialog has one or more dynamic elements?

I have been able to produce the same error when exporting a dialog that has a dynamic element. However, the export continued and all of my dialogs were exported. (Which is probably why I didn't notice when I was writing the rake task.)

There are a couple of ideas in how to fix this that I have. The first is to see if there is a bett

[2018-05-19 01:32] branic commented on #17443
Looking at this a bit more I see that I missed the that the beginning of this error is being generated is the [`to_json` call](https://github.com/ManageIQ/manageiq/blob/5f22e971f034528138b6be42181ee4ba90461fdb/app/models/dialog_field_serializer.rb#L30) so the first idea won't work.

I don't know why `values_from_automate` eventually gets called, but it is.

I have been able to fix this by setting

[2018-05-20 11:10] gianpietro1 opened #17447 "Fine-4 & OpenStack Mitaka"
Hi,

I'm facing an issue when trying to add a Mitaka-based OpenStack environment as Cloud Provider, where Fine-4-based ManageIQ fails to do so.

What we can see in the network flows, is:

1. ManageIQ tries to authenticate with 'admin' project before authenticating with domain scope.
2. Mitaka-based OpenStack responds 'Project does not exist'
3. ManageIQ stops trying, so provider is not added.

Wit

[2018-05-21 18:33] d-m-u commented on #17443
I think this should be fixed by https://github.com/ManageIQ/manageiq/pull/17436

[2018-05-21 19:33] gmcculloug commented on #17443
@jrafanie Can you test the 2-line code change from that PR locally and let us know if it resolves the issue for you?

[2018-05-21 19:49] jrafanie commented on #16366
fixed by https://github.com/ManageIQ/manageiq/pull/17448

[2018-05-21 19:49] #16366 closed

[2018-05-21 20:02] jrafanie commented on #17443
https://github.com/ManageIQ/manageiq/pull/17436 tested and works for me.  comment added.  @branic @d-m-u thanks for working on the fix!

[2018-05-22 18:47] #6715 closed

[2018-05-23 10:41] Glutexo commented on #17307
manageiq/manageiq-providers-ansible_tower#72 no longer depends on manageiq/manageiq-providers-ansible_tower#73

[2018-05-23 13:40] ru87 commented on #17316
`[----] I, [2018-05-23T03:38:21.652814 #10850:91d138]  INFO -- : MIQ(ManageIQ::Providers::Vmware::CloudManager::EventCatcher::Runner#start_event_monitor) EMS [selfdcvcloud.nuvolaitaliana.it] as [manageiq@pilota] Starting Ev$
[fog][WARNING] Unrecognized arguments: port
[----] E, [2018-05-23T03:38:22.364438 #10850:b9028dc] ERROR -- : MIQ(ManageIQ::Providers::Vmware::CloudManager::EventCatcher::Runne

[2018-05-23 14:21] robbmanes commented on #17316
Looks like your terminal formatted/cut off a bit of this.  Posting for readability:

[code]

Judging only from looking at `/usr/local/lib/ruby/gems/2.3.0/gems/fog-vcloud-director-0.1.8/lib/fog/vcloud_director/compute.rb`

[code]

We die doing `hash[key1] ||= {key2 => []}` where I suspect one of these is nil passed in.

I'd expect there to be a longer traceback that could tell us why we fail in her

[2018-05-23 15:05] ru87 commented on #17316
sorry for the previous 'un-formatting'!
i've found these lines after the highlighted one.
hope are enough

[code]

[2018-05-26 18:20] rakeshrajwar opened #17484 "euwe branch code info"
Hi team
@bzwei @simaishi
Is euwe branch is up to date with master branch changes. I want use this branch as this has all code in main app instead of using rails engine. Thank you.

[2018-05-29 08:29] slemrmartin opened #17489 "Suspend provider"
Goal: Make an ability to manually suspend all remote operations (outside VMDB) for one provider.

Using two features:
1. Pausing provider by ```ExtManagementSystem.enabled```
2. Move provider (and child providers) to _Maintenance zone_ and save old one

When provider is paused (suspended), refresh worker's (and other provider-related worker's) processes are terminated.
Quadicons in UI have moon ic

[2018-05-29 10:38] Glutexo opened #17491 "Drop Tower v2.x support"
As noted in https://github.com/ManageIQ/manageiq-providers-ansible_tower/pull/72#issuecomment-391699487, Ansible Tower v2 reached its [End of Life][1] a long time ago already. There is no need to support it by the provider. This is backed by @bascar’s and @jameswnl’s green light for the removal.

This is solved by following PRs:

* [x] https://github.com/ManageIQ/manageiq/pull/17490 – ready to mer

[2018-05-29 13:21] simaishi commented on #17484
Hi @rakeshrajwar We're no longer updating Euwe branch as we have 2 newer releases since Euwe (Fine and Gaprindashvili). Many changes are not backported to Euwe branch and Euwe is very different from master at this point.

[2018-05-30 16:43] rakeshrajwar commented on #17484
@simtishi  Thank You, got it.

[2018-05-31 10:00] LorkScorguar commented on #10504
I can confirm that this would be great. Loose some time searching why mail are not reaching me

[2018-05-31 15:39] #17491 closed

[2018-06-04 11:37] slemrmartin commented on #17489
@miq-bot add_label question

[2018-06-04 17:02] Fryguy commented on #17441
I would leave the "job_template" bit out of the schema naming.  We shouldn't use provider specific terminology in an agnostic modeling.  I also don't really understand there being two "trees" of data (workflows and workflow nodes).  Can you give a more complex example, and how it would fit into your model?

[2018-06-04 17:03] Fryguy commented on #17441
Additionally, why do we even need all of this information.  The request is to just launch a workflow.  I would think we'd only need the workflows themselves and not their component parts.

[2018-06-04 17:03] #17484 closed

[2018-06-04 17:50] jameswnl commented on #17441
@Fryguy I've updated the issue description. (The `job_template` isn't in MIQ models).  See if the added description of the eg. workflow helps.

Inventorying the individual `workflow_job_template_node` because their corresponding `job_templates` can have their own `survey_spec`.  Since these are defined by user through Tower UI and we have no way to force them into the `workflow_job_template`.

[2018-06-04 19:56] jameswnl commented on #17441
Talked to @Fryguy and we don't need the level of detail into `workflow_job_template_nodes` as of now.

[2018-06-05 12:59] djberg96 commented on #17288
Should be solved with the following PR's, at least for Azure:

* https://github.com/ManageIQ/manageiq/pull/17293
* https://github.com/ManageIQ/manageiq-providers-azure/pull/263

A separate issue should be created for individual providers that need to add this, but I think this one can be closed.

[2018-06-05 17:11] kedark3 opened #17527 "[RHV Image]Latest nightly build broken, cannot recognize appliance_console or ap command"
In the June 4th , latest nightly build , it cannot recognize appliance_console or ap command, neither it can get to UI.
Image used:
http://releases.manageiq.org/manageiq-ovirt-devel.qc2

[2018-06-05 17:36] simaishi commented on #17527
There were some issues installing ruby package...
[code]

[2018-06-05 19:25] #17527 closed, assigned to nobody

[2018-06-06 11:46] SachinJagtap93 opened #17534 "Unable to run ManageIQ application on default port 3000"
• I am trying to run ManageIQ application on my Centos 7 system using develper setup link

http://manageiq.org/docs/guides/developer_setup

• After executing the following commands

bin/setup                              # Installs dependencies, config, prepares database, etc
bundle exec rake evm:start   # Starts the ManageIQ EVM Application in the background

• It shows the message as follows:-

[2018-06-06 12:43] miha-plesko opened #17535 "Provisioning embedded ansible service dialog fails"
If I create a new Catalog Item in **Services -> Catalogs -> Catalog Items** of type "Ansible Playbook" (following [this guide](https://youtu.be/4UR_Gwj94Nc?t=3m37s) and order it from within **Services -> Service Catalogs**, then I get following error in evm.log:

[code]

Which is a problem because I then can't use embedded ansible at all ;)

[2018-06-07 14:57] phospi opened #17546 "clear-text password in vm.ext_management_system.attributes"
Hi folks,

please be gentle I'm new. :)

I used the inpect_me method from ramrexx [1] and got a lot of information. But I got some info I didnt expect as well. I got the clear-text password from the VMware connector account.  It's located in $evm under vm.ext_management_system.attributes --> authentication_password. There are other password attributes in $evm as well but all other passwords are di

[2018-06-11 09:17] #15877 closed

[2018-06-11 12:27] sasoc opened #17565 "Retire service not initialized"
I tried to retire orchestration stack for Nuage provider and got error in `automation.log`:

[code]
Error occurres here:

![screen shot 2018-06-11 at 13](https://user-images.githubusercontent.com/9213557/41230349-bf5b07a2-6d7f-11e8-87d0-7f834989a185.png)

[code]
This method returns false, since `retirement_state` in never updated to `'initializing'`.

[2018-06-11 12:27] sasoc commented on #17565
cc @miha-plesko

[2018-06-11 15:30] kbrock commented on #14064
ref: https://github.com/rails/rails/pull/28360

[2018-06-11 15:56] d-m-u opened #17567 "ordering service provision sometimes can't find ext_management_system"
```[NameError]: undefined local variable or method `ext_management_system' for #<ServiceTemplate:0x0000000b157ad8>```

[2018-06-11 17:35] tjyang commented on #16108
Hi @kevevin

Thanks for the alibaba provider interest and provide the API link.  I submitted this request in the hope ManageIQ developers(mainly from RH cloudform dev team)can create provider for alibaba cloud.

This RFE has been hanging without action from miq dev for so long. Not likely there will be action in near future either(my guess).

The only hope is DIY so far, ie teaming up  people who

[2018-06-12 15:51] Fryguy commented on #17489
@slemrmartin Do you have a design doc for how to solve this.  I feel that would be very helpful in deciding the right way to implement this.  Please create an RFC on https://github.com/ManageIQ/manageiq-design/issues

[2018-06-13 20:36] jameswnl opened #17579 "Integrate with Ansible Tower Groups"
Fixes https://bugzilla.redhat.com/show_bug.cgi?id=1511176

# User Story

Support multi select of virtual machines into a group or as members of the group
and/or
Allow a group created to reference a CloudForms Tag, so we can support dynamic inventory on our side.

## Value Statement
To support common off the shelf roles and playbooks with no edits to content

## Challenges
There is a lot of technic

[2018-06-14 05:59] Ladas opened #17583 "Use ansible-runner to run Providers Operations"
These are the issues we will need solved, so we can use ```ansible-runner``` instead of ```ansible-playbook```

Blockers:
- [ ] https://github.com/ansible/ansible-runner/issues/46
- [ ] can't pass extravars with values having nested array/dictionary
- [ ] can't pass --tags and --skip-tags

Nice to have:
- [ ] https://github.com/ansible/ansible-runner/issues/52 (so we can run roles directly)

[2018-06-14 18:40] greg-at-symcor-dot-com opened #17587 "configuration_script_id required by service_catalog action create is not exposed anywhere"
Trying to create a catalog item via the REST api.

I sent this request:

[code]
Got this back:

[code]
Tried passing ID’s from /api/configuration_script_sources and /api/configuration_script_payloads

Got these errors making me think the id’s are not correct:
[code]

when I crawl through the database I see the script ID i need and **hardcoding it in my rest code allows the catalog item to be creat

[2018-06-15 07:11] lpichler opened #17592 "Improve chargeback performance"
:question: **Goal**
We have in chargeback big query which is loading everything. This query is on MetricRollup table. Results (are **array** of big AR objects) is input to object of `ConsumptionWithRollups` which is responsible to get aggregated metric values from set of MetricRollups.

:mortar_board: **Facts**
- we don't need array of big AR objects in object `ConsumptionWithRollups` - `Consumpti

[2018-06-15 09:58] lpichler commented on #17592
@gtanzillo @JPrause @simaishi

[2018-06-15 09:59] lpichler commented on #17592
@kbrock @NickLaMuro

[2018-06-15 17:54] #17592 closed

[2018-06-15 19:14] rakeshrajwar opened #17595 "capablanca branch code info"
@Fryguy @dclarizio @h-kataria

I found manageIq master branch code is very vast and heavy to run and use for me. I wanted to run the capablanca branch code which has rails 4 and updated last 3 year back but I think will be good for me as I just want to use basic functionality and fast system.

please let me know where I can get the developer setup guide and info for capablanca branch code.

While

[2018-06-17 11:18] abraverm opened #17599 "Configuration Schedules API"
Following #12096, it will be helpful for automated operations to have API for Schedules.

[2018-06-17 17:50] rakeshrajwar commented on #2113
@romanblanco hi I am facing this issue while trying to run capablanca branch on manageiq repo. Please can you help to fix this issue.

[2018-06-18 08:32] romanblanco commented on #2113
@rakeshrajwar Is the error you got the same as in the BZ? I've tried to reproduce again, and I'm getting routing error this time:

[code]

[2018-06-18 08:37] rakeshrajwar commented on #2113
@romanblanco  Yes,  above same error.

[2018-06-18 09:08] romanblanco commented on #2113
@rakeshrajwar Is it too difficult for you to upgrade to a new version? I'm not even sure if we still maintain capablanca version. (cc @JPrause)

The problem is that the `Cloud Inteligence` is a default page after login, but I don't know how hard it'll be to fix it yet.

[2018-06-18 12:01] romanblanco commented on #2113
Also, can you reproduce the issue every time? I've restarted rails server, and the issue doesn't appear anymore.

[2018-06-18 12:04] rakeshrajwar commented on #2113
@romanblanco Yes I am getting this every time.

[2018-06-18 12:29] romanblanco commented on #17595
issue https://github.com/ManageIQ/manageiq/issues/2113

[2018-06-18 13:44] smopihub opened #17600 "Can't enable Embedded Ansible"
Hi!

I try enable Embedded Ansible with no success:

tail -f evm.log | grep -i "EmbeddedAnsible"

[----] I, [2018-06-18T07:56:59.619206 #2156:b7dd9c]  INFO -- : MIQ(DockerEmbeddedAnsible#start) Waiting for Ansible container to respond
[----] I, [2018-06-18T07:57:00.951231 #2156:b7dd9c]  INFO -- : MIQ(DockerEmbeddedAnsible#start) Waiting for Ansible container to respond
[----] I, [2018-06-18T07:57:

[2018-06-18 18:32] wljtcc opened #17601 "Suggestion for the implementation of Manageiq Standalone"
Replace for:

[code]

[2018-06-18 18:37] wljtcc commented on #17601
[code]

[2018-06-18 20:57] slemrmartin commented on #17396
@miq-bot add_label providers/inventory
@miq-bot add_label refactoring

[2018-06-19 09:44] sasoc commented on #17565
It seems to be working now. I am closing this issue.

[2018-06-19 09:44] #17565 closed

[2018-06-19 12:55] smopihub commented on #17600
[root@manageiq ~]# docker ps
CONTAINER ID        IMAGE                     COMMAND                  CREATED             STATUS              PORTS                                NAMES
e249619df4cb        ansible/awx_task:latest   "/tini -- /bin/sh ..."   2 minutes ago       Up 2 minutes        8052/tcp                             awx_task
91f2dcf273ef        ansible/awx_web:latest    "/tini -- /bin

[2018-06-19 17:41] rakeshrajwar commented on #2113
@romanblanco no clue yet, where I can check for Cloud inteligence ?

![screenshot from 2018-06-19 23-09-48](https://user-images.githubusercontent.com/1665183/41614334-e40e52a6-7415-11e8-8dbe-9c258a7ae27b.png)

[2018-06-20 20:50] easyljy opened #17619 "failed to open openstack vm console"
version: Gapri-3

When click vm console of Openstack, got the following error

Console access failed: Expected([200, 202]) <=> Actual(404 Not Found) excon.error.response :body => "{\"itemNotFound\": {\"message\": \"The resource could not be found.\", \"code\": 404}}" :cookies => [ ] :headers => { "Connection" => "close" "Content-Length" => "78" "Content-Type" => "application/json; charset=UTF-8" "

[2018-06-28 14:23] Yadnyawalkya opened #17649 "No refresh button on service -> refresh page"
No refresh button on service -> refresh page
Checked on: master.20180619230249_84e9fa9

Currently:
![](https://files.gitter.im/ManageIQ/manageiq/N9mu/Screenshot-from-2018-06-27-13-04-44.png)

Expected:
![](https://files.gitter.im/ManageIQ/manageiq/xTaY/Screenshot-from-2018-06-27-13-10-19.png)

[2018-07-05 09:22] LorkScorguar opened #17669 "Access "access control" as a simple user in custom group"
Hi,

As a simple user in a custom group/custom role having rights to view users/roles/groupes/tenants I can only see users in same group as me. I should be able to manage all users.

It seems to be the same issue like the one for requests correct by: https://github.com/ManageIQ/manageiq/pull/17466

[2018-07-05 15:38] fdupont-redhat commented on #17600
I'm not sure it is related but with yesterday's build (manageiq-ovirt-gaprindashvili-20180704-afd03d7488.qc2), I have a similar behavior: ManageIQ continuously tries to start AWX and fails. In the `awx_web` container logs, I have the following stack trace right before the container dies:

[code]

And right after the container dies, I have the same error message as @smopihub :

[code]

Any idea ?

[2018-07-09 11:53] skateman opened #17675 "Extract model decorators into a separate repository"
Decorators are currently living in the `manageiq-ui-classic` repo, however, if we would like to use them in the REST API, it would be more convenient to extract them into a separate repo. This way we can use them without depending on the UI.

* [x] Create the `manageiq-decorators` repository from [this](https://github.com/skateman/manageiq-decorators)
* [x] Include the `manageiq-decorators` into t

[2018-07-09 11:58] skateman commented on #17675
cc @martinpovolny @himdel

[2018-07-10 17:04] Fryguy commented on #17675
So, I have a high-level question, but what do you need from this repo that you would use in the API?  Most of the decorators I sporadically looked at have patternfly classes, which feels very UI specific.

[2018-07-10 17:05] Fryguy commented on #17675
Additionally, I think we should extract the directory with history.  It's pretty straightforward with git-filter-branch, since there are only really 2 directories or so.

[2018-07-10 17:23] skateman commented on #17675
@Fryguy everything inside the decorators is UI-specific. Imagine for a second that we have a fully API-driven UI and you're asking for a record to render a provider's summary screen. All the different providers (based on what STI model they are in and on other circumstances) can have different icons/images/quadicons. I would like to equip the API with the ability to tell the UI about these things.

[2018-07-10 17:48] Fryguy commented on #17675
The SUI was a fully API driven UI and didn't need this from what I can tell, so I still don't see the usage.  While I understand the goal of getting everything over the API, APIs are generally more data driven and don't care about presentation.  So, I'm still not understanding the expected usage of this.

Perhaps I misunderstand, but I would expect that the plugins would each provide their assets,

[2018-07-11 11:41] skateman commented on #17675
That's correct, but the number of features is not comparable with the OPS UI. We're not displaying that many resource types there and none of the complex stuff.

I wish we could be already there :pray:

SUI currently [does this](https://github.com/ManageIQ/manageiq-ui-service/blob/master/client/app/services/resource-details/resource-details.component.js#L267-L268), but it's usable only for some sp

[2018-07-15 20:32] namebrandon opened #17709 "Allow AWS provider to be defined without secret/key in order to assume instance credentials"
The AWS Ruby SDK v3 states the following order of credential usage for service interaction.

If a user were to run ManageIQ on an EC2 instance that had the appropriate instance profile defined (Instance Profile = IAM Role for an EC2 instance, rather than a user), no credentials would be required to add an AWS Cloud Provider to ManageIQ (assuming all interaction with AWS is done via Ruby SDK).

Cur

[2018-07-15 20:45] Fryguy commented on #17709
@miq-bot move_issue manageiq-providers-amazon

[2018-07-15 20:46] #17709 closed

[2018-07-16 17:07] Fryguy commented on #17675
That would be great!  Can you put it in https://github.com/ManageIQ/manageiq-design as an RFC?

[2018-07-16 18:35] #17288 closed

[2018-07-17 14:53] juliancheal commented on #17675
This is my code extractor project https://github.com/juliancheal/code-extractor and an example of it when I extracted the provider code https://github.com/juliancheal/manageiq-provider-extractions

[2018-07-17 15:00] skateman commented on #17675
As @Fryguy the document is available [here](https://github.com/ManageIQ/manageiq-design/issues/43)

[2018-07-17 15:13] abellotti commented on #17675
Interesting discussion, my initial thinking is Model & API is the data layers, and feel this should stay that way.  It sounds like we need a data -> presentation mapping layer, the above decorators can still be moved out but  would be consumed by that layer, not the Model/API one.  Model/API saying this is type X, or Y, (text prefix string, class, etc)  mapping layer saying for X we need Decorator

[2018-07-20 15:13] agrare opened #17737 "Add Ansible::Runner.run argument validation"
Add validation to `Ansible::Runner.run` parameters:

- [ ] Validate that env_vars parameter is a ruby hash and JSON.dump it prior to passing to awesome_spawn

- [ ] Verify the playbook path exists

[2018-07-20 19:17] dbarreda opened #17738 "Loop enabling embedded ansible"
I have a never ending loop after enabling embedded ansible. Also notification on event tab keeps popping up.

"The role Embedded Ansible has started activation on server manageiq"

`[----] I, [2018-07-20T15:14:15.843446 #2027:abf8420]  INFO -- : MIQ(EmbeddedAnsibleWorker#log_status) [Embedded Ansible Worker] Worker ID [106], PID [], GUID [b174d491-3d1b-4c4c-b9c3-5d29cf328137], Last Heartbeat [2018

[2018-07-24 12:14] AllenBW opened #17752 "Adds type attribute to service_orders collection"
https://bugzilla.redhat.com/show_bug.cgi?id=1565049

Migration requests are showing in 'My Order' of SSUI, but the SUI doesn't have a means of filtering service orders by type.

This work is the ask of adding a type attribute to the collection that supplies the information for `/api/service_orders?expand=resources%2Cservice_requests&limit=20&offset=0&attributes=&filter[]=state%3Dordered&sort_by=pl

[2018-07-25 14:19] jameswnl opened #17758 "Provider generator needs the updated inventory collection interface"
https://github.com/ManageIQ/manageiq/issues/17396

[2018-07-26 09:02] slemrmartin commented on #17758
Hi @jameswnl, I did some work there: https://github.com/ManageIQ/manageiq/pull/17666.
Are there more places to refactor?

[2018-07-26 13:17] jameswnl commented on #17758
@slemrmartin Can you try the generator code and see if the refresh works?
(that hints that we may need some basic specs with the generator)

[2018-08-06 08:07] tadeboro commented on #17295
I did some digging in timeline-related parts of code and found this out.

First, events are filtered by `ems_id` when displaying them in provider timeline. The line responsible for this filtering is [here][ems_id_filter]. In order to confirm that filter is indeed applied, I manually created two dummy events: one with `ems_id` properly set and one without it. As expected, only the first event was s

[2018-08-06 09:11] miha-plesko commented on #17295
Awesome, we must have overlooked the line that filters by ems_id back then when doing quick research 👍 Knowing this, as long as we can bring regex support upstream I think we're good for Nuage.

[2018-08-06 15:53] djberg96 commented on #15569
@himdel I think this was fixed at some point. As per your instructions I just added a generic EMS without adding any tenants.

I cannot replicate:

[code]
I see no errors in the api.log file, either.

[2018-08-06 16:04] himdel commented on #15569
@djberg96 Agreed, looks like this is fixed now.

Also, looks like this isn't `nil` anymore in such cases...

[code]

...

=> looks like this was fixed by @lpichler in https://github.com/ManageIQ/manageiq-providers-openstack/pull/184, yay! :)

So.. looks like the BZ could be a dup of https://bugzilla.redhat.com/show_bug.cgi?id=1463422

[2018-08-06 16:04] #15569 closed

[2018-08-07 06:30] dalareo commented on #17274
I have a similar issue: not even able to restart the container after stopping it:

[code]

[2018-08-08 08:40] #17396 closed

[2018-08-10 03:56] tadeboro opened #17832 "Cannot delete physical infrastructure provider"
Steps to reproduce:

 1. Add new physical infrastructure provider.
 2. Try to delete newly added physical infrastructure provider.

**Expected outcome:** physical infrastructure provider gets removed from the ManageIQ.

**Actual outcome:** UI reports that deletion operation has been scheduled successfully and then silently fails to delete the provider.

### Details

In the `evm.log`, this can be f

[2018-08-10 03:57] tadeboro commented on #17832
To give credit where credit is due: this bug was originally found by @matejart while preparing integration tests for Redfish provider.

[2018-08-10 04:05] tadeboro commented on #17534
Did you check the `log\evm.log` file? This is where most of the errors will be logged.

[2018-08-10 12:27] #17832 closed

[2018-08-10 21:52] sebastien-prudhomme opened #17845 "Allows running ManageIQ orchestrator on pure Kubernetes"
Hi,

Currently ManageIQ orchestrator can not run on pure Kubernetes because it uses OpenShift API to create an OpenShift DeploymentConfig object.

Enable a mode that permits to use a native Kubernetes Deployment object instead of the OpenShift one.

[2018-08-16 06:36] ngoduykhanh commented on #17274
I faced the same issue with manageiq docker image.
[code]

[2018-08-16 18:13] skunkr commented on #17738
Same issue here,
Logs from awx_task docker container are ending with the following error, and docker then keeps restarting all ansible-related containers

Using /etc/ansible/ansible.cfg as config file
 127.0.0.1 | SUCCESS => {
“changed”: false,
“db”: “awx”
}
Operations to perform:
 Apply all migrations: auth, conf, contenttypes, djcelery, main, oauth2_provide r, sessions, sites, social_django, sso

[2018-08-17 00:23] tjyang opened #17872 "Adding new region on Master has GUI issue"
Hi

- Following screenshot shows only 3 regions after I validate and save the 4th added region.
![image](https://user-images.githubusercontent.com/378638/44241368-20f02280-a189-11e8-8100-b651ebcf9cdc.png)

 - I had to logout and login again to see [the 4th added region. ](https://user-images.githubusercontent.com/378638/44241462-b095d100-a189-11e8-8275-91990cc4eee4.png)

- also is there any way to

[2018-08-17 09:45] phospi opened #17873 "[Enhancement] Add "Previous" / "Next" buttons to tabbed service dialog"
Hi there,

I'd like to suggest and request a feature enhancement for manageiq service dialogs. If you work with multiple tabs in a service dialog, you should see a "Next" and "Previous" button where currently only submit and cancel is available.

Here is why I request this feature:
As we rolled out our service dialog with multiple tabs, our users filled out the first tab and then clicked submit wi

[2018-08-20 07:31] PavelS1 commented on #17738
I have same issue ( clean manageiq-gaprindashvili-4 instal on gcp 4 cores , 15GB ram, just Git Repositories Owner  and Embede Ansible role enabled and then went into endless loop)
docker containers starting over and over again

Clean up AWX DB and Ansible role didn`t help

Reproducible 100% - tested 3 times , symptoms seems same, docker logs contain same errors
(manual deploy of docker images for

[2018-08-20 07:51] LiginGeorge opened #17879 "provisioning Linux VM in customization its not asking for credentials option for vmware environemnt"
I am using ManageIQ for vsphere environment. While provisioning a RHEL7 VM from template i am not getting option to pass credentials for template. Please do let me know how do we can enable this option, so we can configure IP address to the server.

[2018-08-20 10:07] skunkr commented on #17738
Hi,
Any updates on this issue ? The last error in awx_task container seems to be :

django.db.utils.IntegrityError: duplicate key value violates unique constraint "auth_user_username_key"
DETAIL:  Key (username)=(admin) already exists.