[2016-09-06 12:48] aufi commented on #11023
@Ladas I you dont fill volume fields, MiqRequest (options hash) get volumes key including an empty array what should work.

[2016-09-06 12:49] Ladas commented on #11023
@aufi I do have a [{:size=>""}] in the  options[:volumes]

might be a browser thing

[2016-09-06 12:50] Ladas commented on #11023
then it fails on a missing volume name, sending this to API

[2016-09-06 12:54] aufi commented on #11023
@Ladas Ok, interesting, then it is worth for creating a BZ.

For me it worked good (master branch last week):
![image](https://cloud.githubusercontent.com/assets/555381/18274239/c251def6-7441-11e6-8cb8-1002f9c44f6a.png)

[2016-09-06 14:01] Ladas commented on #11023
@aufi I think my browser is putting "" there, for some reason it was recognized as a user column, putting 'admin' in there

[2016-09-06 14:08] FilipB commented on #10908
Apart from required marks the Add button is only enabled when all values are correctly set. See some cloud provider for reference.

[2016-09-06 14:11] mmojzis commented on #10591
@durandom Yes. Until I manually refresh network manager.

[2016-09-06 14:33] durandom commented on #10591
Ah, ok. So they are discovered, refresh code is fine then.

It seems that adding an EIP does not emit an event.
Could you change level_aws to debug and see if there are events logged in aws.log right after creating an EIP?

[2016-09-06 15:03] ammendonca commented on #10587
@hhovsepy this should have been fixed with #10519 which was just merged. Can you confirm and close the issue if it is fixed ? Thanks.

[2016-09-06 15:03] ammendonca commented on #10631
@hhovsepy this should have been fixed with #10519 which was just merged. Can you confirm and close the issue if it is fixed ? Thanks.

[2016-09-06 15:08] h-kataria commented on #10843
@bmclaughlin it looks like sdate, edate are not being set in ``` @tl_options ``` here https://github.com/ManageIQ/manageiq/blob/master/app/controllers/application_controller/timelines.rb#L142
Opened a BZ to track/fix in 5.6 https://bugzilla.redhat.com/show_bug.cgi?id=1373558

[2016-09-06 15:43] lucasponce opened #11028 "Propagate type prefix on Hawkular alerts"
With the upgrade of hawkular-services 0.11.0.Final alerting dataId needs a prefix to use the filtering cappabilities.
This prefix needs to be handled from client side and propagated into the MiQ middleware use cases.

[2016-09-06 15:43] lucasponce commented on #11028
@miq-bot add_label providers/hawkular

[2016-09-06 15:44] lucasponce commented on #11028
@miq-bot assign @lucasponce

[2016-09-06 15:46] lucasponce commented on #10674
@miq-bot assign @lucasponce

[2016-09-06 16:24] chriskacerguis commented on #10840
@h-kataria can you please take a look here?

[2016-09-06 16:30] abellotti opened #11030 "GET /api/vms/10garbage returns /api/vms/10"
Should be returning ye-old 404.

/cc @imtayadeway

[2016-09-06 17:06] ammendonca commented on #10968
@miq-bot add_label providers/hawkular bug

[2016-09-06 17:07] djberg96 commented on #10488
This should still be added for Darga IMO since the subscription ID was optional. It just shouldn't be mandatory for Darga.

[2016-09-06 17:10] ammendonca commented on #10968
@miq-bot add_label providers/hawkular, bug

[2016-09-06 17:21] chriskacerguis commented on #10840
actually, @AllenBW can you please take a look at this issue?

/cc @h-kataria

[2016-09-06 17:37] abellotti opened #11035 "Filtering tags by name no longer works"
Filtering tags by name i.e. GET /api/tags?filter[]=name='/managed/*' used to work in previous versions of the API, but to top of tree master, I get a 500

[2016-09-06 17:57] #10488 closed

[2016-09-06 18:55] jameslabocki opened #11037 "Request for Monitoring Provider [Google Stackdriver]"
As a user of multiple clouds, I want to use a cloud monitoring service that spans these clouds. Even though I may use multiple cloud providers in ManageIQ, ManageIQ should be able to correlate my monitoring provider with the workloads discovered (cross-link) from the cloud providers.

Therefore, this is a request for enhancement to create a new provider for monitoring in ManageIQ. Similar to other

[2016-09-06 19:10] AllenBW commented on #10840
:metal:

[2016-09-06 20:06] jameslabocki opened #11041 "[RFE] Request for Google Cloud Deployment Manager template orchestration"
As a ManageIQ user, I want to be able to manage Google Cloud Deployment Manager templates.

This should include discovery of templates (available and running) when the Google Cloud Platform is discovered as a compute provider.

It should also discover all the relationships (instances, networks, parameters, etc).

It should allow users to select a template when deploying via Google Cloud Platform.

[2016-09-06 20:13] chriskacerguis commented on #10840
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;vvYcSorr&#x2F;9-bug-10840"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Bug #10840</a>

[2016-09-06 20:28] Fryguy commented on #11041
cc @selmanj

[2016-09-07 06:58] moolitayer opened #11047 "Alert profiles assignments have container providers under cloud/infrastructure providers"
The title probably needs to change. In addition, the assign to: has only "selected  infrastructure providers"

![screenshot from 2016-09-06 18-03-42](https://cloud.githubusercontent.com/assets/3010449/18302590/58ffbdce-74e1-11e6-8825-3c81d53b485f.png)

[2016-09-07 06:59] moolitayer commented on #11047
@miq-bot add_label providers/containers, bug, ui

[2016-09-07 06:59] moolitayer commented on #11047
@miq-bot assign @moolitayer

[2016-09-07 08:06] lucasponce commented on #11028
@miq-bot add_label enhancement

[2016-09-07 09:37] niyazRedhat opened #11051 "Unable to change the default view settings for few pages"
Version master.20160907042307_abe1199

1.Navigate to My setting->default views
2.Try changing view for:
  Middleware: Middleware Domains
  clouds: cloud providers, Tenants

[2016-09-07 09:53] lucasponce commented on #10674
@miq-bot remove_label bug
@miq-bot add_label enhancement

[2016-09-07 09:55] lucasponce commented on #10987
@miq-bot assign @jshaughn

[2016-09-07 09:55] lucasponce commented on #10987
please @jshaughn, could you take a look on this one ? thanks

[2016-09-07 10:59] mmojzis opened #11052 "Subnet topology error"
I have added an ec2 provider.
Then went to Network Manager -> Selected a manager -> Network ports -> Selected a network port ->
Cloud subnets -> Selected Subnet -> Topology.
Then this error appeared:
![ajax_error](https://cloud.githubusercontent.com/assets/19479861/18309665/d2932de2-74fa-11e6-8378-1544f38f7689.png)

[2016-09-07 11:01] mmojzis commented on #10591
In aws.log is nothing in coherence with this issue.
Just found some network timeouts:
[code]

[2016-09-07 11:43] matobet opened #11055 "API design for importing VMs between providers."
Hi,

oVirt/RHEVM 4.0 provides the capability to import VM from external providers - such as VMware. I would like to add this capability to the ManageIQ API.

Looking at the current API for the (infra) providers I see only the most basic operations (`edit`, `refresh`, `delete`) exposed. My question is concerned what would be the most appropriate place and form to expose the following operation:

[2016-09-07 12:05] jshaughn commented on #10987
@prachiyadav, two things...  The MW events are all grouped under the 'Application' Event Group filter.  Also, only failure events will be seen at the 'Summary' level.  Success events will be seen under 'Detail'.  Please try again using these different timeline filters and report back, thanks.

@theute As a note, there has not to my knowledge ever been any UX/PM confirmation that the grouping/filte

[2016-09-07 12:33] AllenBW commented on #10840
@akarol unable to verify this issue, do you have a quick sec to confirm it's still present on most current master?

<img width="955" alt="screen shot 2016-09-07 at 8 31 48 am" src="https://cloud.githubusercontent.com/assets/6640236/18312033/9a95bbd2-74d5-11e6-9427-30f6e9195035.png">

[2016-09-07 12:58] theute commented on #10987
Do you have the list of current possible events ?

[2016-09-07 13:05] lucasponce opened #11059 "Error adding Middleware provider"
![image](https://cloud.githubusercontent.com/assets/1662329/18312935/715520be-750c-11e6-9dd1-f28c0e6495a0.png)

Steps to reproduce:
- Clean install.
- Go to add a new middleware provider.
- Fill first name textbox.
- Click TAB key to move next textbox.

[2016-09-07 13:05] lucasponce commented on #11059
@miq-bot add_label providers/hawkular,bug

[2016-09-07 13:16] lpichler opened #11060 "advanced search causes error"
![vedk9dhjwx](https://cloud.githubusercontent.com/assets/14937244/18313127/6a55d366-750d-11e6-87ea-8d894b25a565.gif)

[code]

`session[:edit]` is nil
https://github.com/ManageIQ/manageiq/blob/master/app/controllers/application_controller/filter.rb#L454

looks like it was caused by https://github.com/ManageIQ/manageiq/pull/10955

cc @himdel  @jeff-phillips-18  @skateman

[2016-09-07 13:33] romanblanco opened #11063 "Exception on Infrastructure -> Hosts screen"
After selecting filter *Platform / ESX 4.1* on Hosts screen, I'm getting exception

[code]
![screencapture-localhost-3000-host-show_list-1473264426243](https://cloud.githubusercontent.com/assets/1187051/18319425/edb846c2-7525-11e6-806f-4595fdc03872.png)

![screencapture-localhost-3000-host-show_list-1473255133912](https://cloud.githubusercontent.com/assets/1187051/18313730/54641a38-7510-11e6-9f5b-

[2016-09-07 13:42] theute commented on #11059
I could reproduce on my own machine with master.
I also see a lot of "Duplicate DOM" error messages.

Other providers seemed to not crash

[2016-09-07 13:42] lucasponce commented on #11059
[lponce@attilan manageiq]$ git bisect bad
34914c869b6595ca6237528ac6be46150a0f6d14 is the first bad commit
commit 34914c869b6595ca6237528ac6be46150a0f6d14
Author: Jeffrey Phillips <jephilli@redhat.com>
Date:   Tue Sep 6 11:29:21 2016 -0400

    Add Notifications Drawer and Toast Notifications List

:040000 040000 d97ff3f5ddd12b427ebb602cf31b277a66c137f6 19d9c6dc4c8954c9e35e86f84029cb0dab45b53f M

[2016-09-07 13:44] lucasponce commented on #11059
@jeff-phillips-18 @dclarizio please could you take a look into this one ?
It is a blocker on MW provider and a git bisect shows first commit is Jeffrey's one.
Thanks !

[2016-09-07 13:45] lucasponce commented on #11059
/cc @mtho11 @karelhala @ammendonca
It seems related to UI topic and perhaps you can also take a look.
Thanks.

[2016-09-07 13:48] theute commented on #11059
Indeed, reverting https://github.com/ManageIQ/manageiq/commit/34914c869b6595ca6237528ac6be46150a0f6d14 seems to fix the issue

[2016-09-07 13:48] abellotti commented on #11055
@matobet can you provide more information on the parameters needed by oVirt/RHEVM for doing an import ?  Do they contact VMware directly to fetch the VM ? do they need credentials to that VMware  or are they preconfigured with that information ?  (gotta know the TBD below in the example)

On our side the enhancement would be split between API and the Model (probably app/models/manageiq/providers/r

[2016-09-07 13:55] mattmahoneyrh opened #11066 "Middleware: Deployment List Discrepancy Between MIQ and Hawklar-Services"
The MIQ Deployment list displays Deployments that are not included in the Hawkular-Services Deployments list.

For example, on my test configuration Deployment "jboss-ejb-in-ear-ejb.jar" is displayed in the MIQ UI but is not on the Hawkular-Services Deployments list.

Configuration consisted of Hawkular-Services and Cassandra running in a container.

This issue has been reproduced on test configur

[2016-09-07 14:05] matobet commented on #11055
RHEVM API needs the following information to successfully initiate the import:
(of course ruby sdk also supports this, just pasting the example)
[code]

So the user will need to specify the *target*:
* RHEV cluster
* RHEV storage domain
* disk allocation format
* [optional] new name for the VM - if the user wishes to rename it compared to original VMware name

and *source*
* VMware connection url

[2016-09-07 14:09] matobet commented on #11055
Also as a part of the import user can also optionally specify the RHEV cpu profile and quota for the resulting VM or specify which RHEV host should be used for the conversion process, but not sure these are exposed to ManageIQ or whether we want them to be.

[2016-09-07 14:33] himdel opened #11068 "OpenShift Deployment Wizard - refactoring list"
This is a list of problems I've found in #7620 , which are not huge enough to block the PR but still need fixing...

UI:
- 1A - Use existing VMs from an existing provider - opening the dropdown with the inspector open causes the options to pop up, not down, and these are then hidden by the step indicator, when there's too many
- footer - the Cancel button has nonsencial left and right padding, cau

[2016-09-07 14:47] #10840 closed

[2016-09-07 15:05] himdel commented on #11060
@lpichler pretty sure the culprit is elsewhere, #10955 does not even touch any ruby code..

[2016-09-07 15:36] imtayadeway opened #11072 "RFC: deprecate deeply-nested routes for API subcollections"
## General Idea

If you have a subcollection id in your URI, e.g.

[code]

The request can be completely satisfied by treating it as a top-level collection, i.e.

[code]

This is the style that [Rails itself recommends](http://edgeguides.rubyonrails.org/routing.html#nested-resources).

Note that while this removes deeply-nested routes, we would still support those for shallow-nested resources, i.e

[2016-09-07 15:40] jshaughn commented on #10987
There are not a lot:

       - hawkular_datasource.error
       - hawkular_datasource_remove.error
       - hawkular_deployment.error
       - hawkular_deployment_remove.error
       - hawkular_event.critical
       - hawkular_datasource.ok
       - hawkular_datasource_remove.ok
       - hawkular_deployment.ok
       - hawkular_deployment_remove.ok
       - hawkular_event

We have events defined f

[2016-09-07 15:44] theute commented on #10987
@abonas @jdoyleoss was "application" vs "middleware" discussed/decided ?

[2016-09-07 16:12] romanblanco commented on #11063
Might be related to #11060, where the problem was also with `session[:edit]` being `nil`.

[2016-09-07 16:35] selmanj commented on #11041
Will take a look at this.  Shouldn't be too hard to cover the points listed above.

[2016-09-07 17:52] abellotti commented on #11072
There is a difference in that fetching /api/:subcollection/:id   vs /api/:collection/:c_id/:subcollection/:s_id can have different actions associated with them based on being primary collection vs. subcollection, this is important to maintain as clients that need to instrument/expose actions need to know this.

[2016-09-07 17:55] imtayadeway commented on #11072
@abellotti can you give some examples of these?

[2016-09-07 17:59] abellotti commented on #11072
look at the :tags_subcollection_actions,  resource actions on /api/tags/:id  are different than subcollection resource actions /api/vms/:vm_id/tags/:id,    assigning tags to a CI when targetting /api/tags/:id does not make sense, these actions are only valid when targetting as subcollection.

[2016-09-07 18:03] lpichler commented on #11060
@himdel I know I was saying same thing to myself. So most likely this js is doing some ajax request (but I did not noticed it)

so for certitude I reverted merge commit by `git revert c1f0fb4 -m 1` and issue has disppeared. 😨

[2016-09-07 18:14] lpichler commented on #11060
@miq-bot ui, bug

[2016-09-07 18:21] imtayadeway commented on #11072
@abellotti would it be possible to eliminate the ones that are not necessary?

[2016-09-07 18:26] abellotti commented on #11072
Not sure what you mean, all subcollection actions for tags, policies, policy_profiles, etc. were introduced because they were needed.

[2016-09-07 18:28] imtayadeway commented on #9869
@abellotti does it do this in production mode, or just development?

[2016-09-07 18:36] abellotti commented on #9869
both, when we used to route everything to ApiController, we could do this because so we parsed and had a clear JSON response on invalid collection.  Now, because we rely/expanded on rails to route by collection/subcollection, we get the 500 routing error page from rails.

[2016-09-07 18:36] durandom commented on #10591
@mmojzis ugh, if this is the appliance where this happens then its no wonder that its not triggered, because the event catcher does not find the queue.

[2016-09-07 18:36] imtayadeway commented on #9869
This option was added a while back: https://github.com/rails/rails/pull/20831 though it's unclear to me from the comments whether this changed the response for HTML requests or no. I'll experiment with this to see if it gives us everything we need without having to glob the api path

[2016-09-07 18:39] mtho11 commented on #11059
I'm still seeing this issue even with #11070 merged.
Also, seeing a lot of Websocket errors.
![manageiq__middleware_providers](https://cloud.githubusercontent.com/assets/1312165/18324130/b1fe1c14-74ef-11e6-8b8c-2b57dae37b14.jpg)

Can anyone else confirm this is still an issue with master?

[2016-09-07 18:55] imtayadeway commented on #11072
@abellotti e.g. https://github.com/ManageIQ/manageiq/pull/11081 <- these routes were not working properly - the solution I provided in the PR was to make them work, but might prefer that they were disabled?

[2016-09-07 20:08] #10294 closed

[2016-09-07 20:08] bdunne commented on #10294
Resolved by the linked PRs

[2016-09-07 20:49] abellotti commented on #11072
I'd keep them enabled as delete is enabled on same resources in primary collections.  Thanks for fixing this 👍

[2016-09-07 21:44] lpichler commented on #11060
it is caused by these requests:
https://github.com/ManageIQ/manageiq/blob/master/app/views/layouts/_notifications_drawer.html.haml#L10-L13

[2016-09-08 08:49] himdel opened #11092 "/ws/notifications - undefined method `fetch' for nil"
[code]

[2016-09-08 08:54] skateman commented on #11092
`bin/setup`

[2016-09-08 08:57] skateman commented on #11092
`bin/setup` should do the work, or `cp config/cable.yml.sample config/cable.yml`

[2016-09-08 09:13] himdel opened #11095 "Error caught: [Errno::EBADF] Bad file descriptor - rb_thread_select()"
Probably related to ActionCable and /ws/notifications..

Cc: @skateman , @kbrock, @jrafanie

I got a random rails crash (a while after I changed code causing rails to reload, could be related)..

[code]

[2016-09-08 09:39] ZitaNemeckova opened #11098 "RuntimeError: async response must have empty headers and body"
[code]

 cc @skateman

[2016-09-08 09:51] NaNi-Z opened #11099 "Some problem on VM list page"
![image](https://cloud.githubusercontent.com/assets/21187701/18344447/e78702f6-75e9-11e6-8184-cc48b5a1680f.png)
as shown in picture, there are two problems.
1. the left tree(vandt_tree) is not alphabetical order, but it's alphabetical order before. is it designed so?
2. when i click the "reload" button, the tree is not reload. look at the "ZZZ" vm, it's not display on the left tree.
   when you de

[2016-09-08 10:11] himdel commented on #11098
Keeps repeating in the console..

[2016-09-08 10:49] himdel commented on #11059
@mtho11 websocket errors come from https://github.com/ManageIQ/manageiq/pull/10965

But I am looking into the other issue..

[2016-09-08 12:16] #11098 closed

[2016-09-08 12:16] #11095 closed

[2016-09-08 12:16] #11092 closed

[2016-09-08 12:22] alongoldboim opened #11104 "Manage policies UI is broken"
Trying to add/remove a policy is broken for all entities.
![selection_105](https://cloud.githubusercontent.com/assets/11405684/18349083/f1777af0-75d7-11e6-806d-34b3b05315b3.png)
=>
![selection_106](https://cloud.githubusercontent.com/assets/11405684/18349086/f2b1ba2a-75d7-11e6-9f61-57e63f130523.png)

It seems that the **edit** variable doesn't get populated in the second call.
Server logs:
http://

[2016-09-08 12:24] alongoldboim commented on #11104
@himdel @martinpovolny ^

[2016-09-08 12:25] himdel commented on #11104
@alongoldboim can you verify https://github.com/ManageIQ/manageiq/pull/11105 fixes the issue please?

[2016-09-08 12:29] alongoldboim commented on #11104
@himdel it doesn't.

[2016-09-08 12:39] himdel commented on #11059
@lucasponce could you try with the change in #11105 please? Should fix that..

[2016-09-08 12:41] himdel commented on #11104
@alongoldboim  I'm almost sure it does :) (you do have to restart the server and load the screen before that though)

But if not, can you tell me how to reproduce please? There are no step by step instructions and no mention of the url here..

[2016-09-08 12:55] #11030 closed

[2016-09-08 13:22] matobet commented on #11055
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;zxbEyB9p&#x2F;67-v2v-api"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> v2v API</a>

[2016-09-08 14:06] alongoldboim commented on #11104
@himdel I edited my post 10 sec after :), it worked.

[2016-09-08 14:10] tzumainn commented on #11023
@miq-bot assign @mansam

[2016-09-08 14:10] tzumainn commented on #11023
@mansam, can you take a look at this when you have a moment?

[2016-09-08 14:10] himdel commented on #11104
Aah, did not notice that, thanks! :) OK, even better then :)

[2016-09-08 14:29] jdoyleoss commented on #10987
I think this is an issue where UX might need to begin defining some standardization for CloudForms in general. Given the IT OPS focus of CloudForms, I think that "application" is acceptable and maybe even correct, EAP is an application from the perspective of a sys admin, even if it is not from the perspective of a middleware admin.
I would also be happy with Middleware but don't want us to inject

[2016-09-08 14:46] mansam commented on #11023
@tzumainn Absolutely

[2016-09-08 15:17] dclarizio commented on #10966
@mfalesni we can't reproduce this on master.  @himdel do you know of any recent fixes that may have taken care of this issue?

[2016-09-08 15:19] hayesr commented on #10966
@mfalesni Did you do a search before you got the error? (It looks like it from the error) Can you give us any more details?

[2016-09-08 15:34] dclarizio commented on #10966
@skateman this may be a tree issue (or at least I found a tree issue) in the `Cloud / Instances` explorer.  With root node selected, clicking on an instance goes to the summary screen, but doesn't position the selected tree node properly or at all sometimes.  In this case, the tree expands, but the nodes are blank and the selection doesn't move:

![treeblanks](https://cloud.githubusercontent.com/a

[2016-09-08 16:30] imtayadeway commented on #9869
@abellotti here's what I get in production:

Request:
[code]

Response:
[code]

So, it seems to me this may only affect development. I'll experiment with the new config in https://github.com/rails/rails/pull/20831 to see if that fixes it, and if it preserves the behavior for `Content-Type:text/html`

[2016-09-08 16:30] #11060 closed

[2016-09-08 16:30] #11059 closed

[2016-09-08 16:30] #11063 closed

[2016-09-08 16:30] #11104 closed

[2016-09-08 16:49] skateman commented on #10966
Strange...will check that tomorrow!

[2016-09-08 17:19] mfalesni commented on #10966
It seems this very issue was resolved when I craft an updated appliance with the current master (since the latest images we got are from Sep 2nd).

[code]

But with this one I am getting something different.

I see some errors spitting out in the console when I arrive at the screen with quadicons:

![image](https://cloud.githubusercontent.com/assets/2163040/18359040/521e7ac8-75f8-11e6-8860-0db4ff9

[2016-09-08 17:27] abellotti commented on #9869
The above response is not coming from us, 5.5 and 5.6 we had the following error response signature with the 404:

[code]

Maybe with the new rails config you found we can register our own and it would work the same like before for both production/dev  (i.e. behind apache or not).

Thanks,

[2016-09-08 17:33] mtho11 commented on #11059
Confirmed both issues fixed in master now.

[2016-09-08 18:23] prachiyadav opened #11117 "Unable to delete default Alert"
- Not able to delete Alert
- Navigate to Control >> Explorer
- Click on alerts
- Click on any Default Alert
- It will allow to click on "Delete this Alert"
- But it will not delete Alert
  ![screenshot from 2016-09-07 23 41 53](https://cloud.githubusercontent.com/assets/13483060/18361437/615434ac-761f-11e6-9b35-e52c0dc5b651.png)

[2016-09-08 18:24] prachiyadav commented on #11117
@abonas
@miq-bot

[2016-09-08 19:46] mtho11 opened #11118 "Middleware Vertical Nav Menus cut-off"
I think something in the vertical nav bars has changed because the navigation items for the  Middleware menu appears cutoff in important places. The menus look redundant with the word 'Middleware' and the important piece of menu item only show a few characters before the ellipsis.

![manageiq__middleware_providers](https://cloud.githubusercontent.com/assets/1312165/18364117/fd446ffc-75c1-11e6-9a4e

[2016-09-08 19:48] mtho11 commented on #11118
@miq-bot add_label providers/hawkular

cc @abonas @theute

[2016-09-08 20:30] epwinchell commented on #10734
@dclarizio @serenamarie125 The word "Queue" was added to the button recently (see below.) As far as I know, this is the only screen where both are seen together. Is it alright or should be choose a different icon for Queue?
<img width="449" alt="screen shot 2016-09-08 at 4 28 18 pm" src="https://cloud.githubusercontent.com/assets/1287144/18365646/86afcace-75e1-11e6-93b2-6009ed164102.png">

[2016-09-08 20:57] epwinchell commented on #9518
@djberg96 Column adjustment is not currently available in Patternfly tables, but is under development.

[2016-09-09 07:13] skateman commented on #10966
@dclarizio the issue you found is known and already [has a PR](https://github.com/patternfly/patternfly-bootstrap-treeview/pull/6) that fixes it. Basically when expanding a lazy-node using JS, the lazy-loading code doesn't get called.

[2016-09-09 09:46] mfalesni commented on #10966
@skateman Good, thanks for pointing that out. So, are we closing this one?

[2016-09-09 11:39] lpichler opened #11142 "Trees in report are sorted strangely"
It looks like there is sorting on client side as well.

@miq-bot add_label ui, bug
@miq-bot assign @skateman

1)
CI -> All Reports ->Any Report -> tree of saved report

![screen shot 2016-09-09 at 13 35 28](https://cloud.githubusercontent.com/assets/14937244/18385730/aa225f1a-7692-11e6-8781-7bfcf79e1e0d.png)

2)
CI -> All Reports -> list of report
![screen shot 2016-09-09 at 13 39 23](https://clou

[2016-09-09 11:45] lpichler opened #11143 "Not possible to click on saved reports"
Until I click on saved report in tree, the saved report in middle part is not clickable. It happen when I start the Miq and login and loggof.

![screen shot 2016-09-09 at 13 44 52](https://cloud.githubusercontent.com/assets/14937244/18385912/9ededde4-7693-11e6-9cc0-0e20374ccf2d.png)

@miq-bot add_label ui, bug

[2016-09-09 11:47] jzigmund commented on #8241
@vprusa the issue has been fixed, you can close the issue

[2016-09-09 12:11] skondkar opened #11145 "Restart operation on already stopped EAP7 standalone server does not display failure message to the user"
At present, when user executes Restart operation on already stopped EAP standalone server, it shows the message - 'Restart initiated for selected server(s)'. Nothing happens to EAP standalone server and it remains in stopped state.

The UI should show some useful message to the user if it is expected that restart operation not to start already stopped EAP server.

[2016-09-09 12:12] skondkar commented on #11145
@miq-bot add_label providers/hawkular
cc @abonas

[2016-09-09 12:14] himdel commented on #8241
@jzigmund it has not, #10850 is still not merged ;)

[2016-09-09 12:33] mfoley commented on #11145
so ...there is no 'start' operation at present.  should there be?

[2016-09-09 12:43] zhitongLBN opened #11146 "[Discussion]why not adding a `scope_count` in response??"
According to http://manageiq.org/pdf/ManageIQ-0-ManageIQ_REST_API-en-US.pdf
we have a subcount that return the number of a result

but when we want request miq's api with the pagination(`limit`) and scopes(`filter`), we wont be able to know how many pages we have:
as
1. `total_count` is never changed, is the total number of object without scope
2. `subcount` will be only <= `limit`

Doing `total_c

[2016-09-09 12:55] jzigmund commented on #8241
@himdel true that, sorry, I thought that's been merged already, as the last comment is blessing the merging ;-)

[2016-09-09 13:00] lpichler commented on #11143
@miq-bot assign skateman

[2016-09-09 13:01] skateman commented on #11142
Fix is coming https://github.com/patternfly/patternfly-bootstrap-treeview/pull/8

[2016-09-09 13:07] skateman commented on #10966
sure

[2016-09-09 14:42] marc-torres commented on #6052
Hi!
Any movement on this ? Seems to still be an issue on Darga-3 release. Thanks

[2016-09-09 16:45] mtho11 commented on #11118
Looks like configuration menu has a similar issue:
![manageiq__configuration_management_and_1__fish___users_mtho11_projects_manageiq__fish_](https://cloud.githubusercontent.com/assets/1312165/18395147/15aca0cc-7672-11e6-8afb-a70029561d9a.jpg)

[2016-09-09 17:07] #10966 closed

[2016-09-09 17:30] dclarizio commented on #10734
@epwinchell I'm for a new icon, not sure the gear represents queue anyway

[2016-09-09 17:39] epwinchell commented on #10734
My suggestion: http://fontawesome.io/icon/play-circle-o/

<img width="298" alt="screen shot 2016-09-09 at 1 39 20 pm" src="https://cloud.githubusercontent.com/assets/1287144/18396667/dd0b7146-7692-11e6-9097-3f8a279a77c7.png">

[2016-09-09 17:42] serenamarie125 commented on #10734
What does queue do ?!🙄

On Friday, September 9, 2016, Eric Winchell <notifications@github.com>
wrote:

--
- Serena Chechile Doyle
*UXD | Unified Management Experience*
*Red Hat*
*Cell* 508-769-7715 | *IRC* - serena | *Skype* - serenamarie125 | *Twitter* -
@serenamarie125

[2016-09-09 18:14] gmcculloug commented on #6052
@bdunne Do we need to open an issue to address the `ipmiping` error or is there a work-around we could use?

[2016-09-09 18:22] marc-torres commented on #6052
possible workaround suggestion (if you can get the return code to be preserved as 0 using 'timeout')

    $ timeout --preserve-status 1 /usr/sbin/ipmiping $ip_add

[2016-09-09 19:03] epwinchell commented on #10734
@serenamarie125 Pressing the "queue" button adds the report request to the task queue.  In other words, it "gears up" the report.

[2016-09-09 19:13] serenamarie125 commented on #10734
Is that the same as Schedule New @epwinchell?

On Fri, Sep 9, 2016 at 3:03 PM, Eric Winchell <notifications@github.com>
wrote:

--
- Serena Chechile Doyle
*UXD | Unified Management Experience*
*Red Hat*
*Cell* 508-769-7715 | *IRC* - serena | *Skype* - serenamarie125 | *Twitter* -
@serenamarie125

[2016-09-09 19:35] dclarizio commented on #10734
@serenamarie125 no, what queue does it is basically queues the report to run asap, in other words, if a worker is available, it runs immediately, but if not, it will run once one frees up.  Scheduling creates a recurring report run on certain days/times.

[2016-09-09 20:08] #10914 closed

[2016-09-09 20:15] bdunne commented on #6052
@gmcculloug I was able to test the freeipmi v 1.5.1-2 on Fedora 24 and the ipmiping command accepts arguments there,  I'll try to backport it to RHEL / CentOS 7.

[2016-09-10 06:11] romanblanco opened #11168 "Issue with provisioning VM"
I'm getting `[FATAL]` message in console after trying to provision VMware VM:

[code]

The problem is [`session[:edit]`](https://github.com/ManageIQ/manageiq/blob/6d2e93e8633a6c6e88fda5fc8fc1e5332e8b8028/app/controllers/application_controller/miq_request_methods.rb#L584) is `nil`

[2016-09-10 06:14] romanblanco commented on #11168
It may be again related to the issues fixed in @himdel's PR #11105. The problem is the same.

[2016-09-10 07:28] romanblanco commented on #2389
Missing: remove unnecessary functions as miqDomElementExists(): #11169,

[2016-09-10 07:30] romanblanco commented on #2389
fix linters errors #9019

[2016-09-11 04:21] abonas commented on #11118
I would add the ui label and imo this is a general ui issue. Cc @himdel

[2016-09-11 23:01] mtho11 commented on #11118
@miq-bot add_label ui

[2016-09-12 07:29] theute commented on #11118
While the Middleware prefix somehow helps to differentiate the "entities" from the Providers list and topology, it's indeed long and somehow redundant.

Removing "Middleware" would be consistent with the other menus:
![image](https://cloud.githubusercontent.com/assets/311855/18427894/27be65f6-78cb-11e6-8598-8b87e375c002.png)
![image](https://cloud.githubusercontent.com/assets/311855/18427920/4e158

[2016-09-12 08:56] theute commented on #11066
Do you have steps to reproduce ?

[2016-09-12 08:58] theute commented on #10968
@jshaughn @ammendonca can you tell from the log if the issue is on the agent or ManageIQ side ?

[2016-09-12 09:01] theute commented on #10967
Additionally we shouldn't allow to deploy on Hawkular Provider, nor add/remove a JDBC driver...

[2016-09-12 09:01] theute commented on #10967
Basically it should be "read-only"

[2016-09-12 09:28] alongoldboim opened #11176 "There is no way to specify a dynamic value to compare with in Miq Expression builder in policies"
Miq-Expression builder is used in policies (also in quick search/reports), currently you can't choose a dynamic value to compare against, adding an option with same select box to choose field from in the value side of the expression would enable more advanced policies.
![selection_107](https://cloud.githubusercontent.com/assets/11405684/18431034/cec453f2-78e3-11e6-936c-e75516f2ccfa.png)

cc @gtanz

[2016-09-12 09:32] aufi commented on #10604
The same issue have OpenStack users.

Discussed with @chessbyte @dclarizio - _Region_ column name could be changed to _ManageIQ Region_ (and _CloudForms Region_ in product), would that work?

[2016-09-12 10:33] #8241 closed

[2016-09-12 11:15] durandom commented on #10604
linking gitter discussion for reference
https://gitter.im/ManageIQ/manageiq/providers?at=57d2c7053d16fa4f0397d0a3

[2016-09-12 11:33] skateman opened #11180 "Notifications service toasts are covering navbar items"
![screencast from 2016-09-12 13-31-25](https://cloud.githubusercontent.com/assets/649130/18434426/577aed7e-78ed-11e6-824e-c8a36634b981.gif)

I think they should be displayed a bit lower...

[2016-09-12 11:34] skateman commented on #11180
@miq-bot add_label bug,ui

[2016-09-12 11:34] skateman commented on #11180
@miq-bot assign @jeff-phillips-18

[2016-09-12 11:36] skateman opened #11181 "Notification drawer in narrow mode displays date/time only"
**Narrow:**
![screenshot from 2016-09-12 13-34-05](https://cloud.githubusercontent.com/assets/649130/18434500/c5e8f918-78ed-11e6-9115-693f21d7ce49.png)

**Wide:**
![screenshot from 2016-09-12 13-34-15](https://cloud.githubusercontent.com/assets/649130/18434501/c5fbf90a-78ed-11e6-92b4-d9469d5754f7.png)

I think that displaying maybe even a truncated version of the message body is more useful than t

[2016-09-12 11:37] skateman commented on #11181
@miq-bot add_label bug, ui

[2016-09-12 11:37] skateman commented on #11181
@miq-bot assign @jeff-phillips-18

[2016-09-12 11:51] skateman commented on #11181
@jeff-phillips-18 now I see that I have to send the notification text separately for the toast and the drawer:
[code]
However, the text in the wide drawer is the same as the text in the toast which makes it inconsistent :(

[2016-09-12 12:09] jshaughn commented on #10968
@theute It looks like this is a passthru (i.e. generic) operation so it's a bit strange that the 'timeout' parameter would not get passed/handled because all of the end-to-end handling should be generic.  I'll try taking a closer look, my initial feeling would be UI/MIQ, or perhaps even a bad WF message.

[2016-09-12 12:17] jeff-phillips-18 commented on #11180
They are located per Patternfly design pattern. We can override if we deem it necessary. @serenamarie125 ?

[2016-09-12 12:30] #8582 closed

[2016-09-12 13:06] ammendonca commented on #11066
@miq-bot add_label providers/hawkular, bug

[2016-09-12 13:23] himdel commented on #11168
Not fixed by #11105 unfortunately, so possibly a different problem..

[2016-09-12 13:55] mattmahoneyrh commented on #11066
Repro Steps:
 - Add MW Provider, with Standalong and Domain EAPs under management.
 - Navigate to Deployments List
 - Get Deployments list via Hawkular API
 - Compare UI Deployments list to Deployments obtained via Hawkular-Services API (aka: https://github.com/ManageIQ/wrapanapi)

[2016-09-12 14:23] jdoyleoss commented on #11118
@theute No concerns.

[2016-09-12 14:26] bargulg opened #11187 "C&U creds validation not working on first click"
When adding a new RHV 4.0 provider in CFME 5.6.1.2.20160810181333_8ba817b, when you fill the C&U database form and then click "Validate" button fast enough, validation will fail. After waiting for a few seconds and clicking the button again, without changing anything in form, it will pass. Discovered first due to selenium tests, but I was also able to reproduce it manually when fast enough

[2016-09-12 14:42] bargulg commented on #11187
also reproduced with the latest upstream, where it fails randomly, then when i click the validate button again, it works

[2016-09-12 15:32] jshaughn commented on #10968
The timeout is definitely being lost ui-side, I verified that it's coming over the wire as 0.  After you enter a timeout and hit OK, if you look carefully, you can see the timeout value get cleared and briefly a "timeout is required" message pops up.  But the request continues.   I suggest a UI guy get assigned to this.

[2016-09-12 15:51] hstastna opened #11189 "Search text box and Advanced Search button missing in Cloud Tenants"
Search text box and Advanced Search button is missing
when reaching Compute -> Clouds -> Tenants.
It is also missing in  Compute -> Clouds -> Object Stores/Key Pairs.
![tenants](https://cloud.githubusercontent.com/assets/13417815/18442537/754b32f4-7911-11e6-8345-d0855560cb3c.png)

It should look like this:
![tenants_after](https://cloud.githubusercontent.com/assets/13417815/18442550/815a7b04-7911-

[2016-09-12 15:57] lpichler commented on #11189
@miq-bot add_label ui, bug

[2016-09-12 18:38] imtayadeway commented on #9869
@abellotti if we wanted to override the default we could set `exceptions_app` in the config to something else (e.g. it can be routed instead to a custom controller setup for handling errors). A problem with this approach is we may only want to do this with our API, not the app as a whole (this problem seems to be coming up for us a lot).

Note that serving up the previous error response was not fo

[2016-09-12 19:40] #9518 closed

[2016-09-12 21:20] mtho11 commented on #11118
@josejulio looks like this one can be worked on.

@miq-bot assign @josejulio

[2016-09-13 03:35] josejulio commented on #11118
thank you @mtho11 I'll work on it.

[2016-09-13 06:31] abonas commented on #11145
cc @pilhuhn

[2016-09-13 06:33] abonas commented on #11117
@lucasponce please have a look. from the description it sounds like a generic miq restriction, perhaps this should be a general ux enhancement to not allow/warn regarding deletion of default alerts (not middleware specific). if so, please label accordingly and assign to miq ui team. thanks!

[2016-09-13 06:59] gildub opened #11211 "cloud_networks table doesn't need cidr"
Cidr is used by OpenStack "subnet" and not by the parent item "network".
Therefore the cidr field can be removed from cloud_networks table.

[2016-09-13 08:43] mkoura opened #11215 "UI: unclear wording of list name and title in VM tab Template Accordion"
In `Compute / Infrastructure / Virtual Machines / Templates` accordion the top level list name changed from "All Templates" to "All VMs" and the title changed from "All of the Templates that I can see" to "All of the VMs that I can see". This doesn't correspond with the content of the list.

Now:
![upstream](https://cloud.githubusercontent.com/assets/2352619/18466862/c5aa7df4-799d-11e6-813e-a9150a

[2016-09-13 13:22] Ladas opened #11223 "Actions on nested list doesn't work"
Running actions from a nested list, e.g. going under a cloud provider and displaying stacks:

So we will be e.g. on this url:
http://localhost:3000/ems_cloud/3?display=orchestration_stacks

Now when I select the stacks and I click on retire_now, nothing happens. Cause the button actions is defined under OrchestrationStacksController, but the action was sent to EmsCloudController

I assume this can

[2016-09-13 13:23] Ladas commented on #11223
@dclarizio I assume the same scenario can occur in a lot of places. We should figure out how to solve this in general, I guess?

[2016-09-13 15:03] ammendonca commented on #10968
I'm having a look at it, first experiments, the parameters are being passed by the UI:
[code]

But there's an error line in the logs which I am investigating:
`[----] E, [2016-09-13T15:56:39.896244 #5834:3fd378881310] ERROR -- : MIQ(ManageIQ::Providers::Hawkular::MiddlewareManager#run_operation) error callback was called, reason: Performed [Suspend] on a [DMR Node] given by Inventory path [/t;hawk

[2016-09-13 15:18] lkhomenk commented on #6955
now instance becomes "terminated". this issue may be closed

[2016-09-13 15:30] jshaughn commented on #10968
@ammendonca , one note, both @hhovsepy and I edited the value.  It looks like you're trying with the default that is initially filled in.  Not sure it makes a difference (also not sure why I changed the default...)

[2016-09-13 15:32] ammendonca commented on #10968
@jshaughn, yeah, thanks. I've tested with default and non-default just to see if it actually changed.. anyway, I've found the issue and will provide a solution shortly.

[2016-09-13 15:52] #11118 closed

[2016-09-13 15:52] alex-lairan opened #11231 "Create a subtenant of project"
Hi everyone,

I found a bug with the ManageIQ API.

When I create a subtenant of project, it works but it should not be.
What do you think about this problem?

In hope this help you ! :)

[2016-09-13 19:32] epwinchell commented on #10665
This is also happening with openSCAP results in Container Providers:

<img width="865" alt="screen shot 2016-09-13 at 3 30 47 pm" src="https://cloud.githubusercontent.com/assets/1287144/18488409/36d3070c-79c7-11e6-91e7-cb388b5e283c.png">

[2016-09-13 19:34] epwinchell commented on #10665
cc @hayesr @h-kataria

[2016-09-13 19:46] GregP opened #11238 "Refactor code not to use div_num when rendering flash_msg partial"
DHTMLX code used to need unique naming for DOM ID div names in some UI pages having tabs and such. Since conversion away from DHTMLX there is no such need, besides in some cases HAML seems to ignore #div_num in code, with code in _flash_msg partial at this point defaulting to "" for div_num whether its provided by rendering call or not, and having **flash_msg_div** as DOM ID every time.

Remove al

[2016-09-13 19:51] GregP opened #11239 "Refactor code to use render_flash(*)"
Some older controller code is still using render :update blocks to render _flash_msg partials, newer code is using newer render_flash(*) code.

[2016-09-13 20:31] djberg96 opened #11240 "Add New Key Pair screen offers no providers"
When attempting to add a key pair, I did not see the option to select a provider:

![image](https://cloud.githubusercontent.com/assets/78529/18489920/00dd41ee-79bd-11e6-8ca0-1338dc67b14f.png)

If there are no providers that support pubkey then I think this should be greyed out with a warning for the screen, or the whole "Add Key Pair" menu item should be greyed out or disabled.

I am somewhat conf

[2016-09-13 22:15] gmcculloug opened #11241 "Self-service UI is no longer passes the service template object to dynamic dialog field methods"
When order a catalog item the dynamic dialog fields should be passed the target object, in this case the service template, to be used by automate method.

Here is an example of how automate methods use the target object from [available_tenants.rb](https://github.com/ManageIQ/manageiq/blob/7957eab2c506c6b7b3d3baad0d2f699ba5bd614f/db/fixtures/ae_datastore/ManageIQ/Cloud/Orchestration/Operations/Meth

[2016-09-13 22:18] abellotti commented on #11241
/cc @imtayadeway   one possible fix: https://github.com/ManageIQ/manageiq/pull/11242 but not happy with it.

[2016-09-14 00:26] abellotti commented on #11241
@gmcculloug @imtayadeway was thinking a bit more on this and I don't think this affects darga/5.6.x as we did not merge the refactoring PR's to darga

[2016-09-14 01:05] gmcculloug commented on #11241
@abellotti Great to hear, thanks for checking into that.  🙇

[2016-09-14 04:14] josejulio commented on #11066
I tried to reproduce it but couldn't. So maybe I'm missing something.
I setup my environment like this

- Hawkular Server with agent
- EAP domain mode with EAP (on other box)

Started ManageiQ, added the middleware server and refreshed.
Compared MiQ deployment screen with Hawkular (using [HawkFX](https://github.com/pilhuhn/hawkfx))

![screenshot from 2016-09-13 23-11-24](https://cloud.githubuserco

[2016-09-14 05:39] skateman commented on #11181
Fixed by #11182, closing this issue

[2016-09-14 05:39] #11181 closed

[2016-09-14 08:20] durandom commented on #6955
@blomquisg please close this, thanks

[2016-09-14 09:04] #9147 closed

[2016-09-14 10:33] lucasponce commented on #11117
Yes, pre-defined alerts cannot be deleted.
But any alert an user creates can be deleted without problem.
I guess it is related of permissions (I am not sure) but definitely not a bug on providers/hawkular.

[2016-09-14 10:33] lucasponce commented on #11117
@miq-bot remove_label providers/hawkular
@miq-bot add_label ui

[2016-09-14 10:34] lucasponce commented on #11117
@himdel Please, someone of the UI team could confirm if this is a bug or if it is an expected behaviour ?
Many thanks.

[2016-09-14 11:22] hhovsepy commented on #10587
@ammendonca have tested and verified. Issue is fixed.
And removal event is shown in timelines.

[2016-09-14 11:22] #10587 closed

[2016-09-14 11:34] hhovsepy commented on #10631
@ammendonca verified, issue is fixed.

[2016-09-14 11:34] #10631 closed

[2016-09-14 11:43] himdel commented on #11117
Pretty sure this is the expected behavior. @dclarizio ?

The toolbar doesn't know which alert is active so it can't disable the button for default alerts, and trying to push it **does** tell you that it can't be deleted. Not seeing anything wrong :)

[2016-09-14 13:02] lucasponce opened #11252 "Error on Middleware > Utilization when changing interval from Hourly to Daily"
There is an error when changing interval from Hourly to Daily for a Middleware Server / Datasource in the case that provider has not data for the interval queried.
This is a regression as expected behaviour is to show a message of no data and draw an empty report.

In the evm.log:
[----] E, [2016-09-14T14:53:40.538296 #27828:8d598c] ERROR -- : MIQ(LiveMetric.fetch_live_metrics) An error occurred w

[2016-09-14 13:02] lucasponce commented on #11252
@miq-bot add_label bug,providers/hawkular

[2016-09-14 13:02] lucasponce commented on #11252
@miq-bot assign @lucasponce

[2016-09-14 14:54] #8634 closed

[2016-09-14 15:08] AllenBW commented on #8781
:metal: to all the above!! working on implementing these rules and more in the SSUI, progress visible here: https://github.com/ManageIQ/manageiq-ui-self_service/issues/121

[2016-09-14 16:59] ammendonca commented on #9769
This seems to have been fixed with recent changes to the way un/deployments are made. I have made a test and confirmed that the deployment is removed from the list and that there's no exceptions on the Hawkular Services logs.

@theute, can you please re-test, confirm and close the issue if it's fixed? Thanks.

[2016-09-14 17:32] ammendonca commented on #10138
I wasn't also able to reproduce this issue, with the following steps:

1. added a deployment;
2. checked it wasn't in the deployment list right after;
3. did a Provider refresh (Providers >  Refresh items and relationships);
4. went back to the server page where the deployments count had increased by 1;
5. entered the deployment list and saw the deployment liste there with status "Enabled"; (in pr

[2016-09-14 17:34] ammendonca commented on #9876
@hhovsepy can you confirm this is fixed in current master and close the issue if it is ? Thanks.

[2016-09-14 17:43] ammendonca commented on #10111
I have tested this and it seems to be fixed, disabling the deployment (and forcing a provider refresh, for status update) shows it as "Disabled" and trying to access the URL returns 404. After that enabled the deployment back, was able to access the webapp and after forcing a provider refresh, the state was back at "Enabled".

@hhovsepy can you confirm and close if it's fixed ? Thanks.

[2016-09-14 18:20] hhovsepy commented on #9876
@ammendonca verified, issue is fixed.
Now it works correctly with enable/disable operations.
Undeploy removes archive.

[2016-09-14 18:20] #9876 closed

[2016-09-14 18:22] hhovsepy commented on #10138
@ammendonca can not reproduce this issue anymore, seems like it is fixed, closing the issue.

[2016-09-14 18:22] #10138 closed

[2016-09-14 20:50] dclarizio commented on #11231
@alex-lairan True, you should not be able to create a subtenant under a project as project is supposed to only be the last node with no children.  If this is possible, write me back and we'll flag this as a bug.

[2016-09-14 20:51] dclarizio commented on #11223
@Ladas Agreed, should probably discuss with @martinpovolny

[2016-09-14 21:48] mtho11 opened #11262 "Middleware server "Refresh Items and Relationships" not working"
The middleware server relationships are not getting refreshed.
This is in latest manageiq master(a1413f6)

![manageiq__middleware_providers](https://cloud.githubusercontent.com/assets/1312165/18531054/30e1017e-7a89-11e6-8b9b-2976bff90090.png)

You do get the confirmation message that the refresh provider is initiated. After that nothing happens.
![manageiq__middleware_providers](https://cloud.gith

[2016-09-14 21:50] mtho11 commented on #11262
Refresh Workers status:
⋊> ~/p/manageiq on master ⨯ bundle exec rake evm:status                                                                                                                                             14:49:17
** Using session_store: ActionDispatch::Session::MemCacheStore
Checking EVM status...
 Zone    | Server Name | Status  | ID |   PID |  SPID | URL                     | Sta

[2016-09-14 21:59] mtho11 commented on #11262
Using hawkular-services-dist-0.0.12.Final from the download: https://github.com/hawkular/hawkular-services/releases/tag/0.0.12.Final

[2016-09-14 22:06] mtho11 commented on #11262
@lucasponce can you verify this?

[2016-09-15 05:36] martinpovolny commented on #11223
@Ladas : can you point me to the PRs that added those actions?

[2016-09-15 05:55] theute commented on #9769
After a provider refresh, it's indeed removed from the list

[2016-09-15 05:55] #9769 closed

[2016-09-15 07:27] lucasponce commented on #11262
@mtho11 I was yesterday working on a similar version and it worked fine on my side.
I will try to repeat your setup.
One preliminar question: did you set up correctly the agent ? (one possibility is that joe user is not present).
Second one, the provider was previosly created in the MiQ database ? (then you have the joe user in the database but in the new hawkular services not, that can explain th

[2016-09-15 08:03] alongoldboim opened #11266 "Can't add a condition in policies"
Clicking on the '???' doesn't expand the new form.
![selection_111](https://cloud.githubusercontent.com/assets/11405684/18542518/03a71c06-7b34-11e6-8300-db63592cdba9.png)
cc @martinpovolny @himdel

[2016-09-15 08:42] lucasponce commented on #11262
![image](https://cloud.githubusercontent.com/assets/1662329/18543604/f46bcb9a-7b30-11e6-9f2d-93e396e9caea.png)

Adding the proper user to the .zip distribution, I can see the expected refreshed entities on MiQ.
I've used hawkular-services 0.0.12.Final .zip distribution and MiQ upstream from commit f5e24b29c848d4941ef659f54e4bc521b3e2c329 (basically the fresh MiQ of this morning).

[2016-09-15 10:57] himdel commented on #11266
@alongoldboim it's already visible.. that's what that check+cross+choose is for ;)

[2016-09-15 10:58] alongoldboim commented on #11266
My bad, it was changed right? :)

[2016-09-15 10:58] #11266 closed

[2016-09-15 11:32] romanblanco opened #11272 "Sidebar on the left is not showing on some resolutions"
When I browse ManageIQ on some resolution _(1080x1920 -- rotated vertically)_, I can't see the sidebar on the left.

I can see the arrow on the bottom, but the sidebar is not showing _(the width of the sidebar is set on maximum, so the expanding button is disabled)_:
![screencapture-localhost-3000-vm_infra-explorer-1473938721892](https://cloud.githubusercontent.com/assets/1187051/18548222/00608e7e

[2016-09-15 11:32] romanblanco commented on #11272
@miq-bot add_label bug, ui

[2016-09-15 11:32] romanblanco commented on #11272
@miq-bot assign @epwinchell

[2016-09-15 12:55] Ladas commented on #11223
@martinpovolny not sure, the action mentioned is there probably for a long time

[2016-09-15 13:32] #11142 closed

[2016-09-15 13:34] skateman commented on #11143
@lpichler can you retest?

[2016-09-15 13:45] romanblanco commented on #11272
@skateman mentioned that the problem is in [_content.html.haml:14](https://github.com/ManageIQ/manageiq/blob/master/app/views/layouts/_content.html.haml#L14)

[2016-09-15 14:02] epwinchell commented on #11272
The listnav should display below the main area when viewing below the breakpoint

[2016-09-15 14:39] dajohnso commented on #11187
Pretty sure we need a spinner here, sister BZ https://bugzilla.redhat.com/show_bug.cgi?id=1375253

[2016-09-15 14:47] Ladas commented on #11211
@gildub cidr is used in amazon cloud_network

[2016-09-15 15:00] abellotti commented on #11146
I don't see why not, this will be good to have. scope should include by_tag's.

/cc @imtayadeway @isimluk  in collection_search but may need some of this info from Rbac.

[2016-09-15 15:11] mtho11 commented on #11262
I'm doing the install according to the [Hawkular Services Install Guide](http://www.hawkular.org/hawkular-services/docs/installation-guide/) so I'm creating a user with `add-user.sh -a -u "jdoe" -p "password" -g read-write,read-only` and starting hawkular services with `./standalone.sh -Dhawkular.rest.user=jdoe -Dhawkular.rest.password=password -Dhawkular.agent.enabled=true`

I'm also cleaning bot

[2016-09-15 15:36] Fryguy opened #11290 "top_output.log is cut off for workers leading to confusion"
Here's an example snippet of top where the workers are cut off.  In this particular case, it _looks like_ there are multiple event catchers with the same queue, but in reality, the last digit is just cut off.  You can see the last RefreshWorker has _more_ numbers cut off.  Also included (the first entry) is one that is really long, but is ultimately also cut off for some reason (noticed the clippe

[2016-09-15 15:36] Fryguy commented on #11290
cc @jrafanie

[2016-09-15 15:38] mtho11 commented on #11262
I'm closing this now since it is actually a case of using the browser autofill to authenticate a provider. Although it lets you create a provider without being authenticated.

[2016-09-15 15:38] #11262 closed

[2016-09-15 16:44] mansam commented on #11240
I've created a pull request to disable the toolbar button when there are no providers that support this action. Key pairs are managed on a provider basis because that matches with how the providers use them. (e.g. you import keypairs into Nova to use during provisioning)

I noticed while looking at this issue that in the case where you don't provide a public key in the form and allow the provider

[2016-09-15 17:59] mtho11 opened #11296 "Browser Autofill allows creation of Bad Middleware Provider"
When creating a new middleware provider and using browser autofill to fill in the authentication credentials you can create a provider that can never have its items and relationships poplulated. Not even by doing a "Re-authenticate" or "Refresh Items and Relationships". So a provider that looks normal is totally useless.

This video illustrates it best: https://vimeo.com/182890779

![provider_auth

[2016-09-15 18:19] djberg96 commented on #11240
The PR in question: https://github.com/ManageIQ/manageiq/pull/11293

Seems to be red at the moment.

As for what happens to the private key, I haven't investigated too deeply, but I did notice that we have three columns in the `authentications` table that seem relevant: fingerprint, auth_key and public_key. Perhaps it should be stored in auth_key if it isn't already?

[2016-09-15 19:06] #11241 closed

[2016-09-15 19:21] billfitzgerald0120 opened #11301 "UI: Once you edit and save the right side doesn't update anymore."
When you edit and save a method, you can't edit another method.  The right side of the UI
doesn't refresh.  I updated check_pre_retirement method and the right side doesn't update. I am including a screen shot.  After editing check_pre_retirement, I  can't edit anything else.

![screen shot 2016-09-15 at 2 49 42 pm](https://cloud.githubusercontent.com/assets/11841651/18564063/fed76ac2-7b57-11e6-80

[2016-09-15 19:55] mansam commented on #11240
@djberg96 Looks like that red test you saw was due to an issue with master, not my PR.

[2016-09-15 21:55] hayesr commented on #10665
I can confirm this is not a result of the refactor. I'm looking into a fix.

[2016-09-15 23:36] gildub commented on #11211
@Ladas, ok never mind then. Thanks

[2016-09-15 23:36] #11211 closed

[2016-09-16 07:57] hhovsepy commented on #10583
@ammendonca this issue is fixed partly.
Second part of requirement is not done: "give the user the option to proceed or cancel the deployment".
So user can choose to proceed with deployment and override deployment with the same runtime name.
@abonas

[2016-09-16 10:11] theute commented on #11296
@Fryguy I think we discussed that issue before, if we don't click the validate button the worked never starts or something, but I don't remember what's the actual issue is, can you help here ?

[2016-09-16 12:37] #10665 closed

[2016-09-16 12:44] mattmahoneyrh commented on #11066
Not sure what to suggest for repro. Let's keep this open for now and QE will attempt to reproduce.

[2016-09-16 13:10] zhitongLBN commented on #11231
[code]
[code]
![screenshot from 2016-09-16 14 47 12](https://cloud.githubusercontent.com/assets/12863389/18586756/87925d42-7c1e-11e6-8b0a-d8b1b9fb72cb.png)

@dclarizio : I'm following this instead of @alex-lairan, please keep me updated :)

[2016-09-16 13:48] jzigmund opened #11323 "Check the displaying of the History toolbar buttons"
After some refactoring work on toolbars, we (@romanblanco and me) observed the missing history buttons in some views, where they have been rendered before the changes. Generally we cannot say, where they should be rendered.

So I created this issue to get information about the "rules" where we want them, and to get a fix for that.

What is the "rules" for rendering the history buttons ? what is th

[2016-09-16 13:52] romanblanco commented on #11323
@PanSpagetka I think there was some incosistency issue with history buttons before, but we certainly broke the buttons by some of our changes with checking RBAC for each button.

I would expect that something like the diff bellow would make it work again, but the real fix probably won't be that easy :smile:

[code]

[2016-09-16 15:47] matobet commented on #11055
So after a discussion with @abellotti here is a **very** rough PoC patch with skeleton API and draft backend implementation: https://github.com/matobet/manageiq/commit/1429b90a950cf7bb8abd961bd0cc8ff6e8c1ed81

@blomquisg could you please tell me if I'm on the right track with just manually checking if the import is supported by throwing an exception as I do in
https://github.com/matobet/manageiq/c

[2016-09-16 16:37] mtho11 commented on #11296
cc @AparnaKarve

[2016-09-16 17:56] Fryguy opened #11329 "Role activation should load balance a little better"
I noticed that the master server who is responsible for activating roles on servers doesn't account for the already activated roles on the server.  This could lead to a case where the master server activates roles on an already bogged down appliance, while another appliance that is not doing much work doesn't receive the role activation.

cc @gtanzillo @jrafanie

[2016-09-16 19:26] agrare opened #11331 "[RFC] ReconfigVM_Task_Complete Synchronous Refresh Enhancement"
### Problem Statement

Recent changes in https://github.com/ManageIQ/manageiq/pull/10319 allowed removal of a lot of duplicate single use code (https://github.com/ManageIQ/manageiq/pull/10176) but introduced an issue where a synchronous refresh holds up the `MiqEventHandler` so that no other events can be processed while waiting for that refresh to complete:

[code]

This can be a very long time i

[2016-09-16 19:26] agrare commented on #11331
cc @Fryguy

[2016-09-16 20:51] carbonin opened #11332 "undefined method `[]' for nil:NilClass [vm/ownership] when setting VM ownership using checkbox"
When setting the ownership of a VM using the checkbox on the ems VMs page (`/ems_infra/1?display=vms`) I get an `undefined method '[]' for nil:NilClass [vm/ownership]` error.

Version: 8f42493f86386121a5286ef49c30de0ee713e214

Steps to reproduce:
- Add an infrastructure provider
- Navigate to the vms page of the provider
- Select vm(s) using the check boxes
- Select "Configuration" -> "Set Ownersh

[2016-09-16 20:52] carbonin commented on #11332
Setting the ownership for an individual VM works if you first navigate to the VMs summary screen.

[2016-09-16 20:52] carbonin commented on #11332
@miq-bot add_label bug, ui

[2016-09-16 21:16] AparnaKarve commented on #11296
@mtho11 The other Provider forms (Cloud, Infrastructure and Container) make the Validation of credentials a mandatory requirement prior to creating a provider record.
This needs to happen in Middleware also.

[2016-09-16 21:44] mtho11 commented on #11296
Ok thank you @AparnaKarve!

[2016-09-19 02:52] NaNi-Z opened #11346 "LDAP can not look up groups in OU=Users"
When add a new group and checkout "Look up LDAP Groups", it can not retrieve the user's group which is under OU=Users, like group "Domain Users", or some groups I create under this OU.
I used MicroSoft AD.

[2016-09-19 03:10] NaNi-Z commented on #11099
I just merge the newest master branch.
The alphabetical order problem is still there. I think alphabetical order is better.
And, the "reload" button is gone, so I can't confirm the second problem.

[2016-09-19 07:43] PanSpagetka commented on #10072
@dclarizio you can close this issue

[2016-09-19 07:44] PanSpagetka commented on #10073
@dclarizio you can close this issue

[2016-09-19 07:56] hhovsepy commented on #10583
@abonas could you please reopen this issue? as it was fixed partly.

[2016-09-19 08:57] #10073 closed

[2016-09-19 09:18] romanblanco opened #11354 "Provision requests listed in Services menu"
It feels confusing to me that requests for VM provision are listed in _Services_ menu _(Services => Requests)_, since we have _Requests_ in _Infrastructure_ too _(Compute => Infrastructure => Requests)_.

![screencapture-localhost-3000-miq_request-show_list-1474276148497](https://cloud.githubusercontent.com/assets/1187051/18627226/2198b534-7e5a-11e6-8a7b-c0c5c18bb138.png)

It would make more sense

[2016-09-19 11:29] #11215 closed

[2016-09-19 12:11] jshaughn commented on #11296
@theute It sounds to me like we need to do some blocker-level work on the button management in the add-provider screen.  The enabled-state handling of both the Validation button and the Add button needs improvement:
- Add needs to be initially disabled and stay that way until validation passes
- Validate needs to be disabled until all provider info is defined, and must do a better job of handling

[2016-09-19 13:04] #7777 closed

[2016-09-19 13:13] #9950 closed

[2016-09-19 13:30] epwinchell commented on #10597
@dclarizio This issue was corrected with the replacement of Dynatree with Bootstrap Tree View

[2016-09-19 14:44] lpichler opened #11365 "remove old methods for loading virtual custom columns in MiqReports"
- remove https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_report.rb#L203
- remove https://github.com/ManageIQ/manageiq/blob/master/lib/miq_expression.rb#L1542

@miq-bot assign lpichler

[2016-09-19 16:57] dclarizio commented on #10597
@mmojzis please verify against the latest master branch and close if fixed.  Thx, Dan

[2016-09-19 17:02] #10072 closed

[2016-09-19 20:40] miq-bot opened #11377 "Test ticket from Code Climate"

[2016-09-19 20:40] #11377 closed

[2016-09-19 21:27] h-kataria commented on #11301
After editing an automate method in Automate Explorer, clicking on any Instance node throws an error in log, and does not replace contents in the right cell.
[code]

[2016-09-20 08:15] lpichler commented on #11143
@skateman it is ok 👍 thanks

[2016-09-20 08:15] #11143 closed

[2016-09-20 08:22] lucasponce opened #11381 "Error generating a MW alert"
Trying to create a MW alert shows this error:

[----] I, [2016-09-20T10:18:43.216673 #7408:1241994]  INFO -- : MIQ(MiqQueue#deliver) Message id: [94], Delivering...
[----] E, [2016-09-20T10:18:43.304396 #7408:1241994] ERROR -- : MIQ(MiqQueue#deliver) Message id: [94], Error: [undefined method `[]' for nil:NilClass]
[----] E, [2016-09-20T10:18:43.304580 #7408:1241994] ERROR -- : [NoMethodError]: un

[2016-09-20 08:22] lucasponce commented on #11381
@miq-bot add_label providers/hawkular,bug

[2016-09-20 08:22] lucasponce commented on #11381
@miq-bot assign @lucasponce

[2016-09-20 08:49] aufi commented on #11240
@mansam I would say that in case of missing public key, a file with generated private key should be downloaded by user as a response to create keypair form submit. I am not sure if backend is ready for that or it matches UX, it's just my opinion.

[2016-09-20 08:57] lucasponce commented on #11381
In a previous commit, the supported metrics for LiveMetrics were moved from class context to instance.
But alerting needed this method at class level.

[2016-09-20 12:03] skateman opened #11388 "Textual summary labels went white after PatternFly upgrade"
![screenshot from 2016-09-20 14-02-09](https://cloud.githubusercontent.com/assets/649130/18669354/e992862e-7f3a-11e6-9735-7ba1fd435833.png)

@jeff-phillips-18 is it a bootstrap-issue, should I override it or is there a new CSS class that we can use instead?

[code]

[2016-09-20 12:26] dkorn opened #11389 "Containers provider is always added with port '8443', even if a different port was specified"
When adding a containers provider to manageiq it is required to specify a port.
The default port, used for the "default" role endpoint, is defined in [`container_manager_mixin.rb`](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/openshift/container_manager_mixin.rb#L6) as 8443.

This default number is always picked, even if a different port was specified.

[2016-09-20 12:27] dkorn commented on #11389
@miq-bot add_label bug, providers/containers

[2016-09-20 12:27] dkorn commented on #11389
@simon3z @yaacov

[2016-09-20 12:50] simon3z commented on #11389
@dkorn @yaacov can you help @nimrodshn to fix this? Thanks.

@miq-bot assign nimrodshn

[2016-09-20 12:51] simon3z commented on #11389
@chessbyte can you add @nimrodshn to the organization (for miq-bot). Thanks.

[2016-09-20 12:53] dkorn commented on #11389
@simon3z already fixed here https://github.com/ManageIQ/manageiq/pull/11391, sorry @nimrodshn :flushed:

[2016-09-20 13:31] hstastna commented on #11189
This needs to be merged first! ManageIQ#11065

[2016-09-20 15:08] hstastna commented on #10077
@abonas This was fixed by https://github.com/ManageIQ/manageiq/pull/10122
So we can close this issue.

[2016-09-20 15:13] mzazrivec opened #11394 "Configuration button in cloud provider page behaves strangely"
* Cloud -> Providers -> [cloud provider]
* Configuration -> Edit
* Cancel the edit form
* note the flash message in the url
* Again, press Configuration, the button won't do anything, just the url changes
* Press Configuration again, this time it works.

[2016-09-20 15:38] karelhala opened #11397 "No history and refresh VMs in Virtual machines"
When you navigate to Virtual machines there is no history and refresh button. These buttons were present couple of days ago and it looks like server is not sending out these buttons at all.

JSON which is returned: https://paste.fedoraproject.org/431450/14743796/

But something similar to this should be returned: https://paste.fedoraproject.org/431452/47437990/

The problems started somewhere betw

[2016-09-20 15:39] karelhala commented on #11397
@miq-bot add_label bug

[2016-09-20 17:43] jeff-phillips-18 commented on #11388
@skateman I'm not sure what changed to cause this (version of boostrap-sass?). I think it just needs to be overridden, I don't see any alternate class to fix it.

[2016-09-20 19:17] epwinchell commented on #10734
@serenamarie125 bump

[2016-09-20 20:07] serenamarie125 commented on #10734
I like the http://fontawesome.io/icon/play-circle-o/ @epwinchell !  I'll also put this somewhere in our UXD land so people know we are using it for Run going forward.  Thanks!

[2016-09-20 21:28] h-kataria commented on #11301
@ZitaNemeckova looks like this issue is caused by changes in https://github.com/ManageIQ/manageiq/pull/10590. It looks like transaction being sent up to the server when selecting a node in automate explorer tree on left side is incorrect after tree is rebuilt as a result of editing or adding a record. seems like https://github.com/ManageIQ/manageiq/blob/master/app/controllers/application_controlle

[2016-09-21 05:21] romanblanco commented on #11397
@karelhala Yup, same issue as #11323.

[2016-09-21 05:22] romanblanco commented on #11323
Bugzilla ticket: https://bugzilla.redhat.com/show_bug.cgi?id=1377757

[2016-09-21 05:35] romanblanco commented on #11323
@miq-bot assign @romanblanco

[2016-09-21 05:35] romanblanco commented on #11397
@miq-bot assign @romanblanco

[2016-09-21 06:31] romanblanco commented on #11323
Issue introduced in #10942 (in commit 495cb997ca1efe437680252d09f0e6f2f0b37e5a is bug reproducible)

[2016-09-21 07:07] romanblanco commented on #11323
@PanSpagetka I'm not sure what I did wrong when I tried my suggested change before, but I've tried it again, and it really fixes the issue :smile:.

Fixing this issue in #11409, together with correcting the typo :wink:
[code]

[2016-09-21 09:35] matobet commented on #11055
@abellotti @blomquisg Now thinking more about what we actually need to actually invoke the RHEV api I was thinking that instead of explicitly passing a reference to the source provider, the following API would be simpler to use (and perhaps more future proof):

POST /api/providers/:id
[code]
This idea would also enable the `source` to be possibly something different than a VM in the future (e.g. i

[2016-09-21 11:09] himdel commented on #11168
@romanblanco I can't get there, I'm seeing

[code]

(that's continue, not submit, can't get there..)

Are you seeing the same thing or is it just me?

[2016-09-21 11:10] romanblanco commented on #11323
@jzigmund please close the issue, thanks

[2016-09-21 11:10] romanblanco commented on #11397
@karelhala PR is merged, should work, please close the issue, thanks

[2016-09-21 12:22] #11397 closed

[2016-09-21 12:49] romanblanco commented on #11168
@himdel I've tried and provisioning seems to work. Can't reproduce issue with steps so closing this issue.

[2016-09-21 12:49] #11168 closed

[2016-09-21 12:57] #10968 closed

[2016-09-21 13:45] epwinchell commented on #11388
@jeff-phillips-18 @skateman This was my handwork, cause here: https://github.com/ManageIQ/manageiq/pull/11288/files

I'll take care of it.

[2016-09-21 13:50] epwinchell commented on #11388
@miq-bot assign @epwinchell

[2016-09-21 13:52] #9869 closed

[2016-09-21 15:16] #10910 closed

[2016-09-21 15:26] romanblanco commented on #11323
@miq-bot assign @jzigmund

[2016-09-21 16:04] #11323 closed

[2016-09-21 18:16] #10973 closed

[2016-09-21 18:28] #11381 closed

[2016-09-21 20:19] abellotti commented on #11055
we have clusters exposed /api/clusters so the cluster href above references something.  What is the model class for storage_domain ?  is that a RHEV internal thing or is it in our model ?

[2016-09-21 20:24] matobet commented on #11055
@abellotti I believe the storage domain is represented in ManageIQ in the `Storage` model
@blomquisg please correct me if I'm mistaken

[2016-09-21 20:26] matobet commented on #11055
@abellotti not sure if there's an API for `Storage` though....

[2016-09-21 20:29] abellotti commented on #11055
Ahh ok, then these are /api/data_stores hrefs so you're good. maybe change the above example to "data_store" : { "href" : .... }  for clarity.

[2016-09-21 20:34] matobet commented on #11055
@abellotti thank you! done
Ok, this seems to be really shaping up. @blomquisg perhaps a final question is how (or if at all) do you represent in the `Disk` model the "allocation policy" - i.e. whether the disk should be sparse or preallocated?
The RHEV api expects a boolean there but I would like to remain consistent with the rest of ManageIQ API if possible.

[2016-09-21 21:23] dclarizio commented on #11354
@jonnyfiveiq @bascar any comments on this?  I don't recall if we wanted SSUI users to see all of their requests in both UIs.  If not, we will need to somehow filter them based on which UI the user is coming in on.

[2016-09-21 21:24] dclarizio commented on #11332
@h-kataria please triage and assign if needed.  Thx, Dan

[2016-09-22 04:04] h-kataria commented on #11332
@lgalis can you look into this, looks like introduced in https://github.com/ManageIQ/manageiq/pull/9513

[2016-09-22 10:54] chargio opened #11446 "[RFE] Additional information required in logs for tasks"
When creating logs for tasks, ManageIQ stores the task ID. When the task is part of a service, correlation of service to task is difficult, as implies looking for information in the log file when the task is created.
Service information should be added to tasks when they are related to a service.

[2016-09-22 10:57] sergio-ocon commented on #9208
I have tried in Fedora and it worked flawlessly

[2016-09-22 11:36] alongoldboim opened #11449 "Missing create/update/delete actions on miq-policy and miq-policy-profile in REST API"
There is a need to create policies through API in order to enable an easy to automate.
cc @gtanzillo @imtayadeway @simon3z

[2016-09-22 13:53] simon3z commented on #11449
cc @moolitayer @cben @dkorn

[2016-09-22 15:26] enoodle opened #11457 "Refactor tests for containers SSA module"
As explained here [1], the tests are heavily using `allow_any_instance_of` which will break sooner or later on a ruby upgrade as it has broken before. We should mock the objects instead of asserting their ability to accept methods.

[1] https://github.com/ManageIQ/manageiq/pull/10503#discussion_r79894490

[2016-09-22 15:37] ZitaNemeckova opened #11459 "Uncaught TypeError: Cannot create property 'level' on string 'throw "error""
Tried to open a node in Catalog Items tree (Power (Group)) and got this error. Node never opened.

[code]
and
`Error: node does not exist`

ping @skateman

[2016-09-22 17:07] ZitaNemeckova opened #11462 "Cannot select node in Service Catalogs tree"
`Error caught: [NoMethodError] undefined method 'get_options' for nil:NilClass in 'prov_set_show_vars'`

Only RedHat and Windows ones cannot be selected in Infrastructure as a Service.

@miq-bot assign @ZitaNemeckova

@miq-bot add_label ui, bug

[2016-09-22 18:27] mshriver commented on #11051
Note this behavior is also present for Cloud->Stacks.

The linked BZ [0] was written against 5.5 and lists several more pages that do not comply with default view settings.

[0]: https://bugzilla.redhat.com/show_bug.cgi?id=1283118

[2016-09-22 20:23] mkanoor commented on #11301
@ZitaNemeckova
Do you have an update on this?

[2016-09-23 03:05] moolitayer opened #11475 "Need support for MiqAlert and MiqAlertProfile in Rest Api"
Assignment of profiles to entities is also missing.

[2016-09-23 03:06] moolitayer commented on #11449
what about assigning a policy profile to an entity, is that supported @alongoldboim?

[2016-09-23 03:08] moolitayer commented on #11475
cc @gtanzillo @imtayadeway @abellotti
cc @simon3z  @alongoldboim @cben @dkorn
@miq-bot add_label enhancement, api

[2016-09-23 03:09] moolitayer commented on #11449
created [issue](https://github.com/ManageIQ/manageiq/issues/11475) for the alert parts following this one.

[2016-09-23 06:11] cben commented on #11449
Assigning seems supported.

On Sep 23, 2016 06:09, "Mooli Tayer" <notifications@github.com> wrote:

[2016-09-23 09:15] ZitaNemeckova commented on #11459
@skateman I cannot reproduce it on master anymore. Closing.

[2016-09-23 09:15] #11459 closed

[2016-09-23 09:48] lpichler commented on #10844
@miq-bot assign lpichler

[2016-09-23 13:11] abellotti commented on #11449
yes, policy/policy profile assignment to CI's is there: https://github.com/ManageIQ/manageiq_docs/blob/master/api/reference/policies.adoc

[2016-09-23 13:23] matobet commented on #11055
Ok created a PR that implements the above design https://github.com/ManageIQ/manageiq/pull/11455. I guess we can move the discussion there if needed.

[2016-09-23 13:23] #11055 closed

[2016-09-23 14:48] jshaughn commented on #10987
@prachiyadav, any re-test results?

[2016-09-23 14:56] jshaughn opened #11489 "Adding Middleware HeapUsed Alert has Validation Problem"
The range check when adding a MW HeapUsed Alert seems to have issues.  Despite having valid numbers for the range, I still get an error in validation.  I can usually get the validation error to go away after tweaking the numbers a few times, but still keeping them valid.  See the attached screenshot.

@lucasponce, please take a look.

![miq-issue-mwalert-heap-range](https://cloud.githubusercontent

[2016-09-23 15:18] jshaughn opened #11490 "Inconsistent Menus in Middleware Views"
When navigating through middleware views I don't always see the expected menus.  It is not always consistently a problem but it happens quite often.  For example, this is typically a working and failing scenario:

0) create a hawkular provider, let it refresh and wait for it to populate with some deployments.

This tends to work:
1)  From the main LHS menus navigate Middleware->Deployments.
This v

[2016-09-23 15:47] simon3z commented on #11389
@miq-bot assign dkorn

[2016-09-24 02:44] chrisarcand commented on #8996
I don't believe we have any more Rails 5 deprecation warnings at this point. This can be closed @Fryguy

[2016-09-25 09:48] romanblanco opened #11503 "Usefullness of feature to copy user"
I'm thinking, if we really need to have an option to copy user.

The copy action simplifies the process of adding a new user by prefilling 3 form items _(Full Name, E-mail Address, Group)_, other items need to be filled again anyway _(Username, Password, Confirm Password)_.

It seems like an unnecessary feature to me. I don't think adding new user is that common action, and copying user doesn't he

[2016-09-25 15:14] alongoldboim commented on #11449
WIP pr:
https://github.com/ManageIQ/manageiq/pull/11505

[2016-09-25 16:03] cben opened #11507 "VimHash confuses RSpec when used where matchers are allowed"
While rewriting a test to `expect(hash).to include(k => v, ...)` form, I encountered very confusing failures, with non-helpful diff, where I eventually confirmed the expected keys are a strict subset, values for these keys are all `==`, the whole structure becomes `==` if I remove the few extra keys, and yet it was failing!
RSpec was even happy with:

[code]

but not:

[code]

Turns out one of the

[2016-09-25 16:19] cben commented on #11507
@miq-bot add-label technical debt

[2016-09-26 06:53] romanblanco opened #11509 "Link to dasboard detail doesn't work"
I've tried to click on Dashboard in detail, but nothing happens _(not even error in console or anything)_, but selecting the Dasboard in the tree works fine:

![screencast from 2016-09-26 08-49-23](https://cloud.githubusercontent.com/assets/1187051/18825030/94ae803c-83c6-11e6-8ce8-f80062433450.gif)

It seems that the node id `"xx-10r1"` that is sent to

[code]

doesn't exist. The function returns

[2016-09-26 06:54] romanblanco commented on #11509
@miq-bot add_label bug, ui

[2016-09-26 08:34] NaNi-Z opened #11511 "[Tag] Provisioning Scope Category does not work"
https://access.redhat.com/articles/421423, Using Tags to set a Scope for Provisioning.
It says

But, I can't create a value with the exact name, the value must be lowercase alphanumeric characters, colons and underscores without spaces.
![image](https://cloud.githubusercontent.com/assets/21187701/18827560/059cba90-8406-11e6-8f34-0bf464c47e29.png)

I add the group name like the default value "evmgr

[2016-09-26 08:48] isimluk commented on #11503
I think the copy user feature might be useful given the personnel fluctuations. The organization roles do not change that often.

Even though the copy user only fills in 3 items in the form, it might be valuable convenience tool for bored superadmin who sees the stuff coming and leaving.

[2016-09-26 11:32] aufi opened #11513 "Cinder event catcher does not work in storage provider"
There is an issue with Storage provider event catcher worker process, getting error in log, see bellow.

[code]

[2016-09-26 12:16] aufi commented on #11513
I am not who is working on cinder provider, maybe @hsong-rh?

[2016-09-26 15:08] djberg96 opened #11519 "Feature Request: Use structured logging"
At the moment we're just logging to various .log files under /log. When doing any sort of debugging or analysis we can do little more than grep through the logs, looking for snippets that may or may not be relevant. While this may be easy for us as programmers, it's less useful for customers who may not be as technically savvy, or don't want to fiddle around on the command line.

IMO we should swi

[2016-09-26 15:10] djberg96 commented on #8996
@chrisarcand I'm still seeing these in my development.log

[2016-09-26 15:13] Fryguy commented on #11519
There have been rumblings about moving towards elasticsearch/kibana or other such log processing tools.  I think it's a good idea to discuss our options :)

@chessbyte ... would love your opinions here.

[2016-09-26 15:17] chrisarcand commented on #8996
Oh really? That's news to me and I'll investigate then, thanks for the update!

[2016-09-26 15:38] lucasponce commented on #11489
@miq-bot add_label providers/hawkular,bug

[2016-09-26 16:01] pilhuhn commented on #9789
This is apparently still an issue, as just disussed with @AparnaKarve ( MW is still using the 'old' way)
@miq-bot assign @AparnaKarve

[2016-09-27 06:58] cben opened #11533 "API: commit to RFC 3339 timestamp format?"
API docs [only say this about timestamp format](https://github.com/ManageIQ/manageiq_docs/blob/master/api/overview/json.adoc#basic-types):

I always thought I love [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) but turns out that standard is crazy flexible — can omit most components, most punctuation (4 ways to spell the timezone!), decimal fractions on hours/minutes, week number and ordinal d

[2016-09-27 12:13] hstastna opened #11535 "Infinite spinner after clicking on "Clear" when using some of My Filters"
There is an infinte spinner after clicking on "Clear" when using
some of My Filters in Compute -> Infrastructure -> Datastores.
![spinner](https://cloud.githubusercontent.com/assets/13417815/18872801/90d7dfac-84bc-11e6-81ec-85752c5d9b01.png)

[2016-09-27 12:21] hstastna commented on #11535
@miq-bot add_label bug, ui

[2016-09-27 13:55] romanblanco opened #11536 "c3 charts issue in Utilization"
Steps to reproduce:

1) Go to *Utilization*
2) select some date
3) Select *Details* tab
4) Select *Report* tab

![screencapture-localhost-3000-miq_capacity-utilization-1474983245848](https://cloud.githubusercontent.com/assets/1187051/18876607/a830d344-84ca-11e6-9f68-a59cc6772864.png)
![screencapture-localhost-3000-miq_capacity-utilization-1474983269835](https://cloud.githubusercontent.com/assets/1

[2016-09-27 14:32] ammendonca commented on #11490
@miq-bot add_label providers/hawkular, ui

[2016-09-27 14:35] romanblanco commented on #11536
@miq-bot assign @PanSpagetka

[2016-09-27 15:25] hhovsepy opened #11539 "[WIP] Latest docker image is outdated"
Latest docker image of MiQ is outdated, does not contain the latest commits, such as "Download as PDF".

About -> Version: master.20160927140428_

[2016-09-27 17:26] bronaghs opened #11542 "SCVMM provisioning - default CPUs are used"
When a VM is provisioned from ManageIQ the number of CPUs assigned is the default value of 2.
The powershell command being executed has not changed and looks correct when eyeballed so nothing obvious stands out.

[2016-09-27 17:26] bronaghs commented on #11542
@miq-bot assign @bronaghs

[2016-09-27 17:34] djberg96 opened #11544 "Azure refresher bottlenecked by Orchestration Stacks"
The longest portion of an EMS refresh for Azure is Orchestration Stack information collection. It appears that we're running a single select for every Orchestration Stack instance, which is quite slow.

You can see what's happening by creating an Azure provider in the eastus (using our dev environment) and watch what's happening:

[code]

[code]

Can this collection of queries be collated into a s

[2016-09-27 19:08] djberg96 commented on #11542
@bronaghs Can you copy/paste the powershell command that's generated?

[2016-09-27 20:03] isimluk commented on #8277
@gtanzillo I think this can be closed now, as we haven't really hear from the original reporter.

It is either fixed or insufficient data.

[2016-09-27 21:35] Fryguy commented on #11544
Looks like an N+1.  Do you know where these queries are coming from?  Most of the save_inventory code is designed to mass query, so this surprises me.

[2016-09-27 21:51] djberg96 commented on #11544
@Fryguy I think it's https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/azure/cloud_manager/refresh_parser.rb#L340-L346

[2016-09-27 23:43] kbrock commented on #11544
Can this logic be moved into the deployment object? And can it become a relation?

@bzwei what percentage of the time will this bring back an object?

[2016-09-28 01:58] bzwei commented on #11544
The slowness may come from either factor:
https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/azure/cloud_manager/refresh_parser.rb#L333

For each stack we want to find its template and link them. The template is EITHER downloaded OR fetched from VMDB. So the DB inquiry is not for EVERY stack. Downloading files take time. When you observe the slowness it might come from

[2016-09-28 02:02] bzwei commented on #11544
Can we try to fetch a collection of templates for all qualified deployments? Yes. That's the direction we can work on.

[2016-09-28 05:46] gildub opened #11555 "Network Provider: extensions dependency"
Being able to list network extensions such as Neutron extensions is required for network provisioning.
Effectively some of the fields are enabled only if the dependent extension is available.
For instance, distributed requires 'dvr' extension or 'ha' needs 'l3-ha', etc.
Please see http://developer.openstack.org/api-ref/networking/v2/index.html
for more details.

This requires the following to be a

[2016-09-28 09:37] romanblanco commented on #11388
@skateman @epwinchell Issue still persists, please reopen the issue:

Go to some VM, *(for example)* click to its IP address to get to the problematic screen.

Screenshots:
![screencapture-localhost-3000-vm_infra-explorer-1475055213979](https://cloud.githubusercontent.com/assets/1187051/18908397/b74e0cf2-856f-11e6-9eac-c2ebd71a628d.png)
![screencapture-localhost-3000-vm_infra-explorer-147505522370

[2016-09-28 13:20] bronaghs commented on #11542
@djberg96
  $vm = New-SCVirtualMachine         -Name 'vmname'         -VMHost 'hostname'         -Path 'C:\'         -VMTemplate (Get-SCVMTemplate -Name 'windows_2012_temp');       Set-SCVirtualMachine -VM $vm         -CPUCount 4          -DynamicMemoryEnabled $true        -MemoryMB 1024        -DynamicMemoryMaximumMB 2048        -DynamicMemoryMinimumMB 1024 | Out-Null;        $adapter = $vm | SCV

[2016-09-28 13:41] djberg96 commented on #11542
@bronaghs could this be an issue of cores versus logical processors? What is being used to determine the number of processors?

[2016-09-28 14:04] lucasponce commented on #11489
@miq-bot assign @rubenvp8510

[2016-09-28 14:30] bronaghs commented on #11542
Unlike VMware, SCVMM doesn't give us visibility into number of sockets and cores per socket, instead it gives us a total number of vCPUs available on the host so when you create a VM you specify a number of vCPUs.
I have deleted a bunch of VMs on this particular host because it possible that it has been dangerously overcommitted. I'm trying to provision a new VM now.

[2016-09-28 14:55] bronaghs commented on #11542
@djberg96 - I can confirm the problem was that the host was overcommitted; once cleaned up a new VM was created without error with the correct number of CPUs allocated (4 CPUs).

[2016-09-28 14:58] #11542 closed

[2016-09-28 15:14] chargio opened #11561 "Storage types are not ordered in size"
When selecting storage, the options are ordered in alphabetical order and not in size order.
Sizes should be selectable in real order (9 MB < 500 GB < 1TB)
![screenshot from 2016-09-28 17-11-05](https://cloud.githubusercontent.com/assets/7500590/18919501/bc19bdc4-859e-11e6-9295-74a36f3afba3.png)

[2016-09-28 17:07] bronaghs opened #11567 "Azure - Issue insufficient permissions warning"
When authenticating to an Azure provider we should check if the application has "contributor" access. If not, we should issue a warning to inform the user why the credential check failed.

[2016-09-28 20:49] dclarizio commented on #11503
@romanblanco the reason we don't allow copying of the super admin user is that someone would imply that the new user has the same rights as the super admin user.  This is not true as there are some places in the code that are coded to ONLY allow THE super admin to do certain things.  In other words, there is no option or check box telling the code that a user is "super".  If we could track down th

[2016-09-28 22:18] rubenvp8510 commented on #11490
@miq-bot assign @rubenvp8510

[2016-09-28 22:48] rubenvp8510 commented on #10967
@miq-bot assign @rubenvp8510

[2016-09-28 22:51] #11490 closed

[2016-09-29 06:14] theseaofstars opened #11573 "bug during vmware provision"
After choosing the checkbutton "Choose Automatically" in the placement field in the Environment tab in the provision dialog. The vmware provision failed, the evm.log tell that there is a NoMethodError comes out during the provision.
related log:

[code]
related version: darga-2.201609029185957
on branch darga and release darga-2

[2016-09-29 10:56] ITD27M01 opened #11576 "Cannot select Shared OpenStack Networks for instance provisioning"
Hi guys!
I want to create service for provisioning instance from OpenStack but I cannot select OpenStack Shared networks that does not created by OpenStack Project/Tenant users/admin but only network that not shared (this networks is not pulic networks but networks shared by admin across projects). On the Networks view I can see any networks and instances connected to these networks in OpenStack P

[2016-09-29 11:29] hhovsepy commented on #11539
@abonas this is not middleware problem, but it blocks QE

[2016-09-29 11:39] hhovsepy commented on #11539
cc @karelhala @martinpovolny
I have used: "docker.io/manageiq/manageiq:latest"
About Version is: "master.20160929103631_"

[2016-09-29 11:42] karelhala commented on #11539
Strange, looks like docker build is fine [manageiq/builds](https://hub.docker.com/r/manageiq/manageiq/builds/) but wait for Martin, he'll point you to correct people whom you can ask why is this happening.

[2016-09-29 12:12] agrare commented on #11573
Thanks @theseaofstars!  By any chance is your VC not in english?
`darga-2` doesn't have https://github.com/ManageIQ/manageiq/pull/11135 which was causing issues on non-english VCs due to trying to look up `"Discovered Virtual Machines"`

[2016-09-29 14:20] djberg96 commented on #11567
Originally I thought our RoleServiceClass would work, but that only gives information about the roles themselves, not the principals. I think we're going to need a "Graph" wrapper:

https://msdn.microsoft.com/Library/Azure/Ad/Graph/api/api-catalog

[2016-09-29 14:37] blomquisg commented on #11457
Looks like this should be closed?

[2016-09-29 14:56] bronaghs commented on #9054
closed via https://github.com/ManageIQ/manageiq/pull/10065

[2016-09-29 14:56] #9054 closed

[2016-09-29 14:56] enoodle commented on #11457
@blomquisg Its not fixed yet. I am not sure still if its a better way to go but I am working on replacing `allow_any_instance_of` with using `object_double`.

[2016-09-29 15:24] dclarizio commented on #11561
@sergio-ocon can you give more information as to where this is seen?  If it's a user created dialog, there should be options to sort by value or display name.  If it's elsewhere in the UI, we can make a fix.  Thx, Dan

[2016-09-29 15:27] rubenvp8510 commented on #11252
@miq-bot assign @rubenvp8510

[2016-09-29 15:46] hhovsepy commented on #11539
Looking for "Download as PDF" functionality to be available on latest.
PR is https://github.com/ManageIQ/manageiq/pull/10942/files

[2016-09-29 16:16] sergio-ocon commented on #11561
Dan, is the creating of a Google VM, out of the box

[2016-09-29 17:29] #8894 closed

[2016-09-29 17:35] simaishi commented on #11539
Verified the docker image isn't outdated, the latest image has the latest commit.

The reason for "Download as PDF" not showing up is due to `prince` RPM not being installed. Once you install the RPM (can't ship with the product for license reason), that item will be available.

[2016-09-29 17:45] chrisarcand commented on #160
This shouldn't be an issue anymore, please reopen if it is!

[2016-09-29 17:45] #160 closed

[2016-09-29 17:46] chrisarcand commented on #243
ping @AparnaKarve

[2016-09-29 17:49] chrisarcand commented on #1642
@dclarizio Still an issue with the new UI?

[2016-09-29 17:52] chrisarcand commented on #1883
Looks like this was resolved with https://bugzilla.redhat.com/show_bug.cgi?id=1311279

Please reopen if it's still an issue!

[2016-09-29 17:52] #1883 closed

[2016-09-29 17:58] chrisarcand commented on #3532
This appears to be resolved; cannot recreate. Please reopen the issue if it is still occurring.

[2016-09-29 17:58] #3532 closed

[2016-09-29 18:03] jerryk55 commented on #243
@AparnaKarve @chrisarcand I would close this.  The entire Storage model and UI are being reworked starting with Cinder and Swift.

[2016-09-29 18:16] #11301 closed

[2016-09-29 18:17] AparnaKarve commented on #243
@jerryk55 Great! You saved me some time -- thanks for the update.

[2016-09-29 18:17] #243 closed

[2016-09-29 18:22] jrafanie commented on #1664
This has been subsequently fixed in bundler/rubygems and working in ruby 2.3.1

[2016-09-29 18:22] #1664 closed

[2016-09-29 18:31] martinpovolny opened #11588 "Tests for: UI support for provisioning VMware vApps #11341"
#11341
1. So we can test that the new root node is present in the tree.
2. Then we can test that it contains the correct nodes.
3. We can test that selecting the new tree node makes the information for the node appear in the right cell.

ping @gberginc

[2016-09-29 18:42] gberginc commented on #11588
@miq-bot assign @gberginc

[2016-09-29 19:35] dclarizio commented on #1642
@chrisarcand wow, I'm not even exactly sure that the issue is/was

@penoycentral can you look at the latest master of ManageIQ and maybe give a bit more detail on what you think is missing, if this issue is still there?  Thx, Dan

[2016-09-29 21:43] kbrock opened #11596 "Settings no longer loading local.yml file"
Typically settings are loaded from the database and from `config/settings/*.yml`
To make life easier for developers, they can be loaded from `config/settings/#{env}.local.yml`

Unfortunately, the local file is no longer being searched.

[code]

Was expecting to see `config/settings/development.local.yml` in there

[2016-09-30 01:19] penoycentral commented on #1642
Looks like it was already fixed. Thanks.

[2016-09-30 01:20] #1642 closed

[2016-09-30 02:11] theseaofstars commented on #11573
@agrare yes, the vc i use is in chinese, is this the reason that cause the problem?

[2016-09-30 02:17] agrare commented on #11573
@theseaofstars yes that will cause it, can you try applying the patch in https://github.com/ManageIQ/manageiq/pull/11135 and see if that fixes it?  If so we will see about back porting that fix to darga.

[2016-09-30 08:02] vanloswang opened #11608 "intergration with manageiq darga-2 and foreman 1.12.3 failed"
The error info is as following:
[code]

The version of ManageIQ is darga-2 and the version of Foreman is 1.12.3. The foreman server is listen 80, add foreman provider on manageiq failed with http for URL and without verify the certificate.

CC http://talk.manageiq.org/t/foreman-integration-fail/720/11

[2016-09-30 08:06] martinpovolny commented on #11588
So for the tree see `spec/presenters/tree_builder.*`.

For the click action on a tree node see e.g. `spec/controllers/vm_cloud_controller/trees_spec.rb`. That one is pretty generic, you can test something more specific in the page.

[2016-09-30 09:13] cben commented on #7460
We discussed yesterday multiple problems with the design.  Will open separate issues but for now an overview:

- Any-value mapping given labels with similar values e.g. `key=VaL-ue` vs `key=val_Ue` which collide after `Classification.sanitize_name` crashes on attept to create an existing tag.
- The mapping is not concurrency-safe due to caching + the fact I'm adding specific-value mappings *back i

[2016-09-30 10:27] hhovsepy commented on #11539
@simaishi thank you for the research, closing the issue

[2016-09-30 10:27] #11539 closed

[2016-09-30 11:47] #11489 closed

[2016-09-30 11:54] romanblanco commented on #11536
@PanSpagetka I can reproduce also on other places, for example Infra -> VM -> Utilization.

I'm getting
[code]

[2016-09-30 12:56] romanblanco opened #11613 "Missing template error in Cloud Network"
Missing template error in Cloud Network:

![screencapture-localhost-3000-cloud_subnet-show-10000000000034-1475240036605](https://cloud.githubusercontent.com/assets/1187051/18992323/005b1688-871e-11e6-82b1-211656d3081d.png)

Go to "_Topology_":

![screencapture-localhost-3000-subnet_topology-show-10000000000034-1475240045025](https://cloud.githubusercontent.com/assets/1187051/18992341/0e5e4e8a-871e

[2016-09-30 12:56] romanblanco commented on #11613
@miq-bot add_label ui, bug

[2016-09-30 14:20] #8215 closed

[2016-10-01 01:27] Fryguy opened #11635 "Add slug where we have href in the API"
href returns the full URL including the host port and api prefix.  It would probably be really nice to have a slug method that just returns the latter part of the URL, since that is the unique identifier.

Example:
href: "http://localhost:3000/api/vms/1000000000002"
slug: "vms/1000000000002"

[2016-10-01 01:29] Fryguy opened #11636 "Support compressed ids in filters on API"
An example query from the manageiq-api-client, `miq.vms.find("1r1")`, fails.

On the server side I see

[code]

[2016-10-01 01:34] Fryguy opened #11637 "Token based access still does a lot of authorization in API"
When you access the rest API with a token, it still does a LOT of authorization.  It only saves 2 or 3 queries over logging in every time (in particular it saves inserting into the audit log), but you can see it re-access the user/group/tenant/product features/and entitlements over and over.

I think that on getting a token we should cache the users entitlements / product features, and reuse that

[2016-10-01 01:35] Fryguy commented on #11637
cc @chrisarcand @jrafanie @kbrock .  Thought this might interest you as well.

[2016-10-01 01:41] #8996 closed

[2016-10-01 05:21] abellotti commented on #11636
Note to myself (before I forget)

While we support compressed Id's in url's and references to resources (i.e. href and id), we do not support compressed id in filtering. For id (maybe *_id) filter attributes, we should check the filter value, if compressed id, then decompress before building the MiqExpression. Most likely enhancement would go in parameters.rb file in method parse_filter.

[2016-10-01 23:19] chrisarcand commented on #11637
Seems wise to me. Maybe can poke at this after tenancy stuff.

[2016-10-03 11:21] Ladas commented on #11555
@gildub will you tackle this issue?

[2016-10-03 11:39] himdel opened #11652 "Handle session autoload exceptions gracefully"
Right now, if there is a problem deserializing the session (like [this one](https://github.com/ManageIQ/manageiq/pull/11641#issuecomment-251058329)), the user gets stuck on the login screen, with **no indication** that anything is wrong.

We need to get an exception in the UI, either as a flash message describing the problem, or the whole rails error screen, or the error modal dialog - anything th

[2016-10-03 11:53] gildub commented on #11555
@Ladas, yes, I'm happy to look after this one once https://github.com/fog/fog-openstack/pull/201 has been merged.

[2016-10-03 14:15] jrafanie commented on #11637
Makes sense to me too

[2016-10-03 14:28] #10734 closed

[2016-10-03 14:28] #10481 closed

[2016-10-03 14:28] #10480 closed

[2016-10-03 15:27] kbrock commented on #11637
Invalidating will request they login again?

Seems we could use memcache more, especially when there is a bunch of post processing that is done on queries.

[2016-10-03 17:10] #11388 closed

[2016-10-03 17:32] #5525 closed

[2016-10-03 20:17] jrafanie commented on #11608
@vanloswang Where are you getting that error message?  What process did you follow?  What is the evm.log showing when you add the foreman provider?  Please provide anything the log shows around the time of the error.  Thanks.

cc @bdunne

[2016-10-03 20:30] kbrock opened #11664 "Regression with start pages"
Every page queries `start_pages`, even after the user has been logged in for a while.
It always pulls back 217 records. (that is >30% of the records from the database for most pages)

If this is to be presented on every page, it may make sense to store `start_url_for_user(nil)` in the session or something. Or use `session[:start_pages]` instead.

|     ms |queries | query (ms) |     rows |`comment

[2016-10-03 22:07] dclarizio opened #11671 "Add StorageManager UI tests"
Follow up up to #11626

[2016-10-04 09:05] martinpovolny commented on #11664
introduced here: 4f9fbe9b4

[2016-10-04 11:42] mfalesni opened #11676 "Volume/Partition relationships trigger an error"
# Environment:
- ManageIQ nightly build from 20160927 (a week old, but latest on our vsphere)
- Running on a vSphere 5.5 which is also managed by the appliance
- VDDK - SSA setup (might not be needed?)
- SSA performed both on hosts and the appliance itself (one of these might not be needed?)
# Problem:

I was testing https://youtu.be/CpRLwFKoOPY?t=54m54s

Invoking one of those for example:

[code]

[2016-10-04 11:57] mfalesni commented on #11676
I did a git update on the appliance and as of `master.20161004075138_47a5ad9` this error is still present.

[2016-10-04 12:34] chessbyte commented on #10948
Closing per comment in #11655

[2016-10-04 12:34] #10948 closed

[2016-10-04 14:05] chrisarcand opened #11681 "Add user defined start page to logo (again)"
This functionality was removed in https://github.com/ManageIQ/manageiq/pull/11675

A new solution that maybe caches in the session or something should be added.

[2016-10-04 14:24] #10023 closed

[2016-10-04 15:11] djberg96 commented on #11240
Looks like the PR was merged, so I'm closing.

[2016-10-04 15:11] #11240 closed

[2016-10-04 16:28] #9789 closed

[2016-10-04 16:28] #11296 closed

[2016-10-04 16:29] Jiri-Kremser opened #11689 "Link called 'Summary' in the accordion menu of middleware provider doesn't work."
When looking at middleware provider detail page, on the left hand side in the accordion menu there is a section called 'Properties'. Link called 'Summary' in that section doesn't work. It redirect user to url `http://${host}:3000/middleware_server/show/${id}?display=main` but there is no handle for that in the router, so the application responds with "The page you were looking for doesn't exist."

[2016-10-04 16:48] Fryguy commented on #11664
Closing since #11675 was merged.  @chrisarcand opened an issue to add it back in #11681 .

[2016-10-04 16:48] #11664 closed

[2016-10-04 16:49] Fryguy commented on #11681
See also #11664 which has the performance details that led to the removal

[2016-10-04 16:50] Fryguy commented on #11637
@kbrock Yeah, that's another option to just invalidate the cache itself, but not necessarily the token.  I'm open to any implementation.

[2016-10-04 16:53] Fryguy commented on #11533
If we document that the format is iso8601, then I don't see why API clients can't be expected parse it.  Every language has a library or module that does this, so I don't see it as a problem.

I've noticed this as well, and we can handle this right now by just changing the `.iso8601` call to `.iso8601(6)` or something.

[2016-10-04 16:54] Fryguy commented on #11533
I would expect that we would accept the same format that we emit.  So if we document iso8601, then we accept iso8601.

[2016-10-04 18:20] blomquisg commented on #11613
@Ladas can you give a first glance at this ... if it's purely UI, assign it to @dclarizio

[2016-10-04 18:28] agrare commented on #11676
cc @gmcculloug

[2016-10-04 18:47] imtayadeway commented on #9052
@alex-lairan thanks for your patience on this one - I actually found this super confusing myself. I think what is going on here is the tags you see in the API response are actually a totally different thing to the list of tags you see in the group show page. Those tags are a list of filters on the group's entitlement. Tagging a group is done elsewhere (I believe if you clock on Policy in the UI it

[2016-10-04 18:56] pilhuhn commented on #11145
This is currently "working as designed" as the backend functionality to start a server (which needs to be done for a stopped server) does not yet exist in Hawkular proper. This will for sure not be in Euwe.

[2016-10-04 18:57] pilhuhn commented on #11689
@miq-bot add_label hacktoberfest

[2016-10-04 19:04] blomquisg opened #11692 "Make Benchmark Timing output more sensible"
The current Benchmark timings do a good job of capturing the time it took to do various blocks, but one of the things that it's missing is the ability to group, or nest, timings the same way we're nesting the calls to `Benchmark.realtime_block` in the code.

For instance, in the VMWare EMS Refresh process, we have several calls to `Benchmark.realtime_block`.  If I grouped the timing keys together

[2016-10-04 19:07] Fryguy commented on #11692
Alternately (if we reserved the `:total` keyword or something similar)

[code]

[2016-10-04 19:07] Fryguy commented on #11692
cool idea @blomquisg !

[2016-10-04 19:10] agrare opened #11693 "Typos in MiqVimInventory"
There are some copy&paste errors in `gems/pending/VMwareWebService/MiqVimInventory.rb#storagePods_locked`:
[code]

These should read `MiqVimInventory.storagePods_locked: loading/loaded Datastore Cluster cache`

[2016-10-04 19:11] agrare commented on #11693
cc @Fryguy

[2016-10-04 19:32] abellotti commented on #11637
If the Api Token manager can somehow register with user authorization model (group/tenant/etc) for change events, it can in turn invalidate tokens of specific users.

[2016-10-04 19:49] Fryguy opened #11696 "`rescue StandardError` is not necessary to be explicit"
In Ruby, the following are equivalent

[code]

[code]

The latter is considered better style.

There are about 100 instances of this in the code base that should be cleaned up.

[2016-10-04 21:14] chrisarcand opened #11700 "Remove warnings found in test output"
There are a number of warnings related to already initialized constants in our test output that should be addressed, if possible:

[code]

[2016-10-04 21:15] Fryguy commented on #11700
Might be able to fix by converting the constants to rspec `let` statements

[2016-10-04 21:17] chrisarcand commented on #8261
Fixed in https://github.com/ManageIQ/ovirt_metrics/pull/10

[2016-10-04 21:17] #8261 closed

[2016-10-04 22:26] #11696 closed

[2016-10-05 02:29] kbrock commented on #11637
eh. make them login again.
I was just worried we were hand waving "simply update the cache" which is never trivial.

Also, wonder if we can use memcache to store all the entitlement records or something. So it is still "looking this stuff up", but all the heavy lifting was done and stored in memcache.

[2016-10-05 09:55] skateman opened #11706 "Clicking on service catalog tree nodes returns errors in the console"
[code]

and also

[code]

[2016-10-05 10:49] skateman commented on #11706
@miq-bot assign @ZitaNemeckova

[2016-10-05 10:50] skateman commented on #11706
@miq-bot add_label bug, ui

[2016-10-05 13:19] abellotti commented on #11637
Yes, the ones who's authorization has been updated have to login again.
The other user tokens should still be usable.  If the entitlement records are duplicated/reflected in memcache, we could update the api/token manager to invalidate all of a users's tokens.

Problem with reflecting this in memcache won't handle cases where the WS appliances are behind a load balancer and we have different appli

[2016-10-05 14:53] epwinchell opened #11713 ""Register Iconic Nodes" screen not using Bootstrap filestyle"
Nodes JSON file upload is not using the Bootstrap filestyle plugin:
![screen shot 2016-10-05 at 11 31 48 am](https://cloud.githubusercontent.com/assets/1287144/19119950/5cd39744-8aef-11e6-9f34-559db33ec543.png)

Filestyle example:
![screen shot 2016-10-05 at 10 51 20 am](https://cloud.githubusercontent.com/assets/1287144/19118197/aea64838-8ae9-11e6-88ed-11bfb9c83aee.png)

https://github.com/Manage

[2016-10-05 14:57] epwinchell commented on #11713
@miq-bot add_label technical debt

[2016-10-05 15:12] #11700 closed

[2016-10-05 15:15] dclarizio commented on #11713
Greg, can you please reassign?  Thx, Dan

[2016-10-05 16:28] martinpovolny opened #11716 "Address feedback from PR #11529"
#11529 was merged w/o all issues resolved.

Please, add the missing tests and look at the Rubocop issues.

[2016-10-05 17:07] gmcculloug commented on #11676
Partition and Volume service models were added in PR #10800

[2016-10-05 21:41] gmcculloug opened #11728 "Setting relationship data for generic objects in automate does not work"
The following script fails to add the service to the `services` relationship for a generic object.

[code]

The problem appears to be here [app/models/generic_object.rb#L128](https://github.com/ManageIQ/manageiq/blob/9b774398de1b87c4e4ff826573776b3503ee970b/app/models/generic_object.rb#L128) where the object type is checking against the Active Record model, but the passed object is an automate ser

[2016-10-05 22:00] #10844 closed

[2016-10-06 00:27] kbrock commented on #11681
We do store start pages in `session[:start_pages]` - not sure if this can be used.
Also, I noticed that we do a lot of work in ruby, when maybe sql would be a better pace

[code]

[2016-10-06 00:41] kbrock commented on #11637
@abellotti maybe take advantage of `:touch` and compare `updated_at`?

[2016-10-06 07:21] alex-lairan commented on #9052
Hi everyone ! :)

I am no longer in the selfdeploy team. I think this can interesting @romaintb

Thank for the response ! :+1:

[2016-10-06 08:28] durandom opened #11735 "refactor validate_suspend to supports :suspend"
### What?
**Refactor all method definitions called `validate_suspend` to DSL like definition `supports :suspend`**

### Background
The `validate_suspend` methods are used mainly by the UI to query an instance if it supports a specific feature. The return value is a bit obscure. It returns a Hash with two keys `:available` and `:message`. If `:available` is false, then the feature is generally unsu

[2016-10-06 08:33] durandom opened #11736 "refactor validate_pause to supports :pause"
### What?

**Refactor all method definitions called `validate_pause` to DSL like definition `supports :pause`**
### Background

The `validate_pause` methods are used mainly by the UI to query an instance if it supports a specific feature. The return value is a bit obscure. It returns a Hash with two keys `:available` and `:message`. If `:available` is false, then the feature is generally unsupport

[2016-10-06 08:36] durandom opened #11737 "refactor validate_clone to supports :clone"
### What?
**Refactor all method definitions called `validate_clone` to DSL like definition `supports :clone`**

### Background
The `validate_clone` methods are used mainly by the UI to query an instance if it supports a specific feature. The return value is a bit obscure. It returns a Hash with two keys `:available` and `:message`. If `:available` is false, then the feature is generally unsupporte

[2016-10-06 08:37] durandom opened #11738 "refactor validate_publish to supports :publish"
### What?

**Refactor all method definitions called `validate_publish` to DSL like definition `supports :publish`**
### Background

The `validate_publish` methods are used mainly by the UI to query an instance if it supports a specific feature. The return value is a bit obscure. It returns a Hash with two keys `:available` and `:message`. If `:available` is false, then the feature is generally uns

[2016-10-06 08:41] alongoldboim opened #11739 "Missing create/update/delete actions on miq-actions via rest API"
As a part of trying to automate creation and attaching of policies via the REST API this collections is also needed.

[2016-10-06 08:42] alongoldboim opened #11740 "Missing create/update/delete actions on conditions via rest API"
As a part of trying to automate creation and attaching of policies via the REST API this collections is also needed.

[2016-10-06 08:43] alongoldboim commented on #11739
PR: https://github.com/ManageIQ/manageiq/pull/11562

[2016-10-06 08:43] alongoldboim commented on #11740
PR: https://github.com/ManageIQ/manageiq/pull/11558

[2016-10-06 09:13] anuvazhayil commented on #11738
@miq-bot assign anuvazhayil

[2016-10-06 10:41] durandom commented on #11738
@anuvazhayil looks like our bot doesnt want to assign to people outside our team.
I guess you still want to work on this?

[2016-10-06 10:55] cynepco3hahue commented on #11735
Hi, I want to grab this issue)

[2016-10-06 10:58] durandom commented on #11735
@cynepco3hahue great, if you need any help, ping me on the corresponding PR, also link your PR to this by just mentioning it in the PR description.

[2016-10-06 20:31] epwinchell commented on #10597
@mmojzis bump

[2016-10-06 20:52] #3565 closed

[2016-10-07 09:48] #11536 closed

[2016-10-07 09:49] mmojzis commented on #10597
Tested on upstream master and it's fixed, so I am closing it.

[2016-10-07 09:49] #10597 closed

[2016-10-07 14:00] martinpovolny opened #11764 "Follow up for #11259 create/update/delete OpenStack cloud tenants"
There's a lot of style issues in https://github.com/ManageIQ/manageiq/pull/11259.

Also I am not sure about timeout behavior for the form that uses `wait_for_task`. That needs to be tested.

@tzumainn : please, fix that ;-)

[2016-10-07 15:18] bronaghs commented on #11736
@durandom - I'll take this one :-)

[2016-10-07 15:19] bronaghs commented on #11736
@miq-bot assign @bronaghs

[2016-10-07 16:12] bronaghs commented on #11736
@durandom - nice thorough explanation here.

[2016-10-07 17:51] agrare commented on #11693
Fixed in https://github.com/ManageIQ/manageiq/pull/11724

[2016-10-07 17:51] #11693 closed

[2016-10-07 19:40] jerryk55 commented on #11671
https://github.com/ManageIQ/manageiq/pull/11776 was created to add UI tests for the StorageManager.  This issue can be closed.

[2016-10-07 21:54] Fryguy commented on #11637
Users who load balancer *across* appliances don't use our memcache based session management...they change it to SQL based.

[2016-10-08 03:15] theseaofstars commented on #11573
@agrare I try the patch and it fix the bug. thanks

[2016-10-08 06:54] vanloswang commented on #11608
@jrafanie @bdunne reinstalled the foreman server, add ok. It is my foreman server problem. so close it.

[2016-10-08 06:54] #11608 closed

[2016-10-08 11:07] jrafanie commented on #11608
Thanks for the update @vanloswang.

[2016-10-08 12:02] agrare commented on #11573
@theseaofstars Great! Thanks so much for testing this, will close when is backported to darga.

[2016-10-10 07:55] #6932 closed

[2016-10-10 07:56] ZitaNemeckova commented on #9444
Resolved in https://github.com/ManageIQ/manageiq/pull/9449

[2016-10-10 09:29] ZitaNemeckova commented on #11462
Seems my DB had some errors that produced it. Cannot reproduce with new one.

[2016-10-10 09:29] #11462 closed

[2016-10-10 15:00] chrisarcand commented on #11671
[Using `Closes #11776` (or other variations) will auto close this when that PR is merged.](https://github.com/blog/1506-closing-issues-via-pull-requests) :)

[2016-10-10 15:05] jerryk55 commented on #11671
@chrisarcand isn't that backwards?  Doesn't #11776 close this - #11671?

[2016-10-10 15:06] chrisarcand commented on #11671
Ooop, yes. Sorry. Not enough coffee yet :D Closes #11671 on the PR would autoclose this, yes.

[2016-10-10 15:22] #11671 closed

[2016-10-11 09:59] himdel opened #11821 "Remove ems_*/show"
The `ems_*/show.html.haml` templates were removed in https://github.com/ManageIQ/manageiq/pull/10154, because they should not be needed.

However, to fix https://bugzilla.redhat.com/show_bug.cgi?id=1381162 (and a few other bugs probably), they were reintroduced in https://github.com/ManageIQ/manageiq/pull/11822.

They need to be removed again, once there's no `render :action => "show"` in `Applica

[2016-10-11 13:16] agrare commented on #11573
Fixed in darga in https://github.com/ManageIQ/manageiq/commit/e66c3824aec855dc5b74f3652796f746657a8319

[2016-10-11 13:16] #11573 closed

[2016-10-11 14:04] bzwei opened #11826 "Orchestration stack power operation"
The first few orchestration stack types that we support from Amazon, OpenStack, and Azure do not have power operations. However the latest adoption of vCloud's vApps as orchestration stacks have power operations such as suspend, start, restart etc.

Looking into how vms/instances have power operations, I saw https://github.com/ManageIQ/manageiq/blob/master/app/models/vm_or_template.rb#L54

[code]

[2016-10-11 14:10] romaintb opened #11828 "ARM : Some running vms have no flavor"
(I was asked by @bronaghs to create an issue on this, following up a gitter discussion)

On our ARM provider, some running vms have no flavor.
They have standard flavors (some F8s, some A4)

Excerpt of `/api/vms?expand=resources&attributes=id,ems_id,flavor_id,power_state,name&filter[]=ems_id=11` :
[code]

I know the bug report is small, trying to narrow down what can happen here, will edit if I ca

[2016-10-11 14:22] romaintb commented on #11828
@miq-bot add_label bug, providers/microsoft/cloud

[2016-10-11 17:34] bronaghs commented on #11828
@miq-bot assign @bronaghs

[2016-10-11 18:00] bronaghs commented on #2820
Fixed in https://github.com/ManageIQ/manageiq/pull/6900

[2016-10-11 18:00] #2820 closed

[2016-10-11 18:10] bronaghs commented on #5383
Hi @jerryk55 - I see a lot of commits / PRs made against this issue. Should this still be open?

[2016-10-11 18:15] jerryk55 commented on #5383
@bronaghs I think so.  The commits were a work-around to allow SSA to work in this situation, but the storage_id is still NULL in the database for these VMs.  Assuming we want the storage to be populated correctly for these VMs, the issue would be still open.  Your mileage may vary.

[2016-10-11 18:17] bronaghs commented on #5383
Ok, Thanks @jerryk55

[2016-10-11 20:12] chessbyte opened #11838 "Reformat static list in ApplicationHelper#taskbar_in_header?"
Sorted Alphabetically and 1 to a line.  See https://github.com/ManageIQ/manageiq/pull/11835 for an example.

[2016-10-11 20:14] chessbyte opened #11839 "Reformat static list in ApplicationHelper.GTL_VIEW_LAYOUTS"
Sorted Alphabetically and 1 to a line. See #11835 for an example.

[2016-10-11 20:14] chessbyte opened #11841 "Reformat static lists in ApplicationHelper#render_listnav_filename"
Sorted Alphabetically and 1 to a line. See #11835 for an example.

[2016-10-11 20:15] chessbyte opened #11842 "Reformat static list in ApplicationHelper#show_adv_search?"
Sorted Alphabetically and 1 to a line. See #11835 for an example.

[2016-10-11 20:16] chessbyte opened #11843 "Reformat static list in ApplicationHelper#tree_with_advanced_search?"
Sorted Alphabetically and 1 to a line. See #11835 for an example.

[2016-10-11 21:02] jmks commented on #11843
I think I can manage this!

[2016-10-11 21:12] chessbyte commented on #11843
@jmks looks like @AndyStabler beat you to it.  Try another one with the `hacktoberfest` label

[2016-10-11 21:13] jmks commented on #11843
No worries!

[2016-10-12 01:11] wburns84 commented on #11839
https://github.com/ManageIQ/manageiq/pull/11860

[2016-10-12 01:23] wburns84 commented on #11841
https://github.com/ManageIQ/manageiq/pull/11861

[2016-10-12 08:25] #11843 closed

[2016-10-12 08:55] #11389 closed

[2016-10-12 10:48] #11842 closed

[2016-10-12 11:55] wburns84 commented on #11839
Merged.

[2016-10-12 11:55] wburns84 commented on #11841
Merged.

[2016-10-12 11:57] wburns84 commented on #11838
https://github.com/ManageIQ/manageiq/pull/11859

[2016-10-12 11:57] wburns84 commented on #11838
Merged.

[2016-10-12 12:08] isimluk opened #11868 "Purge dated VimPerformanceStates"
As per https://github.com/ManageIQ/manageiq/pull/11016#issuecomment-247467425 we are not purging datad VimPerformanceStates

/cc @gtanzillo

[2016-10-12 12:38] #11839 closed

[2016-10-12 12:38] #11841 closed

[2016-10-12 12:39] #11838 closed

[2016-10-12 13:03] himdel opened #11872 "Check basic toolbar buttons for rbac feature existence"
Since https://github.com/ManageIQ/manageiq/pull/10942 (in euwe), a toolbar button needs a corresponingly named rbac feature to exist, so that it would actually show.

Previously there was no such limitation.

Thus, we should ideally go through _all_ the toolbar buttons which don't explicitly set a class, and check that a feature for these actually exists.

@PanSpagetka would you take care of that

[2016-10-12 14:20] romanblanco opened #11875 "Bug in tree_builder for some nodes"
I'm not able to display Orphaned or Archived nodes, in rails console I'm getting:

[code]

and also in Javascript console I'm getting:

[code]

![screencapture-localhost-3000-vm_infra-explorer-1476281888305](https://cloud.githubusercontent.com/assets/1187051/19313710/cbfacfae-9097-11e6-9382-1c5970b08027.png)

@skateman, @ZitaNemeckova

[2016-10-12 14:30] romanblanco commented on #11875
@NickLaMuro probably caused by https://github.com/ManageIQ/manageiq/commit/4ca079a8

`x_build_single_node` returns `nil` for *archived* nodes:

[code]

[2016-10-12 14:30] romanblanco commented on #11875
@miq-bot assign @NickLaMuro

[2016-10-12 14:30] romanblanco commented on #11875
@miq-bot add_label bug

[2016-10-12 14:52] NickLaMuro commented on #11875
@romanblanco Thanks, I will take a look.

[2016-10-12 14:52] NickLaMuro commented on #11875
And also... sorry 😞

[2016-10-12 15:08] zhitongLBN opened #11878 "[Discussion] AWS ProvisionRequest `auto_placement` should use default vpc"
fog did not return `is_default` argument when getting a `VPC`, until this merge (https://github.com/fog/fog-aws/pull/299)

So until now when we select `auto_placement` in a aws provision request, MIQ will take the first `cloud_network(vpc)` it found.

Shall we make it use the default `vpc` in the case of AWS when we use `auto_placement` at PR??

[2016-10-12 20:41] billfitzgerald0120 opened #11886 "UI - Automate - The UI doesn't allow you to return after a Copy, none of the buttons work."

[2016-10-12 21:44] NickLaMuro commented on #11875
@romanblanco Sorry for the delay on this (was sidetracked), but I have found the issue, and here is how I figured it out:

[code]

And the relevant code from my commit:

https://github.com/ManageIQ/manageiq/blob/4ca079a/app/presenters/tree_node_builder.rb#L175-L180

Possible fix
------------
Swap out the `"MiqTemplate"` key for `"VmOrTemplate"`, and things should work.  Anything that would have re

[2016-10-13 01:02] #8277 closed

[2016-10-13 05:19] gildub commented on #11555
We also need fog-openstack version bump up. Coming with https://github.com/ManageIQ/manageiq/pull/11747

[2016-10-13 07:56] schmandforke opened #11900 "Proxy Error in AWS Provision Dialog"
Hey there,

i would like to report an issue while provision an Instance in AWS.
Howto reproduce:
1) Install Vanilla Darga Appliance
2) Create AWS Provider
3) Sync public Images (as described [HERE](https://access.redhat.com/documentation/en-US/Red_Hat_CloudForms/3.1/html/Management_Engine_5.3_Release_Notes/chap-Enabling_Public_AMIs_from_Amazon_EC2.html))
4) wait until 27k Images has been indexed
5

[2016-10-13 08:35] Ladas opened #11901 "DTO refresh enhancements"
enhancing the base DTO refresh brought in https://github.com/ManageIQ/manageiq/pull/11579
and the AWS part https://github.com/ManageIQ/manageiq-providers-amazon/pull/52

Comments from @Fryguy
Things I like:

Replacing the Hash interface to EMS Refresh with actual objects. In particular, we are prevented from keeping metadata on collections since we use Arrays inside of the Hashes, and you can't re

[2016-10-13 10:48] cynepco3hahue commented on #11737
Hi, can you please assign me to this one too.
Until we will receive answers for https://github.com/ManageIQ/manageiq/pull/11752))

[2016-10-13 11:32] #3229 closed

[2016-10-13 12:09] theute commented on #10111
@hhovsepy could you please check and close if it's fixed ?

[2016-10-13 12:25] durandom commented on #11737
@cynepco3hahue sure, it's yours.
I can't assign it, because you're not in the managiq organisation - but thanks for working on that supports stuff :)

[2016-10-13 13:09] hhovsepy commented on #10111
verified, it is fixed

[2016-10-13 13:09] #10111 closed

[2016-10-13 13:33] h-kataria commented on #11886
@ZitaNemeckova can you take a look.

[2016-10-13 13:34] romaintb commented on #11828
2 vms :
 - bibweuprdaccweb01 (has a flavor in MIQ)
 - bibweuprdaccweb02 (does not)

Here is what Armrest says :

[code]

And with powershell :

[code]

[code]

[2016-10-13 13:36] romaintb commented on #11828
@bronaghs I added some info, can't say there is a lot of difference here unfortunately

cc @amorvillier

[2016-10-13 13:36] ZitaNemeckova commented on #11886
@billfitzgerald0120 Hi :) Can you give me more info? Where does it happen? What exactly did you do? Any error? Log message? I will try to recreate and fix it :)

[2016-10-13 13:46] bzwei commented on #11544
@djberg96 Can you close this issue if #11662 solves the problem?

[2016-10-13 14:08] blomquisg commented on #11826
@durandom this sounds a bit like `supports feature` ... can you talk to @bzwei about this one?

[2016-10-13 14:14] Ladas commented on #11878
@zhitongLBN makes sense to me, to use the default by default :-) Will you send a PR with this change?

[2016-10-13 14:39] billfitzgerald0120 commented on #11886
After a copy, the right side is not functioning.   The copy and Reset button are greyed out and the Cancel button doesn't take you anywhere.
![image](https://cloud.githubusercontent.com/assets/11841651/19353382/41edc2a4-9131-11e6-9725-1f0bd1fe69ad.png)

[2016-10-13 16:01] djberg96 commented on #11544
@bzwei It's still a bit slow with that big "IN" clause, but overall I think it's faster. I haven't done any formal benchmarking yet, though.

[2016-10-13 17:26] LorkScorguar opened #11924 "Visibility not working for button in unassigned group"
I have created some custom button and would like to show them based on role. So I use the Visibility option. I figure out that when a button is part of group, the visilibity by role is working as expected, but when the button is in 'unassigned buttons', the button is shown to all users.

[2016-10-13 21:13] cben commented on #9713
Now we decided to switch back to behavior (1) in #11806.

[2016-10-13 23:00] #10967 closed

[2016-10-14 07:20] durandom commented on #11900
this looks like your UI worker died on the appliance.

can you still log into the UI?
can you ssh into the appliance and do
[code]

not that syncing all public images still requires more RAM on the appliance than normal.

[2016-10-14 07:32] durandom commented on #11826
@bzwei yes, the `SupportsFeatureMixin` can be used to handle this. We are in the process of converting the power ops to that already. E.g. delete is done and suspend almost.

I think we can use the same features (delete, suspend, etc) for OrchestrationStacks, because calling it on the instance gives the context
[code]

[2016-10-14 09:00] #11394 closed

[2016-10-14 09:54] fvillain commented on #11828
We have an important client who is facing this issue, can you please give us some insight about this ?
Do you need something more from us ?

[2016-10-14 11:09] himdel opened #11935 "Missing openshift fonticon"
In container provider list, we use `pficon-openshift` for the fonticon, but this icon doesn't exist.

So we get a missing icon..

![openshift-icon-missing](https://cloud.githubusercontent.com/assets/289743/19385561/991ca072-91fe-11e6-863b-4ad930a0c745.png)
![openshift-icon-inspector](https://cloud.githubusercontent.com/assets/289743/19385563/9a409cba-91fe-11e6-9b14-47d4068019d8.png)

Comes from..

[2016-10-14 11:13] himdel opened #11936 "Missing image for NFS41 datastore"
In Datastores (`storage/explorer`), the quadicon for NFS41 datastores tries to use `100/storagetype-nfs41.png` for image - which doesn't exist.

![nfs41-img-missing](https://cloud.githubusercontent.com/assets/289743/19385658/43cde6a2-91ff-11e6-8bdc-fe6d9614b265.png)
![nfs41-img-inspector](https://cloud.githubusercontent.com/assets/289743/19385659/44d1f25a-91ff-11e6-8fa6-5ddce8027b12.png)

We do ha

[2016-10-14 13:33] epwinchell commented on #11935
@himdel https://github.com/ManageIQ/manageiq/blob/master/app/assets/images/svg/vendor-openshift.svg or https://github.com/ManageIQ/manageiq/blob/master/app/assets/images/svg/vendor-openshift_enterprise.svg have replaced the fonticon

[2016-10-14 13:52] h-kataria opened #11941 "Container Templates: Cleanup of redundant routes and features added in https://github.com/ManageIQ/manageiq/pull/10303"
@zakiva opening this issue so https://github.com/ManageIQ/manageiq/pull/10303/files#r83417627 can be addressed.

[2016-10-14 14:03] bronaghs commented on #11828
@fvillain - FYI I am looking into this issue.

[2016-10-14 14:05] miq-bot opened #11943 "Fix "Rubocop/Lint/UselessAssignment" issue in lib/rbac/filterer.rb"
Useless assignment to variable - `order`.

https://codeclimate.com/github/ManageIQ/manageiq/lib/rbac/filterer.rb#issue_5800e0dcf2dd7e000100359a

[2016-10-14 14:08] jrafanie commented on #11943
@kbrock can you take a look?

You added the `order` variable in 770a261b4bf93cf8d39a6a9b51bd4e18808c445f and then removed it's use in 062263c0b3c5855dc708e88bce7cdf276dc04a25.

I believe this:

[code]

Should be:

[code]

Can you verify and close this issue?

thanks

[2016-10-14 14:11] miq-bot opened #11944 "Fix "Rubocop/Lint/UselessAssignment" issue in lib/rbac/filterer.rb"
Useless assignment to variable - `order`.

https://codeclimate.com/github/ManageIQ/manageiq/lib/rbac/filterer.rb#issue_5800e7126ba19900010035b1

[2016-10-14 15:02] #11944 closed

[2016-10-14 15:32] #11936 closed

[2016-10-14 15:53] schmandforke commented on #11900
yes i can move in the UI and the server response to SSH and anything else...

here the status of this appliance:
[code]

i will raise the RAM and will give feedback immediately !

[2016-10-14 18:48] chessbyte opened #11953 "Refactor ".nil? ? nil" used in ternary operators"
Run `git grep ".nil? ? nil"` will show over a hundred occurrences.

Refactor to use one of the following techniques:
- From `object.nil? ? nil : object.method_name` to `object.try(:method_name)`
- From `object.nil? ? nil : some_method(object)` to `object && some_method(object)`

[2016-10-14 18:51] chessbyte opened #11954 "Refactor "? true : false" used in ternary operators"
Run `git grep "? true : false"` will show dozens of occurrences.

Refactor to use one of the following techniques:
- From `expression ? true : false` to `!!expression`
- How I wish that Ruby had Object#to_boolean to enable `expression.to_boolean` that hides the ugly `!!expression` under the covers

[2016-10-14 18:55] chessbyte opened #11955 "Refactor " : nil" used in ternary operators"
Run `git grep " : nil"` will show over a hundred occurrences.

Refactor to use one of the following techniques:
- From `object ? object.method_name : nil` to `object.try(:method_name)`
- another approach that is more Ruby-esque

[2016-10-14 19:38] kbrock commented on #11943
@jrafanie thanks. many parallel PRs going on at the same time. remember this specific line too.

[2016-10-14 19:55] chirag08 commented on #11954
Kindly assign this to me, i want to work on this

[2016-10-14 21:51] chrisarcand commented on #11954
@chirag08 You are not in the ManageIQ organization and so can't be assigned, but the pull request will be welcome.

[2016-10-15 00:54] wburns84 commented on #11955
I'm on it.

[2016-10-15 01:45] wburns84 commented on #11955
https://github.com/ManageIQ/manageiq/pull/11966

[2016-10-15 03:02] chirag08 commented on #11954
@chrisarcand ok i am working on it and send you the PR

[2016-10-15 06:29] harman28 commented on #11954
Attempted this resolve this in #11969. Please review.

[2016-10-15 09:44] chirag08 commented on #11954
#11970 Kindly review my PR , i am done with the changes

[2016-10-15 10:21] chirag08 commented on #11953
I am on it

[2016-10-15 11:02] chirag08 commented on #11953
What to be done for assignment statements like
fld = rec.nil? ? nil : rec[field[:name]]

[2016-10-15 15:11] romanblanco commented on #5597
#11114

[2016-10-15 18:48] chirag08 commented on #11955
#11973 Kindly review my PR ,it will definitely optimize performance
I am done with all re-factoring changes

[2016-10-16 12:19] martinpovolny commented on #5597
Yes so once we have the GTL in and we have the toolbars talk to the new GTL via RxJS or somehow we can look into sending some more (invisible) attributes as the data from the `get_view` endpoint and making use of that to enable/disable toolbar buttons.

I'd say that right now I see the priority like this:
 1. getting the GTL's work
 2. make GTL's work through the API (report API)
 3. anything else

[2016-10-16 19:51] martinpovolny opened #11978 "missing method `collect_logs`"
I can see several places where `collect_logs` is used but cannot find it defined.

Most notably app/controllers/miq_policy_controller.rb and app/controllers/miq_ae_tools_controller.rb.

@gmcculloug ,  @lpichler : any idea what that is supposed to do?

I can see only:

[code]

I'd like to cleanup the `button` methods that call it but don't know what is it supposed to be.

Related seems to be `refre

[2016-10-16 20:10] martinpovolny opened #11979 "Use "generic" mixins in new controllers"
Some time ago @Ladas created some mixins to share similar code repeated in many controllers:

See

[code]

e.g. in `app/controllers/cloud_subnet_controller.rb`

Unfortunately we have not refactored all the controllers to use that and we create new controllers that also don't use that.

@h-kataria, @lgalis, @mzazrivec, @AparnaKarve, @ZitaNemeckova : please, take a look if we can catch that in revie

[2016-10-17 07:15] Ladas commented on #11979
Also, it's a good time to look at what is the shared code. E.g. the GenericButtonMixin now shows, that we were copypasting a code used for instances everywhere.

[2016-10-17 08:21] isimluk commented on #11978
This seam to be a dead code:
[code]
There seems to be no such button that sends 'collect_logs' to miq_policy or miq_ae_tools controllers.

[2016-10-17 09:33] martinpovolny commented on #11979
Well @Ladas, there's at least one other group of controllers that has similar shared code, but other that what you did. That is `CimInstanceController` and it's descendants such as OntapStorageVolumeController.

That is pretty generic, but follows a different patter that the one you introduced with you mixins.

I don't think it is beneficial to have 2 ways to do the same thing :-(

Ideas on what t

[2016-10-17 09:39] martinpovolny commented on #11979
Compare `GenericButtonMixin::button` with `CimInstanceController::process_button`: similar structure, just different set of actions dumped there :-(.

[2016-10-17 12:17] himdel commented on #11935
Closed by #11946

[2016-10-17 12:17] #11935 closed

[2016-10-17 12:17] himdel commented on #11936
Closed by #11942

[2016-10-17 12:51] isimluk commented on #11978
Part of this was fixed in https://github.com/ManageIQ/manageiq/pull/11977

[2016-10-17 12:57] isimluk commented on #11978
The `refresh_log` action is valid and working.

Not a dead code.

[2016-10-17 13:03] himdel commented on #11979
I'd keep the mixin version, since .. **a)** it's already a mixin - a bit more flexible, **b)** it's newer (Cim's history goes to the Initial commit, the mixin version is from March).

Otherwise, it's not that important which one, but it is important that we try to use just one of them everywhere :).

[2016-10-17 13:35] Ladas commented on #11979
yeah I think 3rd version is on pages with explorer and vms. But I think, that almost the whole Cloud could be wrapped by the mixins I did, it's mostly the same copypasted code there.

I assume it should look differently than just mixins, but as a first step of getting rid of the copypasted code, it's good.  :-)

[2016-10-17 18:55] #11943 closed

[2016-10-17 19:03] chrisarcand commented on #11954
This is partially fixed in #11969.

[2016-10-17 19:05] harman28 commented on #11954
Okay if I do another PR in which I replace all instances of `expression ? false : true` with instances of `!(expression)`? I'm guessing that's what I missed.

[2016-10-17 19:11] chrisarcand commented on #11954
@harman28 There are others with `true : false` but another pull request is already open for them (@chirag08 #11970).

I'll leave the `false : true` for @chessbyte or @Fryguy to decide on, I'm more indifferent to changing those.

[2016-10-17 20:06] martinpovolny commented on #11978
what about the 2 implementations? and missing RBAC check in one of them?

[2016-10-17 21:35] h-kataria opened #12004 "UI: Analysis Profile - Edit of existing Registry Item is not working"
When trying to edit an existing Registry Item, Update button to the left to Registry Item row does not do anything.
Issues reported on ManageIQ talk http://talk.manageiq.org/t/cannot-add-edit-registry-entry-in-analysis-profile-vm/1796

[2016-10-17 21:41] h-kataria commented on #12004
@epwinchell looks like not all of the images were converted to use fonticons in this PR https://github.com/ManageIQ/manageiq/pull/6438, Update button on "Registry" and "Event Log" tabs are broken.

[2016-10-17 21:58] gmcculloug commented on #11978
Not sure about `collect_logs` method, hoping @jrafanie or @gtanzillo can recall something.

[2016-10-18 06:15] rwsu opened #12010 "OpenStack infra node destroy should use SupportFeaturesMixin instead of validate_<feature>"
This issue was raised in this rPR https://github.com/ManageIQ/manageiq/pull/11500

[2016-10-18 08:50] skateman opened #12017 "Refactoring view related JavaScripts (onload, styling, etc)"
Currently we're calling too much JS on too many places. Also we're exposing a lot of JS functions on pages where it is completely unnecessary (login, consoles, etc). So my idea is to:
- Divide our non-app views into a few categories based on what kind of JS they require
- Create new JS _metafiles_ for each category where only the necessary JS gets loaded
- Add these new _metafiles_ to the `config/

[2016-10-18 08:51] skateman commented on #12017
cc @martinpovolny @himdel @dclarizio

[2016-10-18 08:58] martinpovolny commented on #12017
@skateman: I wonder about priority of this refactoring compared to other refactoring tasks. See search label:"tech_debt/refactoring" in UI project in pivotal.

I mean those are issues that grow with time as people cut-n-paste around and will grow until we address them.

Also see: https://www.pivotaltracker.com/n/projects/1619601 backlog, there I created tasks related to UI splitting.

Overall I th

[2016-10-18 09:05] skateman commented on #12017
@martinpovolny sure, it's definitely a low-priority task, just wanted to document this idea before I forget it (again).

[2016-10-18 09:17] martinpovolny commented on #12017
Will you add it to pivotal?

[2016-10-18 09:23] skateman commented on #12017
https://www.pivotaltracker.com/story/show/132650949

[2016-10-18 11:47] NagyBandi opened #12023 "Wrong example for API call "Assigning Tags to a Virtual Machine""
Hi, I think I stumbled upon an error in the API doc. Here: http://manageiq.org/docs/reference/latest/doc-REST_API/miq/#_sect_tags the example requests for 3.3.5 and 3.3.6 are the same. Shouldn't 3.3.5 be
[code]
?

[2016-10-18 14:20] jrafanie commented on #11978
@martinpovolny I have no idea what `collect_logs` does in the context of policy or ae_tools.  for app/controllers/ops_controller/diagnostics.rb, that makes sense as that's the place you would use to select which zone or server you want to collect zipped logs.  If it exists in the policy and ae_tools controllers, and you can't find where it's called, I'd guess that something was copied from ops/dia

[2016-10-18 17:16] #11828 closed

[2016-10-18 17:36] jrafanie opened #12034 "Fixup Lint/UselessAccessModifier (ex. private in included modules)"
[code]

Use `rubocop --only Lint/UselessAccessModifier` to confirm it's fixed.

Please correct obvious ones using `private_class_method`.

See also #11031 and #11032

[2016-10-18 17:41] jrafanie opened #12035 "Fixup Lint/IneffectiveAccessModifier (ex. private keyword before singleton methods)"
There are ~80 offenses.

To see them:

`rubocop --only Lint/IneffectiveAccessModifier`

Use `rubocop --only Lint/IneffectiveAccessModifier` to confirm it's fixed.

Please correct obvious ones using private_class_method.

Related to #12034

See also #11031 and #11032

[2016-10-18 19:25] josejulio opened #12037 "Add deployment should not be allowed on a hawkular server"
I noticed that you can add a deployment on a hawkular server but you can't disable / remove it.
I suppose you shouldn't be able to add deployments at all.

@miq-bot add_label providers/hawkular, bug

[2016-10-18 19:42] kbrock commented on #11901
1. Not sure if always defining `parse` or making it optional is better.
2. For the singular nodes, you may want to allow attributes to be used in the `node` declaration.
3. While just yielding the actual object from `node` will be simpler. Also remember you can yield a parser object. this give you more flexibility, more code to test, and allows you to keep `dto` separate from the dsl.

While the f

[2016-10-18 19:51] mkanoor opened #12038 "Convert Automate Methods to new style using classes"
Convert the Automate methods to new style using classes to facilitate testing outside the Automate Engine.

Notes:
1. Each method needs to have a corresponding spec using the same path as the method file.
2. Most of the methods can be tested outside of the Automate Engine using
   - Mock Service
   - Mock Objects
3. The methods should not have an exit call since that exits RSpec.
4. As each method

[2016-10-18 22:51] AndyStabler commented on #12035
I can pick this up ✋

[2016-10-19 01:54] chrisarcand commented on #11953
`fld = rec && rec[field[:name]]` should suffice.

[2016-10-19 04:05] rubenvp8510 commented on #12037
@miq-bot assign ruben.vp8510

[2016-10-19 08:35] romaintb commented on #11828
Wonderful, thanks to everyone involved :)

[2016-10-19 10:17] schmandforke commented on #11900
Hey,

i raised the RAM to 16GB and 6 Cores, and changed some memory threshold settings:

![bildschirmfoto 2016-10-19 um 12 14 52](https://cloud.githubusercontent.com/assets/3358506/19514928/b0393f40-95f5-11e6-93b0-3b13cdea3276.png)

but the error still appears...

[2016-10-19 13:08] fvillain commented on #11828
It is great news ! Thanks !  :)

[2016-10-19 13:21] jrafanie commented on #12035
Thanks @AndyStabler, I'll take a look at your pull request soon.

👍

[2016-10-19 13:39] abellotti commented on #12023
Both good, tag assignment can be by fqname or by category/name pair.  Both styles are shown here: http://manageiq.org/docs/reference/latest/api/examples/assign_tags

[2016-10-19 13:39] #12023 closed

[2016-10-19 15:14] #11875 closed

[2016-10-19 20:23] #11689 closed

[2016-10-19 22:01] nickgnd commented on #12034
I'm on it 😄  I send you a PR asap!

[2016-10-19 22:18] gildub commented on #11555
Since Fog-openstack version has been moved up to 0.1.15, Neutron extensions are now available.

[2016-10-20 12:56] Jiri-Kremser opened #12074 "Middleware provider reports incorrect number of domains if the domain mode consist of multiple hosts"
If the WildFly/EAP servers run in a domain mode and form a domain that is spread across multiple hosts, in the MiQ it should be displayed as 1 big domain. Instead it shows 1 domain per 1 host, which is wrong.

repro steps:
1. `git clone https://github.com/Jiri-Kremser/hawkfly-domain-dockerfiles`
2. `cd hawkfly-domain-dockerfiles/images`
3. `./build-all.sh`
4. `cd ../scenarios/n-hosts/simple/`
5. `

[2016-10-20 13:57] blomquisg commented on #11924
Sending to @dclarizio for a first glance ... if this is really something that needs to be fixed on the service side, reassign to @gmcculloug

[2016-10-20 15:06] ZitaNemeckova opened #12081 "Edit Report Menu tree's selection isn't working"
`Operations` is selected:
![screen shot 2016-10-20 at 4 28 10 pm](https://cloud.githubusercontent.com/assets/9210860/19563981/48b7d78a-96e2-11e6-828c-60781c452229.png)

First and second level of this tree has broken selection.

[2016-10-20 17:50] martinpovolny opened #12085 "Follow up for UI: Router Provisioning with Network Provider"
Please, address the feedback from PR review or https://github.com/ManageIQ/manageiq/pull/11477

Most notably simplify the `button` method, look at arguments passed and method names.

Also check Rubocop and Codemirror issues such as "Use `Integer` instead of `Fixnum`."

ping @gildub

[2016-10-20 17:59] tzumainn commented on #12085
@miq-bot assign @gildub

[2016-10-20 22:53] gildub commented on #12085
@martinpovolny , @tzumainn , seems like I've to be added to the member list, who should I talk to?

[2016-10-21 02:04] gildub commented on #12085
Hi @chessbyte,

Could you please add me to the member list so I can this one assigned to me?

Cheers,
Gilles

[2016-10-21 02:06] tzumainn commented on #12085
@chessbyte I tried adding him to the OpenStack group you kindly created a while back, but it said that I didn't have the correct administrator privileges... ?

[2016-10-21 12:24] romaintb commented on #11900
I experience this from the API too, the more templates I have, the longer it takes for the provision_request to get created. (with 5000 templates, API `POST /provision_requests` takes more than 30s)

[2016-10-21 13:24] skateman commented on #12081
@miq-bot assign @skateman

[2016-10-21 14:06] henrygrover commented on #10932
Not sure if this is the same issue, but I'm experiencing similar with a drop down menu. It has two options (ro and rw) with a default of <None>, but when a user attempts to provision it comes up as ro, which causes problems farther down the line.

[2016-10-21 14:10] gmcculloug commented on #10932
@henrygrover PR #11454 should resolve this issue.

@eclarizio Please review and so we can mark this issue as closed.

[2016-10-21 14:33] gmcculloug commented on #11900
My guess is this is due to the workflow processing of the templates starting here [app/models/miq_provision_virt_workflow.rb#L758](https://github.com/ManageIQ/manageiq/blob/2b66b540383cd923ba4d291d0c822bae78cec167/app/models/miq_provision_virt_workflow.rb#L758) with a good bit of work done here [app/models/miq_provision_virt_workflow.rb#L330](https://github.com/ManageIQ/manageiq/blob/2b66b540383cd

[2016-10-21 19:11] abellotti opened #12110 "/api/automate not working with API Client"
- AE browser interface needs to support id for automate domains /api/automate/:id
- actions not exposed with automate domains returned from /api/automate, this prohibits actions from being available from the API Client, i.e. refresh_from_source action not working.

[2016-10-21 21:23] jrafanie opened #12112 "Authentication retry cleanup"
Followup to #11964
- Change hardcoded MAX_ATTEMPTS to figure out how many tries to do based on the configured schedule interval, see below
- Move private methods to actual private methods, remove tests or change them to send
- Create `normalized_status` method to avoid `auth.status.to_s.downcase`

From Jason:

[code]

[2016-10-24 09:01] lpichler commented on #11365
removed in https://github.com/ManageIQ/manageiq/pull/11791

[2016-10-24 09:01] #11365 closed

[2016-10-24 11:40] hstastna commented on #11189
This is fixed by https://github.com/ManageIQ/manageiq/pull/11393
so we can close this issue.

[2016-10-24 11:54] sergio-ocon commented on #11041
This is a great one

[2016-10-24 12:50] durandom commented on #11900
@gmcculloug sure, it's yours :plate_with_cutlery: thanks for stepping in

@miq-bot assign @gmcculloug

[2016-10-24 12:53] durandom commented on #11900
@gmcculloug maybe add the UI team too, to increase that JS timeout? And how about the performance?

[2016-10-24 13:41] Ladas commented on #11901
@kbrock @durandom @Fryguy @agrare ok, I am thinking we will need to separate Node (Dto collection, a prescription for saving) from Remote (remote proxy fetcher of data, which produces data by parsing, or produces other collections on side)

[code]

[2016-10-24 14:02] durandom commented on #11901
I'm not sure if adding a DSL style parser description at this point makes sense, sorry.

My main concern is making the parser part as easy as possible for provider authors.
Hence, I think we should just define one API from MIQ to the Provider and this API is the DtoCollection.
Miq requests DtoCollection -> Provider returns DtoCollection.

How the collection is filled? That is up to the Provider. T

[2016-10-24 14:36] Ladas commented on #11901
@durandom the main reason of the DSL is not being pretty. :-) We need to build a graph, so we can know e.g. what API requests can be done in threads/parallel. So it's enhancing what ovirt does https://github.com/Ladas/manageiq/blob/e1009e0ee38e2bf9eac0ed85e26736ddbba4047b/gems/pending/ovirt_provider/inventory/ovirt_inventory.rb#L117-L117

They have 2 levels, that they collect in parallel. So we sh

[2016-10-24 16:02] ammendonca commented on #10600
Guess this has been fixed with https://github.com/ManageIQ/manageiq/pull/11216 ?

[2016-10-24 23:55] #594 closed

[2016-10-25 02:18] abellotti commented on #11035
@imtayadeway is this resolved ?

[2016-10-25 02:19] abellotti commented on #12110
Solved by https://github.com/ManageIQ/manageiq/pull/12118

[2016-10-25 02:19] #12110 closed

[2016-10-25 08:43] agonzalezrh commented on #8929
Edit config/database.yaml
and for production remove the line "encoding: utf8"
then systemctl restart evmserverd

and it should work.

[2016-10-25 10:19] durandom opened #12159 "specs does not break with undefined constants"
We had this PR https://github.com/ManageIQ/manageiq-providers-amazon/pull/40 which references [::ServiceLoadBalancer](https://github.com/ManageIQ/manageiq-providers-amazon/pull/40/files#diff-dbee9a6631e83afb3dd9c76cc740e56dR1) which was not merged into ManageIQ yet.

Tests would run fine, because they [autoload](https://github.com/ManageIQ/manageiq/blob/26415582a79eaf689711fb27a49a38fe640a3340/lib

[2016-10-25 11:57] ammendonca commented on #10908
This seems to have already been fixed. Here's how it is in current master:
![image](https://cloud.githubusercontent.com/assets/1737954/19685049/6ed1931a-9ab2-11e6-8aa2-ee22c012dabb.png)

![image](https://cloud.githubusercontent.com/assets/1737954/19685058/7a779b60-9ab2-11e6-9315-3d472c0bcc99.png)

[2016-10-25 13:20] jrafanie commented on #12159
@durandom I guess my first concern is that we should define `::ServiceLoadBalancer` before we try to use it.  Even if it's an empty class, we need to define the constant in MIQ before we try to use it in the provider.

[2016-10-25 13:24] jrafanie commented on #12159
Honestly, I wouldn't want to write tests for this.  Constant loading is hard to reliably test especially from within the rails context.  I'd have a feeling we'd have more problems than just making sure we do things in the right order.

Basically, when you have dependent PRs, you need to mark the first one as ready to go and the others as "dependent on xyz.... WIP", etc. and don't un-WIP it in unti

[2016-10-25 13:28] durandom commented on #12159
@jrafanie yes, of course :), that was defined in a dependent PR, which was not yet merged yet.

I was just concerned that CI did not catch this.
If there is no easy fix like set `cache_classes = false` for tests or run `db:seed` in CI, then its fine...

[2016-10-25 13:37] jrafanie commented on #12159
If there is no easy fix like set cache_classes = false for tests or run db:seed in CI, then its fine...

Yeah, I would as best practice keep the dependent PR as WIP and not unwip it until the prerequisite is merged and we rebase the WIP PR (or just re-run the build with the new MIQ) so we know for sure they're working together.

But yeah, I don't know of a reliable way of testing cache_classes vs.

[2016-10-25 14:05] #12159 closed

[2016-10-25 14:39] Ladas commented on #12159
@jrafanie right, but still CI should catch it, LBs had like 9 PRs, I thought the dependencies were merged, but they were not :-)

[2016-10-25 14:49] necarnot commented on #7573
Hello,

Does all this mean that ManageIQ version '*' + oVirt 4.y.z is not working so far?

[2016-10-25 14:51] chrisarcand commented on #12159
I agree with @jrafanie.

* If you were to treat this setup as a more 'normal' project, you simply wouldn't run in to the issue of 'A plugin library is literally writing to an API that doesn't yet exist in the core project.' Think outside the scope of ManageIQ and that's a pretty weird scenario that doesn't normally exist, in part because...

* ...the fact that we're using the live `master` branch

[2016-10-25 14:53] jhernand commented on #7573
No, the issues with oVirt 4 have been addressed. I am closing this issue.

[2016-10-25 14:53] #7573 closed

[2016-10-25 15:54] cynepco3hahue commented on #11738
@durandom Someone already works on it or I can take it?

[2016-10-25 16:02] durandom commented on #12159
I partly disagree.

This can also happen on a single PR on ManageIQ:

[code]

This would also not be catched by CI - but as said, it's the authors fault and due to the nature of dynamic languages.

And :100: for @chrisarcand last comment. Thats what we are aiming for and how it should be...

[2016-10-25 16:14] #11737 closed

[2016-10-25 16:20] jrafanie commented on #12159
👍  I agree.  It's easy to abuse "live" branches.  Features must be finished and shipped before we try using them.  Try not to use live branches, use git tags whenever possible.

[2016-10-25 16:39] Jiri-Kremser commented on #12074
@miq-bot add_label ui

[2016-10-25 17:17] jshaughn opened #12182 "Timeline event bubble can't handle certain characters"
Clicking a timeline event generates rendering errors if an event field value contains a newline or a double-quote.  This is the root cause of https://bugzilla.redhat.com/show_bug.cgi?id=1388040.  The hawkular provider events ran into this regression when the new timeline widget was introduced. A workaround has been supplied for the provider but to protect all events this is likely an issue to be h

[2016-10-25 17:34] jshaughn commented on #12182
@miq-bot add-label bug

[2016-10-25 20:26] amavinag commented on #10300
we are observing this issue more often in recent nightly builds. is there any update on this issue?
/cc @simaishi @dajohnso

[2016-10-26 08:31] ghost opened #12194 "OpenStack - The requested availability zone is not available"
Hello,

I have been redirected to open this issue from http://talk.manageiq.org/t/openstack-the-requested-availability-zone-is-not-available/1827
I think that this is also related with: http://talk.manageiq.org/t/why-are-there-two-nova-availability-zone/1771/3

This is the text of my topic:

We are getting an error when provisioning VMs in RedHat OpenStack (Juno) with MIQ (darga-3 updated up to 4f

[2016-10-26 11:57] sergio-ocon commented on #11446
We propose to do this adding two columns to the miq table to create a polymorphic association to the parent element:
- A parent_id
- A parent_type
So any task is associated to the reponsible for creating it (request, service, other task, etc).
In that way, logs could be enhanced with this information and thus you should be able to follow that relationship in log management tools like Splunk, Logst

[2016-10-26 11:58] sergio-ocon commented on #11446
@pemcg Please review

[2016-10-26 12:02] pemcg commented on #11446
I also submitted an RFE on this: https://bugzilla.redhat.com/show_bug.cgi?id=1386108, although this only mentions adding the request ID. Sergio's suggestion of adding a generic parent id would definitely improve on this.

[2016-10-26 12:34] cynepco3hahue commented on #11735
@durandom I believe we can close it because #11752

[2016-10-26 12:36] hstastna opened #12199 "Name of a choosen filter not displayed in Infrastructure Providers"
Name of a choosen filter from My Filters is not displayed
 in Compute -> Infrastructure -> Providers
and also in many other places.

![filtered_by](https://cloud.githubusercontent.com/assets/13417815/19726023/21621686-9b89-11e6-9941-a2e3125b1e74.png)

[2016-10-26 12:36] hstastna commented on #12199
@miq-bot add_label bug, ui

[2016-10-26 13:47] carbonin commented on #10300
I opened a PR that will hopefully give us some additional information around the spot where we start and enable the `evmserverd` service.

If this happens again, check the `appliance_console.log`. It may have more detail.

[2016-10-26 20:53] syncrou opened #12225 "MiqScheduleWorker continuously dies."
Environment: Development
OS: OSX Sierra (10.12.1)

Running `rake evm:start` off of master.

User scheduled jobs never run as the `MiqScheduleWorker` is constantly killed off due to the worker hitting memory constraints.

editing `config/settings.yml` `:schedule_worker` `:memory_threshold` to a higher value solves the problem and user schedules run as expected.

I have not verified this is an issue

[2016-10-26 20:55] syncrou commented on #12225
@miq-bot add_label core

[2016-10-27 12:47] #11735 closed

[2016-10-27 13:19] chargio opened #12239 "Configuration button misplace in Time Profiles"
When using the configuration, you can choose:
Visual | Default Views | Default Filters | Time Profiles

All of them show the same interface, but time profiles move the tabs down to show a COnfiguration button.
That button should be under the tabs

[2016-10-27 14:27] zeari opened #12241 "Containers Provider does not validate bearer authentication when created"
Theres a workaround: click on 'Re-check Authentication Status' from the provider summary page.
![screencapture-localhost-3000-ems_container-4-1477578051018](https://cloud.githubusercontent.com/assets/11256940/19771166/a42f29fa-9c6a-11e6-8c15-9ed986ca25d2.png)

fyi @simon3z @yaacov
@miq-bot add_label providers/containers, bug

[2016-10-27 14:32] chargio opened #12242 "Latest euwe version slow accessing users"
A newly spinned euwe image.
If you try to access group and role configuration, it takes more than a minute the first time

[2016-10-27 14:33] chargio opened #12244 "self-service default role does not have access to self-service"
Default self-service user (and self-service-limited user) do not have access to the self service.

Solutions:
- Change the role / group name to somehting that makes sense
- Change those to include services

[2016-10-27 14:42] sergio-ocon opened #12245 "Copying a role does not work"
Copying a role to another so you can modify it does not work.

You get a Password and UserID can't be blank error.

![screenshot from 2016-10-27 16-42-34](https://cloud.githubusercontent.com/assets/7500590/19771781/64412466-9c64-11e6-8e9b-a9de0273142e.png)

[2016-10-27 14:44] sergio-ocon commented on #12245
Adding from scratch gives the same error

[2016-10-27 14:49] sergio-ocon commented on #12245
I couldn't replicate the error downstream.

I was using the docker image

[2016-10-27 14:50] sergio-ocon commented on #12245
@miq-bot add_label   bug

[2016-10-27 14:51] sergio-ocon commented on #12242
@miq-bot add_label   bug

[2016-10-28 06:51] evenit opened #12266 "[RFE] Extend custom buttons visibility criteria"
As a service catalog adminsitrator, I want to be able to set custom buttons (Atuomate > Customization > Buttons) visibility by more criteria than role.

An example use case, is integration with third party tools: the integration of NSX has no meaning in the context of a RHEV provider, or a vCenter provider where NSX is not deployed. Thus, I need to be able to limit visibility based on Provider sub

[2016-10-28 09:19] cben commented on #7460
Where can one use auto-tagged read_only tags:

- [x] Reports - fixing in #10459
- [ ] Policies for tag [un]assigned events won't fire because we don't go through "classify is_request: true" mechanism.  Is this OK?
- [ ] Policy "assign tag" action - TOCHECK if it's allowed, probably shouldn't be.
- [ ] Custom action "inherit parent tag" - shows read_only tags; TOCHECK do they work?, probably should

[2016-10-28 09:21] cben commented on #10272
Fixed everywhere by #11792 and #11818.

[2016-10-28 09:22] #10272 closed

[2016-10-28 09:22] cben commented on #10539
Yes, was a dup.  Fixed everywhere by #11792 and #11818.
master BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1380683
euwe BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1387410

[2016-10-28 09:40] simon3z commented on #10539
@blomquisg @quarckster can you close this?

[2016-10-28 09:42] #10539 closed

[2016-10-28 14:29] #12004 closed

[2016-10-28 17:30] epwinchell opened #12278 "Toolbar buttons missing on Compare and Drift Screens"
![screen shot 2016-10-28 at 1 28 23 pm](https://cloud.githubusercontent.com/assets/1287144/19815797/8147e794-9d12-11e6-8c6b-fadd4172dcd7.png)

![screen shot 2016-10-28 at 1 26 06 pm](https://cloud.githubusercontent.com/assets/1287144/19815798/814e5d68-9d12-11e6-86e5-6e4726e0515c.png)

![screen shot 2016-10-28 at 1 29 58 pm](https://cloud.githubusercontent.com/assets/1287144/19815828/a8f61180-9d12-

[2016-10-28 17:31] epwinchell commented on #12278
@miq-bot ui, bug

[2016-10-28 17:31] epwinchell commented on #12278
@miq-bot assign @romanblanco

[2016-10-31 14:19] romanblanco commented on #12278
@epwinchell Which buttons are missing?

[2016-10-31 14:24] epwinchell commented on #12278
Expanded/Compressed, All/Same/Different, etc

[2016-11-01 07:07] romanblanco commented on #12278
@miq-bot add_label bug, ui

[2016-11-01 07:17] romanblanco opened #12323 "Issue on Host detail screen"
I'm getting error on Hosts detail screen

[code]

probably introduced by #11634

![screenshot from 2016-11-01 08-16-31](https://cloud.githubusercontent.com/assets/1187051/19882129/8565b364-a00b-11e6-8ad4-6024653e4b52.png)

[2016-11-01 07:17] romanblanco commented on #12323
@miq-bot add_label bug, ui

[2016-11-01 07:34] romanblanco commented on #12323
@miq-bot assign @romanblanco

[2016-11-01 19:27] #12323 closed

[2016-11-01 23:04] gildub commented on #12085
Hi @chessbyte,

Could you please add me to the member list so I can this one assigned to me?

Cheers,
Gilles

[2016-11-02 15:28] Jiri-Kremser opened #12356 "Middleware provider reports the incorrect name of the domain"
By default the domain name is taken from the name attribute of the domain element in the `domain.xml` config file of WildFly/EAP server. If it's not provided, the "Unnamed Domain" is used. Currently the feed_id is obtained by concatenating the host/domain controller name, `"."` and id and the domain name. Often it's just `master.Unnamed%20Domain`. This is ok. What is wrong is the way how we obtain

[2016-11-02 16:39] epwinchell opened #12361 "Replace Server Group and Domain font icons"
The latest version on Patternfly (v 3.13) includes the new icon classes "pficon-server-group" and "pficon-domain." Changes made in: https://github.com/ManageIQ/manageiq/pull/11655 should be updated to refer to the new PF versions rather than the "product" class versions.

I'll create a followup PR to remove the "product" class versions, afterward.

[2016-11-02 16:40] epwinchell commented on #12361
@miq-bot add_label ui, technical debt

[2016-11-02 16:40] epwinchell commented on #12361
@miq-bot assign @Jiri-Kremser

[2016-11-02 16:41] epwinchell commented on #12361
@miq-bot add_label euwe/no

[2016-11-02 17:23] romanblanco opened #12363 "Error on Host conditions page"
On Condition page I'm getting error for some of Host conditions

[code]

See screenshots

![2016-11-02-182053_2160x1920_scrot](https://cloud.githubusercontent.com/assets/1187051/19939447/548352d2-a129-11e6-8009-4a4efdc1b6e0.png)

[2016-11-02 17:24] romanblanco commented on #12363
@miq-bot add_label bug

[2016-11-03 12:34] mud500 opened #12385 "List of VMs not refreshed in GUI after selecting details of a VM"
Occurs in: Euwe RC1 (tested with admin account on Global Region)
Steps to reproduce:
1) go to Compute -> Infrastructure -> Virtual Machines;
2) select the "VMs" accordeon, and select any visible VM for details;
3) select another accordeon ("VMs & Templates" or "Templates");
4) select the "VMs" accordeon again

Notice that the list of VMs is not refreshed properly, and the title of the listing is n

[2016-11-03 13:46] zeari commented on #12241
Solved by https://github.com/ManageIQ/manageiq/pull/11504

[2016-11-03 13:46] #12241 closed

[2016-11-03 13:49] mud500 opened #12392 "Cloning existing Template results in VM"
Occurs in: Euwe RC1 (tested with admin account on Global Region, provider VMware vCenter)
Steps to reproduce:

1) go to Compute -> Infrastructure -> Virtual Machines;
2) select the "Templates" accordeon;
3) pick an existing template;
4) through 'LifeCycle", select "Clone selected Template".
This results in the form "Clone Virtual Machine", as follows:

![2016-11-03_14h38_48](https://cloud.githubus

[2016-11-03 13:55] kruge002 opened #12393 "Unable to provision a virtual machine as tenant administrator"
Occurs in: Euwe RC1 (tested with a tenant account on the Global Region, provider VMware vCenter)

Steps to reproduce the issue:
1) Login as user having the role **EvmRole-tenant_administrator**
1) Go to Compute -> Infrastructure -> Virtual Machines;
2) Select Lifecycle -> Provision VMs
3) Enter the VM properties
4) Click the Submit button

The activity indicator is showing for a second but after t

[2016-11-03 13:56] LarsMilland opened #12394 "SmartState Analysis on OpenShift Origin Docker images failing with HTTPBadGateway error when scanning Job polls pods for health status"
Hi

I am trying to get the SmartState analysis of container images with ManageIQ up running on an OpenShift Origin 1.3.0, using the Docker version of ManageIQ created 31 october with "latest" tag of DockerHub.

The analysis starts up its pods on the connected OpenShift environment fine and the analysis of the images also runs just fine, but ManageIQ in the ruby code of:

app/models/manageiq/provid

[2016-11-03 14:30] kruge002 opened #12400 "New role cannot be added"
Occurs in: Euwe RC1 (tested with admin account on Global Region)

Steps to reproduce:
1) Login to MIQ as admin
2) Go to: Administrator -> Configuration -> Access Control -> Roles
3) Select Configuration -> Add a new Role
4) Enter a name e.g. "EvmRole-test001"
5) Click the Add button

Two error messages appear:
- Password can't be blank
- Userid can't be blank

![2016-11-03_09h29_13](https://cloud.

[2016-11-03 14:37] skateman opened #12401 "Cannot expand tree nodes on Infra -> PXE -> Customization templates"
[code]

@ZitaNemeckova can you take a look please, this is blocking me :cry:

[2016-11-03 14:40] mud500 opened #12402 "Archived VM can't be removed by admin user in Global Region"
Occurs in: Euwe RC1 (tested with admin account on the Global Region, provider VMware vCenter)

Steps to reproduce the issue:

1. Login as admin user at the Global Region appliance
2. Go to Compute -> Infrastructure -> Virtual Machines
3. Select the "VMs" accordeon, and select an archived VM
4. Through "Configuration", select "Remove selected items".

The following message appears: "All selected VM

[2016-11-03 14:55] kruge002 opened #12405 "Archived Template can't be removed by admin user in Global Region"
Occurs in: Euwe RC1 (tested with admin account on the Global Region, provider VMware vCenter)

Steps to reproduce the issue:

1) Login as admin user at the Global Region appliance
2) Go to Compute -> Infrastructure -> Virtual Machines
3) Select the "All VMs & Templates" accordeon, and select an archived Template
4) Through "Configuration", select "Remove selected items".

The following message app

[2016-11-03 15:19] kruge002 opened #12409 "Publish selected VM to a Template results in VM"
Occurs in: Euwe RC1 (tested with admin account on Global Region, provider VMware vCenter)
Steps to reproduce:

1) go to Compute -> Infrastructure -> Virtual Machines;
2) select the "All VMs & Templates" accordeon;
3) pick an existing VM;
4) through 'LifeCycle", select "Publish selected VM to a Template".

This results in the form "Publish Virtual Machine", as follows:

![2016-11-03_16h07_41](https

[2016-11-03 15:31] agrare opened #12412 "POC Skeletal Refresh with DTO"
Implement a POC of skeletal refresh with DTO to investigate how they will work together.

A Skeletal refresh is defined by retrieving a subset of information about a large number of inventory items (all of them if possible) and queue an action to fill out the rest of the information about each object later.

This allows lower memory usage because the full inventory set doesn't need to be in memory

[2016-11-03 15:54] skateman opened #12414 "Cannot expand tree nodes on Infra -> PXE -> ISO Datastores"
[code]

@ZitaNemeckova can you take a look please, this is blocking me :cry:

[2016-11-03 18:38] Fryguy opened #12420 "EMS Relationships accordion's "VMs & Templates" link points to "Hosts & Clusters""
### Steps to Reproduce

1. Go to Compute -> Providers and choose a provider
2. Open Relationships according in the listnav on the left and choose VMs & Templates

Expected: It should open the VMs & Templates tree
Actual: It opens Hosts & Clusters tree

### Analysis

The URL for the VMs & Templates is the same as Hosts & Clusters, with an extra param of `&vat=true`

I looked at the code in the list

[2016-11-03 18:42] Fryguy commented on #12405
Marking as duplicate of #12402 since VMs and Templates are effectively the same under the covers.

[2016-11-03 18:42] #12405 closed

[2016-11-03 18:44] Fryguy commented on #12402
@gtanzillo I'm not sure removal of archived items was on the docket for Central Admin, but here's an issue for it.

[2016-11-03 18:46] Fryguy commented on #12400
@carbonin Not sure if central admin is causing this, but can you take a look?

[2016-11-03 18:47] Fryguy commented on #12393
@carbonin More central admin stuff.  I'm pretty sure `Invalid System Authentication Token specified` comes from that effort.

[2016-11-03 18:49] Fryguy commented on #12392
This might just be a terminology problem, because "cloning a template" isn't really something that one can do, I think.  It's possible we shouldn't show the clone button at all on the templates screen.

@dclarizio Thoughts?  Is this a UI bug or an actual backend issue?

[2016-11-03 18:50] Fryguy commented on #12409
@dclarizio Can you look at this issue as well... seems related to #12392

[2016-11-03 18:51] Fryguy commented on #12385
This may be related to #12420 .  cc @dclarizio @hayesr

[2016-11-03 18:56] carbonin commented on #12402
I don't think this is supported through the global region.

Right now we just have powerops and retirement.

[2016-11-03 18:58] carbonin commented on #12393
Yeah, it sounds like you didn't properly set up the central administration authentication.

This can be done on the same page as the replication subscriptions on the global region appliances.

The authentication needs to be configured once for each remote region.

[2016-11-04 11:42] mud500 commented on #12393
Our guess is that it could be another issue in its own right (i.e. not having to deal with setting up C-A authentication), since we are able to do certain Central Admin things, from the Global Region in other regions.

[2016-11-04 15:13] cankarm opened #12440 "Openstack - Flavor <flavor id> could not be found"
**Problem**: Refresh Provider does not work after the flavor in Openstack is removed/changed.

**The appliance release affected**: http://releases.manageiq.org/manageiq-openstack-euwe-1-rc1.qc2

**Description**: If you change the flavour in Openstack (i.e. accessibility,etc), the ID of the flavor changes. ManageIQ is still expecting to find the old non-existant flavor. Here is the error code from

[2016-11-04 21:09] mkanoor commented on #10809
Fixed in PR https://github.com/ManageIQ/manageiq/pull/11731

[2016-11-04 21:10] #10809 closed

[2016-11-04 21:19] jrafanie opened #12453 "Our model look like anonymous classes on NoMethodErrors for class methods"
Many hours were wasted because they looked like an anonymous class and not a model.

See https://github.com/ManageIQ/manageiq/pull/12451
[code]

[2016-11-04 21:37] bzwei opened #12454 "Where to place shared orchestration template class?"
When we started the work of orchestration, the first template type we supported is AWS Cloudformation. This is a format that both AWS and Openstack supports. We then decided `OrchestrationTemplate` and its subclasses should be at the root level under models.

As we added more template types, such as Azure Deployment template, and Vmware vApp template, they seem to be more provider specific. It see

[2016-11-04 22:53] abellotti opened #12456 "Provider cloud_networks can cause internal_server_error"
When browsing the providers, but expanding the cloud_networks subcollection, having infrastructure providers will cause a 500, not a good thing:

[code]

[code]

We need the cloud_networks subcollection to return nothing for providers that don't have any so queries like the above will work.

[2016-11-04 23:14] imtayadeway commented on #12453
/cc @imtayadeway

[2016-11-05 00:25] imtayadeway commented on #12453
@jrafanie this looks like an issue with Ruby. Example:

[code]

If the result of `inspect` is > 65 characters, `NoMethodError` gets raised with the same signature as an anonymous class. If <= 65, it'll use the result of `inspect`. My C is not good enough to work out why, though!

[2016-11-05 19:00] evenit opened #12459 "[RFE] Allow to set display name of custom attributes"
Custom attributes are used to store unstructured data (string) attached to objects. Currently, one can only set a key and a value. The key and value are most of the time technical strings, i.e. snake/camel/whatever case, used to store data directly attached to the object and exposed to the user. This is not very user friendly.

It would be great to be able to set a display name for the key and for

[2016-11-05 19:03] evenit opened #12460 "[RFE] Allow to set visibility of custom attributes"
Custom attributes are useflu to store data along an object without modifying the object class, and thus going through a complex coding process. However, one may want to store data and not display it to the user, like it is currently possible to achieve with tags, through "Show in console" option.

A example of method definition would be:

[code]

[2016-11-07 10:42] zeari opened #12465 "New custom attributes do not appear in reports"
The available fields in reports are computed once [here](https://github.com/manageiq/manageiq/blob/master/lib/miq_expression.rb#L1193-1193) so if new custom attributes are added, they do not appear in reports.
you can run `rake evm:restart` as a workaround.

@lpichler @cben @bazulay

Edit: Its the same for new tags too

To reproduce:
* Create a report with custom attributes
* Add new CustomAttribu

[2016-11-07 10:43] durandom commented on #12454
I think having a base model `OrchestrationTemplate` at `app/models` and providers inheriting from that class is the common approach right now. So you'd have
`OrchestrationTemplate < Providers::Azure::CloudManager::OrchestrationTemplate`

For the "shared" templates, maybe a base class in between makes sense?

`OrchestrationTemplate < OrchestrationTemplate::Cfn <  Providers::Amazon::CloudManager::Or

[2016-11-07 11:32] lpichler commented on #12465
@miq-bot assign lpichler

[2016-11-07 11:32] cben commented on #12465
Opened https://bugzilla.redhat.com/show_bug.cgi?id=1392379, has very detailed repro steps.

This impacts custom attributes usage in reports (#9451), auto-tagging (#7460, #11591) and probably other things...  Anything where the set of available fields can change over time.

The cache is per report type — you will see new fields if you select a different type, but for a previously selected type it w

[2016-11-07 14:03] #12401 closed

[2016-11-07 14:03] #12414 closed

[2016-11-07 15:55] leecw72 opened #12476 "Problem with auto-placement eligible hosts"
After I had restarted Darga appliance I was hit with error that host selected is not an eligible resource for the provisioning instance. I had setup hosts for selection by tagging those hosts under provisioning scope.

I had first tagged host_c, d, e for auto-placement. Some time later, I changed the tag to include host_a and host_b for auto-placement. After the change, everything still working fi

[2016-11-08 03:00] leecw72 opened #12488 "Passing in additional hash value in automate add_disk method"
When added an "independent" disk, it will not be included in VM snapshot.

The automate add_disk method is only passing along disk_name and disk_size as you can see here:
def add_disk(disk_name, disk_size_mb, options = {})
  sync_or_async_ems_operation(options[:sync], "add_disk", [disk_name, disk_size_mb])
end

However, the backend method supports passing a few additional properties: :thinProvisio

[2016-11-08 12:09] theute opened #12498 "Topology link to MW Provider leads to 404"
When I double click a MW Provider in the topology view, it says the page doesn't exist.

The links go to:
https://localhost/ems_middleware/show/2

While the provider is available at:
https://localhost/ems_middleware/2

@miq-bot add_label providers/hawkular, bug

[2016-11-08 16:43] pkliczewski opened #12508 "New refresh target - storage"
During my work to remove full refreshes from RHV provider I noticed that there are few storage events which trigger full refresh. We need to target storage to improve performance for those events.

[2016-11-08 21:18] bdunne opened #12515 "The Source IDs for a VmReconfigureRequest are strings"
On a VmReconfigureRequest, the options hash has a key `:src_ids` and a value of an array of Vm IDs that the reconfigure applies to.  When the code was written, the IDs were Integers.  On master, euwe and darga the IDs are now strings.  Surprisingly the requests are still working, but the code was written expecting regular (integer) IDs.

In my opinion these should go back to being IDs instead of s

[2016-11-09 09:17] lpichler opened #12520 "total counts vs RBAC counts on summary providers screen"
during fixing one bz I noticed
then we are displaying total counts of instances on provider's summary page regardless to RBAC
![screen shot 2016-11-09 at 10 06 11](https://cloud.githubusercontent.com/assets/14937244/20132656/44116f52-a664-11e6-8299-1e080d3a82d6.png)
but as user you can have limited(thanks to RBAC) list of instances but on this summary will be always real total count of instances a

[2016-11-09 09:17] lpichler commented on #12520
@miq-bot add_label question

[2016-11-09 14:11] #11886 closed

[2016-11-09 15:17] pkliczewski commented on #12508
@miq-bot assign @agrare

[2016-11-09 15:39] isimluk commented on #12520
I think the UX overall is little more confusing after #9094. I think showing only relationship counts that the user is authorized to would be less confusing.

[2016-11-09 17:14] abellotti opened #12533 "creating pictures should do better validation"
I was able to POST /api/pictures a bogus picture

[code]

Picture was created,

[code]

But essentially useless as per:

GET /api/pictures/9?attributes=image_href

[code]

where the image_href is invalid/non-existent.

Maybe we should have the model check for existence of "extension" attribute and content ?

[2016-11-09 18:05] abellotti opened #12536 "Creating arbitration_rules should support arbitration_profile references"
Currently for creating arbitration_rules, the related arbitration profile is identified via the
arbitration_profile_id attribute as governed by the model.

i.e.

POST /api/arbitration_rules

[code]

While this is ok for now, we should also support the API resource reference signatures,

i.e.

[code]

as well as:

[code]

[2016-11-09 19:35] josejulio commented on #12498
@miq-bot assign josejulio

[2016-11-09 20:41] jrafanie commented on #12453
Looks like a ruby bug discussed here:
https://github.com/rspec/rspec-core/pull/1687#issuecomment-55367006

Link to the bug:
https://bugs.ruby-lang.org/issues/8982

@Fryguy @bdunne and I tracked it down to this line: https://github.com/ruby/ruby/blob/e3fa4ec1541a9725944b3f45bf4b47df087482ce/error.c#L1330-L1331

If the inspect is > 65 characters, we call rb_any_to_s which calls rb_class_name which b

[2016-11-09 20:43] jrafanie commented on #12453
Unlike that bug which was for an anonymous class, our issue is for all of our models since rails defines an inspect including all attributes which makes it really easy to be > 65 characters.

[2016-11-10 14:19] carbonin commented on #11332
Fixed in #11550

[2016-11-10 14:19] #11332 closed

[2016-11-10 21:15] #12278 closed

[2016-11-10 22:18] #12498 closed

[2016-11-11 21:33] evertmulder opened #12596 "Appliance Console, Configure Database Maintenance fails in Docker container"
Tested with Euwe RC using the appliaction console, configure database maintenance fails with the folling error.

5) Configure Database Maintenance
[code]

The docker container does not have crond installed. I think the issue is resolved when adding "yum -y install cronie" to the docker file and enable the service.

[2016-11-13 14:12] #12356 closed

[2016-11-14 11:20] hhovsepy opened #12606 "Latest docker images creation failed"
Latest Docker Image build for ManageIQ is failed:
https://hub.docker.com/r/manageiq/manageiq/builds/

And ManageIQ from Docker Image "latest-euwe"  does not start locally.

[2016-11-14 15:59] sseago opened #12617 "Separate Cloud and Infra Stacks controller/list"
When Ansible jobs were implemented, the Orchestration Stacks controller was modified to only show Cloud Stacks. This inadvertently broke the Infra Stacks UI sinceshow page threw an error for an Infra stack since it wasn't a Cloud Stack. As a short term fix, https://github.com/ManageIQ/manageiq/pull/12569 modifies the Orchestration Stacks controller to show both Infra and Cloud stacks. The problem

[2016-11-14 18:46] #2902 closed

[2016-11-14 19:48] hayesr opened #12624 "Clicking Cloud Intel will error or render the wrong screen"
Sometimes clicking **Cloud Intel** on the left will error or render the incorrect screen, eg:

![screen shot 2016-11-14 at 11 47 57 am](https://cloud.githubusercontent.com/assets/39493/20280170/345fb6ea-aa60-11e6-9b82-d6afa85c14c8.png)

Possibly related to https://github.com/ManageIQ/manageiq/pull/12117

[2016-11-14 19:49] hayesr commented on #12624
@miq-bot assign @martinpovolny
/cc @dclarizio

[2016-11-14 19:50] hayesr commented on #12624
@miq-bot add_label ui, bug

[2016-11-14 19:52] dclarizio commented on #12624
@martinpovolny I get this when I click on "Cloud Intelligence" main tab.  Let me know if you need more info.
[code]

[2016-11-15 12:44] lpichler commented on #12465
@miq-bot add_label reporting, bug

[2016-11-15 15:07] PanSpagetka opened #12647 "ManageIQ header button not working"
This button doesnt do anything, I think it should.

![firefox_screenshot_2016-11-15t14-58-45 658z1](https://cloud.githubusercontent.com/assets/9535558/20310691/2f766fa0-ab4d-11e6-91f9-e67ea982ae88.png)

[2016-11-15 15:09] abellotti opened #12648 "API returns a 500 when both datetime and nil check filters are provided"
When doing a search with a filter that includes a datetime comparison with a nil check, MiqExpression causes a stack trace.

Example:
[code]

Response:

[code]

Stack trace:
[code]

[2016-11-15 18:33] mattmahoneyrh opened #12656 "MIddleware: Provider Not Completely Deleted From MIQ"
Middleware Provider Server, Datasource, Deployments still visible in MIQ, after deleting the provider.

Automation has flushed out this issue a couple times in recent runs. From what can be understood of the scenario that caused this issue, there was a series of add/remove Middleware providers, and may have been a Hawkular Services redeploy that was done in between automation runs.

Configuration:

[2016-11-15 18:34] mattmahoneyrh commented on #12656
Screen shots:

![provider list](https://cloud.githubusercontent.com/assets/7262987/20318398/1fe82dd6-ab38-11e6-9138-5736a1bbe3c6.png)
![provider - details](https://cloud.githubusercontent.com/assets/7262987/20318403/22ec1c36-ab38-11e6-90c3-3d3c801dda1d.png)

[2016-11-15 19:30] abellotti opened #12658 "API accessing the service_dialog content as a subcollection does not expand ID's"
When I run as an example:

[code]

The content returned for the service dialog does not have the id's included as compared to getting the service_dialogs directly:

[code]

Is this intentional or a bug ?

If a bug, then it's for E-release and the relevant code is here:

app/models/dialog.rb

[code]

Note, the last DialogSerializer.new.serialize(...) was not passing in all_attributes.

The API spec

[2016-11-16 09:25] cankarm commented on #12400
I have the same issue... it is really a blocker as I cannot make self-service/catalogues running.

[2016-11-16 10:31] isimluk opened #12671 "C&U click through broken again"
Greetings,

[code]

Reproducer:
![reproducer](https://cloud.githubusercontent.com/assets/6666052/20343743/e86662c0-abef-11e6-9442-40e92efd2ee7.jpg)

:mouse:

[2016-11-16 10:31] isimluk commented on #12671
@miq-bot assign @PanSpagetka

[2016-11-16 10:37] Ladas opened #12672 "quadicon can't handle big numbers"
![screenshot from 2016-11-16 11-34-42](https://cloud.githubusercontent.com/assets/1737058/20343932/ca62f71a-abf0-11e6-8be0-da5c6191128e.png)

We should check for a big number and put there something like ~73K ?

[2016-11-16 10:37] Ladas commented on #12672
@dclarizio ^

[2016-11-16 13:01] isimluk opened #12676 "Container Image show broken"
## Reproducer
 - Navigate to "Container Images" page
 - Click one container image

## Backtrace
[code]

or

[code]

@miq-bot add_label ui, containers
/cc @simon3z @zeari

[2016-11-16 14:04] simon3z commented on #12676
cc @zakiva

[2016-11-16 14:04] simon3z commented on #12676
@miq-bot assign zakiva

[2016-11-16 14:05] simon3z commented on #12676
@miq-bot add_label providers/containers

[2016-11-16 15:14] #12456 closed

[2016-11-16 15:57] carbonin commented on #12400
I couldn't reproduce this on the latest nightly build. I was able to add a new role on both the remote region and the global (after enabling central admin).

Is there anything else that was done prior to attempting to create the role?

[2016-11-16 16:16] carbonin commented on #12393
The issue here is that the user needs to be created on the remote region as well as the global region. We use the currently logged in user for API authentication so if the remote region doesn't have a record of the currently logged in user this is the error you will get.

[2016-11-16 16:16] #12393 closed

[2016-11-16 17:31] ammendonca opened #12687 "Notification icon missing for 'error' notifications"
When issuing a notification via WebSocket, in case the notification is of type `error` the icon/color isn't showing, as patternfly defines the error class as `danger` (https://github.com/patternfly/angular-patternfly/blob/676e37991e4b3cccd7412bde3edc3d1ede87e18e/src/notification/notification.html#L9)

![image](https://cloud.githubusercontent.com/assets/1737954/20357289/4abb1d38-ac1f-11e6-8854-bc63

[2016-11-16 17:36] Oxyle1025 opened #12688 "Updating the VMware Appliance - Errors"
Hey guys I am currently doing an internship where I might have to update the VMware ManageIQ appliance to resolve some issues.

- Cloned the repository into a folder
- Run bin/update

Then I run into a issue where there are a few errors generated:

`== Updating database ==
rails aborted!
LoadError: cannot load such file -- util/vmdb-logger
/root/manageiq/lib/vmdb/loggers.rb:1:in <top (required)>'

[2016-11-16 17:39] jzigmund opened #12689 "Missing Icon for CSVFS datastore type"
The issue appears on darga/euwe/master branches

Screenshot:
![screenshot from 2016-11-16 18-30-41](https://cloud.githubusercontent.com/assets/2270962/20358214/3b865966-ac2b-11e6-91b0-2a06a8f27c6a.png)

Error in logs:
[code]

[2016-11-16 18:28] cankarm commented on #12400
In my case the error appeared when I copied the role (EVMRole_user) and created a new one from "cloning" his one.

Otherwise nothing related -> I have one provider (openstack) , one service in one service catalog three users, no one with default password... this are practically all the changes done after the deployment.

[2016-11-16 19:19] gmcculloug opened #12696 "Refactor deletion of Git-based domains"
Refactor based on comments in: https://github.com/ManageIQ/manageiq/pull/12539#issuecomment-261018658

[2016-11-16 20:10] jntullo commented on #12658
@abellotti this was something I was aware of and not a bug. However, I will still look into adding it.

[2016-11-16 21:07] dclarizio commented on #12672
@hayesr perhaps while your in the quadicons, you can sneak in an update, eh?

[2016-11-17 01:30] hayesr commented on #12672
How about rounding large numbers and representing this with something like **73k**?

[2016-11-17 07:53] gildub commented on #12085
@chessbyte, any chance you could add me to the member list? Thanks.

[2016-11-17 16:30] jntullo commented on #12658
@abellotti scratch that. It is a bug - I misunderstood. PR in progress!

[2016-11-17 19:41] vnugent opened #12724 "Docker container should output evm.log to stdout"
The main log is currently in evm.log.  In containerized environment it is generally a best practice to output main log to standard out and let the container tooling handle the log.   Right now when running MiQ in Docker/Kubernetes/OpenShift one can not take advantage of the system log command, ie. docker logs, kubectl logs, oc logs.

http://docs.projectatomic.io/container-best-practices/#_logging_

[2016-11-18 02:01] #12658 closed

[2016-11-18 11:20] lpichler opened #12740 "missing column in Cloud -> Images"
list view , table is broken
<img width="1421" alt="screen shot 2016-11-18 at 12 18 44" src="https://cloud.githubusercontent.com/assets/14937244/20428426/53e2b766-ad89-11e6-89be-3f1a1d916119.png">

@miq-bot add_label ui, bug

cc @mzazrivec

[2016-11-18 13:27] romanblanco opened #12745 "Error in Database accordion in Ops"
After selecting "Database" accordion in Ops, I'm getting error message:

[code]

[2016-11-18 13:28] romanblanco commented on #12745
@miq-bot add_label bug

[2016-11-18 20:38] dclarizio commented on #12520
@lpichler I agree with @isimluk, the counts a user should see are the counts of what they CAN see, based on RBAC.

[2016-11-18 21:00] h-kataria commented on #12385
this should be fixed by https://github.com/ManageIQ/manageiq/pull/12504

[2016-11-18 21:00] #12385 closed

[2016-11-18 21:59] gmcculloug commented on #12409
Correct, this action should be creating a template.  The action sets a `request_type` of `clone_to_template` which is what I was seeing in my local dev env.

We check if we are creating a template here [app/models/manageiq/providers/vmware/infra_manager/provision/cloning.rb#L112](https://github.com/ManageIQ/manageiq/blob/6808f909fd403a221b24c3f2ecea85bf550300d9/app/models/manageiq/providers/vmware

[2016-11-20 13:40] cben commented on #10500
There is more breakage:

- After creating policy: right side title = `Containernode Control Policy "foo"`
  [stays broken if you now edit this policy]
  [switch to another policy and back to get out of broken state]
- After copying Policy: right side title = `Containernode Control Policy "foo"`
  [switch to another policy and back to get out of broken state]
- After deleting policy: right side tit

[2016-11-20 13:42] hstastna commented on #12199
the issue is fixed by https://github.com/ManageIQ/manageiq/pull/12307 so it can be closed

[2016-11-20 14:58] zakiva commented on #12676
@isimluk I can't reproduce this bug, the described page works fine for me.
Are you still experience it? Are you working with a specific version?

[2016-11-21 12:25] himdel opened #12765 "rake test:javascript should fail if the JS engine crashes"
Between #11762 and #12640, our JS tests would crash the phantomjs server (infinite loop leads to a Segmentation fault), but the test suite would still pass.

That's bad, if phantomjs crashes, the rake task should too.

[code]

[2016-11-21 13:53] agrare commented on #12409
@gmcculloug I just tried to publish a VM to a template and the result was a template as expected.
The line you pasted ends up setting the template paremeter of `VirtualMachineCloneSpec` here [app/models/manageiq/providers/vmware/infra_manager/provision/cloning.rb#L136](https://github.com/ManageIQ/manageiq/blob/6808f909fd403a221b24c3f2ecea85bf550300d9/app/models/manageiq/providers/vmware/infra_mana

[2016-11-21 14:34] #11941 closed

[2016-11-21 16:16] agrare opened #12774 "Collect disks separately from VMs in EMS Refresh"
Add the ability to inventory disks separately from VMs so that disks that are not attached to any VM can be saved in inventory.

This will allow the user the ability to attach an existing disk to a VM as well as make determining if a VM was deleted or unregistered much simpler (e.g. RHEV)

[2016-11-21 16:16] agrare commented on #12774
cc @pkliczewski @durandom

[2016-11-21 18:19] #10500 closed

[2016-11-21 18:23] vecerek opened #12780 "Container buttons are never visible and they don't work, either"
In #12777 I've already fixed the visibility problem of the buttons - most of them (`persistent_volume_*`, `container_build_*` and `container_template_*` buttons have not been assigned to any of the toolbars).
However, a bigger problem occurred upon solving the former one. The implementation of the `new`, `edit` and `delete` methods is missing in almost every container controller.

My question is w

[2016-11-21 18:38] dclarizio commented on #12780
@simon3z please see the questions in the initial comment above.  Thx, Dan

[2016-11-21 18:53] simon3z commented on #12780
@vecerek @dclarizio the buttons (edit/add/delete) are not there because those are not valid operations.

[2016-11-21 20:31] vecerek commented on #12780
@simon3z does it mean that I can delete those buttons? Or is there a case when they are visible? As I examined the code, it seemed to me that it is not possible for the buttons to appear, at all.

[2016-11-21 21:35] imtayadeway opened #12781 "Relax email validation constraints"
In https://github.com/ManageIQ/manageiq/pull/12729 I added support for apostrophes in email addresses. In that PR I also outlined that this is part of a larger problem with validating email in general. It was also suggested, post-merge, that I use the regex defined in [more core extensions regex].

I want to bring this up for discussions before moving forward. Some thoughts:

1. Although I think i

[2016-11-21 23:07] israel-hdez commented on #10658
@hhovsepy I am taking this issue. As far as I understand, there is a missing link in the summary page. I can find your desired link, but is hidden under the "Relationships" pane located at the left of the summary page. Please, see this image:

![missinglink](https://cloud.githubusercontent.com/assets/23639005/20504298/4ed5bbbc-b00c-11e6-86f6-0e6577862837.png)

Can you try that link and tell if tha

[2016-11-22 07:28] #10833 closed

[2016-11-22 08:58] hhovsepy commented on #10658
@israel-hdez thank you for taking a look,
yes this is the link I wanted to replicate on the summary page, and it links correctly.

[2016-11-22 10:04] isimluk commented on #12676
Weird. It works now. 🎉

I have seen this on the master in the time of filing this ticket. However, I cannot reproduce it on current master with the same db.

Closing. Sorry for the noise and thanks for swift reaction @zakiva @simon3z

[2016-11-22 10:04] #12676 closed

[2016-11-22 10:18] #12199 closed

[2016-11-22 12:22] Ladas commented on #12672
73k sounds good. Not sure if we need something to point out it's a roundup, like ~, but there is not much place, so it might be hard even fitting 100k

[2016-11-22 13:08] #12648 closed

[2016-11-22 14:26] gmcculloug commented on #12392
For VMware you can clone Template to Template, but this button is actually a little different.

For Provisioning there are 3 request_types that are supported in the backend code: `template`, `clone_to_vm` and `clone_to_template`

The `template` value was the very first value and was used to provision a template to a VM.  The other two were added to take any source (VM/Template) and provision to th

[2016-11-22 16:08] ammendonca commented on #12656
@miq-bot add_label providers/hawkular, bug

[2016-11-22 16:54] gmcculloug commented on #12409
@kruge002 Can you verify your results?  Based on the findings mentioned above the feature is working as expected.

If it helps, logging for the provision task will dump the options hash used with a "Prov Options: " string in the message.  Each key of the hash is logged on a separate line.  I would expect to see `request_type` set to `clone_to_template` for this operation.

[2016-11-22 19:01] kbrock commented on #12781
I lean towards permissive. Feels like we could set it up to just make sure it is close `/.+@.+[.].+/`.

1. Seems our goal is to catch user error? If they could error just as easily with an extra character as any of these other things.
2. Aren't most of the email addresses from an admin (not self entered)? Maybe even from LDAP.