[2021-10-04 16:58] jrafanie commented on #21474
cc @kavyanekkalapu @Fryguy we should probably have a discussion around this as we have to either "fix" the providers area to use the subclass `*_new` or normalize lots of screens to use a common feature (provider_new) + (specific provider show list).

[2021-10-04 18:09] chessbyte opened #21481 "Add support for creating host initiator with multiple wwpn for FC port"
- [x] https://github.com/ManageIQ/manageiq-providers-autosde/pull/81
- [x] https://github.com/ManageIQ/manageiq-ui-classic/pull/7858

[2021-10-04 18:09] #21481 closed

[2021-10-05 15:55] rickr commented on #20488
I'd like to take this issue if it's still available!

[2021-10-05 16:03] jrafanie commented on #20488
Sure, thank you.  If you can, please add a test around the method changed.  It might be hard to write a test of the CLI though.

[2021-10-06 16:49] Fryguy commented on #21351
Fixed by https://github.com/ManageIQ/manageiq-automation_engine/pull/478

[2021-10-12 06:25] zigaSRC commented on #21085
@kavyanekkalapu I didn't change any part of the ManageIQ code, just adapted mine in the automation domain to work around the problem.

If you're looking for the culprit it's [this](https://github.com/ManageIQ/manageiq-ui-classic/blob/5e3a5d7858224498f8fa09a01aaf268a4c00693c/app/controllers/application_controller/session_size.rb#L8). It throw's a "can't dump" exception which causes the session not

[2021-10-19 18:20] Fryguy opened #21510 "Add rename functionality to all Infra and Cloud providers"
The rename operation has only been added to vmware, but there's no reason it couldn't be added to all providers with VMs.

Extracted from https://github.com/ManageIQ/manageiq-ui-classic/pull/7916#issuecomment-946853728

[2021-10-20 13:30] agrare opened #21511 "Metrics Capture Region Configuration is Confusing"
By default all C&U collection is disabled until the user goes to the `Configuration / Settings / ManageIQ Region "Region 0 [0]"` page, `C&U Collection` tab, and flips `Collect for All Clusters` from the default `No` to `Yes`

![6a461800-3186-11ec-80ea-47817215a84d](https://user-images.githubusercontent.com/12851112/138102074-ca062cc5-c0cb-47a3-92ae-259ead50999c.png)

While this is in the documenta

[2021-10-20 15:36] agrare commented on #21511
Yeah I'm thinking inverting it would also help reduce the number of tags on the clusters/hosts (assuming the default is capture_enabled)

(NOTE this method is also involved https://github.com/ManageIQ/manageiq/blob/master/app/models/metric/ci_mixin/targets.rb#L2-L16)

[2021-10-20 20:08] Fryguy commented on #21378
@jrafanie Please review.  ✂️ 🔥 🗑️

[2021-10-25 17:45] Fryguy opened #21516 "Upgrade to Rails 6.1"
(or 7.0 if that's easier)

Rails 6.0 goes EOL Jun 1, 2023

Once Rails 7.0 comes out, 6.0 will go into maintenance mode, and 5.2 will be dropped completely.  We need to get ourselves into a position where we are more up to date.

TODO list:

## Core:
- [x] https://github.com/ManageIQ/manageiq/pull/21652
- [x] https://github.com/ManageIQ/manageiq/pull/21667
- [x] https://github.com/ManageIQ/manageiq

[2021-10-26 09:35] ereztheodorou opened #21517 "Storage bugs and issues that need backporting"
We have the following PRs that were merged to master, but need back porting to morphy so they can get into the CF FP2 release.

- [x]  https://github.com/ManageIQ/manageiq-providers-autosde/pull/98
- [x] https://github.com/ManageIQ/manageiq-providers-autosde/pull/99
- [x] https://github.com/ManageIQ/manageiq-providers-autosde/pull/101
- [x] https://github.com/ManageIQ/manageiq/pull/21084
- [x] htt

[2021-10-29 06:15] Numbero opened #21528 "Apple Silicon issue：Function 'getmntinfo64' not found in [libc.dylib] (FFI::NotFoundError)"
My computer is Mac m1
when I run /bin/setup, always error that

== Updating database ==
rails aborted!
rake aborted!
FFI::NotFoundError: Function 'getmntinfo64' not found in [libc.dylib]

Search the error on the net, found that only a post satisfies the requirement of scene: https://github.com/ffi/ffi/issues/850, in which the solution is given to gem component sys - filesystem updates to the 1.4.1

[2021-10-29 18:10] NickLaMuro opened #21530 "Fix travisci badge links in READMEs accross the org"
This is a tracker issue for fixing all of the `README.md` files that were either still using `travis-ci.org` or didn't have the `/github` prefix in the URL for the build links.

Script used
-----------

[code]

PRs
---

- [x] https://github.com/ManageIQ/manageiq-content/pull/695
- [x] https://github.com/ManageIQ/manageiq-decorators/pull/59
- [x] https://github.com/ManageIQ/manageiq-documentation/p

[2021-10-29 18:32] #21530 closed

[2021-11-01 13:38] #21528 closed

[2021-11-01 19:26] Fryguy commented on #19894
Need to discuss business requirements in order to figure out the direction here.

[2021-11-01 19:41] Fryguy commented on #19899
Interdependent with https://github.com/ManageIQ/manageiq/issues/19586

[2021-11-01 19:41] Fryguy commented on #19586
Interdependent with https://github.com/ManageIQ/manageiq/issues/19899

[2021-11-02 18:28] chessbyte opened #21536 "Support Ruby 3.0"
Ruby 2.7 goes EOL Mar 31, 2023

Similar rationale as https://github.com/ManageIQ/manageiq/issues/19678

- [x] https://github.com/ManageIQ/manageiq/pull/21531

[2021-11-02 18:37] #21517 closed

[2021-11-02 20:09] jrafanie opened #21538 "Error out long running tasks phase 2: request and request tasks + sweeper"
The follow tasks were extracted from: https://github.com/ManageIQ/manageiq/issues/21175

They should be evaluated if they are still needed.

- [ ] Error out miq_requests and miq_request_tasks on worker destroy callback over the queue (use tracking label and try to lookup the correct class/ids to error out by parsing this label)
- [ ] Delete/create worker row in run_single_worker.rb if we find an e

[2021-11-02 20:11] jrafanie commented on #21175
Split out the remaining tasks to a new issue: https://github.com/ManageIQ/manageiq/issues/21538

Moving this to najdorf

[2021-11-02 20:33] jrafanie commented on #21538
Posting here in case my branch goes away... Here's what I had so far for the miq request/request tasks:  https://github.com/ManageIQ/manageiq/pull/21485

[code]

[2021-11-02 21:05] #21380 closed

[2021-11-02 21:19] Fryguy commented on #21175
Closing since everything here has been completed.

[2021-11-02 21:19] #21175 closed

[2021-11-02 21:46] kbrock commented on #21179
How do we know when we are done with this?

I do see a few calls to `is_valid?`, but we also have a few bridge methods that will mask the usage.

Is there a particular pattern we can look for in the contents of `def validate_*` for us to know if it is a validation or part of this plugin? (or are these defined in a meta way so we can just focus on

[2021-11-03 17:06] chessbyte commented on #21179
See OP regarding `AvailabilityMixin`, `is_available?` and `is_available_now_error_message`

[2021-11-03 17:58] Fryguy commented on #21042
This still happens a little intermittently, but should be fixed by bumping to manageiq-password 1.0

[2021-11-04 14:01] JVue opened #21545 "Import Datastore via git returns "Error during repository fetch: undefined method time" (lasker-1.20210713173155_7f825df)"
Hello,

When attempting to add a git repo via `Import Datastore via git` in `Automation > Automate > Import/Export` with git link, username, and password, I receive the following error:
``Error during repository fetch: undefined method `time'``

evm log:
[code]

[2021-11-04 14:21] NickLaMuro commented on #21545
Without seeing a full stacktrace as to where you are getting this error, this sounds very similar to this:

https://github.com/ManageIQ/manageiq/pull/21385

Now, looking at your build, it looks like you have an older version of `laskar` that was built in July, and that fix was applied in August.  I would check to see if upgrading fixes your issue.

If not, it is possible that one of your `tags` al

[2021-11-04 16:18] JVue commented on #21545
@NickLaMuro ,

I did an in place upgrade using the instructions here: https://www.manageiq.org/docs/reference/latest/upgrading_appliances/index.html and got the same error message when attempting to add a git repo.

Then I went and got the latest lasker image directly from here:
https://releases.manageiq.org/manageiq-vsphere-lasker-20211104.ova, and got the same error as well.

[code]

[2021-11-04 17:28] Fryguy commented on #21545
I'm pretty sure this was fixed in #21385, but #21385 came after lasker-1 and we haven't yet built a lasker-2.  We're actually going to be creating a morphy-1-beta1 very soon, so you can wait for that.  Otherwise, see if you can take the code patch in #21385 and apply it manually to your server.

[2021-11-10 16:38] cymile opened #21551 "PGPool Integration"
Hi!
We have a deployment using ManageIQ Ivanchuk-7 in docker containers with an external postgreslq database (pgpool + posgresql/repmgr) all in one virtual machine (so, it shouldnt be a networking problem). Every day several times in a day ManageIQ UI throws http 503 service unavailable that makes the GUI impossible to acces for some minutes.
And evm.log shows the following ERROR messages
`[----]

[2021-11-10 16:41] Fryguy commented on #21551
What type of config are you looking to change?  It seems you are having network errors / latency between MIQ and your postgres instance...I'm not sure there's much we can do about that other than fail as above.

[2021-11-10 16:49] jrafanie commented on #21378
Closing as done 🥳 🎉

Great work @kbrock !!!

[2021-11-10 16:49] #21378 closed

[2021-11-10 17:33] chessbyte commented on #21551
Not necessarily related to your question, but you are running a version (Ivanchuk) that is 3 releases behind Lasker (Jansa and Kasparov in between) and we are about to release Morphy.  Maybe it makes sense to upgrade to the latest Lasker?

[2021-11-10 19:47] cymile commented on #21551
@Fryguy  I was wondering if there is a way to check if ManageIQ is aware that a idle database connection was killed by postgres and ask for another connection instead of trying to use the old connection. I dont think this is a network problem because the deployment is very simple, all in one virtual machine.

@chessbyte yes, I know that we are using an old MIQ version but at this moment unfortunat

[2021-11-10 22:14] Fryguy commented on #21551
I thought the connection pooling inside of Rails does this already... @jrafanie do you know?

[2021-11-11 14:32] cymile commented on #21551
Also, I made a test deploying manageIQ as a pod in kubernetes in the same node where pgpool/postgres pods are and I got the same behavior

[code]

[2021-11-11 14:34] Fryguy commented on #21551
I'm thinking this is turning into an enhancement to support pgpool which seems to have this behavior for killing idle connections that Rails' connection pool cant seem to handle.

@cymile Can you give more information on exactly how you are deploying things, so we can reproduce?

[2021-11-11 14:46] jrafanie commented on #21551
Yeah, it sounds like a "support pgpool" connection disconnect mechanisms such as client_idle_limit and connection_life_time.  I don't know what it's doing but if it's getting in the middle of the connection pool of activerecord and the transaction/session handling, it's possible it just doesn't work correctly out of box or needs some special configuration to get it to work with rails.

[2021-11-11 14:47] jrafanie commented on #21551
@cymile did this work in versions before ivanchuk?  Have you tried jansa/lasker?

[2021-11-11 15:11] cymile commented on #21551
@Fryguy here are the details:
K8S
[code]
ManageIQ ivanchuk-7 : manageiq/manageiq:ivanchuk-7
For postgres I used the bitnami chart  postgresql-ha-6.8.0
- PGpool : docker.io/bitnami/pgpool:4.2.5-debian-10-r26
- Postgresql: docker.io/bitnami/postgresql-repmgr:10

Deployment of manageiq pod
[code]
[code]
Postgres

[code]

[2021-11-11 15:14] cymile commented on #21551
@jrafanie  I only worked with ivanchuk, I will try with the versions you suggested

[2021-11-11 15:26] jrafanie commented on #21551
I don't know that anything is different in other versions but I was curious if you had this working previously and now had issues with ivanchuk or if this has only been tested there and had this issue.

[2021-11-11 18:18] cymile commented on #21551
well, I tried with jansa-4/lasker-latest and I got multiple messages like these and the GUI is down
[code]

[2021-11-11 21:43] richardqa commented on #21551
Hi,
I also am facing the same problem reported by @cymile, ManageIQ gets Down after 30 minutes or so, and checking the logs it shows:
ERROR: unable to read data
DETAIL: child connection forced to terminate due to client_idle_limit: 900 is reached

I am using this Repo to deploy Postgres and PgPool
https://github.com/paunin/PostDock/tree/master/k8s/example1-basic-multilevel

Do you have any version

[2021-11-11 21:54] Fryguy commented on #21551
Any postgres should work - I think the problem is the pgpool and more specifically the `clientIdleLimit: 3600`.

@cymile As a workaround, if you remove that setting from the pgpool deployment and/or set it to a ridiculously high number, do things start to work?

[2021-11-11 22:09] cymile commented on #21551
Yes, I did that test too (with manageIQ as a container) . I used a `client_idle_limit:2592000` value and the errors were less frecuent (between some hours)...with a lower value like `60`, the errors appeared each minute. Also, setting with  `0` got the same behavior.

[2021-11-12 01:09] wallerz commented on #21551
我是在vsphere部署master版本，80 443端口正常，evmserverd服务正常，ManageIQ管理无法访问，
![_20211112090729](https://user-images.githubusercontent.com/35389694/141391495-0bb8a723-8f7d-4873-95db-bbbdbc163867.png)
报错

[2021-11-12 01:52] wallerz opened #21557 "Suspension of service on master version page"
通过vsphere进行部署master版本，对其配置ip，无法访问web管理界面
![_20211112090729](https://user-images.githubusercontent.com/35389694/141395089-f2746a9b-a988-42c0-b133-b5bbc97fcd4b.png)

[2021-11-12 03:18] wallerz commented on #21557
@Fryguy 这个问题怎么解决她呢

[2021-11-16 17:48] agrare opened #21560 "SmartState scan_metadata fails with undefined method for NilClass"
[code]

First impression, it looks like the OpenStruct going over the queue isn't deserializing properly but will need to confirm

[2021-11-16 22:12] cymile commented on #21551
Also, I tried connecting manageIQ pod directly with a primary postgresql pod (without pgpool) and got the same behavior.

[2021-11-17 09:45] lamm opened #21561 "Add ability to update VM description"
We are using kasparov-2 and we are looking for a way to modify the description field of a VM without going through the GUI (<edit this vm> button).
Is there a way to do this by an automation script ?
If not, would it be possible to add this functionality ?

[2021-11-17 15:39] jrafanie commented on #21551
@richardqa I think the question is if pgpool + manageiq podified was ever working properly.  I can't tell if this ever worked or if this is a new problem.

Does anyone have a version of manageiq that successfully worked in podified with pgpool?  We need to figure out if we had a regression or if this is just adding support for pgpool.

[2021-11-17 15:48] jrafanie commented on #21551
@cymile by "same behavior", do you mean 503?  What errors did you get in the manageiq and postgresql pod?  I would assume you'd have to manually allow communication between pods.  I don't recall what we had to do to get the standard deployment of manageiq podified with postresql + manageiq to communication together but I'd assume you've have to do some similar things.  For example, the [pg contain

[2021-11-17 18:39] chessbyte commented on #21545
Fixed in #21385

[2021-11-17 18:39] #21545 closed

[2021-11-17 18:46] chessbyte commented on #21561
What provider are you looking to integrate this capability with?

[2021-11-17 22:07] cymile commented on #21551
Yes, I got error 503 each 20 minutos approx. In ManageIQ I got the same errors  posted at the begining of this issue

[code]
And in postgresql pod I didnt see ERROR messages.

When testing MIQ with Postgresql (k8s pods), MIQ was connected to Postgresql using the Cluster-IP assigned to Postgresql pod. All all these pods where located in the same k8s node. So I dont think the problem is pgpool.

[2021-11-17 22:12] lamm commented on #21561
We are using vmware provider.

[2021-11-18 15:07] brandonfilion opened #21567 "Ability to customize validation failure message for custom dialog elements"
Currently it is not possible to directly update the validation failure message within a custom dialog Text Box element. The default message is set to "Entered text should match the format:') + ' ' + regexPattern", would be awesome to be able to customize this message displayed to users.

[2021-11-18 16:00] agrare commented on #21557
Tried standing up the current master appliance and I'm hitting the same issue.  Problem is there are no workers running.

Digging a little deeper:
[code]

If we look at one of these:
[code]

The evm.log file looks like:
[code]

cc @kbrock not sure if something changed with the permissions or it just worked on upgrade but not initial install?

[2021-11-18 18:24] chessbyte commented on #21561
Is this capability supported in the VMware API?  /cc @agrare

[2021-11-18 18:32] agrare commented on #21561
Sort of, VMware doesn't have a "description" exactly.  They have a Notes field which the backend API calls "summary.config.annotations" [[ref]](https://vdc-download.vmware.com/vmwb-repository/dcr-public/b50dcbbf-051d-4204-a3e7-e1b618c1e384/538cf2ec-b34f-4bae-a332-3820ef9e7773/vim.vm.ConfigSpec.html#annotation).  We parse this and store it in the `vm.hardware.annotation` column.  It can be changed

[2021-11-18 18:34] chessbyte commented on #21561
Just seems plain wrong, but maybe we had a reason that made sense at the time?

[2021-11-18 18:35] agrare commented on #21561
Yeah agreed, unless we have some requirement that `Vm#description` can't have newlines I don't see why we wouldn't just use notes as the vm description

[2021-11-18 18:45] chessbyte commented on #21561
What PG type is `Vm#description`?

[2021-11-18 18:46] agrare commented on #21561
`t.text "description", comment: "A description of the VM that is typically set by the provider, but may also be edited."`

[2021-11-18 18:49] chessbyte commented on #21561
I would propose fixing our refresher to store the VM's description in the proper field.

[2021-11-18 23:04] Fryguy commented on #21567
@brandonfilion Can you copy that screenshot you had in gitter to here?

@akhilkr128 Can you take a look at this one?  I dug in a little bit and found this unrelated but interesting but in the kubevirt dialogs: https://github.com/ManageIQ/manageiq-providers-kubevirt/blob/master/content/miq_dialogs/miq_provision_kubevirt_dialogs_template.yaml#L187-L188

It looks like the dialogs possibly already hav

[2021-11-18 23:15] brandonfilion commented on #21567
![image](https://user-images.githubusercontent.com/85958152/142511788-25a5bec5-fd54-4ecf-b33c-dc2913d8a3fe.png)

[2021-11-19 10:47] lamm commented on #21561
The use case here is the following.

We are using MIQ in multi-tenant configuration.

Our customers would like to be able to add a description on their VMs in order to be able to identify them more easily in the interface. The ideal would be to display this description in the grid which lists the VMs. We have therefore considered using the currently available "description" field to do this. The pr

[2021-11-22 11:48] tjazsch opened #21570 "'cannot load such file -- util/vmdb-logger' - ManageIQ system stopped working"
Hi there!

First of all, thanks for handling and developing this great platform that I've been using for developing a plugin over last couple of weeks.:) Today, I tried to develop it further - as usual, tried to run the rails console (using the standard `bundle exec rails c` command) and got the following output:

![vmdb-logger_error](https://user-images.githubusercontent.com/92620429/142839406-50

[2021-11-22 15:19] Fryguy commented on #21570
VMDBLogger was just removed - it looks like the require is coming from vmdb/loggers.rb which no longer has that line, so this means you just need to update your core repo.

[2021-11-24 06:43] tjazsch commented on #21570
Great, working now. Thanks!

[2021-11-24 06:43] #21570 closed

[2021-11-24 16:51] lamm commented on #21557
Changing permission log files solved the issue : `chmod 777 /var/www/miq/vmdb/log/*.log`

[2021-11-24 18:53] Fryguy commented on #21557
@kbrock ^

[2021-11-29 19:14] agrare opened #21575 "Destroying a large EMS times out and never completes"
Cascade destroy of a large provider can take a significant amount of time.  The default queue timeout is 10 minutes which is way too short even for medium sized providers.

This results in `ERROR -- evm: MIQ(MiqQueue#deliver) Message id: [239], timed out after 600.006065233 seconds.  Timeout threshold [600]` type errors on the `orchestrate_destroy` queue item.

Short term solution is to extend the

[2021-11-30 15:51] #18222 closed

[2021-11-30 20:36] Fryguy commented on #21575
Do we know what exactly is taking so long in these cases though?  Usually we've found it's some association with a dependent => destroy or dependent => nullify, which we can ignore and then have a proper purger.

[2021-11-30 20:46] agrare commented on #21575
In this latest case I don't know.  I've seen it with thinks like hardwares and operating systems that are linked off of containers or hosts.

This might be effective, but also seems like a hack/workaround for how poorly performing rails dependent destroy is.  Unless we have a purger for every model that can grow to over a few thousand records we're going to have issues.

[2021-11-30 21:05] Fryguy commented on #21575
True - we may also be overly aggressive with destroy where a delete would suffice.

[2021-11-30 21:06] agrare opened #21580 "Prevent persister auto-model-class from defaulting to the base class"
The persister builder has a feature called auto-model-class where the `:type` attribute will be automatically determined by attempting to constantize the model class under the manager's class.  [[ref]](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/inventory/persister/builder.rb#L202-L232)

For example the `vms` collection when refreshing a `ManageIQ::Providers::Dum

[2021-12-01 18:35] Fryguy commented on #18865
Removed in #21515

[2021-12-01 18:35] #18865 closed

[2021-12-01 20:13] #21100 closed

[2021-12-03 12:27] Bhoopeshkj opened #21588 "Amazon Cred with STS token failing, Unable to run Ansible playbooks on Cloud"
Unable to execute playbooks on the AWS Cloud instances, Seeing below error when executing ansible playbooks on the manageiq server.
[code]

Can anyone help me out with this exception or best practice to create STS token to authenticate AWS cloud instances.

[2021-12-03 14:37] Fryguy commented on #21588
Are you able to execute the playbook _without_ manageiq and with the same creds (or is it a manageiq-specific playbook?)

[2021-12-04 06:45] Bhoopeshkj commented on #21588
Thank you for your response @Fryguy. We were able to fix the auth issues with STS token, But the GETSessionToken gives us a temporary access key, secret key and STS token  for AWS cloud is valid only for 12 hours!, Is there any way we can have a permanent STS Token for Amazon Cloud instead of doing it repeatedly on a daily basis.

[2021-12-04 06:52] Bhoopeshkj commented on #21588
Also, We are using temporary STS credentials to authenticate, if there are any docs/ways to get STS token valid for a longer period, please share the how should we go about it .

[2021-12-04 07:25] Bhoopeshkj opened #21591 "Variables to Ansible playbook in Service catalog requests"
How to pass variables to ansible playbooks while ordering the playbook to run in the services section?

[2021-12-06 03:46] Bhoopeshkj opened #21592 "Machine credentials doesn't work at all"
Machine credentials doesn't work at all. It tries to use root account to connect to remote host.

[![enter image description here][1]][1]

I've created the machine credentials as shown below.

[![enter image description here][2]][2]

And in the catalog I've specified that credentials.

[![enter image description here][3]][3]

If I add `ansible_user=ec2-user` as a variable to catalog then it tries

[2021-12-06 03:56] Bhoopeshkj commented on #21592
It worked when we provide the machine ip address
![MicrosoftTeams-image](https://user-images.githubusercontent.com/89378347/144784803-c7a13d0e-82a2-4145-b77c-7f466ad2139c.png)

[2021-12-06 03:56] #21592 closed

[2021-12-06 04:12] Bhoopeshkj commented on #21591
Answer is create buttons and make it mandatory so the user will provide it and we can access the values using variable names

[2021-12-06 04:12] #21591 closed

[2021-12-06 14:26] Fryguy commented on #21588
That is one of the known issue with Amazon.  I believe there is a way to get a longer lasting token, but I'm not sure myself.  @agrare do you know?

[2021-12-06 14:39] agrare commented on #21588
According to https://docs.aws.amazon.com/STS/latest/APIReference/API_GetSessionToken.html the maximum requested session duration is 36 hours.

If you want credentials which don't expire you have to use access_key/secret_access_key.

[2021-12-06 15:09] tjazsch opened #21593 "can't cast Rack::Session::SessionId [dashboard/authenticate]"
Hi there!

Around 5 days ago or so I started to receive the following warning on multiple occasions (when entering the rails console, MIQ server, running `bin/setup`, ...):

`
Dalli is missing the method our prepended code depends on: undefined method with_block for class Rack::Session::Dalli'.
Did the dalli version change?  Was the method removed or renamed upstream? See: /home/tjazerzen/kyndryl/

[2021-12-06 15:20] tjazsch opened #21594 "Command ["bin/rails db:seed"] failed in ManageIQ"
Hi there!

First of all, thanks for the ManageIQ platform and awesome community that's built around it.

Today, I tried to rerun my MiQ system and got the following error after updating the ManageIQ core:

![image](https://user-images.githubusercontent.com/92620429/144871362-f895e85e-a50d-498f-b759-3564b66790dc.png)

Basically the seeding of the databases failed. To be more specific, I noticed pro

[2021-12-06 15:25] agrare commented on #21593
Thanks for the bug report @tjazsch

The Dalli gem released a `v3.1.0` minor version bump with breaking changes and is causing our method override to fail.  @jrafanie is looking into this, for now you can change the dalli version requirement from `~> 3.0` to `~> 3.0.0` until we fix this

[2021-12-06 15:31] agrare commented on #21594
Interesting it looks like the ovirt shared library is not linked to libcurl properly.

I don't suspect this is related to https://github.com/ManageIQ/manageiq/pull/21589 since we just moved the declaration into https://github.com/ManageIQ/manageiq-providers-ovirt/pull/583 but certainly anything is possible.  Does this work for you before that change?  Can you revert that locally and see if that fi

[2021-12-06 15:53] Fryguy commented on #21594
ovirt-engine-sdk is a pain to build on Mac.  I can't find the command line I've used at the moment, but it had something to do with giving it the location of libcurl and/or libxml2.

You can get some more information if you try to install it manually.  Try `gem install ovirt-engine-sdk -v 4.4.1`.  If it fails you will see a more detailed error in a file (usually something like gemfile.out)

[2021-12-06 16:10] jrafanie commented on #21593
Posted a PR to fix this https://github.com/ManageIQ/manageiq/pull/21595

[2021-12-06 16:51] #21593 closed

[2021-12-06 19:55] tjazsch commented on #21594
I reverted to previous commit; still get the same error. Other than that, I don't think I can revert previous MiQ system, sorry.

I'm on master branch of MiQ, running it on OSX, yes.

Thanks for the link. I'll try to fix it that way :)

[2021-12-06 20:07] tjazsch commented on #21594
Wierd - running `gem install ovirt-engine-sdk -v 4.4.1` successfully installes me the ovirt-engine-sdk gem, seems like this isn't a problem...

[2021-12-06 20:31] Fryguy commented on #21594
if it installed, then try again whatever command you were doing that failed in the first place - it should pass now.

[2021-12-07 09:30] Bhoopeshkj commented on #21588
@agrare @Fryguy How can we use only the access key/secret_access_key without STS token in adding credentials, In the lasker earliest version we can see the STS token is mandatory,
![image](https://user-images.githubusercontent.com/89378347/145002927-637baf35-228f-4f6c-9865-fcab5f0133b1.png)

[2021-12-07 10:15] Bhoopeshkj opened #21598 "Display AWS Images to Users using Dialog when ordering a Catalog"
Is it possible to display a dialog of public AWS Images available for a region?

Based on Provisioning Dialog for ec2 provisioning, We can create service dialog for Ec2 Name, Count etc., and pass the value to Catalog request. But when it comes to Ec2 AMI Images we can't display them to users through service Dialog.

We want to display all available images to User when they order a catalog. The sel

[2021-12-07 13:20] agrare commented on #21588
I'm not sure why the UI is showing that as required, the backend model does not https://github.com/ManageIQ/manageiq-providers-ansible_tower/blob/master/app/models/manageiq/providers/ansible_tower/automation_manager/amazon_credential.rb#L17-L22

cc @kavyanekkalapu

[2021-12-07 14:02] kavyanekkalapu commented on #21588
@agrare Not sure how it is adding Required. I will check.

[2021-12-07 14:32] kavyanekkalapu commented on #21588
@agrare I am not 100% sure that above form schema is coming from the location you mentioned. I added that provider as my local plugin and tweaked schema. Nothing got changed. schema is coming from api/authentications api call. My doubt is from here https://github.com/ManageIQ/manageiq/blob/4abf8c6ddd9f1985c1264ca407837423695b1dfd/app/models/manageiq/providers/embedded_ansible/automation_manager/am

[2021-12-07 14:56] Fryguy commented on #21588
Automation->Ansible tab is Ansible Tower or AWX.  Are you trying to add this to Embedded Ansible?  If so, you should go to Automation->Embedded Ansible.

[2021-12-07 14:57] agrare commented on #21588
Oh good catch @kavyanekkalapu I don't know why the Amazon credential would have different requirements for STS being required or not.  Seems like it might just be an oversight?

[2021-12-07 15:03] Bhoopeshkj commented on #21588
![image](https://user-images.githubusercontent.com/89378347/145053254-85287483-c413-4396-8b7b-4674c66225cc.png)
We are trying to add in this location as expanded in the attached image.
But still we are seeing the STS token being mandatory.

[2021-12-07 15:07] kavyanekkalapu commented on #21588
@agrare raised https://github.com/ManageIQ/manageiq/pull/21600

[2021-12-07 15:14] Fryguy commented on #21588
Ah thank you @Bhoopeshkj  - In the latest version on master we moved those around to make it clearer, and I didn't realize the version you were on had the old menuing ordering.  So, then, yes, this is embedded ansible.

[2021-12-07 15:15] zackary-deems opened #21601 "UI Error on Order in Service Catalog"
While performing a demo, user clicked on the order button and received this error.  Error continued to be thrown until the user did a page refresh, at which point it moved past the error.

![](https://user-images.githubusercontent.com/95228192/145055450-dbd7bebd-5fc5-4dcf-8e5f-fe39bb39b0df.png)

[2021-12-07 15:30] Fryguy commented on #21598
Public AWS images are not collected by default for performance reasons.  By default, we collect private images, and any images related to existing instances.  If you'd like to turn on public EC2 images there is a setting for that in the Advanced Settings. See also https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/config/settings.yml#L75

cc @agrare

[2021-12-07 17:22] zackary-deems commented on #21601
Find it here:  https://gist.github.com/zackary-deems/a5313c0ef68d8b20869fc85bc0cb6803

[2021-12-07 21:09] Fryguy commented on #21601
@kavyanekkalapu Please take a look.

[2021-12-07 21:25] kavyanekkalapu commented on #21601
@zackary-deems I couldn't reproduce it with master. Are you using Morphy or Lasker?

[2021-12-07 21:26] zackary-deems commented on #21601
Lasker

[2021-12-07 22:11] zackary-deems commented on #21601
For what it's worth, I'm not sure what the steps are to reproduce this.  It was just normal clicking around the UI.  I get similar errors when I try to access the Settings accordion as a superadmin user OTHER than Admin.

[2021-12-08 05:22] jinsu88 opened #21608 "How can I list cloud subnets based on availability zone selected"
I'm trying to setup a service dialog and I want to show the subnets based on the selected availability zone. I'm using cloudform essentials as an example to write the method.

The following code for service dialog displays the subnet for the availability zone that's selected by default when setting up catalog Item.

![image](https://user-images.githubusercontent.com/9666915/145163951-490f1e59-fafe

[2021-12-08 09:06] jinsu88 commented on #21608
It is now resolved. I used `$evm.root.attributes["dialog_placement_availability_zone"]` to get the dialog availability zone
[code]

[2021-12-08 09:06] #21608 closed

[2021-12-08 12:12] jinsu88 opened #21609 "Service Dialog name for AWS Ec2 Images"
What should be the name for AWS IMAGE in service dialog? I tried various things but none of them are working.

I'm using CloudForms `Integration/Amazon/EC2/DynamicDialogs/list_ec2_template_guids` as the entry point and it retrieves image names and guid.

The provisioning dialog template expects `src_vm_id` but the cloudforms provide Image Name and GUID. I get error saying there is no such template

[2021-12-08 13:25] jinsu88 commented on #21609
Resolved the issue. I had to fix the Ruby code instead. It had `id` attribute but was using `guid`

`dialog_hash[template.id] = "#{template.name} on #{provider.name}"`

[code]

[2021-12-08 13:25] #21609 closed

[2021-12-08 13:34] jinsu88 opened #21610 "Run playbooks automatically after VM is provisioned when ordering catalog"
Is it possible to run playbooks on provisioned instances through catalog? I know we can run playbooks using buttons after the VM is provisioned through compute -> New buttons.

But I want to add a service dialog to catalog request and list all available playbooks and user should be able to select multiple playbooks and the playbooks should run after its provisioned.

This is where I want add a dro

[2021-12-08 14:24] kavyanekkalapu commented on #21601
@zackary-deems Thanks. I will check with lasker.

[2021-12-08 14:36] Bhoopeshkj commented on #21588
@Fryguy @kavyanekkalapu We used the latest version : manageiq/manageiq:latest-lasker, updated 5 hours ago from now but still see the STS token is showing as mandatory, thought the files updated in the commit reflect in my local setup.

Can you please check again if there any other modules within ManageiQ which might be causing this issue.

[2021-12-08 15:30] chessbyte commented on #21588
https://github.com/ManageIQ/manageiq/pull/21600 has not yet been backported to Lasker - so I don't expect that it will be available in `latest-lasker` until that PR is backported

[2021-12-08 15:40] kavyanekkalapu commented on #21588
@Bhoopeshkj Only master and Morphy has this change.

<img width="1014" alt="Screen Shot 2021-12-08 at 10 39 53 AM" src="https://user-images.githubusercontent.com/37085529/145237529-e29d763c-71e2-4f47-afa5-04d5be0567fd.png">

[2021-12-08 15:58] chessbyte commented on #21588
@Bhoopeshkj [#21600](https://github.com/ManageIQ/manageiq/pull/21600#issuecomment-988926776) was backported to Lasker!

[2021-12-08 16:19] tjazsch commented on #21594
Hey, sory for the late answer.

Seeding the database (using bin/rails db:seed) still returns the same error as above (after successfully installing ovirt-engine-sdk -v 4.4.1, updating the system, reinstalling the rest of the packages and stuff like that).

I've setup Vagrant virtual machine to run MiQ environment so (for me) it's not as big of a problem anymore.

Nevertheless, I'm sending full tra

[2021-12-08 17:03] Fryguy commented on #21594
I don't understand how you can have permissions denied for the log directory on your own machine?  You shouldn't have to use sudo for anything and if you had done that previously, particularly during ruby installation or `bundle install` then that is likely where your permissions errors are coming from (i.e. the gem is built with root permissions and an non-root user is trying to access it).  In m

[2021-12-09 03:47] Bhoopeshkj commented on #21598
fixed this under : https://github.com/ManageIQ/manageiq/issues/21609

[2021-12-09 03:47] #21598 closed

[2021-12-09 14:59] zackary-deems commented on #21419
sorry, I wasn't getting notifications for this bug.  In fact, at the moment I cannot give you screenshots.  I don't know if something was updated after I created this bug, but all of my environments now show the same region as I would expect.  I'll have to watch when I do our next build and see if I can reproduce it again.  It was an every time thing for a new install when I created the bug.

[2021-12-09 18:46] kavyanekkalapu commented on #21601
@zackary-deems I am not able to reproduce it in Lasker too. @Fryguy what else we can try?

[2021-12-10 05:15] Bhoopeshkj commented on #21588
@chessbyte @kavyanekkalapu @Fryguy We have deleted the old images and tried creating the new container for the verion : manageiq/manageiq:latest-lasker
But still we are seeing the amazon creds under ansible is having STS token field as mandatory.
please check once again from your side and let me know if anything else needs to be done for this.

![image](https://user-images.githubusercontent.com/89

[2021-12-10 13:59] chessbyte commented on #21588
@Bhoopeshkj please provide MIQ version you retried with.  If you pulled down a Lasker nightly, can you specify which one

[2021-12-13 05:30] Bhoopeshkj commented on #21588
please find
![Uploading image.png…]()

[2021-12-13 05:32] Bhoopeshkj commented on #21588
@chessbyte  please find the version and details below  : manageiq/manageiq:latest-lasker

![image](https://user-images.githubusercontent.com/89378347/145757662-78740f07-6fea-438f-bec6-3de4e9e8c09d.png)

[2021-12-13 17:12] chessbyte commented on #21588
I believe that was built on 2021-07-13.  You need something from a recent Lasker build (see https://releases.manageiq.org/index.html)

@Fryguy @bdunne Does the `latest` tag applies to the latest released or latest built?

[2021-12-14 04:24] jinsu88 opened #21616 "NameError: uninitialized constant - how to initialize SCRIPT_CLASS"
Why am I getting uninitialized constant and how can I initialize SCRIPT_CLASS? I get the following error. I'm trying to print Ansible tower job names.

`NameError: uninitialized constant MiqAeMethodService::MiqAeServiceManageIQProvidersAnsibleTowerConfigurationManagerConfigurationScript`

This is the code I'm trying to include in cloudforms essentials and if it works then I can create a dialog_has

[2021-12-14 23:02] Fryguy commented on #21561
All of the provider PRs are merged.  I think we just need API/UI support at this point.

[2021-12-14 23:05] Fryguy commented on #21601
It must be something specific to @zackary-deems 's setup?  Perhaps something in that middle nav that doesn't exist in our DBs?

[2021-12-14 23:18] Fryguy commented on #21616
@akhilkr128 Can you take a look at this one?

[2021-12-15 04:16] Bhoopeshkj commented on #21588
@Fryguy @chessbyte Please confirm when will the lastest of lasker get this update for STS token.

[2021-12-15 12:49] jinsu88 opened #21618 "How to pass Job_template_name or id to launch_ansible_job"
How to pass `Job_template_name` or `Job_template_id` to launch_ansible_job?

I've tested it by creating a input parameter

![image](https://user-images.githubusercontent.com/9666915/146309677-bacd613b-cca1-4a2a-8cd5-9d4b16aaa245.png)

![image](https://user-images.githubusercontent.com/9666915/146314447-2981d8a6-edbc-4002-8f95-746eca88bf8e.png)

And also by naming the service_dailog correctly.. (I

[2021-12-15 15:38] Fryguy commented on #21588
Oh sorry - forgot to hit send :/

latest is "latest built"...it's possible that the builds haven't been occurring?  @bdunne?

Note that the screenshot is showing lasker-1-20210713, which means this is a build of lasker-1 from 5 months ago...definitely not the latest.

[2021-12-15 15:45] chessbyte commented on #21588
@Fryguy @bdunne I do see Lasker builds from December in https://releases.manageiq.org/index.html

[2021-12-15 15:54] Fryguy commented on #21588
Those don't include the docker builds though...looking at https://hub.docker.com/repository/registry-1.docker.io/manageiq/manageiq/tags?page=1&ordering=last_updated , it doesn't appear that lasker has been building.

[2021-12-15 23:03] Fryguy opened #21620 "Switch to GitHub Actions"
Our contract with Travis has ended, and while we expected to revert to the prior default of 5 free workers, we were incorrect as it seems Travis doesn't have support for open source anymore, so we're stuck 🙃  (technically they support 10000 free credits which is not much at all).  Need to switch everything to GitHub Actions.

### Core Repositories

- [x] ManageIQ/manageiq
  - [x] ManageIQ/manageiq

[2021-12-16 09:19] jinsu88 opened #21621 "How to pass Job_template_name or id to launch_ansible_job"
How to pass `Job_template_name` or `Job_template_id` to launch_ansible_job?

I've tested it by creating a input parameter

![image](https://user-images.githubusercontent.com/9666915/146309677-bacd613b-cca1-4a2a-8cd5-9d4b16aaa245.png)

![image](https://user-images.githubusercontent.com/9666915/146314447-2981d8a6-edbc-4002-8f95-746eca88bf8e.png)

And also by naming the service_dailog correctly.. (I

[2021-12-16 09:20] #21618 closed

[2021-12-16 14:58] chessbyte commented on #21620
@Fryguy why are the v2v repos in the list above?  I thought we no longer pull them in.  Or is that just for completeness as well as maybe backporting to branches where they were released before.

BTW, do each of these need to be backported to all the prior branches?

[2021-12-17 14:04] grtxghe commented on #21444
Hi,

@Fryguy

We deployed the fix on an affected CF5.0 (5.11.11) region yesterday.
Tagging now behaves normally. No regressions found so far.

Thanks !!

[2021-12-17 20:46] rspagnola commented on #21444
+Josh Carter ***@***.***>

Ryan Spagnola, RHCE

STSE Customer Experience & Engagement

Red Hat  <https://www.redhat.com/>
<https://red.ht/sig>

On Fri, Dec 17, 2021 at 9:05 AM Guillermo Reartes ***@***.***>
wrote:

[2021-12-18 06:39] jinsu88 opened #21626 "Data undefined method `values_at' for nil:NilClass [automation_manager/tree_select]"
Why am I getting the following error when select a template? Also its not showing the port number of AWX tower.

![image](https://user-images.githubusercontent.com/9666915/146632013-48f81a3b-247f-4a9b-968f-7a6fb163da99.png)

`Complete logs:`

[code]

[2021-12-20 03:02] jinsu88 opened #21627 "How to set Unique hostname when ordering VM's through service catalog?"
[Documentation ](https://pemcg.gitbooks.io/introduction-to-cloudforms-automation/content/chapter15/naming.html)says when provisioning VM's if the count is greater than 1 then it'll add zero padded numbers (example: server001, server002).

But it doesn't happen when ordering VM's through service catalog.

I have a service dialog which accepts VM_NAME and if I order 3 VM's with name `TestServers` th

[2021-12-20 12:17] Bhoopeshkj opened #21628 "Memory Leak Issue on the latest version when testing"
We have been trying to use the latest version of docker image as mentioned in this git hub repo and the docker container is crashing repeatedly on local laptop with 8 Gb Memory free allocated.
Also, hosted the VM on AWS EC2 t2.medium instance where again same issue is persistent.
EC2 instances hangs whenever we access manageiq on the UI. Sometimes it crashes before starting up at container level t

[2021-12-20 14:50] agrare commented on #21626
cc @kavyanekkalapu exception coming from the UI code

[2021-12-20 21:22] Fryguy commented on #21444
Closing since this sounds like it's fixed.

[2021-12-20 21:22] #21444 closed

[2021-12-20 21:23] Fryguy commented on #21626
The URL shown is the ManageIQ appliance, not tower, so if you're accessing over https/443, it won't show anything.

[2021-12-21 22:26] kavyanekkalapu commented on #21626
@miq-bot assign @GilbertCherrie

[2021-12-22 11:42] Bhoopeshkj commented on #21628
@Fryguy @chessbyte please help out on this?

[2021-12-22 14:12] Fryguy commented on #21628
I haven't been able to reproduce this locally...can you give more information like logs?  Perhaps the top log?

[2021-12-22 14:13] Fryguy commented on #21628
Also, which version is "latest version"...are you using morphy-1-beta1?

[2021-12-22 14:20] agrare commented on #21628
Depending on what workers you're running, 8GiB is not very much and you're highly likely to run out of memory in the normal course of operation.

[2021-12-22 14:32] Fryguy commented on #21628
That's true...our docs recommend 12GB.  8GB is fine to start, but as soon as you start adding providers, particularly more than one provider, you run the chance of running out of memory.  That being said, my docker instance only has 8GB memory and I could boot the morphy-1-beta1 image without a problem.

[2021-12-22 21:24] GilbertCherrie commented on #21626
@jinsu88 Are you able to reproduce your steps as to how you created that template. It seems this issue is caused from a nil template but I was not sure how that came up.

[2021-12-22 23:14] #21626 closed

[2021-12-23 22:05] GilbertCherrie commented on #21626
This issue seems to have been fixed in PR https://github.com/ManageIQ/manageiq-ui-classic/pull/7998 already. This PR is already backported to Lasker. @jinsu88 do you know what version of ManageIQ you are using?

[2021-12-27 17:43] weismannweb opened #21635 "Proxmox provider"
Hi,

I know this has been asked before: https://github.com/ManageIQ/manageiq/issues/18188

But now that it is 2021 onto 2022 and that their are some libs available for this I want to ask some questions as I may support the development of this with my own resources or anyone in the community willing to pick it up as a paid gig.

It seems your using FOG, is that correct? so can we use this?

https:/

[2022-01-03 10:36] Jonathan-Caruana opened #21636 "VM no starting up after provisionning"
Hi !

I use ManageIQ version lasker-1.20210713173155_7f825df with oVirt cluster 4.3.10.4-1.el7 to create VM from an oVirt template.

The provisionning process run correctly, the VM is created on oVirt but it doesn't start automatically after creation (i always check "Power on virtual machines after creation". The main problem is if the VM doesn't start, the cloud-init is not used and the settings

[2022-01-04 14:17] weismannweb commented on #21635
Let me look at the code.  I am actually a PHP developer so it would be a challenge for me to jump into FOG/ruby and all the libs i found are gpl: https://github.com/search?q=proxmox+fog so we are talking about using those libs as guidance only I guess.  If I cant do it (or code quality would suffer from my learning experience) I will have one of my dev team members with ruby knowledge do it.... be

[2022-01-04 14:18] chessbyte commented on #21635
Strange that https://github.com/fog/fog-proxmox is GPLv3, whereas https://github.com/fog/fog is MIT license.

[2022-01-04 14:21] Fryguy commented on #21635
That's because it looks like the Foreman (i.e. Red Hat Satellite) team worked on it, and Foreman is GPLv3...they probably did it out of habit.

[2022-01-04 14:22] chessbyte commented on #21635
Opened https://github.com/fog/fog-proxmox/issues/73 to get a clearer answer about the license.

[2022-01-04 14:24] weismannweb commented on #21635
cool!

[2022-01-04 14:31] Fryguy commented on #21636
This sounds familiar... @agrare was this fixed already?

[2022-01-04 14:33] agrare commented on #21636
Yes I believe this was fixed by https://github.com/ManageIQ/manageiq-providers-ovirt/pull/586

[2022-01-04 14:36] agrare commented on #21636
@Jonathan-Caruana you should be able to fix this by editing the settings, as the root cause of the issue was a missing default config item.  If you go to advanced settings and find the `:ems_refresh` section then find the `:rhevm` block add `:allow_targeted_refresh: true`, see [December 7, 2021 12:47 PM](https://gitter.im/ManageIQ/manageiq/providers?at=61af9e3514e58d17d8656251) for a screenshot of

[2022-01-04 14:42] agrare commented on #21635
If there is a ruby SDK to work with creating a new provider for an existing provider type (e.g. an InfraManager or a CloudManager) shouldn't take more than a week or two of work to get to a functional provider (able to add to MIQ and perform a full refresh).  I'm happy to work closely with anyone who wants to take this on to help kickstart the effort by taking care of most of the "boilerplate" wor

[2022-01-04 15:07] Jonathan-Caruana commented on #21636
Hello @agrare @Fryguy

Many thanks, i have put the fix and test a new deployment and it works as expected.

Regards

[2022-01-04 15:07] #21636 closed

[2022-01-04 17:48] tjazsch commented on #21594
Hey,

sorry for the late reply. I managed to get the system up and running on OSX.

First of all, yes, I accidentally called `sudo bundle exec ...` - consequently, I had to call bundle with sudo not to have permissions denied every time. Bundle is in a way tied to its absolute location, so the solution was to change the location of the project, reinstall bundle and the problem was gone.

Neverthel

[2022-01-04 17:48] #21594 closed

[2022-01-04 19:22] bdunne commented on #21588
Is this still an issue?  I see `latest-lasker` was last pushed 18 hours ago https://hub.docker.com/r/manageiq/manageiq/tags?page=1&name=latest-lasker

[2022-01-07 16:51] marcel-kondermann opened #21647 "Launch ManageIQ K8s Operator with images from private Registry"
Dear all@ManageIQ,

I was trying to start the Kubernetes Operator for ManageIQ with all pods pulling images from a private Container Registry (for Security reasons and better Version Control). So I tagged all images that originally came from docker.hub/manageiq accordingly and pushed the to my own registry.

But at he end I was not able to customize manageiq.org_v1alpha1_manageiq_cr.yaml in a way

[2022-01-07 19:54] Fryguy commented on #21647
Pretty sure we have a way to do this, because we leverage it elsewhere.  @bdunne ?

[2022-01-11 14:25] ser0www opened #21649 "NameError: uninitialized constant"
NameError: uninitialized constant ManageIQ::Providers::Kubernetes::ContainerManager::ContainerVolume
Got this error after bin/rails db:seed

ruby 2.6.6
rails 6.0.4.4

[2022-01-11 14:32] agrare commented on #21649
:+1: thanks @ser0www already looking into this

Fixed by:
- [ ] https://github.com/ManageIQ/manageiq-providers-google/pull/208
- [ ] https://github.com/ManageIQ/manageiq-providers-oracle_cloud/pull/39
- [ ] https://github.com/ManageIQ/manageiq-providers-ibm_cloud/pull/319
- [ ] https://github.com/ManageIQ/manageiq-providers-vmware/pull/777

[2022-01-11 16:40] agrare commented on #21649
Just ran db:seed successfully, this should be resolved now

[2022-01-11 16:40] #21649 closed

[2022-01-12 18:29] agrare opened #21653 "[Providers] Improve persister behavior for provider authors"
The `Inventory::Persister` class is what defines the behavior of save_inventory for the various inventory_collections.  An inventory collection broadly maps 1:1 to a table that has to be saved.  Things can get relatively complex when you start throwing in targeted refresh and multiple child managers.

This is a tracking issue for improving the behavior of defining the persister in the various prov

[2022-01-13 16:04] agrare opened #21655 "Create a notification for worker memory issues"
When a worker is unable to start due to insufficient memory or too much swap space usage an evm_event is raised but unless email is set up it is very easy to miss these events.

If we created a notification that showed up in the UI it would greatly reduce the likelihood that these system issues were missed and make it easier to get to the root cause rather than just noticing that e.g. metrics aren

[2022-01-13 16:04] agrare commented on #21655
cc @Kuldip-Nanda

[2022-01-17 11:38] marcel-kondermann commented on #21647
Hi @bdunne

do you think there is a way to implement this?

[2022-01-19 20:46] bwoolf1122 opened #21657 "Lasker Vagrant Image Missing"
Per the [Easy Install With Vagrant guide](https://www.manageiq.org/docs/get-started/vagrant), a vagrant image should be available for Lasker, however it does not appear in the list here: https://app.vagrantup.com/manageiqhttps://app.vagrantup.com/manageiq

`vagrant up` for `manageiq/lasker`

[code]

[2022-01-19 20:47] Fryguy commented on #21657
@bdunne Seems we missed lasker in vagrantup.  Can you upload it when you have a chance?

[2022-01-19 20:48] Fryguy commented on #21657
Probably morphy beta too if we upload betas.

[2022-01-19 21:02] bdunne commented on #21647
See `baseWorkerImage`, `httpdImage`, `kafkaImage`, `memcachedImage`, `orchestratorImage`, `postgresqlImage`, `uiWorkerImage`, `webserverWorkerImage` and `zookeeperImage` in https://github.com/ManageIQ/manageiq-pods/blob/master/manageiq-operator/deploy/crds/manageiq.org_manageiqs_crd.yaml
You can use the fully qualified Image for each of those, for example: `registry.example.com/my_namespace/image_

[2022-01-19 22:24] whitesource-bolt-for-github[bot] opened #21659 "Action Required: Fix WhiteSource Configuration File - .whitesource"
There is an error with this repository's WhiteSource configuration file that needs to be fixed. As a precaution, scans will stop until it is resolved.

Errors:
* "settingsInheritedFrom" attribute provided in ManageIQ/manageiq/.whitesource points to a non-existent repository or branch: 'manageiq/whitesource-config@master'

[2022-01-19 22:48] Fryguy opened #21660 "Replace hakiri with whitesource"
Hakiri is sunsetting, so for dependency checks, in addition to dependabot, we are going to try out [Whitesource Bolt](https://www.whitesourcesoftware.com/free-developer-tools/bolt/)

Issues created by the whitesource bot:
https://github.com/pulls?q=is%3Aissue+author%3Aapp%2Fwhitesource-bolt-for-github+archived%3Afalse+org%3AManageIQ+is%3Aopen+

### Core repositories

- [x] #21658
- [x] ManageIQ/ma

[2022-01-20 15:11] #21659 closed

[2022-01-24 15:33] Fryguy commented on #21657
Closed via https://github.com/ManageIQ/manageiq-release/pull/241 and its subsequent execution.  Vagrant is now up to date.

[2022-01-24 15:34] #21657 closed

[2022-01-24 19:34] bdunne commented on #21588
Please reopen if this is still an issue

[2022-01-24 19:34] #21588 closed

[2022-01-28 17:49] chessbyte commented on #21557
@kbrock @bdunne @Fryguy has the log file permission issue been resolved?

[2022-02-01 18:39] akhilkr128 commented on #21616
I am looking into this.

[2022-02-01 20:44] Fryguy commented on #21660
For some reason I can't update the OP anymore..Github just pukes on it...here's the Hakiri removal PRs:

- [x] Remove hakiri from README files
  - [ ] ManageIQ/activerecord-id_regions#24
  - [ ] ManageIQ/amazon_ssa_support#72
  - [ ] ManageIQ/azure-armrest#413
  - [ ] ManageIQ/bundler-inject#24
  - [ ] ManageIQ/dbus_api_service#29
  - [ ] ManageIQ/foreman_api_client#17
  - [ ] ManageIQ/httpd_confi

[2022-02-01 20:52] #21660 closed

[2022-02-02 05:57] akhilkr128 commented on #21616
I have tested it, and the below code will work.

`SCRIPT_CLASS = 'ManageIQ_Providers_AnsibleTower_AutomationManager_ConfigurationScript'.freeze
job_template = $evm.vmdb(SCRIPT_CLASS).first

$evm.log('info', "Single package- #{job_template.id}")`

Please refer to the updates on the automation book [here](https://manageiq.gitbook.io/mastering-cloudforms-automation-addendum/).

This [section](https:/

[2022-02-02 06:02] akhilkr128 commented on #21567
Working on this will update the findings here.

[2022-02-02 06:22] akhilkr128 commented on #21567
@Fryguy. Yes, we can add a fail message option under validator field.
<img width="903" alt="Screenshot 2022-02-02 at 11 50 17 AM" src="https://user-images.githubusercontent.com/16753936/152104317-c10ca26f-b9d5-487e-b725-60e16d7c606c.png">
Working on this.

[2022-02-02 15:07] Fryguy commented on #21616
Closing as this is resolved.  @jinsu88 please reopen if you still have issues.

[2022-02-02 15:07] #21616 closed

[2022-02-02 21:06] kbrock commented on #21516
update to ^ comment. virtual attributes is handles

[2022-02-04 04:51] kbrock commented on #21557
It creeps up after log file rotation and sometimes on the first boot.

Think @agrare wants to drop all log files to fix this

[2022-02-05 21:14] Fryguy commented on #21620
Need to also fix an issue where branches pushed to local forks fail on the Gemfile.lock.release (though a PR made with that branch will succeed).  I thikn it's because it's technically a non-master branch, but also not a PR.  Not sure how to solve this just yet, but it's annoying in the GitHub Notifications.

[2022-02-05 22:47] Fryguy commented on #21620
TODO: Cleanup some of the first actions for consistency: manageiq-gems-pending, vwware_web_service, pg-logical_replication, activerecord-virtual_attributes

[2022-02-08 03:08] kbrock commented on #20676
Looks to be related to #20961

[2022-02-08 03:27] kbrock commented on #20467
@Fryguy do we still need to support `::Settings.server.company` or `Settings.server.custom_login_text`?
These are part of the tenant but have overrides in `settings.yml`. company name has a default value but custom login text does not.

Looks like we have a few remnants in ui-classic.

https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/ops_controller/settings/common.rb#L43

[2022-02-08 16:39] kbrock commented on #7990
so this error happens when the order is not in the select clause. even thought the `name` is in the `SELECT` clause, it needs `lower(name)` to be in the distinct clause to work.

If this were `ORDER BY name` or if the `DISTINCT` was not there, then postgres would be fine with this query.
More recent version of rails inject the column into the `SELECT`

I was pretty sure we solved this problem a wh

[2022-02-08 16:56] kbrock commented on #20467
### Goal

remove logic for `use_config_for_attributes: i.e.: https://github.com/ManageIQ/manageiq/blob/master/app/models/tenant.rb#L336-L343

### Current

- The administrator can set the company name in `settings.yml`. It is accessible via `::Settings.server.company`
- The administrator alternatively can set the company name in `Tenant#name`.
- The administrator uses `Tenant#use_config_for_attribu

[2022-02-08 17:08] Fryguy commented on #20467
- What would be the migration for existing installations?
- Is API considered here as well?  I think /api currently has this information
- Is this the current mechanism for appliance-specific branding (of the login screen and the subsequent screens)?  If so, how will that work after this change? Saw this: "we will use the root tenant for company name an login text", but I'm not sure that answer th

[2022-02-08 17:10] Fryguy commented on #20467
For my edification, how is this set currently?  Is there a UI screen to set Tenant name?

[2022-02-09 03:09] chrisarcand commented on #7990
🥴

[2022-02-09 12:56] kTipSSIoYv opened #21687 "RuntimeError: service_template_provision_task not found"
I'm trying to invoke  `/AutomationManagement/AnsibleTower/Service/Provisioning/StateMachines/Provision/preprovision` but I get the following error..

`RuntimeError: service_template_provision_task not found`

I've modified `Job_options` in preprovision. But I'm unable to get it working. Also I'm not sure if it should be invoked after launch_ansible_job or before that.

[code]
![image](https://user

[2022-02-09 14:48] tjazsch opened #21688 "manageiq-providers-ansible_tower - Undefined method 'supports' (NoMethodError)"
Hey,

after running bin/update after a while from the overridden provider as well as from the core, my local MiQ system crashed.
- After entering the rails console and calling refresh method on it, I get the following error:
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/92620429/153223724-611a6c1f-bdbd-4cb8-8ac1-deb2c9473e8d.png">

- After trying to enter rails conso

[2022-02-09 15:03] tjazsch opened #21689 "manageiq-providers-lenovo - yarn failed after ` bundle exec rake update:ui `"
Hey,

after running command ` bundle exec rake update:ui ` from the MiQ core, I get the following error:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/92620429/153226597-e5d3ee0a-cad6-47d6-8577-89ff3838ce61.png">

I tried to reinstall and/or update yarn, reinstall nvm and install manageiq-providers-lenovo locally using ` gem install manageiq-providers-lenovo `, but

[2022-02-09 15:32] kavyanekkalapu commented on #21689
@tjazsch have you tried in latest master?

[2022-02-09 15:33] Fryguy commented on #21689
Can you check your permissions on ~/.yarn directory and subdirectories?  Worst case scenario, just nuke the cache at ~/.yarn/berry/cache or even the entire ~/.yarn directory.

[2022-02-09 18:29] tjazsch commented on #21689
Yep. Retried with today's commits and the response is same after updating UI.

[2022-02-09 18:31] tjazsch commented on #21688
Seems like the commit https://github.com/ManageIQ/manageiq/commit/029cae9ecafd03bb71de238156868117cd758ea9 solved this issue, right? I don't have this problem anymore.

[2022-02-09 18:39] agrare commented on #21688
Hey @tjazsch it looks like you updated your plugins without updating core meaning you had a newer provider repo without the corresponding change to add the mixin.

Incidentally the commit that added SupportsFeatureMixin to Authentication was 5a1b57e0262

[2022-02-09 18:41] tjazsch commented on #21688
Sorry for raising the issue. @agrare, thanks for help.

Best, Tjaz

[2022-02-09 18:41] #21688 closed

[2022-02-09 19:13] tjazsch commented on #21689
@Fryguy, I reinstalled yarn and set the permissions to read & write and it works. Thanks for help to both. :)

[2022-02-09 19:13] #21689 closed

[2022-02-10 16:14] agrare commented on #21557
We do need to resolve this some way before we do a Najdorf release because it completely breaks evmserverd on the appliance

[2022-02-11 13:50] kTipSSIoYv opened #21699 "Unable to add Embedded Ansible Repositories"
I'm unable to add github ansible repositories in manageiq. Any idea how to resolve this?

The option to add is greyed out. I'm using the latest github manageIQ repo to build manageIQ docker instance.

![image](https://user-images.githubusercontent.com/9666915/153602796-18f539ff-2ab2-4468-8c1e-2a291c3e9c46.png)

![image](https://user-images.githubusercontent.com/9666915/153602838-8e6b190e-17aa-4816

[2022-02-11 14:09] kTipSSIoYv commented on #21699
Figured it out. I had to enable Embedded Ansible in Application Settings.

![image](https://user-images.githubusercontent.com/9666915/153606289-88584f8a-381a-411e-9fb2-a52029a3d3b3.png)

[2022-02-11 14:10] #21699 closed

[2022-02-11 14:26] kTipSSIoYv opened #21700 "Unable to add SSH GitHub Repo in Embedded Ansible"
I'm unable to add SSH github repo to Embedded Anisble. Any idea why it isn't accepting even though the URL is correct? Https URL works but SSH url doesn't work

![image](https://user-images.githubusercontent.com/9666915/153609044-29f7d5c2-6a58-40f2-8e49-3651834d306b.png)

[2022-02-11 16:25] agrare commented on #21557
I opened https://github.com/ManageIQ/manageiq-appliance/pull/348 for the logrotate issue, going to try to repro the problem I had on initial appliance setup

[2022-02-12 07:00] kTipSSIoYv opened #21704 "Cannot save Schema after editing"
There is no option to save the schema after editing in the latest version of github manageiq repo. I pulled the latest repo and built a container but I can't save schema.

Any idea how to save it? There should be a `Save, Reset, Cancel` option.

![image](https://user-images.githubusercontent.com/9666915/153700905-bb960957-c56f-43aa-9340-aa74ed288f76.png)

[2022-02-13 13:45] kTipSSIoYv commented on #21687
I tried creating preprovision in the current schema but I still get the same error.

![image](https://user-images.githubusercontent.com/9666915/153756014-49634ae7-5d2f-418a-adc3-291819cb7961.png)

[code]

[2022-02-14 17:16] kavyanekkalapu commented on #21704
@kTipSSIoYv I am not able to reproduce this issue. UI seems different to me. Could you answer following questions?

- Are you in master or Morphy branch?
- Is this summary page or edit page?
- What are exact steps to recreate this issue?

I am seeing this table in UI with buttons. I clicked Edit schema option.

<img width="1388" alt="Screen Shot 2022-02-14 at 12 16 04 PM" src="https://user-images.

[2022-02-14 23:02] agrare commented on #21557
This should be resolved with https://github.com/ManageIQ/manageiq-appliance/issues/349 please re-open if you continue to see this issue

[2022-02-14 23:02] #21557 closed

[2022-02-15 04:08] kTipSSIoYv commented on #21704
@kavyanekkalapu

Are you in master or Morphy branch?
I'm in master branch

Is this summary page or edit page?
Its the edit page - Configuration -> Edit selected Schema

What are exact steps to recreate this issue?
You click on Edit selected schema, add any entries but there is no save button.

[2022-02-15 14:39] chessbyte commented on #21628
Please re-open with more details.

[2022-02-15 19:14] kTipSSIoYv opened #21712 "Generate Unique Security Group name"
We have a way to generate uniuque hostname for `vm_name`. I want to achieve the same thing for AWS Security group. Right now we can't create a security group if the name exists already, so I want to append incrementing number.

I've created a security group method in Datastore and I want the security group names be like `SG-${append_vm_name}-$n{3}`.

This is what we use for unique `vm_name`. Is th

[2022-02-15 19:43] kTipSSIoYv commented on #21704
@kavyanekkalapu Can you tell me what you mean by `bin/update`? I'm not sure what you meant by that. I was thinking about trying morphy branch

[2022-02-15 19:45] kavyanekkalapu commented on #21704
@kTipSSIoYv If you are using development env, please run `bin/update` in manageiq (core) repo. you can also try morphy branch too.

[2022-02-15 21:29] kTipSSIoYv opened #21714 "Is it possible to refresh Cloud provider inside method?"
I'm creating a Security group using a datastore method. But I want refresh the cloud provider so that the new security group is updated in the database and so I can modify the catalog item dialog hash or update the dialog with the new security group ID.

Is it possible to refresh the Cloud provider inside a method?

![image](https://user-images.githubusercontent.com/9666915/154152092-190fdf39-8612

[2022-02-15 21:33] chessbyte opened #21715 "Add Provider Integration to Cisco Intersight"
Vendor overview/documentation is [here](https://www.cisco.com/c/en/us/products/cloud-systems-management/intersight/index.html)

The [provider repository](https://github.com/ManageIQ/manageiq-providers-cisco_intersight) has been transferred to the ManageIQ organization but there are still some tasks left to do.

- [ ] Add the provider repo to the manageiq Gemfile

[2022-02-15 21:37] chessbyte opened #21716 "Reachitect ManageIQ Orchestrator (MiqServer) to minimize privileges"
Continuation of https://github.com/ManageIQ/manageiq/issues/20394

- [ ] limit privileges via selinux or SUID on an exe
- [ ] Get out of monitoring and over to `systemd enable` and `Restart=true`
  - [ ] move kubernetes, systemd, and process logic lives from `MiqWorker` to `MiqServer`.
    - [ ] Move kill to MiqWorker
      - [ ] https://github.com/ManageIQ/manageiq/pull/21732
    - [ ] Move start

[2022-02-15 22:23] agrare commented on #21714
Discussing on Gitter :point_up: [February 15, 2022 4:41 PM](https://gitter.im/ManageIQ/manageiq?at=620c1df318ba2158eb76bbc2)

Basically yes you can, best architecture is to queue a refresh and wait for it to complete in a state machine, then lookup the new security group ems_ref and kick off the provision with that new value

[2022-02-16 06:17] kTipSSIoYv commented on #21700
Update: Morphy version doesn't have this bug. I'm able to add the github repo

[2022-02-16 06:17] kTipSSIoYv commented on #21704
Update: Morphy version doesn't have this bug. I'm able to save the changes.

[2022-02-16 18:07] agrare opened #21717 "Binary Blob Purging Error"
[code]

BUILD: `20220215132227_55d7781`

[2022-02-16 18:08] agrare commented on #21717
cc @Fryguy

[2022-02-16 18:09] agrare commented on #21717
[code]

[2022-02-16 19:28] agrare commented on #20394
We're so close to closing this out, propose that we move "Stop Logging to Files" out of this issue, we already resolved the "workers have to run as root in order to write to log files" with having these owned by `manageiq:manageiq` with `0660`

We already have a separate issue for https://github.com/ManageIQ/manageiq/issues/21004 we can add that to the roadmap targeting Oparin

[2022-02-16 19:43] kTipSSIoYv opened #21719 "How to get uid_ems of AWS provisioned VM"
If 3 vm's are provisioned using catalog then I want to fetch all three vms uid_ems. I want to attach security group using a datastore method but I need the vm's uid_ems for each of the provisioned VM's (using service catalog).

I tried the following but I get `undefined method `destination' for nil:NilClass` error. Also I'm not sure at which stage I should run this. I tried this at post provision.

[2022-02-16 19:52] Fryguy commented on #21719
@kTipSSIoYv if you have general questions, you might have better luck on the ManageIQ forums (https://talk.manageiq.org) or in gitter chat (https://gitter.im/ManageIQ/manageiq), or if automate specific, in the automate gitter channel: (https://gitter.im/ManageIQ/manageiq/automate), as the community watches those places more than the issues.  Issues here will be closed if there isn't an actionable

[2022-02-16 19:52] #21719 closed

[2022-02-16 20:07] #21714 closed

[2022-02-16 20:10] Fryguy commented on #21700
Thanks for validating on morphy @kTipSSIoYv !

[2022-02-16 20:12] kavyanekkalapu commented on #21700
We still have this issue in master.

[2022-02-16 20:24] Fryguy commented on #21700
So it's a "new" problem on master, then?

[2022-02-16 21:00] chessbyte commented on #20394
@agrare I can move that out.  What about the 2 items under `SSL database as non-root`?  If these are close, I would like to get them across the finish line, otherwise will push to Oparin.

[2022-02-16 21:02] agrare commented on #20394
@chessbyte I'm not sure about those, we did have to revert https://github.com/ManageIQ/manageiq-appliance/pull/341 since it was causing us to not be able to connect to the database.  Maybe @kbrock can correct me but that section looks further than closer to being done

[2022-02-16 21:05] chessbyte opened #21722 "SSL Database as non-Root"
- [x] https://github.com/ManageIQ/manageiq-appliance/pull/341
- [x] https://github.com/ManageIQ/manageiq-documentation/pull/1617

Note: pods solves this here: https://github.com/ManageIQ/manageiq/pull/21386

Followup in https://github.com/ManageIQ/manageiq/issues/22091
- [ ] https://github.com/ManageIQ/manageiq-pods/pull/770 update [orchestrator](https://github.com/ManageIQ/manageiq-pods/blob/bc27

[2022-02-16 21:06] chessbyte commented on #20394
Split off SSL Database as non-Root to https://github.com/ManageIQ/manageiq/issues/21722

[2022-02-16 21:08] #20394 closed

[2022-02-17 20:27] Fryguy opened #21725 "Update containers to latest ubi"
- [x] https://github.com/ManageIQ/container-httpd/pull/69
- [x] https://github.com/ManageIQ/container-httpd-init/pull/19
- [x] https://github.com/ManageIQ/manageiq-pods/pull/813
- [x] https://github.com/ManageIQ/manageiq-rpm_build/pull/266

[2022-02-17 21:42] bdunne commented on #21725
All merged, closing

[2022-02-17 21:42] #21725 closed

[2022-02-18 23:08] #21717 closed

[2022-02-21 23:34] Fryguy opened #21734 "Upgrade ansible-runner to 2.3.0"
We are currently using ansible-runner 1.4.7, which we are getting from ansible's yum repo.  However, as of 2.0.0 they moved away from that repo and moved to Fedora repos.  They are now on version 2.3.0, and we should upgrade.

- [x] https://github.com/ManageIQ/manageiq-appliance-build/issues/423
- [ ] https://github.com/ManageIQ/manageiq-rpm_build/pull/333

[2022-02-22 10:53] kTipSSIoYv opened #21735 "PostProvision method runs multiple times based on number of vm's ordered."
I've created a method called `SG_PreProvision` which is to create AWS Security group and attach it to instances created by catalog.

I've put the method under postPorovision but it runs 4 times if we order 4 vm's or 3 times if we order 3 vm's.  How can I ensure that it runs only once and succeeds? Also a note: Based on the log below we have `r259_miq_provision_1013`, `r259_miq_provision_1014` and

[2022-02-22 16:46] Fryguy commented on #21734
Yes, I think pypi is the right one, but it makes upgrades harder, since we aren't the ones installing it directly.  That is, you'd have to do it in some kind of post-script or part of the image build itself.  The other option that @bdunne suggested is we vendor is as part of the manageiq-ansible-venv rpm, which we haven't completed yet, but that might isolate it.

[2022-02-23 15:52] chessbyte commented on #21188
@Fryguy is https://github.com/ManageIQ/manageiq/pull/21681 part of this Epic or similar, but different?

[2022-02-23 18:17] Fryguy commented on #21188
I believe it is part of this epic... @akhilkr128 ?

[2022-02-23 20:28] agrare opened #21738 "MiqTemplate `without_volume_templates` hard-codes Openstack class names"
There seems to be a few issues with this one, seems that Openstack creates "fake" `VolumeTemplate` and `VolumeSnapshotTemplate` records which inherit from `MiqTemplate` so that they can be selected for provisioning with the VmOrTemplate provision request type.

This led to these being shown in the template list on the UI, so there is a `.without_volume_templates` scope that just does `where.not(:t

[2022-02-24 18:18] kavyanekkalapu opened #21743 "Automation -> providers should use ExternalAutomationManager not the AnsibleTower provider."
Changes needed in both core and ui repos.

@miq-bot assign @kavyanekkalapu
@miq-bot assign @agrare

<img width="895" alt="Screen Shot 2022-02-24 at 1 16 27 PM" src="https://user-images.githubusercontent.com/37085529/155583502-4bf1c8cb-255f-4c86-9eb8-2a83dc7cc0b6.png">

[2022-02-24 18:19] kavyanekkalapu commented on #21743
core pr -> https://github.com/ManageIQ/manageiq/pull/21740

[2022-02-24 19:45] Fryguy commented on #21511
Adding this to the Roadmap...I think we should do this for next release.

[2022-02-25 08:05] kTipSSIoYv opened #21747 "Ansible Tower job - Max_Retries doesn't work (Wait_for_Completion ends up in loop)"
I've set Max_Retries to 2 but the ansible tower job runs around 100 times when the ansible job has either failed or unreachable.

![image](https://user-images.githubusercontent.com/9666915/155677892-169d87fb-d364-430c-83ef-d50272bd1500.png)

![image](https://user-images.githubusercontent.com/9666915/155678084-3387fb97-c739-462b-86cf-cffc653c7f47.png)

Here are the logs:

[code]

[2022-02-25 20:04] kTipSSIoYv commented on #21747
I'm trying the following workaround... modified the `check_status` function in `wait_for_completion.rb`.

But I would appreciate if someone could tell me how to make the `max retries` work for wait_for_completion.

![image](https://user-images.githubusercontent.com/9666915/155787972-1fb3613c-26c7-4bd6-ba38-04b7ee02a9a2.png)

[2022-02-25 21:11] Fryguy commented on #21620
I'm going back and adding crons to all of the repos.  As discussed with Adam we will do all "manageiq" repos daily and the rest of the repos like gems and such weekly

- [x] https://github.com/ManageIQ/manageiq/pull/21709
- [ ] https://github.com/ManageIQ/manageiq-api/pull/1139
- [ ] https://github.com/ManageIQ/manageiq-automation_engine/pull/496
- [ ] https://github.com/ManageIQ/manageiq-consumpt

[2022-02-28 15:42] Fryguy commented on #21700
Fixed in https://github.com/ManageIQ/manageiq-ui-classic/pull/8122

[2022-02-28 15:42] #21700 closed

[2022-02-28 17:03] akhilkr128 commented on #21747
Working on this.

[2022-03-04 17:35] Fryguy commented on #21377
I added FileDepot to the OP.  I believe the only thing it is still used for is log collection, but I'm wondering if we can do log collections completely differently and then just completely delete this class.  Let's discuss.

[2022-03-05 13:08] xaas-support opened #21760 "Can't Provisioning a container in OKD and k8s"
@Fryguy  @agrare  Hi ,

I try to spin up service container okd catalog and k8s but, container not provisioning in okd and k8s and there is no  service catalog initialization for container services.

![image](https://user-images.githubusercontent.com/79967451/156884388-464d8da4-ffb5-405f-90b2-27bd0751cb5a.png)

[2022-03-07 15:40] agrare commented on #21760
Hello @sahul-devops the way to provision a service using the openshift provider is via Container Templates, pick the template that you want to deploy and under `Configuration` select `Create Service Dialog from Container Template`:
![Screenshot from 2022-03-07 10-37-17](https://user-images.githubusercontent.com/12851112/157066327-85002254-e9b9-4f03-9aa8-c79145f5649f.png)

Also take a look at https

[2022-03-07 16:44] Fryguy commented on #21377
Added discussion for the removal of "Menu" widgets.  These seem completely pointless to me, but maybe I'm misunderstanding some fundamental thing.

[2022-03-10 23:19] kbrock commented on #21377
can we think about `custom.css` -- Since the file does not have a timestamp, we have a short timeout, and the client checks the file on every page load.

Also, in the pod world, I do not think that the customer is even able to modify the `custom.css`.

[2022-03-11 19:33] Fryguy opened #21772 "Bad/Old session breaks dalli"
I think I had an old session in my memcached instance.  When I went to login, the UI code tries to call handle_invalid_session -> reset_session -> delete_session which causes `undefined method 'private_id' for nil:NilClass`.  This private_id was handled in https://github.com/ManageIQ/manageiq/blob/40a437342ec46511cc65f8f89f1701a16e5c0ac2/app/models/user.rb#L237-L240, for one path, and I think it j

[2022-03-14 08:43] akhilkr128 commented on #21687
It will be better to create a service request than to invoke another state machine's scripts. You can refer to the order_ansible_playbook class.
<img width="1727" alt="Screenshot 2022-03-14 at 2 09 30 PM" src="https://user-images.githubusercontent.com/16753936/158135860-ee0c0980-92a1-4c47-b2fe-a2cd72116a4b.png">

[2022-03-14 23:30] kbrock commented on #21772
This seems like a fix that belongs in dalli proper
Wonder if you could just change `delete_session()` to handle the case where `record_id == nil` for a given session, and instead use `dc.delete(sid)` (This is just an idea. I have not tested).

Then again, It seems valid to just require you dump memcached after upgrading the dalli gem version across major versions.

[2022-03-15 06:15] akhilkr128 commented on #21687
Adding to the above, it will be better to connect the statemachine itself instead of a method. This [chapter](https://pemcg.gitbooks.io/mastering-automation-in-cloudforms-4-2-and-manage/content/tower_related_automate_components/chapter.html) in the automation book adds more light to to your queries.

[2022-03-15 13:45] jrafanie commented on #21772
This was changed in https://github.com/petergoldstein/dalli/commit/3abf71533c5288dd49c4756fb1c9f2989e263e89 (dalli 3.1.0)

It was called out in https://github.com/petergoldstein/dalli/blob/main/History.md#310

`BREAKING CHANGE: Update Rack::Session::Dalli to inherit from Abstract::PersistedSecure. This will invalidate existing sessions (petergoldstein)`

We only had the change in `User`: `session_

[2022-03-15 14:15] akhilkr128 commented on #21735
It is the default behaviour. You can customise the Cloud -> VM -> Provisioning -> Profile. After provision, you can connect the ansible tower state machine or create an automation request through the script.

[2022-03-15 14:57] jrafanie commented on #21772
haha.  yeah, we'd need `delete_session` to be able to handle it.  Maybe we can try that upstream but it seems odd that an installation would have <3.1 dalli session data with 3.1 dalli.  I don't know how feasible it is to get them to accept it.

[2022-03-15 15:00] jrafanie commented on #21772
Yeah, maybe?  I don't know.  We could possible monkey patch the old class `Rack::Session::Dalli < Abstract::Persisted` to have a `private_id` method that returned `self` so it looks more like `Abstract::PersistedSecure`

[2022-03-17 19:23] blomquisg commented on #21655
Looks like it would require a notification call in two places in [system_limits.rb](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_server/worker_management/monitor/system_limits.rb).

At the ends of the two `start_algorithm_` methods just after the error is logged and just before they return `false`.

I haven't looked at the notification framework, so I'm not sure how to add it (y

[2022-03-22 12:46] akhilkr128 commented on #21567
This change resides under the angular space https://github.com/ManageIQ/ui-components. I can see that we have a plan to change this view to react https://github.com/ManageIQ/manageiq-ui-classic/issues/7603. @Fryguy/ @chessbyte, do I need to wait for the react conversion? Or can I move forward with angular for now?

[2022-03-22 13:20] kavyanekkalapu commented on #21567
@akhilkr128 I would suggest to go a head and do it in angular. We have a long way to to convert ui-components to react.

[2022-03-22 13:37] marcel-kondermann commented on #21647
Hi all,

I hadn't got the chance to work on that issue on my side for quite a while. But now - finally - I picked up work again and I can state that everything works fine. All images are now pulled from a private registry.

Thanks a lot! Best regards, Marcel.

[2022-03-23 17:44] agrare commented on #21580
Implemented by https://github.com/ManageIQ/manageiq/pull/21597

[2022-03-23 17:44] #21580 closed

[2022-03-28 13:00] akhilkr128 commented on #21188
No, that is a different task.

[2022-03-29 06:02] kTipSSIoYv opened #21795 "get_option for mutliselect array"
I have a mutli select dropdown for Ansible tower job. I know multiselect isn't supported for ansible tower jobs but I'm trying to make it work. I modified the launch_ansible_job.rb and it works when I provide a array of AWX tower job ID's but I'm not sure how to fetch the dialog and pass it to launch_ansible_job job_template_id as a array.

In the logs I see that its an array of job ID's.

[----]

[2022-03-29 18:11] kbrock commented on #21188
In the past:

- get `request_id` from rack into thread local variable (like we do for locale)
- ensure this `request_id` is used in the log context.
- pass `request_id` into the queue context. (currently userid and stuff like that is part of the context)

Then for the other non-ui tasks:

- the queue workers read `request_id` and set the thread local variable. (including automate jobs)
- the sched

[2022-03-30 12:09] tjazsch opened #21796 "PG::ConnectionBad: could not connect to server: No such file or directory"
Hey,

while fetching upstream for the latest code and running the usual `bin/update` from the MiQ's core, I get stuck on the command `bin/rails db:migrate`; more specifically, this is the error I'm thrown when trying to migrate the database and appending additional `--trace` flag at the end of the command for DB migration:

![image](https://user-images.githubusercontent.com/92620429/160830217-6542

[2022-03-30 12:58] chessbyte commented on #21796
Do you have PostgreSQL installed and running?  One common approach on MacOS is to use Homebrew (see https://daily-dev-tips.com/posts/installing-postgresql-on-a-mac-with-homebrew/)

[2022-03-30 14:36] akhilkr128 commented on #21795
@miq-bot assign @akhilkr128

[2022-03-30 17:49] Fryguy commented on #21796
If you have installed postgresql through homebrew, be sure to double check `brew services list` and see that postgresql is running there.

[2022-04-04 19:29] kavyanekkalapu commented on #21377
@Fryguy Removed live metrics in https://github.com/ManageIQ/manageiq-ui-classic/pull/8093

[2022-04-05 15:55] whitesource-bolt-for-github[bot] opened #21806 "CVE-2016-5402 (High) detected in manageiqjansa-1-alpha1"
## CVE-2016-5402 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>manageiqjansa-1-alpha1</b></p></summary>
<p>

<p>ManageIQ Open-Source Management Platform</p>
<p>Library home page: <a href=https://github.com/pemcg/manageiq.git>https://github.com/pemcg/manageiq.git<

[2022-04-05 16:04] Fryguy commented on #21806
WAT 😆 .  cc @jrafanie @pemcg

[2022-04-05 17:13] jrafanie commented on #21806
Is it scanning forks?  Why?

[2022-04-12 13:42] kTipSSIoYv commented on #21795
Is there a temporary workaround or a patch that I can I apply and test?

[2022-04-18 12:32] #21743 closed

[2022-04-18 19:04] jaywcarman opened #21823 "Report with chart breaks when setting formatting for data column"
I created a report that shows total memory allocation per `provider_region` for all `::IbmCloud::PowerVirtualServers::CloudManager` type providers. In the report configuration I've enabled a chart shows the total consolidated values for the "Memory" data column. This works as designed, with the chart showing total memory allocation in bytes.

 When I try to configure the report and chart to format

[2022-04-18 19:52] jaywcarman commented on #21823
Was able to get some more info using `byebug`:
[code]

So it's trying to lookup `:"Suffixed Megabytes (MB, GB)"` from the `:formats` value from `./db/fixtures/miq_report_formats.yml` ([loaded here](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_report/formats.rb#L3))

Locally, I see a couple of similar keys:
[code]

[2022-04-19 06:36] akhilkr128 commented on #21795
I couldn't find a workaround for this one. I will update here when we add this feature.

[2022-04-19 12:08] Fryguy commented on #21823
if you change the format_name to `:megabytes_human`, does that work?

[2022-04-19 12:26] #21806 closed

[2022-04-19 13:30] jaywcarman commented on #21823
That fixes the exception, _but_ the chart doesn't use the format:
![image](https://user-images.githubusercontent.com/1637291/164014784-92266405-4ad7-44af-a8bb-238fff809576.png)

Here's the full report yaml:
[code]

[2022-04-19 16:32] Fryguy commented on #21823
This feels like a straight up bug, but I'm not sure to which side the bug belongs.

@jaywcarman Did you create this report by hand or via the report UI?

@jrafanie Can you take a look at this one?

[2022-04-19 16:41] kbrock commented on #21823
I quickly grep-ed through the code and did not find any reports/views with strange `col_format` entries. all seemed to be valid method names.

[2022-04-19 16:44] jaywcarman commented on #21823
Create it via the UI, which set:
[code]

[2022-04-20 06:39] kTipSSIoYv commented on #21795
@akhilkr128 Can you tell me location of the ruby file get_option function is defined? I can try and modify it as per my need.

I tried searching but couldn't find the right source code the get_option

[2022-04-20 13:39] Fryguy opened #21825 "Error Metrics Openshift"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/21824

<div type='discussions-op-text'>

<sup>Originally posted by **Crankz31** April 20, 2022</sup>
Hi everyone,

I saw something weird, i have built a multi-region infrastructure with multiple technologies

we have a Openshift region, i go through the logs and find an error about collecting metrics, i find that weird because on th

[2022-04-20 15:21] agrare commented on #21825
Am able to reproduce this on master, the issue is here https://github.com/ManageIQ/manageiq/blob/master/app/models/metric/ci_mixin/capture.rb#L6 for objects that aren't namespaced, thus `self.class.module_parent::MetricsCapture` on e.g. `::ContainerImage` returns `::MetricsCapture` which does not exist.

It looks like one issue is somewhere in the k8s/openshift refresh code we are hard-coding the

[2022-04-20 19:06] jrafanie commented on #21823
I'll try to wrap a test around the example report using `:megabytes_human`.  I don't know if that `:Suffixed Megabytes (MB, GB)` `col_formats` was intentional or maybe only implemented for reports but not for other report formats such as widget/charts/graphs.  It looks like there's some hardcoded logic for data formats in some of them such as for [utilization charts](https://github.com/ManageIQ/ma

[2022-04-21 05:29] kTipSSIoYv commented on #21795
@akhilkr128 It shows we supports array in the comment. Can we not just modify `data.kind_of?(Array) ? data.first : data` and return array?

  def self.get_option(key, value, from)
    # Return value - Support array and non-array types
    data = value.nil? ? from[key] : value
    data.kind_of?(Array) ? data.first : data
  end

[2022-04-22 10:08] kTipSSIoYv commented on #21795
@kbrock Is this how you wanted me to test?

[code]

[2022-04-22 10:12] kTipSSIoYv commented on #21747
@akhilkr128 2 workers

[2022-04-22 10:15] kTipSSIoYv commented on #21735
@akhilkr128 What is that I have to modify in Cloud -> VM -> Provisioning -> Profile ?

![image](https://user-images.githubusercontent.com/9666915/164688085-c6671c31-87f9-4bcd-b099-0eff5ee0bac9.png)

[2022-04-22 20:53] kbrock commented on #21795
Sorry, I was just making a fly by suggestion for ruby only. I am not sure if this is relevant for your conversation.

[code]

[code]

[code]

[2022-04-23 08:06] kTipSSIoYv commented on #21795
@kbrock nope that doesn't help. I tested it and still its empty. Doesn't return array or any value.

[2022-04-24 16:31] kTipSSIoYv commented on #21795
@kbrock @akhilkr128  where is the source code for the `get_option` for the following code? I want to modify that and test it. Could you please let me know? I think its not the same as  [[mentioned above](https://github.com/ManageIQ/manageiq/blob/619680b323bc4305e23508cb40228225fdc5b85e/app/models/mixins/miq_request_mixin.rb#L2)]

                  prov = $evm.root['miq_provision_request'] || \

[2022-04-26 10:11] kTipSSIoYv commented on #21795
@Fryguy @kbrock @akhilkr128 I created a new function called `get_option_array` in miq_ae_service_miq_request_mixin.rb and it returns array. But the `object_send` only returns the first value. Is there a way to return all values instead of first value?

As you can see that the dialog has two values.. 49 and 52.

`[----] I, [2022-04-26T09:56:06.060867 #325:2afe50cf0ac0]  INFO -- automation: Q-task_i

[2022-04-26 13:01] kTipSSIoYv commented on #21795
Sure I can do that. But the data is retrieved from `object_send` right?

`data = object_send(:get_option, key)`

The above code only retrieves only the first value. I'm not sure how the MiqRequestMixin will help?

[2022-04-26 13:04] Fryguy commented on #21795
@kTipSSIoYv Edited my response above with some more explanation.

[2022-04-26 15:13] #21825 closed, assigned to agrare

[2022-04-28 20:44] jrafanie commented on #21377
I think we still have code that depends on the FileDepot via the FileDepotMixin.

[code]

[code]

I think we can delete the LogFile first and then tackle removing the FileDepotMixin.  I'm not familiar with the PxeServer code to know if that depot code can be removed at this time.

[2022-04-28 20:49] jrafanie commented on #21377
Note, I would love to just delete the FileDepot but I think the PxeServer code is still using parts of the FileDepot via the following calls to `with_depot`:

[code]

[2022-04-29 20:36] jrafanie commented on #21377
Note, as I look at this more, FileDepot and subclasses seem to be unrelated to the FileDepotMixin module other than the name being similar.

FileDepotMixin is using 'mount/miq_generic_mount_session' to mount a NFS/SMB/FTP/etc. session and then using that to upload/download/delete files.  This is what PxeServer is using.  The LogFile class is using FileDepot

FileDepot and subclasses seem to be use

[2022-05-03 06:40] kTipSSIoYv opened #21844 "Tenant hierarchy doesn't work as expected in docker lasker verision"
According to the documentation service catalogs, providers etc., of parent tenants service catalog should be visible to any child tenants.

https://pemcg.gitbooks.io/mastering-automation-in-cloudforms-4-2-and-manage/content/tenancy_and_automate/chapter.html

But for some reason It doesn't work as expected. I created a child tenant but child tenants can't see parent tenants service catalogs. Only w

[2022-05-04 06:44] kTipSSIoYv commented on #21795
@Fryguy I can confirm it works as expected after patching.

[2022-05-06 21:10] agrare opened #21851 "Add yarn/javascript to provider generator"
Add a `--with-js` or similar type flag to the provider generator to add the boilerplate required js files such as https://github.com/ManageIQ/manageiq-providers-cisco_intersight/pull/56/files

[2022-05-06 21:11] Fryguy commented on #21851
Cool.

One thought is that it should go in the plugin generator as opposed to the provider generator, since technically any plugin can bring UI (like v2v did, for example).

[2022-05-06 21:12] agrare commented on #21851
Yeah good point

[2022-05-11 17:46] Fryguy commented on #21760
Clsing as the question has been answered.  Please reopen if you have any more issues.

[2022-05-11 17:46] #21760 closed

[2022-05-11 17:47] Fryguy commented on #21796
Closing waiting for a response.  If you have any more problems, please reopne.

[2022-05-11 17:47] #21796 closed

[2022-05-17 15:20] Fryguy commented on #21715
Done!

[2022-05-23 20:21] Fryguy opened #21874 "Transform VM dialogs related to v2v are still present"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/21870

This seems to have been missed in the deletion of v2v.

[code]

[2022-05-24 14:58] agrare opened #21878 "Don't automatically initialize appliances on first-boot"
Historically the upstream ManageIQ appliance images have been set up to automatically initialize a region and local database on first boot to allow for simpler demo / developer setup.

With this upstream image being used directly or as a basis for more production deployments, it is quite difficult to deploy an additional appliance into an existing region because you have to manually un-do all of t

[2022-05-26 16:37] agrare opened #21886 "Add lifecycle operation support for Cloud Databases"
Core:
* https://github.com/ManageIQ/manageiq/pull/21811
* https://github.com/ManageIQ/manageiq/pull/21815
* https://github.com/ManageIQ/manageiq/pull/21817
* https://github.com/ManageIQ/manageiq/pull/21833

API:
* https://github.com/ManageIQ/manageiq-api/pull/1152
* https://github.com/ManageIQ/manageiq-api/pull/1153
* https://github.com/ManageIQ/manageiq-api/pull/1158

UI:
* https://github.com/Man

[2022-05-31 14:08] kTipSSIoYv opened #21896 "Unable to order embedded ansible playbook from catalog or using buttons"
I'm using docker lasker version of manageiq and I'm unable to order through catalog or run the playbook through button.

When I order the catalog and select the host as localhost and creds as default creds then it executes fine on manageiq local server.

![image](https://user-images.githubusercontent.com/9666915/171292681-757f4297-567a-4b0b-b9d4-b0dad2174f5d.png)

But If I specify the host and dif

[2022-05-31 19:18] agrare opened #21897 "Physical Infrastructure Provider URI"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/21876

<div type='discussions-op-text'>

<sup>Originally posted by **Crankz31** May 24, 2022</sup>
Hi guys !

I tried to add a oneview provider but i got an error on validation. Never saw that before with others providers

![redfish](https://user-images.githubusercontent.com/47506142/169982457-72690e28-9ea7-4d49-85af-3e80eaee7e16.jp

[2022-05-31 20:33] kbrock commented on #21179
not done, I will add a few more notes

[2022-06-01 21:23] #21897 closed

[2022-06-03 05:35] kTipSSIoYv opened #21903 "Unable to start Docker container - undefined method `each' for nil:NilClass"
Unable to start docker lasker instance. Any idea what the issue is? It crashes with the following log entires.

[code]

[2022-06-03 10:17] kTipSSIoYv commented on #21896
@Fryguy I found out how to fix it. Could you please create a patch and also push it to lasker version?

Here is the fix:

Modify app/models/manageiq/providers/embedded_ansible/automation_manager/machine_credential.rb

And change the options as shown below..

    {
      :component        => 'select',
      :label            => N_('Privilege Escalation'),
      :helperText       => N_('Privilege es

[2022-06-03 11:19] kTipSSIoYv commented on #21896
I've created the following pull request.

https://github.com/ManageIQ/manageiq/pull/21906

[2022-06-03 11:41] kTipSSIoYv opened #21908 "Service catalog requests date and time missing"
Service catalog request occasionally doesn't have date and time in the request. It usually breaks when switching from ordering though  buttons to service catalog and sometimes automatically fixes itself. Hard to reproduce the issue.

This issue is in Lasker Docker version.

![image](https://user-images.githubusercontent.com/9666915/171845917-050901ca-0960-4fc3-8c1c-5c7dc4d06deb.png)

In my case it

[2022-06-03 13:06] Fryguy commented on #21903
Are you running docker monolithic or podified on a kubernetes?  Have you tried with morphy?

[2022-06-03 13:23] kTipSSIoYv commented on #21903
monolithic. It was running fine for days. Suddenly its crashing. I just wanted to know what the error means or what it relates to?

[2022-06-03 20:46] jaywcarman commented on #21823
So I think there are two issues here:
1. The UI is setting a `col_formats:` value to `:Suffixed Megabytes (MB, GB)` instead of `:megabytes_human`.
    - Just a bug, can be fixed and tests added
3. The chart doesn't respect the `col_formats:`
    - It's not clear to me if this is a bug, or if it just hasn't been implemented and should be considered as a new feature request?

[2022-06-05 08:55] kTipSSIoYv commented on #21844
I've figured out what the issue is. It turned the child group role had restriction set. If I set it to none then I can see all parent tenants catalogs.

![image](https://user-images.githubusercontent.com/9666915/172042891-a238a0f2-ae19-4533-a12e-5222a9c1fbef.png)

[2022-06-05 08:55] #21844 closed

[2022-06-05 09:06] kTipSSIoYv opened #21913 "Prevent certain catalog from being visible to child tenant"
I have a requirement to block certain catalogs from being visible to child tenants.  By default all parent catalogs are visible to child tenants and there is no way to restrict certain catalog from being visible to child tenant.

I tried modifying `TENANT_ACCESS_STRATEGY` and set it to nil for ServiceTemplateCatalog and I'm able to control the catalogs visibility   through "Additional Tenants".

!

[2022-06-06 16:38] Fryguy commented on #21903
Somehow I think the descendant loader cache is busted.  Are you building the images from source or using the pre-build image?  If you are building them try deleting your rails tmp/cache/sti_loader.yml file

[2022-06-08 05:44] remo233 opened #21918 "can't add the Prometheus metrics for kubernetes Provider"
Hi, I'm running manageiq in my local server and im using the latest version of manageiq morphy.

Recently, i add my container provider Kubernetes and i successfullly added. But, when im trying to add monitoring prometheus i got an ssl error and i selected ssl without validation as security protocol.

I exposed prometheus in nodeport. Also i shared screenshot below.

![image](https://user-images.gi

[2022-06-08 17:35] Fryguy commented on #21896
Alternative PR https://github.com/ManageIQ/manageiq/pull/21907

[2022-06-08 17:41] Fryguy commented on #21913
@jrafanie @kbrock Can we do specific RBAC on specific catalogs via tenancy?  Is this maybe a bug with the Additional Tenants section?

cc @jeffibm since you are redoing this page

[2022-06-08 20:13] GilbertCherrie commented on #21896
This is a UI bug with how the data is being sent to the API. Fixed this issue in UI PR: https://github.com/ManageIQ/manageiq-ui-classic/pull/8302. Also, created a core PR to fix a bug that prevented the value of this field from being displayed in the credentials form: https://github.com/ManageIQ/manageiq/pull/21924

[2022-06-09 12:53] agrare commented on #21918
Hi @remo233, when you say you're running this from your local server do you mean you're running it in "dev mode" and not using an appliance or podified?

Can you try running the following: `openssl s_client -connect 192.168.10.39:30199`

A lot of times "wrong version number" means the server doesn't actually use SSL, for example:
[code]

[2022-06-09 14:10] remo233 commented on #21918
Hi, @agrare Thanks for your reply. I Solved the error by configuring Prometheus in ingress. And I'm using appliance manageiq not the dev mode.

Now, I'm facing another issue in the self-service portal. when I provision a VM in manageiq. I cant see metrics there.

Also, I tried with the OpenStack cloud provider and in OpenStack, i enabled ceilometer and shared the screenshot below.

![image](https:

[2022-06-09 16:50] jrafanie commented on #21913
The system can do a `RBAC.search` with a list of catalog objects and only return the ones you have access to.  We don't have that concept though, so it's finding all catalog items for all ancestor tenants.  You would have to pre-filter the list of catalog items to exclude ones from specific ones and then make sure the remaining are visible via the tenant strategy.

[2022-06-10 14:16] awersate opened #21929 "Can't delete users"
Hi, when i had tried to delete a user i got this error:
EVM User "testuser": Error during delete: user 'testuser' with id [7] has references to other models: MiqRequest

I have found 4 types of requests: service_requests, automation_requests,provision_requests,requests
I could only remove service_requests and after that i still receive an error.(All requests have status "finished")
When i deleted

[2022-06-11 19:00] kTipSSIoYv opened #21932 "Multiselect dialogs doesn't select the first item as their default."
When multiselect is enabled for a dialog, and if the dialog is refreshed by another dialog then the dialogs doesn't select first item as their default.

![image](https://user-images.githubusercontent.com/9666915/173201369-df171f45-8459-4737-8062-c9639bb4c26f.png)

If I disable the multiselect, then it automatically selects the first item.

![image](https://user-images.githubusercontent.com/9666915

[2022-06-11 19:02] kTipSSIoYv commented on #21932
@Fryguy Any idea where the code is for the above issue? I want to see if I can patch it so it has a default value.

[2022-06-12 14:43] Pallasiet commented on #21199
Now that is interesting. When me and my colleagues try to do a `podman push` to quay.io, we get:
"Getting image source signatures
Error: trying to reuse blob sha256:476579af086aee78cb12d88b08fd6b61a80a3f055cae293ec2d15a37dbe7b3f9 at destination: Requesting bearer token: invalid status code from registry 400 (Bad Request)
"
Which has exactly the same SHA256 hash. So must be some deep error in how c

[2022-06-13 14:40] Fryguy commented on #21929
@awersate Thanks for reporting the issue.  Would you happen to have more information about those requests or is that information gone?  I'm wondering if those requests were still "live" requests, or if they were completed.  We might be able to allow deleting users for requests that are already done.

cc @kbrock

[2022-06-14 08:37] awersate commented on #21929
@Fryguy  all requests have been completed.
We have more than 3 MIQ installations and the problem is present on all.

[2022-06-14 12:33] awersate commented on #21929
@Fryguy  my debug steps

when i try to delete

![error_delete2](https://user-images.githubusercontent.com/66886166/173577228-d8cc6338-12d7-434a-bb97-40fbf5f63d36.png)

in api i see 1 request which i can't delete

![requests](https://user-images.githubusercontent.com/66886166/173577379-e00ca4fc-b9d9-4331-8e2a-720deebee8a7.png)

then delete the request from the db

![db](https://user-images.githubus

[2022-06-14 17:23] agrare opened #21937 "Unify Endpoint security_protocol and verify_ssl usage"
We have a somewhat confusing mixture of `Endpoint#verify_ssl` and `#Endpoint#security_protcol` in use by various providers.

Typically providers which only accept verify_ssl `[VERIFY_NONE, VERIFY_PEER]` have no option for non-ssl.

`security_protocol` commonly has options of: `['ssl-with-validation', 'ssl-with-validation-custom-ca', 'ssl-without-validation', 'non-ssl']`

We should ensure we are us

[2022-06-14 18:38] Fryguy commented on #21929
@awersate Can you show the content of that one request?

[2022-06-15 07:55] awersate commented on #21929
@Fryguy  unfortunately I already deleted it, and I only have this console output from the db

<img width="1149" alt="db2" src="https://user-images.githubusercontent.com/66886166/173773531-2e84b3e6-cf12-4155-b148-ab56fcb82c78.png">

[2022-06-15 08:05] awersate commented on #21929
can you tell me why it is impossible to delete a user without deleting his requests?
we have a lot of users in line who will need to be deleted, and this cannot be done due to the fact that each of them is associated with a request or vm

<img width="316" alt="requests2" src="https://user-images.githubusercontent.com/66886166/173775477-ff78ed46-50a9-46f0-b33a-9dad0eca69f5.png">

[2022-06-15 18:27] agrare commented on #21918
Hi @remo233 thanks for following-up with the prometheus fix,  self-service metrics sounds like a separate issue can you open another issue for that?  Thanks.

[2022-06-15 18:27] #21918 closed

[2022-06-15 18:29] Fryguy commented on #21932
Which screen is this on or is this a custom dialog?

[2022-06-15 18:35] Fryguy commented on #21908
@kbrock Can you take a look at this one if you get a chance?

[2022-06-15 18:39] Fryguy commented on #21929
Generally, because of foreign key constraints.  In particular, requests are tied to a person, and if we remove that person, we won't have an audit trail of who created that request.

The reason I'm asking the above questions is I'm trying to understand which particular kind of request this is and for what purpose, as the solution for fixing it would depend on that.  I'm thinking we might be able t

[2022-06-15 19:39] awersate commented on #21929
I agree that if a user is associated with a vm, then it should not be deleted, in my case, the user was unlinked from all vm, but I can’t delete it precisely because of the related requests
If you need any other information, I'll gladly provide it.

[2022-06-16 06:01] remo233 opened #21938 "Self-service metrics for Openstack Provider"
Hi,

I'm using appliance manageiq and not the dev mode.

Now, I'm facing another issue in the self-service portal. when I provision a VM in manageiq. I cant see metrics there.

Also, I tried with the OpenStack cloud provider and in OpenStack, i enabled ceilometer and shared the screenshot below.

![172867523-3d56b081-b04c-4ccc-bf03-f4f0490bfa51](https://user-images.githubusercontent.com/106804310/

[2022-06-16 15:39] Fryguy commented on #21938
@remo233 Any other info you can give us? ManageIQ versions, appliance or podified, errors from the logs?

[2022-06-16 17:23] agrare commented on #21938
@remo233 do you see metrics in the regular UI?  Wondering if it is a self-service UI issue or the metrics are simply not collected

[2022-06-17 05:10] remo233 commented on #21938
Hi agrare and fryguy,

I think it's manageiq self-service issue and also I connected the ceilometer in OpenStack cloud provider.

[2022-06-17 14:12] jrafanie opened #21943 "i18n - Remove the lines numbers from message catalogs"
Thousands of line changes like the ones below make it hard to see the actual changes:

[code]

There is an option to a lot of the gettext tools to specify the type of location.  By default it's `filname:line` but there is a `file` option we can try:

[code]

[2022-06-17 19:35] kTipSSIoYv opened #21944 "Qemu - 503 Service Unavailable"
There are no errors in the appliance console and all services are running. But I can't still connect to manageIQ UI. I always get 503 - Service unavailable. I'm using latest `Morphy` version of QEMU image.

Any idea what the issue is?

![image](https://user-images.githubusercontent.com/9666915/174389862-6b25d8e9-b2d4-4dfe-ae13-654561b7e653.png)

Screenshot of the Overview page of appliance console

[2022-06-17 19:37] Fryguy commented on #21944
@agrare I think possibly you verified qemu image? or perhaps it was @bdunne ?

[2022-06-17 19:37] agrare commented on #21944
@Fryguy I did but that was najdorf

[2022-06-17 19:38] agrare commented on #21944
Those errors are normal on startup

[2022-06-17 19:46] kTipSSIoYv commented on #21944
Any idea why I'm getting that error? I'm trying to find out if I can fix it. I'm trying to switch from docker to qemu.

[2022-06-17 19:47] agrare commented on #21944
@kTipSSIoYv can you check `ps aux | grep MIQ` ?

[2022-06-17 19:50] kTipSSIoYv commented on #21944
There's nothing. But the appliance shows that its running.

[code]

![image](https://user-images.githubusercontent.com/9666915/174392313-b6c912b0-b63b-45ba-97de-b8f39ddba5b3.png)

[2022-06-17 19:57] agrare commented on #21944
That's very weird there are no workers or MIQ Server, can you upload as much of the evm.log as you can?

[2022-06-17 20:24] kTipSSIoYv commented on #21944
It is showing the process in `ps aux`. But still I'm unable to access it.

[root@localhost ~]# ps aux | grep MIQ
root        2062 80.9  1.5 461864 242480 ?       Rl   16:03   3:33 MIQ Server
root        2129  0.0  0.0  12140  1172 pts/0    S+   16:07   0:00 grep --color=auto MIQ

Here is the full log:

[code]

[2022-06-17 20:45] kTipSSIoYv commented on #21944
@agrare You find anything? I'm still trying to troubleshoot.

[2022-06-18 07:50] remo233 opened #21945 "Provision a Container in Kubernetes Provider"
Hi @agrare  and @Fryguy ,

I am using appliance_console manageiq version Morphy.

I connected my kubernetes cluster as a container provider in manageiq.

Now, I need to know how to provision a kubernetes container using manageiq. Because I can't see any catalogs service for generic Kubernetes.

[2022-06-18 07:52] remo233 commented on #21944
Hi @kTipSSIoYv  can you share your resource details for manageiq server.

[2022-06-18 13:59] kTipSSIoYv commented on #21944
15GB of memory and using the qemu image disk as the hda.

[code]

[2022-06-18 17:47] agrare commented on #21944
@kTipSSIoYv can you try running `systemctl status generic@19cf6900-4f24-4654-8f46-aad09cf51665.service` and `journald -u generic@19cf6900-4f24-4654-8f46-aad09cf51665.service` ?  It seems the workers aren't starting up properly

[2022-06-19 14:45] kTipSSIoYv commented on #21944
It seems it wasn't starting due to timeout. I increased the timeout but I see a different error when I try to start manually.

[code]
journalctl log:
[code]

[2022-06-24 22:29] #21851 closed

[2022-06-25 19:21] kTipSSIoYv opened #21957 "Unable to add VMware ESXI provider instead of Vcenter"
I'm unable to add ESXi provider under Cloud -> Infrastructure -> Provider.

I get the following Error: `Adding ESX/ESXi Hosts is not supported`

ESXi and Vcenter both use the same SDK so I should be able to add.  Any idea what the issue is?

![image](https://user-images.githubusercontent.com/9666915/175787643-c7ff6f10-b10a-47c5-b59d-a6adf32105d3.png)

[2022-06-27 15:59] chavan-dinesh opened #21959 "Unable to add git Repo in Embedded Ansible"
am using morphy-1.20220210224352_1e24154 and Miq is behind HA proxy.
I've used RSA and ecdsa keys but still facing same error in evm.log as well as on UI.
Fyi , i can clone using same keys just fine!
![miq_error](https://user-images.githubusercontent.com/45332364/175982882-6b1ca3ec-000f-4463-9cb0-a97dd4f21fbe.jpg)

[----] E, [2022-06-27T05:18:14.677011 #643538:2ac3a1ca1964] ERROR -- evm: MIQ(MiqQu

[2022-06-27 16:25] agrare commented on #21944
15GB is enough, if startup is timing out I wonder if it isn't able to hit the database.  Can you try running `./tools/db_ping.rb` from the `/var/www/miq/vmdb` directory?

[2022-06-27 16:27] agrare commented on #21938
@remo233 so you can see metrics in the classic UI but not the self-service UI?

[2022-06-27 17:42] remo233 commented on #21945
Hi,

Please look at this issue.

I have an doubt, we can also run ansible playbook for provisioning a
container in generic kubernetes.

If it done. How?

Kindly advise me..

On Mon, Jun 20, 2022, 6:38 PM Jason Frey ***@***.***> wrote:

[2022-06-27 18:20] agrare commented on #21945
Correct I don't see catalog support for container providers, provisioning OpenShift Templates is a simple operation.

[2022-06-27 18:41] agrare commented on #21945
Yeah certainly you can do anything you want if you create your own automate workflow with ansible scripts to do the work.

[2022-06-27 18:49] remo233 commented on #21938
Yes Adam. I can saw metrics in classic ui.

On Mon, Jun 27, 2022, 11:34 PM Monish Selvaraj ***@***.***> wrote:

[2022-06-27 18:50] remo233 commented on #21945
Thanks, I'll check it out.

On Tue, Jun 28, 2022, 12:12 AM Adam Grare ***@***.***> wrote:

[2022-06-27 18:50] agrare commented on #21938
Great thanks @remo233 just wanted to double check before assigning this out to providers vs UI team.
@jeffibm can you investigate this issue?

[2022-06-28 07:24] awersate commented on #21929
@kbrock  I'm not against deleting requests, the problem is that some of them have to be deleted from the db, I would like to be able to delete them through the api, since it is impossible not to delete requests
as for me this is also a security hole, since we delete requests, and in the future we will not be able to track any changes made by any user

[2022-06-28 23:15] #20582 closed

[2022-06-29 13:27] chavan-dinesh commented on #21959
Issue got resolved , was putting username instead of git in repositories! Now am able to successfully add repo ..

[2022-06-29 15:04] kbrock commented on #20768
Sorry for the noise Libor. please don't close as this is still important work.

Note to self:

I would like to move this to schedule, but don't want to follow the route of moving the expression into each of the classes but instead put as part of schedule itself.

[2022-06-29 15:13] lpichler commented on #20768
@kbrock I am sorry if I closed anything current. Thanks for note!

[2022-06-29 16:12] jrafanie commented on #21943
ok, so it appears the `--add-location=type` option for specifying only the `file` is supported in gettext but not in ruby gettext or any of the ruby side code.  I haven't tested with it but it looks like the only option would be to drop the location entirely, so no `file:line` at all and provide tools to ask gettext where a string comes from.

[2022-06-29 16:24] agrare commented on #21957
For production deployments this is correct, adding a standalone host is not supported.  There were some cases in provisioning and also refresh depends on some items which aren't present in the host MOB.

[2022-06-29 16:24] #21957 closed

[2022-06-29 17:21] agrare commented on #21957
Opened https://github.com/ManageIQ/manageiq-providers-vmware/pull/810 to add a development setting which would bypass this check.

[2022-06-30 09:51] kTipSSIoYv opened #21965 "Azure Provisioning never completes"
Azure provisioning doesn't complete even if the VM has been provisioned on azure portal. Inventory also shows that the VM is in running state., It is always in `Creating serivice` state and it continues to retries.

This is happening on Lasker and Morphy version of ManageIQ.

![image](https://user-images.githubusercontent.com/9666915/176647493-6dd42ee5-58af-49c5-b075-b36111b57cc5.png)

![image](ht

[2022-06-30 12:47] #21959 closed

[2022-06-30 12:48] Fryguy commented on #21959
It's still a strange error when the problem at hand was putting the wrong username - I wonder if we can do something about that.

[2022-06-30 14:24] Fryguy commented on #21965
Thanks @kTipSSIoYv - do have any logs that you can share?

@akhilkr128 Can you take a look at this one?

[2022-06-30 14:35] Fryguy commented on #21943
Is this something we can add to ruby gettext?

[2022-06-30 14:37] GilbertCherrie commented on #21896
This should be fixed now with pr: https://github.com/ManageIQ/manageiq/pull/21924, although this is not backported and currently only on master

[2022-06-30 16:29] #21896 closed

[2022-06-30 17:11] jrafanie commented on #21943
Well, from a quick glance, we'd have to add it to ruby gettext and ensure fast gettext, fast gettext i18n rails, and fast gettext i18n rails js supports a reference comment only being a filename.  It's not as easy as I hoped but I can take a look some more.

I think there are few options:

1) Add support for add-location=file in the above libraries and ensure it works.  This minimizes git churn bu

[2022-06-30 18:40] Fryguy commented on #21943
2.5. Continue to generate the file as is, but strip the line numbers in a post generate task.  We may have to dedup some file references (where the same string is multiple times within the same file), but that doesn't have to be on the first pass if at all.

[2022-06-30 18:54] Fryguy commented on #21943
I think 2.5 is a simple `sed`, if you don't want to write it all in Ruby...This worked on my Mac (We can test of linux...I know `-i` works different on linux and shouldn't take the `''` after it).

[code]

[2022-07-03 15:25] kTipSSIoYv opened #21972 "Provisioning freezes during ansible playbook launch"
Provisioning freezes during ansible playbook (method) launch. It doesn't even launch/run the ansible-playbook command.

Any new provisioning requests also gets frozen. This issue exists on Morphy and Lasker.

![image](https://user-images.githubusercontent.com/9666915/177043948-ac8aa3a4-4ee4-43be-ac67-c37968736eed.png)

![image](https://user-images.githubusercontent.com/9666915/177043316-70584b6c-c

[2022-07-05 15:29] kTipSSIoYv commented on #21965
@agrare yes one of them did finish. Other ones is succeeding according to the log but doesn't finish provisioning.

[2022-07-06 15:38] kTipSSIoYv opened #21975 "Multiselect value is stored in a different format."
In Morphy release, multiselect array is storing data as ["118\u001F119"] instead of ["118", "119"]. I'm unable to retrieve data by index.

Any workaround to fix this?

![image](https://user-images.githubusercontent.com/9666915/177589274-59d51076-1706-431f-9e9a-258de106fb86.png)

[2022-07-06 15:59] agrare commented on #21965
@kTipSSIoYv the screenshot you have there says those two provision requests are `Validating New Vm` which means it is in the `poll_destination_in_vmdb` state: https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_provision/state_machine.rb#L44-L45

This is after the `poll_clone_complete` state which is checking the `provisioning_state` so it seems it has made it past the `Succeeded` chec

[2022-07-06 16:00] Fryguy commented on #21975
This is intentional as part of https://github.com/ManageIQ/manageiq-automation_engine/issues/480 / https://github.com/ManageIQ/manageiq-automation_engine/pull/484.  Previously, arrays were were stored comma separated, but that prevented _actual_ commas in the data field.  It's possible this might just need some UI changes to present it as multiple values.  @jeffibm who can look at this one?

[2022-07-06 16:00] Fryguy commented on #21975
@kTipSSIoYv Is this only a presentation problem, or is this an actual problem where the data gets sent to AWX?  It's hard to tell what the issue is here aside from presentation.

[2022-07-06 16:04] kTipSSIoYv commented on #21975
@Fryguy I'm unable to retrieve the data by index 0 or 1. When I try to retrieve index 0 I get both values with a diamond value.

[code]

[2022-07-06 17:24] kTipSSIoYv commented on #21975
@Fryguy Is there any workaround I can try? I'm kind of stuck due to this issue.

[2022-07-06 17:34] Fryguy commented on #21972
@kbrock Can you take a look at this one?

[2022-07-06 17:39] Fryguy commented on #21975
Looks like there's a bug with get_option_array not splitting the new character - @akhilkr128 can you take a look at this one?

[2022-07-06 18:18] Fryguy commented on #20027
We had to disable kafka because of the log4j issues, but this will require bringing it back. @nasark Can you research this and comment here?

[2022-07-06 19:15] kbrock commented on #20467
We would just stop using the value in `Settings.yml`.

The API is currently using the `Tenant` model. This model holds the logic. I think there was some logic in the legacy ui-classic screens, but think that was lost 1 or 2 ui transitions ago.

Yes, they use the `Tenant` model to display this.

There will no longer be appliance specific branding. It will be tenant specific. As I understood, the on

[2022-07-07 13:10] remo233 commented on #21938
Hi @jeffibm

Any update on this ?

[2022-07-07 13:12] jeffibm commented on #21938
We tried to debug this yesterday and got stuck due to the availability of data in the local env. Will work on this soon..

[2022-07-07 14:37] agrare commented on #20027
Kafka v3.2 appears to have dropped log4j in favor of a replacement that has fixes for these vulns, see https://downloads.apache.org/kafka/3.2.0/RELEASE_NOTES.html and https://issues.apache.org/jira/browse/KAFKA-13660

[2022-07-07 17:21] Fryguy commented on #20467
How can you determine the tenant before logging in?  Part of the reason for appliance-specific branding was to have different entrypoints for service providers.  For example, a service provider might have coke.example.com and pepsi.example.com.  Each one would point to a different appliance, where the login screen is customized for that company.  I'm find with switching to tenant-based, but how do

[2022-07-08 09:45] awersate opened #21979 "Incorrect work of role accesses in API"
When adding access to view a generic object to a role, I cannot see this field through api
Through ui role access works correctly
<img width="618" alt="Screenshot_1" src="https://user-images.githubusercontent.com/66886166/177964772-f878583b-0d42-45ef-99c9-fb18d966b9b7.png">

to get access through api, you need to give the role access to everything and start taking away unnecessary
but at the same

[2022-07-11 12:42] awersate opened #21985 "Stuck service requests"
hi, we have intermittently stuck requests
they don't update the status and never complete
and there's nothing we can do about them except cancel
![Screenshot_2](https://user-images.githubusercontent.com/66886166/178266619-efa68cc9-ae7e-41da-9b3a-d4597d7fb372.png)

[log-insight-event-results (4).txt](https://github.com/ManageIQ/manageiq/files/9084078/log-insight-event-results.4.txt)

<pre>
[----] I

[2022-07-11 13:16] Fryguy commented on #21985
@akhilkr128 Can you take a look at this one?

[2022-07-11 14:19] awersate commented on #21985
if I understand correctly, he could not get the current_group id
/miq_ae_event.rb:143:in `call_automate'

[https://github.com/ManageIQ/manageiq-automation_engine/blob/5be34d7779dbd7e968326076c39aacca197fc59f/lib/miq_automation_engine/engine/miq_ae_event.rb#:~:text=%3Agroup_id%20%20%20%20%20%3D%3E%20user.current_group.id](url)

i checked that all our users have a  current_group

[2022-07-11 17:36] jeffibm commented on #21938
cc @Fryguy ,

- We were able to create a `VMware vCenter `provider (`vsphere002`) in local env
- Configured the `Settings/Region/C&U collections` - `Clusters` and `datastore` switches are on to select all
- Configured `Settings/Zone/Server Roles` - `Capacity & Utilization Coordination`, `Data Collector`, and `Data Processor` options are ON under default Zone
- executed `Metric::Capture.perf_captur

[2022-07-11 18:52] kTipSSIoYv commented on #21965
@agrare It seems if I do a full refresh then the catalog provisioning completes. FYI,  VM already exists in Database before the full refresh and while Azure is trying to continue to check.

I can confirm doing a full refresh completes the provisioning.

[2022-07-11 19:21] Fryguy commented on #21938
You would have to create a VM through a service in the catalog as opposed to directly.  Easiest way is to create a service catalog item, then actually order it through the service UI (then you know it's one you can see on the service UI side)

[2022-07-12 02:49] kTipSSIoYv commented on #21932
@Fryguy It's a custom dialog.

[2022-07-12 08:26] kTipSSIoYv opened #21987 "Unknown error during AWS Provisioning"
I get the below error in logs when provisioning AWS instances. The provisioning continues and succeeds without any issues though.

This is on latest Morphy release.

[code]

[2022-07-12 14:32] agrare commented on #21878
NOTE for testing with an existing appliance image you can use `libguestfs-tools` to modify the qcow2 disk image, the following removes the symlink to the `manageiq-initialize.service` (which is the part that "enables" it on boot) and then the service itself:
[code]

[2022-07-12 21:57] kbrock opened #21989 "Use supports in more instances"
This is a continuation from https://github.com/ManageIQ/manageiq/issues/21179

We have a number if implementations that are basically a reimplementation of `SupportsMixin`.
Convert these implementations over to using supports

- [ ] convert `supports_authentication()` to `supports`
- [ ] convert `supports_pxe` to `supports :pxe` along with iso, cloud_init, ..., custom_template
- [ ] remove `kind_o

[2022-07-13 15:46] agrare opened #21992 "[Providers] Allow non-rails provider workers for reduced memory usage"
While a great deal of progress has been made in slimming down our base worker memory usage by trimming gems loaded at boot-time, it still represents minor improvements overall and many "simple" workers still require ~400MiB.

A huge proportion of this memory usage is due to rails, and where possible running the same ruby code without loading the rails environment can result in an order-of-magnitud

[2022-07-13 19:05] agrare opened #21994 "Embedded Ansible Fails to refresh repository with SSH Credentials"
When using an ssh scm credential to add a repository for embedded ansible refreshing the repo with rugged fails with the following error:
`ssh credentials are not enabled for use. Recompile the rugged/libgit2 gem with ssh support to enable it.`

![image](https://user-images.githubusercontent.com/12851112/178811642-607e4242-f926-4ea5-8638-9c1556247ec0.png)

`libssh2` is already installed:
[code]

[2022-07-13 19:29] agrare commented on #21994
Datapoint, rugged v1.0.1 works fine:

[code]

[2022-07-13 19:40] agrare commented on #21994
Rugged v1.4.2 appears to be the first release where `ssh` is not available with the standard `libssh2` package installed at gem install time.

[2022-07-14 19:29] agrare commented on #21994
I am able to build rugged with SSH support by passing `CMAKE_FLAGS='-DUSE_SSH=ON'` to `gem install rugged`

I don't see a great way of passing this via bundle config, I've opened a PR to rugged to add a build option `--with-ssh` which we could pass to bundle config.

Short of that I think we'd have to either `gem install rugged` first before the `bundle install` or add a `CMAKE_FLAGS` env var to `

[2022-07-15 17:55] jrafanie opened #22000 "Move manageiq and plugins to use zeitwerk autoloader instead of classic"
https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#rails-autoloaders

Rails 7 requires zeitwerk for autoloading code and we have numerous code loading problems that may be resolved by moving our plugins and core code to using zeitwerk.  We just have to decide how we can split it up and do it.

https://github.com/ManageIQ/manageiq/issues/zeitwerk

`% bin/rails zeitwerk:check`

[2022-07-16 08:46] kTipSSIoYv commented on #21965
@agrare Is there a Fix for this issue? I have to manually refresh every time I provision the VM.

[2022-07-18 22:21] agrare commented on #21965
Okay so it sounds like the event catcher isn't raising an event, or processing of the event isn't working.

If possible can you try to reproduce and check the event catcher, event handler, and refresher logs to look for events, specifically virtualMachines_write_EndRequest

Make sure you have the event role enabled, the `Microsoft.Insights` service is on and the event catcher is running, and debug

[2022-07-19 19:14] #21994 closed

[2022-07-19 19:15] Fryguy commented on #22000
Hoping this can kill DescendantLoader. 🙏

[2022-07-19 20:06] jrafanie commented on #22000
I was considering if it would be easier to enable zeitwerk loader in the plugins first... since they might be easier to get in "compliance" and could guide the direction for these big repositories.

[2022-07-19 23:49] agrare commented on #21987
Interesting so the issue is here:
https://github.com/ManageIQ/manageiq-providers-amazon/blob/bfa31d559f81/app/models/manageiq/providers/amazon/cloud_manager/provision_workflow.rb#L63
`    selected_group_ids = @values[:security_groups].to_a.compact`
It appears that `@values[:security_groups]` is `"167"` when the datatype is https://github.com/ManageIQ/manageiq/blob/master/product/dialogs/miq_dialog

[2022-07-20 10:41] kTipSSIoYv commented on #21972
@Fryguy  @kbrock  This is still persist and it happens when you provisioning more than 1 VM. Playbook executes and provisioning continues when provisioning only 1 VM but we try 2 or 3 VM then the provisioning gets stuck.

[2022-07-20 14:27] kTipSSIoYv opened #22009 "Ansible playbook doesn't run in Morphy - unable to load psutil error"
I get the following error when using latest morphy and trying to run ansible playbook on localhost.

[code]

[2022-07-20 14:47] Fryguy commented on #22009
@kTipSSIoYv Do you have an example playbook that shows this problem?

[2022-07-20 14:53] remo233 commented on #21938
@jeffibm @Fryguy

any update on this ?

[2022-07-20 14:55] kTipSSIoYv commented on #22009
None of the playbook works. The solution seems to be uninstall and reinstall `psutil` using both pip3.6 and pip3.8

Here is one of my sample playbook.
[code]

[2022-07-20 15:36] Fryguy commented on #22009
Yes, I found a similar solution online - playing around with this now.

[2022-07-25 18:00] kbrock commented on #20467
yea. the only real use case I know about was 2 different regions used a different LDAP server and they wanted to change the messaging on the login server to display a server name that let the users know it was in a different region (read: ldap server, not actual miq region)

Now in terms of different tenants being on different urls, we had that functionality in Tenancy 1.0, but we tore it out sinc

[2022-07-25 18:10] kbrock commented on #20768
@lpichler I haven't said this recently: "you rock"

[2022-07-26 17:22] #21179 closed

[2022-07-27 09:38] sshingarapu opened #22017 "Create a VM through ManageIQ"
Hi,

We are running manageiq in a docker conatainer and integrated with GCP project.

The docker image we are using is manageiq/manageiq:latest-lasker

When we are trying to create a VM from ManageIQ, it is trying to assign public ip to the instance but my gcp organization has a policy to deny public IP. Due to this the instance is not getting created with the below error

Server [EVM] Service [Ba

[2022-07-27 13:34] jaywcarman commented on #21823
I opened ManageIQ/manageiq-ui-classic#8386 against 2. in the previous comment.

[2022-07-27 14:13] #21001 closed

[2022-07-27 17:46] #21886 closed

[2022-07-28 07:14] udee297 opened #22018 "deploying on GCE"
hi,
i tried to install it on GCE following this guide
https://www.manageiq.org/docs/reference/latest/installing_on_google_compute_engine/index.html
but when i start the VM, i cant access it.
i cant ping nor ssh to the vm.

[2022-07-28 12:49] agrare commented on #22018
@udee297 does the instance have an IP address ?

[2022-07-28 12:51] agrare commented on #22017
We currently only support External NAT, I've opened an enhancement to support this https://github.com/ManageIQ/manageiq-providers-google/issues/231

[2022-07-28 14:20] udee297 commented on #22018
@agrare yes both have internal and external ip but i cant ping it from my home internet

[2022-07-28 14:20] udee297 commented on #22018
@agrare yes both have internal and external ip but i cant ping it from my home internet

[2022-07-28 14:48] kTipSSIoYv commented on #22009
@Fryguy Which pip3 version does Morphy version uses? Is it pip 3.6 or 3.8 if I have to install packages?

[2022-07-28 15:05] sshingarapu commented on #22017
Thanks @agrare.
We need exactly what you mentioned here https://github.com/ManageIQ/manageiq-providers-google/issues/231

[2022-07-28 15:41] udee297 commented on #22018
@agrare or is there any other way to install this on GCE?

[2022-07-29 12:41] borysohnsorge opened #22024 "Login not allowed, User's User is missing. Please contact the administrator - Help Needed."
Hello,
I'm trying to run LDAP based external authentication. I searched the issues list but found nothing matching my problem. I found a similar problem here #5422 and here #21141 but unfortunately there was no information on how to solve the problem.

During the configuration, I mainly used the following documentation (and a few more found on the internet)::
https://www.manageiq.org/docs/referenc

[2022-07-29 13:39] chessbyte commented on #21179
https://github.com/search?q=org%3AManageIQ+AvailabilityMixin&type=code and https://github.com/search?q=org%3AManageIQ+is_available%3F&type=code still show a non-zero count

[2022-07-29 15:37] borysohnsorge commented on #22024
I managed to solve the problem. This "talk" https://talk.manageiq.org/t/win2016-ad-auth-problem/4921 helped me a lot.

there is allowed_uids missing in TEMPLATE

allowed_uids = apache, root

[domain/default]
autofs_provider = ldap
ldap_schema = rfc2307bis
ldap_search_base = <%= ldap_search_base %>
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
ldap_uri = <%= ldap_uri %>
ldap_id_use

[2022-07-29 15:37] #22024 closed

[2022-07-29 16:15] kTipSSIoYv opened #22026 "Azure Ansible Playbook doesn't run on najdorf"
I've created a ansible playbook method that is run during azure post provisioning but for some reason ManageIQ doesn't run the  playbook. It says that there is no module named `azure.cli or azure.core`.

Any idea what the issue is and how it can be resolved?

Here is a screenshot of the error.

![image](https://user-images.githubusercontent.com/9666915/181799918-00d220de-8756-4637-8495-d09bad191f7

[2022-07-30 07:34] kTipSSIoYv commented on #21965
@agrare Can you be more specific about how to look at these logs?

I'm not sure how to enable event catcher, where the `event catcher, event handler, and refresher` logs are and not sure how to enable debug logging.

The only file where the  `virtualMachines_write_EndRequest` is logged right now is in /var/www/miq/vmdb/log/last_startup.txt which is just vmdb_settings.

Also when you say `event rol

[2022-08-01 18:41] kTipSSIoYv commented on #22026
@Fryguy  I can run playbook locally if I install packages from `requirements-azure.txt`. But when ManageIQ tries to run I get the following error `No module named azure-cli`.   The import should happen from `azure-cli-core` as we cannot install both `azure-cli` and `azure-cli-core`. But the error looks like ManageIQ can't find `azure-cli-core` package either.

Any idea how this works? Is there a s

[2022-08-01 18:52] Fryguy commented on #22026
Related discussion: https://github.com/ManageIQ/manageiq/discussions/22025

[2022-08-01 18:52] Fryguy commented on #22009
Related discussion: https://github.com/ManageIQ/manageiq/discussions/22025

[2022-08-01 18:57] agrare commented on #21965
@kTipSSIoYv the worker logs (event catcher, event handler, refresher) will be in `/var/www/miq/vmdb/log/evm.log`
You can change the debug logging in the Application Settings:
![image](https://user-images.githubusercontent.com/12851112/182223268-6adf8f53-6b1a-4ac8-8338-5b71810abfab.png)

[2022-08-01 20:39] agrare commented on #21965
If you don't see any `virtualMachines_write_EndRequest` events it sounds like you don't have the MS event service set up.

[2022-08-01 20:59] agrare commented on #21965
In this case I mean the event monitor worker role in Settings that you said is enabled.  Azure events requires the `Microsoft.Insights` provider be enabled, check out https://talk.manageiq.org/t/how-can-i-see-azure-utilization/5298/4

[2022-08-02 11:13] kTipSSIoYv opened #22030 "Unknown attribute 'cpu_total_cores' for Azure provider"
I'm getting this error when using `najdorf-1.3`. As a result I'm unable to use Azure Cloud Provider.

`unknown attribute 'cpu_total_cores' for ManageIQ::Providers::Azure::CloudManager::Flavor.`

![image](https://user-images.githubusercontent.com/9666915/182361246-3fabad9d-9ff1-4c64-a5e6-ea8f5edb3361.png)

[2022-08-02 11:30] agrare commented on #22030
Hey @kTipSSIoYv was this an upgrade?  The `flavors.cpu_total_cores` column was created here https://github.com/ManageIQ/manageiq-schema/pull/582/commits/f08bca479ed3d36e2ebacc0dbcd5829fe8c18c1a which is in `najdorf-1`.  Your database might not have been migrated after the upgrade.

[2022-08-02 12:20] kTipSSIoYv commented on #22030
@agrare No not an upgrade. I backed up Morphy database and built a new image of `najdorf-1.3` and imported the database. Is that the issue?

Just to be sure I even deleted the azure provider and added it again and I got the same error.

[2022-08-02 12:41] agrare commented on #22030
Yes that is an upgrade (from the database's point of view).  When you move between releases (e.g. morphy -> najdorf) you have to migrate the database schema.  Within a release (e.g. najdorf-1 -> najdorf-1.3) we don't change the schema.

Take a look at https://www.manageiq.org/docs/reference/latest/upgrading_appliances/index.html

You can skip steps 1, 2, and 4 in that guide.

[2022-08-02 14:50] kTipSSIoYv commented on #22030
In Docker version I got stuck with `Missing library: qpid-proton` error during `bundle install` which was recommended.

Either way I decided to start from scratch on `najdorf-1.3`, added everything manually and its working.

[2022-08-02 14:56] kTipSSIoYv opened #22031 "uninitialized constant ManageIQ_Providers_Azure_ResourceGroup"
I'm not sure why I'm getting `uninitialized constant MiqAeMethodService::MiqAeServiceManageIQProvidersAzureResourceGroup` error when trying to use the ruby method for listing out Azure Resource groups?

This code works fine in Morphy and Lasker but in najdorf-1.3 I get error. Any idea what the issue is?

[code]

Full log:

[code]

[2022-08-02 15:26] agrare commented on #22030
That's odd you should never have to run bundle install on a release, @Fryguy @bdunne not sure if there's something different about the Docker version but I doubt it

[2022-08-02 16:39] kTipSSIoYv commented on #22031
I see that it has been changed to `ManageIQ_Providers_Azure_CloudManager_ResourceGroup` in najdorf-1.3.

[2022-08-02 16:39] #22031 closed

[2022-08-02 17:09] kTipSSIoYv commented on #22026
This issue exists in najdorf-1.3 as well as morphy. It seems like it happens only with ansible-runner. Ansible-playbook works fine locally.

The error is `No module named 'azure.cli'`

[code]
Complete log:

[code]

[2022-08-02 18:09] kTipSSIoYv commented on #21965
@agrare I saw this error while the monitoring for `virtualMachines_write_EndRequest`.

[code]

[2022-08-02 18:13] kTipSSIoYv commented on #21965
No I don't see `virtualMachines_write_EndRequest` even If I manually do a provider refresh.

[2022-08-02 20:47] bdunne commented on #22030
You shouldn't have to `bundle install`, everything is already in the image.
[code]

[2022-08-03 07:18] kTipSSIoYv commented on #22030
[code]

[2022-08-03 08:59] kTipSSIoYv commented on #22030
Seems like if I run ` . ./container_env` then I don't get prompted for `bundle install`. But migration doesn't happen. Any idea why?

sh-4.4# . ./container_env
sh-4.4# bundle info qpid_proton
  * qpid_proton (0.30.0)
        Summary: Ruby language bindings for the Qpid Proton messaging framework
        Homepage: http://qpid.apache.org/proton
        Path: /opt/manageiq/manageiq-gemset/gems/qpid_p

[2022-08-03 09:12] kTipSSIoYv commented on #22030
`export DATABASE_URL='postgresql://localhost:5432/vmdb_production'` Now it continues but aborts due to
ERROR:  relation "miq_set_memberships" already exists

[code]

[2022-08-03 14:00] Fryguy commented on #22030
The monolithic docker container does not have this feature because it is intended as a demo.  If you wanted to use it as a full-fledged system (which is not recommended), you would have to start the container with an external database (of which I don't think there is documentation at the moment).

Note that in the future the monolithic docker container may go away due to eventual changes in the pr

[2022-08-03 14:09] agrare commented on #21965
@kTipSSIoYv `Error: [can't cast Hash]` is something we've been trying to reproduce for years and haven't been able to.  Can you send me the complete evm.log and azure.log?

[2022-08-03 14:46] kTipSSIoYv commented on #22030
@Fryguy I downloaded the github repo branch and used `docker build` command on the Dockerfile. If I use `. ./container_env` then bundle install isn't prompted.

[2022-08-03 14:49] kTipSSIoYv commented on #22030
@Fryguy If not monolithic can we upgrade? According to this [post ](https://talk.manageiq.org/t/miq-docker-hammer-9-to-kasparov-upgrade-howto/5390/2)  upgrade isn't possible.

[2022-08-03 14:56] kTipSSIoYv commented on #22030
@agrare Our production is on monolithic docker and we want to be on najdorf when we move to Kubernetes. We can move up to morphy from lakser without issues. But from morphy to najdorf we have [this issue](https://github.com/ManageIQ/manageiq/issues/22030#issuecomment-1203761012) during db migrate

[2022-08-03 15:25] agrare commented on #22030
@kTipSSIoYv I think your best bet is to backup your db from your monolithic container and restore it as an external db running on one of the production supported platforms (appliance or podified on k8s)

[2022-08-03 17:51] Fryguy commented on #22030
@kTipSSIoYv Can you open https://github.com/ManageIQ/manageiq/issues/22030#issuecomment-1203761012 as a separate bug ticket?  That feels like it might be a completely separate bug.

[2022-08-04 07:24] kTipSSIoYv commented on #22030
@agrare @Fryguy Any idea how I can stop the service in order to test DB migrate on Docker containers? I'm testing db migrate  on another container but I get the following error.

`DETAIL:  There are 15 other sessions using the database.`

[2022-08-04 11:24] kTipSSIoYv commented on #22030
@agrare @Fryguy I was able to successfully migrate from prod `lasker to najdorf` and dev `mophy to najdorf` following this [documentation](https://www.manageiq.org/docs/reference/latest/installing_on_kubernetes/).

`rake db:drop db:create` was needed before using `pg_restore`. No errors were found.

[2022-08-04 11:25] #22030 closed

[2022-08-04 11:28] kTipSSIoYv commented on #21965
@agrare Is `Error: [can't cast Hash]` is the reason for Azure provisioning not working? Are you not able to repro this when provisioning Azure VM?

[2022-08-04 13:56] agrare commented on #21965
Correct if the new vm fails to save that could cause the provisioning to hang, we still have an open issue for this here https://github.com/ManageIQ/manageiq-providers-azure/issues/400

[2022-08-05 15:43] #21056 closed

[2022-08-05 18:55] #21965 closed

[2022-08-06 19:38] kTipSSIoYv commented on #22026
@Fryguy Any idea why this issue is happening? I've been researching and have reported it to azure collection but they don't seem to have any idea.

[2022-08-06 20:00] kTipSSIoYv commented on #21965
@Fryguy @agrare I still an issue. The catalog request doesn't finish at all.

Can we re-open this or should I create another bug request?

![image](https://user-images.githubusercontent.com/9666915/183264371-462a38df-77b0-4745-bdc8-cbbda3eab72c.png)

[code]

[2022-08-08 12:00] J-Courses opened #22037 "Authentication Failed"
Hi all,

I have recently installed ManageIQ Morphy and everything is working as it should be apart from using LDAP to authenticate.

I have setup LDAP/AD using the following https://www.manageiq.org/docs/reference/latest/auth/active_directory.html#enabling-nm

I used to be able to login using my AD credentials but now it just comes back with authentication failed. I also cannot remove my user from

[2022-08-08 13:08] Fryguy commented on #22037
The miq request issue is being discussed here: https://github.com/ManageIQ/manageiq/issues/21929.

I don't understand the AD Authentication Failed issue.  Can you give more details like log messages?

Are you using appliances or podified?

[2022-08-08 13:27] J-Courses commented on #22037
Checking the logs on the Centos GUI as root shows the following in the logs, specific to authentication:

"Failed to initialise credentials using keytab [MEMORY:/etc/krb5.keytab]: KDC has no support for encryption type. Unable to create GSSAPI-encrypted LDAP connection"

"KDC has no support for encryption type"

I'm new to Linux/Centos so not familiar with the terminology etc so bare with me

[2022-08-08 13:28] Fryguy commented on #22026
Not yet, no - I'm looking into the ansible issues now.

[2022-08-08 13:38] kTipSSIoYv opened #22038 "Azure Provisioning never completes"
@Fryguy @agrare  With the following [patch](https://github.com/ManageIQ/manageiq-providers-azure/pull/515) I still see a issue. The catalog request doesn't finish at all.  I've applied only the 515 patch.

I see virtual machine end requests but as you can see it doesn't finish. Its kind of in a loop with `publicIPAddresses_write_EndRequest`  and `virtualMachines_write_EndRequest`

![image](https:/

[2022-08-08 13:40] bdunne commented on #22037
I'm not an expert of SSSD, but https://access.redhat.com/solutions/3380341 suggests leaving the domain and re-joining.

[2022-08-08 13:44] agrare commented on #21965
If it is in PostProvision Customization that means that it made it past where you were originally after https://github.com/ManageIQ/manageiq-providers-azure/pull/515 so this sounds like a different issue.  I see you've already opened https://github.com/ManageIQ/manageiq/issues/22038 I will start looking at that

[2022-08-08 15:10] kTipSSIoYv commented on #22038
@agrare I'm running a method during postProvision to implement a security group. I've created a method to run ansible Playbook during post provision.

[code]

[2022-08-08 15:57] kTipSSIoYv commented on #22038
@agrare Do you still need evm.log?

[2022-08-08 15:58] agrare commented on #22038
@kTipSSIoYv it looks like an issue with invoking that playbook, there are no references to the `r1088_miq_provision_2795` task after this:
[code]

And at least as of these logs you never get out of the PostProvision state.

You can check on the playbook run by running:
[code]

[2022-08-08 16:04] agrare commented on #22038
If there is any info from running the embedded ansible job that would be helpful

[2022-08-08 18:04] kTipSSIoYv commented on #22038
@agrare I've sent you the evm.log. Can you let me know if you find anything from the last test?

When I'm re-testing it's sort of this [issue ](https://github.com/ManageIQ/manageiq/issues/21972). Its not launching the ansible job at all.

[2022-08-08 18:18] kTipSSIoYv commented on #21972
This is still an issue. Sometimes ansible job launches and sometimes it doesn't and other jobs ends up as either stuck in active state or ends up pending even if approved.

![image](https://user-images.githubusercontent.com/9666915/183485910-70fe3720-8268-4be9-b4aa-5bb6f16fbe87.png)

[2022-08-08 18:33] agrare commented on #21972
@kTipSSIoYv what do you see for the playbook stdout?

[code]

[2022-08-08 18:47] kTipSSIoYv commented on #21972
@agrare Is there a typo in the command? I see a syntax error.

[code]

[2022-08-08 18:55] agrare commented on #21972
Updated, you need the .

[2022-08-08 18:57] kTipSSIoYv commented on #21972
[code]

[2022-08-08 19:08] agrare commented on #21972
Okay someone who actually knows embedded Ansible is going to have to help you sorry @kTipSSIoYv

[2022-08-08 19:08] kTipSSIoYv commented on #21972
@agrare Now the other jobs are running.

![image](https://user-images.githubusercontent.com/9666915/183495147-fa1c9a3e-2a6d-4a7a-8325-a7eaec8acc1e.png)

[2022-08-08 19:16] jrafanie commented on #21972
What did the stdout show? What changed to make it work?

[2022-08-08 19:19] agrare commented on #21972
@kTipSSIoYv do you mean they're working, or the older ones timed out and now the latest is hung

[2022-08-08 19:20] kTipSSIoYv commented on #21972
@agrare after running the `pp ManageIQ::Providers::EmbeddedAnsible::AutomationManager::Job.find_by(:ems_ref => "66694").raw_stdout` command other stuck jobs started to work.

[2022-08-08 20:58] agrare commented on #22038
I see a lot of authentication_check failures
[code]

Not sure why we're running auth check for EmbeddedAnsible or if that would cause anything to fail @jrafanie

[2022-08-08 21:44] jrafanie commented on #22038
Unless I'm wrong, we [queue an authentication_check](https://github.com/ManageIQ/manageiq/blob/1d8bc6588bd8c8983967234c3ed2e023a9479e5c/app/models/miq_schedule_worker/jobs.rb#L38) on all `ExtManagementSystem` [every hour](https://github.com/ManageIQ/manageiq/blob/1d8bc6588bd8c8983967234c3ed2e023a9479e5c/config/settings.yml#L1127).  Based on that result, many of our providers will skip an Ems with

[2022-08-09 14:02] agrare commented on #21972
@kTipSSIoYv is that reproducible?

[2022-08-10 13:16] Fryguy commented on #22009
Fixed via the above 3 PRs

[2022-08-10 13:16] #22009 closed

[2022-08-10 13:50] Fryguy commented on #22009
Also https://github.com/ManageIQ/manageiq/pull/22047

[2022-08-10 17:59] agrare commented on #22038
Right but embedded ansible doesn't have or need any authentication (AFAIK) so this is needless work.  Thinking we should have maybe some supports check to indicate if we need to run authentication_check

[2022-08-10 19:52] jrafanie commented on #21516
Game plan for merging rails 6.1:

- [ ] wait for green cross repo: https://github.com/ManageIQ/manageiq-cross_repo-tests/pull/701
- [ ] merge https://github.com/ManageIQ/manageiq/pull/21652
- [ ] merge https://github.com/ManageIQ/manageiq-api/pull/1121

[2022-08-10 20:50] jrafanie commented on #22038
Yes, that makes sense to me.  This is the first one to not need auth checks.

[2022-08-11 02:47] kTipSSIoYv commented on #21972
@agrare Yea its reproduceable. Usually when you launch multiple count of servers using a single catalog it gets stuck.

[2022-08-11 02:52] kTipSSIoYv commented on #21987
@agrare I do have a security_group ruby method for dynamic dialog and another one for creating aws security group using ruby sdk which I've written and it gets invoked. I'm not sure which one is causing the issue.

[2022-08-11 03:02] kTipSSIoYv commented on #21908
@kbrock Any idea where the code is for this issue? At least I could see if I can fix it in our env?

[2022-08-11 14:49] jrafanie commented on #21516
Ok, 2 failures on cross repo.  UI Service is known to fail.  ManageIQ-api is failing with sporadic failures we've only seen on cross repo tests and also exist with rails 6.0

I've tried various tests locally and it all worked with manageiq-api and rails 6.1:

api PR with rails 6.1 core repo symlinked:

[code]

Cross repo with the same seed:
[code]

[2022-08-11 15:13] Fryguy commented on #21516
Great work @jrafanie and @kbrock !! 🎉

[2022-08-11 15:14] #21516 closed

[2022-08-11 15:45] Fryguy commented on #21516
Just wanted to note here that if we need to revert, we only need to revert:

- https://github.com/ManageIQ/manageiq/pull/21652
- https://github.com/ManageIQ/manageiq-api/pull/1121

[2022-08-11 19:35] agrare opened #22051 "[Providers] Replace `InventoryRefresh::InventoryCollection#find` with `#lazy_find`"
The `#find` method introduces a dependency ordering issue during full refresh and a potential missing data issue during targeted refresh and should be replaced by `#lazy_find` wherever possible.

This method will be removed in an upcoming release of the inventory_refresh gem

* https://github.com/ManageIQ/manageiq-providers-azure/pull/516
* https://github.com/ManageIQ/manageiq-providers-ibm_cloud/

[2022-08-12 14:09] jrafanie opened #22052 "Upgrade to rails 7.0"
Here's an issue we can link to for all future PRs and work items relating to upgrading to rails 7.

### Follow up work now that rails 7 is shipped and 6.1 is dropped - mostly not backward compatible with rails 6.1.
- [ ] Change default rails version for new schema migrations to rails 7
- [x] https://github.com/ManageIQ/manageiq-ui-classic/pull/9244
- [x] https://github.com/ManageIQ/manageiq-ui-cla

[2022-08-12 16:17] maly-glod opened #22054 "Service Dialog; Dynamic Field; Entry Point - OpenStack Provider - Help needed."
Hello,

I'm testing the latest version of ManageIQ (Najdorf), the launch itself was smooth. I was also able to add an infrastructure provider and a cloud provider based on OpenStack. The connection with OS was successful and I can see virtual machines running in the environment, image template's, networks etc. I can even manualy provision vm (Compute -> Cloud -> Instances -> Instances -> Provision

[2022-08-12 22:23] kTipSSIoYv commented on #22026
@Fryguy Are you able to reproduce this error?

[2022-08-12 22:25] Fryguy commented on #22026
Haven't had a chance to try - ansible was working _at all_ until I could get #22009 working.

[2022-08-12 22:33] kTipSSIoYv commented on #22026
@Fryguy Is the https://github.com/ManageIQ/manageiq/issues/22009 fixes all merged to najdorf? Can I pull the latest github repo and test it? There were 4 or 5 PR's and I'm not sure if all them are merged.

[2022-08-12 23:33] Fryguy commented on #22026
Yes they are all backported to najdorf

[2022-08-13 01:50] kTipSSIoYv commented on #22026
@Fryguy In the latest version of najdorf the embedded ansible isn't launching at all.

Rails console test shows nothing as well.

[code]

[2022-08-15 13:58] chessbyte commented on #21179
@Fryguy @kbrock either this should be reopened to get the [above](https://github.com/ManageIQ/manageiq/issues/21179#issuecomment-1199298710) to a zero count or moved to Oparin

[2022-08-15 14:03] agrare commented on #21179
We should definitely get those counts to 0, but it looks like none of these are "live" code they are either comments, spec test context names that are now testing `supports?`, or methods named is_available that are not from the AvailabilityMixin (e.g. `MiqIPMI.is_available?` is not from AvailabilityMixin)

@kbrock do you want to delete these comments and rename the spec contexts?

[2022-08-15 15:50] kTipSSIoYv opened #22057 "Launch Multiple Ansible Job - Enhancement"
It would be good to provide us an option to launch multiple ansible job when provisioning.

I've successfully implemented this method on our environment.

The following [issue ](https://github.com/ManageIQ/manageiq/issues/21795)describes how to set dialog array.

The dialog would select multiple ansible job and would be passed onto to launch_ansible_job.

And then we'd modify the launch_ansible_jo

[2022-08-15 16:04] Fryguy commented on #21795
@kTipSSIoYv Can you submit your patches as a set of pull requests?  From the discussion here they seem simple enough, and get_option_array seems like a reasonable addition to the project.

[2022-08-15 16:05] Fryguy commented on #22057
I'm not sure I fully understand the approach you want to take, but if you already have working code, please create some pull requests and we can discuss the deeper details there.

[2022-08-15 16:12] Fryguy commented on #22054
Hi @maly-glod.  The `Entry Point` is the Automate task that you want to run that will return the contents for the drop down you want to populate.  You will need to create an Automate class that will run the code that will return this information. Chapter 29 of the Automate book has the details on how dynamic fields are populated: https://pemcg.gitbooks.io/mastering-automation-in-cloudforms-4-2-and

[2022-08-15 16:21] Fryguy commented on #21179
At a minimum we shouldn't have a closed issue that is "In Progess" on the Roadmap - @kbrock Let me know which direction I should go.

[2022-08-16 12:22] derekleeth opened #22059 "Reports Fail When Using CPU or Memory Ratio Column [Najdorf-1 vSphere Image]"
We are having an issue with the latest stable version [Najdorf-1] we've deployed in one of our datacenters where reports fail to show any data at all when you add the "**_CPU Cores Virtual to Real Ratio_**" or "**_Memory Virtual to Real Ratio_**" columns to a report. We are running older versions of MIQ (Ivanchuk & Fine) in some datacenters that do not have this issue. If we remove those columns f

[2022-08-17 17:36] Fryguy commented on #22037
@J-Courses Did leaving and rejoining the domain work for you?

[2022-08-17 17:38] Fryguy commented on #22059
Sounds like a possible bug with aggregation?

[2022-08-17 18:04] #21878 closed

[2022-08-17 18:07] Fryguy commented on #20514
Closing in favor of duplicate issue https://github.com/ManageIQ/manageiq/issues/21992.

[2022-08-17 18:07] #20514 closed

[2022-08-17 20:51] kbrock commented on #21179
Most of the references were comments and `MiqIPMI` that @agrare mentioned.
I was able to fine two reference that slipped through the cracks.

One of those 2 references is a [shim] that allows for backwards compatibility. So nothing is broken. I agree, we should have removed both of these before we marked this as done.

- [x] https://github.com/ManageIQ/manageiq-providers-openstack/pull/816
- [ ] h

[2022-08-18 11:16] kTipSSIoYv opened #22062 "Cloud Provider Cost Usage graph"
Why don't we have cloud provider cost usage implemented? It would nice display Cloud provider cost usage through a graph under each cloud provider.

I'm trying to use  a button to get the cost right now. But we do need a graph to display usage by service.

![image](https://user-images.githubusercontent.com/9666915/185381699-c161ee85-08ea-406c-ab12-7a74c1d6b0d8.png)

[2022-08-18 14:58] Fryguy commented on #22062
We don't collect cost usage at the moment. We had considered it in the past, but if I recall, the effort was much more complex than we expected, particularly on AWS.  I can't recall the details at the moment.  @agrare Do you remember?

I think this would be a cool feature to add, but the design would need to be fleshed out a bit.  If you have a proposal or some ideas, I'd love to hear them.

[2022-08-18 15:01] Fryguy commented on #21179
https://github.com/ManageIQ/manageiq/issues/21989 includes the rest of the followups

[2022-08-18 15:59] agrare commented on #22062
Yeah there are two high-level approaches to do this,

1. You can fetch the pricing charts and use that to estimate the historical and projected costs (this will always be off by a certain amount since not every cost is considered, e.g. we might be able to accurately estimate ec2 usage cost but not able to estimate RDS per-query costs or a load balancer LCU cost)
2. On some clouds you can fetch the

[2022-08-18 18:47] agrare opened #22065 "WEBMKS Failed in Najdorf Version due to certs/server.cer* permissions"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/22060

<div type='discussions-op-text'>

<sup>Originally posted by **ccesario** August 16, 2022</sup>
Hi folks, currently Im running ManageIQ Lasker version, and VMware WebMKS Console it working as expected.
Today I tried upgrade this appliance to Najdorf version and I got error with WebMKS, so I download the Najdorf  VMware applian

[2022-08-18 19:39] agrare commented on #22065
So I don't think that we can chown these as `manageiq:manageiq` like we do with `certs/v2_key` because httpd also needs it and that runs as root and we don't want to open up read to other.  So I think we have to do
[code]

[2022-08-18 20:05] JVue opened #22066 "Add SSH token auth capability for importing datastore via github"
Feature request:
Add the capability to use SSH token authentication to import datastore via github as opposed to basic auth.

(Adding feature request as per @Fryguy )

[2022-08-19 13:19] derekleeth commented on #22059
I'm not 100% sure if it helps but it does show the "Virtual to Real Ratio" for memory and CPU when you pull up an individual cluster. Here's the screenshot below that shows the two fields.

![image](https://user-images.githubusercontent.com/23642752/185627242-f78f0c25-7897-43a4-8ca0-6ecd7a68b031.png)

[2022-08-20 11:01] kTipSSIoYv commented on #21913
@jrafanie  Why is it modifying TENANT_ACCESS_STRATEGY doesn't change anything? I modified the provider section to descendant_ids and also changed it to nil. I want the parent provider not visible to descendants.

[2022-08-22 20:01] jrafanie commented on #21913
You probably are more interested in ExtManagementSystem classes and less so with providers. Providers can have multiple managers, of type ExtManagementSystem, so they're really a collection of ExtManagementSystems. Most of the operations are really on the ExtManagementSystems themselves.

[2022-08-24 19:47] kTipSSIoYv commented on #21932
@Fryguy @agrare Any idea why the default select is not working? It works for other ruby methods such as availability zone but when I try that in a custom method it doesn't work. The only difference with availability zone and this code is the `dialog_hash.first[0]["name"]`.

![image](https://user-images.githubusercontent.com/9666915/186508952-bac04f0f-d5eb-4fca-be8e-472cfcc3769d.png)

[code]

[2022-08-25 13:06] maly-glod commented on #22054
Thank you very much for the hint. I managed to create the right automat class.

[2022-08-25 14:04] kTipSSIoYv commented on #21932
Figured out how to fix this issue. With the help of `log(:info, "$evm.object['values']: #{$evm.object['values'].inspect}")` I was able to find that the key had issues. After resolving that the default select is working.

[2022-08-25 14:04] #21932 closed

[2022-08-25 19:38] kTipSSIoYv opened #22078 "Override ansible hosts"
Is it possible for the hosts to get the IP from a dialog? If this `${/#miq_provision.destination.ipaddresses.first}` works I wonder if dialog value can be fetched? If its possible what would be the syntax?

If not is there a way to override the hosts using extra vars?

![image](https://user-images.githubusercontent.com/9666915/186752663-08b566ae-11ae-4579-8023-74a608dd723e.png)

[2022-08-25 20:56] kTipSSIoYv opened #22079 "Unable to refresh ansible repository"
I'm using `Version najdorf-1.3.20220802000031_5314588`  and I'm getting this error when trying to refresh embedded ansible  repository.

Any idea how to resolve this?

[code]

[2022-08-25 21:01] bdunne commented on #22079
It was [backported to najdorf branch 15 days ago](https://github.com/ManageIQ/manageiq-rpm_build/commit/f61d8f2dd150d2b2ea52bae0c6744b277ad48356), so it will be in the next najdorf release build.

[2022-08-26 14:41] kTipSSIoYv commented on #22079
@bdunne Can I use that patch on our container for now? Or is it something related to build?

[2022-08-28 10:17] kTipSSIoYv opened #22080 "Multiselect returns nested array when method is invoked"
When the catalog start loading the dialog it shows the multiselect as nested array.
`
[----] I, [2022-08-28T10:13:15.631887 #374:c5f80]  INFO -- automation: <AEMethod get_ip_addresses>       Attribute: dialog_hostname = ["[\"5163\"]"]`

`hostnames = $evm.root['dialog_hostname'][0]`

But when we change the dropdown after the dialog has  been loaded its just a normal array.

![image](https://user-im

[2022-08-29 20:25] kTipSSIoYv commented on #22080
This seems to be affecting User portal. If I disable multi select then the dropdown seems to fine. Admin portal doesn't have this issue.

![image](https://user-images.githubusercontent.com/9666915/187291694-b0a72a42-abdf-452c-b31e-d5f4c30e8d6e.png)

[2022-08-30 19:42] Fryguy commented on #22079
You will have to recompile the rugged gem.

[2022-08-30 19:42] Fryguy commented on #22079
Closing as this was fixed in https://github.com/ManageIQ/manageiq-rpm_build/commit/f61d8f2dd150d2b2ea52bae0c6744b277ad48356

[2022-08-30 19:42] #22079 closed

[2022-08-31 17:42] Fryguy commented on #22037
Closing.  @J-Courses if you have any follow up informration, please reopen.

[2022-08-31 17:42] #22037 closed

[2022-08-31 17:42] #22054 closed

[2022-08-31 20:27] bdunne opened #22091 "Move all server certificates to /etc/pki/tls"
Followup from: https://github.com/ManageIQ/manageiq/issues/21722

- [ ] https://github.com/ManageIQ/manageiq-pods/pull/770 update [orchestrator](https://github.com/ManageIQ/manageiq-pods/blob/bc27d1d70f451d7f52abe62db94bba540df34960/manageiq-operator/pkg/helpers/miq-components/orchestrator.go#L176-L179) to not copy to `/root/.postgres`

[2022-08-31 20:28] bdunne commented on #21722
Closing as most of this is done in Oparin with the last part deferred for another release

[2022-08-31 20:28] #21722 closed

[2022-09-01 20:09] kTipSSIoYv commented on #22026
@Fryguy Please refer [this ](https://github.com/ansible-collections/azure/issues/932#issuecomment-1233135981). Others are having similar issues with azure and ansible.

[2022-09-04 09:29] kTipSSIoYv opened #22096 "Tenants cannot add/modify Ansible Repository and Credentials"
Child tenants cannot refresh embedded ansible repository or add credentials.
Child tenant users have  administrator role and also ansible creds are selected.

![image](https://user-images.githubusercontent.com/9666915/188306802-a852c9c0-63d6-45a6-b990-12d3596259d2.png)

Any idea why this is not working and how it can be fixed?

![image](https://user-images.githubusercontent.com/9666915/188306522-6

[2022-09-04 16:56] kTipSSIoYv commented on #22096
Update: Playbook and Repository is showing in a new installation. But credentials isn't showing up at all. Any new credentials created is ending up in Parent tenant and not visible in Child tenant.

Any idea why credentials isn't showing up?

[2022-09-05 13:05] Jonathan-Caruana opened #22097 "Update Narjdorf failed: Roles <cockpit_ws> not defined"
Hello,

We tried to update our ManageIQ instance to Narjdorf (currently on Morphy). We already did some update previously with no issue but this time the evmserverd restart again and again and we see this message in evm.log :

[code]

We just follow the upgrade instruction provided here :

https://www.manageiq.org/docs/reference/latest/upgrading_appliances/index.html

Anybody has already facing th

[2022-09-05 14:37] Jonathan-Caruana commented on #22097
For those who they can have this issue you just have to desactivate the server role "cockpit_ws" and the update goes fine.

Settings -> Application Settings > Choose your zone > Server Control bloc

Regards,

[2022-09-05 16:37] kTipSSIoYv commented on #21972
@Fryguy In the latest version of `Narjdorf` Ansible job isn't launching at all.

[2022-09-06 13:31] Fryguy commented on #22097
This is interesting - I guess we missed something on upgrade from morphy to najdorf?  @jrafanie Can you investigate this one?  I'm wondering if we just need a database migration entry or something to drop the cockpit_ws server role?

[2022-09-07 15:22] jrafanie commented on #22097
cockpit was removed in 35527499ad2093f86a1a5e4a15758d6e3e0ae6fd and here in schema: https://github.com/ManageIQ/manageiq-schema/commit/01f6a17cc843ddc53471ba0e40902ed296ac15b0

Note, it doesn't look like we cleaned up the roles value in the SettingsChange model.

@kbrock can you take a look?

[2022-09-08 14:28] Lauferin opened #22101 "Creating notifications for certain types of events"
Hi to all,

We would like to create notifications for a certain type of events coming from the provider. I was wondering if it's possible to add one or more notification types that suit the kind of event to notify (in a very generic way of course).

And then a suggestion came up of making this more generally from core, using automate event handlers.

What do you think?

[2022-09-09 16:08] Fryguy commented on #22101
Oh so an event handler that just pops up a notification?  That's actually a cool idea.  cc @jrafanie @agrare Thoughts?

[2022-09-09 16:16] agrare commented on #22101
Hah yeah I liked this idea @Lauferin had so asked them to open the RFE here so we could discuss.  Was thinking we could have an automate event handler that creates the notification for the event type but open to other implementation ideas.

[2022-09-09 17:20] jrafanie commented on #22101
Yeah, I could see using this for our own activity, such as provider credentials being invalid, database disk/log volume getting full, swap invasion, HA postgres failover, audit event warnings or failures, etc.

[2022-09-09 17:21] jrafanie commented on #22101
You would need to apply RBAC to such events to ensure the logged on person is authorized to "see" such an event but that seems like a good idea.

[2022-09-09 18:04] kTipSSIoYv opened #22102 "Ansible Job doesn't start and timeout"
@Fryguy @agrare Could you please let me know how to debug the ansible issue?  It doesn't start at all and timeout after 1 hour.

There are no additional logs generated until its timeout after 1 hour. I need info on how to debug this issue.

[code]

[2022-09-09 18:05] agrare commented on #22101
Oh that's a good point @jrafanie events don't have any user context

[2022-09-10 11:37] kTipSSIoYv commented on #22102
@Fryguy I get the following error after the job timeout.

[code]

[2022-09-11 16:59] kTipSSIoYv commented on #22102
Closing this. Increasing the Generic Worker count fixed the issue.

[2022-09-11 16:59] #22102 closed

[2022-09-11 17:01] kTipSSIoYv commented on #22038
@agrare Increasing the Generic Worker count fixed the issue.

[2022-09-12 16:18] kbrock commented on #22097
I added a migration that will remove those roles from the server roles configuration

[2022-09-12 17:30] kTipSSIoYv opened #22104 "Cannot edit catalog if service template or provider has changed"
If the provider or service template changes then we can't edit the catalog anymore. We can't delete the catalog either.

![image](https://user-images.githubusercontent.com/9666915/189718243-b6e409a3-d830-4c39-b430-189b4a181981.png)

Any idea how we can fix the catalog?

[2022-09-12 17:54] agrare commented on #22101
@Lauferin so interestingly there already is a [`Notification.emit_for_event`](https://github.com/ManageIQ/manageiq/blob/master/app/models/notification.rb#L29-L36) which is called after every `EventStream` record is created [[ref]](https://github.com/ManageIQ/manageiq/blob/master/app/models/event_stream.rb#L37)

Try creating a notification_type with the same name as the event_type you want to raise

[2022-09-12 18:55] kTipSSIoYv commented on #22026
I managed to resolve the issue by installing old version of azure packages (released between nov 2019 - nov 2020).  You can use the [requirements ](https://github.com/Azure/azure_preview_modules/blob/master/files/requirements-azure.txt)file from azure preivew modules and modify the version as needed and create a new requirements.txt.

The following worked for me.

[code]

[2022-09-13 14:45] Fryguy commented on #22026
Thanks for narrowing this down @kTipSSIoYv - I'm currently working on simplifying the requirements at the moment, so this will be helpful.  Is the following enough of a playbook to verify azure? cc @agrare

[code]

[2022-09-13 19:09] agrare commented on #22026
I think you need some credentials fields (tenant, subscription_id, client_id, password per https://docs.ansible.com/ansible/latest/collections/azure/azcollection/azure_rm_virtualmachine_info_module.html) but yeah that should work

[2022-09-13 21:09] hirez-masmith opened #22105 "najdorf-1.3 docker monolith doesn't work"
Heya - Apologies if this is the wrong place to ask this, I'm more than happy to re-ask in the appropriate place with guidance.

I'm following the Get Started guide attempting to use the Docker deployment path for both local and Ubuntu 22.04 deployment of the pulled najdorf-1.3 and najdorf-latest images and in both circumstances end up with the bridge port 8443 unable to resolve anything on the con

[2022-09-14 12:23] kTipSSIoYv commented on #22026
@Fryguy You'll need Network related module inside playbook to verify network modules.

[2022-09-14 15:17] bdunne commented on #22105
We're missing some httpd config files that are required for the all-in-one container.

[2022-09-14 17:37] Fryguy commented on #22091
cc @kbrock

[2022-09-14 17:38] Fryguy commented on #22096
Do you have the embedded ansible roles enabled?

[2022-09-14 17:39] Fryguy commented on #22096
@kbrock Can you take a look at this one?

[2022-09-14 17:43] Fryguy commented on #22104
This is probably part of a larger problem of orphaned service catalog items.  In this particular case did your underlying template get deleted.

[2022-09-14 17:45] Fryguy commented on #22101
Closing as it's already created

[2022-09-14 17:45] #22101 closed

[2022-09-14 18:11] kTipSSIoYv commented on #22104
@Fryguy I have one catalog where its template is deleted and I believe there is another catalog which still has the template but can't edit due to the error.

[2022-09-15 20:00] hirez-masmith commented on #22105
Is there another version of the tool I can try out that is know to be working? Had bad luke with all the najdorf versions and morphy

[2022-09-15 20:55] junnbj opened #22109 "Does ManageIQ work with OVN?"
Hi everyone,

I have a cluster with ovirt and ovn. Recently I add this cluster in ManageIQ Najdorf, but I cant manage my networks. Does know if ManageIQ work with OVN? I try to add a new cloud network but the natwork manager does show.

[2022-09-16 16:32] kTipSSIoYv opened #22111 "Additional tenants doesn't work"
What is the use of Additional tenants and why doesn't it work. I tried testing it but it doesn't work at all (Child tenants can see still see catalogs even though its not checked).

Second issue is that if a catalog is created by child tenant, parent tenant user can see that they can select any tenants.

![image](https://user-images.githubusercontent.com/9666915/190686588-aa476baf-672e-4966-b61c-3

[2022-09-18 16:50] kTipSSIoYv commented on #22111
There is another issue with the checkboxes. We can't save the changes in one attempt. Instead we need to check the parent item (all tenant selection) and then undo it and then select the checkboxes we need. Only then it'll accept the changes.

[2022-09-20 18:51] kTipSSIoYv commented on #22080
@jrafanie Any update on this issue?

[2022-09-20 19:39] jrafanie commented on #22080
@kTipSSIoYv I'm really not familiar with service dialogs.  What is `dialog_hostname`?  Where is that coming from?  What's returning a nested array?

[2022-09-21 13:51] kTipSSIoYv commented on #22080
If we try to get the value of multiselect dialog using $evm.root['dialog_hostname'] we get the value as  ["[\"5163\"]"] when the dropdown is initializing.

It seems to be the default value issue. The default value for the multiselect dialog is set inside a array. But when selecting single items in the dialog the value is not an array. The default value is a single value so it should no be an array

[2022-09-21 15:47] jrafanie commented on #22080
Sorry @kTipSSIoYv I really don't know where this code is coming from. Do you have links to where these dialogs are calling and defining `get_ip_addresses` or `dialog_hostname`?  I don't see these methods called or defined in manageiq, manageiq-content, or manageiq-automation_engine.

[2022-09-21 15:51] kTipSSIoYv commented on #22080
It can be reproduced using any multiselect dialog. You just create a multiselect dialog and use another dialog with inline method and try to get the value and you'll see the issue.

[2022-09-22 14:33] jrafanie commented on #21536
Fixed by https://github.com/ManageIQ/manageiq/pull/21531

[2022-09-22 14:33] #21536 closed

[2022-09-23 19:28] agrare opened #22121 "Error provisioning from template"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/22118

<div type='discussions-op-text'>

<sup>Originally posted by **msmoritz** September 22, 2022</sup>
I'm getting an error during an attempt to provision from a template/catalog item with the vSphere provider on Najdorf-1 after using pg_dump/pg_restore method to migrate historic data and automate domains from an existing Ivanchuk

[2022-09-23 20:31] jrafanie opened #22123 "Bug: The single-table inheritance mechanism failed to locate the subclass: 'MiqEmsRefreshCoreWorker'."
While working with someone, we found that there was a missing worker class that was persisted in the `miq_workers` table but was subsequently removed in newer versions:

[code]

https://github.com/ManageIQ/manageiq/pull/17196 removed this worker and the PRs:
https://github.com/ManageIQ/manageiq-providers-vmware/pull/216 added `MiqEmsRefreshCoreWorker` and `MiqVimBrokerWorker` to the provider
https

[2022-09-26 15:35] Fryguy commented on #22109
@agrare Can you answer here?

[2022-09-26 15:41] Fryguy commented on #22121
Closed via https://github.com/ManageIQ/manageiq-providers-vmware/issues/826 (duplicate of https://github.com/ManageIQ/manageiq-providers-vmware/issues/825)

[2022-09-26 15:41] #22121 closed

[2022-09-26 15:44] agrare commented on #22121
That's weird I transferred this issue...

![image](https://user-images.githubusercontent.com/12851112/192321466-f67504ea-138e-4b1b-815c-6b1f2bdcb813.png)

[2022-09-26 17:23] kbrock commented on #22097
migration should resolve this issue

[2022-09-26 17:23] #22097 closed

[2022-09-28 17:33] Fryguy commented on #22111
Is this related to #21844 ?  If not, @kbrock can you take a look at this one?

[2022-09-28 20:18] agrare opened #22132 "[RFE] Require Kafka configuration"
Using an external message broker like Kafka has been optional for a long time, but in order to fully exploit the capabilities we have to begin to depend on kafka being available.  Principally as we move towards workers running outside of the Rails environment we have to have access to a queue that is not a part of the VMDB database.

TODO
- [x] Report if messaging is configured in appliance-consol

[2022-09-28 20:39] agrare commented on #22109
@junnbj we do support OVN, we check for external network provider services when adding or editing the provider.

You can try running:
[code]

To see what the result is

[2022-09-29 13:13] junnbj commented on #22109
Thanks @agrare for your reply. Follow above my real problem:

![image](https://user-images.githubusercontent.com/52494284/193040274-9b2e26c9-e582-4433-a1e8-1bf7b9963d4e.png)

In the Network Provider screen, the RedHat network show me, but:

![image](https://user-images.githubusercontent.com/52494284/193040707-02fe4ae6-bc31-4516-9565-257b35778550.png)

When I try to add a new router, dont show me a

[2022-10-03 19:41] #21004 closed

[2022-10-03 19:43] Fryguy commented on #21211
Fixed in https://github.com/ManageIQ/manageiq/pull/21177

[2022-10-03 19:43] #21211 closed

[2022-10-05 11:47] szajac01 opened #22149 "Upgrading from Morphy to Najdorf fails on Centos8"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/22148

<div type='discussions-op-text'>

<sup>Originally posted by **szajac01** October  5, 2022</sup>
Hi,
I'm in qualification of migration from Kasparov to Najdorf. (So os a still centos-8 coming from Kasparov appliance)
From Kasparov-2 to Lasker is ok
From Lasker to Morphy is ok
From Morphy to Najdorf there's a problem, can you h

[2022-10-05 14:49] Fryguy commented on #22149
2 questions

1. Are you on CentOS 8-stream as opposed to CentOS 8?  We moved to CentOS 8-stream in Morphy (https://github.com/ManageIQ/manageiq-appliance-build/issues/459)
2. It seems that ruby itself is not being loaded through the module...try

[code]

   Not exactly sure about the disable line

[2022-10-05 15:23] szajac01 commented on #22149
Kasparov is on Centos-8.
So migration path is from centos-8.
I know you moved to centos 8-stream in morphy, but so from a centos 8 in Morphy, i need to know what is the path to upgrade to Najdorf.

`dnf -y module disable ruby:2.6`
`dnf -y module enable ruby:2.7`

did work, after this the dnf update is ok,

so now we are on Najdorf on Centos 8 !
do you think now we can try to move on centos 8-strea

[2022-10-06 18:46] agrare opened #22153 "Kafka broker fails with SSL Handshake Failure"
I set up kafka messaging on the latest appliance/rpm versions with the kafka defaults:
[code]

And kafka begins to fail with the following SSL errors:
[code]

Setting `ssl.endpoint.identification.algorithm=` to blank in `/opt/kafka/config/server.properties` and `/opt/kafka/config/client.properties` appears to resolve the issue so the ssl cert hostname verification appears to be wrong (localhost.lo

[2022-10-10 07:20] szajac01 commented on #22149
move to centos 8-Stream done

[2022-10-10 07:20] #22149 closed

[2022-10-11 06:59] remo233 commented on #21938
Yes sure.

On Mon, Jun 27, 2022, 11:33 PM Adam Grare ***@***.***> wrote:

[2022-10-11 16:18] jrafanie opened #22160 "Investigate config.active_record.migration_error = :page_load for detecting pending migrations"
Investigate and test adding:
`config.active_record.migration_error = :page_load` to `config/environments/development.rb`

* Verify this catches pending migrations whenever you try to login or hit the manageiq UI in dev mode
* Check how this responds with any `/api` request with pending migrations
* Is this something we should consider in production.rb?

[2022-10-11 20:59] #22160 closed

[2022-10-12 09:16] szajac01 opened #22164 "Najdorf + Kasparov-2 Provider VMware warns"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/22143

<div type='discussions-op-text'>

<sup>Originally posted by **szajac01** October  4, 2022</sup>
Hi, after kasparov-1 to 2 upgrade, we have a lot of Warns like that
_WARN -- : MIQ(ManageIQ::Providers::Vmware::InfraManager::HostEsx#authentication_check_no_validation) type: [nil] for [77] [myEsx.xxx] Validation failed: incomplet

[2022-10-12 09:17] szajac01 commented on #22164
same warns on Najdorf

[2022-10-13 07:36] szajac01 opened #22166 "[Najdorf] appliance comes with user manageiq but with no home"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/22165

<div type='discussions-op-text'>

<sup>Originally posted by **szajac01** October 12, 2022</sup>
Installing a new appliance Najdorf  from manageiq download shows that application runs now with the new manageiq user.
But this one has no home directory. Is it a wanted behavior ?
What about ansible configuration ? (Using embedded

[2022-10-13 07:37] szajac01 commented on #22166
I've also seen that /opt/manageiq/manageiq-appliance/LINK/root directory has been removed on Najdorf

[2022-10-17 19:11] nasark commented on #22153
Resolved in https://github.com/ManageIQ/manageiq-appliance_console/pull/198 by swapping to 127.0.0.1 whenever localhost is used to configure messaging

[2022-10-18 17:06] Fryguy commented on #22051
Is this done @agrare ?

[2022-10-19 16:59] #22153 closed

[2022-10-20 12:45] agrare commented on #22051
No there are still some tougher ones left, I'll add the rest to the checklist so we can see the progress

[2022-10-20 14:55] zackary-deems opened #22181 "Allow Catalog Items to be owned by Project/Tenant and multiple users/groups"
Currently catalog items can only be owned by either a single user or a single group.  If a user needs to be both a consumer of catalogs AND a creator of catalog items, either they must use two accounts (one belonging to the consumer group, and one belonging to the creator group) OR the consumer group as a whole must be granted access to create new catalog items. 

In a multi-tenant configuration,

[2022-10-20 19:17] jrafanie opened #22182 "Provide better UI product feature check diagnostics"
In both service UI and ui-classic, we have dynamic UIs that are expecting some feature checks to fail as normal operations.  While this is great for adding functionality through feature flag checks, it makes it hard to tell if a user is hitting a bug or they're missing a product feature in their user.

In dev mode, it might be useful to know what feature checks are failing on each page load or per

[2022-10-21 13:36] Fryguy commented on #22181
@jrafanie @kbrock I thought we already had this but maybe I'm mistaken?  I thought we had a way for a parent tenant to have catalog items that are then shared to child tenants.

[2022-10-21 18:34] zackary-deems commented on #22181
Ok, it's not intuitive... I may have found what you were talking about.  Will play with it and see if it works the way you describe.

[2022-10-21 18:49] zackary-deems commented on #22181
Short answer, operationally, setting the tenant of the catalog item does not appear to have anything to do with who can see it.  My guess is that determines where the resulting VM gets placed.

[2022-10-25 13:25] agrare commented on #22166
Closing as duplicate of https://github.com/ManageIQ/manageiq/discussions/22165

[2022-10-25 13:25] #22166 closed

[2022-10-26 17:50] agrare opened #22200 "Ensure all workers in a region have the same kafka client config? (having >1 broker in one region would be very bad)"
Follow-up to https://github.com/ManageIQ/manageiq/issues/22132

[2022-10-26 17:50] agrare opened #22201 "Periodic checks on kafka broker health from evmserverd/orchestrator and shutting down workers if it is down?"
Follow-up to https://github.com/ManageIQ/manageiq/issues/22132

[2022-10-26 17:51] agrare commented on #22132
This is now working properly, marking as done

[2022-10-31 13:27] szajac01 commented on #22164
Hello @agrare, as it is a bug, can you explain what is the potential impact on the application ?

[2022-10-31 20:16] #22105 closed

[2022-11-02 09:41] szajac01 opened #22209 "Kasparov-2 + Najdorf WARN"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/22135
I open an issue has i don't have any clear answer in discussion.
WHat is the potential impact, a way to fix ?

<div type='discussions-op-text'>

<sup>Originally posted by **szajac01** September 30, 2022</sup>
Hi,
lots of warn like this on evm.log in Kasparov-2

_WARN -- : MIQ(MiqEvent.raise_evm_event) Event ShutdownGuest_Compl

[2022-11-02 11:58] #21734 closed

[2022-11-02 14:22] agrare opened #22210 "Najdorf / Physical Server Remote Console not working"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/22146

<div type='discussions-op-text'>

<sup>Originally posted by **1random** October  4, 2022</sup>
Good day Gents,

Finally connected HPE iLO over Redfish in Najdorf release, control layer working fine except Remote console, any ideas where to dig ?

![image](https://user-images.githubusercontent.com/1926582/193903784-0762a046-2a

[2022-11-02 14:24] agrare commented on #22209
Hi @szajac01 aside from warnings in the logs are you seeing anything not working?

[2022-11-02 14:28] agrare commented on #22210
The method `remote_console_acquire_resource_queue` is only defined for Lenovo PhysicalServers not for Redfish.  It appears there is no supports_feature checking on this button or model.

[2022-11-02 15:06] szajac01 commented on #22209
HI @agrare , nothing special in the app, what really related to those event can checked in the app ?

[2022-11-03 20:28] Fryguy commented on #22210
@agrare Merged the 2 PRs above, but do we need something now in the UI to use that supports method or is that already present?

[2022-11-04 16:35] agrare commented on #22210
Correct, cc @jeffibm

[2022-11-05 13:17] chessbyte commented on #22091
Should the following be included here?

https://github.com/ManageIQ/manageiq-pods/pull/770
https://github.com/ManageIQ/container-postgresql/pull/32

[2022-11-05 13:41] chessbyte commented on #20662
Can the opening post be updated to reflect the active work in this area, such as

- https://github.com/ManageIQ/manageiq/pull/22129
- https://github.com/ManageIQ/manageiq-appliance_console/pull/192
- https://github.com/ManageIQ/manageiq-rpm_build/pull/309

[2022-11-07 22:41] jrafanie commented on #20662
Thanks Oleg, done.

[2022-11-08 05:17] jeffibm commented on #22210
For UI changes - https://github.com/ManageIQ/manageiq-ui-classic/pull/8507

[2022-11-08 10:43] szajac01 opened #22218 "Jquery v2.2.4 still within manageiq"
Hi,
I still find Jquery v2.2.4 within manageiq
In Najdorf, in ./public/packs/vendor-340e4c36dafc41149c55.js
In Kasparov1 and 2 also

Jquery v2.2.4 has known vulnerabilities (https://security.snyk.io/package/npm/jquery/2.2.4)

Although package.json does reference jquery 3.5.1
https://github.com/ManageIQ/manageiq-ui-service/blob/master/package.json
https://github.com/ManageIQ/manageiq-ui-service/blo

[2022-11-08 21:57] agrare commented on #22109
@junnbj it doesn't appear that the Ovirt or RHV Network Manager has ever had support for creating cloud_networks but given it shares the same API as OpenStack I was able to get this to work relatively easily.  Let me do some further testing (e.g. adding cloud_subnets and cloud_routers also works in addition to adding cloud_networks) then I'll push a PR.

[2022-11-08 22:13] Fryguy commented on #22218
Duplicate of https://github.com/ManageIQ/manageiq-ui-classic/issues/5585

[2022-11-08 22:13] #22218 closed

[2022-11-09 10:10] szajac01 opened #22223 "ManageIQ SSL configuration of an external database"
### Discussed in https://github.com/ManageIQ/manageiq/discussions/22134

<div type='discussions-op-text'>

<sup>Originally posted by **szajac01** September 30, 2022</sup>
ManageIQ Hardening guide (https://www.manageiq.org/docs/reference/latest/appliance_hardening_guide/) talks about SSL configuration of a Database Appliance, is it possible to add a chapter regarding external Databases SSL configur

[2022-11-09 14:13] #22210 closed

[2022-11-09 18:45] #22132 closed

[2022-11-09 18:45] kbrock commented on #22181
assignment of the tenant is set through the group.
You need to choose a group that is in the desired tenant

[2022-11-09 18:47] agrare opened #22225 "[RFE] Require Kafka"
Follow-up to https://github.com/ManageIQ/manageiq/issues/22132

- [x] Make kafka setup required
  - [x] https://github.com/ManageIQ/manageiq-pods/pull/896
- [ ] Don't start evmserverd until kafka is ready
- [x] https://github.com/ManageIQ/manageiq/issues/22201
- [x] https://github.com/ManageIQ/manageiq/issues/22200

We may not be able to ship unless we also complete:
- [ ] https://github.com/Manag

[2022-11-09 18:49] #20071 closed

[2022-11-09 20:06] zackary-deems commented on #22181
Yes... the question wasn't, how do you set the tenant.  The request is - I would like to create a catalog item that is owned by a tenant.  In this instance 'owned' means - only viewable by.   Current codebase determines this from within the Services -> Catalogs area and the value that is set when you select a catalog item, select Configure -> Set Ownership.  The only options are User or Group owne

[2022-11-09 23:16] #22223 closed

[2022-11-14 13:46] #21943 closed

[2022-11-25 15:03] szajac01 opened #22249 "Najdorf UI popup error"
Hi,
on Najdorf version, we have a popup on everything new load page in the UI.
I did try to restart the appliance without success.

Server Error (API)
URL https://myserverxxx/api/notifications?expand=resources&attributes=details&sort_by=id&sort_order=desc&limit=100

Status 500 Internal Server Error

Content-Type application/json; charset=utf-8

Data {"error":{"kind":"internal_server_error","messag

[2022-11-25 15:14] szajac01 opened #22250 "Najdorf Custom Workflow problem"
Hi,
On najdorf, Generic / Custom workflow does have bad behavior
Although several steps are defined in it, the service provisioning in the UI is considered as finished after step1
Status is status from step1.
Although in the automation log , workflow continues to run and log all his actions.

[2022-11-30 18:45] jrafanie commented on #20660
This now works natively, see https://github.com/ManageIQ/manageiq/pull/22242

[2022-11-30 18:45] #20660 closed