[2020-10-08 21:33] agrare opened #20676 "Unify syncing of child manager and provider attributes"
Various provider plugins use a mixture of `Provider` and multiple `Manager` classes to group inventory and operations into logical (hopefully) groupings.

The "worst case" for complexity is something like OpenStack which can have a `Provider` and a "parent" `CloudManager` which has multiple "child managers"

[code]

There are a lot of attributes that have to be kept in sync (e.g. zone_id, provider

[2020-10-09 13:55] #20476 closed

[2020-10-12 19:44] Fryguy commented on #20673
@simaishi I think this is an appliance rpm issue?  Should we transfer to manageiq-rpm_build or manageiq-appliance-build?

[2020-10-12 19:55] simaishi commented on #20673
Yes, rpm issue, moving.

@miq-bot move_issue manageiq-rpm_build

[2020-10-12 19:56] #20673 closed

[2020-10-12 20:40] Fryguy commented on #19900
@nateKlaux Yes, this issue is still open...ideally we can reuse the api.yml file somehow to "build" an OpenApi Specification file.

[2020-10-12 21:06] nateKlaux commented on #19900
@Fryguy Thanks for the response Jason! Sounds great. I'll try to allocate some time to research this further (hopefully) either today or tomorrow. Initial thoughts are hopeful that we can reuse the api.yml file, esp. if OAS was in mind during the creation of the API. :) Thanks for getting back to me, looking forward to helping out

[2020-10-13 08:49] LucienBreitkopf opened #20682 "Reference Ansible Tower Inventory in Dynamic dialog object"
As an operator, I want to be able to reference an Ansible Tower Inventory in a service dialog to easily choose a viable machine to run a job against.

In this specific case, we have connected an Ansible Tower Instance with several available Inventories to our CloudForms system.
For a specific service, we would like to add a dynamic drop down list, containing all (or a subset of) hosts of one of th

[2020-10-13 18:12] agrare opened #20687 "The core NetworkManager and StorageManager should be able to be standalone"
There is a decent amount of logic in the core NetworkManager and StorageManager classes that depend on belonging to a parent manager.

For example: https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/network_manager.rb#L42-L61 and https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/storage_manager.rb#L15-L18

This makes it way harder for standa

[2020-10-13 18:44] kbrock commented on #20676
👍 We are pretty good about only updating the parent ems and it trickling to the children. I haven't found any outliers.
👎 We are not using `inverse_of` and since we use `foreign_key` we have different objects for the parent and child.
👎 We have lots of `reload` to combat the different object issue, but those make it difficult to fix the problem since they exacerbate the problem.
👍 We use zone dele

[2020-10-14 00:59] grengaster opened #20689 "Ability to use multiple tags in chargeback report generation"
Currently chargeback reports can be built based off a single selected tag. Customers like the ability to have a report based on hierarchical tags - for instance generate chargeback for an application.

[2020-10-14 07:01] goforgold opened #20691 "All menus from appliance_console appears twice"
I have installed `jansa-1` release using Vagrant and VirtualBox.

![image](https://user-images.githubusercontent.com/1727061/95954486-05403f80-0e19-11eb-8cef-ba1d939ecbe7.png)
![image](https://user-images.githubusercontent.com/1727061/95954523-0ffad480-0e19-11eb-9d1f-1fd663dc7995.png)
![image](https://user-images.githubusercontent.com/1727061/95954548-1c7f2d00-0e19-11eb-9546-c811528ede50.png)
![im

[2020-10-14 15:03] jrafanie commented on #19863
According to https://github.com/ManageIQ/manageiq-documentation/issues/1493 and https://github.com/ManageIQ/manageiq/issues/20406, the [report formatting code](https://github.com/ManageIQ/manageiq/blob/b3911949711e3dc91093a70705bb337065743bb4/app/models/miq_report/formatting.rb#L130-L164) still uses helpers in the UI, specifically, NumberHelper.

[2020-10-14 15:11] jrafanie commented on #19863
If this is reprioritized, we can reopen but as of now, there's just too much intertwined code and little help to fix it.  We'll just allow the intertwined code to load for now.

[2020-10-14 15:15] chessbyte commented on #19863
Reopening and adding `help wanted` label

[2020-10-15 14:13] Fryguy commented on #20691
@jvlcek I think you've been in the appliance console recently...have you noticed this?

[2020-10-15 14:15] Fryguy commented on #20687
I think the original design for the StorageManager was to be standalone (to account for standalone Swift or Cinder, for example)...I guess that changed at some point?

[2020-10-15 14:33] agrare commented on #20687
Yeah I don't think it was intentional but the combination of:
1. The base StorageManager has a `belongs_to :parent_manager` whose presence of we're using to decide if an EMS can be added or not
2. The OpenStack team moved all of the refresh logic for cinder into their repo so you can't refresh a standalone cinder

Probably the fact that we never allowed (at least through the UI) the addition of st

[2020-10-15 16:58] varun0002 opened #20700 "Unable to run report manageiq/manageiq:jansa-1"
Using manageiq/manageiq:jansa-1 docker image and unable to run any containers report. It's showing following error under audit logs:

[----] I, [2020-10-14T10:13:27.893538 ManageIQ/manageiq-documentation#693:2b0c00fbae50]  INFO -- Success: MIQ(Generator.queue_generate_table) userid: [admin] - Generate Report: 'Projects By CPU Usage', successfully initiated
[----] W, [2020-10-14T10:13:44.167182 Man

[2020-10-15 16:58] #20700 closed

[2020-10-15 16:59] Fryguy commented on #20406
Closed via #20693

[2020-10-17 14:53] goforgold opened #20703 "Cannot run appliance_console after fetch-key"
I am running `ivanchuk-7` release using Vagrant and Virtual Box. I updated keys from the database server and then cannot access the appliance_console at all. Reverting the key from a backup makes it correct again. But I want to use an external database server for my appliance.

[code]

Please help. I am trying to follow [this guide](https://www.manageiq.org/docs/reference/latest/high_availability_

[2020-10-19 08:06] gpavinteractiv opened #20704 "[Jansa-1] Provisioning Virtual Machines : Custom Specifications not retrieved from provider"
Since upgrading to Jansa-1
Either with oVirt and vSphere providers, I can not retrieve custom specifications while provisioning VM from templates:

Compute>Infrastructure>Virtual Machines>Templates>Provision Virtual Machines>Customize:
Custom Specification : Empty

[2020-10-19 08:47] gpavinteractiv opened #20705 "[Jansa-1] Provisioning Virtual Machines : vm not autostarted after provsionning and customization not applied"
Since upgrading to Jansa-1
With vSphere provider, trying to provision New VM from template,
Specifying :
-> Customize : 1. Computer Name
                        2. IP Adress
                        3. etc..
-> Schedule : Power on virtual machines after creation

Request marked as Finished : [EVM] VM [test-jansa] Provisioned Successfully
But the VM is not autostarted, and after manually starting it

[2020-10-19 08:51] gpavinteractiv commented on #20406
PR https://github.com/ManageIQ/manageiq/pull/20693
spéciffically notes that this issue is not fixed by the PR :

[code]

Are you sure that this issue is fixed and is rightfully closed?

[2020-10-19 12:45] jrafanie commented on #20406
No, this is still not resolved.  While important to detangle this code, I'm hopeful some of this work can be done with the rails 6 upgrade and moving to [https://github.com/fxn/zeitwerk](zeitwerk) for code loading/reloading.

[2020-10-19 13:02] agrare commented on #20704
@gpavinteractiv this sounds like a duplicate of https://github.com/ManageIQ/manageiq-providers-vmware/issues/611 which was backported to jansa but not by the `jansa-1` release tag.
Try applying https://github.com/ManageIQ/manageiq-providers-vmware/pull/614 and see if that resolves the issue

[2020-10-19 15:19] Fryguy commented on #20406
Oh thanks for catching that @gpavinteractiv - I totally misread.

[2020-10-19 16:18] Fryguy commented on #20703
@bdunne Can you help here?

[2020-10-19 22:11] bdunne commented on #20703
Hi @goforgold ManageIQ appliances initialize a local database on first boot.  As part of that first boot script, `/var/www/miq/vmdb/config/database.yml` is created and the database password stored in that file is encrypted with a locally created encryption key.

The problem is that the appliance console tries to read the `database.yml` file and fails to decrypt the database password because that i

[2020-10-20 05:50] goforgold commented on #20703
Thanks @bdunne. Yes, I understood that part and what I did as a workaround is use the same encrypted password as it is in database.yml file for my DB instance from where I fetched the key using `--fetch-key` and then used `appliance_console` -> `5) Configure Database` -> `Join region in external database`.

Really thanks for your help.

[2020-10-20 05:54] talat-shaheen opened #20707 "getting error while configuring OKD 4.5 Prometheus metrics & alerts"
Credential validation was not successful: 784: unexpected token at ' Log In manageiq
It has detected okd4.5 successfully.
ManageIq detects Prometheus "prometheus-k8s-openshift-monitoring.apps.okd4.local" also but when I try to connect using port 443, it gives the above error.

[2020-10-20 12:00] agrare commented on #20707
@talat-shaheen that error means that we expected a JSON response but didn't get one, in this case it is likely that we got an http/xml response.  I've had this happen when the service (prometheus in this case) isn't configured and thus isn't running.  Can you point your browser at that url and see if it is returning?

[2020-10-20 14:11] chessbyte commented on #20589
The PRs in the [comment above](https://github.com/ManageIQ/manageiq/issues/20589#issuecomment-704356471) have been merged.  Are we waiting for other work or can this issue be closed now?

[2020-10-20 15:09] #20589 closed

[2020-10-20 15:58] gtanzillo opened #20710 "Ability to track and revoke sessions - optional enhancements"
See [original issue](https://github.com/ManageIQ/manageiq/issues/20378) for full details

- [ ] API /api/users/ `revoke_sessions` action should be parameterized by type ("api", "ui", "ws", etc) and default to "all".  This can be done as a follow up. (ManageIQ/manageiq-api#885)
- [ ] Log out the End-User from the OpenID Provider (#20470)
- [ ] (#20460 / #20461) - For the API, remove a majority of t

[2020-10-20 16:00] jrafanie opened #20711 "Unable to send email on jansa, master until recently with "Missing template generic_mailer/generic_notification with "mailer". Searched in: * "generic_mailer""
http://talk.manageiq.org/t/no-email-notifications-since-jansa-upgrade/5147/2

[2020-10-20 16:03] jrafanie commented on #20711
To recreate this, I was able to get the [missing template](https://github.com/ManageIQ/manageiq-ui-classic/blob/80d8f89fa5a0884c39ede27f4a95cc9a84c8af4c/app/views/generic_mailer/automation_notification.html.haml) error by excluding the ui_dependencies:
`BUNDLER_GROUPS=manageiq_default be rspec spec/mailers/generic_mailer_spec.rb`

This results in many test failures of variety:

[code]

[2020-10-20 16:03] jrafanie commented on #20711
This should resolve the issue on master: https://github.com/ManageIQ/manageiq/pull/20693

[2020-10-20 16:03] #20711 closed

[2020-10-20 16:11] jrafanie commented on #19863
[Email templates also were failing to be found](https://github.com/ManageIQ/manageiq/issues/20711) when we didn't include ui-classic in the workers since they also reside in ui-classic.

[2020-10-20 16:51] Fryguy commented on #20409
Closed via #20289 and ManageIQ/manageiq-ui-classic#7273

[2020-10-20 16:51] #20409 closed

[2020-10-20 16:52] Fryguy commented on #20408
Done

[2020-10-20 16:52] #20408 closed

[2020-10-20 16:53] Fryguy commented on #20378
Done

[2020-10-20 16:53] #20378 closed

[2020-10-20 16:55] Fryguy commented on #20465
Closed via #20601

[2020-10-20 16:55] #20465 closed

[2020-10-20 16:56] Fryguy commented on #20461
Duplicate of #20460

[2020-10-20 16:56] #20461 closed

[2020-10-20 17:06] #20703 closed

[2020-10-21 04:32] talat-shaheen commented on #20707
@agrare tried the following and its giving me all the metrics; the token used is the same:
 curl -X GET -k --oauth2-bearer eyJhbGciOiJSUzI1NiIsImtpZCI6ImloX3FDc0JtYk5qT3hkZ1BzZHdRWGdUSVVaLUdkTU9fbEpQTXBfeERobHcifQ.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJtYW5hZ2VtZW50LWluZnJhIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZWNyZXQubmFtZSI6Im

[2020-10-21 05:16] talat-shaheen commented on #20707
![image](https://user-images.githubusercontent.com/36874355/96676284-9ae44d80-138a-11eb-9ce2-b7f9a1d929e1.png)

[2020-10-21 09:51] talat-shaheen commented on #20707
Is the following issue related?
https://github.com/ManageIQ/manageiq-providers-openshift/issues/177

[2020-10-21 12:42] Nikkurer commented on #20704
I've met same error at jansa-1.

I've applied this MR to jansa-1. But there is no such dir "spec". Am I missing something?
[code]

[2020-10-21 13:21] agrare commented on #20704
You can ignore the `spec` dir we strip it out of released versions since it holds our automated tests and isn't used at all in production

[2020-10-21 14:43] #19718 closed

[2020-10-21 14:43] #20580 closed

[2020-10-21 15:17] Nikkurer commented on #20704
Thank you for reply. I was confused because found this dir at ivanchuk-7 appliance.
Anyway. I've applied this patch to the jansa-1 and still don't see specifications.

[2020-10-21 16:14] agrare commented on #20704
@Nikkurer I applied that PR to a jansa-1 appliance and I'm seeing customization specs being collected
[code]

[2020-10-21 16:30] chessbyte commented on #20704
@Fryguy @simaishi would it make sense to build a Jansa fixpack, if there are enough bugs to address?

[2020-10-22 14:23] Fryguy commented on #20467
cc @kbrock since you know a bit about the `use_config_for_attributes`

[2020-10-22 21:40] Fryguy commented on #19760
I'm marking this one done, since the bot is technically unrelated to the core code base.  Great work @d-m-u !

[2020-10-22 21:40] #19760 closed

[2020-10-23 10:41] talat-shaheen commented on #20707
With VmWare image, Metrics validation is resolved(used Vmware image instead of docker image)
![image](https://user-images.githubusercontent.com/36874355/96994243-0f191f80-154a-11eb-8463-4dd5d81ef60a.png)

Now, problem with alert validation remains.

[2020-10-23 13:02] agrare commented on #20707
Hey @talat-shaheen, alerts on openshift 4+ are not supported because the prometheus alert buffer isn't enabled as it was replaced with something new and we haven't updated the provider to support it yet.

As for metrics, you should have no problem with prometheus for metrics on OCP4+.  Really strange that it is working on an appliance but not podified /cc @jrafanie

What version is this?

[2020-10-23 18:22] chessbyte opened #20726 "[Internationalization] Automate the extraction of reportable fields"
Derived from this [discussion](https://github.com/ManageIQ/manageiq/pull/20699#issuecomment-712339567)

Automate the extraction of reportable fields into another YAML file allowing overrides from this file during the creation of manageiq.pot file (`rake locale:update_all`)

[2020-10-23 21:31] Fryguy opened #20727 "[Podified] Changing the CPU/Memory threshhold settings doesn't automatically update the deployments"
Workaround for now is to delete the deployment, but we should make it update them automatically.

[2020-10-26 06:06] talat-shaheen commented on #20707
Thanks @agrare for the info. The version is Jansa-1 for both.
The ticket can be closed.

[2020-10-26 16:29] NickLaMuro opened #20732 "[RFE][EmbeddedAnsible] Configurable `verify_ssl` for git repositories"
Currently, `verify_ssl` is set to "false" for all `GitRepository` objects associated with `EmbeddedAnsible`:

https://github.com/ManageIQ/manageiq/blob/7ea2845fc/app/models/manageiq/providers/embedded_ansible/automation_manager/configuration_script_source.rb#L53-L79

[It is assumed](https://gitter.im/ManageIQ/manageiq-providers-embedded_ansible?at=5f96f70bbbffc02b583f5855) that it probably was jus

[2020-10-26 16:31] #20707 closed

[2020-10-26 18:45] gtanzillo commented on #19719
@lfu Can you please take a look and see how feasible this would be to do?

[2020-10-27 15:53] chessbyte opened #20741 "Support Provider Subclassing"
There are a number of providers which include their own flavor of Kubernetes as part of their service offerings (e.g.: Amazon EKS Azure AKS, Google Kubernetes Engine, etc...)

With our Kubernetes provider we should be able to support each of these fairly easily since the k8s APIs are the same.

It would be great if we were able to subclass the Kubernetes provider into the various vendors' provider

[2020-10-28 18:55] agrare opened #20752 "Vms have both pause and suspend operations"
The `VmOrTemplate::Operations` module define both `#pause` and `#suspend` operations.  I have no idea what the difference is between these two but only `#suspend` has a `supports_feature_mixin` feature.

We should standardize on one of these, update the providers which implement the other, and update the UI to move all calls over.

[2020-10-28 18:56] agrare commented on #20752
Ref: https://github.com/ManageIQ/manageiq-providers-ibm_cloud/pull/107/files#r513682410

[2020-10-28 22:02] Fryguy commented on #20752
I believe there was a minor difference between how the hypervisor keeps it in memory or not.  It's really subtle.  A paused VM is still retained in memory while a suspended VM writes the memory out to disk or something to that effect...I think it was a RHV or maybe Openstack addition.

Agreed that supports_feature should be consistent though.

[2020-10-28 22:17] Fryguy commented on #20741
I have a way for us to do proper subclassing, which should make this significantly easier.  Will put up a PoC PR.

[2020-10-29 13:33] Nikkurer commented on #20704
Sorry @agrare it was my fault. Forgot patch for parser.rb. Your patch is working.

[2020-10-29 13:40] agrare commented on #20704
Thanks for testing @Nikkurer !  I'll go ahead and mark this resolved

[2020-10-29 13:40] #20704 closed

[2020-10-29 13:44] h-kataria opened #20753 "UI hangs when pressing Add Security Group and Add Security Policy button"
Related to https://github.ibm.com/IBMPrivateCloud/CP4MCM/issues/14995

These Add buttons are not MIQ core toolbar buttons, these buttons are being added by NSXT plugin.

![Screenshot from 2020-10-29 09-32-46](https://user-images.githubusercontent.com/3450808/97581665-3600a700-19cb-11eb-85cb-184430317c4b.png)

![Screenshot from 2020-10-29 09-33-03](https://user-images.githubusercontent.com/3450808/

[2020-10-29 14:02] agrare commented on #20752
Ah you're right, my initial search I didn't see any providers which implemented both so it looked like it was one or the other but OpenStack does support both.

[2020-10-29 14:02] Fryguy commented on #20753
cc @agrare @gubbe505 If this issue is NSXT specific, let's transfer to the NSXT repo.

[2020-10-29 14:02] Fryguy commented on #20753
I'm curious why these buttons are NSXT specific - Is this just leftover that wasn't transferred to core?

[2020-10-29 14:04] agrare commented on #20753
Trying this locally now, will report back.  Yeah I think they were implemented in that repo because they didn't exist but weren't transferred over to core

[2020-10-29 14:16] agrare commented on #20753
If you have an NSX-t provider then the form loads, it appears that the UI isn't handling the API returning 0 providers

The API appears to be returning 200
[code]

[2020-10-29 15:36] Fryguy commented on #20741
See #20756

[2020-10-29 16:13] tpapaioa opened #20757 "[Regression] Request field not saved when adding button to generic object class"
When adding a new button to a generic object class definition, the value entered into the required field 'Request' does not get saved. If I then edit the button, re-add the value, and save it again, then the value is saved successfully. This is a regression in 5.11.9.0. The issue does not exist in 5.11.8.1.

Steps to reproduce:

1.) Automation > Automate > Generic Objects
Configuration > Add a new

[2020-10-29 22:23] NickLaMuro opened #20760 "[RFE][EmbeddedAnsible] SSH key credential check/validation"
As a user, have a way of testing that a given SSH key works for authentication against a given `git` repository.

Background
----------

Many times, as user will attempt to add `ssh` credentials to be used with a `GitRepository`, specifically for playbooks to be used with `EmbeddedAnsible`, only for the added `ssh` credentials to not work when repo is actually cloned.

There a many places for fail

[2020-10-30 14:10] Fryguy commented on #20243
I realize that this RFE is for the general case, however if we know specific cases can be solved by looking at data from the directory, can we code that in?

So in this example, what exactly in the directory is noticable, and if that noticable thing is well defined, then I think we can code up fetching that information as part of the Ansible::Runner run itself.  Asmittedly, this doesn't really sol

[2020-10-30 14:55] NickLaMuro commented on #20243
In this case, generally you are looking at the `env/passwords` to see what was defined in the YAML for the regexp for:

- is there an entry for [`"^SSH [pP]assword"`](https://github.com/ManageIQ/manageiq/blob/master/lib/ansible/runner/credential/machine_credential.rb#L31)?
- is it correct?
- is it blank?

Or did we write the proper args to `ansible_runner` to ask for the passwords, which you have

[2020-10-30 19:39] Franklin-lab opened #20765 "CP4MCM With CloudForm Authenticaion Page Holding Previous User Session"
**Environment** : https://inframgmtinstall-cp4mcm-customer3.multicloud-ibm.com/oidc_login
**CloudForm Version:**
 IBM Cloud Pak for Multicloud Management - Infrastructure management 2.0.0
Version 2.0.0.20200921060502_fe0b663
CP4MCM:IM Customization 10.y@6fa7958f

**Description:** The user session is getting cached by oidc_login in a private browser session. It is recommended not to hold the previo

[2020-10-30 19:39] Franklin-lab commented on #20765
![CloudPak_With_CloudForm](https://user-images.githubusercontent.com/68325936/97749849-c0edb880-1b15-11eb-8c3c-b0288ee315e1.PNG)
![older session got maintained in private browser](https://user-images.githubusercontent.com/68325936/97749854-c21ee580-1b15-11eb-8ef4-e77944d69bb1.PNG)
![service_ID](https://user-images.githubusercontent.com/68325936/97749856-c3501280-1b15-11eb-8597-2f9e090360f8.PNG)
![

[2020-10-30 19:49] Franklin-lab opened #20766 "Cannot Differentiate Provision Catalog And Custom Action Ansible Playbook Catalog."
**Environment:** CloudPak with CloudForms.
**Version:**
IBM Cloud Pak for Multicloud Management - Infrastructure management 2.0.0
Version 2.0.0.20200921060502_fe0b663
CP4MCM:IM Customization 10.y@6fa7958f

**Description:** For on-boarding custom operation like (Adding secondary disk) in Ansible playbook, I need to create a
catalog first then i should go to the button and select the Ansible playboo

[2020-10-30 19:53] Franklin-lab commented on #20766
![CP4MCM_Published Custom ansible action published as catalog](https://user-images.githubusercontent.com/68325936/97750889-9d2b7200-1b17-11eb-9559-b061866325ee.PNG)
![CF_Anisble_catalog](https://user-images.githubusercontent.com/68325936/97750894-9e5c9f00-1b17-11eb-9a65-f2986c6c8851.PNG)
![CloudPak_With_CloudForm](https://user-images.githubusercontent.com/68325936/97750896-9f8dcc00-1b17-11eb-97a7-

[2020-10-30 21:05] Franklin-lab opened #20767 "Duplicate ID Getting Created In CP4MCM Integrated CloudForm"
**Environment**: CP4MCM
**Version**:
IBM Cloud Pak for Multicloud Management - Infrastructure management 2.0.0
Version 2.0.0.20200921060502_fe0b663
CP4MCM:IM Customization 10.y@6fa7958f

**Description**: Created user from CloudPak and then trying to access Cloudform, then when the admin access the user mgmt in Cloudform observed that user Id is getting created twice.

[2020-10-30 21:12] Fryguy commented on #20765
This is a downstream specific problem not related to ManageIQ.

[2020-10-30 21:12] #20765 closed

[2020-10-30 21:15] Fryguy commented on #20767
cc @jvlcek - generically, this might be a problem with OIDC or perhaps this is a downstream specific thing and should be closed here?  I wasn't sure so I asked @Franklin-lab to open this issue, cause this is weird.

[2020-10-30 21:17] Fryguy commented on #20766
@pemcg I think you were helping @Franklin-lab in gitter chat.  Perhaps you can weigh in a little here?  cc @lfu @tinaafitz @gtanzillo

[2020-11-02 04:41] Franklin-lab commented on #20767
Since this is an integration issue i am closing this ticket.

[2020-11-02 04:41] #20767 closed

[2020-11-02 08:34] pemcg commented on #20766
We may be confusing the terminology here. From your screenshot of IM, it looks like you  have 3 catalogs: "Ansible", "Automation", and "VMware Catalog". Is this what you mean, or are you looking to differentiate the _items_ in the catalogs?

[2020-11-02 08:52] Franklin-lab commented on #20766
No @pemcg , There is folder called "Ansible" and custom action name is  "Add Additional Disk" under that folder.
When we run the discovery from CloudPak, it is getting pulled Ansible based custom action catalog as well.
So, my request here is only for the provisioned catalog should get pulled from CloudFrom to Clodpak.

[2020-11-02 09:00] pemcg commented on #20766
ok, I think that's where the terminology confusion is coming in. What you're describing as "Folders" are Catalogs (expand the 'Catalogs' section in the accordion and you'll see them). Just to confirm, I think you're looking to differentiate between type of _Catalog Item_ (in the 'Catalog Items' section in the accordion)?

Thanks

[2020-11-02 09:21] Franklin-lab commented on #20766
I will try and update you @pemcg

[2020-11-02 15:16] lpichler opened #20768 "Move schedules#build_search_filter_from_params to core repository"
[Method build_search_filter_from_params](https://github.com/ManageIQ/manageiq-ui-classic/blob/3a71e6d0b4dfe8bff6c43bf57881f134eab18285/app/controllers/ops_controller/settings/schedules.rb#L548 ) needs to be located in core repository in order to be available also for [Schedule API Endpoint.](https://github.com/ManageIQ/manageiq-api/issues/893).

Method needs to be also refactored.

Approach:

- [x

[2020-11-03 01:00] Franklin-lab opened #20783 "Compliance Policy Not Updating The Status For Particular VM"
**Environment:** Version 5.11.5.2.20200422181830_c7107ec

**Description**: For compliance policy, I have created a new compliance policy then mapped to a particular VM, and then running the policy on schedule once the start time completed then i checked in VM compliance status "Never verified" and "No history available".

**Steps To Reproduce:**
1. Login to CloudForm
2. Click on control
3. Click o

[2020-11-03 14:24] skateman commented on #19110
This is how the screen-based feature setting looks like in the UI:
![Screenshot from 2020-11-03 15-22-12](https://user-images.githubusercontent.com/649130/97996807-81122400-1de8-11eb-85d5-1dcb6266c5a8.png)

I would want to keep it as it is IMO super comfortable for admins as it follows the hierarchy of the menu from the top.

[2020-11-04 17:59] djberg96 opened #20777 "[TRACKER] All potential ssl hotspots"
Due to a series of recent events where we've been affected by various ssl issues, this issue is mainly a collection point to note all the places where any potential future issues may arise. In short, anywhere we use ssh keys, tls versions, etc. For now, just point out the file/model/provider/repo/whatever, and what's possibly significant.

...work in progress, will add stuff as I find it, and from

[2020-11-04 18:08] d-m-u commented on #20777
- lib/git_worktree - rugged/libgit2 stuff
- lib/miq_cockpit - erm, `remote-login-ssh` stuff

[2020-11-05 14:56] thesystemninjaneer opened #20779 "Ordering Ansible Playbook Service Catalog Item Produces Rugged `unsupported URL protocol` Error"
Use of an Automate -> Ansible -> Repository for embedded ansible Services when the playbook SCM repo contains Git Submodules recorded in a `.gitmodules` file configured to use a relative path (e.g., `url = ../foo`) via [this git documentation guidance](https://docs.gitlab.com/ee/ci/git_submodules.html#configuring-the-gitmodules-file) resulted in the generic `Server [EVM] Service [SERVICENAME] Prov

[2020-11-05 15:54] NickLaMuro commented on #20779
@thesystemninjaneer Thanks for the issue!

So I mentioned this in [gitter](https://gitter.im/ManageIQ/manageiq-providers-embedded_ansible?at=5fa3435fc6fe0131d4d7163d), but this probably won't be possible in this form, though we probably could do something to a similar effect.

Reason being is when adding a repo, we basically:

- Validate the fields themselves are working
- Save the database record

[2020-11-06 13:52] lfu commented on #20783
@Franklin-lab Could you verify that the compliance policy was executed after the scheduled time passed? Every policy executed would be logged in policy.log.

[2020-11-06 14:19] lfu commented on #20783
If scheduler is not required in your test, you can go to VM - Policy - Check Compliance of Last Known Configuration to kick out the compliance policy directly.

[2020-11-07 01:11] thesystemninjaneer commented on #20779
@NickLaMuro understandable. Any kind of popup/notice at the time of a new Ansible Repository addition or creation of an embedded ansible Automation Service that uses the repo would helpful.

Again, thanks for all the troubleshooting help over in gitter. Much appreciated.

[2020-11-09 14:55] d-m-u commented on #20777
Since this was a request to identify areas of concern re:all the places we use / rely on SSH keys and TLS for authentication issues since moving to RHEL-8 with CF 5.11, I don’t think the documentation tag’s really apropos.

[2020-11-10 19:12] d-m-u commented on #20777
## api
spec/requests/conversion_hosts_spec.rb
app/controllers/api/conversion_hosts_controller.rb — optional conversion_host_ssh_private_key and vmware_ssh_private_key params

[2020-11-10 21:14] Fryguy commented on #20777
@djberg96 Out of curiosity, what is goal/purpose of this list?  I see that it's various places we use ssl, but why?

[2020-11-11 12:42] odidev opened #20798 "Add ARM64 Support"
I was trying to build this package for arm64 in travis and found that this package requires postgresql 10 which is unavailable for arm64(xenail).

I have shifted to bionic dist for arm64 and while testing this package I found out that one [example ](https://github.com/ManageIQ/manageiq/blob/master/spec/lib/miq_environment_spec.rb#L17-#L19)is failing for arm64.

[code]

 In this example, we compare

[2020-11-11 14:59] Fryguy commented on #20798
We don't have any plans to add it ourselves, but would gladly accept contributions to make it work. Recently ppc64le and s90x support was added by others, for example.

You should be able to now use PG 11 or PG 12, if those packages are available.

[2020-11-11 15:01] Fryguy commented on #20798
I'd be surprised if the architecture is what causes that to be different...feels like something specific to Travis?  @agrare @bdunne Thoughts on this?

[2020-11-12 09:23] odidev commented on #20798
Thanks for the reply,
I was able to resolve this issue by adding the line “**sudo sed -i 's/127.0.1.1/127.0.0.1/' /etc/hosts**”.
As per https://travis-ci.community/t/localhost-resolves-to-127-0-1-1-instead-of-127-0-0-1-on-bionic/4764 the travis allocates 127.0.1.1 ip to bionic distro.

I was able to resolve the above issue and tested it over arm64 with these [changes](https://github.com/odidev/man

[2020-11-12 14:49] nalewis57 opened #20804 "/var/log is getting full with large btmp and secure files."
Cust is seeing that his /var/log dir is getting full with large btmp and secure files.

[2020-11-12 14:51] nalewis57 opened #20805 "Service approval and ordering is slow due to multiple extra processes running."
Cust experienced overall slowness and service approval and ordering is slow, possibly due to extra processes running.

[2020-11-12 14:58] jrafanie commented on #20804
* We found that `/var/log/btmp*` and `/var/log/secure*` were very large, had been moved (instead of copy + truncate) and no replacement files were being created.
* They will need to restart at a good downtime to verify the logs are being created and properly rotated/compressed
* secure logs indicates public access to ssh

There are two parts for this issue:
1) The copied `/var/log/secure*` files w

[2020-11-12 14:59] jrafanie commented on #20804
## Configure logrotate to properly rotate/compress /var/log/secure and /var/log/btmp more frequently

1) `/var/log/btmp` logs are controlled by `/etc/logrotate.d/btmp`, which is provided by the logrotate rpm:

[code]

The default rotates `monthly` and doesn't `compress` since the default in 3) below, is not to compress.

Changes:  You can add `compress` and change `monthly` to `weekly`.

2) `/var/

[2020-11-12 15:00] jrafanie commented on #20805
We found that there was little RSS available and the system had 20+ `/usr/bin/ruby` processes consuming ~95 MB and 2-5% cpu.

We did a few things to track down these ruby processes.

`top` showed `/usr/bin/ruby` on many of these processes when we hit 'c' to show the expanded command.

We found that the list of open files (`lsof -p 3520`) for one or more of these ruby processes had the following in

[2020-11-12 15:01] jrafanie commented on #20805
We'll need the user to watch for these orpaned/zombied /usr/bin/ruby processes using the `systemctl status evmserverd -a` command on a daily process and try to determine where they're coming from and determine if it's specific workflows/service orders/etc. that cause it.

[2020-11-12 15:21] Fryguy commented on #20804
@jrafanie I don't think there's anything we can do about number 1, but for number 2, can we just make those the defaults in the appliance build?

Additionally, I'm wondering if we can offer a "disable SSH" option in the appliance console.  I'm reminded of my Raspberry Pi which has the ability to disable SSH entirely.

[2020-11-12 15:24] Fryguy commented on #20805
@jrafanie As discussed, we may want to consider settings a proctitle for the automate methods that we spin up, perhaps with an identifier to know what job it came from.

[2020-11-12 15:30] Fryguy commented on #20798
Commented here - https://github.com/odidev/manageiq/commit/d200779bdbaf1a15f039426c88f816cdee461690#r44119460

[2020-11-12 15:32] Fryguy commented on #20798
Is bionic required for arm64?  I noticed you said that the bionic image is what's bringing in the 127.0.1.1 change.  Wondering if, alternatively, you can just not use the bionic image.

[2020-11-12 15:54] Fryguy commented on #20798
For the postgres12 stuff this might be relevant - https://github.com/ManageIQ/manageiq/issues/20660

[2020-11-12 18:30] agrare commented on #20798
Yeah I don't think that failing test is architecture dependent, I actually see that test fail locally and I'm using amd64
[code]

I think it is just a badly written test

[2020-11-12 18:59] jrafanie commented on #20727
Note, we [patch existing deployments](https://github.com/ManageIQ/manageiq/blob/ed59a34f65a41624d06d7a33326c3e84cd75c749/lib/container_orchestrator.rb#L16) to scale them up or down, so maybe can see if `patch_deployment` can be used for this..

[2020-11-12 20:23] Fryguy commented on #20727
We probably only want to actually patch if something changes though, otherwise we'll just hammer the API with constant patching.

[2020-11-12 21:17] jrafanie commented on #20727
unlike the hammering we already do... 🤣   I agree

[2020-11-12 22:11] lfu commented on #20757
Verified the issue exists with master code.

@gtanzillo This is UI code.

[2020-11-13 08:33] odidev commented on #20798
Thanks for the suggestions,

I have raised a [PR ](https://github.com/ManageIQ/manageiq/pull/20812)with all the changes suggested.

I have updated dist to bionic as the postgresql version supported by xenail in arm64 is 9.6

[2020-11-13 20:20] h-kataria commented on #20757
@lfu i looked at api.log and see that value of request field is being sent up to server. A change was made earlier this year in https://github.com/ManageIQ/manageiq-ui-classic/pull/6695 to send up attributes via uri_attributes, can you check if something changed in the backend afterwards.
[code]

[2020-11-13 22:14] lfu commented on #20757
@h-kataria Seems UI sent the data in wrong format.
[code]
```ae_attributes``` is one attribute of the resource action. Is there any reason that it should be separated with other attributes like `ae_namespace`, `ae_class`, `ae_instance` and `ae_message`?

Please try send the data like the following:
[code]

[2020-11-13 22:59] h-kataria commented on #20757
@lfu https://github.com/ManageIQ/manageiq-ui-classic/pull/6695 had changed it to send it with uri_attributes instead of ae_attributes, please take a look at UI/API PRs, @lpichler do you recall why it was done this way.

[2020-11-13 23:09] lfu commented on #20757
`uri_attributes=` can be used when updating only that attribute. When creating a custom button along with the resource action, `ae_attributes` should be sent with other attributes for resource action unless there is a reason that it should be created separated.

[2020-11-15 12:32] pyon-yx commented on #20458
Hello, I have been still confused on this issue. Is there anybody who can be able to help me on code?

[2020-11-16 14:34] chessbyte opened #20818 "Internationalization Consistency: Cloud Services"
![image](https://user-images.githubusercontent.com/82161/99264695-cd992e80-27ee-11eb-8653-686e170fab6c.png)

[2020-11-16 17:33] lpichler commented on #20757
@miq-bot assign @lpichler

[2020-11-18 15:03] agrare opened #20822 "MiqServer / Run Single Worker race condition when a Systemd Worker dies"
If a systemd worker stops as the result of being killed externally e.g. (`kill -KILL`) or hitting an error and raising an exception that terminates the process, systemd will restart it automatically and run_single_worker will [update the worker row with the current PID](https://github.com/ManageIQ/manageiq/blob/master/lib/workers/bin/run_single_worker.rb#L111-L113)

If MiqServer notices that a wor

[2020-11-18 15:48] agrare commented on #20822
One easy way to resolve this is to change the systemd.service from `Restart=always` to `Restart=no` and allowing MiqServer to start up workers with new GUIDs rather than systemd restarting the worker with the same GUID but new PID

[2020-11-18 18:29] lpichler commented on #20757
fixed in https://github.com/ManageIQ/manageiq-api/pull/967,
there is explanation what is broken.

[2020-11-18 23:05] jrafanie opened #20829 "Cockpit fails to launch in pods"
I'm not sure if this works in appliances but in pods, after #20827 #20823, opening here since the problematic code is in core..

[code]

I think it's failing in code that's expecting access to apachectl or apache in general: https://github.com/ManageIQ/manageiq/blob/90c232339e2e313f476a82aec4e43ff74f1c3649/lib/miq_cockpit.rb#L46

The monitor thread launches but the runner seems to fail.  Thankfull

[2020-11-19 10:55] Sispheor opened #20830 "add Openshift provider: Credential validation was not successful: 503 "Service Unavailable""
Hi

I have an appliance in VMware based on `jansa-2` version of MIQ. I try to add an Openshift provider.
The web UI result is "Credential validation was not successful: 503 "Service Unavailable"

Into the log, no clue about what is not ok
[code]

On the appliance I can validate that the DNS is ok (nslookup) and I can successfully reach the target port (telnet)

Everything is working fine in the al

[2020-11-19 15:22] agrare commented on #20830
That's interesting @Sispheor, there really shouldn't be a different between monolithic docker, podified, and the appliance when it comes to provider authentication.

Is everything the same on the three environments that you've tried?  Same MIQ version, same openshift cluster, same network, etc...?

[2020-11-19 15:25] Sispheor commented on #20830
Yes, all test have been placed on the same network. With jansa-2.
What si the module used to resolve DNS?
Do you know if /etc/hosts is considered by the module?
It looks like a DSN issue.

[2020-11-19 16:21] chadh1313 opened #20831 "Tag mapping is not stripping leading whitespace on tag value"
Scenario is as follows (behavior observed on IBM Cloud VPC instances)

1) In cloud provider, create resources with tags/labels with a leading space before the value.  For example:
`environment: test`

2) Set up "All Entities" tag map for the `Environment` tag category
![image](https://user-images.githubusercontent.com/3876941/99692489-5cf54a80-2a58-11eb-82d9-8be3ca7ad102.png)

3) Run/update refres

[2020-11-19 17:30] #20822 closed

[2020-11-19 17:47] agrare commented on #20830
Yes `/etc/hosts` is picked up by ruby's `Net::HTTP`  If it were DNS I'd expect a `SocketError (getaddrinfo: Name or service not known)`

503 sounds like it hit a webserver successfully but there was an error on that side (possibly based on incorrect parameters supplied by MIQ, possibly an issue on the server side)

[2020-11-20 08:17] Sispheor commented on #20830
I tested that everything was ok by connecting from the appliance with oc command. All good.

[2020-11-20 11:21] mzazrivec commented on #20818
`msgid "Cloud service"` comes from `locale:store_model_attributes` rake task, which is a wrapper around `gettext:store_model_attributes` task.

We need to figure out whether or not the above behavior is correct and possibly fix it (or override it).

[2020-11-20 20:14] agrare opened #20835 "Scheduled MiqServer.status_update fails on Podified"
Generic worker pod logs are filled with:
[code]

Which gets queued by https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_schedule_worker/jobs.rb#L6-L8

[2020-11-22 22:45] Sispheor commented on #20830
I fixed it by doing a reset of the database with the appliance_console.
It works now with the same configuration.

[2020-11-22 22:45] #20830 closed

[2020-11-23 14:49] #19057 closed

[2020-11-23 17:25] lpichler commented on #20831
I think we should strip off spaces for tag values (tag names in MiQ) and
 there is fix https://github.com/ManageIQ/manageiq/pull/20838

It looks that we should do the same also for tag key (category name MiQ) and for mapping use section NEXT in the [PR](https://github.com/ManageIQ/manageiq/pull/20838)

[2020-11-26 16:17] DavidResende0 opened #20842 "Can't find the possible values of the Authentication#status field in the DB"
In order to fix some missing translations I need a list of possible values for the `status` field of the Authentication model so I can catalogue them with N_() and call _() to localize them on the frontend.

[2020-11-26 16:17] DavidResende0 commented on #20842
@skateman

[2020-12-01 12:17] mzazrivec commented on #20818
As I mentioned above, the `"Cloud service"` string (but also many others) is generated by rake task `gettext:store_model_attributes`. This task simply takes all active record models with their attributes and creates nice looking model and attribute names for them. The model & attribute name creation takes place in `gettext_i18n_rails/active_model/translation.rb`:
[code]

Note the use of `.humanize

[2020-12-01 15:01] chessbyte commented on #20818
@Fryguy thoughts?

[2020-12-02 02:21] wberr opened #20857 "Dpulls to manage dependent PRs"
Hey there :wave:,

I'm walid, the creator of [Dpulls](https://www.dpulls.com/), a Github app that helps you manage you dependent PRs.

I noticed that this PR https://github.com/ManageIQ/manageiq/pull/20855 has several other PRs as dependency on it. After some research, I've also noticed that several other PRs depend on other ones and I thought maybe you'd be interested to try this app that I launc

[2020-12-02 08:34] Sispheor opened #20859 "Register an Openshift project with a service"
Hi,

I have a service that create an Openshift project. I would like to link the service to the project but I get this error:
[code]

My call:
[code]

json:
[code]

It's not possible to link a kind "container_projects" to a service?

Thanks.

[2020-12-02 15:06] wakewanwan opened #20860 "OpenStack - Boot Instance from Volume"
My question is how to create vm via boot from volume method on ManageIQ? You known there are two ways to create a virtual machine on ManageIQ platform, One way is Boot instance from image, another way is create volume from image and boot instance. Now we need use the second method to create a VM, but the first method is used by default on MangeIQ platform, so we need modifty the script of provisio

[2020-12-02 20:45] Fryguy commented on #20857
@wberr Does dpulls handle mutually dependent PRs?  Like, if `PR #1` fails without `PR #2`, but `PR #2` also fails without `PR #1`, can things still be merged?  This occasionally happens with cross-repo refactorings, such as code moving from one repo to another.

[2020-12-02 22:36] support-dpulls opened #20861 "Dpulls to manage dependent PRs"
Hey again
Sorry @Fryguy  I had to create this new issue as Github closed the last one #20857 thinking it was made by a bot.
Here is the original content of the first issue:

-----
Hey there :wave:,

I'm walid, the creator of [Dpulls](https://www.dpulls.com/), a Github app that helps you manage you dependent PRs.

I noticed that this PR https://github.com/ManageIQ/manageiq/pull/20855 has several ot

[2020-12-03 18:51] gtanzillo commented on #20860
@andyvesel Can you help here?

[2020-12-07 19:37] #20831 closed

[2020-12-08 18:01] kbrock commented on #19110
OK, so talking this one through with @himdel a while ago. sorry I didn't already include our conclusions.

As we go through the controllers and convert them to rbac, we are finding that we don't exactly know all the relationships. So coming up with the mapping would be a slow labor intensive process.

It does sound like this is a good way to go, but just highlighting that the learning may be the b

[2020-12-08 19:13] Fryguy commented on #20842
@DavidResende0 Do you need this on backend or in the API?  We'll need it in the model anyway, but API would be extra.

[2020-12-08 19:16] gtanzillo commented on #20842
Joe, can you take a look and see if you can dig up the answer for David?

[2020-12-08 20:52] abellotti commented on #20842
For API, probably an update to OPTIONS /api/authentications

[2020-12-08 20:54] DavidResende0 commented on #20842
I think just the backend is fine. @skateman

[2020-12-08 21:00] jvlcek commented on #20842
The valid values should be:
 "Valid", "None", "Incomplete", "Error", "Unreachable" or "Invalid"

[2020-12-08 21:40] #18130 closed

[2020-12-08 21:40] jvlcek commented on #20842
@DavidResende0 Let me know if you need anything else.

[2020-12-08 22:20] Fryguy commented on #20842
Those values should be put in the model as a validation.  That alone should probably cover the i18n concerns.

[2020-12-09 07:05] skateman commented on #20842
:1st_place_medal: :point_up:

[2020-12-09 11:21] jvlcek commented on #20842
@Fryguy They sort of already are.
https://github.com/ManageIQ/manageiq/blob/master/app/models/authentication.rb#L56-L64

Does that satisfy the I18n concerns?

[2020-12-09 11:43] skateman commented on #20842
@jvlcek not really, they should be catalogized using `N_` in the form as they are stored in the DB, i.e. with capital first letter...

[2020-12-10 12:02] rnunez-ws opened #20885 "Workers restart causing http 503 service unavailable"
We have ManageIQ Ivanchuk-7 in docker containers with an external postgres. Every day several times in a day ManageIQ UI throws **http 503 service unavailable** and **http 502 proxy error** and when it happens the GUI just don't work, sometimes it last a few minutes but sometimes it last longer and the quicker solution is restart the container.

I've attached the evm.log entries I think are releva

[2020-12-10 12:55] jvleminc commented on #20885
I have seen the same behaviour, not sure what causes it...

[2020-12-10 16:23] NickLaMuro commented on #19110
Idea suggested offline (not necessarily the final solution):

Implement this is `MiqProductFeatures` as something like `sub_permissions` that each feature allows, instead of the `config/api.yml` so that this isn't something that is a fully API concern, just something the API implements.  Otherwise we just have all this permission logic living in the API when it really is a permission problem.

Thi

[2020-12-10 17:23] Fryguy commented on #19110
For MiqProductFeature there is already a concept of `hidden`, so these would just be new features...

For example,

[code]

would become

[code]

Then on the API side, when it wants to present users it would ask RBAC.role_allows?("rbac_user_show_list", "rbac_user_show_list_limited")

From a seeding perspective we would have to take care not to create the row twice since it could be in the yaml mor

[2020-12-10 20:12] NickLaMuro commented on #19110
@Fryguy If we want to go with child permissions, I think there are a few problems that need to be solved:

- duplication of limited roles
- lookup of these nested limited permissions
- updating users when the sub permissions are added.

I think you have covered the `duplication` issue, but not so much the other two

With the lookup, if you make this a child permission, there is no way from a, say

[2020-12-10 20:43] Fryguy commented on #19110
This is not necessary.  If they are child features then the user gets them automatically when we add them to product features.  That is, a record is not required in the miq_roles_features table.  To demonstrate, currently an admin role only has 1 permission in the miq_roles_features table (`everything`).  By having that features that automatically get all other features under it in the tree.  By e

[2020-12-10 20:48] Fryguy commented on #19110
/api/containers isn't a permission...it's just an endpoint.  You know what to look up because you look for that specific feature by name.  That is, in the api.yml it would be described as:

[code]

While ultimately turns into a call to (roughly)

[code]

Which in turn will call a bunch of methods on MiqProductFeature+MiqUserRole to see if the user has those particular identifiers.

[2020-12-10 21:41] kbrock commented on #19110
- [ ] Update product feature cache to support multiple parents (non-trivial)
- [ ] Verify feature tree for the ui still works.
- [ ] link screens to feature_limit dropdowns and add to feature seed.
- [ ] link api endpoints to also show feature_limit views in api.yml
- [ ] update something so fewer columns come back from the api (hoping most of this is over in rbac land)

[2020-12-10 21:56] Fryguy commented on #20885
Thanks for reporting @rnunez-ws .  Is this podified or the monolithic image?

@bdunne or @jrafanie can you take a look?

[2020-12-10 22:19] bdunne commented on #20885
It looks like we're having trouble connecting to the postgresql server.  Is that pod restarting or losing network connectivity?

[2020-12-11 13:20] rnunez-ws commented on #20885
Hi, thank for your response.

@Fryguy @bdunne. It's not a pod, we have Ivanchuk-7 containers with an external postgresql, we've monitored network connectivity between containers and postgresql but haven't found any issues.

Best regards.

[2020-12-13 09:48] pyon-yx commented on #20458
How can I make the "Configure" button enabled by fixing code?

[2020-12-14 16:37] kruge002 opened #20893 "[RFE] Copy Button for Service Requests"
It would be great if an existing Service Request and its corresponding request dialog field values could be copied creating a new Service Request with all fields having the same value as the original request dialog field values. The user takes it from there and possibly makes some alterations to the request before clicking Submit. A Provisioning Request can already be copied by clicking the Copy b

[2020-12-14 19:19] bdunne commented on #20885
The error suggests that there is a connectivity issue between the workers and the Postgresql server or the server is restarting.
[code]

[2020-12-15 11:21] skateman opened #20899 "Policy profiles have an "identical" name and a description field"
The `MiqPolicySet` backed policy profiles have a `name` and a `description` field that is identical upon creation, but editing only changes the `description`. I'm working on the DDF form and I think one of them is redundant, just don't know which one ...

Of course the new form can expose both separately if that's what we want ...

@miq-bot add_label question

[2020-12-15 13:55] skateman opened #20900 "Generating a friendly name for policies"
The displayed name of policies is generated via [this piece of code](https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/miq_policy_set_controller.rb#L325) for the policy profile form. It's basically utilizing `ui_lookup` for the left side which is not available in JS. Therefore, if I want to make the policy profile form API-driven, we need a way to construct this friendly

[2020-12-15 15:29] kbrock commented on #20899
we could:

- delete a field and alias them so our app is unchanged
- add a `before_validation` to set both fields to the same value
- expose both fields in the ui

We had a push a number of years back to have a description for all models. Method aliasing where it was not in the database. Think that was the decided interface for drop downs. But I didn't hear much about it within the past 5? years a

[2020-12-15 15:36] skateman commented on #20899
I'm good with the 3rd option :wink: easy to do with DDF

[2020-12-15 15:37] skateman commented on #20899
@gtanzillo wdyt?

[2020-12-15 15:49] rnunez-ws commented on #20885
Are there any config options to increase worker timeouts or something similar? Because if there are connectivity issues they are transient, we've been monitoring networking and haven't found anything relevant.

[2020-12-15 15:59] gtanzillo commented on #20899
I'm also good with the 3rd option. We do this in so many places and it would be weird if we started eliminating one of the fields here.

[2020-12-15 16:35] bdunne commented on #20885
Is the postgresql server a ManageIQ appliance?  If not, what version are you running?

[2020-12-15 16:37] bdunne commented on #20885
It doesn't look like a worker timeout, it looks like the connections are being closed on the postgresql server side.  @jrafanie Any other things that you can think of to help troubleshoot?

[2020-12-15 16:47] jrafanie commented on #20885
We need to look at the postgresql log.  If the server is closing connections, workers will restart so we need to see what's happening from the pg side.

[2020-12-15 17:35] kbrock commented on #20899
all works for me. that is the least work for us :)

does it make sense to use display for all dropdowns?

[2020-12-16 09:53] skateman commented on #20899
I don't understand this question

[2020-12-16 18:55] #20727 closed

[2020-12-17 18:54] gtanzillo commented on #20860
/cc @bdunne

[2020-12-18 00:20] rnunez-ws commented on #20885
We have postgresql with pgpool2, below are pgpool log's entries (we couldn't find anything else relevant to this issue):

`pid 46: LOG:  fork a new child process with pid: 18044
pid 46: LOG:  child process with pid: 17587 exits with status 256
pid 46: LOG:  fork a new child process with pid: 18045
pid 11302: ERROR:  unable to read data from frontend
pid 11302: DETAIL:  socket read failed with an e

[2020-12-18 19:42] #20835 closed

[2020-12-21 19:03] bdunne commented on #20860
In automate you can do something like this to set boot volumes:
[code]
Links to enable this:
https://bugzilla.redhat.com/show_bug.cgi?id=1160342#c12
https://github.com/fog/fog/pull/3386
https://github.com/fog/fog/pull/3323
https://github.com/fog/fog/pull/3410

[2020-12-21 19:20] bdunne commented on #20885
It looks like pgpool may be unable to establish a connection to the postgresql server.

[2020-12-28 09:26] #20416 closed

[2021-01-04 14:13] Fryguy commented on #20458
@pyon-yx The feature needs to be added.  So, this means you'd need to add the low-level "create" functionality, then expose it with the `supports :cloud_object_store_container_create` as @agrare [mentioned](https://github.com/ManageIQ/manageiq/issues/20458#issuecomment-676622645)

[2021-01-05 16:26] NickLaMuro commented on #19977
I think the last fix we needed to allow things to work was the `manageiq-messaging` change above, and with that in place (prior to it being released), it passed:

https://github.com/ManageIQ/manageiq-cross_repo-tests/runs/1646448237

The next build following it being merged (and the upgrade PR being removed, meaning it is using `rubygems` now):

https://travis-ci.com/github/ManageIQ/manageiq-cross

[2021-01-06 20:09] NickLaMuro commented on #19977
Okay.  Looks like after getting a second merge in of `master` into `manageiq-ui-classic`, tests our now passing again in `manageiq-cross_repo-tests`:

- https://github.com/ManageIQ/manageiq-cross_repo-tests/pull/179/checks
- https://travis-ci.com/github/ManageIQ/manageiq-cross_repo-tests/builds/212218387

[2021-01-07 18:44] gtanzillo commented on #20860
Please reopen if there are further questions

[2021-01-07 18:44] #20860 closed

[2021-01-08 11:21] gunjangarge opened #20939 "Custom port for PostgreSQL"
Hi All,

We want to use custom port (5444) for PostgreSQL while configuring standalone database server using ManageIQ OVA. This is for compliance purpose from our security team.

We tried to change port value in templates directory --- /opt/manageiq/manageiq-appliance/TEMPLATE/var/lib/pgsql/data/postgresql.conf.

But configuring database using appliance_console got stuck at,

[code]
However, when

[2021-01-11 17:04] Fryguy commented on #19977
Merged!

[2021-01-11 17:04] #19977 closed

[2021-01-12 21:50] bdunne opened #20951 "Error in kasparov-1-beta1 orchestrator"
[code]

[2021-01-13 19:04] #20951 closed

[2021-01-13 19:20] Fryguy commented on #20939
@jvlcek @bdunne Do you know?

[2021-01-13 19:33] Fryguy opened #20955 "[RFE] Throttle API requests"
This enhancement request has a number of dimensions.

- We should throttle *successful* logins for the same user when repeated too many times within a certain short amount of time.  In doing so we can encourage the usage of logging in to get a token and then using that token in follow-up calls.  This will mitigate excessive logging and audit events.
- We should throttle API requests in general (ex

[2021-01-13 19:33] Fryguy opened #20956 "[RFE] Purge audit_events"
`audit_events` table can grow unbounded, and should have purging added.

cc @jrafanie.

[2021-01-13 20:04] bdunne commented on #20939
I don't know of any documentation for this.

[2021-01-13 20:11] gunjangarge commented on #20939
This is how I acheived it eventually.

1.	Configure appliance as standalone DB server with default 5432 port as per documentation.
2.	Modify port to 5444 in $APPLIANCE_PG_DATA/postgresql.conf
3.	Stop and Disable firewalld service
4.	Allow PostgreSQL to run on port 5444 port in SELinux --- command :- semanage port -a -t postgresql_port_t -p tcp 5444
5.	Restart DB VM
6.	Proceed with Configuring Mana

[2021-01-13 20:41] chessbyte commented on #20939
Seems like this should be added to the [Appliance Hardening Guide](https://www.manageiq.org/docs/reference/latest/appliance_hardening_guide/index.html) by making a PR to the [ManageIQ Documention Repo](https://github.com/ManageIQ/manageiq-documentation).

[2021-01-14 06:40] gunjangarge commented on #20939
Will I need to do this or will be done by ManageIQ team member?

[2021-01-14 08:25] gunjangarge opened #20957 "Database replication configuration fails when PostgreSQL server is running on non-default port"
Database replication configuration fails when PostgreSQL server is running on non-default port

Primary database server - 192.168.40.238 - is running on port 5444.

Error:

[code]

[2021-01-14 08:28] gunjangarge commented on #20939
Database replication configuration fails when PostgreSQL is running on non-default port.
I have created new issue https://github.com/ManageIQ/manageiq/issues/20957#issue-785786809

[2021-01-14 14:21] chessbyte commented on #20939
@gunjangarge ManageIQ is an open-source project.  So, if you feel comfortable creating a PR, that would be great.  If you cannot, then we will get to it when resources allow.

[2021-01-14 18:44] gtanzillo commented on #20885
Please reopen with more details if this is still an issue

[2021-01-14 18:44] #20885 closed

[2021-01-15 18:17] kbrock opened #20961 "Parent and Child value propagation"
## Overview

We have a parent model that has a child model. e.g.: Provider and Network Manager.

- When we create the parent, we want to create the child.
- When we update the parent, we want to update the child
- Initially punting on deletion

So I searched for examples of the basic pattern: using active record callbacks to create, populate, and save associated objects. For this conversation, I w

[2021-01-20 19:46] grengaster commented on #20221
Need to include Cloud DBs on IBM Cloud.

[2021-01-21 16:35] tinaafitz opened #20976 "Missing Credentials when invoking Embedded Ansible Services from Policy"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1822533

An Embedded Ansible Service Catalog Item provision request created by ordering the Service has the correct credentials.

Invoking the same Embedded Ansible Service Catalog Item provision through policy is missing the necessary credentials.

[2021-01-21 17:31] jrafanie opened #20977 "Notification is missing substituted values: 'The server %{name} memory usage %{memory_usage} exceeded limit %{memory_threshold}. The server process %{pid} exited and will be restarted.'"
From:
https://talk.manageiq.org/t/how-can-i-solve-this-issue-the-server-name-memory-usage-memory-usage-exceeded-limit-memory-threshold-the-server-process-pid-exited-and-will-be-restarted/5261

[2021-01-21 19:47] #20977 closed

[2021-01-22 14:13] skateman opened #20979 "Segfault when firing the first (two) requests in development"
Since rails 6 I'm sometimes encountering [this](https://pastebin.com/TMWEWb1X) error when spinning up the development server (rails s) and opening it from chrome that usually fires 2 requests.

[2021-01-22 14:16] jrafanie commented on #20979
@skateman how often does this happen?  Once per day?  Once per hour?

Does it always happen on the first requests to puma?  Does it ever happen after you've already served up a few pages?

[2021-01-22 14:17] skateman commented on #20979
Randomly, always on the first request...chrome sometimes fires two for the favicon/title before even hitting enter, so that's might the problem.

[2021-01-22 14:34] jrafanie commented on #20979
Also, is it always in the loading of a new pg logical client?    I wonder if you can't initialize two clients concurrently with rails 6 or if that's always been the case but now rails 6 causes it happen at the same time.

[2021-01-22 14:43] agrare commented on #20979
I don't think this is new with Rails 6, we discussed this a while back in the main room but @himdel and I were both hitting this prior to Rails 6 being merged.

Gitter Thread: [December 14, 2020 10:27 AM](https://gitter.im/ManageIQ/manageiq?at=5fd7846bb6b8f41abb8f7b77)
My gist of the segfault: https://gist.github.com/agrare/212c3aafedf6deded5d7552574f4f21c

[2021-01-22 15:47] Fryguy commented on #20979
My comments from gitter:

- so that error seems to be happening during pglogical.subscriber?
- https://github.com/ManageIQ/manageiq/blob/master/lib/miq_pglogical.rb#L16
- @skateman if you see it happen again, please keep the segfault traces so we can know if it's consistently there or not
what I can't tell is whether or not this is the second pass (because it's been wrapped in a connection retry)

[2021-01-22 15:50] Fryguy commented on #20979
Same exact chain in @agrare 's gist, just instead of a segfault it's a bad file descriptor

[code]

[2021-01-22 20:52] gtanzillo commented on #20900
@skateman It should be no problem to add a virtual column for the friendly name of a policy. I'm not able to find the controller code that is currently generating it. it seems the link above is outdated. Can you please point me to where that code is? Thanks.

[2021-01-22 22:26] jrafanie commented on #20979
I got similar backtraces as @agrare and a malloc error seen below:

[code]

Using this script against `bin/rails s`:

[code]

[2021-01-22 22:28] jrafanie commented on #20979
This doesn't fix it but making this change locally, I cannot recreate either the malloc error or the backtrace with `build_coder_maps` in the backtrace, so I guess we need a mutex:

[code]

[2021-01-22 22:30] jrafanie commented on #20979
I guess we can also store the client in a thread local variable to avoid a mutex.

[2021-01-23 09:46] skateman commented on #20900
[code]

[2021-01-25 10:22] skateman commented on #20979
Now I had this one:
[code]

[2021-01-25 15:19] chessbyte commented on #20741
@Fryguy @agrare Now that #20756 and associated PRs are merged, can we move forward with this issue?

[2021-01-25 18:01] Fryguy commented on #20741
Kubernetes and OpenShift are now organized properly.

So, yes, new Kubernetes providers can now be created.

Additionally, we can start creating things like:
oVirt -> RHV
OpenStack provider -> [PowerVC](https://www.ibm.com/products/powervc)
Foreman -> Satellite

[2021-01-25 18:31] chessbyte commented on #20741
OpenStack can probably be the community one with subclasses for Red Hat OpenShift and IBM PowerVC

[2021-01-25 19:42] gtanzillo commented on #1151
Closing in favor of other work about going to react which will obviate this

[2021-01-25 19:42] #1151 closed

[2021-01-25 19:44] gtanzillo commented on #1581
Closing as this has already been addressed by https://github.com/ManageIQ/manageiq/security/advisories/GHSA-46q7-rqqj-pxxj

[2021-01-25 19:44] #1581 closed

[2021-01-25 19:49] gtanzillo commented on #10178
Closing as this will be handled with the pluggability work in issue #19440

[2021-01-25 19:49] #10178 closed

[2021-01-26 15:39] jrafanie commented on #20979
Can others try the patch [above](https://github.com/ManageIQ/manageiq/issues/20979#issuecomment-765719335)?

Other than wrapping all of the callers of the client code(`with_connection_error_handling` or `pg_logical`) with a mutex, it seems like we should really determine if we need to cache at all.  In addition, it's pretty gnarly that we have initialize the pg logical client with a AR base connec

[2021-01-26 15:52] himdel commented on #20979
I'm seeing the `The version of PostgreSQL being connected to is incompatible with ManageIQ (10 required)` message 12 times during the first few seconds with the patch, intermingled with request log output.

But no segfaults or crashes either :+1: after ~30s all the requests complete (and no new incompatible messages after that).

[2021-01-27 11:01] skateman commented on #20979
@himdel you need two GET requests from your browser to reproduce this and the first one should not finish before you fire the second.

Now I didn't get a segfault but this:
[code]

[2021-01-27 11:07] skateman commented on #20979
@himdel this should do the thing if your browser doesn't do it automatically:
[code]

[2021-01-27 11:09] skateman commented on #20979
@jrafanie with your patch it seems working for me

[2021-01-27 13:44] jrafanie commented on #20979
@skateman just to confirm, [this](https://github.com/ManageIQ/manageiq/issues/20979#issuecomment-768207421) was WITHOUT the [patch that removes the caching](https://github.com/ManageIQ/manageiq/issues/20979#issuecomment-765719335), correct?

[2021-01-27 13:50] jrafanie commented on #20979
I'm more and more leaning to just opening a PR with the [patch removing the caching](https://github.com/ManageIQ/manageiq/issues/20979#issuecomment-765719335) and we can determine later if there are some downsides.  If others are confirming things still work, the various fatal errors don't happen, and there isn't an obvious performance downside, we can determine at a later time if performance is a

[2021-01-27 14:03] jrafanie commented on #20979
FYI, I did look and we're at the latest pg gem but a bit behind on puma.

[code]

[2021-01-27 15:34] chessbyte commented on #20979
@jrafanie any issues bringing us up to the latest on master?

[2021-01-27 15:35] chessbyte commented on #20979
IMHO, that is the right way to move forward.

[2021-01-27 15:48] jrafanie commented on #20979
I don't know of any problems with upgrading but haven't looked at the changes.

Considering @Fryguy pointed out code caching at the class scope, was shared between threads, had no mutex around access, and removing this caching seemingly removes the fatal errors, I'm thinking we can have some confidence removing the caching can be done now and we can upgrade puma separately.

I'll open a PR and lin

[2021-01-27 16:08] NickLaMuro commented on #20900
@miq-bot assign @NickLaMuro

[2021-01-27 17:07] jrafanie commented on #20979
Opened https://github.com/ManageIQ/manageiq/pull/20985 to fix this issue.

[2021-01-27 18:06] Fryguy commented on #20900
As discussed, I think:

- We should move the `ui_lookup` method into core, probably as a class method directly on the Dictionary class.  There is nothing really UI specific about what it does.
- I'm good with having a way to do "friendly" or "display" names exposed as a virtual column, I would just recommend picking a method name that is consistent with any existing method names we already have.

[2021-01-27 20:06] Fryguy opened #20986 "Failing specs on local machine but not Travis"
There might be more, but these 3 tests consistently fail on my Mac, but pass in Travis...

[code]

[2021-01-27 20:46] agrare commented on #20986
@Fryguy I don't think this is mac/linux as these three fail for me as well.  It is more likely a travis environmental / config thing

The last one I actually get 127.0.1.1 not nil:
[code]

[2021-01-27 21:26] #20979 closed

[2021-01-27 23:28] Fryguy commented on #20986
Thanks @agrare  I updated the title

[2021-01-28 10:48] mzazrivec commented on #20900
Short answer: `class.display_name()` is a pluggable implementation of `ui_lookup(:model => model)`. `.display_name` is called on a class, while `ui_lookup()` and `Dictionary.gettext()` look into `locale/en.yml` dictionary.

My plan was to modify the internals of `Dictionary.gettext()` so that it uses the pluggable `.display_name()`method and then we can ditch the `:model` subtree in `locale/en.yml

[2021-01-28 20:50] dmetzger57 opened #20996 "Missing utilization data in UI for OpenStack 16.1"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1885298

Description of problem:

There are multiple issues, between docs and providers, that are resulting in lack of utilization data in the CFME UI for Openstack 16.1 providers.

1. Documentation is out of date for configuring Ceilometer for utilization collection in Openstack 16.

https://access.redhat.com/documentation/en-us/red_hat_clo

[2021-01-29 11:08] skateman commented on #20899
@kbrock ^^

[2021-01-29 20:03] djberg96 commented on #20777
@Fryguy We had a string of cases related to SSL issues, that I think ultimately were caused by changes in SSL itself. Dennis asked us to put together a list of possible hotspots in case they sprung up again.

The issue appears to have settled down. Closing for now.

[2021-01-29 20:03] #20777 closed

[2021-02-01 09:18] skateman commented on #20899
They aren't identical, the name is seemingly autogenerated

[2021-02-01 09:18] #20899 closed

[2021-02-01 21:02] chessbyte commented on #20582
@bdunne @abellotti is this still an issue in Kasparov release?

[2021-02-02 16:53] chessbyte opened #21001 "Split RHV vs oVirt Providers"
For a better user experience, it would be great if users can choose oVirt vs RHV providers - with the RHV provider being just a subclass of the oVirt provider with a different user-facing name.

- [x] https://github.com/ManageIQ/manageiq/pull/21694
- [x] https://github.com/ManageIQ/manageiq/pull/21698
- [x] https://github.com/ManageIQ/manageiq/pull/21694
- [x] https://github.com/ManageIQ/manageiq-

[2021-02-02 16:55] chessbyte opened #21002 "Split OpenStack Providers"
See discussion [here](https://github.com/ManageIQ/manageiq/issues/20741#issuecomment-767003706)

[2021-02-02 17:02] chessbyte opened #21003 "Add Host Initiators (aka Physical Storage Hosts)"
Host Initiators (aka Physical Storage Hosts) are virtual entities that only exists as a set of definitions within the `PhysicalStorage` and hold the information about consumers/hosts that use (define) the physical storage.

This PR includes the work for adding action of define new host initiator to ManageIQ

![Screenshot 2021-01-17 063206](https://user-images.githubusercontent.com/53213107/1048310

[2021-02-02 17:16] chessbyte commented on #21002
/cc @Fryguy @agrare

[2021-02-02 17:16] chessbyte commented on #21001
cc @Fryguy @agrare

[2021-02-02 19:23] agrare opened #21004 "Should we still log to `log/*.log` files on podified / systemd"
On k8s we have a multicast logger to write logs to stdout so they can be aggregated across pods, as far as I know nothing rotates the `/var/www/miq/vmdb/log/*.log` files, do the pods just fill up their filesystem and die at that point?

On systemd we write logs to journald, these logs can be queried by worker type, specific worker, and by other metadata.  We also have the ability of exposing an ap

[2021-02-02 19:23] agrare commented on #21004
cc @jrafanie @Fryguy @bdunne

[2021-02-02 20:07] agrare commented on #21004
We would need to look at exporting the journald logs for support purposes.

[2021-02-02 21:13] Fryguy commented on #21004
On containerized, we've seem some strangeness with logs not being sync'ed properly even though sync=true is set, but otherwise, I don't know why we would write to an _actual_ log file.  Same goes for journald.  I'd be :+1: for not writing to the actual log files in those cases.

[2021-02-02 21:22] jrafanie commented on #21004
I'd think in containers, we should do this with mind towards some form of centralized logging. It's absolutely brutal that we lose logging from the non-stdout loggers on reboot and stdout loggers on the 2nd restart.  Combined with kubernetes seemingly "quietly" OOM processes that exceed memory limits with no audit/system event, it's very easy to lose these logs forever.  Don't get me started on ku

[2021-02-02 22:50] Fryguy commented on #21004
Internal log aggregator is a REALLY interesting idea.  Wonder if we could piggyback onto https://github.com/RedHatInsights/haberdasher

[2021-02-02 22:55] jrafanie commented on #21004
Nope, I think we can decide to log to stdout for everything in podified/systemd instead of all these log files but that will bring up other concerns such as noise with debug logging by default and merged logs.  Is there a thought to just drop logging to these loggers entirely?  I can imagine automation.log, audit.log, etc. might be needed in some situations.

Either way, if anyone gets cycles to w

[2021-02-02 23:01] Fryguy commented on #21004
I still think we should not have DEBUG as a default for containers...personally, I think we should just treat it like every other log and only do INFO until someone turns it on

[2021-02-02 23:07] Fryguy opened #21008 "Add Ruby 2.7 support and drop Ruby 2.5"
With the release of Ruby 3.0 in Dec, Ruby 2.5 is in security maintenance phase (and will EOL soon)

I think it's about time to start allowing Ruby 2.7 and making Ruby 2.6 the baseline version.  Not sure we should update the build itself yet, though.  I'm thinking for Lasker we build with Ruby 2.6 and let developers play around with Ruby 2.7.  Then in the M-release we can consider bumping the build

[2021-02-02 23:10] Fryguy commented on #21008
Gah, I didn't realize this already had an issue.

Duplicate of #19678

[2021-02-02 23:10] #21008 closed

[2021-02-02 23:11] Fryguy commented on #19678
@jrafanie I know it's been a while since you've looked at this, but what is the current status?

[2021-02-02 23:13] jrafanie commented on #19678
Good question.  I'll have to take a look.  I have no idea.

[2021-02-02 23:50] agrare commented on #21004
I think it depends on what we're getting out of these.  Is it that we have a file or that it is separate from the "main" log stream?

If it is the latter then we can make use of the additional "metadata" that can be added to container logs (its just json) and journald (you can add arbitrary metadata and query it later).  So journald we could add like `_LOG=audit` and see what we used to see in the

[2021-02-03 00:46] agrare commented on #19678
I haven't kicked it in a while but everything was green except for automation-engine https://travis-ci.com/github/ManageIQ/manageiq-cross_repo-tests/builds/211809884
IIRC there was an issue with automate scripts raising exceptions not working right

[2021-02-03 12:49] chessbyte commented on #21004
why does log level default to DEBUG in containers?  why is there a difference between appliance and podified?

[2021-02-03 12:53] agrare commented on #21004
I believe the logic was that its all going to a log analysis tool like elasticsearch+kibana, so it is easy to filter out level=debug, and if there are no downsides then why not capture everything.  I don't happen to agree since there are downsides to it but that was the logic

[2021-02-03 12:57] chessbyte commented on #21004
yeah, I would rather we stick with a single default for the product no matter how it is deployed - as long as users have an easy way to change this setting

[2021-02-03 14:51] bdunne commented on #21004
Yes, the idea was that everything would be logged to STDOUT, Fluentd would pick this up and store it in Elasticsearch then you could view and filter it in Kibana.

If we change to `INFO` level, does this just apply to our app? (not the operator, postgres, memcached, kafka, zookeeper, etc.)
If we don't log `DEBUG` by default, do we go back to the app settings for the log level or ENV var, CR value

[2021-02-03 15:03] jrafanie commented on #19678
Thanks @agrare I'll take a look to see if I can find anything obvious.

[2021-02-03 15:55] Fryguy commented on #21004
Big :+1: from me for metadata on the log message to specify which "log" it comes from.

[2021-02-03 15:56] Fryguy commented on #21004
I believe we already have this in the request_id field.  Not sure on the specifics, but the "tracking_label" was supposed to end up in that field.

[2021-02-03 15:58] Fryguy commented on #21004
Yes, just our app.  I don't think we have a way to tweak the log levels for the rest.

It would come from the app Settings like it does now for the other loggers.  I don't think we should use a CR value for that (at least not yet).

[2021-02-03 16:03] jrafanie commented on #19678
For [failed expectations on STDERR](https://github.com/ManageIQ/manageiq/issues/19678#issuecomment-772119248), it looks like the messages are now going to stdout instead of stderr, causing the failure. Looking.

[2021-02-03 20:50] #20986 closed

[2021-02-04 18:35] gtanzillo commented on #20467
@kbrock I thought you fixed this one?

[2021-02-04 22:17] kbrock commented on #20394
To work with containers, we have already defined the privileges needed to run our application. So the job ahead is mostly porting the Kubernetes/OpenShift privileges to SELinux.
Since our VMware appliance also acts as a distributed orchestrator, we will need to introduce systemd privileges similar to those in our Kubernetes privilege profile.

Since the webapp is the closest to the end users, it i

[2021-02-04 22:35] agrare commented on #20394
Technically only RHV requires this, not all smartstate.  In addition to reading raw block devices it has to mount nfs shares (also requires root)

[2021-02-04 22:37] agrare commented on #20394
We use file permissions for our DRb unix sockets in `/tmp`, if we end up with e.g. `miq_server` running as root we might need to create the socket as the same user the rest of the workers are running as

[2021-02-04 22:37] chessbyte commented on #20394
If we are to support RHV SmartState, it may be cleaner to extract the mounting and reading into a separate service/worker with the appropriate privileges and expose an API for the caller to use.  Not saying this is easy, but probably the right direction to isolate interfaces to mount.

[2021-02-05 00:06] kbrock commented on #20394
I like adding a socket to communicate with the disk.

I'm hoping that we can come up with a solution that makes these parts of the produce more container friendly.

[2021-02-08 13:11] chessbyte opened #21018 "[RFE] Volume Mapping"
Volume-Mapping is a virtual entity that exists as a configuration in block-storage machines.

For a storage system to allow a VM to consume one of its volumes, two configuration items must hold:

- A proper host-initiator has been defined on the storage for the VM
- The volume has been mapped to the host-initiator using a volume-mapping.

Creating and managing volume-mappings is integral to block

[2021-02-09 08:36] gregoryb-at-ibm commented on #21018
New menu section in Storage/BlockStorage
![image](https://user-images.githubusercontent.com/68283004/107335684-e5681200-6ac0-11eb-9112-598514cf9461.png)

![image](https://user-images.githubusercontent.com/68283004/107337162-a935b100-6ac2-11eb-89fe-edacf06be7a3.png)

[2021-02-09 15:50] #21003 closed

[2021-02-09 16:08] mikebutak opened #21028 "Vars passed to AWX as arrays are converted to strings by launch_ansible_job"
In the post-provisioning state I'm calling an AWX template. I'm passing 9 variables to the playbook (with prompt on launch active). The playbook is successfully called, and all of the vars come through. However two of the vars are supposed to be arrays. Instead they come through to AWX as strings: e.g., '["chefclient"]' instead of ["chefclient"].

I have confirmed that these vars are indeed of typ

[2021-02-09 21:34] jrafanie commented on #19678
I did a cross-repo with https://github.com/ManageIQ/manageiq/pull/21023 and https://github.com/ManageIQ/manageiq-automation_engine/pull/471 here: https://github.com/ManageIQ/manageiq-cross_repo-tests/pull/304

All tests pass with ruby 2.5, 2.6.6, and 2.7.2.  The only remaining warning I see are the `warning: URI.escape is obsolete` ones, which mentioned above could be replaced with Addressable.esc

[2021-02-09 21:35] jrafanie commented on #19678
Was fixed in https://github.com/ManageIQ/manageiq-automation_engine/pull/471
We were replacing STDERR/STDOUT with an existing logger but not closing the original IO objects.  By closing the objects, we get the correct standard error messages the tests were expecting.

[2021-02-10 16:25] NickLaMuro opened #21034 "[RFE] Convert supports_feature virtual_columns to virtual_attributes + arel"
There is a collection of `virtual_columns` that exist that make use of the `SupportsFeature` mixin in their method calls to filter results:

https://github.com/ManageIQ/manageiq/blob/master/app/models/ext_management_system.rb#L284-L298

The problem, is that when this is executed on a large dataset, the entire data set has to be load into memory so the results can be filtered (in theory).  This is

[2021-02-10 16:54] Fryguy commented on #21034
Couple things that popped in my head
- Might also have to take acts_as_sti_leaf_class into account
- if the query is on an inner ckass, we probably need to scope to that class.. e.g. `Vm.where(:supports_foo => true)`

[2021-02-10 17:00] NickLaMuro commented on #21034
Yeah, `ExtManagementSystem.where` may have been the wrong choice for the SQL.

Again, I covered my a-- by using the qualifier "(pseudo-ish code)" 😉

[2021-02-10 20:30] Fryguy opened #21035 "Settings changes are not reflected on application start since Rails 6 update"
I've narrowed this bug down to something in the Rails 6 update, but I'm still not sure what, so I'm opening an issue for tracking.

Create a settings_changes entry:
[code]

Now, start a new rails console or rails server

Current
[code]

Before Rails 6 merge (or perhaps easier to test: On kasparov)
[code]

[2021-02-10 20:31] Fryguy commented on #21035
cc @NickLaMuro if you have some insight

[2021-02-10 20:40] Fryguy commented on #21035
To get to the prior state you have to backlevel the following:

- manageiq core - d4029b06bc
- manageiq-gems-pending - 44089602
- manageiq-schema - 25825de72d
- manageiq-ui-classic - comment out the `s.add_dependency "rails"` in gemspec
- manageiq-providers-openstakc - comment out the `spec.add_dependency "activesupport"` in gemspec

[2021-02-10 21:03] jrafanie commented on #19678
opened https://github.com/ManageIQ/manageiq/pull/21036 to address these

[2021-02-10 21:06] NickLaMuro commented on #21035
@Fryguy I can sort of reproduce with your steps, but I didn't need a new console to do it.

I just did the following:

[code]

[2021-02-10 21:09] Fryguy commented on #21035
I'm already looking into it, but I'll let you know if I need help.

[2021-02-10 21:10] Fryguy commented on #21035
@NickLaMuro yeah sorry... I messed up the "create a record" steps.  .save! doesn't immediately reload the settings when in the same console.

[2021-02-10 21:10] gtanzillo commented on #21035
I had the same result the @NickLaMuro got [above](https://github.com/ManageIQ/manageiq/issues/21035#issuecomment-777035825)

[2021-02-10 21:25] Fryguy commented on #21035
I think I understand what is happening, but not sure how to fix it, yet.

We check for database connectivity during the boot process https://github.com/ManageIQ/manageiq/blob/71d887032125169d3528ad3d552040872fcb5972/lib/vmdb/settings/database_source.rb#L78-L81

Prior to Rails 6, this would return `true` but after Rails 6 this returns `false`.

[2021-02-10 21:33] NickLaMuro commented on #21035
@Fryguy yeah, I get the same thing as you are describing then, and based on https://github.com/ManageIQ/manageiq/issues/21035#issuecomment-777046678 I think you are on the right track.

There was a bunch of changes around `ActiveRecord` to support multiple databases, so that method not returning what we expect seems reasonable.

[2021-02-10 21:39] Fryguy commented on #21035
Figured it out...

ActiveRecord::Base.connection is blowing up with a string comparison error to < 93000 when it uses the code `database_version < 90300`.  It turns out we had patched in a custom [`database_version` ](https://github.com/ManageIQ/manageiq/blob/71d887032125169d3528ad3d552040872fcb5972/lib/extensions/ar_adapter/ar_dba.rb#L6-L8), and ActiveRecord must have introduced a new method that

[2021-02-10 22:33] chessbyte commented on #20689
@gtanzillo  if this is now complete (based on all referenced PRs being merged), we should close this issue and move it to the Lasker column on the ManageIQ roadmap.

[2021-02-10 22:36] gtanzillo commented on #20689
I think it is but need @lpichler to confirm

[2021-02-10 22:53] #21035 closed

[2021-02-11 13:44] juliancheal commented on #19678
@jrafanie https://www.youtube.com/watch?v=OrPT7h2hsok

[2021-02-11 14:40] lpichler commented on #20689
We added grouping by multiple tag categories and filtering tags by multiple tags in chargeback report for VMs and ContainerProjects.
and yes I am confirming that it is complete.

(Chargeback for ContainerImage is without change as there is no option grouping/filtering by tag at all)

[2021-02-11 14:42] #20689 closed

[2021-02-11 16:49] Fryguy opened #21042 "Sporadic failures with fix_auth"
https://travis-ci.com/github/ManageIQ/manageiq/jobs/482314040#L719

[code]

https://travis-ci.com/github/ManageIQ/manageiq/jobs/482035822#L744

[code]

[2021-02-11 16:50] Fryguy commented on #21042
@kbrock I'm not sure what changed that could affect this, but we've had 2 sporadic fix_auth issues that seem kind of related.  Can you take a look?

[2021-02-11 19:34] kbrock commented on #21042
I'll dive into this more.

We did change this code when changing the v1/v2 interface. Specifically the use case around having a multiple keys and recrypt-ing.

## The tale of two keys

Encryption software works in an interesting way. It decrypts an encrypted string and then does a checksum to ensure that the decryption key used was appropriate for the encrypted string. But it is possible that whil

[2021-02-11 20:13] Fryguy commented on #21042
Is this related to https://github.com/ManageIQ/manageiq-gems-pending/pull/513 ?

[2021-02-16 08:35] gpavinteractiv opened #21054 "[Jansa-3] UI Errors while accessing Migration mappings and plans URLs, Migration plan not starting"
On a Jansa-3 appliance

While accessing /migration#/mappings :
[code]

While accessing /migration#/plans :
[code]

If I create a migration plan, I get a UI notification
[code]
However I can't see it at /migration#/plans :
[code]

I can't see it either at miq_request/show_list#/

I did receive a notification email with a request number :
[code]

Following this ling works but the list of concerned V

[2021-02-16 16:26] chessbyte opened #21055 "Deferred delete for CloudVolume"
Enhancement to add deferred-delete operation for CloudVolumes. It's an evolution of this PR: https://github.com/ManageIQ/manageiq/pull/20615

Related PRs follow:
- [x] https://github.com/ManageIQ/manageiq/pull/21048
- [x] https://github.com/ManageIQ/manageiq-ui-classic/pull/7630
- [x] https://github.com/ManageIQ/manageiq-api/pull/1010
- [x] https://github.com/ManageIQ/manageiq-providers-autosde/pu

[2021-02-16 16:30] chessbyte opened #21056 "Split AWX vs Ansible Tower Providers"
For a better user experience, it would be great if users can choose AWX vs Ansible Tower providers - with the Ansible Tower provider being just a subclass of the AWX provider with a different user-facing name.

Originally discussed [here](https://github.com/ManageIQ/manageiq/issues/20741#issuecomment-767003706)

[2021-02-16 16:33] gregoryb-at-ibm commented on #21055
Hi @chessbyte
After some though, "deferred-delete" is not an appropriate name. Safe delete usually waits a while but if the algorithm can validate that the volume is not in use it might delete it right away.

[2021-02-16 17:08] gregoryb-at-ibm commented on #21055
Tests pass https://github.com/ManageIQ/manageiq-cross_repo-tests/runs/1912276669

[2021-02-16 17:12] chessbyte commented on #21055
@gregoryb-at-ibm @agrare @Fryguy so what should we name this operation?

[2021-02-16 17:27] gregoryb-at-ibm commented on #21055
Internally it can be "safe-delete", but in the UI we can display it as 'force-delete' vs no 'force-delete'. Like we talked in the PR and like @Fryguy suggested in gitter

https://github.com/ManageIQ/manageiq/pull/20615

![image](https://user-images.githubusercontent.com/68283004/108099190-f995ab80-708c-11eb-9a7b-a1347c005db9.png)

[2021-02-16 18:13] chessbyte commented on #21055
Yes, I do like Force Delete with the safe option being the default

[2021-02-16 18:29] Fryguy commented on #19678
@jrafanie I merged all of the URI warning PRs

[2021-02-17 15:06] gregoryb-at-ibm commented on #21055
The tests are failing now, but I'm not sure if it's got to do with my changes?
https://github.com/ManageIQ/manageiq-cross_repo-tests/runs/1919335819
@agrare , what do you think?

[2021-02-17 15:07] gregoryb-at-ibm commented on #21055
BTW, is it possible to trigger the miq-bot tests from here, or is it only possible from PRs?

[2021-02-17 15:20] agrare commented on #21055
Looking....
https://travis-ci.com/github/ManageIQ/manageiq-cross_repo-tests/jobs/483772691#L1341 is a known sporadic failure (cc @kbrock)
And https://travis-ci.com/github/ManageIQ/manageiq-cross_repo-tests/jobs/483772692#L304 is just a syntax error in how the cross-repo-tests were defined

[2021-02-17 15:32] gregoryb-at-ibm commented on #21055
Should I run again do you think?

[2021-02-17 19:14] agrare opened #21061 "Add a method for persisting a set of EMS "enabled services" to the ext_management_system record"
A large number of providers are not simply a single API endpoint that we connect to for everything, but rather are made up of two or more distinct services that provide different information.

Some of these providers are also configurable in which services are enabled or not and this has implications for what our provider is able to collect and sometimes what workers should run.

Currently we don'

[2021-02-17 20:15] Fryguy commented on #21061
Discussed with @agrare and we're going to add a `capabilities` jsonb column to both providers and ext_management_systems.  This will allow any provider to effectively cache capabilities changes, and thus be able to make decisions without hitting the native provider.

For Azure specifically, they can enhance their authentication_check method to also check the capabilities and cache it in this colum

[2021-02-17 20:22] agrare commented on #21061
Okay added https://github.com/ManageIQ/manageiq-schema/pull/559

[2021-02-17 22:20] Fryguy commented on #21061
Closed via ManageIQ/manageiq-schema#559

[2021-02-17 22:20] #21061 closed

[2021-02-18 19:30] Fryguy commented on #19655
Reopening as this issue cover cases all cases where automate objects are not exportable.
- names that are valid characters in automate are not valid characters in files names
- names are too long and break filesystem limits

See also https://github.com/ManageIQ/manageiq/pull/19702

[2021-02-19 15:10] iv1111 opened #21066 "Error when starting server after adding new provider plugin / cloud manager using the generator."
I tried generating a new plugin with a cloud provider in it. For that I've referred to the manual under this location: https://www.manageiq.org/docs/guides/plugins/generator

I've run the generator in the following way:

`bundle exec rails generate manageiq:provider ManageIQ::Providers::PowerVc --manager-type=cloud`

The command succeeds and it creates the corresp. directory structure under manage

[2021-02-19 15:19] jrafanie opened #21067 "run_single_worker.rb duplicates system_uid in multiple rows if not exited cleanly"
Background:  kubernetes will SIGKILL processes due to OOM when a pod exceeds the memory limit, causing our pods to ungracefully restart, having the same hostname but being unable to delete their row between restarts.  The behavior below causes multiple `miq_workers` rows with the exact same `system_uid` (pod hostname) value.

1.  Run it once, then kill -9 the process when it's booted:

[code]

2.

[2021-02-21 00:51] #21066 closed

[2021-02-22 15:58] #21067 closed

[2021-02-22 16:12] #21055 closed

[2021-02-22 16:12] #21018 closed

[2021-02-22 19:38] gtanzillo commented on #13564
Closing since this is partly covered bt ManageIQ cross repo tests

[2021-02-22 19:38] #13564 closed

[2021-02-22 22:52] gtanzillo opened #21074 "Chargeback support for containers"
Chargeback is currently support for:
- Container images
- Container projects

However, there are performance issues with container images because chargeback is generated by querying metrics for all containers running during the reporting period and rolling them up, on the fly, to the parent image.  This is a huge performance hit. Metrics should be rolled up to container images during metric proces

[2021-02-23 18:37] #20741 closed

[2021-02-24 14:25] gtanzillo opened #21078 "Fully remove MiqLdap and LDAP as a supported external authentication option"
We were previously in the process of deprecating MiqLdap support. However, that got put on hold. It is currently supported, but it needs to be configured manually because it has since been remove from the authentication settings UI.

There is also a script that performs an inline conversion of an MiqLdap configuration to external auth through Apache. It should be tested and updated if necessary fo

[2021-02-24 23:09] jrafanie commented on #21042
I had the second issue happen just now, the build log is gone now that I restarted it but it was this one:

[code]

[2021-02-26 13:57] zigaSRC opened #21083 "Cannot edit additional tenants of catalog items/bundles"
**It is impossible to edit additional tenants as of kasparov-1.**

When editing an existing catalog bundle or item changing the additional tenants field of the form does not enable the save button and the "https://hostname.domain/catalog/atomic_form_field_changed/" reqeust is not being made as with every other field change.

**ManageIQ version**: kasparov-1.20210203001902_15acbea
If you need more

[2021-03-01 10:48] zigaSRC opened #21085 "Edit aborted while trying to approve automation task"
It is impossible to approve or deny an automation task request because filling out the reason field results in an "Edit Aborted!" error.

ManageIQ version is  kasparov-1
I'm using chrome, although the same thing happens on firefox and edge.
If you need any more information please let me know.

See [video.](https://user-images.githubusercontent.com/65527456/109486304-fc2bd400-7a82-11eb-9389-52c4a7c

[2021-03-02 14:13] dgaikwad opened #21088 "Custom message attribute is not considering with instance in logs in automation.log"
Not getting custom message in logger file in automation.log
Below are the steps to reproduce issue.
       setup:
            1. Create domain, namespace, class and instance pointing to method
        testSteps:
            1. Navigate to automate > automation > simulation page
            2. Fill values for attribute/value pairs of namespace, class, instance and add message
               attribu

[2021-03-02 18:16] jrafanie opened #21090 "Improve podified liveness probes"
- [x] Eliminate loading of container_env when we only need the [ruby env](https://github.com/ManageIQ/manageiq-pods/pull/687).  This change is no longer relevant since the rewrite below replaces this code entirely.
- [x] Change heartbeat file to store unix time timeout [instead of a time string requiring parsing on the other side](https://github.com/ManageIQ/manageiq/pull/21079)
- [x] Rewrite simp

[2021-03-03 06:41] dgaikwad commented on #21088
Reproducer build: 5.11.11.0.20210223202812_caa005c

[2021-03-03 07:02] euroUK opened #21093 "JS errors on portal. All actions unavailable"
![image](https://user-images.githubusercontent.com/6841785/109765937-91a3a100-7c06-11eb-829f-76edb31e7f2c.png)

I've installed manageiq on VCloud from official VMware vSphere template. From server side it looks like everything is fine, but when I'm trying to login I have several errors like

var _ownerDocument = _interopRequireDefault(require("./ownerDocument"));  - activeElement.js:8 Uncaught Typ

[2021-03-03 19:54] kbrock commented on #20394
I am moving this comment lower to not distract from the TODO list:

To work with containers, we have already defined the privileges needed to run our application. So the job ahead is mostly porting the Kubernetes/OpenShift privileges to SELinux. The MiqServer process running on the VMware appliance also acts as a distributed orchestrator, so this requires adding systemd privileges similar to the o

[2021-03-04 20:29] Fryguy commented on #21083
@kavyanekkalapu Can you please take a look at this one?

[2021-03-04 20:29] Fryguy commented on #21085
@kavyanekkalapu Can you please take a look at this one?

[2021-03-05 07:04] zigaSRC commented on #21085
I would just like to add that approval via API works.

The problem seems to be that the session :edit key is not being set or is set incorrectly. Haven't managed to get further as I'm not exactly that familiar with the way ManageIQ is implemented and how to debug but here's the:
 * [Link to where the edit key is checked.](https://github.com/ManageIQ/manageiq-ui-classic/blob/f78f1022d2356c683246652

[2021-03-05 18:56] chessbyte opened #21098 "[RFE] Create IBM PowerVC Provider"
Create a provider integration with [IBM PowerVC](https://www.ibm.com/products/powervc) by subclassing the [OpenStack provider](https://github.com/ManageIQ/manageiq-providers-openstack)

This is a sub-epic of https://github.com/ManageIQ/manageiq/issues/21002

- [x] Create new repository - https://github.com/ManageIQ/manageiq-providers-ibm_power_vc
- [x] New Provider Tasks (https://github.com/Manage

[2021-03-06 04:32] kbrock commented on #21042
not that PR in particular, but that group of changes. it is probably related to the API changes in setting keys for miq-password and the recrypt code in miq-password.

[2021-03-06 04:42] kbrock commented on #21042
did the behavior of decrypting a string and return a nil change? did it used to return a blank string or something?

recrypt has a `||=` and I wonder if that is what is messing us up.

[2021-03-06 15:00] Fryguy commented on #21042
I don't think so... We haven't touched that in a while

[2021-03-08 17:25] Fryguy commented on #21090
Done!

[2021-03-08 17:25] #21090 closed

[2021-03-09 16:59] NickLaMuro opened #21100 "Remove Database Backups from core (move to appliance console)"
For containers, we have a different process for doing database backups that doesn't make sense in appliance distributions of MIQ.

So it doesn't make to have a completely different process maintained in the core code base to handle backups, as well as having a toggle switch of sorts in the UI to disable database backups from being shown when in a container deployment.

As such, we are moving the r

[2021-03-09 17:43] Fryguy commented on #21100
@NickLaMuro I wonder if we should a bullet for creating documentation for the current set of targets (e.g. explaining how to mount an s3fs-fues mountpoint), or perhaps even just a subset of the more common ones.

[2021-03-09 17:45] NickLaMuro commented on #21100
Sure, I am cool with that idea.  Will add.

[2021-03-10 05:11] Shashikanthsastry opened #21101 "[RFE] Support Proxmox as an Infrastructure provider"
Request you to help us with steps.

[2021-03-11 17:53] Fryguy commented on #21101
Proxmox is not a supported provider, but if you (or someone else in the community) would like build a new provider, we would happily accept it.

[2021-03-11 17:54] Fryguy commented on #21101
cc @agrare

[2021-03-11 21:49] #21074 closed

[2021-03-15 14:41] sahul-devops opened #21107 "Validation failed: Connection reset by peer - SSL_connect"
I add Kubernetes container provider on manageiq and pods, svc, nodes and containers are displayed but metrics are nil

I could connect to the cluster and view pods and other details.
I have Prometheus running exposed outside as NodePort. When I try to provide details under the “Metrics” tab after selecting “Metrics: Prometheus”
![p-error](https://user-images.githubusercontent.com/79967451/11117071

[2021-03-15 14:56] agrare commented on #21107
Hey @sahul-devops it looks like you have this exposed over http not https, try selecting non-ssl rather than ssl-without-verification.

[2021-03-16 05:23] sahul-devops commented on #21107
Hi, I tried SSL without validation only still takes SSL I do not know why?

[2021-03-16 13:38] gtanzillo opened #21109 "Automation log output no longer displayed in UI when running in pods"
Since the worker running automate runs in a different pod than the UI worker, the UI does not have access to the automate logs. Also, there can be multiple workers running the automate role and therefore, logs would be distributed across multiple pods.

Ideally, there should be log aggregation for podified MIQ because this issue is not limited to automate.

[2021-03-16 13:42] Fryguy commented on #21109
Duplicate of https://github.com/ManageIQ/manageiq-pods/issues/697

[2021-03-16 13:42] #21109 closed

[2021-03-16 14:21] ggclass commented on #21109
Thank you! can we have an ETA ? there is an MVP ongoing @gtanzillo @Fryguy

[2021-03-16 19:39] Fryguy commented on #21109
@ggclass No ETA, since it will involve a very complicated change.  We might be able to do something in the interim, but I'm not sure there level of effort.

[2021-03-16 19:48] ggclass commented on #21109
Can we size and provide a comeback by COB? We have a meeting with local team. We might need to escalate to get traction

           ～L

Luigi Savorana -IBM Cloud Labs WW Senior Technical Support Manager - IBM Cloud Labs -M: +39-335-7260-139

[2021-03-17 01:40] Fryguy commented on #21107
@sahul-devops Which version of ManageIQ are you using?  We recently found a bug specifically where this drop down was not being honored - See https://github.com/ManageIQ/manageiq-ui-classic/pull/7659

[2021-03-17 07:11] ggclass commented on #21109
any news?

[2021-03-18 21:34] Fryguy commented on #19678
Merged https://github.com/ManageIQ/manageiq/pull/21095

@jrafanie when you want to pr blaster outer to the laskers, I'm ready.

Also, please add to your checklist to change the developer setup - https://github.com/ManageIQ/guides/blob/master/developer_setup.md

[2021-03-19 17:38] sahul-devops commented on #21107
Hi, I have using manageiq latest version of Kasparov-1, and how to solve the problem of connecting the metrics of Prometheus?

[2021-03-19 21:17] Fryguy commented on #19678
Done 🎉

[2021-03-19 21:17] #19678 closed

[2021-03-25 13:37] Fryguy opened #21121 "[RFE] Add Ansible Collections support to Embedded Ansible"

[2021-03-25 18:45] lrhamann opened #21124 "REST api/vms/xxx with "retire" action does not retire the VM"
***

## Issue Summary

The REST api /vms/xxx with a "retire" action request does NOT retire the VM even though the api returns a success response.

## Issue Details
### Steps to reproduce

The VM operator is issuing the following api to retire a VM but IM does not perform the action even though it accepts the api.
[code]
Here is the state of the VM at the time of the REST api:

![image](https://us

[2021-03-26 21:49] Fryguy commented on #21078
Duplicate of https://github.com/ManageIQ/manageiq/issues/20017

[2021-03-26 21:49] #21078 closed

[2021-03-28 09:19] #21107 closed

[2021-03-29 07:44] omersiar opened #21128 "Login with OpenID Connect fails with "\xC5\" from ASCII-8BIT to UTF-8"
Dear All,

The installation is podified and httpd configured to have OIDC for SSO access.  Identification Provider has two different LDAP configurations.

Users logging in with DOMAIN-A configuration -which does not have non-ascii characters in LDAP Group users- are able to login, but in contrast, DOMAIN-B users which they **have** non-ascii characters in their Group name fails to do so.

I'm not

[2021-03-29 08:20] omersiar commented on #21128
https://github.com/ManageIQ/manageiq-ui-classic/issues/7689

[2021-03-29 21:23] jvlcek opened #21129 "Handle SSSD/pam new default for pam_initgroups_scheme"
SSSD version 2.3.0 changed the default behavior for pam_initgroups_scheme.
See: [SSSD 2.3.0 Release Notes](https://sssd.io/docs/users/relnotes/notes_2_3_0.html)

This change broke the [miq_config_sssd_ldap tool](https://github.com/ManageIQ/manageiq/tree/master/tools/miq_config_sssd_ldap)

The `[pam]` section of the sssd.conf file needs to now include: `pam_initgroups_scheme = always`

[2021-03-30 17:20] agrare opened #21136 "Enhance provider generator scaffolding"
Currently the provider generator has the option of building scaffolding code for refresh, events, and metrics in the `--scaffolding` option (on by default).

Scaffolding for refresh is a great option since refresh is usually the first thing that has to be done to be considered a fully functioning provider.  Events and metrics typically come much later if at all.

What ends up happening is provider

[2021-03-30 20:23] agrare commented on #21124
The issue appears to be due to a failure in the `#retire_now` method while delivering the MiqAeEvent, the `call_automate_event` method is returning true and we are trying to access `true.root['ae_result'] == 'error'`

[code]

This leaves the VM's retirement_state in "initializing":
[code]

Which leaves subsequent requests to not attempt to retire the VM again due to: https://github.com/ManageIQ/ma

[2021-03-30 21:02] NickLaMuro commented on #21100
Doesn't really fit into a bullet item, but I have created a repo I am using currently to test the `appliance_console` backups in a mostly automated fashion.

It is a bit unwieldy to use so that is why it currently lives under my account, but am happy to move it somewhere that makes more sense.  Also, the README is a bit outdated, so ignore that for the time being...

[2021-03-30 21:31] agrare commented on #21124
Even when this doesn't raise an exception the `#retire_now` method doesn't seem to actually do anything.  This means it leave the vm in the initializing state, then when you try to retire it again it fails with that `got updated while waiting to be unlocked and is now initializing` error.

[2021-03-30 22:09] chessbyte commented on #21124
maybe @tinaafitz @billfitzgerald0120 or @lfu can help understand how this was intended to work

[2021-03-30 22:15] agrare commented on #21124
Yeah that would help a lot.

Here is the content of the automate.log when calling `request_vm_retire` as a result of `retire_now`
[code]

[2021-03-30 22:22] Fryguy commented on #21124
@agrare and I paired on this one and we found a few issues.

1. `retirement for [id:<68>, name:<Lrh-rhcos-4.2>] got updated while waiting to be unlocked and is now initializing` is a red herring that happens when you try to retire again after something is already initializing.  We need to understand why the request didn't get picked up at all, which is the underlying problem.
2. `retire` and `requ

[2021-03-30 22:23] Fryguy commented on #21124
I created https://github.com/ManageIQ/manageiq-automation_engine/pull/475 to handle the "true" return value as mentioned in https://github.com/ManageIQ/manageiq/issues/21124#issuecomment-810553285 but it doesn't actually solve the problem.  All it does is prevent a blowup and allows it to log the failure correctly, but it still failed beforehand regardless.

[2021-03-31 16:20] tinaafitz commented on #21124
Hi @chessbyte,

Here's the talk topic that explains the differences in the old and new retirement:
https://talk.manageiq.org/t/retirement-as-a-request/4797

The ```retire``` action is old and should be replaced by ```request_retire```

I chatted briefly with @Fryguy and @agrare, offering to do a call if that would be helpful.

[2021-03-31 17:52] agrare commented on #21124
:+1: that is what https://github.com/ManageIQ/manageiq-api/pull/1024 does (replace retire with request_retire) so sounds like the right direction there

[2021-04-01 17:05] Fryguy commented on #21042
Got one again - https://travis-ci.com/github/ManageIQ/manageiq/jobs/495533954#L895-L898

[2021-04-01 17:54] agrare commented on #21128
Closing as duplicate of https://github.com/ManageIQ/manageiq-ui-classic/issues/7689

[2021-04-01 17:54] #21128 closed

[2021-04-02 14:52] agrare commented on #21124
Fixed by https://github.com/ManageIQ/manageiq-api/pull/1024

[2021-04-02 14:52] #21124 closed

[2021-04-04 16:26] pushan9 opened #21141 "unable to login to self Service Portal via LDAP auth"
Hi,

I am unable to login in self_service protal using LDAP authentication. LDAP is integrated with ManageIQ and able to login to administrator page with me ldap user id and password, however when I try to login to self_service portal with same account it gives me below error

User creation successful for User: XXXXXXXXXXXXX
[----] W, [2021-04-04T12:21:10.541587 #6956:2ad5d2a76bec]  WARN -- Failur

[2021-04-04 16:32] pushan9 opened #21142 "SAML not working with ADFS 3.0"
Hi,

I have tried to integrate my Miq with SAML with ADFS 3.0, it ask to enter user ID and password and direct got to error page, it wont login.
Checked on ADFS side it give below error

 Exception details:
Microsoft.IdentityServer.Web.InvalidScopeException: MSIS7007: The requested relying party trust 'https://manageiq/' is unspecified or unsupported. If a relying party trust was specified,

[2021-04-04 19:02] cescarsega opened #21143 "WebMKS Not working on Kaperov-1"
Hi everyone I'm looking for some assistance on an issue I'm having. I can't use the WebMKS console when using a VMware vCenter infrastructure provider. Does anyone have any thoughts?

_**"The appliance has no access to the assets required to run the WebMKS console. For more info please see the documentation."**_

I did also try to follow these steps from https://www.reddit.com/r/ManageIQ/comments/

[2021-04-04 19:09] cescarsega commented on #21143
Nevermind, issue

[2021-04-04 19:09] #21143 closed

[2021-04-05 10:01] ahrechushkin opened #21144 "VM Uptime"
Hello!
I've a problem with calculate uptime and chargeback
We use rate allocated per hour. I think it will be calculated by this formula:
[code]
^ https://access.redhat.com/documentation/en-us/red_hat_cloudforms/4.7/html/monitoring_alerts_and_reporting/sect_chargeback

But where i can find allocation metrics ?
In MetricRollup i see only used metric

So, and the last question: how i can calculate v

[2021-04-05 16:19] Fryguy commented on #21042
I wonder if this is because of parallel specs....wonder if they are clobbering each others v2 keys, perhaps by not using tmp path locations that are unique?  I can't understand how the follow could possibly happen otherwise:

https://travis-ci.com/github/ManageIQ/manageiq/jobs/496103931#L823

[code]

[2021-04-06 12:09] jvlcek commented on #21129
The PR: https://github.com/ManageIQ/manageiq/pull/21130 will solve this issue. It just needs to be merged.

[2021-04-06 13:58] chadh1313 opened #21148 "Report tag filter lost on save"
Was able to reproduce with the following scenario:
1) create a chargeback report with a Tag Category / Tag value, and save.

![image](https://user-images.githubusercontent.com/3876941/113722079-14b08f00-96be-11eb-82b7-d78aef66dda3.png)

2) Edit report, and change something, such as the "Going Back" field.  Save again.

3) Edit report again.  Tag value is gone.

![image](https://user-images.githubu

[2021-04-08 03:07] kbrock commented on #21042
I thought all v2 keys were in memory tests. don't remember writing anything to disk for these tests

[2021-04-08 14:01] phospi opened #21155 "Automate expression method broken in jansa"
Hi,

I was checking jansa with expression methods as described in the Cloudforms / ManageIQ book [[1]](https://manageiq.gitbook.io/mastering-cloudforms-automation-addendum/chapter) with user input and couldn't get it to work. It looks like variable resolution is no longer working for expression methods. Or maybe the syntax changed.

**Affected versions:**
I tested on jansa-2 and jansa-3. May be in

[2021-04-08 17:51] chessbyte commented on #19687
Closing due to inactivity.  Please re-open with details if issue persists.

[2021-04-08 17:51] #19687 closed

[2021-04-08 19:20] agrare opened #21156 "Improve ActsAsStiLeafClass to work on the leaf classes"
Currently ActsAsStiLeafClass has to be added to the model that is being inherited from, rather than to the model that is doing the inheriting.

It would be better ergonomics for the model that is inheriting (and thus causing the problem) to add the `ActsAsStiLeafClass` logic to the parent class.

[2021-04-08 19:25] agrare opened #21157 "Make provider secrets pluggable"
TODO

[2021-04-09 13:27] #21129 closed

[2021-04-09 15:29] Fryguy commented on #21144
Allocation is based on what is defined for the object during that hour.  So, if a VM has 4 vcpus and 16GB memory, those are the allocation amounts.  They would be derived from the values in vim_performance_states, which are snapshots of the state of the VM every hour.  Additionally, there are columns in the metrics table, such as `derived_memory_available`, which is used for allocation calculation

[2021-04-09 15:30] Fryguy commented on #21141
It's hard to tell, but `Authentication failed for userid xxxxx@xxx.com, unable to match user's group membership to an EVM role` implies that you didn't create any groups in ManageIQ to match the groups coming from LDAP.

[2021-04-09 15:39] Fryguy commented on #21142
Can you go through the troubleshooting steps here?

https://www.manageiq.org/blog/2018/01/troubleshooting-auth/

[2021-04-09 16:16] Fryguy commented on #21042
Oh maybe?  I assumed v2_keys had to be on disk.

[2021-04-09 16:21] agrare commented on #21144
We are able to get boot_time from some providers (amazon, rhev, and vsphere) which will be more accurate than state_changed_on (state_changed_on is when we saved it, not when it actually started) but that will only give you the most recent uptime.

If you're trying to calculate e.g. how long has a vm been up over a period of time like a day, week, etc... you're best is probably to look at power st

[2021-04-09 21:24] Fryguy commented on #20301
Once this is all done, can we drop the thing where there are an Array of ems_ids in the worker row?

[2021-04-09 21:33] agrare commented on #20301
@Fryguy actually we did that already in #20345, once we finish with this we can get away from even that extra logic

[2021-04-09 21:40] #21148 closed

[2021-04-09 22:27] ahrechushkin commented on #21144
So, I found a way. A fetch from consumption info about cpu_usage_average. If usage more than 0, I think that vm was powered on during 1 hour.
And use this info I can collect uptime per consumption period.
But, I saw that consumption_rollup have a field power_status, but it always nil...

[2021-04-10 00:24] kbrock commented on #20091
2 solutions:

1. We can upgrade the ssh gem to latest (e.g.: 6.1) will fix issue
2. there is a work around when using ssh trust:

[code]

I will put into the bz

[2021-04-10 12:50] ahrechushkin commented on #21144
Also i wrote a method which calculate costs for dynamic allocated resources by uptime
If it make sense i can create pr
[code]

[2021-04-10 18:03] pushan9 commented on #21141
I did created the same group on manageIQ matching to LDAP

[2021-04-12 13:19] agrare commented on #21144
Depending on how accurate you need the uptime calculation to be that should work.  A VM could have been on for 1 minute of that 1 hour rollup and it will be counted as on for that whole hour.

Not sure if you have access to the realtime metric datapoints from there, but those are a 20s resolution and thus cut this error down dramatically.

[2021-04-12 13:32] ahrechushkin commented on #21144
I think it's an acceptable accuracy (other cloud providers have the same way for calculating)

[2021-04-12 21:17] Fryguy commented on #21141
Unfortunately, I don't think I can help without more info.

1. is this appliance or podified?
2. what version?
3. are there any errors in the apache error logs? (httpd pod in podified; /var/log/httpd directory in appliances)

[2021-04-13 16:09] chadh1313 opened #21167 "Improved handling of allocation-only chargeback reports"
If a chargeback report filters on VMs for a provider that does not collect metrics, and the report is marked to "Include Capacity and Utilization Metrics", no data will ever be returned in the subsequent report, even if the report fields are asking for allocation info.  The report data indicates "No records found", which is misleading.

Need a better way to distinguish that the VMs in fact were lo

[2021-04-14 07:17] szajac01 opened #21172 "[Jansa3] nic.lan association becomes nil after provisioning"
Hi,
After a VM provisioning with several nics, we can retrieve nics lan objects from vm in `vmdb.

`vm_object = $evm.vmdb(:vm).find_by_name('vmname')`
`vm_object.hardware.nics.each do |nic|`
`puts nic.lan`
`end`

_#<MiqAeMethodService::MiqAeServiceLan:0x0000559d27c51308>_
_#<MiqAeMethodService::MiqAeServiceLan:0x0000559d27c58e50>_

Problem comes after a while (timeline is not clear), one nic lan a

[2021-04-14 13:36] chessbyte opened #21173 "[Providers] Syndicate inventory over Kafka"
- [x] https://github.com/ManageIQ/manageiq/pull/21169

[2021-04-14 18:04] agrare commented on #21144
@ahrechushkin definitely create a PR, we can discuss there.

I'd still like to investigate other approaches for more accurate uptime calculations but if +/- 1hr is close enough that's better than not having as long as we document that.

[2021-04-14 21:43] jrafanie opened #21175 "Error out orphaned miqtask executed by processes/pods that no longer exist"
Followup to https://github.com/ManageIQ/manageiq/pull/21174

### Summary
- [x] Error out tasks on worker destroy callback over the queue https://github.com/ManageIQ/manageiq/pull/21443
- [x] Verify the `MiqQueue#handler` is correctly assigned in podified as `my_worker` and `my_server` were appliance constructs that might not work as it did in appliances.  See: https://github.com/ManageIQ/manageiq/

[2021-04-14 22:24] Fryguy commented on #21175
Either that or
1. a schedule that sweeps the miq_tasks periodically
2. a callback on deleting an MiqWorker row that modifies the related miq_tasks (perhaps over the queue)

[2021-04-14 22:27] Fryguy commented on #21172
@agrare This sounds like there's something wrong with the refresh - can you take a look?

[2021-04-15 14:09] agrare commented on #21172
Also if you can check the evm.log for any refresh failures that would be very helpful

[2021-04-16 07:40] szajac01 commented on #21172
@agrare , provider is vmware.
We don't have Errors in the evm.log, but a lot of warnings, the more we have during the night are

_[----] W, [2021-04-16T07:43:02.009443 #6973:2b01fc05b954]  WARN -- : MIQ(ManageIQ::Providers::Vmware::InfraManager::EventParser.event_to_hash) ems_id: [2] Event Type cannot be determined for TaskEvent. Using generic eventType [TaskEvent] instead. event: [{"key"=>"508870

[2021-04-16 14:51] chessbyte opened #21179 "Complete Transition from AvailabilityMixin to SupportsFeatureMixin"
A GitHub search in the ManageIQ org shows the following:

- [AvailabilityMixin](https://github.com/search?q=org%3AManageIQ+AvailabilityMixin&type=Code)
- [is_available?](https://github.com/search?p=2&q=org%3AManageIQ+is_available?&type=Code)
- [is_available_now_error_message](https://github.com/search?q=org%3AManageIQ+is_available_now_error_message&type=Code)
- All model methods definitions whose

[2021-04-16 14:59] jrafanie commented on #21175
I added your ideas to the list in the summary above.

[2021-04-16 15:48] Kuldip-Nanda opened #21180 "[LASKER]: Unable to attach or detach a Cloud Volume"
1. Select `Storage/Block Storage/.Cloud Volumes.`
2. Select any available  Volume.
3. Select `Configuration/Attach selected Cloud Volume to Instance`.
4. A new page comes up with a spinning wheel that never stops. Please see below
<img width="1406" alt="Screen Shot 2021-04-16 at 11 45 55 AM" src="https://user-images.githubusercontent.com/5939617/115050005-51903900-9ea9-11eb-85c8-28e3e779e05f.png">

[2021-04-16 15:48] Kuldip-Nanda commented on #21180
@miq-bot add_label bug

[2021-04-16 18:00] agrare commented on #21172
Okay only that last one is actually related to refresh and it doesn't look like it has anything to do with lans.

Two question:
1. What type of networks are those vms connected to (standard, dvportgroup, nsx-t)
2. If you run a full refresh does it set those back?

[2021-04-16 18:45] kavyanekkalapu commented on #21180
I fixed this very recently in https://github.com/ManageIQ/manageiq-ui-classic/pull/7707, please check in latest env.

[2021-04-19 06:44] szajac01 commented on #21172
Networks are distributed port group.
If i run a full refresh from the gui, yes it comes back

[2021-04-19 18:15] agrare commented on #21172
Thanks @szajac01 and what version are you on?  (You can see this in `/var/www/miq/vmdb/BUILD`)

There were a few fixes around targeted refresh and dv switches/portgroups so I'm curious if this is a bug that's already been fixed.

[2021-04-20 06:42] szajac01 commented on #21172
Hi, Version jansa-3.20210118183104_77bdc30

[2021-04-20 07:36] zigaSRC commented on #21083
@kavyanekkalapu Any news on this one?

[2021-04-20 08:26] pint2oo opened #21183 "RPM repository indicates all builds are "nightly""
Hi,

I'm putting together a list of repos that are used by the Kasparov-1 release,
and I noticed an issue with your [rpm.manageiq.org](https://rpm.manageiq.org) repo.

All RPMs for the manageiq appliance are categorized as "nightly",
even those for what appears to be former versions of the appliance like below:
`builds/manageiq-nightly/manageiq-appliance-10.1.0-0.4.20200731000015.el8.x86_64.rpm`

[2021-04-20 10:17] phospi opened #21184 "Cannot use disk information in Reports (jansa/kasparov)"
Hi,

We stumbled upon an issue that reports fail if disk information are selected.

**Affected versions (or what I tested):**
jansa-3.20210118183104_77bdc30
kasparov-1.20210203001902_15acbea

**Steps to reproduce:**
Create a report. Report based on: `Instances`, Field: `Currently Used Space`

**Expected output:**
A report is generated

**Actual result:**
Report overview shows `Error Generating Rep

[2021-04-20 14:07] kavyanekkalapu commented on #21083
@zigaSRC No updates so far, will take a look in coming weeks.

[2021-04-21 01:12] Fryguy commented on #21183
Stable builds are in a different repo.  @bdunne can give you more detail.

@bdunne we should document this somewhere, perhaps as part of upgrade steps.

[2021-04-21 07:54] pushan9 commented on #21141
[----] I, [2021-04-21T03:51:44.053927 #365443:2aca8386e778]  INFO -- Success: MIQ(Base.audit_success) userid: [domain\username] - User domain\username successfully validated by LDAP
[----] W, [2021-04-21T03:51:44.065283 #365443:2aca8386e778]  WARN -- : MiqLdap is a deprecated feature. Please convert to using external authentication.
[----] I, [2021-04-21T03:51:44.157007 #365443:2aca8386e778]  INFO

[2021-04-21 07:56] phospi opened #21187 "[RFE] PDF output for reports"
Hi there,

I'm wondering why there is no PDF generation available for reports in jansa/kasparov. In previous versions pdf was an available option. It isn't any longer and my google-fu is failing when trying to find out what happened.

Kind Regards,
phospi

[2021-04-21 14:32] chessbyte opened #21188 "Request and Task Diagnostics"
Provide ability for user to click on a Request and see everything that happened to it in the UI.

- [x] https://github.com/ManageIQ/manageiq-schema/pull/681
- [x] https://github.com/ManageIQ/manageiq/pull/22293
- [x] https://github.com/ManageIQ/manageiq-automation_engine/pull/516
- [x] https://github.com/ManageIQ/manageiq-ui-classic/pull/8400

---

Old PRs:
- ~~ManageIQ/manageiq-schema#657~~
- ~~#

[2021-04-21 14:34] Fryguy commented on #21188
My notes:
- knowing what request are attached to which request tasks..maybe we just show all that in the UI directly  (sort of a request graph - doesn't even have to be fancy)
- temp dirs for ansible runner: maybe we have the id in the dir name.  They are removed normally, but when they _aren't_ removed for debug it's hard to correlate
- (longer effort) a table for automate logs? maybe as a simple

[2021-04-21 14:37] bdunne commented on #21183
Hi @pint2oo We have several different rpm repos under rpm.manageiq.org.  For example, https://github.com/ManageIQ/manageiq-rpm_build/blob/1105e161426edfd328a5b25cc0319272d6fbad06/packages/manageiq-release/manageiq-13-morphy.repo shows the repos for the morphy release.  By default we only enable the arch and noarch release repos on the appliances.  However on nightly appliances we enable the nightl

[2021-04-21 14:37] NickLaMuro commented on #21188
List of `EmbeddedAnsible` issues:

https://github.com/ManageIQ/manageiq/issues?q=is%3Aopen+is%3Aissue+label%3A%22core%2Fembedded+ansible%22

Specifically:

https://github.com/ManageIQ/manageiq/issues/20243

[2021-04-21 14:41] Fryguy commented on #21188
- not having embedded ansible stdout on an automate method is not fun, we have it for direct services, but not via automate.  We should collect that for automate as well.

[2021-04-21 16:52] Fryguy commented on #21141
It's also possible the groups coming from LDAP are not valid / missing.  LDAP must be configured with the `memberof overlay`.   Search that phrase here: https://www.manageiq.org/blog/2018/01/troubleshooting-auth/#example-authentication-config

[2021-04-21 16:56] chessbyte commented on #21141
@pushan9 Maybe you should convert to external authentication before this long-deprecated feature is removed (https://github.com/ManageIQ/manageiq/pull/21127).

[2021-04-21 16:59] Fryguy commented on #21141
Oh good eyes, @chessbyte .  I'm not even sure MiqLDAP even works with SUI at all.  LDAP via SSSD should work, as I know we have settings for that in the configuration.

[2021-04-23 06:41] Kaco92 opened #21190 "Duplicity records in PXE Images"
Hello,
Please could you someone help me with this issue? I dont know why but in PXE servers menu i have a duplicity records about images.
here is screen from compute>infrastructure>PXE>PXE Servers
![MiQ](https://user-images.githubusercontent.com/18602219/115829702-92d79a00-a40f-11eb-9851-a403cfab8172.png)

boot menu file
![boot_menu ipxe](https://user-images.githubusercontent.com/18602219/11582969

[2021-04-23 08:39] pushan9 commented on #21141
Thanks, I will check on this and get back to you on this

[2021-04-23 08:40] pushan9 commented on #21142
getting below error
StatusCode2="urn:oasis:names:tc:SAML:2.0:status:InvalidNameIDPolicy",

[2021-04-26 12:27] agrare commented on #21180
@Kuldip-Nanda this should be fixed with https://github.com/ManageIQ/manageiq-ui-classic/pull/7707, please re-open if this is still an issue for you in the latest build.

[2021-04-26 12:27] #21180 closed

[2021-04-26 12:40] agrare opened #21192 "Flavor attributes cpus and cpu_cores is confusing"
AKA `# where are the virtual CPUs??` [[ref]](https://github.com/ManageIQ/manageiq-providers-azure/blob/master/app/models/manageiq/providers/azure/inventory/parser/cloud_manager.rb#L43-L44) :laughing:

The `Flavor` model has two attributes to store cpu topology, `:cpus` and `:cpu_cores`.

There are two ways this can be interpreted:
1. `:cpu_cores` stores the total vcpus and `:cpus` stores the numbe

[2021-04-26 12:54] chessbyte commented on #21192
@agrare would it make more sense to follow the `Hardware` model's approach of having `cpu_sockets`, `cpu_total_cores` and `cpu_cores_per_socket`, even if one of them is a virtual column?

[2021-04-27 10:24] szajac01 commented on #21172
Also, we've got those errors in evm.log
ERROR -- : Error when saving InventoryCollection:<GuestDevice>, strategy: local_db_find_missing_references with strategy: local_db_find_missing_references, saver_strategy: default, targeted: true. Message: PG::UndefinedColumn: ERROR:  column lans.switch does not exist

[2021-04-27 16:28] agrare commented on #21192
:+1: definitely, we could also rename `:cpus` to `:cpu_total_cores` to match `Hardware`

[2021-04-27 16:35] chessbyte commented on #21192
The more consistent the names, the more consistent the User Experience in other areas of the product where they have to pick a column name (i.e. reporting, policies, etc.)

[2021-04-28 08:12] gabrieletosca opened #21199 "General slowness and failure to install the latest version on kubernetes"
Hi everyone, I'm having problems installing the latest kasparov version on kubernetes, it turns out that the kasparov operator isn't working **invalid tar header: unknown**

The operator would deploy but when i try to deploy manageIQ pods that error is on all of the pods

I then proceeded to install the Jansa version, and it works.

The problem now is that it is very slow in operations, manageIQ h

[2021-04-28 15:34] jaywcarman commented on #21192
Would it make sense to specify `vcpu` instead of `cpu`?

This is specific to IBM Power, but we provision in terms of [_entitled_ cpus](https://www.ibm.com/support/pages/assigning-appropriate-processor-entitled-capacity), which is a `float`. For example, in PowerVS you can provision a VM with `1.25` _entitled_ cpus, which would be see by the OS as `2` vCPUs (always as `int`, as expected).

[2021-05-03 19:41] Fryguy commented on #19727
cc @kavyanekkalapu

[2021-05-03 19:44] Fryguy commented on #19731
Closed via https://github.com/ManageIQ/manageiq/pull/20137

[2021-05-03 19:44] #19731 closed

[2021-05-03 21:35] jrafanie opened #21204 "Delete LifecycleEvent and table"
Related to #19723

This was added back in 2008 in commit d866a691c57073d44d24eba284f962e62f87a706 and isn't used.

[code]

## Should be removed after generating message catalogs:
[code]

## CORE TODO:
[code]

## Should be removed after generating message catalogs:

[code]

## Drop table schema change TODO:

[code]

## Drop from API TODO:

[code]

## ???
[code]

[2021-05-03 21:35] jrafanie commented on #19723
Closing in favor of deleting the unused model and table in #21204

[2021-05-03 21:35] #19723 closed

[2021-05-04 08:58] szajac01 commented on #21172
Hi, Should i understand that there will be no more updates in Jansa ?

[2021-05-05 15:18] bdunne commented on #21199
`latest-kasparov` and `kasparov-1` operators look okay to me.
[code]

Is this podified or monolithic?

Please re-open with more information (deployment steps, image tag / sha, logs, etc.) if this problem persists.

[2021-05-05 15:18] #21199 closed

[2021-05-05 18:41] kbrock commented on #20467
I could have sworn this was fixed.

Either way, would be really nice to just delete `use_config_for_attributes` and have this work as normal

[2021-05-05 19:04] djberg96 commented on #20467
@kbrock Personally I think I would add created_at and updated_at fields to the table and use that.

[2021-05-05 20:14] Fryguy commented on #21192
I feel like we should match what Hardware does because we also already have presentation of those values in the UI in a consistent way (we show something like `16 cpus x 4 cores = 64 total cores` (can't remember the exact wording))

[2021-05-06 17:51] jrafanie commented on #21183
Closing for now, please reopen if this is still an issue.

[2021-05-06 17:51] #21183 closed

[2021-05-07 11:29] sebrower commented on #21083
Hi @kavyanekkalapu

I have the same issue. Is ti possible to help me to resolve it?

[2021-05-11 12:41] lamm opened #21211 "Duplicate logging to /var/log/messages"
Hello,
We just installed a kasparov (kasparov-1.20210203001902_15acbea) VMWare appliance and we noticed ManageIQ logs are written to /var/log/messages. This make /var/log 100% full.
Here is a short extract of /var/log/messages
[code]
These logs seem redundant with the those written in evm.log. Is there a way to avoid manageiq logs to be written in /var/log/messages ?

Thanks.

[2021-05-11 13:24] Fryguy commented on #21187
PDF generation is only available is a PDF generator is installed.  For now, the code can only have support the PrinceXML PDF generator, but since it's not free/open source, we cannot install it by default, and you'll have to do so manually.  Alternatively you can just use the browser's "Print to PDF" functionality.

If you know of any good open source HTML to PDF converters, please let us know, as

[2021-05-11 13:24] #21187 closed

[2021-05-11 15:12] agrare commented on #21211
You can disable `rsyslogd` from importing `journald` messages by commenting out the following lines in `/etc/rsyslog.conf`:
[code]

[2021-05-13 15:29] jrafanie opened #21216 "Fix product feature references used for RBAC checks"
EDIT:

All PRs have been merged on master and will land in `morphy` but since this is targeting `lasker/yes?` and all have been labeled as such, we'll keep this in progress until they are all backported.

- [x] [Fix Provider create product feature](https://github.com/ManageIQ/manageiq-api/pull/1038) Lasker ✅  Kasparov ✅
- [x] [Fix reference to missing product feature preventing add/update/reset ch

[2021-05-14 12:49] kavyanekkalapu commented on #21083
Fixed this issue in above pr in latest master. @zigaSRC @sebrower do you want this fix in kasparov or master is OK?

[2021-05-14 12:54] zigaSRC commented on #21083
@kavyanekkalapu  I would prefer it if it was in Kasparov as well.

Don't want to risk introducing other bugs into our system at this point :) Thank you for the fix!

[2021-05-17 21:24] agrare opened #21223 "MetricsCapture queues a MiqTask.delete_older for every perf_capture_queue"
Every time `ManageIQ::Providers::BaseManager::MetricsCapture#perf_capture_queue` is called we put an `MiqTask.delete_older` on the queue [[ref]](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/base_manager/metrics_capture.rb#L78-L79).

This quickly leads to many thousands of items if the queue is backed up and they aren't getting run, exacerbating the problem.

This

[2021-05-17 22:09] Fryguy commented on #21223
We might want to move this into a purger, though it's not a traditional purger, but I could see this running something like once per hour, and deleting all records over 4 hours old.

[2021-05-19 16:21] mikebutak opened #21228 "Cannot use an AWX workflow template that contains another workflow template"
**Context:** We use ManageIQ to Call an AWX Workflow Template which contains a nested workflow template within it.  All aspects of the workflow (and nested workflow) complete without errors in AWX.  However, at the end, when ManageIQ runs a refresh_ems, it errs saying that no such job exists.

**Details:**
See ManageIQ logs at this gist: https://gist.github.com/mikebutak/0d4c8c0629dbadf1b55ae05509

[2021-05-19 20:50] Fryguy commented on #21228
cc @agrare

[2021-05-20 18:57] #21098 closed

[2021-05-20 18:57] #21173 closed

[2021-05-21 15:24] Fryguy commented on #21083
Closed via ManageIQ/manageiq-ui-classic#7733

[2021-05-21 15:24] #21083 closed

[2021-05-21 15:27] Fryguy commented on #21216
If this is to go back to Lasker, can you ensure that all of the PRs are marked lasker/yes?

[2021-05-21 17:31] jrafanie commented on #21042
I don't know if you've identified the issue causing this failure and if it's fixed in https://github.com/ManageIQ/manageiq/pull/21178 but it's easy enough to recreate in the `auth_config_model_spec.rb` locally without PARALLEL or anything.  Just crank up the count of times it runs the test and it fails most times, even multiple times.

Note, I tried the same thing with the `manageiq-password` test

[2021-05-21 18:42] Fryguy commented on #21042
Awesome find @jrafanie ... no ones been able to get a reproducer.

[2021-05-21 18:44] Fryguy commented on #21042
manageiq-password 1.0/master branch completely changed re-crypt - I've been trying to get to the 1.0 release in https://github.com/ManageIQ/manageiq/pull/21178 , but I have to change a ton of repos and haven't had a chance.

[2021-05-21 18:48] jrafanie commented on #21042
Yay, given enough 👀 , any issue is solvable!

[2021-05-21 18:49] jrafanie commented on #21042
Do you think it's fixed in 1.0?

[2021-05-21 19:12] Fryguy commented on #21042
depends what the problem is...I'll dig into this

[2021-05-24 15:15] Fryguy commented on #21042
Ok, I dug in and I think I know what the issue is.  With ManageIQ::Password, there is a possibility that 2 independent keys can decrypt the same crypttext "successfully", where "successfully" means it doesn't blow up, but does _not_ imply that it decrypts the crypttext "properly".  For example:

[code]

---

The way recrypt is written, if first tries to decrypt with the legacy key, expecting it to

[2021-05-24 15:17] Fryguy commented on #21042
FWIW, I created the following spec to simplify recreation:

In auth_config_model_spec.rb:

[code]

[2021-05-24 15:47] jrafanie commented on #21042
I mentioned this in chat....can we check if the encoding is valid after decrypt?

[code]

In other words, can it raise an `InvalidEncoding` exception (note, I don't see this as an actual exception class in the `Encoding namespace` 🤷 , so I guess you'd have to create it)  in the low level decrypt on invalid encodings so you can continue to catch exceptions in `recrypt` and handle them properly?

[2021-05-24 16:22] agrare commented on #21228
High level, the API call we're making [[here]](https://github.com/ManageIQ/manageiq-providers-ansible_tower/blob/master/app/models/manageiq/providers/ansible_tower/automation_manager/workflow_job.rb#L47) looks like it is correct and the error in the tower logs is for a different ID than the one we're refreshing, do you see any logs for `workflow_job` `18447`  which is the one which failed the refr

[2021-05-24 16:28] Fryguy commented on #21042
That's a brilliant idea.  Let me give that a try.

[2021-05-24 17:20] Fryguy commented on #21042
That worked great @jrafanie  - fixed in #21239

[2021-05-24 18:16] agrare commented on #21228
Okay I was able to reproduce this, the issue is https://github.com/ManageIQ/manageiq-providers-ansible_tower/blob/master/app/models/manageiq/providers/ansible_tower/automation_manager/workflow_job.rb#L100 calling `node.job` when node is a `workflow_job_node` rather than a `job_node`

[2021-05-24 19:06] #21042 closed

[2021-05-24 20:11] agrare commented on #21228
Okay the problem is that AWX/Tower is returning a workflow_job ID in the `job` attribute.

This is what my workflow_node looks like:

[code]

You can see in `"related"` that both job and workflow_job are of type workflow_job:
[code]

This breaks our "automatically guess the type based on the name of the attribute" paradigm in ansible_tower_ruby_client.

We can use the summary_fields to find the "t

[2021-05-24 21:24] #21228 closed

[2021-05-25 13:52] Fryguy opened #21240 "Deleting a provider can get stuck in the queue"
Provider delete works by first pausing the provider, waiting for all of the workers to come down, then deleting the provider, in order to prevent continual records incoming while we are simultaneously deleting.

While this works well, when a delete is requested, it is put on the queue, but if the provider delete is in the queue behind many other tasks, it can take a long time before the provider b

[2021-05-27 19:24] NickLaMuro opened #21246 "Convert MiqSet from using RelationshipMixin to using has_many"
`RelationshipMixin` + `ancestry` is currently being used for all of the models that make use of the `miq_set` table:

- `Condition`/`ConditionSet`
- `CustomButton`/`CustomButtonSet`
- `MiqAction`/`MiqActionSet`
- `MiqAlert`/`MiqAlertSet`
- `MiqEventDefinition`/`MiqEventDefinitionSet`
- `MiqPolicy`/`MiqPolicySet`
- `MiqWidget`/`MiqWidgetSet`
- `ScanItem`/`ScanItemSet`

All of the `...Set` models ar

[2021-05-27 19:33] Fryguy commented on #21246
Can you add links to the original PRs from @d-m-u (perhaps as a "previous approaches" or something), now that we have this umbrella issue?

[2021-05-27 19:40] NickLaMuro commented on #21246
@Fryguy yeah, I was thinking that might have been a good idea, but wasn't sure.  Will do.

[2021-05-27 21:49] Fryguy commented on #21246
Added my PoC branch to the OP.

[2021-05-28 15:15] evertmulder opened #21249 "Performance degredation using RBAC in combination with belongsto filters in user groups"
Hi,

we have a good sized ManageIQ environment and are using tenants, groups for our RBAC. We noticed significant performance differences in using ManageIQ as an Admin user or as a regular user. This leads us to take a closer look if the rbac implementation can be the cause of the slowdown.

We had a call with @agrare @Fryguy @kbrock @gubbe505 and myself to discus if we can find the root cause for

[2021-05-28 15:21] Fryguy commented on #21249
cool!

cc @NickLaMuro @kbrock cause of performance.

[2021-05-28 15:26] Fryguy commented on #21249
not based on anything but reading the code, I still think this is the ultimate problem because it walks the tree in a super-inefficient way (rewalks of the tree, in an inefficient way, multiple times in a loop).

https://github.com/ManageIQ/manageiq/blob/4abf8c6ddd9f1985c1264ca407837423695b1dfd/app/models/miq_filter.rb#L56-L67

I'm not exactly sure how to correct this though, since the belongsto i

[2021-05-28 15:35] chessbyte commented on #21249
FYI - IIRC, the join table relating a [Tag](https://github.com/ManageIQ/manageiq/blob/master/app/models/tag.rb) to a polymorphic object is [Tagging](https://github.com/ManageIQ/manageiq/blob/master/app/models/tagging.rb).

[2021-05-28 15:38] chessbyte commented on #21249
also the hierarchical relationship is specified as a [string](https://github.com/ManageIQ/manageiq/blob/4abf8c6ddd9f1985c1264ca407837423695b1dfd/app/models/miq_filter.rb#L43) that is parsed then searched for instead of actual SQL relationships.  It has always been my intent to fix that - but not sure if that is causing the slow queries or the tag lookups or both

[2021-05-28 16:28] Fryguy commented on #21249
there aren't really any literal `Tag` instances here as far as I can tell...they are just named "tag" in the code (in previous iterations I think they actually were tags).

Correct.  Some other example belongsto strings:  https://github.com/evertmulder/miq_rbac_log/blob/29b9f4f89b18bf9856abfe06ef060fc959307754/user_entitlement.txt#L11-L35

The code I referenced (and the outer loop outside this cod

[2021-05-28 17:29] chessbyte commented on #21249
I think that these `belongsto` strings should be converted to polymorphic relationships in a SQL table.  I have never understood why we store them by name via a hacky string parsing mechanism to later parse them and look them up via SQL queries.  Maybe @gtanzillo remembers why they were implemented that way in the first place, but my recollection is that tags were implemented first via the string

[2021-05-28 17:40] Fryguy commented on #21249
Yeah I don't understand why we need the full tree path stored as opposed to just a reference to the leaf node.  This is where my personal understanding of this feature starts to break down.

If we only have the leaf node, we can always reconstruct the path to the root in a much more efficient way (see object2belongsto method) if that full path is needed.

[2021-05-28 18:15] Fryguy commented on #21249
I think I figured out a quick PR that might just provide a lot of benefit...putting it together now.

[2021-05-28 19:46] gubbe505 commented on #21249
@Fryguy sorry, I tested your PR, but isn't working. We have EmsFolder with the same name on multiple VMware providers and by using the find_object_by_name will return a random EmsFolder with that name, but belonging to a different provider.

A few examples.
[code]

Next to that, it the difference isn't a great as expected:
User apivnx.
options done in 3.43 sec.
rbac done in 7.09 sec. (vs 7.39 sec)

[2021-05-28 20:16] Fryguy commented on #21249
Thanks @gubbe505 .  Yeah, I was concerned about duplicate names which is why it's still wip... I'm working on that next

[2021-05-28 20:35] Fryguy commented on #21249
what does "options done in" and "rbac done in" refer to?  What lines did you bookend to count that?

[2021-05-28 20:43] gubbe505 commented on #21249
@Fryguy See the first post, there has a script (rbac_test.rb) and 2 log files. The options done is the time of the query Vm.all, and the rbac done in the RBAC filtering of the result of the Vm.all.

[2021-05-28 20:55] Fryguy commented on #21249
oh i see now - it's in the tool itself (I was looking in the code): https://github.com/evertmulder/miq_rbac_log/blob/main/test_rbac.rb#L8-L16

That's not actually accurate.  `Vm.all` there is a no-op because it just returns a relation (Rails lazy queries) and isn't actually resolved until later inside of the rbac timing section.  I think the time penalty you are paying in options is actually loadi

[2021-05-28 21:27] gubbe505 commented on #21249
New baseline tests (3x)
options done in 3.31/3.30/3.25 sec (3.3 average)
rbac done in 3.07/4.23/3.46 sec. (3.5 average)

New PR tests (3x)
options done in 3.10/3.51/3.11 sec. (3.3 average)
rbac done in 2.36/2.18/.254 sec. (2.4 average)

Still the same warnings because of the find_object_by_name, but an improvement of about 30%.
Sound like a good start!

[2021-05-28 21:55] Fryguy commented on #21249
I updated the PR with _I hope_ handling for duplicate names as well as being under the correct EMS.

[2021-05-31 18:14] gubbe505 commented on #21249
@Fryguy, @kbrock, @chessbyte, @evertmulder New tests after update of PR. This time around I included tests on different datacenters to see the impact of database latency.

# Baseline/Pod and DB in same datacenter
Number of VMs 26
options done in 3.25/3.00/3.01 sec. (3.1 average)
rbac done in 2.34/2.43/2.49 sec. (2.4 average)
Lines in SQL logfile: 641

# PR changes/Pod and DB in same datacenter
Num

[2021-05-31 18:15] gubbe505 commented on #21249
Test is on a larger Tenant
# Baseline/Pod and DB in different datacenter
Number of VMs
options done in 3.26/3.18/3.11 sec. (3.2 average)
rbac done in 3.55/3.42/3.58 sec. (3.5 average)

# PR changes/Pod and DB in different datacenter
Number of VMs 475
options done in 3.06/3.29/3.26 sec. (3.2 average)
rbac done in 2.88/2.78/2.88 sec. (2.8 average)

# Conclusion
No bigger difference when filtering a

[2021-06-01 14:47] agrare opened #21253 "Openshift Refresh Worker not restarted after auth changed"

[2021-06-03 12:54] Fryguy commented on #21253
That's weird - I thought this was part of the base worker logic.

[2021-06-03 12:58] agrare commented on #21253
Yeah I saw what could have been this on a live system but didn't have time to track it down and confirm so just created this to try to reproduce on my own system.

[2021-06-03 15:51] Fryguy commented on #21249
@gubbe505 When you have a chance can you give #21258 a try - this is a really simple refactoring that might have a huge impact, but maybe not on the pages you are looking at, so click all around.

[2021-06-04 14:25] kbrock commented on #20829
cockpit will then run various services to administer this server.
I need to look a little closer to see if our goal is to run the bridge, which allows us to skip security. we may have wanted to do this since we can use our user look up tables to lookup security and not rely upon the os... not saying this is the way we want to go but offering a guess as to the intent.

I don't think we want this ru

[2021-06-04 19:32] chessbyte commented on #21179
@agrare is this [validate_reboot](https://github.com/ManageIQ/manageiq-providers-ibm_cloud/blob/master/app/models/manageiq/providers/ibm_cloud/power_virtual_servers/cloud_manager/vm.rb#L40) valid?  Is it for `reboot_guest`, `reset` or another operation?

[2021-06-10 17:40] chessbyte commented on #21141
Closing due to lack of response.   Please re-open, if needed, with more details.

[2021-06-10 17:40] chessbyte commented on #21142
Closing due to lack of response.   Please re-open, if needed, with more details.

[2021-06-10 17:40] #21142 closed

[2021-06-11 17:31] mikebutak opened #21270 "RFE: Add ability to enable hot add for vmware during provisioning of vms"
Can you please add the ability to enable hot add for vmware during provisioning of vms? @agrare

[2021-06-14 13:41] agrare commented on #21270
Implemented by https://github.com/ManageIQ/manageiq-providers-vmware/pull/725

[2021-06-14 13:41] #21270 closed

[2021-06-14 16:00] agrare commented on #21179
@chessbyte looks like `validate_reboot` is only used by `Host`, and that instance in the powervs vm class is not valid since it already has `supports` for reboot_guest and reset

[2021-06-16 19:51] kbrock commented on #20091
2 works arounds provided.

[2021-06-16 19:51] #20091 closed

[2021-06-17 09:20] sunny007007 opened #21282 "observing some issue in quota management part and catalog part of manageiq"
Hello Team manageIQ,

I have few observation in quota management part and catalog part of manageiq, and i see it is very unstable for production and usecase like when we have multiple tenants. Please find my observations on the same:

I. Quota part:

1. In thread when we are ordering two or more VMs and approving the VMs almost in same time then the quota tenant part is not correctly updated.
2. w

[2021-06-17 09:24] sunny007007 opened #21283 "getting issue in qouta management part of manageIQ"
Hello Team manageIQ,

One observation on quota management part of manageIQ, and it is creating a problem for me now.

you can see the screenshot shared, few minutes back fnsp tenant quota was showing 2cpu and 4gb and 30gb inuse , but now inuse column suddenly become 0.

And whatever quota was showing in inuse column of fnsp is automatically updated in fnpr tenant quota, in screenshot u can see it

[2021-06-17 09:26] sunny007007 commented on #21283
![image](https://user-images.githubusercontent.com/40805574/122369769-1e872600-cf7c-11eb-8334-cdf51d118762.png)

[2021-06-21 19:40] gabrieletosca commented on #21199
Hi guys,
I'm here to re-open this issue, I have already this problem, this is the error for the latest operator (screen attached)
The strange case is that jansa is working... My cluster k8s is at version: 1.21.1_1519 and the nodes: 1.21.1_1520

When i use latest-kasparov the operator is deployed but when I trying to deploy manageIQ it fail with similar error:

`Failed to pull image “manageiq/manag

[2021-06-21 20:40] agrare opened #21288 "Vm features suspend, start, and stop are implicitly enabled by the base VM class"
The base `Vm` class has `supports :feature` with similar blocks which check for `supports_control?` and `vm_powered_on?` [[ref]](https://github.com/ManageIQ/manageiq/blob/master/app/models/vm/operations/power.rb#L9-L25)

The issue with this is that if an instance has everything that `supports_control?` requires then it will automatically support these features.

An example of this is the Kubevirt

[2021-06-21 21:28] bdunne commented on #21199
I'm able to pull latest, is your podman/docker client up to date?
[code]

[2021-06-21 22:26] gabrieletosca commented on #21199
I think yes... I am using a kubernetes cluster on IBM cloud with 3 nodes, I think it is up to date anyway, if you know tell me how to verify I will confirm

[2021-06-23 16:33] GilbertCherrie opened #21294 "Time Profile Days/Hours Data Format"
When trying to post data to the Time Profile table the days and hours are being sent as strings where as the api expects symbols :days and :hours. This results in an error when creating a new time profile with a new react form. The days and hours selected on the react form are ignored and the time profile is created with all days and hours selected. Below is an image with the api request data. The

[2021-06-23 16:36] Fryguy commented on #21294
I think this is related to https://github.com/ManageIQ/manageiq/issues/17201, where the TimeProfile API is presenting the serialized profile column as Strings, but the backend is expecting Symbols.  Some possible fixes to move forward

- Tactical fix: Change the API code to be aware of and write Symbols
- Medium term fix: Change the backend code to be aware of both Symbols or Strings, or just chan

[2021-06-23 17:28] kbrock opened #21295 "lock down all configuration files with passwords"
## Overview

There are a number of configuration files that have sensitive data.
Some of these files are accessed by edited in It seemed like an easy task to `chmod 640` or `440` them but they are edited and accessed from a number of different repositories.it seems that consolidating this logic makes the most sense.

## Goal

- Reduce the number of components that manipulate these protected files

[2021-06-23 19:07] Fryguy commented on #21295
I'm wonder if this line can go away because (I thought) we call bin/setup during the rpm build, and bin/setup should be doing this file copy already.  At a minimum that would get rid of this bullet and essentially collapses it into the environment.rb section.

---

HA admin and appliance_console are appliance-specific.  fix_auth is kind of in the same bucket, but has development use cases, but I c

[2021-06-23 20:09] GilbertCherrie commented on #21294
Another API issue, the API currently allows time profiles with duplicate names

[2021-06-24 13:21] Fryguy commented on #20394
I know it's briefly mentioned in #21295 , but ha-admin also seems to write to the evm.log, which probably affects your logger problem?  I'd be ok if that became a dedicated log file: https://github.com/ManageIQ/manageiq/blob/ffe06f327382099773b7d124a139aa1756b2f93c/lib/evm_database.rb#L168-L179

[2021-06-24 20:15] Fryguy commented on #20394
Changed the title slightly so I can search the word "root" on the projects board 😆

[2021-06-24 20:50] Fryguy commented on #20829
Wonder if it's mostly because we never merged https://github.com/ManageIQ/manageiq-pods/issues/97

[2021-06-24 20:51] Fryguy commented on #20829
To be more accurate, we don't have apache in the pods either, so that makes sense.

[2021-06-24 21:47] Fryguy commented on #20829
So I dug into this with @jrafanie and this is how it works, more or less:

The cockpit integration is more or less like a remote console where users can proxy cockpit traffic to some other machine (in our case a Vm, Host, or a ContainerNode) _through_ the appliance that has the cockpit role.

When someone turns on the cockpit role, a thread is started (used to be a full blown worker, but now it's

[2021-06-25 02:47] kbrock commented on #21295
Would be nice if we had a set of tools that we use to get things up and running in both development and production rather than having different tools for each. Not saying we need much of the appliance console cli in development. Just saying that it would be nice if in development we used the same means to setup a region or replication and stuff like that.

This is used by developers or support whe

[2021-06-25 03:03] kbrock commented on #21295
a. I agree that is should not blindly blow away the cable.yml file. Not totally sure who's job it is to make sure that file exists.

b. When we build an appliance, we install the rpms and then on first boot, the appliance console creates v2_key and other files. These are config files and not controlled by our rpm. The v2 key is different for all installations so it can not be shipped with an appli

[2021-06-25 13:13] #21240 closed

[2021-06-25 13:42] jrafanie commented on #20829
Just to clarify, `which` exists in the podified cockpit worker (a thread in the server's monitor code) but apachectl doesn't:

[code]

[2021-06-25 14:45] jrafanie opened #21299 "Support running logical replication locally for easier development"
- [x] Document existing way to [test logical replication with migrations](https://github.com/ManageIQ/guides/pull/467) using multiple appliances
- [x] Subscriber? was always true for intracluster replication, so [use publisher? first to better identify the replication type](https://github.com/ManageIQ/manageiq/pull/21286)
- [x] Enhance subscriber? to fix prior issue by [allowing an optional databa

[2021-06-25 17:09] #21253 closed

[2021-06-28 12:39] djberg96 commented on #19659
Closing this out for now. Can re-open if desired.

[2021-06-28 12:39] #19659 closed

[2021-06-28 19:22] kbrock commented on #21246
These seem related but I don't see where you updated them

- https://github.com/ManageIQ/manageiq/blob/master/spec/models/account_spec.rb#L71
- https://github.com/ManageIQ/manageiq/blob/master/spec/models/account_spec.rb#L96

[2021-06-28 20:38] NickLaMuro commented on #21246
@kbrock in what way?  Is there a failing test?  I did modify those methods in my main `manageiq` PR:

https://github.com/ManageIQ/manageiq/pull/21241/files#diff-2e3a2f2db789a5c1a18b23bbd3fddef42264ec95a088db2f7e6c5adf48e6e777R124-R127

So not sure what you are asking.

[2021-06-29 14:05] chessbyte commented on #21288
@agrare @Fryguy wondering if the class method meaning should be whether the feature is even possible, while the instance method would check other conditions such as control and ems presence.

[2021-06-29 16:02] Fryguy commented on #21294
This is a model problem, IMO - there should probably be a validation on the model to not allow duplicates.

[2021-06-29 18:47] agrare commented on #21172
@szajac01 we saw this recently and it turned out to be due to a backup/recovery product doing a vsphere vm reconfigure to put a NIC on a non-existing LAN (aka the MOR they specified didn't exist).  This meant that the MIQ lookup failed which was correct because that LAN didn't exist.  Everything continue on successfully after this so was not a bug.  I'm going to close this but if you continue to s

[2021-06-29 18:47] #21172 closed

[2021-06-29 19:51] bdunne opened #21312 "Add New Provider "Type" menu fails to load, 504 gateway timeout"
Opening on behalf of @gabrieletosca

![image](https://user-images.githubusercontent.com/651659/123849304-a3f8c780-d8e6-11eb-9336-11fd4161f486.png)

Log from webservice pod:
[code]

[2021-06-29 19:52] bdunne commented on #21312
@kavyanekkalapu Have you seen this issue on `master`?

[2021-06-30 13:27] agrare commented on #21312
I'm seeing this for a number of pages on a master appliance `20210629000111_943df67`

All requests to the API via the apache route hang, I can hit the internal API just fine though.

[2021-06-30 13:55] bdunne commented on #21312
hmm... I didn't try hitting the api directly.  I assumed that the long running requests were eating up all of the threads.

[2021-06-30 18:32] jrafanie commented on #21312
two api requests to the notiifcations endpoint within the same tenths of a second sounds like a constant problem to me...

[code]

[code]

[2021-06-30 22:03] jrafanie commented on #21312
Can anyone who's seeing this issue try out this PR: https://github.com/ManageIQ/manageiq/pull/21314 ?

[2021-06-30 22:56] agrare commented on #21312
Hey I think that did it :tada:

[2021-07-01 14:56] #21294 closed

[2021-07-01 16:44] jrafanie commented on #21312
Ok, I'm going to close this issue as https://github.com/ManageIQ/manageiq/pull/21314 was merged and seems to be a cause of at least one of these issues.  Please reopen if we are still seeing this issue.

[2021-07-01 16:44] #21312 closed

[2021-07-02 21:36] jrafanie opened #21320 "DescendantLoader - sti_loader.yml - use autoload_paths instead of app/*?"
* Why  is `app/models` [in core](https://github.com/ManageIQ/manageiq/blob/432dc6c2148b66ea7d39bc3522907d6eb31b7a57/lib/extensions/descendant_loader.rb#L203) and `app` [in plugins](https://github.com/ManageIQ/manageiq/blob/master/lib/vmdb/plugins.rb#L112).  Plugins were originally [app/models](https://github.com/ManageIQ/manageiq/commit/67ca0fa44fee914ca43a05999ee631ee8c44f588) but were changed to

[2021-07-06 13:05] agrare commented on #21320
I wonder if this might be the cause of `ManageIQ::GraphQL` sporadically showing up in the sti_loader.yml https://github.com/ManageIQ/manageiq-rpm_build/pull/162#issuecomment-873313242

[2021-07-06 14:44] Fryguy commented on #21320
DesendantLoader is really only originally in place because we don't eager load our code and so Rails can't know all the subclasses of a model for STI.  So, we parse the Ruby code ourselves, build a dependency tree, then when a model is loaded we also load all of the descendants.

So, in that respect, we _only_ need to handle Rails ActiveRecord models.  _However_, now that we've had this Descendant

[2021-07-06 19:03] NickLaMuro commented on #20900
Closing this as I think the above PR that was merged in Feb solves this issue.

[2021-07-06 19:03] #20900 closed

[2021-07-06 21:47] jrafanie commented on #21320
tldr; I agree with others, I think we only care about autoload paths.  Therefore, we have some extra paths (ones in plugins app/* that are not in the autoload paths) and could have some missing ones, core 'lib' directory, and either autooloadable code outside of app in plugins OR missing autoload paths if we switch to autoload paths.

So, I believe this boils down to what descendant loader does fo

[2021-07-07 11:34] zigaSRC commented on #21085
@kavyanekkalapu Could you please take a look at this one when you get the chance? Thanks :)

[2021-07-07 20:41] kbrock opened #21323 "Run provider services as user `manageiq`"
part of https://github.com/ManageIQ/manageiq/issues/20394

Refresh and metrics are straight forward workers that can be run as user manageiq
We were running services as manageiq group to ease into the transition, but so far they all seem to be running fine as the user.
Now running as user managiq, we no longer need to set the UMask

- [x] https://github.com/ManageIQ/manageiq/pull/21324
- [x] https

[2021-07-12 14:03] kbrock commented on #21323
thanks brandon

[2021-07-12 14:03] #21323 closed

[2021-07-13 20:26] #21192 closed

[2021-07-16 01:30] kavyanekkalapu commented on #21085
@zigaSRC I tried automation task approval in kasparov env, seems working for me , not able to reproduce it.

<img width="1530" alt="Screen Shot 2021-07-15 at 9 27 59 PM" src="https://user-images.githubusercontent.com/37085529/125878016-82fbe76d-ff2b-4f63-b70c-cc9285c98c0d.png">

[2021-07-16 06:31] zigaSRC commented on #21085
@kavyanekkalapu It did work for us for a while as well, then at some point it started to cause problems. Is it possible something wasn't cleaned up properly? Where could I check if there's a rouge session left over from a while ago that would prevent editing the requests? Is there some table in the DB?

[2021-07-16 12:57] kavyanekkalapu commented on #21085
@zigaSRC When the error occurs, could you grab a server log?

[2021-07-16 13:16] zigaSRC commented on #21085
@kavyanekkalapu Look at 2021-07-16T15:08:18.845175 for the aborted message.
[evm.log](https://github.com/ManageIQ/manageiq/files/6830876/evm.log)

[2021-07-16 20:26] Fryguy commented on #21246
@NickLaMuro Is this done now?

[2021-07-16 20:40] NickLaMuro commented on #21246
@Fryguy yes it is, I will close it now.

[2021-07-16 20:40] #21246 closed

[2021-07-20 20:13] Fryguy opened #21341 "[RFE] Allow adding Embedded Ansible catalog items to a catalog bundle"

[2021-07-20 20:14] Fryguy commented on #21341
@gmcculloug @tinaafitz Do you recall why the current system is limited to not allowing this?

[2021-07-20 21:02] kbrock commented on #21320
I'm assuming when we say `app/models' we mean the `app/models` for every engine.
And I agree with Jason, we are using the descendant loader for STI and not for auto-loading.

Will cutting down the number of files we parse by 50% buy us anything? Do we think we will have a high enough confidence to justify this gain?

### grep

[code]

Blind grep shows 70 files, most of them are models (Job, Worker

[2021-07-21 13:45] jrafanie commented on #21320
We have services and probably button classes and similar things that have multiple grandchildren classes, see: https://github.com/ManageIQ/manageiq/issues/21320#issuecomment-875104004, and these classes have depended on autoload via descendent loader.  It's possible they'll work without loading the complete class hierarchy when one loads but it's also possible that introspection using subclasses,

[2021-07-21 14:10] kbrock commented on #21295
My opinion changed:

We have locked down the directories so I'm not as concerned about making sure the privileges on these directories are correct. The directories also have a chown bit on them, so things should basically be setup correctly without too much fuss.

But I feel the custom files should be created as configuration files in the rpms rather than us coping things around.

[2021-07-21 19:03] jrafanie commented on #21320
Ok, there's tons of stuff not in autoload_paths that possibly should be there, so I think I'll have to review that list to see what needs to be fixed before we can move to autoload_paths.

Switching from `app/*` to autoload_paths drops the number of rb files in the sti_loader.yml from 3740 to 1309.

[code]

Also, there was an [error parsing a file](https://github.com/ManageIQ/manageiq-providers-op

[2021-07-22 07:44] zigaSRC commented on #21085
@kavyanekkalapu Updated to lasker-1, same issue.

[2021-07-22 12:41] kavyanekkalapu commented on #21085
@zigaSRC I will check this week, thanks.

[2021-07-22 18:11] Fryguy commented on #5547
@bdunne Can this be closed with the merge of https://github.com/ManageIQ/manageiq-ui-classic/pull/7266 ?

[2021-07-22 18:38] bdunne commented on #5547
I think we need:
- [X] https://github.com/ManageIQ/manageiq-ui-classic/pull/7266
- [X] https://github.com/ManageIQ/manageiq/pull/21146
- [ ] Schema migration to drop related columns that are no longer used
- [ ] Data migration to remove settings?

[2021-07-22 18:40] Fryguy commented on #5547
:+1: for data migration to remove the settings that were dropped in the other PRs

[2021-07-22 20:16] kbrock commented on #5547
I added a first draft of the db columns in https://github.com/ManageIQ/manageiq/pull/21146

you want me to move the checklist to here?

[2021-07-22 23:07] kbrock commented on #21295
verified with @bdunne

All of these files are locked down by the directory privileges.

At a later time we can circle back and update our rpm spec to mention these files as `config(noreplace)` or something

[2021-07-22 23:12] kbrock commented on #21295
not sure how this one slipped past me.

We do not use `bin/setup` as it is for developers only and sets values differently than a development solution.
at a later time, I would like to change how all our configuration files get set. Since no one changes this, I think it is ok for now.
We'll revisit when we re-evaluate how we want to handle `LINK`, `COPY` and how we put down our default 3 configura

[2021-07-23 14:50] Fryguy commented on #21299
Done!

[2021-07-23 14:50] #21299 closed

[2021-07-26 19:59] kavyanekkalapu commented on #21085
@zigaSRC Is it possible to post the sample request you are trying?

For Example, this is the service request i am trying and it is working for me.

[code]

[2021-07-27 13:01] chessbyte commented on #20027
@agrare Now that #21264 is merged, is this issue done?

[2021-07-28 13:44] Fryguy opened #21351 "BinaryBlob records created during provisioning are purged too early"
See https://talk.manageiq.org/t/state-var-disappears-and-some-error-with-statevarhash/5236

BinaryBlob records created during the provisioning process are created with a resource_type/resource_id pair of nil/nil.  If the purger happens to run in the middle of a provisioning it will detect this as an orphaned record, and remove it, breaking the provisioning.

[2021-07-28 18:54] agrare commented on #20027
Currently this is a configurable option defaulted to off.  I think we want to wait until this is at least default to mark this done

[2021-07-28 22:59] NickLaMuro commented on #21341
So, looks like the investigation is short for this one, mostly because I found "where" it was excluded, but not "why":

- https://www.pivotaltracker.com/n/projects/1937537/stories/141220225
- https://github.com/ManageIQ/manageiq-ui-classic/pull/613
- https://bugzilla.redhat.com/show_bug.cgi?id=1439884
- https://bugzilla.redhat.com/show_bug.cgi?id=1448283

Looks like we will still need some insight

[2021-07-29 12:41] chessbyte commented on #21341
From https://bugzilla.redhat.com/show_bug.cgi?id=1448283,
[code]

From this, I gather that we removed it because we could not support it at the time.

[2021-07-29 14:15] NickLaMuro commented on #21341
@chessbyte yes, again, the question we are having is "why?".

If the restriction is strictly because of the specifics of the AWX/Tower implementation of `EmbeddedAnsible`, then I don't see a reason why this restriction needs to stay in place.  However, if it is something related to our system in general, then I wouldn't feel comfortable just removing this limitation.

Unfortunately, none of the co

[2021-07-29 14:57] tinaafitz commented on #21341
Hi @Fryguy, @chessbyte, @NickLaMuro,  I know there was a good reason for the limitation at that time, but I don't recall why.
I'll look into it and will let you know what I find.

[2021-07-29 17:49] gmcculloug commented on #21341
Discussed a little with Tina in the office today. (I know, right!) This was likely based on the fact that the dialog for a catalog item attached to a bundle is never displayed to the end user.  The user would have to attach the dialog to the catalog bundle or create a new dialog that took into account the dialog fields from all the different catalog items on the bundle.

Once this was identified t

[2021-07-29 18:09] NickLaMuro commented on #21341
@tinaafitz @gmcculloug Thanks for the info!

That makes a lot of sense now.  Currently there is no way to create a `EmbeddedAnsible` playbook service without a dialog, so yeah, getting that data into a service (while can be done), isn't immediately obvious or known when it is happening/missing, so I think it would be a debugging nightmare to support.

Possibly if we removed that restriction on Ans

[2021-07-30 16:55] agrare opened #21357 "Configuring internal kafka on an appliance fails"
[code]

[2021-07-30 18:34] Fryguy commented on #21357
Is this maybe a recent permissions change?  cc @kbrock

[2021-07-30 18:41] Fryguy commented on #21100
I didn't see any entry for the now-merged ManageIQ/manageiq-appliance_console#161 in the OP, but I wasn't sure where to add it.

Also, we need a release of the manageiq-appliance_console gem and possibly a bump for it in https://github.com/ManageIQ/manageiq-appliance/blob/master/manageiq-appliance-dependencies.rb

[2021-07-30 18:44] agrare commented on #21357
I thought that as well but I don't think so, appliance_console was running as root and there was no `/opt/kafka/config/keystore` directory.  Once I created that and re-ran the setup it succeeded.  Possibly needs `mkdir -p` to create all parent directories.

Going to look into this some more in a bit, just wanted to get this opened before I forgot :laughing:

[2021-07-30 19:26] Fryguy commented on #21357
Yeah probably just a mkdir -p then.  It probably slipped through the cracks because it probably wasn't tested "from scratch"

[2021-07-30 19:40] agrare opened #21358 "Appliance Console writes database.yml and messaging.yml as root"
When configuring the application via appliance_console the database.yml and messaging.yml are written out as `root:root` with `0600` which means workers aren't able to start up:
[code]

[2021-07-30 19:44] NickLaMuro commented on #21100
cc @bdunne ^

[2021-08-02 10:47] zigaSRC commented on #21085
@kavyanekkalapu sorry for the late response.
Just to be clear I'm talking about automate requests and not service requests. Automation -> Automate -> Requests

Here's a request returned by the API, that is waiting for approval:
`{
    "href": "https://example.com/api/automation_requests/48861",
    "id": "48861",
    "description": "Automation Task",
    "approval_state": "pending_approval",
    "

[2021-08-02 17:29] agrare opened #21359 "Applications Settings on an appliance blows up with Permission Denied"
To reproduce go to the Application Settings on a new appliance

[code]

https://github.com/ManageIQ/manageiq-ui-classic/blob/master/app/controllers/ops_controller/settings/common.rb#L5-L6

[2021-08-02 18:46] #21357 closed

[2021-08-02 20:25] agrare commented on #21359
cc @kbrock

[2021-08-03 19:25] bdunne commented on #21100
I'll release a new version once we merge https://github.com/ManageIQ/manageiq-appliance_console/pull/165

[2021-08-04 13:12] #21358 closed

[2021-08-05 14:44] kbrock commented on #21295
Hoping that just a few `chmod` on directories would fix this would have been very nice. no dice. revisiting this

[2021-08-06 21:10] kbrock commented on #21295
## Facts

- Workers run as `root` or `manageiq` and they need to read all of these configuration files.
- Workers need configuration files to be at least `root 444`, `root.manageiq 440`, `manageiq 400`.
- Only the tools listed above write to these files. The tools currently run as `root` but running as `manageiq` would work, too.
- rpm spec locks down the directories holding these files to `manage

[2021-08-10 21:36] NickLaMuro commented on #20732
Fixed via https://github.com/ManageIQ/manageiq/pull/21298 and https://github.com/ManageIQ/manageiq-ui-classic/pull/7768

[2021-08-10 21:36] #20732 closed

[2021-08-11 14:07] agrare opened #21371 "RPM upgrade before application setup throws backtrace to terminal"
If you don't setup the database prior to running `dnf upgrade` then the script which stops evmserverd dumps this to the terminal
[code]

[2021-08-11 14:15] agrare commented on #21371
We might want to check if the database is set up prior to running this command

[2021-08-11 15:11] Fryguy commented on #20221
Probably should add Amazon Aurora as well (I don't think it's the same APIs as RDS)

[2021-08-11 15:40] agrare commented on #20221
Actually pretty sure Aurora is the same API, it is just a different engine under the RDS service so we would already be picking it up

![Screenshot from 2021-08-11 11-38-59](https://user-images.githubusercontent.com/12851112/129060079-780b2dde-bb91-43fb-9e06-faad40acb58a.png)

[2021-08-11 15:52] Fryguy commented on #21371
I'm curious why evm:update_stop needs environment at all

[2021-08-11 15:53] Fryguy commented on #21371
@bdunne Can you take a look?

[2021-08-11 18:51] kbrock commented on #21359
Fixed by #21355

[2021-08-11 18:51] #21359 closed

[2021-08-12 20:52] kbrock commented on #5547
These columns are gone. Thanks for all the help

[2021-08-12 20:52] #5547 closed

[2021-08-13 17:59] Fryguy opened #21377 "Chopping Block ✂️ 🔥"
This issue is a list of candidates for removal or serious refactoring due to limited demand of the feature crossed with level of effort in maintenance / footprint

Complete removal:
- [ ] Cockpit consoles
- [ ] [v2v](https://github.com/ManageIQ/manageiq-v2v/)  plugin
- [ ] [graphql](https://github.com/ManageIQ/manageiq-graphql/)  plugin
- [ ] IPMI host provisioning

Refactoring / Fixes:
- [ ] oVir

[2021-08-13 18:25] Fryguy commented on #21377
cc @chessbyte @jrafanie @kbrock @bdunne @agrare @NickLaMuro

[2021-08-13 18:26] Fryguy commented on #21377
I'll open up individual issue for the ones we agreed on

[2021-08-13 18:36] Fryguy opened #21378 "Remove cockpit console support"
- [x] https://github.com/ManageIQ/manageiq/pull/21513
- [x] https://github.com/ManageIQ/manageiq-ui-classic/pull/7922
- [x] https://github.com/ManageIQ/manageiq-appliance/pull/326
- [x] https://github.com/ManageIQ/manageiq-rpm_build/pull/181
- [x] https://github.com/ManageIQ/manageiq-schema/pull/613

Built successfully.
Trouble installing it due to ruby 2.7 upgrades on my VM (unrelated, but I can'

[2021-08-13 18:37] Fryguy opened #21379 "Remove v2v plugin"

[2021-08-13 18:37] Fryguy opened #21380 "Remove graphql plugin"

[2021-08-13 18:37] Fryguy opened #21381 "Remove IPMI host provisioning"

[2021-08-23 07:46] szajac01 opened #21392 "state_vars password in clear text in automation.log"
Hi,

We found some lines like this in the automation.log
[----] I, [2021-08-23T08:18:41.985661 #2347:2ada74e89968]  INFO -- : Q-task_id([r120_miq_provision_111]) Reloading state var data: ---
ems_hostname: xxxx
ems_username: xxxx
ems_pass: passisincleartext

those variables comes from ansible vault file, so there is a security problem here from manageiq as manageiq logs bypass ansible vault encryp

[2021-08-23 14:48] Fryguy commented on #21392
https://talk.manageiq.org/t/filtering-sensitive-information-from-automation-log/5500

[2021-08-24 05:54] zigaSRC commented on #21085
@kavyanekkalapu Any new info on this?

[2021-08-24 16:42] agrare commented on #21157
A number of the new providers depend on these pluggable vcr secrets, backporting this to morphy will make the task of backporting these new providers drastically easier.  Adding `morphy/yes?` to these dependent PRs

[2021-08-25 00:05] kbrock opened #21397 "rename evmserverd to manageiq"
[code]

- [ ] https://github.com/ManageIQ/manageiq-appliance/pull/325
- [ ] https://github.com/ManageIQ/manageiq/pull/21396
- [ ] https://github.com/ManageIQ/manageiq-documentation/pull/1597

### verify:

- [x] `systemctl start manageiq` works
- [ ] `systemctl start evmserverd` works

[2021-08-25 00:10] kbrock commented on #21397
## YAY

[code]

## Boo

[code]

[2021-08-25 16:36] kbrock commented on #21397
looks like this will work if we:

[code]

[2021-08-30 13:33] kavyanekkalapu commented on #21085
@zigaSRC Could you delete cache, history and cookies once and try?

[2021-08-30 13:45] zigaSRC commented on #21085
@kavyanekkalapu Nothing changed. As soon as I start typing a reason the "edit aborted" message appears.

[2021-08-31 13:42] iv1111 opened #21411 "AnsibleRunnerWorkflow instance stays in state 'running' if the "ansible-runner" application is missing/inaccessible."
If _ansible-runner_ application is missing or otherwise inaccessible then the workflow ends with an exception:

[code]

![Screenshot from 2021-08-31 15-28-37](https://user-images.githubusercontent.com/69972357/131514270-b44c1b72-83f1-4675-8585-d78319f84617.png)

Although the workflow finishes, the state of the corresponding Job stays as "running". The following lines
https://github.com/ManageIQ/ma

[2021-08-31 14:12] pgsousa opened #21412 "Cannot create openstack cloud tenant, manageiq tries to communicate through internal_api network"
Hi,

when trying to create a openstack cloud tenant on MIQ, it gives the following error:

[2021-08-31T10:04:52.489507 #53708:2b045fc7b968] ERROR -- evm: MIQ(MiqQueue#deliver) Message id: [2000001239934], Error: [Connection refused - connect(2) for 192.168.0.43:35357 (Errno::ECONNREFUSED)]
[----] I, [2021-08-31T10:04:52.489644 #53708:2b045fc7b968]  INFO -- evm: MIQ(MiqQueue#delivered) Message id:

[2021-08-31 14:16] agrare commented on #21411
It looks like the order that you hit here is:

1. listener = Listen.to(dir)
2. Thread.new {}
3. yield
4. AwesomeSpawn.run (raises exception)
5. ensure listener.stop
6. listener.start (in thread)

We could `rescue ArgumentError` in the thread block to handle this case (even `listener.start unless listener.stopped` would be a race condition).

Can you try changing `#wait_for` to have this?

[code]

[2021-08-31 14:18] agrare commented on #21412
cc @andyvesel

[2021-08-31 14:22] iv1111 commented on #21411
Sure, I'll test it now.

[2021-08-31 14:37] iv1111 commented on #21411
@agrare It doesn't help to solve the problem. The exception is handled silently but it never arrives to https://github.com/ManageIQ/manageiq/blob/b3aa1350fecac80e21722f560ae9277dce84faa1/app/models/manageiq/providers/ansible_runner_workflow.rb#L42-L43

[2021-08-31 16:15] agrare commented on #21411
@iv1111 I assume that you are getting an `AwesomeSpawn::NoSuchFileError (No such file or directory - ansible-runner)` exception now right?

[2021-08-31 16:21] iv1111 commented on #21411
@agrare it does land in _awesome_spawn.rb:82_  throwing an exception via
`raise NoSuchFileError.new(err.message) if NoSuchFileError.detected?(err.message)`

[2021-08-31 16:41] agrare commented on #21411
@iv1111 so there is no exception handler in the `#execute` method which is why it is "stuck" can you try applying the changes from https://github.com/ManageIQ/manageiq/pull/21414/files ?

[2021-08-31 18:12] agrare commented on #21397
Yeah it looks like until we `systemctl enable manageiq` (currently we have evm_watchdog start it) we won't have the alias for `evmserverd` available

[2021-09-01 10:55] iv1111 commented on #21411
@agrare It does fail now but with the following message:

![val](https://user-images.githubusercontent.com/69972357/131659623-22ebded6-bea1-4882-857b-5b174e826c08.png)

[2021-09-01 13:00] pushan9 opened #21416 "SAML : Not working with ADFS 3.0"
Hi,

I have integrated my ManageIQ env with ADFS for SAML authentication, however its not working.
Its comes back to  https://manageiqporta/saml2/postResponse and gives below error.
"This server could not verify that you are authorized to access the document requested. Either you supplied the wrong credentials (e.g., bad password), or your browser doesn't understand how to supply the credentials r

[2021-09-01 13:53] agrare commented on #21411
Ah right, fixed

[2021-09-01 15:06] iv1111 commented on #21411
It fails as supposed to. The only minor thing being, it outputs:

`Failed to run ansible playbook: No such file or directory - ansible-runner`

I have not deleted/renamed my _ansible-runner_ application, I've just removed the +x flag from the executable but it's still there.
E.g. my bash replies in such case with:

` /usr/local/bin/ansible-runner: Permission denied`

How does it infer the first er

[2021-09-01 15:27] #21411 closed

[2021-09-01 15:52] agrare commented on #21411
@iv1111 because we run `ansible-runner` which looks it up on your `PATH`.  If the file isn't executable it won't show up on `PATH`.
Try running `ansible-runner` instead of `/usr/local/bin/ansible-runner`

[2021-09-01 16:00] iv1111 commented on #21411
I expected that too but it's kind of weird that my _bash_ does find the executable under even though I removed the _exec_ flag.
Not important anyway. Thanks for resolving!

[2021-09-01 16:23] Fryguy commented on #21411
This is a Ruby thing.  I don't think they differentiate between permission denied and missing file.  Either way we get `Error:ENOENT`

[2021-09-01 16:27] agrare commented on #21411
[code]

:shrug:

If it had an executable bit at one point your session is probably caching it, where we have a clean environment in AwesomeSpawn

[2021-09-01 17:57] Fryguy commented on #21411
Oh so they do differentiate - how strange...locally I used backtick execution and couldn't get it to happen, but you might be right on the caching

[2021-09-01 19:08] Fryguy commented on #20955
Done!

[2021-09-01 19:08] #20955 closed

[2021-09-01 19:09] NickLaMuro commented on #20955
Yes, this was resolved by #21271 as we discussed offline.

[2021-09-02 07:07] pushan9 commented on #21416
I fixed the above issue however now I am getting authentication failure, and in logs getting.

Authentication failed for userid mycorpid, unable to match user's group membership to an EVM role

user is created and group is mapped

[2021-09-07 20:17] kbrock commented on #21223
Metrics capture run cleans up old tasks
https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/base_manager/metrics_capture.rb#L79

But this just puts jobs onto the queue:
https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_task.rb#L346

[2021-09-07 20:23] kbrock commented on #21223
Punting a little on this one.

The task is for run for VMWare to create a cluster rollup entry.
This task entry is created with a list of VMs. When the list of VMs processed is equal to the total number of VMs processed, it will create the rollup entry.

Since the metrics to be rolled up are only valid for 4 hours, this task deletes old rollup tasks.

This task can be moved from the collect proces

[2021-09-08 02:43] zddeems opened #21419 "appliance_console on db-only node incorrectly displays region 0 regardless of actual region used"
While configuring for HA, created the empty database... result every time shows vmdb\_production / 0.  Create the region from another node, give it a nonzero number, appliance\_console will continue showing region 0 on the db node.  Given the appliance nodes properly display the region, this is both confusing for sysadmins, and likely just a variable initialization issue.  NOTE: Replica always sho

[2021-09-08 02:52] zddeems opened #21420 "When configuring for HA, Web UI only ever shows one server under Settings -> Application Settings"
I typically configure 2 display nodes and 2 worker nodes.  On CFME 5.11, all 4 servers show in the configuration, and all four servers are configurable.  In ManageIQ / Infrastructure Management 2.3.0, only one of the servers shows.  When building via appliance\_console\_cli, the first node is the one that won out.  When building manually via appliance\_console, the last server to join the region i

[2021-09-08 10:25] pushan9 commented on #21416
I have fixed most of the issue now and able to login to portal, however its not allowing to login to self_service protal.
I am getting authentication failed over there, any help would be really appreciable

[2021-09-09 15:00] Fryguy commented on #20221
Done!

[2021-09-09 15:00] #20221 closed

[2021-09-09 16:53] Fryguy commented on #21392
@NickLaMuro Is this basically done now, or does the new secret_filter method need to beused here: https://github.com/ManageIQ/manageiq-automation_engine/pull/481/files#diff-de97e94b20964f6279c84e58459559cb8e2a8f16d77613899593500e4727c9a1R26

[2021-09-09 16:55] Fryguy commented on #20221
@agrare Leaving this on Najdorf, because it hasn't been backported yet.  Once backported fully we can move to Morphy.  (We can also filter what hasn't been backported by searching for milestone = morphy && roadmap == najdorf)

[2021-09-09 18:40] jrafanie commented on #21420
@zddeems can you provide examples with screenshots of what you mean?    What CLI did you run and what does it look like in the UI that looks right in 5.11/ivanchuk and wrong in IM 2.3/lasker?

[2021-09-09 18:43] jrafanie commented on #21420
Note, I think you are talking about logical replication / central region/remote regions / central administrattion and not HA.  HA should only for the postgresql database and not the "servers"  seen in the web UI.  I might not be understanding what you're seeing though.

[2021-09-09 18:45] jrafanie commented on #21419
Is this similar to this other issue with the improper display for HA primary and standbys?
https://github.com/ManageIQ/manageiq-appliance_console/issues/164

Can you show examples of what we need to fix?  Thanks!

[2021-09-09 18:59] jrafanie commented on #21216
I think this is all finished now.  Closing.

[2021-09-09 18:59] #21216 closed

[2021-09-09 19:03] zddeems commented on #21420
ah - sorry, yes, you're correct, the HA is just for the DB portion.  I'm referencing joining multiple  display nodes to the region.
![infrastructure management screenshot 1](https://user-images.githubusercontent.com/55251577/132747042-e0484f12-3190-45f5-89db-9286c225a687.png)
![remmina_Tucson Jump Box_9 11 44 88_202193-19842](https://user-images.githubusercontent.com/55251577/132747215-3c20fc30-5a

[2021-09-09 19:08] zddeems commented on #21420
both are configured similarly, with 2 display nodes and 2 worker nodes, but the newer version does not display 3 of the 4 nodes.

[2021-09-09 19:12] jrafanie commented on #21420
Thanks for the screenshots, did you use the same appliance_console_cli commands to setup both environments?  Can you provide that?  Thank you.

[2021-09-09 19:15] zddeems commented on #21420
I can.

[2021-09-09 19:19] Fryguy commented on #21420
@zddeems Can you verify that the /var/www/miq/vmdb/GUID file on each server is different?

[2021-09-09 19:34] zddeems commented on #21420
The CloudForms deployments were all done manually via appliance_console, following Red Hat's HA guide.  The Infrastructure Management deployments were tested both ways.

[2021-09-09 19:39] zddeems commented on #21420
The GUIDs are in fact _not_ different.  How do I generate new GUIDs?

[2021-09-09 19:52] agrare commented on #21420
@zddeems the GUID is what uniquely identifies an `MiqServer` which is why you're only seeing the one.  The GUID is generated on server startup if it doesn't exist already so my guess is you copied the file to another appliance or cloned the whole appliance and the file was there already.

Try stopping the server (`systemctl stop evmserverd`), removing the GUID (`rm /var/www/miq/vmdb/GUID`), then s

[2021-09-09 21:16] chessbyte commented on #21420
@zddeems any updates on the suggestion above?

[2021-09-09 21:26] NickLaMuro commented on #21392
@Fryguy Ah yes, I was waiting to do that until after the other two were merged.  Will throw together a quick PR.  Thanks!

[2021-09-09 21:33] NickLaMuro commented on #21392
@Fryguy https://github.com/ManageIQ/manageiq-automation_engine/pull/482

[2021-09-09 21:35] zddeems commented on #21420
re-building the cluster.  Will have an update shortly.

[2021-09-09 21:43] Fryguy commented on #21392
Merged...and done!  I feel like this should come back to morphy, so I'll mark them.

[2021-09-09 21:43] #21392 closed

[2021-09-10 13:15] #21420 closed

[2021-09-14 14:46] chessbyte commented on #21175
presumably, when a worker is killed by Kubernetes for whatever reason, a new one is started.  Therefore, wondering if worker startup is a good time to check for orphaned tasks.

[2021-09-16 14:57] jrafanie commented on #20432
Note, this was resolved with https://github.com/ManageIQ/manageiq/pull/20992

[code]

[2021-09-16 14:57] #20432 closed

[2021-09-16 15:47] jrafanie commented on #21419
@zddeems Can you provide an example screenshot of where you're configured with a non-zero region and it still showing 0?

[2021-09-16 19:55] jrafanie commented on #21175
yeah, I'm thinking we should delete the prior worker row with the same name (system_uid/GUID) before we try to create it in the run_single_worker and that would trigger the clean deletion of messages and erroring out of tasks that were in flight.

[2021-09-17 18:57] rspagnola opened #21444 "Applying tags to objects with high tag count causes cpu spike and tags don't apply"
Description of problem:
An issue has been discovered when applying tags to an object that has 50+ tags where the bulk reassignment causes the cpu to spike and in most instances it either takes 5+ minutes for the tag to apply or the tag doesn't apply at all.

Version-Release number of selected component (if applicable):
5.11.11

How reproducible:
Always

Steps to Reproduce:
1. Apply a tag to an obj

[2021-09-17 19:01] rspagnola commented on #21444
During troubleshooting we performed a db vacuum and also disabled evmserverd on the database appliance and this did not resolve or provide any relief to the high CPU spike when applying tags. In the logs we can see the bulk reassignment when the tags are saved.

[2021-09-17 19:12] Fryguy commented on #21444
@NickLaMuro can you take a look at this one?

[2021-09-21 00:22] kbrock commented on #21444
aside: when we join to taggable we bring back way too many records. Rails is a little funny about how they handle the associations with a through.

The through tends to bring back every association even when we want to limit to just a particular tag.

[2021-09-23 15:59] jrafanie opened #21453 ""Cannot connect to the database!" printed when whenever running rake specs"
Starting with https://github.com/ManageIQ/manageiq/pull/21405/files, we started to log as part of initialization if the db was connectable, but since we try to connect as part of the default spec pre-req with a bogus db, it always fails when running rake tasks in the spec namespace.

From @jaywcarman:

[code]

@agrare found that's it's because we're trying to connect with `not_existing_db` db name

[2021-09-27 19:06] #21223 closed

[2021-09-27 21:36] jaywcarman opened #21461 ""Recently Discovered VMs" dashboard report sorts by creation date instead of discovered date"
The ootb "Recently Disovered VMs" widget sorts by `ems_created_on` (date VM was created, which may or may not be populated depending on the provider) instead of `created_on` (built-in, thus always populated date the VM DB record was created).

https://github.com/ManageIQ/manageiq/blob/master/product/reports/100_Configuration%20Management%20-%20Virtual%20Machines/070_Newest%20VMs.yaml#L12

I can th

[2021-09-28 14:32] jrafanie commented on #21444
@rspagnola 👋  having [level_rails](https://github.com/ManageIQ/manageiq/blob/e98eb0f1bf54168342f8f2549305252802c0d386/config/settings.yml#L859) debug logs would be great.

[2021-09-28 15:31] NickLaMuro commented on #21444
Quick update here:

I had been working on getting some kind of reproducer based on just the information provided here, and got that mostly in place as of yesterday and last Friday.

After a chat today, we might have also identified a fix for this in `manageiq-ui-classic`:

[code]

But need to write a test around it and code up a PR.  Hopefully we will at least have a PR out for `master` later toda

[2021-09-28 15:53] jrafanie commented on #21444
@NickLaMuro I think you're onto something, [this PR](https://github.com/ManageIQ/manageiq-ui-classic/pull/3570) changed the tagging area in the UI to react and first landed in ivanchuk/5.0.  I can't tell if the JSON sent over the wire changed in that PR but it certainly looks like your change is a good change regardless if it's what the user is hitting.

[2021-09-29 16:52] Fryguy opened #21466 "[RFE] Use ansible-runner execution environments as a base for embedded ansible execution"
https://ansible-runner.readthedocs.io/en/stable/execution_environments.html
`docker pull quay.io/ansible/awx-ee`

Execution environments are a way to run ansible-runner tasks in an isolated container.  This may help with our problem of having to keep the python dependencies up to date.  Ideally this would completely remove the need for https://github.com/ManageIQ/manageiq-appliance-build/issues/42

[2021-09-29 16:53] Fryguy commented on #21466
cc @NickLaMuro

[2021-09-29 22:45] kbrock commented on #21466
It also seems that ansible may have already come up with a way of doing something like this since the world is very container centric.

[2021-09-29 22:56] NickLaMuro commented on #21466
That is _**EXACTLY**_ what is being discussed here, and if we can leverage it.

For some context, however, it looks like only `podman`/`docker` is currently supported for container runtimes:

https://ansible-runner.readthedocs.io/en/stable/intro.html#container-based-execution
https://github.com/ansible/ansible-runner/blob/e20b35676d1a1812c1427de7f4de3dcc41ba4eb5/ansible_runner/config/_base.py#L136

[2021-09-30 16:40] Fryguy commented on #21444
Possible fix merged in https://github.com/ManageIQ/manageiq-ui-classic/pull/7880.  As we don't have a direct reproducer though, we're not 100% sure it fixes this issue.

[2021-09-30 17:46] jrafanie commented on #21444
Cool, I didn't see the PR on UI classic.  Nice @NickLaMuro

[2021-09-30 23:10] ereztheodorou opened #21474 "Permissions and roles: adding/removing/editing an ems storage provider shouldn't requires ems_infra premissions"
Currently In order for a role to be able to manage the storage provider ems_infra permissions must be allowed. This should not be the case. MIQ should only require an ems storage permission for managing the storage provider.

In order to work around it ems_infra permissions was given to the storage admin in PR:
This issue is linked to https://github.com/ManageIQ/manageiq/pull/21458
Once this issue

[2021-10-01 12:16] jrafanie commented on #21474
@ereztheodorou once the linked PR is merged, please give me steps I can follow to recreate the issue.  Please provide a storage provider credentials I can use offline.  Thanks!

[2021-10-01 16:48] jaywcarman commented on #21461
I like option 1, since `created_on` timestamp should be present for all VMs in the table. That's what I implemented in #21477

[2021-10-01 17:42] Fryguy commented on #21461
How weird...I had a full response here and it's gone 😱 ... wonder if I never sent it

[2021-10-01 17:44] Fryguy commented on #21461
I'll reply in #21477

[2021-10-01 20:26] #21461 closed

[2021-10-01 21:00] jrafanie commented on #21474
@ereztheodorou Can you confirm this is the error you were hitting?

![image](https://user-images.githubusercontent.com/19339/135685007-04863147-1892-4d67-b29f-51b59d5461ef.png)

My storage user is a physical storage admin:
![image](https://user-images.githubusercontent.com/19339/135685146-585443c1-f388-4778-a216-c585670b9b3d.png)

With [debug logging as suggested in the other PR](https://github.co

[2021-10-04 16:51] jrafanie commented on #21474
Ok, so with @agrare's suggestion, I tried adding a "cloud administrator" and with some problems described later, was able to confirm that amazon has the same problem:

![image](https://user-images.githubusercontent.com/19339/135890765-f7439ba3-2ada-4d92-902b-bc8695ee78a1.png)

[code]

Other problems:
There isn't currently a cloud administrator role or group:
![image](https://user-images.githubuser