[2016-04-21 07:47] himdel commented on #8023
Oh.. [this](https://gist.github.com/amavinag/ee3854987a4964b4589230820f87aa0d#file-anaconda-post-log-L12216_L12232) is the problematic bit - the problem is the version of `npm` - we really need a version newer than 1.*, because some of the Self-Service dependencies can't handle it. (That error is just a warning in npm 3.* .)

So, wherever we're doing that `npm install -g bower gulp`, we probably n

[2016-04-21 07:57] himdel commented on #7801
The problem is that the rpm version of npm is too old - hoping https://github.com/ManageIQ/manageiq-appliance-build/pull/122 should fix it.

[2016-04-21 08:34] tledesma commented on #7723
Yes @sergio-ocon, I'm working on it!

[2016-04-21 09:36] arnikasky opened #8140 "Manageiq doesn't work (version darga)"
Hello
Todat i try to update manageiq to darga version.
Steps:
1.git checkout master
2.git pull
3.git checkout -b darga
4.git branch --set-upstream-to=origin/darga darga
5.git pull
6.rm -f Gemfile.lock
7.bundle install
8.rake db:migrate
9.rake evm:restart
And what I see:
Error caught: [Sprockets::FileNotFound] couldn't find file 'jquery-ujs' with type 'application/javascript'
/var/www/miq/vmdb/app/

[2016-04-21 09:37] arnikasky commented on #8075
Ok, i try new nightly build

[2016-04-21 09:37] #8075 closed

[2016-04-21 09:42] arnikasky commented on #7952
So, i have new error after the latest commits in master

[2016-04-21 09:42] #7952 closed

[2016-04-21 09:42] arnikasky commented on #8140
And in version master I see this too

[2016-04-21 09:58] ammendonca commented on #7383
This is a duplicate for #8016 which has already been fixed.

[2016-04-21 10:34] jrafanie commented on #8140
Try running bin/update. We now need to run bower update too. It's handled by bin/update.

[2016-04-21 10:57] arnikasky commented on #8140
I try run rake app:update, i have new error and can't start manageiq
rake evm:start
rake aborted!
LoadError: cannot load such file -- miq-process
/usr/local/rvm/gems/ruby-2.3.0/bundler/gems/rails-0f8eefa6a581/activesupport/lib/active_support/dependencies.rb:293:in `require'
[darga2_log.txt](https://github.com/ManageIQ/manageiq/files/229753/darga2_log.txt)

[2016-04-21 10:58] arnikasky commented on #8140
oh no, it was wrong command(

[2016-04-21 11:27] himdel opened #8144 "API - internal_server_error when querying service_dialogs with attributes=content"
For example: `http://localhost:3000/api/service_templates/10000000000062/service_dialogs?expand=resources&attributes=content` yields a 500 with the following response..

[code]

Running the same without `attributes=content`, there is no issue. The service_dialog needs to have tabs, otherwise even `attributes=content` works fine.

Exception:

[code]

[2016-04-21 11:53] himdel opened #8146 "ems_cloud - discover credentials always sent even if bad type"
Cloud > Providers > Discover cloud provider

@miq-bot assign himdel

Right now, the form (`ems_cloud/discover.html.haml`) is angular, but the partials for type-specific credentials has `display: none` for all but the chosen one, which means that the fields cannot have the same name, because all of them are always sent.

The solution is easy, need to disable `miqSelectPickerEvent` there, and not sh

[2016-04-21 12:01] PanSpagetka commented on #6627
@dclarizio after PatternFly  conversion we have tooltip on every chart, and we partially fix alignment of CU charts, by moving legend down.

[2016-04-21 13:04] skateman opened #8151 "Undefined method `ticket` for #<Array...> while trying to open a RHEV console"
The `provider_object` called [here](https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/redhat/infra_manager/vm/remote_console.rb#L26) is an array instead of the given object.
![screenshot from 2016-04-21 15-03-29](https://cloud.githubusercontent.com/assets/649130/14709704/62863e8a-07d2-11e6-8324-77d32db323a1.png)

[2016-04-21 13:17] skateman commented on #8075
@arnikasky FYI #8151

[2016-04-21 13:18] kbrock commented on #6230
@carbonin did you already fix this?

[2016-04-21 13:36] Fryguy commented on #8151
cc @blomquisg

[2016-04-21 13:37] Fryguy commented on #8151
somewhere `provider_object` is returning an Array.

@skateman Do you have the stacktrace?

[2016-04-21 13:43] skateman commented on #8151
@Fryguy nope, it's happening inside the worker, but there is only one place where `.ticket` is called in the whole codebase: https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/redhat/infra_manager/vm/remote_console.rb#L26

[2016-04-21 13:46] blomquisg commented on #8151
It looks like the problem tracks back to here:

https://github.com/ManageIQ/ovirt/commit/7ddcf4e07fe30383ce7f2ea6ef3adc4b0bbe0a86#diff-9be2dde14cfe2ea852f52a1c2bc13398R106

[2016-04-21 14:09] carbonin commented on #6230
[This](https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/main/disk_layout.ks.erb) is the existing partitioning scheme.  Is there a particular area you think would be acceptable to move the space from? Otherwise we would have to increase the total size of the image.

[2016-04-21 14:20] jrafanie commented on #8023
@himdel does it fail all the time with the old version of npm?

Do you know anyone who's packaged npm [here](http://koji.fedoraproject.org/koji/packageinfo?packageID=15356).  My guess is they might also have newer npm versions in [copr](https://copr.fedorainfracloud.org/).

[2016-04-21 14:24] himdel commented on #8023
@jrafanie well it's a bit wierd that this is the first time we hear about it.. but I do know that I had to update my npm to be able to do self_service work, so yes, I think it does fail all the time with that version.

I don't know anybody from there, but.. our appliance is CentOS, not Fedora, right? Frankly I know nothing about copr, etc...

[2016-04-21 14:49] blomquisg commented on #8035
@simon3z this might actually be for @abonas, let me know if it's assigned incorrectly

[2016-04-21 14:51] bdunne commented on #8132
Hi Brandon,

The error error: unpacking of archive failed on file /usr/sbin/suexec: cpio: cap_set_file. It seems like the issue lies with AUFS. For this, you would need a newer version of AUFS with support for CONFIG_AUFS_XATTR, and that kernel config option must be enabled). Since the affects all the builds on Hub, I am going to escalate this to our automated build developers and get a fix roll o

[2016-04-21 14:51] kbrock commented on #6230
[code]

@akrzos so I'm reading that we are now only allocate 1G for logs.

The business question @carbonin - Does @jonnyfiveiq / @chessbyte want to ship a bigger image? Or is there waisted space somewhere we can use?
The technical question is: what command can you run to mount a separate hard drive at that location

I know the appliance console does have options to allow a user to add a temp disk.

[2016-04-21 14:52] abonas commented on #8035
@blomquisg this might be for another code repo, please see my questions above for  @rhamilto @jeff-phillips-18 :)

[2016-04-21 14:53] blomquisg commented on #8132
Assigned to @bdunne since he's tracking the external case

[2016-04-21 14:53] jdeubel commented on #7998
https://bugzilla.redhat.com/show_bug.cgi?id=1326955

[2016-04-21 14:57] carbonin commented on #6230
Also our logs are not on the `/var/log` volume because they are in the `/var/www/miq/vmdb/log` directory which puts them in the `/var/` volume which has 2GB.

We could add an option to mount a newly added disk at the log directory, but that would be mounted over existing logs, so we would have to make sure to account for that.

[2016-04-21 14:58] akrzos commented on #6230
@kbrock and @carbonin The issue is with the /var partition, it is only 2GiBs.  We know our application generates a lot of logs which reside in '/var/www/miq/vmdb/log'.  I can't even run a "medium" provider with multiple features turned on without the application shutting down on the partition running out of space in mere hours.

[2016-04-21 15:03] carbonin commented on #6230
So the short term answer would be to add a new disk, partition it, and mount it to the `/var/www/miq/vmdb/log` directory.  This was the solution @kbrock proposed as something we could automate in the appliance_console if we don't want to increase the size of the image we are building.

The large image size is an ongoing issue for running the appliance on platforms that require a raw disk format or

[2016-04-21 15:04] carbonin commented on #6230
@akrzos what size do you think would be a good fit for the type of work you are doing?

[2016-04-21 15:11] jrafanie commented on #8140
@arnikasky Did bin/update work?  Can I close this?

[2016-04-21 15:14] arnikasky commented on #8140
@jrafanie yes, it works.

[2016-04-21 15:18] akrzos commented on #6230
@carbonin We need a size sufficient to allow log-rotating to alleviate disk space concerns.  10GiBs would be great (same as downstream).

Is it on the roadmap for those platforms that don't support thin provisioning to do so in the future?

[2016-04-21 15:48] jrafanie commented on #8140
Thanks @arnikasky

[2016-04-21 15:48] #8140 closed

[2016-04-21 16:06] jrafanie commented on #8023
@himdel Yeah, I don't know.  If we can't get SCL to update npm in a [SCL](https://www.softwarecollections.org/en/scls/rhscl/nodejs010/) or in [EPEL](http://dl.fedoraproject.org/pub/epel/7/x86_64/n/), we have to package it ourselves or not rely on newer versions

[2016-04-21 16:54] infrahub opened #8158 "AMQP connection ignores user-specified AMQP address/port, uses keystone address"
The AMQP connection uses the OpenStack keystone hostname/address rather than what the
user entered in the AMQP tab when adding an OpenStack cloud provider. It also uses the port from configuration rather than what the user entered.

Although this needs review by someone more knowledgeable, if I change event_monitor_options in
/var/www/miq/vmdb/app/models/manageiq/providers/openstack/manager_mixin.

[2016-04-21 16:59] infrahub opened #8159 "AMQP validation reports success in GUI after connection failure"
Launch todays (April 21, 2016) devel appliance build. Go to Compute->Cloud->Providers. Add provider. Pick OpenStack. Enter creds and validate. Click on AMQP tab. Type in bogus hostname and other fields. Press Validate. It succeeds. It should not.

This is not the same as issue as "AMQP validation always returns true", https://bugzilla.redhat.com/show_bug.cgi?id=1265638 pull req 5753. The low level

[2016-04-21 17:01] infrahub commented on #8158
Note that Issue #8159 is related because it hides this underlying problem.

[2016-04-21 17:36] abonas commented on #8103
@miq-bot assign @lucasponce

[2016-04-21 18:35] himdel commented on #8023
@jrafanie well, there's still https://github.com/ManageIQ/manageiq-appliance-build/pull/122, isn't there? I mean, if we're already doing that with bower & gulp, why not npm3?

Though, I we *can* get new npm via one of those, I guess even better.

[2016-04-21 18:42] jrafanie commented on #8023
Thanks, I forgot about that one.  😖

[2016-04-21 19:03] woot4moo opened #8163 "Enable configuration of digest class (FIPS compliance)"
In certain configurations certain digest algorithms may be disabled due to a lack of security with the algorithm regardless of why it is used.  MD5 is a common digest algorithm used for checksumming / signatures however it can be used inappropriately as a security measure due to its nature as a cryptographic hash.

The following code ( https://github.com/ManageIQ/manageiq/blob/5f54016d2d48e229e6cb

[2016-04-21 19:22] #7917 closed

[2016-04-21 21:14] himdel commented on #8023
@jrafanie We *could* possibly reduce the number of npm packages installed on the appliance to the bare minimum needed to run the `build` task and dependencies, which would get rid of `karma*` and `gulp-karma` and eliminate the error this time but .. I don't know, it feels like just postponing the inevitable, there's been changes in the actual meaning of version strings between the major npm versio

[2016-04-21 22:11] dclarizio commented on #8053
@h-kataria can you see if there is some other check being done to prevent the approval button from showing other than the role based feature check?

[2016-04-22 06:26] arnikasky opened #8174 "VNC/Spice console doesn't work"
Hellp
When I open spice/vnc console, i see "Server disconnected 1006" and in production.log:
[----] F, [2016-04-22T02:17:39.643187 #2995:bd937c] FATAL -- : ActionController::RoutingError (No route matches [GET] "/ws/console/b1331b4762a50591561e514f4c4be42a"):
[darga_console.txt](https://github.com/ManageIQ/manageiq/files/231226/darga_console.txt)
Tnx

[2016-04-22 06:33] arnikasky opened #8175 "Troubles with darga_beta"
Hello
I update my manageiq to version darga-beta-1. Firstly, manageiq works slowly, and then i haven't access to manageiq - i have 502 proxy error. And what i see in evm.log(after this i get only "502 proxy error")
[----] E, [2016-04-22T02:06:59.058372 #2664:7bd98c] ERROR -- : MIQ(MiqServer#validate_worker) Worker [MiqWebsocketWorker] with ID: [413], PID: [2971], GUID: [078e4ce4-084e-11e6-a0fd-005

[2016-04-22 08:32] LutzLange opened #8176 "Current master not working with apache on CentOS 7.2.1511"
I tried to get the latest code up and running.
While the evmserverd is reported running, apache fails to come up.

I need apache to access the console.

root@miq apache]# pwd
/var/www/miq/vmdb/log/apache
[root@miq apache]# tail *
==> miq_apache.log <==
[Fri Apr 22 03:56:24.369493 2016] [auth_digest:notice] [pid 6249] AH01757: generating secret for digest authentication ...
[Fri Apr 22 03:56:24.370

[2016-04-22 09:12] arnikasky commented on #8176
Hello,I writed abou this: https://github.com/ManageIQ/manageiq/issues/7952

[2016-04-22 09:32] pilhuhn commented on #8130
There is the little blue arrow next to the section head to pin the menu. It is unfortunately a bit hard to hit (should be larger) and un-pin and pin another section don't work yet reliably for me.

[2016-04-22 09:41] lucasponce opened #8179 "Undefined method path on Hawkular provider"
After rebasing with master it has appeared some errors like this:
ERROR -- : MIQ(MiddlewareServer#first_and_last_capture) Hawkular service unavailable: undefined method `path' for #<#<Class:0x007f18fa7f3c20>:0x007f18fa7f39a0>
That escaped to the spec coverage.

[2016-04-22 09:42] lucasponce commented on #8179
@miq-bot assign @lucasponce

[2016-04-22 09:42] lucasponce commented on #8179
@miq-bot add_label providers/hawkular

[2016-04-22 09:43] lucasponce commented on #8179
@miq-bot add_label bug

[2016-04-22 11:08] lucasponce commented on #8179
@pilhuhn @abonas @Jiri-Kremser small fix to make current code compatible with v022 Hawkular Gem.
Please, could you take a look ?
Probably with v030 I will have to refactor some of the use of the API.
This patch is to make the code works fine with the current v022 version.

[2016-04-22 11:14] pilhuhn commented on #8179
@lucasponce What type is `#<#Class:0x ` - is this a class that lives inside the hawkular client gem?

[2016-04-22 11:18] lucasponce commented on #8179
No, the Class is just a intermediate struct hash to pass some params into the gem api.
As there is some minor gap between fields name between the MiQ Hawkular model and the gem API.
It is not a big deal, I think we can address those in following refinements of gem + MiQ.

[2016-04-22 12:04] #8179 closed

[2016-04-22 13:02] simon3z commented on #7772
Closed by #7775

[2016-04-22 13:02] #7772 closed

[2016-04-22 13:06] fbladilo commented on #7801
@himdel @jrafanie Thanks! I just verified updating npm solves the issue, the procedure proved safer on the docker image with the following order (2 calls) :

npm install npm -g
npm install gulp bower -g

[2016-04-22 13:09] simon3z commented on #6983
Closed with #6914

[2016-04-22 13:09] simon3z commented on #6983
@blomquisg @chessbyte can you close this?

[2016-04-22 13:11] #8067 closed

[2016-04-22 13:30] simon3z commented on #7351
Probably a duplicate of #7610
We'll see when the fix will be available.

[2016-04-22 13:31] simon3z commented on #2842
Addressed in #2991

[2016-04-22 13:31] #2842 closed

[2016-04-22 13:47] abonas commented on #8130
@pilhuhn nice find :) I think typically another icon is used for pinning menus (like [this](https://thenounproject.com/term/pin/1490/) for example) so it was definitely not clear to me. Regardless as you write, it's not working well either...

[2016-04-22 14:02] #5436 closed

[2016-04-22 14:05] epwinchell commented on #3710
Resolved with Patternfly conversion
![screen shot 2016-04-22 at 10 09 31 am](https://cloud.githubusercontent.com/assets/1287144/14743847/c533ce90-0871-11e6-95f2-ced2f575303f.png)

[2016-04-22 14:06] #3710 closed

[2016-04-22 14:10] #2487 closed

[2016-04-22 14:10] epwinchell commented on #2487
Addressed with Patternfly layout conversion

[2016-04-22 14:11] #658 closed

[2016-04-22 14:14] #319 closed

[2016-04-22 17:07] h-kataria commented on #8053
@com6056 from the screenshot above it looks like you are signed in as a limited user not as admin as i do not see all the tabs visible on screen that are normally visible to an admin user. I was not able to recreate the issue with capablanca-2.20160418141857_d083ab5 codebase. Only reason i can think of why you don't see Request Approve/Deny buttons could be that you don't have access to Requests A

[2016-04-22 17:26] rwsu commented on #8067
@gtanzillo, thanks that fixed the to_sql error. I found a second activerecord issue:

[----] E, [2016-04-22T10:24:14.305413 #3874:d39988] ERROR -- : [NoMethodError]: undefined method `sort!' for #<MetricRollup::ActiveRecord_Relation:0x00000017898f70>  Method:[rescue in _async_generate_table]
[----] E, [2016-04-22T10:24:14.305576 #3874:d39988] ERROR -- : /home/rwsu/.rvm/gems/ruby-2.2.2/bundler/gems

[2016-04-22 18:31] carbonin opened #8190 "Refresh replication set tables on advanced configuration save"
The pglogical replication set is not currently updated when the excludes in the advanced config editor are changed.

This can be checked by changing the tables and comparing the new config excludes with the tables listed by `MiqPglogical.new.included_tables` you will see that they will have some tables in common (which should never happen).

@Fryguy I'm not sure where to put this logic.
I don't re

[2016-04-22 18:33] carbonin commented on #8190
As of now if a user wants to change the excluded tables they must do so before they designate the database as a replication `remote` type or they must run `MiqPglogical.new.refresh_excludes` in the rails console after making the change.

[2016-04-22 18:34] carbonin commented on #8190
@miq-bot assign @carbonin
@miq-bot add_label replication, bug

[2016-04-22 18:34] ghost opened #8191 "C & U data collection does not start automatically"
The Capacity & Utilization workers do not start automatically after you change settings to enable data collection. Reboot the appliance and the workers will start. This is with the devel appliance from  April 21, 2016.

The settings used to enable collection were: Settings->Configuration->Settings->Region->Zone->Default and click on the Server: EVM. Scroll down to Server Control and turn ON Capaci

[2016-04-22 18:59] #7829 closed

[2016-04-22 19:44] mkanoor opened #8195 "Buttons cannot be created"
With the latest UI changes, the buttons cannot be created. The form doesn't show up under

Automate -> Customization -> Buttons -> Configuration -> Add a new Button

[2016-04-22 19:57] infrahub commented on #8158
The original proposed fix above is not the right one. It only applies to the connection test but does not fix the hostname for the actual monitoring. Again, someone more knowledgeable should review this, but the following patch seems to be more effective:

[code]

This patch removes the fallback to a hard coded port number, so maybe that part should still be there. It just wasn't clear to me under

[2016-04-23 01:32] metalcated opened #8201 "Error loading vCenter properties"
Downloaded the darga beta 1 ovf, set the hostname, set a static IP. Rebooted. When it came back up I began adding vCenter servers and Cloud providers. Once added, I went to click on the properties of one of the vCenter servers and received the following error:

![error](https://files.gitter.im/ManageIQ/manageiq/XNWr/blob)

Here is a snip from production.log:
https://gist.github.com/metalcated/d422

[2016-04-23 04:24] Fryguy commented on #8201
@martinpovolny Please review...it seems something is routing to `/ems_infra/show/:id` instead of `/ems_infra/:id`.  The latter is what's in `rake routes`.

[code]

[2016-04-23 07:26] martinpovolny commented on #8201
Seems to be more of the restful vs. no restful stuff. @mzazrivec : can you take a look, please?

[2016-04-24 23:32] AparnaKarve commented on #8201
@martinpovolny @mzazrivec I'm currently working on a similar issue (a BZ actually)  and should have a PR out soon.
The PR should cover all the remaining areas in `ems_infra` where restful routes have not been addressed.

[2016-04-25 12:47] abonas commented on #8022
@miq-bot assign @ammendonca

[2016-04-25 12:48] abonas commented on #8103
@lucasponce @ammendonca  if this issue was addressed in a merged code, then it can be closed? please check.

[2016-04-25 12:50] lucasponce commented on #8103
It is pending of this PR https://github.com/ManageIQ/manageiq/pull/8126

[2016-04-25 13:03] epwinchell commented on #3120
Problem resolved with implementation of vertical navigation.

[2016-04-25 13:24] #1685 closed

[2016-04-25 13:25] #3120 closed

[2016-04-25 14:03] #8195 closed

[2016-04-25 14:14] #7383 closed

[2016-04-25 14:15] epwinchell commented on #8098
@skateman Is this related to your Treegrid work?

[2016-04-25 14:22] skateman commented on #8098
@epwinchell let me check

[2016-04-25 14:27] skateman commented on #8098
Nope, this has nothing to do with treegrid, it uses dynatree, so it wasn't even converted. @himdel however promised me to convert this page to angular cca 2 months ago.

[2016-04-25 14:30] epwinchell commented on #8098
@miq-bot assign @skateman

[2016-04-25 14:30] #8144 closed

[2016-04-25 14:36] epwinchell commented on #8098
@skateman promises, promises

[2016-04-25 14:55] abonas opened #8214 "Missing js test for middleware topology js controller"
need something similar to this (but not test again generic stuff, just the ones that are mw specific)
https://github.com/ManageIQ/manageiq/blob/master/spec/javascripts/controllers/containers/container_topology_controller_spec.js

@miq-bot add_label test, providers/hawkular, ui
@miq-bot assign @abonas

[2016-04-25 15:24] himdel opened #8215 "SSUI Console support"
Parent issue: https://github.com/ManageIQ/manageiq/issues/2451

This one is to track what's needed to get consoles into SSUI:

* [x] API changes needed to get the "vm has console?" info under `/api/services/:id` - #8306
* [x] openstack changes to support openstack consoles - #8378
* [x] ovirt-only bug https://github.com/ManageIQ/manageiq/issues/8151 (workaround in #8306)
* [x] UI changes - in http

[2016-04-25 15:27] skateman commented on #8215
https://github.com/ManageIQ/manageiq/issues/8151

[2016-04-25 15:30] himdel commented on #8215
@miq-bot assign himdel

[2016-04-25 15:49] Fryguy commented on #8175
@jrafanie Thoughts here?

[2016-04-25 15:50] Fryguy commented on #8176
@LutzLange Are you using the prebuilt appliance from the website, or rolling you own?  cc @jrafanie

[2016-04-25 15:51] Fryguy commented on #8174
@himdel @skateman Can you help out here?

[2016-04-25 16:03] Fryguy commented on #8190
You might be able to leverage the VMDB::Config::Activator

[2016-04-25 16:17] LutzLange commented on #8176
Hi Fryguy,

I did start out with the OpenStack Nightly as a basis in February. I had to transform this image to run on GCE. This is kind of an involved 22 steps manual process. I did the update the code inside through git pull. And Ari Zellner was kind enought to resolve any issue with that.

This leave me at this stage.

[2016-04-25 16:52] skateman commented on #8174
@miq-bot assign @skateman

[2016-04-25 16:54] jrafanie commented on #8176
I have seen this error before...
[code]

I have googled it before and it didn't seem to have real solution as far as I can see:
https://bz.apache.org/bugzilla/show_bug.cgi?id=55449

Maybe someone with more knowledge of apache would be able to understand this.  Rebooting the appliance isn't a real solution.

[2016-04-25 16:56] jrafanie commented on #8175
It's odd that all the workers are not responding... did ntpdate/chrony run and change the time significantly?

[2016-04-25 17:23] skateman commented on #8174
@arnikasky try to restart your appliance, or change the number of websocket workers in the UI. The consoles are working as a separate process and it should not be available from production.log. The only possible way to see this error is to not have some generated apache config files in `/etc/httpd/conf.d`. Could you please send the contents of this directory?

[2016-04-25 19:03] com6056 commented on #8053
I am logged in as the default Administrator account. When I go to Services->Requests, all the tabs are shown.
![image](https://cloud.githubusercontent.com/assets/5183608/14795367/312da75c-0af6-11e6-93fe-05c506814608.png)
But when I click on an individual request, the other tabs dissapear.
![image](https://cloud.githubusercontent.com/assets/5183608/14795431/7d29d414-0af6-11e6-8cd2-b52913949a38.png)

[2016-04-25 19:42] h-kataria commented on #8053
@com6056 further looking into this,  found out that this was fixed on upstream in sprint 36. capablanca-2.20160418141857_d083ab5 does not contain the fix. If you want to apply the fix, it was fixed in  https://github.com/ManageIQ/manageiq/pull/6351

[2016-04-25 20:05] fbladilo commented on #7801
I was able successfully bring up the SSUI on the docker image, however when doing some basic validation (attempted to login as admin in the SSUI), evm complains is out of AR/DB connections in pool :

evm.log:2016-04-25 19:38:08 +0000: Rack app error: #<ActiveRecord::ConnectionTimeoutError: could not obtain a connection from the pool within 5.000 seconds (waited 5.000 seconds); all pooled connectio

[2016-04-25 21:30] #8098 closed

[2016-04-25 21:31] Fryguy commented on #8201
I just noticed https://github.com/ManageIQ/manageiq/pull/8141 got in, and I think that PR is might fight with your PR @AparnaKarve ?

[2016-04-25 21:35] #7998 closed

[2016-04-25 21:44] AparnaKarve commented on #8201
@Fryguy I was aware of #8141, it addresses the restful routes when switching to grid/tile view.
#8222 (my PR) addresses the links in the Accordions, which is what is being reported in this issue -

` "I went to click on the properties of one of the vCenter servers and received the following error:"`

So, it is a different issue, and we are good.

[2016-04-26 06:14] LutzLange commented on #8176
Is the same issue present in current nightly builds?

[2016-04-26 10:08] vprusa opened #8238 "Unexpected error when adding new middleware server without middleware provider"
When at https://{IP}/middleware_server/show_list# Configuration -> Add a New Middleware Server
Results in URL: https://{IP}/middleware_server/new
 Unexpected error encountered
 undefined method `supported_types_and_descriptions_hash' for #<Class:0x000000023232a8> [middleware_server/new]

![screenshot from 2016-04-26 12-05-20](https://cloud.githubusercontent.com/assets/2094946/14814661/86345546-0ba

[2016-04-26 10:24] vprusa opened #8239 "Wrong error message containing html tags"
On failed validation of endpoint credentials when adding new middleware provider at URL: https://{IP}/ems_middleware/new with "Validate" Button error message is shown:
`Credential validation was not successful: <html><head><title>Error</title></head><body>Unauthorized</body></html>`
![screenshot from 2016-04-26 12-14-35](https://cloud.githubusercontent.com/assets/2094946/14814954/f8a6770c-0ba8-11e

[2016-04-26 10:38] #8238 closed

[2016-04-26 11:21] vprusa opened #8241 "Its possible to add provider with non-numeric port"
Its possible to add middleware provider with invalid Port
![screenshot from 2016-04-26 13-12-20](https://cloud.githubusercontent.com/assets/2094946/14816440/33425450-0bb1-11e6-9050-83c4e8b62083.png)
Adding results in setting Port to 0
![screenshot from 2016-04-26 13-19-00](https://cloud.githubusercontent.com/assets/2094946/14816498/9211d0fa-0bb1-11e6-8e69-c328a84209a9.png)

[2016-04-26 11:37] himdel commented on #7801
Hmm.. [looks like](https://github.com/ManageIQ/manageiq/blob/master/config/puma.rb#L20) we're using 5 threads for puma, so pool 5 *should* be fine?.. I wonder if it could still be that puma deadlock? Or, any chance puma ignores that setting on the appliance for some reason? *Or* do API requests count towards the same limit, given they run on a separate worker IIRC?

[2016-04-26 12:16] vprusa opened #8244 "Feature request: On remove of provider the list of providers should be refreshed"
Remove Hawkular middleware provider
![screenshot from 2016-04-26 14-09-14](https://cloud.githubusercontent.com/assets/2094946/14817666/e6e81c86-0bb8-11e6-838c-2292cf49b460.png)
Confirm
![screenshot from 2016-04-26 14-09-19](https://cloud.githubusercontent.com/assets/2094946/14817668/e9a5d63e-0bb8-11e6-97e0-15c69df9460b.png)
Hawkular Middleware Provider is still in list..
![screenshot from 2016-04-

[2016-04-26 12:33] skateman opened #8245 "Disabled add button when trying to add a new openstack provider"
When I'm trying to add a new OpenStack infra or cloud provider, the Add button remains disabled even if all the required fields are set:
![screenshot from 2016-04-26 14-29-51](https://cloud.githubusercontent.com/assets/649130/14818093/6d9c4b1a-0bbb-11e6-8405-0bb484a621de.png)

[2016-04-26 12:34] skateman commented on #8245
@miq-bot add_label bug, ui
cc @himdel @AparnaKarve

[2016-04-26 13:47] AparnaKarve commented on #8245
@skateman This is not a bug. Check the AMQP tab and you'll see Hostname which is now a Required field.
This issue (which is not really an issue) has been reported before and we are making a few changes around this.
Check out https://github.com/ManageIQ/manageiq/pull/8231. Once this PR gets merged, I think the confusion around the Required field would get addressed.
Thanks.

[2016-04-26 13:50] ProxyManagedServices commented on #6738
Is there any progress on this.

[2016-04-26 14:04] zeari opened #8250 "Chargeback for container projects shows wrong totals"
![14666774-4a19-4784-be0a-9e1e4f566da1](https://cloud.githubusercontent.com/assets/11256940/14820716/78c7e296-0bd0-11e6-9f73-565e253f9e16.png)

The numbers dont quite add up. As far as i can tell "cpu used" should equal "cpu total".
Im looking into the problem but adding this issue for tracking.

fyi @simon3z @sergio-ocon

[2016-04-26 14:07] sergio-ocon commented on #8250
@delaluzparra Please review

[2016-04-26 14:17] donnydavis opened #8252 "Unable to provision VM on ovirt 3.6"
When I try to provision a virtual machine in ovirt 3.6.5.3-1 I receive this error. This is true for the nightly and the beta

 [NoMethodError]: undefined method `create_vm' for #<Array:0x0000000a8ee248>

[2016-04-26 14:27] skateman commented on #8245
Ok, closing this issue!

[2016-04-26 14:27] #8245 closed

[2016-04-26 14:32] Fryguy commented on #7835
Yes

[2016-04-26 14:32] #7835 closed

[2016-04-26 15:22] #8201 closed

[2016-04-26 15:41] jrafanie commented on #7801
@himdel The database connection pool in config/database.yml is the size of the pool per process.

Keep in mind all rack requests that hit the rails query cache middleware require a database connection so if we're spinning off threads anywhere else in the process and they're accepting rack requests, they'll consume a [connection for the life of the request]( https://github.com/rails/rails/blob/8d4f

[2016-04-26 15:57] fbladilo commented on #7801
@jrafanie would puma threads +1 be safe as a production default setting for the appliance? Keep in mind once this issue is exhibited (limit reached) EVM needs to be restarted otherwise would fail not only for SSUI but also for the main web-console during my testing.

[2016-04-26 17:43] jrafanie commented on #7801
@fbladilo I don't know.  We need to track down what additional database connections we're consuming due to puma's thread per request model.  Keep in mind, things are drastically different in production vs. development since apache should be processing asset requests in production but rails/rack will do it in development.  That plus, the rails query cache middleware connecting to the database will

[2016-04-26 18:04] selmanj opened #8258 "Error parsing ssh key during refresh when using Google Provider"
`[----] W, [2016-04-26T17:02:51.584414 #28209:3faa45493994]  WARN -- : MIQ(ManageIQ::Providers::Google::CloudManager::RefreshParser#parse_compute_metadata_ssh_keys) Failed to parse public key jsselman: cannot determine key type`

I haven't set any custom metadata for ssh keys.

[2016-04-26 18:04] selmanj commented on #8258
@miq-bot set-label providers/google
@miq-bot assign selmanj

[2016-04-26 18:04] selmanj commented on #8258
/cc @erjohnso @agrare

[2016-04-26 18:06] selmanj commented on #8258
@miq-bot add_label providers/google

[2016-04-26 19:01] selmanj commented on #8258
Looks like this is a previously-known issue:
https://github.com/ManageIQ/manageiq/pull/6482

[2016-04-26 19:06] fbladilo commented on #7801
@jrafanie patched for enhanced logging, docker image in appliance production mode w/ httpd, single web client session via firefox, once I attempt to login on SSUI I seem to exaust pool connections, then  connections go back to normal usage but it remains failing for main web console and SSUI , logs below :

[----] I, [2016-04-26T18:57:59.259730 #7242:2b16681a6c5c]  INFO -- : MIQ(MiqWebsocketWorker

[2016-04-26 19:08] Fryguy opened #8261 "RHEV metrics are broken since Rails5 update"
Since the upgrade to Rails 5, RHEV metrics are broken.  This is because under the covers we use the ovirt_metrics gem, which in turns uses ActiveRecord to talk to the RHEV metrics database.  Rails 5 has changed its minimum version of PG to 9.2 or 9.3.  RHEV, however uses PG 8.4.  As such, the ovirt_metrics gem can't properly connect to the RHEV metrics database.

Rails5 relies on a query to get th

[2016-04-26 19:21] blomquisg commented on #8191
@gtanzillo make sure the workers are starting ... if they are, we'll take it and see if the collection is working

[2016-04-26 19:24] pilhuhn commented on #8244
@miq-bot add_label providers/hawkular

[2016-04-26 19:28] selmanj commented on #8258
I cut an issue against the gem used for validating keys for adding support for ECDSA:

https://github.com/bensie/sshkey/issues/21

[2016-04-26 19:28] blomquisg commented on #8175
@Fryguy, @jrafanie this might be a memory consumption problem.  In testing, QE has seen this same type of error when they manage too many providers on a single appliance.

[2016-04-26 19:35] simon3z opened #8263 "Suspicious values in Chargeback for Containers"
At first sight the chargeback reports for containers have implausible values:

![screenshot from 2016-04-21 13-46-59](https://cloud.githubusercontent.com/assets/130393/14831537/7c62c738-0bf6-11e6-9d37-d3d6bdf308c4.png)

e.g. 760 total cores etc.

The cluster had 8 nodes with a total of 18 cores and 34Gb of memory.

cc @zeari

[2016-04-26 19:36] simon3z commented on #8263
@miq-bot add_label providers/containers, chargeback, bug

[2016-04-26 19:37] jrafanie commented on #8175
@blomquisg True, but I wouldn't expect to see "has not responded" for all the workers if memory is the problem.  The workers are either not heartbeating to the server (ALL OF THEM) OR the server thinks the heartbeat timeout has been reached due to ntp/chrony time jump or something like that.  The fact that so many fail to heartbeat leads me to believe that a time jump is at play. @arnikasky Do you

[2016-04-26 19:38] Fryguy commented on #8252
I think this might be another of the other "method on Array" issue as in #8151

[2016-04-26 19:44] selmanj opened #8264 "Google provider does not parse operating system correctly for debian images"
When using the source image debian-8-jessie-v20160418, ManageIQ displays "Unknown" as the operating system instead of Debian.

[2016-04-26 19:44] selmanj commented on #8264
@miq-bot add_label providers/google, bug
@miq-bot assign selmanj

[2016-04-26 19:57] selmanj commented on #8264
Looks like ManageIQ itself doesn't have an entry for debian.  I understand I can get some assets added for debian from @epwinchell

[2016-04-26 19:57] selmanj commented on #8264
/cc @agrare @erjohnso

[2016-04-26 20:00] selmanj commented on #8264
Appropriate debian assets can be able to be obtained from https://www.debian.org/logos/

[2016-04-26 21:41] dclarizio commented on #8130
@pilhuhn yeah, the pinning image only works for the menu that is currently active (it fooled me too, should probably disappear or turn grey when disabled).  We are going to bring up this and some other timing issues with UX so they can tune it up. Thx!

[2016-04-26 22:12] blomquisg commented on #8239
@pilhuhn can you look into how this error is being generated?

The `Credential validation was not successful:` is part of the standard error message when credential validation fails.

But, the `html` code looks like it's coming directly from the response of an API call that's checking the credential validation.

[2016-04-26 22:47] jrafanie commented on #7801
@fbladilo See #8275, I found a better way to log this information.

Once you run with that, see if you have up to 2 waiting_in_queue and if so try bumping [this value](https://github.com/ManageIQ/manageiq/blob/f9cc25e138c3d7747c5c29a7303f7d7559a57b78/config/settings.yml#L1394) in the advanced_settings from 5 to 7.

[2016-04-26 23:07] jrafanie commented on #7801
You might have to do the web service worker's value too

[2016-04-26 23:41] rwsu opened #8276 "undefined method sort! MetricRollup at Capacity Planning report"
Select manual input and use either CPU Speed or Memory.

[----] E, [2016-04-22T10:24:14.305413 #3874:d39988] ERROR -- : [NoMethodError]: undefined method sort!' for #<MetricRollup::ActiveRecord_Relation:0x00000017898f70> Method:[rescue in _async_generate_table] [----] E, [2016-04-22T10:24:14.305576 #3874:d39988] ERROR -- : /home/rwsu/.rvm/gems/ruby-2.2.2/bundler/gems/rails-4c4dd06aa6d6/activerecor

[2016-04-26 23:54] rwsu opened #8277 "Allocation mode in Capacity Planning report is buggy"
Two issues:
1. After selecting a reference VM, the VM Options are populated, but the selected VM disappears from "Reference VM Selection". Not sure if this is an issue or just a new UI change. But the selected VM is shown in an older version of the CFME appliance.
2. After choosing allocation mode, and selecting a VM, unchecking and checking the VM Options disables the Submit button. Does not occu

[2016-04-27 05:20] abonas commented on #8241
@miq-bot add_label providers/hawkular

[2016-04-27 06:30] pilhuhn commented on #8239
@miq-bot add_label providers/middleware
@miq-bot remove_label providers

Returning of html is a bug in Hawkular itself.

[2016-04-27 06:33] pilhuhn commented on #8239
@miq-bot add_label providers/hawkular

[2016-04-27 07:55] theute commented on #8110
The scope will change so it depends if we are ok to move things around or if we want to prepare for the future.
In the fist version we will really just have "EAP Servers"
In subsequent versions, when we'll add Fuse, JDG and other Middleware products it should be more generic to "Middleware Servers".
Ultimately we definitely want "Application" focus, an Application will span multiple servers, IMO t

[2016-04-27 07:57] Ladas commented on #8159
The port is being set in the settings.yml AFAIK

[2016-04-27 08:16] yaacov opened #8280 "Containers overview depends on new angular-patternfly"
## Description
The new containers overview use _angular-patternfly_ to show _linecharts_ and _provider icons_.

The _providers aggregation_ card depends on [#222](https://github.com/patternfly/angular-patternfly/pull/222) to show the provider icons.
The _Pod creation rate_ and _New images_ cards depend on [#225](https://github.com/patternfly /angular-patternfly/pull/225) to show the _data not avai

[2016-04-27 08:27] yaacov commented on #8280
@miq-bot add_label providers/containers, ui

@simon3z @zeari  @skateman please review

[2016-04-27 08:32] Ladas commented on #2781
@blomquisg can you close this one?

[2016-04-27 08:32] Ladas commented on #2682
@blomquisg can you close this one?

[2016-04-27 08:33] Ladas commented on #3835
@blomquisg can you close this one?

[2016-04-27 08:34] Ladas commented on #4671
@blomquisg can you close this one?

[2016-04-27 08:34] Ladas commented on #5813
@blomquisg this was already implemented, can you close this one?

[2016-04-27 08:36] Ladas commented on #6834
Being implemented in https://github.com/ManageIQ/manageiq/pull/8139

[2016-04-27 08:40] Ladas commented on #8159
@blomquisg can you assign to @aufi, this is caused by fallback to Ceilometer when AMQP fails to connect

[2016-04-27 08:47] skateman commented on #8280
@yaacov ACK, after the new versions are released, I'll do the changes ASAP

[2016-04-27 08:54] Ladas commented on #8158
this is the correct place that should be taking the options from AQMP endpoint https://github.com/manageiq/manageiq/blob/5bfab34e97dfd24bc671f210cdaa161cee4fa444/app/models/manageiq/providers/openstack/manager_mixin.rb#L68-68

[2016-04-27 08:57] yaacov commented on #8280
@skateman :+1:  I'll ping you again when all is merged and a new release is released.

[2016-04-27 09:50] pilhuhn commented on #8239
We will fix it in the client gem: https://github.com/hawkular/hawkular-client-ruby/issues/58

[2016-04-27 09:54] pilhuhn commented on #8244
This is not angular and should be handled by the normal button code in `EmsCommon` which then calls `#deleteems` for all the ems and also has code to refresh the screen.

[2016-04-27 10:01] abonas commented on #8110
I agree

I agree

Openshift contains several concepts - nodes which are more similar to VM/Host, and the more logical entities - that still correspond with infrastructure  (pods with containers, services, etc.) that have various different roles and can be grouped in different ways. They can be grouped in a Deployment entity, for instance, which perhaps is the closest to application (but not necess

[2016-04-27 10:08] arnikasky commented on #8175
@blomquisg Hello.
I have new mail in /var/spool/mail/root
I attached him
Tnx
[darga2_log2.txt](https://github.com/ManageIQ/manageiq/files/238417/darga2_log2.txt)

[2016-04-27 10:08] abonas commented on #8244
I agree @pilhuhn this is not Angular code.
I think this might be happening for all providers, not just hawkular. The code in EmsCommon is also generic for this use case and not per provider. (I just briefly checked on my env, saw the same behavior in rhev providers)
@vprusa please also verify if this is beyond hawkular - if that's indeed the case, this issue is a general one and should not be clas

[2016-04-27 10:10] arnikasky commented on #8175
And new trouble! I can't enter in Manageiq
![Screenshot
![screenshot from 2016-04-27 13 05 44](https://cloud.githubusercontent.com/assets/8751017/14849014/643f463a-0c79-11e6-9789-8e31adc9400e.png)
]()

[2016-04-27 10:21] abonas commented on #8244
@miq-bot add_label ui
@himdel  can you please also confirm the lack of auto refresh after deletion of provider is an existing behavior relevant for all providers?

[2016-04-27 10:43] himdel commented on #7801
@jrafanie Is there any real downside to having the db pool bigger though? I mean, if we don't really know for sure, maybe `threads * 2` or something like that may be safer..?

[2016-04-27 10:47] himdel commented on #8244
@abonas it's not.. Because after deleting a provider anywhere else, the whole page gets reloaded, those parts are not angular yet.

[2016-04-27 10:48] arnikasky commented on #8174
Hello.
I checked Spice console, and now i have this error https://github.com/ManageIQ/manageiq/issues/8151
About vnc console: I  have error
[----] F, [2016-04-22T02:17:39.643187 #2995:bd937c] FATAL -- : ActionController::RoutingError (No route matches [GET] "/ws/console/b1331b4762a50591561e514f4c4be42a" again. I changed number of websocket workers, restarted appliance but it didn't help me.
Conten

[2016-04-27 11:07] skateman commented on #8174
@arnikasky the `cfme-*` files should not exist in that folder, they were all renamed to `manageiq-*` by #7470, #8068 and all the referenced PRs in the description. Which build are you using? Do you have a clean branch or you did some cherrypicking or update? Maybe you could try to move all the old config files to a temporary folder and see if it works.
@simaishi is it possible that this happens if

[2016-04-27 11:18] skateman commented on #8174
@arnikasky after moving the files, restart the httpd to trigger the changes.

[2016-04-27 11:25] abonas commented on #8244
@vprusa this feature (auto refresh) doesn't exist in miq except for 2 screens (and providers are not one of them), and it's not a specific bug to hawkular .
I suggest either changing the issue to a general missing feature request or closing the issue. (I can't modify the issue title as I didn't report it)
@miq-bot rm_label providers/hawkular

[2016-04-27 11:27] simaishi commented on #8174
I thought update isn't supported on upstream appliances.. @Fryguy ?

[2016-04-27 11:55] abonas commented on #8241
I see this behavior is the same for other providers too.
I think that the port field is defined as a textual field (hence non numeric chars are allowed), and this is later perhaps "nullified/zeroed" because of the way it's persisted to db. (port field in endpoints db table is integer)
cc @pilhuhn

[2016-04-27 12:16] abonas commented on #8241
@himdel any quick fix idea for this? (cross providers) I suppose it's the "text_field_tag" that should be somehow validated? or another tag should be used?

[2016-04-27 12:34] himdel commented on #8241
Any chance that's on purpose and some translation other than `.to_i` is done? I'm thinking whether it wasn't intended to support specifying well-known ports by name..

Anyway, quick fix, if it's Angular already, we can set `ng-validate="/\d+/"` on the input, which would make it invalid when non-numeric :)

[2016-04-27 12:34] yaacov commented on #8280
cc @jeff-phillips-18

[2016-04-27 12:45] abonas commented on #8241
I'm not aware of any non numeric ports translation logic that exists (although perhaps there might have been some theoretical intention long time ago originally at one of the first providers, and then everyone copied it).
I'm afraid it's not Angular...
https://github.com/ManageIQ/manageiq/blob/master/app/views/ems_container/_form_fields.html.haml#L16
https://github.com/ManageIQ/manageiq/blob/maste

[2016-04-27 12:46] abonas commented on #8241
@miq-bot add_label ui
@miq-bot add_label providers/containers
@simon3z @bazulay containers provider has this issue as well.

[2016-04-27 12:47] abonas commented on #8241
@vprusa please make the title description more generic as it applies to several types of providers. thanks!

[2016-04-27 12:48] pilhuhn commented on #8241
Theoertically one can give the portn name that is in `/etc/services` like for example in `telnet localhost smtp` to connect to tcp port 25.
I doubt that users are doing that. Requiring ports to be integer in the first place makes a lot of sense to me.

[2016-04-27 12:50] abonas commented on #8241
if this is the case, then miq needs translation logic added for string->integer, because the field in db is an integer. but that definitely does seem out of scope here.

[2016-04-27 13:00] Fryguy commented on #8244
Is it just a timing thing?  The EMS deletion is put on the queue, so maybe it just needs time to be picked up?

[2016-04-27 13:03] epwinchell commented on #8264
@selmanj Hi, I'll take care of it in a followup PR. For the time being, please copy
https://github.com/ManageIQ/manageiq/blob/master/app/assets/images/svg/placeholder.svg and rename appropriately.

[2016-04-27 13:11] abonas commented on #8244
@Fryguy isn't it a missing feature to "push" changes to UI after async task is over?

[2016-04-27 13:57] vprusa commented on #8244
@miq-bot add_label feature

[2016-04-27 14:17] himdel commented on #8241
OK, so if we agree that it shouldn't work.. ok, if it's not angular, you'll just have to add validation for the field, same as for every other.. should probably happen in `form_field_changed`, there's already a bunch of validations there..

[2016-04-27 15:11] amavinag commented on #8023
@jrafanie  himdel can you please let us know when the fix could be available? our smoke tests blocked due to this issue.

[2016-04-27 15:39] jrafanie commented on #8023
@amavinag What's blocked on your side?

 peerinvalid errors should be fixed by:
https://github.com/ManageIQ/manageiq-appliance-build/pull/122

Another issue @himdel found was also merged:
https://github.com/ManageIQ/manageiq-appliance-build/pull/124

Please open a new issue if there are subsequent issues. Thanks!

[2016-04-27 15:39] #8023 closed

[2016-04-27 15:45] #2781 closed

[2016-04-27 16:38] jameswnl opened #8294 "Provisioning VMware VM: network list doesn't seem to be right"
In vSphere client, there's only 1network shown in this DC/cluster,
![screen shot 2016-04-27 at 12 31 36 pm](https://cloud.githubusercontent.com/assets/2421248/14859930/4adf3402-0c74-11e6-8ea5-4635084c1a3c.png)

In MIQ UI, selecting the corresponding DC/cluster,
<img width="883" alt="screen shot 2016-04-27 at 12 31 26 pm" src="https://cloud.githubusercontent.com/assets/2421248/14859928/4a8ad7fe-0c7

[2016-04-27 16:38] selmanj commented on #8264
@epwinchell Thanks. I've followed your directions and put placeholders in each location.

[2016-04-27 17:26] selmanj opened #8295 "Google provider images build from source image 'sles' are not identified properly as suse"
Instead they are labeled as 'linux_generic'.  Looks like a simple misconfiguration based on the code.

[2016-04-27 17:27] selmanj commented on #8295
@miq-bot add_label providers/google, bug

[2016-04-27 17:27] selmanj commented on #8295
@miq-bot assign selmanj

[2016-04-27 17:27] selmanj commented on #8295
/cc @blomquisg @erjohnso @agrare

[2016-04-27 17:29] gmcculloug commented on #8294
The list of available vLans is coming from here: [app/models/miq_provision_virt_workflow.rb#L408](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_provision_virt_workflow.rb#L408)

[2016-04-27 18:17] Ladas commented on #8159
so in the end i think @AparnaKarve will solve this by doing the radio button for events

[2016-04-27 18:23] jameswnl commented on #8294
Incoming hash for host ```test-vc60-host2.cloudforms.lab.eng.rdu2.redhat.com``` has 3 portgroups. The "Management Network" and "NFS Network" don't match what vSphere client shows. The "Management Network"  may be something similar to "Kernel network"?  The "NFS Network" seems out of nowhere.  @agrare any idea?
[code]

[2016-04-27 18:24] jameswnl commented on #8294
Just a note: this is run without #8057 yet.

[2016-04-27 18:34] agrare commented on #8294
@jameswnl so that host does have those two portgroups, but they have a VMkernel port which VMware must be filtering out when you are creating a VM.  I think this is an example of the difference between the top->down traversal vs. bottom->up when gathering inventory, if you go to `Datacenters/test-vc60-DC/networkFolder` you only see `VM Network`.

[2016-04-27 19:01] jameswnl commented on #8294
This [line](https://github.com/jameswnl/manageiq/blob/6a6f7bd7e8b38cb699ebc9c453e8f073302a95b9/app/models/manageiq/providers/vmware/infra_manager/provision_workflow.rb#L130) seems to be filtering it. But may not work due to name changes.

[2016-04-27 19:21] jameswnl commented on #8294
So this filtering won't work if user rename the VMkernel ports away from
[code]
then they will be shown up in provisioning page.  We'll need to add an attribute to the vlans so that the filtering can base on something solid(er than string comparison).

[2016-04-27 19:26] agrare commented on #8294
Great find @jameswnl !

[2016-04-27 20:30] blomquisg opened #8301 "Hide "Endpoints" label when there's only one endpoint available for a Provider"
![image](https://cloud.githubusercontent.com/assets/14183/14867135/1bb7e77a-0c95-11e6-8964-82c74445b625.png)

In this example, the Hawkular provider has only one type of connection, so we shouldn't show "Endpoints" here.

[2016-04-27 21:36] #7902 closed

[2016-04-27 21:40] simon3z commented on #8241
Thanks @abonas . Best case scenario is that the validation will happen in a common place (e.g. `ExtManagementSystem` base class, or in the common "Port" field on the UI side, if that's shared across providers) so that we don't have to reproduce the same validation on all providers.

[2016-04-28 08:58] sergio-ocon commented on #8261
My appliance is giving me this:
[----] I, [2016-04-28T04:57:15.955648 #13359:bc398c]  INFO -- : MiqAeEvent.build_evm_event >> event=<"ems_auth_invalid"> inputs=<{"MiqEvent::miq_event"=>491, :miq_event_id=>491, "EventStream::event_stream"=>491, :event_stream_id=>491}>
[----] I, [2016-04-28T04:57:20.036822 #13375:bc398c]  INFO -- : Instantiating [/System/Process/Event?EventStream%3A%3Aevent_stream=4

[2016-04-28 10:14] simon3z commented on #6508
Fixed in #7857

[2016-04-28 10:14] #6508 closed

[2016-04-28 13:25] abonas opened #8315 "Miq server doesn't start due to "undefined method 'filter' for Entitlement""
missing': undefined method `filters=' for #<Entitlement:0x00000009df2330> (NoMethodError)
        from manageiq/app/models/miq_group.rb:71:in `block in seed'

potentially due to https://github.com/ManageIQ/manageiq/pull/8102
cc @chrisarcand

[2016-04-28 13:28] chrisarcand commented on #8315
Do you have the commit from #8291? Your database is in an old state and needs to be remigrated.

[2016-04-28 13:28] abonas commented on #8315
will recheck, thanks for the pointer.

[2016-04-28 13:38] abonas commented on #8315
works like a charm. sorry! thanks, closing.

[2016-04-28 13:38] #8315 closed

[2016-04-28 13:39] chrisarcand commented on #8315
Great! Never apologize for asking about something I broke ;)

On Thu, Apr 28, 2016 at 9:38 AM, abonas <notifications@github.com> wrote:

--
Chris Arcand
@chrisarcand

[2016-04-28 14:19] simon3z commented on #8108
@zeari is this fixed? Can you mention the PR (if any) here. Thanks.

[2016-04-28 14:19] simon3z commented on #7915
@zeari do we have a PR/fix for this?

[2016-04-28 14:21] simon3z commented on #7744
@zeari @cben @moolitayer is this fixed? (by #7771 ?)

If so, @blomquisg can close this.

[2016-04-28 14:23] simon3z commented on #2675
@abonas can we close this? (We can reopen in case someone asks for it)

[2016-04-28 14:23] simon3z commented on #4141
@zeari is this reproducible?

[2016-04-28 14:32] simon3z commented on #4946
These were handled along the way:

![screenshot from 2016-04-28 16-30-25](https://cloud.githubusercontent.com/assets/130393/14889360/be5c4f6a-0d5e-11e6-8755-eb2d2fdd4277.png)
![screenshot from 2016-04-28 16-30-51](https://cloud.githubusercontent.com/assets/130393/14889359/be5b8116-0d5e-11e6-8cff-af3d6414eb2a.png)
![screenshot from 2016-04-28 16-31-11](https://cloud.githubusercontent.com/assets/130

[2016-04-28 14:34] simon3z commented on #6701
@zeari is this fixed? I think @yaacov handled this.

[2016-04-28 14:35] simon3z commented on #7018
@LutzLange @chessbyte @blomquisg I think we can close this.

[2016-04-28 14:36] yaacov commented on #6701
@simon3z @zeari fixed by https://github.com/ManageIQ/manageiq/pull/7564

[2016-04-28 14:43] simon3z commented on #6701
@chessbyte @blomquisg can you close this? Thanks.

[2016-04-28 14:46] simon3z commented on #8250
@miq-bot add_label providers/containers, chargeback

[2016-04-28 14:46] simon3z commented on #8250
@miq-bot add_label bug

[2016-04-28 14:47] simon3z commented on #8263
Closing as duplicate of #8250

[2016-04-28 14:47] #8263 closed

[2016-04-28 14:53] simon3z commented on #8108
@zeari the fix should be #8154 correct?

[2016-04-28 14:58] amavinag opened #8325 "evm service fails to restart after configuring the appliance to allow logging into postgres from hosts other than 127.0.0.1"
evm service fails to restart after configuring the appliance to allow logging into postgres from hosts other than 127.0.0.1

Issue is NOT observed on rhevm providers. but on "openstack", "vpshere55" providers.
1. deploy the recent(April 27th) upstream template on openstack, vpshere providers
2. wait for appliance to boot.
3.  before accessing the webui configure the appliance to allow logging into

[2016-04-28 16:04] zeari commented on #8108
Yes, we can close this issue.
This was due to malformed reports since the UI didnt enforce having an `entity_id`.

[2016-04-28 16:06] zeari commented on #6701
Actually this is an older issue was fixed by #7350
This can be closed regardless.

[2016-04-28 16:12] zeari commented on #4141
@simon3z No longer reproduceable. Closing.
![screencapture-localhost-3000-container_service-show_list-1461859860654](https://cloud.githubusercontent.com/assets/11256940/14892780/1449cbee-0d75-11e6-9176-ee7f83a50e55.png)

[2016-04-28 16:12] #4141 closed

[2016-04-28 16:14] zeari commented on #7744
@simon3z I believe so but @cben should verify.
We might want to add fetching of Images(the openshift entity) to our backlog

[2016-04-28 17:26] fbladilo commented on #7801
@jrafanie @himdel Success!! Bumping both ui_workers/web_workers connection pool to 7 on config/settings did it , here is the what the log looks like now with #8275 already applied :

[----] D, [2016-04-28T17:20:18.271471 #6373:2b08dcb41d8c] DEBUG -- : MIQ(ActiveRecord::ConnectionAdapters::PostgreSQLAdapter#log_after_checkout) pool_size: 7, connections: 7, in use: 5, waiting_in_queue: 0
[----] D, [

[2016-04-28 17:55] #7018 closed

[2016-04-28 17:59] jrafanie commented on #7801
see #8332, I made it 8 just because...

@himdel we don't want to consume database connections just in case.  Rails connection pool will greedily create connections up to the pool size and not disconnect them so we shouldn't blindly increase this value in production appliances.

[2016-04-28 18:03] jrafanie commented on #8175
I wonder if it's related to #7801 and the fix in #8332, try increasing your ui_workers/web_workers connection pool to 7 or 8 in the advanced settings and see if that fixes the problem you're having.

[2016-04-28 18:52] Ladas opened #8335 "Get rid of caching in the OpenstackeventMonitor"
basically we will need to revert this https://github.com/ManageIQ/manageiq/pull/8313/commits/401f2db7fcc227da213fad072a023ebb58151441

And then we will have to modify event catcher workers to check autentication state of the event endpoint

@blomquisg has a more info about the worker code

[2016-04-28 18:53] fbladilo commented on #7801
@jrafanie +1 , I think I can move forward with my original PR for docker image SSUI , we should be good once #8332 is merged

[2016-04-28 19:56] #2675 closed

[2016-04-28 22:21] simon3z commented on #4166
@chessbyte @blomquisg @rananda can you close this? Thanks.

[2016-04-29 07:06] LutzLange commented on #8176
I just checked the current nightly build OpenStack image. This is not working at all. The httpd configuration is broken and it looks like the latest miq code is not checked out at all.

[2016-04-29 07:11] LutzLange opened #8341 "Current OpenStack nightly image broken"
I just checked out and spun up the current nightly build.

The httpd config is broken. The image is at least missing these files :
/etc/httpd/conf.d/manageiq-redirects-ui
/etc/httpd/conf.d/manageiq-redirects-websocket
/etc/httpd/conf.d/manageiq-redirects-ws

Checking the evmserverd revals other issues. It is not starting
appliance_console is not starting.
# vmdb
# bin/rake evm:status
The git sourc

[2016-04-29 08:13] ZitaNemeckova opened #8343 "Travis tests fails on non-existing path"
This error appears a lot : ``The path `/home/travis/build/ManageIQ/manageiq/gems/pending/gems` does not exist.``

https://travis-ci.org/ManageIQ/manageiq/builds/126583739

[2016-04-29 09:10] himdel commented on #8146
@tumido ^^

[2016-04-29 11:53] vprusa commented on #8238
https://github.com/ManageIQ/manageiq/issues/8103

[2016-04-29 12:27] simon3z commented on #4205
@zakiva can you look at this? The `bearer_token` value should be hidden in the log. Thanks.

[2016-04-29 12:29] skateman commented on #8280
Released:
https://github.com/patternfly/patternfly-sass/releases/tag/v3.3.5
https://github.com/patternfly/angular-patternfly-sass/releases/tag/v3.3.5

[2016-04-29 12:29] simon3z commented on #5517
@zakiva can you look at this? Thanks!

[2016-04-29 13:09] #6565 closed

[2016-04-29 13:21] simaishi commented on #8341
The last night's build failed for the same reason as #8343 (bundle install fails)

/root/anaconda-post.log
[code]

[2016-04-29 16:01] #7801 closed

[2016-04-29 17:42] fbladilo commented on #8132
@bdunne any news from DockerHub guys?

[2016-04-29 17:48] bdunne commented on #8132
@fbladilo No updates to the case.

[2016-04-29 19:02] fbladilo commented on #8132
@bdunne :worried: thanks for the update sir

[2016-04-30 12:17] itamarh commented on #8130
isn't this eating a lot of screen real estate space with 3 levels being open?

[2016-04-30 13:04] romanblanco opened #8368 "Drag&drop sorting in dialog editor does not work"
![screencapture-localhost-3000-miq_ae_customization-explorer-1462021110447](https://cloud.githubusercontent.com/assets/1187051/14935947/68d87532-0ee4-11e6-90d7-0b016c809134.png)

IIRC, elements in dialog editor were sortable by drag&drop. That does not seem to work anymore. Mouse cursor is changed to `grab`, but after trying to move some element, it just selects the text.

No error appears in cons

[2016-04-30 13:05] romanblanco commented on #8368
@miq-bot add_label ui, bug

[2016-05-01 07:48] #8099 closed

[2016-05-01 10:20] moolitayer commented on #4946
Took another look on master and this is fixed. Please close @blomquisg @chessbyte

[2016-05-01 11:34] moolitayer commented on #7744
@cben as far as I can see routes persist and show labels, but projects do not persist them:
[code]

Am I missing anything?

[2016-05-01 11:42] cben commented on #7744
I think typically projects have no labels, unless explicitly assigned by `oc label namespace ...`.
I have assigned such a label for testing on my local cluster, and it works (just checked on master):

![screenshot-localhost 3000 2016-05-01 13-21-55](https://cloud.githubusercontent.com/assets/273688/14941595/b7bf61d6-0fa9-11e6-92c2-20c4f698723c.png)
![screenshot-localhost 3000 2016-05-01 13-25-27](

[2016-05-01 11:43] cben commented on #7744
Ah, what you looked up was annotations, which is independent of labels.

[2016-05-01 11:54] moolitayer commented on #7744
Oh right, I tested on labels this time, and I can see the label in the screen after refresh. Thanks @cben
[code]

:+1: for closing this @blomquisg

[2016-05-01 12:23] cben commented on #7744
opened https://trello.com/c/0trLaD9o/359-fetch-image-metadata .

[2016-05-01 14:55] zakiva commented on #5517
@zeari The advanced search works fine for me. Do you refer the question marks ("???") with the yellow background? They are being shown in the adv. search not only in the containers area but also in other places (Clouds, Infrastructure, etc.)
cc @simon3z @dclarizio

[2016-05-02 07:40] pilhuhn commented on #8130
@itamarh They don't stay open. Only 1 level. The remainder is an overlay.
My question is rather about ease of navigation for motorically challenged people

[2016-05-02 07:50] itamarh commented on #8130
@pilhuhn if they don't remain open, then if i'm on say compute-container-pods, and want to move to its neighbor, compute-container-nodes. today i just have to click 'nodes'. if only 1 level remains, i need to navigate to move around closely related topics. if i pin, would only the 3rd level menu (pods, nodes, etc.) stay pinned?

[2016-05-02 08:29] isimluk commented on #6979
This is no longer reproducible on master. Closing.

[2016-05-02 08:29] #6979 closed

[2016-05-02 12:03] #8368 closed

[2016-05-02 12:06] #4205 closed

[2016-05-02 12:37] PanSpagetka commented on #6627
@dclarizio
![untitled](https://cloud.githubusercontent.com/assets/9535558/14954514/3a6d999e-1073-11e6-9856-98af8a12ae85.png)
do we need those dashed lines on mouseover in C3 charts?

[2016-05-02 13:29] #4166 closed

[2016-05-02 13:29] #4946 closed

[2016-05-02 13:29] #6701 closed

[2016-05-02 13:29] #6983 closed

[2016-05-02 15:42] jrafanie commented on #8325
@amavinag I don't see an error.

[code]

Can you run what is suggested there for details and provide any errors from the evm.log/production.log?

[2016-05-02 15:53] jpkrohling opened #8385 "Migration 20160428215808 fails on existing database"
The migration 20160428215808 fails on a system with existing data, with the following output:

[code]

[2016-05-02 15:54] jpkrohling commented on #8385
Not sure if the given information is enough to reproduce/fix. if needed, I can produce a DB dump with the contents of the DB.

[2016-05-02 15:59] simaishi commented on #8343
#8348 fixed the issue.

[2016-05-02 16:07] simaishi commented on #8325
The script seems to be referencing pg_hba.conf in wrong location:
https://gist.github.com/amavinag/3ce46693f5ae857deab27e3d4fe85f03#file-test_logs-L16-17

On appliances, pg_hba.conf is here:
/var/opt/rh/rh-postgresql94/lib/pgsql/data/

[2016-05-02 16:10] jpkrohling commented on #8385
Commenting out the `add_column` on the `db/migrate/20160428215808_add_filters_to_entitlements.rb` migration causes the following:

[code]

[2016-05-02 16:10] carbonin commented on #8325
Also, it would be best to use `systemctl restart evmserverd` rather than `service evmserverd restart` now that we have upgraded to CentOS 7

[2016-05-02 17:13] simaishi commented on #8341
#8348 fixed the issue, confirmed Friday's nightly (20160429) works.

[2016-05-02 17:48] #7449 closed

[2016-05-02 19:17] amavinag commented on #8325
still see the same error, as mentioned I changed the path to /var/opt/rh/rh-postgresql94/lib/pgsql/data/
test_logs_changed_pg_hba.conf: https://gist.github.com/amavinag/d72b8de8d5caa697f2369a2cca57904d
evm & production logs: https://gist.github.com/amavinag/9f5cb650d32137a406e6efc93be930fc
 journalctl: https://gist.github.com/amavinag/2a1e258748fbb8cfd5d2c3d9329e6d6d

let me know if more info is n

[2016-05-02 19:38] carbonin commented on #8385
So three migrations were actually moved, we may need to watch out for issues with each of them
https://github.com/ManageIQ/manageiq/pull/8337/commits/bb822f93284347c049e00971118412a6ff83a329

[2016-05-02 20:01] #8264 closed

[2016-05-02 20:09] abellotti opened #8392 "Configuration changes not seen in UI (ops/_rbac_group_details.html.haml)"
Following used to work:

- Settings->Settings->Server->Authentication->LDAP
- Settings->Access Control->Groups
  - Configuration->Add a new Group->(Look Up LDAP Groups)
  - User is prompted for User to Look Up as well as Username and Password for bind credentials

Then change:

- Settings->Settings->Server->Authentication->External (httpd)
- Settings->Access Control->Groups
  - Configuration->Add

[2016-05-02 20:27] carbonin commented on #8325
This looks like the service that creates the database on first-boot of the appliance was not allowed to run through. The evmserverd service will not start if the database is not properly initialized.

You can see that this is the case in the `journalctl` output:
`PG::UndefinedTable: ERROR:  relation "miq_servers" does not exist`

Whatever is kicking off the automated tests needs to be sure that `e

[2016-05-02 20:49] selmanj opened #8396 "CoreOS images in GCE are identified as linux_generic"
Ideally they would be identified as 'coreos'.

/cc @blomquisg @erjohnso @agrare

[2016-05-02 20:50] selmanj commented on #8396
@miq-bot add_label providers/google, enhancement
@miq-bot assign selmanj

[2016-05-02 20:52] selmanj commented on #8396
Contacting @epwinchell for proper assets.

[2016-05-02 21:04] selmanj commented on #8396
From a link at the bottom of https://coreos.com/about/:

[2016-05-02 21:27] amavinag commented on #8325
soon after the appliance is deployed, appliance-initialize.service is listed as failed:
systemctl | grep appliance
● appliance-initialize.service   loaded failed failed    Initialize Appliance Database

[2016-05-02 21:32] #8295 closed

[2016-05-02 21:55] carbonin commented on #8325
Can you post the output of `journalctl -u appliance-initialize` this will give us the full log from that service.

[2016-05-02 21:59] amavinag commented on #8325
https://gist.github.com/amavinag/47a11bb870f3a7548f1d0354020a50e5

[2016-05-02 22:00] carbonin commented on #8325
It looks like the first line is cut off, can you get the full output?

[2016-05-02 22:01] amavinag commented on #8325
updated the gist: https://gist.github.com/amavinag/47a11bb870f3a7548f1d0354020a50e5

[2016-05-02 22:07] carbonin commented on #8325
There is still some text missing from the line that ends in `allowed_in_pat`

Maybe try redirecting the output of the command to a file and using that. The display may be cutting off some text.

[2016-05-02 22:12] amavinag commented on #8325
should be good now.

[2016-05-02 22:23] carbonin commented on #8325
It seems like this was caused by a failed bundle during the build process.

[2016-05-02 22:28] simaishi commented on #8325
@amavinag which build was this?

[2016-05-02 22:29] abellotti commented on #7634
Ok, giving this a try

[2016-05-02 22:30] amavinag commented on #8325
@simaishi  the logs that I pulled today are from April 29th build

[2016-05-02 22:35] simaishi commented on #8325
I tested 0429 OpenStack nightly today successfully. If this was vSphere, can you try the same test (fix the path to conf file, and wait until evmserver starts up before doing restart) on OpenStack?

[2016-05-02 22:36] amavinag commented on #8325
yes, this is on vsphere. let me spin up openstack instance.

[2016-05-03 07:18] #7744 closed

[2016-05-03 07:48] romanblanco commented on #8252
![screencapture-localhost-3000-miq_request-show-1-1462261668396](https://cloud.githubusercontent.com/assets/1187051/14977437/207dd2d2-1114-11e6-826a-2de21020d9f7.png)

@miq-bot add_label bug, providers/rhevm

[2016-05-03 10:43] #7382 closed

[2016-05-03 13:33] #7610 closed

[2016-05-03 15:07] Fryguy commented on #8392
I'll have to shadow you on this because I don't see it happening.  I'm not saying it doesn't happen...we have other reports that are similar, I just can't reproduce.

[2016-05-03 15:08] #8341 closed

[2016-05-03 15:15] Fryguy commented on #8241
I thought port column in the endpoints table is now integer.  Is middleware not using the endpoints table?  Even so, I think the UI can limit to numbers only.

[2016-05-03 15:34] abonas commented on #8241
@Fryguy I *think* the problem is that the backend/db col is indeed an integer, however the frontend field type is text. hence if you enter letters there instead of numeric port, it will be converted and saved as zero to that numeric field in db.

[2016-05-03 15:34] Fryguy commented on #8244
Yes, but that is a general feature request not directly related to middleware or even summary screens.  As such, marking this as an enhancement . cc @dclarizio

[2016-05-03 15:34] abonas commented on #8241
and it's not only an issue with middleware, containers have it as well. and I suspect other providers too, but I didn't check them all.

[2016-05-03 15:36] Fryguy commented on #8241
Yes, I would expect it to be consistently wrong across all providers.  So, yeah, I would consider this a bug, and the UI should be changed to only allow numerics.

[2016-05-03 15:37] Fryguy commented on #8241
@dclarizio @himdel Not sure who to assign this to...I'm assigning to @dclarizio for now.

[2016-05-03 15:37] abonas commented on #8244
I agree, I also mentioned that it's missing in general above https://github.com/ManageIQ/manageiq/issues/8244#issuecomment-215054552

[2016-05-03 15:39] djberg96 commented on #7900
@romaintb Yes, please submit a PR. I agree that @bronaghs approach is slightly nicer.

[2016-05-03 15:42] Fryguy commented on #8176
cc @abellotti

[2016-05-03 16:13] Jiri-Kremser opened #8418 "Middleware Deployments link in the relationship section not working"
The link to deployments in the Relationship section on the middleware server detail page isn't handled properly.

I think, this is the issue https://git.io/vwHza

![bug](https://cloud.githubusercontent.com/assets/535866/14989818/f22fdf60-1159-11e6-994c-6de01696f240.gif)

@miq-bot add_label providers/hawkular, ui
cc @abonas

[2016-05-03 16:46] epwinchell commented on #8396
@selmanj Thanks. I'll create a PR when I have a chance.

[2016-05-03 20:47] selmanj opened #8427 "Unable to provision >10 instances without an error"
When I try to provision 50 instances using the Google Cloud provider, the task appears to partially succeed and provision up to 10 instances before failing silently with no error message.

Steps to reproduce:
1. Add GCE provider for a project
2. Provision more than 10 VMs (I chose 50) as part of a single request. Any image/instance type should be fine.
3. Approve the provision request
4. Watch it

[2016-05-03 21:46] chrisarcand opened #8432 "Metrics Auth code needs cleanup and tests"
The code surrounding provider auth and [separately] metrics needs cleanup. We pass around half a dozen methods with options needlessly and should be cleaned up with tests (no tests are present for the current functionality)

This is followup to the quick fix done in this area in #8382

cc/ @jrafanie @juliancheal

@miq-bot add_labels core, technical debt

[2016-05-03 21:46] chrisarcand commented on #8432
@miq-bot assign @juliancheal

[2016-05-03 21:48] Fryguy commented on #8432
Is this for the auth / connect methods, or are you talking about testing actually collecting metrics for providers and that whole workflow?

[2016-05-03 21:50] chrisarcand commented on #8432
Not sure what tests we have for actually testing through to make sure metrics are collected, but I mean validation of the separate "Default endpoint" and C&U creds (that they at least use the correct form data)

[2016-05-03 21:51] jrafanie commented on #8432
I would say both, start with the various option processing to ensure it uses the correct endpoints api... worry about actually collecting metrics next.

[2016-05-03 22:01] Fryguy commented on #8432
Ah ok thanks... I ask because the former is relatively easy to test but the latter is horrible to test.  Wanted to chat with you guys on testing strategy for the latter.

[2016-05-03 22:27] simon3z commented on #8108
Fixed in #8154

[2016-05-03 22:27] #8108 closed

[2016-05-04 00:18] #8396 closed

[2016-05-04 00:21] #7915 closed

[2016-05-04 11:34] romanblanco commented on #8368
Fixed in #8292

[2016-05-04 13:33] Ladas opened #8447 "Display issue of the new menu"
![image](https://cloud.githubusercontent.com/assets/1737058/15015662/821cea7e-120d-11e6-82bf-d0af778d7b80.png)

[2016-05-04 13:34] Ladas commented on #8447
@dclarizio have you guys seen something like this?

[2016-05-04 16:31] abonas commented on #8418
I would actually recommend looking at this area:
https://github.com/ManageIQ/manageiq/blob/master/app/views/middleware_server/show.html.haml
compare it to working files in other providers. I think there's a missing section there.
ems_middleware is more provider focused and looks at a shared file so it can provide a clue, but this is not how it's handled in other entities

[2016-05-04 17:05] abonas commented on #8214
@miq-bot assign @mtho11

[2016-05-04 17:11] moolitayer opened #8456 "Implement concurrent_container_scans similarly to concurrent_vm_scans"
Define some sort of limit on concurrent container scans. The aim is to have a setting to have daily schedules only scan one container at a time with no need for further configuration.

- do we want it applied to normal multiple scan created through the UI?

Note in @jrafanie's words
```note, there's concurrent_per_ems, concurrent_per_host, and concurrent_vm_scans in the dispatcher,``` ... ```it de

[2016-05-04 17:14] moolitayer commented on #8456
@miq-bot add_label wip, smart_state, providers/containers, enhancement

[2016-05-04 17:35] selmanj commented on #8427
I'm not entirely convinced it's localized to the google provider by the way - would appreciate it if someone else could try a similar provisioning load on another provider.

[2016-05-04 18:55] jameswnl opened #8457 "Ambiguous DVS to use when multiple ones share the same portgroup name"
E.g. when a host has access to 2 dvswitches which contain dvportgroups with the same name,
[code]
Currently, user will see in the network selection list ```dvportgroup1 (dvswitch1/dvswitch2)```.  If user pick this network, the provisioning request will become ambiguous about which dvswitch to use.

[2016-05-04 19:38] #8103 closed

[2016-05-04 19:57] jameswnl commented on #8457
VMware actually disallows the previously described config to be created.  I.e. portgroup name can't be duplicated in the same datacenter.  However, it does allow duplication across different datacenters.
[code]
With this setup, we'll have the same ambiguous network selection item ```dvportgroup1 (dvswitch1/dvswitch2)```.  The good news is that this only happens when user chooses "auto-placement".

[2016-05-04 19:57] #8457 closed

[2016-05-04 21:53] moolitayer opened #8464 "Create a select all button for explorer views"
Sometimes one needs to select all...

Is there a way to select all I am not aware of?

Yes!
as @dclarizio suggested the check all box is in the paginator at the bottom.

![400](https://cloud.githubusercontent.com/assets/3010449/15030553/a8bf0f74-125b-11e6-942d-56f5375dc9fc.png)

[2016-05-04 21:55] moolitayer commented on #8464
@miq-bot add_label ui, enhancement

[2016-05-04 21:58] #8464 closed

[2016-05-04 22:02] rwsu opened #8465 "OpenStack hardware extra data not accessible through swift"
OpenStack infrastructure providers are showing no hardware level data (cpu speed, cpu cores, num cpus) for nodes. It appears the extra data we were querying before is not longer accessible in recent versions of RHOS.

[2016-05-04 22:54] moolitayer commented on #8456
fyi @simon3z @gmcculloug @jrafanie Is this a viable direction to do in?

[2016-05-04 22:57] yaacov commented on #8280
New version of patternfly in manageIQ and it is labeled _darga/yes_

[2016-05-04 22:57] #8280 closed

[2016-05-05 07:35] simon3z opened #8468 "Container inventory refresh broken on ContainerDefinition disconnect_inv"
Refresh inventory creashes on:

https://github.com/ManageIQ/manageiq/blob/master/app/models/container_group.rb#L83

[code]

cc @zeari

[2016-05-05 07:35] simon3z commented on #8468
@miq-bot add_label providers/containers, bug

[2016-05-05 07:40] simon3z commented on #8468
It's actually ContainerDefinition (not ContainerGroup). Updating the title.

[2016-05-05 07:41] zeari commented on #8468
So the fix is easy, but why would a definition not have a container?

[2016-05-05 07:49] simon3z commented on #8468
Maybe because it wasn't started (yet)?

[2016-05-05 07:53] zeari commented on #8280
@yaacov Did it solve both issues?

[2016-05-05 08:00] moolitayer commented on #8468
I don't understand [this](https://github.com/ManageIQ/manageiq/blob/master/app/models/ems_refresh/save_inventory_container.rb#L236) line in save_inventory_container. are we passing true for extra keys argument?

[2016-05-05 08:02] zeari commented on #8468
The last argument is if this entity needs to be disconnected.
We could have went with something like `responds_to?(:disconnect_inv)` but i wasnt sure we would want to disconnect instead of delete in every possible scenario.

[2016-05-05 08:08] yaacov commented on #8280
@zeari :-)
![screenshot-2016-05-05-11-06-25](https://cloud.githubusercontent.com/assets/2181522/15039007/98cb32e0-12b1-11e6-8887-31c246b88e4d.png)

[2016-05-05 08:14] #8022 closed

[2016-05-05 08:15] moolitayer commented on #8468
I may be mistaken but ```true``` is the 6th argument. Shouldn't it be 7th?

[2016-05-05 08:22] zeari commented on #8280
:+1:

[2016-05-05 08:25] zeari commented on #8468
Correct 0_0

[2016-05-05 08:42] zeari commented on #8468
Added to #8740
Im trying to figure out why this never came up. Do we have scenarios where a pod replaces its containers\definitions?

[2016-05-05 09:47] arnikasky opened #8474 "After rake assets:precompile capablanca-2 doesn't work"
Hello.
I have some trouble with Manageiq-capablanca-2. I have done custom angular controller, then i ran rake assets:precompile to use my controller. And now I have these errors:
![manageiq_rake_error](https://cloud.githubusercontent.com/assets/8751017/15040707/617fd116-12bf-11e6-8b52-f52022cf31ca.png)
I reverted to snapshot and then I tried to run rake assets:precompile without my controller and

[2016-05-05 10:24] Ladas opened #8475 "Showing images instead of instances"
Clicking on all instances gets me a list of images

![image](https://cloud.githubusercontent.com/assets/1737058/15041443/4b5e09dc-12bc-11e6-8d2c-b0c528998d7f.png)

[2016-05-05 10:25] Ladas commented on #8475
@dclarizio anybody has noticed this yet?

[2016-05-05 10:27] martinpovolny opened #8476 "Broken C&U planning"
the wizard for selecting VMs based on different criteria is broken by 59f0c5fdf553503421c7cb3394d2d40991b95622 in #7406

The assumption that `params[:filter_typ]` is sent with `params[:filter_value]` is wrong. On the contrary, each of those is sent in a separate transaction.

this causes the wizzard never to collect the values and therefor report cannot be created

[2016-05-05 10:53] arnikasky commented on #8175
@jrafanie Hello, I have tested it again and I run "git pull" and so i add all new commits. Also, i set ui-workers/webservice-workers number to 7. But manageiq works very slowly and I have "502 proxy error" or "Api authentication failed".

[2016-05-05 11:13] Ladas commented on #8475
I don't know what I did, but after a restart and rebase to master, this is gone

[2016-05-05 11:48] zeari commented on #8468
If not then containers\defs are truly an integrated(un-exchangeable) part of pods and we can take out disconnection out of save_inventory system entirely.

[2016-05-05 13:43] #8385 closed

[2016-05-05 14:24] blomquisg commented on #8475
@Ladas Can you verify this to make sure it's really gone, then we can just close it

[2016-05-05 14:37] gmcculloug commented on #8427
@lfu Can you look into reproducing this issue?  As the last comment states we can probably try against a different provider initially.  If we find we need GCE environment we'll need to work with @agrare.

[2016-05-05 14:50] Ladas commented on #8475
@blomquisg Yeah I don't see it anymore. I will reopen if I will see it again

[2016-05-05 14:50] #8475 closed

[2016-05-05 15:04] #8476 closed

[2016-05-05 18:05] dclarizio commented on #8447
@skateman @epwinchell ping!

[2016-05-05 18:17] #8468 closed

[2016-05-05 18:37] epwinchell commented on #8447
@Ladas I can't reproduce.  @skateman Do you see it?

[2016-05-05 18:44] epwinchell commented on #8447
@skateman I'm not seeing this, but I am seeing the menu collapse when mousing near it after merge of: https://github.com/ManageIQ/manageiq/pull/8356

[2016-05-05 18:45] epwinchell commented on #8447
cc: jeff-phillips-18

[2016-05-05 21:03] blomquisg opened #8490 "VmOrTemplate#disconnect_inv shouldn't be "infra" specific"
As [discovered by @kbrock](https://github.com/ManageIQ/manageiq/pull/8429/files#r62146546), it's possible that a Cloud Instance can be disconnected from an EMS, but still belong to an Availability Zone.  This bit us in the bug that @kbrock's PR is fixing because when we collected VMs as targets for metric collection, we traversed the following relationship `ems.availability_zone.vms`.

The [VmOrTe

[2016-05-05 22:35] kbrock commented on #8490
I feel like this is a bug not a refactor. but since we are tackling this isse from a few fronts, it is splitting hairs

[2016-05-06 04:57] #8490 closed

[2016-05-06 11:52] Ladas opened #8499 "After validation of providers fails, spinner keeps spinning"
Validation provider when e.g. putting there non existent url which will result in timeout

![image](https://cloud.githubusercontent.com/assets/1737058/15072180/a43d55be-1391-11e6-9719-600ac07115d5.png)

[2016-05-06 11:54] Ladas commented on #8499
@dclarizio anybody has seen that. @martinpovolny is the 'throw error' instead of the referrer check? Interesting fact is, that it still puts there the flash message, but hiding of the spinner is not finished.

[2016-05-06 12:02] martinpovolny commented on #8499
Ignore the `throw`. Yes, that is there to prevent execution in context of JSONP.

[2016-05-06 12:55] romanblanco opened #8502 "Get rid of fieldsets in Haml partials"
[code]

---

EDIT:

Excluding these:

[code]

[2016-05-06 12:55] romanblanco commented on #8502
@miq-bot ui, technical debt

[2016-05-06 12:57] romanblanco commented on #8502
@miq-bot add_label ui, technical debt

[2016-05-06 13:20] gmcculloug commented on #8456
@moolitayer Yes, I am in favor of this approach to keep the code consistent with VM scanning, but this is not code I am involved with much anymore so would be good to get feedback from @jrafanie.

[2016-05-06 13:39] vprusa opened #8506 "Exception on edit of middleware server"
When trying to edit Middleware server an error occurred:
![gifrecord_2016-05-06_152713](https://cloud.githubusercontent.com/assets/2094946/15074451/5ef1678a-139f-11e6-8310-0d6beb722520.gif)
 undefined method `supported_types_and_descriptions_hash' for #<Class:0x00000002293270> [middleware_server/edit]

@miq-bot add_label providers/hawkular, bug
Cc @abonas

[2016-05-06 14:08] isimluk opened #8508 "Should we remove Setting/Analytics?"
Setting/Analytics is a product feature that has been quite hidden. I have not found documentation for it, and you need to manually set `[:product][:analytics] = true` in VMDB Config to even see it. Moreover, this feature has been inaccessible in upstream till #8505.

When enabled it looks like
![screenshot](https://cloud.githubusercontent.com/assets/6666052/15074989/67d499f0-13a2-11e6-9a0c-3f62f82

[2016-05-06 14:19] isimluk commented on #8508
One more note. I have found this while writing sanity specs for MiqReport yamls in `product/`. The one related to Analytics page (https://github.com/ManageIQ/manageiq/blob/master/product/ops/miq_reports/analytics.yaml) seems to be broken.

[2016-05-06 14:21] h-kataria commented on #8508
@isimluk Settings/Analytics has not been maintained, as it is a hidden behind product config setting. @dclarizio should we remove it from the repo or is it going to be updated/used in near future.

[2016-05-06 14:24] jrafanie commented on #8456
@moolitayer I would try to keep this logic side by side with the job proxy dispatcher temporarily in a new method so we can try to see if we can rewrite the vm and container dispatcher to be more generic for each.

[2016-05-06 14:55] simon3z commented on #5517
@zeari ping?

[2016-05-06 15:00] simon3z commented on #7351
Not reproducible. Duplicate of #7610

[2016-05-06 15:00] #7351 closed

[2016-05-06 15:27] vnugent opened #8510 "Docs: incorrect docker port mappings"
I notice there are 3 puma processes running in the docker container on port 3000, 4000, 5000

[code]
The [example docker command](https://github.com/ManageIQ/manageiq/tree/master/docker-assets#on-standard-distribution) however incorrectly shows the port mappings, 80 -> 80 and 443 -> 443

I was able to access the login page with the following:
[code]

[2016-05-06 15:36] vnugent opened #8512 "Broken login page when launching from docker"
[code]

Firefox Screenshot

<img width="777" alt="miq-login" src="https://cloud.githubusercontent.com/assets/3805254/15077917/ec1eb036-136d-11e6-80d3-153777520dea.png">

[2016-05-06 15:45] gtanzillo commented on #8508
Thanks @isimluk. I vaguely remember this code but can't recall whether it was ever available in the UI. I see that @jrafanie worked on the model back in 2010. Maybe he can chime in on whether we should ✂️  it.

[2016-05-06 16:51] jrafanie commented on #8508
@isimluk It was a feature to show MiqQueue stats in the UI by using the reporting engine.  I don't think it ever took off so I would be 👍  on deleting it

* https://github.com/ManageIQ/manageiq/blob/master/product/ops/miq_reports/analytics.yaml
* MiqQueueAnalytic in:
  * app/models/miq_queue_analytic.rb
  * spec/models/miq_queue_analytic_spec.rb

[2016-05-06 20:27] jrafanie opened #8522 "Ruby 2.3.1: "Azure::CloudManager::Refresher will perform a full refresh" test fails"
This is not urgent at all but it's the only test failure on ruby 2.3.1 currently, see #8388.

cc @bronaghs @djberg96

https://travis-ci.org/ManageIQ/manageiq/jobs/128121134

Maybe we have to re-record the cassette with ruby 2.3.x?  This test works fine on 2.2.x.

[code]

[2016-05-06 20:31] jrafanie commented on #8522
I YAML dumped the orchestration_stack_resources on 2.2.4 vs. 2.3.1 and attached them as a zip.
[231_and_224_orchestration_stack_resources.zip](https://github.com/ManageIQ/manageiq/files/252992/231_and_224_orchestration_stack_resources.zip)

Oh well, maybe someone will have an idea...

[2016-05-06 20:55] djberg96 commented on #8522
Just looks to me like some new resources were added, but I'm not sure why it would pick them up unless the yml file was deleted first.

Any chance upgrading the VCR gem helps at all?

[2016-05-06 21:55] #7723 closed

[2016-05-06 22:53] jrafanie commented on #8522
Interesting, I wonder if it's bypassing the recorded cassette because of some mismatch with ruby version.

I'll try to dig into it more next week.

[2016-05-07 11:04] christx2 commented on #6479
Hey there, will there be a consideration for Fixed IPs as well as Floating IPs - not all customers / users use OpenStack with floating IP arranges. It would be worth considering that as addition to the model.

[2016-05-07 15:15] isimluk commented on #8508
Thanks guys! I'll take care of it.

[2016-05-09 07:02] moolitayer commented on #8456
fyi @gmcculloug @jrafanie @simon3z I'm currently pulling container scans into job_proxy_dispatcher.
AFAIK in order to have support for the above I need another background process to check load and dequeue and I do not see justification to duplicate job proxy dispatcher.

If anyone knows of a reason why it is undesirable please tell me.

[2016-05-09 07:47] lpichler opened #8535 "error when add/edit new report after adding columns and click on the filter tab"
1. Reports
2. Add new custom report
3. add some fields from available fields
4. click on filter tab, this causes error:

[code]

[2016-05-09 07:48] lpichler commented on #8535
@miq-bot assign lpichler

[2016-05-09 07:52] lpichler opened #8536 "error(no validation message) when adding new chargeback report and nothing is selected"
when adding new chargeback report I have this selection:

![screen shot 2016-05-09 at 09 51 13](https://cloud.githubusercontent.com/assets/14937244/15106751/afea2004-15cb-11e6-874e-d81423750083.png)

probably related https://github.com/ManageIQ/manageiq/issues/8535
[code]

[2016-05-09 07:53] lpichler commented on #8536
@miq-bot assing lpichler

[2016-05-09 08:17] Ladas commented on #6479
@christx2 hello, fixed ips are now stored in network_ports_cloud_subnets relation table, as a column address.

So for IPv4 there will be one record in this table, for Ipv6 you can have multiple addresses(subnets) associated to one port.

https://github.com/ManageIQ/manageiq/pull/8445 is adding methods fixed_ip_addresses and floating_ip_addresses on NetworkPort

So Neutron's provider public network

[2016-05-09 08:19] lpichler opened #8537 "selection in chargeback rate assigments is not reflected in dropdown"
but after clicking on "save" - it is saved correctly

![qdiq3pzv4i](https://cloud.githubusercontent.com/assets/14937244/15107324/717b538e-15cf-11e6-8768-2d6ab23ccafc.gif)

[2016-05-09 08:19] lpichler commented on #8537
@miq-bot add-label ui, chargeback, bug

[2016-05-09 08:20] lpichler commented on #8536
@miq-bot add-label ui, chargeback, bug

[2016-05-09 08:20] lpichler commented on #8535
@miq-bot add-label ui, chargeback, bug

[2016-05-09 09:41] lpichler opened #8538 "move currencies of chargeback rates to formating tab when reporting"
we are determing currencies automatically based on assigned rate:
https://github.com/ManageIQ/manageiq/pull/8444
but there is no into account settings of formating:

![screen shot 2016-05-09 at 11 13 50](https://cloud.githubusercontent.com/assets/14937244/15108623/33191560-15d7-11e6-8d81-53d580effbca.png)

**Proposal**
-  in formatting tab should be see currency from assigned rate - this will be b

[2016-05-09 10:40] aufi commented on #7899
Fix was merged.

[2016-05-09 10:40] #7899 closed

[2016-05-09 10:41] zeari commented on #5517
This issue is old and no longer reproducible - closing.

[2016-05-09 10:41] #5517 closed

[2016-05-09 11:08] psi-4ward commented on #8132
Same Problem: https://hub.docker.com/r/shoifele/bareos-ui/builds/b645xucdabfmwxscaumyrg6/

[2016-05-09 11:29] Fryguy commented on #8508
@chessbyte Opinions here?

[2016-05-09 11:29] Fryguy commented on #8474
Can you try `rake evm:compile_assets`?

[2016-05-09 11:34] Fryguy commented on #8508
The original intent is as @jrafanie described.  It was a page for internal appliance diagnostics, with the MiqQueue statistics being the first piece and there was intent to add more later on.  I'm honestly not sure why it's not within the Diagnostics tab and was given its own tab.

As we move forward I actually want to add *more* internal diagnostics, but that will probably come *after* we switch

[2016-05-09 11:36] Fryguy commented on #8512
@bazulay @fbladilo Please review.

[2016-05-09 11:38] Fryguy commented on #8510
@vnugent Internally, apache is running and handling those port mappings via port 443/80 .  For example, if apache sees a calls to http://<container>/api if will redirect that call to port 4000, since 4000 is the REST API worker's port number.

[2016-05-09 11:38] #8510 closed

[2016-05-09 11:39] Fryguy commented on #8510
Closing since I think this is actually just apache not working on port 80 as expected and as seem in the other issue #8512

[2016-05-09 11:43] lpichler commented on #8536
it is after https://github.com/ManageIQ/manageiq/pull/8421 maybe it is global thing

[2016-05-09 11:43] lpichler commented on #8536
@miq-bot unassign lpichler

[2016-05-09 11:45] lpichler commented on #8537
it is after https://github.com/ManageIQ/manageiq/pull/8421 maybe it is global thing

[2016-05-09 11:46] lpichler commented on #8537
cc @h-kataria @himdel

[2016-05-09 12:01] tledesma commented on #8538
@miq-bot add_label chargeback, reporting

[2016-05-09 12:08] sergio-ocon commented on #8537
@delaluzparra Can we help?

[2016-05-09 12:16] himdel commented on #8537
Might be an missing return true in miqSelectPickerEvent, in the onchange event handler.. But not sure right now..

[2016-05-09 12:29] bazulay commented on #8512
@vnugent  @Fryguy  @fbladilo
This looks like an old problem we have solved long ago (about the npm & bower.
In the above image i see rails.root: /manageiq (which indicate an old Dockerfile).
we moved to /var long time ago.
I'm verifying it now on master will reply back soon

[2016-05-09 12:40] lpichler commented on #8250
@miq-bot assign lpichler

[2016-05-09 12:56] bazulay commented on #8512
@vnugent @Fryguy @fbladilo

I have verified build and running on the master.
I think this issue can be closed

[2016-05-09 13:38] chessbyte commented on #8508
@Fryguy I am for removing this screen at this point.

[2016-05-09 14:23] lpichler commented on #8250
@miq-bot assign zeari

[2016-05-09 14:42] vnugent commented on #8510
Did you pull the image from DockerHub?  Maybe the image there is outdated?

The Dockerfile inside the container at /manageiq/Dockerfile has no reference to apache

[Dockerfile.txt](https://github.com/ManageIQ/manageiq/files/255193/Dockerfile.txt)

[2016-05-09 14:48] vnugent commented on #8512
Can you please update the docker image on DockerHub if it's out of date

[2016-05-09 15:15] Fryguy commented on #8512
Ah yes, I forgot the DockerHub image is out of date because of https://github.com/ManageIQ/manageiq/issues/8132 .  @bdunne is working on doing a manual build and pushing to DockerHub until Docker can fix it.

[2016-05-09 15:17] #8343 closed

[2016-05-09 15:23] Fryguy commented on #8151
Fixed in https://github.com/ManageIQ/manageiq/pull/8483

[2016-05-09 15:23] #8151 closed

[2016-05-09 15:23] Fryguy commented on #8252
Fixed in https://github.com/ManageIQ/manageiq/pull/8483

[2016-05-09 15:23] #8252 closed

[2016-05-09 15:24] Fryguy commented on #8215
#8151 fixed via #8483

[2016-05-09 15:25] Fryguy commented on #8174
#8151 fixed via #8483

Is this still an issue after that fix?

[2016-05-09 15:39] himdel commented on #8215
Note to self.. Remove the workaround for 8151 introduced in 8306

[2016-05-09 15:43] mzazrivec opened #8548 "Error when clicking on an orphaned scvmm virtual machine"
1. add scvmm provider & do a refresh
2. remove the provider
3. click on any of its vms (now orphaned)

[code]

[2016-05-09 15:47] zeari commented on #6320
@abonas @epwinchell Since https://github.com/ManageIQ/manageiq/issues/8079 seems to work well, we can re-discuss how https://github.com/ManageIQ/manageiq/pull/6090 could look with the new UI.

[2016-05-09 18:42] jameswnl opened #8555 "Cloud instance power state not updated correctly on side bar "instances-by-providers""
1. Compute->Clouds->Instances
2. Pick an AWS instance and issue powerUp or powerDown
3. The instance will be up/down accordingly (observed from AWS console)
4. On MIQ UI, the state on the right hand side panel will be updated correctly to the changed state
5. However, the side panel, the instance state remains the old state
6. Clicking the MIQ refresh button or the Configuration->refresh relations

[2016-05-09 19:53] bdunne commented on #8512
@vnugent I built a new image for master.  You should be able to `docker pull` the newer version.

[2016-05-09 20:34] #8537 closed

[2016-05-09 20:36] simaishi opened #8561 "RPM package inconsistency between kickstart and Dockerfile"
The packages listed below are in Kickstart files and included on appliances, but not in Dockerfile and not installed in container.

I'm not sure if some are excluded on purpose.. @bazulay @bdunne @Fryguy ?

createrepo
freeipmi
fuse-libs
ipmitool
cifs-utils
lshw
nmap-ncat
net-snmp
net-snmp-libs
net-snmp-utils
nfs-utils
OpenIPMI
openscap-scanner
openslp-devel
smems
cl-utils-build
telnet
c-ares
ipa-c

[2016-05-09 20:37] simaishi commented on #8561
@miq-bot add_label build/docker

[2016-05-09 20:47] simaishi opened #8562 "appliance_console fails to start in Docker container environment"
[code]

[2016-05-09 20:58] simaishi commented on #8562
LinuxAdmin is returning `NetworkInterfaceGeneric`, not `NetworkInterfaceRH`

[code]

There is no `/etc/sysconfig/network-scripts/ifcfg-eth0` file in container image.

cc @carbonin

[2016-05-09 22:15] Fryguy commented on #8562
cc @bazulay @fbladilo

[2016-05-10 05:28] fbladilo commented on #8562
Hmm, this is related in how docker networks containers, it does not go through the usual iface creation procedure, the network is just a pair of virtual interfaces within a kernel network namespace assigned to the container. If LinuxAdmin solely relies on the existance of /etc/sysconfig/network-scripts/ifcfg-ethX, then we will need to populate the ifcfg-eth0 file during the container appliance ini

[2016-05-10 08:51] bazulay commented on #8561
@simaishi  @Fryguy  who can give us the reasoning behind the need for those rpms in the VM appliance ?

[2016-05-10 09:54] simon3z opened #8572 "Hide Component Statuses from Container Provider Summary"
The Component Statuses reappeared after OpenShift fixed the permissions to access them. Previously we were logging the error:

[code]

and the Component Statuses were not appearing (because of the collection failure).

Now that we can collect them the broken information is displayed:

![screenshot from 2016-05-10 11-52-00](https://cloud.githubusercontent.com/assets/130393/15142501/a8f8416a-16a5-11

[2016-05-10 09:54] simon3z commented on #8572
@miq-bot add_label providers/containers

[2016-05-10 10:31] skondkar opened #8575 "Mouse hover over any entity in topology graph displays status as unknown"
Details:  When navigated to the Topology graph after adding a middelware  provider, hover over on any of the entities in topology graph displays  status as unknown.

Product & version: ManageIQ-Upstream latest

![unknownstatus](https://cloud.githubusercontent.com/assets/6614472/15143367/f8872c34-16c6-11e6-81b6-6bc9e403a141.gif)

Repro Steps:
1) Add a middleware provider in ManageIQ
2) Navigate to

[2016-05-10 10:33] skondkar commented on #8575
@miq-bot add_label providers/hawkular, bug
cc @abonas

[2016-05-10 10:54] simon3z opened #8576 "UI crash on displaying Container Volumes in a Grid"
When you try to display container volumes in a grid by clicking on the relevant icon:

![screenshot from 2016-05-10 12-46-26](https://cloud.githubusercontent.com/assets/130393/15144148/eff63074-16ad-11e6-9444-60675ac8eabd.png)

The UI crashes with:

![screenshot from 2016-05-10 12-54-03](https://cloud.githubusercontent.com/assets/130393/15144226/5c9e2c04-16ae-11e6-95e5-f18b8892480e.png)

[code]

c

[2016-05-10 10:55] simon3z commented on #8576
@miq-bot add_label containers/providers, bug

[2016-05-10 10:57] vprusa opened #8577 "Topology search does not revert graying icons"
It is necessary to reload page for new search in topology

![gifrecord_2016-05-10_125600](https://cloud.githubusercontent.com/assets/2094946/15144268/9ff22a14-16ae-11e6-8260-7004987bdea0.gif)

@abonas

[2016-05-10 10:58] vprusa commented on #8577
@miq-bot add_label providers/hawkular, bug

[2016-05-10 11:00] simaishi commented on #8561
For some of the packages, the reasoning can be found here:

https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/packages/includes.ks.erb

[2016-05-10 11:09] cben commented on #7460
Backend got merged.  (Some [small tasks](https://github.com/ManageIQ/manageiq/pull/7605#issuecomment-217899712) remain there.)

We are now missing the frontend to deliver a complete solution.
It should be possible to add/edit/remove rules.
[https://trello.com/c/Etu2fM25/371-auto-tagging-based-on-kubernetes-labels]

Central UX question: should user have to create tag/category [at Settings->Configur

[2016-05-10 11:54] mzazrivec opened #8581 "Some of the pngs removed in f7b48676bed0b6da81fe5b6e55d05832e77c11d2 are still referenced in our views"
Commit f7b48676bed0b6da81fe5b6e55d05832e77c11d2 deleted toolbar pngs.

[code]

Rendering the above views results into error like the following:

[code]

@epwinchell

[2016-05-10 12:14] mzazrivec opened #8582 "Error when navigating to Networks -> Topology"
@Ladas

[code]

[2016-05-10 12:42] simon3z commented on #8576
@miq-bot add_label providers/containers

[2016-05-10 12:49] simon3z commented on #7460
@cben let's start simple and give the ability to pick from the already existing tags.
Creation of new tags can build on that if needed.

[2016-05-10 13:19] Ladas opened #8584 "Workflow vm cloud summary, bad view after F5 refresh"
vm_cloud summary, after clicking in the workflow list of vms:

![image](https://cloud.githubusercontent.com/assets/1737058/15147712/4935a48a-16c2-11e6-9935-bb1f2209f438.png)

but when hitting F5 or clicking on the workflow section again, it's using view for infra instead of cloud:
![image](https://cloud.githubusercontent.com/assets/1737058/15147758/8ca0905e-16c2-11e6-9003-5b8cb8c772be.png)

[2016-05-10 13:23] simaishi commented on #8562
FYI, /etc/sysconfig/network-scripts/ifcfg-eth0 exists on RHEL 7.2 container image and LinuxAdmin returns NetworkInterfaceRH.

[2016-05-10 13:23] epwinchell commented on #8581
@mzazrivec Most the the images in that list were put back and are in: /images/toolbars/

[2016-05-10 13:29] carbonin commented on #8562
@simaishi @fbladilo If `/etc/sysconfig/network-scripts/ifcfg-eth0` does not exist on a system that is recognized as a Red Hat based distro you are likely hitting the condition here https://github.com/ManageIQ/linux_admin/blob/master/lib/linux_admin/network_interface.rb#L27

[2016-05-10 13:29] carbonin commented on #8562
We fallback to the generic interface which can still present network interface information when there is no file to parse/edit

[2016-05-10 13:31] carbonin commented on #8562
If docker containers require some other way to set the network information then that should probably be implemented as a separate `network_interface` subclass in linux_admin.

What do you think @bdunne ?

[2016-05-10 13:52] simaishi opened #8587 "Missing 'parted' package causes appliance_console to crash in Docker container"
appliance console crashes when selecting menus related to disk (e.g. configure DB) in Docker container.

This is due to `parted` package missing in the image:

[code]

Not sure if we should be hiding those menus as they don't really apply to container.

@bazulay @fbladilo @Fryguy @bdunne

[2016-05-10 13:57] fbladilo commented on #8562
@simaishi I just restored access to the lab, yes I see it on RHEL72 image, contains stale information generated by Dracut :

[root@7df49ab9b78f network-scripts]# cat ifcfg-eth0
# Generated by dracut initrd
DEVICE="eth0"
ONBOOT=yes
NETBOOT=yes
UUID="35cd09ad-1ca5-47a5-9efd-a2763829f841"
BOOTPROTO=dhcp
HWADDR="52:54:00:a9:e6:5f"
TYPE=Ethernet
NAME="eth0"
[root@7df49ab9b78f network-scripts]# cat /etc

[2016-05-10 13:57] simaishi commented on #8587
@miq-bot add_label build/docker

[2016-05-10 14:13] bdunne commented on #8562
I think we're going in the wrong direction with this... We should disable the network configuration and display features of the appliance console when run in a container.  Even if you fix the issues in LinuxAdmin, you're going to get the private container IP address (on the docker bridge), not the public IP of the host / pod where the containers services are exposed to the outside world.

[2016-05-10 14:17] bdunne commented on #8587
1. I believe `parted` is required by parts of our code and should be added for that reason.  We need a way to simplify our RPM package requirements, this is becoming a big maintenance headache.

2. I think this also feature also needs to be disabled in the appliance console for containers.

[2016-05-10 14:24] skondkar opened #8589 "Topology link in the breadcrumb does not naviagte to topology screen"
Details:  Double click on an entity in topology graph navigates to the entity summary page with the breadcrumb having the 'Topology' link. Clicking on this link does not navigate to the topology screen and user remains on the same entity summary page.

Product & version: Upstream latest

Repro Steps:
1.Login to MIQ
2.Navigate to Compute->Middleware->Topology
3.Double click on any of the entities s

[2016-05-10 14:25] skondkar commented on #8589
@miq-bot add_label providers/hawkular, bug
cc @abonas

[2016-05-10 14:26] bazulay commented on #8587
Doing system administration operations in a container is significantly different than doing it in a VM.
And some are simply not possible.

The way to check what can be a problem is from the functionality side by answering 2 questions:
1 - what functionality  is missing  ?
2 - is it required in a container ?

In case this is not required there is a different question we need to answer:
- do we want

[2016-05-10 14:33] skondkar opened #8590 "Typo in Reload Server tooltip"
Details: Middleware->Middleware Servers->Power->Hover on Reload Server show a tooltip 'Reload these Middleware Server'
It should be 'Reload this Middleware Server' or 'Reload these Middleware Servers'

Product & version: upstream latest

Repro Steps:
1.Login to ManageIQ
2.Add a middleware provider
3.Navigate to Compute->Middleware->Middleware Servers
4.Select a server from the list and click on 'P

[2016-05-10 14:33] skondkar commented on #8590
@miq-bot add_label providers/hawkular, bug
cc @abonas

[2016-05-10 14:35] fbladilo commented on #8562
@simaishi I think our tools and processes need to be more container aware, the container lives in a kernel namespace supplied by the docker host and in most cases, a different OS from the running container (in my case Fedora). If we expect a container to behave like a VM we will probably see more of this, they are different.

I see iface files are supplied (Centos7 has a ens2 stale entry on image

[2016-05-10 15:32] durandom commented on #6955
@blomquisg could you close this issue, please? The fix has been merged

[2016-05-10 15:35] simaishi commented on #8562
I agree with the 'container aware' tools/processes. As is, appliance console doesn't run in the upstream container.  If we're going to look into disabling non-applicable features, do we want to put some workaround for now?

[2016-05-10 15:39] carbonin commented on #8562
So it seems like we need two things:

- A reliable way to determine whether we are running in a container
- Knowledge about what areas will fall down if we don't consider whether we are running from within a container

For now, we can work around the console issue with a `.respond_to(:parse_conf)`
That will allow us to get to the rest of the menu options, but the options to change network config (

[2016-05-10 16:07] moolitayer commented on #7690
## Additional screenshots

Executing Smart State Analysis
Option 1:
![1](https://cloud.githubusercontent.com/assets/3010449/15017935/4e966cf8-1220-11e6-83ee-cb5424c823f9.png)

Option 2:
![1](https://cloud.githubusercontent.com/assets/3010449/15017980/793cca88-1220-11e6-8c14-fd63b3f7f7b3.png)

Viewing OpenSCAP results:
![3](https://cloud.githubusercontent.com/assets/3010449/15018804/ecd7e8f8-1223-1

[2016-05-10 16:17] carbonin commented on #8562
Opened a PR with a workaround.

I would rather have a nice way of not displaying the options that don't apply if we are running on a container though.

[2016-05-10 16:20] bronaghs commented on #8555
This is not AWS specific, I reproduced this on Azure also.

[2016-05-10 16:20] vnugent commented on #8512
It's working me now.  Thanks!

[2016-05-10 16:20] #8512 closed

[2016-05-10 16:36] vnugent opened #8595 "[Question] Running MiQ behind a proxy/non-ssl mode"
I'm running MiQ Docker container behind a nginx proxy.  I want to terminate SSL at the proxy and forward http traffic to MiQ.  It seems not possible to access the UI using http:

[code]

[2016-05-10 19:02] bronaghs commented on #8555
@miq-bot assign @dclarizio

[2016-05-10 19:03] bronaghs commented on #8582
@miq-bot assign @dclarizio

[2016-05-10 19:03] #8581 closed

[2016-05-10 19:03] bronaghs commented on #8548
@miq-bot assign @dclarizio

[2016-05-10 19:06] dclarizio commented on #8502
@romanblanco let me know when this can be closed, if these all get removed.

[2016-05-10 19:10] dclarizio commented on #8548
@h-kataria can you check if this is a case of the back end not removing the EMS relationship when the EMS is deleted or if this is an actual UI bug?  Thx, Dan

[2016-05-10 20:02] abonas commented on #8577
@vprusa that doesn't sound specific to hawkular. rearranging labels.
@miq-bot add_label topology, ui
@miq-bot rm_label providers/hawkular

[2016-05-10 20:10] abonas commented on #8575
@skondkar this is a missing feature and not a bug. statuses are not yet supported.
so either this should be converted into feature request, or the bug resolution would be for now to remove status from the tooltip.
cc @pilhuhn
wdyt?

[2016-05-10 20:15] abonas commented on #8506
@lucasponce wasn't this fixed in #8238 ?
potential duplicate of #8103
@miq-bot add_label ui

[2016-05-10 20:19] abonas commented on #8590
@miq-bot add_label ui

[2016-05-10 23:09] abellotti commented on #2198
real API client will need to be revisited/implemented as a separate gem. Closing this issue.

[2016-05-10 23:09] #2198 closed

[2016-05-11 08:55] lucasponce commented on #8506
This is weird.
It was fixed on master with #7365 and #8238.
Which branch has this issue ?

[2016-05-11 09:02] tledesma opened #8608 "Report filter tab doesn't work"
When we try to add, edit or copy a report, filter tab doesn't work and thus, reports cannot be created.

![captura del escritorio de 11-05-16 10-50-01](https://cloud.githubusercontent.com/assets/13876427/15175572/3aacaf58-1767-11e6-9cc7-babc64849508.gif)

fyi @delaluzparra @sergio-ocon

[2016-05-11 09:03] tledesma commented on #8608
@miq-bot add_label report, bug

[2016-05-11 09:07] delaluzparra commented on #8608
@miq-bot add_label reporting

[2016-05-11 09:47] simon3z commented on #8572
@miq-bot add_label bug

[2016-05-11 10:00] vprusa commented on #8506
Not sure which branch but there is no option for adding server like that in newer UI.
![screenshot from 2016-05-11 11-56-39](https://cloud.githubusercontent.com/assets/2094946/15177344/cca3b2dc-176f-11e6-983f-f9cde04a5a83.png)

[2016-05-11 10:16] lucasponce commented on #8506
That is the expected behaviour.
Middleware Servers can't be added manually in ManageIQ, they are managed by the provider (Hawkular).

[2016-05-11 10:55] durandom commented on #825
We could add a config [here](https://github.com/ManageIQ/manageiq/blob/cdf97e80840dd3f69c0846ddc96cf9ccdca5804e/config/settings.yml#L104-L108). This would be handed down to the refresh parser  [same as here](https://github.com/ManageIQ/manageiq/blob/cdf97e80840dd3f69c0846ddc96cf9ccdca5804e/gems/manageiq-providers-amazon/app/models/manageiq/providers/amazon/cloud_manager/refresh_parser.rb#L25-L27)

[2016-05-11 11:53] simon3z commented on #8608
I am hitting this too, is there any fix / workaround? cc @dclarizio @h-kataria @chessbyte @blomquisg

[2016-05-11 12:01] simon3z opened #8612 "Remove the Atomic container provider creation option"
The options to create Atomic container providers should be removed (both):

![screenshot from 2016-05-11 13-58-55](https://cloud.githubusercontent.com/assets/130393/15180219/88540d8c-1780-11e6-9901-04d284e3cb05.png)

It won't be possible to create new Atomic providers for the time being. The existing ones (created before the fix for the issue) should remain and be fully functional.

In 4.2 we'll i

[2016-05-11 12:01] simon3z commented on #8612
@miq-bot add_label providers/containers, bug

[2016-05-11 12:32] abonas commented on #8506
@vprusa please close the issue if it's not reproducible any longer. thank you

[2016-05-11 12:38] mzazrivec opened #8613 "Console log error when navigating to container dashboard"
[code]

[2016-05-11 13:51] h-kataria commented on #8608
@romanblanco this broke with refactoring in commit 8556068a3872d3785ad626d33ab7a7138096e2ea, looks like you removed a line of code from block here https://github.com/ManageIQ/manageiq/blob/master/app/controllers/report_controller/reports/editor.rb#L181 that is causing the issue, can you please take a look
[code]

[2016-05-11 13:53] h-kataria commented on #8608
@simon3z for a workaround add following line before https://github.com/ManageIQ/manageiq/blob/master/app/controllers/report_controller/reports/editor.rb#L183

[code]

[2016-05-11 13:59] hsong-rh opened #8617 "The datastore summary tables are empty after SmartState analysis on the VM of RHEV"
Before smart state analysis, in the vm detail page, two datastore summary tables have meaningful info. But after scanning, they become empty. The interesting thing is after refreshing the RHEV provider, all the information are back. This only happens on the VMs of RHEV. VMWARE doesn’t has this problem.

[2016-05-11 14:02] lpichler commented on #8608
thanks gyus, I will add some specs https://github.com/ManageIQ/manageiq/pull/8559 and PR will be ready.

[2016-05-11 14:02] blomquisg commented on #8617
@pkliczewski can you look at this one?  I suspect that the SmartState analysis is triggering a targeted refresh.  And, I wonder if the targeted refresh is missing a piece of the inventory tree including the datastores.

[2016-05-11 14:08] h-kataria commented on #8548
@dclarizio this seems to be a model issue, blowing up on https://github.com/ManageIQ/manageiq/blob/master/app/models/vm_or_template.rb#L1748, seems like is_proxy_active? method is missing for a ManageIQ::Providers::Microsoft::InfraManager::Host

[2016-05-11 14:12] dclarizio commented on #8548
Greg, can you take a look at this?

[2016-05-11 14:33] vprusa opened #8618 "Datasources are not displayed correctly"
I should not have to refresh page content by sorting datasources to view list of datasources
1. navigation example:
![gifrecord_2016-05-11_153613](https://cloud.githubusercontent.com/assets/2094946/15182716/487e9f48-178e-11e6-97d6-fc24c1945a0c.gif)
2. navigation example:
![gifrecord_2016-05-11_154000](https://cloud.githubusercontent.com/assets/2094946/15182833/bbbdd884-178e-11e6-9b81-2409ce02938e.

[2016-05-11 14:34] vprusa commented on #8618
@miq-bot add-label bug, ui, providers/hawkular

[2016-05-11 14:47] vprusa opened #8620 "Display resources as List View disable Sorting option"
When changing item view to List View the Sorting becomes disabled.
Middleware example:
![gifrecord_2016-05-11_164002](https://cloud.githubusercontent.com/assets/2094946/15184879/3177f034-1797-11e6-8db0-70902e62652a.gif)
Clouds example:
![gifrecord_2016-05-11_164031](https://cloud.githubusercontent.com/assets/2094946/15184873/2bed2db4-1797-11e6-8f94-e6278f916fee.gif)
Same happens in Infrastructure.

[2016-05-11 14:48] vprusa commented on #8620
@miq-bot add-label bug, ui

[2016-05-11 15:12] jvlcek opened #8621 "Evaluate and reduce INFO logging where practical from the UI"
There seems to be excessive INFO message writen to the EVM logs contributing
to logging related bugs.

An evaluation and reduction of INFO logging where practical needs to be done.

[2016-05-11 15:13] jvlcek opened #8622 "Evaluate and reduce INFO logging where practical from Providers"
There seems to be excessive INFO message written to the EVM logs contributing
to logging related bugs.

An evaluation and reduction of INFO logging where practical needs to be done.

[2016-05-11 15:14] jvlcek opened #8623 "Evaluate and reduce INFO logging where practical from Automate"
There seems to be excessive INFO message written to the EVM logs contributing
to logging related bugs.

An evaluation and reduction of INFO logging where practical needs to be done.

[2016-05-11 15:14] jvlcek opened #8624 "Evaluate and reduce INFO logging where practical from the Platform Core"
There seems to be excessive INFO message written to the EVM logs contributing
to logging related bugs.

An evaluation and reduction of INFO logging where practical needs to be done.

[2016-05-11 15:23] jvlcek commented on #8621
@miq-bot add_label ui "technical debt"

[2016-05-11 15:24] jvlcek commented on #8622
@miq-bot add_label providers "technical debt"

[2016-05-11 15:26] abonas commented on #8618
@vprusa :
1. please provide a more clear issue description and reproduction steps, it's difficult to understand what is the exact issue here.
2. is this specific to datasources? or all middleware entities? or all miq entities? that would set different labels, scope and handling.

[2016-05-11 15:27] jvlcek commented on #8621
@miq-bot add_label ui

[2016-05-11 15:27] abonas commented on #8620
cc @dclarizio

[2016-05-11 15:28] jvlcek commented on #8622
@miq-bot add_label providers

[2016-05-11 15:28] jvlcek commented on #8623
@miq-bot add_label automate

[2016-05-11 15:28] jvlcek commented on #8624
@miq-bot assign @jvlcek

[2016-05-11 15:30] abonas commented on #8589
@miq-bot add_label topology

[2016-05-11 15:40] simaishi commented on #8587
@bazulay I think we're on the same as to what our goal is.

But until we get to the point we go over the features and identify what should be in/out and decide what to do for 'out' items, how do we want to handle errors like this?

Are we good on adding `parted` for now?

[2016-05-11 16:06] abonas commented on #6715
first item was handled in #8203

[2016-05-11 16:10] abonas opened #8625 "Missing toolbar and edit tags option for middleware deployment and datasource"
Middleware deployment and datasource entities are missing a toolbar, and as a result, also the ability to tag them.
should look like this:
![toolbar](https://cloud.githubusercontent.com/assets/6277245/15187959/02c1c1f6-17ac-11e6-8814-8decfd726aeb.png)

current:
![missingtoolbar](https://cloud.githubusercontent.com/assets/6277245/15187964/0a1c6f96-17ac-11e6-8beb-cc5bd2c557a0.png)

@miq-bot add_labe

[2016-05-11 16:22] chrisgreene opened #8626 "Errno::ECONNREFUSED: Connection refused with multiple refresh listeners"
I was wondering if it's possible to have a service dialog element set to refresh multiple elements in the service dialog. It seems like I can have one element refresh a different single element, but as soon as I try to update multiple elements (who are set to auto-refresh) I start receiving the error:

[code]

I'll also see that it calls the instances associated with the dialog element multiple ti

[2016-05-11 16:45] bazulay commented on #8587
@simaishi  @fbladilo  @bdunne  in case the functionality parted is required for is preparing a partition for the db, than this is redundant, further more this may even damage the host the container is running on, especially in a privileged container.

So is this the only functionality parted is required for ?

[2016-05-11 16:47] lpichler commented on #8608
@miq-bot assign lpichler

[2016-05-11 16:49] abonas opened #8628 "Add the datasource entity to the middleware topology"
@miq-bot add_label topology, providers/hawkular
@miq-bot assign @Jiri-Kremser

[2016-05-11 16:53] abonas commented on #8575
@miq-bot add_label topology

[2016-05-11 17:09] epwinchell opened #8629 "2nd and 3rd level nav not working in mobile layout"
Clicking on a primary menu item sends up a request and reloads the default screen for 1st level menu.

[2016-05-11 17:10] epwinchell commented on #8629
@miq-bot add_label ui, bug

[2016-05-11 17:11] epwinchell commented on #8629
@miq-bot assign skateman

[2016-05-11 17:11] epwinchell commented on #8629
cc @jeff-phillips-18

[2016-05-11 17:40] chrisarcand opened #8631 "Start Page -> Open at login broken"
The start page functionality appears to be broken on current master when using an administrator role.

![](http://screenshots.chrisarcand.com/permcoopp.jpg)

[2016-05-11 17:40] chrisarcand commented on #8631
@miq-bot add_labels ui, bug

[2016-05-11 17:42] chrisarcand opened #8632 "Request: Logo link to user's start page"
It's pretty common in web applications to have the main logo on the page link to the 'main' page of a site/app. The logo in our app currently points to nothing. I'd love it if we could have that direct to whatever the user's preferred start page is.

![](http://screenshots.chrisarcand.com/permwc0b4.jpg)

[2016-05-11 17:43] chrisarcand commented on #8632
Note that #8631 should be fixed and/or can be done at the same time as this.

@miq-bot add_labels ui

[2016-05-11 17:56] Fryguy commented on #8587
I agree and I would prefer to add now to prevent the immediate crash, and then discuss how to remove it later.

[2016-05-11 17:57] Fryguy commented on #8587
To add to my statement, I think there is a general workflow review that needs to happen, particularly with respect to the appliance_console.  But for now, we need to accomodate the current workflow and not make any rash decisions under the gun of the release.

[2016-05-11 18:07] chrisarcand commented on #8631
False alarm. Appeared broken but it's just that an admin without any providers is intended to be brought to the providers page if there are no providers yet, OOTB experience. Thanks @dclarizio for clarifying all that! ❤️

[2016-05-11 18:07] #8631 closed

[2016-05-11 18:13] hsong-rh commented on #8617
@pkliczewski After the method m_controller defined in the app/models/hardware.rb is called, the disk information is wiped out. The xml generated by the vm either from RHEV or VMWare are a little bit different as follows. In the RHEV, there is no information about the disk_type, size, etc. as VMWare. I am not sure if this is the reason. Just FYI, hope these may help you.

XML from RHEV:

[code]

XM

[2016-05-11 18:31] fbladilo commented on #8587
@Fryguy @simaishi @bazulay I'm fine with adding parted to get this moving, still all of the arguments Barak mentioned are valid and including parted is something we should remove once all tools are more container aware

[2016-05-11 18:33] pilhuhn commented on #8575
I'd say let's leave it as is. We need first have the hawkular server reliably deliver the availability + sub-states and then we can revisit this.

[2016-05-11 19:27] bronaghs opened #8634 "Create log file for Azure"
Create an Azure log file that logs the azure requests (like we do for the other providers like aws.log, fog.log, rhevm.log etc)

[2016-05-11 19:36] dclarizio commented on #8620
@abonas Can you try with some records?  I'm pretty sure the column headers are then clickable to allow sorting when in list view.

[2016-05-11 19:43] abonas commented on #8620
@vprusa please see @dclarizio request above https://github.com/ManageIQ/manageiq/issues/8620#issuecomment-218566069

[2016-05-11 20:11] #8572 closed

[2016-05-11 20:28] dclarizio commented on #8555
@jameswnl This is a limitation of the current implementation where a browser refresh is needed to update the tree node icons.  This will take an enhancement to correct, as we don't want to redo the expensive function of tree rebuilding every time we interact.  We would need a mechanism that could detect exactly which nodes have changed since the last tree refresh and then directly change those spe

[2016-05-11 20:34] jameswnl commented on #8555
@dclarizio got it. You can decide if this should be closed.

[2016-05-11 21:00] fbladilo commented on #8562
@carbonin in regards of a reliable way to know we run into a container I haven't found an official answer but I've seen these approaches:

1. The existance of .dockerenv or .dockerinit
2. Environment variable "container" set to docker
3. Cgroup check "grep docker /proc/self/cgroup"

1 and 2 are the most used, probably a combination of them would be safer. I hope this helps.

[2016-05-11 21:59] abellotti opened #8641 "SAML authenticated appliance prompts for Authentication Required"
After successfully authenticating to the appliance using SAML, after some period of time the  UI pops up the Authentication Required dialog.

![screen shot 2016-05-11 at 5 54 39 pm](https://cloud.githubusercontent.com/assets/5797328/15197857/c966adb8-17a1-11e6-9af2-2203205e3de1.png)

Issue is most likely related to the timer where the UI refreshes its API token.  In the SAML implementation in the

[2016-05-12 00:00] mtho11 commented on #8214
Implemented via: https://github.com/ManageIQ/manageiq/pull/8642

[2016-05-12 07:33] abonas commented on #8575
@pilhuhn ok. I'll convert this into a feature request, since it's not a bug.
@miq-bot rm_label bug

[2016-05-12 07:34] Ladas commented on #8582
@mzazrivec please post the whole SQL that is failing, maybe also bigger part of the log

I think this is the OpenStack Infra env, but I don't have any infra env to test it on now

[2016-05-12 07:34] #8214 closed

[2016-05-12 07:49] abonas opened #8643 "Background Jobs will not start until the provider credentials have been validated"
When creating a new provider, if its details are saved without pressing "validate" credentials first, its background refresh workers won't start.
It's not intuitive and not clear to user that this is the implication of saving a provider.

as proposed on gitter by @Fryguy, worth to add a clarification message on saving the provider:
"Are you sure you want to save without validating? Background Jobs

[2016-05-12 08:46] #6709 closed

[2016-05-12 08:46] #5248 closed

[2016-05-12 10:15] Ladas commented on #8158
@infrahub the fix for this was merged, can you test and close this issue if it's fixed for you?

[2016-05-12 10:16] Ladas commented on #6834
@martinpovolny the fix for this was merged, can you test and close this issue if it's fixed for you?

[2016-05-12 13:58] simon3z commented on #4890
@abonas can this be closed?

[2016-05-12 14:23] simon3z commented on #1955
![screenshot from 2016-05-12 16-22-06](https://cloud.githubusercontent.com/assets/130393/15217865/b998c42c-185d-11e6-82ef-c9a9939d0e6c.png)

Environment variables are now collected and displayed in the UI. @abonas if this is handled, can you close this?

[2016-05-12 14:29] simon3z commented on #6990
@yaacov is this fixed?

[2016-05-12 14:35] aufi opened #8651 "Openstack infra key pair file upload damages key"
When private key is uploaded in Openstack Infra provider, new lines in file with key are stripped. It causes error when SmartState analysis is requested on backend.

Steps
* Upload Openstack Infra provider keypair (see screen bellow)
* Call Smart State analysis on some infra node

![image](https://cloud.githubusercontent.com/assets/555381/15216982/bd69355e-1859-11e6-91da-46bd5aad3b25.png)

Error f

[2016-05-12 14:50] blomquisg commented on #8643
@dclarizio how do you feel about this?

[2016-05-12 14:56] blomquisg commented on #8626
@gmcculloug I couldn't tell if this is UI or Automate ... reassign to @dclarizio if he needs to look at it.

[2016-05-12 14:57] blomquisg commented on #8623
@jvlcek do you have a couple examples of log messages that seem to clutter the logs?

[2016-05-12 14:58] blomquisg commented on #8622
@jvlcek do you have a couple examples of log messages that clutter the logs?

[2016-05-12 14:58] blomquisg commented on #8621
@jvlcek do you have a couple examples of log messages that clutter the logs?

[2016-05-12 15:00] blomquisg commented on #8613
@simon3z this might be core UI, can you take a look and see if this should be on @dclarizio

[2016-05-12 15:05] simon3z commented on #8613
@zeari can you take a look?

[2016-05-12 15:06] simon3z commented on #8613
@miq-bot add_label providers/containers, bug

[2016-05-12 15:13] zeari commented on #8613
@simon3z sure

@yaacov im fairly certain this is what we encountered about inserting empty data to those image/pod trend charts

[2016-05-12 15:23] mansuamen opened #8652 "Error in provisioning with host filter"
Capablanca-2 with vmware vcenter6
I've made an Automation Method to place the provisioned vms with my own crtiterias using eligible_hosts, eligible_storages and eligible_folders methods.
With "All" as default host filter the method works fine but now probably because the admin user change permissions now all users including admin have "Provisioning Scope/All" as default host filter and the method

[2016-05-12 15:27] pilhuhn commented on #8643
cc @Ladas @AparnaKarve As you were just discussing almost the same thing.

[2016-05-12 15:39] yaacov commented on #8613
it's a typo in:
`app/views/shared/views/_show_containers_dashboard.html.haml`
we used `src => `
be we shuld have used `ng-src =>`

bad:
`%img.provider-icon-large{"src" =>"{{providerTypeIconImage}}"}`
god:
`%img.provider-icon-large{"ng-src" =>"{{providerTypeIconImage}}"}`

[2016-05-12 15:40] simon3z opened #8654 "Add Policies and Alerts support for containers"
We should:
- expose provider events as miq events
- add nodes pods and replicators to control and alerts

cc @moolitayer @cben

[2016-05-12 15:41] simon3z commented on #8654
@miq-bot add_label providers/containers, enhancement
@miq-bot assign cben

[2016-05-12 15:42] Ladas commented on #8643
we have a similar issue, right now the creds do not save on validate, that means we can't fix validation and restart worker

But I wasn't aware of that validate button needs to be hit on creation, so seems like a similar issue?

[2016-05-12 16:51] dclarizio commented on #8643
@blomquisg @Ladas @pilhuhn @AparnaKarve

Results of the chat discussion seem to be that we should not allow Save button to enable until all required form fields are entered and all end point credentials have been validated.  So:

- On each end point tab, if validation is needed, show the tab in red (or somehow indicate the tab needs attention) and display a red message inside the tab area stating

[2016-05-12 17:06] jameslabocki opened #8659 "Menu for Services under Compute?"
![screen shot 2016-05-12 at 1 04 26 pm](https://cloud.githubusercontent.com/assets/238043/15223386/2bc7ddec-1842-11e6-8044-b6e25359bf0f.png)

See above. Why are "services" found underneath "compute"? My service might include things that are not only compute. To me, "services" should be a higher level menu item.

-James

[2016-05-12 17:06] jameslabocki commented on #8659
@jonnyfiveiq @geertj  ^^

[2016-05-12 17:53] geertj commented on #8659
Agree! Services is our highest level and most powerful  concept. It needs to have its lown top level menu, like before

[2016-05-12 17:54] Ladas commented on #8643
@dclarizio btw. this will need to be backported, without saving of the validation, we are not able to start again worker with error status.

[2016-05-12 18:02] supernoodz opened #8662 "[[ResourceNotFound] The Resource '..' under resource group 'myinstances' was not found.]"
@Fryguy As discussed...

[----] E, [2016-05-12T13:51:49.391113 #9965:57d988] ERROR -- : MIQ(ManageIQ::Providers::Azure::CloudManager::MetricsCapture#perf_collect_metrics) [realtime] for: [ManageIQ::Providers::Azure::CloudManager::Vm], [1000000000005], [cloud001] Unhandled exception during perf data collection: [[ResourceNotFound] The Resource 'Microsoft.Storage/storageAccounts/5bvh7j3k45ckasawinvm

[2016-05-12 18:03] dclarizio commented on #8643
@Ladas when the creds are updated and validated, then when the record is saved, I would expect the model to clear the invalid flag and restart the worker.  I'm not sure if we will need a back end change for that, but I don't think it would be the UIs responsibility to actually restart the worker.  The record being saved should be enough for the model to realize the worker can be restarted.

[2016-05-12 18:19] #8508 closed

[2016-05-12 18:43] jvlcek commented on #8622
I do have example logs that I can share privately. What I did notice is that within 1 second a lot of duplicate messages are being reported. For example:

_file % grep 03T17:14:42 evm.log | wc
    104    2753   34585
file % grep 03T17:14:41 evm.log | wc
     64    1992   22098_

It appears to be related to C&U on vmware.

[2016-05-12 18:43] jvlcek commented on #8621
I do have example logs that I can share privately. What I did notice is that within 1 second a lot of duplicate messages are being reported. For example:

_file % grep 03T17:14:42 evm.log | wc
    104    2753   34585
file % grep 03T17:14:41 evm.log | wc
     64    1992   22098_

It appears to be related to C&U on vmware.

[2016-05-12 18:43] jvlcek commented on #8623
I do have example logs that I can share privately. What I did notice is that within 1 second a lot of duplicate messages are being reported. For example:

_file % grep 03T17:14:42 evm.log | wc
    104    2753   34585
file % grep 03T17:14:41 evm.log | wc
     64    1992   22098_

It appears to be related to C&U on vmware.

[2016-05-12 19:25] dclarizio commented on #8632
@jonnyfiveiq You ok with this?
@epwinchell Any conflicts with user customization (i.e. someone changes this to their own company logo)?  Perhaps hover text stating "Go to my start page" would help clarify.

[2016-05-12 19:46] epwinchell commented on #8632
No conflicts. Users can update the logo by dropping in a brand.svg.

[2016-05-12 21:44] simon3z commented on #8613
@miq-bot assign yaacov

[2016-05-12 21:45] simon3z commented on #8612
@miq-bot assign yaacov

[2016-05-12 21:46] simon3z commented on #8576
@miq-bot assign zakiva

[2016-05-12 21:48] simon3z commented on #8456
@miq-bot assign moolitayer

[2016-05-12 21:57] simon3z commented on #2056
Annotations should be interpreted, as for example with the `kubernetes.io/created-by` that we use to track Pods-ReplicationController relationships, or like `openshift.io/display-name` for the display name.

Most of the time the content is in json or any other format: storing/displaying them plainly without interpreting them seems confusing.

@abonas @zeari any objection to close this for the time

[2016-05-12 22:03] simon3z commented on #6990
@miq-bot assign yaacov

[2016-05-12 22:03] simon3z commented on #7003
@miq-bot assign moolitayer

[2016-05-12 22:04] simon3z commented on #7460
@miq-bot assign cben

[2016-05-13 06:35] Ladas commented on #8643
@dclarizio yes, you are right, it's enough to save the record, especially the status of the authentication is the important thing. Then it will just work.

[2016-05-13 09:17] simon3z commented on #4890
@miq-bot assign simon3z

[2016-05-13 09:29] zeari commented on #8613
@yaacov I stand corrected!

[2016-05-13 09:47] arnikasky opened #8679 "rake assets:precompile doesn't work on darga"
Hello.
I applied new commits of version darga and what i see:
Sprockets::FileNotFound: couldn't find file 'es6-shim' with type 'application/javascript'
/var/www/miq/vmdb/app/assets/javascripts/application.js:2
[rake_assets_darga.txt](https://github.com/ManageIQ/manageiq/files/262931/rake_assets_darga.txt)
Tnx.

[2016-05-13 10:38] vprusa commented on #8620
@dclarizio
.. headers are then clickable ..
Ah, yes they are, i see. Thank you.

[2016-05-13 10:39] #8620 closed

[2016-05-13 10:49] aufi opened #8681 "Delete multiple volumes from Openstack cloud provider does not work - no volumes selected for deletion"
Checking checkboxes add chosing Delete selected volumes does not work. It looks that selected volumes are not passed to backend.

![image](https://cloud.githubusercontent.com/assets/555381/15245780/0308a694-1909-11e6-9086-1bd778b35582.png)

![image](https://cloud.githubusercontent.com/assets/555381/15245791/13ec319c-1909-11e6-9f26-604a7ee66305.png)

[2016-05-13 10:52] aufi opened #8682 "Delete Openstack Cloud Volume fails in controller"
Button Delete this Cloud Volume on its detail page does not work (volume was in state Available).

![image](https://cloud.githubusercontent.com/assets/555381/15245870/724949d2-1909-11e6-8af6-7153dd7fa21b.png)

![image](https://cloud.githubusercontent.com/assets/555381/15245882/8b8ab2c8-1909-11e6-9d63-b41c357c7c57.png)

[2016-05-13 11:25] prachiyadav opened #8683 "Middleware provider is not catching event for successful deployment"
- Middleware provider is not catching event for successful deployment
- However, deployed war file is visible is middleware deployments.

Steps to reproduce:

- Deploy a war in hawkular
![screenshot from 2016-05-12 18 22 45](https://cloud.githubusercontent.com/assets/13483060/15246707/91abd754-192c-11e6-8b46-9ca6776bad70.png)

- Login to ManageIQ
- Navigate to Middleware providers summary page->Mo

[2016-05-13 11:48] isimluk commented on #8277
@rwsu thanks for the report. I am running master branch and I am unable to reproduce your issue.

I tried to follow your report as close as I could, but I have not been able to see what you were seeing. Then, I tried to play with the dialog a little bit, but it seems all working.

Can you please verify you can it is fixed on master?

Thanks
~š.

[2016-05-13 11:52] vprusa commented on #8618
On newer instance of ManageIQ provided via Sprout part of the issue seems to be fixed (datasource icons display without item list sorting/refreshing).
This issue is specific for Datasources of Middleware (Hawkular).
Ongoing issue (on new ManageIQ instance - last commit hash 44000d0a371f69ed271f3efb3ae950e0ea8cf673 ) is missing icon for Middleware Datasources for Tile and Grid View:
![gifrecord_201

[2016-05-13 13:19] tzumainn commented on #8651
@mansam I think you have this fixed wtih https://github.com/ManageIQ/manageiq/pull/8673 - you may want to reference this issue in that PR.

[2016-05-13 13:34] Ladas opened #8685 "OpenStack vm scan MIQExtract.extract undefined method `vmConfig' for #<MiqOpenStackInstance"
Just error in logs SSA finishes

[----] I, [2016-05-13T14:53:43.580650 #4235:79b990]  INFO -- : MIQ(MiqQueue#deliver) Message id: [14067], Delivering...
[----] I, [2016-05-13T14:53:43.584498 #4235:79b990]  INFO -- : MIQ(MiqQueue#delivered) Message id: [14067], State: [ok], Delivered in [0.003843311] seconds
[----] E, [2016-05-13T14:53:44.170869 #4309:79b990] ERROR -- : MIQExtract.extract undefined

[2016-05-13 13:43] vprusa commented on #8618
This issue is specific to datasources.

Steps to reproduce:
1. In MIQ UI navigate to https://{IP}/ems_middleware/show/1?display=middleware_datasources as:
Compute -> Middleware -> Providers -> Hawkular Provider -> Open Relationships -> Middleware Datasources
![gifrecord_2016-05-13_152915](https://cloud.githubusercontent.com/assets/2094946/15249393/9b4e2c6a-191f-11e6-9664-98d21c2c4b55.gif)

The pag

[2016-05-13 14:11] Ladas commented on #8685
@gmcculloug have you ever seen this?

[2016-05-13 14:13] Ladas opened #8687 "OpenStack SSA error NotImplementedError in type_cast"
Just error in logs SSA finishes

[code]

EDIT @fryguy: Logs are so much easier to read in code blocks :)

[2016-05-13 14:14] Ladas commented on #8687
@gmcculloug have you ever seen this?

[2016-05-13 14:24] gmcculloug commented on #8685
No, but I have very little to do with this code anymore.  Would be good to have @roliveri review.

[2016-05-13 14:34] Ladas commented on #8685
@roliveri I think this appears after I fixed https://github.com/ManageIQ/manageiq/pull/8688

[2016-05-13 14:37] jrafanie commented on #8456
AFAIK in order to have support for the above I need another background process to check load and dequeue and I do not see justification to duplicate job proxy dispatcher.

I don't understand what the other process is for.  What is "load and dequeue"?  I thought we were going to use the miq_queue task id to prevent too many concurrent container scans.

I'm fine with adding a new method to job proxy

[2016-05-13 14:38] gmcculloug commented on #8687
@roliveri Please review

[2016-05-13 14:43] chrisarcand commented on #8679
Run `bower install -F` in the vmdb root, or just run `bin/update`

[2016-05-13 15:16] jrafanie commented on #8643
All ems based worker runners should be calling ems.authentication_check as part of their boot and exit if the auth is bad.  This check will also mark the ems as bad or good based on the result.

Therefore it's only necessary to show the authentication_status for the provider/ems and provide a button to re-check in case of it being bad.  Note, there's different values based on the type of "bad".

S

[2016-05-13 15:25] mfoley commented on #8683
@abonas

[2016-05-13 15:31] jrafanie commented on #8643
Note, the results of authentication_status are capitalized versions of [these keys](
https://github.com/ManageIQ/manageiq/blob/a776a0a7a99ac12151fa807c2876525f230d2fd4/app/models/authentication.rb#L29-L34).

Valid
None
Incomplete
Error
Unreachable
Invalid

I believe you want to display the re-check in the case of the latter 3.

[2016-05-13 15:51] roliveri commented on #8685
@Ladas It appears that PR hasn't been merged, is this only happening on your branch for that PR?

[2016-05-13 16:03] abonas commented on #8683
@jshaughn could u please have a look. Thanks!

[2016-05-13 16:03] roliveri commented on #8687
That looks like a MiqQueue error, not specific to smartstate per se.

[2016-05-13 16:25] petrblaho opened #8693 "List of Cloud Objects shows all objects after going through one Cloud Store"
Let us have more than one Cloud Store and two or more of these has their own Cloud Objects.

On first screenshot you can see that I have 4 Cloud Stores and of these only 'dir_1' and 'test-container' contains Cloud Objects (Object Count is 3 on both). Url is ```/cloud_object_store_container/show_list```
![fireshot capture 3 - manageiq_ cloud_ - http___localhost_3000_cloud_object_store_container_sho

[2016-05-13 16:25] petrblaho commented on #8693
@tzumainn

[2016-05-13 16:31] dclarizio commented on #8643
OK, for all who are following.  I think the most important part is to add the `Re-check Authentications` button, so @AparnaKarve will start working on that and may need some help on the provider back end.  This will avoid having to go into edit unless the credentials are actually invalid.  The updates to the editor (above) are more of a "nice to have" that we will work on going forward.

[2016-05-13 16:34] Fryguy commented on #8643
@dclarizio That sounds great!  Be sure that when calling authentication_check from that button that it's done via the queue (i.e. not done in the UI worker).  If there isn't an authentication_check_queue method, it can be added.

[2016-05-13 17:00] jshaughn commented on #8683
This is due to a change in the underlying hawkular event.  It is already fixed in https://github.com/ManageIQ/manageiq/pull/8519

[2016-05-13 18:00] bdunne commented on #8132
Update, it is assigned to Docker hub engineering for this sprint.

[2016-05-13 19:23] infrahub commented on #8159
Confirmed fixed with today's appliance build.

[2016-05-13 19:23] #8159 closed

[2016-05-13 19:31] infrahub commented on #8158
Yes, this appears to connect properly now. I have been unable to verify that events are actually being received, but that is a separate problem and may be due to my OpenStack configuration. I'm still working on that, but the basic connectivity problem looks fixed. Thank you.

[2016-05-13 19:31] #8158 closed

[2016-05-13 20:12] #8612 closed

[2016-05-13 20:30] #3902 closed

[2016-05-15 08:20] moolitayer commented on #7003
Fixed in #7685, closing

[2016-05-15 08:20] #7003 closed

[2016-05-15 08:34] moolitayer commented on #8654
@simon3z @cben also
- add alerts for container images

[2016-05-15 12:20] moolitayer commented on #8456
(check load) and dequeue. I mean the functionality currently done by job_proxy_dispatcher toward vms. job_proxy_dispatcher will signal start for vm scans only when certain load requirements are met (like concurrent_vm_scans_limit) container scans signal start to them self on initialize.

That was the idea as part of #8097 that was rejected. I'm not sure how to use that to implement concurrent_cont

[2016-05-15 13:18] abonas commented on #8575
@miq-bot add_label enhancement

[2016-05-15 13:31] abonas commented on #8683
@jshaughn please add the relevant keyword with the issue number in the PR commit message in order to automatically close this issue when the PR is merged.
Please see here:
https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-05-15 14:34] dkorn opened #8711 "Containers provider Deployment wizard depends on new angular-patternfly release"
angular-patternfly recently bumped version number to 3.3.5 (https://github.com/patternfly/angular-patternfly/commit/c3ac1887e2d09d6d6562bff9a891306f7fb146b2) as a result of change https://github.com/patternfly/angular-patternfly/pull/232 - Add capability to add app defined action buttons to the toolbar.

The new version (3.3.5) adds an ability required by 3 views (sub-steps) in the Containers Prov

[2016-05-15 14:36] dkorn commented on #8711
miq-bot add_label providers/containers, ui

[2016-05-15 14:37] dkorn commented on #8711
@skateman @dclarizio
cc - @simon3z @jeff-phillips-18

[2016-05-15 14:55] abonas commented on #2056
no objection

[2016-05-15 14:55] #2056 closed

[2016-05-15 14:58] abonas commented on #4890
@simon3z why do you think it should be closed?
on latest master this doesn't appear to be fixed, the field is still missing from the containers provider summary screen.

[2016-05-15 15:08] abonas commented on #1955
@simon3z which PR fixed the issue? It was probably not linked properly (or not linked at all), otherwise it would have closed this.

[2016-05-15 16:16] simon3z commented on #8711
@miq-bot assign dkorn

[2016-05-15 16:21] moolitayer commented on #1955
Persistence added in #3328 view in #6013. I wan't aware this issue existed.

[2016-05-15 16:34] simon3z commented on #1955
@miq-bot assign simon3z

[2016-05-15 16:36] simon3z commented on #1955
Fixed in #3328 #6013
@abonas @chessbyte can you close this?

@miq-bot assign moolitayer

[2016-05-15 16:39] #1955 closed

[2016-05-15 18:08] abonas commented on #8618
@miq-bot  assign @Jiri-Kremser

[2016-05-15 18:11] abonas commented on #8618
@vprusa yes, please file a separate issue for this. thank you

[2016-05-15 19:37] abonas commented on #8589
@miq-bot assign @abonas

[2016-05-15 19:39] abonas commented on #8590
@miq-bot assign @abonas

[2016-05-15 19:46] abonas opened #8716 "Topology link in the breadcrumb not working in providers screen"
The topology breadcrumb link is not doing anything, and since it's a navigation from screen to screen and not a hierarchy inside a provider, the breadcrumb should be removed.
Same behavior is already in place for other entities that are not the provider itself.

![breadcrumb](https://cloud.githubusercontent.com/assets/6277245/15276362/c1c86254-1aee-11e6-8777-2464f36a744d.png)

similar to #8589 and

[2016-05-15 19:47] abonas commented on #8716
@miq-bot add_label ui

[2016-05-15 19:59] abonas commented on #8625
@miq-bot add_label bug

[2016-05-16 02:04] #8590 closed

[2016-05-16 06:21] abonas commented on #8418
@miq-bot assign @Jiri-Kremser

[2016-05-16 06:30] abonas opened #8719 "Cleanup middleware controllers"
Currently they include ContainersCommonMixin which contains a lot of irrelevant to middleware code.
Need to check what code is actually used, port it to the Middleware mixin that is added as part of #8589,
and remove the usage of Containers mixin.

@miq-bot add_label refactoring, providers/hawkular

[2016-05-16 06:30] abonas commented on #8719
cc @pilhuhn

[2016-05-16 08:06] dkorn commented on #8711
@alongoldboim

[2016-05-16 08:42] Ladas commented on #8158
@infrahub eys both amqp and ceilo requires changes in OpenStack:

AMQP:
/etc/nova/nova.conf
notification_driver=messaging
notification_topics=notifications

and restart, all services need to be configured like this

Ceilometer:
openstack-config --set /etc/ceilometer/ceilometer.conf 'notification' store_events True

systemctl restart openstack-ceilometer-api.service openstack-ceilometer-central.ser

[2016-05-16 08:55] Ladas commented on #8685
@roliveri yes, it appears after I fix the BZ in https://github.com/ManageIQ/manageiq/pull/8688, so that error is just a next in line

[2016-05-16 09:49] aufi opened #8720 "Openstack Cloud Vm resize is not completed without refresh"
Openstack Cloud Vm resize is not completed. If no events source (amqp or ceilometer) is working, nothing refresh state of Vm, then resize can take hours or timeout.

[2016-05-16 09:50] aufi commented on #8720
@miq-bot assign @aufi

[2016-05-16 09:51] simon3z opened #8721 "It is impossible to identify the projects of different Providers in the Chargeback Reports"
![screenshot from 2016-05-16 11-48-15](https://cloud.githubusercontent.com/assets/130393/15286245/36ea9a30-1b5c-11e6-843a-bb6bac476769.png)

Given projects with the same name on different providers it is impossible to distinguish them.

(In the screenshots you can see that there are projects with the same name but you don't know what provider they're related to).

cc @zeari

[2016-05-16 09:52] simon3z commented on #8721
@miq-bot add_label providers/containers, bugs, chargeback
@miq-bot assign zeari

[2016-05-16 09:52] simon3z commented on #8721
@miq-bot add_label bug, darga/yes

[2016-05-16 09:55] simon3z opened #8722 "It is impossible to identify the projects with the same name that were deleted in Chargeback Reports"
If a project gets deleted and re-created with the same name it should be possible to identify the two different entries in the Chargeback Report.

cc @zeari

[2016-05-16 09:55] simon3z commented on #8722
@miq-bot add_label providers/containers, bug, chargeback, darga/yet
@miq-bot assign zeari

[2016-05-16 09:58] simon3z commented on #8722
@miq-bot add_label darga/yes

[2016-05-16 10:11] simon3z commented on #8711
@dclarizio can we backport this to darga?

[2016-05-16 11:06] abonas commented on #8625
@miq-bot assign @abonas

[2016-05-16 11:54] martinpovolny commented on #7516
To be closed by #8079

[2016-05-16 11:54] martinpovolny commented on #6320
To be closed by #8726

[2016-05-16 12:32] zeari commented on #8722
I would like to solve this by:

[2016-05-16 12:38] skateman commented on #8711
@jeff-phillips-18 could you please rebase your tertiary branch to proceed?

[2016-05-16 12:44] arnikasky commented on #8679
It works.
Tnx!

[2016-05-16 12:44] #8679 closed

[2016-05-16 12:47] blomquisg commented on #8617
@hsong-rh can you reproduce this issue and provide the logs from your appliance?

[2016-05-16 13:42] hsong-rh commented on #8617
@blomquisg ok, let me try to reproduce it.

[2016-05-16 13:51] jeff-phillips-18 commented on #8711
@skateman Done

[2016-05-16 14:50] zeari commented on #8722
![screencapture-localhost-3000-report-report_only-1463410062931](https://cloud.githubusercontent.com/assets/11256940/15293018/97b41788-1b8e-11e6-9819-dd061fe76593.png)

Would this be a good enough solution? To add `(deleted)` on dleted projects? would we want to include the `deleted_on` datetime?

[2016-05-16 14:56] hhovsepy opened #8731 ""Most Recent Hour" Interval does not show values in chart"
1) Add new Hawkular middleware provider.
2) Go to middleware servers list, pick a server.
3) Select "Utilization" menu item.
4) Check "Most Recent Hour" Interval and select to show "1 Hour".

It shows empty all charts.
Go to Hawkular page, select the same server, and it shows metrics for last hour.

Attached screenshot:
left part MiQ page ( range shown in UTC ) with empty chart (zoomed JVM Heap Us

[2016-05-16 15:44] simon3z commented on #8722
@zeari I still think we should specify the uid of the project (or at least part of it).

Think of an automated process (e.g. interacting with the json API or with the CSV output), you want to know what was the exact project, not just the name.

[2016-05-16 15:56] zeari commented on #8722
Then how about if I make this change but also add additional fields (specifically for `ChargebackContainerProject`) to be added by the user:
 * Project uid
 * Deleted-on (date of deletion)
 * Provider name
 * Provider uid

[2016-05-16 16:04] simon3z commented on #8722
@zeari those are really nice additions. We have to empower other systems to integrate with the output of the chargeback, and these information are definitely useful.

Can you make the "Provider name" column disappear in case the report is on a specific provider?

[2016-05-16 16:31] abonas commented on #8731
@miq-bot add_label providers/hawkular
@lucasponce please have a look

[2016-05-16 16:58] vnugent opened #8737 "postgres failed to start in Docker container"
I was successfully having a working instance using the image uploaded to DockerHub on May 9.   Most recent changes to the Dockerfile might have caused this:

[code]

[2016-05-16 17:02] zeari commented on #8722
Yes! But I wasnt thinking of force adding it like `project_name`, rather let the user add it if he likes.

[2016-05-16 17:05] roliveri commented on #8685
@Ladas There appears to be a BZ for this issue. Mo is looking into it.

https://bugzilla.redhat.com/show_bug.cgi?id=1334596

If you agree it's the same issue, we can probably close this.

[2016-05-16 19:11] #8613 closed

[2016-05-16 20:17] simon3z commented on #8722
Ah, good idea :+1:

[2016-05-17 01:17] #8250 closed

[2016-05-17 07:43] Ladas commented on #8685
@roliveri ok, it should be enough to track it in https://bugzilla.redhat.com/show_bug.cgi?id=1334596

Thank you

[2016-05-17 07:43] #8685 closed

[2016-05-17 08:28] yaacov commented on #6990
Fixed with new version of angular-patternfly in manageiq.
Fixed by: https://github.com/ManageIQ/manageiq/pull/8356

[2016-05-17 08:28] #6990 closed

[2016-05-17 09:00] cben commented on #7460
@miq-bot remove_label question

[2016-05-17 09:03] lpichler opened #8751 "js error when adding catalog item under non-(super)admin user"
![bxbjiecuib](https://cloud.githubusercontent.com/assets/14937244/15316816/f16418ec-1c1e-11e6-9ce3-b44f4b174873.gif)

[2016-05-17 09:31] sergio-ocon commented on #8722
Would this be added only for this or for all the chargeback, including VM?

[2016-05-17 09:49] lucasponce commented on #8731
There is some flaw in the range selection
@miq-bot assign @lucasponce

[2016-05-17 09:59] zeari commented on #8722
Just `ChargebackContainerProject`. I dont think theres a need for this on the `VM` side.

[2016-05-17 10:20] abonas commented on #8731
@miq-bot add_label bug

[2016-05-17 12:14] pkliczewski commented on #8617
I checked the logs and I see 2 full refreshes which means that all the information was retrieved.

[----] I, [2016-05-17T04:40:37.588631 #52241:dbb974]  INFO -- : MIQ(ManageIQ::Providers::Redhat::InfraManager::Refresher#refresh) Refreshing all targets...
[----] I, [2016-05-17T04:40:37.589018 #52241:dbb974]  INFO -- : MIQ(ManageIQ::Providers::Redhat::InfraManager::Refresher#refresh) EMS: [dev-rhev3

[2016-05-17 16:05] prachiyadav opened #8763 "Datasource details are not available at Middleware>>providers>> select provider >> Relationships >> middleware Datasources"
- Management Provider do not display datasource at  Middleware>>providers>> select provider >> Relationships >> middleware Datasources
- However, it is available at Compute >> Middleware >> Middleware Datasources.

Steps to reproduce

- Login to ManageIQ
- Navigate to Compute >> Middleware >> Middleware Datasources
![screenshot from 2016-05-16 19 18 28](https://cloud.githubusercontent.com/assets/1

[2016-05-17 17:01] epwinchell opened #8764 "Nav collapses after clicking on tertiary item"
The nav should close when hovering off the nav OR if they click on the pin/collapse icon at the top of the tertiary nav panel.

[2016-05-17 17:01] epwinchell commented on #8764
@miq-bot assign @skateman

[2016-05-17 17:01] epwinchell commented on #8764
@miq-bot add_label ui, bug

[2016-05-17 17:01] epwinchell commented on #8764
cc @serenamarie125 @jeff-phillips-18

[2016-05-17 17:02] epwinchell commented on #8764
@miq-bot add_label darga/yes

[2016-05-17 18:04] mfoley commented on #8763
@abonas

[2016-05-17 18:17] abonas commented on #8763
@miq-bot assign @Jiri-Kremser

[2016-05-17 19:03] chessbyte commented on #8751
@dajohnso please validate

[2016-05-17 19:10] jonnyfiveiq commented on #8632
@chrisarcand yes defo...thanks

[2016-05-17 21:04] mattmahoneyrh opened #8769 "Middleware Server Local Capacity & Utilization View Hangs"
Attempted to navigate Middleware Capacity & Utilization View, but appears to hang (attempted on two MIQ instances).

View is shown at 8:32 in Sprint-40 demo: https://www.youtube.com/watch?v=dZ4glkPIKwc&feature=em-subs_digest

1) Add Middleware Provider
2) Navigate to Middleware->Servers
3) Click on a Server link.
4) Select Utilization from Monitoring dropdown menu

[2016-05-17 21:32] chessbyte commented on #8687
@roliveri if it is platform issues with MiqQueue, please discuss with @gtanzillo

[2016-05-17 21:45] jerryk55 commented on #8687
FYI @roliveri I see them in my log doing HyperV SSA as well.

[2016-05-17 23:25] Fryguy commented on #7876
@bdunne I hadn't see this issue from Apr, but do you know if this is still an issue?

[2016-05-17 23:26] #8731 closed

[2016-05-18 02:02] bdunne commented on #7876
@Fryguy I think it was resolved within a few hours of it being an issue.

[2016-05-18 03:09] sseago commented on #8682
Fix posted at https://github.com/ManageIQ/manageiq/pull/8772

[2016-05-18 03:09] sseago commented on #8681
Fix posted at https://github.com/ManageIQ/manageiq/pull/8772

[2016-05-18 07:54] abonas commented on #8769
@miq-bot add_label providers/hawkular, bug, ui

[2016-05-18 08:02] abonas commented on #8769
@miq-bot assign @lucasponce

[2016-05-18 08:11] lucasponce commented on #8769
I think this issue is resolved in #8762.
This one was merged tonight on master, please could you check ?
While fixing it I could reproduce behaviour described.

[2016-05-18 12:53] djberg96 opened #8779 "Azure inventory collection by region may need change"
This is an "up for debate" issue that I thought I should post. If we decide to keep things as they are, so be it, but I thought I should at least bring it up.

At the moment, the Azure region a user selects in the UI narrows down the resources by the region of the resource groups, rather than the region of the resources themselves. However, in Azure there is (usually) no restriction that requires

[2016-05-18 13:08] skateman commented on #8764
If you click on a menu item, the browser reloads the **whole page**, i.e. re-renders every pixel on the page. In the case of ManageIQ this can be fixed only by **rewriting the whole UI** into Angular. So I think this issue can be closed ....
cc @dclarizio @serenamarie125 @jeff-phillips-18

[2016-05-18 13:09] abonas opened #8780 "Displaying font icon in quadicon in entity summary page is not working"
The bug is in https://github.com/ManageIQ/manageiq/blob/master/app/views/layouts/quadicon/_single_quad.html.haml

The issue is with items which have fonticon.
Because the img element on the page always assumes it's a png, so it tries to do:
image_path("100/#{img}.png")
which with font icons results in no image is displayed.
Example:
![noimgdatasource](https://cloud.githubusercontent.com/assets/627

[2016-05-18 13:14] abonas commented on #8780
@chessbyte @dclarizio @martinpovolny
cc @Jiri-Kremser

[2016-05-18 14:02] himdel opened #8781 "[WIP] JS style guidelines (draft)"
(This is a draft of a future docs document detailing our Javascript style guidelines for ManageIQ and SSUI.)
## formatting
### indentation

Use 2 spaces per indent level, not 4, nor tabs..

[code]
### object and array literals

[code]
### trailing commas

Please prefer trailing commas in multiline object or array literals, they are fully supported now and make nicer diffs..

[code]
### function ca

[2016-05-18 14:03] dkorn commented on #8711
@dclarizio ping to @simon3z question regarding backport to darga
angular-patternfly-sass released v3.3.6 and  angular-patternfly bumped to v3.3.5

also @skateman's https://github.com/ManageIQ/patternfly-sass/pull/1

[2016-05-18 14:26] bronaghs commented on #8662
@supernoodz - Can you throw me a few breadcrumbs to reproduce?

[2016-05-18 14:32] #8276 closed

[2016-05-18 15:29] jameslabocki commented on #8659
@jonnyfiveiq ^^

[2016-05-18 15:37] jonnyfiveiq commented on #8659
Calm @jameslabocki, looking at it right now. We moved it into Compute as a place holder until we decide where. That decision is being made now....hold tight.

[2016-05-18 15:46] jonnyfiveiq commented on #8659
@dclarizio Please move the Services menu item within Compute, out to the top level so it sits between Cloud Intel and Compute as it did before on hoz menu.

Thanks

[2016-05-18 15:49] dclarizio commented on #8659
@martinpovolny This is the relocation of the Services menu we discussed.  Please make this a priority for this week as we need it in the next build.  @h-kataria can review the RBAC features changes when you have a branch ready.  Thx, Dan

[2016-05-18 16:44] Jiri-Kremser commented on #8618
@vprusa this can be closed, it's fixed by pr #8778 The missing icon issue is captured in issue #8780

[2016-05-18 16:59] djberg96 commented on #8779
@bronaghs @bzwei @blomquisg @roliveri @jerryk55 @Fryguy @jrafanie Thoughts?

[2016-05-18 17:37] roliveri commented on #8687
It appears to be happening in Job.rb, in the `agent_state_update` method. It seems to be failing in the call to:
[code]
It must mean we're passing something other than a string as `agent_state` or `agent_message`.

Ultimately,  `agent_state_update` is called through the `update_agent_state` method of the `ScanningMixin` module. All of the calls to `update_agent_state` pass strings for `agent_state

[2016-05-18 18:01] bronaghs opened #8795 "Azure: Provisioning breaks when subnet is in different region than VM"
In the Azure refresh parser we gather an inventory of cloud networks that belong to a resource group within the region of the EMS.
That cloud_network might belong to a completely different region than its resource_group. In Azure, creating a VM in a different region than its cloud_network will cause an exception to be thrown.

[2016-05-18 18:01] bronaghs commented on #8795
@miq-bot assign @bronaghs

[2016-05-18 19:50] vnugent commented on #8737
I was able the run manageiq:latest on a different VM and did not encounter the above postgresql start up error.  Both VMs have the same Docker version. VM 1 where the failure occurred is RHEL 7.1, VM 2: RHEL 7.2

[2016-05-18 20:12] hsong-rh commented on #8687
The problem comes from https://github.com/ManageIQ/manageiq/blob/master/app/models/job.rb#L61:
[code]
The result selection is only a view of original Job record in DB and cannot be updated. It can be updated only on the whole record, like:
[code]
Not sure whether this is a new introduced limitation on rails 5 or not

[2016-05-18 20:27] roliveri commented on #8779
So, are you saying that currently, if a user has a resource group that contains resources that are in a different region than the resource group (and hence the provider) in question, then the inventory collected will contain resources that are outside of the provider's  region?

If that's the case, then is it possible to have 2 providers for the same account, each for a different region?
If so, th

[2016-05-18 20:43] djberg96 commented on #8779
@roliveri To answer your first question, yes. I don't know how common this will be in practice, though.

For your second question, I'm not entirely sure what you're asking. A resource can only belong to one resource group, though multiple resource groups can belong to the same region. So, I *think* the answer to your question is no, but maybe I've misunderstood.

[2016-05-18 20:50] simon3z commented on #2729
@screeley44 @abonas @chessbyte can we close this one?

[2016-05-18 20:51] chessbyte commented on #2729
@dclarizio @h-kataria any updates on this PR?

[2016-05-18 21:33] #8659 closed

[2016-05-18 21:34] #8576 closed

[2016-05-18 21:38] #8693 closed

[2016-05-18 21:45] jameslabocki opened #8801 "Adding new Network Provider hangs"
When "Configuration" -> "Add a New Network Provider" is selected the page never loads. See below image.

![error](https://cloud.githubusercontent.com/assets/238043/15375825/71a69902-1d1f-11e6-8a40-d6224918ffc9.png)

[2016-05-18 21:48] jameslabocki commented on #8801
ManageIQ Version:        darga-1-beta1

[2016-05-18 21:53] sshveta commented on #8751
Downstream BZ - https://bugzilla.redhat.com/show_bug.cgi?id=1336888

[2016-05-18 21:55] #7634 closed

[2016-05-18 21:56] hsong-rh commented on #8687
@Fryguy Maybe you can help me here. The above comment explains the issue. Now we cannot create job instance from select query and use it to update record in DB anymore. I tried both:
[code]
and
[code]
They all fail when calling `agent_state_update(state, message)` to update two fields agent_state and agent_message in the DB. But this logic works before. Is it possible the latest Rails add this lim

[2016-05-18 21:57] #8618 closed

[2016-05-18 21:59] #8506 closed

[2016-05-18 22:18] roliveri commented on #8779
@djberg96 Here's an example:
* Say we have an Azure account (say _acct1_).
* We have 2 regions: _regA_ and _regB_.
* When we add an Azure provider, we enter the account information for _acct1_ and specify _regA_ for the region. Let's call this provider `Provider_regA`

Can we add another Azure provider, entering the account information for _acct1_ and specifying _regB_ for the region? Let's call t

[2016-05-18 22:26] roliveri commented on #8687
@Fryguy To summarize Hui's findings:
calling:
[code]
For a sparsely populated model object `job` where:
[code]
results in failure. Even adding the attributes in question, results in failure:
[code]
but using a fully populated `Job` object works.

[2016-05-18 23:00] himdel commented on #8781
Todo intend : 2 spaces...

[2016-05-19 01:23] dajohnso commented on #8751
@chessbyte , reproduced and has the above BZ (1336888)

[2016-05-19 06:18] mzazrivec commented on #8751
Yes, this problem happens when adding a service catalog item for a provider type, for which
there are no vm templates available. Bug https://bugzilla.redhat.com/show_bug.cgi?id=1336888

[2016-05-19 08:30] skondkar opened #8803 "Navigating to middleware provider summary displays error"
Added a middleware provider and observed that user can navigate to the provider summary page till the Last Refresh status is 'never'. navigating to the middleware provider after some time (When last refresh is success) shows error:

undefined method `manageiq_providers_middleware_manager_path' for #<#<Class:0x00000012f75ca8>:0x00000018e261f8> [ems_middleware/show]

Product version: Upstream latest

[2016-05-19 08:33] skondkar commented on #8803
@miq-bot add_label providers/hawkular
cc @abonas

[2016-05-19 09:45] himdel commented on #8781
@martinpovolny , @romanblanco do you have anything to add/comments/..?

[2016-05-19 10:32] bazulay commented on #8737
@vnugent @fbladilo
I see that the latest image in dockerhub was updated 10 hours ago, can you please check it again (on RHEL 7.1 vm) ?

[2016-05-19 11:55] lucasponce commented on #8769
I have performed several tests using #8762 and I can't reproduce it.
Please @mattmahoneyrh, could you run some on your side ?
Just to confirm that issue is gone or if there is some corner case not covered on the fix.
Thanks.

[2016-05-19 12:23] jshaughn commented on #8683
This is fixed on the MIQ side with the merge of PR 8519.  But the full roundtrip will require running against the next Hawkular release as a provider.

[2016-05-19 12:43] moolitayer opened #8806 "Underscore multiple word entity event definition names"
e.g s/containerimage_created/container_image_created/

When events are raised and the event name is being [built](https://github.com/ManageIQ/manageiq/blob/master/app/models/miq_event.rb#L129) based on the target, the code uses `downcase`, and so that works well for one word entities (vms, hosts) but multiple word entities need something like `underscore` so currently the entity names in events ha

[2016-05-19 12:47] moolitayer commented on #8806
@miq-bot add_label control

[2016-05-19 12:48] moolitayer commented on #8806
@miq-bot assign @moolitayer

[2016-05-19 12:57] #8721 closed

[2016-05-19 13:04] h-kataria commented on #2729
https://github.com/ManageIQ/manageiq/pull/2857 has already been merged. closing this issue.

[2016-05-19 13:04] #2729 closed

[2016-05-19 13:06] lucasponce commented on #8769
Nevermind.
I've found a cornercase that it's still failing.
During the first hour error can't be reproduced but after first hour I can see it on the evm.log.
I'm going to prepare a fix referencing this issue.

[2016-05-19 13:07] himdel opened #8809 "Testing when an angular request is done.."
Seems there is still some problem where the QE are having problems determining whether an angular request has ended or not...

The way we have discussed, which should currently work in most (but not yet all) angular components is...

The current controller's scope is available via `ManageIQ.angular.scope`. A controller sets `scope.afterGet = false;` in the beginning, and updates it to `true` once

[2016-05-19 13:23] abonas commented on #8803
@Jiri-Kremser please investigate. thanks
@miq-bot assign @Jiri-Kremser

[2016-05-19 13:53] cben commented on #8654
Created a WIP PR.  UI mostly works, events don't fire yet (they do reach Automate but don't create policy events. need to dig deeper.).
Won't be able to continue today, maybe a bit tomorrow.

[2016-05-19 13:57] moolitayer commented on #7690
## policy.log

Discovering images:

[----] I, [2016-05-19T16:26:51.832550 #11803:fd1998] INFO -- : MIQ(policy-enforce_policy): Event: [containerimage_created], To: [openshift/mysql-55-centos7]
[----] I, [2016-05-19T16:26:51.845137 #11803:fd1998] INFO -- : MIQ(policy-enforce_policy): Resolving policy [Analyse incoming container images]...
[----] I, [2016-05-19T16:26:51.864795 #11803:fd1998] INFO --

[2016-05-19 14:07] #8418 closed

[2016-05-19 14:12] fbladilo commented on #8737
@bazulay @vnugent

I just pulled the latest manageiq image from DH on RHEL7.2 and Fed23 docker hosts , it is coming up fine with database :

[root@ose-collier /]# rpm -q docker
docker-1.8.2-10.el7.x86_64
[root@fed23 ~]# rpm -q docker
docker-1.10.3-18.git667d6d1.fc23.x86_64

Image : [root@fed23 ~]# docker inspect docker.io/manageiq/manageiq | grep -i created
        "Created": "2016-05-19T13:36:59.

[2016-05-19 14:19] lucasponce opened #8816 "Middleware Provider details not shown"
On current master, after a clean database, I can add a new Middleware provider but when I try to access again I have this error:
![image](https://cloud.githubusercontent.com/assets/1662329/15396688/7889dbe4-1ddd-11e6-91ab-1af45bc5e1fd.png)

[2016-05-19 14:20] lucasponce commented on #8816
@miq-bot add_label bug
@miq-bot add_label providers/hawkular

[2016-05-19 14:42] zeari commented on #8608
This seems to works well now

[2016-05-19 14:46] lpichler commented on #8608
yea thanks, @tledesma - this can be closed

[2016-05-19 14:48] #8536 closed

[2016-05-19 14:48] #8535 closed

[2016-05-19 14:49] Jiri-Kremser commented on #8816
https://gist.github.com/Jiri-Kremser/58bdd4d17ca9eba8cc4ee7923ddf999c

[2016-05-19 14:57] himdel commented on #8781
TODO:
[ 1, 2, 3 ] vs [1, 2, 3] ... [1, 2, 3] definitely makes sense for small stuff.. should make it clear that that is ok..

[2016-05-19 15:49] moolitayer commented on #8654
hmm any errors in the log?
do corresponding miq events have to be created & seeded (miq_event_definitions.csv && miq_event_definition_sets.something) in order for automate to raise them?

[2016-05-19 15:54] vnugent commented on #8737
still seeing the problem
- Error: VM1 RHEL 7.1, docker-1.9.1-25.el7.x86_64
- Ok: VM2 RHEL 7.2, docker-1.9.1-23.el7.x86_64
- Error: VM3 Fedora 21, docker-io-1.8.2-2.gitcb216be.fc21.x86_64

[2016-05-19 15:56] martinpovolny commented on #8781
@abonas, @skateman, @AparnaKarve : comments?

@himdel, @skateman: how many of these rules can we get checked on each commit?

[2016-05-19 16:00] bronaghs commented on #8779
I cannot think of a scenario where filtering resources by resource_group location versus resource location is better. In fact, at the time of implementing the Azure refresh parser we thought there was no way to filter inventory objects by location so we filtered on resource_group location, not realizing at the time a resource can belong to a different location that its resource_group.

This is a p

[2016-05-19 16:15] supernoodz commented on #8662
@bronaghs Testing utilisation metrics and having enabled Diagnostics capture (in Azure Portal) for an instance, this error appeared in evm.log:

ERROR -- : /var/www/miq/vmdb/app/models/manageiq/providers/azure/cloud_manager/metrics_capture.rb:117:in `raw_metrics_for_counter'
/var/www/miq/vmdb/app/models/manageiq/providers/azure/cloud_manager/metrics_capture.rb:99:in `block (2 levels) in metrics_by

[2016-05-19 16:28] lucasponce opened #8822 "Support queries without ext_options argument on LiveMetrics model"

[2016-05-19 16:28] lucasponce commented on #8822
@miq-bot add_label providers/hawkular
@miq-bot add_label providers/bug
@miq-bot assign @lucasponce

[2016-05-19 17:07] himdel commented on #8781
@martinpovolny almost all of them, just a bit of a pain to configure properly..

[2016-05-19 17:18] AparnaKarve commented on #8781
@himdel Why is this discouraged?
[code]

[2016-05-19 18:11] hsong-rh commented on #8617
The reason is clear now. After full target refresh, for the disks of RHEV VMs, their location field are parsed incorrectly:
[code]
The right parsing result should be like the ones of VMware:
[code]
This `location` will be used later to match the disk in the disk_deletion_list. Because the match fails, all disks in the list are deleted from DB and then cause those two datastore tables with empty da

[2016-05-19 18:42] h-kataria opened #8828 "UI: Infinite spinner when selecting a report model on Add new report screen"
@skateman i am encountering this issue only when running in development mode. I see JS errors in firebug when trying to go to Reports explorer, also this is causing an infinite spinner when i select a value in Report based on model pull down. This issue was introduced by changes in https://github.com/ManageIQ/manageiq/pull/8804

Error in firebug:
TypeError: ids.indexOf is not a function
if (ids.le

[2016-05-19 18:57] abellotti commented on #8392
Just retested this with the nightly build from 05/18 and all is working as expected.

Also tested updating external authentication options from the appliance console, and changes were seen in the Class UI authentication config page but simply refreshing the page.

Closing this issue.

[2016-05-19 18:57] #8392 closed

[2016-05-19 19:41] romanblanco commented on #8781
@AparnaKarve missing coma after `quux` I guess:
[code]

^^^ should be correct

[2016-05-19 20:01] sshveta commented on #8427
Tried provisioning 15 Vm's on Vsphere . It succeeded.
Downstream BZ for GCE -- https://bugzilla.redhat.com/show_bug.cgi?id=1337646

[2016-05-19 20:08] hsong-rh commented on #8617
@pkliczewski Can you check in the refresher side, why the disk location skips its first part of controller information? Thanks

[2016-05-19 21:17] yrudman opened #8835 "Reports on nested associations do not bring data after copy to Custom folder"
Original Report:
<img width="1002" alt="original report" src="https://cloud.githubusercontent.com/assets/6556758/15409930/19abe466-1de5-11e6-8b54-859fc158e938.png">

______________________________________________________________
After been copied:
<img width="1023" alt="after copy" src="https://cloud.githubusercontent.com/assets/6556758/15410017/85e205de-1de5-11e6-9f11-3722c0490ce4.png">

[2016-05-19 21:46] dclarizio commented on #8711
@dkorn @simon3z I am not sure about this as we are holding back on this upgrade in SSUI code because other things in angular are affected besides the buttons.

Would like the opinion of @himdel and @AparnaKarve before we decide to put this into Darga.

[2016-05-19 21:49] #8625 closed

[2016-05-19 22:15] Darkhunter commented on #8693
https://bugzilla.redhat.com/show_bug.cgi?id=1337716

[2016-05-19 22:16] Darkhunter commented on #8693
https://bugzilla.redhat.com/show_bug.cgi?id=1337716

[2016-05-19 22:18] mmojzis commented on #8693
https://bugzilla.redhat.com/show_bug.cgi?id=1337716

[2016-05-19 23:19] AparnaKarve commented on #8711
We should be OK bumping up the version of angular-patternfly-sass to v3.3.6 for  <a href=https://github.com/ManageIQ/manageiq>ManageIQ/manageiq</a>
@himdel What do you think?

As far as SSUI (<a href=https://github.com/ManageIQ/manageiq-ui-self_service>ManageIQ/manageiq-ui-self_service</a>) goes, we are still at v2.3.2 for angular-patternfly - https://github.com/ManageIQ/manageiq-ui-self_service/b

[2016-05-19 23:27] AparnaKarve commented on #8781
@romanblanco A comma even for the last item? Somehow that does not sound right.

[2016-05-20 06:37] skateman commented on #8828
cc @himdel

[2016-05-20 07:24] pkliczewski commented on #8617
@hsong-rh Will check why we are missing this data during parsing

[2016-05-20 08:22] himdel commented on #8828
:cry: jquery list doesn't have `indexOf`.. mea culpa, sorry :)

[2016-05-20 08:27] himdel commented on #8781
Exactly that :) .. because then you add a new line and the diff can look either like this...

[code]

.. or like this ..

[code]

[2016-05-20 08:28] skateman commented on #8781
yay, weird :D

[2016-05-20 08:40] skateman commented on #8711
I still need someone to test 3.3.6 [here](https://github.com/ManageIQ/patternfly-sass/pull/1)

[2016-05-20 08:44] himdel commented on #8711
@AparnaKarve agreed, 3.3.5 -> 3.3.6 is fine.

We're holding back in SSUI because there were some breaking changes between v2 and v3 so that update is non-trivial (and wasn't needed yet)..

[2016-05-20 09:15] tledesma commented on #8608
Perfect @lpichler!

[2016-05-20 09:15] #8608 closed

[2016-05-20 09:23] #8828 closed

[2016-05-20 09:35] simon3z opened #8842 "Dashboard Pods and Images trends showing always zero values"
Given 4 Pods (4 created and 2 subsequently deleted):

[code]

The `hourly` rollups are correctly computed (4 created, 2 deleted):

[code]

The `daily` rollups instead are not correctly computed (0 created, 0 deleted):

[code]

Resulting in an "always-flat" line in the dashboard trends:

![screenshot from 2016-05-20 11-33-17](https://cloud.githubusercontent.com/assets/130393/15423645/bed74752-1e7e-

[2016-05-20 09:36] simon3z commented on #8842
@miq-bot add_label providers/containers, bug, darga/yes
@miq-bot assign yaacov

[2016-05-20 12:41] simon3z commented on #4890
@abonas I couldn't find "Authentication status" and I thought that this was all handled with "Last Refresh" (which is also reporting the latest refresh error, possibly including the authentication error).

For reference the missing part is "Default Credentials" (as taken from #4883):

![default_credentials](https://cloud.githubusercontent.com/assets/6277245/10686518/a38b7dda-796d-11e5-9aac-a578892

[2016-05-20 15:29] #8190 closed

[2016-05-20 15:49] Jiri-Kremser commented on #8803
I spent quite some time on this doing the git bisect, it says:

[code]

If I look into the changes I see
[code]

which seems to be related. It's all greek to me though :]

@AparnaKarve Do you have any idea, why this causes the issue?

[2016-05-20 15:51] Jiri-Kremser commented on #8816
it's a duplicate of #8803

[2016-05-20 16:53] lucasponce commented on #8822
@miq-bot add_label bug

[2016-05-20 17:11] christx2 commented on #6479
Thanks @Ladas  - looks good, as long as there is some visibility IPv4/IPv6 fixed and floating ips, as per Liberty has the introduction of dual stacking that information. I believe this should cover the use case from the field from an inventory perspective.

[2016-05-20 17:29] AparnaKarve commented on #8803
@Jiri-Kremser The above change got in when the Multi-endpoint Container Providers PR https://github.com/ManageIQ/manageiq/pull/7950 was merged.

The rationale behind that change was that all ems providers now use restful routes. But it looks like `ems_middleware` is an exception.

Creating a PR now to fix this.
Thanks.

P.S. Probably not for darga, but sometime down-the-line we should angularize `

[2016-05-20 18:43] jvlcek opened #8861 "When adding a new Group, "Look Up LDAP Groups" hangs."
When adding a new Group with _Look Up LDAP Groups_ everything seems to work fine
until one of the correctly presented group names is selected, at which point the UI spinner
is displayed and the screen hangs.

Note: It is possible to manually enter the group name.

To reproduce:
Navigate to: _Settings->Configuration->Access Control->Groups_

Select the _Configuration_ pull down button and select _A

[2016-05-20 19:02] mattmahoneyrh opened #8865 "Middleware: Stop Server Appears To Do Nothing"
Stopping a Middleware Managed EAP7 server appears to do nothing, as the Server is still running when looking at it's status via the Middleware (Hawkular instance).

1) Add EAP7 managed server to Hawkular instance.
2) Add MW Hawkular provider
3) Nav to Servers view, and then select the EAP7 server.
4) Select Stop Server, from Power dropdown.
5) Watching Hawkular Servers (from Hawkular instance itse

[2016-05-20 19:06] vnugent commented on #8737
I identified what might be part of the cause.  In some environments postgres init-db failed because postgres user does not have permissions to the data [volume](https://github.com/ManageIQ/manageiq/blob/master/Dockerfile#L65)
To confirm I ran  `chown -R postgres /var/opt/rh/rh-postgresql94/lib/pgsql/data` and was able to call `docker-assets/docker_initdb`

[2016-05-20 19:07] mfoley commented on #8865
This is related to OPR-002 marked complete in sprint 40.

[2016-05-20 19:07] mfoley commented on #8865
@abonas

[2016-05-20 19:24] abellotti commented on #8861
Hi Joe, thanks for finding this !!

Does this happen when Authentication type is Ldap too or just External Auth ?

[2016-05-20 19:45] jvlcek commented on #8861
I looked at this with Martin H. There have been a few fixes for the UI spinner recently.
Using the tip of master and LDAP the issue is not seen.
I will confirm with the tip of master and External Auth

[2016-05-20 19:51] mattmahoneyrh commented on #8865
Feature works as expected - issue was a bad connection to the Hawkular instance - thus, closing.

[2016-05-20 21:24] djberg96 commented on #8795
@bronaghs I've put in a PR: https://github.com/ManageIQ/manageiq/pull/8869

[2016-05-22 08:48] abonas commented on #4890
@simon3z indeed currently the part that's missing is "Default Credentials", which should later be renamed for everything to "Authentication status"

[2016-05-22 10:00] bazulay commented on #8737
@vnugent @fbladilo
So the first 2 VMs (RHEL 7.2 & RHEL 7.1) are stand alone vms (not belonging to any kubernetes cluster ?

[2016-05-22 10:55] abonas commented on #8865
@miq-bot add_label providers/hawkular

[2016-05-22 10:56] abonas commented on #8865
mattmahoneyrh it looks like you didn't close the issue, please close, I don't have the permissions

[2016-05-22 11:00] abonas opened #8875 "Middleware provider should use restful routes like other providers"
@miq-bot add_label providers/hawkular, "technical debt"
@AparnaKarve this is related to #8866 and #8803. Can you please elaborate what is needed from technical perspective to do this change?
thank you.

[2016-05-22 11:05] abonas commented on #8875
@chessbyte how can I apply the label technical debt given the space in it? I tried with quotes, but miq bot wasn't able to apply it. thanks

[2016-05-22 11:20] abonas opened #8876 "Navigating to containers provider from topology produces an error"
@miq-bot add_label bug, providers/containers
looks like caused by #7950

steps to reproduce:
1. navigate to containers topology
2. dbl click or right click & select "go to summary screen" for a container provider entity.
an exception apears:
![noroutematchescontainerprovider](https://cloud.githubusercontent.com/assets/6277245/15453703/344bddcc-2028-11e6-852d-623b0c715e3a.png)

[2016-05-22 11:21] abonas commented on #8876
cc @yaacov @simon3z

[2016-05-22 11:32] abonas commented on #8803
@miq-bot add_label bug
@Jiri-Kremser :+1:
@AparnaKarve thanks for fixing this. I've opened #8875 to have this in mind for middleware provider too. if you can elaborate there a bit what's needed, that will help us expediting making this happen.
Regarding angularizing provider, there's work in progress for that in #7623
cc @mtho11 @karelhala

[2016-05-22 11:39] abonas commented on #8816
@Jiri-Kremser I agree, it looks like a duplicate. @lucasponcedo if indeed a duplicate, please close this issue. there's a fix for the problem linked to the other issue.

[2016-05-22 11:42] abonas commented on #8876
@miq-bot add_label topology

[2016-05-22 11:44] abonas opened #8878 "Navigating to middleware provider from topology produces an error"
@miq-bot add_label bug, topology, providers/hawkular

steps to reproduce:
1. navigate to middleware topology
2. dbl click or right click & select "go to summary screen" for a middleware provider entity.
an exception apears:
![navigatetoproviderfromtopology](https://cloud.githubusercontent.com/assets/6277245/15453805/99862e7e-202b-11e6-9d98-3af7db0abf75.png)

this should be fixed after #8876 and #8

[2016-05-22 11:46] enoodle commented on #4890
@abonas @simon3z what is the meaning of this field? Is it the result of the credentials validation?

[2016-05-22 12:35] abonas commented on #4890
@enoodle yes. please see implementation in other providers for more concrete details on this field.

[2016-05-22 14:48] lucasponce commented on #8816
Issue duplicated. Closing.

[2016-05-22 14:48] #8816 closed

[2016-05-22 15:21] abonas commented on #8822
please elaborate a bit in this issue description the motivation/reason/what is wrong with current situation. thanks!

[2016-05-22 15:27] lucasponce commented on #8822
MiqReport::Generator._generate_table() included always only_cols on performance reports generator.
In a recent commit, only_cols were commented, fetching the entire object, not only the cols defined.
LiveMetrics model expected only_cols as a mandatory parameter to generate a virtual model.

[2016-05-22 15:28] abonas commented on #8781
+1 this is weird. it is even more weird to follow it only in js code.

[2016-05-22 15:31] abonas commented on #8780
while at it, the decorators that have a font icon should also list its font family, otherwise it becomes really problematic for frontend to display it correctly. not sure who/how to address it.

[2016-05-22 15:31] abonas commented on #8780
cc @pilhuhn

[2016-05-22 15:38] skateman commented on #8781
@abonas the main advantage is that it can avoid merge conflicts

[2016-05-22 15:57] abonas commented on #8781
I understand but it's not really standard, and the ruby code doesn't follow it, so it can just create headache for developers due to inconsistency.

[2016-05-22 16:00] abonas commented on #8822
:+1:

[2016-05-22 18:01] himdel commented on #8781
On the contrary, it *is* recommended by multiple JS standard guides, including the aforementioned Airbnb guide..

We definitely can't use the preferred Ruby style, that's simply not done in the JS world.. Besides, it's not quite true, there are 1700 (!) occurences of the trailing comma in our Ruby code..

[2016-05-23 07:34] lpichler commented on #8751
works for me after
https://github.com/ManageIQ/manageiq/pull/8810

thanks @mzazrivec

[2016-05-23 07:34] #8751 closed

[2016-05-23 09:04] pemcg opened #8884 "Setting a 'Company Name' in the Configuration UI no longer sets the root tenant name, despite 'Use Configuration Settings'"
With versions of ManageIQ prior to Darga, setting the default 'Company Name' in the Configure -> Configuration setting of the UI set the new default name for tags and categories and also the root tenant name.

With Darga RC1 setting a 'Company Name' has no effect, I still see 'My Company Tags', 'My Company Categories', and if I have 'Use Configuration Settings' enabled, my root tenant is still 'My

[2016-05-23 09:17] pkliczewski commented on #8617
I looked at data converted before saving and here is the object:

[code]

I used a vm created from a template.

@hsong-rh  @blomquisg  how it is different from vmware based data?

[2016-05-23 09:42] arnikasky opened #8885 "[NoMethodError]: undefined method `config' for nil:NilClass Method:[rescue in monitor]"
Hello.
I have error after updating capablanca2 to darga rc1:
[----] E, [2016-05-23T05:27:15.211999 #2691:1193998] ERROR -- : [NoMethodError]: undefined method `config' for nil:NilClass  Method:[rescue in monitor]
[----] E, [2016-05-23T05:27:15.212533 #2691:1193998] ERROR -- : /var/www/miq/vmdb/app/models/miq_queue.rb:159:in `get'
Tnx
[manageiq_darga_error_new.txt](https://github.com/ManageIQ/manag

[2016-05-23 11:00] durandom opened #8887 "Add base class for Providers Regions"
right now the regions of a provider, eg. `ManageIQ::Providers::Amazon::Regions` is only a collection of hashes.
Refactor it to have a base class that mixes ActiveModel  and behaves more like a DB object (while not being one)

see:
https://github.com/ManageIQ/manageiq/pull/8783#discussion_r64108274

@miq-bot assign durandon
@miq-bot add_label providers, refactoring

[2016-05-23 11:10] durandom commented on #8887
@miq-bot assign durandom

[2016-05-23 12:27] abonas commented on #8781
Not sure I understand - is this for manual checking or there will be some kind of automatic validation of those rules?

[2016-05-23 12:39] himdel commented on #8781
@abonas miq-bot will do the checking, the same way as for ruby

[2016-05-23 12:47] abonas commented on #8781
@himdel :smile: but with which validation tool? (currently there's Rubocop and haml-lint validations, but they are not for js)
cc @zeari - you might need to add something to murphy.sh soon :smile:

[2016-05-23 12:51] himdel commented on #8781
@abonas that part I'm still working on.. It will be one or more of `eslint`, `jscs`, `jshint`.

[2016-05-23 12:52] zeari commented on #8781
![](http://i.imgur.com/YWxmcA1.gif)

[2016-05-23 12:53] himdel commented on #8781
@zeari What's murphy.sh?

[2016-05-23 12:57] zeari commented on #8781
Its does a rubocop check but just on files added on the last commit. Same as miq-bot but locally on your own machine.
https://github.com/zeari/miq-helpers/blob/master/murphy.sh

[2016-05-23 12:59] himdel commented on #8781
Right, nice .. could be even useful to put it in the miq repo..

I'll point you to the relevant miq-bot patches when they exist, so that you can do the same thing..

[2016-05-23 13:07] zeari commented on #8781
great, thanks.

[2016-05-23 13:08] himdel commented on #8174
@skateman ^^ ;)

[2016-05-23 13:09] hsong-rh commented on #8617
@pkliczewski In the :hardware->:location, the value is 0. It should be 0:0, like the format of VMware, right. When we query from Ovirt, this location corresponds to the id attribute of device, rather than the attribute of controller, like:
[code]
I doubt this wrong information ` :location => "0",` comes from controller's id attribute.

[2016-05-23 13:17] skateman commented on #8174
should be okay now

[2016-05-23 13:33] serenamarie125 commented on #8110
@jonnyfiveiq I'm under the impression that Middleware is a high level menu, similar to storage.  Can you confirm?

[2016-05-23 13:38] vietnugent commented on #8737
VM1: standalone docker
VM2: part of OSE3 node but I used docker command directly, not through OSE
VM3: manageiq is run as a pod

[2016-05-23 13:42] vnugent commented on #8737
VM1: standalone docker
VM2: part of OSE3 node but I used docker command directly, not through OSE
VM3: manageiq is run as a pod

[2016-05-23 14:04] cben commented on #7460
- [ ] Allow auto-tagging to trigger policy events like "Tag Request" and/or cancel the tagging?

Currently I believe it doesn't happen — I'm directly adding to `entity.tags`; there are a higher level methods in Classification that go through policy when `is_request` is true.

[2016-05-23 14:13] cben opened #8893 ""if ANY Conditions are False" actions have V icon in policy tree, X icon in edit actions."
![screenshot-localhost 3000 2016-05-23 17-05-55 policy icon](https://cloud.githubusercontent.com/assets/273688/15473612/7fb5fce8-2109-11e6-93f7-9124c732ca15.png)

The 3 check icons are `src="/assets/100/check-def54d82b0cb8ca4ad973e47a7c62ae6b09073bf137535d6119708613a05bc14.png"`,
the X icon is `src="/assets/100/x-7b70a6351d2b6bf24c61ef6768858a6a35e78f9b4228d9df1c98154cfdd6c1a1.png"`.

@miq-bot add

[2016-05-23 14:17] zeari opened #8894 "simulate_queue_worker fails after reload! in ruby console"
This bug forces me to restart the rails console if i want to use `reload!`:
[code]

@miq-bot add_label bug

[2016-05-23 14:46] bazulay opened #8896 "appliance_console should be aware when running in a container"
the appliance_console cli is not fitted to a container,
basically it does all sorts of system administration operations and part of those are not relevant in a container, there for it needs to be container aware, and not to show the none relevant options.

### The overview displayed initially
(taken from my env ... removed some details from my env )

Hostname:                43b6d5b76b4f
IP Addres

[2016-05-23 15:18] moolitayer opened #8898 "Compliance history not working?"
Reproduce:

1. create some custom compliance policy that always fails agains vms, I used[1]
2. attach to policy profile and attach that profile to a vm
3. run compliance on that vm
4. go to vm screen;
result is [2] while policy log shows:
[code]

In evm.log I was able to get (should that not be in policy log as well?)
[code]

and
[code]
But UI always shows vm as compliant

[1]
![comp2](https://clo

[2016-05-23 16:22] Jiri-Kremser commented on #8781
+1 on doing as much as possible the same way as  https://github.com/airbnb/javascript

[2016-05-23 16:54] djberg96 commented on #8662
I'm trying to duplicate this, but in the meantime, my educated guess is that the storage account that holds the metrics data and the target VM are in different resource groups:

    storage_account = storage_conn.get(storage_acct_name, target.resource_group)

https://github.com/ManageIQ/manageiq/blob/master/app/models/manageiq/providers/azure/cloud_manager/metrics_capture.rb#L122

If the VM and st

[2016-05-23 17:35] AparnaKarve commented on #8875
@abonas We recently (last month) converted the `ems_infra` controller to have RESTful routes. I can point you to certain commits in some PRs which I think would be a good resource if you're just starting out.
The **Conversion to RESTful** task essentially comprises of 2 main actions -
- Convert the controller routes to RESTful
- Fix the controller's non-restful links to use restful routes

Check o

[2016-05-23 18:00] simon3z commented on #8876
@miq-bot assign abonas

[2016-05-23 18:54] #8865 closed

[2016-05-23 19:47] agrare commented on #8427
I was able to provision 15 VMs successfully once, but more often it gets "hung up" on at least one instance.

For example this was a successful 15 VM provision task, I copied the original request and re-submitted and it gets stuck at Finished = 14, Active = 1:
![screenshot from 2016-05-23 15-00-16](https://cloud.githubusercontent.com/assets/12851112/15481218/826db67c-20f7-11e6-9b62-6b74f26d360c.pn

[2016-05-23 21:34] djberg96 commented on #8662
@supernoodz I can only guess that you deleted the resource group 'myinstances' because I could not find it using your credentials. The storage account '5bvh7j3k45ckasawinvm' lives within the resource group 'windows001' as far as I can tell.

Anyway, this could still potentially be a problem, so I'll submit a PR.

[2016-05-23 21:45] #8885 closed

[2016-05-23 22:00] #8641 closed

[2016-05-23 22:06] Fryguy commented on #8132
This is working now, it seems.

[2016-05-23 22:06] #8132 closed

[2016-05-24 08:16] dkorn commented on #8711
@miq-bot add_label darga

[2016-05-24 08:19] abonas commented on #8035
@serenamarie125, the lack of responding to "enter" key - this is how it's supposed to work per pf specification, no? https://www.patternfly.org/wikis/search/#basicsearch

[2016-05-24 08:20] dkorn commented on #8711
PR https://github.com/ManageIQ/manageiq/pull/8891 handles this issue

[2016-05-24 11:26] cben commented on #8654
What about container events?
K8S reports them as pod events having a `:container_name`, event_catcher_mixin creates them with `CONTAINER_*` type.
https://github.com/ManageIQ/manageiq/blob/1e8ccb6/app/models/manageiq/providers/kubernetes/container_manager/event_catcher_mixin.rb#L3-L4
`container_*.yaml` under https://github.com/ManageIQ/manageiq/tree/1e8ccb6/db/fixtures/ae_datastore/ManageIQ/System/

[2016-05-24 11:30] martinpovolny opened #8919 "Replacing the GTL lists"
The goal is to replace the GTLs with Agular based and JSON-backed https://github.com/hawkular/hawkular-ui-components

TODOs:
- figure out where to put the component (separate repo? together with other components such as the Dialog editor? Under the ManageIQ organization or elsewhere?)
- handle Quadicon rendering for the component
- figure out toolbars for Angular only pages (either rewrite the fin

[2016-05-24 12:03] zeari opened #8921 "Topology screen errors out Internally showing an empty screen"
The following exception is received:
[code]

@abonas
cc @simon3z

[2016-05-24 12:04] abonas commented on #8921
@miq-bot add_label providers/containers, bug, topology

[2016-05-24 12:20] abonas commented on #8921
@simon3z
The issue seems to happen after the addition of the multi endpoint feature.
Not only now there are several authentications to select from (which requires a separate redesign to how to display a status for containers provider in topology), but their status and status details seem to be nil on @zeari environment - which causes the reported exception.